[2019-10-10 07:00] FeynmanZhou opened #890 "【2.1】Failed to upload app"
Just uploaded a Nginx app but it returns following errors.
![image](https://user-images.githubusercontent.com/40452856/66545961-68482800-eb6e-11e9-93bc-364e6faeaf29.png)

![image](https://user-images.githubusercontent.com/40452856/66546038-9d547a80-eb6e-11e9-8557-d6cf01b5fc3a.png)

[2019-10-10 07:19] agile-com opened #891 "安装失败"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
fatal: [ks-allinone]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-sonarqube /etc/kubesphere/sonarqube/sonarqube-0.13.5.tgz -f /etc/kubesphere/sonarqube/custom-values-sonarqube.yaml --namespace kubesphere-devops-system", "delta": "0:00:02.147002", "end": "2019-10-10 14:38:01.919506", "msg": "non-zero

[2019-10-10 07:48] runzexia commented on #866
@daiqingliang 可以提供下远程访问方式吗，可以的话请发到邮箱 kubesphere@yunify.com

[2019-10-10 08:02] daiqingliang commented on #866
@runzexia 我这是在内网搭的。。。不支持外网访问

[2019-10-10 08:12] runzexia commented on #866
安装的时候是使用的installer哪个分支的yaml文件呢
提供向日葵/tv12也是可以的
@daiqingliang

[2019-10-10 08:29] MarsHanZhen opened #892 "dockerhub.qingcloud.com不可用"
**问题描述**
playbook中的账号密码docker login失败
**安装环境的硬件配置**
ubuntu18.04 all-in-one安装;  本地笔记本安装

**错误信息或截图**
fatal: [ks-allinone]: FAILED! => {"attempts": 5, "changed": true, "cmd": "docker login -u guest -p guest dockerhub.qingcloud.com", "delta": "0:00:00.246694", "end": "2019-10-10 16:12:39.520770", "msg": "non-zero return code", "rc": 1, "start": "2019-10-10 16:12:39.274076", "stderr": "WARNING! Using

[2019-10-10 08:29] #882 closed

[2019-10-10 08:33] zryfish commented on #870
k8s 1.16 去掉了 externsions/v1beta1 api group，会导致helm安装有问题，建议先用1.16之前的版本，kubesphere 3.0 会支持1.16

[2019-10-10 08:33] #870 closed

[2019-10-10 09:34] runzexia opened #893 "[2.1] 默认安装后，监控、日志可以正常运行，但服务组件没有监控日志"
* [ ] fix
![image](https://user-images.githubusercontent.com/31230341/66557225-1b6f4c00-eb84-11e9-857c-c91dfc749880.png)
![image](https://user-images.githubusercontent.com/31230341/66557263-29bd6800-eb84-11e9-9faf-da4b013e0369.png)

[2019-10-10 09:35] runzexia commented on #893
/milestone 2.1.0

[2019-10-10 09:38] zryfish commented on #893
/milestone 2.1.0

[2019-10-10 09:42] daiqingliang commented on #866
@runzexia
我是在已有的k8s 1.14上安装KubeSphere，用的是官方的安装文档：https://kubesphere.io/docs/v2.0/zh-CN/installation/install-on-k8s/
yaml是从 git clone https://github.com/kubesphere/ks-installer.git 获取
ks-installer/deploy/kubesphere-installer.yaml
pod 如下：
![111](https://user-images.githubusercontent.com/25365956/66557826-1f4f9e00-eb85-11e9-9900-9f4b7dcb58b2.jpg)
![222](https://user-images.githubusercontent.com/25365

[2019-10-10 09:45] daiqingliang commented on #866
@runzexia 向日葵和teamview都木得，因为是内网环境

[2019-10-10 09:50] runzexia commented on #866
/cc @pixiake

[2019-10-10 09:52] Liuyanglong opened #895 "kubesphere中的有状态副本集（statefulset）的IP固定是如何做到的？"
kubesphere中的有状态副本集（statefulset）的IP固定是如何做到的？即使删除了statefulset的pod，新启动的pod的ip依然不变，很好奇，求解惑。

[2019-10-10 10:06] magicsong commented on #893
/milestone 2.1.0

[2019-10-10 10:07] runzexia commented on #866
@daiqingliang 现在镜像有一些问题，修复好我告知您

[2019-10-10 10:10] magicsong commented on #893
/close

[2019-10-10 10:16] magicsong commented on #893
/close

[2019-10-10 10:17] magicsong commented on #893
/close

[2019-10-10 10:18] magicsong commented on #893
/close

[2019-10-10 10:18] magicsong commented on #893
/reopen

[2019-10-10 10:32] daiqingliang commented on #866
@runzexia 好的，非常感谢

[2019-10-10 11:21] errorcode7 opened #897 "centos7.6 gpu节点离线安装nvidia driver失败。"
[centos7.6][离线安装] [nvidia driver][gpu]

1.gpu节点安装需要 [atzedevries/nvidia-centos-driver-installer:2](https://hub.docker.com/layers/atzedevries/nvidia-centos-driver-installer/2/images/sha256-515881e3e240c72b5687255684260ed3e0bc183e93578b64128ad40b05af4c75)和青云的nvidia-gpu-device-plugin:20190111
这两个包不再离线安装包里，需要额外load到gpu节点

2.atzedevries/nvidia-centos-driver-installer:2的init_container会到官网下载linux版本的驱动，由于

[2019-10-10 11:38] Forest-L commented on #871
[code]

[2019-10-10 11:43] leoendless commented on #879
Done

[2019-10-10 12:14] runzexia commented on #866
@daiqingliang 需要卸载掉重新安装下，现在已经修复了

[2019-10-10 12:27] jinmin527 opened #898 "DevOps部署到测试集群阶段，报连不上k8s集群的错误"
参考https://kubesphere.io/docs/v2.0/zh-CN/quick-start/devops-online/测试的时候在deploy to dev阶段保持。日志如下：
deploy to dev?
Proceed or Abort
Approved by project-regular
[Pipeline] kubernetesDeploy
Starting Kubernetes deployment
ERROR: ERROR: io.fabric8.kubernetes.client.KubernetesClientException: An error has occurred.
hudson.remoting.ProxyException: io.fabric8.kubernetes.client.KubernetesClientException: An e

[2019-10-10 13:37] runzexia commented on #898
检查下kubecconfig凭证是否正确，可以使用kubectl验证

[2019-10-11 01:23] daiqingliang commented on #866
@runzexia 是单独安装Jenkin镜像jenkins:2.138.4，还是需要重新安装kubeSphere?

[2019-10-11 01:36] runzexia commented on #866
重新安装下kubesphere

[2019-10-11 02:36] daiqingliang commented on #866
@runzexia
卸载使用：https://github.com/kubesphere/ks-installer/blob/master/scripts/kubesphere-delete.sh 这个就可以？
然后重新安装的时候，我应该用 https://github.com/kubesphere/ks-installer/ 里的哪个分支呢？
advanced-2.0.2 还是master?

[2019-10-11 02:56] runzexia commented on #866
@daiqingliang 可以使用master分支上的脚本进行卸载
安装的时候仍然使用advanced-2.0.2分支

[2019-10-11 03:00] runzexia commented on #843
Fixed

[2019-10-11 03:02] runzexia commented on #840
Fixed

[2019-10-11 03:19] daiqingliang commented on #866
@runzexia
卸载完了，有些pod需要手动删除。
安装之前我有个疑问，能告诉我修复的镜像是哪几个吗？
我这边因为网络的问题，很多镜像是手动下载然后修改tag的

[2019-10-11 03:25] pixiake commented on #866
kubespheredev/ks-installer:advanced-2.0.2

[2019-10-11 03:34] FeynmanZhou opened #899 "Prepare AD/LDAP configuration docs for 2.1"
We're going to prepare AD/LDAP configuration docs for 2.1, help users quickly control access with KubeSphere and their own authentication system.

[2019-10-11 04:02] runzexia opened #900 "all in one pvc capacity"
**General remarks**

![image](https://user-images.githubusercontent.com/31230341/66623549-c0d6fe00-ec1e-11e9-99e1-a088c2bea32a.png)

The capacity display is incorrect, it seems to be the host capacity?
/cc @huanggze @wnxn
/milestone2.1.0
/area monitoring storage

[2019-10-11 04:02] runzexia commented on #900
/milestone 2.1.0

[2019-10-11 05:43] runzexia commented on #848
fixed

[2019-10-11 06:23] daiqingliang commented on #866
@runzexia @pixiake
创建devops工程成功了，多谢两位！

[2019-10-11 06:47] wnxn commented on #900
In Ks 2.1, we use Openebs to support local volume.
Openebs creates a directory on each nodes. Each PVC is a sub-directory of the directory Openebs created.
In my opinion, this situation seems reasonable.

[code]

[2019-10-11 06:52] runzexia commented on #900
![image](https://user-images.githubusercontent.com/31230341/66630285-7ceff300-ec36-11e9-978a-4140635fdea0.png)
Tn the detail page, the capacity of pvc is displayed as 20Gi
@wnxn

[2019-10-11 06:55] wnxn commented on #900
The capacity is fake in some storage system.

[2019-10-11 06:59] runzexia commented on #877
/reopen

@leoendless @wansir 最近的安装包还是不能看到构建

[2019-10-11 07:21] runzexia commented on #866
@FeynmanZhou 已修复

[2019-10-11 07:22] runzexia commented on #893
/close

[2019-10-11 07:22] #893 closed

[2019-10-11 07:25] rayzhou2017 opened #901 "workbench component monitoring list"
* [x] 没有安装的组件是不是不应该显示，不然用户会觉得很奇怪
![Screen Shot 2019-10-11 at 3 19 05 PM](https://user-images.githubusercontent.com/28859385/66632436-0b667380-ec3b-11e9-9fc6-338f288926f5.png)

[2019-10-11 07:27] #850 closed

[2019-10-11 07:31] #839 closed

[2019-10-11 07:34] rayzhou2017 commented on #895
应该不是固定的，可能是碰巧。你可以taint一下节点，然后kill上面的pod，让它调度到其它节点试试

[2019-10-11 07:36] rayzhou2017 commented on #892
查一下防火墙，你在机器上手动登录看看

[2019-10-11 07:37] rayzhou2017 commented on #891
https://github.com/kubesphere/ks-installer/issues/23 到这儿找找答案

[2019-10-11 07:40] runzexia opened #902 "[2.1] monitor graphes is small"
* [ ] fix
![image](https://user-images.githubusercontent.com/31230341/66633405-571a1c80-ec3d-11e9-8586-82b1c2936daf.png)
/cc @leoendless
/area console monitoring
/milestone 2.1

[2019-10-11 07:40] rayzhou2017 commented on #885
/cc @calvinyv

[2019-10-11 07:40] runzexia commented on #902
/milestone 2.1.0
/kind bug

[2019-10-11 07:43] rayzhou2017 commented on #879
/cc @Carlosfengv

[2019-10-11 07:45] rayzhou2017 commented on #833
那是不是应该用版本号表示比较合理？

[2019-10-11 07:55] rayzhou2017 opened #904 "初装系统有未分配ns"
* [x] 如下图所示

![Screen Shot 2019-10-11 at 3 50 55 PM](https://user-images.githubusercontent.com/28859385/66634389-8fbaf580-ec3f-11e9-8b77-5b98f5568222.png)

[2019-10-11 08:03] rayzhou2017 opened #905 "工作台k8s pod监控数量有误"
* [x] 见下图，应该是4个
![Screen Shot 2019-10-11 at 4 01 57 PM](https://user-images.githubusercontent.com/28859385/66634851-867e5880-ec40-11e9-8a2c-1ce66f11a30f.png)
![Screen Shot 2019-10-11 at 4 02 06 PM](https://user-images.githubusercontent.com/28859385/66634859-8b430c80-ec40-11e9-934c-ee45345cff36.png)

[2019-10-11 08:03] gongjx11 opened #906 "2.0.2 harbor安装好后，连接报错"
安装系统 centos 7.4，单节点部署，
harbor无法连接
[root@ks-allinone docker]# docker login  172.16.103.212:30280
Username: admin
Password:
Error response from daemon: Get https://172.16.103.212:30280/v2/: http: server gave HTTP response to HTTPS client
[root@ks-allinone docker]# docker login  http://172.16.103.212:30280
Username: admin
Password:
Error response from daemon: Get https://172.16.103.212:30280/v2/: htt

[2019-10-11 08:08] #879 closed

[2019-10-11 08:10] #661 closed

[2019-10-11 08:11] wnxn commented on #833
KS 升到 2.1 后 QingCloud CSI 版本都是 v1.1.0 了，就是 provisioner 字段要兼容 老版
csi-qingcloud 和新版
disk.csi.qingcloud.com 插件字段，已经和 @Carlosfengv @minghaoye 沟通过了。创建存储类型修改建议在：https://git.internal.yunify.com/KubeSphere/kubesphere-console/issues/1275
创建存储类型参数文案我也修改一下，会更新到 zeplin 上。

[2019-10-11 08:13] gongjx11 commented on #906
好的 谢谢

[2019-10-11 08:19] zz4536 commented on #675
谢谢大神

[2019-10-11 08:26] Forget-C opened #907 "在现有k8s集群上部署，已有的应用怎么交给kubesphere管理"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
在现有k8s集群上部署kubesphere， 已经在k8s集群上运行的资源（已有的namespace等）怎么交给kubesphere web 管理？
**安装环境的硬件配置**
在物理机上安装，并已经安装成功
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
无
**Installer版本**
2.0

[2019-10-11 08:56] mayuhope opened #908 "The deployment description information cannot be displayed"
1、创建一个工作负载-部署，填写描述信息；

2、创建完成后查看列表中部署，发现描述信息没有显示
![image](https://user-images.githubusercontent.com/7677050/66638899-66eb2e00-ec48-11e9-9cc6-9335c7f84c07.png)

[2019-10-11 08:59] mayuhope commented on #908
/area  console

[2019-10-11 09:00] mayuhope commented on #908
/assign @leoendless

[2019-10-11 09:02] Carlosfengv opened #909 "Istio未安装相关修复"
- [x] 1. 自制应用中禁用 服务治理 显示为关闭;
- [x] 2. Istio 未安装时，隐藏掉 灰度发布 功能;
- [x] 3. 【注意】Istio 安装但未启用时,  灰度发布  =>  策略 =>  发布  按钮 为Disable 状态;
- [x] 4.  项目网关中根据 Istio 组件状态显示  开启应用治理 功能的 Toggle;

[2019-10-11 09:07] Carlosfengv commented on #909
/assign @leoendless

[2019-10-11 09:17] Carlosfengv opened #910 "编辑配置模板允许修改存储卷"
RT；

- [x] 编辑配置模板时，存储卷需要支持编辑Path或者卸载。

![image](https://user-images.githubusercontent.com/23092051/66640114-de21c180-ec4a-11e9-8476-c8bc747a6985.png)

[2019-10-11 09:19] Carlosfengv commented on #910
/assign @leoendless

[2019-10-11 09:19] mayuhope opened #911 "邮服务器配置完成保存后，切换页面后测试邮箱接受地址无法保存"
1、进入邮件服务器页面，配置SMTP 服务器地址、SMTP 用户、SMTP密码、发件人、测试邮箱收件地址，发送测试邮件成功，点保存，保存成功；

2、切换页面到日志收集再切换回来，发现刚才填写的测试邮箱接受地址无法显示；
![image](https://user-images.githubusercontent.com/7677050/66640272-3fe22b80-ec4b-11e9-87ac-1bbdcaa4d182.png)

[2019-10-11 09:19] Carlosfengv commented on #910
/area console

[2019-10-11 09:20] mayuhope commented on #911
/kind  bug

[2019-10-11 09:29] mayuhope commented on #911
/assign @justahole

[2019-10-11 09:30] rayzhou2017 opened #912 "普通用户看不到工具箱"
* [ ] 如下图
![Screen Shot 2019-10-11 at 5 29 52 PM](https://user-images.githubusercontent.com/28859385/66641144-be8b9880-ec4c-11e9-9a0c-50544c45cb91.png)

[2019-10-11 09:35] mayuhope opened #913 "用户角色描述信息无法显示"
用户角色描述在此处无法显示：

![image](https://user-images.githubusercontent.com/7677050/66641485-7620aa80-ec4d-11e9-8f0a-cea92d238e33.png)

[2019-10-11 09:36] mayuhope commented on #913
/assign @leoendless
/area   console

[2019-10-11 09:45] mayuhope opened #914 "通过容器查询日志时，容器显示不全，建议UI对容器这一列的宽度做调整"
浏览器：chrome  版本 77.0.3865.90（正式版本） （64 位）

1、通过容器查询日志，容器名称：sidecar-container-logging-kubesphere-io，开启显示容器；

2、查询出来的日志中，容器这列宽度太窄，导致显示不全，鼠标悬浮其上也没有提示，而右侧有很多空白，建议对容器这一列的宽度进行调整；

![image](https://user-images.githubusercontent.com/7677050/66642098-9f8e0600-ec4e-11e9-817e-337016ecdba9.png)

[2019-10-11 09:47] justahole commented on #911
@mayuhope 这个数据并没有存入数据库中，只是作为检验当前发送的邮件是否能收到的功能而已

[2019-10-11 09:50] daiqingliang opened #915 "无法上传文件，提示404 page not found!"
创建服务的时候，无法上传文件（jar/java等等文件都无法上传），提示404 page not found!
我版本是2.0.1，已有k8s(1.14)，使用https://github.com/kubesphere/ks-installer/ --advanced-2.0.2 分支搭建的kubesphere。
使用kubectl get pod --all-namespaces 查看所有pod均正常

![error1](https://user-images.githubusercontent.com/25365956/66642050-7f5e4700-ec4e-11e9-857a-93f17918ff91.jpg)

[2019-10-11 10:24] mayuhope opened #916 "在企业空间添加仓库后，通过应用仓库部署应用失败"
1、进入企业空间，企业空间管理-应用仓库，创建仓库，填写URL地址，添加仓库成功；

2、进入项目，应用负载-应用-应用模板，点击部署新应用，选择应用仓库，选择一款应用例如fluentd，按步骤点击部署，没有任何提示错误，但是实际结果部署失败，没有显示任何应用；
前端请求如下：

![image](https://user-images.githubusercontent.com/7677050/66644721-3d380400-ec54-11e9-8c84-2fd873bcf13e.png)

[2019-10-11 10:25] mayuhope commented on #914
/area  console

[2019-10-11 10:26] mayuhope commented on #914
/assign @leoendless

[2019-10-11 10:28] mayuhope commented on #911
感觉存起来比较好呀，不然用户不知道自己填了什么

[2019-10-11 10:28] mayuhope commented on #911
/area  notification

[2019-10-11 10:30] Carlosfengv commented on #914
/assign @justahole

[2019-10-11 11:34] runzexia commented on #898
@jinmin527 调整下 kubeconfig的server行，在地址前面加上https://

[2019-10-11 11:58] leoendless commented on #902
怎么复现呢

[2019-10-11 12:23] runzexia opened #917 "generate kubeconfig serverURL should include scheme"
In some env, ks-apiserver generated kubeconfig don't include scheme.
This causes clients in some languages to fail to parse correctly when using this config.
We should keep kubesphere able to generate standard kubeconfig in any environment.

https://github.com/kubesphere/kubesphere/issues/898

[2019-10-11 12:23] runzexia commented on #917
/area devops apiserver
/milestone 2.1.0
/kind bug

[2019-10-11 14:08] leoendless commented on #909
Fixed

[2019-10-11 14:09] leoendless commented on #913
Fixed

[2019-10-11 14:09] leoendless commented on #910
Fixed

[2019-10-11 14:10] leoendless commented on #908
Fixed

[2019-10-11 14:10] leoendless commented on #901
Updated

[2019-10-11 14:54] Carlosfengv opened #920 "未分配企业空间项目无法进去详情"
RT；

- [x] 预期未分配企业空间的 NameSpace  不可以进入详情，待分配企业空间后可以进行正常操作

[2019-10-11 14:55] Carlosfengv commented on #920
/assign @leoendless

[2019-10-11 15:08] FeynmanZhou commented on #907
@Forget-C  2.0 版本的临时方案如下：
https://kubesphere.io/docs/v2.0/zh-CN/faq/faq-console/
![image](https://user-images.githubusercontent.com/40452856/66662601-b26aff80-ec7b-11e9-9711-d3c771b89581.png)
2.1 对纳管用户已有的 ns 做了优化，可以在 web 将已有的 ns 加入界面管理
![image](https://user-images.githubusercontent.com/40452856/66662789-0d045b80-ec7c-11e9-9d1a-eebd23e1a30e.png)

[2019-10-11 15:16] FeynmanZhou commented on #887
@wansir  One more issue I got from this repo "https://repos.emqx.io/charts", I've deploy the emq App from this repo but I didn't see any workloads under this app. It's normal when using command "helm install emq chart" instead.

![image](https://user-images.githubusercontent.com/40452856/66663223-e09d0f00-ec7c-11e9-9be2-c51bd73a53cc.png)

[2019-10-11 15:34] #898 closed

[2019-10-11 16:08] 2804337402 opened #921 "kubesphere on k8s 安装错误 Container image "busybox:1.28.4" already present on machine"
系统信息：Linux node-devops01 3.10.0-957.1.3.el7.x86_64 #1 SMP Thu Nov 29 14:49:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
[code]
错误:
pods:
ks-account-c9457dfcc-fggm7              0/1     Init:0/2   0          15m
log:
kubelet, node-devops01  Container image "busybox:1.28.4" already present on machine

信息：
[code]

[2019-10-12 01:23] rayzhou2017 commented on #901
verified on 2.1.0-dev-20191012

[2019-10-12 01:23] #901 closed

[2019-10-12 01:24] rayzhou2017 commented on #849
verified on 2.1.0-dev-20191012

[2019-10-12 01:24] #849 closed

[2019-10-12 01:33] rayzhou2017 opened #922 "allinone ks-console默认有2个"
* [ ] 如图所示，allinone应该是一个，多节点才是两个
<img width="1126" alt="Screen Shot 2019-10-12 at 9 32 26 AM" src="https://user-images.githubusercontent.com/28859385/66692674-43b99080-ecd3-11e9-81b8-6d068437746d.png">

[2019-10-12 01:46] Liuyanglong commented on #895
在同一节点上kill pod，重启后的ip是固定的，这是如何做到的？

[2019-10-12 02:17] mayuhope opened #923 "应用已经上传成功，但是仍可以选择文件上传"
1、进入企业空间-应用模板，点击创建apps，在创建应用模板页面点击【开始上传】

2、点击上传helm配置文件，在弹出的对话框中选择本地已有的nginx的配置文件，提示上传成功，但是下方还有“选择文件”的功能可以点击，点击后再次出现了上传文件的对话框：

![image](https://user-images.githubusercontent.com/7677050/66693250-97c77380-ecd9-11e9-8dbe-314ba9e228ae.png)

![image](https://user-images.githubusercontent.com/7677050/66693277-c6454e80-ecd9-11e9-8915-0c121413f43a.png)

[2019-10-12 02:22] mayuhope commented on #923
/kind  bug

[2019-10-12 02:23] minghaoye commented on #883
/assign @justahole

[2019-10-12 02:23] mayuhope commented on #916
/assign @wansir

[2019-10-12 02:26] Carlosfengv opened #924 "服务详情中资源状态优化"
RT；

- [x] 增加服务关联的workload 及pod 状态优化；

设计稿 zpl://screen?pid=5cbe7fbc2f55d8b73f56811b&sid=5da04f9e8acfab3091c13d8e

[2019-10-12 02:26] Carlosfengv commented on #924
/assign @leoendless

[2019-10-12 02:30] soulseen commented on #825
/closed

[2019-10-12 02:31] soulseen commented on #825
/close

[2019-10-12 02:31] #825 closed

[2019-10-12 02:37] mayuhope commented on #916
/assign  @pixiake

[2019-10-12 02:41] wansir commented on #890
/assign @pengcong06

[2019-10-12 02:53] huojiao2006 commented on #911
测试邮箱只是用于测试的，临时的，并不用于系统设置，因此没有保存，也没必要保存。

[2019-10-12 02:54] wansir commented on #912
/assign @leoendless

[2019-10-12 02:56] Carlosfengv opened #925 "正在删除中的项目不允许进入详情"
RT；
- [x]  1.  项目中左上角的切换项目功能 可以进入到正在删除的项目中去。 预期 删除中的条目为disable状态，不可点击； 设计稿 zpl://screen?sid=5da1403bed4237241ee3f408&pid=5cbe7fbc2f55d8b73f56811b

- [x]  2.  列表页中的项目，应区分出正在删除的项目，且name 为disable 状态以示不可点；
设计稿 zpl://screen?pid=5cbe7fbc2f55d8b73f56811b&sid=5d2d3385a1f25163f00fa04a

[2019-10-12 02:56] Carlosfengv commented on #925
/assign @leoendless

[2019-10-12 03:01] wansir commented on #864
/close

[2019-10-12 03:01] #864 closed

[2019-10-12 03:02] wansir commented on #856
/close

[2019-10-12 03:02] #856 closed

[2019-10-12 03:02] whDongRui commented on #923
根据刚才讨论的已经修改了。上传完配置包显示默认的，但用户还是可以选择上传应用图标。

修复代码请[参见](https://git.internal.yunify.com/KubeSphere/kubesphere-console/commit/53b2e66cce9d898efdc101574cf931673fceca72)

修改后上传成功后确认后的效果如下截图所示
![image](https://user-images.githubusercontent.com/38676269/66693804-9ef18000-ecdf-11e9-9441-54be9966ef17.png)

[2019-10-12 03:02] wansir commented on #853
/close

[2019-10-12 03:03] #853 closed

[2019-10-12 03:08] Carlosfengv opened #926 "存储卷容量的输入无法通过Input输入"
RT；

- [ ] 目前无法输入，需要支持通过Input输入修改存储卷容量

![image](https://user-images.githubusercontent.com/23092051/66693892-77e77e00-ece0-11e9-9704-94f39481f563.png)

[2019-10-12 03:08] Carlosfengv commented on #926
/assign @leoendless

[2019-10-12 03:15] mayuhope commented on #911
好的，那先维持现状

[2019-10-12 03:15] #911 closed

[2019-10-12 03:19] mayuhope commented on #923
/assign  @whDongRui

[2019-10-12 03:21] gongjx11 opened #927 "单节点环境，docker无法下载镜像"
[root@ks-allinone ~]# systemctl status docker
● docker.service - Docker Application Container Engine
   Loaded: loaded (/etc/systemd/system/docker.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/docker.service.d
           └─docker-dns.conf, docker-options.conf
   Active: active (running) since Sat 2019-10-12 11:15:52 CST; 10min ago

无法下载镜像
[root@ks-allinone ~]#  docker p

[2019-10-12 03:30] #910 closed

[2019-10-12 03:35] Carlosfengv commented on #909
项目网关未开启 应用治理时， 自制应用中的  应用治理依然可以更改，预期这里为disable 状态，且显示关闭

[2019-10-12 03:41] Carlosfengv commented on #875
- [ ] 需要修复一下点击 checkbox 无效的问题，

 目前只有点击整个条目时生效，且无倒计时~

[2019-10-12 03:42] Carlosfengv commented on #875
/assign @leoendless

[2019-10-12 03:45] mayuhope opened #928 "企业空间概览的应用资源用量默认显示的数据统计有误"
1、企业空间已有任务、定时任务和存储卷等数据；

2、进入概览查看，发现默认显示的数据为最近一天，但是不正确：
![image](https://user-images.githubusercontent.com/7677050/66694416-9f8d1500-ece5-11e9-8a6c-09288ab47ce9.png)

3、切换到最近10分钟，正确：
![image](https://user-images.githubusercontent.com/7677050/66694424-addb3100-ece5-11e9-9d4a-ca924327a4e5.png)

[2019-10-12 03:58] mayuhope opened #929 "对部署编辑配置模板，关闭收集日志落盘，无法确认提交"
1、新建一个部署，在部署中开启日志落盘，日志落盘收集成功；

2、编辑部署-编辑配置模板，点击存储卷，关闭收集落盘日志，发现下方的【确认】按钮是灰色的，无法点击：

![image](https://user-images.githubusercontent.com/7677050/66694589-84bba000-ece7-11e9-827f-57f3979d0d26.png)

[2019-10-12 03:59] mayuhope commented on #929
/area  console
/kind  bug

[2019-10-12 04:00] mayuhope commented on #929
/assign @leoendless

[2019-10-12 04:04] mayuhope opened #930 "在ks-installer的configmap设置logsidecarInjector为False时，前端项目高级设置仍可设置开启落盘日志收集"
1、后台执行kubectl edit cm -n kubesphere-system ks-installer，默认情况下logsidecarInjector:
        enabled: False

![image](https://user-images.githubusercontent.com/7677050/66694691-e3cde480-ece8-11e9-8d6f-dd262a6cd08a.png)

2、进入前端，新建一个项目，查看项目高级设置，发现落盘日志收集仍在显示，且可设置为开启：

![image](https://user-images.githubusercontent.com/7677050/66694702-1b3c9100-ece9-11e9-9720-5561844d5535.png)

[2019-10-12 04:11] soulseen commented on #822
/close

[2019-10-12 04:11] #822 closed

[2019-10-12 04:11] mayuhope commented on #930
/assign @leoendless
/kind  bug

[2019-10-12 04:12] mayuhope commented on #928
/kind  bug

[2019-10-12 04:35] leoendless commented on #930
@zryfish 接口需要返回这层信息了

[2019-10-12 05:27] rayzhou2017 opened #931 "项目自定义角色权限目录没有翻译"
* [ ] 如下图
<img width="907" alt="Screen Shot 2019-10-12 at 1 26 21 PM" src="https://user-images.githubusercontent.com/28859385/66695432-eeda4200-ecf3-11e9-8bb3-e3cabd3faf24.png">

[2019-10-12 05:29] pixiake commented on #922
fixed

[2019-10-12 05:29] wansir commented on #837
目前的解决方式是将admin从 system project 里移除（system project不再设置管理员）， admin 本来就属于集群管理员，没有必要再绑定项目下的角色

[2019-10-12 05:30] wansir commented on #790
/close

[2019-10-12 05:30] #790 closed

[2019-10-12 05:30] wansir commented on #779
/close

[2019-10-12 05:30] #779 closed

[2019-10-12 05:32] wansir commented on #743
/close

[2019-10-12 05:32] #743 closed

[2019-10-12 05:34] wansir commented on #916
前端已修复

[2019-10-12 05:34] mayuhope opened #932 "添加告警策略失败，提示错误"
1、进入平台管理-监控中心-告警策略；

2、新建一条告警策略，按步骤正确填写相关内容，到了告警规则这一步时点击下一步时，报错,后端返回了400错误：

![image](https://user-images.githubusercontent.com/7677050/66695496-f9e1a200-ecf4-11e9-8823-519f4aa6d563.png)

[2019-10-12 05:36] mayuhope commented on #932
/kind bug

[2019-10-12 05:50] soulseen commented on #877
/close
20191012的安装包修复了

[2019-10-12 05:50] #877 closed

[2019-10-12 05:54] mayuhope commented on #932
/assign @leoendless

[2019-10-12 05:54] mamacmm opened #933 "centos7.4安装报错"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
安装报错

**安装环境的硬件配置**
vmware centos7.4

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
[code]
**Installer版本**
2.0.2

[2019-10-12 05:58] spesoul commented on #589
前段部分现在开源准备的怎么样了？

[2019-10-12 06:15] runzexia opened #934 "the pod status in the console is displayed incorrectly."
* [x] The status of the pod created by the job is completed, but it is displayed as running in the console.
![image](https://user-images.githubusercontent.com/31230341/66696021-9ce8ea80-ecfa-11e9-91ed-208d5d30c15c.png)
/area console
/kind bug
/assign @leoendless
/milestone 2.1.0

[2019-10-12 06:19] mayuhope commented on #930
/milestone 2.1.0

[2019-10-12 06:21] mayuhope commented on #932
/milestone 2.1.0

[2019-10-12 06:21] bmingithub opened #935 "Nameserver limits were exceeded 导致csi起不来"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**

**安装环境的硬件配置**
ap2a虚机安装，os是centos7
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
qingcloud-csi 出现这个event，导致qingcloud-csi起不来
Warning  DNSConfigForming  97s (x821 over 176m)    kubelet, node1  Nameserver limits were exceeded, some nameservers have been omitted, the applied nameserver line is: 100.64.11.3 114.114.114.114 119.2

[2019-10-12 06:24] mayuhope opened #936 "删除项目后页面没有自动刷新"
1、进入平台管理-项目管理；

2、删除一个项目，提示删除成功，但是列表没有自动刷新，必须手动刷新页面

[2019-10-12 06:24] mayuhope commented on #936
/milestone 2.1.0
/area  console

[2019-10-12 06:25] mayuhope commented on #936
/assign @leoendless

[2019-10-12 06:27] FeynmanZhou opened #937 "【2.1】Console 所有的 docs URL 需全局替换更新为 v2.1"
Console 所有的 docs URL 需要把 /advanced-v2.0/ 改成 /v2.1/

[2019-10-12 06:51] #871 closed

[2019-10-12 06:52] zwqzhangweiqiang commented on #871
解决

[2019-10-12 06:59] zryfish commented on #936
/milestone 2.1.0

[2019-10-12 07:10] mayuhope opened #939 "在项目中部署应用后，相应容器组无法关联到该应用"
1、创建应用chartmu-hewodb；

2、查看生成的工作负载和容器组，发现容器组没有显示对应的应用：
![image](https://user-images.githubusercontent.com/7677050/66696841-120bee00-ed02-11e9-9f44-3f79d162d8a2.png)
![image](https://user-images.githubusercontent.com/7677050/66696873-5d260100-ed02-11e9-8798-ce94f71bb973.png)

[2019-10-12 07:12] mayuhope commented on #939
/milestone 2.1.0
/area console
/assign @leoendless

[2019-10-12 07:17] leoendless commented on #939
@zryfish 看下吧 ， pod 里没有 metadata.labels.chart 信息

[2019-10-12 07:39] huanggze opened #940 "无法创建应用分类"
![image](https://user-images.githubusercontent.com/22350668/66697248-79c43800-ed06-11e9-8425-8d5dae9c555c.png)

[2019-10-12 07:41] mayuhope opened #941 "编辑项目配额时，在已有部署的情况下，建议在资源配额中显示部署这一行以便配置"
1、在项目中创建一个部署；

2、进入项目基本信息，项目管理-编辑配额，发现资源配额中默认只有容器组配置项，无部署配置项，建议默认增加一行部署配置项；
![image](https://user-images.githubusercontent.com/7677050/66697288-c0b22d80-ed06-11e9-878f-6fd3cc9992fd.png)

此问题属于improve，优先级不高

[2019-10-12 07:41] huanggze commented on #940
/area/app-managment
/kind/bug
/milestone 2.1.0
/assign @leoendless

[2019-10-12 07:43] mayuhope commented on #941
/area   console
/kind  bug
/milestone 2.1.0
/assign @leoendless

[2019-10-12 07:43] huanggze commented on #940
现在又可以了

[2019-10-12 07:47] mayuhope commented on #923
/assign  @whDongRui

[2019-10-12 08:10] MarsHanZhen commented on #892
2天前我也手动登录了,当时登录不上,刚才试了下,能登陆了

[2019-10-12 08:10] #892 closed

[2019-10-12 08:18] mayuhope opened #942 "创建job失败了，但执行记录仍显示在运行中"
项目配额被限制后，创建一个job，job创建失败了，但是执行记录还是提示运行中：

![image](https://user-images.githubusercontent.com/7677050/66697656-50a5a680-ed0a-11e9-9dee-de04aa90c7f8.png)
![image](https://user-images.githubusercontent.com/7677050/66697662-57341e00-ed0a-11e9-8c1e-1411cdc38a5e.png)

[2019-10-12 08:21] mayuhope commented on #942
/area console
/kind bug
/milestone 2.1.0
/assign @leoendless

[2019-10-12 08:37] daiqingliang commented on #915
希望关注一下，这个功能还是很有用。

[2019-10-12 08:39] Carlosfengv commented on #941
这种表单右侧都有一个添加项，这里是添加配额项。
我们默认屏蔽掉了一些不常用的配额项，当然如果想对资源进行配额控制的话，可以添加项，选择所需资源输入配额数量即可。

[2019-10-12 08:41] mayuhope opened #943 "项目-服务-资源状态的URL地址存在undefined，返回项目后报404错误"
1、进入项目-服务-资源状态页面：
![image](https://user-images.githubusercontent.com/7677050/66698310-77b2a700-ed0f-11e9-8778-706a8ab17c84.png)

2、点击项目，结果整个页面404：
![image](https://user-images.githubusercontent.com/7677050/66698278-0d9a0200-ed0f-11e9-9a47-f6be9d0c4743.png)

![image](https://user-images.githubusercontent.com/7677050/66698282-112d8900-ed0f-11e9-9349-d85eaaa9db55.png)

[2019-10-12 08:44] mayuhope commented on #943
/area console
/kind bug
/milestone 2.1.0
/assign @leoendless

[2019-10-12 09:25] gongjx11 opened #945 "单节点环境安装gitlab 服务启动正常，但是无法访问，请问一下是什么原因"
![image](https://user-images.githubusercontent.com/21954004/66698943-26a5b180-ed15-11e9-848b-4ef94714ac8c.png)
服务端口以经起来：
![image](https://user-images.githubusercontent.com/21954004/66698963-5654b980-ed15-11e9-9011-5ed50e020b60.png)

访问报错
![image](https://user-images.githubusercontent.com/21954004/66698950-3c1adb80-ed15-11e9-84cc-428f884855e8.png)

[2019-10-12 09:38] huanggze opened #947 "文案显示的是英文"
![image](https://user-images.githubusercontent.com/22350668/66699190-17bffe80-ed17-11e9-99c2-ca633b8e0fe1.png)

[2019-10-12 09:39] huanggze commented on #947
/area console
/milestone 2.1.0
/assign @leoendless

[2019-10-12 09:42] leoendless commented on #947
这个没有问题

[2019-10-12 09:42] #947 closed

[2019-10-12 09:45] mayuhope opened #948 "后台存在pending的pod时，该项目下涉及容器组的页面均无法显示"
1、在项目pp2下创建了一个部署，镜像为alpine，挂载的存储卷访问模式为ReadWriteMany；

2、创建部署完成后，容器组页面一直转圈无法显示：
![image](https://user-images.githubusercontent.com/7677050/66699275-ded45980-ed17-11e9-817a-bc61447dda9a.png)

3、查看后台的2个pod状态如下：
![image](https://user-images.githubusercontent.com/7677050/66699286-104d2500-ed18-11e9-9367-e6951bf51fa3.png)

[2019-10-12 09:46] rayzhou2017 commented on #589
现在大家都在忙2.1.0的发布，只有等这个发布了才能准备前端代码开源的事情，2.1.0预计这个月能release，很抱歉有些delay，请耐心等候一下。

[2019-10-12 09:46] mayuhope commented on #948
/area console
/kind bug
/milestone 2.1.0
/assign @leoendless

[2019-10-12 10:01] wanjunlei opened #950 "守护进程集的容器组副本数量配置无效"
**Describe the bug(描述下问题)**
创建守护进程集时， 配置容器组副本数量无效，副本数量与节点数相同
For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0

**Expected behavior(预期行为)**
创建守护进程集，默认容器组副本数量为节点数，且不允许用户修改

[2019-10-12 10:08] mayuhope opened #951 "部署挂载了ReadWriteMany访问模式的存储卷后，挂载失败了，存储卷状态也不对"
1、进入项目-存储卷，创建一个ReadWriteMany多节点读写的存储卷，名称为volome8888(别名存储卷8888)，容量为351G；

2、创建一个部署，镜像为alpine，挂载步骤1中的存储卷，创建部署成功，但是存在2个pod，一个正常，一个不正常：
![image](https://user-images.githubusercontent.com/7677050/66699725-b9494f00-ed1b-11e9-8dbd-f9979961da1e.png)

3、查看步骤1中的存储卷，结果显示创建中，但是已挂载：
![image](https://user-images.githubusercontent.com/7677050/66699577-ae41ef00-ed1a-11e9-9a8d-94a94d6cb5b2.png)

4、存储卷对应的部署状态也不对，为V

[2019-10-12 10:10] mayuhope commented on #951
/area console
/kind bug
/milestone 2.1.0
/assign @wnxn

[2019-10-12 10:24] leoendless commented on #909
Updated

[2019-10-12 10:24] leoendless commented on #875
Fixed

[2019-10-12 10:25] kong62 opened #952 "企业空间无法关联已经存在 namespace"
企业空间无法关联已经存在 namespace

[2019-10-12 10:26] leoendless commented on #934
Fixed

[2019-10-12 10:26] leoendless commented on #925
Fixed

[2019-10-12 11:57] wansir commented on #952
可以通过给namespace 加label 的方式进行关联，我们也注意到这些问题，在 2.1 中加强了对已存在的namesapce 的管理能力。

[code]

[2019-10-12 12:12] sdlcxzg opened #954 "kubesphere使用一段时间之后，再次登录之后，显示用户名密码错误，无法登录"
整个环境是3台master，3台node节点，组成的一个高可用环境，操作系统都是Ubuntu 18.04 ，配置都是32CPU，64GB内存，后接ceph存储。
不知道是不是该原因导致的：默认master节点和node节点默认110个容器组，最近由于二次开发测试，容器组都快满了，所以调节了每台节点的容器组改成了1000个，重启了kubelet服务，然后又在该环境上测试了创建多个hadoop集群（主要是测试压力），然后过了不到半个小时，就无法登陆了。

 查看 kubectl logs -n kubesphere-system ks-apigateway-7bb9bccc6d-ch77x 的日志 出现401认证失败错误。
2019/10/12 12:11:39 Unauthorized,no token found
2019/10/12 12:11:39 Unauthorized,no to

[2019-10-12 13:48] rayzhou2017 commented on #905
2.1.0-dev-20191012 看起来是把dashboard改成服务数量，跟服务组件数字对齐，但现在是monitoring数字不对，见下图，dashboard的数字还是pod的数量。

<img width="776" alt="Screen Shot 2019-10-12 at 9 42 41 PM" src="https://user-images.githubusercontent.com/28859385/66702404-fa505c00-ed39-11e9-89b8-cc9613d3c8fd.png">
<img width="807" alt="Screen Shot 2019-10-12 at 9 42 34 PM" src="https://user-images.githubusercontent.com/28859385/66702411-050af100-ed

[2019-10-12 13:51] rayzhou2017 commented on #905
还有这个地方的监控数字，他们不是调用的一个api吗？
<img width="1179" alt="Screen Shot 2019-10-12 at 9 51 47 PM" src="https://user-images.githubusercontent.com/28859385/66702465-7cd91b80-ed3a-11e9-9a80-5beb6d592210.png">

[2019-10-12 13:57] justahole commented on #905
传的参数不同，这边漏了。

[2019-10-12 13:58] wansir commented on #954
可以检查一下 kubesphere-system 下的pod 都是否正常，无法登录可能是因为重启过后有组件无法正常启动.

[2019-10-12 14:01] pixiake commented on #904
fixed

[2019-10-12 14:01] rayzhou2017 commented on #909
* [ ] 还有sample这个地方没有修改
<img width="1221" alt="Screen Shot 2019-10-12 at 9 59 42 PM" src="https://user-images.githubusercontent.com/28859385/66702591-ca09bd00-ed3b-11e9-8c8f-719c21094ed2.png">

[2019-10-12 14:34] rayzhou2017 opened #955 "项目配额管理"
* [x] cpu,mem 限制的bar拉不动
* [x] 设置pod等限制没有生效（view页面显示还是无限制，还没有测试实际效果）
* [x] pod等所在下拉框里选择项和配额view页面不一致（比如没有statefulset等）
<img width="1035" alt="Screen Shot 2019-10-12 at 10 31 55 PM" src="https://user-images.githubusercontent.com/28859385/66703012-68981d00-ed40-11e9-850b-4c6c5ca76f1a.png">

[2019-10-12 16:34] leoendless commented on #948
Fixed

[2019-10-12 16:35] leoendless commented on #943
Fixed

[2019-10-13 02:01] rayzhou2017 commented on #955
第二个问题确实存在，在chrome下，错误如下
<img width="1227" alt="Screen Shot 2019-10-13 at 10 00 36 AM" src="https://user-images.githubusercontent.com/28859385/66709909-5c43ac80-eda0-11e9-8f5e-0d39e08630a5.png">

[2019-10-13 04:36] rayzhou2017 opened #956 "打不开ns"
* [ ] 从top5进入system-workspace，然后选择kubesphere-system，点击，找不到资源
<img width="1187" alt="Screen Shot 2019-10-13 at 12 34 37 PM" src="https://user-images.githubusercontent.com/28859385/66711004-f19d6b80-edb5-11e9-8667-57f7d2e53f87.png">

[2019-10-13 04:39] rayzhou2017 commented on #922
verified on 2.1.0-dev-20191013

[2019-10-13 04:39] #922 closed

[2019-10-13 04:45] rayzhou2017 commented on #912
现在能看到日志查询，kubeconfig不应该显示吗？

[2019-10-13 04:59] leoendless commented on #955
Fixed

[2019-10-13 05:00] leoendless commented on #956
fixed

[2019-10-13 05:00] leoendless commented on #950
fixed

[2019-10-13 05:01] leoendless commented on #937
fixed

[2019-10-13 05:03] leoendless commented on #924
Fixed

[2019-10-13 05:03] leoendless commented on #920
Fixed

[2019-10-13 05:26] 2804337402 opened #957 "kubesphere安装后无法登录-Internal Server Error"
![kubesphere登录后Internal Server Error](https://user-images.githubusercontent.com/25359798/66711330-5fe52c80-edbc-11e9-812c-fdd27016070e.png)
![kubesphere后台服务都已启动并正常工作](https://user-images.githubusercontent.com/25359798/66711331-68d5fe00-edbc-11e9-898a-983114976bde.png)
![kubesphere-ks-account-日志没有发现问题](https://user-images.githubusercontent.com/25359798/66711334-73909300-edbc-11e9-81f5-e06e880b5d56.

[2019-10-13 05:44] rayzhou2017 opened #958 "创建devops 工程出错"
* [ ] 初装系统，enable devops，创建工程出错
<img width="1173" alt="Screen Shot 2019-10-13 at 1 43 16 PM" src="https://user-images.githubusercontent.com/28859385/66711481-7771e480-edbf-11e9-8c10-5f4ae875d53f.png">

[2019-10-13 07:03] soulseen commented on #958
执行`kubectl -n kubesphere-devops-system get po`
看下pod状态

[2019-10-13 07:29] rayzhou2017 commented on #958
是正常的，这个bug应该能复现，环境http://139.198.14.155:30881/workspaces/ray-ws/devops
[root@ks-allinone ~]# kubectl -n kubesphere-devops-system get po
NAME                                        READY   STATUS      RESTARTS   AGE
ks-devops-db-ctrl-job-f4f42                 0/1     Completed   0          3h43m
ks-devops-db-init-job-dth6r                 0/1     Completed   0          3h43m
ks-jenkins-c6d7b7cfd-5b

[2019-10-13 07:35] runzexia commented on #958
在修复了，这个bug是jenkins启动过程中，update center被重启了。
导致 jenkins 插件下载安装失败。
修复使 jenkins 安装插件失败时直接退出，以进行重试

[2019-10-13 12:31] rayzhou2017 commented on #904
verified on 2.1.0-dev-20191013

[2019-10-13 12:31] #904 closed

[2019-10-14 01:07] sdlcxzg commented on #954
查看kubesphere-system 下的pod 显示ks-account 异常

在2019年10月12日 21:58，hongming<notifications@github.com> 写道：

可以检查一下 kubesphere-system 下的pod 都是否正常，无法登录可能是因为重启过后有组件无法正常启动.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-14 01:10] sdlcxzg commented on #954
ks-account显示错误日志
 ldapclient.go:71] get ldap connection from pool LDAP Result Code 200 "Network Error": dial tcp 10.20.198.80:389: connect: cannot assign requested address
E1014 01:00:25.260509       1 im.go:244] LDAP Result Code 200 "Network Error": dial tcp 10.20.198.80:389: connect: cannot assign requested address
I1014 01:00:25.260658       1 logging.go:32] 10.30.241.74 - "POST /kapis/iam.kube

[2019-10-14 01:37] kong62 commented on #952
@wansir 谢谢

[2019-10-14 01:37] #952 closed

[2019-10-14 02:07] rayzhou2017 opened #959 "pod replica 降低的时候状态提示错误"
* [x] 如图所示，我在降低replica数量的时候显示是初始化，应该是删除中
![Screen Shot 2019-10-14 at 10 06 10 AM](https://user-images.githubusercontent.com/28859385/66726163-51ede500-ee6a-11e9-94c6-482e051f77be.png)

[2019-10-14 02:42] rayzhou2017 opened #960 "项目overview添加密钥和configmap"
* [ ] 既然quota有这些资源，overview page也应该展现出来
![Screen Shot 2019-10-14 at 10 41 49 AM](https://user-images.githubusercontent.com/28859385/66727040-5668cc80-ee6f-11e9-9953-6f6075d59d1c.png)

[2019-10-14 02:53] gaoyangy commented on #933
我也是这样，请问有解决方案吗？

[2019-10-14 03:00] #927 closed

[2019-10-14 03:00] gongjx11 commented on #927
t

[2019-10-14 03:02] wanjunlei opened #961 "项目概览中，切换统计周期时，统计图中横轴的时间间隔不一致"
**Describe the bug(描述下问题)**
项目概览中，切换统计周期时，统计图的横轴的时间间隔不一致。例如当选择统计周期为近7天时，统计图的前9个点的时间间隔为1天，第10个点的时间间隔为10s，且新增的点的时间间隔均为10s，100s后统计图将不显示近7天的统计值，只显示近100s的统计值

![image](https://user-images.githubusercontent.com/53003665/66727287-bb70f200-ee70-11e9-814a-4681c89ef798.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:2.1.0

**Expected behavior(预期行为)**
建议统计刷新频率与统计周期关联，例如统计周期为近7天时，以天为单位刷新统计图

[2019-10-14 03:04] rayzhou2017 opened #962 "job args引号问题"
* [ ] 我run了一个job，输入参数，但感觉不对，docker输入的是echo,"hello world"，yaml里是' "hello world" '，多了一个单引号，导致日志是"hello world"，而不是 hello world，不应该有双引号吧？
![Screen Shot 2019-10-14 at 10 59 24 AM](https://user-images.githubusercontent.com/28859385/66727485-24a53500-ee72-11e9-90e8-d23e959e2b58.png)
![Screen Shot 2019-10-14 at 10 59 40 AM](https://user-images.githubusercontent.com/28859385/66727491-2b33ac80-ee72-11e9-84a

[2019-10-14 03:16] wanjunlei opened #963 "项目概览，物理资源界面显示问题"
**Describe the bug(描述下问题)**
项目概览，物理资源界面，统计图横轴的第一个第二个时间中间无分隔。
当统计图的横轴时间秒数为0时，未显示秒数。
统计图中未显示天

![image](https://user-images.githubusercontent.com/53003665/66727609-f07e4400-ee72-11e9-9306-c74d0cabb408.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:2.1.0

**Expected behavior(预期行为)**
建议时间显示格式一致，增加天显示

[2019-10-14 03:16] #963 closed

[2019-10-14 03:18] wanjunlei opened #964 "项目概览，物理资源界面显示问题"
**Describe the bug(描述下问题)**
项目概览，物理资源界面，统计图横轴的第一个第二个时间中间无分隔。
当统计图的横轴时间秒数为0时，未显示秒数。
统计图中未显示天

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/53003665/66727842-3daee580-ee74-11e9-9b5d-a89a45b7886c.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:2.1.0

**Expected behavior(预期行为)**
建议时间显示格式一致，增加天显示

[2019-10-14 03:42] wanjunlei opened #965 "创建守护进程集时，会在已停止调度的的节点上创建副本"
**Describe the bug(描述下问题)**
创建守护进程集时，会在已停止调度的的节点上创建副本

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:2.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

[2019-10-14 03:47] gaoyangy commented on #585
解决方案是啥

[2019-10-14 05:10] runzexia opened #966 "github webhook 400 bad request"
* [ ] fix
/area devops
/kind bug
/milestone 2.1.0
/assign @soulseen

[2019-10-14 05:31] #920 closed

[2019-10-14 05:32] #924 closed

[2019-10-14 05:32] #909 closed

[2019-10-14 05:33] #875 closed

[2019-10-14 05:34] #925 closed

[2019-10-14 05:45] spesoul commented on #589
@rayzhou2017 Thanks for your comment

[2019-10-14 06:12] xugirl opened #967 "kubesphere 中的jenkins 在运行流水线job的时候总是报错，具体报错如下"
INFO: Accepted JNLP4-connect connection #2 from /10.233.75.31:53882
Oct 14, 2019 6:06:51 AM org.jenkinsci.plugins.workflow.cps.DSL invokeStep
WARNING: Error storing the arguments for step: checkout
org.kohsuke.stapler.NoStaplerConstructorException: There's no @DataBoundConstructor on any constructor of class jenkins.plugins.git.AbstractGitSCMSource$SpecificRevisionBuildChooser
	at org.kohsuke.stap

[2019-10-14 06:27] runzexia commented on #967
https://issues.jenkins-ci.org/browse/JENKINS-54186
这个错误属于多余的log，不会影响实际运行，2.1版本会修复
/milestone 2.1.0
/assign

[2019-10-14 06:29] rayzhou2017 opened #968 "创建服务文案"
* [ ] 简单服务需要重新想一下文案
![Screen Shot 2019-10-14 at 1 32 29 PM](https://user-images.githubusercontent.com/28859385/66732529-ebc78900-ee8e-11e9-8749-b63c38726a8c.png)

[2019-10-14 06:34] xugirl commented on #967
我运行流水线的时候一直会报错，编译不成功，具体报错如下：能帮远程我看下原因吗？

![image](https://user-images.githubusercontent.com/35447641/66732762-b8392e80-ee8f-11e9-84ff-afa7f98a1139.png)

[2019-10-14 06:36] rayzhou2017 opened #969 "内存限额文案"
* [ ] 这个地方的内存单位好像没有限制，而且显示也不友好
![Screen Shot 2019-10-14 at 2 35 47 PM](https://user-images.githubusercontent.com/28859385/66732809-e74fa000-ee8f-11e9-8c96-fbb201b77f3d.png)

[2019-10-14 06:37] runzexia commented on #967
@xugirl 发送远程方式到 kubesphere@yunify.com，备注下github username

[2019-10-14 06:40] xugirl commented on #967
这个是客户的服务器，我的QQ是1873043361，你能帮我直接远程看下吗？

[2019-10-14 06:41] rayzhou2017 opened #970 "cronjob quota出错"
* [ ] 是不是cronjob quota的定义有问题？我一个cronjob都运行不了
![Screen Shot 2019-10-14 at 2 40 04 PM](https://user-images.githubusercontent.com/28859385/66732993-99876780-ee90-11e9-962c-06945cdaa6aa.png)
![Screen Shot 2019-10-14 at 2 40 11 PM](https://user-images.githubusercontent.com/28859385/66732998-9ee4b200-ee90-11e9-84e4-d6e2aa8708e6.png)
![Screen Shot 2019-10-14 at 2 40 26 PM](https://user-images.githubuserc

[2019-10-14 06:55] wanjunlei opened #971 "创建任务，选择容器镜像界面，当镜像名称包含大写字母时，默认的任务名称不合法"
**Describe the bug(描述下问题)**
创建任务，选择容器镜像界面，当镜像名称包含大写字母时，默认的任务名称是不合法的，若不展开高级设置，点击保存按钮时，是不会有错误提示的。创建其他应用负载时，有类似错误。

![image](https://user-images.githubusercontent.com/53003665/66733418-149d4d80-ee92-11e9-8604-cd1304e984c8.png)

![image](https://user-images.githubusercontent.com/53003665/66733445-2bdc3b00-ee92-11e9-9a9c-28197817f555.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:2.1.0

*

[2019-10-14 07:14] Carlosfengv commented on #971
/assign @minghaoye

[2019-10-14 07:47] zryfish commented on #826
/assign @wansir

[2019-10-14 07:49] runzexia commented on #967
/close solved

[2019-10-14 07:49] runzexia commented on #967
/close
solved

[2019-10-14 07:49] #967 closed

[2019-10-14 07:50] zryfish commented on #797
/assign @wansir

[2019-10-14 08:02] zryfish commented on #970
cronjob会生成job，占用job配额，这个环境是不是之前创建过一个job，导致cronjob没法创建job了？

[2019-10-14 08:10] zryfish commented on #957
没有 ks-apiserver 这个 pod，应该是安装失败了，可以尝试卸载ks重新装下。
重装之前建议看下kubernetes的组件是否都正常

[2019-10-14 08:11] rayzhou2017 commented on #970
是的，那我感觉quota把job和cronjob分开设置不合理，既然他们是共用quota的话

[2019-10-14 08:13] rayzhou2017 opened #972 "删除job计数没更新"
* [x] 删除job后上面的tab页数字还是旧的，重新打开也不行
![Screen Shot 2019-10-14 at 4 12 23 PM](https://user-images.githubusercontent.com/28859385/66737050-7b743400-ee9d-11e9-9210-7d15814cd700.png)

[2019-10-14 08:17] rayzhou2017 opened #973 "提交应用模版审核文档url错误"
* [x] 开发者测试指南url错误
![Screen Shot 2019-10-14 at 4 16 15 PM](https://user-images.githubusercontent.com/28859385/66737243-02291100-ee9e-11e9-8704-ceb8ae702e96.png)

[2019-10-14 08:22] bmingithub opened #974 "PVC状态为Bond时候，显示为更新中"
**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.
真个在运行的PCV前端状态显示为更新中，
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/35321102/66737382-64821180-ee9e-11e9-93f4-ac63009bf827.png)

**Expected behavior(预期行为)**
A clear and concise description of what you expected to happen.
应该显示为Bound的中文翻译

[2019-10-14 08:22] rayzhou2017 opened #975 "应用状态不对"
* [x] 我这个应用已经提交审核且审核通过，这个地方应该是待发布或待上架吧？
![Screen Shot 2019-10-14 at 4 21 39 PM](https://user-images.githubusercontent.com/28859385/66737511-c478b800-ee9e-11e9-96fc-8e8c5b4b1c2c.png)

[2019-10-14 08:24] zryfish commented on #921
你进入到pod的initcontainer试下能否访问 openpitrix-db.openpitrix-system.svc和redis.kubepshere-system.svc

[2019-10-14 08:27] wnxn commented on #873
Those images and Minio are not belonged to KS area/storage.

[2019-10-14 08:28] leoendless commented on #970
建议不设置 job 的配额把

[2019-10-14 08:34] wnxn commented on #974
/kind area/storage

[2019-10-14 08:35] rayzhou2017 opened #976 "应用商店问题"
* [x] 未分类没有我刚发布的应用
![Screen Shot 2019-10-14 at 4 29 19 PM](https://user-images.githubusercontent.com/28859385/66737990-ff2f2000-ee9f-11e9-9880-8dc404cac165.png)
* [x] 提供商是system是不是不对？联系方式我好像也没地方填写，版本ID是不是最好显示出来？
![Screen Shot 2019-10-14 at 4 29 29 PM](https://user-images.githubusercontent.com/28859385/66738045-22f26600-eea0-11e9-85b4-ede8bc502e1e.png)
* [ ] 部署的时候状态没有用websocket刷新
![Screen Shot 2019

[2019-10-14 08:36] rayzhou2017 commented on #970
我觉得合在一起好一些

[2019-10-14 08:39] wnxn commented on #833
创建存储类型参数文案修改建议：https://git.internal.yunify.com/KubeSphere/kubesphere-console/issues/1275 @Carlosfengv @justahole

[2019-10-14 08:41] wnxn commented on #974
/area console

[2019-10-14 08:46] leoendless commented on #970
怎么合呢， 定时job 占用job, 并不是共用，cronjob还可能会占用多个job

[2019-10-14 08:47] zryfish commented on #674
Duplicate of #826

[2019-10-14 08:47] #674 closed

[2019-10-14 08:50] #633 closed

[2019-10-14 08:50] zryfish commented on #632
2.1.0已经fix

[2019-10-14 08:52] #499 closed

[2019-10-14 08:52] whDongRui commented on #975
应用目前只有4种状态，只有draft(待提交)，active(已上架)，suspended(已下架)，deleted(已删除)，
没有待发布或待上架的状态。

这个要支持的话得后端多设计一种应用的状态。

[2019-10-14 08:53] whDongRui commented on #973
@FeynmanZhou ,这里“开发者测试指南”的url需要你提供一下，之前好像跟你提过一次的。

[2019-10-14 08:54] wansir commented on #970
job，deployment ，statefulset  等工作负载的配额会产生冲突，如果pod 配额满了， 那么工作负载实际上就无法调度了， job 和cronjob 也是同理。  k8s 中这些资源配额都是单独设置的， 如果这里和k8s 不一致的话， 会有解释成本， 所以也不建议合在一起进行设置

[2019-10-14 08:56] #463 closed

[2019-10-14 08:56] #462 closed

[2019-10-14 08:57] zryfish commented on #970
job, pod 是从更细粒度限制配额，还是需要分开的

[2019-10-14 09:09] wansir commented on #975
这里应用状态是passed， 状态应该翻译为 审核通过或者是待发布

[2019-10-14 09:09] wanjunlei opened #977 "创建定时任务时，backoffLimit、completions、parallelism、activeDeadlineSeconds参数设置无效"
**Describe the bug(描述下问题)**
创建定时任务时，backoffLimit、completions、parallelism、activeDeadlineSeconds参数设置无效

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:2.1.0

[2019-10-14 09:11] whDongRui commented on #975
这个万宏明刚跟我说app已经有passed这种状态，我一会改一下前端的显示。

[2019-10-14 09:20] whDongRui commented on #976
@zheng1 @pengcong06 第一个问题，未分类的id是“ctg-uncategorized”，但这个app返回信息category_set为空数据[]。这个需要后端在创建时给应用默认一个“未分类”的分类，前端在显示时才能过滤。

第二个问题，”提供商“，“联系方式”这两个应该应该是按OP的设计来的，感觉“提供商”可以改成“企业空间”，“联系方式”可以去掉。版本ID显示的话在哪里显示，在版本那个table列表中显示？

第三个问题，应用部署后列表没有websocket，这个跟后端沟通的结果是可能这个版本支持不了。

[2019-10-14 09:21] rayzhou2017 commented on #970
pod其实用户好理解，但job和cronjob用户看不懂的

[2019-10-14 09:26] Carlosfengv commented on #976
服务商 => 服务商(企业空间);
联系方式暂时去掉，以后可以完善企业空间的信息（包括ISV认证）;
显示版本ID貌似没什么用吧？

[2019-10-14 09:27] mayuhope commented on #951
/milestone 2.1.0

[2019-10-14 09:31] wanjunlei opened #978 "新创建的定时任务，会有其他定时任务的执行纪录"
**Describe the bug(描述下问题)**
新创建的定时任务，会有其他定时任务的执行纪录

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:2.1.0

**To Reproduce(复现步骤)**
Steps to reproduce the behavior:
1. 创建一个定时任务，例如test-job，待有任务执行纪录后删除定时任务
2. 创建一个同名的定时任务test-job，查看test-job任务执行纪录

/area console
/kind bug
/milestone 2.1.0

[2019-10-14 09:31] wanjunlei commented on #977
/area consle
/kind bug
/milestone 2.1.0

[2019-10-14 09:32] Zephery opened #979 "关于devops问题请教下"
请问下：
1.kubeSphere2.1.0是否会采用jenkins x？

2.dashboard是用的vue么？devops能否从kubeSphere单独拆分出来

3.devops是否会参考阿里云云效那样做？

[2019-10-14 09:33] wanjunlei commented on #964
/area console
/kind bug
/milestone 2.1.0

[2019-10-14 09:34] wanjunlei commented on #961
/area console
/kind bug
/milestone 2.1.0

[2019-10-14 09:35] #852 closed

[2019-10-14 09:35] wnxn commented on #951
@mayuhope
复现情况，deploy 的 Pod 我这都没起来，PVC 没创建出来
![屏幕快照 2019-10-14 下午5 27 40](https://user-images.githubusercontent.com/13119696/66741531-52a56c00-eea8-11e9-9d05-293795320b6c.png)

![屏幕快照 2019-10-14 下午5 29 08](https://user-images.githubusercontent.com/13119696/66741500-44efe680-eea8-11e9-8c14-dac766d9b7bd.png)

存储卷事件里显示是因为 Access Mode 不支持 ReadWriteOnce。
这里用的是 local volume 的存储类型，只能支持 ReadWriteOnce，inst

[2019-10-14 09:36] #851 closed

[2019-10-14 09:42] wnxn commented on #951
/area installation

[2019-10-14 09:43] wanjunlei opened #980 "定时任务执行纪录问题"
**Describe the bug(描述下问题)**
1.运行中的任务有结束时间
2.所有任务的结束时间是一样的，新的任务会刷新旧的任务的结束时间

![image](https://user-images.githubusercontent.com/53003665/66742146-9a78c300-eea9-11e9-83cb-583859c7dfe6.png)

![image](https://user-images.githubusercontent.com/53003665/66742389-17a43800-eeaa-11e9-8a17-2034bd4e951b.png)

/area console
/kind bug
/milestone 2.1.0

[2019-10-14 09:45] justahole commented on #926
fix

[2019-10-14 09:51] #977 closed

[2019-10-14 09:51] wanjunlei opened #981 "创建定时任务时，activeDeadlineSeconds参数设置无效"
Describe the bug(描述下问题)
创建定时任务时，activeDeadlineSeconds参数设置无效

Versions used(KubeSphere/Kubernetes的版本)
KubeSphere:2.1.0

/area console
/area depoly
/kind bug
/milestone 2.1.0

[2019-10-14 09:51] runzexia commented on #979
1. 2.1.0不会采用 jenkins x
2. 暂时还不支持独立devops，2.1支持组件选装，可以安装自己需要的组件
3. kubesphere devops和云效都是devops产品，在某些功能上会有重合。目前kubesphere以容器devops为主，后期功能会逐渐丰富，如果有好的建议可以在github上提issue反馈。

[2019-10-14 09:54] redhatxl opened #982 "kubesphere 中devops工程流水线"
kubesphere 中devops工程流水线中如何在发送的邮件内容中获取到{BUILD_NUMBER}  ${JOB_NAME}信息呢，想在通知邮件中体现这些信息。

[2019-10-14 09:55] runzexia commented on #699
solved by https://github.com/kubesphere/ks-installer/pull/68/files
/close

[2019-10-14 09:55] #699 closed

[2019-10-14 09:57] runzexia commented on #982
/area devops
/kind question
/close
参考下面的文章 https://www.cloudbees.com/blog/mail-step-jenkins-workflow

[2019-10-14 09:57] #982 closed

[2019-10-14 09:58] runzexia commented on #917
/close

[2019-10-14 09:58] #917 closed

[2019-10-14 10:07] redhatxl commented on #982
好的，谢谢

[2019-10-14 10:10] wanjunlei opened #983 "删除定时任务时，未删除已执行的任务"
**Describe the bug(描述下问题)**
删除定时任务时，未删除已执行的任务

/area console
/area deploy
/kind bug
/milestone 2.1.0

[2019-10-14 10:15] gongjx11 opened #984 "单节点gitlab登录500"
![image](https://user-images.githubusercontent.com/21954004/66744269-94d1ac00-eeae-11e9-9805-0bf4320bc4e5.png)

[2019-10-14 10:17] mayuhope opened #985 "启用op后，应用商店报错"
1、修改ks-installer的cm，将op从False改为True；

2、待apiserver重启完毕后，登录界面；

3、应用商店报错：
![image](https://user-images.githubusercontent.com/7677050/66744359-d1050c80-eeae-11e9-862b-c830c962fd8e.png)

[2019-10-14 10:18] wanjunlei opened #986 "删除任务时，未删除对应的容器组"
**Describe the bug(描述下问题)**
删除任务时，未删除对应的容器组

/area console
/area deploy
/kind bug
/milestone 2.1.0

[2019-10-14 10:19] mayuhope commented on #985
/area storage
/kind bug
/milestone 2.1.0
/assign @whDongRui

[2019-10-14 10:25] mayuhope opened #987 "kubectl edit cm -n kubesphere-system ks-installer时样式不对，没有换行"
执行kubectl edit cm -n kubesphere-system ks-installer时，没有换行，编辑起来不方便：

![image](https://user-images.githubusercontent.com/7677050/66744785-e3337a80-eeaf-11e9-8d0d-b7101c76ef12.png)

[2019-10-14 10:26] whDongRui commented on #985
/assign @wansir
截图中的两个提示应该是查询分类和应用信息时，这两个接口返回的错误信息，得后端帮忙看一下是什么原因导致的。

[2019-10-14 10:28] mayuhope commented on #987
/area installation
/milestone 2.1.0
/assign @pixiake

[2019-10-14 10:37] mayuhope commented on #985
/remove-area storage

[2019-10-14 11:19] runzexia commented on #984
查看下kubesphere-devops-system下的pod状态

[2019-10-14 11:37] jiufangliuyun opened #988 "harbor默认密码登录失败"
harbor安装后发现ntp时间有问题，这时，harbor能够登录，但是调整好ntp时间后，发现harbor无法登录了，于是我按照网上的在postgresql上更改数据库密码update harbor_user set password='a71a7d0df981a61cbb53a97ed8d78f3e', salt='ah3fdh5b7yxepalg9z45bu8zb36sszmr'  where username='admin';但还是无法登录，最后我uninstall，然后install，还是无法登录，这个问题出在哪呢？
环境：三台物理机的测试集群，32c,128g内存
版本：kubesphere2.0.2

[2019-10-14 14:27] Zephery commented on #979
谢谢回答，云效的图形化，还有操作上会更好，更能理解，后期功能希望能参考云效来做吧。

[2019-10-14 14:28] leoendless commented on #972
这个环境有其它 job 吗， 这里的数字是 quota 里的 used

[2019-10-14 14:37] leoendless commented on #936
Fixed

[2019-10-14 14:59] leoendless commented on #969
Fixed

[2019-10-14 15:00] leoendless commented on #962
Fixed

[2019-10-14 15:00] leoendless commented on #959
Fixed

[2019-10-15 00:53] ChangMuChen opened #989 "Kubernetes V1.16已经不再支持 apiversion “extensions/v1beta”"
Kubernetes V1.16已经不再支持 apiversion “extensions/v1beta”,导致在安装的时候helm报错，是否考虑使用“apps/v1”
报错信息如下：
[code]

[2019-10-15 02:21] minghaoye commented on #931
/fixed

[2019-10-15 02:30] justahole commented on #932
fixed

[2019-10-15 03:08] rayzhou2017 commented on #972
是的，有job，但这个太迷惑人了，跟job/cronjob quota使用量一样的问题。

[2019-10-15 03:13] rayzhou2017 opened #992 "节点内存使用量有误"
* [ ] 节点的内存监控数字感觉有误
![Screen Shot 2019-10-15 at 11 11 54 AM](https://user-images.githubusercontent.com/28859385/66797200-a6619500-ef3c-11e9-8c29-c609169ec5cd.png)
![Screen Shot 2019-10-15 at 11 12 03 AM](https://user-images.githubusercontent.com/28859385/66797220-b5484780-ef3c-11e9-85cf-1ae9c90702d3.png)
![Screen Shot 2019-10-15 at 11 12 10 AM](https://user-images.githubusercontent.com/28859385/66

[2019-10-15 03:21] rayzhou2017 commented on #969
还没fix，依然显示巨大无比的一个数字，而且拽上面两个横条右边的bar（limit值）不是很灵敏，需要拖一个相对比较大跨度才移动。
![Screen Shot 2019-10-15 at 11 19 48 AM](https://user-images.githubusercontent.com/28859385/66797552-af9f3180-ef3d-11e9-9228-d52f93f9cc69.png)

[2019-10-15 03:23] minghaoye commented on #971
fixed

[2019-10-15 03:26] leoendless commented on #972
感觉是 job 过滤的问题，这的计数调整成不用 quota 的吧

[2019-10-15 03:29] rayzhou2017 commented on #962
没有fix呀，还是老样子

[2019-10-15 03:32] mayuhope opened #993 "流水线最后信息没有翻译"
![image](https://user-images.githubusercontent.com/7677050/66798082-79fb4800-ef3f-11e9-9e53-481af66a543f.png)

[2019-10-15 03:33] mayuhope commented on #993
/area console
/milestone 2.1.0
/assign @leoendless

[2019-10-15 03:35] rayzhou2017 commented on #959
还没有fix，没有显示删除中

[2019-10-15 03:37] rayzhou2017 commented on #956
verified on 2.1.0-dev-20191015

[2019-10-15 03:37] #956 closed

[2019-10-15 03:38] rayzhou2017 commented on #955
verified on 2.1.0-dev-20191015

[2019-10-15 03:38] #955 closed

[2019-10-15 03:39] rayzhou2017 commented on #931
verified on 2.1.0-dev-20191015

[2019-10-15 03:39] #931 closed

[2019-10-15 03:45] rayzhou2017 commented on #905
monitoring还没有改过来. /cc @justahole

![Screen Shot 2019-10-15 at 11 43 42 AM](https://user-images.githubusercontent.com/28859385/66798628-399cc980-ef41-11e9-9094-4509b4b95643.png)
![Screen Shot 2019-10-15 at 11 43 58 AM](https://user-images.githubusercontent.com/28859385/66798635-3e617d80-ef41-11e9-9ad4-8f17dfbba9a4.png)
![Screen Shot 2019-10-15 at 11 44 39 AM](https://user-images.githubusercontent.c

[2019-10-15 03:57] rayzhou2017 commented on #989
这个需要等helm的支持吧

[2019-10-15 04:01] leoendless commented on #969
给看下你的环境

[2019-10-15 04:11] mayuhope opened #994 "流水线运行失败"
1、按照这个示例 https://kubesphere.io/docs/v2.0/zh-CN/quick-start/devops-online/  部署流水线；

2、结果流水线运行失败了：
![image](https://user-images.githubusercontent.com/7677050/66799710-c5642500-ef44-11e9-89ee-37c8599fea18.png)

![image](https://user-images.githubusercontent.com/7677050/66799721-d57c0480-ef44-11e9-8ddb-172eb8a8c0b4.png)

[2019-10-15 04:12] mayuhope commented on #994
/area installation
/milestone 2.1.0
/assign @soulseen

[2019-10-15 05:49] #926 closed

[2019-10-15 05:51] Carlosfengv commented on #968
对服务类型 进行了调整，新增自定义创建；
设计稿 zpl://screen?pid=5cbe7fbc2f55d8b73f56811b&sid=5d43f5115e3f3d88d204c548

[2019-10-15 06:25] mayuhope opened #995 "删除devops工程凭证时，确认语中的名称不正确"
1、新建一个devops工程，新建一个凭证kubeconfig；

2、删除该凭证，结果确认提示语中名称是undefined(见下图)，导致的结果是必须输入undefined才能删除：

![image](https://user-images.githubusercontent.com/7677050/66805394-7d9ac900-ef57-11e9-8fec-1ce9b965ea00.png)

[2019-10-15 06:25] mayuhope commented on #995
/area console
/milestone 2.1.0
/assign @leoendless

[2019-10-15 06:36] mayuhope opened #996 "流水线部署确认时，提示语和proceed未翻译"
![image](https://user-images.githubusercontent.com/7677050/66806040-1b42c800-ef59-11e9-8a34-d0a067807ed3.png)

[2019-10-15 06:37] mayuhope commented on #996
/area console
/milestone 2.1.0
/assign @leoendless

[2019-10-15 06:45] 2young2simple opened #997 "安装时停止在某一过程中，无报错无信息"
**问题描述**
使用以下命令安装 KubeSphere Advanced Edition 2.0.2 ，使用 All-in-one 模式
[code]
使用安装时每次停留在这行
[code]
安装了3次均停在这个位置不进行下去， 等待了1个小时以上...不知道是哪有问题，有哪里可以看到一些具体原因吗？ 或者详细的下载信息

**安装环境的硬件配置**

VMware虚拟机/Centos 7.4/全新环境
2Cpu   8G内存  20G存储

**错误信息或截图**

![image](https://user-images.githubusercontent.com/7031722/66805950-dd45a400-ef58-11e9-94fc-b07589209500.png)

**Installer版本**

 KubeSphere Advanced Edition 2.0.2

[2019-10-15 06:45] wanjunlei opened #998 "workspace-regular用户创建的项目名称为undefined"
**Describe the bug(描述下问题)**
用户角色为cluster-regular，项目角色为workspace-regular，创建项目时，项目名称显示为undefined

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/53003665/66806540-63aeb580-ef5a-11e9-8684-a9cd59565062.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:2.1.0

/area console
/kind bug
/milestone 2.1.0

[2019-10-15 06:51] mayuhope opened #999 "流水线活动页面空白"
![image](https://user-images.githubusercontent.com/7677050/66806913-3dd5e080-ef5b-11e9-91e3-e68089ab43d1.png)

点击上图的活动，结果页面空白：
![image](https://user-images.githubusercontent.com/7677050/66806931-4201fe00-ef5b-11e9-8f69-52afefa7b9c5.png)

[2019-10-15 06:52] mayuhope commented on #999
/area console
/milestone 2.1.0
/assign @minghaoye

[2019-10-15 07:00] rayzhou2017 opened #1000 "平台自定义角色文案错误"
* [x] 平台是应用管理，但自定义角色是应用模版
![Screen Shot 2019-10-15 at 3 00 14 PM](https://user-images.githubusercontent.com/28859385/66807835-88a42800-ef5c-11e9-88cb-fa0ecc2370fb.png)

[2019-10-15 07:10] wujay77 opened #1001 "All-in-one离线安装，Repos中没有Ubuntu18.04.3的iso，os_check.sh不通过"
**问题描述**
kubesphere-all-offline-advanced-2.0.2
All-in-one离线安装，Repos中没有Ubuntu18.04.3的iso，os_check.sh不通过
有没有可以下载ubuntu-18.04.3-server-amd64.iso的地址？

[2019-10-15 07:15] cugbzc opened #1002 "阿里云centos7.6安装all-in-one报错"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**：

安装all-in-one报错，按照常见错误问题，我执行了pip install --upgrade setuptools==30.1.0 仍然报相同的错误。
**安装环境的硬件配置**
阿里云Centos7.6.1810，8核32GB，500GB云盘。

**错误信息或截图**
![image](https://user-images.githubusercontent.com/56579138/66808752-76c38480-ef5e-11e9-8b45-8fdfcb9ffd42.png)

**Installer版本**
kubesphere-all-advanced-2.0.2

[2019-10-15 07:27] mayuhope opened #1003 "流水线运行到push with tag这一步结果失败，提示:git unknown option `ipv4'"
![image](https://user-images.githubusercontent.com/7677050/66809551-251bf980-ef60-11e9-93a0-28fb08c043ce.png)
+ git push 'http://****:****@github.com/****/devops-java-sample.git' --tags --ipv4
error: unknown option `ipv4'
usage: git push [<options>] [<repository> [<refspec>...]]

    -v, --verbose         be more verbose
    -q, --quiet           be more quiet
    --repo <repository>   repository

[2019-10-15 07:29] mayuhope commented on #1003
/area devops
/milestone 2.1.0
/assign @soulseen

[2019-10-15 07:39] rayzhou2017 commented on #973
/cc @FeynmanZhou

[2019-10-15 07:42] rayzhou2017 commented on #969
verified on 2.1.0-dev-20191015

[2019-10-15 07:42] #969 closed

[2019-10-15 07:46] rayzhou2017 commented on #962
感觉还是不对，yaml直接去掉双引号了
![Screen Shot 2019-10-15 at 3 45 50 PM](https://user-images.githubusercontent.com/28859385/66810993-dde33800-ef62-11e9-8513-758eb81efffe.png)

[2019-10-15 07:48] rayzhou2017 commented on #962
正确的行为应该是我在UI的args里填写echo,"hello world"，在yaml里应该是
[code]

[2019-10-15 07:52] jazzmr commented on #1002
![image](https://user-images.githubusercontent.com/5153501/66811465-b8a2f980-ef63-11e9-9a2f-cb22a4665736.png)
我是一直卡住不动啦

[2019-10-15 07:56] rayzhou2017 commented on #962
这个地方的解析应该是按照分号解析，每个段落是一行，每行前面加一个-，至于每行用户输入什么照搬就可以了。

[2019-10-15 07:57] cugbzc commented on #1002
卡住不动，可能是网速太慢，在下载容器，耐心等吧

[2019-10-15 08:12] mayuhope commented on #1003
/kind  bug

[2019-10-15 08:12] mayuhope commented on #999
/kind bug

[2019-10-15 08:12] mayuhope commented on #995
/kind bug

[2019-10-15 08:12] mayuhope commented on #994
/kind bug

[2019-10-15 08:14] wanjunlei opened #1006 "创建密钥时无法添加数据"
**Describe the bug(描述下问题)**
创建密钥时无法添加数据

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:2.1.0

/area console
/kind bug
/milestone 2.1.0

[2019-10-15 08:20] wanjunlei opened #1007 "创建存储卷时，存储卷大小不支持输入"
**Describe the bug(描述下问题)**
创建存储卷时，存储卷大小不支持输入

![image](https://user-images.githubusercontent.com/53003665/66813648-b773cb80-ef67-11e9-9620-b77c083252a4.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:2.1.1

/area console
/kind bug
/milestone 2.1.0

[2019-10-15 08:24] minghaoye commented on #996
这些都是demo的 Jenkinsfile里写的，不用翻译

[2019-10-15 08:25] minghaoye commented on #999
fixed

[2019-10-15 08:26] minghaoye commented on #995
fixed

[2019-10-15 08:27] minghaoye commented on #993
这是由Jenkins 返回的用户消息，也不太好翻译

[2019-10-15 08:38] minghaoye commented on #980
<img width="944" alt="Screen Shot 2019-10-15 at 4 37 08 PM" src="https://user-images.githubusercontent.com/22934997/66815051-32d67c80-ef6a-11e9-82ce-cdc9ea59bdae.png">
没有复现，可以给个环境地址么

[2019-10-15 08:49] mayuhope opened #1008 "主机监控页面，操作存在穿透"
![image](https://user-images.githubusercontent.com/7677050/66815854-990fcf00-ef6b-11e9-91d7-91f44b0e8234.png)

可通过时间下拉框点击切换下方的点点（时间间隔）

[2019-10-15 08:49] leoendless commented on #929
fixed

[2019-10-15 08:50] leoendless commented on #1007
fixed

[2019-10-15 08:53] mayuhope commented on #1008
/area devops
/milestone 2.1.0
/kind bug

[2019-10-15 08:58] mayuhope commented on #1008
/remove-area devops

[2019-10-15 08:59] leoendless commented on #1000
fixed

[2019-10-15 08:59] leoendless commented on #998
fixed

[2019-10-15 09:01] leoendless commented on #972
fixed

[2019-10-15 09:02] leoendless commented on #968
fixed

[2019-10-15 09:02] leoendless commented on #964
fixed

[2019-10-15 09:15] mayuhope opened #1009 "企业空间下容器组均运行失败，此企业空间也参与了企业空间资源排行"
如下图所示，企业空间s2i-test下有1个项目，且项目下有一个容器组，只是运行失败了：
![image](https://user-images.githubusercontent.com/7677050/66818054-4df7bb00-ef6f-11e9-9bfd-c2b99426baee.png)

但该企业空间参与了资源排行，而且容器组数量显示为0：
![image](https://user-images.githubusercontent.com/7677050/66817982-2f91bf80-ef6f-11e9-97b5-fb6c37421fb8.png)

[2019-10-15 09:18] mayuhope commented on #1009
/area  monitoring
@huanggze

[2019-10-15 09:19] mayuhope commented on #1009
/milestone 2.1.0

[2019-10-15 09:24] leoendless commented on #962
这个是一个yaml转换库的问题，需要更改输入方式吗，

这样需要添加的判断反而更多了

[2019-10-15 09:28] rayzhou2017 commented on #962
我不清楚yaml转换库具体是什么问题，我听起来应该没那么复杂，代码应该是类似这样
 words = string.split(",")
for word in words
      print "-" + word
      print newline

[2019-10-15 09:33] mayuhope commented on #1009
/assign @huanggze

[2019-10-15 09:40] Carlosfengv opened #1010 "应用切换详情 会出现两个loading icon"
RT；

- [ ] 预期是1个loading 的icon

![image](https://user-images.githubusercontent.com/23092051/66820172-c3b15600-ef72-11e9-9fae-6f2e8a885abf.png)

[2019-10-15 09:46] rayzhou2017 commented on #1002
如果是网速慢的话就把带宽加大一些，下载完了再改小带宽，带宽影响对安装速度影响很大。

[2019-10-15 09:51] mayuhope opened #1011 "项目容器组资源配额设置为0后，已使用情况出现错误显示为Infinity%"
1、进入项目-项目基本信息-项目管理，编辑配额，设置容器组资源配额为0；

2、查看统计情况，发现结果如下：
![image](https://user-images.githubusercontent.com/7677050/66821041-58688380-ef74-11e9-824d-f0ab3cec4c1b.png)

[2019-10-15 09:52] mayuhope commented on #1011
/area console
/milestone 2.1.0
/assign @leoendless

[2019-10-15 09:54] mayuhope commented on #1011
/kind  bug

[2019-10-15 09:58] benjaminhuo commented on #992
这个我们可能会调整下，现在算的 buff 少算了内核的可回收的 buff，所以算出来可用内存小了点，实际用量大了点

[2019-10-15 09:59] rayzhou2017 opened #1012 "应用计数出错"
* [ ] 出现了NaN
![Screen Shot 2019-10-15 at 5 58 49 PM](https://user-images.githubusercontent.com/28859385/66821697-6f5ba580-ef75-11e9-91e5-01d51acbc9ff.png)

[2019-10-15 10:08] Forget-C commented on #907
谢谢 已经通过标签的方式加进去了

[2019-10-15 10:09] rayzhou2017 opened #1013 "应用部署name长度文案或校验有错"
* [ ] 一个说最长15，一个说要小于15
![Screen Shot 2019-10-15 at 6 08 19 PM](https://user-images.githubusercontent.com/28859385/66822445-d4fc6180-ef76-11e9-8ceb-d12d5394d5b9.png)

[2019-10-15 10:13] Forget-C opened #1014 "kubesphere中需要发送邮件的pod有哪些"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
集群中只有一个node有发送邮件的权限，我们对这个node打了标签，需要将kubesphere中发送邮件的pod分配到这个node上。 请问kubesphere中需要发送邮件的pod有哪些呢？ 为kubesphere的pod添加node选择器是通过kubectl edit 还是其他更方便的方法呢
**安装环境的硬件配置**
物理机，已正常运行

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
无
**Installer版本**
2.0.2

[2019-10-15 10:37] whDongRui commented on #1013
好的，我把这个表单下面的提示文字修改一下吧，和后端验证的逻辑保持一致。就改成“小于15个字符，......"

[2019-10-15 10:43] zryfish commented on #997
这一步是下载安装所需镜像的步骤，根据网络状况的不同，这一步所花的时间不同，建议安装前将网络带宽临时调大

[2019-10-15 10:47] zryfish commented on #1014
可以将 kubesphere-alerting-system 下 notification 开头的 deployment 固定到你说的节点。固定节点的话，建议先给节点加label，通过 labelSelector 来选择节点

[2019-10-15 10:49] zryfish commented on #989
KubeSphere 目前不支持 k8s v1.16 ，这个不仅需要 helm 更新，还需要对应的 charts 更新，需要等一段时间

[2019-10-15 11:29] huanggze commented on #992
内存使用量新算式：
`Used 计算值 = Total - Free - Cached - Buffer - Slab (or SReclaimable?)`

测试方式：
`free -k && grep 'Mem\|Buffers\|Cached\|Slab\|SReclaimable' /proc/meminfo && uname -a`

误差百分比：
`% = 1- 计算值/free返回值`

| Linux Kernel | 误差百分比（- Slab） | 误差百分比（-SReclaimable） |
|---|---|---|
| 5.0.0-31-generic |  ||

[2019-10-15 11:31] huanggze commented on #992
#### Sample 1

5.0.0-31-generic

![image](https://user-images.githubusercontent.com/22350668/66827866-3d9d0b80-ef82-11e9-8d8b-3197a9f73464.png)

[2019-10-15 11:34] leoendless commented on #1013
验证规则也得改成14

[2019-10-15 11:35] benjaminhuo commented on #992
那用 SReclaimable 吧

Used 计算值 = Total - Free - Cached - Buffer - SReclaimable

[2019-10-15 11:45] rayzhou2017 commented on #1000
verified on 2.1.0-dev-20191015

[2019-10-15 11:45] #1000 closed

[2019-10-15 11:46] rayzhou2017 commented on #968
verified on 2.1.0-dev-20191015

[2019-10-15 11:46] #968 closed

[2019-10-15 11:48] rayzhou2017 commented on #958
verified on 2.1.0-dev-20191015

[2019-10-15 11:48] #958 closed

[2019-10-15 11:50] benjaminhuo commented on #992
4.4 内核用 used 计算值和实际值的差距，是由把 slab 中不可回收的 SUnreclaim 也算在可回收的 buff里面了，不太对

[2019-10-15 12:52] huanggze commented on #1009
确实几处 “容器组数量” 的含义是不一致的。Non-terminated Pod Count、Running Pod Count, Abnormal Pod Count。需要统一文案和指标使用。牵涉面较大，看 2.1 是否有时间

[2019-10-15 12:59] leoendless commented on #1012
再check下

[2019-10-15 12:59] leoendless commented on #1011
Fixed

[2019-10-15 13:00] leoendless commented on #1006
Fixed

[2019-10-15 14:58] cnicy opened #1015 "gitlab单独安装bug"
在按照：https://kubesphere.io/docs/v2.0/zh-CN/installation/gitlab-installation/
进行单独安装gitlab时，我选择：2 他安装的是harbor，我选择：1 安装的才是gitlab
################################################
         gitlab-harbor Installer Menu
################################################
*   1) Harbor
*   2) Gitlab
*   3) Harbor-Gitlab
################################################
https://kubesphere.io/               201

[2019-10-16 01:54] wujay77 opened #1016 "All-in-one在线安装，安装过程等了很久，下载了很多镜像。现在提示这种错误：IPVS rr tcp 10.233.0.1:443 no destination available"
**问题描述**
kubesphere-all-advanced-2.0.2
物理机Ubuntu18.04.3，All-in-one在线安装，安装过程等了很久，下载了很多镜像。现在提示这种错误：IPVS rr tcp 10.233.0.1:443 no destination available，请问怎么解决？谢谢！

[2019-10-16 02:05] #979 closed

[2019-10-16 02:29] jinmin527 opened #1017 "kubesphere项目中的容器日志里面不能显示日志内容，而通过kubectl logs可以正常查看日志"
kubesphere项目中的容器日志里面不能显示日志内容，而通过kubectl logs可以正常查看日志

[2019-10-16 02:38] Carlosfengv opened #1018 "Table 列表不定期会置灰1s 左右"
RT；
**复现方法**
在容器组页面多停留一会，即可看到table 列表会有1s 左右的置灰状态一闪而过；

**预期**

- [ ]  当资源状态发生变化时，局部更新

[2019-10-16 02:40] Carlosfengv commented on #1018
/area console
/kind bug
/milestone 2.1.0

[2019-10-16 02:41] Carlosfengv commented on #1018
/assign @leoendless

[2019-10-16 02:56] #1001 closed

[2019-10-16 02:57] wujay77 commented on #1001
离线安装2.0.2暂时不支持Ubuntu18.04

[2019-10-16 03:10] 2804337402 commented on #957
多谢

[2019-10-16 03:10] #957 closed

[2019-10-16 03:12] rayzhou2017 commented on #959
verified on 2.1.0-dev-20191016

[2019-10-16 03:12] #959 closed

[2019-10-16 03:17] huanggze commented on #1017
请打印以下信息看看：
[code]

首次安装检查是否对容器日志路径设置了软连接，且没有修改 installer 安装时日志挂盘参数 #680

[2019-10-16 03:20] rayzhou2017 commented on #912
/cc @leoendless 普通用户没有下载kubeconfig功能？

[2019-10-16 03:24] rayzhou2017 commented on #960
/cc @Carlosfengv

[2019-10-16 03:33] rayzhou2017 opened #1019 "文档需更新"
* [x] 2.1 菜单变更为高级设置了
![Screen Shot 2019-10-16 at 11 32 30 AM](https://user-images.githubusercontent.com/28859385/66886037-b47ce780-f008-11e9-831b-b5710bb4118b.png)

[2019-10-16 03:37] leoendless commented on #912
@wansir 看下吧

[2019-10-16 03:39] rayzhou2017 opened #1020 "项目资源用量没有曲线"
* [x] 没看见曲线
![Screen Shot 2019-10-16 at 11 36 13 AM](https://user-images.githubusercontent.com/28859385/66886190-281ef480-f009-11e9-9fe2-d54985351d88.png)

[2019-10-16 03:51] wanjunlei commented on #964
![image](https://user-images.githubusercontent.com/53003665/66886788-3241f280-f00b-11e9-96ed-c00dc5f3ca27.png)
还是有问题

[2019-10-16 03:55] rayzhou2017 opened #1021 "网关LB设置"
* [ ] 新版本要对接更多云厂商的LB以及物理部署LB：Porter，文案也要做相应的修改
![Screen Shot 2019-10-16 at 11 54 20 AM](https://user-images.githubusercontent.com/28859385/66886947-ca3fdc00-f00b-11e9-8e87-c2eefece2496.png)

[2019-10-16 03:58] huanggze opened #1022 "创建项目报错"
在企业空间下，创建 ns， 点 确定 按钮第一次UI 无反应。第二次点击才创建出来，并报错

![image](https://user-images.githubusercontent.com/22350668/66887029-24d93800-f00c-11e9-87c0-263b648718dc.png)

[2019-10-16 04:01] huanggze commented on #1022
/kind bug
/milestone 2.1.0
/area console
/assign @leoendless

[2019-10-16 04:07] rayzhou2017 opened #1023 "s2i 项目角色说明"
* [x] 最好有一个中英文的说明
![Screen Shot 2019-10-16 at 12 06 41 PM](https://user-images.githubusercontent.com/28859385/66887397-6dddbc00-f00d-11e9-9033-6ea812088a3d.png)

[2019-10-16 04:08] rayzhou2017 commented on #1023
这个用户权限列表是空的，是正常的吧？就是什么权限都没有

[2019-10-16 04:21] huanggze opened #1024 "中文日志高亮不完全"
英文里的单词、中文的单字是最小可分割单元

![image](https://user-images.githubusercontent.com/22350668/66887975-68817100-f00f-11e9-8359-af7e7d1fb29d.png)

[2019-10-16 04:22] huanggze commented on #1024
/assign @justahole
/area console
/milestone 2.1.0

[2019-10-16 04:52] runzexia commented on #1023
@wansir 正常来说应该没这个角色吧

[2019-10-16 04:54] runzexia commented on #1023
/area iam

[2019-10-16 04:55] Carlosfengv opened #1025 "配额设置需要清除空数据"
RT；

- [ ] 默认不显示空数据的item,且只能有一个item处于空数据状态；

![image](https://user-images.githubusercontent.com/23092051/66889185-0e36df00-f014-11e9-8beb-5aa57b326e55.png)

[2019-10-16 04:55] Carlosfengv commented on #1025
/area console
/kind bug
/milestone 2.1.0
/assign @leoendless

[2019-10-16 05:14] rayzhou2017 opened #1026 "项目设置菜单问题"
* [ ] 鼠标放上去或者点击箭头收不回去，其它的都可以，在FF下测试的
![Screen Shot 2019-10-16 at 1 14 06 PM](https://user-images.githubusercontent.com/28859385/66889977-e2692880-f016-11e9-8732-de1dd34fdfa1.png)

[2019-10-16 05:18] ChangMuChen commented on #989
你说的对，我正在期待有其他的方案

[2019-10-16 05:22] wujay77 commented on #1016
在确保防火墙已经关闭的情况下ufw disable
我又关闭了SELINUX：
apt install selinux-utils
setenforce 0
$ vim /etc/selinux/config
写入如下内容，
SELINUX=disabled
再确保安装了ipvsadm和ipset之后，又重新./install.sh安装了一遍，成功了。但控制台依然不断打印IPVS rr tcp 10.233.0.1:443 no destination available这种错误，不过控制台界面30880访问没有问题。

[2019-10-16 05:38] leoendless commented on #1026
这里的展示策略是鼠标悬浮时自动展开子菜单

[2019-10-16 05:59] #966 closed

[2019-10-16 06:14] rayzhou2017 commented on #1026
哦，我理解错了，如果选择这个菜单下的子项是不会收起来的

[2019-10-16 06:14] #1026 closed

[2019-10-16 06:26] jinmin527 commented on #1017
我是在已有的k8s集群上面用ks-installer进行安装的。没有修改过日志的路径。
kubectl logs -n kubesphere-logging-system fluent-bit-4zlj6 -c fluent-bit

[2019/10/08 03:23:55] [ info] [storage] initializing...
[2019/10/08 03:23:55] [ info] [storage] in-memory
[2019/10/08 03:23:55] [ info] [storage] normal synchronization mode, checksum disabled
[2019/10/08 03:23:55] [ info] [engine] started (pid=15)
[2019/10/08 03:23:55] [ info] [fi

[2019-10-16 06:28] leoendless commented on #1020
@justahole 应该是 chart 库的问题

[2019-10-16 06:28] leoendless commented on #1013
Fixed

[2019-10-16 06:31] huanggze opened #1027 "关闭了 Istio，创建应用时仍有 “应用治理“、sidecar 等信息"
![image](https://user-images.githubusercontent.com/22350668/66893830-8f48a300-f021-11e9-93c4-ee42d10621c7.png)

[2019-10-16 06:33] huanggze opened #1028 "创建自定义应用下拉菜单展示不全"
Google Chrome 已是最新版本
版本 77.0.3865.120（正式版本） （64 位）

![image](https://user-images.githubusercontent.com/22350668/66893932-c8811300-f021-11e9-9243-ab342c1a3a75.png)

[2019-10-16 06:34] huanggze commented on #1028
/area console
/milestone 2.1.0
/assign @leoendless

[2019-10-16 06:37] huanggze opened #1029 "应用组件不能为空 提示一直驻留在界面上"
第一次未添加任何组件点确定的情况下，提示“应用组件不能为空”。但该信息一直驻留在界面上

![image](https://user-images.githubusercontent.com/22350668/66894170-4f35f000-f022-11e9-81c7-44268bf747b1.png)

[2019-10-16 06:43] huanggze opened #1030 "部署示例应用点击确定没反应"
![image](https://user-images.githubusercontent.com/22350668/66894533-3da11800-f023-11e9-8871-5cec29a30389.png)

[2019-10-16 06:43] huanggze commented on #1030
是提示信息放在了底部？

![image](https://user-images.githubusercontent.com/22350668/66894563-55789c00-f023-11e9-9213-3131cd8c0542.png)

/assign @leoendless

[2019-10-16 06:44] rayzhou2017 opened #1031 "输入镜像的页面link错误"
* [x] “创建镜像仓库密钥” link是错误的
![Screen Shot 2019-10-16 at 2 43 41 PM](https://user-images.githubusercontent.com/28859385/66894597-6f19e380-f023-11e9-851c-f51495d014a5.png)

[2019-10-16 06:50] leoendless commented on #1030
是的，之后会改善提示

[2019-10-16 06:50] rayzhou2017 opened #1032 "文案"
* [x] 有英文没有翻译
![Screen Shot 2019-10-16 at 2 50 30 PM](https://user-images.githubusercontent.com/28859385/66894949-48a87800-f024-11e9-9ba0-f1320dde8466.png)

* [x] b2i没有翻译 @runzexia 提供一下文案
![Screen Shot 2019-10-16 at 4 12 36 PM](https://user-images.githubusercontent.com/28859385/66900631-c58d1f00-f02f-11e9-8c9a-aa73dadd2f22.png)

[2019-10-16 06:51] rayzhou2017 commented on #1032
密钥也是没有翻译

[2019-10-16 06:51] huanggze opened #1033 "应用列表翻页数字 NaN"
![image](https://user-images.githubusercontent.com/22350668/66895035-7097db80-f024-11e9-85a6-b75b6b2bc607.png)

[2019-10-16 06:52] huanggze commented on #1033
/assign @leoendless
/milestone 2.1.0
/area console

[2019-10-16 06:53] huanggze commented on #1033
在搜索栏，搜索过应用。而且好像搜索功能没生效？？

[2019-10-16 07:01] huanggze commented on #1017
目前看 fluent-bit 是好的。那可能是和 es 有关

UI 上有没有提示?

在终端下看看：
[code]

[2019-10-16 07:05] zhuyuehao opened #1034 "2.1正式版本大概什么时候会发布"
2.1正式版本大概什么时候会发布

[2019-10-16 07:10] huanggze opened #1035 "添加应用仓库后，再次回到企业空间应用仓库页面，没有显示且重新添加报错"
我添加了 google stable 应用仓库后，再回到这个页面，没有显示 google stable 。只显示了最早加入的 elastic
![image](https://user-images.githubusercontent.com/22350668/66896229-ff0d5c80-f026-11e9-90e0-9ecef2f28db9.png)

而且再次添加 google stable，报错
![image](https://user-images.githubusercontent.com/22350668/66896078-c8374680-f026-11e9-9712-eb0c9f5ff1f7.png)

[2019-10-16 07:11] huanggze commented on #1035
/area app-management
/kind bug
/assign @wansir @pengcong06

[2019-10-16 07:15] rayzhou2017 commented on #1034
大概月底，正在测试。如果想体验dev版，到官网上去查看安装方式

[2019-10-16 07:16] zhuyuehao commented on #1034
点赞

[2019-10-16 07:19] #1030 closed

[2019-10-16 07:23] huanggze opened #1036 "应用部署，不支持的 API version"
![image](https://user-images.githubusercontent.com/22350668/66897116-e43be780-f028-11e9-80c5-4c0db7d0f702.png)

[2019-10-16 07:24] huanggze commented on #1036
/assign @wansir
/milestone 2.1.0
/area app-management

[2019-10-16 07:32] zryfish commented on #1036
这个跟k8s版本有关， `kubectl api-versions` 可以看到当前支持的 api version，1.15已经没有v1alpha1这个version了，得chart升级才行

[2019-10-16 07:35] leoendless commented on #1033
这个需要调整下接口

[2019-10-16 07:39] huanggze opened #1037 "应用仓库部署一直等待中"
第一次部署 fluentd，一直等到中

![image](https://user-images.githubusercontent.com/22350668/66897958-b8216600-f02a-11e9-9881-0d26fa508f3d.png)

到节点检查 helm，尝试手动 `helm install stable/fluentd --name my-release`，报错：
![image](https://user-images.githubusercontent.com/22350668/66898018-dd15d900-f02a-11e9-8d5f-f1fb737a20c5.png)

需要手动执行 `helm update`。之后，后台可以 `helm install` 了
![image](https://user-images.githubuserco

[2019-10-16 07:40] huanggze commented on #1037
/assign @wansir
/area app-management
/kind bug
/milestone 2.1.0

[2019-10-16 07:42] wanjunlei commented on #980
http://139.198.191.57:30880
admin
P@88w0rd

[2019-10-16 07:46] runzexia commented on #704
/milestone 3.0

[2019-10-16 07:46] runzexia commented on #704
/milestone 3.0.0

[2019-10-16 07:46] wanjunlei commented on #980
http://139.198.191.57:30880

[2019-10-16 07:47] wanjunlei commented on #978
http://139.198.191.57:30880

[2019-10-16 08:08] #1036 closed

[2019-10-16 08:53] rayzhou2017 opened #1039 "创建告警规则报错"
* [ ] 普通用户创建告警规则的时候报错如下
![Screen Shot 2019-10-16 at 4 53 14 PM](https://user-images.githubusercontent.com/28859385/66903655-72b66600-f035-11e9-80ec-2388660c1a50.png)

[2019-10-16 08:57] wanjunlei commented on #980
@minghaoye http://139.198.191.57:30880
![image](https://user-images.githubusercontent.com/53003665/66904014-00925100-f036-11e9-9744-6d0e3e593e23.png)

[2019-10-16 09:09] rayzhou2017 commented on #1033
devops 下也有这个问题
![Screen Shot 2019-10-16 at 5 09 38 PM](https://user-images.githubusercontent.com/28859385/66905064-b8742e00-f037-11e9-8903-930502e56ab7.png)

[2019-10-16 09:13] #1018 closed

[2019-10-16 09:13] wanjunlei commented on #1007
16号的版本，还有这个问题

[2019-10-16 09:14] leoendless commented on #1033
fixed

[2019-10-16 09:14] leoendless commented on #1033
devops @minghaoye 看下吧

[2019-10-16 09:15] rayzhou2017 opened #1040 "语言设置"
* [ ] 中文环境下 label其实应该是 “Language”，英文环境下label是“语言”
![Screen Shot 2019-10-16 at 5 13 51 PM](https://user-images.githubusercontent.com/28859385/66905480-83b4a680-f038-11e9-99a4-ca094412aba8.png)

[2019-10-16 09:15] leoendless commented on #1029
fixed

[2019-10-16 09:15] leoendless commented on #1028
fixed

[2019-10-16 09:15] leoendless commented on #1027
fixed

[2019-10-16 09:16] leoendless commented on #1025
fixed

[2019-10-16 09:18] huanggze opened #1041 "删除应用仓库会白屏"
![image](https://user-images.githubusercontent.com/22350668/66905685-e8700100-f038-11e9-9d7d-1e12e1e38b06.png)

[2019-10-16 09:18] huanggze commented on #1041
/kind bug
/area console
/milestone 2.1.0
/assign @leoendless

[2019-10-16 09:23] leoendless commented on #1040
感觉不是很有必要，不认识的根本都找不到这个地方

[2019-10-16 09:27] rayzhou2017 commented on #1040
这应该是正确的做法，比如对于English speaker，他点开这个弹框也不知道这个是语言设置，一般人会点一级，再往下一级点开的概率就非常低。

[2019-10-16 09:29] leoendless commented on #1040
最合适还是用图标引导吧

[2019-10-16 09:30] huanggze opened #1042 "上传应用，点击部署测试，出现大量同名重复部署"
部署按钮响应非常慢，可能是我一次点急了，点了四次。弹出多个部署成功的对话框

![image](https://user-images.githubusercontent.com/22350668/66906526-76002080-f03a-11e9-9ec0-f029214ce0e5.png)

![image](https://user-images.githubusercontent.com/22350668/66906571-86180000-f03a-11e9-92c3-ec255fa042a6.png)

![image](https://user-images.githubusercontent.com/22350668/66906486-6385e700-f03a-11e9-835f-06a8c6b653bd.png)

![image](https://user-ima

[2019-10-16 09:32] huanggze commented on #1042
/area console
/kind bug
/milestone 2.1.0
/assign @leoendless

[2019-10-16 09:37] rayzhou2017 commented on #1033
企业空间也是这个问题
![Screen Shot 2019-10-16 at 5 37 51 PM](https://user-images.githubusercontent.com/28859385/66907236-9ed4e580-f03b-11e9-98b3-b43fc536e5e5.png)

[2019-10-16 09:49] huanggze opened #1043 "应用模板下载成功弹框问题"
这个弹框很奇怪。我还没开始下载就弹出成功了

![image](https://user-images.githubusercontent.com/22350668/66908175-3850c700-f03d-11e9-98e5-380584d2527f.png)

[2019-10-16 09:49] #1043 closed

[2019-10-16 09:54] sheeplinjie commented on #669
我也有这样的问题，怎么解决

[2019-10-16 09:57] huanggze opened #1044 "等待中的应用无法在二级页面删除，且一级页面删除时显示的应用名和列表中的应用名不同"
等待中的应用

![image](https://user-images.githubusercontent.com/22350668/66908681-14da4c00-f03e-11e9-92b1-8105c6f1b938.png)

无法在二级页面删除（启动成功的应用可以）
![image](https://user-images.githubusercontent.com/22350668/66908772-3dfadc80-f03e-11e9-9beb-162d6f5bb195.png)

在一级页面删除操作，显示的应用名和列表的应用名不一致
![image](https://user-images.githubusercontent.com/22350668/66908825-55d26080-f03e-11e9-88b5-29234bfb2f75.png)

![image]

[2019-10-16 09:58] huanggze commented on #1044
/kind bug
/area app-management
/milestone 2.1.0
/assign @whDongRui

[2019-10-16 10:04] rayzhou2017 opened #1045 "应用管理文案"
* [x] 上面的menu是不是应该是“应用管理”？因为是从平台管理下的“应用管理”点击过来的，不然两边不一致
![Screen Shot 2019-10-16 at 6 02 30 PM](https://user-images.githubusercontent.com/28859385/66909352-312ab880-f03f-11e9-8d26-ae73e31fc2be.png)

[2019-10-16 10:05] huanggze commented on #1042
@whDongRui 点击第一次后，按钮需要禁止响应

[2019-10-16 10:12] huanggze opened #1046 "从应用仓库部署应用偶尔会失败，而且删除操作在界面上回显不友好"
前一次部署成功了，这一次没有部署成功

![image](https://user-images.githubusercontent.com/22350668/66910010-5bc94100-f040-11e9-85d8-d98530cf07ce.png)

删除后，刷新按钮不会更新页面。需要 F5 更新整个页面才能知道应用部署确实被删除成功了

![image](https://user-images.githubusercontent.com/22350668/66910115-887d5880-f040-11e9-8986-98cc51cced55.png)

[2019-10-16 10:13] huanggze commented on #1046
/kind bug
/area app-management
/milestone 2.1.0
/assign @whDongRui

[2019-10-16 10:27] huanggze opened #1047 "偶发应用模板和应用仓库菜单没了"
偶发三次

![image](https://user-images.githubusercontent.com/22350668/66911150-8c11df00-f042-11e9-939d-694e378c2a26.png)

[2019-10-16 10:27] huanggze commented on #1047
一会又有了

![image](https://user-images.githubusercontent.com/22350668/66911214-a5b32680-f042-11e9-8952-c44a5e7ccef1.png)

[2019-10-16 10:28] huanggze commented on #1047
/kind bug
/area console
/milestone 2.1.0
/assign @whDongRui

[2019-10-16 10:48] whDongRui commented on #1046
这个页面部署应用或应用删除，其实就是对cluster的操作。但这次的版本这块后端接口没有websocket,列表中数据的状态前端不好更新。

这块部署完应用或删除后，要不前端加一下setInterval来请求列表数据？

/assign @wansir

[2019-10-16 10:51] whDongRui commented on #1042
好的，从版本部署应用这个地方是没有加，其它几个入口的部署应用都加上了。这个我刚在本地修复了。

[2019-10-16 11:03] whDongRui commented on #1045
好的，把“应用商店管理”改成“应用管理”。

[2019-10-16 11:11] whDongRui commented on #1041
我测试的环境暂时没复现这个问题，需要在你测试的这个环境上再测一下。

[2019-10-16 11:42] whDongRui commented on #1041
这个问题刚复现了，是先勾选列表的多选框，再去列表中操作删除会有这个问题，刚给修复了。

[2019-10-16 13:13] huanggze opened #1048 "没启用 devops 时，无须请求 devops 监控数据"
![image](https://user-images.githubusercontent.com/22350668/66922370-82e03c80-f059-11e9-9a54-efb11a0d4f65.png)

![image](https://user-images.githubusercontent.com/22350668/66922480-bb801600-f059-11e9-822d-809ebd30f52a.png)

ks-apiserver 频繁报错

![image](https://user-images.githubusercontent.com/22350668/66922325-69d78b80-f059-11e9-9e03-302f3b395b66.png)

[2019-10-16 13:13] huanggze commented on #1048
/area console
/assign @justahole
/milestone 2.1.0

[2019-10-16 13:30] huanggze opened #1049 "应用名称已存在，无法上传应用"
![image](https://user-images.githubusercontent.com/22350668/66923773-07cc5580-f05c-11e9-834d-3a5d59deaba8.png)

不仅限于 fluentd，还包括 mysql、fluent-bit 等

![image](https://user-images.githubusercontent.com/22350668/66923712-e8cdc380-f05b-11e9-8433-a7c53c2f46e4.png)

[2019-10-16 13:31] huanggze commented on #1049
/kind bug
/area app-management
/assign @pengcong06
/milestone 2.1.0

[2019-10-16 13:38] huanggze commented on #1049
是和应用仓库的命名冲突了吗？

![image](https://user-images.githubusercontent.com/22350668/66924494-50d0d980-f05d-11e9-8664-560ed55cd2fc.png)

[2019-10-16 13:40] huanggze commented on #1049
删了应用仓库也不行

[2019-10-16 13:52] huanggze opened #1050 "企业空间角色权限问题"
- [ ] workspace-viewer 有创建 bookinfo、工作负载 的权限
- [ ] workspace-viewer 创建 bookinfo 会提示已存在（wk-admin创建过），但实际界面上并没有bookinfo

![image](https://user-images.githubusercontent.com/22350668/66974530-eb690100-f0cd-11e9-9fbe-0f5ed5b98ed0.png)

![image](https://user-images.githubusercontent.com/22350668/66974537-f2900f00-f0cd-11e9-9ec4-3d5d61f5b41a.png)

- [ ] workspace-regular 看不到企业监控（但 viewer 能看到）

![image](h

[2019-10-17 01:42] kalivenis opened #1051 "安装过程docker login多次尝试错误"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
advanced-2.0.2在线安装每次都到docker login就弹错无法继续，错误信息：
[code]

**安装环境的硬件配置**
两台虚拟机安装多节点环境，16cpu 16Gmem 300G硬盘 Redhat7.4 X64全新环境
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
[code]
**Installer版本**
2.0.2

[2019-10-17 01:50] 357220278 commented on #892
redhat7.4 同样的问题安装了6次都是卡在这里

[2019-10-17 01:59] rayzhou2017 commented on #1051
查一查看是不是防火墙的问题

[2019-10-17 02:01] kalivenis commented on #1051
firewalld和selinux都关闭状态，网络是100M电信专线

[2019-10-17 02:03] whDongRui commented on #1044
这个删除提示框我已经改成都显示name了，在二级页面(详情页面)删除后会跳转到列表页面，由于删除的过程比较慢，目前这块没有websocket，所以还会在列表中看到数据，其实是删除成功了的。

[2019-10-17 02:06] whDongRui commented on #1049
这个是和应用仓库中应用名称有冲突的，有可能其它企业空间下的仓库还有一样的应用名称。

[2019-10-17 02:13] rayzhou2017 opened #1052 "English locales bug list"
* [x] TOTAL_CATE_COUNT not replaced @whDongRui
![Screen Shot 2019-10-17 at 10 11 59 AM](https://user-images.githubusercontent.com/28859385/66972274-b1483100-f0c6-11e9-955e-114e2c17ce1a.png)
* [x]  should remove the word management from the menu, i.e., change Projects Management to Projects, Accounts Management to Accounts, also change App manage to Applications @leoendless
![Screen Shot 2019-10-17

[2019-10-17 02:25] Carlosfengv opened #1053 "企业空间搜索 结果排序优化"
RT；

- [x] 最相关的结果应在搜索结果的最前面

![image](https://user-images.githubusercontent.com/23092051/66972832-692a0e00-f0c8-11e9-922a-fe90ed53244d.png)

[2019-10-17 02:26] Carlosfengv commented on #1053
/area console
/kind bug
/milestone 2.1.0

[2019-10-17 02:27] Carlosfengv commented on #1053
/assign @wansir

[2019-10-17 02:35] huanggze commented on #1050
/kind bug
/milestone 2.1.0
/assign @wansir
/area iam

[2019-10-17 02:41] huanggze opened #1054 "应用商店没有修改分类的入口"
- [ ] 无法对已上架应用进行分类 （图1、2）
- [ ] “未分类“ 列表下为空，没有正确反映未分类的应用（图3、4）

![image](https://user-images.githubusercontent.com/22350668/66973399-7cd67400-f0ca-11e9-9a66-49419a57fddb.png)

![image](https://user-images.githubusercontent.com/22350668/66973385-7516cf80-f0ca-11e9-9eb3-87e6bc69a9d3.png)

![image](https://user-images.githubusercontent.com/22350668/66973482-b14a3000-f0ca-11e9-9e4b-5d6a09479f1d.png)

[2019-10-17 02:42] huanggze commented on #1054
/assign @whDongRui
/area app-management
/kind bug
/milestone 2.1.0

[2019-10-17 02:47] huanggze commented on #1050
两个 workspace role 在 namespace  下都是 admin 权限

[2019-10-17 02:52] Carlosfengv commented on #1025
更新Dev Console 镜像后问题依然存在

[2019-10-17 03:03] PYIsOk commented on #804
可以看下下面的issue，能帮助到你

[2019-10-17 03:07] #1025 closed

[2019-10-17 03:14] huanggze opened #1055 "在 namespace 下，从应用商店部署应用，需要手动指定部署到哪个 workspace、namespace"
在一个 workspace、namespace 下部署应用

![image](https://user-images.githubusercontent.com/22350668/66974780-db055600-f0ce-11e9-8fd1-ab40fe44e92c.png)

应用商店部署仍每次需要手动修改

![image](https://user-images.githubusercontent.com/22350668/66974878-2a4b8680-f0cf-11e9-9c30-2983d839dfd2.png)

[2019-10-17 03:15] huanggze commented on #1055
/kind console
/priority low
/milestone 2.1.0
/assign @whDongRui
/area console

[2019-10-17 03:17] huanggze commented on #1037
又有一个处于等待中的应用

![image](https://user-images.githubusercontent.com/22350668/66975009-a5ad3800-f0cf-11e9-9055-efaeb9eeff58.png)

![image](https://user-images.githubusercontent.com/22350668/66975005-9cbc6680-f0cf-11e9-85d9-52f17e8c25e4.png)

[2019-10-17 03:19] huanggze opened #1056 "搜索应用失效、不能翻页"
![image](https://user-images.githubusercontent.com/22350668/66975108-f4f36880-f0cf-11e9-932f-01eb44853647.png)

![image](https://user-images.githubusercontent.com/22350668/66975207-616e6780-f0d0-11e9-8e64-dafb87e4b82d.png)

[2019-10-17 03:20] huanggze commented on #1056
/area console
/milestone 2.1.0
/kind bug
/assign @whDongRui

[2019-10-17 03:36] veficos commented on #651
分享已过期，能再分享一份吗？

[2019-10-17 04:09] wansir commented on #1039
fixed

[2019-10-17 04:10] wansir commented on #1037
/assign @pengcong06

[2019-10-17 04:10] whDongRui commented on #1056
这个页面的搜索，刷新等有问题。这个是之前有人为了修复bug在这个页面加了一个componentDidMount方法，但这个方法把基类中对搜索，刷新的逻辑给覆盖了。刚给修复了。

[2019-10-17 04:19] whDongRui commented on #1055
这个是直接跳转到应用商店的首页，但从首页跳转到详情页面部署的，url中没有把workspace、namespace 传过去，所以导致部署时还要选择企业空间和项目。

之前没有考虑这一点，这个我和设计确认一下有需要的就在详情页面的url中把workspace、namespace加上，这样部署时就可以默认选中企业空间和项目了。

[2019-10-17 05:08] runzexia opened #1057 "could not delete alert"
/area alerting
/area console
/milestone 2.1.0
/kind bug
/cc @Ma-Dan @leoendless
![image](https://user-images.githubusercontent.com/31230341/66979174-24f63800-f0df-11e9-93c4-59986a51fcb3.png)

[2019-10-17 05:10] runzexia commented on #827
/close

[2019-10-17 05:10] #827 closed

[2019-10-17 05:11] runzexia commented on #934
/close

[2019-10-17 05:11] #934 closed

[2019-10-17 05:36] whDongRui commented on #975
这个前端代码已经更新了，我刚才测试发现接口返回的还是没有“ passed”这种状态的应用

[2019-10-17 05:43] whDongRui commented on #1054
这个同问题https://github.com/kubesphere/kubesphere/issues/976 中的第一个问题

已上架应用进行分类可以在企业空间中应用详情中编辑应用时去选择分类，或在应用分类页面去调整应用分类两个入口去操作。

未分类的id是“ctg-uncategorized”，但这个app返回信息category_set为空数据[]。这个需要后端在创建时给应用默认一个“未分类”的分类，前端在显示时才能过滤。

如果前端查apps时不传category_id或传为”“会所把所有的应用查询出来。

![image](https://user-images.githubusercontent.com/38676269/66980439-7dc7cf80-f0e3-11e9-9dbc-687de9678829.png)
![image](https://user-image

[2019-10-17 05:43] whDongRui commented on #1054
/assign @pengcong06 @wansir

[2019-10-17 05:52] whDongRui commented on #1052
好的，应用商店首页的翻译已经加上了。

[2019-10-17 05:52] runzexia opened #1058 "github webhook redirect to login"
/area console
/kind bug
/milestone 2.1.0
/assign @minghaoye

[2019-10-17 06:03] justahole commented on #974
fixed

[2019-10-17 06:04] whDongRui commented on #1010
这个地方的加载显示已经优化了，就显示一个loading了

[2019-10-17 06:04] justahole commented on #1008
fixed

[2019-10-17 06:09] runzexia commented on #1058
devops webhook
url from
/webhook/xxx -> /devops_webhook/xxx
/close

[2019-10-17 06:09] #1058 closed

[2019-10-17 06:10] leoendless commented on #1048
最好在api server catch 下，否则前端调整太繁琐

[2019-10-17 06:19] wansir commented on #976
1. fixed https://github.com/openpitrix/openpitrix/pull/954
2. fixed #991
3. 暂时无法支持

[2019-10-17 06:26] mayuhope opened #1059 "从仓库部署了应用gcp-night-king后，列表中缺少图标"
1、对企业空间添加应用仓库；

2、新建项目，在项目下通过仓库新建应用，部署了应用gcp-night-king后，列表中缺少图标：
![image](https://user-images.githubusercontent.com/7677050/66982966-f9c51600-f0e9-11e9-9f31-0d85f40bfab0.png)

[2019-10-17 06:27] mayuhope commented on #1059
/assign @whDongRui
/area app-management
/kind bug
/milestone 2.1.0

[2019-10-17 06:29] leoendless commented on #1057
fixed

[2019-10-17 06:31] wansir commented on #1050
1. @leoendless  入口禁用一下
2. workspace-viewer 无法创建资源
3. workspace-regular 是无法看到workspace 层面的监控数据
4. workspace-regular只定义了workspace层面的权限，还需要检查该用户在namespace 层级的角色

[2019-10-17 06:32] PYIsOk opened #1060 "Centos7.6离线安装kubesphere2.0.2问题"
Centos7.6离线安装KubeSphere2.0.2问题

**安装环境的硬件配置**
Centos7.6 系统盘100G 8c 16G
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
虚拟机
**错误信息或截图**
![image](https://user-images.githubusercontent.com/37820823/66983333-e8c8d480-f0ea-11e9-874c-951c4242dafe.png)

**Installer版本**
kubesphere2.0.2

[2019-10-17 06:33] PYIsOk commented on #1060
![image](https://user-images.githubusercontent.com/37820823/66983398-13b32880-f0eb-11e9-8579-9e3a1d0c02fe.png)

[2019-10-17 06:38] #380 closed

[2019-10-17 06:41] leoendless commented on #857
Fixed

[2019-10-17 06:41] #861 closed

[2019-10-17 06:45] runzexia opened #1061 "should be able to create an alter rule in system-workspace"
/area altering
/area console
/kind feature
/assign @leoendless
/cc @wansir

[2019-10-17 06:46] runzexia commented on #1061
/milestone 2.1.0

[2019-10-17 06:57] leoendless commented on #939
目前由helm chart 生成的pod 没有相关信息，无法展示

[2019-10-17 06:57] #939 closed

[2019-10-17 06:57] mayuhope opened #1062 "添加平台级别的告警策略时，集群节点缺少IP"
1、进入平台管理-监控中心，添加告警策略，输入名称，点击下一步，结果没有显示节点IP（节点已经被分配了IP）：

![image](https://user-images.githubusercontent.com/7677050/66984952-562a3480-f0ee-11e9-9ee1-df4e9f3c9d86.png)

[2019-10-17 06:59] mayuhope commented on #1062
/assign @leoendless
/milestone 2.1.0
/area console

[2019-10-17 07:06] leoendless commented on #940
应该是op服务还没正常启动吧

[2019-10-17 07:06] #941 closed

[2019-10-17 07:14] leoendless commented on #1050
bookinfo 入口已修复

[2019-10-17 07:14] leoendless commented on #1062
Fixed

[2019-10-17 07:14] leoendless commented on #1061
Fixed

[2019-10-17 07:25] Carriezhangyan opened #1064 "kubesphere节点扩容"
在hosts.ini中新增节点，执行add-nodes.sh脚本时报错，错误如下

`TASK [bootstrap-os : Check python-pip package] *******************************************************************************************************************************************************************************************************************************
Thursday 17 October 2019  15:15:48 +0800 (0:00:01.152)       0:00:08.093 ******
fatal:

[2019-10-17 07:34] Carriezhangyan commented on #1064
错误信息如下，我进去节点服务器查看了一下，发现是没有安装yum-utils

fatal: [node2]: FAILED! => {"changed": false, "msg": "Failure talking to yum: failure: repodata/repomd.xml from bash: [Errno 256] No more mirrors to try.\nhttp://172.6.0.3:5080/yum_repo/iso/repodata/repomd.xml: [Errno 14] HTTP Error 404 - Not Found"}
fatal: [node3]: FAILED! => {"changed": false, "msg": "Failure talking to yum: failure: repodata/repomd.xml fro

[2019-10-17 07:43] mayuhope commented on #855
此问题经验证已修复

[2019-10-17 07:43] #855 closed

[2019-10-17 07:46] mayuhope commented on #859
此问题经验证已修复

[2019-10-17 07:46] #859 closed

[2019-10-17 07:47] rayzhou2017 commented on #1039
这个是后端还是前端fix的？如果是后端的话是哪个PR？

[2019-10-17 08:01] Carriezhangyan commented on #1064
新增节点的时候是需要yum安装一些服务的，但是我已经部署好的kubesphere服务器中并没有镜像源，即http://172.6.0.3:5080/yum_repo/iso/  中没有任何文件，，而我在使用install.sh安装的时候  http://172.6.0.3:5080/yum_repo/iso/ 目录中是有很多源码包的，，我不知道是不是add-nodes.sh脚本对比与multi-node.sh脚本缺少反代服务启动的代码，请帮忙解释一下，，根据官网的方法是不能新增节点的。

[2019-10-17 08:05] rayzhou2017 commented on #1032
b2i的还没有fix，是最近的镜像还没有生成吗？

[2019-10-17 08:09] Forget-C commented on #1014
现在有了一个新的问题， 我们使用的告警邮箱为公司其他部门提供的。
因邮箱服务设计的原因，在授权的服务器上发送邮件是不需要密码的，而kubesphere在登记邮箱时是必须输入密码的，请问一下，这个问题该怎么解决呢？

[2019-10-17 08:10] rayzhou2017 commented on #962
我这儿运行不了
![Screen Shot 2019-10-17 at 4 09 39 PM](https://user-images.githubusercontent.com/28859385/66990304-88409400-f0f8-11e9-8f8b-6b176ef906d0.png)
![Screen Shot 2019-10-17 at 4 09 45 PM](https://user-images.githubusercontent.com/28859385/66990325-8ecf0b80-f0f8-11e9-8b56-7e8caecec267.png)

/cc @mayuhope 帮忙复现一下

[2019-10-17 08:12] #1064 closed

[2019-10-17 08:13] rayzhou2017 commented on #1014
随便输入一个密码不行？

[2019-10-17 08:13] whDongRui commented on #1059
这个已经修复了，上次他们重构这个组件用了之前的组件导致的。这个你明天再确认一下吧。

![image](https://user-images.githubusercontent.com/38676269/66990553-04d37280-f0f9-11e9-89d1-74e142220602.png)

[2019-10-17 08:22] mayuhope opened #1066 "应用提交审核时，点击《开发者测试指南》后没有跳转到正确的网页"
1、上传应用模板后，对应用提交审核；

2、在提交审核页面，点击《开发者测试指南》后没有跳转到正确的网页，该链接地址目前为http://139.198.5.33:30880/workspaces/space1/apps/app-lOPg15lZqPo8/version-manage#

![image](https://user-images.githubusercontent.com/7677050/66991167-1c5f2b00-f0fa-11e9-8eb0-a367cb85170e.png)

[2019-10-17 08:24] Forget-C commented on #1014
不行的 有密码就是验证失败。 我也不知道为什么这么设计～～

[2019-10-17 08:25] mayuhope commented on #1066
/kind  documentation
/assign  @FeynmanZhou

[2019-10-17 08:26] rayzhou2017 commented on #1014
/cc @huojiao2006 这个地方可能需要修改一下

[2019-10-17 08:26] rayzhou2017 commented on #1014
那没有密码岂不是很不安全？就输入地址就可以了？

[2019-10-17 08:28] rayzhou2017 commented on #1014
/c @huojiao2006 这个尽快加上吧

[2019-10-17 08:35] zryfish commented on #1051
执行下面的命令看下是否成功
[code]
如果有相同的错误的话，排查下主机到 dockerhub.qingcloud.com 网络是否正常

[2019-10-17 08:37] huojiao2006 commented on #1014
好的

[2019-10-17 08:44] bmingithub opened #1067 "创建密钥后，列表没有显示刚创建的"
**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.
创建密钥的完了以后，要刷新一下，才能显示出最新创建的那个。

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/35321102/66992904-3f3f0e80-f0fd-11e9-98e5-969003eb084b.png)

**Expected behavior(预期行为)**
A clear and concise description of what you expected to happen.
希望创建完以后，列表可以显示出最新创建的

[2019-10-17 09:09] runzexia opened #1069 "告警指标与监控指标不匹配"
* [ ] 节点告警指标名`容器组利用率`，监控指标`节点 Pod 最大容纳量使用率`
/cc @huanggze @Ma-Dan @Carlosfengv

[2019-10-17 09:10] wanjunlei opened #1070 "高可用集群，关闭一个master节点后，kubesphere界面无法访问"
**Describe the bug(描述下问题)**
高可用集群，关闭一个master节点后，kubesphere界面无法访问

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:2.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
3 masters:  8cpu/16g
3 nodes: 8cpu/16g

/kind bug
/milestone 2.1.0

[2019-10-17 09:10] bmingithub opened #1071 "创建s2i java 服务报错"
**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.
按照kubesphere/s2i-java-container创建服务，Pod运行报错， 前端接口也有404

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/35321102/66995091-0012bc80-f101-11e9-8738-6562a1ec31b8.png)

**Expected behavior(预期行为)**
A clear and concise description of what you expected to hap

[2019-10-17 09:15] #1048 closed

[2019-10-17 09:16] bmingithub commented on #1071
夏润泽说有两个问题：
1.  404是url拼接有问题
2.  相对路径参数没有带

![image](https://user-images.githubusercontent.com/35321102/66995527-bf677300-f101-11e9-894c-02c2d9aba938.png)

[2019-10-17 09:16] mayuhope opened #1072 "应用的状态显示错误，实际为“等待审核”时，列表中显示为“待提交”"
1、在企业空间下上传应用模板nginx；

2、对nginx提交审核，状态为“等待审核”，结果左侧详情中显示的状态为“待提交”，显示错误：

![image](https://user-images.githubusercontent.com/7677050/66995470-a6f75880-f101-11e9-8cfa-e14aea0f26a9.png)

![image](https://user-images.githubusercontent.com/7677050/66995507-b4144780-f101-11e9-9aaf-0fa045040670.png)

[2019-10-17 09:17] minghaoye commented on #1031
fixed

[2019-10-17 09:17] mayuhope commented on #1072
/assign @whDongRui
/area app-management
/kind bug
/milestone 2.1.0

[2019-10-17 09:17] bmingithub commented on #1071
/cc @runzexia

[2019-10-17 09:18] runzexia commented on #1071
/assign @minghaoye

![image](https://user-images.githubusercontent.com/31230341/66995771-1ec58300-f102-11e9-8c8a-9cdfd575d450.png)
上面这个漏了

[2019-10-17 09:19] runzexia commented on #1071
/kind bug
/area console devops

[2019-10-17 09:21] minghaoye commented on #980
fixed

[2019-10-17 09:22] whDongRui commented on #1072
@mayuhope

状态为“等待审核”是根据version的状态来的，左侧详情中显示的状态为“待提交”，这个是app的状态。version和app这两个状态是不同的，

目前app支持'draft|active|suspended|deleted',后面审核通过加了一个'passed',这个后端接口可能还没更新。
version的状态有：draft|submitted|rejected|in-review|passed|active|suspended|deleted

[2019-10-17 09:23] wanjunlei commented on #1070
/area console

[2019-10-17 09:26] whDongRui commented on #1072
@mayuhope 一个是app的状态，一个是版本的状态。右侧版本列表可能有多个版本，他们之前的状态可以不同，但在应用详情页面多个版本只能对应一个应用的状态。
应用的状态和版本的状态不一定要和版本的状态保持一致的。

![image](https://user-images.githubusercontent.com/38676269/66996239-f5f1bd80-f102-11e9-889c-e8b14f82d8af.png)

[2019-10-17 09:37] whDongRui commented on #1055
刚把这块的逻辑给加了上，这个等明天前端更新了你再测试一下吧。

[2019-10-17 09:40] #880 closed

[2019-10-17 09:48] mayuhope opened #1074 "应用被审核2次时，修改第二次的版本后第一次的版本也随之变更了"
1、审核应用nginx时，第一次提交审核的版本号为0.1.0 [1.0]，审核结果是拒绝；

2、重新对该应用提交审核，第二次提交审核的版本号为0.2.0 [2.0]，审核结果是通过；

3、查看审核记录，发现第一次审核失败时的版本自动变成了0.2.0 [2.0]，而且查看第一次审核拒绝的详情时，发现更新时间错误，显示成了第二次审核通过的时间：

![image](https://user-images.githubusercontent.com/7677050/66997963-f9d30f00-f105-11e9-9838-fdbb5fcc496a.png)
![image](https://user-images.githubusercontent.com/7677050/66998126-47e81280-f106-11e9-81bc-da34c10f9a9b.png)

[2019-10-17 09:49] mayuhope commented on #1074
/assign @whDongRui
/area app-management
/kind bug
/milestone 2.1.0

[2019-10-17 09:50] minghaoye commented on #1071
fixed in new image at 17th oct 20:30

[2019-10-17 09:50] justahole commented on #1024
fixed

[2019-10-17 10:00] wanjunlei opened #1075 "高可用集群，关闭ldap所在节点后，ldap重启失败"
**Describe the bug(描述下问题)**
高可用集群，关闭ldap所在节点后，ldap重启失败

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:2.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
3 masters:  8cpu/16g
3 nodes: 8cpu/16g

/kind bug
/milestone 2.1.0

[2019-10-17 10:06] wansir commented on #1046
@whDongRui   状态展示用 `transition_status`

[2019-10-17 10:13] rayzhou2017 commented on #1070
这是因为还有很多单点，需要先解决这些问题才能测HA。
![Screen Shot 2019-10-17 at 6 12 55 PM](https://user-images.githubusercontent.com/28859385/67000085-bda1ad80-f109-11e9-9f5f-7d8db12c24ad.png)

[2019-10-17 10:36] rayzhou2017 opened #1076 "关闭node节点打不开页面"
* [ ] 关闭了一个node节点，下面的页面打不开
![Screen Shot 2019-10-17 at 6 35 27 PM](https://user-images.githubusercontent.com/28859385/67001728-f5f6bb00-f10c-11e9-809f-12ccbbd92a9b.png)

[2019-10-17 10:39] rayzhou2017 commented on #1076
不对，我关闭的是一个master节点，我再测试一下

[2019-10-17 10:57] zheng1 commented on #985
看上去是安装有问题，需要检查一下db-ctrl相关的job

[2019-10-17 11:58] rayzhou2017 commented on #905
verified on 2.1.0-dev-20191017

[2019-10-17 11:58] #905 closed

[2019-10-17 11:58] whDongRui commented on #1074
我刚测试也是这样的，列表和详情弹层中的版本名是根据接口返回来显示的。

应该是后端审核信息中没在存审核时的版本名和更新时间导致的。因为两次审核都对应的同一个版本，感觉版本名变了也可以。这个问题需要后端看有没有方法解决。

/assign @zheng1 @pengcong06

![image](https://user-images.githubusercontent.com/38676269/67006544-07919000-f118-11e9-8d8a-db1b85b1b79f.png)

[2019-10-17 12:01] rayzhou2017 opened #1077 "etcd monitoring"
* [ ] It should show who is the leader
<img width="944" alt="Screen Shot 2019-10-17 at 8 00 31 PM" src="https://user-images.githubusercontent.com/28859385/67006927-cfd71800-f118-11e9-889d-245de4de2f47.png">

[2019-10-18 01:35] calvinyv opened #1078 "could select and upload war file with jar mode b2i"
**Describe the bug(描述下问题)**
could select and upload war file with jar mode b2i

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev

**To Reproduce(复现步骤)**
Steps to reproduce the behavior:
1. Create a b2i service with jar mode
2. select upload file and you could see both jar and war files are all listed for selection

[2019-10-18 01:35] calvinyv commented on #1078
/kind bug
/kind devops

[2019-10-18 01:36] calvinyv commented on #1078
/assign @leoendless

[2019-10-18 01:38] calvinyv opened #1079 "b2i could set empty image server, is it as design?"
**Describe the bug(描述下问题)**
when creating b2i svc, I don't need to input image reg server parm and just leave it empty, is it as design?

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev

[2019-10-18 01:38] calvinyv commented on #1079
/assign @runzexia

[2019-10-18 01:38] calvinyv commented on #1079
/kind design

[2019-10-18 01:44] calvinyv opened #1080 "delete b2i svc but its job data still left"
**Describe the bug(描述下问题)**
delete b2i svc but its job data still left

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev

**To Reproduce(复现步骤)**
Steps to reproduce the behavior:
1. Create a b2i svc
2. Delete above b2i svc
3. Go to Job page, you could see that b2j job is still there

**Expected behavior(预期行为)**
all data related to this b2i svc should be clear at same time

[2019-10-18 01:45] calvinyv commented on #1080
/kind bug
/assign @soulseen

[2019-10-18 01:49] mayuhope commented on #1066
/assign @FeynmanZhou

[2019-10-18 01:50] calvinyv opened #1081 "no autofill job name when deleting them"
**Describe the bug(描述下问题)**
no autofill job name when deleting them

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev

**To Reproduce(复现步骤)**
Steps to reproduce the behavior:
Create some job and then try to delete them, in confirm popup window, I still need to input those job name manually.
I see different behavior  when deleting svc: the service names are auto filled and listed,

[2019-10-18 01:50] calvinyv commented on #1081
/kind bug
/assign @leoendless

[2019-10-18 01:53] calvinyv commented on #1080
another issue I also found is: the b2i job are always there even if I delete it manually, another new job will be created automatically later. @soulseen

[2019-10-18 02:06] mayuhope commented on #987
经验证已修复

[2019-10-18 02:06] #987 closed

[2019-10-18 02:16] calvinyv opened #1082 "no description info for s2i regular role"
**Describe the bug(描述下问题)**
no description info for s2i regular role

For UI issues please also add a screenshot that shows the issue.
![Jietu20191018-101441](https://user-images.githubusercontent.com/28883416/67060638-4bc07700-f190-11e9-8a5b-7769e9f907f2.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev

[2019-10-18 02:16] rayzhou2017 opened #1083 "alert only supports deployment"
* [x] It should support deployment, statefulset and daemonset
![Screen Shot 2019-10-18 at 10 15 24 AM](https://user-images.githubusercontent.com/28859385/67060634-419e7880-f190-11e9-89a7-52925abd7616.png)

[2019-10-18 02:16] calvinyv commented on #1082
/kind bug
/assign @leoendless

[2019-10-18 02:18] rayzhou2017 commented on #1039
verified on 2.1.0-dev-20191017

[2019-10-18 02:18] #1039 closed

[2019-10-18 02:19] runzexia commented on #1079
this should be required
/cc @minghaoye

[2019-10-18 02:21] rayzhou2017 opened #1084 "The role operator of a project shouldn't have access to advanced settings"
* [ ] The role operator of a project shouldn't have access to advanced settings of the project
![Screen Shot 2019-10-18 at 10 07 38 AM](https://user-images.githubusercontent.com/28859385/67060821-f173e600-f190-11e9-821e-b4adeb5b8814.png)

[2019-10-18 02:23] rayzhou2017 commented on #1031
verified on 2.1.0-dev-20191017

[2019-10-18 02:23] #1031 closed

[2019-10-18 02:25] calvinyv opened #1085 "用户信息保存体验不一致"
**Describe the bug(描述下问题)**
修改用户信息，按钮提示的是“Save”这样文字风格的，但资源保存的提示是✅❌这种

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev

[2019-10-18 02:26] calvinyv commented on #1085
/assign @leoendless
@kind enhancement

[2019-10-18 02:26] calvinyv commented on #1085
/area ui

[2019-10-18 02:30] mayuhope opened #1086 "The work node in the node usage lacks role annotations"
1、Enter the workbench to view  top five node usage，you can see that  the work node in the node usage lacks role annotations

![image](https://user-images.githubusercontent.com/7677050/67061195-203e8c00-f192-11e9-9eba-acf5da6385ef.png)

[2019-10-18 02:32] soulseen commented on #1080
s2i/b2i job created by Image Builder. You should delete Image Builder, and s2i/b2i job will delete automatic.

all data related to this b2i svc should be clear at same time, this will be fix.

[2019-10-18 02:32] mayuhope commented on #1086
/milestone 2.1.0
/area console
/assign @leoendless

[2019-10-18 02:34] huanggze opened #1087 "已删除版本的应用，能再次上传一个其他应用名tar.gz"
一个已删除版本的应用（couchdb）

![image](https://user-images.githubusercontent.com/22350668/67061255-5da31980-f192-11e9-9088-7326711898a5.png)

![image](https://user-images.githubusercontent.com/22350668/67061276-68f64500-f192-11e9-8b49-2844a2af1c14.png)

能上传一个其他应用的 tar.gz (比如fluentd)

![image](https://user-images.githubusercontent.com/22350668/67061348-a1961e80-f192-11e9-96a0-4b464c83a9b2.png)

![image](htt

[2019-10-18 02:35] soulseen commented on #1080
/assign @minghaoye

[2019-10-18 02:37] huanggze commented on #1087
/assign @pengcong06

[2019-10-18 02:47] rayzhou2017 commented on #972
verified on 2.1.0-dev-20191017

[2019-10-18 02:47] #972 closed

[2019-10-18 02:51] leoendless commented on #1086
Only highlight master node

[2019-10-18 02:51] #1086 closed

[2019-10-18 03:08] #1075 closed

[2019-10-18 03:08] #1070 closed

[2019-10-18 03:09] rayzhou2017 commented on #1045
verified on 2.1.0-dev-10191017

[2019-10-18 03:09] #1045 closed

[2019-10-18 03:10] #950 closed

[2019-10-18 03:10] rayzhou2017 commented on #1020
verified on 2.1.0-dev-20191017

[2019-10-18 03:10] #1020 closed

[2019-10-18 03:11] #964 closed

[2019-10-18 03:11] #971 closed

[2019-10-18 03:11] #1006 closed

[2019-10-18 03:13] #998 closed

[2019-10-18 03:17] #965 closed

[2019-10-18 03:17] #961 closed

[2019-10-18 03:18] mayuhope commented on #862
经验证已修复

[2019-10-18 03:18] #862 closed

[2019-10-18 03:18] #986 closed

[2019-10-18 03:18] #983 closed

[2019-10-18 03:20] #978 closed

[2019-10-18 03:20] mayuhope commented on #908
经验证已修复

[2019-10-18 03:20] #908 closed

[2019-10-18 03:21] lijinbang opened #1088 "安装完成其中一个pod报错"
日志如下
![image](https://user-images.githubusercontent.com/18083299/67063431-64815a80-f199-11e9-9efb-5f62e871ed75.png)；请问如何解决！

[2019-10-18 03:28] mayuhope commented on #913
![image](https://user-images.githubusercontent.com/7677050/67063729-63046200-f19a-11e9-9568-ada65d781692.png)
现在是这样，觉得ok

[2019-10-18 03:28] #913 closed

[2019-10-18 03:39] #980 closed

[2019-10-18 03:41] Carlosfengv commented on #1087
暂时应该没有办法确保上传helm 包 的内容与应用是一致的，所以对于应用商店上线的版本只能是通过部署测试实例和审核来干预。

[2019-10-18 03:46] mayuhope commented on #923
/assign @whDongRui
/area app-management
/milestone 2.1.0

[2019-10-18 03:47] rayzhou2017 commented on #1084
should have read access, not edit access

[2019-10-18 03:51] rayzhou2017 opened #1089 "operator role doest not see app store"
* [ ] The project role operator cannot see app store menu
![Screen Shot 2019-10-18 at 11 49 51 AM](https://user-images.githubusercontent.com/28859385/67064538-7b29b080-f19d-11e9-87a3-e4dd09052e27.png)
![Screen Shot 2019-10-18 at 11 50 06 AM](https://user-images.githubusercontent.com/28859385/67064544-8086fb00-f19d-11e9-9604-284271606afd.png)

[2019-10-18 03:53] mayuhope commented on #923
已修复，现在只可以上传图标

[2019-10-18 03:53] #923 closed

[2019-10-18 04:02] rayzhou2017 commented on #1089
project viewer also cannot see app store, is that as design since it can deploy nothing?

[2019-10-18 04:05] zheng1 commented on #1088
你好，请贴一下 `kubectl get pod -n openpitrix-system` 的结果

[2019-10-18 04:49] lijinbang commented on #1088
![image](https://user-images.githubusercontent.com/18083299/67066565-b29c5b00-f1a5-11e9-878b-76235a69d356.png)

[2019-10-18 05:24] rayzhou2017 commented on #1012
verified on 2.1.0-dev-20191018

[2019-10-18 05:24] #1012 closed

[2019-10-18 05:34] rayzhou2017 opened #1090 "project operator miss options of deploying application"
* [ ] It should have 3 options, but only one
![Screen Shot 2019-10-18 at 1 33 38 PM](https://user-images.githubusercontent.com/28859385/67068231-001bc680-f1ac-11e9-8fd4-7285c4203e9a.png)
![Screen Shot 2019-10-18 at 1 34 01 PM](https://user-images.githubusercontent.com/28859385/67068245-0611a780-f1ac-11e9-983a-0a07eabaa61a.png)

[2019-10-18 05:38] rayzhou2017 commented on #1013
verified on 2.1.0-dev-20191018

[2019-10-18 05:38] #1013 closed

[2019-10-18 05:52] lijinbang commented on #1088
这是没有启动完成还是没有安装完成呢？

[2019-10-18 05:56] leoendless commented on #1085
Fixed

[2019-10-18 06:01] rdzn-github commented on #945
在本机hosts配置域名访问试一下

[2019-10-18 06:03] #1060 closed

[2019-10-18 06:32] rayzhou2017 commented on #837
OK

[2019-10-18 06:32] #837 closed

[2019-10-18 06:38] rayzhou2017 commented on #976
verified on 2.1.0-dev-20191018

[2019-10-18 06:38] #976 closed

[2019-10-18 06:38] rayzhou2017 opened #1091 "应用部署websocket支持"
见 #976

[2019-10-18 06:53] PYIsOk opened #1092 "kubesphere2.02离线安装完成后页面非常的卡加载半天"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
安装完成后页面非常的卡，加载很慢
**安装环境的硬件配置**
Centos7.6 系统盘100G cpu8c 内存16g
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
虚拟机
**错误信息或截图**
![image](https://user-images.githubusercontent.com/37820823/67072237-01062580-f1b7-11e9-95a2-def3b5f01661.png)

**Installer版本**
2.02

[2019-10-18 07:26] glianyi commented on #1074
DescribeAppVersionAudits记录的时候显示的数据是app version被修改后的version值,导致了这个现象;
比如第一次 submit应用tensor version为0.1.0被reject之后 第二次submit修改了version为0.2.0 数据库里边的version值就更新为0.2.0,但是记录audit信息的表app_version_audit里边没有记录每个app的version值;DescribeAppVersionAudits的时候是去app_version表里边取得实数,所以是第二次的version值;
解决办法就是在app_version_audit表里边记录这个version信息,但是我觉得可以不用记录这种变化;
/assign @mayuhope

[2019-10-18 07:30] pengcong06 commented on #1074
DescribeAppVersionAudits记录的时候显示的数据是app version被修改后的version值,导致了这个现象;
比如第一次 submit应用tensor version为0.1.0被reject之后 第二次submit修改了version为0.2.0 数据库里边的version值就更新为0.2.0,但是记录audit信息的表app_version_audit里边没有记录每个app的version值;DescribeAppVersionAudits的时候是去app_version表里边取得数据,所以是第二次的version值;
解决办法就是在app_version_audit表里边记录这个version信息,但是我觉得可以不用记录这种变化;
/assign @mayuhope

[2019-10-18 08:02] rayzhou2017 commented on #1092
现在还卡吗？

[2019-10-18 08:03] rayzhou2017 commented on #1088
应该是出错了

[2019-10-18 08:09] lijinbang commented on #1088
这种应该如何恢复呢

[2019-10-18 08:13] #940 closed

[2019-10-18 08:14] huanggze commented on #1022
暂时没有复现

[2019-10-18 08:14] #1022 closed

[2019-10-18 08:16] zheng1 commented on #1088
可以执行 `/etc/kubesphere/openpitrix/kubernetes/scripts && ./deploy-k8s.sh -n openpitrix-system -d -v v0.3.5` 尝试修复

然后检查 `kubectl get pod -n openpitrix-system | grep iam-db-ctrl-job` 的结果

[2019-10-18 08:16] lijinbang commented on #1088
我先试试

[2019-10-18 08:16] PYIsOk commented on #1092
还卡呢

[2019-10-18 08:19] pengcong06 commented on #1087
这个逻辑不是预期,现在也没办法做到通过程序来辨别!
App可以认为是一个app_version的一个label,app_version才是一个具体的package,在load这个pkg的时候会将名字同package里边的内容进行简单的验证,但是这种验证也不能保证所见即所得,只能通过部审核人员部署测试来判断 /assign @huanggze

[2019-10-18 08:20] lijinbang commented on #1088
![image](https://user-images.githubusercontent.com/18083299/67078112-3a449280-f1c3-11e9-8bdc-e572fe9cd16d.png)
这是执行结果

[2019-10-18 08:22] huanggze commented on #1024
verified

[2019-10-18 08:22] #1024 closed

[2019-10-18 08:23] huanggze commented on #1027
verified

[2019-10-18 08:23] #1027 closed

[2019-10-18 08:38] pengcong06 commented on #1049
第三方仓库跟内置仓库里边的package文件都会调用RepoIndex将应用元信息存入到app表里边,这个流程里边会检测app Name是否已经存在,就导致了你看到的错误!
现在,我们会去掉检测app Name是否存在这个逻辑!
/assign @huanggze

[2019-10-18 08:58] #1087 closed

[2019-10-18 09:04] huanggze commented on #1041
verified

[2019-10-18 09:04] #1041 closed

[2019-10-18 09:04] pengcong06 commented on #1054
在创建App的时候我们没有给app提供默认的分类(“ctg-uncategorized”),导致了在DescribeApps的时候没办法获取到“ctg-uncategorized”类型也就是界面里边的未分类的栏目数据;
现在我们在CreateApp的时候给App加上了默认分类“ctg-uncategorized”
/assign @huanggze

[2019-10-18 09:05] huanggze commented on #1029
verified

[2019-10-18 09:05] #1029 closed

[2019-10-18 09:21] mayuhope commented on #1074
我觉得这个问题需要改一下呀， @calvinyv PM你怎么看？

[2019-10-18 09:29] mayuhope commented on #936
经验证已修复

[2019-10-18 09:30] #1028 closed

[2019-10-18 09:31] #985 closed

[2019-10-18 09:34] mayuhope commented on #928
已修复

[2019-10-18 09:34] huanggze opened #1093 "应用仓库创建模态框被重复填充"
![image](https://user-images.githubusercontent.com/22350668/67083269-7250d300-f1cd-11e9-9980-558423bde0de.png)

再次创建时，有上一次的内容

![image](https://user-images.githubusercontent.com/22350668/67083295-7e3c9500-f1cd-11e9-984b-9efba8500b39.png)

[2019-10-18 09:35] huanggze commented on #1093
/area console
/milestone 2.1.0
/assign @leoendless

[2019-10-18 09:35] #936 closed

[2019-10-18 09:35] mayuhope commented on #948
/milestone 2.1.0

[2019-10-18 09:36] whDongRui commented on #1093
/assign @whDongRui

[2019-10-18 09:36] huanggze commented on #1035
暂时没有复现

[2019-10-18 09:36] #1035 closed

[2019-10-18 09:39] mayuhope commented on #995
经验证已修复

[2019-10-18 09:39] #995 closed

[2019-10-18 09:41] mayuhope commented on #863
经验证已修复

[2019-10-18 09:41] #863 closed

[2019-10-18 09:45] mayuhope commented on #932
经验证已修复

[2019-10-18 09:45] #932 closed

[2019-10-18 09:45] huanggze commented on #1033
verified

[2019-10-18 09:45] #1033 closed

[2019-10-18 09:47] huanggze commented on #1042
verified

[2019-10-18 09:47] #1042 closed

[2019-10-18 09:47] huanggze commented on #1056
verified

[2019-10-18 09:47] #1056 closed

[2019-10-18 09:50] huanggze opened #1094 "项目成员角色里有我部署的应用名"
![image](https://user-images.githubusercontent.com/22350668/67084521-b7760480-f1cf-11e9-8101-b1b0b6ac0376.png)

[2019-10-18 09:50] huanggze commented on #1094
/assign @leoendless
/kind bug
/area console
/milestone 2.1.0

[2019-10-18 09:52] huanggze commented on #1055
verified

[2019-10-18 09:52] #1055 closed

[2019-10-18 10:39] shaowenchen opened #1096 "最小安装之后，无法创建应用，页面一直转圈等待，接口 404。"
安装类型：在线最小安装

版本： kubesphere 2.1 20191018

截图：

![image](https://user-images.githubusercontent.com/43693241/67087872-69b0ca80-f1d6-11e9-9e37-770a71c08d5b.png)

/area microservice
/assign @zryfish

[2019-10-18 10:39] shaowenchen commented on #1096
/milestone 2.1.0

[2019-10-18 11:14] huanggze commented on #1096
提了相同问题...已经修复了 latest tag

[2019-10-18 11:58] huanggze opened #1097 "跑起来的应用显示等待中"
多次刷新确认，仍是等待中

![image](https://user-images.githubusercontent.com/22350668/67092350-928a8d00-f1e1-11e9-8bd7-497f700f3c1a.png)

![image](https://user-images.githubusercontent.com/22350668/67092359-961e1400-f1e1-11e9-98b3-21f43fe8db6f.png)

[2019-10-18 11:58] huanggze commented on #1097
/kind bug
/assign @pengcong06
/area app-management
/milestone 2.1.0

[2019-10-18 12:05] huanggze opened #1098 "应用列表刷新无动画效果，其他地方都有交互"
UI 其他地方的刷新动画效果

![image](https://user-images.githubusercontent.com/22350668/67092611-455aeb00-f1e2-11e9-984e-a392e3b4101d.png)

应用列表这里刷新虽然可以生效，但无交互效果

![image](https://user-images.githubusercontent.com/22350668/67092718-87842c80-f1e2-11e9-9d56-6a7c8ff08cbf.png)

[2019-10-18 12:05] huanggze commented on #1098
/assign @whDongRui
/area console

[2019-10-18 12:20] huanggze opened #1099 "应用列表排序"
名字、更新时间排序有问题

![image](https://user-images.githubusercontent.com/22350668/67093625-ae436280-f1e4-11e9-900a-da0a727f4786.png)

[2019-10-18 12:21] huanggze commented on #1099
/kind bug
/assign @whDongRui
/milestone 2.1.0

[2019-10-18 12:27] huanggze opened #1100 "部分应用没有应用名"
![image](https://user-images.githubusercontent.com/22350668/67094118-b354e180-f1e5-11e9-956a-214cfa7db2d2.png)

[2019-10-18 12:27] huanggze commented on #1100
/assign @pengcong06

[2019-10-18 12:36] rayzhou2017 opened #1101 "示例应用没有在应用列表显示"
* [x] 我部署了示例应用，但没有显示在应用表里
<img width="990" alt="Screen Shot 2019-10-18 at 8 27 51 PM" src="https://user-images.githubusercontent.com/28859385/67094714-eb105900-f1e6-11e9-9239-077ae13f3c58.png">
<img width="1009" alt="Screen Shot 2019-10-18 at 8 27 59 PM" src="https://user-images.githubusercontent.com/28859385/67094728-f2cffd80-f1e6-11e9-8758-e800602655fe.png">

[2019-10-18 12:41] rayzhou2017 commented on #960
还有application总数

[2019-10-18 12:44] huanggze opened #1102 "日志搜索不能继续滚动"
![image](https://user-images.githubusercontent.com/22350668/67095291-22cbd080-f1e8-11e9-9021-5a240f961950.png)

[2019-10-18 12:45] huanggze commented on #1102
/assign @justahole
/kind bug
/milestone 2.1.0

[2019-10-18 12:47] huanggze commented on #1101
在自制应用这个 tab 下。比较奇怪为什么分成两个 tab

![image](https://user-images.githubusercontent.com/22350668/67095388-61618b00-f1e8-11e9-82e0-66114488f38f.png)

[2019-10-18 12:53] huanggze commented on #1069
按告警的来吧，我调整下 doc

[2019-10-18 12:56] zheng1 commented on #1088
可以将登录环境发到 kubesphere@yunify.com 下吗，我们看下

[2019-10-18 13:10] leoendless commented on #960
@huanggze 提供下指标吧

[2019-10-19 15:13] zheng1 commented on #1074
@mayuhope  在2.1版本我们暂时先用这样的设计，之后3.0我们改成你说的这种方案，将历史的状态记录下来，方便审核。

/milestone 3.0.0

[2019-10-19 15:38] #937 closed

[2019-10-19 15:45] calvinyv commented on #1074
/area design

[2019-10-19 15:45] calvinyv commented on #1074
/kind design

[2019-10-21 01:19] wujay77 commented on #933
同样的问题。。。没人解决吗？

[2019-10-21 02:07] whDongRui commented on #1093
Fixed

[2019-10-21 02:08] whDongRui commented on #1098
Fixed

[2019-10-21 02:13] whDongRui commented on #1099
我看前端有传参，应该是后端接口支持的问题

![image](https://user-images.githubusercontent.com/38676269/67171726-e6b48d80-f3ea-11e9-9b80-40e862fbe63d.png)

/assign @wansir @pengcong06

[2019-10-21 02:26] whDongRui commented on #1046
目前接口返回的信息中还没有transition_status

[2019-10-21 02:27] whDongRui commented on #973
/assign @FeynmanZhou

[2019-10-21 02:42] justahole commented on #1083
右边的选择器没有  deployment, statefulset ，daemonset 的选项吗

[2019-10-21 02:44] rayzhou2017 commented on #1083
下拉框点不动

[2019-10-21 03:03] justahole commented on #1083
告警目标一次只能选择deployment, statefulset and daemonset中的其中一个。为了产生误会，选择了一个资源后，阻止了用户切换类型

[2019-10-21 03:23] rayzhou2017 commented on #1083
那应该提示一下，加一下文案

[2019-10-21 03:46] whDongRui commented on #975
这个针对app已经把draft都翻译成了“开发中”
![image](https://user-images.githubusercontent.com/38676269/67175376-6dbc3280-f3f8-11e9-959b-41631d29f893.png)

[2019-10-21 03:47] whDongRui commented on #1047
这个已经修复了

[2019-10-21 04:05] l3950809 opened #1105 "CICD的deploy过程中所调用的yaml文件能否解析环境变量？"
例如我在流水线中，有一步目的是构建一个镜像:docker build -t abc_images/${BUILD_NUMBER} .
docker push  abc_images/${BUILD_NUMBER}  .
接着问题是我在流水线的最后一步，需要调用代码仓库中的yaml文件进行部署的时候，yaml文件里面是否也能识别到${BUILD_NUMBER}这个环境变量呢？

[2019-10-21 05:06] runzexia commented on #1105
https://github.com/kubesphere/devops-java-sample/blob/master/deploy/dev-ol/devops-sample.yaml#L31

https://kubesphere.io/docs/v2.0/zh-CN/quick-start/jenkinsfile-out-of-scm/

参考devops-java-sample，是可以识别到的

[2019-10-21 05:11] rayzhou2017 opened #1106 "ws viewer should not have the access to edit/delete repo"
* [ ] the logged in user is the ws viewer, but can edit/delete the configured repo as shown below
![Screen Shot 2019-10-21 at 1 08 16 PM](https://user-images.githubusercontent.com/28859385/67178125-2d62b180-f404-11e9-9273-95185051ce44.png)

[2019-10-21 05:24] whDongRui commented on #1044
目前暂时的解决办法是根据transition_status 加了“创建中”，“删除中”这两种状态。

![image](https://user-images.githubusercontent.com/38676269/67178593-e970ac00-f405-11e9-8739-c01efa979a47.png)

![image](https://user-images.githubusercontent.com/38676269/67178564-ce9e3780-f405-11e9-9213-58f018bc2576.png)

[2019-10-21 06:03] bmingithub opened #1107 "删除存储卷报错"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.
创建一个新的存储卷，然后删除这个新创建的存储卷。

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/35321102/67180234-900b7b80-f40b-11e9-80ee-277a449ec6b0.png)

**Expected behavior(预期行为)**
A clear and concise description of what you expected to happen.
能够正常

[2019-10-21 06:12] wansir commented on #1106
/assign @whDongRui

[2019-10-21 06:26] wansir commented on #1094
这个是helm chart 里创建的 role，符合预期，在 2.1.+ 做优化

[2019-10-21 06:26] wansir commented on #1094
/milestone 2.1.1

[2019-10-21 06:36] huanggze commented on #1100
/remove-assign @pengcong06
/assign @wansir

[2019-10-21 06:48] wansir commented on #1100
这个名称取自 pod 的label，如果helm chart 没有按约定俗成的方式写的话这里就无法展示应用名称，不算咱们的bug

[2019-10-21 06:58] wansir commented on #954
/close

[2019-10-21 06:58] #954 closed

[2019-10-21 07:03] wansir commented on #256
1. 2.1.0 不再允许直接选择节点，禁用了 普通用户 list nodes 的权限
2. 依旧可以通过label selector的方式限制调度，在用户引导层面上不再推荐这么做

[2019-10-21 07:03] wansir commented on #256
/close

[2019-10-21 07:03] #256 closed

[2019-10-21 07:16] mayuhope commented on #1072
close

[2019-10-21 07:16] #1072 closed

[2019-10-21 07:20] #1059 closed

[2019-10-21 07:21] shaowenchen opened #1108 "蓝绿部署时，流量已经切换，但是组件状态没有更新"
![image](https://user-images.githubusercontent.com/43693241/67184466-699f0d80-f416-11e9-98d6-b94af78e7c85.png)

/assign @leoendless
/milestone 2.1
/area console

[2019-10-21 07:23] shaowenchen commented on #1108
/milestone 2.1.0

[2019-10-21 07:23] bmingithub commented on #1107
更新到最新的installer，這個問題就OK了。

[2019-10-21 07:23] #1107 closed

[2019-10-21 07:24] mayuhope commented on #916
已修复

[2019-10-21 07:24] #916 closed

[2019-10-21 07:31] mayuhope commented on #1062
已修复

[2019-10-21 07:31] #1062 closed

[2019-10-21 07:33] minghaoye commented on #1080
fixed

[2019-10-21 07:35] minghaoye commented on #1078
fixed.

chrome can't distinguish jar and war, added tips for this case.

[2019-10-21 07:35] huanggze commented on #1100
是看哪个 label?

[2019-10-21 07:36] mayuhope commented on #1011
已修复

[2019-10-21 07:36] #1011 closed

[2019-10-21 07:36] shaowenchen opened #1110 "蓝绿部署时，编辑组件 -> 灰度策略，状态显示错误，同时无法编辑保存"
![image](https://user-images.githubusercontent.com/43693241/67185369-3d848c00-f418-11e9-945c-0b7e5a0e1c70.png)

1，状态显示错误。

实际上，v3 已经上线接管全部流量，但是依然高亮显示【接管所有流量】

2，接管流量后，无法保存生效。

/milestone 2.1.0
/area console
/assign @leoendless

[2019-10-21 07:37] rayzhou2017 commented on #1106
only frontend needs to change? How about the backend?

[2019-10-21 07:41] wansir commented on #1106
only frontend

[2019-10-21 07:42] ks-ci-bot opened #1112 "Test new label"
**General remarks**
/kind need-to-verify

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
3 ma

[2019-10-21 07:42] shaowenchen commented on #1108
其他灰度策略时，存在同样的问题，只刷新了 metrics 接口，没有刷新组件状态

[2019-10-21 07:42] #1112 closed

[2019-10-21 07:44] mayuhope commented on #1008
经验证已修复

[2019-10-21 07:44] #1008 closed

[2019-10-21 07:44] rayzhou2017 opened #1113 "project operator can not build image"
* [x] The operator has no right to create s2i/b2i
![Screen Shot 2019-10-21 at 3 43 31 PM](https://user-images.githubusercontent.com/28859385/67185973-9bfe3a00-f419-11e9-81cf-47e92b306df8.png)
![Screen Shot 2019-10-21 at 3 43 40 PM](https://user-images.githubusercontent.com/28859385/67185983-a1f41b00-f419-11e9-8048-cfd527c89750.png)

[2019-10-21 08:13] shaowenchen opened #1114 "示例应用，不显示 Tracing 应用和事件数据"
![image](https://user-images.githubusercontent.com/43693241/67187855-be925200-f41d-11e9-8751-31d2e8b92226.png)

[2019-10-21 08:16] shaowenchen commented on #1114
/milestone 2.1.0
/area microservice

[2019-10-21 08:30] wansir commented on #797
@leoendless  非admin 用户也允许下载kubeconfig

[2019-10-21 08:32] wansir commented on #826
更新了kubectl  镜像, https://github.com/kubesphere/kubectl
@leoendless  需要将kubectl 连接默认的shell改为bash

[2019-10-21 08:40] mayuhope opened #1115 "项目容器资源默认请求编辑框和列表展示数据不一致"
1、项目-基本信息，项目管理-编辑默认资源请求，内容如下，提交成功：
![image](https://user-images.githubusercontent.com/7677050/67189794-74ab6b00-f421-11e9-9d50-0bd89cfc2dac.png)

2、但是提交成功后列表展示的数据不正确：
![image](https://user-images.githubusercontent.com/7677050/67189801-77a65b80-f421-11e9-9fa7-864613a7272a.png)

[2019-10-21 08:42] mayuhope commented on #1115
/milestone 2.1.0
/area console

[2019-10-21 08:48] Forget-C opened #1116 "2.0.2istio安装失败"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
helm 安装 istio失败 ， 报错如下图。
**安装环境的硬件配置**
Intel(R) Xeon(R) Silver 4116 CPU @ 2.10GHz
内存 512G 物理机
在已有k8s集群（all in one）上使用在线部署kubesphere
参考的是这个文档 https://kubesphere.io/docs/v2.0/zh-CN/installation/install-on-k8s/
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
使用logs看到的报错和这个一致，这是我到install的容器中手动执行的。
<img width="791" alt="微信图片_20191

[2019-10-21 08:49] shaowenchen opened #1117 "部署中，事件数量达到 10 之后，不会继续滚动更新。"
![image](https://user-images.githubusercontent.com/43693241/67190300-4f6b2c80-f422-11e9-8231-6ee4aabd9c7f.png)

事件数量达到 10 条之后，后续的事件不会显示出来。

/milestone 2.1.0
/area console
/assign @leoendless

[2019-10-21 08:51] minghaoye commented on #1082
dirt data, could create a new project,

[2019-10-21 08:53] runzexia commented on #1082
/kind need-to-verify

[2019-10-21 08:58] shaowenchen opened #1118 "部署中，版本控制 Tab 页面没有分页（每10个版本），另外建议倒序排列"
![image](https://user-images.githubusercontent.com/43693241/67191281-f2707600-f423-11e9-9063-a5dfe29e9e45.png)

[2019-10-21 08:58] shaowenchen commented on #1118
/milestone 2.1.0
/area console
/assign @leoendless

[2019-10-21 09:03] Forget-C commented on #1116
再次执行是这个报错
![image](https://user-images.githubusercontent.com/25631506/67191698-a4a83d80-f424-11e9-93bd-9dfcbe7c2ed5.png)

[2019-10-21 09:05] wansir commented on #1089
/kind need-to-verify

[2019-10-21 09:05] mayuhope opened #1119 "访问devops凭证后点击返回，页面报错提示不存在"
1、新建一个deops项目；
2、新建一个凭证，如sonar-token，进入凭证详情页，点击返回：
![image](https://user-images.githubusercontent.com/7677050/67191760-cc97a100-f424-11e9-82aa-ee9bbe6cc93d.png)

3、结果：提示页面不存在：
![image](https://user-images.githubusercontent.com/7677050/67191829-ef29ba00-f424-11e9-9c94-35774f320335.png)

[2019-10-21 09:05] mayuhope commented on #1119
/milestone 2.1.0
/area console
/assign  @leoendless

[2019-10-21 09:07] minghaoye commented on #1119
/assign @minghaoye

[2019-10-21 09:09] minghaoye commented on #1119
fixed, verify in new image at 8:30 pm oct 21th

[2019-10-21 09:09] shaowenchen opened #1120 "构建镜像，镜像描述需要优化"
![image](https://user-images.githubusercontent.com/43693241/67192042-63fcf400-f425-11e9-9e15-cf344ad0cfed.png)

1，需要考虑国际化
2，描述太长，前端 hover 时，能不能给出完整提示

/milestone 2.1.0
/area devops
/assign @leoendless @runzexia

[2019-10-21 09:09] wansir commented on #1084
@leoendless  operator/viewer can view advanced settings, do not show edit button

[2019-10-21 09:12] minghaoye commented on #1120
已添加，10/21 晚上的镜像可以验证一下

[2019-10-21 09:12] wansir commented on #912
@leoendless  #797 普通用户的kubeconfig也可以开放下载

[2019-10-21 09:14] wansir commented on #912
所有用户都可以提供日志查询的入口, `tenent.kubesphere.io`下的API已经针对用户做了权限校验

[2019-10-21 09:18] wansir commented on #1090
/kind need-to-verify

[2019-10-21 09:35] mayuhope commented on #996
close

[2019-10-21 09:35] #996 closed

[2019-10-21 09:37] mayuhope commented on #943
经验证已修复

[2019-10-21 09:37] #943 closed

[2019-10-21 10:24] mayuhope commented on #994
经验证已修复

[2019-10-21 10:24] #994 closed

[2019-10-21 10:39] wansir commented on #1113
https://github.com/kubesphere/ks-installer/pull/314

[2019-10-21 10:56] xianhuadezhuren commented on #499
你好，你是怎么解决的，我也碰到了类似的情况，ks-jenkins安装碰到遇到这个情况，还望给予解答

[2019-10-21 11:04] zryfish commented on #1116
kubernetes 版本是多少

[2019-10-21 11:12] Forget-C commented on #1116
helm
![image](https://user-images.githubusercontent.com/25631506/67200566-b4c91880-f436-11e9-9ac1-593e223285cb.png)
k8s
1.14.1

[2019-10-21 11:16] leoendless commented on #1115
Fixed

[2019-10-21 11:16] leoendless commented on #1106
Fixed

[2019-10-21 12:15] zryfish commented on #1117
apiserver会对一些相似的事件做合并，也不是只是10条，会很多条，不过event没有做持久化，仅会保留最近两小时的event

[2019-10-21 12:23] zryfish commented on #1116
你是修改过 custom-values-istio.yaml 的值么，你把文件上传下，我看看

另外，执行下 下面这个命令，贴下输出
[code]

[2019-10-21 12:44] Forget-C commented on #1116
那个文件没有动过
kubectl get node --show-labels

[2019-10-21 12:44] Forget-C commented on #1116
![image](https://user-images.githubusercontent.com/25631506/67206120-9d445c80-f443-11e9-9960-e7da06808fe5.png)

[2019-10-21 12:46] Forget-C commented on #1116
我已经把K8s集群重置了， kubesphere部署脚本也是最新的2.0.2 依然有这个报错
![image](https://user-images.githubusercontent.com/25631506/67206210-ca910a80-f443-11e9-98a4-af950e86e037.png)

[2019-10-21 12:58] zryfish commented on #1116
你上传下 /etc/kubesphere/istio/custom-istio-values.yaml 这个文件

[2019-10-21 13:12] Forget-C commented on #1116
[code]

[2019-10-21 15:20] FeynmanZhou commented on #1066
链接已经提交给了 @whDongRui  ， @whDongRui console 上的两处链接更新后请在 issue 后面回复吧

[2019-10-21 15:23] FeynmanZhou commented on #973
已提交给 @whDongRui ，更新到 console 后请 verify 一下这个 issue

[2019-10-22 01:49] soulseen commented on #1003
/kind need-to-verify

[2019-10-22 01:51] Forget-C opened #1121 "应用仓库是否可以支持用户验证和企业空间绑定"
1. 登记的应用仓库现在是所有企业空间可见，而有些用户可能并不希望共享自己的helm，所以是否可以将helm仓库与企业空间关联绑定，设置权限。
2. helm仓库的登记不支持用户密码验证
3. 还有一个其他的问题，现在的项目支持资源配额，是否可以增加企业空间的资源配额？ 否则无法对整体资源做限制

[2019-10-22 02:01] rayzhou2017 commented on #1114
你发请求了吗？这个需要发请求才有数据

[2019-10-22 02:01] wansir commented on #1121
1. 2.1.0 中应用仓库在每个企业空间中可以添加私有的应用仓库，也提供集群层级的公共仓库方便提交自制应用。
2. 暂时还不支持需要认证的helm仓库
3. 企业空间配额已在开发计划中

[2019-10-22 02:05] shaowenchen commented on #1114
@rayzhou2017
已经发过请求了，使用 watch 命令，刷新页面

[2019-10-22 02:05] xwb2535 opened #1122 "2.0.2 容器终端的日志不能打印出dotnet core的控制台打印"
部署出来的应用是dotnet core的程序，里面的控制台打印的内容，不能在 容器组的日志里面看到。docker和其他的k8s里面是可以查看的。

[2019-10-22 02:08] #1101 closed

[2019-10-22 02:12] pixiake commented on #933
no route to host

检查机器防火墙

[2019-10-22 02:17] runzexia commented on #1071
/kind need-to-verify

[2019-10-22 02:18] runzexia commented on #902
/close

[2019-10-22 02:18] #902 closed

[2019-10-22 02:19] #1076 closed

[2019-10-22 02:21] huanggze commented on #1122
请参考 https://kubesphere.io/forum/d/23-kubesphere-kubectl-logs 截图下

[2019-10-22 02:27] huanggze commented on #1093
verified

[2019-10-22 02:27] #1093 closed

[2019-10-22 02:28] wansir commented on #1054
/kind need-to-verify

[2019-10-22 02:29] wansir commented on #1053
/milestone 2.1.1

[2019-10-22 02:30] wansir commented on #1050
/kind need-to-verify

[2019-10-22 02:31] wansir commented on #1046
/kind need-to-verify

[2019-10-22 02:32] wansir commented on #975
/kind need-to-verify

[2019-10-22 02:35] huanggze commented on #1047
现在又多出 DevOps 菜单

![image](https://user-images.githubusercontent.com/22350668/67256001-74f64580-f4b7-11e9-9db3-1309c62b7a7d.png)

![image](https://user-images.githubusercontent.com/22350668/67255992-690a8380-f4b7-11e9-8a57-a1b43e8eba5c.png)

[2019-10-22 02:35] wansir commented on #890
/kind need-to-verify

[2019-10-22 02:37] huanggze commented on #1098
verified

[2019-10-22 02:37] #1098 closed

[2019-10-22 02:39] huanggze commented on #1047
/remove need-to-verify

[2019-10-22 02:40] huanggze commented on #1047
/remove-kind need-to-verify

[2019-10-22 02:42] minghaoye commented on #884
fixed
/kind need-to-verify

[2019-10-22 02:50] huanggze commented on #1099
可以排序，但结果升降逻辑有问题

/remove-kind need-to-verify

[2019-10-22 02:52] mayuhope opened #1123 "流水线运行到sonarqube analysis这一步失败，installer安装失败但没有提示错误"
1、执行kubectl edit cm -n kubesphere-system ks-installer，启用devops和sonarqube；

2、按照 https://kubesphere.io/docs/v2.0/zh-CN/quick-start/devops-online/ 创建好凭证，运行流水线；

3、结果流水线运行到sonarqube analysis这一步失败，
![image](https://user-images.githubusercontent.com/7677050/67256490-e46d3480-f4b9-11e9-833e-cb539fbea012.png)

4、查看ks-installer这个 pod下的容器日志，没有提示出问题；

5、重新编辑ks-installer的cm后，等installer重新执行后，再次运行流水线此问题恢复正常；

[2019-10-22 02:54] mayuhope commented on #1123
/milestone 2.1.0
/area installation
/assign @pixiake
/assign  @runzexia
/kind  bug

[2019-10-22 02:57] runzexia commented on #1123
现在模块安装失败stdout不会有错误，要进容器里才能看到出现问题的原因。
要在stout/stderr打印错误日志

[2019-10-22 03:13] whDongRui commented on #1097
列表显示的状态是根据后端返回的数据显示的，如果刷新数据后状态没有变这个要后端看一下应用的状态为什么没有及时更新。

[2019-10-22 03:15] whDongRui commented on #1066
@mayuhope 这两处的链接昨天已经修复了，有时间可以再测试一下看还有没有问题。

[2019-10-22 03:19] whDongRui commented on #1047
@leoendless 我看导航的配置里最近是加了DevOps工程，帮忙确认一下加了这个是不是bug?

[2019-10-22 03:20] whDongRui commented on #973
这个昨天按给的文档路径已经修复了。

[2019-10-22 03:21] whDongRui commented on #1044
/kind need-to-verify

[2019-10-22 03:21] whDongRui commented on #1052
/kind need-to-verify

[2019-10-22 03:32] rayzhou2017 commented on #1016
可以到https://github.com/kubesphere/ks-installer/issues 查查答案

[2019-10-22 03:38] mayuhope commented on #1003
现在已经可以正常运行到这一步，验证通过

[2019-10-22 03:38] #1003 closed

[2019-10-22 03:47] leoendless commented on #1047
不是bug, 升级最新的installer验证

[2019-10-22 03:57] minghaoye commented on #915
@pixiake 这个是2.10的功能

[2019-10-22 04:05] pixiake commented on #1016
`IPVS rr tcp 10.233.0.1:443 no destination available`
这是内核打印的ipvs日志，这种信息一般是由于有些service的endpoint还没有启动，pod完全启动后应该就没有这种信息打印了。

如果不想看到这种信息，可以用`dmesg -n 1`屏蔽

[2019-10-22 04:28] knowwinter opened #1124 "s2i安装部署旧因为失败删除了，创建了同样名称的部署报该部署已经存在"
我做了一个通过git仓库s2i方式创建的部署，由于这个部署有问题失败了几次一直没成功，于是我把这个部署给删除了，然后重新创建了一个同样名称的部署，也是同样的方式通过git仓库s2i的方式创建，但创建完就提示同名的部署已存在，在部署的界面显示这个部署正在创建，点进去其实是失败的，如图
![微信图片_20191022122758](https://user-images.githubusercontent.com/25719964/67259258-69127f80-f4c7-11e9-9d1e-ecb11f830dcc.png)

![微信图片_20191022122235](https://user-images.githubusercontent.com/25719964/67259144-ee496480-f4c6-11e9-9ab4-4a9b350b9028.png)
![微信图片_

[2019-10-22 04:55] pixiake commented on #935
/etc/resolv.conf应该不能超过3个吧

[2019-10-22 04:56] pixiake commented on #935
@Wiley Wang

[2019-10-22 05:03] rayzhou2017 commented on #895
这个应该是CNI的特性

[2019-10-22 05:05] rayzhou2017 commented on #886
This one might have been fixed.

[2019-10-22 05:05] daiqingliang commented on #915
@minghaoye 2.1.0版本现在有上线的时间线安排吗？

[2019-10-22 05:13] rayzhou2017 commented on #915
@daiqingliang https://kubesphere.io/forum/d/19-2-1-ga

[2019-10-22 05:18] rayzhou2017 commented on #817
到 https://github.com/kubesphere/ks-installer/issues 找找答案

[2019-10-22 05:19] rayzhou2017 commented on #812
到https://github.com/kubesphere/ks-installer/issues找找答案

[2019-10-22 05:19] leoendless commented on #826
Fixed

[2019-10-22 05:19] leoendless commented on #981
Fixed

[2019-10-22 05:21] wnxn commented on #935
# NOTE: the libc resolver may not support more than 3 nameservers.
# The nameservers listed below may not be recognized.
把多的 nameserver 删了就可以了，这是 Pod 启动的问题，和 CSI 没关系的。

[2019-10-22 05:26] leoendless commented on #1118
倒序排列已修正，分页需要下一版才能处理

[2019-10-22 05:28] pixiake commented on #819
@zryfish

[2019-10-22 05:30] pixiake commented on #844
这个是用systemd管理docker配置的路径，没有的话应该用的是那个daemon.json

[2019-10-22 06:04] minghaoye commented on #915
前后端版本不一致，感觉是前端的镜像拉错了，
ks-console 换回2.02的吧，（dockerhub.qingcloud.com/kubesphere/ks-console:advanced-2.0.2）

[2019-10-22 06:12] xwb2535 commented on #1122
重新安装了一次，显示出来了....

[2019-10-22 06:14] huanggze commented on #1097
/remove-milestone 2.1.1
/milestone 3.0.0

[2019-10-22 06:14] huanggze commented on #1037
/milestone 3.0.0

[2019-10-22 06:26] huanggze commented on #1049
/kind need-to-verify

[2019-10-22 06:28] huanggze commented on #1122
之前是刚安装完，组件还没起来就查日志了么？

[2019-10-22 06:31] minghaoye commented on #1124
可以在 任务 > s2i任务 ，删除 S2ibuilder-sino... 这个任务再试一遍

2.02版本，删除工作负载时没有删除 s2i 资源，2.1.0版本已修复

[2019-10-22 06:38] zheng1 opened #1125 "容器组页面刷新之后翻页按钮计算页码错误"
![截屏2019-10-2214 35 50](https://user-images.githubusercontent.com/4156721/67263051-805a6880-f4d9-11e9-8ec5-6f4fd12f2021.png)

先点击刷新，地址栏变成图上所示之后再翻到下一页就会进入第11页，预期是第2页。

[2019-10-22 06:39] zheng1 commented on #1125
/milestone 2.1.0
/area console

[2019-10-22 06:40] zheng1 commented on #1125
/kind bug
/assign @leoendless

[2019-10-22 06:57] leoendless commented on #1125
Fixed

[2019-10-22 06:58] rayzhou2017 commented on #1084
verified

[2019-10-22 06:58] #1084 closed

[2019-10-22 07:07] huanggze opened #1126 "项目 viewer 角色前段相关问题"
UI 有编辑按钮或菜单

![image](https://user-images.githubusercontent.com/22350668/67264415-98cc8200-f4dd-11e9-930c-ec9cd305d765.png)

![image](https://user-images.githubusercontent.com/22350668/67264463-b26dc980-f4dd-11e9-95df-588866654d52.png)

[2019-10-22 07:08] huanggze commented on #1126
/milestone 2.1.0
/area console
/assign @leoendless
/priority low

[2019-10-22 07:22] mayuhope commented on #860
此问题并没有修复，仍然存在：

![image](https://user-images.githubusercontent.com/7677050/67265172-abe05180-f4df-11e9-8eaf-3e2c27f14199.png)

/assign  @leoendless

[2019-10-22 07:24] mayuhope commented on #860
/assign @leoendless

[2019-10-22 07:24] mayuhope commented on #860
/remove-area   need-to-verify

[2019-10-22 07:34] leoendless commented on #1126
更新到最新的installer测试看看

[2019-10-22 07:38] #914 closed

[2019-10-22 07:38] xwb2535 opened #1127 "grpc服务端的连接使用问题"
客户端一直提示，Status(StatusCode=Unavailable, Detail="Trying to connect an http1.x server")  。
dns不支持 http2 的grpc服务。
应用路由的配置，注解已经加上了。
[code]

[2019-10-22 07:48] huanggze commented on #1047
问题仍然存在，需要移除浏览器缓存

[2019-10-22 07:54] mayuhope commented on #948
已验证

[2019-10-22 07:54] #948 closed

[2019-10-22 07:55] mayuhope commented on #1066
已验证

[2019-10-22 07:55] #1066 closed

[2019-10-22 07:56] Forget-C commented on #1121
@wansir
企业空间配额支持为 企业空间指定服务器吗？ 就是这个企业空间的容器只会调度到指定的节点上

[2019-10-22 08:00] mayuhope commented on #929
已验证

[2019-10-22 08:00] #929 closed

[2019-10-22 08:08] mayuhope commented on #886
已验证

[2019-10-22 08:08] #886 closed

[2019-10-22 08:18] xumengqingyuan commented on #1114
2.0.2版本同样无数据
![image](https://user-images.githubusercontent.com/11515270/67268630-83f4ec00-f4e7-11e9-875b-ad6a5d10ea2b.png)

![image](https://user-images.githubusercontent.com/11515270/67268584-64f65a00-f4e7-11e9-93fd-54a4ace0419d.png)

[2019-10-22 08:19] mayuhope commented on #1115
latest 已修复

[2019-10-22 08:19] #1115 closed

[2019-10-22 08:34] mayuhope commented on #999
已验证

[2019-10-22 08:34] #999 closed

[2019-10-22 08:49] xwb2535 opened #1128 "2.0.2多节点使用过程卡死"
发生这种卡死的时候，要怎么排查，是哪一个地方卡？几个节点的资源使用情况都还OK

[2019-10-22 08:49] xwb2535 commented on #1128
![image](https://user-images.githubusercontent.com/20022334/67270806-f36cda80-f4eb-11e9-99a9-403e043f29fc.png)

[2019-10-22 08:54] xwb2535 commented on #1128
发生好几次了。卡死之后，就只能重启节点，但是重启一个，似乎不行，而是必须重启出问题的哪个

[2019-10-22 08:54] xwb2535 commented on #1128
发生好几次了。卡死之后，就只能重启节点，但是重启一个，似乎不行，而是必须重启出问题的哪个

。问题是，我怎么找出有问题的哪个呢

[2019-10-22 08:55] huanggze opened #1129 "创建 ConfinMap 模态框被重复填充"
![image](https://user-images.githubusercontent.com/22350668/67271203-a9d0bf80-f4ec-11e9-8534-ec4a5a0fe4f3.png)

![image](https://user-images.githubusercontent.com/22350668/67271225-b35a2780-f4ec-11e9-935f-ba480404c530.png)

[2019-10-22 08:55] huanggze commented on #1129
/kind bug
/area console
/assign @leoendless
/milestone 2.1.0

[2019-10-22 09:02] huanggze opened #1130 "应用仓库app“最新版”不是最新的"
这个最新版的应用版本号为啥比其他的小，也不是最小，但不是最大

![image](https://user-images.githubusercontent.com/22350668/67271708-a8ec5d80-f4ed-11e9-8899-cf18c9c069b9.png)

[2019-10-22 09:03] huanggze commented on #1130
/assign @whDongRui
/kind bug
/milestone 2.1.0
/area app-management

[2019-10-22 09:06] rayzhou2017 commented on #1106
verified

[2019-10-22 09:06] #1106 closed

[2019-10-22 09:06] #1044 closed

[2019-10-22 09:06] #1046 closed

[2019-10-22 09:08] rayzhou2017 commented on #1052
第二个和第三个没有fix

[2019-10-22 09:10] #1094 closed

[2019-10-22 09:18] huanggze commented on #1050
verified

[2019-10-22 09:18] #1050 closed

[2019-10-22 09:20] #1126 closed

[2019-10-22 09:24] whDongRui commented on #1130
这里是根据查询versions的返回数据来显示的，一般是把第一条数据设置为最新版本。
返回的数据一般是按更新时间倒序的，但这个我了一个所有数据的update_time全部是一样的。
查询数据的排序规则还得后端帮忙确认一下。

![image](https://user-images.githubusercontent.com/38676269/67273120-6aa46d80-f4f0-11e9-908f-1bbfda72a207.png)

/assign @pengcong06 @wansir

[2019-10-22 09:39] whDongRui commented on #1130
这个查询我单独加了传参，让查询结果按name来排序，这样显示应该就没问题了。（对于最新版本如果版本号不是最大的除外）

![image](https://user-images.githubusercontent.com/38676269/67274262-a809fa80-f4f2-11e9-983e-58370ed1e274.png)

[2019-10-22 09:58] wansir commented on #1128
需要通过访问日志确认一下请求是在哪里hang住了，通过web console看看请求是超时还是报错了，可以检查一下代理服务器的日志，[外部负载均衡器] -> ks-console -> ks-apigateway

[2019-10-22 10:05] huanggze commented on #1069
/milestone 3.0.0
/assign @justahole

[2019-10-22 10:15] rayzhou2017 commented on #992
verified

[2019-10-22 10:15] #992 closed

[2019-10-22 10:17] calvinyv commented on #1085
verified

[2019-10-22 10:17] #1085 closed

[2019-10-22 10:20] calvinyv commented on #1082
@minghaoye I tried the latest build today, and didn't see this role, so 'dirty data' means that role should not shown on kubesphere?

[2019-10-22 10:26] leoendless commented on #1129
可以描述详细些吗

[2019-10-22 10:28] leoendless commented on #1047
Fixed

[2019-10-22 10:28] leoendless commented on #860
Fixed

[2019-10-22 10:32] whDongRui commented on #1130
/kind need-to-verify

[2019-10-22 10:43] huanggze commented on #1129
和之前提的模态框重复填充问题一样。这里也有。创建 ConfigMap 时输入的内容，会被缓存。然后我打算新开一个 ConfigMap 时，发现创建新 ConfigMap 对话框里有上一次的内容

[2019-10-22 10:44] leoendless commented on #1129
表单在未完成提交时是会把数据缓存起来，避免误操作

[2019-10-22 10:51] huanggze commented on #1129
哦，确实

[2019-10-22 10:51] #1129 closed

[2019-10-22 11:01] calvinyv commented on #1080
verified

[2019-10-22 11:01] #1080 closed

[2019-10-22 11:01] #1078 closed

[2019-10-22 11:03] leoendless commented on #1052
Fixed

[2019-10-22 11:04] calvinyv commented on #885
verified

[2019-10-22 11:04] #885 closed

[2019-10-22 11:06] calvinyv commented on #1079
verified

[2019-10-22 11:06] #1079 closed

[2019-10-22 11:10] calvinyv commented on #1127
/assign @zryfish
/kind question

[2019-10-22 11:11] calvinyv commented on #1127
/help

[2019-10-22 13:00] huojiao2006 commented on #1014
already verified in the Environment of user, it is passed.

[2019-10-22 13:07] knowwinter opened #1131 "部署构建镜像名过长显示问题"
部署里的构建镜像名称如果较长会有显示问题，如图
![微信图片_20191022210408](https://user-images.githubusercontent.com/25719964/67288406-82d7b500-f50f-11e9-9d5b-972d8b0a06f2.png)
![微信图片_20191022210708](https://user-images.githubusercontent.com/25719964/67288648-ef52b400-f50f-11e9-871c-b05695e4c149.png)

[2019-10-22 14:56] minghaoye commented on #1082
yes, it shouldn't appear

[2019-10-22 14:59] rayzhou2017 commented on #1113
verified

[2019-10-22 14:59] #1113 closed

[2019-10-22 15:01] rayzhou2017 commented on #1090
verified

[2019-10-22 15:01] #1090 closed

[2019-10-22 15:02] rayzhou2017 commented on #1089
verified

[2019-10-22 15:02] #1089 closed

[2019-10-23 01:19] huanggze opened #1132 "进入应用仓库部署，默认版本为空"
默认版本为空，需要手动下拉菜单
![image](https://user-images.githubusercontent.com/22350668/67347934-1cd24880-f576-11e9-9072-8bcf913768e2.png)

但是下一步骤中，默认版本被填充“最新版”

![image](https://user-images.githubusercontent.com/22350668/67348022-44291580-f576-11e9-9cb8-7405866f7cda.png)

[2019-10-23 01:20] huanggze commented on #1132
/area console
/milestone 2.1.0
/assign @whDongRui

[2019-10-23 02:16] rayzhou2017 commented on #1052
第二个即使要留管理也应该是Apps Management，不是App Manage，另外Accounts Management这个地方最好去掉Management，不然下面role为什么没有management？

[2019-10-23 02:17] rayzhou2017 commented on #1052
/cc @leoendless

[2019-10-23 02:21] rayzhou2017 opened #1133 "Open Platform Settings error"
* [ ] With all components installed, error throws when open Platform Settings page.

![Screen Shot 2019-10-23 at 10 18 49 AM](https://user-images.githubusercontent.com/28859385/67350926-ccabb400-f57e-11e9-9cbd-c3e43ed9403c.png)

[2019-10-23 02:24] rayzhou2017 commented on #1133
should be the mail server page problem, the log collector page is OK

[2019-10-23 02:28] rayzhou2017 opened #1134 "deployment replicas 英文环境scale箭头错位"
* [ ] 上下箭头有点靠上
![Screen Shot 2019-10-23 at 10 27 06 AM](https://user-images.githubusercontent.com/28859385/67351309-c7029e00-f57f-11e9-9424-a607b4c44514.png)

[2019-10-23 02:31] rayzhou2017 commented on #1052
第三个还是visited

[2019-10-23 02:37] jinmin527 commented on #1017
1.进入es对应的pod
kubectl exec -it -n kubesphere-logging-system elasticsearch-logging-data-0 bash
2.在其pod中执行
curl elasticsearch-logging-data.kubesphere-logging-system.svc:9200/_cat/indices

结果什么都没有

[2019-10-23 02:39] rayzhou2017 commented on #973
verified

[2019-10-23 02:39] #973 closed

[2019-10-23 02:40] jinmin527 commented on #1017
kubectl logs -n kubesphere-logging-system elasticsearch-logging-data-0

[2019-10-22T08:05:49,346][INFO ][o.e.p.PluginsService     ] [elasticsearch-logging-data-0] no plugins loaded
[2019-10-22T08:05:51,713][INFO ][o.e.d.DiscoveryModule    ] [elasticsearch-logging-data-0] using discovery type [zen] and host providers [settings]
[2019-10-22T08:05:52,143][INFO ][o.e.n.Node               ] [elasticsea

[2019-10-23 02:40] leoendless commented on #1052
![image](https://user-images.githubusercontent.com/8739949/67352011-65dbca00-f581-11e9-94cb-df810979dcec.png)

visited 应该改过来了

[2019-10-23 02:41] soulseen commented on #1032
/kind need-to-verify

[2019-10-23 02:47] minghaoye commented on #1131
will fix in 2.1.0

[2019-10-23 02:57] leoendless commented on #1052
App Manage 也更新过来了，kubespheredev/ks-console:latest

[2019-10-23 03:01] dpp814 opened #1135 "安装路径问题"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
如何指定安装路径？在哪里可以配置？
**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**

**Installer版本**

[2019-10-23 03:08] mayuhope commented on #1119
已修复

[2019-10-23 03:08] #1119 closed

[2019-10-23 03:11] rayzhou2017 commented on #975
verified

[2019-10-23 03:11] #975 closed

[2019-10-23 03:16] mayuhope opened #1136 "邮件服务器页面无法访问，日志报错"
1、进入平台设置-邮件服务器页面，报错，502 bad  gateway；

2、查看日志，报错：

[root@ks-allinone ~]# kubectl logs notification-deployment-6784869b9b-8ksk4  -n kubesphere-alerting-system
2019-10-23 11:12:38.33202 -CRITICAL- Init database pool failure... (global.go:72)
Error 1049: Unknown database 'notification'

（github上传图片有点问题，这会我上传不上来）

[2019-10-23 03:19] rayzhou2017 opened #1137 "ws viewer can not view the app template"
* [x] ws viewer should be able to view (no edit/delete rights) app template page.
![Screen Shot 2019-10-23 at 11 21 01 AM](https://user-images.githubusercontent.com/28859385/67354207-1bf5e280-f587-11e9-82e3-6c822ad30fe3.png)

[2019-10-23 03:20] mayuhope commented on #1136
/milestone 2.1.0
/area notifaction
/assign @huojiao2006
/assign @pixiake
/kind bug

[2019-10-23 03:30] rayzhou2017 commented on #1052
verified

[2019-10-23 03:30] #1052 closed

[2019-10-23 03:30] wansir commented on #1137
@whDongRui @leoendless 帮忙检查一下
![image](https://user-images.githubusercontent.com/8263040/67354899-6166df80-f588-11e9-83c9-ad00c8d8e5b0.png)
![image](https://user-images.githubusercontent.com/8263040/67354924-78a5cd00-f588-11e9-8270-3e7936b24d1b.png)

[2019-10-23 03:31] mayuhope opened #1138 "采用默认配置新建一个项目后，在此项目部署示例应用bookinfo时，部署无法运行"
1、单节点，按照默认配置新建一个项目；
2、在此项目下部署示例应用bookinfo，部署无法运行，提示最小副本不可用：
状态分析(Conditions)
可用性(Available)
状态: False

原因: 最小副本不可用(MinimumReplicasUnavailable)

消息: Deployment does not have minimum availability.

创建进度(Progressing)
状态: True

原因: 副本已更新(ReplicaSetUpdated)

消息: ReplicaSet "reviews-v1-6b58587dbc" is progressing.

3、建议考虑下项目默认配置提供的资源是否要提高一下。

[2019-10-23 03:32] whDongRui commented on #1132
这个刚才已经修复了，这个页面是详情页面默认显示的是查询app信息中的latest_app_version,但有的latest_app_version并不在查询versions前10条数据中导致的。

另外部署页面选择版本也有问题，只能选择前10条数据，如果版本数据大于10条后面的就选择不了，刚才也给修复了。

[2019-10-23 03:32] mayuhope commented on #1138
/milestone 2.1.0
/area console
/assign @leoendless

[2019-10-23 03:33] whDongRui commented on #1047
/kind need-to-verify

[2019-10-23 03:33] whDongRui commented on #1099
/kind need-to-verify

[2019-10-23 03:34] whDongRui commented on #1099
/remove-kind need-to-verify

[2019-10-23 03:40] calvinyv opened #1139 "Fail to save bookinfo application data"
**Describe the bug(描述下问题)**
Fail to save bookinfo application data

![Jietu20191023-113712](https://user-images.githubusercontent.com/28883416/67355347-a6d7dc80-f589-11e9-86f0-7851abc8f875.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev
Kubernetes:

**Environment(环境的硬件配置)**
3 masters:  8cpu/8g
3 nodes: 8cpu/16g

**To Reproduce(复现步骤)**
Steps to reproduce the behavior:
1. Cre

[2019-10-23 03:40] calvinyv commented on #1139
/kind bug
/assign @leoendless @zryfish

[2019-10-23 03:41] rayzhou2017 commented on #1032
verified

[2019-10-23 03:41] #1032 closed

[2019-10-23 03:41] leoendless commented on #1138
感觉这个是在创建中吧

[2019-10-23 03:47] calvinyv opened #1140 "no tracing data even if I create some traffic request to bookinfo/product page"
**Describe the bug(描述下问题)**
no tracing data even if I create some traffic request to bookinfo/product page

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
For example:
3 masters:  8cpu/8g
3 nodes: 8cpu/16g

**To Reproduce(复现步骤)**
Steps to reproduce the behavior:
1. Deploy bookinfo sample page

[2019-10-23 03:47] calvinyv commented on #1140
/assign @leoendless
/kind help

[2019-10-23 03:49] calvinyv commented on #1140
/area microservice
/kind "help wanted"

[2019-10-23 03:52] calvinyv opened #1141 "how could I see event data in application page"
**Describe the bug(描述下问题)**
how could I see event data in application page

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
3 masters:  8cpu/8g
3 nodes: 8cpu/16g

(and other info are welcomed to help us debugging)

**To Reproduce(复现步骤)**
Steps to reproduce the behavior:
1. Deploy bookinfo appl

[2019-10-23 03:53] calvinyv commented on #1141
/assign @zryfish

[2019-10-23 03:58] wansir commented on #1037
#887

[2019-10-23 03:59] leoendless commented on #1140
@zryfish 看下什么原因吧

[2019-10-23 04:04] pengcong06 commented on #1130
在IndexRepo的时候是"一瞬间"完成的,表现出来就像是在同一时刻创建的,所以看到的create_time都是一样的,这边后端在IndexRepo中创建app_version的的时候漏写了一个sequence字段,app_version的排序应该是根据这个字段来的

[2019-10-23 04:12] calvinyv opened #1142 "查看磁盘监控页后，点击左上返回上级菜单404"
**Describe the bug(描述下问题)**
查看磁盘监控页后，点击左上返回上级菜单404
![Jietu20191023-120955](https://user-images.githubusercontent.com/28883416/67356845-32536c80-f58e-11e9-87c8-cd2a683ffbb5.png)
![Jietu20191023-121011](https://user-images.githubusercontent.com/28883416/67356852-37b0b700-f58e-11e9-8874-e2103236cf4b.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev
Kubernetes: (If KubeSphere ins

[2019-10-23 04:12] calvinyv commented on #1142
/kind bug
/assign @leoendless

[2019-10-23 04:23] rayzhou2017 opened #1143 "应用商店app部署状态错误"
* [ ] 部署成功后应用的状态不对
![Screen Shot 2019-10-23 at 12 21 51 PM](https://user-images.githubusercontent.com/28859385/67357423-c1ad4f80-f58f-11e9-9f98-87b7c2e3c4ef.png)
![Screen Shot 2019-10-23 at 12 22 00 PM](https://user-images.githubusercontent.com/28859385/67357445-d4278900-f58f-11e9-883c-fe37ca848e50.png)

[2019-10-23 04:23] soulseen opened #1144 "Missing Health Checker when create a service by s2i/b2i."
**Describe the bug(描述下问题)**

Missing  Health Checker when create a service by s2i/b2i.

![image](https://user-images.githubusercontent.com/16031013/67357237-37fd8200-f58f-11e9-9b7c-0514d865d320.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1 dev
Kubernetes: v1.15.5

**To Reproduce(复现步骤)**
Steps to reproduce the behavior:
1. Build a new service by b2i/s2i .
2. in step Container Se

[2019-10-23 04:24] soulseen commented on #1144
/kind bug

[2019-10-23 04:25] soulseen commented on #1144
/milestone 2.1

[2019-10-23 04:25] soulseen commented on #1144
/milestone 2.1.0

[2019-10-23 04:26] rayzhou2017 opened #1145 "应用商店app部署成功后服务信息缺失"
* [ ] app部署成功后应用page缺失service信息，比如IP等
![Screen Shot 2019-10-23 at 12 22 00 PM](https://user-images.githubusercontent.com/28859385/67357587-3c766a80-f590-11e9-96db-50e006ee0a87.png)
![Screen Shot 2019-10-23 at 12 25 04 PM](https://user-images.githubusercontent.com/28859385/67357598-4ac48680-f590-11e9-9b9d-1d43a49492d0.png)

[2019-10-23 04:29] soulseen commented on #1144
/assign @Carlosfengv

[2019-10-23 05:34] rayzhou2017 opened #1146 "App Store issues"
* [x] The font of introduction and screenshot looks different. Check the word None.
* [x] The tab App Detail --> App Details
* [ ] Categories --> Category since it is for the app only not for all apps categories. Note, do not change other Categories, only change here.
* [ ] Join Time --> Published Date is better
* [ ] The basic info style needs to reformat. It is screwed.
* [ ] Install and Deploy

[2019-10-23 05:49] whDongRui commented on #1099
结果升降逻辑好像反了的问题后端会修复的

[2019-10-23 06:15] pixiake commented on #1135
要改哪个组建的安装路径呢？基本都是容器启动的

[2019-10-23 06:20] dpp814 commented on #1135
我装的是allinone模式。执行得install.sh，默认安装到系统盘中，安装完就花了十几个g，系统盘总共就20g，我挂载了100g的硬盘，如何默认安装到挂载盘中

[2019-10-23 06:23] pixiake commented on #1135
这个主要是镜像比较大，docker的数据存储路径为/var/lib/docker，可以在安装前将盘挂到这个路径下

[2019-10-23 06:26] dpp814 commented on #1135
你好，请问在哪里配置呢

[2019-10-23 06:33] huanggze opened #1147 "system-workspace 企业空间有部署应用入口"
system-workspace 不支持部署的话，部署按钮需要屏蔽吗？

![image](https://user-images.githubusercontent.com/22350668/67364423-16f25c80-f5a2-11e9-885d-30cc91f48f95.png)

[2019-10-23 06:33] huanggze commented on #1147
/area console
/milestone 2.1.0
/assign @leoendless

[2019-10-23 06:40] pixiake commented on #1135
执行安装前把100G的盘挂载到这个路径并格式化就可以了 ，不用修改配置

[2019-10-23 06:41] dpp814 commented on #1135
好的

[2019-10-23 07:00] minghaoye commented on #1144
fixed, can verify in next nightly build image

[2019-10-23 07:07] wanjunlei commented on #981
已修复

[2019-10-23 07:07] #981 closed

[2019-10-23 07:27] whDongRui commented on #1146
Fixed, please see in the screenshot.

![image](https://user-images.githubusercontent.com/38676269/67368067-3ccf2f80-f5a9-11e9-9219-f09633a29323.png)

[2019-10-23 07:28] rayzhou2017 opened #1148 "应用模版"
* [ ] 部署集群要改成部署实例，英文Deploy Cluster改成Deployed Instances
* [ ] 部署实例个数错误，不是0个，我已经部署了一个
* [ ] 更新时间英文改成Updated Time
![Screen Shot 2019-10-23 at 3 23 59 PM](https://user-images.githubusercontent.com/28859385/67368327-b6671d80-f5a9-11e9-91c4-45056760bdbf.png)

[2019-10-23 07:30] rayzhou2017 commented on #1148
我好像明白了，这个地方的计数只是统计测试集群实例个数，不包括应用商店用户部署的个数，那第二个应该不是bug。

[2019-10-23 07:37] rayzhou2017 opened #1149 "创建应用模版规范url错误"
* [ ] 点击url会跳转到ks docs主页
* [x] Start Upload改成Upload
![Screen Shot 2019-10-23 at 3 36 29 PM](https://user-images.githubusercontent.com/28859385/67369028-e2cf6980-f5aa-11e9-8de1-7ee52cd2e88f.png)

[2019-10-23 07:45] huanggze commented on #1097
/milestone 2.1.1

[2019-10-23 07:46] huanggze commented on #1097
/remove-milestone 2.1.0

[2019-10-23 07:46] huanggze commented on #1097
/milestone 2.1.0

[2019-10-23 07:46] huanggze commented on #1037
/milestone 2.1.0

[2019-10-23 07:48] whDongRui commented on #1148
第二个也是bug,后端只统计了active状态的集群应用，其实应该要统计非deleted的集群应用个数。

[2019-10-23 07:51] 2young2simple commented on #1002
我也是这个问题，100m的网，一晚上下不好，感觉不是这个问题

[2019-10-23 07:53] 2young2simple commented on #1002
是否脚本中能够展示正在下载什么镜像，目前是什么速度比较好。

[2019-10-23 07:55] 2young2simple commented on #1002
现在无任何提示信息，我不知道是否能够下通，也不知道正在下哪一个镜像，无法确定问题去解决。

[2019-10-23 08:00] rayzhou2017 commented on #1002
100m带宽应该需要一个多小时，你可以看看存储空间是不是在减少。

[2019-10-23 08:00] whDongRui commented on #1149
这个应该只有中文文档没有对应的英文文档，这块目前前端是统一处理的。英文下跟的路径是/en，中文下路径是/zh。

[2019-10-23 08:14] pixiake commented on #1002
下载镜像慢的话可以先把镜像包下载到本地导入到机器中，下个版本会展示正在下载的镜像名称。

1. `wget  https://kubesphere-installer.pek3b.qingstor.com/ks-only/kubesphere-images-advanced-2.0.2.tar.gz`
2. `tar -zxvf kubesphere-images-advanced-2.0.2.tar.gz`
3. `docker load < kubesphere-images-advanced-2.0.2.tar`

[2019-10-23 08:16] pixiake commented on #1002
阿里云遇到的pip问题参考下边连接解决：
https://github.com/kubesphere/ks-installer/issues/23#issuecomment-530720509

[2019-10-23 08:17] 2young2simple commented on #1002
@pixiake @rayzhou2017   感谢解答！ 我试试。

[2019-10-23 08:30] soulseen commented on #1144
/kind need-to-verify

[2019-10-23 08:49] rayzhou2017 opened #1150 "创建模版英文化"
* [x] 怎么抛出中文错误提示？
![Screen Shot 2019-10-23 at 4 49 09 PM](https://user-images.githubusercontent.com/28859385/67375337-0b5c6100-f5b5-11e9-910b-81e1dc3ebeeb.png)

[2019-10-23 08:52] huojiao2006 commented on #1133
image build issue，already fixed.

[2019-10-23 08:54] rayzhou2017 opened #1151 "创建应用模版文案"
* [ ] 左边导航栏是App Templates，右边上面是App Template，应该改成App Templates
![Screen Shot 2019-10-23 at 4 53 41 PM](https://user-images.githubusercontent.com/28859385/67375752-af460c80-f5b5-11e9-9110-bdf093ce7b5b.png)

[2019-10-23 09:15] whDongRui commented on #1145
之前详情页面服务信息中只有显示类型的逻辑，没有类型具体值的逻辑，现在已经给加上了。

![image](https://user-images.githubusercontent.com/38676269/67377602-83785600-f5b8-11e9-9919-1a371489f541.png)

[2019-10-23 09:19] whDongRui commented on #1151
好的，已经统一改成“App Templates"。

![image](https://user-images.githubusercontent.com/38676269/67378073-3ea0ef00-f5b9-11e9-9c1c-31c5eb0287f8.png)

[2019-10-23 09:29] FeynmanZhou opened #1152 "权限设计"
@calvinyv @wansir @zheng1 @Carlosfengv
OP 之前的应用上传定位是 OP 内置的开发者角色，ks 2.1 应用上传实际应该是什么角色？
目前只能是 ws-admin 角色才有权限上传应用，但开发者或者 ISV 给他 ws-admin 权限是不是太高了？
ws viewer/project operator 应该也不能上传应用

![image](https://user-images.githubusercontent.com/40452856/67378912-955af880-f5ba-11e9-9ccd-6f99c5888cb9.png)

[2019-10-23 09:34] pengcong06 commented on #1037
#887
这里的问题跟这个issue #1037还是有点区别;
这里找不到负载的问题的复现过程:
1.从ks部署应用emq
2.在allinone环境通过helm list查看emq,是在hello这个namespace下面
3.kubectl -n hello里边没有emq这个deployment
3.kubectl -n default里边找到了这个deployment
查看emq chart里边的namespace 是default

[2019-10-23 09:40] leoendless commented on #1139
Fixed

[2019-10-23 09:41] leoendless commented on #1137
Fixed

[2019-10-23 09:42] rayzhou2017 opened #1153 "应用商店部署应用无创建者"
* 创建者是空的
![Screen Shot 2019-10-23 at 5 41 23 PM](https://user-images.githubusercontent.com/28859385/67380153-7eb5a100-f5bc-11e9-9d41-1cb840681159.png)

[2019-10-23 09:45] zheng1 commented on #1049
@huanggze  验证一下最新版本是否还有这个问题

[2019-10-23 09:47] soulseen opened #1154 "创建有状态副本集后，无法修改Volume挂载配置"
**Describe the bug(描述下问题)**

按照[文档](https://kubesphere.io/docs/v2.1/zh-CN/quick-start/mysql-deployment/)步骤创建 mysql StatefulSet，创建完成后无法在`编辑配置模版`下修改 `存储卷` 配置。

**Versions used(KubeSphere/Kubernetes的版本)**

KubeSphere: 2.1.0 dev
Kubernetes: v1.15.5

**Environment(环境的硬件配置)**

1 masters:  4cpu/8g
2 nodes: 8cpu/16g

(and other info are welcomed to help us debugging)

**To Reproduce(复现步骤)**
Steps to repro

[2019-10-23 09:48] soulseen commented on #1154
/kind bug
/milestone 2.1.0
/area/console
/assign @leoendless

[2019-10-23 09:48] soulseen commented on #1154
/area console

[2019-10-23 10:20] leoendless commented on #1154
Fixed

[2019-10-23 10:21] leoendless commented on #1147
需要的，我处理下

[2019-10-23 10:42] zheng1 commented on #887
![截屏2019-10-2318 26 51](https://user-images.githubusercontent.com/4156721/67384776-62b5fd80-f5c4-11e9-94c7-8e7e65386edd.png)

原因是emqx是在values.yaml里面指定namespace, 这个不是一个标准的做法.

我们还需要想个更好的办法来处理这类问题

[2019-10-23 10:47] dpp814 opened #1155 "sonarqube安装不上"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
你好，默认安装allinone模式，安装最后失败，报错如下：
fatal: [ks-allinone]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-sonarqube /etc/kubesphere/sonarqube/sonarqube-0.13.5.tgz -f /etc/kubesphere/sonarqube/custom-values-sonarqube.yaml --namespace kubesphere-devops-system", "delta": "0:00:01.430238", "end": "2019-10-23 18:4

[2019-10-23 10:47] whDongRui commented on #1153
/assign  @wansir

[2019-10-23 10:47] whDongRui commented on #1153
之前改这个页面接口进像你反馈过的，这个详情返回信息分为cluster,app，version这三类信息了，但这个里面没有创建者的信息

[2019-10-23 10:49] whDongRui commented on #1132
/kind need-to-verify

[2019-10-23 10:50] whDongRui commented on #1145
/kind need-to-verify

[2019-10-23 10:50] whDongRui commented on #1146
/kind need-to-verify

[2019-10-23 10:50] whDongRui commented on #1151
/kind need-to-verify

[2019-10-23 10:51] whDongRui commented on #1148
两个翻译的问题已经修改了，统计 部署实例个数错误的需要后端帮忙修改。

[2019-10-23 10:55] whDongRui commented on #1143
列表中的状态为什么没有显示正确这个需要后端帮忙看一下。

[2019-10-23 12:59] knowwinter opened #1156 "存储卷扩容失败"
我使用的是ceph的存储，存储卷可以创建但是无法扩容，事件信息如截图，从报错信息看是找不到那个授权文件
![微信图片_20191023205830](https://user-images.githubusercontent.com/25719964/67395071-e5948380-f5d7-11e9-8846-6c4ad3d0782a.png)

[2019-10-23 13:10] huanggze commented on #1017
es 没有报异常。那是怎么回事呢？

[2019-10-23 14:12] magicsong commented on #895
@Liuyanglong statefulset的podname是固定的，calico中的同一个name的pod ip也是有缓存的。

[2019-10-23 14:14] rayzhou2017 commented on #1136
重复  #1133

[2019-10-23 14:25] zheng1 commented on #1037
已修复. 将openpitrix-system下的两个deployment `openpitrix-rp-kubernetes-deployment` 和 `openpitrix-hyperpitrix-deployment` 副本数从1调整到0再调整回1. 稳定后重新部署几次app看看能否复现.

[2019-10-23 14:26] zheng1 commented on #1037
/kind need-to-verify

[2019-10-23 14:30] runzexia commented on #1155
这个提示看起来是有两个默认的存储卷类型。
需要调整为一个
https://kubernetes.io/zh/docs/tasks/administer-cluster/change-default-storage-class/

[2019-10-23 14:34] zheng1 commented on #1143
same with #1037

/kind need-to-verify

[2019-10-23 14:34] zheng1 commented on #1097
same with #1037

/kind need-to-verify

[2019-10-23 15:22] rayzhou2017 commented on #1146
verified

[2019-10-23 15:22] #1146 closed

[2019-10-23 15:28] rayzhou2017 opened #1157 "App Store问题"
* [ ] 我改uncategorized 的第一个字母为大写，但不知道这个地方怎么还是小写，而且我在前端代码也搜不到这个小写字母的单词
<img width="747" alt="Screen Shot 2019-10-23 at 11 25 44 PM" src="https://user-images.githubusercontent.com/28859385/67408924-5f366c80-f5ec-11e9-89a6-77e003fc3643.png">

* [ ] 某个具体app的信息里Category应该是单数，表示它属于那个类别，这个地方的复数要改成单数。商店里的分类还保留复数，因为表示有多个分类
<img width="1137" alt="Screen Shot 2019-10-23 at 11 27 53 PM" src="https://user-image

[2019-10-23 15:32] rayzhou2017 commented on #1145
verified

[2019-10-23 15:32] #1145 closed

[2019-10-23 15:33] FeynmanZhou commented on #887
@zheng1 噢 原来是这个原因，这个手动改一下 namespace 作为 workaround 也可以接受，不算是 OP 的 bug，如果有更优雅的办法，比如自动获取当前的 ns 然后传给 app 的 values 那就更好了。

[2019-10-23 15:34] rayzhou2017 commented on #1143
verified

[2019-10-23 15:34] #1143 closed

[2019-10-23 15:35] rayzhou2017 commented on #1137
verified

[2019-10-23 15:35] #1137 closed

[2019-10-23 15:38] rayzhou2017 opened #1158 "ws viewer 查看应用模版抛错"
* [x] 如图所示，两个问题需要解决，第一，抛错框太小，看不到错误消息，防止真出错的时候用户看不到。第二，这个地方不应该抛错。
<img width="1214" alt="Screen Shot 2019-10-23 at 11 37 28 PM" src="https://user-images.githubusercontent.com/28859385/67410088-21d2de80-f5ee-11e9-8652-bcf7f49e21e4.png">

[2019-10-23 18:50] wansir commented on #1157
uncategorized 是op 中built-in的分类不支持修改，不过这里应该有中文翻译才对
![image](https://user-images.githubusercontent.com/8263040/67424609-0aedb580-f609-11e9-9c8d-ce09fdf5e276.png)

[2019-10-24 01:18] tzghost opened #1160 "centos7.6 在线all in one安装报错"
centos7.6 在线all in one安装报错

硬件配置：centos7.6 虚拟机 8核16G内存 500G

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/17000535/67445351-34293880-f63f-11e9-8da6-2494bcb98c0e.png)

Installer版本：kubesphere-all-advanced-2.0.2

[2019-10-24 01:19] dpp814 commented on #1155
fatal: [ks-allinone]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-sonarqube /etc/kubesphere/sonarqube/sonarqube-0.13.5.tgz -f /etc/kubesphere/sonarqube/custom-values-sonarqube.yaml --namespace kubesphere-devops-system", "delta": "0:00:00.224315", "end": "2019-10-24 09:14:23.144059", "msg": "non-zero return code", "rc": 1, "start": "2019-10-24 09:14:22.919744", "st

[2019-10-24 01:45] dpp814 commented on #1155
可以了，需要卸载再重新安装

[2019-10-24 01:45] #1100 closed

[2019-10-24 02:02] rayzhou2017 commented on #1157
如果op现在来不及改，那ks这边要改回来了，是不是这个地方要改成小写？
![Screen Shot 2019-10-24 at 10 02 32 AM](https://user-images.githubusercontent.com/28859385/67447109-68075c80-f645-11e9-8f8c-3292b3d2508f.png)

[2019-10-24 02:07] wansir commented on #1153
@pengcong06  确认一下createCluster 接口 context 的sender 会不会写入 owner 字段
https://github.com/kubesphere/kubesphere/blob/master/pkg/models/openpitrix/applications.go#L360-L365

[2019-10-24 02:09] rayzhou2017 opened #1161 "ws regular进不去ws"
* [ ] 看不到进去ws的入口
![Screen Shot 2019-10-24 at 10 09 01 AM](https://user-images.githubusercontent.com/28859385/67447399-507ca380-f646-11e9-902b-3972d4a21cc7.png)
![Screen Shot 2019-10-24 at 10 08 49 AM](https://user-images.githubusercontent.com/28859385/67447427-65593700-f646-11e9-88ef-b5d2e5ae9fef.png)

[2019-10-24 02:10] whDongRui commented on #1157
应用在创建的时候后端后来做了处理的，应用创建时都会默认设置成未分类“ uncategorized”，可参考这个[issue](https://github.com/kubesphere/kubesphere/issues/1054)

现在前端显示是统一成“ uncategorized”,还是转换一下变成首字母大写的"Uncategorized"显示？

![image](https://user-images.githubusercontent.com/38676269/67447189-b288d900-f645-11e9-818e-8f1e64095309.png)

[2019-10-24 02:13] wansir commented on #1152
worksoace-regular可以上传应用的话会违背现有设计， worksoace-regular 是不能直接管理workspace 层面的资源的，创建应用的功能也不能滥用，因为还有集群层面的公共repo。  @Carlosfengv

[2019-10-24 02:17] rayzhou2017 opened #1162 "ws viewer看不到ws下的devops工程"
* [ ] 按照设计ws viewer是应该有ws下所有资源的读权限，但devops看不到
![Screen Shot 2019-10-24 at 10 15 40 AM](https://user-images.githubusercontent.com/28859385/67447699-44ddac80-f647-11e9-8d4d-db86bb1925b6.png)

![Screen Shot 2019-10-24 at 10 15 36 AM](https://user-images.githubusercontent.com/28859385/67447717-53c45f00-f647-11e9-849c-9b8c21b05f53.png)
![Screen Shot 2019-10-24 at 10 15 09 AM](https://user-images.github

[2019-10-24 02:19] rayzhou2017 commented on #1152
理解错了吧，ws regular不能操作ws管理层面的东西，但是资源、应用层面还是有创建能力的，比如创建ns，devops工程，那相应的也应该能创建应用模版吧

[2019-10-24 02:20] rayzhou2017 commented on #1152
配置repo是ws管理功能，regular确实只有读的权限

[2019-10-24 02:21] #1160 closed

[2019-10-24 02:25] wanjunlei opened #1163 "安装前增加配置文件检测"
建议安装前，增加配置文件检测。包括但不限于以下内容：
1.主机是否可用，包括网络是否可用以及密码是否正确。
2.区域配置是否正确。当使用qingcloud存储时，错误的区域配置不会影响安装过程，但是安装完成后无法创建磁盘。
3.qingcloud csi参数配置。当使用qingcloud存储时，错误的配置不会影响安装过程，但是安装完成后无法创建磁盘。例如qingcloud_minSize的值必须大于0，但是配置为0安装依然可以成功，但是安装完成后无法创建磁盘，且此参数在安装完成后不易修改。

/area installation

[2019-10-24 02:27] leoendless commented on #1161
by design

[2019-10-24 02:30] Carlosfengv commented on #1152
**问题根源**
目前整个功能流程还不完整，NameSpace中Helm应用编排的功能还没有开发,OP中没有实际的开发者的功能，仅实现了Helm上传。

**功能预期**
完整的操作路径应该是在 NameSace 中创建组成应用（应用编排），测试通过后提交至WorkSpace的企业空间中，企业空间管理员审核通过后即可留在Ws中，甚至可以提交至公共的应用商店中。

**解决办法**
worksoace-regular  允许去上传应用模板的话会早成资源的滥用，应该为只读权限。
允许worksoace-regular 使用应用模板的话可以在应用模板的repo中增加来自企业空间的模板解决。

至于 @FeynmanZhou  说的应用开发者，其实应该下沉至NameSpace中，WorkSpace 对应op的ISV。
当前版本为了适配功能，所以仅允许ISV的管理员上传Helm chart。通过审核

[2019-10-24 02:41] #1144 closed

[2019-10-24 02:47] rayzhou2017 opened #1164 "英文文案"
* [x] Project Role --> Project Roles
* [x] 按钮Project Manage --> Manage Project或者直接用Edit
![Screen Shot 2019-10-24 at 10 49 27 AM](https://user-images.githubusercontent.com/28859385/67449172-dd762b80-f64b-11e9-890e-9969522c1c4b.png)

* [x]  没有翻译成英文，译文： Redirect the file-based logs to standout using sidecar which is collected by the system log system so that you can search and view the logs through c

[2019-10-24 02:54] pengcong06 commented on #1099
/kind need-to-verify

[2019-10-24 02:59] rayzhou2017 opened #1165 "编辑项目配额"
* [x] cpu,memory右边的那个拖拽按钮(设置limit)非常不好使
![Screen Shot 2019-10-24 at 10 59 11 AM](https://user-images.githubusercontent.com/28859385/67449608-4f9b4000-f64d-11e9-8bff-68a37595dadd.png)

[2019-10-24 03:02] leoendless commented on #1165
能具体描述下吗

[2019-10-24 03:05] huanggze commented on #1147
verified

[2019-10-24 03:05] #1147 closed

[2019-10-24 03:05] leoendless commented on #1147
Fixed

[2019-10-24 03:06] leoendless commented on #1134
Fixed

[2019-10-24 03:06] huanggze commented on #1047
verified

[2019-10-24 03:06] #1047 closed

[2019-10-24 03:11] #1154 closed

[2019-10-24 03:12] huanggze opened #1166 "应用部署按钮没了"
![image](https://user-images.githubusercontent.com/22350668/67450151-0f3cc180-f64f-11e9-98a7-afeb00e4316d.png)

![image](https://user-images.githubusercontent.com/22350668/67450162-1663cf80-f64f-11e9-875c-335f888bfd05.png)

[2019-10-24 03:12] huanggze commented on #1166
/area console
/kind bug
/assign @leoendless
/milestone 2.1.0

[2019-10-24 03:14] leoendless commented on #1166
@wansir 需要将项目里的applications create 权限整理出来

[2019-10-24 03:18] rayzhou2017 commented on #1165
鼠标点中圆点，往左边拖，拖不动

[2019-10-24 03:21] whDongRui commented on #1157
现在前端加了一层转换，所有的地方都改成"Uncategorized"显示了。

[2019-10-24 03:31] FeynmanZhou opened #1167 "服务组件列表的文案缺失"
有些组件独立出来后，多处需要补充文案，否则看起来不整齐
![image](https://user-images.githubusercontent.com/40452856/67450980-ad318b80-f651-11e9-9513-c76f8ef192ee.png)

[2019-10-24 03:51] leoendless commented on #1165
Fixed

[2019-10-24 03:57] mayuhope opened #1168 "无法删除企业空间"
1、新建一个企业空间space1；

2、对其进行删除，删除失败，页面没有任何提示，查看请求，发现前端没有向后端发送请求；

[2019-10-24 03:58] mayuhope commented on #1168
/area console
/kind bug
/assign @leoendless
/milestone 2.1.0

[2019-10-24 04:04] rayzhou2017 commented on #1083
verified

[2019-10-24 04:04] #1083 closed

[2019-10-24 04:05] rayzhou2017 commented on #1134
verified

[2019-10-24 04:05] #1134 closed

[2019-10-24 04:09] leoendless commented on #1167
@zryfish @FeynmanZhou 提供下中英文文案吧

[2019-10-24 05:32] wansir commented on #1162
/assign @runzexia  这个问题是放到哪个版本

[2019-10-24 05:38] wansir commented on #1166
https://github.com/kubesphere/ks-installer/pull/328

[2019-10-24 05:59] leoendless commented on #1168
@wansir 这个请求有发送的
``DELETE /apis/tenant.kubesphere.io/v1alpha1/workspaces/{workspace}``

[2019-10-24 06:34] runzexia commented on #1162
要 3.0.0 解决了
与 https://github.com/kubesphere/kubesphere/issues/704 是同一原因造成

[2019-10-24 06:55] runzexia commented on #1155
/close

[2019-10-24 06:55] #1155 closed

[2019-10-24 06:56] runzexia commented on #1105
/area devops
/kind question
/close

[2019-10-24 06:56] #1105 closed

[2019-10-24 07:12] huanggze commented on #960
configmap 我加一下，application 计数会放在 3.0

Application CRD 监控需要改 ks下面的 controller-manager 代码。目前 ks 自身监控数据不规范 https://github.com/kubesphere/kubesphere/blob/master/pkg/apiserver/monitoring/monitoring.go#L32

后面会统一调整 ks 自己的监控指标部分

[2019-10-24 08:08] leoendless commented on #1108
这里的 pod 列表没有加上实时更新，消耗比较大

[2019-10-24 08:19] mayuhope opened #1171 "平台regular+企业空间admin+项目admin用户无法查看容器组调度信息，报403"
1、用户user1权限为cluster regular +workspace admin+项目admin，使用该用户登录，访问名下项目，访问项目-应用负载-容器组-调度信息页面，发现没有访问权限

![image](https://user-images.githubusercontent.com/7677050/67467096-c3077680-f67a-11e9-81fa-4e2dc9ee0d45.png)

[2019-10-24 08:23] mayuhope commented on #1171
/area iam
/kind bug
/assign @wansir
/milestone 2.1.0

[2019-10-24 08:28] rayzhou2017 opened #1172 "打开pod详情页抛错"
* [ ] 如下图所示
![Screen Shot 2019-10-24 at 4 28 33 PM](https://user-images.githubusercontent.com/28859385/67467447-517bf800-f67b-11e9-9f8e-01cfcb783e8a.png)

[2019-10-24 08:50] dpp814 opened #1173 "关于Devops工程流水线问题"
你好，我在流水线配置git仓库和svn仓库得时候，工程目录下都有jenkinsfile文件，而且名字都是对应上的，但是扫描远程分支得时候就报"未找到 Pipeline 配置文件"，这个该如何解决

[2019-10-24 08:55] mayuhope opened #1174 "企业空间的异常容器组数显示变化较慢"
1、新建一个部署，配置错误，使得它的pod无法运行；

2、删除该部署；

3、使用该项目admin登录系统，查看异常容器组，发现仍然显示了1个，应该是0个；
![image](https://user-images.githubusercontent.com/7677050/67469632-124fa600-f67f-11e9-8c83-e790d9340d60.png)
![image](https://user-images.githubusercontent.com/7677050/67469647-14b20000-f67f-11e9-8980-a9cfc787b989.png)

[2019-10-24 09:01] dpp814 commented on #1173
![image](https://user-images.githubusercontent.com/22487387/67470097-cf420280-f67f-11e9-9b68-c362af0e4993.png)
![image](https://user-images.githubusercontent.com/22487387/67470126-db2dc480-f67f-11e9-8359-b11c45706d1e.png)

[2019-10-24 09:01] dpp814 commented on #1173
![image](https://user-images.githubusercontent.com/22487387/67470205-f567a280-f67f-11e9-8dc6-b167f099c4ca.png)
![image](https://user-images.githubusercontent.com/22487387/67470219-f8fb2980-f67f-11e9-93ef-ca7145662042.png)

[2019-10-24 09:02] mayuhope commented on #1136
已修复

[2019-10-24 09:02] #1136 closed

[2019-10-24 09:06] whDongRui commented on #1157
/kind need-to-verify

[2019-10-24 09:25] #1057 closed

[2019-10-24 09:25] #900 closed

[2019-10-24 09:26] #826 closed

[2019-10-24 09:41] dpp814 commented on #1173
发你邮箱了，不过快要下班了，要不明天吧

[2019-10-24 09:48] rayzhou2017 commented on #1161
这是什么原因？ws viewer能进去，regular反而进不去？

[2019-10-24 09:56] mayuhope opened #1175 "用户已经不在企业空间成员里了，但还是显示他为企业空间管理员"
1、使用admin用户将用户user1移除出企业空间space-user1；
![image](https://user-images.githubusercontent.com/7677050/67474757-973ebd80-f687-11e9-8ce6-246528bc14c9.png)

2、列表中该企业空间的管理员仍显示为user1，建议修改此处的文案，改为创建者更合适：
![image](https://user-images.githubusercontent.com/7677050/67474732-8ee68280-f687-11e9-88c5-69755889ba6c.png)

[2019-10-24 09:57] mayuhope commented on #1175
/area console
/kind bug
/assign @leoendless
/milestone 2.1.0

[2019-10-24 09:58] mayuhope commented on #1175
/remove-kind bug
/kind  improve

[2019-10-24 10:23] knowwinter commented on #1156
有人响应吗？没人碰到过这个问题吗？

[2019-10-24 10:25] rayzhou2017 commented on #1156
wnxn今天去医院了，等他回来回复你

[2019-10-24 10:27] runzexia commented on #1173
好的👌🏻

[2019-10-24 11:16] leoendless commented on #1110
Fixed

[2019-10-24 11:17] leoendless commented on #1164
Fixed, Alerting XXX 改起来比较繁琐

[2019-10-24 11:31] huanggze commented on #1166
/kind need-to-verify

[2019-10-24 11:52] jinmin527 commented on #1017
现在外部ES里面可以收集到数据了，但是页面显示日志的时候还是报错

[2019-10-24 11:58] fairychild1 opened #1176 "需求完善"
1.监控里面，node允许的request值和limit值看不出来，这样一个node满了，pod调度不上去也不知道为什么，node当前跑了的pod消耗的资源总量，占node的limit总量的多少，无法得知；

    2.挂掉的pod，上一次在哪个node上面，日志里没法区分，也无法知道。正常的pod产生的日志，在通过日志跳转到pod后，能看到pod是在哪个node上，但是挂掉的pod就不行了，是否可以通过annotation或者label，把node上的pod产生的日志都自动带上一个标签，这样既是挂掉的pod产生的日志，也能知道这个pod之前在哪个node上。这个需求方便用户排查node的问题；

    3.日志增加导出功能，这个需求记得其他行里碰到过，不知道咱们后面的版本计划里，是否会支持这个；

    4.harbor的clair漏洞库是否支持离线，怎么导入?

[2019-10-24 12:17] rayzhou2017 opened #1177 "英文文案"
* [x] 代码字段没有翻译，有4个
<img width="698" alt="Screen Shot 2019-10-24 at 8 17 07 PM" src="https://user-images.githubusercontent.com/28859385/67484742-4df86900-f69b-11e9-94c1-02e3b499ea3f.png">

* [x] 这个地方改title把下面的影响了吧，有几个代码字段没有翻译，我记得上个版本是有的
<img width="978" alt="Screen Shot 2019-10-24 at 8 24 53 PM" src="https://user-images.githubusercontent.com/28859385/67485358-6a48d580-f69c-11e9-8c95-e240a51483ac.pn

[2019-10-24 12:27] jinmin527 commented on #1017
问题解决了。一开始是docker日志有软链接，后面是ES版本太高，7.4的版本不行，换成6.7的就可以了

[2019-10-24 12:27] #1017 closed

[2019-10-24 12:32] rayzhou2017 commented on #1164
verified

[2019-10-24 12:32] #1164 closed

[2019-10-24 12:42] rayzhou2017 commented on #1176
日志导出2.1.0有命令行，UI需要到3.0提供，1和2都在3.0提供。4要看看habor的情况了

[2019-10-24 12:45] huanggze commented on #1174
后端采集间隔设的 1min，再加上前端周期性调 api。极端情况可能有1分多钟。当时体验的迟延有多大？

[2019-10-24 12:52] huanggze commented on #1176
日志导出在 2.1 有一键操作。但默认限制 10w 条日志（通常不超过 100M）。大体量的日志导出或备份建议跑一个 elasticdump Job 或其他办法

![image](https://user-images.githubusercontent.com/22350668/67486956-9a45a800-f69f-11e9-8871-ae496160b5f1.png)

![image](https://user-images.githubusercontent.com/22350668/67486986-ac274b00-f69f-11e9-82a2-f2355b25d578.png)

[2019-10-24 12:52] #960 closed

[2019-10-24 13:50] huanggze opened #1178 "容器终端数据一行没显示全"
这一行后面应该还有很多内容，没显示全

![image](https://user-images.githubusercontent.com/22350668/67491760-f9a7b600-f6a7-11e9-8848-1175908bb61a.png)

![image](https://user-images.githubusercontent.com/22350668/67491809-075d3b80-f6a8-11e9-80a1-c539439e696c.png)

[2019-10-24 13:51] huanggze commented on #1178
而且显示的内容多少，受浏览器缩放比例影响

![image](https://user-images.githubusercontent.com/22350668/67492016-628f2e00-f6a8-11e9-80a5-38da0369a92b.png)

[2019-10-24 13:51] huanggze commented on #1178
/kind bug
/area console
/assign @leoendless
/milestone 2.1.0

[2019-10-24 13:55] leoendless commented on #1172
Fixed

[2019-10-24 13:55] leoendless commented on #1177
Fixed

[2019-10-24 14:37] anstns commented on #844
1

[2019-10-24 14:58] rayzhou2017 commented on #1177
verified

[2019-10-24 14:58] #1177 closed

[2019-10-24 15:13] rayzhou2017 commented on #1172
verified

[2019-10-24 15:13] #1172 closed

[2019-10-24 15:16] rayzhou2017 commented on #1165
还是有点不流畅，尤其是在最右边开始拖的时候，算了，这个问题不大

[2019-10-24 15:16] #1165 closed

[2019-10-24 15:39] leoendless commented on #1165
右侧有一段距离都是不限制，相当于一个磁吸效果

[2019-10-24 15:43] leoendless commented on #1178
这个暂不支持吧，需要看下 xterm.js 是否支持浏览器的缩放

[2019-10-24 15:48] leoendless commented on #1171
Fixed

[2019-10-24 16:42] lianghuiyuan opened #1179 ""'delegate_to' is not a valid attribute for a TaskInclude"
**问题描述**

"'delegate_to' is not a valid attribute for a TaskInclude

**安装环境的硬件配置**

CPU：4 核， 内存：16 G， 系统盘：1 T
CentOS Linux release 7.6.1810 (Core)

**错误信息或截图**

[code]

[code]

**Installer版本**

kubesphere-all-advanced-2.0.2

[2019-10-24 19:34] wansir commented on #1023
这是一个手动创建的角色

[2019-10-25 00:56] #989 closed

[2019-10-25 00:57] ChangMuChen opened #1182 "重启导致全部崩溃"
我完好的安装了kubesphere，运行也完全正常，但是我不能重启主机，这样一定会导致全部崩溃。

[2019-10-25 00:58] #1182 closed

[2019-10-25 00:59] ChangMuChen commented on #1182
我等了一个小时后，已全部恢复正常，应该是恢复运行需要时间吧

[2019-10-25 01:08] dpp814 commented on #1173
啥时候有时间，帮我看下？

[2019-10-25 01:26] shaowenchen commented on #1120
验证 OK。
/close

[2019-10-25 01:26] #1120 closed

[2019-10-25 01:36] shaowenchen commented on #1118
验证 OK。
/close

[2019-10-25 01:36] #1118 closed

[2019-10-25 01:52] xwb2535 opened #1183 "私有harbor仓库滚动升级的时候证书失败，自定义证书"
![image](https://user-images.githubusercontent.com/20022334/67537102-913ef000-f70c-11e9-87b9-331b6cb0ae1c.png)

自己搭建的harbor服务器，没有用收费的证书，自己弄了一个。然后按照上面的文档，配置了一个属性。第一次pull镜像OK，应用成功创建，第二次修改标签版本号之后滚动升级，就提示
Failed to pull image "harbor.ivinbo.com/mybztst/api-open:xwb.01.02": rpc error: code = Unknown desc = Error response from daemon: Get https://harbor.ivinbo.com/v2/: x509: certificate signed by unknow

[2019-10-25 02:03] #907 closed

[2019-10-25 02:06] zheng1 opened #1184 "应用商店页面表格错位"
![截屏2019-10-2510 04 34](https://user-images.githubusercontent.com/4156721/67537679-feec1b80-f70e-11e9-9bb9-211fa886915d.png)

/area app-management
/kind bug
/milestone 2.1.0
/assign @whDongRui

[2019-10-25 02:07] Forget-C opened #1185 "jenkins中的pod起不来"
触发自动构建任务后，jenkins启动的worker pod , 我试了 base和 mave的 ，都起不来，是什么导致的？
![image](https://user-images.githubusercontent.com/25631506/67537716-2d69f680-f70f-11e9-9b27-d16d5be8455d.png)

[2019-10-25 02:10] whDongRui commented on #1184
你这个环境不是最新前端代码，我这边看显示是好的，你更新一下前端代码再验证一下。

![image](https://user-images.githubusercontent.com/38676269/67537807-93ef1480-f70f-11e9-9e98-055d614784bc.png)

[2019-10-25 02:10] rayzhou2017 commented on #1179
2.0.2 CPU需要8核

[2019-10-25 02:13] whDongRui commented on #1158
/kind need-to-verify

[2019-10-25 02:13] whDongRui commented on #1184
/kind need-to-verify

[2019-10-25 02:14] whDongRui commented on #1148
/kind need-to-verify

[2019-10-25 02:18] shaowenchen commented on #1117
/close

[2019-10-25 02:18] #1117 closed

[2019-10-25 02:18] pixiake commented on #1185
@runzexia

[2019-10-25 02:18] shaowenchen commented on #1096
/close

[2019-10-25 02:18] #1096 closed

[2019-10-25 02:19] shaowenchen commented on #857
/close

[2019-10-25 02:19] #857 closed

[2019-10-25 02:19] shaowenchen commented on #848
/close

[2019-10-25 02:19] #848 closed

[2019-10-25 02:19] shaowenchen commented on #843
/close

[2019-10-25 02:19] #843 closed

[2019-10-25 02:20] pixiake commented on #1183
@hlwanghl

[2019-10-25 02:20] shaowenchen commented on #631
/close

[2019-10-25 02:20] #631 closed

[2019-10-25 02:20] shaowenchen commented on #632
/close

[2019-10-25 02:20] #632 closed

[2019-10-25 02:21] Forget-C commented on #1185
jenkins log
![image](https://user-images.githubusercontent.com/25631506/67538216-217f3400-f711-11e9-89d1-93ec50fd4fa9.png)

[2019-10-25 02:22] runzexia commented on #1185
贴下完整的jenkins日志。
kubesphere-devops-system下的pod状态
kubepshered-devops-system下的base-xxx、maven-xxx的日志。

顺便问一下有没有手动调整过jenkins的系统设置

[2019-10-25 02:23] bmingithub commented on #974
10月24的版本，问题还是存在。
![image](https://user-images.githubusercontent.com/35321102/67538226-2e9c2300-f711-11e9-8cd1-25c4c3ca8dba.png)
过滤选项中，状态是没有“更新中”，而且选项是不是也不齐

[2019-10-25 02:28] #1067 closed

[2019-10-25 02:30] justahole commented on #974
过滤选项没有这么细的粒度。

[2019-10-25 02:30] Forget-C commented on #1185
调整过jenkins的系统设置
pod 状态
![image](https://user-images.githubusercontent.com/25631506/67538447-abc79800-f711-11e9-9284-53ffd3083372.png)
jenjins日志
![image](https://user-images.githubusercontent.com/25631506/67538542-f6e1ab00-f711-11e9-84e5-71617a14f12c.png)
base-xxx 日志    maven的他一样
![image](https://user-images.githubusercontent.com/25631506/67538679-69528b00-f712-11e9-833d-55c84ab40135.png)

[2019-10-25 02:31] Forget-C commented on #1185
jenkins日志
![image](https://user-images.githubusercontent.com/25631506/67538718-89824a00-f712-11e9-8349-f8a178005f77.png)

[2019-10-25 02:36] huanggze commented on #1166
verified

[2019-10-25 02:36] #1166 closed

[2019-10-25 02:37] zryfish commented on #1141
there is no event right now because controller didn't write any, @leoendless this tab can be removed

[2019-10-25 02:39] rayzhou2017 commented on #1158
verified

[2019-10-25 02:39] #1158 closed

[2019-10-25 02:40] huanggze commented on #1178
/milestone 3.0.0

[2019-10-25 02:41] mayuhope commented on #1174
差不多2分钟左右

[2019-10-25 02:41] rayzhou2017 commented on #1148
verified

[2019-10-25 02:41] #1148 closed

[2019-10-25 02:43] #1071 closed

[2019-10-25 02:43] zheng1 opened #1186 "应用商店翻译问题"
目前我们有几个概念搞混淆了. 需要在这里讨论一下:

我认为在KS中有以下的概念和解释:
1. App Template, 应用模板, 对应OP中的App(应用)
2. Application, 应用, 对应OP中的Cluster(集群)
3. App Store, 应用商店, 对应OP中的App Store(应用商店), 解释是"一个应用分发平台, 一个允许用户浏览和部署应用的商店"

@Carlosfengv @wansir   请帮看下这样的理解是否与你们之前的设计有冲突

基于这种理解, 下面有些地方是有歧义的.

![截屏2019-10-2510 23 10](https://user-images.githubusercontent.com/4156721/67539150-d31f6480-f713-11e9-9e97-8d7bfa5dfc24.png)
![截屏2019-1

[2019-10-25 02:44] huanggze commented on #1132
verified

[2019-10-25 02:44] #1132 closed

[2019-10-25 02:45] huanggze commented on #1130
没完全 fix，还有点小问题

![image](https://user-images.githubusercontent.com/22350668/67539386-8ee09400-f714-11e9-8607-0b8478b515e0.png)

[2019-10-25 02:45] huanggze commented on #1130
/remove-kind need-to-verify

@whDongRui

[2019-10-25 02:46] zheng1 commented on #1184
Verified

[2019-10-25 02:46] #1184 closed

[2019-10-25 02:46] rayzhou2017 commented on #962
这个很容易复现，busybox镜像，填写args （echo,"hello world"), yaml里hello world的双引号没有了，这个执行会有问题。
![Screen Shot 2019-10-25 at 10 45 16 AM](https://user-images.githubusercontent.com/28859385/67539400-99029280-f714-11e9-99bd-eab11695c688.png)
![Screen Shot 2019-10-25 at 10 45 42 AM](https://user-images.githubusercontent.com/28859385/67539434-b8012480-f714-11e9-85d2-4556a851abff.png)

[2019-10-25 02:47] zheng1 commented on #1186
- [ ] "Upload Helm Config File" 应当是 "Upload Helm Chart Package"

[2019-10-25 02:47] justahole commented on #974
这是原本为了区分是否正在扩容，现在用别的方式提示了，新的代码已提交，等待刷新。

[2019-10-25 02:49] rayzhou2017 commented on #962
这个双引号就没有存下来，我输入双引号，点击对勾之后再重新编辑，双引号也不见了。

[2019-10-25 02:51] justahole commented on #1142
Fixed

[2019-10-25 02:52] huanggze opened #1187 "未就绪的 pod 亮绿点"
![image](https://user-images.githubusercontent.com/22350668/67539642-6016ed80-f715-11e9-9d33-e0fab49db00c.png)

![image](https://user-images.githubusercontent.com/22350668/67539665-7755db00-f715-11e9-9a31-4d948985bd47.png)

[2019-10-25 02:52] huanggze commented on #1187
/kind bug
/area console
/milestone 2.1.0
/assign @wansir

[2019-10-25 02:53] shaowenchen opened #1188 "项目，基本信息中，资源配额信息不准确"
版本：2.1-dev

1，创建示例应用之后，查看项目基本信息，cpu 和 mem 使用量都为 0

![image](https://user-images.githubusercontent.com/43693241/67539409-9ef87380-f714-11e9-95e5-af6cb3a005ae.png)

2，点击【项目管理】，限制项目配额之后，实际使用量不准确，数值过大（仅部署示例应用）

![image](https://user-images.githubusercontent.com/43693241/67539521-06162800-f715-11e9-8dbc-47e475d5ad55.png)

/area monitoring
/area console

/kind bug

/assign @leoendless
/assign @huanggze

[2019-10-25 02:58] leoendless commented on #1188
@wansir @zryfish 看下这个问题吧，

一个是未设置配额时，limits.cpu，requests.cpu 值为空

二可能是 bookinfo 的 limits 设置太大 ？

[2019-10-25 02:59] huanggze opened #1189 "应用仓库同步多余的报错"
刚添加 repo，应该在自动同步中。这里报错是多余的把？即使同步中，点击同步应该不会报错才对

![image](https://user-images.githubusercontent.com/22350668/67539950-5641ba00-f716-11e9-8eb5-314ff2f716a9.png)

[2019-10-25 02:59] huanggze commented on #1189
/area app-management
/assign @pengcong06
/milestone 2.1.0

[2019-10-25 03:02] shaowenchen commented on #1188
从监控中心，可以看到监控数据。

![image](https://user-images.githubusercontent.com/43693241/67540136-e67fff00-f716-11e9-8339-e6543b2a019d.png)

[2019-10-25 03:03] huanggze opened #1190 "缺少版本号填写规范文案"
![image](https://user-images.githubusercontent.com/22350668/67540160-ff88b000-f716-11e9-821c-7e660c741899.png)

[2019-10-25 03:03] huanggze commented on #1190
/area console
/area app-management
/milestone 2.1.0

[2019-10-25 03:03] huanggze commented on #1190
/assign @wansir

[2019-10-25 03:04] leoendless commented on #1188
@shaowenchen 这是两种不同的概念，一个是 cpu 最大允许使用的配额统计，一个是 当前所有资源cpu使用量的统计

[2019-10-25 03:05] huanggze commented on #1099
10月25日 早上9点半 安装的环境，仍有问题 @pengcong06

/remove-kind need-to-verify

[2019-10-25 03:06] huanggze commented on #1049
verified

[2019-10-25 03:06] #1049 closed

[2019-10-25 03:11] huanggze opened #1191 "异常pod计数 UI 绘图间隔太大，导致间隔内的数据漏了"
目前 UI 展示是 10 分钟一个段。如果这 10分钟内有 pod 异常的变化，在 UI 上会看不出来。比如下图，其中有个 10分钟段内应该有一个 异常pod 计数

![image](https://user-images.githubusercontent.com/22350668/67540437-f3e9b900-f717-11e9-8d7f-bceacfe370cf.png)

[2019-10-25 03:12] huanggze commented on #1191
/kind design
/assign @Carlosfengv
/milestone 3.0.0

[2019-10-25 03:13] runzexia commented on #1173
这个地方是single_svn被处理成svn导致的，需要前端fix下
/cc @minghaoye

[2019-10-25 03:14] runzexia commented on #1173
/area devops
/area console
/kind bug
/milestone 2.1.0

[2019-10-25 03:19] huanggze opened #1192 "应用部署报 data too long 错误，"
虽然报错，但前端有创建显示（等待中）

![image](https://user-images.githubusercontent.com/22350668/67540745-1a5c2400-f719-11e9-8052-8255a6cdf182.png)

![image](https://user-images.githubusercontent.com/22350668/67540759-3069e480-f719-11e9-8826-17e5e0c96a74.png)

[2019-10-25 03:19] huanggze commented on #1192
/kind bug
/area app-management
/assign @pengcong06
/milestone 2.1.0

[2019-10-25 03:22] huanggze commented on #1097
verified

[2019-10-25 03:22] #1097 closed

[2019-10-25 03:22] huanggze commented on #1037
verified

[2019-10-25 03:22] #1037 closed

[2019-10-25 03:31] huanggze commented on #1102
verified

[2019-10-25 03:31] #1102 closed

[2019-10-25 03:33] shaowenchen opened #1193 "邮箱配置，SSL 开启报错、邮件中图片无法显示"
版本：2.1-dev

1，配置 QQ 邮箱，可以发送邮件，但邮件中的图片无法正常显示。

查看邮件原文发现，图片地址 404 ，kubesphere.io/static/logo.58fe8884.svg

![image](https://user-images.githubusercontent.com/43693241/67541065-2eecec00-f71a-11e9-9a52-927b14a863b1.png)

2，邮件开启 SSL ，发送测试邮件失败

![image](https://user-images.githubusercontent.com/43693241/67541090-4c21ba80-f71a-11e9-97c7-43a55d8023cb.png)

3，测试邮件内容没有国际化

4，建议在缺省配置中，让 smtp 用户与发件人邮件，保持一致。以他

[2019-10-25 03:34] shaowenchen commented on #1193
/milestone 2.1.0

[2019-10-25 03:38] shaowenchen commented on #1188
那就是这里显示的是 limit 值？并不是实际使用值。

这里按照文案理解，很容易想到的是监控实时数据。同时，cpu、mem 下面同列数据，显示的 pod svc  等都是显示的实际使用额度。

[2019-10-25 03:40] #1168 closed

[2019-10-25 03:41] shaowenchen commented on #1188
/milestone 2.1.0

[2019-10-25 03:41] huanggze opened #1194 "没有删除 PVC 的入口了，之前还有"
一周前的版本还有

![image](https://user-images.githubusercontent.com/22350668/67541654-5f358a00-f71c-11e9-97a5-bae1cceb7996.png)

10月25日早上的 installer 没了

![image](https://user-images.githubusercontent.com/22350668/67541836-ff8bae80-f71c-11e9-9d14-6cd608d1d008.png)

[2019-10-25 03:42] huanggze commented on #1194
/kind bug
/area console
/milestone 2.1.0
/assign @justahole

[2019-10-25 03:43] whDongRui commented on #1130
@pengcong06  后端让我把按name排序的逻辑给去掉了，这个bug还得后端看一下，应该没有修复好。

[2019-10-25 03:43] leoendless commented on #1188
所以这里写的是配额

[2019-10-25 04:01] mayuhope opened #1195 "修改ks-installer的cm中enableMultiLogin这个字段后，console无法登录"
1、执行kubectl edit cm -n kubesphere-system ks-installer修改 enableMultiLogin这个字段，保存退出；

2、过一会后登陆前端console，使用正确的用户名+密码无法成功登录，无提示也无报错；
![image](https://user-images.githubusercontent.com/7677050/67542399-36fb5a80-f71f-11e9-92c8-4851337a0622.png)

[2019-10-25 04:04] mayuhope commented on #1195
/kind bug
/area installation
/milestone 2.1.0
/assign @pixiake

[2019-10-25 04:34] rayzhou2017 opened #1196 "appstore url"
* [ ] path是apps，这个容易混淆，最好改成appstore
![Screen Shot 2019-10-25 at 12 32 34 PM](https://user-images.githubusercontent.com/28859385/67543391-bdb23680-f723-11e9-9f61-e32e3b1253d7.png)

* [ ] 最新上架url param 不是latest，改成new比较好
![Screen Shot 2019-10-25 at 12 39 11 PM](https://user-images.githubusercontent.com/28859385/67543555-927c1700-f724-11e9-9f6f-106fbc72a494.png)

[2019-10-25 04:38] rayzhou2017 opened #1197 "未登录用户看不到appstore里的app"
* [x] 没有登录，看不到app，也看不到未分类这个类别
![Screen Shot 2019-10-25 at 12 36 38 PM](https://user-images.githubusercontent.com/28859385/67543503-44671380-f724-11e9-8291-89bc6645b83c.png)
![Screen Shot 2019-10-25 at 12 32 34 PM](https://user-images.githubusercontent.com/28859385/67543510-534dc600-f724-11e9-8733-5d907112c5a0.png)

[2019-10-25 05:23] soulseen opened #1198 "devops 流水线下缺少代码质量检测结果"
**Describe the bug(描述下问题)**
按照[文档](https://kubesphere.io/docs/v2.1/zh-CN/quick-start/devops-online/)，运行完成流水线后，无法查看代码质量检测结果。
![image](https://user-images.githubusercontent.com/16031013/67545045-416f2180-f72a-11e9-9793-2fc772c049bc.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1 dev
Kubernetes: v1.15.5

**To Reproduce(复现步骤)**
Steps to reproduce the behavior:
1. 按照[文档](https://kubes

[2019-10-25 05:25] soulseen commented on #1198
/kind bug
/area devops

[2019-10-25 05:31] rayzhou2017 opened #1200 "登录url错误"
* [ ] "登录遇到问题?" url不对
* [ ] 选择“记住我”好像也不起作用
![Screen Shot 2019-10-25 at 1 29 28 PM](https://user-images.githubusercontent.com/28859385/67545450-af681880-f72b-11e9-939e-2fe7985ac93e.png)

[2019-10-25 05:51] rayzhou2017 opened #1201 "dashboard页项目加link"
* [x] 既然现在已经提供了全局项目功能，dashboard页面的项目最好加一个link过去
![Screen Shot 2019-10-25 at 1 49 36 PM](https://user-images.githubusercontent.com/28859385/67546243-77160980-f72e-11e9-885c-19cbce686380.png)

[2019-10-25 05:57] knowwinter commented on #1156
身体重要，不过这个问题没有其他人可以解决吗？

[2019-10-25 05:58] wnxn commented on #1156
我们已经在调研这个问题了

[2019-10-25 06:03] rayzhou2017 opened #1202 "应用管理文案"
* [ ] uncategorized这个地方没有翻译
![Screen Shot 2019-10-25 at 2 02 40 PM](https://user-images.githubusercontent.com/28859385/67546957-3d460280-f730-11e9-8726-40ca9e098ed7.png)

[2019-10-25 06:09] hlwanghl commented on #1183
--insecure-registry 需要在所有 KubeSphere 节点主机配置。

[2019-10-25 06:11] rayzhou2017 opened #1203 "helm sample"
* [ ] 提供一个完整的sample，这样我能看到介绍、截图怎么在这个地方展现出来
![Screen Shot 2019-10-25 at 2 10 10 PM](https://user-images.githubusercontent.com/28859385/67547312-5b603280-f731-11e9-9c57-507cdab8e441.png)

[2019-10-25 06:18] leoendless commented on #1200
建议这里的登录与 login 页面统一为一个 @Carlosfengv

[2019-10-25 06:22] Carlosfengv commented on #1186
赞👍

[2019-10-25 06:26] soulseen commented on #1198
/milestone 2.1.0

[2019-10-25 06:26] #1198 closed

[2019-10-25 06:28] zheng1 commented on #1203
可以使用 https://kubernetes-charts.storage.googleapis.com/mysql-1.3.3.tgz 作为sample.

这里有两个问题:

- [ ] 介绍没有正确的显示出来, @wansir ks后端没有返回, @pengcong06 这个在op数据库里是空的.
- [ ] 截图不应该展示出来, helm包里没有截图这个信息 @whDongRui

[2019-10-25 06:32] knowwinter commented on #1156
好的，好的，万分感谢，我手动用rbd扩容ceph上对应的pvc，然后再kubectl edit pv，再xfs_growfs /dev/rbd1 从实际效果看对应挂在的存储是可以扩容的，但是kubectl edit pvc对应k8s的pvc是死活也无法生效的，从ks平台上编辑扩容就会报截图的错误，死活无法生效

[2019-10-25 06:36] whDongRui commented on #1186
有些翻译在之前的issue已经改过了, 刚按截图中标注的翻译都改过了。
配置包支持的格式tgz,tar.gz应该是都支持的吧，这两个是一样的。
有时间的话可以帮忙看一下应用管理那块的页面翻译还有没有什么问题，谢谢了。

[2019-10-25 06:40] wnxn commented on #1156
可以在 kube-controller-manager /etc/ceph 文件夹里创建两个空的文件  ceph.conf， ceph.keyring 。再按照之前方法扩容 PVC 并挂载到 pod 就可以完成扩容了。https://github.com/kubernetes/kubernetes/issues/72393#issuecomment-458491453

[code]

[2019-10-25 06:46] zryfish commented on #1127
https://github.com/kubernetes/ingress-nginx/issues/2497 和这个issue有些类似，可以看下

[2019-10-25 06:47] zryfish commented on #1114
最新的installer修复了，需要打开网关的应用治理功能

[2019-10-25 06:48] zryfish commented on #1140
最新的installer修复了，需要打开网关的应用治理功能

[2019-10-25 06:50] zryfish commented on #794
https://github.com/kubesphere/kubesphere/pull/1103

[2019-10-25 06:50] #794 closed

[2019-10-25 06:50] whDongRui commented on #1197
/ assign @wansir

[2019-10-25 06:52] whDongRui commented on #1202
未分类是后端查询app返回的数据，这个地方忘记加转换了，刚给经修复了。

![image](https://user-images.githubusercontent.com/38676269/67549498-fad3f400-f736-11e9-864c-621e0fc8f1e4.png)

[2019-10-25 06:56] #1195 closed

[2019-10-25 06:56] whDongRui commented on #1203
介绍，截图没有信息是时前端给默认显示的"无”
介绍和截图可在以企业空间->应用模板->应用详情,去点编辑按钮，编辑页面有上传截图和填写介绍的地方。编辑完保存后在应用商店就可以看到相应的信息了。

![image](https://user-images.githubusercontent.com/38676269/67549661-5d2cf480-f737-11e9-8ec4-bde08d7705c1.png)

[2019-10-25 07:21] Carlosfengv commented on #1200
去掉Modal 的登录方式吧

[2019-10-25 07:23] huanggze commented on #1194
还没有再复现，先放一放

[2019-10-25 07:29] wnxn commented on #833
由于 Kubernetes 里 PV 记录的存储类型的 provisioner 字段不可更改。
QingCloud CSI v1.1.0 默认 provisioner 字段为 disk.csi.qingcloud.com，以后推荐使用 disk.csi.qingcloud.com
QingCloud CSI v0.2.x 默认 provisioner 字段为 csi-qingcloud
对于 新建的 KS 2.1 集群 provisioner 字段为 disk.csi.qingcloud.com
对于 升级的 KS 2.1 集群需要兼容之前创建的 PV，所以 provisioner 字段为 csi-qingcloud
目前 KS 2.1 UI 关于 qingcloud-csi 存储类型需要兼容2个 provisioner，经过与 @Carlosfengv 讨论，创建存储类型第2页中创建 q

[2019-10-25 07:33] whDongRui commented on #1196
应用商店的url都按上面说的已经改了。

[2019-10-25 07:39] leoendless commented on #1196
url 这个如果是 appstore, 那详情就会是 appstore/app-xxx , 看起来不符合 rest 规范

apps 的话与 appcenter 里方式一致，应该是很容易理解的吧

[2019-10-25 07:41] tzghost opened #1204 "是否支持企业微信或者钉钉告警？"
是否支持企业微信或者钉钉告警？

[2019-10-25 07:42] runzexia commented on #1193
![image](https://user-images.githubusercontent.com/31230341/67552621-fb23bd80-f73d-11e9-8c52-95cfa41065ba.png)
yunify邮箱也不可以

[2019-10-25 07:46] leoendless commented on #1200
Fixed

[2019-10-25 07:46] leoendless commented on #1141
Fixed

[2019-10-25 07:59] leoendless commented on #1201
Fixed

[2019-10-25 08:22] rayzhou2017 opened #1205 "测试email"
* [ ] 测试email怎么有图片没load进
![Screen Shot 2019-10-25 at 3 59 35 PM](https://user-images.githubusercontent.com/28859385/67553813-9c137800-f740-11e9-9d24-6f081720b0fa.png)

[2019-10-25 08:28] runzexia commented on #1185
@Forget-C
修改过jenkins设置后要进入casc reload一遍。
https://kubesphere.io/docs/v2.0/zh-CN/devops/jenkins-setting/#%E7%99%BB%E9%99%86-jenkins-%E9%87%8D%E6%96%B0%E5%8A%A0%E8%BD%BD

[2019-10-25 08:28] rayzhou2017 opened #1206 "服务组件回退404了"
* [x] 在服务组件里进入一个服务，点击上面的返回箭头404了
![Screen Shot 2019-10-25 at 4 26 47 PM](https://user-images.githubusercontent.com/28859385/67555720-6f615f80-f744-11e9-9cc1-3d113f62f6aa.png)

[2019-10-25 08:40] rayzhou2017 opened #1207 "英文文案"
* [x] 这个地方单复数不统一，有一个routes是复数，其它的是单数，统一一下
![Screen Shot 2019-10-25 at 4 38 40 PM](https://user-images.githubusercontent.com/28859385/67556628-11ce1280-f746-11e9-8d03-3005c69d8d0a.png)

[2019-10-25 08:49] Carriezhangyan opened #1208 "安装主节点上 /dev/loop2 设备没了，iso目录下的文件全没了"
一般安装完后 /dev/loop2 会挂载一个iso目录，，今天查看5080端口下的iso目录的时候发现，iso目录下的所有文件都没有了，但是不知道是做了什么导致/dev/loop*设备全部不见了。。如果没有/dev/loop*设备挂载到iso目录的话，，以后做节点扩容会找不到镜像下载。请大神们看一下为什么会出现这种问题？

[2019-10-25 09:03] shaowenchen opened #1209 "告警策略无法删除，报错 404"
版本：2.1-dev

![image](https://user-images.githubusercontent.com/43693241/67558292-48f1f300-f749-11e9-95e0-fcbb36743ab0.png)

/area alerting
/kind bug
/milestone 2.1.0

[2019-10-25 09:07] pixiake commented on #1208
应该是重启过机器吧    执行下install.sh就会重新挂那些iso

[2019-10-25 09:09] runzexia commented on #1209
版本太老了？
我这里是可以work的

[2019-10-25 09:11] shaowenchen commented on #1209
我使用的是今天凌晨的版本

[2019-10-25 09:36] rayzhou2017 opened #1210 "app store 英文文案"
* [x] 点击suspend后，跳出的窗口文案需要改成：The version 0.1.0 [1.0] will not be displayed in the store when it is suspended. Are you sure to suspend it now?
![Screen Shot 2019-10-25 at 5 33 46 PM](https://user-images.githubusercontent.com/28859385/67560557-b56ef100-f74d-11e9-8c9d-30e1da93244d.png)

* [x] Recover Version改成 Activate Version比较好，跳出的窗口文案改成：The version 0.1.0 [1.0] will be displayed again in the store.

[2019-10-25 09:39] whDongRui commented on #1190
/assign @whDongRui

这个是前端进行的版本号格式验证，我来改一下验证的提示文字吧

[2019-10-25 09:55] Carriezhangyan commented on #1208
我已经测试过重新执行 install.sh 可以重新挂载那些iso，，但是会对已经部署的应用有一些影响。。

能不能找到代码，可以手动执行命令获取那些iso文件呢？

[2019-10-25 10:09] huanggze opened #1211 "监控网络流量的单位转换"
这两个点的单位转化是不是有点问题？UI 上显示的怎么这么大，实际值单位是 bytes/s

![webwxgetmsgimg](https://user-images.githubusercontent.com/22350668/67563051-8444ef80-f752-11e9-9649-9a52ecfeac09.jpeg)

![webwxgetmsgimg (1)](https://user-images.githubusercontent.com/22350668/67563056-84dd8600-f752-11e9-8fdd-e7bb96d4e071.jpeg)

![image](https://user-images.githubusercontent.com/22350668/67563094-96269280-f752-11e9-9475-aa9d107e5bfc.

[2019-10-25 10:10] pixiake commented on #1208
install.sh 最开始就是挂载这些iso，所以不用执行完，看到更新软件源就可以停掉了。相关的挂载命令在scripts/os/centos.sh or ubuntu.sh

[2019-10-25 10:13] huanggze commented on #1211
/kind bug
/area monitoring
/area console
/milestone 2.1.0
/assign @justahole

[2019-10-25 10:15] huanggze commented on #1211
流入、流出需要检查下

[2019-10-25 10:18] #1211 closed

[2019-10-25 10:21] Carriezhangyan commented on #1208
非常谢谢。已经解决。

执行一下scripts/os/centos7.sh 就可以解决重启后iso文件消失的问题

[2019-10-25 10:24] justahole commented on #1211
👍

[2019-10-25 10:30] knowwinter commented on #1156
测试可行

[2019-10-25 10:30] #1156 closed

[2019-10-25 10:39] knowwinter opened #1212 "system-workspace权限问题"
这个默认的企业空间里的所有的创建的权限（比如创建存储卷、创建部署、创建服务等，还有容器的终端登陆）这些按钮有时会有有时就消失了，用的同一个帐号admin，都是最大权限的，很莫名奇妙，但是其他的企业空间里的这些按钮都是有的。
![微信图片_20191025183824](https://user-images.githubusercontent.com/25719964/67564960-c96b2080-f756-11e9-846b-1382fb00d26c.png)
![微信图片_20191025183838](https://user-images.githubusercontent.com/25719964/67564965-cbcd7a80-f756-11e9-8014-dd266d2972dd.png)
![微信图片_20191025183845](https://user-im

[2019-10-25 10:49] #1082 closed

[2019-10-25 10:49] wansir commented on #1212
system-workspace里主要是一些控制平面的ns，在前端对编辑做了限制，防止误操作。

[2019-10-25 10:50] FeynmanZhou commented on #1212
@knowwinter system-workspace 里面运行的都是 kubesphere 系统组件，默认不允许创建和删除。可以新建 workspace 然后创建资源

[2019-10-25 10:58] knowwinter commented on #1212
问题是system-workspace这些按钮有时有有时没有，这个才是重点啊，如果他就是应该没有的为什么有时会有这些按钮呢，我都在这里创建过存储卷和终端登陆过容器，然后突然之间这些按钮又凭空消失了，怀疑人生

[2019-10-25 11:03] whDongRui commented on #1190
这个我已经给加上了

![image](https://user-images.githubusercontent.com/38676269/67566311-097fd280-f75a-11e9-82d4-48fb4bb6828a.png)

![image](https://user-images.githubusercontent.com/38676269/67566320-113f7700-f75a-11e9-855e-a09d38bd93d4.png)

[2019-10-25 11:05] whDongRui commented on #1210
版本和应用相关操作提示的英文翻译已经修复了。

![image](https://user-images.githubusercontent.com/38676269/67566390-3c29cb00-f75a-11e9-8800-1cc99045213c.png)

![image](https://user-images.githubusercontent.com/38676269/67566409-49df5080-f75a-11e9-98e0-6851948481c9.png)

![image](https://user-images.githubusercontent.com/38676269/67566435-5c598a00-f75a-11e9-959c-b86832e43b75.png)

[2019-10-25 11:19] wansir commented on #361
/kind need-to-verify

[2019-10-25 11:19] wansir commented on #647
/close

[2019-10-25 11:19] #647 closed

[2019-10-25 11:19] huanggze opened #1214 "下拉菜单显示异常"
![image](https://user-images.githubusercontent.com/22350668/67567422-6c726900-f75c-11e9-9d16-b63f6afa8084.png)

[2019-10-25 11:20] huanggze commented on #1214
/area console
/kind bug
/milestone 2.1.0
/assign @leoendless

[2019-10-25 11:22] wansir commented on #874
预期的错误，数据写入 超出了最大尝试次数

[2019-10-25 11:23] shaowenchen opened #1215 "告警，发送邮件次数与显示不相符"
版本：2.1-dev

配置的【危险告警】，每30分钟告警一次。17：37—19：19  ，仅收到两次邮件提醒，但是页面上显示4次消息通知。

![image](https://user-images.githubusercontent.com/43693241/67567469-88760a80-f75c-11e9-99eb-13b378fd7400.png)

![image](https://user-images.githubusercontent.com/43693241/67567568-b65b4f00-f75c-11e9-83b4-0b39795f2bd4.png)

![image](https://user-images.githubusercontent.com/43693241/67567609-c4a96b00-f75c-11e9-8b4d-5f3a7e568f0

[2019-10-25 11:23] shaowenchen commented on #1215
/milestone 2.1.0

[2019-10-25 11:23] wansir commented on #887
/milestone 2.1.1

[2019-10-25 11:29] shaowenchen opened #1216 "告警，cpu和memory 配置不生效"
版本：2.1-dev

以内存为例，部署了一个 Jenkins ，内存肯定超过 100M

![image](https://user-images.githubusercontent.com/43693241/67567866-51ecbf80-f75d-11e9-9e00-00a269d532c3.png)

但是没有收到，告警消息。

![image](https://user-images.githubusercontent.com/43693241/67567906-692bad00-f75d-11e9-9f12-0ac6f8ce098e.png)

/area alerting
/milestone 2.1.0
/help

[2019-10-25 11:30] wansir commented on #1171
/kind need-to-verify

[2019-10-25 11:31] leoendless commented on #1206
Fixed

[2019-10-25 11:32] wansir commented on #1190
/kind need-to-verify

[2019-10-25 11:33] wansir commented on #1162
/milestone 3.0.0

[2019-10-25 11:36] calvinyv commented on #1121
@Forget-C pls join the discussion here #1152

[2019-10-25 11:41] leoendless commented on #912
Fixed

[2019-10-25 12:04] leoendless commented on #1209
Fixed

[2019-10-25 12:20] zryfish commented on #989
@ChangMuChen https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#deprecations-and-removals 你可以按照这个建议，重新启用下这几组API，然后再安装KubeSphere

[2019-10-25 12:26] rayzhou2017 commented on #1196
也是，path可能是应该是apps，如果需要改的话应该是类似于appstore.xxxx.com/apps

[2019-10-25 12:45] rayzhou2017 commented on #1206
verified