[2020-08-17 08:29] liuyp2018 commented on #2488
/close

[2020-08-17 08:29] #2488 closed

[2020-08-17 09:04] leoendless commented on #2521
Please create a new issue for this one.

[2020-08-17 09:05] leoendless commented on #2521
``The first page data is not shown`` should have been fixed.

[2020-08-17 09:09] liuyp2018 opened #2882 "After deleting the second page of data, it is recommended to display the first page of data directly"
**Describe the Bug**
After deleting the second page of data, it is recommended to display the first page of data directly
The same problem exists with other lists, such as application lists, pipeline list, storage lists

![image](https://user-images.githubusercontent.com/36271543/90378734-4c75b280-e0ac-11ea-8898-9f2afe706336.png)

/kind bug
/area console
/milestone 3.0.0
/priority medium

[2020-08-17 09:10] liuyp2018 commented on #2521
/close

[2020-08-17 09:10] #2521 closed

[2020-08-17 09:32] harrisonliu5 commented on #1957
assign @zheng1

[2020-08-17 09:33] harrisonliu5 commented on #1957
/assign @zheng1

[2020-08-17 12:24] Ma-Dan opened #2883 "Upgrading from K8s 1.15.5/KS 2.1.1 to K8s 1.18.6/ KS 3.0.0, volume snapshot can not use"
**Describe the Bug**
Volume snapshot CRDs are not upgraded and user can not create snapshot from UI.
![image](https://user-images.githubusercontent.com/38337958/90395600-59ec6600-e0c7-11ea-90c6-1a7e8e3dacf0.png)
![image](https://user-images.githubusercontent.com/38337958/90395605-5ce75680-e0c7-11ea-8b21-0a3d00e74351.png)

**Environment**
3 nodes HA master (master1 192.168.10.8, master2 192.168.10.

[2020-08-17 12:29] Ma-Dan opened #2884 "Old jaeger operator is not deleted after upgrading from K8s 1.15.5/KS 2.1.1 to K8s 1.18.6/ KS 3.0.0"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/38337958/90395971-0595b600-e0c8-11ea-9251-ce71d7e4d883.png)

**Environment**
3 nodes HA master (master1 192.168.10.8, master2 192.168.10.9, master3 192.168.10.10) 8C16G
3 worker nodes (node1 192.168.10.11, node2 192.168.10.12, node3 192.168.10.13) 8C16G
Ubuntu 18.04

**Expected behavior**
Old jaeger operator is deleted.

[2020-08-17 13:20] zheng1 commented on #2853
verified
/close

[2020-08-17 13:20] #2853 closed

[2020-08-17 13:23] #2090 closed

[2020-08-17 13:24] #2102 closed

[2020-08-17 13:43] zheng1 commented on #1957
Works as expected, those versions sort by upload time.

[2020-08-17 14:25] harrisonliu5 commented on #1957
but it does not sort by upload time

[2020-08-18 01:14] rayzhou2017 commented on #2864
verified

[2020-08-18 01:14] #2864 closed

[2020-08-18 01:24] rayzhou2017 commented on #2879
Is this problem solved?

[2020-08-18 01:49] harrisonliu5 commented on #1957
[GET] http://139.198.12.26:30884/kapis/openpitrix.io/v1/workspaces/one-cluster-ws/apps/app-nl149Dl6007x/versions?orderBy=sequence&paging=limit%3D10%2Cpage%3D1&conditions=status%3Ddraft%7Csubmitted%7Crejected%7Cin-review%7Cpassed%7Cactive%7Csuspended&reverse=true

![image](https://user-images.githubusercontent.com/17872673/90461090-f9494180-e137-11ea-9188-9996c89372e9.png)

[2020-08-18 03:40] rayzhou2017 commented on #1801
Already support in v3.0.0

[2020-08-18 03:40] #1801 closed

[2020-08-18 03:42] duanjiong commented on #2837
verified

[2020-08-18 03:42] #2837 closed

[2020-08-18 03:48] rayzhou2017 commented on #2306
using kubectl delete cluster <name>

[2020-08-18 03:54] zryfish commented on #1557
/close
due to inactivity and issue already fixed

[2020-08-18 03:54] #1557 closed

[2020-08-18 03:55] zryfish commented on #1632
/close
due to inactivity and issue already fixed

[2020-08-18 03:55] #1632 closed

[2020-08-18 03:58] zryfish commented on #1569
/close
due to inactivity and issue already fixed and verified

[2020-08-18 03:58] #1569 closed

[2020-08-18 04:01] zryfish commented on #1176
Can import vulnerability data to offline harbor now, check it out https://goharbor.io/docs/1.10/administration/vulnerability-scanning/import-vulnerability-data/

[2020-08-18 04:02] zryfish commented on #1176
/close
The first, second and third issue already supported in v3.0

[2020-08-18 04:02] #1176 closed

[2020-08-18 04:03] zryfish commented on #1866
@LinuxSuRen Does this issue still exist in v3.0 latest build?

[2020-08-18 04:04] zryfish commented on #1931
/close
due to inactivity and this issue already been fixed

[2020-08-18 04:04] #1931 closed

[2020-08-18 04:06] zryfish commented on #2284
@ConnorLH Can you verify this issue? It should be fixed in v3.0 the latest build

[2020-08-18 04:07] zryfish commented on #1883
@ZhangSIming-blyq Can you verify this issue? It should be fixed in v3.0 the latest build.

[2020-08-18 04:19] liuyp2018 commented on #2849
/close

[2020-08-18 04:19] #2849 closed

[2020-08-18 04:20] zryfish commented on #2228
/close

[2020-08-18 04:20] #2228 closed

[2020-08-18 04:36] LinuxSuRen commented on #1866
@rayzhou2017 @zryfish I'm not sure due to don't have the v3.0 environment.

[2020-08-18 05:08] rayzhou2017 commented on #1866
We decide to remove gitlab now since the official chart is not good.

[2020-08-18 05:08] #1866 closed

[2020-08-18 05:08] #2829 closed

[2020-08-18 05:35] liuyp2018 opened #2885 "error occur when set incorrect bitbucket repo url"
**Describe the Bug**
error occur when set incorrect bitbucket repo url

![image](https://user-images.githubusercontent.com/36271543/90474306-923b8500-e157-11ea-84cf-f291bc900b52.png)

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority low

[2020-08-18 05:38] #2876 closed

[2020-08-18 05:39] #2814 closed

[2020-08-18 05:43] wenxin-01 commented on #2873
Verified repair
testing env
http://139.198.12.26:30884

[2020-08-18 05:43] #2873 closed

[2020-08-18 05:45] wenxin-01 commented on #2872
Verified repair
testing env
http://139.198.12.26:30884

[2020-08-18 05:45] #2872 closed

[2020-08-18 06:00] #2306 closed

[2020-08-18 06:22] liuyp2018 commented on #1884
the problem still exists in ks3.0

/remove-kind need-to-verify

[2020-08-18 06:35] rayzhou2017 commented on #2785
verified

[2020-08-18 06:35] #2785 closed

[2020-08-18 06:36] zheng1 commented on #1884
This is not the bug of KubeSphere.
/close

[2020-08-18 06:36] #1884 closed

[2020-08-18 07:00] rayzhou2017 commented on #2284
This should be fixed

[2020-08-18 07:00] #2284 closed

[2020-08-18 07:06] rayzhou2017 commented on #2832
Actually this is not a functional bug. It just returns a wrong code. #2860

[2020-08-18 07:06] #2832 closed

[2020-08-18 07:13] #2631 closed

[2020-08-18 07:13] #2858 closed

[2020-08-18 07:21] wenxin-01 opened #2886 "Workspace/App Templates/Audit Records,Operator display error"
Describe the Bug
App Templates/Audit Records,Operator display error

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'admin'
2.Click 'workbench'
3.Click 'workspaces'
4.click any 'workspace’
5.click 'App Templates'
6.click any 'app template'
7.click 'audit records'

Expected behavior
The IP

[2020-08-18 07:42] rayzhou2017 commented on #2579
verified

[2020-08-18 07:42] #2579 closed

[2020-08-18 08:17] zryfish commented on #1688
/kind feature
/unmilestone 3.0.0

[2020-08-18 08:18] zryfish commented on #1634
/milestone 3.1.0

[2020-08-18 08:19] zryfish commented on #1595
/close

[2020-08-18 08:19] #1595 closed

[2020-08-18 08:20] zryfish commented on #1432
/close
issue has been fixed already

[2020-08-18 08:20] #1432 closed

[2020-08-18 08:29] zryfish commented on #1178
It's not a bug, content returned from server based on the client window size, see the example below
![截屏2020-08-18 16 27 07](https://user-images.githubusercontent.com/3326354/90489422-d9357480-e16f-11ea-9d7f-170ce849e747.png)
![截屏2020-08-18 16 28 02](https://user-images.githubusercontent.com/3326354/90489470-ea7e8100-e16f-11ea-8e61-59966818f68e.png)

[2020-08-18 09:00] shaowenchen commented on #2483
write all users to DevOps admin. We need to solve the approval problem in 3.1.0

/milestone 3.1.0

/remove-kind need-to-verify

[2020-08-18 09:00] shaowenchen commented on #2483
/area devops

[2020-08-18 09:27] zryfish commented on #1886
/close
verified in v3.0 with the latest build

[2020-08-18 09:27] #1886 closed

[2020-08-18 09:30] zryfish commented on #1777
/unassign @wnxn
/assign @min-zh

[2020-08-18 09:41] zryfish commented on #2784
/kind need-to-verify

[2020-08-18 09:46] Ma-Dan commented on #2884
Verified on Debian 9.8 k8s 1.14.8/KS2.1.1 -> k8s 1.16.13/KS3.0.0 upgading.

[2020-08-18 09:53] Ma-Dan opened #2887 "Create a canary deployment before upgrading and offline it after upgrading, service become not available"
**Describe the Bug**
Create a cluster on Debian 9.8, k8s 1.14.8/KS2.1.1, create a project with service using loadbalancer. Create a canary deployment.
Upgrade to k8s 1.16.13/KS3.0.0, check the canary deployment, let v2 handle all traffic and offline canary.
v2 service is not available after offline.
![image](https://user-images.githubusercontent.com/38337958/90499014-96799980-e17b-11ea-8c8c-b3d30f

[2020-08-18 09:57] rayzhou2017 commented on #2884
So is it OK to close?

[2020-08-18 10:19] Ma-Dan commented on #2884
I will verify it one more time on next upgrading test and then close.

[2020-08-18 10:55] wenxin-01 opened #2888 "Workspace/App Template，When editing the app template, after uploading the application icon/Screenshots, click Cancel and the uploaded icon will still take effect."
Describe the Bug
App Templates/Audit Records,Operator display error

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'admin'
2.Click 'workbench'
3.Click 'workspaces'
4.click any 'workspace’
5.click 'App Templates'
6.click any 'app template'
7.click 'Edit info'
8.upload the application icon/

[2020-08-18 12:38] leoendless commented on #2888
Duplicate of #https://github.com/kubesphere/kubesphere/issues/1955

[2020-08-18 12:38] #2888 closed

[2020-08-18 13:37] zheng1 commented on #1957
Fix at https://github.com/openpitrix/openpitrix/pull/1037

[2020-08-18 13:38] zheng1 commented on #1957
/kind need-to-verify

It will be sorted with the version name.

![截屏2020-08-18 19 58 44](https://user-images.githubusercontent.com/4156721/90519786-0ea38780-e19b-11ea-8676-a30bde80546a.png)

![截屏2020-08-18 19 59 02](https://user-images.githubusercontent.com/4156721/90519783-0d725a80-e19b-11ea-838b-7d84cf06b903.png)

[2020-08-18 13:39] zheng1 commented on #2824
Fix at https://github.com/openpitrix/openpitrix/pull/1038

/kind need-to-verify

[2020-08-18 13:52] chsatyap opened #2889 "[Proposal] Potential code quality issues found"
I forked this repo a while ago and ran a DeepSource analysis on it. DeepSource found a variety of different issues categorized based on their types and severity which you can view [here](https://deepsource.io/gh/chsatyap/kubesphere/).

Brief description -
Anti-Patterns: 194
Bug Risks: 413
Performance issues: 17
Security Issues: 5

You can find a detailed description and fixes for some of them [her

[2020-08-18 13:58] zryfish commented on #2889
Thanks for your interest. We will look into the results.

[2020-08-18 17:06] shenhonglei commented on #2879
He @huanggze knows the reason, the installation document has been given, and he wants to reproduce.

[2020-08-19 00:58] min-zh commented on #2868
verified

[2020-08-19 00:58] #2868 closed

[2020-08-19 02:15] zryfish commented on #2229
/close

[2020-08-19 02:15] #2229 closed

[2020-08-19 02:35] #1338 closed

[2020-08-19 02:44] Ma-Dan commented on #2833
Verified, close issue.

[2020-08-19 02:44] #2833 closed

[2020-08-19 02:50] duanjiong commented on #2784
It still doesn't work in my environment. I don't know if it's just my browser, but I've switched to chrome and firefox and it doesn't work!

[2020-08-19 02:50] #2784 closed

[2020-08-19 02:53] FeynmanZhou commented on #1167
Verified: https://github.com/kubesphere/console/pull/1193

[2020-08-19 02:53] #1167 closed

[2020-08-19 04:18] rayzhou2017 opened #2890 "ingress to specific path of service"
When create a route rule, user wants to route to a specific path of a service.
<img width="998" alt="Screen Shot 2020-08-19 at 12 15 56 PM" src="https://user-images.githubusercontent.com/28859385/90591587-09cfe980-e216-11ea-9196-f80114e55d69.png">

[2020-08-19 06:25] junotx opened #2891 "there are other users to be added to project members after upgrading 2.1.1 to 3.0.0"
**Describe the Bug**

Before upgrading, there is only a user called `deli` in `deli` project (in workspace of `deli` project, role of user `soda` is `workspace-admin` and role of user `biscuit` is `workspace-viewer`)
After upgrading, the users `soda` and `biscuit` are added to project member list as follows
![image](https://user-images.githubusercontent.com/49136171/90599186-f5e0b380-e226-11ea-870

[2020-08-19 06:42] zryfish commented on #2887
It's not an upgrading issue, it's a bug.
/unarea upgrade

[2020-08-19 06:51] zryfish commented on #2887
/reopen
/kind need-to-verify
It should be fixed in v3.0, but still in older versions. Please verify in v3.0

[2020-08-19 06:56] wansir commented on #2891
/kind need-to-verify

[2020-08-19 07:20] junotx opened #2893 "miss devops project creator after upgrading 2.1.1 to 3.0.0"
**Describe the Bug**
the creator is gone after upgrading
![image](https://user-images.githubusercontent.com/49136171/90603851-84a4fe80-e22e-11ea-92f3-59ae77ab1778.png)

**Versions Used**
upgrade ks2.1.1(k8s1.16.7) to ks3.0.0(k8s1.16.7), including one master(4c8g) and two nodes(8c16g)

/assign @wansir
/area upgrade
/kind bug
/milestone 3.0.0

[2020-08-19 07:21] wansir commented on #2893
/assign @shaowenchen

[2020-08-19 07:42] wenxin-01 opened #2894 "Workspace/Project,Delete project A of the deployed applications, and then create project B with the same name as Project A in the same workspace. The deployed application in Project A will be displayed in project B."
Describe the Bug
Delete project A of the deployed applications, and then create project B with the same name as Project A in the same workspace. The deployed application in Project A will be displayed in project B.

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'admin'
2.Click 'workbench'

[2020-08-19 07:54] liuyp2018 opened #2895 "The problem of specifying the workload when creating service"
**Describe the Bug**
The problem of specifying the workload when creating  service

![image](https://user-images.githubusercontent.com/36271543/90607097-5675ed80-e233-11ea-8e0f-b16a92956716.png)

![image](https://user-images.githubusercontent.com/36271543/90607533-eb78e680-e233-11ea-8187-0e19137ef222.png)

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority medium

[2020-08-19 08:08] wansir commented on #2894
/assign @zheng1

[2020-08-19 08:29] shaowenchen commented on #2893
![image](https://user-images.githubusercontent.com/43693241/90611276-19145e80-e239-11ea-9e9e-a5906986b445.png)

@harrisonliu5

[2020-08-19 08:29] shaowenchen commented on #2893
/assign @harrisonliu5

[2020-08-19 08:32] liuyp2018 commented on #2824
The latest version has been removed ,  the latest version of the application has been updated;
but the latest version has been taken off the shelves,   the latest version of the app store has not been updated

![image](https://user-images.githubusercontent.com/36271543/90611283-1b76b880-e239-11ea-9b31-9d76059a9c10.png)

/remove-kind need-to-verify

[2020-08-19 08:32] liuyp2018 commented on #1957
/close

[2020-08-19 08:32] #1957 closed

[2020-08-19 08:49] liuyp2018 opened #2896 "When creating workspace, private clusters should not be displayed"
**Describe the Bug**
When creating workspace, private clusters should not be displayed
![image](https://user-images.githubusercontent.com/36271543/90613174-96d96980-e23b-11ea-810c-6e685cdd845b.png)

/kind bug
/area iam
/assign @wansir
/milestone 3.1.0
/priority medium

[2020-08-19 09:27] harrisonliu5 commented on #2893
in 3.0 https://console.kubesphere.io/testliu/clusters/shire/devops/asdk8w6j/base-info

![image](https://user-images.githubusercontent.com/17872673/90617393-364d2b00-e241-11ea-97d2-fefc80a89dec.png)

[2020-08-19 09:32] min-zh commented on #1777
@scott-wong @zryfish On storage provisioner **openebs.io/local**， multi **pvc**s share one **device**.  In the logic of  kubelet,  it use **unix.Statfs** to get capacity and innode of pv, it's almost the same as command **df**. So the data of pvc's capacity&usage&innode is as the same of the device of the pvc, and it has difference with the pvc's capacity.

[2020-08-19 09:42] wenxin-01 opened #2897 "Workspace/Project/Applications,The deleted version of the application should not be deployed"
Describe the Bug
The deleted version of application should not be deployed.
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'admin'
2.Click 'workbench'
3.Click 'workspaces'
4.click workspace 'wx-worspace'
5.click project 'wx-project1'
6.click applications
7.click ’deploy new application‘
8.

[2020-08-19 09:55] wansir commented on #2896
/assign @leoendless

[2020-08-19 09:55] wansir commented on #2897
/assign @zheng1

[2020-08-19 09:55] zryfish commented on #2896
@liuyp2018 which user are you using

[2020-08-19 10:04] liuyp2018 commented on #2896
User of custom workspace management role

[2020-08-19 10:27] junotx commented on #2891
verified
/close

[2020-08-19 10:28] #2891 closed

[2020-08-19 11:35] shaowenchen commented on #2893
fixed

/kind need-to-verify

[2020-08-19 11:48] rayzhou2017 commented on #2883
any update? @min-zh

[2020-08-19 11:59] zheng1 commented on #2824
Fix at https://github.com/openpitrix/openpitrix/pull/1039

/kind need-to-verify

[2020-08-20 01:46] min-zh commented on #2883
/kind need-to-verify

[2020-08-20 01:46] min-zh commented on #2883
yes，this has been fixed

[2020-08-20 01:59] liuyp2018 commented on #2895
There are still problems:
1. After adding a workload by specifying the workload, a prompt appears that the selector currently set does not have a corresponding workload
2. After specified a workload, click Add LabelSelector, click the specify workload button again, and specify the workload, but did not add it successfully

![image](https://user-images.githubusercontent.com/36271543/90707604-8a5022

[2020-08-20 02:19] wansir commented on #2896
/kind need-to-verify

[2020-08-20 02:24] zryfish opened #2899 "Push images to kubesphere repo"
The following images needed to be pushed to the official image repo before release.

- [x] kubespheredev/ks-apiserver:latest -> kubesphere/ks-apiserver:v3.0.0
- [x] kubespheredev/ks-controller-manager:latest -> kubesphere/ks-controller-manager:v3.0.0
- [x] kubespheredev/ks-console:latest -> kubesphere/ks-console:v3.0.0
- [x] kubespheredev/tower:latest -> kubesphere/tower:v0.1.0

/priority high
/as

[2020-08-20 02:46] #1938 closed

[2020-08-20 02:55] shaowenchen commented on #2899
## devops

kubespheredev/jenkins-uc:v3.0.0 -> kubesphere/jenkins-uc:v3.0.0
kubespheredev/ks-devops:flyway-v3.0.0 -> kubesphere/ks-devops:flyway-v3.0.0

[2020-08-20 03:01] rayzhou2017 commented on #1862
verified

[2020-08-20 03:01] #1862 closed

[2020-08-20 03:16] liuyp2018 commented on #2895
/close

[2020-08-20 03:16] #2895 closed

[2020-08-20 03:17] liuyp2018 commented on #2896
/close

[2020-08-20 03:17] #2896 closed

[2020-08-20 03:36] wanjunlei commented on #2899
- [ ] kubespheredev/kube-auditing-operator:v0.1.0 -> kubesphere/kube-auditing-operator:v0.1.0
- [ ] kubespheredev/kube-auditing-webhook:v0.1.0 -> kubesphere/kube-auditing-webhook:v0.1.0

[2020-08-20 03:45] rayzhou2017 commented on #1223
wordpress status is not fixed.

[2020-08-20 03:53] rayzhou2017 commented on #1744
verified

[2020-08-20 03:53] #1744 closed

[2020-08-20 03:54] rayzhou2017 commented on #2082
should be fixed in 3.0.0

[2020-08-20 03:54] #2082 closed

[2020-08-20 05:31] benjaminhuo opened #2900 "User account cannot be deleted after upgrading"
**Describe the Bug**
User account cannot be deleted after upgrading from 2.1.0 to 2.1.1 , then to 3.0.0
All components enabled.

**Versions Used**
KubeSphere: 2.1.0 => 2.1.1 => 3.0.0
Kubernetes: 1.14.x => 1.16.x => 1.17.x

[2020-08-20 06:31] rayzhou2017 commented on #2686
verified

[2020-08-20 06:31] #2686 closed

[2020-08-20 06:33] rayzhou2017 commented on #2387
I did not reproduce it in v3.0.0

[2020-08-20 06:33] #2387 closed

[2020-08-20 06:48] leoendless opened #2901 "Resource API result error"
**General remarks**

**Describe the Bug**

Querying with resource API returns `items: null`, should be changed to `items: []`.

**Versions Used**
KubeSphere: 3.0-dev
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help us

[2020-08-20 07:04] #2901 closed

[2020-08-20 08:21] shaowenchen commented on #2900
After upgrade，the running time of jenkins is quite different from uc-jenkins-update-center

[code]

After I restarted Jenkins, everything is OK.

[2020-08-20 08:41] benjaminhuo commented on #2900
restart jenkins works means the jenkins spec is ok, restart jenkins downloaded and use the new image and that works?

[2020-08-20 08:52] shaowenchen commented on #2900
restart Jenkins to load plugins. The plugins changed when upgrading from 2.1.1 to 3.0.0

[2020-08-20 08:58] rayzhou2017 commented on #2900
The restart process should be done by upgrader automatically if it is the case.

[2020-08-20 09:49] liuyp2018 opened #2903 "In the audit log query, the status code query is not valid"
**Describe the Bug**
In the audit log query, the status code query is not valid
<img width="628" alt="audit" src="https://user-images.githubusercontent.com/36271543/90755024-429eba00-e30d-11ea-862c-f9f7ebd47234.png">

/kind bug
/area audit
/assign @wanjunlei
/milestone 3.1.0
/priority medium

[2020-08-20 09:58] liuyp2018 opened #2904 "In the audit query list, recommended that change the column name to resource type and name"
**Describe the Bug**
The column name shows the resource name and type, but the list shows the resource type and name
In the audit query list
it is recommended to change the column name to resource type and name
<img width="819" alt="audit1" src="https://user-images.githubusercontent.com/36271543/90756203-a83f7600-e30e-11ea-8da0-f3c310c8aaa6.png">

/kind bug
/area console
/assign @leoendless
/miles

[2020-08-20 10:41] niutendo opened #2905 "Ver 3.0 on EKS. At pipline page run job , they dont have any option."
on the pipline page
![image](https://user-images.githubusercontent.com/17611978/90760394-674a6000-e314-11ea-80c5-d556a4d9e9dc.png)
![image](https://user-images.githubusercontent.com/17611978/90760408-6e716e00-e314-11ea-89c5-dda41402737a.png)

in to the job
![image](https://user-images.githubusercontent.com/17611978/90760626-bee8cb80-e314-11ea-8b9b-68b2a57d4026.png)
![image](https://user-images.git

[2020-08-20 10:57] wanjunlei commented on #2903
The status code is the http response code, like `200`, `201`, if you want to search auditing log with status code, please use this.
The table shows the message corresponding to the status code

[2020-08-20 15:14] wansir opened #2906 "missing role template after upgrade"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**

Some role templates are missing after upgrade.

/kind bug
/area iam
/priority high
/assign @wansir

[2020-08-20 15:39] #2906 closed

[2020-08-21 02:47] shaowenchen commented on #2900
https://github.com/kubesphere/ks-installer/pull/1068

[2020-08-21 02:55] benjaminhuo commented on #2900
/kind need-to-verify

[2020-08-21 03:00] weekyuan opened #2908 "How does Kubesphere 3.0 synchronize external OpenLDAP accounts for centralized authentication?"
The injection-Ks-account.sh script is not available because the Ks-Account resource object is no longer found in Kubesphere 3.0.
How do I do that?

[2020-08-21 03:14] wansir commented on #2908
LDAP identity provider is supported in 3.0, we will explain how to configure it in the documentation.

[2020-08-21 03:38] junotx commented on #2893
verified
/close

[2020-08-21 03:38] #2893 closed

[2020-08-21 06:18] rayzhou2017 opened #2909 "Upgrade from 2.1.1 to 3.0.0 custom cluster/platform role and project role authorization list missing"
**Describe the Bug**
before upgrading, create two custom role, a cluster role and a project role. All are authorized some resources. But the resources are gone after upgrade.

![Screen Shot 2020-08-21 at 2 14 54 PM](https://user-images.githubusercontent.com/28859385/90858599-20627600-e3b9-11ea-9f58-f6123f083c73.png)
![Screen Shot 2020-08-21 at 2 14 04 PM](https://user-images.githubusercontent.com/

[2020-08-21 06:26] wansir commented on #2909
Custom roles are upgraded according to the policy rules. Some rules are invalid in 3.0. Only the following rules can be upgraded. Otherwise, need to check the permissions again.

upgrade rules:
https://github.com/kubesphere/ks-upgrade/blob/master/pkg/globalrolebindings/globalrolebindings.go#L113-L230
https://github.com/kubesphere/ks-upgrade/blob/master/pkg/rolebindings/rolebindings.go#L182-L347

[2020-08-21 06:29] rayzhou2017 commented on #2909
OK, that is also what I am thinking. We need to write a doc for it from the console authorization list point of view. So users know what is going to happen, and what they should do in terms of the roles after upgrade.

[2020-08-21 06:40] wansir commented on #2909
We need to provide documentation to tell the user what has changed and how to define the role he wants through the console, I'll do this.

[2020-08-21 07:06] Ma-Dan commented on #2884
Verified, close issue.

[2020-08-21 07:06] #2884 closed

[2020-08-21 08:13] liuyp2018 opened #2911 "Platform-regular +workspace-regular+ project-Operator role, query and export the log, the log file is empty"
**Describe the Bug**
Platform-regular +workspace-regular+ project-Operator role, query and export the log, the log file is empty
![image](https://user-images.githubusercontent.com/36271543/90868174-092b8480-e3c9-11ea-92a9-fcc4690966cf.png)

/kind bug
/area logging
/assign @huanggze
/milestone 3.0.0
/priority high

[2020-08-21 08:30] liuyp2018 commented on #2903
It is recommended that the fields in both places represent the same content, and that the status code columns in the list display values such as  200,201

[2020-08-21 08:56] Ma-Dan commented on #2883
Update:
After upgraded to 3.0.0, crd is updated to v1beta1 today, but then I did a test which needs to enable Network Policy which 2.1.1 is not suppoted, after edit cluster config with ```kubectl edit cc ks-installer -n kubesphere-system```, ks-installer run again and snapshort crd is deleted, then user will get 404 error when creating snapshow from UI.
![image](https://user-images.githubuserconte

[2020-08-21 09:15] liuyp2018 opened #2912 "Unbundling cluster and multi-cluster enterprise space, not deleting related resources"
**Describe the Bug**
When removing the cluster's authorization of enterprise space, prompted that this action will delete the resources of this enterprise space under the cluster
The test results:
Resources under a single cluster project can be deleted when the cluster and enterprise space are unbound
but, for a multi-cluster enterprise space, the resources under multi-cluster projects of that ent

[2020-08-21 09:37] Ma-Dan opened #2913 "Network policy allow list can not take effect on upgraded cluster"
**Describe the Bug**
(1)Create a cluster on CentOS 7.7, k8s 1.16.7/KS2.1.1, then upgraded using kk to k8s 1.18.6/KS3.0.0
(2)Edit cluster config ```kubectl edit cc ks-installer -n kubesphere-system``` to enable network policy
(3)Create a namespace and mysql svc, kubesphere-system could access it using mysql client
(4)Enable network isolation, set allow list to kubepshere-system, kubesphere-system c

[2020-08-21 10:07] wanjunlei opened #2914 "Expand volume failed"
**Describe the Bug**
1. Upgrade ks from 2.1.0 + 1.14.8 -> 3.0.0 + 1.15.12
2. Create a volume with 10g
3. Expand volume to 15g
4. Create a pod and mounted this volume.
5. The volume expanded failed, volume status is `FileSystemResizePending`

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/53003665/90879054-e7d29480-e3d8-11ea-9573-

[2020-08-22 05:09] fixwater opened #2915 "希望可以有官方的 针对PHP的 S2I 模板 ， 谢谢"
如题

[2020-08-22 07:14] #2915 closed, assigned to nobody

[2020-08-24 02:00] rayzhou2017 commented on #2914
any update?

[2020-08-24 02:47] benjaminhuo commented on #2883
@pixiake would you take a look why cc deletes the snapshot crd?

[2020-08-24 03:00] wansir commented on #2899
* [ ] kubespheredev/ks-upgrade:latest -> kubesphere/ks-upgrade:v3.0.0

[2020-08-24 03:05] benjaminhuo commented on #2913
network policy relies on the kubesphere.io/namespace lable of a namespace?
In 2.1.x, there is no such label and that's the reason network policy doesn't work after upgrading ?
@duanjiong

[2020-08-24 03:07] junotx commented on #2899
- [ ] kubespheredev/log-sidecar-injector:1.1 -> kubesphere/log-sidecar-injector:1.1
- [ ] kubespheredev/kube-events-operator:v0.1.0 -> kubesphere/kube-events-operator:v0.1.0
- [ ] kubespheredev/kube-events-exporter:v0.1.0 -> kubesphere/kube-events-exporter:v0.1.0
- [ ] kubespheredev/kube-events-ruler:v0.1.0 -> kubesphere/kube-events-ruler:v0.1.0
- [ ] kubespheredev/notification:flyway_v2.1.2 -> ku

[2020-08-24 03:10] pixiake commented on #2883
https://github.com/kubesphere/ks-installer/pull/1072

[2020-08-24 06:06] wenxin-01 opened #2916 "Fuzzy queries by application are not supported for Services, Workloads, Routes, and Pods"
Describe the Bug
The deleted version of application should not be deployed.
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'admin'
2.Click 'workbench'
3.Click 'workspaces'
4.click workspace 'wx-worspace'
5.click project 'wx-project1'
6.click Services/Workloads/ Routes/Pods
7.Type 'Applicat

[2020-08-24 06:48] duanjiong commented on #2913
yes

[2020-08-24 06:56] huanggze commented on #2899
- [ ] kubespheredev/fluentbit-operator:v0.2.0 -> kubesphere/fluentbit-operator:v0.2.0
- [ ] kubespheredev/fluentbit-operator:migrator -> kubesphere/fluentbit-operator:migrator
- [ ] kubespheredev/fluent-bit:v1.4.6 -> kubesphere/fluent-bit:v1.4.6

[2020-08-24 07:09] ZhangSIming-blyq commented on #1945
I need to wait for kubespherev3 ga and then confirm whether these needs are supported. Thanks

[2020-08-24 07:57] zryfish commented on #2899
[code]

[2020-08-24 09:40] junotx opened #2917 "projects are visible in cluster management page but not visible in workspace page"
**Describe the Bug**
As follows, projects in ws `test` are visible in cluster management page,  but not visible in workspace page
(ws `test` is in host cluster which was upgraded from ks2.1.1,  and ws `test` and projects in it are created before upgrading)
![image](https://user-images.githubusercontent.com/49136171/91028084-89ebba00-e62f-11ea-8eb3-1b4078ebe800.png)
![image](https://user-images.git

[2020-08-24 09:53] huanggze commented on #2911
/priority awaiting-more-evidence

[2020-08-24 12:32] wansir commented on #2917
/kind need-to-verify

[2020-08-24 14:26] chsatyap commented on #2889
Alright! If you need anything else, lmk!

[2020-08-25 02:48] Ma-Dan commented on #2883
Qingcloud CSI need to be upgraded to work with snapshot CRD. So this issue https://github.com/kubesphere/kubekey/issues/249 must also be solved.

[2020-08-25 03:27] min-zh commented on #2914
qingcloud-csi not update.

[2020-08-25 03:50] junotx commented on #2917
@wansir bug still exists

[2020-08-25 03:57] eeokee opened #2918 "devops webhook for gitlab not work"
**Describe the Bug**

![20200825095211](https://user-images.githubusercontent.com/3079825/91121261-0206be00-e6ca-11ea-81ec-3ec69d4208af.png)

![20200825095210](https://user-images.githubusercontent.com/3079825/91121271-03d08180-e6ca-11ea-9d41-de0dad7bddf9.png)

**Versions Used**
KubeSphere: 3.0

**Expected behavior**
webhook can trigger devops start

[2020-08-25 05:20] benjaminhuo commented on #2883
@min-zh @zheng1 snapshot feature depends on new QingCloud CSI plugin?

[2020-08-25 06:11] min-zh commented on #2883
yes, old Qingcloud CSI plugin's snapshot fearture based on alpha CRD.

[2020-08-25 06:15] benjaminhuo commented on #2883
Snapshot feature should work on other cloud like aws or aliyun, right?  In such case, snapshot feature will not depend on QingCloud CSI plugin. So it's platform/cloud dependent actually.

[2020-08-25 06:29] junotx commented on #2917
verified
/close

[2020-08-25 06:29] #2917 closed

[2020-08-25 06:30] min-zh commented on #2883
yes, snapshot work any other cloud. In other cloud, aliyun-csi or aws-csi will be used. If aliyun-csi or aws-csi supported snapshot fearture, Snapshot Featrure can be used on KubeSphere.

[2020-08-25 06:36] wansir commented on #2918
@eeokee  Apply the latest config file to verify.

[code]

[2020-08-25 07:09] eeokee commented on #2918
@wansir  Thanks! This bug fixed.

[2020-08-25 07:09] #2918 closed

[2020-08-25 07:37] LinuxSuRen opened #2919 "No human readable error message from pipeline cron text in ks3.0"
When I try to create a pipeline, type the wrong cron text, got something like blow:
![image](https://user-images.githubusercontent.com/1450685/91145838-a4ce3500-e6e8-11ea-8856-064396fd767f.png)

[2020-08-25 08:09] shaowenchen commented on #2905
/assign @harrisonliu5

[2020-08-25 08:18] huanggze opened #2920 "[Proposal] Unify cluster role naming convention"
The cluster role naming styles for KubeSphere components are sort of various.

Obviously, It is important to have unique cluster role names to prevent user-defined cluster roles from crashing KubeSphere components.

To do so, some components name their cluster roles with 'ks-' as prefiex, some with `kubesphere-` or `kubesphere:`, which are chaotic. The rest seems to ignore this issue.

Therefore,

[2020-08-25 08:23] huanggze commented on #2920
What do you think? @zryfish

[2020-08-26 06:40] min-zh opened #2921 "Research on Volume Monitoring"
## Introduction
Volume Monitoring on KubeSphere use metrics of Kubelet as data source. In detail, capacity data come from:
- kubelet_volume_stats_available_bytes
- kubelet_volume_stats_used_bytes
- kubelet_volume_stats_capacity_bytes

These metrics data can be get from Kubernetes with Prometheus referring to [method](https://github.com/yunify/qingcloud-csi/issues/87#issuecomment-514912319).
What w

[2020-08-26 07:13] zhangchunsheng opened #2922 "preinstall fatal: [localhost]: FAILED on v1.18.0"
TASK [preinstall : Stop if kuernetes version is nonsupport] ********************
fatal: [localhost]: FAILED! => {
    "assertion": "kubernetes_version.stdout is version('v1.18.0', '<')",
    "changed": false,
    "evaluated_to": false,
    "msg": "The current k8s version is not supported"
}

[2020-08-26 07:21] FeynmanZhou commented on #2922
Please install 3.0.0, k8s 1.18 is already supported in v3.0.0, see this [guide](https://github.com/kubesphere/ks-installer#install-kubesphere-v300-dev-on-existing-kubernetes-cluster).

[2020-08-26 07:22] FeynmanZhou commented on #2919
Which version? v3.0.0?

[2020-08-26 07:25] LinuxSuRen commented on #2919
Sorry for the missing information. Yes, I found it from ks 3.0

[2020-08-26 08:17] calvinyv opened #2923 "Feat: add macvlan support in KubeSphere installer"
**Describe the Feature**
add macvlan support in KubeSphere installer

[2020-08-26 08:17] calvinyv commented on #2923
/kind feature-request
/area network

[2020-08-26 08:18] calvinyv commented on #2923
/assign @duanjiong @zheng1 @pixiake

[2020-08-26 08:31] xuelangos opened #2924 "TypeError: Cannot read property 'map' of undefined"
##  v3.0.0 runner Jenkinsfile from gitlab repository,Browser page is blank

Jenkinsfile content
[code]
*Official example**

problem at deploy input confirm

*Describe the Bug**
![image](https://user-images.githubusercontent.com/13230347/91280018-cbf43780-e7b8-11ea-8efc-8a7eb2f5aa7c.png)
![image](https://user-images.githubusercontent.com/13230347/91280052-d4e50900-e7b8-11ea-90ad-cb68bdbb4834.png)

[2020-08-26 09:03] harrisonliu5 commented on #2924
could you show me the config

![image](https://user-images.githubusercontent.com/17872673/91284073-04e2db00-e7be-11ea-8ba2-8210566bbf7f.png)

[2020-08-26 09:13] #2883 closed

[2020-08-26 09:38] Ma-Dan commented on #2913
Verified, close issue.

[2020-08-26 09:38] #2913 closed

[2020-08-26 09:45] xuelangos commented on #2924
![image](https://user-images.githubusercontent.com/13230347/91288677-dbc54900-e7c3-11ea-9e5e-11fecf047f8d.png)

[2020-08-26 10:33] Ma-Dan opened #2925 "Snapshot created volume attach failed"
## English only!

**Describe the Bug**
Create a volume from snapshot, add some annotation and custom meta data. Then create a workload to attach it, attachment failed.
But volume with out annotaion and custom meta data can attach successfully.

![image](https://user-images.githubusercontent.com/38337958/91293270-55f8cc00-e7ca-11ea-9b22-f8dc8f98f91c.png)

**Versions Used**
KubeSphere: v3.0.0

**Env

[2020-08-26 10:58] rayzhou2017 commented on #2925
@leoendless is this a bug?

[2020-08-26 12:19] shaowenchen commented on #2919
/assign @shaowenchen

[2020-08-26 15:55] zhangchunsheng commented on #2922
ok

[2020-08-26 15:55] #2922 closed

[2020-08-27 02:19] xuelangos commented on #2924
No problem at the moment
![image](https://user-images.githubusercontent.com/13230347/91376015-b4678e00-e84e-11ea-9239-ffdbe1ec52ea.png)

[2020-08-27 02:21] xuelangos commented on #2924
New problem
Option parameters become character parameters
![image](https://user-images.githubusercontent.com/13230347/91376142-01e3fb00-e84f-11ea-97e9-b92b7d24be83.png)

[2020-08-27 02:29] harrisonliu5 commented on #2924
Have you updated the mirror file?

[2020-08-27 02:32] xuelangos commented on #2924
yeah, updated  16 hours ago,kubespheredev/ks-console

[2020-08-27 02:40] Ma-Dan opened #2926 "Network policy allow list can not add service from other projects before user is added to them"
**Describe the Bug**
Log in with user with access to one project only, then add network policy allow list by service, service from other projects can not list or add. Users should be invited to target project before they can listadd service to source project.

![image](https://user-images.githubusercontent.com/38337958/91376760-65baf380-e850-11ea-844a-b3057aa4ecfe.png)

**Versions Used**
KubeSpher

[2020-08-27 02:46] Ma-Dan commented on #2925
This maybe not related with annotation, only first volume can attach successfully, following volumes created from same snapshot with or without annotation, iaas tried to attach vox-xxx instead of vol-xxx, attaching with name vox-xxx will fail.

[2020-08-27 03:23] harrisonliu5 commented on #2924
/assign @shaowenchen

[2020-08-27 03:33] junotx opened #2927 "bug caused by creating and then deleting user called kubesphere in ks2.1.1"
**Describe the Bug**
the problem is as follows after creating and then deleting user called `kubesphere` in 2.1.1
![image](https://user-images.githubusercontent.com/49136171/91380792-6ce5ff80-e858-11ea-990a-8d1a268dedd3.png)
then clusterrolebinding called `kubesphere` is found to be missing
![image](https://user-images.githubusercontent.com/49136171/91380895-aa4a8d00-e858-11ea-811b-4a59a3eecfa0.pn

[2020-08-27 03:51] wansir commented on #2927
Username conflict with existing cluster role binding. In kubesphere 2.x, cluster role binding with the same name as the user will be created, it will conflict with the existing cluster role binding.

This bug was fixed in 3.0.0.

[2020-08-27 03:52] wansir commented on #2926
[code]

/kind need-to-verify

[2020-08-27 06:35] min-zh commented on #2914
Log of Kube-controller-manager:
Ignoring the PVC "ns/12" (uid: "b9301c58-eb8a-4594-b4a4-c5a03e75ecab") : didn't find a plugin capable of expanding the volume; waiting for an external controller to process this PVC.

Log of csi-resizer:
I0826 08:10:09.395574       1 connection.go:184] GRPC error: rpc error: code = DeadlineExceeded desc = context deadline exceeded
W0826 08:10:09.430446       1 commo

[2020-08-27 06:45] min-zh commented on #2914
/kind need-to-verify

[2020-08-27 06:59] wanjunlei commented on #2914
Does this argument need to add manually? Is there a doc?

[2020-08-27 07:14] Ma-Dan commented on #2926
Verified, close issue.

[2020-08-27 07:14] #2926 closed

[2020-08-27 07:24] huanggze commented on #2879
Need to manually configure logging driver

https://docs.docker.com/config/containers/logging/configure/

[2020-08-27 08:07] shenhonglei commented on #2879
#查看docker的状态，找到/usr/lib/systemd/system/docker.service
systemctl status docker
#check docker.service to change EnvironmentFile=-/etc/sysconfig/docker
cat /usr/lib/systemd/system/docker.service
#edit /etc/sysconfig/docker
vi /etc/sysconfig/docker
#OPTIONS='--selinux-enabled --log-driver=journald --signature-verification=false'
#OPTIONS='--selinux-enabled --signature-verification=false'
#edit daemon.

[2020-08-27 08:08] #2879 closed

[2020-08-27 08:20] min-zh commented on #2914
@pixiake when k8s upgrade to 1.14&1.15 by kk, kubelet **feature-gate ExpandCSIVolumes=ture** should be set.

[2020-08-27 09:54] wansir opened #2928 "not working well with Kubernetes 1.19"
**Describe the Bug**
[k8s update golang to 1.15](https://github.com/kubernetes/kubernetes/pull/93264), self-signed certificate for admission webhook [needs to be updated](https://github.com/golang/go/issues/39568).

[code]

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: v1.19.0

/kind bug

[2020-08-27 14:26] zryfish opened #2929 "Unauthorized response from member cluster if using token kubeconfig"
**Describe the Bug**
When import member cluster using direct connection way, if kubeconfig authentication with token, will always get unauthorized response.

[code]

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: v1.16.3

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help us debug

[2020-08-27 14:27] zryfish commented on #2929
/assign
/kind bug
/priority high
/milestone 3.0.0

[2020-08-27 14:51] #2929 closed

[2020-08-27 17:23] pixiake commented on #2914
https://github.com/kubesphere/kubekey/pull/263

[2020-08-28 00:06] min-zh commented on #2925
This issue may be put to Qingcloud-CSI. It almost has no relationship with KubeSpehere.

[2020-08-28 01:21] shaowenchen commented on #2924
![image](https://user-images.githubusercontent.com/43693241/91510357-69fa1600-e90f-11ea-8e50-3e0877a1d4d1.png)

[code]

We need to check the latest changes. @harrisonliu5

/remove-kind need-to-verify

[2020-08-28 03:13] harrisonliu5 commented on #2924
Your problem is that there is no drop-down option in Choice, which causes the test to continue or the function reports an error？

@xuelangos

[2020-08-28 03:21] harrisonliu5 commented on #2924
If there is no drop-down option for choice, the back-end colleague is working on this issue

[2020-08-28 03:29] xuelangos commented on #2924
yeah，we can Continue test，but，we need to test the entire process to determine whether to use external jenkins

[2020-08-28 03:32] harrisonliu5 commented on #2924
you should wait a moment until our back-end colleagues have dealt with this issue

[2020-08-28 03:40] xuelangos commented on #2924
come on  on  on

[2020-08-28 06:56] liuyp2018 commented on #2824
The latest version of the app store app remains the one that has been taken off the shelves
/remove-kind need-to-verify
/remove-milestone 3.0.0
/milestone 3.1.0

[2020-08-28 07:20] huanggze commented on #2911
/remove-priority awaiting-more-evidence
/assign @leoendless

[2020-08-28 08:46] Ma-Dan opened #2932 "coredns can not mount cm after upgrading from 1.15.5/KS2.1.1->1.18.6/KS3.0.0"
**Describe the Bug**
On a 3 HA master 3 nodes cluster, upgrading from 1.15.5/KS2.1.1 to 1.18.6/KS3.0.0. 2 coredns pods CrashLoopBackOff with following log
[code]
[code]

**Versions Used**
KubeSphere: v3.0.0

**Environment**
3 nodes HA master 8C16G
3 worker nodes 8C16G
Ubuntu 18.04

[2020-08-28 08:47] wanjunlei commented on #2914
verified
/close

[2020-08-28 08:47] #2914 closed

[2020-08-28 09:16] xuelangos opened #2933 "New Feature"
## add New  Feature
### user group
### interface configuration ldap
### Closer to the experience of native jenkins

[2020-08-28 09:21] zryfish commented on #2933
Please be more specific on what you want.

[2020-08-28 09:41] xuelangos commented on #2933
1. Join the user group and authorize the role to the group
2.local user and ldap user, ldap can use  page configuration
3.increase jenkinsfile/Pipeline support

[2020-08-29 02:09] xuelangos commented on #2924
try,try,update k-console image，the probelm is still

[2020-08-29 02:12] shaowenchen commented on #2924
Using kubespheredev/ks-apiserver:latest to test your case

[2020-08-29 02:18] xuelangos commented on #2924
No problem  at now，oligei

[2020-08-29 02:18] #2924 closed

[2020-08-29 08:35] xuelangos commented on #2933
custom webhook
dingtalk

[2020-08-29 09:46] huanggze commented on #2911
https://github.com/kubesphere/console/pull/1226

[2020-08-31 03:41] liuyp2018 commented on #2888
/remove-milestone 3.1.0
/milestone 3.0.0

[2020-08-31 03:43] liuyp2018 commented on #2880
/remove-milestone 3.1.0
/milestone 3.0.0

[2020-08-31 03:44] liuyp2018 commented on #2868
/remove-milestone 3.1.0
/milestone 3.0.0

[2020-08-31 03:44] liuyp2018 commented on #2857
/remove-milestone 3.1.0
/milestone 3.0.0

[2020-08-31 03:44] liuyp2018 commented on #2833
/remove-milestone 3.1.0
/milestone 3.0.0

[2020-08-31 03:45] liuyp2018 commented on #2508
/remove-milestone 3.1.0
/milestone 3.0.0

[2020-08-31 03:45] liuyp2018 commented on #2476
/remove-milestone 3.1.0
/milestone 3.0.0

[2020-08-31 06:52] zhangchunsheng opened #2937 "How can I change platform info?"
How can I change platform info?

https://v3-0.docs.kubesphere.io/docs/cluster-administration/platform-settings/customize-basic-information/
There is no information about this.

The title is Role and Member Management.

![image](https://user-images.githubusercontent.com/831839/91690776-1b5fac80-eb99-11ea-99da-af7348403583.png)

[2020-09-01 06:27] wansir opened #2939 "Feat: support workspace resource quotas"
Define workspace quota through CRD, and check workspace quota through validating webhook. Support multi-cluster environment.

/kind feature-request

[2020-09-01 06:29] wansir opened #2940 "Feat: support user group"
Members of a user group inherit that group's permissions and also retain any permissions they have separately.

/kind feature-request
/area iam

[2020-09-01 06:31] wansir opened #2941 "Feat: support OIDC identity provider"
* [ ] Support generic OIDC identity provider.
* [ ] Simplify OAuth2 identity provider. configuration.

/kind feature-request
/area iam

[2020-09-01 06:32] wansir opened #2942 "Feat: support self-registration"
Use self-registration to enable users to create their user accounts themselves.

/kind feature-request
/area iam

[2020-09-01 06:45] qiaokebaba opened #2943 "The project is not fully displayed in the workload"
I have 21 namespaces, all of which have been added to enterprise space, but only 10 are shown in the workload,

[2020-09-01 11:18] lxm opened #2944 "openpitrix stuck in crashloopback"
version: `3.0.0`

logs

## Pod: openpitrix-hyperpitrix-deployment-fb76645f4-46c9z

[code]

## pod  hyperpitrix-release-app-job-hvd65 Logs

[code]
2020-09-01T11:17:46.432122331Z 2020-09-01 11:17:46.43205 -ERROR- create runtime credential error rpc error: code = InvalidArgument desc = unsupported parameter [provider] value [kubernetes] (main.go:133)

[code]

[2020-09-02 01:26] scott-wong opened #2945 "pipeline error: Run was not added to queue."
**Describe the Bug**
After run a pipeline, the status is always in the queue.
This is ks-apiserver logs.
`I0902 09:13:11.396540 1 apiserver.go:539] 127.0.0.1 - "GET /kapis/devops.kubesphere.io/v1alpha2/devops/ruoyi7prsh/pipelines/ruoyi-auth/branches/master/sonarstatus HTTP/1.1" 404 19 0ms

E0902 09:13:18.181272 1 pure_request.go:67] {

"message" : "Run was not added to queue.",

"code" : 500,

"er

[2020-09-02 01:35] #2945 closed

[2020-09-02 01:38] scott-wong commented on #2945
cause cm jenkins-casc-config has been reset.

[2020-09-02 02:17] rayzhou2017 opened #2946 "Project Gateway: provide dynamic nodeport IPs"
Current gateway of nodeport type chooses one of master nodes which is not good. First it is not HA in multi-node env. Second, some cloud K8s services such as AWS EKS do not expose master info. The proposal is like this. Write a crd, use controller to watch nodes info and randomly choose two of them (in multi-node env) or one (in allinone env) as the gateway IP(s). If there is any node changed such

[2020-09-02 02:26] rayzhou2017 opened #2947 "Project Gateway supports more providers"
It is better to visually support more providers such as QingCloud, AWS, Porter and preconfigure annotations like it does for QingCloud now. Also describe the annotations aside of the edit box.
![Screen Shot 2020-09-02 at 10 23 04 AM](https://user-images.githubusercontent.com/28859385/91924914-811d7700-ed06-11ea-9005-b7536454cd0d.png)

[2020-09-02 02:53] duanjiong commented on #2946
The problem is with the front end display, the principle of nodeport is that it works through the same port regardless of which node is accessed.

The load balancer does not add the master to the back end.

[2020-09-02 02:56] duanjiong commented on #2946
/cc @leoendless

[2020-09-02 02:57] rayzhou2017 commented on #2946
It is not front-end responsibility. Backend needs to provide an API for frond-end to show the info since the node list may change. That is why it is using one of the masters right now since master is supposed not to get down but worker node is not guaranteed to be online.

[2020-09-02 03:02] leoendless commented on #2946
Please check if `kapis/resources.kubesphere.io/v1alpha2/namespaces/{namespace}/router` works right.

[2020-09-02 03:05] duanjiong commented on #2946
My bad, I thought the front end was getting the node information directly from the display.

[2020-09-02 03:07] rayzhou2017 commented on #2946
You guys may not understand what I am talking about. Please read my first post carefully especially about gateway HA requirement.

[2020-09-02 03:11] zryfish commented on #2946
Planning using a whole new way to implement gateway. This issue should be resolved then.

[2020-09-02 03:52] lxm commented on #2944
The error occurs when deploy kubesphere into aliyun ack use flannel as network plugin
Based on docs of aliyun:
flannel does not support loopback
we have to methods to resolve the problem
1. use headless service
2. recreate the cluster and choose aliyun terway as network plugin

how about add addition services when need to call self service?

[2020-09-02 04:47] zheng1 commented on #2944
hairpin is a common scenario for kubernetes. openpitrix was previously a microservice architecture, but in recent versions, multiple microservices have been merged into a single service, and to keep the architecture simple, the multiple services will still connect to themselves via hairpin mode.
Considering that some users' network environment has limited support for hairpins, we will find a way t

[2020-09-02 05:05] zheng1 commented on #2944
BTW, flannel had support hairpin mode, do you try to resolve it with this way? https://github.com/kubernetes-sigs/kubespray/pull/1992#issuecomment-363995952

[2020-09-02 06:25] lxm commented on #2944
confirmed with alibaba, unable to config in ack

[2020-09-02 09:03] huanggze opened #2948 "Cannot view metrics from terminated containers after the Deployment gets updated"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
After the Deployment gets updated, I cannot view metrics from previous containers any longer, but the newly created ones.

![image](https://user-images.githubusercontent.com/22350668/91961630-03755d80-ed3e-11ea-9dce-70128a14ea69.png)

Obviously, the metrics

[2020-09-02 09:05] huanggze commented on #2948
/assign @huanggze
/milestone 3.1.0

[2020-09-02 10:49] lxm commented on #2944
finally, modify cni config use `kubectl edit cm kube-flannel-cfg -n kube-system`
But this is not recommended to use in production env by alibaba

[2020-09-02 11:05] zryfish commented on #2944
Is it working after you change the config? Can you share the new config, I think other users will find it useful.

[2020-09-02 11:14] lxm commented on #2944
the default configmap's content named with `kube-flannel-cfg` in namespace `kube-system` :

[code]

change it to

[code]

then ,  run command `kubectl delete pod -n kube-system -l app=flannel`

finnally, delete all pods in `openpitrix` namespace

[2020-09-02 11:15] zryfish commented on #2944
Thanks for the information, that's very helpful.

[2020-09-02 11:21] lxm commented on #2944
A little more, there're two jobs in `openpitrix` namespace, has `backoffLimit`  with value `100`
If they has failed for more than 100 times ,we need to change the job config to get the jobs be fired

[2020-09-02 12:42] zheng1 commented on #2944
[code]

[2020-09-02 14:43] haerr opened #2949 "Does kubesphere v2.1.1 support Alibaba Cloud OSS storage"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**
Does kubesphere v2.1.1 support Alibaba Cloud OSS storage？

**Environment: OS & Hardware Information**
alicloud ECS

centos7.7  k8sv1.16

**Error logs or message (Attach logs or screenshot)**

**Installer Version**
v2.2.1

[2020-09-02 15:15] #1990 closed

[2020-09-02 15:15] #2001 closed

[2020-09-02 15:15] #2003 closed

[2020-09-02 15:15] #2029 closed

[2020-09-02 15:15] #2028 closed

[2020-09-02 15:15] #2004 closed

[2020-09-02 15:15] #2009 closed

[2020-09-02 15:15] #2010 closed

[2020-09-02 15:15] #2030 closed

[2020-09-02 15:15] #2094 closed

[2020-09-02 15:15] #2098 closed

[2020-09-02 15:15] #2124 closed

[2020-09-02 15:15] #2125 closed

[2020-09-02 15:15] #2103 closed

[2020-09-02 15:15] #1537 closed

[2020-09-02 15:15] #1368 closed

[2020-09-02 15:15] #1999 closed

[2020-09-02 15:15] #2184 closed

[2020-09-02 15:15] #2014 closed

[2020-09-02 15:15] #1647 closed

[2020-09-02 15:15] #2044 closed

[2020-09-02 15:15] #2266 closed

[2020-09-02 17:15] #1816 closed

[2020-09-02 17:15] #1426 closed

[2020-09-02 17:15] #1834 closed

[2020-09-02 17:15] #1838 closed

[2020-09-02 17:15] #1835 closed

[2020-09-02 17:15] #1832 closed

[2020-09-02 17:15] #1671 closed

[2020-09-02 17:15] #1612 closed

[2020-09-02 17:15] #1869 closed

[2020-09-02 17:15] #1876 closed

[2020-09-02 17:15] #1842 closed

[2020-09-02 17:15] #1861 closed

[2020-09-02 17:15] #1843 closed

[2020-09-02 17:15] #1868 closed

[2020-09-02 17:15] #1887 closed

[2020-09-02 17:15] #1889 closed

[2020-09-02 17:15] #1897 closed

[2020-09-02 17:15] #1918 closed

[2020-09-02 17:15] #1929 closed

[2020-09-02 17:15] #1932 closed

[2020-09-02 17:15] #1943 closed

[2020-09-02 17:15] #1936 closed

[2020-09-02 17:15] #1947 closed

[2020-09-02 17:15] #951 closed

[2020-09-02 17:15] #1123 closed

[2020-09-02 17:15] #1256 closed

[2020-09-02 17:15] #1452 closed

[2020-09-02 17:15] #1515 closed

[2020-09-02 17:15] #1568 closed

[2020-09-02 17:15] #1756 closed

[2020-09-02 18:14] #1507 closed

[2020-09-02 18:15] #1787 closed

[2020-09-02 18:15] #1746 closed

[2020-09-02 18:15] #1745 closed

[2020-09-02 18:15] #1790 closed

[2020-09-02 18:15] #1788 closed

[2020-09-02 18:15] #1789 closed

[2020-09-02 18:15] #1773 closed

[2020-09-02 18:15] #1700 closed

[2020-09-02 18:15] #1793 closed

[2020-09-02 18:15] #899 closed

[2020-09-02 18:15] #1798 closed

[2020-09-02 18:15] #1759 closed

[2020-09-02 18:15] #1797 closed

[2020-09-02 18:15] #1800 closed

[2020-09-02 18:15] #1902 closed

[2020-09-02 18:15] #1916 closed

[2020-09-02 18:15] #1968 closed

[2020-09-02 18:15] #1978 closed

[2020-09-02 18:15] #1954 closed

[2020-09-02 18:15] #752 closed

[2020-09-02 19:14] #1703 closed

[2020-09-02 19:14] #1722 closed

[2020-09-02 19:14] #1719 closed

[2020-09-02 19:14] #1666 closed

[2020-09-02 19:14] #1717 closed

[2020-09-02 19:15] #945 closed

[2020-09-02 19:15] #1711 closed

[2020-09-02 19:15] #1556 closed

[2020-09-02 19:15] #1710 closed

[2020-09-02 19:15] #1742 closed

[2020-09-02 19:15] #1585 closed

[2020-09-02 19:15] #1636 closed

[2020-09-02 19:15] #1752 closed

[2020-09-02 19:15] #1764 closed

[2020-09-02 19:15] #1776 closed

[2020-09-02 19:15] #1769 closed

[2020-09-02 21:15] #1605 closed

[2020-09-02 21:15] #1611 closed

[2020-09-02 21:15] #1562 closed

[2020-09-02 21:15] #1302 closed

[2020-09-02 21:15] #1608 closed

[2020-09-02 21:15] #1639 closed

[2020-09-02 21:15] #1641 closed

[2020-09-02 21:15] #1635 closed

[2020-09-02 21:15] #1648 closed

[2020-09-02 21:15] #1657 closed

[2020-09-02 21:15] #1664 closed

[2020-09-02 21:15] #1127 closed

[2020-09-02 21:15] #1645 closed

[2020-09-02 21:15] #1633 closed

[2020-09-02 21:15] #1662 closed

[2020-09-02 21:15] #1680 closed

[2020-09-02 21:15] #1687 closed

[2020-09-02 21:15] #1684 closed

[2020-09-02 21:15] #1693 closed

[2020-09-02 21:15] #1707 closed

[2020-09-02 21:15] #1692 closed

[2020-09-02 21:15] #1698 closed

[2020-09-02 21:15] #1701 closed

[2020-09-02 22:15] #1494 closed

[2020-09-02 22:15] #1466 closed

[2020-09-02 22:15] #1496 closed

[2020-09-02 22:15] #1510 closed

[2020-09-02 22:15] #1512 closed

[2020-09-02 22:15] #1506 closed

[2020-09-02 22:15] #1508 closed

[2020-09-02 22:15] #1514 closed

[2020-09-02 22:15] #1525 closed

[2020-09-02 22:15] #1527 closed

[2020-09-02 22:15] #1519 closed

[2020-09-02 22:15] #1516 closed

[2020-09-02 22:15] #1483 closed

[2020-09-02 22:15] #1533 closed

[2020-09-02 22:15] #1554 closed

[2020-09-02 22:15] #1558 closed

[2020-09-02 22:15] #1456 closed

[2020-09-02 22:15] #1573 closed

[2020-09-02 22:15] #1574 closed

[2020-09-02 22:15] #1578 closed

[2020-09-02 22:15] #1491 closed

[2020-09-02 22:15] #1588 closed

[2020-09-02 22:15] #1589 closed

[2020-09-02 23:15] #1382 closed

[2020-09-02 23:15] #1379 closed

[2020-09-02 23:15] #1398 closed

[2020-09-02 23:15] #1401 closed

[2020-09-02 23:15] #1406 closed

[2020-09-02 23:15] #1407 closed

[2020-09-02 23:15] #1411 closed

[2020-09-02 23:15] #1377 closed

[2020-09-02 23:15] #1424 closed

[2020-09-02 23:15] #1431 closed

[2020-09-02 23:15] #1433 closed

[2020-09-02 23:15] #1435 closed

[2020-09-02 23:15] #1439 closed

[2020-09-02 23:15] #1454 closed

[2020-09-02 23:15] #1455 closed

[2020-09-02 23:15] #1471 closed

[2020-09-02 23:15] #1474 closed

[2020-09-02 23:15] #1469 closed

[2020-09-02 23:15] #1478 closed

[2020-09-02 23:15] #1481 closed

[2020-09-02 23:15] #1485 closed

[2020-09-02 23:15] #1482 closed

[2020-09-03 00:15] #1261 closed

[2020-09-03 00:15] #1262 closed

[2020-09-03 00:15] #1270 closed

[2020-09-03 00:15] #1269 closed

[2020-09-03 00:15] #1284 closed

[2020-09-03 00:15] #1271 closed

[2020-09-03 00:15] #1289 closed

[2020-09-03 00:15] #1292 closed

[2020-09-03 00:15] #942 closed

[2020-09-03 00:15] #1303 closed

[2020-09-03 00:15] #1296 closed

[2020-09-03 00:15] #1293 closed

[2020-09-03 00:15] #1304 closed

[2020-09-03 00:15] #1309 closed

[2020-09-03 00:15] #1315 closed

[2020-09-03 00:15] #1335 closed

[2020-09-03 00:15] #1351 closed

[2020-09-03 00:15] #1343 closed

[2020-09-03 00:15] #1355 closed

[2020-09-03 00:15] #1364 closed

[2020-09-03 00:15] #1366 closed

[2020-09-03 01:14] #921 closed

[2020-09-03 01:14] #984 closed

[2020-09-03 01:14] #997 closed

[2020-09-03 01:15] #1034 closed

[2020-09-03 01:15] #1051 closed

[2020-09-03 01:15] #1092 closed

[2020-09-03 01:15] #1088 closed

[2020-09-03 01:15] #988 closed

[2020-09-03 01:15] #1016 closed

[2020-09-03 01:15] #1128 closed

[2020-09-03 01:15] #1135 closed

[2020-09-03 01:15] #1069 closed

[2020-09-03 01:15] #1002 closed

[2020-09-03 01:15] #1009 closed

[2020-09-03 01:15] #1220 closed

[2020-09-03 01:15] #1219 closed

[2020-09-03 01:15] #1249 closed

[2020-09-03 01:15] #1240 closed

[2020-09-03 01:22] liaoyinfeng opened #2950 "Pod boot log visualization requirement"
I hope KubeSphere can view the boot log of Pod by web view, easy to maintenance without through kubectl describe pod command.

[2020-09-03 02:57] #1352 closed

[2020-09-03 02:57] #747 closed

[2020-09-03 02:57] #745 closed

[2020-09-03 02:57] #807 closed

[2020-09-03 02:57] #808 closed

[2020-09-03 02:57] #906 closed

[2020-09-03 07:08] lxm opened #2951 "app stuck in upgrading status"
I hava a problem about app store,  i created a app with helm template, first upload a version 0.1.1 and then deploy it. then create a version 0.1.2 , when apply the update to the deployed app, openpitrix-hyperpitrix got a oom. the app stuck in upgrading status. is there any way to force change the status ?

![image](https://user-images.githubusercontent.com/1918195/92082595-58c17580-edf7-11ea-817b

[2020-09-03 07:15] lxm opened #2952 "failed to add external helm repo"
another quesion about app store is that i’ll always got a error " target not reachable" when add an external helm repo

but i can manually add repo use command helm repo add --username xx --password https://my-repo

[2020-09-03 08:12] zheng1 commented on #2951
[code]

[2020-09-03 08:20] lxm commented on #2951
already do like that. may be a button should be added on UI

[2020-09-04 02:24] #2483 closed

[2020-09-04 02:27] ynhao opened #2953 "The user password of LDAP does not comply with the rules"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**
Error logging in after accessing AD domain account：
![image](https://user-images.githubusercontent.com/33625720/92192342-611dbd00-ee98-11ea-8ea5-5eb4f486ec01.png)

**Environment: OS & Hardware Information**
centos7.8，18c/44G k8s 1.16.9   ks 3.0

**Error logs or message (Atta

[2020-09-04 02:28] lxm opened #2954 "app status confusion"
1. There is a failure, such as app1.
2. I forget how to trigger it, and I can deploy a new one still called app1
3. The new app1 is successfully deployed, but the status is always being creating.
4. Delete the failed app1, and then the normal app1 will be deleted
5. After that, the failed app1 can never be deleted

[2020-09-04 05:00] wansir commented on #2953
/kind bug
/area iam
/assign @wansir @calvinyv

Currently, `loginAttribute` is mapped to `username` by LDAP login, but the CRD naming convention is different from `uid` and `sAMAccountName`. KubeSphere account binding is required after logging in through a third-party account, to solve the problem of account naming conventions and email conflicts.

[2020-09-04 06:26] wansir commented on #2953
@ynhao If the username matches `[a-z0-9]([-a-z0-9]*[a-z0-9])?` you can log in directly.  The account binding process needs to be improved.

[2020-09-04 06:46] FeynmanZhou commented on #2943
@cool-ops  Not clear with your issue, could you please give any screenshots?

[2020-09-04 06:54] FeynmanZhou commented on #2937
You are allowed to customize the logo after our commercial authorization.

[2020-09-04 07:16] Quinton opened #2955 "How to Access KubeSphere API in v3.0.0"
I want to invoke RESTful API via `ks-apigatway`, How can I  expose it?

**Installer Version**

[2020-09-04 09:22] wansir commented on #2955
`ks-apiserver` can be used as the API gateway in v3.0.0, you can expose `ks-apiserver` service in `kubesphere-system`. API documentation is coming soon.

[2020-09-04 16:56] zhangchunsheng commented on #2937
Ok, actually I want to use kubesphere for our customers. Anyway I just do some research.

[2020-09-04 16:56] #2937 closed

[2020-09-05 02:46] #2955 closed

[2020-09-06 15:35] arugal opened #2956 "About README.md pluggable-components 404 link"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**

https://github.com/kubesphere/kubesphere/blob/master/README.md#deploy-on-existing-kubernetes-cluster

[2020-09-07 02:45] xuelangos opened #2957 "Feat：support ks redis and mysql on External"
kubesphere will become Central Management Panel；
I hope IT support  external redis  and mysql cluster，that RDS；

[2020-09-07 03:06] ynhao commented on #2953
Okay, thank you. I hope that subsequent versions of ks can be compatible with the naming rules like [a-z0-9]([_a-z0-9]*[ a-z0-9])? of Naming rules

[2020-09-07 03:06] ynhao commented on #2953
Okay, thank you. I hope that subsequent versions of ks can be compatible with the naming rules like [a-z0-9]([_a-z0-9]*[ a-z0-9])? of Naming rules

[2020-09-07 03:16] xuelangos commented on #2957
Overall architecture introduction and  component function  and  kubernetes Interactive process

[2020-09-07 03:23] Carriezhangyan opened #2958 "Unable to connect to the server: x509: certificate has expired or is not yet valid"
**Describe the Bug**
         Unable to connect to the server: x509: certificate has expired or is not yet valid

**Versions Used**
KubeSphere:   V2.0.2

**Environment**
 CentOS 7.5 / 3 masters:  16cpu/32g; 4 nodes: 16cpu/32g

**Expected behavior**
       # kubectl get pod --all-namespaces
          Unable to connect to the server: x509: certificate has expired or is not yet valid

How does a Kube

[2020-09-07 05:26] tzghost opened #2959 "Installation of V3.0.0 using glusterfs failed"
Environment:
OS: centos7.7
makster: 3
work: 3
glusterfs node: 4

Multi-node Installation on linux，Kubernetes 1.18.6 and 1.17.9 both failed to install，The following are pod status and failure information：
![image](https://user-images.githubusercontent.com/17000535/92350849-c7127a80-f10c-11ea-97a3-509ab155d9b9.png)

[root@BG-003-KVM004-VMS003 ~]# kubectl describe pod redis-ha-server-2 -n kubesphere-

[2020-09-07 05:30] FeynmanZhou commented on #2959
Could you paste the configuration of **addons** within `config-sample.yaml`?

[2020-09-07 05:33] tzghost commented on #2959
[root@BG-003-KVM004-VMS003 ks]# cat config.yaml
apiVersion: kubekey.kubesphere.io/v1alpha1
kind: Cluster
metadata:
  name: kubesphere-bg
spec:
  hosts:
  - {name: bg-003-kvm004-vms003, address: 192.168.0.55, internalAddress: 192.168.0.55, user: root, password: 123456}
  - {name: bg-003-kvm006-vms001, address: 192.168.0.58, internalAddress: 192.168.0.58, user: root, password: 123456}
  - {name: bg-

[2020-09-07 09:28] wansir opened #2960 "workspace list in cluster visibility page does not refresh automatically"
**Describe the Bug**
Workspace list in cluster visibility page does not refresh automatically.

![image](https://user-images.githubusercontent.com/8263040/92372071-00f47880-f12f-11ea-961c-25b9a5140cc5.png)

**Versions Used**
KubeSphere: 3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Expected behavior**

Automatically refresh the workspace list after setting the cluster visi

[2020-09-07 09:46] wansir opened #2961 "PersistentVolumeClaim detail page reports an error"
**Describe the Bug**

Manually create PV and PVC.

![image](https://user-images.githubusercontent.com/8263040/92372865-20d86c00-f130-11ea-8172-e3e9df5622c9.png)

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: 3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/milestone 3.1.0

[2020-09-08 02:57] hidao opened #2962 "kubesphere3.0 UnauthorizedError: Not Login"
kubectl logs ks-console-b4df86d6f-xdgz8 -n kubesphere-system -f --tail=10
{ UnauthorizedError: Not Login
at Object.throw (/opt/kubesphere/console/server/server.js:31701:11)
at getCurrentUser (/opt/kubesphere/console/server/server.js:9037:14)
at renderView (/opt/kubesphere/console/server/server.js:23231:46)
at dispatch (/opt/kubesphere/console/server/server.js:6870:32)
at next (/opt/kubesphere/cons

[2020-09-08 02:57] hidao commented on #2962
![image](https://user-images.githubusercontent.com/9458518/92428607-15f8f800-f17f-11ea-9ebd-004e76aedf3a.png)

[2020-09-08 02:59] hidao commented on #2962
![image](https://user-images.githubusercontent.com/9458518/92428659-3fb21f00-f17f-11ea-833b-eaafc4bf8a79.png)

[2020-09-08 03:01] hidao commented on #2962
![Uploading image.png…]()

[2020-09-08 03:02] hidao commented on #2962
![image](https://user-images.githubusercontent.com/9458518/92428846-c404a200-f17f-11ea-88dc-2d715e7b26de.png)

[2020-09-08 03:11] wansir commented on #2962
Use the following command: `kubectl -n kubesphere-system logs -l app=ks-apiserver` check `ks-apiserver` logs.

Same as this issue https://github.com/kubesphere/ks-installer/issues/1109

[2020-09-08 03:26] hidao commented on #2962
![Uploading image.png…]()

[2020-09-08 03:26] hidao commented on #2962
apiVersion: v1
items:
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    annotations:
      pv.kubernetes.io/bind-completed: "yes"
      pv.kubernetes.io/bound-by-controller: "yes"
    creationTimestamp: "2020-09-01T15:57:31Z"
    finalizers:
    - kubernetes.io/pvc-protection
    managedFields:
    - apiVersion: v1
      fieldsType: FieldsV1
      fieldsV1:
        f:spec:
          f

[2020-09-08 03:30] hidao commented on #2962
[root@bsp-96 ~]# kubectl -n kubesphere-system logs -l app=ks-apiserver -f --tail=10
kubesphere.io/kubesphere/pkg/apiserver/filters.WithRequestInfo.func1(0x38c1b80, 0xc0001c5340, 0xc002e43f00)
        /home/runner/work/kubesphere/kubesphere/pkg/apiserver/filters/requestinfo.go:67 +0x3c5
net/http.HandlerFunc.ServeHTTP(0xc0009bd110, 0x38c1b80, 0xc0001c5340, 0xc002e43f00)
        /opt/hostedtoolcache/

[2020-09-08 03:34] wansir commented on #2958
The Kubernetes cluster certificates have a lifespan of one year.  [You can renew your certificates manually at any time with the kubeadm alpha certs renew command](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/).

[2020-09-08 03:34] hidao commented on #2962
I using nfs  storageClass

[2020-09-08 03:44] wansir commented on #2962
/kind bug
/milestone 3.1.0

PersistentVolumeClaim without `storageClassName` will crash the ks-apiserver.

[2020-09-08 05:40] calvinyv opened #2963 "Feat: allow to configure the default image registry"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
allow users to configure the default image registry, and each time open the container page, it will display the configured default image registry

**Versions Used**
KubeSphere: 3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

[2020-09-08 05:40] calvinyv commented on #2963
/kind feature-request
/assign @Carlosfengv @leoendless

[2020-09-08 05:43] calvinyv opened #2964 "Feat: allow to configure huge-pages parm of workload on UI"
**Describe the Bug**
Feat: allow to configure huge-pages parm of workload on UI
Refer to the kubernetes official doc:
https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#resource-requests-and-limits-of-pod-and-container

**Versions Used**
KubeSphere: 3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

[2020-09-08 05:43] calvinyv commented on #2964
/kind feature-request
/assign @Carlosfengv @leoendless

[2020-09-08 05:46] calvinyv opened #2965 "Feat: allow to configure request and limit of local storage on UI"
**Describe the Bug**
Allow to configure request and limit of local storage on UI
Refer to the kubernetes docs: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#setting-requests-and-limits-for-local-ephemeral-storage

**Versions Used**
KubeSphere: 3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

[2020-09-08 05:47] calvinyv commented on #2965
/area ui
/kind feature-request
/assign @Carlosfengv @min-zh @leoendless

[2020-09-08 08:17] zryfish opened #2966 "Proxy service through ks-apiserver"
Currently there are three ways to access services,  NodePort/LoadBalancer/Ingress, but they all require extra setup to access. Such as expose cluster nodeport to outside of cluster. Kube-apiserver now has the ability to proxy cluster service, we can leverage this to provide better accessibility.

/kind feature-request
/assign @zryfish
/kind design

[2020-09-08 08:39] tzghost commented on #2959
Node network problem, resolved

[2020-09-08 08:40] #2959 closed

[2020-09-08 08:41] FeynmanZhou commented on #2959
Did you install KubeSphere v3.0.0 with GlusterFS successfully?

[2020-09-08 08:48] tzghost commented on #2959
Yes , Glusterfs each node needs to open ports 49152 to 49251
https://github.com/gluster/gluster-kubernetes/blob/master/docs/setup-guide.md

[2020-09-08 09:23] FeynmanZhou commented on #2959
Thanks, the related configuration of GlusterFS above is correct?

[2020-09-08 09:29] tzghost commented on #2959
Yes, the configuration of glusterfs is correct. The reason for the failure is that the port is not open

[2020-09-09 03:26] sunnoy opened #2969 "how to uninstall kubesphere in 3.0.0 ?"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**
3.0.0

# how to uninstall kubesphere ?

[2020-09-09 03:30] hantmac commented on #2969
kubectl delete ns kubesphere or kubectl delete ns kubesphere-system

[2020-09-09 03:33] sunnoy commented on #2969
in 3.0 there is no kubesphere or  kubesphere-system ns

[2020-09-09 03:46] hantmac commented on #2969
Impossible! namespace `kubesphere-system` exist definitly.

[2020-09-09 07:47] #2956 closed

[2020-09-09 18:05] rarecrane commented on #2044
[root@k8s-master ~]# kubectl discribe -n kubesphere-system ks-apigateway-78bcdc8ffc-pkgm6
Error: unknown command "discribe" for "kubectl"

Did you mean this?
	describe

Run 'kubectl --help' for usage.
[root@k8s-master ~]# kubectl describe -n kubesphere-system ks-apigateway-78bcdc8ffc-pkgm6
error: the server doesn't have a resource type "ks-apigateway-78bcdc8ffc-pkgm6"
[root@k8s-master ~]# kubectl

[2020-09-09 18:09] rarecrane commented on #2044
kubectl describe pod redis-6fd6c6d6f9-v88zv  -n kubesphere-system
Name:           redis-6fd6c6d6f9-v88zv
Namespace:      kubesphere-system
Priority:       0
Node:           <none>
Labels:         app=redis
                pod-template-hash=6fd6c6d6f9
                tier=database
                version=redis-4.0
Annotations:    <none>
Status:         Pending
IP:
IPs:            <none>
Controlled

[2020-09-10 07:19] wansir opened #2970 "Feat: improve LDAP identity provider"
* [ ] Support LDAPS.
* [ ]  Support search filter.
* [ ]  Add account binding process, solve problems caused by special characters in username.

/kind feature-request
/area iam
/milestone 3.1.0

[2020-09-11 09:58] cumirror opened #2973 "Create volume reports an error"
**Describe the Bug**
Create volume through UI report error:
![image](https://user-images.githubusercontent.com/2455429/92886492-41613880-f446-11ea-8c86-671fd7ed883c.png)

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: k8s 1.19

**ks-api log**
[code]

**k8s StorageClass**
[code]

**nfs-storage**
refer: https://jimmysong.io/kubernetes-handbook/practice/using-nfs-for-persistent-storage.html

**host

[2020-09-12 02:05] wansir commented on #2962
/assign @min-zh

[2020-09-12 02:32] wansir opened #2974 "Feat: support cluster authorization settings"
Permissions granted at cluster scope allow the user to manage resources of the cluster.

[2020-09-12 02:32] wansir commented on #2974
/kind feature-request

[2020-09-12 09:58] technologynongmin commented on #2908
how to configure it

[2020-09-12 10:16] technologynongmin commented on #2953
@ynhao  my kubesphere version is 3.0 , how to configure with openldap  .

[2020-09-12 13:35] cumirror commented on #2973
This problem is because wrong pvc configuration missing storageClassName field.
After setting this field, the storage volume function of kubeSphere is ok.

/close

[2020-09-12 13:35] #2973 closed

[2020-09-14 08:50] min-zh commented on #2962
/assign @stoneshi-yunify

[2020-09-16 01:16] ynhao commented on #2953
Maybe this post can help you https://kubesphere.com.cn/forum/d/2033-ga-ldap-oauth2

[2020-09-16 01:32] LoveJT commented on #1810
Did it build successfully？arm64

[2020-09-16 03:20] sunshuyan opened #2977 "How to invoke authentication API manually？"
**Describe the Bug**

I use the same set of account and password, and the password intercepted in the browser is encrypted into different strings. Manual call authentication is 401. Is there any way to call authentication API manually?

url:http://172.31.178.157:31904/oauth/token

{
    "kind": "Status",
    "apiVersion": "v1",
    "metadata": {},
    "status": "Failure",
    "message": "Unauthori

[2020-09-16 07:27] willzhang commented on #2600
not fixed
[code]

[2020-09-16 16:37] kloudtaxi opened #2978 "English locale"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**

How do I change the language locale to English on the web console?

**Environment: OS & Hardware Information**

Ubuntu 18.6, 2 cpus, 4GB mem, 80GB hd

Digital Ocean + Linux VM + kubesphere all-in-one installation

**Error logs or message (Attach logs or screenshot)**

**Ins

[2020-09-16 16:48] kloudtaxi commented on #2978
I figured it out poking around the menu in web console under admin profile.

[2020-09-16 16:48] #2978 closed

[2020-09-17 00:50] Forest-L commented on #2969
Refer to this docs https://github.com/kubesphere/ks-installer/blob/master/scripts/kubesphere-delete.sh

[2020-09-17 05:18] #2779 closed

[2020-09-18 15:04] yeongjet opened #2979 "A page of docs was losted"
https://kubesphere.com.cn/docs/quick-start/deploy-bookinfo-to-k8s/

[2020-09-21 01:31] FeynmanZhou commented on #2979
The Chinese version of documentation will be ready around one month, you can change to the [English version](https://kubesphere.com.cn/en/docs/quick-start/deploy-bookinfo-to-k8s/) to get the latest docs.

[2020-09-21 03:01] #2979 closed

[2020-09-21 06:06] Einic opened #2981 "Internal Server Error After using the app store to deploy nginx several times, the exceptions are as follows"
# OS Environment
os version: CentOS Linux release 7.8.2003 (Core)
kk version: v1.0.0
kubernetes version: v1.18.6
kubesphere version: v3.0.0
ceph version : ceph version 15.2.4 (7447c15c6ff58d7fce91843b705a268a1917325c) octopus (stable)
etcd/kube-master count：5
worker/kube-node count：5
network: Intranet Gigabit
physical Disk: SSD Array
esxi：7.0

The basic environment is an exclusive physical machine

[2020-09-21 10:03] gotoworld opened #2982 "Under multi-cluster and multi-tenant, when the user under a certain cluster of the project has permission, when this user logs in, he should switch to this project by default"
## English only!

Under multi-cluster and multi-tenant, when the user under a certain cluster of the project has permission, when this user logs in, he should switch to this project by default

**实际（currently）：**
![image](https://user-images.githubusercontent.com/8605471/93754574-8ea68c80-fc34-11ea-9efd-810ea86c260b.png)

**期望 （Expect）：**
![image](https://user-images.githubusercontent.com/8605471/

[2020-09-22 09:16] lishitiancn opened #2983 "Add helm https repo, there is no place to specify a custom CA certificate"
**Describe the Bug**
Add  helm https repo, there is no place to specify a custom CA certificate

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

[2020-09-22 09:25] lishitiancn opened #2985 "Create pipeline, /var/kenkins_home/logs/health-checker.log: Read-only file system"
**Describe the Bug**
Create pipeline, a error hanppen.
/var/kenkins_home/logs/health-checker.log: Read-only file system
Failed to create a temporary file in /var/jenkins_home

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
Using OpenEBS as iscsi storage provisioner

[2020-09-22 09:37] min-zh opened #2986 "Adjust Storage Capability by hand"
In KubeSphere 3.0.0. , we designed `StorageCapability` to get the supported features of storage plugins.
Features mainly include:
1. volume cloning
2. volume expanding
3. volume snapshot

Storage Plugins include:
1.  CSI plugin
2.  intree plugin
3. some other plugin.

Realization of `StorageCapability` are different for CSI plugin and non-CSI plugin.

In CSI plugin, we call the CSI GPRC interface

[2020-09-23 04:21] jayzch opened #2988 "容器组列增加状态"
状态列，实现排序，快速查看未就绪的容器组
![image](https://user-images.githubusercontent.com/5292764/93966418-4489ec00-fd97-11ea-8352-c044fc357a79.png)

[2020-09-23 09:23] zheng1 commented on #2952
You can add your repo in the format below.
`https://username:password@your-repo.com/path`

[2020-09-23 09:29] zheng1 commented on #2954
The current bypass is to delete the apps that failed to deploy before deploying new ones.

We'll fix this in 3.1.

[2020-09-23 09:44] FeynmanZhou commented on #2952
@zheng1 This should be included in the documentation 3.0.0

[2020-09-24 01:25] siu91 opened #2989 "Once the user has the users-manager role, he can modify himself to become any role"
**Describe the Bug**
Once the user has the users-manager role, he can modify himself to become any role, even the role of the platform-admin.

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: 1.18.6

**Environment**
 CentOS 7.5 / 3 masters:  2cpu/8g; 3 nodes: 4cpu/16g

**How To Reproduce**
As described.

**Expected behavior**
The user has the users-manager role and cannot modify his role as a plat

[2020-09-24 02:22] wansir commented on #2989
The permissions that users-manager has are a subset of platform-admin, which is a privileged role. Platform admin shouldn't do everything. Similarly, in K8s you have the permission to create cluster role binding, you can also set yourself as cluster-admin. Maybe we can make some restrictions as you said.

[2020-09-25 04:03] willzhang opened #2990 "http type image registry key check failed but can create and use"
http type registry can not check

[2020-09-25 06:32] willzhang opened #2991 "when change jenkinsfile or jenkinsfile name in git repo kubesphere ui not update anything"
when change jenkinsfile content or jenkinsfile name in git repo，kubesphere ui not update anything ，still use old jenkinsfile and can not find new jenkinsfile name

[2020-09-25 06:34] wanjunlei commented on #2991
/assign @shaowenchen

[2020-09-25 06:41] shaowenchen commented on #2991
1. You should change the path of Jenkinsfile manually in KubeSphere UI if you change the Jenkinsfile name.

2. Only the parameters will display on the KubeSphere UI if using the InSCM Jenkinsfile.

[2020-09-26 11:28] willzhang opened #2993 "kubesphere should forbidden to delete user If there have resources not clean under the user"
kubesphere allow admin delete user even the user have resources，the resource will not release , recreate a new user have same resource name will conflict.

[2020-09-27 06:25] gotoworld opened #2994 "Kubesphere v3.0.0 not support create configmap from files in UI."
**Describe the Bug**

**Kubesphere v3.0.0 not support create configmap from files in UI**
![image](https://user-images.githubusercontent.com/8605471/94357598-d9a91f80-00cc-11eb-8b8a-ec609dcb2204.png)

eg: as below action, we cannot do it in Kubesphere v3.0, this is a commonly operations.
`kubectl create configmap theconfigmapfromfiles–from-file=./config.js`

**Expected behavior**
In Kubesphere UI

[2020-09-27 10:17] yunkunrao commented on #2994
/assign @Carlosfengv

[2020-09-27 10:20] yunkunrao commented on #2993
/assign @wansir

[2020-09-27 10:30] wansir commented on #2993
@willzhang The life cycle of resources is not associated with users. Most resources belong to namespace or workspace. You can delete the user directly, and the finalizer will eventually release the resources owned by the user such as role binding and kubectl pod.

[2020-09-28 06:09] liuyp2018 opened #2995 "deploy app API problem"
**Describe the Bug**
in the deploy app API, the workspace is "undefinded"
![image](https://user-images.githubusercontent.com/36271543/94395967-6b7b6000-0193-11eb-9b1b-b1e0d8c256b9.png)

**Versions Used**
KubeSphere: V 3.0.0

/kind bug
/area app-management
/assign @zheng1
/milestone 3.1.0
/priority medium

[2020-09-28 06:24] willzhang opened #2996 "self defined kubernetes agent pod template can not deploy yaml to kubernetes"
## environment

kubesphere 3.0.0

demo github address: https://github.com/willzhang/spring-demo/blob/master/deploy/deployment.yaml

create an empty pipeline, and paste follow script
[code]

the deployment.yaml file content is very simple ,and run kubectl apply by hand is success.
[code]

but run pipeline will get error at the second stage:
[code]

[2020-09-30 00:34] tzghost opened #2998 "The configuration of alertmanager-main cannot be modified"
Can't the configuration of alertmanager-main be modified? If you modify replicas to 1 or edit the configuration template, the configuration will be restored

[2020-09-30 07:04] lxm opened #2999 "support statefulset autoscale on console"
Ks-console only support to create hpa for deployment.
The support for autoscaling the statefulsets using HPA is added in kubernetes 1.9

[2020-09-30 07:43] lxm opened #3000 "support display env on console set by configMapRef"
if deployment set envs use configMapRef, envs will not be displayed on console

[2020-09-30 12:19] #2800 closed

[2020-09-30 13:22] hzliangbin commented on #2985
@lishitiancn Sounds like your JENKINS_HOME has the wrong permissions or ownership. Something misconfig with your storage.

[2020-10-01 03:56] sunnoy commented on #2969
tks

[2020-10-01 03:56] #2969 closed

[2020-10-01 14:24] zheng1 opened #3001 "Failed to install phpmyadmin"
**Describe the Bug**
Failed to install phpmyadmin https://charts.bitnami.com/bitnami/phpmyadmin-6.5.2.tgz

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: v1.17.9

**Environment**
[code]

[2020-10-09 14:42] sleekmike opened #3005 "Unable to get workloads running properly"
**What's your question**
I successfully installed  Kubernetes and Kubesphere, I am following the article  **Deploy Bookinfo and Manage Traffic** on KubeSphere website but when I create and deploy the sample application and check the Workloads, the status of all four deployments displays updating as depicted in the screenshots below.

<img width="1026" alt="kkk" src="https://user-images.githubuserc

[2020-10-10 01:53] zryfish commented on #3005
Hover your mouse over the warning icon, it will give the reason why your deployments **FailedCreate**. Also, AFAIK, linode Kubernetes is a managed Kubernetes, which means you won't see master nodes of your cluster, which will cause the problem you just encountered, no gateway address shown, we're working on it. Meanwhile, you can use any node IP as your gateway address IP, it's the same.

[2020-10-10 02:00] zryfish commented on #2395
@leoendless If I remember correctly, this is already included in v3.0, right?

[2020-10-10 02:24] leoendless commented on #2395
Yes, this bug has been fixed in v3.0.0

[2020-10-10 03:10] shaowenchen opened #3006 "feature: approval pipeline control"
refer to https://sourcegraph.com/github.com/kubesphere/kubesphere/-/blob/pkg/models/tenant/tenant.go#L205

/area devops
/milestone 3.1.0
/assign @shaowenchen

[2020-10-10 03:17] shaowenchen opened #3007 "feature: add and display the status of the pipeline on the front page"
/area devops
/assign @shaowenchen

[2020-10-10 03:22] shaowenchen commented on #3007
/milestone 3.1.0

[2020-10-10 07:39] xiaomabetter commented on #2908
how to configure it

[2020-10-10 08:24] yuswift opened #3008 "Feature: Support muti cluster scheduling"
Feature Description

- Distribute total replicas such as FederatedDeployment evenly in all available clusters
- Distribute total replicas in different weight in all available clusters
- Distribute replicas in different weight, also enforcing replica limits per cluster

How it works

- Firstly, users should create a FederatedNamespace and FederatedDeployment under a FederatedWorkspace
- Secondly, u

[2020-10-10 08:25] yuswift commented on #3008
kind/feature

[2020-10-10 08:36] zryfish commented on #3008
wrong label, command always start with a /

/kind feature

[2020-10-10 08:40] yuswift opened #3009 "Feature: Support muti cluster service dns and ingress dns"
# Feature Description

- Create an Ingress object once and can visit the same ingress host(highly available) in any cluster
- Create a loadbalancer svc object once and can visit the same svc name host(highly available) in any cluster

# How does it work

## Svc DNS

- Firstly create `FederatedDeployment` and `FederatedService` objects(user can do that by creating a workload on ks console)

- Secon

[2020-10-10 08:40] yuswift commented on #3009
/kind feature

[2020-10-10 13:50] zryfish commented on #2401
/kind feature

Will refactor gateway

[2020-10-11 03:16] willzhang opened #3010 "all-in-one install kubernetes+kubesphere 2cpu not enough"
**What's your question**

all-in-one install kubernetes+kubesphere 2cpu not enough

**what i do**
[code]

when finished, some pod pending

[code]
pod Insufficient cpu

[code]

node have no more cpu for use

[code]

**suggestion**
maybe some pod should have lower cpu request , or tell people when install kubesphere you need two more cpu.

[2020-10-11 11:29] Morriz opened #3011 "Question: what happened to the service mesh views?"
In the demo only one tab is left: "Applications", but in the images shared on reddit long time ago, the bookinfo app showed also tabs for "Traffic Management", "Grayscale Release", "Tracing" and "Events".

Any idea how to see those views in the demo?

[2020-10-11 14:02] FeynmanZhou commented on #3011
@Morriz I assume you want to see these features including on this page, right?

![image](https://user-images.githubusercontent.com/40452856/95680594-6e536780-0c0d-11eb-9b7a-c6fa20ecbee4.png)

Please refer to [this guide](https://kubesphere.io/docs/quick-start/deploy-bookinfo-to-k8s/) and make sure you enable the KubeSphere Service Mesh.

Let us know if you have any questions : )

[2020-10-11 14:10] FeynmanZhou commented on #3010
@willzhang  This doesn't seem normal, can you try to increase the CPU? Note that 2 CPU is only the minimum requirement, we tested the minimal installation using Kubekey in a Virtual Machine with 2 CPU and 4 GB Memory, it worked from our side.

[2020-10-12 02:21] wansir commented on #2908
@technologynongmin @xiaomabetter

https://5f83bcd16abf8c0008b60e2e--kubesphere-v3.netlify.app/docs/access-control-and-account-management/configuring-authentication/

https://github.com/kubesphere/website/blob/064b2f8b9d39150e1ed4445dff22094e84ca8aa4/content/en/docs/access-control-and-account-management/configuring-authentication.md

[2020-10-12 06:16] willzhang commented on #3010
the minimum requirement is for kubernetes or kubernetes+kubesphere?

i install k8s and kubesphere in one node with:
[code]

i use aliyun ecs 2C4G，ecs.c6e.large instance , i can't success , 2 pod pending, increase cpu to 4c pod running

so i think 2c for all in one  kubernetes+kubesphere mayby not enough.

[2020-10-12 06:18] #2993 closed

[2020-10-12 08:16] itlidaye opened #3012 "Failed to enable kubelet service"
/kk create cluster –with-kubernetes v1.18.6 –with-kubesphere v3.0.0

Configuration file already exists
Waiting for etcd to start
INFO[16:10:46 CST] Refreshing etcd configuration
INFO[16:10:47 CST] Get cluster status
[shiku183 192.168.0.120] MSG:
Cluster will be created.
INFO[16:10:48 CST] Installing kube binaries
Push /opt/kubekey/v1.18.6/amd64/kubeadm to 192.168.0.120:/tmp/kubekey/kubeadm Done
Pu

[2020-10-12 12:02] OceanChen2012 opened #3013 "kubersphere integrate the velero project"
Feature Description

    Kubersphere integrate the velero based on the k8s CRD extensions

How does it work
  It's like monitoring component

[2020-10-13 02:03] OceanChen2012 commented on #3013
Velero Backup workflow

[2020-10-13 02:05] OceanChen2012 commented on #3013
Velero Backup workflow
![屏幕快照 2020-10-13 上午10 04 43](https://user-images.githubusercontent.com/2436384/95806942-8cb78100-0d3b-11eb-9707-5de3ab8178f6.png)

[2020-10-13 02:08] OceanChen2012 commented on #3013
Install Velero on all clusters. Operation and maintenance personnel send backup and restore requests to Velero Server through Velero Client. Velero Server processes the data of the specified Kubernetes object. These data are compressed and stored in the object storage service in Json format. Velero operation and maintenance topology:
![屏幕快照 2020-10-13 上午10 08 33](https://user-images.githubusercont

[2020-10-13 03:08] OceanChen2012 commented on #3013
Velero backup procedure:
1. The local Velero client sends a backup instruction.

2. A Backup object will be created in the Kubernetes cluster.

3. The Backup Controller monitors the Backup object and starts the backup process.

4. The BackupController will query the API Server for relevant data.

5. The BackupController backs up the queried data to the remote object storage.

Velero has created ma

[2020-10-13 03:10] OceanChen2012 commented on #3013
Velero backup procedure:
1. The local Velero client sends a backup instruction.

2. A Backup object will be created in the Kubernetes cluster.

3. The Backup Controller monitors the Backup object and starts the backup process.

4. The BackupController will query the API Server for relevant data.

5. The BackupController backs up the queried data to the remote object storage.

Velero has created ma

[2020-10-13 06:37] OceanChen2012 commented on #3013
Velero public API
Please refer to the link：https://github.com/vmware-tanzu/velero/issues/2654

[2020-10-13 07:46] OceanChen2012 commented on #3013
List of possible APIs

backups.velero.io:  /apis/apiextensions.k8s.io/v1/customresourcedefinitions/backups.velero.io
backupstoragelocations.velero.io:  /apis/apiextensions.k8s.io/v1/customresourcedefinition/backupstoragelocations.velero.io
deletebackuprequests.velero.io:  /apis/apiextensions.k8s.io/v1/customresourcedefinitions/deletebackuprequests.velero.io
downloadrequests.velero.io:  /apis/apiex

[2020-10-13 07:52] wansir commented on #2961
fixed in https://github.com/kubesphere/kubesphere/pull/2976
/close

[2020-10-13 10:18] willzhang opened #3015 "metrics-server helm list accepts no arguments"
no such command
[code]
maybe should
[code]

ks-installer error
[code]

[2020-10-13 22:32] sleekmike commented on #3005
Thanks @zryfish for your helpful response.

[2020-10-14 09:55] yudar1024 opened #3017 "kubesphere v3.0 Installation error on on premise kubernetes"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**
install kubesphere 3.0 in on premise kubernetes can not work
use the follow commands to install
[code]

**Environment: OS & Hardware Information**
VMware  produce 6 vms to install k8s cluster  as demo env.
k8s version 1.19.2

os version centos 8.2

2core 4g mem / per vm

**E

[2020-10-15 01:48] OceanChen2012 commented on #3013
The project page of velero: https://github.com/vmware-tanzu/velero/tree/main/pkg/controller

[2020-10-15 02:56] haomi123 opened #3019 "How do I get the image kube-auditing-operator of arm64"
**What's your question**

I made an error when I ran kube-operation-Operator on ARM64, because kube - auditing - operator is amd64

**Environment: OS & Hardware Information**

os: linux centos 7.6
k8s: 1.15.1

**Error logs or message (Attach logs or screenshot)**
[code]

**Installer Version**
kubesphere:3.0.0

Does kube-auditor-operator provide source code or when will arm64 be supported

[2020-10-15 07:17] xmapst opened #3020 "jenkins api 可以提出来做一个单独的库吗"
jenkins api 可以提出来做一个单独的库吗

[2020-10-15 08:57] gaomiup20 opened #3022 "devops-ci,while deploy the kind:applications.app.k8s.io not be supported"
cat deploy.yaml
---
apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: 'test-app'
  namespace: juslink-dev
  labels:
    app.kubernetes.io/version: v1
  annotations:
    servicemesh.kubesphere.io/enabled: 'false'
spec:
  selector:
    matchLabels:
      juslink/group: test-app
  addOwnerRef: true
![image](https://user-images.githubusercontent.com/26083944/96101191-ca690500-0f07-11e

[2020-10-16 03:35] Forest-L commented on #3022
/assign @shaowenchen

[2020-10-16 03:36] Forest-L commented on #3020
/assign @shaowenchen

[2020-10-16 08:16] Forest-L commented on #3017
@yudar1024 K8s1.19 is not currently supported, but v1.16-v1.18 can be used.

[2020-10-16 21:25] kivo360 opened #3024 "Unable to To Create Kubesphere-System Gateway"
## English only!

Unable to create kubesphere-system gateway. When I go to the project is only has an empty field. I need to be able to use this gateway to add HTTPs settings.

The image below shows what I'm having problems with:

![image](https://user-images.githubusercontent.com/2403240/96309910-7de2ff80-0fc3-11eb-93e5-ec10c31080bf.png)

In the event that I can't do this. Is there any https forw

[2020-10-17 09:06] rayzhou2017 commented on #3024
It is system project which is not allowed to edit via console. You can create a project under your own workspace and create the gateway.

[2020-10-17 09:09] FeynmanZhou commented on #3024
@kivo360  Do you want to configure https forwarding for the KubeSphere Console (ks-console) service?

[2020-10-17 14:29] kivo360 commented on #3024
Yeah, I want the console to use https. It's a personal preference.

[2020-10-17 16:28] kivo360 commented on #3024
Is there a way I can use kubectl to create the gateway?

[2020-10-18 11:25] FeynmanZhou commented on #3024
@zryfish I remember there is a way to allow this configuration, please help @kivo360 to resolve it, thanks.

[2020-10-18 16:00] zryfish commented on #3024
@kivo360  actually you can, but it requires more effort. Gateway is a standard Nginx controller service [installation](https://github.com/kubesphere/kubesphere/blob/master/install/ingress-controller/ingress-controller.yaml) just like the nginx controller example, the biggest difference is KubeSphere create gateway per namespace.  We are planning to refactor this part in our next release, using CRD

[2020-10-18 21:38] kivo360 commented on #3024
@zryfish Wonderful! I wanted to cover my bases. For the most part I'm using KubeSphere for a demo, therefore it's not mission critical stuff right now.

I see it as a means to solve many problems inside of the organization I'm apart of. Out of curiosity, what is the new roadmap now that you've reached 3.0.0?

One of the biggest things I've been really looking at is the use of serverless functions

[2020-10-18 21:38] #3024 closed

[2020-10-19 02:00] benjaminhuo commented on #3024
@kivo360 , we're currently considering the future Serverless/FaaS support in KubeSphere.

And I agreed that events play an important role in the comm of apps. For example, [knative eventing](https://knative.dev/docs/eventing/sources/) supports many event sources including apache camel which can connect to more sources, knative eventing can also covert these events into standard CloudEvents format

[2020-10-19 02:13] gaomiup20 commented on #3022
升级了jenkins-agent指定的maven镜像中的kubectl版本和控制台kubectl一致，但仍然报错找不到kind:applicaiton

[2020-10-19 02:20] shaowenchen commented on #3022
DevOps component uses the plugin of kubernetes-cd-plugin to deploy workloads. The kind of application not in the supported list https://github.com/jenkinsci/kubernetes-cd-plugin/blob/dev/src/main/java/io/kubesphere/jenkins/kubernetes/generated/KubernetesModelClasses.java.

[2020-10-19 02:22] shaowenchen commented on #3020
We have finished it. Please refer to https://github.com/kubesphere/kubesphere/tree/master/pkg/simple/client/devops .

[2020-10-19 02:23] shaowenchen commented on #3020
/area devops

[2020-10-19 02:23] shaowenchen commented on #3022
/area devops

[2020-10-19 03:05] xmapst commented on #3020
Thank you

[2020-10-19 03:07] xmapst commented on #3020
@shaowenchen Why no node related operations

[2020-10-19 03:18] shaowenchen commented on #3020
We don't use the API to modify the node. It's a configuration.

At the same time, the node is provided by the Kubernetes cd plugins, not Jenkins directly.

[2020-10-19 03:45] gaomiup20 commented on #3022
但是为什么界面和控制台可以直接应用The kind of application，除了在jenkinsfile（devops流水线）

[2020-10-19 03:45] xmapst commented on #3020
好的

[2020-10-20 02:44] gaomiup20 opened #3025 "kubectl get applications.app.k8s.io waybill -n xxx"
[root@master ~]# kubectl  get applications.app.k8s.io waybill  -n juslink-dev
NAME      TYPE   VERSION   OWNER   READY   AGE
waybill                    true    0/0     19m

控制台中的application的ready是0/0，然而界面能看到部署的deploy,svc在正常运行
基于应用在编排文件自建的applicaiton（自制应用）
---
apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: waybill
  namespace: juslink-dev
  labels:
    app.kubernetes.io/version:

[2020-10-20 06:26] zackzhangkai commented on #3025
Please add these labels to your subresources:
[code]
You can go to KubeSphere Forum to search your questions.
https://kubesphere.com.cn/forum/

[2020-10-20 08:56] gaomiup20 commented on #3025
请问下，可以在deployment自定义lable，再将这个lablel被applicaiton的matchLabels匹配吧

请问下，可以在deployment自定义lable，再将这个lablel被applicaiton的matchLabels匹配吧

[2020-10-20 09:07] willzhang opened #3026 "can't delete kubesphere v3.0.0 cluster"
what i do
[code]

it always pending status at some steps , i have try many times

[code]

some resource can't be delete and make the delete process  in pending status  for a long time.

[code]

[2020-10-20 09:44] #3025 closed

[2020-10-20 09:44] #3022 closed

[2020-10-20 10:14] yuswift commented on #3026
Edit the kube-federation-system and kubesphere-monitoring-system ns, delete the metadata.deletionTimestamp field and save it. then you can delete those two ns.

[2020-10-20 13:13] zryfish commented on #1903
/cc @zheng1

[2020-10-21 01:25] willzhang commented on #3026
here some resource in namespace
[code]

how to delete the follow resource
[code]

it is not possible
[code]
edit

[code]
the finalizers can not be deleted
[code]

[2020-10-21 02:37] willzhang commented on #3026
i delete them in etcd , and namesapce is released

[code]

[2020-10-21 02:37] #3026 closed

[2020-10-22 08:55] zryfish commented on #2580
duplicate https://github.com/kubesphere/kubesphere/issues/1903

/close

[2020-10-22 09:01] shaowenchen commented on #3019
/assign @wanjunlei

[2020-10-22 09:05] shaowenchen commented on #2580
/close

[2020-10-22 09:07] haomi123 commented on #3019
I've got it，thank you

[2020-10-22 09:12] shaowenchen commented on #2580
/close

[2020-10-22 09:23] shaowenchen commented on #2580
/close

[2020-10-22 09:53] willzhang opened #3027 "does kubesphere support upgrade helm app?"
kubesphere v3.0.0 deploy helm app, how to upgrade?

[2020-10-22 10:05] wansir opened #3028 "Feature: Transfer namespace to another workspace"
Feature Description:
Transfer a namespace to another workspace. Usually, the members and deployed applications in the namespace belong to the workspace.

/kind feature-request

[2020-10-22 10:58] shaowenchen commented on #2580
/close

[2020-10-22 11:34] shaowenchen commented on #2580
/close

[2020-10-22 11:53] shaowenchen commented on #2580
/assign @zryfish

[2020-10-23 01:13] #3020 closed

[2020-10-23 02:12] willzhang opened #3030 "save user defined configuration to Original yaml,"
when deploy one app support save user defined configuration to Original yaml,

then you can  copy、 paste、download or upload app configuration to any place.

it's like:

- Jenkins graphical editing panel convert to jenkinsfile
- user deploy app in graphical editing panel convert to original kubernetes yaml

then you can quick reinstall a simmilar app ,migrate app to anthoer namespace or cluster, or

[2020-10-23 02:15] willzhang opened #3031 "Create Composing Application in application template as Application blueprint"
Create Composing Application in application template as Application blueprint

step1：define your application and save it as yaml

step2：deploy your defined application to anywhere

[2020-10-23 02:30] willzhang commented on #3027
**what is the situation：**

1.change 10 key value in helm values.yaml

2.deploy helm app

3.if i want reinstall the same helm app i must change 10 key value in helm values.yaml again.

**what i want:**
so i hope support upgrade helm

or save helm chat change as revision1 revison2...

or save official helm chart as user defined helm app templates.

[2020-10-26 06:32] kubeshared commented on #2406
thk

[2020-10-26 06:33] kubeshared commented on #2817
see https://github.com/kubesphere/ks-installer/pull/877

[2020-10-26 07:46] #1178 closed

[2020-10-26 07:48] #1899 closed

[2020-10-27 08:38] mtccvip opened #3035 "when set user permission olny viewer, there is no permission to enter the container terminal."
I found that the user role only sets the viewing permission, but there is no permission to enter the container terminal. But I don’t want to set the permission of role project management. Is this not supported? Under normal circumstances, ordinary users of kubesphere are the company's developers. Developers need to enter the container terminal to perform some operations, such as viewing the proces

[2020-10-27 08:41] yunkunrao commented on #3035
/assign @wansir

[2020-10-27 10:12] zryfish commented on #2700
/cc @zheng1

[2020-10-27 16:43] wenerme commented on #2928
this is not related to k8s v1.19, but go v1.15

[code]

but kubesphere is not compact with v1.19 csr v1, devops deploy will never success.

[code]

[2020-10-28 03:03] hlwanghl opened #3036 "gitlab deployed but UI shows "failed""
**Describe the Bug**
The GitLab chart from https://charts.kubesphere.io/main can be deployed successfully, but KS UI shows "failed".

![image](https://user-images.githubusercontent.com/4861515/97385370-85cc6900-190c-11eb-936e-6a629a5db487.png)

![image](https://user-images.githubusercontent.com/4861515/97385409-941a8500-190c-11eb-9046-fdbd72d61c87.png)

cli results:

[code]

openpitrix logging:
[c

[2020-10-28 07:58] huangyi-qaz opened #3038 "workspace cannot be deleted,the deleteRequest returns 200,but the workspace still exists;"
**Describe the Bug**
I want to delete a workspace ,but after I perform the deletion, the workspace still exists

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/1

[2020-10-29 06:13] rayzhou2017 commented on #2618
/cc @shaowenchen

[2020-10-29 08:33] aimuz opened #3041 "Security problem, the terminal does not do permission verification"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardw

[2020-10-29 10:20] shaowenchen opened #3043 "bugfix: get error when display bool parameter from Jenkinsfile in scm"
**Versions Used**
KubeSphere: 3.0.0

https://kubesphere.com.cn/forum/d/2371-v30-devopsjenkinsfilebool/3

/area devops
/king bug

[2020-10-30 06:28] lxm opened #3044 "support colors and formatting in log"
![image](https://user-images.githubusercontent.com/1918195/97668038-19906780-1abc-11eb-82a1-47d1e672aa3f.png)

which should display like

![image](https://user-images.githubusercontent.com/1918195/97668055-20b77580-1abc-11eb-9c8d-c68d52f1a0d3.png)

[2020-10-30 07:44] pytimer commented on #2600
@Forest-L I follow the kubesphere doc https://kubesphere.io/docs/quick-start/minimal-kubesphere-on-k8s/ to deploy kubesphere on my own kubernetes cluster. It also have this question.

The kubesphere images:
[code]

[2020-10-30 08:07] wansir opened #3047 "Feature: Support CAS identity provider."
Support CAS (Central Authentication Service) identity provider.

https://apereo.github.io/cas/5.0.x/protocol/CAS-Protocol-Specification.html

/kind feature-request

[2020-10-31 03:39] sleekmike opened #3049 "Help getting my services running on KubeSphere"
Hello Guys,

I have been having an issue with creating and running services(source to image) on KubeSphere.
I have followed the tutorials(video and written) verbatim but each time I start the service the jobs and pods always fail to start, I have tried various resource settings/configurations but this has not helped either.

<img width="1007" alt="Screenshot at Oct 31 04-29-21" src="https://user-i

[2020-10-31 10:29] zackzhangkai commented on #3049
@sleekmike it's likely because of your project quota, pls do check as follows:

![image](https://user-images.githubusercontent.com/20178386/97776891-f2629480-1ba6-11eb-8dcd-9557e53ab4fd.png)

[2020-10-31 17:49] sleekmike commented on #3049
Ok thanks @zackzhangkai, I was editing resource default request instead.

[2020-10-31 17:58] #3049 closed

[2020-11-01 11:09] Forest-L commented on #2600
@pytimer   What happened?
[code]

[2020-11-02 01:17] shaowenchen opened #3051 "feature: support tag trigger pipeline"
/area devops
/milestone 3.1.0
link to https://kubesphere.com.cn/forum/d/2578-gitlabtag

[2020-11-02 01:18] shaowenchen commented on #3051
/kind feature

[2020-11-02 01:23] shaowenchen commented on #3051
/milestone 3.1.0

[2020-11-02 02:05] shaowenchen commented on #3007
/kind feature

[2020-11-02 02:10] shaowenchen opened #3052 "Development List of DevOps 3.1.0"
target:

- fix bugs
- improve user experience

bugfix:

- [x] get error webhook link under multicluster,  https://kubesphere.com.cn/forum/d/2626-webhook-jenkins

- [x] when edit pipeline, some data get lost generated by jenkinsfile, https://github.com/kubesphere/console/issues/1270

- [x]  can not get "Docker Container Registry Credentials", https://github.com/kubesphere/console/issues/1269 -> htt

[2020-11-02 02:29] shaowenchen opened #3053 "feature:clone pipeline"
![image](https://user-images.githubusercontent.com/43693241/97824479-03222000-1cf7-11eb-9f5f-6fe663852102.png)

/area devops

[2020-11-02 02:36] shaowenchen commented on #3053
/assign @harrisonliu5

[2020-11-02 03:25] zackzhangkai opened #3054 "Development List of ServiceMesh 3.1.0"
feature：

~~De-dependence Prometheus Client For Kiali [#4](https://github.com/kubesphere/kiali/pull/4/files)~~

- [x] Use Kiali API directly  [#3](https://github.com/kubesphere/kiali/pull/3)(https://github.com/kubesphere/kubesphere/pull/3045)
- [x] Support nginx-ingress monitor https://github.com/kubesphere/ks-installer/pull/1205

improvement:

- [x] Upgrade Istio Version 1.6.10  [#1125](https://g

[2020-11-02 04:53] zryfish opened #3055 "[Proposal]Refactor KubeSphere gateway with CRD"
KubeSphere gateway now is just a normal service with Nginx controller as its backend. It offers a declarative API to create/modify/delete. The biggest shortcoming of this approach is not flexible to add extra configurations to it, such as increase replicas, upgrade controller version etc.

/assign @zryfish
/kind feature

[2020-11-02 04:57] zryfish opened #3056 "Lightweight member cluster installation"
KubeSphere multicluster requires member cluster installed with KubeSphere,  minimal deployment is ok. But still, it requires lots of components to be installed, such as Redis/OpenLDAP/Prometheus. Need to offer a more lightweight member cluster installation method.

/assign @zryfish
/kind feature
/milestone 3.1.0
/priority high

[2020-11-02 06:22] wansir commented on #2928
/milestone 3.1.0

[2020-11-02 06:24] wansir commented on #2939
/milestone 3.1.0

[2020-11-02 06:40] zryfish commented on #3055
/priority medium

[2020-11-02 06:41] zryfish commented on #3054
/area microservice

[2020-11-02 06:41] zryfish commented on #3054
/milestone 3.1.0

[2020-11-02 06:42] zryfish commented on #3053
/milestone 3.1.0

[2020-11-02 06:45] wansir commented on #2970
/milestone 3.1.0

[2020-11-02 06:46] wansir commented on #2940
/milestone 3.1.0

[2020-11-02 06:47] yuswift commented on #3008
/milestone 3.1.0

[2020-11-02 06:51] yuswift commented on #3009
Kubefed community have disabled those two features by default and will remove them in the feature.

[2020-11-02 11:54] zryfish commented on #2767
/cc @leoendless

[2020-11-02 13:21] zryfish commented on #1388
/cc @zheng1

[2020-11-02 15:09] zheng1 opened #3057 "Feature: Provide IPPool support for Calico and VMs"
Define the IP address pools for Calico and VMs using the same CRD in a consistent way.

https://github.com/kubesphere/kubesphere/pull/3033

[2020-11-02 15:13] zheng1 opened #3058 "Feature: Support for deployment using IPPool"
Calico only supports custom static IP for pods.
Sometimes we would also like to have a set of static IPs available for deployments, so it's best if we can provide a way to allow deployments to use IPPool.

[2020-11-02 15:17] zheng1 opened #3059 "Feature: Support for ks-installer with porter as a system component"
porter is a cluster-level component when deployed, so we should integrate it in ks-installer

[2020-11-02 15:18] zheng1 opened #3060 "Feature: Support for defining porter-related configuration items in the UI"
/kind feature-request
/area networking
/assign @zheng1 @duanjiong
/milestone 3.1.0

[2020-11-02 15:20] zheng1 opened #3061 "Feature: Support network visualization"
/kind feature-request
/area networking
/assign @zheng1 @duanjiong
/milestone 3.1.0

[2020-11-02 15:20] zheng1 commented on #3061
/milestone 3.1.0

[2020-11-02 15:22] zheng1 commented on #3061
/assign @leoendless

[2020-11-02 15:23] zheng1 commented on #3060
/assign @leoendless

[2020-11-02 15:23] zheng1 commented on #3059
/assign @pixiake

[2020-11-02 15:23] zheng1 commented on #3058
/assign @leoendless

[2020-11-02 15:23] zheng1 commented on #3057
/assign @leoendless

[2020-11-02 15:25] zheng1 opened #3062 "Feature: Add metering support"
Support for viewing resource consumption at the cluster,  workspace, and application template levels.

/assign @yunkunrao @zheng1 @leoendless
/kind feature-request
/area api
/milestone 3.1.0

[2020-11-02 15:27] zheng1 opened #3063 "Development List of AppStore/Network/Metering in 3.1.0"
## Feature

### AppStore

- [ ] Refactoring with CRD, while fix bugs caused by legacy architecture #3036 #3001 #2995 #2981 #2954 #2951 #2783 #2713 #2700 #1903 
- [ ] Support global repo #1598

### Network

- [ ] IPPool for Calico and VMs #3057
- [ ] Support for deployment using static IPs #3058
- [ ] Support for ks-installer with porter as a system component #3059
- [ ] Support for defining porter

[2020-11-03 02:07] LinuxSuRen opened #3064 "Support integration an external Jenkins"
In many cases, users already have a Jenkins in their environment. But kubesphere always request us to install a new one. It will spend a lot of time to migrate the data file of Jenkins. The most important thing is that many people just don't know how to do it.

Support integration an external Jenkins could be an excellent feature. Please give me a thumb if you need this feature too.

[2020-11-03 02:19] pytimer commented on #2600
Sorry to reply late.
The ks-installer logs:
[code]

I see ks-install show success.
I found the `ks-controller-manager-586d774757-8c6rf` pod have the error log `error syncing 'admin': Internal error occurred: failed calling webhook "validating-user.k  ubesphere.io": Post https://ks-controller-manager.kubesphere-system.svc:443/validate-email-iam-kubesphere-io-v1alpha2-user?timeout=4s: context   dead

[2020-11-03 02:54] benjaminhuo opened #3065 "Feature: Prometheus alert/alert rule management"
- [ ] Support Prometheus alert rule management including adding/modifying/deleting/listing custom Prometheus alert rule
- [ ] Support listing alerts for a specific alert rule
- [ ] Alert rule tenant control: support global alert rule as well as namespace/project level alert rule

Pls refer to [Custom Alerting Proposal](https://github.com/kubesphere/community/blob/master/sig-observability/concepts-

[2020-11-03 03:20] benjaminhuo opened #3066 "Feature: Multi-tenant notification support including Email/DingTalk/Slack/Wechat/Webhook"
- [x] Support more notification channels including Email, DingTalk, Slack, WeChat works, Webhook
- [ ] Support multi-tenant control of notification:
- Platform Admin can set global receivers for each channel to receive alerts of the entire cluster.
- Each user can set his own notification channels from one or more mentioned above (maybe in his personal setting page?),  and he can only receive aler

[2020-11-03 03:38] benjaminhuo opened #3067 "Enhancement: Custom monitoring enhancement"
Improve custom monitoring user experience including:
- [ ] Configure ServiceMonitor via UI
- [ ] Support cluster-level custom monitoring
- [ ] (Optional) Support federated dashboard CRD
- [ ] (Optional) PromQL auto-completion and syntax highlighting
- [ ] (Optional) Import dashboards from Grafana templates
- [ ] (Optional) Support query variables

Pls refer to [Custom Monitoring Enhancement Propos

[2020-11-03 03:55] benjaminhuo opened #3068 "Feature: Utilizing existing monitoring stack setup"
- [x] Utilizing existing monitoring stack setup including existing:
- Prometheus
- Prometheus operator
- Node Exporter
- kube-state-metrics

Install these components if not present

- [x] Applying KubeSpere custom content such as: custom Prometheus recording & alert rules.

/assign @benjaminhuo
/kind feature-request
/area monitoring
/Milestone 3.1.0

[2020-11-03 04:51] benjaminhuo opened #3070 "Feature: KubeEdge Integration"
Support integration with KubeEdge:
- [x] KubeEdge cloud components setup.
- [x] KubeEdge edge nodes setup.
- [x] Edge nodes logging and metrics support.
- [x] Automated network configuration on edge node joining/leaving.
- [x] Scheduling workloads to edge nodes.

Pls refer to [KubeEdge Integration Proposal](https://github.com/kubesphere/community/blob/master/sig-edge/concepts-and-designs/kubespher

[2020-11-03 05:09] benjaminhuo opened #3071 "v3.1.0 roadmap for monitoring/alerting/notification/edge computing"
## Feature

### Alerting
- [x] Prometheus alert/alert rule management (Alert rule CRUD, https://github.com/kubesphere/kubesphere/issues/3065)

### Notification
- [ ] Multi-tenant notification support including Email/DingTalk/Slack/Wechat/Webhook (https://github.com/kubesphere/kubesphere/issues/3066)

### Monitoring
- [x] Utilizing existing monitoring stack setup (https://github.com/kubesphere/kube

[2020-11-03 05:50] misteruly opened #3072 "Open the App Store and report an error(kubesphere-v3.0.0)"
####  kubectl get pod  -n  openpitrix-system
NAME                                                 READY   STATUS      RESTARTS   AGE
hyperpitrix-generate-kubeconfig-8rgkl                0/2     Completed   4          144m
hyperpitrix-release-app-job-9j2j2                    0/1     Completed   2          144m
openpitrix-hyperpitrix-deployment-797d5774f8-vlsls   1/1     Running     0          144m

[2020-11-03 09:57] RolandMa1986 commented on #2940
/milestone 3.1.0
/assign @RolandMa1986

[2020-11-03 20:54] #2298 closed

[2020-11-03 23:25] jeacott1 commented on #2000
+1 for gitops integration.
is it just me or does the kubesphere effort seem to have run quite cold lately?

[2020-11-04 02:26] benjaminhuo opened #3074 "Correlation of log/event/audit and even monitoring"
Currently, log/event/audit and monitoring are located in different UI and they're not correlated.
It's valuable to have a unified UI to have a unified view of correlated observability functions.

/assign @Carlosfengv @benjaminhuo @junotx @wanjunlei
/area observability

[2020-11-04 02:43] lxm opened #3075 "Feature: multi-cluster helm app deploy"
# multi-cluster helm app deploy

Applications need to be deployed to multi clustes or one cluster in diffent namespaces, There is no communication between application's releases. Configs are almost the same between different releases, some config need to be set differently between releases. Sometimes need to do batch configs change for releases.

[2020-11-04 03:13] lxm opened #3076 "Feature: Add member cluster on console"
When addingh/removing member clusters. We need to do as follows:

[code]

// edit cluster-configuration.yaml (or maybe just use the previous one)

[code]

## Direct connection

The console requires a kubeconfig. So when kubesphere host cluster got a kubeconfig, it can execute `kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/v3.0.0/deploy/kubesphere-installer.yaml` automa

[2020-11-04 03:32] zryfish opened #3077 "Use http2 instead of websocket"
Kubernetes natively supports http2.

/label feature
/assign @zryfish
/priority medium

[2020-11-04 06:07] zryfish commented on #3075
That requires lots of effort to achieve that goal.
First, we use kube-federation to do multicluster deployment, which can only support K8s native object and CRD. But we use OpenPitrix to install helm chart, that means OpenPitrix needs to find a way to deploy helm chart using CRD.
Second, not only using CRD to deploy application, but also needs to find a way to federate those CRDs, and treat them a

[2020-11-04 06:09] zryfish commented on #3076
Yeah, that's reasonable, we are working on provisioning KubeSphere clusters from the console. I'll update this issue once there is progress.

[2020-11-04 07:28] calvinyv commented on #2000
the first official drop of KubeSphere Quick Start on AWS will deliver in two or three weeks, it's still under review process. After that, we will work on this quickstart by iterations and more AWS services will be integrated. Also welcome to join our quickstart beta program and give us your response more directly.

[2020-11-04 09:05] RolandMa1986 commented on #3012
Hi @itlidaye , have you created your cluster successfully? It seems you have already installed a k8s before on the machine before.

[2020-11-04 09:05] leoendless commented on #3063
https://github.com/kubesphere/kubesphere/issues/3075  needs to be fixed in the AppStore refactoring.

[2020-11-04 10:00] jeacott1 commented on #2000
btw - wrt gitops - I'd like to be able to use it for more than just pipeline. perhaps even flux or argo integration?

[2020-11-04 10:36] wangchengli commented on #3072
I have the same issue, I have tired redeploy, redo the job followed the guide from forums. not resolved.

[2020-11-04 12:34] lxm opened #3078 "Feature: Support use external prometheus-operator"
Kubesphere must install a custom prometheus-operator into member cluster to provide monitor functions currently. In some managed kubernetes such as alibaba ACK, there will be exists prometheus-operator like ack-prometheus-operator that provide prom CRD.

So if we can support not to install prometheus-operator and still enable the monitor function, in this situation, we need to set the monitor data

[2020-11-04 12:39] lxm opened #3079 "Feature: Support import dashboards on grafana.com"
Support import dashboards on grafana.com

[2020-11-04 13:48] FeynmanZhou commented on #3079
+1, It looks pretty cool if the [Grafana dashboards](https://grafana.com/grafana/dashboards) can be imported to KubeSphere Custom Monitoring Dashboard.

[2020-11-04 14:22] xyz-li commented on #3072
Does the service `hyperpitrix` exists?

`kubectl get svc -n openpitrix-system`

[2020-11-04 14:48] misteruly commented on #3072
openpitrix-system              hyperpitrix                               ClusterIP   None            <none>        9123/TCP,9121/TCP,9100/TCP,9102/TCP,9113/TCP,9122/TCP,9104/TCP,9118/TCP,9106/TCP,9101/TCP,9108/TCP,9103/TCP,9107/TCP   8m55s

[2020-11-04 14:54] misteruly commented on #3072
<img width="1063" alt="open app store job" src="https://user-images.githubusercontent.com/31399968/98126426-89ee1d00-1ef0-11eb-829e-5e6214e33797.png">

All jobs were started and no errors were reported

[2020-11-04 14:59] xyz-li commented on #3072
May  I login `http://139.198.1.16:30880/apps`?

[2020-11-04 15:01] misteruly commented on #3072
Yes, the default account and password

[2020-11-05 00:59] RolandMa1986 commented on #3027
/area app-management

[2020-11-05 01:06] LinuxSuRen opened #3081 "Inappropriate tips when I open the pipeline list page"
As I talked about in the PR title. I got some inappropriate tips that might lead the users to think it's a bug.

The potential reason could be that the Jenkins is not ready. It might occur in a few different phases of Jenkins Pod:

* Init
![image](https://user-images.githubusercontent.com/1450685/98184339-204c2e00-1f45-11eb-9e95-5e1f16d96c50.png)

* PodInitializing
![image](https://user-images.git

[2020-11-05 01:07] RolandMa1986 commented on #3015
/area installation

[2020-11-05 01:09] RolandMa1986 commented on #3012
/area installation

[2020-11-05 01:21] RolandMa1986 commented on #2996
/area devops

[2020-11-05 01:22] RolandMa1986 commented on #2989
/area security

[2020-11-05 01:36] RolandMa1986 commented on #2988
/area ui
/kind feature-request

[2020-11-05 01:43] RolandMa1986 commented on #2933
/area iam
/kind feature-request
user group support ref to #2940

[2020-11-05 02:28] wansir opened #3082 "cluster authorization status is incorrect"
**Describe the Bug**
The cluster authorization status is incorrect when kubefed-controller-manager is abnormal.

**Versions Used**
KubeSphere: v3.0.0

/kind bug
/milestone 3.1.0

[2020-11-05 02:39] wansir opened #3083 "DevOps Project admin cannot download artifacts"
**Describe the Bug**
DevOps Project admin cannot download artifacts.

![image](https://user-images.githubusercontent.com/8263040/98190877-f6016d00-1f52-11eb-90c0-8da543ad205a.png)

**Versions Used**
KubeSphere: v3.0.0

/kind bug
/milestone 3.1.0
/assign @wansir

[2020-11-05 03:45] lxm opened #3084 "Can not operate offline cluster"
In some cases, we need to delete a member cluster.

The right thing to do is to delete cluster in  kubesphere first and then shutdown or delete the member cluster.

But if we delete the member cluster first permanently, we cloud not enter kubesphere's cluster manage page any more.

Then we can execute `kubectl delete cluster xxxx`,but if some workspaces were associated with the deleted cluster, th

[2020-11-05 03:50] RolandMa1986 commented on #3084
/area multicluster
/kind optimization

[2020-11-05 05:42] stoneshi-yunify opened #3085 "Feature: add access_modes to CRD provisionercapabilities.storage.kubesphere.io"
When creating a PVC/volume in ks console, we want the user to select the access mode for this volume, see below screenshot.

![image](https://user-images.githubusercontent.com/70880165/98195249-387b7780-1f5c-11eb-9c7f-c47e012a1b57.png)

We want to only display the available access modes that the user can choose, so that the user won't make a mistake.

The available access modes come from the stora

[2020-11-05 06:03] stoneshi-yunify commented on #3085
We have installed some provisionercapabilities for some well-known provisioners when installing KS. Obviously this can not cover all storage systems, so how we populate the storageclasscapabilities for those provisioners not covered?

If it's a CSI provisioner, we can use the CSI RPC call to query the CSI controller capabilities, CSI node capabilities, and the CSI plugin capabilities, then fill th

[2020-11-05 06:08] stoneshi-yunify commented on #3085
/assign @stoneshi-yunify
/milestone 3.1.0
/kind feature-request
/area storage

[2020-11-05 06:37] benjaminhuo commented on #3078
This feature is in KubeSphere v3.1's plan

[2020-11-05 06:39] benjaminhuo commented on #3079
We do have plans to import Grafana dashboard into KubeSphere custom monitoring dashboard: https://github.com/kubesphere/kubesphere/issues/3067

@huanggze @junotx

[2020-11-05 06:48] benjaminhuo commented on #3068
Similar issue https://github.com/kubesphere/kubesphere/issues/3078

[2020-11-05 06:50] benjaminhuo commented on #3079
You're welcomed to participate in the development of this feature

[2020-11-05 06:53] benjaminhuo commented on #3067
similar issue: https://github.com/kubesphere/kubesphere/issues/3079

[2020-11-05 07:04] yuswift opened #3086 "ks-apiserver ignores error while loading kubesphere.yaml from disk"
**Describe the Bug**
While loading config file from disk, `ks-apiserver ` will read the current directory or `/etc/kubesphere`. However, when the file does not exist or it is incorrect yaml format, `ks-apiserver` ignores the error and gets a default empty config, then failed to run, which may cause misunderstanding for developers. To fix this, we can print the error apparently.

[2020-11-05 08:17] yuswift commented on #3084
/assign @yuswift

[2020-11-05 08:19] yuswift commented on #2677
Fixed, close it.

[2020-11-05 08:19] #2677 closed

[2020-11-05 08:23] yuswift commented on #3082
Could you upload some screenshots or offer a link to describe the bug?

[2020-11-05 08:27] yuswift commented on #3076
/area multicluster

[2020-11-05 08:27] yuswift commented on #3075
/area multicluster

[2020-11-05 08:29] yuswift commented on #3056
/area multicluster

[2020-11-05 09:08] LinuxSuRen commented on #1811
批量执行流水线的话，可能会有一些潜在的问题需要考虑，例如：部分流水线是参数化的、部分不是。

另外，在特定的场景下，可能是需要执行一系列（有序或者无序）的流水线，我提供另外一个不需要开发的思路：创建一个用于编排这些流水线的流水线，简单来说就是用一个流水线调用其他的流水线；这样的好处就是在处理执行顺序、是否并发等方面会更加容易，而且不需要开发新的功能。

[2020-11-05 09:32] sladyn98 commented on #3028
@wansir I can take this up. Can I get some starting tips

[2020-11-05 10:10] zheng1 commented on #3063
/assign @zheng1 @leoendless @duanjiong @yunkunrao @xyz-li
/milestone 3.1.0

[2020-11-05 11:01] yuswift commented on #2996
Please take a look at the following error:
`	Suppressed: hudson.remoting.Channel$CallSiteStackTrace: Remote call to JNLP4-connect connection from 100.117.144.172/100.117.144.172:52858
`

[2020-11-05 11:11] yuswift commented on #2982
/assign @Carlosfengv

[2020-11-05 11:28] chengliangkaka opened #3088 "show installed success,but cannot login"
# show installed success,but cannot login
redis,openldap is pending
ks-apiserver,ks-controller-manager show CrashLoopBackOff
![image](https://user-images.githubusercontent.com/11498055/98235361-a8a9ed80-1f9c-11eb-8ffb-fb454a0e784e.png)
![image](https://user-images.githubusercontent.com/11498055/98235431-c11a0800-1f9c-11eb-97fe-47fe771b08c5.png)
![image](https://user-images.githubusercontent.com/11

[2020-11-05 12:37] yuswift commented on #2957
/kind design

[2020-11-05 12:51] yuswift commented on #2912
/assign @yuswift

[2020-11-05 13:00] yuswift commented on #2881
Sorry for the late reply. In short, you can not use `harbor robot account` by Jenkins credential. You must pass it to `docker login -u ` apparently. See the [docs](https://github.com/kubesphere/website/pull/411/files) for more details.

[2020-11-05 13:06] yuswift commented on #2654
/area multicluster

[2020-11-05 13:14] yuswift commented on #2436
See the [pr](https://github.com/kubesphere/community/pull/230) for more details.

[2020-11-05 13:19] yuswift commented on #2285
/area multicluster

[2020-11-05 13:25] yuswift commented on #2025
See the [pr](https://github.com/kubesphere/community/pull/230) for more details.

[2020-11-05 13:33] yuswift commented on #3088
Could you show the logs of `ks-apiserver`? It may be caused by storage.
Run `kubectl get pvc -a` to make all of your pvc have been created successfully. If not, see `openebs` pod error if you are using `openebs` as your default storage class.

[2020-11-05 13:34] yuswift commented on #3083
/area devops

[2020-11-05 13:51] chengliangkaka commented on #3088
this is ks-apiserver logs, show cannot connect to redis
![image](https://user-images.githubusercontent.com/11498055/98248902-8e7a0a80-1fb0-11eb-96b5-c94442c24266.png)
i use openebs as default storage class
![image](https://user-images.githubusercontent.com/11498055/98249055-c5502080-1fb0-11eb-85c3-98af06577221.png)

[2020-11-06 01:12] wangchengli commented on #3072
Any progress about this? or Is there any workaround way to bypass?

[2020-11-06 02:31] duanjiong commented on #3058
In calico, the IPPool divides the IPPool by blocksize and each node is assigned a block of consecutive addresses. This is similar to assigning a fixed IP address to a Pod, where the user assigns an array of fixed IP addresses to the Deployment, and then kubesphere assigns the IP address to the Deployment-generated Pod via webhook.  @zheng1

[2020-11-06 02:56] LinuxSuRen commented on #3052
I'll take #2618  #2182, please assign them to me.

[2020-11-06 04:23] RolandMa1986 commented on #3088
Hi @chengliangkaka ,  Thanks for your feedback.  It seems like you have met an issue of storage, which blocked the Redis pod.
Please make sure you have enough disk space on your host. And you have right permission on "/var/openebs/local/" of the host. If both of the conditions are satisfied. Please find logs of the following pod `kubectl get pod -n kube-system |grep openebs`.

You are welcomed to

[2020-11-06 04:23] RolandMa1986 commented on #3088
/kind support

[2020-11-06 05:30] wangchengli commented on #3072
New update about this issue. I found calico network set mtu=1500 in my env, could not transfer message with large body across nodes. So I update calico, set mtu=1440, then re-apply by kubectl command. Now it works for me. Hope it is help for you.

[2020-11-06 05:33] RolandMa1986 commented on #3078
/duplicate
@lxm Please close this issue, if you think #3068 can cover your scenario.

[2020-11-06 05:35] misteruly commented on #3072
@xyz-li    They're working on it,That doesn't seem to be the problem

[2020-11-06 05:36] RolandMa1986 commented on #3079
/kind feature-request
/area monitoring

[2020-11-06 05:44] RolandMa1986 commented on #3081
/area devops

[2020-11-06 06:06] RolandMa1986 commented on #3064
/kind feature-request
/area devops

[2020-11-06 06:26] #3078 closed

[2020-11-06 08:56] zryfish opened #3089 "Create service with more than two containers require filling service port for every container"
Composing a stateless service with more than one containers, there is only one container will serve incoming requests, others will just do some background work. But in the creation wizard, I can't add a container without filling `Service Settings`, and `Service Settings` can be same for different containers.

![截屏2020-11-06 16 54 11](https://user-images.githubusercontent.com/3326354/98346285-b4ef8

[2020-11-06 08:57] zryfish commented on #3089
/cc @Carlosfengv

[2020-11-06 09:19] #3043 closed

[2020-11-06 09:54] chengliangkaka commented on #3088
thank you, i use All-in-one Installation mode install master/worker node,
then on two else worker machine install k8s, then join the master node.
success installed

[2020-11-06 09:54] #3088 closed

[2020-11-06 10:02] #3086 closed

[2020-11-06 13:04] #2371 closed

[2020-11-06 14:46] zheng1 commented on #2962
@stoneshi-yunify Has this issue been resolved? Is it verifiable?

[2020-11-06 14:46] zheng1 commented on #2962
/assign @stoneshi-yunify

[2020-11-06 14:46] #2961 closed

[2020-11-06 14:47] zheng1 commented on #2960
/assign @leoendless
/area console

[2020-11-06 15:03] zheng1 commented on #2905
@harrisonliu5 Please check to ensure that the issue is already fixed. If it has been fixed, you can close it.

[2020-11-06 15:04] zheng1 commented on #2899
Has this issue been completed yet? @zryfish

[2020-11-06 15:13] #2801 closed

[2020-11-07 05:35] lzdtech opened #3090 "openpitrix-hyperpitrix-deployment 在创建过程 提示数据库不能链接"
openpitrix-db-init 容器查看日志提示如下（XXX是IP地址）
ERROR 1130 (HY000): Host 'XXX.XXX.XXX.XXX' is not allowed to connect to this

更改 "mysql" 数据库里的 "user" 表里的 "host" 项，从"localhost"改称"%"

却提示：Access denied for user 'root'@'XXX.XXX.XXX.XXX' (using password: YES)

[2020-11-07 12:39] benjaminhuo commented on #2950
The boot log you refer to is actually event logs, and KubeSphere 3.0 support this by `Event Query` function.
The guide is here https://kubesphere.io/docs/toolbox/events-query/

And we have an issue opened already to track the correlation of log, events, auditing, monitoring in issue https://github.com/kubesphere/kubesphere/issues/3074.

So I'll close this issue

[2020-11-07 12:39] #2950 closed

[2020-11-07 13:11] benjaminhuo commented on #3065
@junotx There is a requirement to alert on `week over week` or `month over month ` data which can be fulfilled by prometheus offset function (refer to https://blog.51cto.com/lee90/2418391)  ,  You can consider  adding alert template for this kind of alert

[2020-11-07 14:44] hadoop835 opened #3091 "Local development run controller-manager ,failed to list * vlalpha2.GlobaRole the server could not find the requested resource (get globalroles.iam.kubesphere.io)"
Local development run controller-manager ,failed to list * vlalpha2.GlobaRole the server could not find the requested resource (get globalroles.iam.kubesphere.io)
version 3.0.0

[2020-11-07 14:45] hadoop835 opened #3092 "Local development run controller-manager ,failed to list * vlalpha2.GlobaRole the server could not find the requested resource (get globalroles.iam.kubesphere.io)"
Local development run controller-manager ,failed to list * vlalpha2.GlobaRole the server could not find the requested resource (get globalroles.iam.kubesphere.io)
version 3.0.0

[2020-11-07 22:22] kahramanakyil opened #3093 ".git/info/refs?service=git-upload-pack: x509: certificate signed by unknown authority"
**What's your question**
I am getting git-upload-pack: x509: certificate signed by unknown authority when building a New Service from Source Code Repository. Kubesphere has been installed behind a corporates proxy, I have installed the certificate inside '-n kubesphere-devops-system ks-jenkins' but did not work.
cp ca-certificates.crt /etc/ssl/certs/ca-certificates.crt
update-ca-certificates
To co

[2020-11-08 02:38] #1536 closed

[2020-11-08 09:32] zryfish commented on #2608
fixed in https://github.com/kubesphere/kubesphere/pull/3014

[2020-11-08 10:31] #2315 closed

[2020-11-08 10:31] #2311 closed

[2020-11-08 10:31] #2305 closed

[2020-11-08 10:31] #2150 closed

[2020-11-08 10:31] #2393 closed

[2020-11-09 01:53] cumirror opened #3094 "Feature: kubevirt Integration"
Support integration with KubeVirt:

- Enable virtual machine management on top of KubeVirt

Pls refer to [KubeVirt Integration Proposal](https://github.com/kubesphere/community/pull/238/commits) for more details

/assign @cumirror @zryfish
/kind feature-request
/area virtualmachine

[2020-11-09 02:13] stoneshi-yunify commented on #2804
I raised a [issue](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/18) to nfs-client to confirm this limitation.

But anyway, this is not a KS bug and there is nothing we can do if it's indeed a limitation.

[2020-11-09 02:20] stoneshi-yunify commented on #2962
this issue had been fixed by https://github.com/kubesphere/kubesphere/pull/2976, use latest ks-control-manager can verify it.

/close

[2020-11-09 02:29] RolandMa1986 commented on #3092
@hadoop835 you need at least a minimal installation of Kubesphere before you can run a local development environment.  Please see [ks-installer](https://github.com/kubesphere/ks-installer)  for more details about how to install KS on your k8s.

[2020-11-09 02:43] stoneshi-yunify commented on #2809
I think this is a KS console/UI bug. The fix might be:
- when get a 200 OK response for the delete volumesnapshot request, should show a "deleting" rather than "deletion successful" notification in the right upper corner. Meanwhile, change the snapshot's status to "deleting" in the snapshot list.
- poll snapshot list repeatedly, when the deleting snapshot is not the list (means it is actually dele

[2020-11-09 02:50] stoneshi-yunify commented on #2844
nfs-client bug/limitation, please see https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/18

[2020-11-09 02:50] leoendless commented on #2809
Just update the status of snapshot crd resource. The console will update the list from the websocket message.

[2020-11-09 02:54] RolandMa1986 commented on #3093
Hi @kahramanakyil ,
The pipeline is run inside of a "Node" Agent. Which is based on the [Jenkins Kubernetes plugin](https://plugins.jenkins.io/kubernetes/).  If you are using a self-signed certificate, you probably need `update-ca-certificates` inside the node.

Please Join the [slack](https://join.slack.com/t/kubesphere/shared_invite/enQtNTE3MDIxNzUxNzQ0LTZkNTdkYWNiYTVkMTM5ZThhODY1MjAyZmVlYWEwZmQ

[2020-11-09 02:56] RolandMa1986 commented on #3093
/kind support

[2020-11-09 03:10] RolandMa1986 commented on #3090
Hi @lzdtech ,
We appreciate your feedback. But please also notice that:
**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**
You are welcomed to join the forum. And there are more contributors who would like to provide help.

[2020-11-09 03:15] stoneshi-yunify commented on #2949
@haerr No, KS does not support Alibaba Cloud OSS or any other object storage.

If you want to a mount an object storage to a pod as block/filesystem, it really depends on the OSS vendor whether it has the capability (driver/plugin etc) to let you do this. I checked Alibaba Cloud OSS and it seems it doesn't have such driver/plugin.  But I found IBM has the plugin, you may take a look https://cloud.

[2020-11-09 03:18] RolandMa1986 commented on #3091
/duplicate #3092
Please close one.

[2020-11-09 04:59] long0419 opened #3095 "ks 二次开发相关文档"
请问是否有针对ks 二次开发相关的详细文档？ 包含比如技术架构方面的一些问题。

[2020-11-09 05:16] FeynmanZhou commented on #3095
English only in GitHub.

You can see these guides in the [Chinese forum](https://kubesphere.com.cn/forum/t/development) and [kubesphere/community](https://github.com/kubesphere/community/tree/master/developer-guide).

[2020-11-09 05:16] #3095 closed

[2020-11-09 06:39] zryfish commented on #3092
/kind support

[2020-11-09 06:40] zryfish commented on #3091
/close

[2020-11-09 06:46] shaowenchen commented on #3091
/close

[2020-11-09 07:01] shaowenchen commented on #3053
/close

[2020-11-09 07:46] stoneshi-yunify commented on #2921
as @min-zh stated in above comments, the metrics data for filesystem based volume could be very wrong, comparing with the PVC's size. This is storage provisioner's problem (or linux restriction), there is no way for KS side to get the correct data.

/close

[2020-11-09 08:10] hadoop835 commented on #3092
@zryfish kubectl -f deploy yaml?

[2020-11-09 09:01] shaowenchen commented on #3091
/close

[2020-11-09 09:01] #3091 closed

[2020-11-09 09:17] RolandMa1986 commented on #2908
/kind support
/area iam
/close

[2020-11-09 09:17] #2908 closed

[2020-11-09 09:45] zackzhangkai opened #3096 "update prometheus client"
update prometheus/client_golang to v1.8.0

[2020-11-09 13:51] deerjoe commented on #2838
has same issue

[2020-11-09 15:25] kahramanakyil commented on #3093
Actually I have added Host Path Volume(/usr/local/share/ca-certificates/ and /etc/ssl/certs/) for each Kubernetes Pod Template on the Jenkins GUI -> Manage Jenkins -> Configure Settings.  So, agent will use the same certificate which is shared by host, but did not work.
Is there any guide that I can follow to solve this problem?

I1109 15:05:46.122557 1 docker.go:575] pulling image kubesphere/java

[2020-11-09 17:04] zheng1 commented on #3072
Resolved. The reason is that the tcp window returned is too small due to 100% cpu on the node where the hyperpitrix is located.

[2020-11-09 17:04] #3072 closed

[2020-11-10 00:30] LinuxSuRen commented on #2838
Hi @ynhao , please check something by the following list:
* Can you create a pipeline via kubesphere DevOps front-end?
  * If you can create it. Does the pipeline work fine?
* Have you got any pods which are error? Please pay attention to these namespaces: kubesphere-devops-system, kubesphere-system

[2020-11-10 00:59] RolandMa1986 commented on #3093
It seems like you are using S2I to build the source code. Please follow the [guidance](https://v2-1.docs.kubesphere.io/docs/developer/s2i-template/) to customize your image. S2I is not part of the Jenkins.

[2020-11-10 03:47] arugal opened #3099 "[Question] return nil error if configuration file not exists"
https://github.com/kubesphere/kubesphere/blob/675823b978bac7560673b7509a616a79435a266a/pkg/apiserver/config/config.go#L125-L149

Hi, community

I found the comment on the `TryLoadFromDisk` method inconsistent with the actual code logic. No nil error is returned when the configuration file does not exist , please confirm :)

[2020-11-10 06:16] wjh-w commented on #1925
root@node2 ~]# kubectl logs  -n kubesphere-system  ks-controller-manager-6ccdbbb476-2tl89
W1110 22:06:51.034869       1 client_config.go:543] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
E1110 22:07:41.047282       1 server.go:81] failed to connect to ldap service, please check ldap status, error: factory is not able to fill the pool: LDAP Resu

[2020-11-10 07:25] LinuxSuRen opened #3100 "[Feature] Support Gitlab with Kubesphere multi-branch pipeline"
Many users use Gitlab as their private git repository. If there's anyone who wants to try to implement it in the next version of Kubesphere DevOps. I can offer you some clues about it.

[Gitlab branch source plugin](https://github.com/jenkinsci/gitlab-branch-source-plugin) of Jenkins could support it. Also, you can find the related code lines of ks from [here](https://github.com/kubesphere/kubesph

[2020-11-10 07:52] RolandMa1986 commented on #3100
/area devops
/kind feature-request

[2020-11-10 08:03] RolandMa1986 commented on #3099
The code looks good to me. The comment may not very accurate, it should be something like:
`return nil and error, if configuration file not exists `

[2020-11-10 09:40] arugal commented on #3099
Thanks for your reply. Can I submit the PR to update comment :)

[2020-11-10 10:00] RolandMa1986 commented on #3099
Sure, please go ahead.
/kind documentation
/priority low
/area apiserver

[2020-11-10 10:40] zackzhangkai commented on #3096
/area microservice
/assign @zackzhangkai

[2020-11-10 12:16] kahramanakyil commented on #3093
Yes this is exactly what I am looking for. Thanks a lot. @RolandMa1986

[2020-11-10 12:16] #3093 closed

[2020-11-10 13:43] #2845 closed

[2020-11-10 15:38] Widerstehen opened #3101 "install kubesphere error always show waiting for etcd to start"
[master1 172.16.0.2] MSG:
Configuration file already exists
Waiting for etcd to start
Waiting for etcd to start
Waiting for etcd to start
Waiting for etcd to start
Waiting for etcd to start
Waiting for etcd to start
Waiting for etcd to start
Waiting for etcd to start
Waiting for etcd to start
Waiting for etcd to start
Waiting for etcd to start
Waiting for etcd to start
Waiting for etcd to start
Wa

[2020-11-10 15:40] Widerstehen commented on #3101
config-sample.yaml

apiVersion: kubekey.kubesphere.io/v1alpha1
kind: Cluster
metadata:
  name: sample
spec:
  hosts:
  - {name: master1, address: 172.16.0.2, internalAddress: 172.16.0.2, user: root, password: xxxxxxxx}
  - {name: master2, address: 172.16.0.3, internalAddress: 172.16.0.3, user: root, password: xxxxxxxx}
  - {name: master3, address: 172.16.0.4, internalAddress: 172.16.0.4, user: roo

[2020-11-11 00:57] RolandMa1986 commented on #3101
/area installation
@Widerstehen Please check your firewall settings. You need to ensure all ports are accessible on the [list](https://github.com/kubesphere/kubekey/blob/master/docs/network-access.md).

[2020-11-11 01:54] Widerstehen commented on #3101
@RolandMa1986 firewalld and selinux all been closed，and 2379 2380 running

[2020-11-11 02:09] RolandMa1986 commented on #3101
/cc @Forest-L
Can you help check this one? Is there something he can do to locate the root cause?

[2020-11-11 02:55] LinuxSuRen opened #3102 "Got exception in the console of ks-jenkins. No harm for regular operation"
**Describe the Bug**
Got exception in the console of ` ks-jenkins`

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: 3.0

**Environment**
None.

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to the DevOps project page
2. Open the pipeline list page
3. See the errors

For example, I got the below errors from `http://192.168.1.1:30880/rick

[2020-11-11 03:03] benjaminhuo commented on #2783
/milestone 3.1

[2020-11-11 03:42] benjaminhuo commented on #2780
@zpLang The Prometheus stack KubeSphere offering includes the most commonly used metrics and excludes others.

I think I found the name and network metrics you mentioned: `node_uname_info` and `node_network_info` and will include these into KubeSphere v3.1 Prometheus stack.

which meminfo metrics you're talking about?

[2020-11-11 06:01] Forest-L commented on #3101
@Widerstehen  Try clearing the cluster first, ./kk delete cluster -f config-sample.yaml

[2020-11-11 06:40] Widerstehen commented on #3101
./kk delete cluster -f config-sample.yaml

./kk create cluster -f config-sample.yaml

error log

Waiting for etcd to start
Waiting for etcd to start
Waiting for etcd to start
Waiting for etcd to start
Waiting for etcd to start
ERRO[14:36:22 CST] Failed to start etcd cluster: Failed to exec command: sudo -E /bin/sh -c "export ETCDCTL_API=2;export ETCDCTL_CERT_FILE='/etc/ssl/etcd/ssl/admin-master1.p

[2020-11-11 06:42] Forest-L commented on #3101
Execute the following instructions on the master1
[code]

[2020-11-11 06:44] Widerstehen commented on #3101
[root@master1 ~]# export ETCDCTL_API=2;export ETCDCTL_CERT_FILE='/etc/ssl/etcd/ssl/admin-master1.pem';export ETCDCTL_KEY_FILE='/etc/ssl/etcd/ssl/admin-master1-key.pem';export ETCDCTL_CA_FILE='/etc/ssl/etcd/ssl/ca.pem';/usr/local/bin/etcdctl --endpoints=https://172.16.0.2:2379,https://172.16.0.3:2379,https://172.16.0.4:2379 cluster-health
cluster may be unhealthy: failed to list members
Error:  cli

[2020-11-11 06:46] Widerstehen commented on #3101
https://172.16.0.3:2379 ?
 http://172.16.0.3:2379 ?

[2020-11-11 06:48] Forest-L commented on #3101
https.
systemctl status etcd and journalctl -u etcd -f

[2020-11-11 06:51] Widerstehen commented on #3101
[root@master1 ~]# systemctl status etcd or journalctl -u etcd -f
systemctl：无效选项 -- u
[root@master1 ~]# systemctl status etcd or journalctl etcd -f
● etcd.service - etcd docker wrapper
   Loaded: loaded (/etc/systemd/system/etcd.service; enabled; vendor preset: disabled)
   Active: active (running) since 三 2020-11-11 14:32:46 CST; 17min ago
 Main PID: 22628 (etcd)
    Tasks: 10
   Memory: 29.3M

[2020-11-11 06:54] Forest-L commented on #3101
journalctl -u etcd -f

[2020-11-11 06:56] Widerstehen commented on #3101
[root@master1 ~]# journalctl -u etcd -f
-- Logs begin at 三 2020-11-11 14:19:43 CST. --
11月 11 14:56:04 master1 etcd[22628]: 2020-11-11 06:56:04.264469 W | rafthttp: health check for peer a18da502a9d184fa could not connect: dial tcp 172.16.0.4:2380: i/o timeout (prober "ROUND_TRIPPER_SNAPSHOT")
11月 11 14:56:09 master1 etcd[22628]: 2020-11-11 06:56:09.254623 W | rafthttp: health check for peer 91db8

[2020-11-11 07:01] Forest-L commented on #3101
netstat -anp | grep 2380
If netstat does not exist, you can `yum install net-tools -y`

[2020-11-11 07:02] Widerstehen commented on #3101
[root@master1 ~]# netstat -anp | grep 2380
tcp        0      0 172.16.0.2:2380         0.0.0.0:*               LISTEN      22694/etcd
tcp        0      1 172.16.0.2:50334        172.16.0.4:2380         SYN_SENT    22694/etcd
tcp        0      1 172.16.0.2:50322        172.16.0.4:2380         SYN_SENT    22694/etcd
tcp        0      1 172.16.0.2:50324        172.16.0.4:2380         SYN_SENT    2269

[2020-11-11 07:02] Widerstehen commented on #3101
[code]

[2020-11-11 07:03] Forest-L commented on #3101
cat /etc/etcd.env

[2020-11-11 07:04] Widerstehen commented on #3101
[code]

[2020-11-11 07:14] Forest-L commented on #3101
`telnet 172.16.0.2 2380` at the master2

[2020-11-11 07:17] Forest-L commented on #3101
Are there firewalls between the machines?

[2020-11-11 07:38] Widerstehen commented on #3101
Every host firewalld is closed, telnet not work

[root@master2 ~]# telnet 172.16.0.2 2380
Trying 172.16.0.2...

[2020-11-11 07:42] Forest-L commented on #3101
The firewall of the machine itself is off, but the firewall between the machines is not closed.

[2020-11-11 07:46] Widerstehen commented on #3101
How to close ？

[2020-11-11 07:47] Forest-L commented on #3101
How are machines created?

[2020-11-11 07:48] Forest-L commented on #3101
How to create the machines?

[2020-11-11 07:50] Widerstehen commented on #3101
I use QingCloud ECS, Centos7.7 OS , firewalld and selinux are closed by default. I don't know how to handle the firewall  between the two machaines?

[2020-11-11 07:59] Forest-L commented on #3101
@Widerstehen
 1. Find the firewall corresponding to the machine on the cloud.
 2. Add port rules, port refer to this document https://github.com/kubesphere/kubekey/blob/master/docs/network-access.md
![image](https://user-images.githubusercontent.com/50984129/98784965-d8427500-2436-11eb-9a0a-5322923f168e.png)

[2020-11-11 08:01] RolandMa1986 commented on #3101
We have a guide about [how to install Kubershere on QingCloud](https://kubesphere.com.cn/docs/installing-on-linux/public-cloud/kubesphere-on-qingcloud-instance/).
I guess you have chosen a "基础网络" when creating VMs.  But a "VPC 私有网络" is recommended.
/kind support

[2020-11-11 08:25] Widerstehen commented on #3101
I add port rule ,and telnet 172.16.0.2 2380, it works ,I will retry install.

[2020-11-11 08:26] Widerstehen commented on #3101
I used private network, not vpc

[2020-11-11 08:31] leoendless commented on #3067
https://github.com/kubesphere/console/pull/1301 implement "Configure ServiceMonitor via UI"

[2020-11-11 08:52] benjaminhuo commented on #3079
Let's close this issue and track it in https://github.com/kubesphere/kubesphere/issues/3067

[2020-11-11 08:52] #3079 closed

[2020-11-11 09:05] #2940 closed

[2020-11-11 09:24] zheng1 commented on #3061
![infrastructure:NetworkIPpool:Details POd 拓扑](https://user-images.githubusercontent.com/4156721/98793266-a505e300-2442-11eb-9218-a59ae46af78f.png)

[2020-11-11 09:48] zryfish commented on #2777
watching

[2020-11-11 10:49] benjaminhuo commented on #2721
`exact search` should be changed to `accurate search`

[2020-11-11 15:34] ssmmray opened #3103 "install ks3 on aws's eks cluster, ks3-kubectl version is too low,could i upgrade kubectl version on ks-console?"
### when install ks3 on eks cluster,found ks3's kubectl client version is 1.15.3,but server version is v1.18+,how to solve it

/ # kubectl version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:13:54Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
Server V

[2020-11-11 16:50] Sonek-HoangBui commented on #2822
@benjaminhuo @wansir

[2020-11-12 01:30] benjaminhuo commented on #2822
K3s compatibility will be tested after KubeSphere v3.1 is released

[2020-11-12 01:59] LinuxSuRen opened #3105 "Jenkins is not working well, login issues and cannot create pipeline via ks"
**Describe the Bug**
Cannot log into Jenkins by default user and password when I just installed ks by [kk](https://github.com/kubesphere/kubekey). I cannot create the pipeline job on the DevOps project page as well.

**Versions Used**
KubeSphere: 3.0

**Environment**
None.

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to the DevOps project page
2. You can see the exception stack, I

[2020-11-12 02:17] LinuxSuRen commented on #3105
Than @wansir for giving me a temporary solution that can resolve this issue. If anyone met the same problem above, you can try the following command:

`kubectl patch users admin -p '{"spec":{"password":"yourPassword"}}' --type='merge' && kubectl annotate users admin iam.kubesphere.io/password-encrypted-`

[2020-11-12 02:29] RolandMa1986 commented on #3103
Hi @ssmmray ,
Thanks for your feedback. We will upgrade kubectl in the next release. For a temp solution, you can build your own kubectl image.
The docker file can be found at https://github.com/kubesphere/kubectl.
After you build your image and pushed to your docker hub，edit the deployment _kubectl-admin_ under _kubesphere-controls-system_
namespace, and replace the image with yours.
`kubectl edi

[2020-11-12 02:48] pixiake commented on #2723
`/usr/local/bin/kubeadm  --kubeconfig  /etc/kubernetes/admin.conf  token  create`
`timed out waiting for the condition`
This is due to the inability to access kube-apiserver. Usually a firewall or security group configuration issue.

[2020-11-12 02:48] ssmmray commented on #3103
i execute command `kubectl edit deployment kubectl-admin -n kubesphere-controls-system` ,found images is  "- image: kubesphere/kubectl:v1.0.0"

[2020-11-12 02:50] benjaminhuo commented on #2616
Have put this into v3.1 custom monitoring enhancement https://github.com/kubesphere/kubesphere/issues/3067

[2020-11-12 03:00] RolandMa1986 commented on #3103
kubesphere/kubectl:v1.0.0 is our latest image with kubectl 1.15.3. You can replace the image with your own build as I said.
/area console
/kind kind/feature-request
/assign @RolandMa1986

[2020-11-12 03:06] benjaminhuo commented on #2608
/kind need-to-verify

[2020-11-12 03:13] benjaminhuo commented on #2580
Per previous comments, this issue is duplicated, close it now
/close

[2020-11-12 03:14] #2580 closed

[2020-11-12 03:18] benjaminhuo commented on #2574
This issue should have been fixed, the link is https://v3-0.docs.kubesphere.io/docs/cluster-administration/platform-settings/customize-basic-information/ now

[2020-11-12 03:18] #2574 closed

[2020-11-12 03:27] benjaminhuo commented on #2436
Question answered, close this issue

[2020-11-12 03:27] #2436 closed

[2020-11-12 03:36] benjaminhuo commented on #2429
So this is expected behavior or something needs to improve?

[2020-11-12 03:48] benjaminhuo commented on #2395
Close this issue because it has been fixed
/close

[2020-11-12 03:48] #2395 closed

[2020-11-12 03:55] benjaminhuo commented on #2297
Is this still a problem? @FeynmanZhou @Carlosfengv @leoendless

[2020-11-12 03:58] benjaminhuo commented on #2278
/cc @leoendless

[2020-11-12 04:02] benjaminhuo commented on #2222
@juan-vg Just wondering if you've tested kubesphere v3.0？ Does KubeSphere v3.0 alleviate your concerns somehow?

[2020-11-12 04:05] rayzhou2017 commented on #2222
It is same issue in 3.0. We need to discuss this requirement for 3.1.

[2020-11-12 05:29] LinuxSuRen commented on #3105
/kind bug

[2020-11-12 05:31] benjaminhuo commented on #2000
Can we close issue now? @rayzhou2017 @calvinyv

[2020-11-12 05:31] LinuxSuRen commented on #3102
/area devops

[2020-11-12 05:49] benjaminhuo commented on #1946
@zheng1 This is fixed in ks v3.0?

[2020-11-12 05:53] benjaminhuo commented on #1945
All features requested in this issue are available in ks v3.0? @zheng1

[2020-11-12 05:56] calvinyv commented on #2000
we still have lots of todo on above list, so I don't think we should close this.

[2020-11-12 06:33] benjaminhuo commented on #1913
This is easy to fix in 3.1.0 now? @shaowenchen

[2020-11-12 06:38] shaowenchen commented on #1913
It's not easy. Please remove it from milestone 3.1.0.

[2020-11-12 06:49] benjaminhuo commented on #1900
Move this to 3.1 if it's not fixed in 3.0

[2020-11-12 06:54] benjaminhuo commented on #1883
Close this issue for now because it's fixed in v3.0

[2020-11-12 06:54] #1883 closed

[2020-11-12 07:02] benjaminhuo commented on #1882
@leoendless any change in the backend monitoring api call to resolve this issue in ks v3.0?

[2020-11-12 07:13] benjaminhuo commented on #1880
From guangzhe:
问题原因是对total pod 的讲法界面上没统一。有的地方只看running pod（集群管理也节点total pod/pod capacity）。有的地方看all pods，有的地方看non- terminated pods（除开job产生的completed pod）, 现在界面上都叫【容器组数量】导致混乱. 设计上的问题 没有统一标准 哪里显示什么 用什么术语后端api都是支持的比如 xxx_pods_count，xxx_running_pods_count

[2020-11-12 07:19] yuswift commented on #2429
The kubefed community is working on the status of federeatdresources. We can get more status in the future. Please see the [pr](https://github.com/kubernetes-sigs/kubefed/pull/1292).

[2020-11-12 07:20] yuswift commented on #2429
/area multicluster

[2020-11-12 07:20] benjaminhuo commented on #1882
From guangzhe:
问题原因是对total pod 的讲法界面上没统一。有的地方只看running pod（集群管理页节点total pod/pod capacity）。有的地方看all pods，有的地方看non- terminated pods（除开job产生的completed pod）, 现在界面上都叫【容器组数量】导致混乱. 设计上的问题 没有统一标准 哪里显示什么 用什么术语后端api都是支持的比如 xxx_pods_count，xxx_running_pods_count

[2020-11-12 07:40] zheng1 commented on #1946
Fixed in 3.0

[2020-11-12 07:40] #1946 closed

[2020-11-12 07:45] yuswift commented on #2654
The bug has been fixed. However, the related resources are not deleted. See this [issue](https://github.com/kubesphere/kubesphere/issues/2912). The issue should be closed.

[2020-11-12 07:45] zheng1 commented on #1945
- [ ] Support "upgrade from app template"
- [ ] Support custom workspace‘s role
- [ ] Support auto-discovery helm chart for existing application
- [ ] Support a longer release name when deploy
- [ ] Support installing internal components alternatively
- [ ] Give some feedback hint when "helm install" failed

[2020-11-12 07:56] benjaminhuo commented on #1791
fixed in 3.0? @min-zh

[2020-11-12 07:57] benjaminhuo commented on #1796
/close

[2020-11-12 07:57] #1796 closed

[2020-11-12 07:58] benjaminhuo commented on #1741
Pls upgrade to ks v3.0.0, there is no ks-account anymore

[2020-11-12 07:58] #1741 closed

[2020-11-12 08:06] LinuxSuRen commented on #2618
I'm already working on this. Please see also kubesphere/ks-jenkins/pull/7

[2020-11-12 08:08] benjaminhuo commented on #1777
so this is an openebs limitation? @min-zh

[2020-11-12 09:04] zryfish commented on #3000
/kind feature-request
/assign @Carlosfengv @leoendless
/milestone 3.1.0

[2020-11-12 09:09] yuswift commented on #3044
/kind feature-request

[2020-11-12 09:10] yuswift commented on #2999
/kind feature-request

[2020-11-12 10:52] zackzhangkai opened #3106 "refactor kiali"
The  [KubeSphere Kiali Project](https://github.com/kubesphere/kiali) , forked from [Kiali Official Repo](https://github.com/kiali/kiali), seems messy. And out of touch with the Official. So refactor the project to be part of [KubeSphere Project](https://github.com/kubesphere/kubesphere)

/assign @zackzhangkai
/area microservice

[2020-11-12 12:19] LinuxSuRen opened #3108 "Cannot create pipeline due to duplicate name which is invisible"
**Describe the Bug**
When I try to create a pipeline, but ks tells me it's a duplicated name. But I cannot see it from the page.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: 3.0

**Environment**
None.

**How To Reproduce**

**Expected behavior**
No errors happen when someone creates a pipeline.

/kind bug

[2020-11-12 12:20] LinuxSuRen commented on #3108
/area devops

[2020-11-13 00:48] LinuxSuRen commented on #2182
A new project for this was created. If anyone wants to follow the details, please see [here](https://github.com/kubesphere/ks-jenkins). You're welcome to provide any kind of contribution.

[2020-11-13 06:40] ssmmray opened #3110 "KubeSphere on AWS Quickstart occured an error "The following resource(s) failed to create: [EKSClusterStack].""
create stack with s3 url  "https://aws-quickstart.s3.amazonaws.com/quickstart-qingcloud-kubesphere/templates/kubesphere-entrypoint-existing-vpc.template.yaml"  failed

the status is The following resource(s) failed to create: [EKSClusterStack].

the eks cluster has been created and existed in aws eks-console

[2020-11-13 06:53] Forest-L commented on #3110
@ssmmray  Error message provided below

[2020-11-13 07:06] ssmmray commented on #3110
where could i see the error massage? i only found the status reason is "The following resource(s) failed to create: [EKSClusterStack]"

[2020-11-13 07:12] Forest-L commented on #3110
You can click the Resource button, such as:
![image](https://user-images.githubusercontent.com/50984129/99039654-ad852780-25c2-11eb-8a4a-48ac913caea8.png)

[2020-11-13 07:19] ssmmray commented on #3110
![Uploading ks_error.png…]()

[2020-11-13 07:20] ssmmray commented on #3110
<img width="1312" alt="ks_error" src="https://user-images.githubusercontent.com/72238499/99040233-b88c8780-25c3-11eb-849b-2a3400750f93.png">

[2020-11-13 07:26] ssmmray commented on #3110
<img width="1312" alt="ks_error" src="https://user-images.githubusercontent.com/72238499/99040716-92b3b280-25c4-11eb-92dd-80872369855a.png">

[2020-11-13 07:28] Forest-L commented on #3110
@ssmmray  Any other steps that Failed?

[2020-11-13 07:33] ssmmray commented on #3110
EKSStack                 The following resource(s) failed to create: [ALBIngressStack, BastionStack].
BastionStack           Resource creation cancelled
ALBIngressStack    The following resource(s) failed to create: [ALBIngressIAMRole, ALBClusterRole].
ALBClusterRole      An error occurred (InvalidParameterValueException) when calling the UpdateFunctionConfiguration operation: SubnetIds and Securi

[2020-11-13 07:48] Forest-L commented on #3110
Refer to this issue https://forums.aws.amazon.com/thread.jspa?threadID=246719.
If there is a problem with the VPC in your environment, try the new VPC script.

[2020-11-13 07:56] ssmmray commented on #3110
Our requirement is to use the existing vpc for creating eks cluster

[2020-11-13 08:15] freemankevin opened #3111 "增加节点报错"
![image](https://user-images.githubusercontent.com/71524776/99044892-749d8080-25cb-11eb-99cc-93d4b6626830.png)

[2020-11-13 08:16] wansir opened #3112 "Deploy workloads to kubernetes encountered bad_certificate error"
**Describe the Bug**

When I use the kubeconfig generated by default, deploy workloads to kubernetes encountered bad_certificate error.

I found some errors using that kubeconfig:

[code]

[code]

![image](https://user-images.githubusercontent.com/8263040/99044824-5768b200-25cb-11eb-9f27-1021897da148.png)

**Versions Used**
KubeSphere: v3.0.0

/kind bug
/assign @wansir
/milestone 3.1.0

[2020-11-13 08:16] freemankevin commented on #3111
新加四个node，workrer04-07

[2020-11-13 08:17] freemankevin commented on #3111
是不支持1.17.3版本？？？？

[2020-11-13 08:20] zryfish commented on #3111
是的，不支持1.17.3，1.17目前只支持v1.17.9。中文问题请到 https://kubesphere.com.cn/forum 提交，github issue 只接受英文 issue

/cose

[2020-11-13 08:21] zryfish commented on #3111
/close

[2020-11-13 08:21] #3111 closed

[2020-11-13 08:22] zryfish commented on #3112
/milestone 3.1.0

[2020-11-13 08:25] freemankevin commented on #3111
感谢,thanks

[2020-11-13 08:33] Forest-L commented on #3110
* You can set the Tags values like the following VPC
![image](https://user-images.githubusercontent.com/50984129/99046515-d1019f80-25cd-11eb-93fd-c0c18b73af6f.png)
* Can you try it in another area?

[2020-11-13 08:37] ssmmray commented on #3110
how to delete the failed stack and clean up all resouce has created by the stack?

[2020-11-13 08:48] Forest-L commented on #3110
Such as:
![image](https://user-images.githubusercontent.com/50984129/99048065-0d35ff80-25d0-11eb-886f-5558fdef47db.png)

[2020-11-13 10:30] yasir2000 commented on #3105
This command statement had encrypted my admin kubesphere password so now I cant access it

[2020-11-13 10:41] LinuxSuRen commented on #3105
@yasir2000 Happy to help you out of it.

[2020-11-13 14:04] ssmmray commented on #3110
![image](https://user-images.githubusercontent.com/72238499/99080347-248ae200-25fc-11eb-8379-87e7e0bf73e9.png)

delete stack failed

[2020-11-13 14:25] ssmmray commented on #3110
![image](https://user-images.githubusercontent.com/72238499/99082419-19858100-25ff-11eb-93cf-f02cbde0d63b.png)

[2020-11-13 20:06] freemankevin opened #3114 "Prometheus pod can't be completed for a long time"
![image](https://user-images.githubusercontent.com/71524776/99116048-5d43af00-262e-11eb-956e-15d259e454c5.png)
![image](https://user-images.githubusercontent.com/71524776/99116099-6cc2f800-262e-11eb-9fdd-ece8838de5a9.png)

Prometheus, nothing can be done here，for help

[2020-11-13 20:56] freemankevin opened #3115 "Error reported by adding new node in ks 3.0."
![image](https://user-images.githubusercontent.com/71524776/99120237-79971a00-2635-11eb-8199-f178aaf93e0e.png)

Error reported by adding new node in ks 3.0. This is a problem that etcd certificate cannot be found. How to solve it? ? ?

[2020-11-13 21:21] freemankevin commented on #3115
![image](https://user-images.githubusercontent.com/71524776/99122340-1effbd00-2639-11eb-8fbe-ca3e8ab8d66b.png)

< tail -f  /var/log/messages >

this's logs

[2020-11-14 16:19] hadoop835 opened #3116 "currently use kubebuilder1,Planned upgrade kubebuilder2?"
currently use kubebuilder1,Planned upgrade kubebuilder2?

**Installer Version**

[2020-11-16 00:54] RolandMa1986 commented on #3101
Have you resolved your issues, @Widerstehen ? Please let me know if you have any other questions or close this issue.

[2020-11-16 01:25] xyz-li commented on #3114
kubectl describe po -n kubesphere-monitoring-system prometheus-k8s-0

[2020-11-16 05:34] #3056 closed

[2020-11-16 07:43] wansir opened #3119 "Development List of multitenancy in 3.1.0"
## Feature

* [ ] Support User Group. https://github.com/kubesphere/kubesphere/issues/2933
* [ ] Support OIDC identity provider. https://github.com/kubesphere/kubesphere/issues/2941
* [ ] Support workspace resource quotas. https://github.com/kubesphere/kubesphere/issues/2939
* [ ] Support CAS identity provider. https://github.com/kubesphere/kubesphere/issues/3047

## Improvement
* [x] Improve iden

[2020-11-16 08:10] LinuxSuRen commented on #2862
hi @chinazj , you just want to compile all microservices projects in on pipeline script. Am I right? In my view, it will take too much time if there're too many projects in one Pipeline. Besides, we don't need to create Pipelines often.

[2020-11-16 09:22] #2077 closed

[2020-11-17 02:59] leoendless commented on #3067
"PromQL auto-completion and syntax highlighting" has been partially implemented by https://github.com/kubesphere/kubesphere/issues/3070

[2020-11-17 03:19] xuelangos opened #3122 "Devops Multi-cluster Authorization"
feature request
I hope pipeline env match user groups with custom tags;
example:
I hava dev,test,pre,prod env;env and k8s cluster one to one correspond；
I have dev,test,prod1,prod2,prod3 user groups;
I Don't want dever to send test and pre env；
I don’t want tester to send dev and prod；

yeah，just do it

[2020-11-17 03:23] wansir commented on #3122
/kind feature-request
/area iam

[2020-11-17 06:50] freemankevin opened #3123 "ks3.0 devops 流水线无法使用"
![image](https://user-images.githubusercontent.com/71524776/99355915-1a126600-28e4-11eb-8bf9-cd8619d10be1.png)

[2020-11-17 06:51] freemankevin opened #3124 "ks3.0 节点扩容报错"
![image](https://user-images.githubusercontent.com/71524776/99356006-534ad600-28e4-11eb-9e4f-76df2ea72a1a.png)

[2020-11-17 07:15] zryfish commented on #3123
English only, please go to our CN forum https://kubesphere.com.cn/forum

/close

[2020-11-17 07:15] #3123 closed

[2020-11-17 07:20] FeynmanZhou commented on #3124
It's duplicated with [this issue](https://kubesphere.com.cn/forum/d/2796-ks-30/14), please keep only one thread.

[2020-11-17 07:20] #3124 closed

[2020-11-18 03:07] calvinyv commented on #3044
/assign @leoendless

[2020-11-18 05:52] zackzhangkai opened #3128 "Grayscale Release is not working well, when the service app label is not the same with the servicename"
**Describe the Bug**

The Grayscale Release is not working well, when the service app label is not the same with the servicename.

The service name is `reviews`, its app label is `app=reviews-test`

![image](https://user-images.githubusercontent.com/20178386/99489499-3923fd00-29a3-11eb-8559-8b2ccb16281f.png)

The deployment name is `reviews-v1`, and its app label is `app=reviews-test`

![image](ht

[2020-11-18 05:53] zackzhangkai commented on #3128
/kind bug

[2020-11-18 06:30] zryfish commented on #3055
Planning features listed as the following:

- [ ] Current gateway features are all kept, including change gateway type( nodeport <=> loadbalancer), enable application governing, add extra annotations.
- [ ] enable gateway for Cluster scope
- [ ] enable gateway for Project scope
- [ ] nginx configuration, [limited support](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/co

[2020-11-18 14:18] #3099 closed

[2020-11-19 06:04] calvinyv opened #3130 "Feat: score my yaml"
**Describe the Bug**
As the admin of IT operation team, we have compliance requirements for yaml files, everyday we receive many yaml files from Dev team, which bring lots of effort to our daily work.

We hope there could a place where we could set the compliance rules of yaml validation, and every yaml input should be checked based on these rules, for example, the page of creating workload, a pip

[2020-11-19 06:09] #3096 closed

[2020-11-19 07:16] lovewuqiang opened #3132 "Internal error occurred: account is not active"
k8s version：v1.16.3
### **ks-controller-manager logs：**
error syncing 'admin': context deadline exceeded, requeuing
### **ks-console logs：**
{ UnauthorizedError: Not Login
    at Object.throw (/opt/kubesphere/console/server/server.js:31701:11)
    at getCurrentUser (/opt/kubesphere/console/server/server.js:9037:14)
    at renderView (/opt/kubesphere/console/server/server.js:23231:46)
    at dispat

[2020-11-19 08:05] xbsura commented on #3102
same problem

[2020-11-19 08:32] LinuxSuRen commented on #3102
@xbsura Do you got any troubles because of the exception?

[2020-11-19 09:47] wujunwei opened #3133 "Multi-cluster projects cannot find the mirror-repo secret which is exist"
**Describe the Bug**
kubesphere version 3.0:  Create a mirror-repo secret in a multi-cluster project (not including the main cluster, including clusters A and B), but the secret does not exist when creating a new service or deploying

**Versions Used**
KubeSphere:3.0
Kubernetes: v1.16.9-aliyun.1

**Environment**
How many nodes and their hardware configuration:
4

**How To Reproduce**
Steps to repr

[2020-11-19 09:49] RolandMa1986 commented on #3133
/area console
/area multicluster
/kind bug
/assign @leoendless
/milestone 3.1.0

[2020-11-20 00:43] RolandMa1986 commented on #3132
Hi @lovewuqiang ,
There are some related topics in our forum, please visit https://kubesphere.com.cn/forum/d/2217-account-is-not-active for more information.

/area installation
/kind support

[2020-11-20 00:44] RolandMa1986 commented on #3114
/area installation
/kind support

[2020-11-20 00:45] RolandMa1986 commented on #3115
/area installation
/kind support

[2020-11-20 00:48] RolandMa1986 commented on #3110
/area installation
/kind support

[2020-11-20 00:49] LinuxSuRen commented on #3052
I created one pull request #3125 for the backend and one issue https://github.com/kubesphere/console/issues/1310 for the front-end to fix  #3051

[2020-11-20 00:51] LinuxSuRen commented on #3081
/kind bug

[2020-11-20 00:52] RolandMa1986 commented on #3090
/close
I'm going to close this one because of no further info. Please reopen it, if you think this is a bug.

[2020-11-20 00:52] #3090 closed

[2020-11-20 01:01] RolandMa1986 commented on #3116
We don't have a plan to upgrade KubeBuilder yet. You may already found that most of our controllers are using the [sample-controller](https://github.com/kubernetes/sample-controller) pattern instead of KubeBuilder.

[2020-11-20 02:23] LinuxSuRen commented on #2182
Project [ks-jenkins](https://github.com/kubesphere/ks-jenkins) is ready now. I'm going to close this PR.

[2020-11-20 02:23] #2182 closed

[2020-11-20 02:26] LinuxSuRen commented on #2618
The experimental image is `kubespheredev/ks-jenkins:2.249.1`. The official one is not ready, but it should be `kubesphere/ks-jenkins:2.249.1`.

So I'm going to close this PR.
/close

[2020-11-20 02:26] #2618 closed

[2020-11-20 03:25] jerryhu1234 opened #3134 "Enhance: Add yaml backup and restore for application"
Scenes:
At present, many projects include front-end and back-end micro-services. It happens that kk 3.0 supports applications similar to argocd, which can abstract and manage these resources on deployment, svc, statefulset etc.
demand:
Is it possible to provide the backup or download function (yaml arrangement) of all resources under the application? If it is accidentally deleted, all the microser

[2020-11-20 03:33] yuswift opened #3135 "multi type conditions in cluster.status.condition filed"
**Describe the Bug**
`k get cluster yy -o yaml`
[code]
The ks-console will use `cluster.status.condition` field to confirm whether the cluster is ready, there are two conditions for type Ready, sometimes ks-console will display `waiting for member cluster to join`.
**Versions Used**
KubeSphere: v3.0.0
**How To Reproduce**
Steps to reproduce the behavior:
1. Add a member cluster with tower agent.
2

[2020-11-20 04:04] #3112 closed

[2020-11-20 04:09] #2912 closed

[2020-11-20 05:21] willzhang opened #3137 "Deploy snapshot controller failed in google gke"
GKE version，static version 1.17.13-gke.2001

error log:
[code]

change version to 1.16.13-gke.401 install success.

[2020-11-20 09:37] #1375 closed

[2020-11-20 10:13] #3135 closed

[2020-11-20 10:19] leoendless commented on #3128
It’s best to integrate the information needed on the UI on the backend. The current implementation is not stable.

[2020-11-20 10:22] leoendless commented on #3128
The gray release strategy is only associated with the service in the yaml, but the number of copies of workload needs to be displayed in the UI. That is the cause of instability.

[2020-11-20 10:22] leoendless commented on #3128
@zackzhangkai @zryfish

[2020-11-23 03:23] LinuxSuRen opened #3142 "Request to support multibranch-default plugin for DevOps"
**What's it about?**

[pipeline-multibranch-defaults](https://github.com/jenkinsci/pipeline-multibranch-defaults-plugin) can allow users to set a default for many pipelines. So maintaining all pipeline scripts from one place could be possible.

This idea came from [Kubesphere Chinese forum](https://kubesphere.com.cn/forum/d/2889-jenkinsfile/3).

**What's the reason why we need it?**

I believe thi

[2020-11-23 03:26] LinuxSuRen commented on #3142
/remove-area alerting
/remove-area api
/remove-area apiserver
/remove-area app-management
/remove-area audit
/remove-area console
/remove-area documentation
/remove-area edge
/remove-area iam
/remove-area installation
/remove-area logging
/remove-area microservice
/remove-area monitoring
/remove-area multicluster
/remove-area networking
/remove-area notification
/remove-area observability
/remove-

[2020-11-23 05:50] RolandMa1986 commented on #3137
/area installation
/kind bug

[2020-11-23 09:43] LinuxSuRen commented on #1755
Currently [dockerfile-lint](https://hub.docker.com/r/projectatomic/dockerfile-lint) has 100k+ downloads. After I did some research work, I believe that it's worth us to integrate it into ks.

There're two solutions here.

* Add a new Pod Template, then add image `projectatomic/dockerfile-lint` into it
  * (cons) Users need to change the Jenkins agent in their pipeline (aka Jenkinsfile) if they wan

[2020-11-23 10:57] calvinyv commented on #1755
you said two solutions but posted three? @_@

[2020-11-23 12:04] LinuxSuRen commented on #1755
My bad. Sorry for the mistake. I've fixed it.

[2020-11-24 03:29] #2391 closed

[2020-11-24 03:35] #3051 closed

[2020-11-24 03:58] shaowenchen commented on #1755
It is not suitable to integrate directly into the DevOps.  We can use it as a solution.

- https://github.com/projectatomic/dockerfile_lint only gets 21 stars
- No user put forward this requirement in the community

[2020-11-24 06:14] LinuxSuRen commented on #1433
Hi @chenpfeisoo , sorry about no response here.  You're welcome to join Kubesphere community and communicate with us.

But GitHub issues is not a good place to ask questions. Please visit [the community forum](https://kubesphere.com.cn/forum/) instead. Usually,  people creating an issue on GitHub only to propose a feature, report a bug.

[2020-11-24 06:29] LinuxSuRen commented on #3052
I believe that this proposal can reduce some confusion about the Pipeline running status. https://github.com/kubesphere/console/issues/1326

[2020-11-24 07:08] zryfish commented on #3137
/cc @stoneshi-yunify

[2020-11-24 07:09] zackzhangkai commented on #3134
Firstly, get your application

[code]

Secondly, execute the command as below:

[code]

Then you will get all the referenced resources aboud the appliction, the format is json.

[2020-11-24 07:10] zackzhangkai commented on #3134
/area microservice
/kind need-to-verify

[2020-11-24 07:12] zryfish commented on #3134
Yes, that's a popular feature request. We are working on a solution to backup and restore objects for KubeSphere, stay tuned.

[2020-11-24 07:25] zackzhangkai opened #3143 "Kiali Proposal: directly make use of apis of the kiali pod instead of wrapping the source code"
**What's it about?**
In KubeSphere source code , we make use of apis of the kiali by wraping the kiali source code. The code now is getting old over time. Now we want to directly to deploy the kiali pod in `istio-system` namespace instead.

Reference issues:

https://github.com/kubesphere/kubesphere/issues/3106

[2020-11-24 07:26] zackzhangkai commented on #3143
/assign @zackzhangkai

/area microservice

[2020-11-24 07:28] zackzhangkai commented on #3134
/kind featuer-request

[2020-11-24 07:49] xgy560501 commented on #2977
EMMM.I just got the error when i tried to excute the api to login system with python.

[2020-11-24 07:52] stoneshi-yunify commented on #3137
It looks like GKE already have snapshot-controller installed, so ks should not install it again.

Possible fixes:
- verify if snapshot-controller already installed, skip to next step if installed
- continue install no matter if snapshot-controller already presents, but don't treat the failure like this case as an error.

/cc @pixiake

[2020-11-24 07:58] LinuxSuRen commented on #3007
Hi @shaowenchen , would you mind give some details about this if you already have a thought or even a plan?

I find out that there're some issues related to Pipeline status. They think it was caused by some cache mechanism.

[2020-11-25 02:24] pixiake commented on #3137
I saw the logic of installing snapshot-controller，there is already the task of deleting old resources.
https://github.com/kubesphere/ks-installer/blob/659c0cc3f9bda78951ec5315882ed83e6d73dbff/roles/common/tasks/main.yaml#L61
Is it possible to delete all the resources in the chart ?
https://github.com/kubesphere/ks-installer/tree/master/roles/common/files/snapshot-controller

@min-zh @stoneshi-yuni

[2020-11-25 06:14] wansir commented on #2977
https://kubesphere.io/docs/api-reference/api-docs/

[2020-11-25 07:23] LinuxSuRen commented on #3006
/assign @LinuxSuRen

[2020-11-26 08:16] #3137 closed

[2020-11-26 08:19] stoneshi-yunify commented on #3085
It looks like there isn't a reliable way to get storage provider's capabilities (expand, clone, snapshot etc) automatically, as the reason I stated in comment above. So we have to ask the user to input/set the capabilities by self.

I also checked rancher and openshift, none of them have such feature. They don't even support expand/clone/snapshot volume in UI. For the access modes, they will ask u

[2020-11-26 08:28] stoneshi-yunify commented on #3085
Also, the accessmodes is a string array, not a single choice as current ks console presents, we need to correct this too.

[2020-11-26 09:18] stxufnupyud opened #3150 "Using yaml mode to create endpoints indicates that the creation is successful. Actually, endpoints are not created, but can be created successfully through kubectl"
endpoints.yaml

apiVersion: v1
kind: Endpoints
metadata:
  name: oracle
  namespace: my-service
subsets:
  - addresses:
      - ip: 192.168.100.161
    ports:
      - port: 1521

[2020-11-26 09:19] stxufnupyud commented on #3150
kubectl apply -f endpoints can be created successfully

[2020-11-27 08:34] Einic opened #3152 "The kubectl logs -f command monitors the logs in real time, the interface automatically exits and terminates the output, and prompts error: unexpected EOF"
**Describe the Bug**
A clear and concise description of what the bug is.
The kubectl logs -f command monitors the logs in real time, the interface automatically exits and terminates the output, and prompts error: unexpected EOF
For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)
os  env：
os ve

[2020-11-27 08:43] zackzhangkai opened #3153 "Feat: Enhancements of servicemesh graph"
**What's it about?**

There are some suggestions about servicemesh graph in KubeSphere.

1. The traffic has direction, inbound and outbound. But we cannot figure out it in KubeSphere servicemesh graph.

2.  The http code of a request is import for user. Maybe we shoud display it in our graph.

Such as how kiali handled it:

![image](https://user-images.githubusercontent.com/20178386/100428469-f794

[2020-11-27 09:56] ethanxzw opened #3154 "kubesphere 3.0 Sonarqube deploy failed"
ENV:
CentOS 7.8
Kubesphere 3.0
Kubekey 1.0

deploy sonarqube command:
`helm upgrade --install sonarqube sonarqube --repo https://charts.kubesphere.io/main -n kubesphere-devops-system  --create-namespace --set service.type=NodePort`

[code]

[2020-11-27 09:58] stxufnupyud opened #3155 "The services created by kubesphere 3.0 do not have DNS"
The services created by kubesphere 3.0 do not have DNS

[2020-11-28 13:10] LinuxSuRen opened #3157 "GitHub action build failed due to docker login issues"
**Describe the Bug**
GitHub action [build was failed](https://github.com/kubesphere/kubesphere/runs/1458657884). You can see the partial error logs below:
[code]
It might be caused by #3129

**Versions Used**
None.

**Environment**
None.

**How To Reproduce**
None.

**Expected behavior**
The GitHub action build can be a success.

/kind bug

[2020-11-28 13:10] LinuxSuRen opened #3158 "GitHub action build failed due to docker login issues"
**Describe the Bug**
GitHub action [build was failed](https://github.com/kubesphere/kubesphere/runs/1458657884). You can see the partial error logs below:
[code]
It might be caused by #3129

**Versions Used**
None.

**Environment**
None.

**How To Reproduce**
None.

**Expected behavior**
The GitHub action build can be a success.

/kind bug

[2020-11-29 12:03] FeynmanZhou commented on #3154
/cc @shaowenchen

[2020-11-30 03:04] LinuxSuRen commented on #3157
duplicated with #3158, So I'm going to close this.

[2020-11-30 03:04] #3157 closed

[2020-11-30 03:06] LinuxSuRen commented on #3154
/area devops

[2020-11-30 03:10] LinuxSuRen commented on #3152
Thanks for engaging with ks. I was wondering if you can give more context about this issue. For example, which component you're trying to monitor. Leave your comments below with the exact command is great.

[2020-11-30 03:33] zackzhangkai opened #3162 "Cannot get graph for servicemesh, when namespaces started with kube"
**Describe the Bug**

Cannot get graph for servicemesh, when namespaces started with kube

For UI issues please also add a screenshot that shows the issue.

Such as the namespace is kube-test，then an error occured.

![image](https://user-images.githubusercontent.com/20178386/100565709-2a243f80-32ff-11eb-8f14-aedc13985772.png)

More importantly, Kubernetes documentation explicitly tells users not t

[2020-11-30 03:34] zackzhangkai commented on #3162
/area microservice

[2020-11-30 06:55] ethanxzw commented on #3154
hi guys, any update for this issue?

[2020-11-30 06:58] LinuxSuRen commented on #2919
hi @shaowenchen , I'll take this if you've not started yet.

[2020-12-01 02:01] calvinyv opened #3164 "Feat: Integrate trident CSI and add storage class UI support"
**What's it about?**
Integrate trident CSI and add storage class UI support

**What's the reason why we need it?**
some bank customers are using trident storage
/area console
/area storage
/kind feature-request

[2020-12-01 02:02] calvinyv commented on #3164
/assign @stoneshi-yunify

[2020-12-01 02:18] LinuxSuRen commented on #2919
/assign @LinuxSuRen

[2020-12-01 02:45] min-zh opened #3166 "Transsfer `StorageClass config` from front to bancend"

[2020-12-01 02:46] min-zh commented on #3166
/cc @stoneshi-yunify

[2020-12-01 02:56] #3100 closed

[2020-12-01 03:22] #3158 closed

[2020-12-01 04:20] zackzhangkai commented on #3143
We will add a configuration in the kubesphere-config. After this configuration detected, use pod APIs.

[code]

After use this APIs of pod, the ks-console is needed to be stay with the same version. Otherwise, the graph will be seem not available.

So, maybe the console can use detect this configuration to be compatible with the backend of ks-apiserver.

@leoendless

[2020-12-01 04:21] zackzhangkai commented on #3143
/cc @zryfish @leoendless

[2020-12-01 05:28] zheng1 commented on #2946
@zryfish Is this issue in the plan for 3.1?

[2020-12-01 06:06] zryfish commented on #2946
yes

[2020-12-01 06:29] wansir commented on #3132
Some improvement in this PR  https://github.com/kubesphere/ks-installer/pull/1143,  admin user status is active by default.

BTW, if the network or storage is abnormal will cause other problems.

/kind need-to-verify

[2020-12-01 07:59] shaowenchen commented on #3154
Why do you use the `upgrade` not `install` command?

[2020-12-01 15:33] wansir opened #3169 "some risks of multi-cluster authorization for workspace"
**Describe the Bug**
When adding a member cluster (some workspaces have been created) to the new host cluster, if the workspace in the member cluster contains the label `kubefed.io/managed: true`, and then create a workspace with the same name in the new host cluster but do not authorize the member cluster. The workspace on the member cluster will be managed by kubefed-controller, but the member c

[2020-12-02 01:20] MRGUO840140 opened #3170 "cannot stat '/var/jenkins_config/*.groovy': No such file or directory"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**What's your question**

**Environment: OS & Hardware Information**

**Error logs or message (Attach logs or screenshot)**

**Installer Version**

[2020-12-02 01:25] shaowenchen commented on #3170
Please use ks-installer:v3.0.0 to install it currently.

/assign @LinuxSuRen

[2020-12-02 01:32] LinuxSuRen commented on #3170
hi @MRGUO840140, thanks for reporting this issue. I believe this https://github.com/kubesphere/ks-installer/pull/1174 can fix it.
A friendly tip for you. Please be careful when you try to use the latest docker image or the images come from `kubespheredev/xxx`. Of course, if you just want to try something new instead of deploying it to a stable environment, it's ok for using images from `kubespherd

[2020-12-02 03:04] zackzhangkai commented on #3143
After use kiali pod, how to be compatible with different members? If the two versions , old and new, exist in members, the console in host cluster will show problem.

[2020-12-02 04:34] wansir commented on #2874
/cc @leoendless

[2020-12-02 04:35] wansir commented on #2874
/assign @leoendless

[2020-12-02 04:37] wansir commented on #2716
/assign @RolandMa1986

[2020-12-02 04:46] wansir commented on #2653
The password can be set before installation, we will remind the user to change the default password.

[2020-12-02 04:47] wansir commented on #2886
/assign @xyz-li

[2020-12-02 05:34] #897 closed

[2020-12-02 05:34] #1152 closed

[2020-12-02 07:36] #1081 closed

[2020-12-02 07:36] #1712 closed

[2020-12-02 09:44] #3081 closed

[2020-12-02 11:08] zryfish opened #3172 "Unable to retrieve previous container logs"
**What's it about?**

Get previous container logs, it's useful when debugging.

**What's the reason why we need it?**

We only display current container most recent logs. But if container is in a terminated state, for example CrashBackOff, we are unable to retrieve logs, not even previous container logs, which is useful for debugging. In Kubernetes, API
[code]
is used to get the previous container

[2020-12-02 11:11] zryfish commented on #3172
/assign @Carlosfengv
/assign @leoendless

[2020-12-03 05:55] LinuxSuRen opened #3176 "ks-controller panic due to missing nil checking"
**Describe the Bug**

Exception stack:
[code]

**Versions Used**
KubeSphere: 3.0

`kubespheredev/ks-controller-manager:latest@sha256:64ed223688d705ce77991b288018cc72e370dc1b0b89d09f067de69021af6767`

**Environment**
None.

**How To Reproduce**
None

**Expected behavior**
Any errors should let ks-controller-manager panic.

[2020-12-03 05:57] LinuxSuRen commented on #3176
/area devops
/kind bug

[2020-12-03 08:32] RolandMa1986 commented on #2943
/close
/kind support
/question
Please feel free to reopen the issue, if you think this is a bug.

[2020-12-03 08:32] #2943 closed

[2020-12-03 08:43] RolandMa1986 commented on #3015
Fixed by PR kubesphere/ks-installer#1158
/kind bug

[2020-12-03 09:06] wansir commented on #3166
/cc @stoneshi-yunify

[2020-12-03 09:17] wansir commented on #3122
/assign @RolandMa1986

[2020-12-03 09:23] wansir commented on #3116
/close

[2020-12-03 09:23] #3116 closed

[2020-12-03 09:24] wansir commented on #3105
/assign @wansir

[2020-12-03 09:54] RolandMa1986 commented on #3150
Hi @stxufnupyud, is this a feature request or something else? I don't think we can edit Endpoints in Kubesphere UI currently.

[2020-12-03 10:01] RolandMa1986 commented on #3155
xref: /kubesphere/console#1286
/kind bug
/area console

[2020-12-03 11:29] #1669 closed

[2020-12-03 15:47] #1437 closed

[2020-12-04 15:23] #1387 closed

[2020-12-05 02:33] #1572 closed

[2020-12-05 03:18] Born2Bake opened #3182 "External LDAP server authentication"
Hey folks,

I am bit confused what's the right way to configure external LDAP server authentication?

What I did so far:

1. Configured ks-installer CRD in kubesphere console:

[code]

2. Found this topic https://kubesphere.com.cn/forum/d/2033-ga-ldap-oauth2/2 and edited cm kubesphere-config:

[code]
However, I did not change default settings for ldap paragraph. I am wondering, if that one should

[2020-12-05 03:21] FeynmanZhou commented on #3182
/assign @wansir

[2020-12-05 06:13] wansir commented on #3182
@Born2Bake https://kubesphere.io/docs/access-control-and-account-management/configuring-authentication/, after you configure the LDAP identity provider, you can still login with the default admin account.

[2020-12-05 07:28] #2787 closed

[2020-12-05 07:28] #2788 closed

[2020-12-06 01:18] Born2Bake commented on #3182
Can someone confirm that its working for them cause I ve changed oauth in configmap and I still cant use my openldap server to login?

[2020-12-06 07:55] zackzhangkai opened #3183 "Proposal: To make it easier to change an application to microservice"
In order to make the microservice popular to users, the easy to get started is necessary.

1. Allow users to create a customizable application, such as an empty application. @leoendless

![image](https://user-images.githubusercontent.com/20178386/101274679-17b47500-37db-11eb-86dd-1930b9814605.png)

2.  When an application labeled with `servicemesh.kubesphere.io/enabled: "true"`, the pods in the ap

[2020-12-06 07:56] zackzhangkai commented on #3183
/area microservice
/assgin @zackzhangkai

[2020-12-06 15:22] #2813 closed

[2020-12-07 02:03] #3162 closed

[2020-12-07 03:18] #2789 closed

[2020-12-07 06:19] zackzhangkai commented on #3143
There is a problem in muti-cluster scene. If the host cluster upgrade to new version, then is will use a new API called `kapis/servicemesh.kubesphere.io/v1alpha2/namespaces/$(namespace)/applications/$(app)/graph`, the problem occured when the member cluster use the old version.

![image](https://user-images.githubusercontent.com/20178386/101316065-beaa1700-3896-11eb-9073-8c38d7b837d3.png)

We have

[2020-12-07 07:27] vincenthe11 opened #3184 "KubeSphere web console support ephemeral-storage"
**What's it about?**
 Currently KubeSphere web console doesn't support ephemeral-storage to configure limit and request.
k8s support in 1.15
![image](https://user-images.githubusercontent.com/8400716/101321640-a63efa00-38a0-11eb-9908-104e970e2a1d.png)

/area console
/area storage
/kind feature-request

[2020-12-07 07:28] zryfish commented on #3184
/assign @Carlosfengv
/milestone 3.1.0

[2020-12-07 08:33] LinuxSuRen opened #3185 "Provide an API to get the available Jenkins agent labels"
**What's it about?**
Users need to type the Jenkins agent label manually when they edit a pipeline. But it might make us feel confused, we don't know the available agent labels list.

**What's the reason why we need it?**
 We need to visit Jenkins UI if we want to know it. It's very inconvenient.

So I propose that provide an API for the front-end, so we can just select it.

Please leave your comm

[2020-12-08 06:45] LinuxSuRen commented on #3185
[label-linked-jobs-plugin](https://github.com/jenkinsci/label-linked-jobs-plugin/pull/10) can list all available Jenkins agent labels. But there's no API we can use. So I create a PR against it. https://github.com/jenkinsci/label-linked-jobs-plugin/pull/10

[2020-12-08 06:58] zackzhangkai opened #3187 "Canary release cannot be used when the ingress controller has no sidecar"
**Describe the Bug**

Indeed the `Application Governance` switch has only effect with the `Tracing` instead of the `Canary Release`.  As long as the the pods of workload injected with sidecar, the canary release can be used, not depend on the ingress controller pod.

For UI issues please also add a screenshot that shows the issue.

![image](https://user-images.githubusercontent.com/20178386/101450

[2020-12-08 06:59] zackzhangkai commented on #3187
/kind bug

[2020-12-08 07:12] zackzhangkai commented on #3187
Maybe the `Application Governance` switch can be omitted. And add a new switch in the Tracing.

![image](https://user-images.githubusercontent.com/20178386/101451835-c1c10800-3967-11eb-93e8-c536a108b9b5.png)

[2020-12-08 09:08] LinuxSuRen commented on #3083
It works with a user who has the role `platform-admin`. Which role do you use in this case?

[2020-12-08 09:49] #3006 closed

[2020-12-08 09:59] #2919 closed

[2020-12-09 02:47] LinuxSuRen commented on #3142
/priority low

[2020-12-09 02:50] RolandMa1986 commented on #3150
Hi @stxufnupyud, Could you provide detailed comments on this issue?

/kind support
/question
/area console

[2020-12-09 03:07] stoneshi-yunify commented on #3166
The background:

Currently we have several built-in storage provisioners which aims to ease the user's input when they want to create the storage class for these storages:

![image](https://user-images.githubusercontent.com/70880165/101568243-4023b580-3a0d-11eb-85f7-372e63ff92df.png)

But the storage provisioners are hard coded in ks-console (see https://github.com/kubesphere/console/blob/master/s

[2020-12-09 06:02] LinuxSuRen commented on #1811
I think we can close this feature. Because you can see this feature from v3.1.0. Please see the screenshot below:

![image](https://user-images.githubusercontent.com/1450685/101591127-ba146880-3a26-11eb-8598-10f427359827.png)

But I don't know which PR this feature comes from. Please leave a comment if anyone knows it. It will help us to track it.

/cc @shaowenchen
/cc @Migo1989
/cc @zryfish