[2020-12-09 07:15] wansir commented on #3182
@Born2Bake Don't forget to restart ks-apiserver. If you still can't log in, please pay attention to the error prompt when logging in.

[2020-12-09 09:48] zryfish opened #3188 "Selective enable controllers"
**What's it about?**
Kubernetes controller manager has a nice of selective enabling controllers by configuration.  It would help debugging and reduce cpu and memory usage.

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

[code]

**What's the reason why we need it?**
I think KubeSphere should follow this pattern, it would reduce resource usage a lot when

[2020-12-10 05:11] wansir opened #3191 "Limit login record maximum entries"
**What's it about?**
Currently, the login record retention time can be limited by `loginHistoryRetentionPeriod`. But it will still generate a lot of data (frequently request the login API), which will increase the pressure of etcd. To avoid resource abuse, it is necessary to limit the maximum record entries.

/kind feature-request
/milestone 3.1.0

[2020-12-10 05:11] wansir commented on #3191
/assign @wansir

[2020-12-10 05:22] wansir opened #3192 "Choose whether to cascade delete related resources when deleting workspace"
**What's it about?**

Choose whether to cascade delete related resources when deleting workspace, avoid accidental deletion of related resources.

/kind feature-request

[2020-12-10 09:43] #2797 closed

[2020-12-10 09:44] zryfish commented on #2856
/

[2020-12-10 09:51] leoendless commented on #2856
Yes, we are going to refactor current page with custom alerting

[2020-12-10 10:52] ssmmray commented on #3103
![image](https://user-images.githubusercontent.com/72238499/101762482-769a2700-3b18-11eb-871d-cae73d66cbfa.png)
i have replaced the images , but  the client version still no

[2020-12-10 10:52] #3103 closed

[2020-12-10 11:34] ssmmray opened #3194 "replaced kubectl images by command "kubectl edit deployment kubectl-admin -n kubesphere-controls-system" ,but it does not work, the version of ks3 kubectl is still v1.15.3"
![image](https://user-images.githubusercontent.com/72238499/101767129-c24fcf00-3b1e-11eb-9b49-6eea5e10b0b3.png)

[2020-12-10 11:39] #2970 closed

[2020-12-10 12:29] RolandMa1986 commented on #3103
@ssmmray, Please try to replace the image with "kubespheredev/kubectl:v1.18.0". And in the 3.1 release, Ks-install will install a kubectl that match to Kubernetes server version.

[2020-12-10 13:48] #3083 closed

[2020-12-11 00:50] RolandMa1986 commented on #1660
/cc @wansir I'm going to close this issue. since we have already support Oauth2 login.
/close

[2020-12-11 00:50] #1660 closed

[2020-12-11 02:25] wansir commented on #3169
/cc @RolandMa1986

[2020-12-11 02:47] RolandMa1986 commented on #2716
@leoendless, User API allows the user to delete himself on the server-side. So I think we only need a “Delete Account” tab in User Settings.
/kind feature
/area console
/area iam

[2020-12-11 02:57] ssmmray commented on #3103
it's ok now, thanks

[2020-12-11 02:58] #3194 closed

[2020-12-11 03:00] ssmmray commented on #3194
The problem is solved

[2020-12-11 04:00] #3176 closed

[2020-12-11 09:26] wanjunlei opened #3196 "Query logs failed when there are more than 1000 namespaces"
**Describe the Bug**
When a user query auditing, events, and logs, it needs to list all namespaces that the user can access. These namespaces will become the parameters of the elasticsearch query DSL. The parameter of elasticsearch query DSL has a limit of 1024. So if there are many namespaces that the user can access, for example, more than 1000, the elasticsearch query DSL will be illegal, and t

[2020-12-11 09:27] wanjunlei commented on #3196
/area auditing
/area events
/area logging

[2020-12-11 09:28] wanjunlei commented on #3071
https://github.com/kubesphere/kubesphere/issues/3196

[2020-12-11 09:52] #2867 closed

[2020-12-11 13:30] ssmmray opened #3197 "ks3 pipeline failed to deploy images to k8s"
ERROR: ERROR: java.lang.RuntimeException: io.kubernetes.client.openapi.ApiException: Unauthorized
hudson.remoting.ProxyException: java.lang.RuntimeException: io.kubernetes.client.openapi.ApiException: Unauthorized

[2020-12-12 07:58] #2854 closed

[2020-12-14 01:30] LinuxSuRen commented on #3197
hi @ssmmray , thanks for reporting this to us. I hope I can help you with this. But I've no idea how to reproduce according to your description. So I'm wondering if you can take a few minutes to provide more details about it. By the way, create an issue with [an issue template](https://github.com/kubesphere/kubesphere/issues/new?template=bug_report.md) is the best practice when you're working with

[2020-12-14 01:38] LinuxSuRen commented on #3197
/area devops

[2020-12-14 02:25] fafucoder opened #3198 "Edge cluster can't join to the host cluster"
This [bugfix](https://github.com/kubesphere/kubesphere/pull/3136) will result in a new problem when connection type is proxy

If remove the old condition and add new condition to the cluster, always trigger Initialized this update and never trigger subsequent updates

![image](https://user-images.githubusercontent.com/16442491/101911562-7e7ec780-3bfb-11eb-8340-c972326edc3f.png)
![image](https://us

[2020-12-14 02:35] RolandMa1986 commented on #3169
/area multicluster
/kind optimization

[2020-12-14 03:04] Bruce-Stark opened #3200 "Installing kubesphere"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

Can kubesphere be installed only on Ubuntu 16.04, 18.04 systems? Can't I install it on an Ubuntu 20 system

**Environment: OS & Hardware Information**

**Error logs or message (Attach logs or screenshot)**

**Installer Version**

[2020-12-14 03:17] RolandMa1986 commented on #3200
Hi @Bruce-Stark,

[2020-12-14 03:33] RolandMa1986 commented on #3200
Hi @Bruce-Stark, Surly you can install KubeSphere on Ubuntu 20. Please try [Kubekey](https://github.com/kubesphere/kubekey) to install Kubernetes and Kubesphere. I hope you can enjoy it.
/kind support
/area installation

[2020-12-14 05:33] FeynmanZhou commented on #560
@shaowenchen @rayzhou2017  Will this feature be included in v3.1.0?

[2020-12-14 05:34] FeynmanZhou commented on #582
@shaowenchen @rayzhou2017 Will this feature be included in v3.1.0?

[2020-12-14 05:43] zryfish commented on #560
not planned

[2020-12-14 05:44] FeynmanZhou commented on #560
Please remove it from the milestone v3.1.0, it will mislead others.

[2020-12-14 07:16] yuswift opened #3202 "cluster controller should not join or unjoin the cluster when proxy agent disconnected from proxy server"
**Describe the Bug**
Cluster controller produces errors when the proxy agent disconnected from the proxy server. In fact, it should not join or unjoin the cluster under that situation. It should judge the agent status in advance, if not ready, update the cluster status to unready and return.
**Versions Used**
KubeSphere:v3.0.0
**How To Reproduce**
Steps to reproduce the behavior:
Scale the proxy a

[2020-12-14 08:05] #3198 closed

[2020-12-14 11:12] hawking-lab commented on #3102
same problem

[2020-12-15 03:35] #3108 closed

[2020-12-15 07:08] #2861 closed

[2020-12-15 07:23] ssmmray commented on #3197
pipeline task can not get kubeconfig-id
![image](https://user-images.githubusercontent.com/72238499/102183843-7b305800-3ee9-11eb-9da4-fd740339a7ba.png)

[2020-12-15 07:28] ssmmray commented on #3197
at the last sttp "kubernetesDeploy", occureed this error
![image](https://user-images.githubusercontent.com/72238499/102184058-cb0f1f00-3ee9-11eb-8487-6b24d7544091.png)

[2020-12-15 07:29] ssmmray commented on #3197
![image](https://user-images.githubusercontent.com/72238499/102184372-4f61a200-3eea-11eb-984b-3452155446e6.png)

[2020-12-15 07:32] LinuxSuRen commented on #3197
It looks like you got an incorrect kubeconfig file. See also kubesphere/community#165.

[2020-12-15 07:35] ssmmray commented on #3197
i used user "admin" to execute the task, The article is for non admin

[2020-12-15 08:03] ssmmray commented on #3197
i have tried the methods , a new error occurred
![image](https://user-images.githubusercontent.com/72238499/102187541-137d0b80-3eef-11eb-8ad7-2eafa61fb50b.png)

[2020-12-15 08:05] zryfish commented on #3197
Make sure your credential do have the permission to deploy application in the target namespace

[2020-12-15 08:12] ssmmray commented on #3197
you can see the picture above , i use admin user to deploy,   the error is  " ApiException: Unauthorized" , then i tried the method in kubesphere/community#165 , my Enterprise space is test ,  so replaced " your project name" by "test", the error is "forbidden"

[2020-12-15 09:31] #3102 closed

[2020-12-15 13:33] zackzhangkai commented on #3143
Resolved with multi-cluster scene. If you have a member with old version, such as below KubeSphere 3.0. Be sure your application CRD is new. If you cannot get result with command `kubectl get app`, it means you should upgrade by execute command `kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/master/roles/common/files/ks-crds/app.k8s.io_applications.yaml`. Otherwise, you

[2020-12-16 03:55] xuguangyao opened #3205 "DevOps 工程：流水线 报错"
KubeSphere 版本 : v2.1.1
问题：
DevOps 工程：流水线，搜索关键字,报错
![image](https://user-images.githubusercontent.com/32193099/102303123-7a550000-3f95-11eb-9fc1-1942209aaa3f.png)
![image](https://user-images.githubusercontent.com/32193099/102303127-7de88700-3f95-11eb-8433-e3124337013e.png)

[2020-12-16 06:53] #1365 closed

[2020-12-16 08:53] #2860 closed

[2020-12-16 08:56] wansir opened #3207 "Refactor role template CRD"
**What's it about?**

Reduce redundancy data.

/kind feature-request
/area iam
/assign

[2020-12-16 09:53] #1634 closed

[2020-12-17 01:04] eavae opened #3209 "kubesphere-devops-system error No valid crumb was included in the request"
**Describe the Bug**

Jenkins input can not be triggered after upgrade Jenkins version.

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: v1.17.9
Jenkins: jenkins/jenkins:2.254

**Environment**
Ubuntu / 3 masters:  8cpu/8g; 3 nodes: 8cpu/8g

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to devops project and create a pipeline
2. Configure the pipeline use pipeline as code
3. Use Jenk

[2020-12-17 05:54] RolandMa1986 commented on #3122
Hi, @xuelangos
Thanks for your suggestions. In 3.1.0, we had planned to support  **user approve** in the pipeline.  please see kubesphere/console#1336 and #3006.

![](https://user-images.githubusercontent.com/1450685/100575843-e427a580-3317-11eb-970d-5a6be6ddc777.png)

For the scenarios described above, I think we can create a deploy stage for each environment and add an approval phase for those s

[2020-12-17 07:23] petrukngantuk commented on #3066
any plan to add OpsGenie support for this one? @benjaminhuo

[2020-12-17 07:59] yunkunrao commented on #3209
/assign @shaowenchen

[2020-12-17 08:00] yunkunrao commented on #3205
/assign @shaowenchen

[2020-12-17 09:17] zryfish opened #3210 "Pod Security Policy"
**What's it about?**

PodSecurityPolicy is an requirement for an Enterprise user.  https://kubernetes.io/docs/concepts/policy/pod-security-policy/

**What's the reason why we need it?**

**Area Suggestion**
/area apiserver
/area console
/kind feature-request

[2020-12-17 10:05] shaowenchen commented on #3209
How do you upgrade Jenkins? currently, it's not supported to upgrade the Jenkins version yourself.

[2020-12-17 10:13] wansir opened #3211 "Service account management"
**What's it about?**

Service account is useful in some situations, and it only needs to be granted a few permissions.

related https://github.com/kubesphere/kubesphere/issues/3197

/area console
/kind feature-request

[2020-12-17 10:29] eavae commented on #3209
I changed yaml file, the image property.

[2020-12-17 10:35] shaowenchen commented on #3209
Please let it recover. We will upgrade it in 3.1.0.

In addition, what caused you to upgrade Jenkins Version?

[2020-12-18 03:33] LinuxSuRen commented on #3205
hi @xuguangyao Thanks for contact with us. Considering KubeSphere is a global community, not all users can understand Chinese. Communicating in English can benefit everyone. So it's appreciated if you could rewrite your issue in English.

Before we can keep this forward, providing more context is necessary. In my view, I cannot figure it out without the related logs. Please post the following log

[2020-12-18 03:39] LinuxSuRen commented on #3209
Hi @eavae , I believe that you can get more details about this from the Jenkins community [security report](https://www.jenkins.io/security/advisory/2019-07-17/) and [version upgrade guide](https://www.jenkins.io/doc/upgrade-guide/2.176/#SECURITY-626).

In my view, this is not a bug of KubeSphere. But we can definitely improve our document about how to upgrade Jenkins in KubeSphere. So I guess we

[2020-12-18 03:54] #1223 closed

[2020-12-18 09:12] RolandMa1986 commented on #3182
Hi @Born2Bake, have you configured your kubesphere with LDAP successfully?
/kind support
/area iam

[2020-12-18 09:15] RolandMa1986 commented on #3166
/area storage
/area console
/kind feature-request

[2020-12-18 09:45] RolandMa1986 commented on #2949
/close

[2020-12-18 09:45] #2949 closed

[2020-12-18 10:18] RolandMa1986 commented on #2962
/close

[2020-12-18 10:18] #2962 closed

[2020-12-18 11:10] zryfish commented on #2904
/reopen
/cc @wanjunlei

[2020-12-18 11:18] wansir commented on #3028
@sladyn98 Sorry for the late reply. You can try to implement this feature which will be highly appreciated.

[2020-12-18 11:30] wansir commented on #3028
First, you need to be familiar with kubesphere. You will understand why we need this feature. Most of the work is on the [front end](https://github.com/kubesphere/kubesphere). Modify the label (`kubesphere.io/workspace`) of the namespace will transfer the namespace to another workspace. So we need to add this feature to the project management page. It should be noted that this operation needs to b

[2020-12-18 15:12] #3143 closed

[2020-12-18 15:14] zackzhangkai commented on #3153
It's available now.

![Uploading image.png…]()

[2020-12-18 15:14] #3153 closed

[2020-12-18 15:14] #3106 closed

[2020-12-19 09:38] ekkoun commented on #1138
这个解决了吗？？我这边也出现了

[2020-12-19 09:51] leoendless commented on #1138
请进入到具体资源详情里的查看事件或 pod 信息
Deployment does not have minimum availability. 这个 condition 表示 pod 还在启动中，需要等待，是创建过程中的一个正常的 condition.

[2020-12-19 09:56] leoendless commented on #1138
请进入到具体资源详情里的查看事件或 pod 信息.
MinimumReplicasUnavailable 这个 condition 表示 pod 还在启动中，需要等待，是创建过程中的一个 condition.

[2020-12-19 13:29] #2909 closed

[2020-12-20 04:49] ekkoun commented on #1138
![image](https://user-images.githubusercontent.com/28840419/102705268-a12a7380-42c0-11eb-8988-d06b2656ffbd.png)
![image](https://user-images.githubusercontent.com/28840419/102705279-bbfce800-42c0-11eb-944d-b2b8e5bd927b.png)

![image](https://user-images.githubusercontent.com/28840419/102705284-c323f600-42c0-11eb-9ea6-3c8c19cea655.png)
![image](https://user-images.githubusercontent.com/28840419/102

[2020-12-20 04:50] ekkoun commented on #1138
还在试用中，结果新手教程都过不了好无奈

[2020-12-20 04:59] rayzhou2017 commented on #1138
我看提示quota不够，你提高一下项目下的quota

[2020-12-20 05:17] ekkoun commented on #1138
![image](https://user-images.githubusercontent.com/28840419/102705728-a1793d80-42c5-11eb-9394-320b408769ff.png)
现在是最小可用副本不可用~
![image](https://user-images.githubusercontent.com/28840419/102705719-80185180-42c5-11eb-8de7-d6887791ec70.png)

[2020-12-20 05:25] ekkoun commented on #1138
![Uploading image.png…]()

[2020-12-20 05:25] ekkoun commented on #1138
![image](https://user-images.githubusercontent.com/28840419/102705846-d9cd4b80-42c6-11eb-9f16-b0ba4f1df12b.png)

[2020-12-20 05:32] leoendless commented on #1138
查看下项目下的资源配额吧

项目设置->基本信息->资源配额

![image](https://user-images.githubusercontent.com/8739949/102705925-ca023700-42c7-11eb-8c81-e984769505d0.png)

[2020-12-20 05:38] ekkoun commented on #1138
![image](https://user-images.githubusercontent.com/28840419/102705986-9a076380-42c8-11eb-85bc-325d590794ff.png)

[2020-12-20 06:11] ekkoun commented on #1138
配置有问题么

[2020-12-20 07:12] leoendless commented on #1138
`kubectl get resourcequota -n project-demo` 什么结果呢

[2020-12-20 07:43] ekkoun commented on #1138
![image](https://user-images.githubusercontent.com/28840419/102707913-0e96ce00-42da-11eb-8432-e251bf1820db.png)

[2020-12-20 07:48] leoendless commented on #1138
重新创建一个项目再部署试试看，或者删除这个 resourcequota
看你图里的错误说明是项目配额超出了

[2020-12-20 08:33] ekkoun commented on #1138
可以了，谢谢

[2020-12-21 02:50] LinuxSuRen commented on #3209
/kind support

[2020-12-21 02:54] LinuxSuRen commented on #3197
In my view, this is not a bug. So I'm going to give a support flag. /kind support

[2020-12-21 02:56] LinuxSuRen commented on #3185
/priority medium

[2020-12-21 03:10] LinuxSuRen commented on #3154
/kind support

[2020-12-21 05:56] LinuxSuRen commented on #3053
This feature is ready. You can see it from the screenshot below:

![image](https://user-images.githubusercontent.com/1450685/102743982-9c82bf80-4393-11eb-8815-f1452728fe3a.png)

In case anyone does not know how to use it. There's a simple tutorial for it. [This tutorial was written by Chinese](https://kubesphere.com.cn/forum/d/3066-31-devops).

So, I guess we can close this. /cc @zryfish and @shao

[2020-12-21 06:39] yuswift opened #3213 "The cluster controller resync period should be configurable."
**What's it about?**
Cluster controller resync period.
**What's the reason why we need it?**
The cluster controller resync period is two minutes and unconfigurable. Sometimes it is not acceptable by users, it should be configurable.
**Area Suggestion**
/area multicluster
/kind feature-request

[2020-12-21 06:59] LinuxSuRen commented on #2996
It works in my KubeSphere cluster. I saw you also report this issue on the Jenkins plugin https://github.com/jenkinsci/kubernetes-cd-plugin/issues/122#issuecomment-697709124. So I would suggest we close this issue, and track it down from kubernetes-cd.

/kind support

[2020-12-21 07:04] LinuxSuRen commented on #2862
/kind feature

[2020-12-21 07:04] LinuxSuRen commented on #2862
/priority medium

[2020-12-21 07:23] LinuxSuRen commented on #3053
/kind feature

[2020-12-21 07:24] LinuxSuRen commented on #2838
/kind support

[2020-12-21 08:34] fukiki opened #3215 "OAuth2 Identity Provider：GitHub authentication failed"
**Describe the Bug**
Config `GitHubIdentityProvider` follow the document [OAuth2 Identity Provider](https://kubesphere.io/zh/docs/access-control-and-account-management/oauth2/), and login with github user,  login failed and error is `Not Found`.

**Versions Used**

- KubeSphere: master branch,commit id `d814d5db7bde49b44b31ad8ddf14da5517bc0c78`
- Kubernetes: 1.17.9

**Environment**
How many nodes

[2020-12-21 14:40] webup commented on #3105
Will this bug fixed in upcoming 3.1 edition?

[2020-12-22 07:24] sglztc opened #3218 "devops流水线每隔一些时间就会出现流行线卡死问题，所有流行线都处于队列中没有任何反应，必须重启jenkins才能解决。"
从jenkins日志找错具体错误如下：
Dec 22, 2020 3:12:08 AM io.jenkins.blueocean.service.embedded.rest.PipelineSearch search
SEVERE: hudson.matrix.MatrixProject&filter=no-folders
java.lang.ClassNotFoundException: hudson.matrix.MatrixProject&filter=no-folders
at jenkins.util.AntClassLoader.findClassInComponents(AntClassLoader.java:1373)
at jenkins.util.AntClassLoader.findClass(AntClassLoader.java:1326)
at jenkins.

[2020-12-22 07:50] LinuxSuRen commented on #3185
This feature is ready. The API is:

[code]

Sample response data:
[code]

[2020-12-22 07:50] #3185 closed

[2020-12-22 07:54] RolandMa1986 commented on #3218
/area devops
/kind bug
/duplicate #3102
/close

[2020-12-22 07:54] #3218 closed

[2020-12-22 08:47] #2916 closed

[2020-12-22 09:20] xyz-li opened #3219 "expose metrics"
**What's it about?**

expose metric

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* monitor http latency, http code , go gc duration and something else

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**
/area apiserver
/kind feature-request

[2020-12-22 12:05] zryfish opened #3221 "Cluster grouping"
**What's it about?**
More and more users are using KubeSphere to manage their Kubernetes clusters in one place. There is a trending request on group clusters with meaningful labels, such as group clusters by their locations, data centers, workloads on them. For example,  Beijing/Wangjing/Application is a meaningful label for a cluster.

**What's the reason why we need it?**

**Area Suggestion**
/a

[2020-12-22 12:06] zryfish commented on #3221
/assign

[2020-12-22 14:45] #2889 closed

[2020-12-23 01:18] hanyouqing opened #3223 "Is there a plan to support terraform and okta integration?"
**What's it about?**

* Terraform plugin for kubesphere
* Okta integrate

**What's the reason why we need it?**
*  Manage all infrastructure with IaC (by terraform mostly) is the best practice for any company whose infra based on cloud.
* Okta integration is a general requirement for most company(especially for global compay maybe)

Please leave your comments below if there's anyone agrees with me

[2020-12-23 01:18] hanyouqing commented on #3223
/kind feature-request

[2020-12-23 01:31] eavae commented on #3209
Thanks, I totally agree with you. By the way, I'm struggling with different versions of Jenkins plugins, and try hard to make it works well with the kubernetes cd plugin. Since if there are huge of plugins when using Jenkins with K8s. If there are some documents or mechanism to avoid this, it would be great.

[2020-12-23 02:11] LinuxSuRen commented on #3209
hi @eavae , Actually, I'm not sure what you want to describe.

By the way, I have no power to close this issue. And in my view, discussion about the best practice of using Jenkins with k8s is another topic. I'd suggest we just close this issue, then start a new thread at [GitHub Discusssion](https://github.com/kubesphere/kubesphere/discussions) or [KubeSphere Chinese Forum](https://kubesphere.com.

[2020-12-23 02:15] LinuxSuRen commented on #3215
/kind bug

[2020-12-23 02:23] RolandMa1986 commented on #3223
Hi @hanyouqing, We are planning to support OIDC authentication in v3.1.0. I think you can integrate okta with OIDC.
#2941 Feat: support OIDC identity provider
OTKA: https://www.okta.com/openid-connect/
/area iam

[2020-12-23 03:05] FeynmanZhou commented on #3205
Closed. Please reopen it if you think this is a blocking issue.

[2020-12-23 03:05] #3205 closed

[2020-12-23 07:19] LinuxSuRen opened #3225 "[Proposal] Avoid communicate with Jenkins on DevOps credential modules"
# Current
The [credential controller](https://github.com/kubesphere/kubesphere/blob/master/pkg/controller/devopscredential/devopscredential_controller.go) will create or update it to Jenkins via API calling once you create a DevOps credential via UI or CLI.

## Potential Problems
* The extra cost of maintaining the credential controller in [kubesphere](https://github.com/kubesphere/kubesphere/)
*

[2020-12-23 13:47] wansir commented on #3211
/assign @RolandMa1986 @Carlosfengv
/milestone 3.1.0
/priority high

[2020-12-24 05:55] wansir commented on #3211
/assign @leoendless

[2020-12-24 07:14] weekyuan opened #3226 "Failed to configure LDAP login, error message: socket hang up"
**Describe the Bug**

Failed to configure LDAP login, error message:
**Internal Server Error
request to http://ks-apiserver.kubesphere-system.svc/kapis/iam.kubesphere.io/v1alpha2/users failed, reason: socket hang up**

![image](https://user-images.githubusercontent.com/5857374/103068141-7eb59480-45f7-11eb-8584-5e17c5b52c42.png)

Follow the ks-apiserver log:
`E1224 15:08:40.839438       1 login_rec

[2020-12-24 09:36] ethanxzw opened #3227 "code compiled failed due to the container of maven is killed by unkown error"
Hi guys, we face an issue when build pipeline task to complie maven project. could you please help to check it.

ENV version:
kubesphere version: v3.0.0
kubernetes version: v1.17.9

the maven container is killed with unkown error during compiling code. in jenkins logs, one file named "Purge expired KubernetesClients.log" is found. the data of file as below:
[code]
![image](https://user-images.gith

[2020-12-25 01:28] RolandMa1986 commented on #3226
/kind bug
/area iam
/cc @wansir

[2020-12-25 01:44] RolandMa1986 commented on #3227
Hi @ethanxzw, is there any pipeline log shows the detail of the failure reason?
![pipeline_log](https://user-images.githubusercontent.com/1720333/103113459-cd197080-4695-11eb-897a-2659169c62ae.png)

/kind support
/area devops

[2020-12-25 02:23] wansir commented on #3226
/remove-area iam
/assign @wanjunlei

The branch you are using is not stable, the auditing filter reported some errors.

The auditing filter should catch the exception do not crash the goroutine.

[code]

[2020-12-25 02:33] ethanxzw commented on #3227
![image](https://user-images.githubusercontent.com/41108414/103114944-b118cd80-469b-11eb-98fc-784d37e46ba0.png)

pipeline logs as above. no obvious error details in it.

[2020-12-25 03:01] RolandMa1986 commented on #3227
Seems like maven was oom killed. Do you know how much memory does it consume on a local machine?
The kubesphere itself has a limit of 8GB for maven container. If your build consumes more than that, you have to adjust either maven setting or the container limit.

[2020-12-25 05:35] zryfish commented on #2927
/reopen
/cc @wansir

Is this bug fixed in v3.0

[2020-12-25 06:57] ethanxzw commented on #3227
it's done after increase memory resource. thanks.

[2020-12-25 06:57] #3227 closed

[2020-12-25 09:53] #3169 closed

[2020-12-25 10:06] RolandMa1986 commented on #3169
@liuyp2018  This scenario needs to be verified.
/kind need-to-verify

[2020-12-27 11:11] #2911 closed

[2020-12-28 02:33] sglztc commented on #3102
这个错误要怎么修改，替换js吗，还是升级，不知怎么弄，有什么方便办法

[2020-12-28 05:49] LinuxSuRen commented on #3102
hi @sglztc , I've fixed it in https://github.com/kubesphere/console/pull/1366

Before we have the next release, please use `kubespheredev/ks-console:latest`. But please remember that it's still unreleased yet.

[2020-12-28 05:55] #3202 closed

[2020-12-28 08:35] sglztc commented on #3102
感谢，升级kubespheredev/ks-console:latest是否有什么影响，目前是很多项目在运行，这个镜像全局配置地方在哪里，保证重启也是可以生效的。

[2020-12-28 08:40] LinuxSuRen commented on #3102
Please don't use those images in your working environment. I highly recommend you try it in a new environment.

[2020-12-28 10:12] yasir2000 opened #3230 "Kubesphere stopps after restarting master node"
**Describe the Bug**
A clear and concise description of what the bug is.
i suddenly lost ks web running after soft reboot of main master node, when I run:
kubectl edit cm -n kubesphere-system ks-installer

 I run logger now it gives failure of ansible playbook :
[code]

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere instal

[2020-12-28 10:13] FeynmanZhou opened #3231 "All the apps in the App Store are disappeared."
**Describe the Bug**

All the apps in the App Store are disappeared.

![image](https://user-images.githubusercontent.com/40452856/103206881-e6414c00-4937-11eb-9d54-c492ff6f178f.png)

![image](https://user-images.githubusercontent.com/40452856/103206871-dde91100-4937-11eb-86f2-0e65b37a8872.png)

**Versions Used**

KubeSphere: v3.0.0

**Environment**
How many nodes and their hardware configuration:

[2020-12-28 10:13] FeynmanZhou commented on #3231
/kind bug

[2020-12-28 10:15] FeynmanZhou commented on #3230
Please do not paste the error logs in the screenshots, this is not friendly for debugging.

[2020-12-28 10:18] yasir2000 commented on #3230
I removed log, only I put error

[2020-12-28 10:29] FeynmanZhou commented on #3230
/assign @pixiake @Forest-L

[2020-12-28 12:47] pixiake commented on #3230
Logs show request `apis/rbac.istio.io/v1alpha1` timeout.
1. Check k8s component status
[code]
2. Determine if istio is running properly.
[code]
3. If istio is running properly, try to restart ks-installer
[code]

[2020-12-28 12:56] yasir2000 commented on #3230
Second step showed istio is having problems :

jaeger-es-index-cleaner-1609102500-h6sft   0/1     Error                        0          14h
jaeger-es-index-cleaner-1609102500-j5hck   0/1     Error                        0          14h
jaeger-es-index-cleaner-1609102500-lhrzk   0/1     Error                        0          15h
jaeger-es-index-cleaner-1609102500-lklkj   0/1     Error

[2020-12-28 13:06] yasir2000 commented on #3230
One of kubesphere-system : kubesphere-system/ks-controller-manager-698d6fbcd6-jtmzm:ks-controller-manager)

is giving :

│ E1226 00:01:36.798315       1 reflector.go:307] pkg/mod/k8s.io/client-go@v0.17.3/tools/cache/reflector.go:105: Failed to watch *v1al │
│ pha2.GlobalRole: Get https://10.233.0.1:443/apis/iam.kubesphere.io/v1alpha2/globalroles?allowWatchBookmarks=true&resourceVersion=322 │
│ 052

[2020-12-28 13:15] pixiake commented on #3230
[code]
Looks like a problem for k8s apiserver.
Please execute the following command to view the relevant information：
[code]
[code]

[2020-12-28 14:11] yasir2000 commented on #3230
Yes second command showed only one pod running of kube-apiserver while other are crashed , the log for first running is :

[code]

[2020-12-28 14:12] FeynmanZhou commented on #3231
/assign @wansir @zheng1

[2020-12-28 15:11] pixiake commented on #3230
With this information it seems to be related to `istio-sidecar-injector`.
@zackzhangkai Can it be solved by the following method ？
[code]
After waiting for the cluster to return to normal，execute the following command
[code]

[2020-12-29 02:28] zryfish opened #3232 "Validate member cluster configuration"
**What's it about?**
Validate member cluster configuration, such as
- jwtSecret has to be the same with host cluster
- member cluster oauthOptions.accessTokenMaxAge: 0

This can be done on the host cluster, and we should give an error message to the user on what's wrong here.

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

*

[2020-12-29 02:28] zryfish commented on #3232
/assign @yuswift

[2020-12-29 06:18] yasir2000 commented on #3230
Did all steps above and when I do :
`
kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f`

I get :

`1 reflector.go:131] pkg/mod/k8s.io/client-go@v0.0.0-20190411052641-7a6b4715b709/tools/cache/reflector.go:99: Failed to list *unstructured.Unstructured: Get "https://10.233.0.1:443/apis/installer.kubesphere.io/v1alph

[2020-12-29 06:27] zackzhangkai commented on #3230
`dial tcp 10.233.0.1:443: connect: connection refused` means your kube-apiserver didn't work correctly.
Check your k8s component firstly.

[code]

[2020-12-29 06:31] yasir2000 commented on #3230
Only one pod is running out of 3 :

[code]
log of running pod:

│ I1229 06:29:00.631297       1 trace.go:116] Trace[1124139313]: "Update" url:/api/v1/namespaces/kubesphere-controls-system/configmaps/kubesphere-router-kubecost-nginx,user-agent:nginx │
│ -ingress-controller/v0.0.0 (linux/amd64) kubernetes/$Format,client:10.5.3.51 (started: 2020-12-29 06:29:00.070429308 +0000 UTC m=+938.474685537) (t

[2020-12-29 07:07] yasir2000 commented on #3230
After doing the same with dapr-sidecar-injector by deleting it, now am getting same connection refused bu log of running pod is:
[code]

[2020-12-30 00:29] LinuxSuRen commented on #3225
Currently, [kubernetes-credentials-provider-plugin](https://github.com/jenkinsci/kubernetes-credentials-provider-plugin) only watch the secrets with [jenkins.io/credentials-type](https://github.com/jenkinsci/kubernetes-credentials-provider-plugin/blob/416890d0ff2527f1bb7723af0bf6f41b216bbe74/src/main/java/com/cloudbees/jenkins/plugins/kubernetes_credentials_provider/KubernetesCredentialProvider.ja

[2020-12-30 02:56] yuswift opened #3234 "The tower server shouldn't update the cluster.status"
**What's it about?**
Currently, when cluster.spec.connection.type is proxy, the tower server updates the cluster.status filed, and the cluster controller determines if the cluster is ready according to the status.

**What's the reason why we need it?**
Actually, the tower server shouldn't update the cluster.status filed.
The cluster controller can try to connect to the proxy service, determines if

[2020-12-30 06:18] yasir2000 commented on #3230
KS is still not popping up !!!, while K8 is running without an issue

[2020-12-30 08:35] focusme commented on #3231
我在kubesphere集群里安装了kubesphere自带的harbor,改了其中的harbor的yaml里的参数值，将ssl改为false，nodeport等，点击下一步，则all the apps in the app store are disappeared.

[2020-12-30 08:46] zheng1 commented on #3231
@focusme Can you send the login for the environment to kubesphere@yunify.com?

[2020-12-30 09:18] zheng1 commented on #3231
I fixed https://demo.kubesphere.io/apps. The error is due to insufficient node resources causing mysql, etcd, on which the appstore depends, not to run correctly.
The way to fix it is to bring the abnormal node back to normal
@FeynmanZhou

[2020-12-30 11:28] zryfish opened #3236 "Upgrade istio to 1.6.10"
**What's it about?**
There are major changes after istio 1.5, KubeSphere v3.0.0 is still using istio 1.4.8 due to legacy problems.  We should keep up with istio community and upgrade soon.

**What's the reason why we need it?**
Older istio versions are not supported by the community anymore.

**Area Suggestion**
/area upgrade
/assign @zackzhangkai

[2020-12-30 11:55] zackzhangkai commented on #3236
@zryfish We had supported Istio 1.6.10 indeed now in the master branch. Do you mean we should support istio 1.6.10 in KubeSphere 3.0.0 , not from KubeSphere 3.1.0 ?

[2020-12-30 14:34] LinuxSuRen commented on #3105
hi @wansir , do you know about the fixing plan? I guess many users met this issue like @webup .

[2020-12-30 15:19] yuswift commented on #3198
/milestone 3.1.0

[2020-12-30 15:52] wansir commented on #3105
OpenLDAP is a stateful service that may be unavailable and cause this problem.  Plan to use [OIDC](https://plugins.jenkins.io/oic-auth/) instead of OpenLDAP in 3.1.

/milestone 3.1.0

[2020-12-31 01:49] yuswift commented on #3198
/milestone 3.1.0

[2020-12-31 01:50] yuswift commented on #3213
/milestone 3.1.0

[2020-12-31 02:01] #3128 closed

[2020-12-31 02:22] wansir commented on #3192
/assign @RolandMa1986
/milestone 3.1.0

[2020-12-31 02:37] wansir commented on #2994
/feature-request
/assign @leoendless

[2020-12-31 02:42] zackzhangkai commented on #3236
https://github.com/kubesphere/ks-installer/pull/1125

[2020-12-31 03:02] zackzhangkai opened #3241 "refactor application controller"
1. Fix application status

2. use Application APIs from https://github.com/kubernetes-sigs/application directly instead of https://github.com/kubesphere/application.

3. Refactor Application controller, use controller-runtime client, no need to create typed clients created by controller-gen.

/area microservice
/milestone 3.1.0
/assign @zackzhangkai

https://github.com/wansir/kubesphere/pull/4/fil

[2020-12-31 04:42] #2947 closed

[2020-12-31 07:41] xuliwenwenwen commented on #3211
/lgtm

[2020-12-31 08:37] #3209 closed

[2020-12-31 10:32] #2948 closed

[2020-12-31 11:20] lxm commented on #3234
[code]

It may be a good choice to manage the above fields in tower

[2020-12-31 11:34] calvinyv commented on #3234
/assign @yuswift pls take a look

[2020-12-31 11:41] lxm commented on #3234
On the other hand, the creation of the service `mc-xxxx` is best placed in the tower

[2021-01-04 03:14] WorldWay opened #3244 "Have some problem with the log collecting system"
I can not provide more useful information ,because of the log collecting system can not collect my app's logs well.
I build an docker image and publish it on kubesphere 3.0 then name it as emqx-prod
I can find the logs in web docker logs,like this:
![image](https://user-images.githubusercontent.com/24239063/103497530-c3a1bc80-4e7c-11eb-8dab-6fc8111463ac.png)

but i can not find these in log search

[2021-01-04 03:18] WorldWay opened #3245 "Can not login with admin on kubesphere 3.0"
before the holiday, I can login with admin successfully. but I can not login after the holiday.
during the holiday,no one use the kubesphere 3.0 or change the password

how does it happen with no useful logs ?

now I use kubectl edit user admin to reset the password.but this problem is still exists and i can not know how does it happen.

[2021-01-04 04:05] yuswift commented on #3234
LGTM. @zryfish

[2021-01-04 04:12] zryfish commented on #3234
yeah, agreed

[2021-01-04 04:15] LinuxSuRen commented on #3245
I was wondering if you could provide the process about how to reset the password? In case of that, you might do not reset it appropriately. Please checkout out https://github.com/kubesphere/kubesphere/issues/3105#issuecomment-725784472

[2021-01-04 04:22] WorldWay commented on #3245
I reset it this way:
![image](https://user-images.githubusercontent.com/24239063/103500835-40399880-4e87-11eb-8bf7-bc5344c9bb23.png)
![image](https://user-images.githubusercontent.com/24239063/103500850-50517800-4e87-11eb-951f-c01bb18bcb1b.png)

and now i can login, but i still don't now how does it happen that the password is invalid.

[2021-01-04 04:25] yuswift opened #3246 "Add member clusters for an exiting multi-cluster-project."
**What's it about?**
Currently, if a user wants to deploy a multi-cluster workload, he must create a multi-cluster-workspace, then create a multi-cluster project, finally, deploy his workloads.
**What's the reason why we need it?**
If the user has created a multi-cluster project and needs to add a cluster to that project, there is no way to do that, which is inconvenient. We need to support adding

[2021-01-04 04:25] yuswift commented on #3246
/milestone 3.1.0

[2021-01-04 04:26] LinuxSuRen commented on #3245
I guess this caused by the unstabled LDAP. The community is going to integrate OIDC. I should be better. If you're interested in it, please follow up https://github.com/kubesphere/kubesphere/pull/3189

[2021-01-04 05:11] wansir commented on #3245
@WorldWay It may be due to the encrypted transmission feature of password, which relies on Redis(`ks-console` share session via Redis). You can check whether the Redis service is abnormal if you cannot log in. Please pay attention to the error message. Related: https://kubesphere.io/docs/faq/access-control/session-timeout.

/assign @wansir @leoendless

[2021-01-04 05:40] WorldWay commented on #3245
ok，now i will check the expired time of the key in redis and to see whether it caused this problem or not

[2021-01-04 07:44] csuffyy commented on #3245
@WorldWay Hi WorldWay, I got the same problem today, have you solved the problem yet?

[2021-01-04 07:55] WorldWay commented on #3245
@csuffyy
just can login but not resolve finally.
you can just use kubectl edit user <your username> to change password.

now I guess the token was expired and can not authenticate with database again.
if you have other viewpoint,we can discuss more.

[2021-01-04 07:56] FeynmanZhou commented on #3231
Okay. thanks.

[2021-01-04 07:56] #3231 closed

[2021-01-04 08:17] shaowenchen commented on #3246
/milestone 3.1.0

[2021-01-04 08:25] gotoworld opened #3248 "Why we use a such older version of Jenkins? no even not support JCasS"
As title, Just because of curiosity

[2021-01-04 08:28] wansir commented on #3245
@csuffyy The error prompt will be different in different situations. Please check the pod status of Redis, check the log of ks-apiserver and ks-console. You can check whether the password is correct by the following command:

[code]

[2021-01-05 02:21] csuffyy commented on #3245
@WorldWay @wansir Thank you very much! I checked the logs of Redis, found the error message is
"1:M 05 Jan 2021 01:22:43.148 # Background saving error
1:M 05 Jan 2021 01:22:49.066 * 1 changes in 3600 seconds. Saving...
1:M 05 Jan 2021 01:22:49.068 * Background saving started by pid 9713
9713:C 05 Jan 2021 01:22:49.069 # Write error saving DB on disk: No space left on device"

then I clear some fil

[2021-01-05 02:26] shaowenchen commented on #3246
/trigger

[2021-01-05 02:27] shaowenchen commented on #3246
/milestone 3.1.0

[2021-01-05 09:25] Bruce-Stark opened #3251 "There was a problem installing kubesphere 3.0"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**What's your question**
In the Ubuntu system, kubesphere 3.0 is compiled and installed with source code, and an error is reported code.cloudfoundry.org/bytefmt @v0.0.0-20190710193110-1eb035ffe2b6: Get " https://proxy.golang.org/code.cloudfoundry.org/bytefmt/@v/v0.0.0 -201907101

[2021-01-05 09:35] #3251 closed

[2021-01-05 10:39] Bruce-Stark opened #3252 "There was a problem installing kubesphere 3.0"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**What's your question**
There was a problem installing kubesphere 3.0

**Environment: OS & Hardware Information**

**Error logs or message (Attach logs or screenshot)**
 failed to start the controlplane. retried 5 times: fork/exec /usr/local/kubebuilder/bin/etcd: no such file o

[2021-01-06 01:29] LinuxSuRen commented on #3248
Duplicated topic. See also #3235
The community already have [a higher version of Jenkins](https://github.com/kubesphere/ks-jenkins). Cut it to short, you can have an external Jenkins instead of waiting the next release. I would suggest close this issue. Then track it via #3064
/support

[2021-01-06 01:38] LinuxSuRen commented on #3170
This was fixed in https://github.com/kubesphere/ks-installer/pull/1174. I believe that we can close this @MRGUO840140

[2021-01-06 01:39] LinuxSuRen commented on #3170
/area devops
/kind bug

[2021-01-06 01:41] LinuxSuRen commented on #3053
ping @shaowenchen

[2021-01-06 01:42] LinuxSuRen commented on #3197
Hi @ssmmray, have you resolved this issues or not? Do you need some help here? I'm glad to help you out of it.

[2021-01-06 01:51] RolandMa1986 commented on #3252
Hi @Bruce-Stark, I don't quite understand what's your issue. Would you please describe the issue more clearly? If you are trying to build KubeSphere. Please following our [guidance](https://github.com/kubesphere/community/blob/master/developer-guide/development/quickstart.md).

[2021-01-06 01:55] LinuxSuRen commented on #2862
Hi @chinazj , I'm glad to tell you that we already have this feature. Please see  https://github.com/kubesphere/console/pull/1385 if you want to know the details. And thanks for being interested in KubeSphere. We'd like to hear more feature enhancement proposal from you.

If you want to try it, you can install a new fresh KubeSphere via: `kk create cluster --with-kubesphere nightly-20210103 -y`. Y

[2021-01-06 02:16] LinuxSuRen commented on #1811
ping @shaowenchen

[2021-01-06 02:17] shaowenchen commented on #1811
/close

[2021-01-06 02:17] #1811 closed

[2021-01-06 02:17] shaowenchen commented on #3053
/close

[2021-01-06 02:17] #3053 closed

[2021-01-06 02:24] #3241 closed

[2021-01-06 02:38] gotoworld commented on #3248
Got it now, thanks

[2021-01-06 02:38] #3248 closed

[2021-01-06 02:46] LinuxSuRen commented on #1438
Hi, @Migo1989, I think your proposal is excellent. In order to let more people can involve in this instead of who cannot understand Chinese. Could you please rewrite this issue with English. Or rewrite the title at least.

/area devops
/kind request
/priority medium

[2021-01-06 05:04] #2958 closed

[2021-01-06 07:34] yuswift commented on #3234
/milestone 3.1.0

[2021-01-06 07:34] yuswift commented on #3213
/milestone 3.1.0

[2021-01-06 07:35] yuswift commented on #3232
/milestone 3.1.0

[2021-01-06 07:36] yuswift commented on #3202
/milestone 3.1.0

[2021-01-06 07:36] yuswift commented on #3135
/milestone 3.1.0

[2021-01-06 07:40] yuswift commented on #3084
@zryfish @wansir
Should we delete ws while unbound clusters?

[2021-01-06 08:00] wanjunlei commented on #3244
It searched no logs of your app when your app is deployed in project `emqx-prod`, and it searched logs correctly when your app is deployed in project `emqx-test`. Is this is your problem?

What is the user you use to query the log, and does this user have permission to access project `emqx-prod`?

[2021-01-06 08:05] WorldWay commented on #3244
I create the two project with the same user and image.every thing looks like the same except the name.
And now the project emqx-test can not collect logs correctly either

[2021-01-06 08:30] wanjunlei commented on #3244
There are any errors in the fluent bit log? It is in the kubesphere-logging-system project.

[2021-01-06 08:35] WorldWay commented on #3244
error like this:
![image](https://user-images.githubusercontent.com/24239063/103747160-35286900-503d-11eb-8beb-81d76267dfb6.png)

[2021-01-06 08:57] wanjunlei commented on #3244
This is log of fluentbit operator. You need to see the log of fluent-bit
![image](https://user-images.githubusercontent.com/53003665/103749228-35763380-5040-11eb-8524-f06ebd4e1188.png)

[2021-01-06 09:01] WorldWay commented on #3244
there has no error logs:
![image](https://user-images.githubusercontent.com/24239063/103749578-a4ec2300-5040-11eb-979a-da2b4cf4a75d.png)

[2021-01-06 09:08] wanjunlei commented on #3244
Can you view the log with kubectl logs or pod log, and past them, it is useful for locate the problem.

[2021-01-06 09:13] WorldWay commented on #3244
do you mean the logs in this path of the machine?
![image](https://user-images.githubusercontent.com/24239063/103750924-73745700-5042-11eb-9738-425522fc93a5.png)

[2021-01-06 09:21] WorldWay commented on #3244
[0.log](https://github.com/kubesphere/kubesphere/files/5774855/0.log)

[2021-01-06 09:21] wanjunlei commented on #3244
Yes, this is fine too.

[2021-01-06 09:26] wanjunlei commented on #3244
The fluent bit does not collect logs from 2021/01/06 01:50:51, please past the data of secret fluent-bit-config in project kubesphere-logging-system.

[2021-01-06 09:33] WorldWay commented on #3244
It does not collect logs since 2020/12/31.
[fluent-bit.conf.txt](https://github.com/kubesphere/kubesphere/files/5774958/fluent-bit.conf.txt)

[2021-01-06 10:11] LinuxSuRen commented on #3215
/area iam

[2021-01-07 05:38] LinuxSuRen commented on #3215
Hi @fukiki, I had a temporary solution. It might help you. https://github.com/kubesphere/kubesphere/pull/3189#issuecomment-755831676

[2021-01-07 05:41] LinuxSuRen commented on #3245
/kind support
/kind iam

[2021-01-07 06:47] youpai commented on #3132
我也遇到了这个问题，感觉安装过程太黑盒了，排查问题不方便

[2021-01-07 07:05] wansir commented on #3132
Please check the pod status under `kubesphere-system`, check the logs of ks-controller-manager. Usually caused by the storage or network.

Related: https://github.com/kubesphere/kubesphere/issues/2928

[2021-01-07 07:16] youpai commented on #3132
controller-manager第一次出错的信息：
[code]

[2021-01-07 07:16] wansir commented on #3132
After kubesphere is installed, the default account admin/P@88w0rd will be created. After the ks-controller-manager is ready to start, the user controller will encrypt the password defined in the user CRD, and the user will be converted to the active state, and then the account can log in normally. If there is a problem with storage or network, the user controller will not work properly, you can ge

[2021-01-07 07:25] wansir commented on #3132
.kubesphere-system.svc:443/validate-email-iam-kubesphere-io-v1alpha2-user?timeout=4s: context de
adline exceeded

Means that `https://ks-controller-manager.kubesphere-system.svc`cannot be accessed from kube-apiserver. Please check the status of calico-node and kube-proxy.

[2021-01-07 07:40] youpai commented on #3132
可能是`当使用 --cluster-signing-cert-file 和 --cluster-signing-key-file 参数启动时，在 kube-apiserver 中会激活 CSR 签名功能`问题，官方是RKE问题参考，二进制手动安装的集群，证书参数应该如何添加呢

[2021-01-07 07:45] youpai commented on #3132
编辑controller，command启动参数添加`--cluster-signing-cert-file`和`--cluster-signing-key-file`吗

[2021-01-07 07:55] wansir commented on #3132
https://github.com/kubesphere/kubesphere/issues/1925#issuecomment-591698309

I don’t think so, the main issue is request time out.

[2021-01-07 08:22] youpai commented on #3132
参考：https://kubesphere.com.cn/forum/d/2315-kubesphere30-admin/2，执行`kubectl delete validatingwebhookconfigurations.admissionregistration.k8s.io users.iam.kubesphere.io`，登录成功了……

[2021-01-07 08:35] wansir commented on #3132
:sweat_smile: Validatingwebhook is used for data verification, network problem still exist.

[2021-01-07 08:41] yinmin2020 opened #3259 "功能需求：自建Harbor仓库镜像拉取添加浏览功能"
自建的harbor仓库在镜像搜索的时候需要镜像名称+tag完全输入才可以搜索到，不是很便利。希望支持模糊搜索或者新增浏览功能，非常感谢

[2021-01-07 08:54] Bruce-Stark opened #3260 "Some questions about modifying console (frontend) by myself."
I'm writing this issue to ask about how to modify the frontend when running nodes. I was using the instruction "./kk create cluster --with-kubernetes v1.17.9 --with-kubesphere v3.0.0" to create the cluster. I wonder if I can modify the IP:30880 frontend by myself. Can you give me some related instructions?

[2021-01-07 09:45] fukiki commented on #3215
@LinuxSuRen Thank you for your help, It doesn't work.

According to #3189, the feature has not been completed, and I will continue to pay attention to the progress of OAuth2 Identity Provider, thanks again.

[2021-01-08 01:34] idlej commented on #3093
HI,
but how  to add self-signed CA to this s2i tool?

[2021-01-08 02:04] RolandMa1986 commented on #3093
Hi there,
Please see the [document ](https://v2-1.docs.kubesphere.io/docs/developer/s2i-template/) about how to customize the s2i tool.  Generally, You can change the dockerfile and add the following steps:

[code]

[2021-01-08 02:56] #2862 closed

[2021-01-08 05:49] stoneshi-yunify commented on #2844
Quote from reply of https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/18 :
[code]

Therefore, this issue is working as design.

/close

[2021-01-08 05:49] #2844 closed

[2021-01-08 05:49] stoneshi-yunify commented on #2804
Quote from reply of https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/18 :
[code]

Therefore, this issue is working as design.

/close

[2021-01-08 05:49] #2804 closed

[2021-01-08 10:16] xyz-li opened #3261 "Refacator openpitrix with CRD"
Refacator openpitrix with CRD

/area app-management
/kind feature-request

[2021-01-08 14:15] wansir opened #3263 "Proxy upgrade failed"
**Describe the Bug**

WebSocket proxy request authentication failed caused by using service account token in kubeconfig(used for cluster connection).

[code]

[code]

[2021-01-08 14:19] wansir commented on #3263
/kind bug
/milestone 3.1.0
/assign

[2021-01-08 14:31] wansir commented on #3263
/assign @zryfish

[2021-01-11 01:23] LinuxSuRen commented on #3260
I'm not sure what you want to know. But [console](https://github.com/kubesphere/console) is the front-end project if you are looking for it.

/kind support

[2021-01-11 01:49] hulengjing opened #3264 "Ldap config Covered"
**Describe the Bug**
After LDAP is modified to external configuration, if you modify the configuration of ks_install and restart, the ldap configuration will be cleared and the local ldap will continue to be used

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: v1.16.13   ks_install

**Environment**
Ubuntu 18.04.3 LTS / 3 master/node:  16cpu/64g;

**How To Reproduce**
1. Restart ks_apiserver to t

[2021-01-11 02:10] wansir commented on #3264
related: https://github.com/kubesphere/ks-installer/issues/1113

/kind bug

[2021-01-11 02:41] #3264 closed

[2021-01-11 07:25] wizard2318-dunk opened #3265 "Kubesphere source code compilation"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**What's your question**
When installing and deploying kubesphere, you will always be prompted:

fork/exec /usr/local/kubebuilder/bin/etcd: permission denied

**Environment: OS & Hardware Information**
unbuntu 20.04 System

**Error logs or message (Attach logs or screenshot)**
f

[2021-01-11 09:17] charnet1019 opened #3266 "alerting-watcher start failed"
Kubesphere version: 2.1.1

The service alerting-watcher can not start after server reboot.

err log:
[root@node2 opt]# kubectl logs -n kubesphere-alerting-system  alerting-watcher-799475d5dc-b2997
2021-01-11 15:33:05.33919 -INFO- LoadConf: &{Log:{Level:info} Grpc:{ShowErrorCause:false} Mysql:{Host:mysql.kubesphere-system.svc Port:3306 User:root Password:password Database:alert Disable:false LogMod

[2021-01-11 14:02] Bruce-Stark commented on #3260
Thank you so much sir, I know what to do now

[2021-01-12 05:29] RolandMa1986 commented on #3200
/close

[2021-01-12 05:29] #3200 closed

[2021-01-12 06:16] zryfish commented on #3263
/cc @yuswift

[2021-01-12 06:48] wujunwei opened #3269 "Unable to find property 'startupProbe' on class ,jenkins plugin don't support startupProbe"
**Describe the Bug**
When I use jenkins pipeline to deploy my app ,the error appeared  `Unable to find property 'startupProbe' on class: io.kubernetes.client.openapi.models.V1Container` and I found someone [who](https://github.com/jenkinsci/kubernetes-cd-plugin/issues/140) faced the same error as I faced.

The  jenkins kubernetes-cd-plugin doesn't support this feature, it 's too old to use. do you

[2021-01-13 02:42] daniel-hutao opened #3270 "Compiling Templates link is 404"
**Describe the Bug**

When I use 【Image Builders】 on ks 3.0, I found the help message below:

Application developers can use the following environment variables to configure the runtime behavior of this image; for detailed configurations, please see [Compiling Templates](https://v3-0.docs.kubesphere.io/docs/project-user-guide/application-workloads/s2i-template/).

The link here is 404 now.

**Vers

[2021-01-13 09:48] hulengjing opened #3271 "The container log is enabled and does not refresh in real time"
**Describe the Bug**
The container log is enabled and does not refresh in real time and wss access to member cluster resources is abnormal

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: v1.16.13   ks_install

**Environment**
Ubuntu 18.04.3 LTS / 3 master/node:  16cpu/64g;
The member cluster is connected through a direct proxy

**How To Reproduce**
1. Open the container log and enable the real-t

[2021-01-13 14:41] yyt6200 opened #3272 "The secret key of habor has been added. Select image prompt x509 when adding container"
The private warehouse has created a self signed certificate, and the node has verified that it can log in directly. Kubesphere has successfully set the secret key of the warehouse, but when creating the task selection container, the return value of the interface for selecting the input content of the private warehouse is still **x509: Certificate signed by unknown authority.**

[2021-01-14 02:52] wansir commented on #3272
@yyt6200 Actually x509 error is on docker side. The daemon failed to pull image from that insecure registry. You can trust/skip the registry security，see also https://docs.docker.com/registry/insecure.

[2021-01-14 02:57] wansir commented on #3266
@charnet1019

The error is caused cannot connect to etcd, please check the service status of `etcd.kubesphere-system.svc`.

[2021-01-14 03:19] yyt6200 commented on #3272
@wansir Thank you for your reply. I have made a self signed certificate, and the node docker can log in to harbor without configuring the insure registry. In this case, do you still have to configure the insure registry?

[2021-01-14 03:28] zryfish commented on #2953
/reopen
@wansir Is this issue fixed now?

[2021-01-14 03:43] wansir commented on #3272
You should install and trust your self-signed certificate in all nodes.

[2021-01-14 03:49] wansir commented on #2953
Fixed in https://github.com/kubesphere/kubesphere/pull/3140

Related: https://github.com/kubesphere/kubesphere/pull/3257#issuecomment-755859785

/kind need-to-verify

[2021-01-14 03:51] yyt6200 commented on #3272
@wansir For all nodes of k8s, I have copied the self signed certificate to /etc/docker/certs.d/harbor.od.com/ Folder, I would like to ask, this is to do a trust certificate operation? The docker of each node can log in to the harbor without configuring the insurance registry.

[2021-01-14 04:05] wansir commented on #3272
So strange, please follow this document https://docs.docker.com/registry/insecure/#use-self-signed-certificates, make sure that you can pull images from the private registry in all of the nodes.

[2021-01-14 05:14] yyt6200 commented on #3272
Yes, I have tried to pull the mirror image on all nodes, and there is no problem. If you disable the HTTPS of harbor and change to HTTP, kubesphere can retrieve the image from the private warehouse.

[2021-01-14 07:09] RolandMa1986 commented on #3192
@wansir
The following resources are directly owned by CRD _WorkspaceTemplate_ and _Workspace_.
## WorkspaceTemplate
- [ ] WorkspaceRoleBinding
- [ ] WorkspaceRole
- [ ] Workspace
- [ ] Groups(todo)

## Workspace
- [x] Namespace
- [ ] DevOpsProject

By using PropagationPolicy options, we can choose whether those resources are cascade deleted. However, this would leave a lot of garbage. And not all

[2021-01-14 07:15] RolandMa1986 commented on #3265
Hi @wizard2318-dunk, I'm going to close the issue since it's not a kubesphere issue.
/close

[2021-01-14 07:15] #3265 closed

[2021-01-14 07:18] wansir commented on #3192
I think namespace and devops project can be deleted in cascade or not, we need to force delete resources that cannot be transferred(such as workspacerole/workspacerolebinding). Related to:  https://github.com/kubesphere/kubesphere/issues/3028

[2021-01-14 07:19] RolandMa1986 commented on #3270
/area console
/kind bug
/cc @leoendless

[2021-01-14 07:20] RolandMa1986 commented on #3252
/close

[2021-01-14 07:20] #3252 closed

[2021-01-14 07:29] RolandMa1986 commented on #3269
Hi @wujunwei , Thanks for engaging in the KubesSphere community. We will watch this issue closely and update the plugin once the upstream is updated.
/area devops
/kind support
/cc @LinuxSuRen

[2021-01-14 07:36] LinuxSuRen commented on #3269
Of course, we will keep an on eye this. But it looks like that resolving this problem mainly relies on the Jenkins community.

[2021-01-14 08:08] leoendless commented on #2716
KS is not a self-registered saas service. This feature seems unnecessary.

[2021-01-14 08:14] wujunwei commented on #3269
Changing another jenkins plugin may be a good way。 Have any Plan B ?

[2021-01-15 02:16] #3219 closed

[2021-01-15 03:02] xuelangos opened #3273 "log search"
log keyword search support  ”or“ and  ”and“ grammar；
just now only support "or";
Unable to pinpoint specific log entries；

[2021-01-15 04:05] calvinyv commented on #2716
This is required by GDPR of European Union

[2021-01-15 04:11] zackzhangkai opened #3274 "Upgrade k8s version from v1.17 to v1.18"
**What's it about?**

Upgrade k8s version to V1.18

/area upgrade

[2021-01-15 04:14] #3274 closed

[2021-01-15 06:42] xuliwenwenwen commented on #3192
/assign

[2021-01-15 08:01] shaowenchen opened #3275 "Approval process support parameters"
**What's the reason why we need it?**

The user may need to enter parameters when approving the pipelines.

**Area Suggestion**

 /area devops

/kind feature-request

[2021-01-15 09:39] shaowenchen opened #3276 "Pipeline supports directory branching"
**Describe the Bug**

It causes a 404 alert.

![image](https://user-images.githubusercontent.com/43693241/104708290-7a911880-5758-11eb-9bd3-750eabd07dc0.png)

**Versions Used**
KubeSphere: 3.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/area devops

[2021-01-16 09:33] baojunz opened #3277 "node-exporter CrashLoopBackOff"
本地使用 docker for mac v1.18.8 版本，安装的 k8s后。
使用最小化安装方式开始安装 kubesphere，目前发现 node-exporter 不停重启 显示 CrashLoopBackOff

使用  kubectl describe 命令进行查看，发现错误提示为：

Events:
  Type     Reason     Age                     From               Message
  ----     ------     ----                    ----               -------
  Normal   Scheduled  8m23s                   default-scheduler  Successfully assigned kubesphere

[2021-01-18 02:19] #3065 closed

[2021-01-18 02:39] wenxin-01 opened #3278 "DevOps/The pipeline list is wrong when more than 10 pipelines are created"
**Describe the Bug**
When the 11th pipeline is created successfully, the last pipeline in the pipeline list disappears and an exception pipeline is generated
For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:

**Environment**
http://allinone:30880

**Preset conditions**
There is a DevOps project  'test', which consists of 10 pipelines

**How To Reproduc

[2021-01-18 02:58] wenxin-01 opened #3280 "When the pipeline runs to the step input , there is no choice to continue or end, let alone enter content."
**Describe the Bug**
When the pipeline runs to the step input, there is no choice to continue or end, let alone enter content.

**Versions Used**
KubeSphere:

**Environment**
http://k1.dev.chenshaowen.com:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1. Create pipeline 'Test' using JenkinsFile below:
pipeline {
    agent any
    stages {
        stage('Example') {
            input

[2021-01-18 03:17] wenxin-01 opened #3281 "The pipeline was removed by the Jenkins client is still in the pipeline list of KS."
**Describe the Bug**
There was a pipeline removed by Jenkins client, and is still in the pipeline list of KS.

**Versions Used**
KubeSphere:

**Environment**
http://allinone:30880/

**Preset conditions**
There is a pipeline 'Test'

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to Jenkins client and delete pipeline 'Test'.
2. Go to pipeline list of KS.
3. checkout pipeline 'Test'

**E

[2021-01-18 03:47] wenxin-01 opened #3282 "The pipeline cannot be audited by the admin user of workspace."
**Describe the Bug**
There is account 'A' , whose platform role is platform-regular and workspace role is viewer and It is  an auditor of the pipeline, it cannot audit the pipeline.

**Versions Used**
KubeSphere:

**Environment**
http://allinone:30880/

**Preset conditions**
1、There is account 'A' , whose platform role is platform-regular and workspace role is admin and It is an auditor of the pip

[2021-01-18 05:41] wenxin-01 opened #3283 "The creator of pipeline cannot audit this pipeline."
**Describe the Bug**
There is account A, whose platform role is platform-admin, and workspace role is admin, which is the creator and runner of the pipeline, and It is not the reviewer of the pipeline,  it cannot audit the pipeline.

**Versions Used**
KubeSphere:

**Environment**
http://allinone:30880/

**Preset conditions**
There is account A, whose platform role is platform-admin, and workspace

[2021-01-18 06:14] wenxin-01 opened #3284 "The interface reported an error when editing the pipeline created via JenkinsFile."
**Describe the Bug**
The interface reported an error when editing the pipeline created via JenkinsFile using the graphical interface.

**Versions Used**
KubeSphere:

**Environment**
http://allinone:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1. Create pipeline ’test‘ using the default Settings.
2. Go to the details page of pipeline ’test‘.
3. click edit JenkinsFile.
4. Enter the

[2021-01-18 06:50] RolandMa1986 commented on #3277
Hi @baojunz,
Node-Exporter is not designed to run on Mac. So you may disable the monitoring component.
/area monitoring
/kind support

[2021-01-18 06:52] RolandMa1986 commented on #3273
/area logging
/kind feature-request
/cc @benjaminhuo

[2021-01-18 06:55] RolandMa1986 commented on #3271
/area logging
/area multicluster
/kind bug

[2021-01-18 06:57] RolandMa1986 commented on #3260
/close

[2021-01-18 06:57] #3260 closed

[2021-01-18 09:35] FeynmanZhou commented on #3273
As I got from @xuelangos , Kibana already supports both ”or“ and ”and“ grammar in the keyword search.

![image](https://user-images.githubusercontent.com/40452856/104897521-701e8b00-59b3-11eb-8827-46b317b08e6b.png)

[2021-01-19 01:17] baojunz commented on #3277
您好，我是使用  https://kubesphere.io/docs/quick-start/minimal-kubesphere-on-k8s/ 这个地址下的文档进行的安装使用，请问我该如何禁用Node-Exporter 该组件呢。

[2021-01-19 01:43] RolandMa1986 commented on #3277
@baojunz,
1. Please follow our guidance.
**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**
2. You can download the config file first and change components as needed before you apply it.
`wget https://github.com/kubesphere/ks-installer/releases/download/v3.0.0/cluster-configuration.yaml`
Disable **monitoring** component by :
[code]
/close

[2021-01-19 01:44] #3277 closed

[2021-01-19 02:20] baojunz commented on #3277
According to your tips, I am interested in cluster- configuration.yaml In the file

monitoring:
    enable: false

The adjustment has been made, but the error reported is as follows. In addition, the error reported during login is: internal error occurred: account is not active

Task 'monitoring' failed:
**********************************************************************************************

[2021-01-19 02:37] RolandMa1986 commented on #3277
Just need add "enabled: false". Do not delete any other attributes. Seems like you have deleted other attributes like 'prometheusVolumeSize'.
And I suggest you can use Minikube instead or use a centos/ubuntu based Linux. Kubernetes On Docker for mac was never tested.

[2021-01-19 02:42] baojunz commented on #3277
Thank you very much. I tried to build it with Ubuntu.

[2021-01-19 03:21] LinuxSuRen commented on #3275
/area devops

[2021-01-19 05:35] LinuxSuRen commented on #3282
related front-end issue https://github.com/kubesphere/console/issues/1431

[2021-01-19 05:35] LinuxSuRen commented on #3283
related front-end issue https://github.com/kubesphere/console/issues/1431

[2021-01-19 05:39] LinuxSuRen commented on #3280
This should be a feature request instead of a bug. Currently, we don't have this feature.

/kind feature-request

[2021-01-19 05:45] LinuxSuRen commented on #3280
/remove-priority high

[2021-01-20 06:26] wenxin-01 commented on #3043
In the latest version of DevOps, this bug persists.

[2021-01-20 06:51] l19891223j opened #3287 "etcd start failed"
Kubesphere version: 2.1.1

The service etcd can not start after server reboot.

err log:

2021-01-20 06:43:07.834123 W | pkg/flags: unrecognized environment variable ETCD_PORT_2379_TCP=tcp://10.233.52.139:2379

2021-01-20 06:43:07.834393 W | pkg/flags: unrecognized environment variable ETCD_SERVICE_PORT=2379

2021-01-20 06:43:07.834425 W | pkg/flags: unrecognized environment variable ETCD_PORT_237

[2021-01-20 09:31] shaowenchen commented on #3280
/cc @kubesphere/sig-devops

[2021-01-20 14:09] yunkunrao commented on #3287
/kind support

[2021-01-21 00:24] l19891223j commented on #3287
what?

[2021-01-21 08:13] #2941 closed

[2021-01-21 09:10] shaowenchen commented on #3276
/milestone 3.1.0
/assign @shaowenchen

[2021-01-21 09:15] shaowenchen commented on #3287
@kubesphere/sig-infra

[2021-01-21 09:22] shaowenchen commented on #3261
Please submit a proposal for discussion of the feature, just like https://github.com/kubesphere/community/issues/295.

[2021-01-21 09:37] shaowenchen commented on #3259
/kind feature
/area devops
@kubesphere/sig-devops

[2021-01-21 11:10] #2954 closed

[2021-01-21 12:03] #3211 closed

[2021-01-21 12:11] #2981 closed

[2021-01-22 02:39] Forest-L commented on #3287
@l19891223j  Are there any other service exceptions besides the ETCD service exceptions?

[2021-01-22 07:43] yuswift commented on #3263
### Reproduce the bug:
1. Directly add a member cluster with a token contained kubeconfig.(https://docs.oracle.com/en-us/iaas/Content/ContEng/Tasks/contengaddingserviceaccttoken.htm)
2. Login the host cluster console, enter into a pod and will get a 403 error.

[2021-01-22 08:23] LinuxSuRen opened #3290 "ks-controller-manager always panic"
**Describe the Bug**
ks-controller-manager always panic.

**Versions Used**
KubeSphere: v3.0.0

**Environment**
This issue is not related to the environment.

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to DevOps project
2. Create a Pipeline with choice parameters
3. Trigger the Pipeline, then wait for a while
4. Update the Pipeline again

You will find out the `ks-contrller-manage

[2021-01-22 08:23] LinuxSuRen commented on #3290
/cc @kubesphere/sig-devops

[2021-01-22 08:26] LinuxSuRen commented on #3290
There's another issue #3176 that is very similar to this.

[2021-01-22 15:05] #3187 closed

[2021-01-22 15:19] zackzhangkai opened #3292 "Feat: support inject sidecar automatically, when the deployment has annotation `servicemesh.kubesphere.io/enabled`"
**What's it about?**

When an deployment belongs to KubeSphere servicemesh application, the `servicemesh.kubesphere.io/enabled` annotation is necessary.  Meanwhile, the annotation `sidecar.istio.io/inject: "true"` is also necessary. So we can make it simplify by one annotation, and then trigger the other.

Support inject sidecar automatically, when the deploy has annotation `servicemesh.kubesphere

[2021-01-23 06:12] #2990 closed

[2021-01-23 08:01] #2991 closed

[2021-01-25 02:24] shaowenchen commented on #3276
/project sig-devops

[2021-01-25 02:26] shaowenchen commented on #3276
/project sig-devops

[2021-01-25 02:37] wansir opened #3293 "kubectl terminal session disconnect rapidly"
**Describe the Bug**

The container terminal connection uses the WebSocket protocol. WebSockets will be affected by `proxy read timeout` if a reverse proxy is used. We need to increase the timeout or implement a ping message to keep the connection alive. The ping solution has the added benefit of discovering if the connection was closed unexpectedly.

![image](https://user-images.githubusercontent

[2021-01-25 02:38] shaowenchen commented on #3276
/project sig-devops

[2021-01-25 02:54] shaowenchen commented on #3290
/project sig-devops

[2021-01-25 03:01] shaowenchen commented on #3276
/project devops

[2021-01-25 03:46] shaowenchen commented on #3276
/project devops

[2021-01-25 03:59] shaowenchen commented on #3142
/area devops

[2021-01-25 04:03] shaowenchen commented on #1708
/area devops

[2021-01-25 04:08] shaowenchen commented on #2843
/area s2i

[2021-01-25 04:09] shaowenchen commented on #2843
/area devops

[2021-01-25 04:10] vincenthe-ks opened #3295 "Multi-cluster mode Multi-Harbor Down image faild"
**Describe the Bug**
Multi-cluster mode:
hosts: 3master + 2node  Harbor: mgmt.cloud.com
member: 3master + 9 node Harbor: test.cloud.com

When I login hosts cluster， select the member cluster to deploy bookinfo。
default image: mgmt.cloud.com/kubesphere/examples-bookinfo-reviews-v1:1.13.0
The correct image should be： test.cloud.com/kubesphere/examples-bookinfo-reviews-v1:1.13.0

**Versions Used**
Ku

[2021-01-25 04:12] shaowenchen commented on #2843
/project devops

[2021-01-25 05:32] shaowenchen commented on #265
/area devops

[2021-01-25 05:33] shaowenchen commented on #265
/project devops

[2021-01-25 05:41] LinuxSuRen commented on #3064
There's [an article](https://mp.weixin.qq.com/s/StOq-pelQ_LfIRCWDLfbsg) that introduces how to do that. But it was written in Chinese.

[2021-01-25 05:44] FeynmanZhou commented on #3064
It looks like experimental support, it's not recommended for production.

[2021-01-25 06:04] #3213 closed

[2021-01-25 07:24] LinuxSuRen commented on #3281
I'd like to say that we don't support this kind of operation currently. In my view, it's unnecessary to support this. Please comment here if you have a good use case.

/cc @kubesphere/sig-devops

[2021-01-25 07:27] LinuxSuRen commented on #3064
Thanks for the clarification. It's just a guide for those who want to give it a try.

[2021-01-25 07:29] LinuxSuRen commented on #3170
/cc @kubesphere/sig-devops I'd suggest that we close this issue due to it's fixed a long time ago.

[2021-01-25 07:30] FeynmanZhou commented on #3064
I've seen many times for this user requirement.

[2021-01-25 07:34] shaowenchen commented on #3170
/close

[2021-01-25 07:34] #3170 closed

[2021-01-26 01:53] LinuxSuRen commented on #3278
This issue was fixed by #3279

[2021-01-26 01:53] shaowenchen commented on #3278
/close

[2021-01-26 01:53] #3278 closed

[2021-01-26 02:37] #3245 closed

[2021-01-26 02:38] #3172 closed

[2021-01-26 03:17] FeynmanZhou commented on #3064
@LinuxSuRen I will retweet this [blog](https://mp.weixin.qq.com/s/StOq-pelQ_LfIRCWDLfbsg) on KubeSphere Wechat subscription, and invite some users to leave their comments and requirements below.

[2021-01-26 03:21] LinuxSuRen commented on #3064
Good to hear that. Hopefully, we can receive some useful comments.

[2021-01-26 06:31] wenxin-01 opened #3297 "The interface returns an error when accessing an enterprise organization with an account that has workspace view permission"
**Describe the Bug**
The interface returns an error when accessing an enterprise organization with an account that has workspace view permission

**Versions Used**
KubeSphere:

**Environment**
http://allinone:30880/

**Preset conditions**
1、There is account A, whose platform permission is workspace view and does not join workspace.
2、There is workspace 'ws-test'.

**How To Reproduce**
Steps to rep

[2021-01-26 06:43] #2995 closed

[2021-01-26 07:16] wenxin-01 opened #3298 "The status of the group was wrong when deleting the group"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/105811721-02dcac80-5fe8-11eb-93af-52efb93765ea.png)

**Versions Used**
KubeSphere:

**Environment**
http://allinone:8080/

**Preset conditions**
1、There is workspace 'ws-demo1',has group test1、test2.

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'ws-demo1'
2. Click on 'Enterprise organizati

[2021-01-26 07:41] zryfish opened #3299 "Sidecar management"
**What's it about and why we need it?**
[Sidecar](https://kubernetes.io/docs/concepts/workloads/pods/#using-pods) is a separate container that sits aside the main container inside a pod. Sidecar can be used in logging, monitoring, and is widely used by Istio. Since K8s v1.18, container can be specific created as a sidecar by adding `lifecyle`.
[code]

Hence, I think we need a better way to organiz

[2021-01-26 07:59] wenxin-01 opened #3300 "When the same user is assigned to multiple groups, user information overlaps."
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/105815058-5271a700-5fed-11eb-98cf-14911e432438.png)

**Versions Used**
KubeSphere:

**Environment**
http://allinone:8080/

**Preset conditions**
There is a workspaces 'wx-demo1'

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'wx-demo1'
2. Click on 'Enterprise organization'
3. Assign the same

[2021-01-26 08:18] wenxin-01 opened #3301 "The content of the DevOps project's drop-down box is not consistent with what is displayed"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/105817737-f90b7700-5ff0-11eb-8aad-c3ea98fd23f8.png)

**Versions Used**
KubeSphere:

**Environment**

http://allinone:8080/

**Preset conditions**
There is workspace 'ws-demo', it has devops 'dev4'、group 'test199'

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'ws-demo1'
2. Click on 'Enterpri

[2021-01-26 08:20] zryfish commented on #3301
/assign @xuliwenwenwen

[2021-01-26 08:39] wenxin-01 opened #3302 "When the Group has too many horizontal layers, the page is not friendly"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/105819634-628c8500-5ff3-11eb-9720-c236ca76c716.png)

![image](https://user-images.githubusercontent.com/68640256/105820666-d0857c00-5ff4-11eb-9f4f-aff35ee0cc4a.png)

**Versions Used**
KubeSphere:

**Environment**
http//:allinone:8080/

**Preset conditions**
There is workspace 'ws-demo'

**How To Reproduce**
Steps to r

[2021-01-26 08:44] zryfish commented on #3302
/assign @xuliwenwenwen

[2021-01-26 08:45] zryfish commented on #3301
/assign @xuliwenwenwen

[2021-01-26 09:04] wenxin-01 opened #3303 "When deleting a group of assigned users, there should be a prompt."
**Describe the Bug**

**Versions Used**
KubeSphere:

**Environment**
http://allinone:8080/

Preset conditions
1、There is workspace 'ws-demo1',has group test1
2、group ’test1‘ has assigned users

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'ws-demo1'
2. Click on 'Enterprise organization'
3. Click on 'Maintain Organizational Structure'
4. Click Delete after Group test1

*

[2021-01-26 09:08] yyt6200 opened #3304 "Why does the statistics of scheduling times not decrease"
for instance:

I expand the replica of a pod. For example, if I expand from one replica to 10 replicas, the number of scheduling times of cluster state monitoring will be 9, and the number of scheduling times will be maintained no matter how long it takes. Then I expand the replica to 15. At this time, the monitoring of scheduling times will remain at 14, no matter how long it has been. If I delet

[2021-01-26 09:12] yyt6200 commented on #3304
/kind bug

[2021-01-26 09:13] shaowenchen commented on #3276
fixed https://github.com/kubesphere/console/pull/1448

[2021-01-26 09:26] wenxin-01 opened #3306 "The same Devops project is should not bound multiple times"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/105825643-c9fa0300-5ffa-11eb-8c7a-98a2721a860a.png)

**Versions Used**
KubeSphere:

**Environment**
http://allinone:8080/

Preset conditions
There is workspace 'ws-demo',has group test1 and many devops.

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'workspaces 'ws-demo'
2. Click on 'Enterprise organi

[2021-01-26 10:04] wenxin-01 opened #3307 "Inaccurate message when a role is not selected"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/105829120-eac45780-5ffe-11eb-830c-291786409526.png)

**Versions Used**
KubeSphere:

**Preset conditions**
There is workspace 'ws-demo‘,has  project 'q10'、’q8‘、’q7‘

**Environment**
http://allinone:8080/

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'ws-demo'
2. Click on 'Enterprise organiza

[2021-01-26 12:35] shaowenchen opened #3308 "can't create workloads using self-signed certificate harbor"
## General remarks

**Describe the Bug**

A harbor deployed with a self-signed certificate cannot create an application

![image](https://user-images.githubusercontent.com/43693241/105845664-1bfc5200-6016-11eb-85dd-b3072d59a7c2.png)

**Versions Used**

KubeSphere: 3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/area devops
/project devops
@kubesphere/sig-devops

[2021-01-26 12:36] shaowenchen commented on #3308
let me fix it.
/assign @shaowenchen

[2021-01-26 13:12] shaowenchen opened #3309 "Create inscm pipelines using credentials from the credential list"
## General remarks

![image](https://user-images.githubusercontent.com/43693241/105848959-ae065980-601a-11eb-9b57-a4c9458e4f65.png)

It makes the user confused while creating a pipeline from the git repo. A new credential will be created.

**What's the reason why we need it?**

Create pipelines using credentials from the credential list

refer to https://kubesphere.com.cn/forum/d/3589-devopsbitbuc

[2021-01-27 03:27] lxm opened #3311 "Add node shell in cluster managment"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

![image](https://user-images.githubusercontent.com/1918195/105938390-72a77180-6092-11eb-

[2021-01-27 06:46] MrVBian opened #3312 "Add remote login SMS verification function"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2021-01-27 08:12] shaowenchen commented on #3269
/project devops

[2021-01-27 08:53] zhujiancc commented on #1021
有没有进展呀， 现在使用TKE的容器服务，  在使用网关LoadBalance做流量治理， 不知道如何处理

[2021-01-27 08:55] kevinpan45 opened #3313 "v3.0.0 All-in-One installation download package SHA256 no match"
**What's your question**
Install v3.0.0 follow
https://kubesphere.com.cn/docs/quick-start/all-in-one-on-linux/

download package SHA256 no match

**Environment: OS & Hardware Information**

CentOS 7.6

**Error logs or message (Attach logs or screenshot)**
install command
`./kk create cluster --with-kubernetes v1.17.9 --with-kubesphere v3.0.0`
error msg
`Failed to download kube binaries: Failed to

[2021-01-27 09:01] rayzhou2017 commented on #3313
delete kubekey folder in your machine first.

[2021-01-27 09:18] gotoworld commented on #3064
Glad to hear that,   the vesion of  internal Jenkins is old.

[2021-01-27 14:38] LinuxSuRen commented on #3313
hi @kevinpan45 , it might be caused by an incomplete process. This [PR](https://github.com/kubesphere/kubekey/pull/425/files#diff-f71dcc250e0d3df80d3819f40b9e81560e471b12f2a3528f280dd8702ef29864R83) intend to fix it. You can try it again with the latest kk. But you might need to compile kk from the source.

[2021-01-28 00:58] FeynmanZhou commented on #1021
Actually you can remove the default annotations key of qingcloud xxx, and replace them with the annotations of [Tecent Cloud LB](https://github.com/tencentcloud/tencentcloud-cloud-controller-manager/blob/master/README_zhCN.md#%E5%88%9B%E5%BB%BA-loadbalancer-service).

[2021-01-28 01:48] LinuxSuRen commented on #3309
So I guess the solution is that allows users to choose an exist credential or provide a dialog to create a new one. Perhaps the front-end needs to make some changes. Right? Or the backend might also needs to make changes.

[2021-01-28 02:01] shaowenchen commented on #3309
You are right.

[2021-01-28 02:13] LinuxSuRen commented on #3309
So, do we need to create an issue from the console side? The forks who is responsible for the front-end needs to know about this issue.

[2021-01-28 02:23] shaowenchen commented on #3309
If ready to implement it now, we can sync it to the console.

[2021-01-28 02:38] #2998 closed

[2021-01-28 03:23] zackzhangkai opened #3315 "Feat: Support Pre Traffic Management Pane"
**What's it about?**

Now, The Traffic Managemet Pane is dependent on the Traffic Topology Graph. If there is no traffic access in, we cannot make some traffic rules on the services. So, we need support this feature by directly show the button on every service.

![image](https://user-images.githubusercontent.com/20178386/106085293-e614b600-615a-11eb-88ef-4c79ef4fc6dc.png)

![image](https://user-im

[2021-01-28 03:26] zackzhangkai commented on #3315
/area console

[2021-01-28 03:53] zackzhangkai opened #3316 "Feat: Add servicemesh Controller"
**What's it about?**

If a service belongs to ServiceMesh Application. Both of the Service and the Deployment should have the same labels and annotations. If we want to transfer a service to a ServiceMesh Application, we should do the same thing in the service, then in the deployment. So we can just label and annotate the service, then trigger the deployment automatically.

/area microservice
/ass

[2021-01-28 06:28] #3276 closed

[2021-01-28 07:42] LinuxSuRen commented on #1438
Hi, @Migo1989, I filed an issue https://github.com/openpitrix/openpitrix/issues/1048. Let's keep an eye on it.

[2021-01-28 07:43] LinuxSuRen commented on #1438
/retitle Request to support publish and deploy helm chart in KubeSphere

[2021-01-28 10:26] liuyp2018 opened #3318 "[workspace-quota]-there is a problem after modifying the limits of a running pod to exceed the limits of enterprise space"
modify the limits of a running pod to exceed the limits of the enterprise space, the pod status is still displayed as running
execute the following command，can see the error message as follow：
kubectl -n test describe rs nginx-6679875ccb
![image](https://user-images.githubusercontent.com/36271543/106124485-17f73e00-6196-11eb-810c-b2957e5fa40a.png)

/kind bug
/assign @wansir
/priority high

[2021-01-28 11:53] lxm opened #3320 "Support Independent configuration of storageclass for each component"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

https://github.com/prometheus/prometheus/issues/7090

promethues do not support nfs file

[2021-01-28 13:04] benjaminhuo commented on #3320
Prometheus' storage class can be modified by editing Prometheus CRD:

https://github.com/kubesphere/kube-prometheus/blob/ks-v3.0/manifests/prometheus-prometheus.yaml#L67
https://github.com/prometheus-operator/prometheus-operator/blob/master/pkg/apis/monitoring/v1/types.go#L446 https://kubernetes.io/docs/concepts/storage/persistent-volumes/#persistentvolumeclaims

[2021-01-28 13:43] wansir commented on #3318
/remove-kind bug
/kind feature-request

There is no place to show the events of replicasets.

[2021-01-28 14:07] #2985 closed

[2021-01-29 02:52] zackzhangkai opened #3321 "Integrate Kong Ingress into KubeSphere"
**What's it about?**

Integrate Kong Ingress into KubeSphere

Inspired by https://stackoverflow.com/questions/64967929/kong-loadbalancer-over-kubesphere

/area microservice
/assign @zackzhangkai

[2021-01-29 03:12] klj890 opened #3322 "Customize create user buttons"
**What's it about?**

When connected to an external LDAP service, can customize the account management page.
Such as:
Turn off the create user
Turn off Reset User Password

**What's the reason why we need it?**

After connect external user authentication service, create a user on the console, cannot login.

**Area Suggestion**

/kind feature-request

[2021-01-29 03:17] wenxin-01 opened #3323 "[workspace-quota]When the Workspace quota is not limited, The resource used returned by the interface is 0."
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/106225912-09099d80-6221-11eb-961b-7bb75e9def49.png)

**Preset conditions**
there is a workspace 'wx-ws', has project ‘wx-pro’
**How To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'wx-ws', modify his quota to unrestricted
2. Go to project 'wx-pro', and deploy app
3. Go to  workspace 'wx-ws'/quota ma

[2021-01-29 03:30] wenxin-01 opened #3324 "[workspace-quota]The quota management page for Workspace is not refreshed in real time."
**Describe the Bug**
Real-time refresh of the page.
![image](https://user-images.githubusercontent.com/68640256/106227527-4cb1d680-6224-11eb-92d9-7b1dbcfbb29e.png)

/kind bug
/assign @leoendless
/priority medium

[2021-01-29 03:51] liuyp2018 opened #3325 "[workspace-quota]Problem when project and workspace are both set quotas"
**Operation steps:**
1. Project quota is set to 1CPU and 1memory
2. workspace quota set to 2CPU, 2memory
3. Create a pod with limits of 1CPU and 1memory
4. Check the quota under the project, and its utilization rate is 100%
5. Check the quota utilization rate of the workspace

**Expected results:**
Usage rate is 50%
**Actual results:**
Usage rate is 100%

![image](https://user-images.githubusercon

[2021-01-29 04:22] wansir commented on #3325
1. The pod will occupy the quota before it is terminated.
2. Projects under the workspace share the quota.

The resource quota will be updated after the pod is terminated.

[2021-01-29 07:16] tomcyndi opened #3326 "kubersphere Installation Failture"
install kubersphere failed  whith All-in-one mode

when i input the command:

./kk create cluster --with-kubernetes v1.17.9 --with-kubesphere v3.0.0

the console return :

Error: Please do not use uppercase letters in hostname: VM-146-110-centos

[2021-01-29 07:21] #3263 closed

[2021-01-29 07:23] #3290 closed

[2021-01-29 09:06] wenxin-01 opened #3327 "Incorrect count of branch activity in a multi-branch pipeline."
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/106255623-3d974c80-6255-11eb-97ea-34014f284cf0.png)

**Preset conditions**
There is a multi-branch pipeline 'pipe-test'.
**Environment**
http://allinone:8080

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to pipeline 'pipe-test' details page
2. Click on branch master

**Expected behavior**
The number of

[2021-01-29 09:34] LinuxSuRen commented on #3327
hi @wenxin-01 , We don't really need to assign to a particular person. In order to make sure the whole team aware of it. A better way is that /cc @kubesphere/sig-devops

Anyway, I will take look at this issue.

See also https://github.com/kubesphere/community/issues/298

[2021-01-29 09:46] LinuxSuRen opened #3328 "Incorrect commit message of GitHub multi-branch Pipeline"
**Describe the Bug**
The incorrect commit message of GitHub multi-branch Pipeline. In my case, the PR has two commits history. But it always shows the first commit message instead of the expected last message.

**Versions Used**
[code]

[code]

**Environment**
This is not an environmental issue.

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to DevOps project
2. Create a GitHub multi

[2021-01-29 09:56] wenxin-01 commented on #3327
ok
/cc @kubesphere/sig-devops

[2021-01-29 10:07] LinuxSuRen commented on #3328
It looks like the Jenkins plugin [blueocean](https://github.com/jenkinsci/blueocean-plugin) has the same issue.

![image](https://user-images.githubusercontent.com/1450685/106261652-cc5b9780-625c-11eb-8182-49222ba41b27.png)

[2021-01-29 10:33] LinuxSuRen commented on #3328
![image](https://user-images.githubusercontent.com/1450685/106264011-15f9b180-6260-11eb-9611-73116edecb18.png)

It works when I upgrade it to [1.24.4](https://github.com/jenkinsci/blueocean-plugin/releases/tag/blueocean-parent-1.24.4). Unfortunately, I cannot find the release note about this.

[2021-01-29 15:47] #3001 closed

[2021-01-30 01:35] kevinpan45 commented on #3313
it work

[2021-01-30 01:35] #3313 closed

[2021-01-30 07:38] wjl120 commented on #2000
Hello, whether need install EBS CSI driver, before install the Kubesphere on AWS EKS ?

[2021-01-30 08:01] FeynmanZhou commented on #2000
There should be a default StorageClass before installing KubeSphere. You can refer to [this guide](https://kubesphere.io/docs/installing-on-kubernetes/hosted-kubernetes/install-kubesphere-on-eks/).

[2021-01-31 05:25] wjl120 commented on #2000
Thank you ,but I can not found storage requirement, so I think that install kubesphere  on AWS EKS ,don't need external storage driver？

[2021-01-31 11:14] calvinyv commented on #2000
without specifying external storage class, you will use local storage after install kubesphere, I think.

[2021-01-31 11:54] bnusunny commented on #2000
Amazon EKS will create default storage class for ebs.

[code]

[2021-02-01 02:14] RolandMa1986 commented on #3326
Hi @tomcyndi,
You can't use upper case hostname when installing Kubernetes.
Please refer to [Readme](https://github.com/kubesphere/kubekey#quick-start)
/kind support
/area installer

[2021-02-01 03:31] LinuxSuRen commented on #3327
/assign @linuxsuren

[2021-02-01 03:33] wenxin-01 opened #3332 "When searching for a pipeline, the interface returns incorrectly information."
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/106411369-1c667400-6480-11eb-91b7-10a7d60346b7.png)

**Environment**
http://allinone:8080

**Preset conditions**
Within workspace 'wx-ws' there is DevOps project 'dev1', and under Project 'dev1' there is Pipelines 'pipe1'、'pipe2' and 'pipe3'.

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to devops 'dev1

[2021-02-01 03:45] LinuxSuRen commented on #3332
/cc @kubesphere/sig-devops

[2021-02-01 03:45] shaowenchen commented on #3327
/project devops

[2021-02-01 03:46] LinuxSuRen commented on #3332
/project devops

[2021-02-01 04:11] RolandMa1986 opened #3333 "Roadmap for e2e testing"
**What's it about?**
End-to-end (e2e) tests provide a mechanism to test end-to-end behavior of KubeSphere, and ensure end user operations match developer specifications.

E2E testing consists of several phases:
- Implementing a test suite. e2e will rely on Ginkgo for managing tests and Gomega for assertions. Tests interact with the KubeSphere cluster using a rest client.
- Bringing up a test clust

[2021-02-01 08:45] wenxin-01 opened #3336 "After upgrading from KS3.0 to the latest DevOps, Tags in the original pipeline cannot be scanned."
**Describe the Bug**

**Versions Used**
KubeSphere: v3.0.0

**Environment**

**Preset conditions**
There is a multi-branch pipeline 'pipe1', which relies on a code repository that contains tags.

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to pipeline 'pipe1'
2. Click on 'More operations'
3. Click on 'Scan remote branches'
4. Upgrade DevOps when the scan is complete.(replace ks-api

[2021-02-01 09:17] #3308 closed

[2021-02-01 09:33] LinuxSuRen commented on #3328
/assign @LinuxSuRen

[2021-02-01 09:33] LinuxSuRen commented on #3332
/assign @LinuxSuRen

[2021-02-01 09:43] wansir commented on #2928
Use the following command to solve this problem:

[code]

[2021-02-02 02:36] #3306 closed

[2021-02-02 06:07] wenxin-01 commented on #3300
The effect after repair.
![image](https://user-images.githubusercontent.com/68640256/106559143-ee586100-655f-11eb-8cbb-b4c005310d58.png)

[2021-02-02 06:07] #3300 closed

[2021-02-02 06:14] wenxin-01 commented on #3301
The effect after repair.
![image](https://user-images.githubusercontent.com/68640256/106559781-e2b96a00-6560-11eb-921f-75b844eb482b.png)

[2021-02-02 06:14] #3301 closed

[2021-02-02 06:57] RolandMa1986 opened #3339 "Add a Kubernetes objects client that read/write from KubeSphere API Server"
**What's it about?**

Add a client library that can read/write Kubernetes objects from KubeSphere API Server.

**What's the reason why we need it?**

E2E testing needs to read/write objects through KubeSphere API Server to simulate user's behaviors. A client is needed to interact with KubeSphere API and it's compatible with Kubernetes objects.

**Area Suggestion**
/area test
/kind feature

[2021-02-02 06:57] RolandMa1986 commented on #3339
/assign

[2021-02-02 06:59] wenxin-01 opened #3340 "When creating a pipeline through GitLab, the popover will suddenly disappear."
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/106563637-0d0e2600-6567-11eb-9693-f371fc75b7bc.png)

**Environment**
http://allinone:8080

**Preset conditions**
There is a devops 'dev1'

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to devops 'dev1'
2. Click on 'Create'
3. After enter name, click 'Select Code Repository'
4. Click 'GitLab'
5. Select Gi

[2021-02-02 07:29] LinuxSuRen commented on #3340
hi @wenxin-01 , it looks like a front-end issue. Please move it to [console](https://github.com/kubesphere/console/issues) if it's true.

[2021-02-02 07:42] #3340 closed

[2021-02-02 07:52] wenxin-01 opened #3343 "Incorrect number of workspaces members."
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/106568030-ad674900-656d-11eb-9aab-f8cee0fae686.png)
**Preset conditions**
1、The KS platform has 3 accounts.
2、There is a workspace 'wx-ws', and it has one member.

**Environment**
http://allinone:8080

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to  workspace 'wx-ws'
2. Check workspaces members in the

[2021-02-03 01:18] RolandMa1986 commented on #3027
/assign @xyz-li
/cc @zheng1

[2021-02-03 02:21] shaowenchen commented on #3311
/area ui

[2021-02-03 02:48] yuswift commented on #3293
/assign

[2021-02-03 09:35] wenxin-01 commented on #3303
After repair
![image](https://user-images.githubusercontent.com/68640256/106727206-2e920f00-6646-11eb-9366-1b25dbe7c921.png)

[2021-02-03 09:35] #3303 closed

[2021-02-04 01:55] yuswift commented on #3076
Is there any progress on provisioning KubeSphere clusters from the console :)

[2021-02-04 08:43] wenxin-01 opened #3347 "The pipeline failed to be created using GitLab as the code source."
**Environment**
http://allinone:30880

**Preset conditions**
There is a devops 'dev1'

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to devops 'dev1'
2. Click on 'Create'
3. After enter name, click 'Select Code Repository'
4. Click 'GitLab'
5. After entering the correct information, click Next
6. Click create

**Expected behavior**
Pipeline create successfully

**Actual behavior**
Th

[2021-02-04 10:54] calvinyv opened #3348 "Feature: check member cluster connection status and notify users if any disconnection occurs"
**What's it about?**

After adding member cluster, users know nothing when some network issue happens.
it should tell the users with a clear msg that something wrong between clusters connection.
**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* It will save lots of effort for the people who maintain this platform, and don't n

[2021-02-04 10:54] calvinyv commented on #3348
/assign @yuswift @leoendless

[2021-02-04 14:18] #3343 closed

[2021-02-05 05:56] leoendless commented on #2885
@harrisonliu5 Is this problem fixed?

[2021-02-05 06:04] harrisonliu5 commented on #2885
yes, this problem is fixed

[2021-02-05 06:34] logonmy opened #3351 "where can see "DNS" in service Tag"
## where can see "DNS" in service Tag

In one man practice，and with project=>service=>tag. here can found DNS tag。this tag info is very important。

![have-dns](https://ae01.alicdn.com/kf/Ufe5867338fd04c4a82f360514dac8bd1u.jpg)

and in my practice, In project=>service=>tag, there have not DNS tag. what wrong with me?
installer version info on the pic.
![no-dns](https://ae01.alicdn.com/kf/Ue009a09c7

[2021-02-05 07:38] LinuxSuRen commented on #3347
This should be caused by a bug of [gitlab-branch-source-plugin](https://github.com/jenkinsci/gitlab-branch-source-plugin/)

See also:
[code]

[2021-02-05 07:52] LinuxSuRen commented on #3347
It was fixed in https://github.com/jenkinsci/gitlab-branch-source-plugin/pull/105/

[2021-02-05 08:31] wenxin-01 opened #3353 "The credential can not be deleted."
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/107007984-341a6100-67ce-11eb-9e23-e86aa8e969d2.png)
![image](https://user-images.githubusercontent.com/68640256/107008116-5ca25b00-67ce-11eb-9d68-7f4d3ee0b3b1.png)

**Environment**
http://allinone:30880

**Preset conditions**
There is a devops 'dev', it has credential named '6'

**How To Reproduce**
Steps to reproduce

[2021-02-06 04:05] #2986 closed

[2021-02-07 01:12] LinuxSuRen commented on #3142
/help
/good-first-issue

[2021-02-07 02:40] yuswift commented on #3348
When there exist some network problems, I think the console can display some `connection timeout` errors, which can be useful to users.

[2021-02-07 04:52] wenxin-01 opened #3354 "The interface reported an error while editing the pipeline."
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/107136669-592ee100-6940-11eb-85fb-fba66d52b90f.png)

**Environment**
http://allinone:30880

**--single branch pipeline--**
**Preset conditions**
There is a single branch pipeline 'test1'
**How To Reproduce**
Steps to reproduce the behavior:
1. Go to pipeline 'test1'
2. Click on 'edit jenkinsfile' or 'edit pipeline'
3.

[2021-02-07 05:28] LinuxSuRen commented on #3354
It's duplicated with #3284

[2021-02-08 01:43] RolandMa1986 commented on #3092
/close

[2021-02-08 01:43] #3092 closed

[2021-02-08 01:50] RolandMa1986 commented on #3351
It's duplicate with #3155
/close
/xref: /kubesphere/console#1286
/kind bug
/area console

[2021-02-08 01:50] #3351 closed

[2021-02-08 14:37] #3011 closed

[2021-02-09 07:32] RolandMa1986 opened #3355 "Devops's namespace can't be deleted"
**Describe the Bug**
The Namespace that created by a Devops remains **Terminating** status if there is a credential was created.

**Versions Used**
KubeSphere: V3.0.0

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a Devops Project under the Workspace.
2. Create a new 'Account' credential under the Devops project.
3. Delete Devops project
4. Get namespace with command `kubectl get

[2021-02-09 07:32] RolandMa1986 commented on #3355
/kind bug
/area devops

[2021-02-09 08:00] #3010 closed

[2021-02-10 02:38] CaiNiaoXiaoLi opened #3357 "Cannot login due to multiple replicas of ks-apiserver"
kubesphere-system命名空间下存在多个ks-apiserver副本时，用户登陆 kubesphere UI 无响应，需经过多次重试才能成功，此问题该如何解决呢。
I can't login in Kubesphere UI when I create more than one ks-apiserver copies in kubesphere-system namespace. I login in successfully after I try for many times. Somebody can tell me to solve this? Thanks.

[2021-02-10 06:24] Forest-L commented on #3357
Take a look at the ks-console pod log.

[2021-02-11 01:49] #3005 closed

[2021-02-13 02:42] imjoey commented on #2994
+1 for the same issue. In addition, we would better add this feature support for `Secret` as well. Thanks.

[2021-02-13 02:50] imjoey commented on #2994
/kind feature-request
/area console

[2021-02-13 10:00] #3017 closed

[2021-02-16 09:05] zhujiancc opened #3358 "Can it support dotnetcore node in devops"
I  find a solution in  the forum
https://kubesphere.com.cn/forum/d/3384-kubespheredevopsdotnet-core
But it is too  trouble to use , and waste much time to set up it .
So any plan for including it to the nodes of devops flow.

[2021-02-16 09:07] FeynmanZhou commented on #3358
/cc @kubesphere/sig-devops

[2021-02-16 09:08] FeynmanZhou commented on #3358
/kind feature-request

[2021-02-17 17:11] #1903 closed

[2021-02-18 00:58] LinuxSuRen commented on #3358
So glad to see the detailed article about how to do it. Actually, it's pretty clear. You can follow the steps ff anyone wants to contribute to the community.

* Create a new agent to [devops-agent](https://github.com/kubesphere/devops-agent)
* Add the new agent config item to [ks-installer/ks-devops](https://github.com/kubesphere/ks-installer/blob/master/roles/ks-devops/jenkins/templates/jenkins-c

[2021-02-18 01:16] LinuxSuRen commented on #3357
hi @CaiNiaoXiaoLi , thanks for reporting this issue to the community. But we communicate with each other in English only. So please rewrite your PR title in English. Thanks again.

[2021-02-18 01:17] LinuxSuRen commented on #3355
/priority high

[2021-02-18 01:19] LinuxSuRen commented on #3358
/priority medium

[2021-02-18 01:54] wowshiwoniu commented on #3355
Are there any resources that cannot be deleted？by running the commond `kubectl get apiservice` ，Can you find out what caused it ？ @RolandMa1986

[2021-02-18 02:06] RolandMa1986 commented on #3355
It already shows in the **status** :
-  message: 'Some resources are remaining: **secrets**. has 1 resource instances'
-  message: 'Some content in the namespace has finalizers remaining: **finalizers.kubesphere.io/credential**
      in 1 resource instances'

[2021-02-18 07:34] guidao opened #3359 "Graphical pipeline does not support "post" syntax"
**Describe the Bug**
Graphical pipeline does not support "post" syntax

**Versions Used**
KubeSphere: v3.0.0

https://www.jenkins.io/doc/pipeline/tour/post/

![image](https://user-images.githubusercontent.com/3192136/108321151-bc512b00-71fe-11eb-96ca-d2d1c9e08372.png)

[2021-02-18 07:47] LinuxSuRen commented on #3359
/kind devops
/kind feature-request

[2021-02-18 07:48] LinuxSuRen commented on #3359
/area devops

[2021-02-18 08:04] guidao commented on #3359
My fault, it's normal. I added it in the wrong place.

[2021-02-18 08:04] #3359 closed

[2021-02-18 08:13] LinuxSuRen commented on #3359
No worries, we encourage people to keep in touch with the community.

[2021-02-18 08:36] david0718 opened #3361 "devops system could not start the pipeline, the pipeline is always in the queue."
**Describe the Bug**

The base-xxx pod could not be started. Its' status is ContainerCreating, and then disappears.

below is the jenkins docker logs

Thanks very much.

____________________________________________________________________________________________

2021-02-18T16:29:35.394184681+08:00 WARNING: Error in provisioning; agent=KubernetesSlave name: base-mmrhl, template=PodTemplate{, name=

[2021-02-18 08:43] LinuxSuRen commented on #3361
Please check the log of Jenkins builder pod. I didn't get useful info from above.

/kind support
/area devops

[2021-02-18 08:56] david0718 commented on #3361
I checked the log for Jenkins pod, it repeat to create the pod, but always failed. As below.  Not sure if it is useful or not.

____________________________________________________________________________________________________

WARNING: Plugin Step 1 ,admin,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidWlkIjoiMGZlYWIwZjQtZTY1Zi00ZTk5LWI5ZjUtNmFiYTg4NDQ2NDJjIiwidG9rZW5fdHlwZSI

[2021-02-18 08:57] #3232 closed

[2021-02-18 08:57] LinuxSuRen commented on #3361
Again, you need to check the log of `base-xxx`.

[2021-02-18 09:01] david0718 commented on #3361
ahaa, after I input the command for the base-xxx log, the pod has already been removed by the system. :((

[2021-02-19 01:16] LinuxSuRen commented on #3361
This is the only way. You might need to be faster.

[2021-02-19 03:20] daniel-hutao commented on #3320
CAUTION: Non-POSIX compliant filesystems are not supported for Prometheus' local storage as unrecoverable corruptions may happen. NFS filesystems (including AWS's EFS) are not supported. NFS could be POSIX-compliant, but most implementations are not. It is strongly recommended to use a local filesystem for reliability.

[2021-02-19 03:42] GLTSC commented on #3357
宿主机的时间是不是不一致？我当时是这种情况

[2021-02-19 08:51] zryfish commented on #2899
/close

[2021-02-19 08:51] #2899 closed

[2021-02-19 08:53] zryfish commented on #2597
Should be fixed now. Please check again.

[2021-02-19 08:54] zryfish commented on #2401
#3055

[2021-02-19 08:55] zryfish commented on #2946
#3055

[2021-02-19 09:01] zryfish commented on #2659
/milestone BackLog

Kubefed community is working on aggregating resource status across member clusters.

[2021-02-19 09:03] zryfish commented on #2875
/milestone BackLog

[2021-02-19 09:19] zryfish commented on #2965
/milestone BackLog

[2021-02-19 09:20] zryfish commented on #2964
/milestone BackLog

[2021-02-19 09:24] zryfish commented on #3297
/cc @RolandMa1986

[2021-02-19 09:24] lxm opened #3363 "support grouping project resources by conditions"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone who agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

There are two scenarios:

When publishing:

Deploy the grayscale version in the same

[2021-02-19 09:25] zryfish commented on #3298
/kind need-to-verify

[2021-02-19 09:28] zryfish commented on #3283
/kind need-to-verify

[2021-02-19 09:30] zryfish commented on #3348
/milestone BackLog

[2021-02-19 09:31] zryfish commented on #3234
@yuswift Any update on this issue?

[2021-02-19 09:37] zryfish commented on #1217
/milestone BackLog

[2021-02-19 09:39] zryfish commented on #1904
/cc @zheng1

I think our new OpenPitrix will solve this issue permanently, right?

[2021-02-19 09:44] zryfish commented on #1709
/milestone BackLog

[2021-02-19 10:27] #3019 closed

[2021-02-19 11:14] zheng1 commented on #1904
Yes

[2021-02-19 13:47] LinuxSuRen commented on #3357
/retitle Cannot login due to multiple replicas of ks-apiserver

[2021-02-20 02:11] #3284 closed

[2021-02-20 03:29] daniel-hutao opened #3365 "Proposal: Support Independent storage configuration for the monitoring module"
#3320

Because NFS is not supported, by any version of Prometheus. [issue-3534](https://github.com/prometheus/prometheus/issues/3534) It requires a POSIX filesystem. But many users' Kubernetes clusters use NFS storage for pv/pvc. So KubeSphere users can easily fall into this trap when deploying a ks cluster.

Users may have two choices：

1. Use hostPath for Prometheus.
2. Use Independent StorageCl

[2021-02-20 03:34] LinuxSuRen commented on #3365
/kind proposal

[2021-02-20 03:50] zryfish commented on #3365
I, personally, prefer the second option, `Use Independent StorageClass for Prometheus.`, because hostPath has many limitations.

And if we can set sc for Prometheus independently, we can also set Prometheus to hostPath, right? If so, we don't need this configuration item.

Set nodeAffinity for hostPath is complicated, and usage of hostPath should not be encouraged. So I think we can stick to `opti

[2021-02-20 05:59] RolandMa1986 opened #3367 "Integrate e2e testing in CI process and collect test results"
**What's it about?**
We need to integrate e2e testing into the CI process and collect test results. To launch an e2e testing we also need a way to set up a testing kubesphere cluster.

Kind is one of the options to setup the test Kubernetes cluster. Then use ks-installer to install kubesphere.

**Area Suggestion**
/area test
/kind feature

[2021-02-20 06:23] david0718 commented on #3361
I  installed 3.0 in another  k8s cluster. The same issue occurs.

[2021-02-20 06:28] daniel-hutao commented on #3365
@zryfish I think hostPath is useful because many environments only have nfs remote storage and local disks.
Especially the test environment. So this feature allows users to deploy ks in more general scenarios.

[2021-02-20 06:36] daniel-hutao commented on #3365
The reason for being divided into two configuration items is like below:

- monitoring.storageClass=/data/prometheus   It's hard to distinguish whether “/data/prometheus” is a sc name or a dir path.

- monitoring.storageClass=ssd
- monitoring.hostPath=/data/prometheus  This configuration is more clearer.

[2021-02-20 06:43] LinuxSuRen commented on #3361
It's not necessary to install a new cluster. The only way is to get the log output of the pod. You can write a small shell script to get it. I know it's not easy due to it might disappear very fast.

[2021-02-20 07:50] daniel-hutao commented on #3365
Or divide this question into two parts, we can implement the part one first, and consider whether the second one needs to be implemented or not. Because the development of the second feature may has code intrusiveness in Prometheus operator.

1. Add 【ClusterConfiguration.spec.monitoring.storageClass (string)】 item to optionally specify the independent StorageClass.
2. Add 【ClusterConfiguration.spe

[2021-02-20 09:34] zryfish commented on #3365
I agree hostPath is very useful in the local environment, but it introduces complexity too. So I think we can finish `set storageClass for Prometheus` first. And work on `use hostPath for Prometheus` next if we get more feedback.

cc  @kubesphere/sig-infra  @kubesphere/sig-observability What's your opinions?

[2021-02-20 09:38] benjaminhuo commented on #3365
add a storage class option in ks-installer for Prometheus is ok to me

[2021-02-20 10:34] daniel-hutao commented on #3365
/assign @daniel-hutao

[2021-02-22 01:33] CaiNiaoXiaoLi commented on #3357
不是的，主机时间没问题，我都检查过。

[2021-02-22 01:34] CaiNiaoXiaoLi commented on #3357
thanks！

[2021-02-22 02:07] zhujiancc opened #3368 "Could not connect to the container. Do you have sufficient privileges?"
When I use **ip:port**(http://192.168.100.181:30880) to open Kubectl , it is no problem.

But if I use **domain** (https://ks.xxx.com) , I can not open Kubectl shell dashboard.

![image](https://user-images.githubusercontent.com/19665595/108647755-6c22e300-74f4-11eb-90f1-d01c21c3dba0.png)
![image](https://user-images.githubusercontent.com/19665595/108648122-61b51900-74f5-11eb-9875-f555cdd576c2.png

[2021-02-22 02:18] wansir commented on #3368
Please enable WebSocket proxy if you use Nginx as a reverse proxy, for more details please visit https://www.nginx.com/blog/websocket-nginx/

[2021-02-22 02:48] wenxin-01 commented on #3354
It's duplicated with #3284

[2021-02-22 02:48] #3354 closed

[2021-02-22 02:49] LinuxSuRen commented on #3282
/kind need-to-verify

[2021-02-22 02:51] wenxin-01 commented on #3284
fixed

[2021-02-22 03:00] zhujiancc commented on #3368
thx~

[2021-02-22 03:00] #3368 closed

[2021-02-22 03:02] wenxin-01 commented on #3347
Solution verified. gitlab-branch-source Plug in version 1.5.4 can solve this problem

[2021-02-22 03:02] #3347 closed

[2021-02-22 03:15] wenxin-01 commented on #3302
Solution verified.
![image](https://user-images.githubusercontent.com/68640256/108652439-24ee1f80-74ff-11eb-8522-4c5b25ee034a.png)

[2021-02-22 03:15] #3302 closed

[2021-02-22 03:25] wenxin-01 commented on #3298
fixed

[2021-02-22 03:25] #3298 closed

[2021-02-22 03:42] wenxin-01 commented on #3281
When I was using DevOps, I had a lot of interaction with Jenkins, such as looking at the state of pipeline、adding or removing things. So I expect some of the more routine operations at Jenkins to be synchronized to KS

[2021-02-22 03:42] guohz-git opened #3369 "Devops branch name like 'feature /xxx' exception"
**Describe the Bug**
Add a feature / xxx branch name to the Devops Java sample project provided by the official website, and prompt 404 exception in the interface when running the build
The screenshot is as follows:

![image](https://user-images.githubusercontent.com/12553259/108653947-ad21f400-7502-11eb-8c79-0ff7040b3c10.png)

**Versions Used**
KubeSphere: 3.0.0
Kubernetes: (If KubeSphere install

[2021-02-22 03:59] #3332 closed

[2021-02-22 04:19] #3339 closed

[2021-02-22 05:41] LinuxSuRen commented on #3052
We already started to use [project](https://github.com/orgs/kubesphere/projects/3) as the plan dashboard for DevOps. I'm wondering if we can close this issue? How do you think about it @shaowenchen

[2021-02-22 05:58] zryfish commented on #3246
@yuswift Any updates?

[2021-02-22 06:09] shaowenchen commented on #3052
yes.

[2021-02-22 06:09] #3052 closed

[2021-02-22 06:32] #3327 closed

[2021-02-22 07:04] shaowenchen opened #3371 "[improvement] using registry api to verify credential under the project"
**What's it about?**

It results in dependency issues by mounting the socket file. We need to change it to rely on Registry API.

/area devops
/kind feature-request
/project devops

[2021-02-22 08:54] #3353 closed

[2021-02-22 08:54] #3355 closed

[2021-02-22 11:48] pcyan opened #3373 "change node-exporter default port"
## environment

kubernetes v1.18.3
KubeSphere v3.0.0

## question

try to change the default port of kubesphere-monitoring-system/node-exporter.
i knew that i should rewrite the clusterConfiguration but how? any document?

[2021-02-23 01:24] zhujiancc opened #3374 "Can I apply k8s yaml in ks dashboard for all kinds"
I hope to apply all kinds  k8s yaml in here.
No need jump to fixed page to apply yaml
![image](https://user-images.githubusercontent.com/19665595/108790974-f6cd1600-75b8-11eb-8400-58178948d7c7.png)

[2021-02-23 01:24] LinuxSuRen commented on #3374
/kind support

[2021-02-23 01:32] LinuxSuRen commented on #3369
/area devops
/kind bug

It's duplicated with #3276

/close

[2021-02-23 01:32] #3369 closed

[2021-02-23 01:43] zryfish commented on #3374
You can open control tools `kubectl` in toolbox and apply any YAML.

[2021-02-23 03:34] zhujiancc commented on #3374
I know that , but it need more step to apply yaml.
if I click the btn
then popup a dialog to write yaml
and then click aplly btn ,

 It will be easy for me~

[2021-02-23 07:53] wansir opened #3378 "Feature: Support OIDC protocol"
**What's it about?**

OpenID Connect 1.0 is a simple identity layer on top of the OAuth 2.0 protocol. It allows Clients to verify the identity of the End-User based on the authentication performed by an Authorization Server, as well as to obtain basic profile information about the End-User in an interoperable and REST-like manner.

OpenID Connect allows clients of all types, including Web-based, m

[2021-02-23 07:54] wansir commented on #3223
Related to https://github.com/kubesphere/kubesphere/issues/3378

[2021-02-23 08:21] Du-fei opened #3379 "How to modify the mail template?"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2021-02-23 08:28] LinuxSuRen commented on #3379
It looks like a support request instead of a feature request. Furthermore, please follow the template of the issue, and provide the details as possible as you can. I cannot understand what do you want to know.

In my view, the issue area is not a good place to ask questions or seek support. We encourage people to request feature support, bugs, proposals here. You can try to start a new topic from

[2021-02-23 08:42] #3379 closed

[2021-02-23 09:17] yuswift commented on #3246
/milestone 4.0.0
/assign

[2021-02-23 09:18] yuswift commented on #3246
/milestone clear

[2021-02-24 01:29] RolandMa1986 commented on #3297
@wenxin-01, It seems like an environment issue, please verify again.

[2021-02-24 02:18] #3234 closed

[2021-02-24 02:57] RolandMa1986 commented on #3192
/milestone BackLog
This feature depends on the new Kubefed feature https://github.com/kubernetes-sigs/kubefed/issues/1348.

[2021-02-24 03:11] #2723 closed

[2021-02-24 03:41] RolandMa1986 commented on #3101
/close

[2021-02-24 03:41] #3101 closed

[2021-02-24 03:43] RolandMa1986 commented on #3133
/cc @liuyp2018
/kind need-to-verify

[2021-02-24 06:22] CaiNiaoXiaoLi opened #3382 "Openldap pod can't start after I delete it."
Openldap pod recreated faild.
![image](https://user-images.githubusercontent.com/45308218/108956790-41c75600-76ab-11eb-8e8a-ae7efbecfa73.png)
warning level log
![image](https://user-images.githubusercontent.com/45308218/108957029-b0a4af00-76ab-11eb-9bc2-d180e14e86a1.png)
debug level log
![image](https://user-images.githubusercontent.com/45308218/108958500-09754700-76ae-11eb-898f-74ea00797642.png)

[2021-02-24 06:42] liuyp2018 opened #3384 "Input box validation problems when creating ippool"
**Describe the Bug**
In the Create Ippool interface, the required input fields need to be validated and the required fields need to be followed by *

![image](https://user-images.githubusercontent.com/36271543/108958600-2742ac00-76ae-11eb-8af7-83a2b90e7eb5.png)

version：nightly-20210222

/kind bug
/assign @leoendless
/priority Low
/milestone 3.1

[2021-02-24 06:50] liuyp2018 opened #3385 "Ippool with IP address 0.0.0.0 should not be created"
**Describe the Bug**
Ippool with IP address 0.0.0.0 should not be created
![image](https://user-images.githubusercontent.com/36271543/108959410-53aaf800-76af-11eb-8c83-4a13dcbe43c0.png)

ks version：nightly-20210222

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1
/area console
/area networking

[2021-02-24 06:50] liuyp2018 commented on #3384
/area console
/area networking

[2021-02-24 06:52] liuyp2018 opened #3386 "POD cannot be successfully created using Ippool with a single address"
**Describe the Bug**
POD cannot be successfully created using Ippool with a single address

**steps**
1. Create a single address ippool
2. Use the Ippool when creating the workload

**The expected results**
The workload can be successfully created

**Actual results**
Failed to create the workload

![image](https://user-images.githubusercontent.com/36271543/108959792-dfbd1f80-76af-11eb-8cd1-2f6408a

[2021-02-24 06:55] wansir commented on #3382
You need to change the replicas value from 0 to 1.

[2021-02-24 07:15] liuyp2018 opened #3387 "After deleting a pod that uses Ippool, the Ippool can still not be successfully deleted"
**Describe the Bug**
After deleting a pod that uses Ippool, the Ippool can still not be successfully deleted

**steps**
1. Create an Ippool
2. Assign an enterprise space to ippool
3. Go to the project below the enterprise space and create the workload using the ippool above
4. Delete the workload created above
5. Delete ippool created in step 1

**Expected results**
Ippool can be removed successfu

[2021-02-24 07:29] CaiNiaoXiaoLi commented on #3382
I did that,but doesn't work.

[2021-02-24 07:32] liuyp2018 opened #3388 "There is a problem with the 'All' field display"
**Describe the Bug**
There is a problem with the 'All' field display
![image](https://user-images.githubusercontent.com/36271543/108963252-d5e9eb00-76b4-11eb-8bc3-f604c745dbcc.png)

ks version：nightly-20210222

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1
/area console

[2021-02-24 07:38] liuyp2018 opened #3389 "View the configuration file page, need to change the icon"
**Describe the Bug**
the icon is Incorrect

![image](https://user-images.githubusercontent.com/36271543/108964127-0a11db80-76b6-11eb-93e9-7fa0b2ac3471.png)

ks version：nightly-20210222

/kind bug
/assign @leoendless
/priority Low
/milestone 3.1
/area console

[2021-02-24 08:02] liuyp2018 opened #3390 "If the workspace allocated by iPool is deleted, the workspace of iPool remains the deleted workspace"
**Describe the Bug**

**steps**
1. Assign workspace1 to ippool
2. Delete called workspace1
3. Check out Ippool's Enterprise Space

**The expected results:**
Ippool's workspace should appear as unallocated

**Actual results:**
Ippool's workspace is still displayed as the deleted enterprise Spaces

![image](https://user-images.githubusercontent.com/36271543/108966812-9f629f00-76b9-11eb-8adb-e0dc37b5

[2021-02-24 08:39] liuyp2018 opened #3391 "The data for the used IP is incorrect in the IPPOOL detail page"
**Describe the Bug**
**steps**
1. The number of IPs that Ippool has used is 2
2. Delete one of the PODS that uses this ippool
3. In the Ippool list, click on the Ippool to go to the details page
4. View the number of used IPs in the workspace page

**Expected results:**
The number of used IPs should be 1

**Actual results:**
The number of used IPs is 2

https://user-images.githubusercontent.com/36

[2021-02-24 08:45] zheng1 commented on #3391
/milestone 3.1.0

[2021-02-24 09:27] wansir commented on #3382
Did you make any changes?  Related issue, https://github.com/osixia/docker-openldap/issues/218.

You should use `kubectl rollout restart sts openldap -n kubesphere-system` instead of delete pod.

[2021-02-24 09:38] LinuxSuRen commented on #3328
There is a revalent issue https://github.com/kubesphere/console/issues/1029

[2021-02-24 09:50] zackzhangkai commented on #3363
In namespace, we have composed-applications, which we can groups resources. We can specify resources to this application, by label it with `app.kubernetes.io/name` and `app.kubernetes.io/version`.

[2021-02-24 09:53] liuyp2018 opened #3392 "Edit mode cannot be used when ippool is specified to create a service"
**Describe the Bug**

**steps**
1. To create a stateless service, in Advanced Settings, click on the Basic Network and select the assigned Ippool
2. Click the edit mode at the top right of the create page to enter the yaml edit page
3. Click on the Create button

**Question:**
The console reported the following error
![image](https://user-images.githubusercontent.com/36271543/108981287-8d87f880-76

[2021-02-24 09:56] lxm commented on #3363
If we use helm charts for managing applications, when we want to perform A/B testing, we will deploy multiple releases use the same chart with different release name, label `app.kubernetes.io/name` will be the same, only `app.kubernetes.io/instance` can make a distinction between two releases

[2021-02-24 09:58] liuyp2018 commented on #3392
/milestone 3.1

[2021-02-24 09:58] liuyp2018 commented on #3392
/milestone 3.1.0

[2021-02-24 10:02] liuyp2018 opened #3393 "Select ippool to create service. POD IP is not correct after creation"
**Describe the Bug**
**steps**

1. To create a stateless service, in Advanced Settings, click on the Basic Network and select the assigned Ippool-A
2. click create button
3. After the service creation is complete, look at the IP of the service‘s POD

**Expected results:**
The IP of POD belongs to Ippool -A

**Actual results:**
The IP of pod belongs to the default ippool

ks version：
nightly-202102

[2021-02-24 10:12] duanjiong commented on #3393
This is not a bug, when there is more than one ippool, if you do not specify the ippool, then calico will choose one by itself, so it will choose the other ippool, here we need to do when we write a good document describing the calico-related configuration later.

[2021-02-24 10:20] zackzhangkai commented on #3363
You use helm charts directly instead app store, right? What do you mean by "label app.kubernetes.io/name will be the same"? I cannot get you.

[2021-02-24 10:31] duanjiong commented on #3393
1. `kubectl edit cm -n kube-system  calico-config`
![image](https://user-images.githubusercontent.com/3678855/108987652-7f89a600-76ce-11eb-8915-6305d30cfffd.png)

2.  `kubectl rollout restart -n kube-system ds calico-node`

REF: https://docs.projectcalico.org/reference/cni-plugin/configuration#ipam

[2021-02-24 11:54] lxm commented on #3363
yes, we use helm charts directly.
labels of resources(such as deployment etc..) will be the same as chart name
but `app.kubernetes.io/instance` will be the release name of helm install
so if we deploy one chart with different release names in the same namespace, the resources can not be separated by label app.kubernetes.io/name

[2021-02-24 11:59] zackzhangkai commented on #3363
`labels of resources(such as deployment etc..) will be the same as chart name` , the labels are customized in fact. You set the label to be the same with the chart name, right?

[2021-02-24 12:11] lxm commented on #3363
yes, if we use command `helm create` to create a chart , the default value of label `app.kubernetes.io/name` will be the same as the chart name.
may be we can change our own chart

[2021-02-24 12:24] zackzhangkai commented on #3363
If there is no problem, can this issue be closed?

[2021-02-24 13:24] #3035 closed

[2021-02-24 13:42] lxm commented on #3363
![image](https://user-images.githubusercontent.com/1918195/109009124-211df100-76e9-11eb-9051-7474346a3aff.png)

after all, a drop down select should be add to the console for `application`

[2021-02-24 13:47] zackzhangkai commented on #3363
This is another question, I think. You can create a new issue, and describe it with more details.

[2021-02-24 13:48] zackzhangkai commented on #3363
/close

[2021-02-24 13:48] #3363 closed

[2021-02-25 02:38] duanjiong commented on #3388
You also need to add an option to unbind ippool from workspace  @leoendless

[2021-02-25 03:01] wjl120 commented on #3197
hello, I have the same issue on AWS EKS .
I want to know how to manually change the kubeconfig on kubesphere?
which item need to be change on below?

- cluster:
    certificate-authority-data:
    server: https://10.100.0.1:443
  name: local
contexts:
- context:
    cluster: local
    namespace: default
    user: admin
  name: admin@local
current-context: admin@local

[2021-02-25 03:24] RolandMa1986 opened #3395 "No default Roles in the Devops project"
**Describe the Bug**

There are no default roles that can be found when creating a new devops project.

**Versions Used**
KubeSphere: latest master branch

**How To Reproduce**
Steps to reproduce the behavior:
1. Install KubeSphere with the latest build
2. Enable DevOps compenent
3. Create a new DevOps project
4. Go to "Project Role", There are no Default Roles.

**Expected behavior**
Default role

[2021-02-25 03:25] RolandMa1986 commented on #3395
/kind bug
/area iam
/assign

[2021-02-25 03:42] #3387 closed

[2021-02-25 05:11] liuyp2018 opened #3397 "Some workspace administrators are not shown in the ippool detail page"
**Describe the Bug**

Some enterprise space administrators are not shown in the ippool detail page

![image](https://user-images.githubusercontent.com/36271543/109106457-c1682a00-776a-11eb-84ce-e9d1b00992e4.png)

ks version:
nightly-20210222

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0
/area networking
/area console

[2021-02-25 05:34] liuyp2018 opened #3398 "When creating a workload, recommend that not to show ippool with zero available IP numbers"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/36271543/109108136-e8742b00-776d-11eb-80e4-0503e2c6e0a4.png)

**ks version:**
nightly-20210222

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0
/area networking
/area console

[2021-02-25 07:02] liuyp2018 opened #3399 "POD cannot schedule services, topology details cannot be shown"
**Describe the Bug**
POD cannot schedule services, topology details cannot be shown
![image](https://user-images.githubusercontent.com/36271543/109115700-6807f700-777a-11eb-9946-50b09d86e53b.png)

https://user-images.githubusercontent.com/36271543/109115718-6cccab00-777a-11eb-8163-29a1db273c78.mp4

ks version:
nightly-20210222

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0
/area

[2021-02-25 07:07] liuyp2018 opened #3400 "Viewing the topology page, the service location changes constantly"
**Describe the Bug**
Viewing the topology page, the service location changes constantly

https://user-images.githubusercontent.com/36271543/109116084-efee0100-777a-11eb-9a4a-2aa3402416e4.mp4

**ks version:**
nightly-20210222

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0
/area networking
/area console

[2021-02-25 07:09] liuyp2018 opened #3401 "The service name is not fully displayed on the topology page"
**Describe the Bug**
The service name is not fully displayed on the topology page
![image](https://user-images.githubusercontent.com/36271543/109116369-5e32c380-777b-11eb-8b68-b9dc83f2e56f.png)

**ks version:**
nightly-20210222

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0
/area networking
/area console

[2021-02-25 07:40] LinuxSuRen commented on #3197
hi @wjl120 , please try to change the user part.

[2021-02-25 09:45] #3038 closed

[2021-02-25 10:36] wansir opened #3402 "system-workspace deleted unexpectedly"
**Describe the Bug**

system-workspace can be removed from the cluster authorization list. This operation is risky and needs to be prohibited.

![image](https://user-images.githubusercontent.com/8263040/109139941-0b670500-7797-11eb-911c-74323488f5ec.png)

**Expected behavior**

Operations on system-workspace are prohibited in the cluster authorization list.

[2021-02-25 10:36] wansir commented on #3402
/assign @leoendless

[2021-02-25 11:52] zryfish opened #3404 "Selectively reconcile application objects"
**What's it about?**
KubeSphere application managment is built on top of [sig-application](https://github.com/kubernetes-sigs/application), using object `application` from this repo. There are other projects depend on this repo too. If KubeSphere was installed alongside these projects, conflicts will happen. Because there will two dependent controllers trying to reconcile the same object.

In orde

[2021-02-25 11:52] zryfish commented on #3404
/milestone 3.1.0
/assign

[2021-02-25 12:45] #2713 closed

[2021-02-26 01:52] wenxin-01 commented on #3297
The current environment is problematic, this issue cannot be proved.

[2021-02-26 03:43] RolandMa1986 opened #3405 "Kubectl Toolbox authencation Enhancement"
**What's it about?**
The Kubectl Toolbox is a powerful tool that has been widely used by admins. However, it can only be used by the users assigned with the Platform admins role currently. For Projects Admin or Workspace Admin, they don't have permission to access Kubectl Toolbox.  And all kubectl sessions use the same Service Account that assigned with the cluster-admin role, so we can't audit op

[2021-02-26 05:53] #3367 closed

[2021-02-26 07:09] LinuxSuRen opened #3406 "The default workspace system-workspace makes users feel confused"
As we know, the workspace `system-workspace` is kind of read-only. We cannot create anything in there.

I'd like to suggest that make it be more clear about its purpose. For example, adding a description sentence to let users know it's read-only.

![image](https://user-images.githubusercontent.com/1450685/109267040-e8def580-7843-11eb-813a-84dbb26b0c81.png)

The version of KubeSphere is `nightly-20

[2021-02-26 08:12] wansir opened #3407 "Cannot modify user profile"
**Describe the Bug**

Cannot modify user's language and description.

1. Change language settings

![image](https://user-images.githubusercontent.com/8263040/109281696-96a7cf80-7857-11eb-9d49-f71644a01e52.png)

2. There is no change after applying settings

![image](https://user-images.githubusercontent.com/8263040/109281881-ceaf1280-7857-11eb-9b6f-b30c503fdc39.png)

[2021-02-26 08:23] zryfish commented on #3407
Please add more description, it's very unclear now

[2021-02-26 08:34] wansir commented on #3407
Added some descriptions

[2021-02-26 09:57] LinuxSuRen commented on #3406
/priority low

[2021-02-26 10:00] LinuxSuRen commented on #3382
It looks like this issue belongs to the upstream project. I'm going to mark this as support.

/support

[2021-02-26 10:04] LinuxSuRen commented on #3373
/kind support

[2021-02-26 10:06] LinuxSuRen commented on #3373
hi @pcyan , Thanks for reaching out to us. But I don't understand what's exactly the meaning of 'default port'. I'm wondering if you can explain it more?

[2021-02-26 10:09] FeynmanZhou commented on #3373
I guess I understand it, see this [guide](https://kubesphere.io/docs/faq/observability/monitoring/#host-port-9100-conflict-caused-by-the-node-exporter) to learn more details.

[2021-02-26 10:10] FeynmanZhou commented on #3373
/area observability

[2021-02-26 10:14] LinuxSuRen commented on #3373
@FeynmanZhou Thanks for given the context. I learned it.

[2021-02-26 10:15] LinuxSuRen commented on #3295
/kind bug
/cc @kubesphere/sig-apps

[2021-02-27 09:23] #3407 closed

[2021-02-28 10:58] ciiiii commented on #3019
How do you do? Where can i find the source code of kube-auditing-operator? Thank you very much

[2021-02-28 11:05] ciiiii opened #3411 "How can I get source code of kube-auditing-operator?"
If i want to read kube-auditing-operator source code, what can i do?

[2021-02-28 12:48] FeynmanZhou commented on #3411
/assign @kubesphere/sig-observability

[2021-02-28 16:17] #3036 closed

[2021-03-01 01:28] haomi123 commented on #3019
Sorry, I forgot, I did not get the source code&nbsp; of kube-auditing-operator, finally skipped the image

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "kubesphere/kubesphere"                                                                                    <notifica

[2021-03-01 01:31] benjaminhuo commented on #3411
kube-auditing is not open source yet, it's still under evaluation.

[2021-03-01 03:42] daniel-hutao opened #3413 "Proposal: Making logsidecar optional"
As we all know, there are two main log collection solutions:

1. To collect logs on disks through filebeat；
2. To collect the stdout/stderr of containers through fluent-bit；

If the logs in the user's containers are all written to the stdout, it is enough to run fluent-bit on host machines, and the sidecar can be removed. If the logs are written to stdout and written to disks too, the logsidecar w

[2021-03-01 05:46] #3365 closed

[2021-03-01 05:51] LinuxSuRen commented on #1708
/retitle Request to add s2i support for Golang
/priority medium

[2021-03-01 06:01] LinuxSuRen commented on #265
/retitle Request to have the support for the Pipeline approver getting the notification
/priority medium

[2021-03-01 06:02] LinuxSuRen commented on #560
/retitle Request to support projects and issues management integration

[2021-03-01 06:02] LinuxSuRen commented on #560
/priority medium

[2021-03-01 06:13] daniel-hutao opened #3414 "Proposal: Add GPU monitoring support"
NVIDIA provides dcgm-exporter to support the expose of GPU metrics. We can integrate this component in kube-prometheus to support GPU monitoring. In addition, this feature needs to have corresponding support in the console. I can integrate dcgm-exporter, I have integration experience in it. But I'm not good at web development. I hope someone can complete the development work in the console alone w

[2021-03-01 06:14] LinuxSuRen commented on #3414
/kind proposal

[2021-03-01 06:15] LinuxSuRen commented on #3413
/kind proposal

[2021-03-01 06:47] daniel-hutao opened #3415 "Proposal: Use elastic/helm-charts replace helm/charts for elasticsearch"
README.md

This Helm chart is deprecated

As mentioned in #10543 this chart has been deprecated in favour of the official [Elastic Helm Chart](https://github.com/elastic/helm-charts/tree/master/elasticsearch).

[2021-03-01 06:47] daniel-hutao commented on #3415
/kind proposal

[2021-03-01 06:59] #3402 closed

[2021-03-01 07:19] #3404 closed

[2021-03-01 07:35] duanjiong opened #3417 "Use an on/off button instead of auto-refresh"
![image](https://user-images.githubusercontent.com/3678855/109465820-bc291900-7aa3-11eb-959f-fe97dfd30114.png)

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0
/area networking

[2021-03-01 07:37] duanjiong commented on #3417
Just use one button, auto refresh by default, click off to turn off auto refresh

[2021-03-01 08:34] wansir opened #3418 "Can't sign in with Google Account"
**Describe the Bug**

After I configured OIDC Identity Provider:

[code]

I can't sign in with my Google Account.

![image](https://user-images.githubusercontent.com/8263040/109471531-d8c94f00-7aab-11eb-95fa-21a3a0699ada.png)

[2021-03-01 08:35] wansir commented on #3418
/kind bug
/assign @leoendless

[2021-03-01 09:27] FeynmanZhou commented on #3414
/cc @benjaminhuo @zhu733756

[2021-03-01 09:46] kuwaitman commented on #2010
i'm having the same issue. is there a solution?

[2021-03-01 09:48] zhu733756 commented on #3414
@daniel-hutao Hi, Can you give a detailed description? In recent days, we have a nvidia gpu dashboard in repo [monitoring-dashboard](https://github.com/kubesphere/monitoring-dashboard/tree/master/contrib/gallery) which can be compatible with ks3.0. [The link here](https://kubesphere.com.cn/forum/d/3810-gpu-operator-kubesphere-gpu) in our forum have a detailed description.

[2021-03-01 09:51] benjaminhuo commented on #3414
Currently, we've no plan to add GPU monitoring. You can use KubeSphere custom monitoring to monitoring GPU as mentioned in https://kubesphere.com.cn/forum/d/3810-gpu-operator-kubesphere-gpu

[2021-03-01 09:55] junotx commented on #3415
It may be updated later, but not included in the 3.1 plan, and you can replace it manually for the time being. Thank you for your proposal

[2021-03-01 10:15] FeynmanZhou commented on #2010
@kuwaitman  Which version are you installing?

[2021-03-01 16:07] kuwaitman commented on #2010
kubesphere 3.0 ..
i'm trying to reinstall it. please send me a guide i am not able to install it ..

[2021-03-01 16:11] wenxin-01 opened #3419 "Alarm policies that do not set thresholds and monitor targets can still generate alarms"
**Describe the Bug**
Alarm policies that do not set thresholds and monitor targets can still generate alarms

**Environment**
http://xxxx:79:30104

**Preset conditions**
1、There is account A, which has cluster management privileges.
2、Use account A to log in to KS, and go to Platform management--》Cluster management--》Alerting Policies.

**How To Reproduce**
Steps to reproduce the behavior:
1. clic

[2021-03-01 16:33] wenxin-01 opened #3420 "Only data larger than the threshold is shown in the alert monitoring trend chart"
**Describe the Bug**
Only data larger than the threshold is shown in the alert monitoring trend chart

**Environment**
http://xxxx.79:30104

**Preset conditions**
1、There is account A, which has cluster management privileges.
2、Use account A to log in to KS, and go to Platform management--》Cluster management--》Alerting Policies.

**How To Reproduce**
Steps to reproduce the behavior:
1. click "crea

[2021-03-01 16:52] wenxin-01 opened #3421 "The recent alarm time in the alarming policy detail is incorrect."
**Describe the Bug**

The recent alarm time in the alarming policy detail is incorrect.

**Environment**
http://xxxx.79:30104

**Preset conditions**
1、There is account A, which has cluster management privileges.
2、Use account A to log in to KS, and go to Platform management--》Cluster "B" management--》Alerting Policies.

**How To Reproduce**
Steps to reproduce the behavior:
1. Deployment  applicati

[2021-03-02 01:24] pcyan commented on #3373
every time i enable/disable some plugins by change kubesphere clusterConfiguration, the node-exporter port will be reset to 9100.
am i missing something?

[2021-03-02 01:37] daniel-hutao commented on #3414
All right~

[2021-03-02 01:41] daniel-hutao commented on #3413
/close

[2021-03-02 01:42] #3413 closed

[2021-03-02 01:45] daniel-hutao commented on #3414
/close

[2021-03-02 01:46] #3414 closed

[2021-03-02 02:13] FeynmanZhou commented on #2010
Actually, you can find the documents from [https://kubesphere.io/docs](https://kubesphere.io/docs).

[2021-03-02 02:26] wenxin-01 commented on #3336
After following document https://github.com/kubesphere/website/issues/1110 , you can upgrade successfully.

[2021-03-02 02:26] #3336 closed

[2021-03-02 02:51] #3321 closed

[2021-03-02 03:28] wenxin-01 opened #3422 "Alarm is not retriggered after changing duration of alarm or alarm rule."
**Describe the bug**
Modify an alert policy that has already generated an alert without retriggering the alert.

**Environment**
http://xxxx.79:30104

Preset conditions
1、There is account A, which has cluster management privileges.
2、Use account A to log in to KS, and go to Platform management--》Cluster "B" management--》Alerting Policies.
3、There is an alarm policy 'test' that has already generate

[2021-03-02 07:14] duanjiong commented on #3393
/assign @leoendless

[2021-03-02 07:18] wansir commented on #3191
Related to https://kubesphere.com.cn/forum/d/3102-loginrecordsiamkubesphereio

/priority high

[2021-03-02 07:40] Suozz commented on #3132
@wansir `2021/03/02 15:36:23 http: TLS handshake error from 10.42.0.0:24028: remote error: tls: bad certificate
2021/03/02 15:36:23 http: TLS handshake error from 10.42.0.0:41717: remote error: tls: bad certificate
E0302 15:36:23.081687       1 user_controller.go:332] Internal error occurred: failed calling webhook "validating-user.kubesphere.io": Post "https://ks-controller-manager.kubesphere-sys

[2021-03-02 07:41] Suozz commented on #3132
this is my issue. seems like some certification is incorrect. I am running kubesphere on rancher.
So sad. --!

[2021-03-02 07:45] wansir commented on #3132
@Suozz  For more information about the issue and solution, https://github.com/kubesphere/kubesphere/issues/2928

[2021-03-02 08:18] #3399 closed

[2021-03-02 12:27] usst830514 commented on #3013
Is where any code snippet that show how velero client functions can be intergated to our own project?

[2021-03-02 15:38] zheng1 commented on #1388
After version 3.1 use --post-renderer to add creator annotations to the necessary resources

[2021-03-03 03:11] Forest-L commented on #3419
/assign @junotx

[2021-03-03 03:11] Forest-L commented on #3420
/assign @junotx

[2021-03-03 03:12] Forest-L commented on #3421
/assign @junotx

[2021-03-03 03:12] Forest-L commented on #3422
/assign @junotx

[2021-03-03 07:16] LinuxSuRen opened #3426 "Error occured with unmarshal bool into Go struct due to the boolean parameter in Jenkinsfile"
**Describe the Bug**

The pull request list page is blank due to the internal server error.

[code]

![image](https://user-images.githubusercontent.com/1450685/109766840-b103f380-7c31-11eb-97f8-e2e63e549548.png)

/area devops
/assign
/priority high

**Versions Used**
[code]

**Environment**
This is not an environmental issue.

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to the DevO

[2021-03-03 07:17] LinuxSuRen commented on #3426
Here is an example for Jenkins pipeline parameter usage

[Jenkinsfile-parameters.groovy](https://github.com/devops-ws/learn-pipeline-java/blob/master/Jenkinsfile-parameters.groovy)

[2021-03-03 07:51] wansir commented on #3028
It needs to be discussed that if there are already some members under the project that will be affected when transferring the namespace. Currently, kubectl can be used instead.

/milestone BackLog

[2021-03-03 07:56] wansir commented on #3378
/assign

/milestone BackLog

[2021-03-03 07:59] wansir commented on #3357
/kind bug
/milestone 3.1.0
/assign @leoendless
/assign @wansir

[2021-03-03 08:05] wansir commented on #3322
/assign
/assign @leoendless
/milestone BackLog

[2021-03-03 08:05] wansir commented on #3312
/assign

[2021-03-03 08:51] junotx commented on #3421
It should not be the recent alert time. `activeTime` is the time when the alert is active, that is, the begin time. Please name this property to `active time` @leoendless

[2021-03-03 09:15] junotx commented on #3422
Did the rule trigger an alert before the modification? If so, does the application deployed after the modification satisfy the rule condition?  @wenxin-01

[2021-03-03 10:20] zryfish commented on #3155
It should be fixed in our next release, v3.1.0 soon

[2021-03-03 10:23] wansir commented on #3418
Verified in the latest version.

/close

[2021-03-03 10:23] #3418 closed

[2021-03-04 01:44] wenxin-01 commented on #3422
Alarm have been triggered before the modification, and the modified rule satisfies the trigger condition. @junotx

[2021-03-04 02:12] junotx commented on #3422
If tha same alert was triggered before and after the rule changed, it would generally continue the previous alert until the duration condition is met, and then send the alert downstream.

[2021-03-04 02:13] junotx commented on #3421
/assign @leoendless

[2021-03-04 02:31] #3398 closed

[2021-03-04 02:32] #3392 closed

[2021-03-04 02:38] #3388 closed

[2021-03-04 02:39] #3384 closed

[2021-03-04 02:39] #3389 closed

[2021-03-04 02:41] #3397 closed

[2021-03-04 03:10] wenxin-01 commented on #3422
【Expected behavior】The previously generated alert state should be cleared immediately after the rule change.

[2021-03-04 03:46] #3044 closed

[2021-03-04 05:38] haormj opened #3428 "kubesphere 3.0 servicemesh not support kubernetes service has multi-port"
**Describe the Bug**

kubesphere servicemesh not support kubernetes service with multi-port, if your service has multi-port, ks create VirtualService will route traffic to the first port

**Versions Used**
KubeSphere: 3.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

**How To Reproduce**
Steps to reproduce the behav

[2021-03-04 05:39] haormj commented on #3428
@zackzhangkai

[2021-03-04 07:07] LinuxSuRen opened #3430 "Parameterized Pipeline errors due to the different implements in Jenkins"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/1450685/109923551-e3792380-7cf9-11eb-8fbe-c1aefc904b4e.png)

/area devops
/priority high
/kind bug

**Versions Used**
The master version.

**Environment**
This is not an environmental issue.

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to DevOps project
2. Create a simple Pipeline and multi-branch Pipeline wit

[2021-03-04 13:00] #1955 closed

[2021-03-05 01:21] #3027 closed

[2021-03-05 05:39] #3391 closed

[2021-03-05 06:12] #3421 closed

[2021-03-05 06:19] #3426 closed

[2021-03-05 06:30] #3012 closed

[2021-03-05 06:30] #2989 closed

[2021-03-05 07:31] junotx commented on #3419
It has been fixed by https://github.com/kubesphere/console/pull/1516

[2021-03-05 11:35] #3075 closed

[2021-03-05 11:35] #3082 closed

[2021-03-05 12:34] #2982 closed

[2021-03-05 15:35] #2881 closed

[2021-03-05 15:35] #2025 closed

[2021-03-06 09:43] #3089 closed

[2021-03-06 11:43] #3057 closed

[2021-03-06 11:47] #3191 closed

[2021-03-06 15:43] #2952 closed

[2021-03-06 15:43] #2932 closed

[2021-03-06 15:43] #2960 closed

[2021-03-06 15:43] #2944 closed

[2021-03-06 15:43] #2925 closed

[2021-03-06 15:43] #2905 closed

[2021-03-06 15:43] #2897 closed

[2021-03-06 15:43] #2836 closed

[2021-03-06 15:43] #2894 closed

[2021-03-06 15:43] #2818 closed

[2021-03-06 15:43] #2824 closed

[2021-03-06 15:43] #2803 closed

[2021-03-07 09:39] minicloudsky opened #3434 "How to upgrade all-in-one single cluster to master worker mode"
**What's your question**
I installed kubesphere in all-in-one mode,Now i Brought another server,So how can I upgrade My all-in-one kubesphere cluster to master-worker mode,to get a better performance，any tutorials,docs,suggestions will be nice and helpful to me,Thanks in advance!

**Environment: OS & Hardware Information**
My two server are both Centos 7 with 2 CPU and 4G RAM

**Error logs or mess

[2021-03-07 09:43] FeynmanZhou commented on #3434
I hope [this guide](https://kubesphere.io/docs/installing-on-linux/cluster-operation/add-new-nodes/) can help you to add the new master or worker nodes.

[2021-03-07 10:23] minicloudsky commented on #3434
thanks ,this solved my problem

[2021-03-07 10:23] #3434 closed

[2021-03-08 02:05] tagGeeY commented on #3245
@wansir , Hi, I got the same problem, I follow up [#3015 #commont](https://github.com/kubesphere/kubesphere/issues/3105#issuecomment-725784472) , then I exec this curl command and it execute ok:
`$curl -X POST 'http://ks-apiserver.kubesphere-system.svc/oauth/token' -H 'Content-Type: application/x-www-form-urlencoded' --data-urlencode 'grant_type=password' --data-urlencode 'username=admin' --data-u

[2021-03-08 02:32] stoneshi-yunify commented on #1791
this issue is fixed in 3.1, not 3.0.

[2021-03-08 05:45] zryfish commented on #1077
@kubesphere/sig-observability

[2021-03-08 05:47] zryfish commented on #3164
/milestone BackLog

[2021-03-08 05:48] zryfish commented on #459
/milestone BackLog

[2021-03-08 05:49] zryfish commented on #641
/milestone BackLog

[2021-03-08 05:51] zryfish commented on #1882
/milestone BackLog
/priority low

[2021-03-08 05:52] zryfish commented on #1074
@kubesphere/sig-apps  Any updates on this ?

[2021-03-08 05:53] zryfish commented on #1121
/close

Workspace resource quota is included in our master branch and will be released in v3.1.0 soon

[2021-03-08 05:53] #1121 closed

[2021-03-08 05:55] LinuxSuRen commented on #459
hi @blueftss , it's good to receive your feedback. But we encourage all of us to communicate in English. I try to rewrite your issue title in English. Please correct me if it's not accuracy.

/retitle Add support to export workspaces and projects as YAML format

[2021-03-08 05:56] zryfish commented on #1670
/milestone BackLog

[2021-03-08 06:29] #3430 closed

[2021-03-08 06:45] tagGeeY commented on #3245
Finally, I restarted ks-controller-manager, ks-console, then successfully login.
and the log of ks-controller-manager shows: `Successfully synced key:admin`.

[2021-03-08 07:54] minicloudsky opened #3435 "Failed to start etcd cluster"
**Describe the Bug**
Failed to start etcd cluster: Failed to exec

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this) v1.17.9

**Environment**
How many nodes and their hardware configuration:
three nodes,both are centos7,with 2 cpu and 4 G RAM
tencentcloud(master)
huaweicloud2(worker)
aliyun(worker)
My yaml like below,due to my 3 server are in huawei

[2021-03-08 08:01] FeynmanZhou commented on #3435
The servers of your cluster are provided by different cloud providers? It is not the best practice for provisioning a cluster and it's not recommended by the community.

[2021-03-08 08:15] minicloudsky commented on #3435
yes,But i can not figure out the problem of why etcd can not start, ssh connect between the three are ok

[2021-03-08 08:48] xyz-li commented on #1074
It is will be resolved in version 3.1

[2021-03-08 15:22] zackzhangkai commented on #3428
/assign @zackzhangkai

[2021-03-09 01:50] minicloudsky commented on #3435
It seems that etcd does not installed,the full stack trace
[code]

in worker node(huaweicloud2),I tried to exec the above command
[code]
Is there a way to configure etcd manually? thank you very much ~

[2021-03-09 02:07] RolandMa1986 commented on #3435
Hi @minicloudsky ,
1. Please check your firewall settings, make sure port 2345  is opened.
2. According to your EIP type, You need to check whether a  port map is needed.
3. Login to your master and user `systemctl status etcd` or netstat to check if the etcd was started successfully

[2021-03-09 04:28] #2809 closed

[2021-03-09 05:44] wenxin-01 commented on #3421
@leoendless Please name this property to` Alert Active Time` too
![image](https://user-images.githubusercontent.com/68640256/110424331-98865400-80dd-11eb-827d-59e26fb67c62.png)

[2021-03-09 05:58] wenxin-01 opened #3438 "Alerting Duration should be limited to positive integers."
**Environment**
nightly-20210307

**Preset conditions**
1、There is account A, which has cluster management privileges.
2、Use account A to log in to KS, and go to Platform management--》Cluster "B" management--》Alerting Policies.

**How To Reproduce**
Steps to reproduce the behavior:
1. Click 'create'
2. input non-numeric characters in Alerting Duration(Minutes), example 'test'.
3. input a negative

[2021-03-09 06:05] #3438 closed

[2021-03-09 06:08] wenxin-01 commented on #3438
https://github.com/kubesphere/console/issues/1544

[2021-03-09 06:27] zackzhangkai commented on #3428
/assign @leoendless

[2021-03-09 07:02] wenxin-01 opened #3439 "The documentation for Service Accounts cannot be accessed."
**Environment**
nightly-20210307

**Preset conditions**
1、There is account A, which has project 'B' management privileges.
2、Use account A to log in to KS, and go to Project 'B'--》Configurations--》ServiceAccounts.

**How To Reproduce**
Steps to reproduce the behavior:
1. Click 'learn more'

**Expected behavior**
Go to the documentation page of Service Accounts.

**Actual behavior**
![image](https:

[2021-03-09 07:16] ciiiii commented on #3411
@benjaminhuo ok, thank you for your reply /close

[2021-03-09 07:17] #3411 closed

[2021-03-09 07:18] minicloudsky commented on #3435
I reinstalled my operating systems,and opened all my server ports in security group and shutdown the firewall, and ssh connection with each other is ok,however,it seems  that the problem is about network connection,any suggestions whill be appreciate to me,thanks~
my stack trace
[code]
![image](https://user-images.githubusercontent.com/32286819/110432742-7810c680-80ea-11eb-936e-d60d2d9ff7ec.png)
!

[2021-03-09 07:19] leoendless commented on #3421
T

Already fixed, please update your enviroment.

[2021-03-09 07:20] RolandMa1986 commented on #3439
@leoendless @FeynmanZhou It's not reasonable to put a v3.1 document under the v3.0 documents right? So I should not put the document to the website currently. I think we are closing to the release of 3.1. Should a new document version be created too?

[2021-03-09 07:22] minicloudsky commented on #3435
on node1,etcd seems have some problems.
![image](https://user-images.githubusercontent.com/32286819/110433340-477d5c80-80eb-11eb-8a0e-115a94f847ee.png)

[2021-03-09 07:38] minicloudsky commented on #3435
on master,telnet connect to node1 was refused
![image](https://user-images.githubusercontent.com/32286819/110434747-274e9d00-80ed-11eb-9067-0fd2a5a69457.png)
firewalld all closed
![image](https://user-images.githubusercontent.com/32286819/110435018-7694cd80-80ed-11eb-87e3-3e0e5f56c6e3.png)

![image](https://user-images.githubusercontent.com/32286819/110434958-654bc100-80ed-11eb-8a65-0fac1b626521.p

[2021-03-09 07:38] RolandMa1986 commented on #3435
@minicloudsky  I don't think it's possible setup the K8S cluster just using the public IP. You can't fill the public IP as same as your Internal IP. The Internal IP must be one of your Ethernet interfaces.

[2021-03-09 07:41] minicloudsky commented on #3435
thank you very much ,I will add the internal Ip and retry.

[2021-03-09 07:46] RolandMa1986 commented on #3435
But another issue is you can't connnet each other Node by using their private IP. You must setup a tunnel between the Nodes.

[2021-03-09 07:59] minicloudsky commented on #3435
I deleted the cluster and added the master and node1 with The Internal IP,however,the etcd still seems does not start.what is the problem
[code]
my config like below
[code]

[2021-03-09 11:36] #3261 closed

[2021-03-09 14:56] xyz-li opened #3443 "controller unit test timed out"
**Describe the Bug**
controller unit test time out sometimes. It occurs in github only.

[code]

[2021-03-09 14:57] xyz-li commented on #3443
/assign @wansir

[2021-03-10 01:13] haormj commented on #3428
@zackzhangkai nice, I will test it

[2021-03-10 05:55] liuyp2018 opened #3444 "The search entry box is hidden on the CRD detail page of the custom resource"
**Describe the Bug**
The search entry box is hidden on the CRD detail page of the custom resource
![image](https://user-images.githubusercontent.com/36271543/110582664-7c4ee980-81a7-11eb-8b84-a2b1a814a6bd.png)

**steps**
1. Enter the custom resource CRD page of the cluster
2. Select a custom resource CRD and enter its details page
3. In the search input box of the resource list, enter a field that

[2021-03-10 06:11] liuyp2018 opened #3445 "The newly created custom monitor is not shown in the custom monitor list"
**Describe the Bug**
In the custom monitor list under the cluster, after the newly created custom monitor, the list does not automatically refresh to display the created data
![image](https://user-images.githubusercontent.com/36271543/110584023-8eca2280-81a9-11eb-8db0-7f15b276f558.png)

**steps**
1. Enter the cluster custom monitor list
2. Create a custom monitor
3. Look at the data in the list

*

[2021-03-10 06:25] liuyp2018 opened #3446 "In the created monitoring template, the description is empty"
**Describe the Bug**
When creating a custom template, the description information is set;
In the created monitoring template, the description is empty
![image](https://user-images.githubusercontent.com/36271543/110585952-5c6df480-81ac-11eb-840b-95ce4c1f9e79.png)

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0
/area console

[2021-03-10 07:09] liuyp2018 opened #3448 "cannot see the data in the lower half of the chart When there is more data in the chart"
**Describe the Bug**

When there is more data in the chart：
you scroll down, the chart data hover box disappears when you scroll out of the chart area，so you cannot see the data in the lower half of the chart

https://user-images.githubusercontent.com/36271543/110589990-23388300-81b2-11eb-9aa4-358ab7bd6f1e.mp4

/kind bug
/assign @leoendless
/priority Low
/milestone 3.1.0
/area console

[2021-03-10 07:13] klj890 opened #3449 "Container restart times sorted and alerted"
**What's it about?**

Support container restart count ordering and alerting.

**What's the reason why we need it?**

An excessive number of container restarts indicates that the container runs at some risk. Hope to be able to remind managers.

**Area Suggestion**

/area alerting
/area console
/area apiserver
/kind feature-request

[2021-03-10 07:26] liuyp2018 opened #3450 "delete data in the second page , and check that the data still exists in the list"
**Describe the Bug**
In the custom monitor list, enter the second page of the list；
delete one data, and check that the data still exists in the list

https://user-images.githubusercontent.com/36271543/110591275-d48be880-81b3-11eb-9be8-8f585788c57e.mp4

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0
/area console

[2021-03-10 07:30] liuyp2018 opened #3451 "Custom monitor list, search function should be changed to fuzzy match"
**Describe the Bug**

Custom monitor list, search function is exact match, should be changed to fuzzy match

![image](https://user-images.githubusercontent.com/36271543/110592581-6fd18d80-81b5-11eb-8c64-3f47f7db2eac.png)

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0
/area console

[2021-03-10 07:37] liuyp2018 opened #3452 "Incorrect creation time for monitor template display in custom monitor list"
**Describe the Bug**
Incorrect creation time for monitor template display in custom monitor list
The creation time is displayed the same
![image](https://user-images.githubusercontent.com/36271543/110593121-246baf00-81b6-11eb-949f-ef278dae599f.png)

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0
/area console

[2021-03-10 07:53] liuyp2018 opened #3453 "In the profile preview for the custom monitor, there are two scrollbars"
**Describe the Bug**
In the profile preview for the custom monitor, there are two scrollbars

![image](https://user-images.githubusercontent.com/36271543/110594938-6564c300-81b8-11eb-969e-40523af506e5.png)

/kind bug
/assign @leoendless
/priority Low
/milestone 3.1.0
/area console

[2021-03-10 08:59] liuyp2018 opened #3454 "The application's Tracing page is blank"
**Describe the Bug**
On the Application Details page, visit the Tracing page, no request is sent, and the page is blank
![image](https://user-images.githubusercontent.com/36271543/110603238-c47b0580-81c1-11eb-8134-27e0e7f77ba7.png)

/kind bug
/assign @leoendless
/priority High
/milestone 3.1.0
/area console

[2021-03-10 09:50] liuyp2018 opened #3455 "User password verification problem"
**Describe the Bug**
Enter a password character of length 6.
the ‘密码长度至少为 6’ validation is not shown green
![image](https://user-images.githubusercontent.com/36271543/110609620-5d148400-81c8-11eb-94d9-7a002ef643c8.png)

/kind bug
/assign @leoendless
/priority Low
/milestone 3.1.0
/area console

[2021-03-10 09:50] liuyp2018 opened #3456 "Change '登陆' to '登录'"
**Describe the Bug**

Change '登陆' to '登录'

![image](https://user-images.githubusercontent.com/36271543/110608753-7b2db480-81c7-11eb-96e5-05f0077044ff.png)

/kind bug
/assign @leoendless
/priority Low
/milestone 3.1.0
/area console

[2021-03-11 03:31] LinuxSuRen commented on #3456
/good-first-issue

[2021-03-11 03:39] #3422 closed

[2021-03-11 05:52] leoendless commented on #3454
fixed in https://github.com/kubesphere/console/pull/1541

[2021-03-11 05:52] #3454 closed

[2021-03-11 07:51] #3444 closed

[2021-03-11 08:42] #3455 closed

[2021-03-11 08:42] #3453 closed

[2021-03-11 08:42] #3452 closed

[2021-03-11 08:42] #3450 closed

[2021-03-11 08:43] #3446 closed

[2021-03-11 08:43] #3445 closed

[2021-03-11 09:40] daniel-hutao opened #3457 "Proposal: Add external elasticsearch http basic auth support at cc"
kubesphere/ks-installer/issues/1311

ES enabling authentication is a very common scenario. We already have <common.es.externalElasticsearchUrl> to sepcify the url of external es, so we can simply use a similar approach add <common.es.externalElasticsearchUsername common.es.externalElasticsearchPassword> to specify the username and password of es with authentication enabled.

[2021-03-11 09:43] daniel-hutao commented on #3457
/proposal

[2021-03-11 10:23] LinuxSuRen opened #3459 "Cannot deploy application from app store"
**Describe the Bug**
Cannot deploy an application from the app store.

[code]

**Versions Used**
KubeSphere: nightly-20210307

**Environment**
None.

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to the App Store page
2. Choose any application to install without making any changes
3. See the errors

**Expected behavior**
Users can install the application successfully.

[2021-03-11 10:26] LinuxSuRen commented on #3459
/kind bug
/area app-management
/cc @kubesphere/sig-apps

[2021-03-11 10:26] LinuxSuRen commented on #3459
/priority high

[2021-03-11 18:10] #2767 closed

[2021-03-11 18:10] #2750 closed

[2021-03-11 18:10] #2735 closed

[2021-03-11 18:10] #2721 closed

[2021-03-11 18:10] #3063 closed

[2021-03-11 18:10] #2783 closed

[2021-03-12 03:22] #2700 closed

[2021-03-12 03:23] #2619 closed

[2021-03-12 06:36] wansir opened #3460 "Unauthorized resource access"
**Describe the Bug**

Expanded resource search and sorting through API group `resources.kubesphere.io`, but there is a bug here, the resource level is not distinguished in the API path. I can get the list of users through the namespace scope API, even if I only have permission to view all resources in the specified namespace.

**Expected behavior**

Unable to obtain cluster resources through names

[2021-03-12 06:40] #2278 closed

[2021-03-12 06:40] #2616 closed

[2021-03-12 06:40] #2822 closed

[2021-03-12 06:40] #2608 closed

[2021-03-12 06:40] #2610 closed

[2021-03-12 06:40] #2602 closed

[2021-03-12 06:40] #2509 closed

[2021-03-12 06:40] #2459 closed

[2021-03-12 07:31] zryfish commented on #3457
Looks good

[2021-03-12 07:35] daniel-hutao commented on #3457
I suggest that we can let ks support optional configuration with external authentication and non-authentication es clusters first. It needs to code at ks-installer & ks-apiserver；I can finish it with ks-installer part.

[2021-03-12 13:07] #1913 closed

[2021-03-12 13:07] #1900 closed

[2021-03-12 13:07] #2429 closed

[2021-03-12 13:07] #1880 closed

[2021-03-12 13:07] #2654 closed

[2021-03-12 13:07] #1777 closed

[2021-03-12 22:27] eltonbfw opened #3463 "How to reinstall pluggable components"
I initially installed a certain component, such as `logging`, `servicemesh`.
then disabled them in `cluster-configuration.yaml` and deleted the corresponding `namespace`, now I want to reinstall it, is there any way to do it?

[2021-03-13 03:23] WaysonWei opened #3464 "Not loading screenshot from app store if user not logged in"
I am not sure is this a bug, but user are not able to load any attachment from api if they are not logged in.

![Screen Shot 2021-03-13 at 4 21 07 PM](https://user-images.githubusercontent.com/54336863/111017431-6b58df00-8418-11eb-9995-ea879a8a5d31.png)

[2021-03-14 10:40] LinuxSuRen commented on #3463
/kind support

[2021-03-14 13:04] #1388 closed

[2021-03-14 13:08] #3460 closed

[2021-03-14 14:12] xyz-li commented on #3459
/assign @xyz-li

[2021-03-14 14:28] yJunS opened #3466 "When install kubesphere result error"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**What's your question**
When I install Kubesphere by All-in-One on the system ubuntu result error

**Environment: OS & Hardware Information**
OS: ubuntu 18.04
CPU/Mem: 4C/8G

**Error logs or message (Attach logs or screenshot)**
![image](https://user-images.githubusercontent.co

[2021-03-14 14:43] xyz-li commented on #3464
/assign @xyz-li

[2021-03-14 14:44] xyz-li commented on #3464
It will be fixed in v3.1

[2021-03-14 14:53] xyz-li commented on #3464
/area app-management

[2021-03-15 01:50] #3183 closed

[2021-03-15 01:51] zackzhangkai commented on #3428
/close

[2021-03-15 01:51] #3428 closed

[2021-03-15 02:16] LinuxSuRen commented on #3464
/kind bug

[2021-03-15 03:40] hewenhong opened #3468 "Support PDB (PodDisruptionBudget)"
**What's it about?**
We can configure PDB (PodDisruptionBudget) to prevent all copies from being deleted at the same time. K8S will "observe" nginx's currently available and expected number of copies during eviction, and control the Pod deletion rate according to the defined PDB. When the threshold is reached, it will wait for the Pod. Start it on other nodes and then continue to delete them after

[2021-03-15 06:07] zryfish opened #3469 "Concurrent map writes cause panic"
**Describe the Bug**
[code]

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**

**How To Reproduce**

**Expected behavior**

/kind bug
/assign
/milestone 3.1.0

[2021-03-15 06:42] wenxin-01 commented on #3323
this problem persists in nightly-20210314 @wansir

[2021-03-15 06:54] liuyp2018 opened #3470 "The S3 configuration is not set, and the App Store and application templates are displayed in the UI"
**Describe the Bug**
The S3 configuration is not set in ConfigMap, and the App Store and application templates are shown in the UI

**detail description:**
1.S3 storage configuration information is not set in ConfigMap
2.Check the UI to see if the app store and app templates are present

**Expected results:**
App stores and app templates are not displayed in the UI

**Actual results:**
The app sto

[2021-03-15 08:15] daniel-hutao commented on #3457
/area sig-observability

[2021-03-15 08:17] LinuxSuRen commented on #3457
/area observability

[2021-03-15 08:44] liuyp2018 opened #3471 "there is no indication that validation has passed"
**Describe the Bug**
After validation has passed, there is no indication that validation has passed
![image](https://user-images.githubusercontent.com/36271543/111126402-9f193d80-85ad-11eb-8bd1-e219a7d25946.png)

/kind bug
/assign @leoendless
/priority Low
/milestone 3.1.0
/area console

[2021-03-15 09:18] daniel-hutao commented on #3457
@kubesphere/sig-observability

[2021-03-15 09:20] liuyp2018 opened #3472 "When modifying the application repository, there is no prompt message when the set name is repeated"
**Describe the Bug**
No prompt message is given when the set name is repeated

![image](https://user-images.githubusercontent.com/36271543/111130424-2b2d6400-85b2-11eb-8e73-736a488ecf91.png)

**steps:**
1. When modifying the application repository, the setting name is repeated with the name of the existing application repository
2. Click OK

**Expected results:**
Give a prompt message indicating a

[2021-03-15 09:24] zhu733756 commented on #3457
Maybe we can use (eck-oeprator)[https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-overview.html] for basic auth.

[2021-03-15 09:34] liuyp2018 opened #3473 "The application repository cannot be deleted after the application is deployed through the application repository"
**Describe the Bug**

The application repository cannot be deleted after the application is deployed through the application repository
![image](https://user-images.githubusercontent.com/36271543/111132048-db4f9c80-85b3-11eb-9145-38c59f9a919a.png)

**steps:**
1. Deployed the application through the application repository 'repo1'
2. Delete application repository 'repo1'

**Expected results:**
The a

[2021-03-15 09:39] liuyp2018 opened #3474 "Clicking X does not clear the characters in the input box"
**Describe the Bug**
Clicking X does not clear the characters in the input box
![image](https://user-images.githubusercontent.com/36271543/111133235-40f05880-85b5-11eb-81ce-8d633d88e4e3.png)

/kind bug
/assign @leoendless
/priority High
/milestone 3.1.0
/area console

[2021-03-15 09:43] liuyp2018 opened #3475 "The name of the mirror repository could not be changed successfully"
**Describe the Bug**
The name of the mirror repository could not be changed successfully
![image](https://user-images.githubusercontent.com/36271543/111133684-bf4cfa80-85b5-11eb-9928-8a338734a059.png)

**steps:**
1. Select the image repository and go to the edit page
2. Change the name of the mirror repository and click OK

**Expected results:**
The name of the mirror repository can be changed suc

[2021-03-15 09:56] stoneshi-yunify opened #3476 "kubesphere 3.1: misleading description when deleting a devops pipeline"
**Describe the Bug**

![Screen Shot 2021-03-15 at 5 49 10 PM](https://user-images.githubusercontent.com/70880165/111135393-90378880-85b7-11eb-8c33-a0b9c2fe211e.png)

The content of the dialog says "Please enter the user name ...", this is wrong, I'm deleting a pipeline, not a user.

**Versions Used**
KubeSphere: 3.1 (nightly-20210314)

Kubernetes: (If KubeSphere installer used, you can skip this)

[2021-03-15 09:57] stoneshi-yunify commented on #3476
/kind bug
/assign @leoendless
/milestone 3.1.0
/area console

[2021-03-15 10:44] LinuxSuRen commented on #3476
/area devops

[2021-03-15 12:05] daniel-hutao commented on #3457
It's another topic.  We can consider how to connect to the es that enables authentication first, and then consider how to enable authentication in the internal es; because es is mainly deployed outside the cluster.

[2021-03-16 01:16] LinuxSuRen opened #3477 "Suggestion: Valid data of Alerting Duration before submit"
I got an error when submitting the alerting policy instead of pre-check. As you can see from the below screenshot, it's good to check the data before submitting it.

![image](https://user-images.githubusercontent.com/1450685/111241375-ec41f180-8637-11eb-9c48-1bc4684e1da8.png)

/area console
/kind feature-request
/priority low

[2021-03-16 01:17] LinuxSuRen commented on #3477
/area alerting

[2021-03-16 01:41] LinuxSuRen opened #3478 "Inpropriate data validation prompt of alerting template rules in alerting policy"
**Describe the Bug**

The data is totally correct, but it still prompts an error of the alerting template rules in the alert policy creating page. Please see also the screenshot:

![image](https://user-images.githubusercontent.com/1450685/111242041-50b18080-8639-11eb-9558-eef8e5c09922.png)

![image](https://user-images.githubusercontent.com/1450685/111242085-6757d780-8639-11eb-887a-23191df107b2.pn

[2021-03-16 02:00] stoneshi-yunify opened #3479 "kubesphere 3.1: failed pipeline was showed as success"
**Describe the Bug**
test-pipe2: the "Sync Status" is "SUCEESS", but the latest activity of this pipe was "Failure".

I think the "Sync Status" should show the latest activity's status.

![Screen Shot 2021-03-16 at 9 49 58 AM](https://user-images.githubusercontent.com/70880165/111244609-362dd600-863e-11eb-8bb4-6958fe182826.png)
![Screen Shot 2021-03-16 at 9 50 05 AM](https://user-images.githubuser

[2021-03-16 02:01] stoneshi-yunify commented on #3479
/area devops
/milestone 3.1.0
/kind bug

[2021-03-16 02:02] stoneshi-yunify commented on #3479
/assign @kubesphere/sig-devops

[2021-03-16 02:14] LinuxSuRen commented on #3479
The `Sync Status` might makes people feel confused. But it means the communication status between Jenkins and KubeSphere instead of the build status. So I guess this is not a bug. It could be an enhancement if you have a better idea.

How do you think about this @shaowenchen

[2021-03-16 02:22] stoneshi-yunify opened #3480 "kubesphere 3.1: copy a pipeline with description"
**Describe the Bug**
Test case: ks-6145

Failed step 2, I got same description with original pipeline.

![Screen Shot 2021-03-16 at 10 18 30 AM](https://user-images.githubusercontent.com/70880165/111246441-38ddfa80-8641-11eb-90b9-5f1d404b2f60.png)

**Versions Used**
KubeSphere: 3.1 (nightly-20210314)
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and

[2021-03-16 02:22] stoneshi-yunify commented on #3480
/area devops
/kind bug
/assign @kubesphere/sig-devops
/milestone 3.1.0

[2021-03-16 03:08] LinuxSuRen commented on #3480
/priority low

[2021-03-16 03:12] #3474 closed

[2021-03-16 03:30] liuyp2018 opened #3481 "cannot see application details"
**Describe the Bug**
Clicking on an application deployed through the application repository , cannot see application details
![image](https://user-images.githubusercontent.com/36271543/111251754-ce31bc80-864a-11eb-8aa5-b584aae7c1d8.png)

/kind bug
/assign @xyz-li
/priority High
/milestone 3.1.0
/area app-management

[2021-03-16 04:10] stoneshi-yunify opened #3482 "kubesphere 3.1: copy pipeline when jenkins stopped"
**Describe the Bug**
Test case: ks-6568

Choose a pipepline and select `Copy Pipeline`, enter pipeline name, then stopped jenkins (scale the deployment to 0), then click `OK` to create the pipeline.

Expected result: copy failed

Actual result: copy succeeded

![Screen Shot 2021-03-16 at 12 05 09 PM](https://user-images.githubusercontent.com/70880165/111254684-8877f280-8650-11eb-84c2-dc6dde58291c.

[2021-03-16 05:32] LinuxSuRen commented on #3482
/priority high

[2021-03-16 09:26] xyz-li commented on #3443
![image](https://user-images.githubusercontent.com/6263928/111285987-ace9c400-867c-11eb-8ecd-d886649065a6.png)

[2021-03-16 09:28] liuyp2018 opened #3483 "PlaceHolder is not shown"
**Describe the Bug**
PlaceHolder is not shown in the input box when creating the service and adding environment variables
![image](https://user-images.githubusercontent.com/36271543/111286186-e7ebf780-867c-11eb-9aee-fc4cb91d8d10.png)

/kind bug
/assign @leoendless
/priority low
/milestone 3.1.0
/area console

[2021-03-16 09:46] jerryhu1234 opened #3484 "创建多分支时，请考虑能通过webhook出发构建时，需有一个开关，控制是否进行自动构建流水线"
创建多分支时，请考虑通过webhook出发构建，能否有一个功能开关，控制是否进行自动构建流水线，
目的主要只是检出分支名称，而不需要自动构建

[2021-03-16 09:52] liuyp2018 opened #3485 "Cannot display complete configuration file information"
**Describe the Bug**
When viewing configuration files for services, workloads, and container groups, the bottom profile information cannot be viewed

![image](https://user-images.githubusercontent.com/36271543/111289345-06072700-8680-11eb-9f7f-eda632e5cb74.png)

kind bug
/assign @leoendless
/priority Low
/milestone 3.1.0
/area console

[2021-03-16 10:15] liuyp2018 opened #3487 "The workload link page cannot be viewed on the service details page"
**Describe the Bug**
The workload link page cannot be viewed on the service details page
![image](https://user-images.githubusercontent.com/36271543/111292746-78c5d180-8683-11eb-8e15-db2fd148e1cf.png)

/kind bug
/assign @leoendless
/priority High
/milestone 3.1.0
/area console

[2021-03-16 10:25] liuyp2018 opened #3488 "the protocol is not fully displayed"
**Describe the Bug**
In the container group port protocol drop-down box, the protocol is not fully displayed
![image](https://user-images.githubusercontent.com/36271543/111294105-f1795d80-8684-11eb-99a2-455822447fad.png)

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0
/area console

[2021-03-16 10:36] liuyp2018 opened #3489 "Command input box, validation failed"
**Describe the Bug**

1. When creating the workload, add a health check
2. In the command input box, after the command is set, the validation fails

![image](https://user-images.githubusercontent.com/36271543/111295344-38b41e00-8686-11eb-8481-b995fdde57f5.png)

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0
/area console

[2021-03-16 11:14] LinuxSuRen commented on #3482
/assign

[2021-03-16 11:27] LinuxSuRen commented on #3466
/area installation

[2021-03-17 00:16] LinuxSuRen commented on #3484
/area devops
/kind feature-request
/retitle Request to have an option to console if trigger the pipeline when git repository changes

[2021-03-17 01:49] LinuxSuRen commented on #3482
In my opinion, this should be a good feature instead of a bug. Firstly, users don't need to care about the status of Jenkins. So the PIpeline copy action should be successful no matter Jenkins is ok or not.

@liuyp2018 @stoneshi-yunify What's your opinion?

[2021-03-17 02:02] LinuxSuRen commented on #3482
/kind-remove bug

[2021-03-17 02:20] liuyp2018 opened #3492 "404 link problem in interface"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/36271543/111404666-22e83c80-870a-11eb-93c9-503a2a09d9bf.png)

![image](https://user-images.githubusercontent.com/36271543/111404844-6fcc1300-870a-11eb-93f4-e5664b20f731.png)

![image](https://user-images.githubusercontent.com/36271543/111431951-5f7e5d00-8737-11eb-8f8c-516759f15873.png)

![image](https://user-images.githubuserc

[2021-03-17 02:23] LinuxSuRen commented on #3480
The front-end does send the data with a description. So I guess we might need to fix this from the front-end.

![image](https://user-images.githubusercontent.com/1450685/111405007-b4f04500-870a-11eb-9acd-66265d981fe1.png)

[2021-03-17 02:40] haormj opened #3493 "helm repo support authorizes to namespace"
**What's it about?**

helm repo support authorizes to namespace

**What's the reason why we need it?**

we pack applications by helm charts,  an application needs to deploy in a different environment, so it must have a different configmap, and we put different environment applications in different helm repo.

we add helm repos in the workspace, when we enter namespace to deploy an application, nee

[2021-03-17 02:43] zackzhangkai opened #3494 "jenkins initial password is not synced with KubeSphere"
**Describe the Bug**
A clear and concise description of what the bug is.

Sometimes, after enable devops plugin, cannot login Jenkins console with KubeSphere initial password.

Indeed, as we know, this is because of the sync between Jenkins with KubeSphere. But the status shows incorrect.

![image](https://user-images.githubusercontent.com/20178386/111407282-90966780-870e-11eb-8fad-123d9ac85ba4.pn

[2021-03-17 02:44] zackzhangkai commented on #3494
/assign @kubesphere/sig-devops

[2021-03-17 02:46] zackzhangkai commented on #3494
/area devops
/priority medium
/kind bug

[2021-03-17 03:01] stoneshi-yunify opened #3495 "kubesphere 3.1: no response when clicking proceed in pipeline"
**Describe the Bug**
I was following https://kubesphere.io/docs/devops-user-guide/how-to-use/create-a-pipeline-using-jenkinsfile/ to run a pipeline, and stuck in step 5 point 4:
[code]

No response when I clicked the `Proceed`, the pipeline still paused.

![Screen Shot 2021-03-17 at 11 06 11 AM](https://user-images.githubusercontent.com/70880165/111408862-de13d400-8710-11eb-9123-947a85382b3f.png)

[2021-03-17 03:16] liuyp2018 opened #3496 "cannot use fuzzy queries when querying by the name of the application"
**Describe the Bug**

In the workload list, use fuzzy queries when querying by application name .  No matching data is queried
![image](https://user-images.githubusercontent.com/36271543/111409243-85910680-8711-11eb-928b-76dc2dd02674.png)

/kind bug
/assign @xyz-li
/priority Medium
/milestone 3.1.0
/area app-management

[2021-03-17 03:24] stoneshi-yunify commented on #3482
I agree with @LinuxSuRen , wonder what does @liuyp2018 think.

[2021-03-17 03:28] liuyp2018 commented on #3482
I agree with that and will modify this test cases @stoneshi-yunify @LinuxSuRen

[2021-03-17 03:33] LinuxSuRen commented on #3482
Consider all people agree with each other. I'm going to close this issue.

/close
/kind-remove bug

[2021-03-17 03:34] #3482 closed

[2021-03-17 03:35] LinuxSuRen commented on #3495
Thanks for reporting this issue.
/assign

[2021-03-17 04:09] zhu733756 opened #3497 "project-user-guide html 404"
**Describe the Bug**
clik [project-user-guide](https://v3-0.docs.kubesphere.io/docs/project-user-guide/configuration/serviceaccounts/)

**Versions Used**
KubeSphere: 3.10
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
console: latest
apiserver:latest

**How To Reproduce**
clik [project-user-guide](https://v3-0.docs.kubesphere.io/docs/project-user-guide/configuration

[2021-03-17 04:10] wanjunlei opened #3498 "workspace viewer can not view the workspace quota"
**Describe the Bug**
A user with a global role `platform-regular`  and a workspace role `viewer`  can not view the workspace quote management.

For UI issues please also add a screenshot that shows the issue.

![1615953979(1)](https://user-images.githubusercontent.com/53003665/111413447-3e0e7880-8719-11eb-8ac2-1570ee9dad69.png)

**Versions Used**
KubeSphere: 3.1 20210317
Kubernetes: (If KubeSphere

[2021-03-17 04:11] #3497 closed

[2021-03-17 04:12] wanjunlei commented on #3498
/area console
/assign @leoendless
/milestone 3.1.0

[2021-03-17 04:13] wanjunlei commented on #3498
/kind bug

[2021-03-17 04:18] RolandMa1986 opened #3499 "Incorrect Components were selected when creating a Blue-green Deployment"
**Describe the Bug**
Incorrect Components were selected when creating a Blue-green Deployment

**Versions Used**
KubeSphere: latest

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to `Applications` and click `Deploy Sample Application`
2. Once the `bookinfo` is ready. Create a `Blue-green Deployment`
3. Under the `Grayscale Release Components` tab, Selelct Rating firstly.
4. Then clic

[2021-03-17 04:33] wenxin-01 opened #3500 "workspace admin can not view the workspace quote management."
**Describe**
A user with global role `regular` or  `Cluster Management`  and workspace role `admin` can not view the workspace quote management.

**Environment**
kubespheredev/ks-console:latest

**Preset conditions**
A user with global role `regular` and workspace role `admin`

**Expected behavior**

A user with global role `regular` and workspace role `admin` can view the workspace quote manageme

[2021-03-17 04:53] leoendless commented on #3498
@wansir workspace roles should be updated.

[2021-03-17 06:08] wenxin-01 opened #3501 "workspace role 'Workspace Settings' and 'Admin' can not view the workspace quote management."
**Describe the Bug**
There is a user with global role `Workspaces View` and worksapce role `Workspace Settings`

**Versions Used**
KubeSphere: `latest`

**Preset conditions**
1、There is a workspace 'wx-ws'
2、There is a user 'test' with global role `Workspaces View` and worksapce 'wx-ws' role `Workspace Settings`

**To Reproduce**
Steps to reproduce the behavior:
1.Use user 'test' log in ks
2. Go t

[2021-03-17 06:18] FeynmanZhou commented on #3492
/cc @kubesphere/sig-docs
/assign @Felixnoo @Sherlock113 @Patrick-LuoYu
These two links are also broken in v3.0.0.

[2021-03-17 06:28] wenxin-01 opened #3502 "The service account option should be added to the project permission edit page."
**Describe the Bug**

**Versions Used**
KubeSphere: `dev:latest`

**Preset conditions**
1、There is account ‘test’, which has the management authority of project 'pro'

**How To Reproduce**
Steps to reproduce the behavior:
1. Use account 'test' log in KS
2. Go to project 'pro'
2. Click on 'Project Settings'
3. Click on 'Project Roles'
4. Click on 'Create'
5. Click on 'Edit Authorization' after inpu

[2021-03-17 06:31] wenxin-01 commented on #3502
/priority medium

[2021-03-17 07:00] wanjunlei opened #3503 "Workspace quota can exceed the maximum"
**Describe the Bug**
Workspace quota can exceed the maximum

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/53003665/111427627-5ab6aa80-8731-11eb-988c-7dbb02edf5c3.png)

**Versions Used**
KubeSphere: 3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/area console
/milestone 3.1.0
/assign @leoendless

[2021-03-17 07:39] zackzhangkai commented on #3499
@leoendless  the labels should be `app=ratings,app.kubernetes.io/name=bookinfo,app.kubernetes.io/version=v1`. But when do the `Then click the Applicaiotn dropbox, uncheck the bookinfo` steps as upon, the label `app=ratings` was removed.

![image](https://user-images.githubusercontent.com/20178386/111431564-e8e15f80-8736-11eb-9295-7fc762397c08.png)

[2021-03-17 07:39] zackzhangkai commented on #3499
/priority medium

[2021-03-17 07:59] wenxin-01 opened #3504 "After selected credential, the interface 'projectlist' is not requested again."
**Describe the Bug**

**Versions Used**
KubeSphere: `dev:latest`

**Preset conditions**
There is a devops project 'dev1'

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to devops project 'dev1'
2. Click on 'Create'
3. Select Code Repository after enter name
4. Click 'GitLab'
5. Select 'Gitlab Server'
6. Enter owner
7. select Credential

**Expected behavior**
After selected credential,

[2021-03-17 08:35] harrisonliu5 commented on #3504
This API doesn't need the param of credential, so after the selected credential, the interface "projectlist" does not need to be requested.

[2021-03-17 09:19] benjaminhuo opened #3506 "Failed to login with LDAP account"
**Describe the Bug**
1. Setup LDAP server and test account
2. Edit cc using `kubectl -n kubesphere-system edit cc ks-installer` as below:
[code]
3. Wait for the config to complete by `kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f`
4. Login ks console with LDAP test account failed

**Versions Used**
KubeSphere:

[2021-03-17 09:20] benjaminhuo commented on #3506
/assign @pixiake @wansir

[2021-03-17 09:20] benjaminhuo commented on #3506
/area security

[2021-03-17 09:21] benjaminhuo commented on #3506
/milestone 3.1.0

[2021-03-17 09:33] wenxin-01 opened #3507 "When the number of branches is more than 10, no data is returned in the second page."
**Versions Used**
KubeSphere: `dev:latest`

**Preset conditions**
There is a multi-pipeline 'test1' with 12 branchs

**How To Reproduce**
1. Go to pipeline 'test1'
2. Check 'Activity List'
3. Go to page 2

**Expected behavior**
Show two branches

**Actual behavior**
Show no data
![image](https://user-images.githubusercontent.com/68640256/111446850-cad02b00-8747-11eb-985e-46785e7037b3.png)

![image

[2021-03-17 09:36] wanjunlei opened #3508 "Namespace quota can exceed the maximum resource of cluster"
**Describe the Bug**
Namespace quota can exceed the maximum of the cluster

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/53003665/111446133-0caca180-8747-11eb-96d5-32ff3c8e9797.png)

**Versions Used**
KubeSphere: 3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Expected behavior**
Namespace quota should no

[2021-03-17 09:44] wanjunlei opened #3509 "Namespace quota can exceed the workspace quota"
**Describe the Bug**
Namespace quota can exceed the workspace quota

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/53003665/111447095-0e2a9980-8748-11eb-844b-d4bab7ce4d20.png)

![image](https://user-images.githubusercontent.com/53003665/111447165-200c3c80-8748-11eb-9946-db0fc0123f0a.png)

**Versions Used**
KubeSphere:
Kubernetes

[2021-03-17 09:51] wenxin-01 commented on #3500
Merge issue to https://github.com/kubesphere/kubesphere/issues/3501

[2021-03-17 09:51] #3500 closed

[2021-03-17 10:03] wenxin-01 opened #3510 "When running the pipeline, the prompt information is wrong."
**Versions Used**
KubeSphere: `dev:latest`

**Preset conditions**
There is a multi-pipeline 'test2' with 12 branchs

**How To Reproduce**
1. Go to pipeline 'test2'
2. Click on ‘Run’
3. Select any branch
4. Clcik on 'Ok'

**Expected behavior**
prompt information : "Start Running!"

**Actual behavior**
prompt information : "Start Running!" and "Updated Successfully!"

![image](https://user-images.gi

[2021-03-17 10:30] #3504 closed

[2021-03-17 13:23] benjaminhuo commented on #3506
Logging in with CAS failed too

[2021-03-18 01:28] LinuxSuRen commented on #3510
/area console

[2021-03-18 01:30] LinuxSuRen commented on #3507
/assign

[2021-03-18 02:15] stoneshi-yunify opened #3511 "kubesphere 3.1: 500 Internal Server Error when viewing a queued pipeline"
**Describe the Bug**
Test case: ks-6579, but also seen on many other cases

Run a pipeline, first its status is `Queued`, click the pipeline and saw 500 error.

![Screen Shot 2021-03-18 at 10 10 23 AM](https://user-images.githubusercontent.com/70880165/111563344-c56bf280-87d2-11eb-908f-4fa6a7c16407.png)
![Screen Shot 2021-03-18 at 10 14 26 AM](https://user-images.githubusercontent.com/70880165/111

[2021-03-18 02:15] RolandMa1986 opened #3512 "OIDC doesn't compiable with Azure Active Directory"
**Describe the Bug**
There;s an error happend when confirm user's name
**Versions Used**
KubeSphere: nightly-20210318

**How To Reproduce**
Steps to reproduce the behavior:
1. Enable Azure Active Directory Service and register an application as kubesphere.
2. Config OIDC authentication as below
[code]
3. Click `microsoft` on the login page and Login with a Microsoft account.
4. Change the user nam

[2021-03-18 02:20] stoneshi-yunify opened #3513 "kubesphere 3.1: devops admin can not approve a pipeline"
**Describe the Bug**
Test case: ks-6579

`stone3` is a ks user that having admin role on a devops project. However, it can not approve a pipeline to proceed (can not  click the proceed button, the button seems disabled).

the jenkinsfile:
[code]

![Screen Shot 2021-03-18 at 10 16 34 AM](https://user-images.githubusercontent.com/70880165/111563743-7f635e80-87d3-11eb-9d95-ab2a8b7432d8.png)
![Screen

[2021-03-18 02:27] stoneshi-yunify opened #3514 "kubesphere 3.1: reviewer can not approve a pipeline"
**Describe the Bug**
Test case: ks-6579

`stone1` has the `viewer` role for a devops project, and it's one of the reviewer of a pipeline. However, it can not approve the pipeline, it can click the button, but the pipeline did not continue.

![Screen Shot 2021-03-18 at 10 17 10 AM](https://user-images.githubusercontent.com/70880165/111564317-7fb02980-87d4-11eb-8ee9-ef5fbf744038.png)
![Screen Shot 2

[2021-03-18 02:36] yuswift opened #3515 "Incorrect roles selected when creating roles under access-control page"
**Describe the Bug**
A clear and concise description of what the bug is.

https://user-images.githubusercontent.com/37265389/111564569-e5041a80-87d4-11eb-93a7-90d3ce958eb5.mov

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: nightly-20210316

**How To Reproduce**
Steps to reproduce the behavior:
1. Login with admin user
2. Click on cluster management

[2021-03-18 02:36] yuswift commented on #3515
/area console

[2021-03-18 02:36] yuswift commented on #3515
/kind bug

[2021-03-18 02:37] yuswift commented on #3515
/milestone 3.1.0

[2021-03-18 02:42] wanjunlei opened #3516 "resource request cannot be set separately"
**Describe the Bug**
When create workload, if only resource request is set, an error `Resource requests should not be greater than resource limits.` will be reported.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/53003665/111565292-0f0a0c80-87d6-11eb-9626-7763c666ae4e.png)

**Versions Used**
KubeSphere: 3.1.0
Kubernetes: (If Ku

[2021-03-18 03:07] benjaminhuo commented on #3506
ldap can be configured by modifying `kubesphere-config` cm , but the first time a ldap user login, the prompt user name is `system:pre-registration` , should it be ldap user name?

![image](https://user-images.githubusercontent.com/18525465/111567561-22b77200-87da-11eb-8dcf-0cf0fcb3cc9c.png)

[2021-03-18 04:06] wenxin-01 opened #3517 "The status of a new pipeline should not be displayed as 'Warning'"
**Describe the Bug**

**Versions Used**
KubeSphere: `dev:latest`

**Preset conditions**
There is a devops project 'dev1'

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to devops project 'dev1'
2.  Create a new pipeline based on gitlab
3.  View  status of the new pipeline

**Expected behavior**
The status of a new pipeline  is  'Healthy'

**Actual behavior**
The status of a new pipeli

[2021-03-18 06:27] wanjunlei opened #3518 "Left Quota does not change with the pod replicas"
**Describe the Bug**
The `Left Quota` does not change with the pod replicas when create workload.

For UI issues please also add a screenshot that shows the issue.

![image](https://user-images.githubusercontent.com/53003665/111582317-9e72e800-87f5-11eb-9a63-1d8c4acd0724.png)

![image](https://user-images.githubusercontent.com/53003665/111582385-b480a880-87f5-11eb-98ce-43fedec92515.png)

**Version

[2021-03-18 06:55] LinuxSuRen commented on #3507
It caused by the bug of BlueOcean. The API of BlueOcean returns empty if the parameter `start` > 0.

[2021-03-18 06:56] benjaminhuo commented on #3457
Thanks for the proposal, it's valuable.

Basic auth is necessary for both internal and external es and it shouldn't be limited to external es

I suggest being consistent with current ks-installer settings：https://github.com/kubesphere/ks-installer/blob/master/roles/common/defaults/main.yaml#L18

[code]

[2021-03-18 07:10] yuswift opened #3519 "can't enter the container terminal on console"
**Describe the Bug**
<img width="1879" alt="Jietu20210318-150751" src="https://user-images.githubusercontent.com/37265389/111586586-04626e00-87fc-11eb-88ca-6d2658a22acf.png">

Multi cluster enabled, the host cluster version is nightly-0316 and the member cluster version is v3.0.0. After merged this [pr](https://github.com/kubesphere/kubesphere/pull/3042), the console needs to be compatible with ol

[2021-03-18 07:11] yuswift commented on #3519
/kind bug
/area console
/milestone 3.1.0

[2021-03-18 08:10] liuyp2018 opened #3520 "The network policy does not support multi-cluster projects"
**Describe the Bug**
**Test premise:**
In the multi-cluster environment, there is a project 'P1', which belongs to cluster 'Cluster1'
There is a project P2 that belongs to clusters 'Cluster1' and 'Cluster2'

**steps:**
1. Create service 'SVC1' in project 'P1'
2. Turn on the network policy in Project 'P1' and add project 'P2' whitelist: Allow 'P2' to access 'P1'
3. Create the POD resource under Pro

[2021-03-18 08:28] wenxin-01 commented on #3297
@RolandMa1986, it is not an environment issus. it exists in the latest environment `dev:latest`

[2021-03-18 09:34] liuyp2018 opened #3521 "alert policy and alert message permissions are not properly controlled"
**Describe the Bug**

**Test premise:**
 the alarm component is enabled

**steps:**
1. There is an workspace in the platform 'WS1'
2. There is a project 'P1' under WS1
3. The user 'user1' is a platform-regular role user on the platform.
4. The role of 'user1' is regular under 'WS1' ,  and under 'P1',it's role is  admin
5. User 'User1' login the platform, enters in project 'P1', and views the alert

[2021-03-18 17:41] #3464 closed

[2021-03-19 01:28] LinuxSuRen commented on #3510
/cc @kubesphere/sig-console

[2021-03-19 02:01] daniel-hutao commented on #3457
This task can be divided into three steps, everyone can claim separately：

1. Let ks-installer support optional configuration with authentication and non-authentication es clusters;
2. Let components such as ks-apiserver optionally support authentication enabled and es without authentication enabled;
3. Let es installation with authentication.

Ok, I'll code with 【1】 first, and if someone is willi

[2021-03-19 02:02] daniel-hutao commented on #3457
1. Let ks-installer support optional configuration with authentication and non-authentication es clusters;

/assign

[2021-03-19 02:37] benjaminhuo commented on #3457
The following components in KubeSphere use Elasticsearch:
- fluent-bit outputs log/events/audit to Elasticsearch
- jaeger outputs istio trace data to Elasticsearch
- Log/Event/Audit search reads Elasticsearch in KubeSphere Console
- Istio tracing reads Elasticsearch in KubeSphere Console

[2021-03-19 03:17] wenxin-01 opened #3523 "When using 'Bitbucket Serve' to create pipeline, the interface reports an error of '500'"
**Versions Used**
KubeSphere: `dev:latest`
bitbucket: `image: docker.io/atlassian/bitbucket-server`

**Preset conditions**
There is a devops project 'dev1'

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to devops project 'dev1'
2. Click on 'create'
3. click on 'Code Repository' after enter name
4. Click on 'Bitbucket Server'
5. Click on 'confirm' after enter Bitbucket Server,Username

[2021-03-19 03:33] wansir commented on #3503
/milestone BackLog

[2021-03-19 06:14] #3297 closed

[2021-03-19 06:16] #3395 closed

[2021-03-19 06:19] #3451 closed