[2021-03-19 06:22] #3495 closed

[2021-03-19 06:59] zryfish commented on #3469
/assign

[2021-03-19 10:06] daniel-hutao commented on #3457
- [ ] Let ks-installer support optional configuration with authentication and non-authentication es clusters; #kubesphere/ks-installer/pull/1333
- [ ] Let components such as ks-apiserver optionally support authentication enabled and es without authentication enabled;
- [ ] Let es installation with authentication.

[2021-03-20 03:17] #3114 closed

[2021-03-20 03:17] #3115 closed

[2021-03-20 03:17] #3110 closed

[2021-03-21 09:22] eltonbfw opened #3528 "Modifying the configmap of `kubesphere-router` does not take effect, nor does restarting the pod"
What can I do to make the changes to the configmap take effect?

[2021-03-22 01:15] LinuxSuRen commented on #3523
/assign

[2021-03-22 02:38] daniel-hutao commented on #3528
Can you provide more information? For example, which field you modified, what status or logs you saw, how can we reproduce your problem, etc.

[2021-03-22 02:40] daniel-hutao commented on #3528
/area infra

[2021-03-22 03:03] LinuxSuRen opened #3530 "Cannot use the same Bitbucket server twice on the DevOps Pipeline page"
**Describe the Bug**
Cannot use the same Bitbucket server twice on the DevOps Pipeline page.

![image](https://user-images.githubusercontent.com/1450685/111934613-bb146600-8afc-11eb-9b0a-0ae673e5723c.png)

/area devops
/priority high
/cc @kubesphere/sig-devops
/help

**Versions Used**
KubeSphere: `nightly-20210318`

**Environment**
This is not an environmental issue.

**How To Reproduce**
Steps to

[2021-03-22 03:06] LinuxSuRen commented on #3523
Response JSON is:

[code]

[2021-03-22 03:19] david0718 commented on #3361
HI SuRen
How are you?

After days’ thinking and practice.
1)my k8s use containerd as the image part.
2)logs found as below for maven image

异常 | Failed | 1秒 | kubelet | Error:  failed to create containerd task: OCI runtime create failed:  container_linux.go:367: starting container process caused:  process_linux.go:495: container init caused: rootfs_linux.go:60:  mounting  "/run/containerd/io.conta

[2021-03-22 03:24] liuyp2018 opened #3531 "The link address is incorrect in the Create Application Template page"
**Describe the Bug**
In the Create Application Template page, the links for 《Helm 规范及应用开发》 are different in the two places

![image](https://user-images.githubusercontent.com/36271543/111936506-c49fcd00-8b00-11eb-892f-90448e92e06d.png)

![image](https://user-images.githubusercontent.com/36271543/111936536-db462400-8b00-11eb-83dd-61a1186a3979.png)

/kind bug
/assign @leoendless
/priority Low
/miles

[2021-03-22 03:34] liuyp2018 opened #3532 "Re-upload operation problem"
**Describe the Bug**
**steps**
1. Create the application template page
2. The HELM file has been selected and uploaded
3. Click the re-upload button
4. In the file selection box that pops up, select and double-click a Helm file package

**Expected results:**
The updated Helm package can be uploaded

**Actual results:**
The file selection box pops up again

![image](https://user-images.githubuserco

[2021-03-22 03:38] wenxin-01 opened #3533 "The monitoring data of the edge node is incorrect."
**Versions Used**
KubeSphere:  `dev:latest`

**Preset conditions**
edge node 'edgenode-b815' has joined the cluster 'default' for more than one day.

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to edge node 'edgenode-b815'
2. Click on 'Monitoring'
3. Select Time Range 'Last 1 day'

**Expected behavior**
The interface returns the monitoring data of the latest day

**Actual behavior*

[2021-03-22 03:41] liuyp2018 opened #3534 "The 'upload icon' text is not centered"
**Describe the Bug**

The 'upload icon' text  is not centered
![image](https://user-images.githubusercontent.com/36271543/111937720-5577a800-8b03-11eb-922b-68951c45440c.png)

/kind bug
/assign @leoendless
/priority Low
/milestone 3.1.0
/area console

[2021-03-22 03:43] leoendless commented on #3534
By desgin.

[2021-03-22 03:43] #3534 closed

[2021-03-22 03:43] zryfish opened #3535 "Cluster alerts are not available"
**Describe the Bug**
With minimal installation, I'm not sure whether cluster alerts are available

<img width="1405" alt="截屏2021-03-22 11 36 50" src="https://user-images.githubusercontent.com/3326354/111937642-22351900-8b03-11eb-9cbb-aca7cfa59fb8.png">

**Versions Used**
KubeSphere: nightly-20210321 minimal installation
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @kubesp

[2021-03-22 03:44] zryfish commented on #3535
/assign @junotx

[2021-03-22 03:48] LinuxSuRen commented on #3361
The problem might be caused by the volume path. Try to provide an absolute path instead related path. For example, change `jenkins_maven_cache` to `/var/data/jenkins_maven_cache`.

![image](https://user-images.githubusercontent.com/1450685/111937439-b488ed00-8b02-11eb-8373-64585d191ba7.png)

I'm not sure if it works.

[2021-03-22 04:49] junotx commented on #3535
Please confirm that the alert module is enabled @zryfish. If not, the menus here should be set to invisible

[2021-03-22 05:14] #3469 closed

[2021-03-22 05:17] #3517 closed

[2021-03-22 05:21] liuyp2018 opened #3536 "Suggestion that add a prompt for the maximum length limit of the input box"
**Describe the Bug**
In the Edit Application Template page, it is recommended that the maximum length limit for the input field be given
![image](https://user-images.githubusercontent.com/36271543/111943802-2c5e1400-8b11-11eb-8290-c272833f2c8b.png)

/assign @leoendless
/priority Low
/milestone 3.1.0
/area console

[2021-03-22 05:31] zryfish commented on #3535
That's the problem, I haven't enabled alert, but the menu is shown anyway

<img width="1438" alt="截屏2021-03-22 13 30 11" src="https://user-images.githubusercontent.com/3326354/111944527-d4281180-8b12-11eb-90d1-1888a4cc815b.png">

[2021-03-22 05:34] eltonbfw commented on #3528
Create an abc project in workspaces, enter abc and set the gateway, the steps are: Project Settings -> Advanced Settings -> Set Gateway. After that we can use ingress in the abc project.

When we finish the above steps, kubesphere will create 2 resources in the kubesphere-controls-system of system-workspace.
A deployment named kubesphere-router-abc and a configmap named kubesphere-router-abc-nginx

[2021-03-22 05:35] zryfish opened #3537 "Forbidden error when creating stateless service"
**Describe the Bug**
Create a stateless service with minimum configuration, there is a forbidden error shown.

<img width="1433" alt="截屏2021-03-22 13 33 15" src="https://user-images.githubusercontent.com/3326354/111944787-603a3900-8b13-11eb-8c9c-869b49cf3a26.png">

**Versions Used**
KubeSphere: nightly-20210321 minimal installation
Kubernetes: (If KubeSphere installer used, you can skip this)

/as

[2021-03-22 05:36] zryfish commented on #3537
/cc @leoendless

[2021-03-22 05:42] zryfish opened #3538 "404 when click workloads in service detail page"
**Describe the Bug**
I've created a stateless service with minimum configuration, when I click workloads in the service detail page, it went 404 like the following.  The hyperlink is `http://localhost:8080/test/clusters/default/deployments/whatever-v1`, seems there is an unnecessary `/clusters/default` in the path.

<img width="1369" alt="截屏2021-03-22 13 38 11" src="https://user-images.githubuserc

[2021-03-22 05:43] junotx commented on #3535
Please post the status of alerting module to comfirm whether it is enabled or not

[2021-03-22 05:48] zryfish opened #3539 "Tooltip is blocked by header"
**Describe the Bug**
Resource link is `http://localhost:8080/test/clusters/default/projects/app/pods/whatever-v1-8547d6db49-gnxck/schedule`

<img width="1048" alt="截屏2021-03-22 13 46 40" src="https://user-images.githubusercontent.com/3326354/111945703-1c483380-8b15-11eb-88b9-705bb1c6664e.png">

**Versions Used**
KubeSphere: nightly-20210321 minimal installation
Kubernetes: (If KubeSphere installer

[2021-03-22 05:48] liuyp2018 opened #3540 "the application description information is not saved"
**Describe the Bug**
1. When depolying the application, the description information is set,
2. viewing the application after deployment, the application description information is not saved
![image](https://user-images.githubusercontent.com/36271543/111945712-21a57e00-8b15-11eb-81ce-30be9cdb98c9.png)

/kind bug
/assign @leoendless
/priority High
/milestone 3.1.0
/area console

[2021-03-22 05:49] zryfish commented on #3539
Another strange style issue

<img width="1429" alt="截屏2021-03-22 13 48 57" src="https://user-images.githubusercontent.com/3326354/111945847-5e717500-8b15-11eb-8647-921a3242769e.png">

[2021-03-22 05:58] zryfish commented on #3539
Another one, please note the word wrap on the right side

<img width="1173" alt="截屏2021-03-22 13 58 03" src="https://user-images.githubusercontent.com/3326354/111946545-a80e8f80-8b16-11eb-91d4-276181566730.png">

[2021-03-22 06:51] yuswift opened #3541 "misplaced typography on App Store Management/App Review page"
**Describe the Bug**

https://user-images.githubusercontent.com/37265389/111950711-a1cfe180-8b1d-11eb-8fb7-c3163948d4b0.mov

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: latest
**How To Reproduce**
Steps to reproduce the behavior:
1. Click on 'App Store Management/App Review'
2. Choose an application
3. See the misplaced typography, if not, choose

[2021-03-22 06:52] yuswift commented on #3541
/area console
/milestone 3.1.0
/kind bug

[2021-03-22 07:24] zryfish commented on #3535
[code]

[2021-03-22 07:51] junotx commented on #3535
The configuration item for alerting, which has been removed by https://github.com/kubesphere/ks-installer/pull/1328/files,  is still required. @pixiake

[2021-03-22 07:59] david0718 commented on #3361
Hi SuRen
I checked my jenkins -> Config System-> Cloud:  sonar cache and maven cache folder as you mentioned. The problem are solved.

Thanks a lot.
David

[2021-03-22 08:04] pixiake commented on #3535
https://github.com/kubesphere/ks-installer/pull/1337

[2021-03-22 08:06] LinuxSuRen commented on #3361
Glad helped you.
/close

[2021-03-22 08:06] #3361 closed

[2021-03-22 08:08] RolandMa1986 opened #3542 "Consumption bill doesn't consistent when changing Time Interval"
**Describe the Bug**
In the 'Consumption History' tab,  the Total Consumption was changed when changing Time Interval

**Versions Used**
KubeSphere: nightly-20210315
Kubernetes: 1.19.0

**How To Reproduce**
Steps to reproduce the behavior:
1. Click the 'Toolbox' icon and open ' Metering and Billing'
2. Select a cluster and Check the 'Consumption History'
3. In the 'Consumption History' change the

[2021-03-22 08:22] junotx commented on #3477
Please limit this input field to positive number or zero, thanks @leoendless

[2021-03-22 08:29] junotx commented on #3477
/assign @leoendless

[2021-03-22 08:36] LinuxSuRen commented on #3523
The PR https://github.com/jenkinsci/blueocean-plugin/pull/2141 can fix this issue.

`net.sf.json.JSONException: JSONObject["details"] is not a JSONArray.`

[2021-03-22 08:37] junotx commented on #3478
This can be reproduced, and may be caused by the validation bug
/assign @leoendless

[2021-03-22 08:38] liuyp2018 opened #3543 "PlaceHolder text is not shown"
**Describe the Bug**

 In the Deploy Application - Deploy Location - Project selection box, PlaceHolder text is not shown
Also:
It is recommended that when there is only one project under the cluster, use this project in the project selection box by default

![image](https://user-images.githubusercontent.com/36271543/111961780-6e488380-8b2c-11eb-8597-4b79627b69f5.png)

/kind bug
/assign @leoendles

[2021-03-22 08:45] zhu733756 commented on #3533
Currently，we only support real-time  metrics for edge node .  Range queries will be supported in later versions

[2021-03-22 09:56] wansir opened #3544 "Suggestion: batch stop workloads"
**What's it about?**

When I need to batch stop (scale replicas to 0) workloads, the operation is inconvenient. I suggest adding a stop button here.

![image](https://user-images.githubusercontent.com/8263040/111970996-dd2ada00-8b36-11eb-8b2e-414c3fa37958.png)

/area console
/kind feature-request

[2021-03-22 10:01] zackzhangkai opened #3545 "Cannot import cluster via agent"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/20178386/111972303-4828e080-8b38-11eb-877c-abb24f5e0265.png)

cannot import cluster via agent.

/assign @leoendless
/kind multicluster
/priority high

[2021-03-22 10:02] zackzhangkai commented on #3545
/area multicluster

[2021-03-22 10:03] zackzhangkai commented on #3545
/kind bug

[2021-03-23 01:42] LinuxSuRen commented on #3523
Some issues are related to each other:

* https://github.com/kubesphere/kubesphere/issues/3530
* https://github.com/kubesphere/console/issues/1634

[2021-03-23 02:09] zryfish opened #3549 "Github token missing scopes, but there is no feedback to users."
**Describe the Bug**
When creating a DevOps pipeline using in-scm way, I've generated a github token and pasted it into the Token input box, and click `confirm`, then it showed `wrong token`, but there is no why. Only after inspecting server logs, I've found this error message.
[code]

Clearly, I've forget to select the right scopes when generating token. It's better to return this error message b

[2021-03-23 02:09] zryfish commented on #3549
/cc @kubesphere/sig-devops
/cc @kubesphere/sig-console

[2021-03-23 02:10] LinuxSuRen commented on #3530
/assign

[2021-03-23 03:24] wansir opened #3551 "ks-controller-manager panic due to NPE"
**Describe the Bug**

Error log:

[code]

/kind bug
/assign @xyz-li

[2021-03-23 03:49] liuyp2018 opened #3552 "Applications published via the application template cannot be viewed in the App Store"
**Describe the Bug**
**steps:**
1. Publish the app to the App Store in the App Template
2. Goto the App Store, view the published app in step 1

**Expected results:**
can view the published application in the app store

**Actual results:**
Cannot see the published application in the app store

![image](https://user-images.githubusercontent.com/36271543/112089914-815f6000-8bcd-11eb-9509-cf8c2140c06

[2021-03-23 06:33] liuyp2018 opened #3553 "The ws-self-provisioner role user of workspace cannot see the full application template audit history"
**Describe the Bug**
The ws-self-provisioner role user of workspace cannot see the full application template audit history

![image](https://user-images.githubusercontent.com/36271543/112103254-72d07300-8be4-11eb-863f-9b1eb587619c.png)

/kind bug
/assign @leoendless
/milestone 3.1.0
/priority High
/area console

[2021-03-23 06:42] wansir opened #3554 "Bookinfo example not working correctly"
**Describe the Bug**

After I update the rating component to `examples-bookinfo-ratings-v2:1.13.0`, I encountered the following error

![image](https://user-images.githubusercontent.com/8263040/112103612-f8ecb980-8be4-11eb-9350-e061e5c96621.png)

![image](https://user-images.githubusercontent.com/8263040/112103910-6bf63000-8be5-11eb-8616-c7fc3b6d4bb5.png)

[code]

/kind bug

[2021-03-23 06:51] stoneshi-yunify opened #3555 "Unable to modify notification settings in console"
**Describe the Bug**
In platform settings -> Notification Management -> DingTalk

Enter a Secret, then click Update.

![Screen Shot 2021-03-23 at 2 43 56 PM](https://user-images.githubusercontent.com/70880165/112105222-1884e180-8be7-11eb-969e-7b5bbb9f6460.png)
![Screen Shot 2021-03-23 at 2 44 37 PM](https://user-images.githubusercontent.com/70880165/112105251-1f135900-8be7-11eb-83bf-1292eeed4a65.p

[2021-03-23 07:00] stoneshi-yunify commented on #3555
And why there is a tiny dash `-` in each Conversation ID?

![Screen Shot 2021-03-23 at 2 59 41 PM](https://user-images.githubusercontent.com/70880165/112106338-8087f780-8be8-11eb-976d-f294205873d7.png)

[2021-03-23 08:03] liuyp2018 opened #3556 "The name of the application template is incorrect on the application review page"
**Describe the Bug**

**steps:**
1. In the application template detail page, change the name of the application template
2. Select the version of the application under the application template and submit it for review
3. Enter the App Store -- >the Application Review page, view the name of the application template in the Application Review list

**Expected results:**
In the Application Review list

[2021-03-23 08:07] RolandMa1986 opened #3557 "[Metering and Billing] Can't change cluster for system-workspace workspace"
**Describe the Bug**
When multi cluster enabled, I can only view the 'system-workspace' Bill on host cluster，can't switch to member clusters.

**How To Reproduce**
Steps to reproduce the behavior:
1. Enable Multi-cluster feature on KubeSphere, and add one member cluster.
2. Click on 'Toolbox' and open ' Metering and Billing'
3. View Workspace (project) resource consumption
4.  Select `system-works

[2021-03-23 08:08] RolandMa1986 commented on #3557
/kind bug
/priority High
/milestone 3.1.0

[2021-03-23 08:11] leoendless commented on #3532
By design.

[2021-03-23 08:12] leoendless commented on #3518
Duplicate of #https://github.com/kubesphere/console/issues/1603

[2021-03-23 08:12] #3518 closed

[2021-03-23 08:43] liuyp2018 opened #3559 "Sort by time is not implemented in the application list"
**Describe the Bug**
Sort by time is not implemented in the application list
![image](https://user-images.githubusercontent.com/36271543/112117941-d8c5f600-8bf6-11eb-9888-fc4855637edf.png)

/kind bug
/assign @xyz-li
/priority Medium
/milestone 3.1.0
/area app-management

[2021-03-23 08:54] wanjunlei commented on #3555
/assign @xuliwenwenwen

[2021-03-23 08:54] wanjunlei commented on #3555
It is a bug #3527

[2021-03-23 08:57] yuswift commented on #3545
Tested this case and found it passed through. Please reopen this issue if there are problems while imports clusters via agent.
/close

[2021-03-23 08:57] #3545 closed

[2021-03-23 09:00] liuyp2018 opened #3560 "Developer not shown"
**Describe the Bug**
**steps:**
1. goto the project -- >Application load -- >application page
2. Click Deploy New App
3. Select Enterprise Space -- >Application Templates
4. Check out the developers of the application templates on display

**Expected results:**
The developer of the application template can correctly displays

**Actual results:**
Developer not shown

![image](https://user-images.gi

[2021-03-23 09:41] liuyp2018 opened #3561 "The associated workload is not shown in app details"
**Describe the Bug**

**steps:**
1. Deploy the application through the application repository
2. After the application is deployed, enter the details page of the deployed application
3. View the associated resources

**expected results:**
Can display the associated resources

**Actual results:**
The associated resource is not shown

![image](https://user-images.githubusercontent.com/36271543/11212

[2021-03-23 09:46] liuyp2018 opened #3562 "version information is not displayed in app details page"
**Describe the Bug**

**steps:**
1. Deploy the application through the application template
2. After the application is deployed, enter the details page of the deployed application
3. View the version of the resource

**expected results:**
Can display version  information

**Actual results:**
No version information is displayed

![image](https://user-images.githubusercontent.com/36271543/112126616

[2021-03-23 09:53] LinuxSuRen commented on #3549
/assign

[2021-03-23 10:14] LinuxSuRen commented on #3549
As we can see below, the front-end can get the error message from API response directly.

![image](https://user-images.githubusercontent.com/1450685/112130314-5263e100-8c03-11eb-90d2-2b7a54262a25.png)

[2021-03-23 10:30] liuyp2018 opened #3563 "Edit template function is not active"
**Describe the Bug**
1. Go to the deployed application details page
2. After editing the number of copies applied in the template, save the operation

**Expected results:**
The number of replicas of the workload in the application will change

**Actual results:**
The number of replicas has not changed

![image](https://user-images.githubusercontent.com/36271543/112132104-33664e80-8c05-11eb-8ce4-a3

[2021-03-23 10:36] wansir commented on #3537
/reopen
/kind need-to-verify

[2021-03-23 11:19] Phoaster-wry opened #3564 "ks-console webpage refreshes irregularly and reports an exception"
**Versions Used**
KubeSphere: 3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
arm64

For example: kylin / 3 masters:  8cpu/256g; 3 nodes: 8cpu/16g
(and other info are welcomed to help us debugging)

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'IP:30880'
2. Click on 'F5'
3. webPage prompt exception "internal server error"
4. See error

see ks-

[2021-03-24 01:42] #3507 closed

[2021-03-24 01:58] zryfish commented on #3564
Thanks for your feedback. Did you build arm64 images by yourself? We don't have kylin environment, it's not fully tested under kylin environment.

[2021-03-24 01:58] wansir commented on #3556
Related to https://github.com/kubesphere/kubesphere/issues/3551

[2021-03-24 02:01] kaiwenli commented on #1288
楼主，请尽快与我们取得联系。 您的版本库涉及到 信息泄漏了。

我的电话是：189 1130 0582

[2021-03-24 03:08] zryfish commented on #3554
/assign @zackzhangkai
/priority high
/milestone 3.1.0

[2021-03-24 03:10] zryfish commented on #3549
/cc @harrisonliu5  Please take a look

[2021-03-24 03:13] zryfish commented on #3055
Moving it to BackLog, cause we are going to miss 3.1.0 release deadline

[2021-03-24 03:41] xyz-li commented on #3563
@leoendless

[2021-03-24 04:04] RolandMa1986 commented on #3499
Verified on build ks-console:nighlty-20210323
/close

[2021-03-24 04:04] #3499 closed

[2021-03-24 05:53] daniel-hutao opened #3565 "http://x.x.x.x:30880/clusters/default/monitor-cluster/ranking page is blank"
**Describe the Bug**

From http://x.x.x.x:30880/clusters/default/overview click View More button，then you'll get a blank page "http://x.x.x.x:30880/clusters/default/monitor-cluster/ranking"

**Versions Used**
KubeSphere: nightly-20210322
Kubernetes: 1.18.14

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other

[2021-03-24 05:53] daniel-hutao commented on #3565
/kind bug
/area console

[2021-03-24 05:55] xyz-li commented on #3496
/close

[2021-03-24 05:56] xyz-li commented on #3561
/assign @leoendless

[2021-03-24 05:56] xyz-li commented on #3563
/assign @leoendless

[2021-03-24 05:57] daniel-hutao opened #3566 "There is an extra button OpenPatrix on the Overview page"
**Describe the Bug**

There is an extra button OpenPatrix on the Overview page. My environment is not enabled OpenPatrix.

**Versions Used**
KubeSphere: nightly-20210322
Kubernetes: 1.18.14

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help us debugging)

**How To Reproduce**
Steps

[2021-03-24 05:58] daniel-hutao commented on #3566
/kind bug
/area console
@kubesphere/sig-console

[2021-03-24 05:58] gangkui2008 opened #3567 "Unable to receive notification email"
**Describe the Bug**
Configure a global email then trigger alert,  but did not receive any email.

notification-manager-deployment Log:
[code]

My configs:
[code]

**Versions Used**
KubeSphere: 3.1 (nightly-20210321)

/area notification
/kind bug
/assign @kubesphere/sig-observability
/milestone 3.1.0

[2021-03-24 06:01] stoneshi-yunify commented on #3567
/area notification
/kind bug
/assign @kubesphere/sig-observability
/milestone 3.1.0

[2021-03-24 06:04] xyz-li commented on #3552
#3551

[2021-03-24 06:05] xyz-li commented on #3481
/close

[2021-03-24 06:05] #3481 closed

[2021-03-24 06:05] xyz-li commented on #1074
/close

[2021-03-24 06:05] #1074 closed

[2021-03-24 06:06] xyz-li commented on #1153
/close

[2021-03-24 06:06] #1153 closed

[2021-03-24 06:09] daniel-hutao opened #3568 "There is an extra button OpenPatrix on the Monitoring page"
**Describe the Bug**

There is an extra button OpenPatrix on the Monitoring & Alerting/ Cluster status page when I had not enabled OpenPatrix

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to h

[2021-03-24 06:09] xyz-li commented on #3475
/close

[2021-03-24 06:09] #3475 closed

[2021-03-24 06:09] xyz-li commented on #3470
/close

[2021-03-24 06:09] #3470 closed

[2021-03-24 06:10] daniel-hutao commented on #3568
/kind bug
/area console
@kubesphere/sig-console

similar #3566

[2021-03-24 06:10] xyz-li commented on #3459
/close

[2021-03-24 06:11] #3459 closed

[2021-03-24 06:16] stoneshi-yunify commented on #3567
I can not receive DingTalk, Slack, Wecom notifications either. Please check if this problem affects them too.

/priority high

[2021-03-24 06:21] xyz-li commented on #2886
/close

[2021-03-24 06:21] #2886 closed

[2021-03-24 06:47] junotx commented on #3535
/kind need-to-verify

[2021-03-24 06:51] yuswift opened #3569 "Docs support for joining cluster again with a different cluster name"
**Describe the Bug**
It is ok to unbound clusters and joins them with the same name. However, while with a different name, it fails. We need
 docs for joining cluster again with a different cluster name.

[2021-03-24 06:52] yuswift commented on #3569
/milestone 3.1.0
/assign @RolandMa1986

[2021-03-24 07:00] liuyp2018 opened #3570 "502 error is reported after adding Member cluster"
**Describe the Bug**

**Test prerequisites:**
1. There is a host cluster
2. There is a Member cluster in which the test enterprise space has been created

**Steps:**
1. Add the Member cluster to the Host cluster and set the Member cluster name to ‘member1’
2. In the multi-cluster environment, create an enterprise space belonging to the Member cluster
3. Unbind the Member cluster
4. Add the Member

[2021-03-24 07:03] yuswift commented on #3570
/assign

[2021-03-24 07:52] benjaminhuo commented on #3567
/assign @wanjunlei

[2021-03-24 07:54] benjaminhuo commented on #3567
@wanjunlei, looks like this is a template related issue, the `subject` field is missing？

[code]

[2021-03-24 08:23] liuyp2018 opened #3571 "forbidden error was reported when creating the service monitor exporter"
**Describe the Bug**

When creating the service monitor exporter, forbidden error was reported
![image](https://user-images.githubusercontent.com/36271543/112277547-d6c66a80-8cbc-11eb-8b91-3c8b22928116.png)

/kind bug
/assign @wansir
/milestone 3.1.0
/priority High
/area iam

[2021-03-24 08:28] LinuxSuRen commented on #3511
/assign

[2021-03-24 08:31] zackzhangkai opened #3572 "Create Pipeline failed in host of multicluster"
**Describe the Bug**

Version: KubeSphere Host 3.1 + Member 3.0

1. Create a workspace , which belongs to member.
2. Create a pipeline
![image](https://user-images.githubusercontent.com/20178386/112278569-f1e5aa00-8cbd-11eb-93a6-bf8fddd98eb1.png)
![image](https://user-images.githubusercontent.com/20178386/112278198-8ac7f580-8cbd-11eb-9b24-d240fb659547.png)

3. The pipeline was disappeared.
![image

[2021-03-24 08:32] zackzhangkai commented on #3572
/cc @kubesphere/sig-devops
/priority high
/area devops

[2021-03-24 08:32] zackzhangkai commented on #3572
/kind bug

[2021-03-24 08:39] wenxin-01 opened #3573 "'Net Received' and 'Net Transmitted' are incorrect in Consumption History"
**Environment**
http://192.168.18.71:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Toolbox'
2. Click on ' Metering and Billing'
3. Click on 'view consumptiob' in Cluster resource consumption
4. Select a time range of 1 day

**Expected behavior**

**Actual behavior**
![image](https://user-images.githubusercontent.com/68640256/112279863-59502980-8cbf-11eb-8b43-4079be6bfbbe.

[2021-03-24 08:49] LinuxSuRen commented on #3283
It was fixed in `nightly-20210322`.

/close

[2021-03-24 08:49] #3283 closed

[2021-03-24 09:53] aimuz commented on #3041
Not fixed. It is recommended to open it again
@wansir @rayzhou2017

[2021-03-24 09:55] zryfish commented on #3041
The fix is merged in master branch, and will be released in 3.1. We can reopen it until 3.1 is released
/reopen

[2021-03-24 09:56] aimuz commented on #3041
@zryfish
I verified it in your current environment
https://kubesphere.com.cn/forum/d/2567-kubesphere

[2021-03-24 09:58] aimuz commented on #3041
Suggested repair: verify the current user's rights when WS connects

[2021-03-25 00:55] #3530 closed

[2021-03-25 02:58] duanjiong commented on #3520
Currently the network policy only applies to single clusters, can we filter out multi-cluster items when listing them on the front end, or can we hint at them and gray them out like in the image below  @leoendless
![image](https://user-images.githubusercontent.com/3678855/112412004-c368dd00-8d58-11eb-9c75-4ae644039dc6.png)

[2021-03-25 03:33] wenxin-01 opened #3578 "In the exported data, the start time is wrong"
**Environment**
http://192.168.18.71:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'toolboox'
2. Click on 'view consumption' in Cluster resource consumption
3. Select a time range of one day  and The interval  select one day
4. Select the cluster and export  data

**Expected behavior**
The time range is displayed correctly in export data

**Actual behavior**
![image](https

[2021-03-25 04:02] liuyp2018 commented on #3401
The display of the name still needs some refinement
![image](https://user-images.githubusercontent.com/36271543/112417065-cae0b400-8d61-11eb-875b-5cd5a5653428.png)

/reopen

[2021-03-25 04:07] zackzhangkai commented on #3572
After a while, my environment seems no problem, maybe my network is too slow.

[2021-03-25 04:07] #3572 closed

[2021-03-25 04:15] duanjiong opened #3579 "3.0.0 member cluster should not show sa related pages"
**Describe the Bug**
3.0.0 member cluster should not show sa related pages

![image](https://user-images.githubusercontent.com/3678855/112417918-7b02ec80-8d63-11eb-8fcd-17c43a8c214c.png)

**Versions Used**
KubeSphere: 3.1.0
Member KubeSphere: 3.0.0
Kubernetes:  v1.17.9

**Environment**

**How To Reproduce**

**Expected behavior**
3.0.0 member cluster should not show sa related pages

[2021-03-25 04:15] zackzhangkai opened #3580 "Can not get pipeline status of multicluster devops"
**Describe the Bug**

KubeSphere Host 3.1  Member 3.0

Can not get pipeline status of multicluster devops

![image](https://user-images.githubusercontent.com/20178386/112418016-a685d700-8d63-11eb-982c-87e40f4272cf.png)

/priority low
/cc @kubesphere/sig-devops
/kind bug

[2021-03-25 04:15] duanjiong commented on #3579
/assign @leoendless
/priority high
/milestone 3.1.0

[2021-03-25 05:18] LinuxSuRen commented on #3580
/area devops

[2021-03-25 05:18] LinuxSuRen commented on #3580
/area multicluster

[2021-03-25 06:14] liuyp2018 opened #3581 "unchecking 'role management' is not allowed"
**Describe the Bug**
**steps:**
1. When createing the project role, go to the edit permissions page
2. Check the checkbox of 'role view '
3. Check the checkbox of 'role management'
4. Uncheck the checkbox of 'role management'

**Expected results:**
Allows unchecking 'role management'

**Actual results:**
unchecking 'role management'  is not allowed

![image](https://user-images.githubusercontent.c

[2021-03-25 06:24] qinyueshang commented on #3488
/lgtm

[2021-03-25 06:59] #3316 closed

[2021-03-25 06:59] #3292 closed

[2021-03-25 07:00] #3054 closed

[2021-03-25 07:02] duanjiong opened #3582 "3.0.0 member cluster should not show custom-monitoring related pages"
**Describe the Bug**
3.0.0 member cluster should not show custom-monitoring related pages
![image](https://user-images.githubusercontent.com/3678855/112431325-52d2b800-8d7a-11eb-8829-25ed6938324e.png)

**Versions Used**
Host KubeSphere: v3.1.0
Member Kuberspher: v3.0.0 minimal
Kubernetes: v1.17.9

**Expected behavior**
3.0.0 member cluster should not show custom-monitoring related pages

[2021-03-25 07:02] duanjiong commented on #3582
/assign @leoendless
/priority high
/milestone 3.1.0

[2021-03-25 07:16] duanjiong opened #3583 "3.0.0 member cluster kube-federation-system should be system project"
**Describe the Bug**
3.0.0 member cluster kube-federation-system should be system project

![image](https://user-images.githubusercontent.com/3678855/112433298-0046cb00-8d7d-11eb-8099-c4603301ac84.png)

**Versions Used**
KubeSphere: 3.1.0
Member KubeSphere: 3.0.0
Kubernetes:  v1.17.9

**Environment**

**How To Reproduce**

**Expected behavior**
3.0.0 member cluster kube-federation-system should be

[2021-03-25 07:16] duanjiong commented on #3583
/assign @leoendless

[2021-03-25 07:18] duanjiong commented on #3583
/assign @wansir

[2021-03-25 08:19] duanjiong commented on #3579
same in project
![image](https://user-images.githubusercontent.com/3678855/112440950-de057b00-8d85-11eb-84e5-03497b0af4aa.png)

[2021-03-25 08:39] RolandMa1986 opened #3585 "[Metering and Billing] Workspace Permission is not accurate"
**Describe the Bug**
When a user is assigned to a custom-defined workspace role, the user can't see the workspace 'Consumption Bill'. But users that assigned to a workspace-regular role can view Consumption Bill. This is unconvincing because workspace-regular don't have any authorization too.
**Versions Used**
KubeSphere: dev
Kubernetes: (If KubeSphere installer used, you can skip this)

**How To

[2021-03-25 08:55] stoneshi-yunify opened #3586 "Wechat Api Secret needs re-input when updating receivers"
**Describe the Bug**
In Platform Settings -> Notification Management -> WeCom

At first, I've input all fields of Server Settings, then Save, it succeeded.

Later, I add a receiver,  but can not click Update, because the Wechat Api Secret field is not filled.

It's not right to ask user to re-input the Wechat Api Secret, should just use the old one.

This problem also happens in other places, e.g.

[2021-03-25 09:14] stoneshi-yunify commented on #3586
and it's really weird to show empty for a field which in fact has value, I know it's credential (secret or password), but it looks weird, makes user thinking it has no value, which is wrong.

Can you still show its value but with <input type = password>? @xuliwenwenwen

[2021-03-25 09:16] benjaminhuo commented on #3586
/assign @xuliwenwenwen

[2021-03-25 09:18] yuswift commented on #3583
The namespace is labeled when the cluster is created. Need to check the installer code.

[2021-03-25 09:26] yuswift opened #3587 "incorrect http response code in '/kapis/clusters/aaa/iam.kubesphere.io/v1alpha2/clustermembers/admin/clusterroles' path"
**Describe the Bug**
The response code is 500 and should be 404 when the cluster is not ready.
![1616664293081](https://user-images.githubusercontent.com/37265389/112450146-09d92e80-8d8f-11eb-9d9e-f09eebfd81f6.jpg)

**Versions Used**
KubeSphere: latest
Kubernetes: (If KubeSphere installer used, you can skip this)

**Expected behavior**
Http response code should be 404.

[2021-03-25 09:26] yuswift commented on #3587
/kind bug
/milestone 3.1.0
/assign

[2021-03-25 09:28] duanjiong commented on #3583
/cc @pixiake

[2021-03-25 09:37] xuliwenwenwen commented on #3586
It looks like an environmental problem

[2021-03-25 09:59] stoneshi-yunify commented on #3586
okay, after I deleted all notifications cr and repeat the above step, this issue is gone.

[2021-03-25 09:59] #3586 closed

[2021-03-25 12:07] wanjunlei commented on #3555
It will be fixed in kubesphere/ks-installer#1350

[2021-03-25 19:13] #2977 closed

[2021-03-26 01:14] LinuxSuRen commented on #3583
/area multicluster

[2021-03-26 01:15] LinuxSuRen commented on #3579
/area multicluster

[2021-03-26 01:24] #3552 closed

[2021-03-26 01:32] #3570 closed

[2021-03-26 02:01] stoneshi-yunify opened #3591 "Unable to receive WeCom notification"
**Describe the Bug**
notification manager log:
[code]

[code]

![Screen Shot 2021-03-26 at 9 59 33 AM](https://user-images.githubusercontent.com/70880165/112566540-266e7880-8e1a-11eb-888b-b9e4bbfd09b1.png)

**Versions Used**
KubeSphere: 3.1 (nightly-20210324)

/area notification
/kind bug
/assign @kubesphere/sig-observability
/milestone 3.1.0

[2021-03-26 02:13] stoneshi-yunify opened #3592 "Notification Manager Email setting problems"
**Describe the Bug**
Platform Settings -> Notification Manager -> Email

Problems:
- The SMTP Server Address is not marked `*` as required
- Chinese can be saved as server address

[code]

![Screen Shot 2021-03-26 at 10 14 51 AM](https://user-images.githubusercontent.com/70880165/112567628-23748780-8e1c-11eb-9a31-afa668638fd6.png)

**Versions Used**
KubeSphere: 3.1 (nightly-20210324)

/area notifi

[2021-03-26 02:25] yuswift commented on #3519
/cc @leoendless

[2021-03-26 02:25] yuswift commented on #3541
/cc @leoendless

[2021-03-26 02:26] yuswift opened #3593 "Upgrade kubefed to v0.7.0"
1. Update go.mod file.
2. Change the image tag of ks-installer.

[2021-03-26 02:27] yuswift commented on #3593
/milestone 3.1.0
/area multicluster

[2021-03-26 03:02] wanjunlei commented on #3592
/assign @xuliwenwenwen

[2021-03-26 03:13] wanjunlei commented on #3591
This is the debug log, the notification has been sent successfully. If you don't want to see the debug log，you can run
[code]

and change `log.level: debug` to `log.level: info`.

By default, the log level is info. Your environment is manually modified by me

[2021-03-26 03:46] stoneshi-yunify commented on #3592
new problem:
- Receiver email not check

![Screen Shot 2021-03-26 at 11 46 29 AM](https://user-images.githubusercontent.com/70880165/112574278-ecf13980-8e28-11eb-9554-c88c6d4c8741.png)

[2021-03-26 06:00] stoneshi-yunify opened #3596 "Only one slack channel can receive notification"
**Describe the Bug**
I configured two slack channels, but only one channel(`kubespheredev`) received the notifications, and it received double notifications (2 for each).

[code]

log:
[code]

![Screen Shot 2021-03-26 at 1 57 19 PM](https://user-images.githubusercontent.com/70880165/112589143-90e3e080-8e3b-11eb-850c-f7bbdbee7ea2.png)

**Versions Used**
KubeSphere: 3.1 (nightly-20210324)

/area not

[2021-03-26 06:19] wenxin-01 opened #3597 "Batch export of workspace data failed."
**Environment**
http://192.168.18.71:30880/

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'toolbox'
2. Click on 'Metering and Billing'
3. click on 'view consumption' in Workspace (project) resource consumption
4. select 'wx-ws' and 'fed-ws'
5. Export resource consumption records in csv format

**Expected behavior**
Export data for workspaces 'wx-ws' and 'fed-ws'

**Actual behavior**

[2021-03-26 06:31] wenxin-01 commented on #3597
@harrisonliu5

[2021-03-26 07:06] wanjunlei commented on #3596
/kind need-to-verify

This bug had fixed, please update the image kubespheredev/notification-manager:v1.0.0.

[2021-03-26 07:07] wanjunlei commented on #3591
/kind need-to-verify

This bug had fixed, please update the image kubespheredev/notification-manager:v1.0.0.

[2021-03-26 07:08] liuyp2018 opened #3598 "user enters workspace and is prompted to log in again"
**Describe the Bug**
**steps:**
1. In a multi-cluster environment, there is a workspace 'ws1' located in the Member cluster
2. User 'ws-manager' with the role of 'ws-manager' log into the platform and enter the workspace 'ws1'

**Expected results:**
can successfully enter into the workspace manage page

**Actual results:**
When enter into the workspace manage page , it is prompted to log in again

[2021-03-26 07:19] stoneshi-yunify commented on #3596
@wanjunlei  i'm using v1.0.0

[code]

[2021-03-26 07:27] yinmin2020 opened #3599 "How to deal with the timeout of installation 3.1?"
Deploy 3.1 on the virtual machine and follow the steps to download and execute the KK script. Automated deployment at this stage will get stuck and then report an incorrect KubeSphere installation timeout
POD is all normal

![image](https://user-images.githubusercontent.com/65068467/112597114-aa8b2500-8e47-11eb-9bba-e66d7dd3a3b3.png)
![image](https://user-images.githubusercontent.com/65068467/1125

[2021-03-26 07:50] stoneshi-yunify commented on #3596
pulled new v1.0.0 and verified okay

[2021-03-26 07:50] #3596 closed

[2021-03-26 08:07] yuswift commented on #3599
What command dia you execute? It should be `kk create cluster --with-kubesphere nightly-0325` and so on. Check your installer image tag.

[2021-03-26 08:10] wenxin-01 opened #3601 "The consumption information of the same pod in Cluster and WorkSpace is inconsistent."
**Environment**
http://192.168.18.71:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'toolbox'
2. Click on 'Metering and Billing'
3. View consumption information of pod ‘A’ through cluster entrance
4. View consumption information of pod ‘A’ through WorkSpace entrance

**Expected behavior**
The consumption data of pod 'A' in the two ways are consistent

**Actual behavior**
![

[2021-03-26 08:12] yinmin2020 commented on #3599
I'm executing  ./kk create cluster --with-kubesphere nightly-20210208

[2021-03-26 08:31] yinmin2020 commented on #3599
Execute your command to report the following error, YAML is not written missing
![image](https://user-images.githubusercontent.com/65068467/112603989-a8799400-8e50-11eb-9bc3-c16f651f986d.png)
![image](https://user-images.githubusercontent.com/65068467/112604072-bb8c6400-8e50-11eb-91fc-5c40b600cd78.png)

[2021-03-26 08:36] zhu733756 opened #3602 "Console: Automatic taints for edge nodes by adding a checkbox to the related front-end interface in console"
**What's it about?**

Currently, we can easily add edge nodes with ks-3.1. However, the edge node should be given a taint to avoid other deployments deploying to the edge node.  This issue proposes to add an automatic taint method to solve this case.
**What's the reason why we need it?**

By the way, I have integrated the logic of the backend. By adding `--with-edge-taint` parameter in the results

[2021-03-26 08:41] zhu733756 commented on #3602
/assign @harrisonliu5

[2021-03-26 09:11] liuyp2018 opened #3603 "he result of the query by status is incorrect in the list of storage snapshots"
**Describe the Bug**
**steps:**
1. In the volume snapshot list
2. Select the 'creating' status to query

**problem:**
The query results contain snapshots with failed status

![image](https://user-images.githubusercontent.com/36271543/112608631-83d3eb00-8e55-11eb-9534-14e3aa4431eb.png)

/kind bug
/assign @stoneshi-yunify
/priority Medium
/milestone 3.1.0
/area storage

[2021-03-26 09:45] yinmin2020 commented on #3599
What is the correct command to install KK? After using your command there is now a pull failure (-0325 mirror). The image is not available
![image](https://user-images.githubusercontent.com/65068467/112613393-001cfd00-8e5b-11eb-9dcd-4b4016494446.png)

[2021-03-26 09:48] liuyp2018 opened #3604 "modifying configuration action did not take effect when deploying application"
**Describe the Bug**
**steps:**
1. When the application is deployed, modify the configuration file
2. Remove the health check Settings: ReadInessProbe and LivenessProbe
3. After deploying the application, review the configuration file for the application's workload

**Expected results:**
There are no health check items in the workload's configuration file

**Actual results:**
There are health chec

[2021-03-26 09:54] daniel-hutao opened #3605 "page 404 - https://v3-0.docs.kubesphere.io/docs/project-administration/project-members/"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: latest
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed

[2021-03-26 09:59] Sherlock113 commented on #3605
This issue was just fixed in https://github.com/kubesphere/console/pull/1692. Need verification.

[2021-03-26 11:05] daniel-hutao commented on #3457
2. Let components such as ks-apiserver optionally support es with authentication enabled and without authentication enabled;

/assign daniel-hutao

[2021-03-26 15:23] FeynmanZhou commented on #3605
/need-to-verify

[2021-03-27 04:04] zengzhengrong opened #3607 "UI Config the image repository username not support Chinese"
It's not very common use  Chinese ， but use command "docker login --username=中文" is ok

![a1f47454f1fb7fd27b466094a735c26](https://user-images.githubusercontent.com/23110784/112709361-da900200-8ef3-11eb-96fd-962e13454897.png)

I  use command docker login and export configjson  and base64 to generate yaml solve it

[2021-03-27 04:32] yinmin2020 opened #3608 "3.1 Platform information display error, display 3.0.0"
After installing 3.1, it is found that the platform version is still 3.0. Please confirm the repair. Thank you
![image](https://user-images.githubusercontent.com/65068467/112709927-4d9b7780-8ef8-11eb-9fa6-431ddfcdc8ce.png)
![image](https://user-images.githubusercontent.com/65068467/112709932-5b50fd00-8ef8-11eb-947b-c36d4d52100f.png)

[2021-03-27 14:36] LinuxSuRen commented on #3608
3.1 is not released yet. So it's not accurate to display 3.1. I guess you installed a nightly build version. In this case, it can be like this: `3.0.0-nightly-2021-xx-xx`.

If you or other people want to improve this, please checkout [ks-installer](https://github.com/kubesphere/ks-installer).

/help
/kind bug
/priority low

[2021-03-27 14:39] LinuxSuRen commented on #3607
/kind bug
/priority medium

[2021-03-27 14:40] LinuxSuRen commented on #3605
/kind need-to-verify

[2021-03-27 14:41] LinuxSuRen commented on #3599
/kind support

[2021-03-28 03:30] wenxin-01 opened #3609 "Set retention_ Day = 30 days, but the actual retention time is still 7 days."
**Environment**
http://192.168.18.71:30880

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'toolbox'
2. Click on 'Metering and Billing'
3. Click on 'view consumption' in Cluster resource consumption
4. view node 'i-0ks3sxr7' in cluster 'host'

**Actual behavior**
![image](https://user-images.githubusercontent.com/68640256/112741417-45a30c80-8fb8-11eb-9ce3-4d7135a40082.png)
![image]

[2021-03-28 07:34] wenxin-01 opened #3610 "The accuracy of amount data needs to be optimized."
**Environment**
http://192.168.18.71:30880

**How To Reproduce**
Memory Consumption:
sum_value: 23776596377.374 bytes = 23776596377.374/1024/1024/1024 GI =22.143680953769014 Gi
amount:  22.144 * 5 = `110.72`    Actual amount  = `110.50`

Net Received Consumption:
sum_value: 20968671262.640923 bytes =20968671262.640923/1024/1024 M = 19997.28323234646 M
amount : 19997.283  * 1  = `19997.28`  Actual

[2021-03-28 07:56] WaysonWei opened #3611 "Helm Template changes not reflect to App Store ( eg. new screenshot )"
Kubesphere v3.1.0 ( nightly-20210327)

1. )All helm template now has new url as http://192.168.122.150:30880/apps/app-id-store, but all new changes only reflect to url http://192.168.122.150:30880/apps/app-id, such as new screenshot added after the app released.

2.)User can now access the screenshot in app store without login, but the [close] button not working in this mode, is working ok if you

[2021-03-28 10:52] LinuxSuRen commented on #3611
/kind sig-apps

[2021-03-29 00:22] LinuxSuRen commented on #3514
A reviewer only has the read permission. But the approve or reject operation is about to change the status of a Pipeline run. So I'm going to close this issue.
/close

[2021-03-29 00:22] #3514 closed

[2021-03-29 00:34] #3587 closed

[2021-03-29 01:08] stoneshi-yunify commented on #3514
@liuyp2018 @wenxin-01  please verify case ks-6579 and ks-6618 and change them accordingly. thanks.

[2021-03-29 01:33] yuswift commented on #3599
Please execute `kk version` to find out which version you are using.

[2021-03-29 01:35] wenxin-01 commented on #3514
Test case modified

[2021-03-29 01:39] yinmin2020 commented on #3599
How to get the latest kk execution file？Is this the address below?
https://github.com/kubesphere/kubekey/issues/473

[2021-03-29 01:53] xyz-li commented on #3604
/wontfix
 https://helm.sh/docs/chart_template_guide/values_files/
/close

[2021-03-29 01:53] #3604 closed

[2021-03-29 02:01] stoneshi-yunify commented on #3603
There is no `creating unsuccessfully` status, as the creating will be retried endless, so `creating unsuccessfully` is `creating`.

There are 3 valid status for a snapshot:
[code]

please change frontend code accordingly. thanks.

/assign @xuliwenwenwen

[2021-03-29 02:07] xyz-li commented on #3611
/assign @xyz-li

[2021-03-29 02:18] yunkunrao commented on #3609
This scenario occurs when metering's retention_day parameter was not consistent with prometheus retention_day. It's on the one hand. On the other hand, because metering only return data which currently backend stored. If prometheus retion_day is 7 days, metering return 7 days data at most.

[2021-03-29 02:20] yunkunrao commented on #3609
We will emphasize this part in kubespher doc.

[2021-03-29 02:26] wanjunlei commented on #3555
/kind need-to-verify

[2021-03-29 02:27] wanjunlei commented on #3567
/kind need-to-verify

[2021-03-29 02:34] yunkunrao commented on #3610
OK, got it. Metering will keep 2 decimal places for fee caculation.

[2021-03-29 02:42] #3513 closed

[2021-03-29 02:52] #3599 closed

[2021-03-29 03:12] yunkunrao commented on #3578
This issue was fixed.

[2021-03-29 03:13] yunkunrao commented on #3573
This issue was fixed.

[2021-03-29 03:14] yunkunrao commented on #3542
This issue was fixed.

[2021-03-29 03:15] zryfish commented on #3542
Please paste PR link here

[2021-03-29 03:24] liuyp2018 opened #3612 "In a multi-cluster project, the gateway is enabled, but the routing page still prompts to enable it"
**Describe the Bug**
In a multi-cluster project, the gateway is enabled, but the routing page still prompts to enable it
then can't use the auto-generate route feature
![image](https://user-images.githubusercontent.com/36271543/112782069-bf9dc900-907e-11eb-9bdf-7c836045c915.png)

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0

[2021-03-29 03:52] stoneshi-yunify opened #3613 "dingtalk can not receive notification by conversation"
**Describe the Bug**
seems the app-secret was not found in dingtalk config as @wanjunlei noticed.

**Versions Used**
KubeSphere: 3.1 (nightly-20210324)

/area notification
/kind bug
/assign @kubesphere/sig-observability
/milestone 3.1.0

[2021-03-29 04:01] liuyp2018 opened #3614 "the associated service is not deleted when deleting the app in multi-cluster project"
**Describe the Bug**

**steps:**
1. In a multi-clustered project, create a homemade application
2. when finish created, delete the application
3. View the services associated with the application in the services list

**expected results:**
The associated service is deleted synchronously

**actual results:**
The associated service is not deleted

![image](https://user-images.githubusercontent.com/3

[2021-03-29 04:10] wanjunlei commented on #3613
/assign @xuliwenwenwen

[2021-03-29 05:33] LinuxSuRen opened #3615 "Request to refresh the custom monitoring list after created one"
Cannot see the new item after I created a new custom monitoring item in the custom monitoring list. It might make people feel confused with the refresh.

/area observability

# Version
KubeSphere `nightly-20210328`

[2021-03-29 05:34] LinuxSuRen commented on #3615
/priority low

[2021-03-29 05:50] LinuxSuRen opened #3616 "Failed to update custom monitoring via editing config file"
**Describe the Bug**
The refresh interview is still none on the template view after the update via the config file editing mode.

Below is the config file:
[code]

Below is the screenshot of the custom monitoring template page.

![image](https://user-images.githubusercontent.com/1450685/112791803-d64f1a80-9094-11eb-9c3e-01483e380f9a.png)

/area observability
/priority high

**Versions Used**
KubeS

[2021-03-29 05:53] wenxin-01 opened #3617 "The sum of network consumption bill of pod is quite different from that of node level"
**Environment**

http://192.168.18.71:30880

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'toolbox'
2. Click on 'Metering and Billing'
3. Click on 'view consumption' in Cluster resource consumption
4. view node 'i-0ks3sxr7' in cluster 'host'
5. Count the consumption bill of pod and compare it with node ‘i-0ks3sxr7’

**Expected behavior**
The sum of network consumption bill of pod

[2021-03-29 06:02] Sherlock113 opened #3618 "The namespace weave does not belong to any workspace after topology is enabled"
**Describe the Bug**
After you enable Service topology, the namespace `weave` will be created but it does not belong to any workspace on KubeSphere.

![Xnip2021-03-29_14-01-34](https://user-images.githubusercontent.com/65327072/112793145-54142580-9097-11eb-8d47-5524771727b1.png)

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: 1.17.9

[2021-03-29 06:03] Sherlock113 commented on #3618
/assign @duanjiong

[2021-03-29 06:08] wenxin-01 opened #3619 "The standard for computing CPU and memory at pod and node levels are inconsistent."
**Environment**
http://192.168.18.71:30880

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
The same standard should be used to calculate CPU and memory consumption at pod and node levels.

**Actual behavior**
CPU and memory are calculated at pod level based on `requests`.
CPU and memory are calcul

[2021-03-29 06:16] wansir opened #3620 "user certificate in kubeconfig expired"
**Describe the Bug**

User certificate in kubeconfig expired after 1 year.

[code]

**Expected behavior**

Automatically update client certificate.

/kind bug

[2021-03-29 06:17] wansir commented on #3620
/milestone v3.1.0
/assign @RolandMa1986

[2021-03-29 06:22] wansir commented on #3544
/assign @leoendless

[2021-03-29 06:32] wansir opened #3621 "Suggestion: Separate the execution and management permission of pipelines"
**What's it about?**

We want to define a role that can execute the pipeline but cannot edit the pipeline.

**What's the reason why we need it?**

Separate the execution and management permission of pipelines.

**Area Suggestion**

/area devops
/area iam
/kind feature-request

[2021-03-29 06:35] wansir commented on #3621
/assign

[2021-03-29 06:54] #3560 closed

[2021-03-29 06:54] #3473 closed

[2021-03-29 06:54] #3540 closed

[2021-03-29 07:14] liuyp2018 opened #3622 "The application update time is not updated"
**Describe the Bug**
**steps:**
1. On the application template details page, after re-uploading the file
2. View Updates

**Expected results:**
The update time will be updated to the time when the file was uploaded

**Actual results:**
The update time is still displayed as the create time

![image](https://user-images.githubusercontent.com/36271543/112799383-d9e89e80-90a0-11eb-9da4-9a71b857d7ec.pn

[2021-03-29 07:25] LinuxSuRen opened #3623 "Without asking users to choose the template when creating custom monitoring"
**Describe the Bug**
Without asking users to choose the template when creating custom monitoring.

![image](https://user-images.githubusercontent.com/1450685/112800702-955e0280-90a2-11eb-8cd0-a2efb5de8165.png)

/area observability
/priority medium

**Versions Used**
KubeSphere: `nightly-20210328`

**Environment**
This should not be an environmental issue.

**How To Reproduce**
Steps to reproduce t

[2021-03-29 07:48] RolandMa1986 opened #3624 "Threshold can be Negative value when add alerting policy"
**Describe the Bug**
Negative value can be input in Threshold when add alerting policy

**Versions Used**
KubeSphere: kubespheredev/ks-console:nightly-20210328

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Alerting Policies' and Click ’Create‘
2. Input alerting policy's Name and click 'Next'
3. Select one target on Monitoring Target.
4. Choice ' CPU Load average 1 minute' and in

[2021-03-29 07:55] shaowenchen commented on #2838
/close

[2021-03-29 07:55] #2838 closed

[2021-03-29 07:57] shaowenchen commented on #3480
/kind need-to-verify

[2021-03-29 08:01] shaowenchen commented on #3510
/assign @harrisonliu5

[2021-03-29 08:48] LinuxSuRen opened #3626 "Always waiting for the cluster to join when import a cluster in agent mode"
**Describe the Bug**

Always waiting for the cluster to join when import a cluster in agent mode.

![image](https://user-images.githubusercontent.com/1450685/112811116-4f0ea080-90ae-11eb-9874-30249ef76163.png)

The log output from ks-apiserver:
[code]

/area multicluster
/priority high

**Versions Used**
KubeSphere: `nightly-20210328`

**Environment**
This should not be an environmental issue.

**

[2021-03-29 08:50] LinuxSuRen commented on #3626
The error output from ks-installer:

[code]

[2021-03-29 09:02] stoneshi-yunify opened #3628 "webhook receives notification with incorrect password"
**Describe the Bug**
keep username unchanged, given wrong password（12345）, still received notification.

![Screen Shot 2021-03-29 at 4 59 18 PM](https://user-images.githubusercontent.com/70880165/112813085-6cdd0500-90b0-11eb-9478-00c9b6938dd8.png)

**Versions Used**
KubeSphere: 3.1 (nightly-20210324)

/area notification
/kind bug
/assign @wanjunlei
/milestone 3.1.0

[2021-03-29 10:04] liuyp2018 commented on #3581
/close

[2021-03-29 10:04] #3581 closed

[2021-03-29 10:06] liuyp2018 commented on #3532
fixed
/close

[2021-03-29 10:06] #3532 closed

[2021-03-29 13:19] LinuxSuRen commented on #3626
I've fixed this according to https://github.com/kubesphere/ks-installer/commit/f82cf8a00939ce10c6fd422fc083ac3c4a2b7901

/remove-priority high

/close

[2021-03-29 13:23] LinuxSuRen commented on #3626
/reopen

[2021-03-30 01:34] LinuxSuRen opened #3631 "Without any cluster info in the workspace which was created before it became federation cluster"
**Describe the Bug**
I have a workspace in a regular KubeSphere cluster. I can create DevOps projects inside. But I cannot do it after I turned the cluster to a federation cluster as a host cluster. You can see it from the screenshot below:

![image](https://user-images.githubusercontent.com/1450685/112919170-1f58aa80-9139-11eb-8a63-cacc97cf1598.png)

I have tried to set the cluster-info for the w

[2021-03-30 01:42] LinuxSuRen commented on #3580
hi @zackzhangkai, which cluster does this Pipeline come from? A host or a member cluster?

[2021-03-30 01:53] liuyp2018 commented on #3614
/assign @yuswift

[2021-03-30 02:49] RolandMa1986 opened #3632 "Duplicated Alerting Message shows in history"
**Describe the Bug**
Duplicated Alerting Message shows in history when created a new alert with 'pod abnormal ratio'

**Versions Used**
KubeSphere: nightly-20200328
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
At least 2 nodes exist in Kubernetes clusters.

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Alerting Policies' and click the 'Create' bu

[2021-03-30 03:09] liuyp2018 opened #3633 "In the edit template repository page, the value of access info is not displayed"
**Describe the Bug**
In the edit template repository page, the value of access info is not displayed
![image](https://user-images.githubusercontent.com/36271543/112927726-086d8480-9148-11eb-9e68-90362a243ae6.png)

/kind bug
/assign @xyz-li
/priority Medium
/milestone 3.1.0
/area app-management

[2021-03-30 03:10] liuyp2018 opened #3634 "The application repository could not be successfully edited"
**Describe the Bug**
The application repository could not be successfully edited
![image](https://user-images.githubusercontent.com/36271543/112928036-8893ea00-9148-11eb-925b-d7757e7daa9e.png)

/kind bug
/assign @xyz-li
/priority High
/milestone 3.1.0
/area app-management

[2021-03-30 05:54] yunkunrao commented on #3619
This issue was fixed.

[2021-03-30 05:57] liuyp2018 opened #3636 "Message information is not displayed in the application repository event page"
**Describe the Bug**

Message information is not displayed in the application repository event page
![image](https://user-images.githubusercontent.com/36271543/112940379-a91b6e80-915f-11eb-9799-3eed600a3a96.png)

and the creator is not displayed:
![image](https://user-images.githubusercontent.com/36271543/112941783-bb96a780-9161-11eb-903e-6d42b529c325.png)

/kind bug
/assign @xyz-li
/priority Medi

[2021-03-30 05:59] yunkunrao commented on #3617
Yeah, currently node level network consumption only cover north-south traffic and cross node pod network consumption. And pod level network consumption cover all scenarios which include not only above traffice but also include pod to pod comunication which resided on the same node. Currently it's expected.

[2021-03-30 05:59] liuyp2018 opened #3637 "the applications deployed under the project are not deleted when the project is deleted"
**Describe the Bug**
After the project is deleted, the applications deployed under the project are not deleted

After deleting the project p1, see the application under the project still exists:
![image](https://user-images.githubusercontent.com/36271543/112940624-f992cc00-915f-11eb-9ba3-c1f4fdbb017f.png)

/kind bug
/assign @xyz-li
/priority High
/milestone 3.1.0
/area app-management

[2021-03-30 06:01] liuyp2018 commented on #3637
/remove-priority low

[2021-03-30 06:02] liuyp2018 commented on #3636
/remove-priority low

[2021-03-30 06:03] yunkunrao commented on #3601
This issue was fixed.

[2021-03-30 06:05] yunkunrao commented on #3542
Got it.

[2021-03-30 06:08] wenxin-01 commented on #3601
issue fixed

[2021-03-30 06:08] #3601 closed

[2021-03-30 06:19] wenxin-01 commented on #3578
issue fixed

[2021-03-30 06:19] #3578 closed

[2021-03-30 06:42] wenxin-01 opened #3639 "Unable to enter the credential details in the member cluster"
**Environment**
host 3.1 + member 3.0

http://139.198.9.112:30883

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'ws1'
2. Go to devops 'dev1'
3. Clcik on 'Credentials'
4. Click name of Credentials

**Expected behavior**
enter the credential details

**Actual behavior**
can not click the name of Credential

![image](https://user-images.githubusercontent.com/68640256/11294

[2021-03-30 08:07] #3603 closed

[2021-03-30 08:11] RolandMa1986 opened #3640 "Time Range filter doesn't work on Alerting Policies detail page"
**Describe the Bug**
Datetime filter doesn't work on Alerting Policies detail page.
1. Custom Time Range doesn't apply to the chart.
2. Default 'Time Interval' in 'Select Time Range' doesn't make sense.

**Versions Used**
KubeSphere: nightly-20210328

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Alerting Policies' and create a New Police as 'node:node_cpu_utilisation:avg1m{node=

[2021-03-30 08:51] liuyp2018 opened #3641 "build image operation failed"
**Describe the Bug**

**steps:**
1. When building the image,  select the correct mirror key
2. Upload the correct WAR package
3. see result of the build mirror operation

**Expected results:**
The image can be successfully built

**Actual results:**
The build image failed, and no log information is displayed

![image](https://user-images.githubusercontent.com/36271543/112960953-81380500-9177-11eb-

[2021-03-30 08:57] LinuxSuRen commented on #3641
/area devops

[2021-03-30 09:05] yinmin2020 opened #3642 "The KubeEdge service in Kubesphere3.1 failed to install"
Figure 1 shows all the KubeEdge service components, only one of which did not run successfully
Figure 2 is the POD log
![image](https://user-images.githubusercontent.com/65068467/112963511-07554b00-917a-11eb-8947-8dee3cc88468.png)
![image](https://user-images.githubusercontent.com/65068467/112963538-0de3c280-917a-11eb-80df-7e03142d834c.png)
Is reading newspaper wrong to find a certificate? How to

[2021-03-30 09:50] duanjiong commented on #3393
/kind need-to-verify

[2021-03-30 09:50] duanjiong commented on #3390
/kind need-to-verify

[2021-03-30 09:50] duanjiong commented on #3386
/kind need-to-verify

[2021-03-30 09:51] duanjiong commented on #3385
/kind need-to-verify

[2021-03-30 10:13] wenxin-01 opened #3644 "Wrong cluster name in notification message of multi-cluster."
**Environment**
`multi cluster environment`
http://139.198.9.112:30883

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Actual  behavior**
![image](https://user-images.githubusercontent.com/68640256/112972976-6b304180-9183-11eb-954f-a9066a57b8b9.png)

![image](https://user-images.githubusercontent.com/68640256/1129728

[2021-03-30 11:54] wanjunlei commented on #3644
The cluster is manually set.

[code]

add

[code]

[2021-03-30 13:25] zheng1 opened #3645 "Unable to view the content of the resources included in the application template"
**Describe the Bug**
Unable to view the content of the resources included in the application template

![截屏2021-03-30 21 22 11的副本](https://user-images.githubusercontent.com/4156721/112996024-64fb8e80-919e-11eb-8c1a-1b66c9c81c25.png)

**Versions Used**
KubeSphere: v3.0.0-nightly-20210329

/kind bug
/assign @leoendless
/priority High
/milestone 3.1.0
/area app-management

[2021-03-30 13:27] zheng1 opened #3646 "Unable to view status and reason for deployed failure in the detail page of the application template"
**Describe the Bug**
Unable to view status and reason for deployed failure in the detail page of the application template

![截屏2021-03-30 21 26 15](https://user-images.githubusercontent.com/4156721/112996349-adb34780-919e-11eb-8437-5d25991fe899.png)
![截屏2021-03-30 21 26 09](https://user-images.githubusercontent.com/4156721/112996352-aee47480-919e-11eb-9051-7418188cff51.png)

**Versions Used**
Kube

[2021-03-30 13:32] zheng1 opened #3647 "After creating the application template, the list page is not automatically updated"
**Describe the Bug**
After creating the application template, the list page is not automatically updated

https://user-images.githubusercontent.com/4156721/112997002-4a75e500-919f-11eb-9f98-dbdf9c01e603.mov

**Versions Used**
KubeSphere: v3.0.0-nightly-20210329

/kind bug
/assign @leoendless
/priority High
/milestone 3.1.0
/area app-management

[2021-03-31 00:48] LinuxSuRen commented on #3641
/assign @shaowenchen

[2021-03-31 01:38] wanjunlei commented on #3592
/kind need-to-verify

[2021-03-31 01:38] wanjunlei commented on #3613
/kind need-to-verify

[2021-03-31 02:11] xyz-li commented on #3611
1. It's designed to act like this. If you want to see new changes, you must publish new app version.

2. What is you web browser.

[2021-03-31 02:12] xyz-li commented on #3563
/close

[2021-03-31 02:13] xyz-li commented on #3561
/close

[2021-03-31 02:20] #3281 closed

[2021-03-31 02:28] RolandMa1986 opened #3648 "Can't search builtin Alerting Policies with lower case characters"
**Describe the Bug**
In the built-in Alerting Policies page, there are policies with upper case characters. But most of the other resource's names are lower case. So user should be able to search the name with a lower case.

**Versions Used**
KubeSphere: nightly-20210329

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to the 'Alerting Policies page
2. Click on the 'built-in Policies'

[2021-03-31 02:43] wenxin-01 opened #3649 "You cannot edit a policy that has deleted monitoring target in the policy details page"
**Versions Used**
KubeSphere:  `dev:latest`

**Environment**
http://139.198.9.112:30883

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'ws2'
2. Go to project  'pro'
3. Add alerting policy 'role-test'
4. delete monitoring target of policy 'role-test'
5. Enter the policy details page
6. edit policy 'role-test'

**Expected behavior**
Edited successfully

**Actual behavior**

[2021-03-31 03:30] wenxin-01 opened #3650 "Add the corresponding guidance document link to each page of notification management"
**What's it about?**

The `Notification Management`  function lacks operation guidance. It is suggested to add guidance documents for each way.

**What's the reason why we need it?**

When using the `Notification Management` function, I don't know how to configure the information.

/priority medium
/assign @wanjunlei
/kind feature
/milestone 3.1.0

[2021-03-31 03:36] stoneshi-yunify commented on #3480
retested and passed with nightly-20200330

[2021-03-31 03:36] #3480 closed

[2021-03-31 03:58] yunkunrao commented on #3542
This issue was fixed with PR: https://github.com/KubeSphereCloud/ks-store/pull/87

[2021-03-31 05:38] stoneshi-yunify commented on #3592
retested and passed with nightly-20210330

[2021-03-31 05:38] #3592 closed

[2021-03-31 06:27] xyz-li commented on #3556
/assing @xyz-li

[2021-03-31 06:41] yuswift opened #3652 "infinite reconciling loop between kubefed namespace controller and ks namespace controller"
**Describe the Bug**
Ks ns controller will add `ownerReference` field to a ns if the ns has label such as `kubesphere.io/workspace: xccc`. However, if the ns is created by kubefed(e.g. federatednamespace), the kubefed ns controller will remove the `ownerReference` field. In this situation, it can cause competition between the two controllers. Finally, we can not create `federatednamespace` anymore

[2021-03-31 06:42] yuswift commented on #3652
/kind bug
/priority high
/milestone 3.1.0
/area multicluster
/assign @wansir

[2021-03-31 07:08] stoneshi-yunify opened #3653 "WeCom can not receive notification"
**Describe the Bug**

Log:
[code]

![Screen Shot 2021-03-31 at 3 08 11 PM](https://user-images.githubusercontent.com/70880165/113104293-f3215480-9232-11eb-9939-1dda587a1ecf.png)

**Versions Used**
KubeSphere: 3.1 (nightly-20210330)

/area notification
/kind bug
/assign @wanjunlei
/milestone 3.1.0

[2021-03-31 07:18] stoneshi-yunify commented on #3628
webhook server problem, ks notification works properly.

[2021-03-31 07:18] #3628 closed

[2021-03-31 07:20] stoneshi-yunify commented on #3591
refer new issue at https://github.com/kubesphere/kubesphere/issues/3653 which tested on newer build.

[2021-03-31 07:20] #3591 closed

[2021-03-31 07:21] stoneshi-yunify commented on #3555
retested and passed with nightly-20210330

[2021-03-31 07:21] #3555 closed

[2021-03-31 07:23] stoneshi-yunify commented on #3511
retested and passed with nightly-20210330

[2021-03-31 07:23] #3511 closed

[2021-03-31 07:24] stoneshi-yunify commented on #3479
Agreed as not bug.

[2021-03-31 07:24] #3479 closed

[2021-03-31 07:26] stoneshi-yunify commented on #3476
The text is still not correct, tested with nightly-20210330 :

![Screen Shot 2021-03-31 at 3 25 10 PM](https://user-images.githubusercontent.com/70880165/113106486-688e2480-9235-11eb-90e6-09d69c4cccf9.png)

[2021-03-31 07:31] wenxin-01 opened #3655 "Failed to create pipeline and credential in a multi-cluster environment"
**Environment**

`host 3.1 + member 3.1`
http://139.198.9.112:30883

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'ws3'
2. Go to devops project  'dev3-1'
3. Create credential and pipeline

**Expected behavior**
Pipeline and credential created successfully

**Actual behavior**
Failed to create pipeline and credential
![image](https://user-images.githubusercontent.com/686

[2021-03-31 08:08] wansir commented on #3655
/assign

[2021-03-31 08:14] LinuxSuRen commented on #3476
/cc @harrisonliu5 , Please take a look.

[2021-03-31 08:34] stoneshi-yunify commented on #3653
retested with same build and received the notification.

log:
[code]

[2021-03-31 08:34] #3653 closed

[2021-03-31 09:15] wenxin-01 opened #3656 "Role operator of pipeline should be able to edit the pipeline in details page and rerun activities"
**Versions Used**
KubeSphere: `dev:latest`

**Environment**
http://139.198.9.112:30883

**Preset conditions**
There is a user 'wx' with golbal role `'platform-regular',` workspace role `'ws2-regular'` and devops role `'operator'`

There is already ran pipeline pipeline '1'

**How To Reproduce**
Steps to reproduce the behavior:
1. use user 'wx' log in ks
2. Go to workspace 'ws2'
2. Click on devops

[2021-03-31 09:35] yuswift commented on #3614
The svc should be deleted by the application controller. However, it will be recreated by kubefed sync controller because it is created by kubefed sync controller. Currently, we don't have a better solution.

[2021-03-31 09:40] yuswift commented on #3614
/milestone 4.0.0

[2021-03-31 09:40] liuyp2018 opened #3657 "the alert resource is not displayed on the page"
**Describe the Bug**
Alert rules created using the template, In the alert message list, the alert resource is not displayed on the page
![image](https://user-images.githubusercontent.com/36271543/113124224-de9b8700-9247-11eb-9618-401b5a736aa8.png)

![image](https://user-images.githubusercontent.com/36271543/113123770-72b91e80-9247-11eb-9e60-4c9a359f59ad.png)

/kind bug
/assign @leoendless
/priorit

[2021-03-31 09:41] yuswift commented on #3614
/milestone clear

[2021-03-31 10:44] wenxin-01 opened #3660 "Failed to create multi cluster project"
**Environment**
`host 3.1 + member 3.1 + member 3.0`

http://139.198.9.112:30883

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to worksapce 'ws3'
2. Click on 'project'
3. create Multi-cluster Project 'multi-pro1' with cluster 'member-01'(ks 3.1) and 'member-02' (ks 3.0)
4. Go to detail page of project 'multi-pro1'

**Expected behavior**
The project information is displayed correctly

[2021-03-31 11:49] #3593 closed

[2021-03-31 12:29] #3634 closed

[2021-03-31 12:29] #3556 closed

[2021-03-31 12:29] #3633 closed

[2021-03-31 14:08] xyz-li commented on #3551
/close

[2021-03-31 14:10] #3551 closed

[2021-03-31 21:02] WaysonWei commented on #3611
1. ok, I got it. Need to upload new version of helm package, right ?
2. Google Chrome Version 89 ( Still not about to click the [close] button in the nightly-20210331 build , same result with Firefox and Safari latest version )

[2021-04-01 02:19] harrisonliu5 commented on #3557
[kubesphere/console/1705](https://github.com/kubesphere/console/pull/1705)

[2021-04-01 02:44] liuyp2018 opened #3664 "problem summary in host3.1 + member3.0 environment"
**Environment**
host cluster: kubesphere v3.1
member cluster: kubesphere v3.0

1. 404 error occurred on the alert policy and alert message page in v3.0 member cluster:
![image](https://user-images.githubusercontent.com/36271543/113235992-98413900-92d6-11eb-8ae3-caf1cb61a547.png)

2. The kubectl command tool could not connect to the v3.0 member cluster
![image](https://user-images.githubusercontent

[2021-04-01 02:55] liuyp2018 opened #3665 "The kubectl command tool could not connect to the member3.0 cluster"
**Environment**
host cluster: kubesphere v3.1
member cluster: kubesphere v3.0

**How To Reproduce**
Steps to reproduce the behavior:
1. Deploy a cluster with Host3.1 + Member 3.0 environment
2. Open the kubectl command line tool and connect to the member3.0 cluster
3. The kubectl command line tool could not connect to the member3.0 cluster

![image](https://user-images.githubusercontent.com/362715

[2021-04-01 03:11] LinuxSuRen opened #3666 "Add Pipeline update strategy support"
**What's it about?**

Add an update strategy for Pipeline. For example, add three strategies:

* overwrite
  * Convert the Pipeline resource into a Jenkins job, then overwrite it every time.
  * Consider back-compatible, this should be the default one.
* patch
  * Update the Jenkins job configuration partly.
  * It's should be possible, but we need to do some research.
* none
  * Do not update Jen

[2021-04-01 03:25] leoendless commented on #3657
If the alarm rule is created by template, the monitoring target cannot be obtained. Is there any way to get the monitoring target from the backend? @junotx

[2021-04-01 03:52] kele1997 commented on #2928
Versions Used
KubeSphere: v3.0.0
Kubernetes: v1.19.0

the same problems with **logsidecar-injector**, I try to modify `logsidecar-injector-admission-certs` secret, replace `sever.crt` with `tls.crt`, `sever.key` with `tls.key`, but doesn't work.  any idea about this? @wansir

[code]

[2021-04-01 06:11] wenxin-01 opened #3668 "The operator user who is not the designated auditor can still approve the pipeline"
**Versions Used**
KubeSphere: `dev:latest`

**Environment**
http://139.198.9.112:30883

**Preset conditions**
there is a user 'wx-02' with global role `platform-regular`, workspce role `ws2-regular` and devops project 'dev' role `operator`

**How To Reproduce**
Steps to reproduce the behavior:
1. use admin login ks
2. Go to workspace 'ws2'
3. Go to devops project 'dev'
4. run pipeline '6'
5. use '

[2021-04-01 06:21] xyz-li commented on #3611
1.  Release a new version
![image](https://user-images.githubusercontent.com/6263928/113251727-6095b980-92f5-11eb-9c2e-0f46a3c04db9.png)

2.   First Susspend App, then Activate App.
![image](https://user-images.githubusercontent.com/6263928/113251769-70ad9900-92f5-11eb-9257-1010361a734e.png)

[2021-04-01 06:28] xyz-li commented on #3611
/assign @leoendless

[2021-04-01 06:33] LinuxSuRen commented on #3639
I repeated it following your steps. The credentials work well. The problem is that the console of 3.1.0 (not released yet, the same with the following expression) has a restriction about the view action. So if the host cluster is 3.1.0, the member cluster is 3.0.0, then users cannot view the detail of the DevOps credential.

But if the host cluster is 3.0.0, the member cluster is 3.1.0. It should

[2021-04-01 06:37] liuyp2018 opened #3669 "In member3.0, 404 error occurred when editing quotas for workspace"
**Environment**
host cluster: kubesphere v3.1
member cluster: kubesphere v3.0

**How To Reproduce**
Steps to reproduce the behavior:
1.Deploy a cluster with Host3.1 + Member 3.0 environment
2.In Member3.0, 404 error occurred for editing quotas

![image](https://user-images.githubusercontent.com/36271543/113253262-9471de80-92f7-11eb-91be-b1c776b539b6.png)

/kind bug
/assign @leoendless
/priority Hi

[2021-04-01 06:53] LinuxSuRen commented on #3639
/area multicluster

[2021-04-01 07:14] junotx commented on #3657
The targets may be parsed from the annotations of the alert mesage for templated rules. I can see them in the cluster-level alert messages but not in the namespace-level ones. @leoendless

- alert messages with cluster level
![image](https://user-images.githubusercontent.com/49136171/113256311-976ece00-92fb-11eb-881b-8a49c102f9d6.png)
- alert messages with namespace level
![image](https://user-ima

[2021-04-01 07:48] LinuxSuRen commented on #3655
/retitle Failed to create pipeline and credential in a multi-cluster environment

[2021-04-01 07:55] wenxin-01 opened #3670 "After you remove a user from workspace member, the user will still be in the project member."
**Versions Used**
KubeSphere: `dev:latest`

**Environment**
http://139.198.9.112:30883

**Preset conditions**
There is a user 'wx3' in project 'pro2' of workspace 'ws2'

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'ws2'
2. remove member 'ws3' of Workspace Members
3. go to project 'pro2'
4. check project members

**Expected behavior**
There is no user 'wx3'

**Actual be

[2021-04-01 08:29] wenxin-01 opened #3671 "After deleting workspace, workspace group is not deleted."
**Versions Used**
KubeSphere: `dev:latest`

**Preset conditions**
There is a workspace 'wx-test' with workspace group 'test-group'

**Environment**
http://139.198.9.112:30883

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace list
2. delete workspace 'wx-test'
3. create a workspace named 'wx-test'
4. Go to workspace 'wx-test' and check workspace groups

**Expected behavior**

[2021-04-01 09:06] #2874 closed

[2021-04-01 09:29] liuyp2018 opened #3672 "After the application is deleted, the associated application route is not deleted"
**Environment**

**How To Reproduce**
Steps to reproduce the behavior:
1. After deploying a homemade app
2. Add application routes
3. Delete the application
4. View the application routes associated with the application

**Expected results:**
The associated application route is deleted

**Actual results:**
The associated application route is not deleted

![image](https://user-images.githubusercont

[2021-04-01 09:45] xyz-li commented on #3637
/priority medium

[2021-04-01 09:45] #3620 closed

[2021-04-01 09:46] xyz-li commented on #3637
/remove-priority High

[2021-04-01 09:46] zheng1 commented on #3637
This behavior is as expected and is retained for now in version 3.1.0. We'll optimize it in the next version

/milestone Backlog

[2021-04-02 02:01] junotx commented on #3420
@wenxin-01 That is true, only the data that matches the promql is displayed, unlike common monitoring. Because the promql for alerting may be complex and does not necessarily have the threshold condition, it may not be completely disassembled.

/priority low

[2021-04-02 02:06] yuswift commented on #3665
/retitle The kubectl command tool could not connect to the member3.0 cluster

[2021-04-02 02:08] wansir commented on #3318
/remove-priority high
/priority low

[2021-04-02 02:08] yuswift commented on #3665
/close
This issue has been merged into this one #3664

[2021-04-02 02:11] yuswift commented on #3665
/reopen

[2021-04-02 02:14] #3598 closed

[2021-04-02 02:16] zackzhangkai commented on #3554
/kind need-to-verify

/area microservice

[2021-04-02 02:18] zackzhangkai commented on #3672
/area microservice

[2021-04-02 02:18] junotx commented on #3420
/lm remove,priority

[2021-04-02 02:18] yuswift commented on #3664
- [ ] command tool bug #3665

[2021-04-02 02:21] harrisonliu5 commented on #3557
/kind need-to-verify

[2021-04-02 02:26] zryfish commented on #3616
/cc @kubesphere/sig-observability
/cc @junotx

[2021-04-02 02:27] junotx commented on #3420
/remove-priority high

[2021-04-02 02:28] zryfish commented on #3639
how about hide column `Sync status` by default?

[2021-04-02 02:37] wansir commented on #3323
By design, `used` is the current observed total usage of the resource in the namespace.

/remove-priority high
/priority low

[2021-04-02 02:39] wansir commented on #3325
/remove-priority high
/remove-kind bug
/kind need-to-verify

[2021-04-02 02:42] junotx commented on #3419
Ignoring rules created through custom promql in which the threshold is not necessarily set

/kind need-to-verify

[2021-04-02 02:42] wansir commented on #3579
Duplicated https://github.com/kubesphere/kubesphere/issues/3664

/close

[2021-04-02 02:42] #3579 closed

[2021-04-02 02:45] wenxin-01 opened #3675 "Using GitHub to create pipeline, interface error."
**Versions Used**
KubeSphere:  `dev:latest`

**Environment**
http://139.198.9.112:30883

Steps to reproduce the behavior:
1. Go to  worksapce 'ws2'
2. Go to devops project 'dev'
3. click on 'create'
4. click on 'Please select a code repository as the code source for the pipeline.' after in put name 'test'
5. input correct token in github
6. Clcik on 'confirm'
7. see error

**Actual behavior**
![im

[2021-04-02 02:45] harrisonliu5 commented on #3647
ws://localhost:8000/apis/application.kubesphere.io/v1alpha1/watch/helmreleases?labelSelector=kubesphere.io/cluster=member-01,kubesphere.io/namespace=pro

should check the websocket api

[2021-04-02 02:49] harrisonliu5 commented on #3675
/area devops

[2021-04-02 03:07] #3648 closed

[2021-04-02 03:11] wenxin-01 opened #3676 "Use gitlab to create a pipeline in member-cluster 3.1, there is no default option 'default' for gitlab server"
**Environment**
`host 3.1 + member 3.1 + member 3.0`

http://139.198.9.112:30883

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'ws6'
2. Go to devops project 'member01-dev' in cluster 'member-01'
3. click on 'Create' in  Pipelines
4. click on 'Please select a code repository as the code source for the pipeline.'
5. click on 'gitlab'
6. select gitlab server

**Expected be

[2021-04-02 03:24] wenxin-01 opened #3677 "Use Bitbucket to create a pipeline in member-cluster 3.1, interface error."
**Environment**
`host 3.1 + member 3.1 + member 3.0`

http://139.198.9.112:30883

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'ws6'
2. Go to devops project 'member01-dev' in cluster 'member-01'
3. click on 'Create' in  Pipelines
4. click on 'Please select a code repository as the code source for the pipeline.'
5. click on 'Bitbucket'
6. see error

**Actual behavior**

[2021-04-02 03:28] LinuxSuRen commented on #3639
It might not be easy to hide. Put the information into the detail area which users can see it after going to the detail page.

[2021-04-02 03:33] harrisonliu5 commented on #3675
/assign @LinuxSuRen

[2021-04-02 03:33] harrisonliu5 commented on #3676
/assign @LinuxSuRen

[2021-04-02 03:33] harrisonliu5 commented on #3677
/assign @LinuxSuRen

[2021-04-02 03:34] daniel-hutao opened #3678 "Some CRD cannot be deleted bu kubepshere-delete.sh"
**Describe the Bug**

The CRD "helmcategories.application.kubesphere.io" and "workspacetemplates.tenant.kubesphere.io" cannot be deleted by kubepshere-delete.sh for "finalizers" reasons.

**Versions Used**
KubeSphere: latest version at 2021/04/02
Kubernetes: 1.18.14

**Environment**

**How To Reproduce**
Steps to reproduce the behavior:
1. Install ks by ks-installer
2. Delete the cluster by kubesp

[2021-04-02 03:35] harrisonliu5 commented on #3668
/assign @LinuxSuRen

[2021-04-02 05:44] xyz-li commented on #3678
/assign @xyz-li

[2021-04-02 06:13] liuyp2018 opened #3679 "ippool- Allocate workspace page, optional workspace, should only show the workspace belonging to the cluster"
Environment
host cluster: kubesphere v3.1
member cluster: kubesphere v3.0
member cluster2 : kubesphere v3.1

**Describe the Bug**
In a multi-cluster environment, ippool- Allocate workspace page, check the optional workspace

**expected result:**
should only show the workspace belonging to the cluster

**actual result:**
also show the workspace  not belonging to the cluster

![image](https://user-i

[2021-04-02 06:20] #3419 closed

[2021-04-02 06:26] yunkunrao commented on #3585
This issue was fixed by https://github.com/kubesphere/ks-installer/pull/1371

[2021-04-02 06:35] xyz-li commented on #3562
Only deployment has version info.

[2021-04-02 06:35] wenxin-01 opened #3681 "Failed to view the information of member-cluster in 'Log Search'、'Event Search' and ' Auditing Operating'"
**Environment**
`host 3.1 + member3.1 + member3.0 `

http://139.198.9.112:30883

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to  'Toolbox'
2. Click on 'Log Search'
3. select cluster 'member-01' or 'member-02'
4. See error

**Actual behavior**
![image](https://user-images.githubusercontent.com/68640256/113387670-5c35d300-93bf-11eb-8d68-19d2008fd0aa.png)

![image](https://user-images

[2021-04-02 06:35] xyz-li commented on #3562
/close

[2021-04-02 06:35] #3562 closed

[2021-04-02 06:36] RolandMa1986 commented on #3439
/remove-priority high
/priority medium

[2021-04-02 06:43] xyz-li commented on #3553
/close

[2021-04-02 06:44] #3553 closed

[2021-04-02 06:55] daniel-hutao opened #3682 "There were no edit/delete buttons at credentials management page"
**Describe the Bug**

I created some credentials step by step by [Credential Management](https://kubesphere.io/docs/devops-user-guide/how-to-use/credential-management/). As it says in "View and Manage Credentials - 2.Click any of them to go to its detail page, where you can see account details and all the events related to the credentials.", I found the page at my environment is like below. There

[2021-04-02 07:11] lxm opened #3683 "proposal: use multi-stage build and docker buildx to produce multi-arch images"
currently, docker images are built after `make`, which only produces x86 binary.

use multi-stage dockerfile can be convenient to build multi arch images if base images already support multi arch

currently, most base images such as nodejs/golang/ubuntu etc... have already support multi arch

[2021-04-02 07:13] zryfish commented on #3683
/kind proposal

[2021-04-02 07:16] zryfish commented on #3683
Yeah, we are planning that too. Could you please give more details on how we are going to do it? Maybe we can break down to smaller work items, so others can help.

[2021-04-02 07:19] lxm commented on #3683
Change dockerfile to mulit-stage, use golang:tag as "builder" to build binary
When import external projects such as helm, use a bash script to get the binary which should judge the platform of cpu
then use `docker buildx --platform` to build expected images

[2021-04-02 07:21] yuswift commented on #3683
But not when building images under the local environment, not every user has docker buildx tools.

[2021-04-02 07:22] liuyp2018 opened #3684 "The quota value displayed on the workspace quota page is incorrect"
**Environment**
multi-cluster enviroment:
host cluster: v3.1
member cluster: v3.1

**How To Reproduce**
Steps to reproduce the behavior:
1. In a multi-clustered environment
2. Enter a multi-cluster (Host Cluster + Member Cluster) workspace -->quota management page
3. Sets quota management for the Host Cluster
4. Set quota management for member cluster , and the quota is different from the host clu

[2021-04-02 07:32] lxm commented on #3683
maybe we need a build target like `make dev`

[2021-04-02 07:39] zryfish commented on #3683
I think we should follow the way which K8s community did. They've built cross platform images using their own image `kube-cross`, https://github.com/kubernetes/kubernetes/blob/master/hack/build-cross.sh.  So we can build local platform image as usual, but there is a build target, for example `make cross` to build images for all supported platforms.

[2021-04-02 08:12] junotx commented on #3632
This is caused by that the evaluation of  the recoding rule `node:pod_abnormal:ratio` derives some duplicate metric data, and I am investigating the details.

[2021-04-02 08:19] liuyp2018 opened #3685 "missing the edit and delete buttons for the service monitoring exporter"
missing the edit and delete buttons for the service monitoring exporter
![image](https://user-images.githubusercontent.com/36271543/113396965-ef2a3980-93ce-11eb-9dcf-8fe0cc424daf.png)

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0
/area console

[2021-04-02 08:48] liuyp2018 opened #3686 "User with the admin role on the project do not have permission to create alert policies"
**How To Reproduce**
Steps to reproduce the behavior:
1. there exists a project 'p1'
2. User 'lyp' has the admin role of project 'p1'
3. user 'lyp' goes to 'project p1' -- 'alert policy' page
4. to create alert policy

**Expected results:**
can create alert policies

**Actual results:**
No permission to create alert policy

**Expected behavior**
![image](https://user-images.githubusercontent.com/3

[2021-04-02 08:49] liuyp2018 commented on #3521
/close

[2021-04-02 08:49] #3521 closed

[2021-04-02 08:52] liuyp2018 commented on #3390
/close

[2021-04-02 08:52] #3390 closed

[2021-04-02 08:54] liuyp2018 commented on #3386
/close

[2021-04-02 08:54] #3386 closed

[2021-04-02 09:02] liuyp2018 commented on #3393
/close

[2021-04-02 09:02] #3393 closed

[2021-04-02 09:06] liuyp2018 commented on #3489
/remove-kind need-to-verify

![image](https://user-images.githubusercontent.com/36271543/113401322-c6f20900-93d5-11eb-8353-664502d5ca4d.png)

[2021-04-02 09:14] liuyp2018 commented on #3475
fixed

[2021-04-02 10:26] #3015 closed

[2021-04-02 12:38] lxm commented on #3683
Do we need such a complicated way. currently, github actions config is  necessary for building. If truns to build in a container, all confs could list in the dockerfile, such as  FROM `golang:1.13` instead of
[code]

[2021-04-02 13:42] #3671 closed

[2021-04-06 03:10] liuyp2018 commented on #3481
Verified, and fixed

[2021-04-06 03:11] liuyp2018 commented on #3474
Verified, and fixed

[2021-04-06 03:11] liuyp2018 commented on #3473
Verified, and fixed

[2021-04-06 03:13] liuyp2018 commented on #3634
Verified, and fixed

[2021-04-06 03:15] liuyp2018 commented on #3552
Verified, and fixed

[2021-04-06 03:19] liuyp2018 commented on #3552
Verified, and fixed

[2021-04-06 03:20] zackzhangkai commented on #3672
The problem cannot be repeated. Test some times, it's still OK.

[2021-04-06 03:20] zackzhangkai commented on #3672
/close

[2021-04-06 03:20] #3672 closed

[2021-04-06 03:22] liuyp2018 commented on #3540
Verified, and fixed

[2021-04-06 03:38] wansir commented on #2942
/remove-milestone 3.1.0
/milestone BackLog

[2021-04-06 03:38] wansir commented on #2942
/remove-milestone 3.1.0
/milestone BackLog

[2021-04-06 03:42] liuyp2018 commented on #3556
Verified, and fixed

[2021-04-06 03:43] liuyp2018 commented on #3560
Verified, and fixed

[2021-04-06 03:56] ItGeneral commented on #3137
you can build a configmap replace rbac-snapshot-controller.yaml, then mount this configmap to container.
this blog can solve this problem: [how to install kubesphere on gke 1.18](https://mp.weixin.qq.com/s?__biz=MzIxMzY1NTM3Nw==&tempkey=MTEwN19hYmI3b1UxVFQ5WlN6RDVLckdPZ1NmNkJWWEV2R1BYQmttX2J5QThFamNtMUJtX3J4WklBX0VVeTQ5Q0o0NEFMSl94ZVhEOFMwSEg2TUQ0X3J3ci0tQmdzdnluWmVWMHY2bWtYbzlfWWRpdFBFSlEzWTVYd1R

[2021-04-06 04:01] liuyp2018 commented on #3563
/reopen
Unable to change successfully when changing to the default configuration

[2021-04-06 04:03] liuyp2018 commented on #3561
/reopen

[2021-04-06 04:04] liuyp2018 commented on #3496
/reopen
Fuzzy search cannot be used in the workload list

[2021-04-06 05:41] LinuxSuRen commented on #2817
I met the same issue in KubeSphere: `nightly-20210405`.

/reopen

[2021-04-06 05:44] LinuxSuRen commented on #3682
/cc @harrisonliu5 Please take a look at this.

[2021-04-06 05:45] LinuxSuRen commented on #3682
/area devops

[2021-04-06 05:46] liuyp2018 commented on #3553
Verified, and fixed

[2021-04-06 06:04] liuyp2018 commented on #3450
Verified, and fixed

[2021-04-06 06:05] liuyp2018 commented on #3446
Verified,and fixed

[2021-04-06 06:05] liuyp2018 commented on #3445
Verified, and fixed

[2021-04-06 06:06] liuyp2018 commented on #3444
Verified, and fixed

[2021-04-06 06:07] liuyp2018 commented on #3451
Verified, and fixed

[2021-04-06 06:07] liuyp2018 commented on #3452
Verified, and fixed

[2021-04-06 06:08] liuyp2018 commented on #3453
Verified, and fixed

[2021-04-06 06:08] liguodongIOT commented on #3457
I'll try to solve this problem

[2021-04-06 06:10] liuyp2018 commented on #3454
Verified, and fixed

[2021-04-06 06:10] liuyp2018 commented on #3455
Verified, and fixed

[2021-04-06 06:10] liuyp2018 commented on #3398
Verified, and fixed

[2021-04-06 06:10] liuyp2018 commented on #3397
Verified, and fixed

[2021-04-06 06:12] daniel-hutao commented on #3457
@liguodongIOT You can consider using ECK to deploy es, with optional support for basic auth enabled.

/assign @liguodongIOT

[2021-04-06 06:12] zryfish commented on #3616
/assign @junotx

[2021-04-06 06:12] liuyp2018 commented on #3389
Verified, and fixed

[2021-04-06 06:13] liuyp2018 commented on #3388
Verified, and fixed

[2021-04-06 06:13] zryfish commented on #3656
/kind need-to-verify

[2021-04-06 06:14] zryfish commented on #3681
/assign @junotx
/cc @kubesphere/sig-observability

[2021-04-06 06:17] wansir commented on #3502
/cc @RolandMa1986

[2021-04-06 06:17] benjaminhuo commented on #3681
/assign @wanjunlei
@wanjunlei Pls help to take a look at this

[2021-04-06 06:18] benjaminhuo commented on #3681
/assign @leoendless

[2021-04-06 06:19] duanjiong commented on #3618
/kind need-to-verify
fixed in https://github.com/kubesphere/ks-installer/pull/1363

[2021-04-06 06:20] zryfish commented on #3639
OK, fine with me.

[2021-04-06 06:21] yuswift commented on #3660
This bug is caused by kubefed sync controller and ks ns controller. It has been solved here. #3654
Please update the environment to the latest to test if it has been solved.

[2021-04-06 06:21] yuswift commented on #3660
/assign

[2021-04-06 06:22] zryfish commented on #3631
/assign @wansir

[2021-04-06 06:23] duanjiong commented on #3679
/assign @leoendless

[2021-04-06 06:26] liuyp2018 commented on #3384
fixed

[2021-04-06 06:27] liuyp2018 commented on #3386
fixed

[2021-04-06 06:27] wansir commented on #3631
By design, after the cluster role changes, you need to reset the visibility of the workspace.

[2021-04-06 06:32] liuyp2018 commented on #3387
fixed

[2021-04-06 06:33] liuyp2018 commented on #3391
fixed

[2021-04-06 06:42] liuyp2018 commented on #3392
fixed

[2021-04-06 06:46] liuyp2018 commented on #3470
fixed

[2021-04-06 06:48] liuyp2018 commented on #3636
The message bar in the list is always empty.
Suggestion: shows the operation information in the message bar
/reopen

[2021-04-06 06:50] liuyp2018 commented on #3399
fixed

[2021-04-06 06:56] wanjunlei commented on #3516
/verified

[2021-04-06 06:56] wanjunlei commented on #3516
/close

[2021-04-06 06:56] #3516 closed

[2021-04-06 06:57] yunkunrao commented on #3610
/kind need-to-verify

[2021-04-06 06:58] duanjiong commented on #3520
The network policy relies on the namespace label kubesphere.io/namespace, but the multicluster project label will be overwritten by kubefed   @yuswift

[2021-04-06 07:01] yunkunrao commented on #3597
/kind need-to-verify

[2021-04-06 07:01] yunkunrao commented on #3542
/kind need-to-verify

[2021-04-06 07:02] yunkunrao commented on #3585
/kind need-to-verify

[2021-04-06 07:03] yunkunrao commented on #3573
/kind need-to-verify

[2021-04-06 07:06] yunkunrao commented on #3610
/kind need-to-verify

[2021-04-06 07:06] liuyp2018 commented on #3496
/assign @leoendless

[2021-04-06 07:08] zryfish commented on #3520
I agree with @duanjiong, it requires extra effort to support network policy for multicluster projects.

[2021-04-06 07:10] xyz-li commented on #3646
Add `app.kubesphere.io/instance` and `app.kubesphere.io/name` labels to helm resources.

[2021-04-06 07:10] wanjunlei commented on #3681
The es in the member cluster is not ready.

![image](https://user-images.githubusercontent.com/53003665/113672318-2740bd80-96ea-11eb-9682-9b5fea082f5e.png)

[2021-04-06 07:10] xyz-li commented on #3646
/assign @xyz-li

[2021-04-06 07:11] zryfish commented on #3609
@yunkunrao So it's not a bug then?

[2021-04-06 07:12] LinuxSuRen commented on #3641
/cc @shaowenchen

[2021-04-06 07:13] zryfish commented on #3582
duplicate https://github.com/kubesphere/kubesphere/issues/3664

[2021-04-06 07:14] zryfish commented on #3563
/kind need-to-verify

[2021-04-06 07:15] zryfish commented on #3533
@leoendless  Can we hide the range query for edge nodes?

[2021-04-06 07:19] zryfish commented on #3523
Is this issue ready to verify?

[2021-04-06 07:22] LinuxSuRen commented on #3523
Still waiting for the release of BlueOcean plugin. See also [here](https://github.com/jenkinsci/blueocean-plugin/pull/2141#issuecomment-808987749)

[2021-04-06 07:58] liuyp2018 opened #3689 "on the create deployment page, does not display quota prompt information for all clusters"
**Environment**
multi-cluster:
host clustere : v 3.1
member cluster: v 3.1

**steps:**
1. there exists a multi-cluster workspace 'm-ws', and the workspace quota information for the Host and Membere clusters is set
2. there exists a multi-cluster project 'm-ws' under workspace 'm-ws', and the project quota information for host and member clusters is set
3. enter project 'm-p', create Deployment, an

[2021-04-06 10:10] #3502 closed

[2021-04-06 10:53] LinuxSuRen commented on #3371
Any updates?

[2021-04-07 01:05] LinuxSuRen commented on #3084
It be good to let users make this decision.

[2021-04-07 02:34] RolandMa1986 commented on #3542
Verified
/close

[2021-04-07 02:34] #3542 closed

[2021-04-07 02:35] xyz-li commented on #3611
/close

[2021-04-07 02:35] #3611 closed

[2021-04-07 02:38] RolandMa1986 commented on #3557
verfied
/close

[2021-04-07 02:38] #3557 closed

[2021-04-07 02:40] yunkunrao commented on #3609
@zryfish  Yeah, I think it's not bug. Because retention_day parameter in metering config should be consistent with retention_day in prometheus config. In other words, if user want to change retention_day， users should modify prometheus crd other than metering config. And it make sense to me.

[2021-04-07 02:41] RolandMa1986 commented on #3585
@yunkunrao  What's the "Expected behavior" for the issue?

[2021-04-07 02:43] duanjiong commented on #3679
/kind need-to-verify

[2021-04-07 02:46] zryfish commented on #3609
OK. Better to have some documentation on that page.

[2021-04-07 02:59] caihy05 commented on #2928
@wansir 解决问题，感谢，估计是安装过程中存储问题导致

[2021-04-07 03:18] #3007 closed

[2021-04-07 03:19] shaowenchen commented on #3275
duplicated with #3280

[2021-04-07 03:19] #3275 closed

[2021-04-07 03:25] #3371 closed

[2021-04-07 03:33] yuswift commented on #3660
/kind need-to-verify

[2021-04-07 03:35] harrisonliu5 commented on #3533
The current edge node monitoring indicator can only monitor the usage of CPU and memory. The function is duplicated with other tags, so I will be deleted it

[2021-04-07 03:35] shaowenchen commented on #3641
/assign @shaowenchen

[2021-04-07 04:06] shaowenchen commented on #3641
![image](https://user-images.githubusercontent.com/43693241/113808866-8578a980-9799-11eb-9b51-9170962d0819.png)

It's ok on v1.17.9, what's your testing version?

[2021-04-07 04:07] shaowenchen commented on #3641
I got the test cases from https://v2-1.docs.kubesphere.io/docs/zh-CN/quick-start/b2i-war/ .

[2021-04-07 06:10] yunkunrao commented on #3609
Got it.

[2021-04-07 07:06] harrisonliu5 commented on #3533
/kind need-to-verify

[2021-04-07 07:33] xuliwenwenwen commented on #3192
![13001617780676_ pic](https://user-images.githubusercontent.com/74528885/113828137-a4396900-97b6-11eb-968a-2430bda801fd.jpg)

[2021-04-07 07:45] zryfish commented on #3537
Verified as fixed
/close

[2021-04-07 07:45] #3537 closed

[2021-04-07 07:46] zryfish commented on #3538
verified as fixed
/close

[2021-04-07 07:47] #3538 closed

[2021-04-07 07:53] ItGeneral opened #3693 "[Bug] The log display order is not correct in kubesphere logging system"
1、banner log display dislocation
![image](https://user-images.githubusercontent.com/15844190/113830133-dea40580-97b8-11eb-8d2d-b4dd14ffdf59.png)

the correct log should be：
![image](https://user-images.githubusercontent.com/15844190/113830185-efed1200-97b8-11eb-962e-40399f174cfa.png)

2、The log display order is not correct
![image](https://user-images.githubusercontent.com/15844190/113830265-07c49

[2021-04-07 07:55] FeynmanZhou commented on #3693
/kind bug

[2021-04-07 07:59] zryfish commented on #3492
Verified as fixed. Only one question, they are linked to the English documentation no matter user's language settings, is that expected or we are going to fix it later?

[2021-04-07 08:00] zryfish commented on #3487
duplicate with https://github.com/kubesphere/kubesphere/issues/3538, and the issue is verified as fixed.
/close

[2021-04-07 08:00] #3487 closed

[2021-04-07 08:08] zryfish commented on #3520
/cc @leoendless  I think we can disable multiple cluster projects when creating network policy for now.

[2021-04-07 08:15] FeynmanZhou commented on #3693
cc @kubesphere/sig-observability

[2021-04-07 08:18] Sherlock113 commented on #3492
I assume this is expected. If I understand it correctly, users will be directed to the English doc website regardless of their console language. Is that correct? @leoendless

![image](https://user-images.githubusercontent.com/65327072/113833849-b6b6a100-97bc-11eb-8bb5-8e0f754e553f.png)

[2021-04-07 08:28] liuyp2018 opened #3695 "when changing the alarm rule of the alarm policy, cannot receive the notification after the alarm is triggered"
**Environment**
ks v3.1

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a alert policy with a alert rule for CPU utilization
2. Wait until the alarm policy triggers the alarm
3. Change the alert rule of the alert policy to available memory
4. Wait until the alert policy reaches the trigger condition, and the alert policy's state changes to trigger
5. Check the alert notification

[2021-04-07 08:43] zryfish commented on #3683
Yeah, that's not easy. But how are you going to do? Can you provide more details, or is there any draft PR?

[2021-04-07 08:57] lxm commented on #3683
Going to make a example and a draft PR

[2021-04-07 08:58] #3571 closed

[2021-04-07 09:21] RolandMa1986 commented on #3192
/reopen

[2021-04-07 09:22] zheng1 commented on #3645
Same with https://github.com/kubesphere/kubesphere/issues/3561

[2021-04-07 09:22] #3645 closed

[2021-04-07 09:24] zheng1 commented on #2951
Fixed in 3.1 nightly version

[2021-04-07 09:24] #2951 closed

[2021-04-07 09:26] RolandMa1986 commented on #3502
/kind need-to-verify

[2021-04-07 11:47] #3675 closed

[2021-04-07 14:56] yunkunrao opened #3697 "When querying pod level monitoring data, namespaced_resources_filter query parameter didn't take effect."
**Describe the Bug**
When querying pod level monitoring api, namespaced_resources_filter query parameter didn't take effect.

**Expected behavior**
Parameter namespaced_resources_filter should take effect when query pod level monitoring api.

[2021-04-07 14:56] yunkunrao commented on #3697
/kind bug

[2021-04-07 14:57] yunkunrao commented on #3697
/assign @yunkunrao

[2021-04-07 14:58] yunkunrao commented on #3697
This issue was fixed by https://github.com/kubesphere/kubesphere/pull/3692

[2021-04-07 15:03] #3697 closed

[2021-04-07 15:31] wenxin-01 commented on #3609
Close this issue after adding some documentation on that page.  /priority low

[2021-04-07 15:47] wenxin-01 commented on #3533
The monitor tab in edge node detail was removed.

[2021-04-07 15:47] #3533 closed

[2021-04-07 16:09] wenxin-01 commented on #3617
I hope it can be fixed in a later version

/priority low

[2021-04-07 16:10] wenxin-01 commented on #3619
I hope it can be fixed in a later version

/priority low

[2021-04-07 16:10] wenxin-01 commented on #3617
I hope it can be fixed in a later version

/priority low

[2021-04-08 01:55] wenxin-01 commented on #3671
Issue fixed

[2021-04-08 03:14] zryfish commented on #3617
@wenxin-01 This issue has two priority labels now, is this still an urgent issue?

[2021-04-08 03:28] wenxin-01 commented on #3617
/remove-priority high

[2021-04-08 03:29] wenxin-01 commented on #3619
/remove-priority high

[2021-04-08 03:43] RolandMa1986 commented on #3693
/area logging

[2021-04-08 03:44] RolandMa1986 commented on #3307
/area console
It's a frontend component comment issue.

[2021-04-08 03:52] liuyp2018 opened #3700 "The data for the exception node is not displayed correctly"
In the edge node, the data of the abnormal node is not displayed correctly
![image](https://user-images.githubusercontent.com/36271543/113965818-a8ba5c00-9860-11eb-8cf4-dd25b0c4a300.png)

/kind bug
/assign @leoendless
/priority Medium
/milestone 3.1.0
/area edge
/area console

[2021-04-08 04:10] RolandMa1986 commented on #3607
/close
It was fixed in v3.1.0  by
https://github.com/kubesphere/console/pull/1247

[2021-04-08 04:10] #3607 closed

[2021-04-08 04:14] wanjunlei commented on #3693
This is a bug of fluent bit.
https://github.com/fluent/fluent-bit/issues/1746
https://github.com/fluent/fluent-bit/pull/2777

You can try the fluent bit 0f v1.6.9.
[code]
change the image to kubesephere/fluent-bit:v1.6.9

[2021-04-08 04:35] #3150 closed

[2021-04-08 05:45] LinuxSuRen commented on #3639
/kind need-to-verify

See also https://github.com/kubesphere/console/pull/1761

[2021-04-08 06:03] LinuxSuRen commented on #3676
/project devops

[2021-04-08 06:03] LinuxSuRen commented on #3677
/project devops

[2021-04-08 06:03] LinuxSuRen commented on #3639
/project devops

[2021-04-08 06:04] LinuxSuRen commented on #3523
/project devops

[2021-04-08 06:04] LinuxSuRen commented on #3282
/project devops

[2021-04-08 06:07] RolandMa1986 commented on #2597
/kind need-to-verify
@liuyp2018

[2021-04-08 06:07] wansir commented on #3554
verified

/close

[2021-04-08 06:07] #3554 closed

[2021-04-08 06:36] xyz-li commented on #3678
kind/need-to-verify

[2021-04-08 06:37] xyz-li commented on #3561
/kind need-to-verify

[2021-04-08 06:55] xyz-li opened #3701 "openpitrix should check release status"
**What's the reason why we need it?**
When install a new application, helm install just creates the kubernetes resources, ks-controller-manager do not know wether the deployment, daemonset  or pod is ready or not. ks-controller-manager should check the status application until all the resource is ready or time is out.

/kind feature-request
/area app-management

[2021-04-08 06:55] RolandMa1986 commented on #3295
Looks like this is worked as designed. pls, help confirm. @zackzhangkai

[2021-04-08 07:11] wenxin-01 commented on #3660
issue fixed

[2021-04-08 07:11] #3660 closed

[2021-04-08 07:16] RolandMa1986 commented on #3304
Work as designed.
/close

[2021-04-08 07:16] #3304 closed

[2021-04-08 07:28] wenxin-01 commented on #3502
issue fixed
![image](https://user-images.githubusercontent.com/68640256/113985692-02ca1a00-987f-11eb-947c-150f3084fb57.png)

[2021-04-08 07:34] RolandMa1986 commented on #3640
/kind bug

[2021-04-08 08:36] wenxin-01 opened #3705 "After deleting workspace, Multi-cluster Projects are not deleted."
**Environment**
http://139.198.9.112:30883

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Workspaces'
2. Create a workspace named 'test'
3. Create a multi-cluster project 'multi-test' in workspace 'test'
4. delete workspace 'test'
5. Create a workspace named 'test'

**Expected behavior**
There are no resources in workspace 'test'

**Actual behavior**
Multi-cluster Projects 'multi

[2021-04-08 08:37] zheng1 commented on #3647
/close

[2021-04-08 08:37] #3647 closed

[2021-04-08 08:50] zheng1 commented on #3636
![截屏2021-04-08 16 50 30](https://user-images.githubusercontent.com/4156721/113997272-8f2e0a00-988a-11eb-96c1-5c153149d673.png)

Verified. The message is `-` because the sync status is success. If sync failed, this message will be verbose.

/close

[2021-04-08 08:50] #3636 closed

[2021-04-08 08:56] zheng1 commented on #3563
Verified

/close

[2021-04-08 08:56] #3563 closed

[2021-04-08 10:10] Sherlock113 opened #3707 "Enable KubeEdge in a KubeSphere cluster on GCP"
**Describe the Bug**

When you enable KubeEdge, the default download link of `keadm` is a QingStor link. This could cause trouble to GCP users as Google instances have trouble downloading QingStor links. See this [pr](https://github.com/kubesphere/website/pull/1331#discussion_r609519765). They need to manually create a ConfigMap and change the `region` field or customize the download link.

/cc @k

[2021-04-09 02:29] zryfish commented on #3665
/assign @wansir Any update on this?

[2021-04-09 02:31] yuswift opened #3708 "Upgrade crd to apiextensions.k8s.io/v1"
**What's it about?**
upgrade crd to apiextensions.k8s.io/v1

/area upgrade
/kind feature-request

[2021-04-09 02:32] yuswift commented on #3708
/milestone 3.1.0

[2021-04-09 02:32] yuswift commented on #3708
see https://github.com/kubesphere/kubesphere/pull/3702#issuecomment-816354619

[2021-04-09 02:38] wansir commented on #3665
Work in progress, need to automatically switch API according to KubeSphere version.

/assign @leoendless

[2021-04-09 03:21] #3678 closed

[2021-04-09 03:43] #3622 closed

[2021-04-09 03:44] #3559 closed

[2021-04-09 06:12] #3681 closed

[2021-04-09 06:18] zhu733756 commented on #3707
@harrisonliu5 @Sherlock113 we need to confirm what parameters can be selected. The optional parameters are region, download url, arch, and so on. Howerver, we can edit configmap `edge-watcher-config`  to modify it as a option.

[2021-04-09 06:23] wenxin-01 commented on #3597
issue fixed

[2021-04-09 06:23] #3597 closed

[2021-04-09 06:54] LinuxSuRen commented on #3523
The front-end PR should be able to fix the front-end part issue. See https://github.com/kubesphere/console/pull/1770

[2021-04-09 07:03] Sherlock113 commented on #3707
I just tested that the link https://kubeedge.pek3b.qingstor.com/bin/v1.6.1/x86_64/keadm-v1.6.1-linux-x86_64.tar.gz is accessible from GCP. It is slow, but it can be downloaded anyway....

[2021-04-09 07:03] #3707 closed

[2021-04-09 07:37] #1447 closed

[2021-04-09 09:41] xyz-li commented on #2983
/milestone 3.2.0

[2021-04-09 09:45] Remember2015 commented on #3236
why not upgrade to newer version after 1.8 (Mixer is removed in 1.8)

[2021-04-09 09:47] xyz-li commented on #2983
/milestone BackLog

[2021-04-09 09:51] pcclvv opened #3713 "An error was reported when installing 3.0"
![image](https://user-images.githubusercontent.com/38095532/114132943-d7573600-9937-11eb-8e05-7e08220d228f.png)
![image](https://user-images.githubusercontent.com/38095532/114158762-a7b82600-9957-11eb-952f-43aa3fb69da9.png)

An error was reported when installing 3.0

[2021-04-09 09:52] pcclvv commented on #3713
ClusterIP limits the port range

[2021-04-09 09:59] wansir commented on #3496
@liuyp2018 Not a valid issue, we use labelSelector as the filter condition, which must be exactly.

[2021-04-09 16:34] JohnNiang commented on #3713
Please provide `kubernetes-controller-manager` command info, especially `--service-node-port-range` configuration.

[2021-04-09 17:55] #2856 closed

[2021-04-10 19:38] #3196 closed

[2021-04-11 01:30] zackzhangkai commented on #3236
@Remember2015 Agree with you. The time we want to upgrade istio, the version is  still 1.7.0. So we choose the 1.6.10 as our version.  But now , the version maybe too old. On the other hand, we are planning to release our version. Maybe there is no time to change our version. Please to confirm this. I tend to upgrade to istio 1.8. A week is enough for us. @zryfish

[2021-04-11 02:25] zackzhangkai commented on #3295
@hewenhong Go to the member cluster, to deploy a sample bookinfo. Check what the image shows. I think it's because of the wrong configure of your docker registry on each node.

[2021-04-11 05:31] #3561 closed

[2021-04-11 05:31] #3646 closed

[2021-04-12 01:12] pcclvv commented on #3713
![image](https://user-images.githubusercontent.com/38095532/114328437-3783ed00-9b6f-11eb-94a2-311d670d308c.png)
80-30000

[2021-04-12 01:42] zackzhangkai commented on #3236
@Remember2015 https://github.com/istio/istio/issues/19885.  Because istio1.8 use xds 3.0 and no longer support 2.0.  So we should have a full test on this scene. So this time, we still upgrade to 1.6.10.

[2021-04-12 01:47] xyz-li commented on #3493
/milestone /Backlog

[2021-04-12 01:47] xyz-li commented on #3493
/milestone Backlog

[2021-04-12 02:07] junotx commented on #3695
/kind need-to-verify

[2021-04-12 03:44] wansir commented on #3705
Related to https://github.com/kubesphere/kubesphere/pull/3667

/cc @leoendless

[2021-04-12 03:46] wansir commented on #3670
/remove-milestone 3.1.0
/milestone BackLog

[2021-04-12 05:58] zhu733756 opened #3714 "Cannot get edge node metrics on overview page."
**Describe the bug**
Cannot get edge node metrics on overview page.
The interface for the front-end request looks something like this:
[code]
Howerver, the backend interface need resource_filter to parse the pod information, and it not given.
Currently, The corresponding back-end parameters are like this below:
[code]
I will post a pr to solve this issue.

**Versions used(KubeSphere/Kubernetes)**

[2021-04-12 06:00] zhu733756 commented on #3714
/priority high
/kind bug
/milestone 3.1.0
/assign @zhu733756

[2021-04-12 06:33] xyz-li commented on #3701
/close

[2021-04-12 06:33] #3701 closed

[2021-04-12 07:52] LinuxSuRen commented on #3639
Test pass in `nightly-20210411`

/close

[2021-04-12 07:52] #3639 closed

[2021-04-12 07:56] LinuxSuRen commented on #3523
/kind need-to-verify

[2021-04-12 07:58] xyz-li commented on #3493
/milestone Backlog

[2021-04-12 07:59] xyz-li commented on #3493
/milestone BackLog

[2021-04-12 11:26] LinuxSuRen commented on #3676
/kind need-to-verify

[2021-04-12 11:26] LinuxSuRen commented on #3677
/kind need-to-verify

[2021-04-13 01:45] yuswift commented on #3652
/reopen
/assign @leoendless
see https://github.com/kubesphere/kubesphere/pull/3654#issuecomment-810888637

[2021-04-13 02:01] LinuxSuRen commented on #3476
It works in `kubespheredev/ks-console:nightly-20210412@sha256:74cd651a78c9d9a6c46658a7037b2706712c42a44b6c95239027eba3633af5f5`

![image](https://user-images.githubusercontent.com/1450685/114485719-007d0c80-9c3f-11eb-92e8-f1eb87bdec12.png)

/close

[2021-04-13 02:01] #3476 closed

[2021-04-13 02:44] benjaminhuo commented on #3068
This has been implemented by https://github.com/kubesphere/ks-installer/pull/1164 and https://kubesphere.io/docs/faq/observability/byop/

[2021-04-13 02:44] #3068 closed

[2021-04-13 02:51] #3070 closed

[2021-04-13 02:53] benjaminhuo commented on #3506
@wansir This issue is fixed or not?
Can I verify it now?

[2021-04-13 03:30] zackzhangkai commented on #3295
@yuswift  Enter host console, then go to the member, should set the registry of member as default, instead of the host.

![image](https://user-images.githubusercontent.com/20178386/114492471-3f18c400-9c4b-11eb-898a-f5a0322741e3.png)

Such as deploy the sample bookinfo, because the default is the host registry,  it results into a wrong config.

![image](https://user-images.githubusercontent.com/201

[2021-04-13 03:30] liuyp2018 opened #3716 "Some features are disabled after the upgrade"
**Environment**
Single node cluster

After upgrading from KS3.0 to KS3.1, check alert policy, alert message, service account, quota management module.
These modules cannot be used normally, and it prompt 'the current cluster version cannot use this function, please upgrade to V3.1.0 or above version.'

![image](https://user-images.githubusercontent.com/36271543/114492655-8e5ef480-9c4b-11eb-9e4a-aa

[2021-04-13 07:59] zhu733756 commented on #3716
@liuyp2018  The latest back-end image was released, the issue solved

[2021-04-13 08:02] sunkai-XDD opened #3718 "using kubeedge by kubesphere"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2021-04-13 08:27] zhu733756 commented on #3492
Hi,  I just found the link (https://v3-1.docs.kubesphere.io/docs/project-user-guide/configuration/serviceaccounts/ )  also went 404, page not found.

[2021-04-13 09:01] RolandMa1986 opened #3719 "Workspace Column is empty in App Store Reviews page"
**Describe the Bug**
Workspace Column is empty in App Store Reviews page

**Versions Used**
KubeSphere: nightly-20210413

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a new `App Template` under _workspace1_
2. Submit a new `Review` request
3. Go to the `App Reviews` page and check the list.

There is no **Workspace**  show in the list.
![20210413170054](https://user-images.githu

[2021-04-13 09:02] RolandMa1986 commented on #3719
/remove-priority high

[2021-04-13 09:28] RolandMa1986 opened #3720 "Redirected to an invalid url when click Service Provider Website on APP Review Content page"
**Describe the Bug**
On the `Review Content` page, there's a filed **Service Provider Website** that uses to link to the website. however, it was redirected to an internal page when I click it.

**Versions Used**
KubeSphere: nightly-20210413

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a new App Template under workspace1
2. Edit the App Information, and fill in _Service Provide

[2021-04-13 10:33] #3719 closed

[2021-04-13 15:01] #3714 closed

[2021-04-14 01:13] LinuxSuRen commented on #3655
/kind need-to-verify

[2021-04-14 01:16] LinuxSuRen commented on #3676
/remove-priority medium

[2021-04-14 01:52] LinuxSuRen commented on #3494
We already had an issue tracking this issue. Please see #3105

This `Status` makes people feel confused. We already remove it from the list. For anyone who want to know the sync status, then can see it from the credential details.

/close

[2021-04-14 01:52] #3494 closed

[2021-04-14 01:54] LinuxSuRen commented on #3328
fixed
/close

[2021-04-14 01:54] #3328 closed

[2021-04-14 02:56] wenxin-01 commented on #3573
issue fixed

[2021-04-14 02:56] #3573 closed

[2021-04-14 02:59] RolandMa1986 opened #3722 "Keyword search criteria are case sentive in App Store"
**Describe the Bug**
In the App Store, the application name could be the upper case. And there are search boxes that support Fuzzy search. But the user could not search out apps with lower case.

**Versions Used**
KubeSphere: nightly-202104014

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a new App Template with upper case names such as "MySql"
2. In the App Templates list, sear

[2021-04-14 02:59] zhu733756 opened #3723 "No error msg show on the console when I want to build a ServiceAccount with a incorrect yaml file."
**Describe the Bug**
No error msg show on the console when I want to build a ServiceAccount with a incorrect yaml file.
![image](https://user-images.githubusercontent.com/38685176/114647296-705ac800-9d0f-11eb-8d77-23a4d23aa8fd.png)

**Versions Used**
KubeSphere: 3.1
Kubernetes: (If KubeSphere installer used, you can skip this) 1.17.9

**Environment**
How many nodes and their hardware configuration

[2021-04-14 03:01] RolandMa1986 commented on #3723
/cc @xuliwenwenwen

[2021-04-14 03:50] zhu733756 commented on #3723
I cannot find this issue after a second test. I will close this issue.

[2021-04-14 03:50] #3723 closed

[2021-04-14 06:21] RolandMa1986 opened #3724 "Selected category doesn't match with the list"
**Describe the Bug**
When entering App Categories for the first time, the "Uncategorized“ was selected, but all the apps were shown in the list.  When clicked the  "Uncategorized“, only shows "Uncategorized“ apps, but I can't go back to see all apps anymore.
![20210414141702](https://user-images.githubusercontent.com/1720333/114662967-27fdd300-9d2c-11eb-9e67-8c034d9a76b0.png)

**Versions Used**
Ku

[2021-04-14 06:50] JiannaLiu opened #3725 "Blog : How To Deploy Kubernetes On AWS"
We need to write a blog about deploying Kubernetes on AWS, please check the content recommendation for SEO tips and develop a blog this month if possible.

https://docs.google.com/document/d/1cBU5uXzw8nW96lVgYjqzArnKEZ_z4jKuSHzlXhEoLJI/edit#

/assign @Sherlock113

[2021-04-14 06:55] #3725 closed

[2021-04-14 07:40] yuswift commented on #3652
/close
verified thanks @leoendless @wansir @RolandMa1986

[2021-04-14 07:40] #3652 closed

[2021-04-14 07:43] xyz-li opened #3726 "openpitrix 3.1 cannot upgrade applications from openpitrix 3.0"
**Describe the Bug**
After upgrades kubesphere from 3.0 to 3.1,  applications from 3.0 cannot be upgraded.

**Reason**
kubesphere 3.1 add labels to all resource include selector. Some resource's selector is immutable. So the upgradation will fail.

/kind bug
/area app-management

[2021-04-14 08:06] wenxin-01 opened #3729 "Multiple default storage classes can be set in the cluster."
**Environment**
http://139.198.121.240:30881/
`host 3.1 + member 3.0`

**Expected behavior**
Only one default storage class is allowed in a Kubernetes cluster.

**Actual behavior**
![image](https://user-images.githubusercontent.com/68640256/114675604-03f5be00-9d3b-11eb-980a-c36aa2d24e3a.png)

/priority high
/assign @stoneshi-yunify
/kind bug
/milestone 3.1.0

[2021-04-14 08:13] wenxin-01 opened #3730 "The link in 'Storage Classes' is not accessible"
**Actual behavior**
![image](https://user-images.githubusercontent.com/68640256/114676672-18868600-9d3c-11eb-93b1-12da373d0d64.png)
![image](https://user-images.githubusercontent.com/68640256/114676689-20462a80-9d3c-11eb-8a7a-af4c242d341a.png)

/priority medium
/assign @stoneshi-yunify
/kind bug
/milestone 3.1.0

[2021-04-14 08:38] zheng1 commented on #3724
/assign @xyz-li

[2021-04-14 08:44] zheng1 commented on #3722
/assign @xyz-li

[2021-04-14 08:45] zheng1 commented on #3720
/assign @harrisonliu5

[2021-04-14 08:58] stoneshi-yunify commented on #3729
Kubernetes allows multiple default storage classes (it's determined by an annotation), so this is not a bug.

Kubesphere console does not allow you to set multiple default storage classes. But we can not restrict user to do this by cli. If user set multiple default classes by cli, then in KS console you will see multiple default classes, which is working as expected.

/close

[2021-04-14 08:58] #3729 closed

[2021-04-14 09:03] stoneshi-yunify commented on #3730
/assign @xuliwenwenwen

The link is wrong, the correct link is https://v3-1.docs.kubesphere.io/docs/cluster-administration/persistent-volume-and-storage-class/

[2021-04-14 10:27] xyz-li commented on #3724
/assign @leoendless

[2021-04-14 10:34] zheng1 commented on #3724
/assign @harrisonliu5
/unassign @leoendless

[2021-04-14 11:25] LinuxSuRen opened #3732 "Refresh button of the metering and biling page is not working"
**Describe the Bug**

As you can see, there's no HTTP request when I click the `refresh` button.

![image](https://user-images.githubusercontent.com/1450685/114702252-690add00-9d56-11eb-8ee6-a725b6a8016b.png)

/priority medium

**Versions Used**
KubeSphere: `nightly-20210413`

**Environment**
This should not be an environmental issue.

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2021-04-14 12:35] LinuxSuRen commented on #3732
/kind bug

[2021-04-15 00:39] wenxin-01 commented on #3677
issue fixed

[2021-04-15 00:39] #3677 closed

[2021-04-15 00:39] wenxin-01 commented on #3676
issue fixed

[2021-04-15 00:39] #3676 closed

[2021-04-15 00:47] wenxin-01 commented on #3655
issue fixed

[2021-04-15 00:47] wenxin-01 commented on #3655
issue fixed

[2021-04-15 02:02] wenxin-01 commented on #3656
issue fixed

[2021-04-15 02:02] #3656 closed

[2021-04-15 02:08] wenxin-01 commented on #3282
issue fixed

[2021-04-15 02:08] #3282 closed

[2021-04-15 02:31] wenxin-01 commented on #3523
issue fixed

[2021-04-15 02:31] #3523 closed

[2021-04-15 02:54] tpiperatgod opened #3734 "Create Custom Monitoring without select any template"
**Describe the Bug**

I can create a monitoring without select any template below on the dashboard.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/2360535/114806672-b4b19b00-9dd7-11eb-8c3d-dc5ab22cd249.png)
it has been created
![image](https://user-images.githubusercontent.com/2360535/114806863-04906200-9dd8-11eb-9f05-8e007dc74e

[2021-04-15 02:59] tpiperatgod commented on #3734
/assign @leoendless

[2021-04-15 03:32] RolandMa1986 opened #3735 "Can't Change config files when deploying a custom app"
**Describe the Bug**
When I deploy an app from Workspace Template, the App Configurations are blank.
**Versions Used**
KubeSphere: nightly-20210415

**How To Reproduce**
Steps to reproduce the behavior:
1. Download "Vault" from https://artifacthub.io/packages/helm/hashicorp/vault
2. Upload "Vault" to **App Templates**
3. In Workspace, Deploy the Vault in-app page.
4. Check the **Chart Files** in t

[2021-04-15 04:13] wanjunlei opened #3736 "App Repositories can be updated even the verify failed"
**Describe the Bug**
Firstly, create a App Repositories with correct URL.
Then, edit the App Repositories, you can change the URL to any value and can update  the App Repositories successfully.

**Versions Used**
KubeSphere: 3.1.0 latest
Kubernetes: 1.19.8

**Expected behavior**
It  can not be updated when the verify failed

/milestone 3.1.0

[2021-04-15 05:43] LinuxSuRen commented on #3655
This issue should have the same problem with #3105

[2021-04-15 05:58] wanjunlei commented on #3736
/milestone 3.1.0

[2021-04-15 06:22] wanjunlei commented on #3736
/kind bug

[2021-04-15 06:23] wanjunlei commented on #3736
/area app-management

[2021-04-15 06:24] wanjunlei commented on #3734
/kind bug
/area monitoring
/milestone 3.1.0

[2021-04-15 06:52] zryfish opened #3737 "Images which need to be synced to repo `kubesphere`"
Please leave comments on images that are required by release v3.1.0 like the following format.  `source location` -> `destination location`

- [ ] `kubespheredev/ks-apiserver:nightly-20210413` -> `kubesphere/ks-apiserver:v3.1.0`

/milestone 3.1.0

The following images have been pushed to `kubesphere` already
[code]

[2021-04-15 06:56] zryfish opened #3738 "Checklist before releasing v3.1.0"
The following items should be marked as resolved before releasing v3.1.0 officially.

- [x] All of [issues](https://github.com/kubesphere/kubesphere/issues?q=is%3Aopen+is%3Aissue+label%3Apriority%2Fhigh+milestone%3A3.1.0) with label `priority/high`of `milestone v3.1.0` are resolved.
- [x] The rest of `milestone 3.1.0` [issues](https://github.com/kubesphere/kubesphere/issues?q=is%3Aopen+is%3Aissue+

[2021-04-15 06:59] shaowenchen commented on #3737
- [ ] kubespheredev/s2ioperator -> kubesphere/s2ioperator

tag is v3.1.0

[2021-04-15 06:59] harrisonliu5 commented on #3720
Currently, if there is no URL starting with HTTP or HTTPS, the default is the route within the site.
Whether to add HTTP or HTTPS when editing？

[2021-04-15 07:01] LinuxSuRen commented on #3737
DevOps related images:

* [ ] `kubespheredev/ks-jenkins:2.249.1` -> `kubesphere/ks-jenkins:2.249.1`

[2021-04-15 07:02] #3602 closed

[2021-04-15 07:02] zheng1 commented on #3737
- [ ] kubespheredev/openpitrix-jobs:v3.1.0 -> kubesphere/openpitrix-jobs:v3.1.0

[2021-04-15 07:05] xyz-li commented on #3735
/assing @xyz-li

[2021-04-15 07:10] zryfish commented on #3708
/reopen
We need to check all of repositories under organization `kubesphere`.

[2021-04-15 07:14] zheng1 commented on #3736
/assign @xyz-li

[2021-04-15 07:15] wenxin-01 opened #3739 "When querying all apps in a project, the interface returns 500"
**Describe bug**

when set limit=-1, the interface returns 500

**Environment**
http://139.198.121.240:30881

**How To Reproduce**
Steps to reproduce the behavior:

kapis/openpitrix.io/v1/workspaces/ws/clusters/host/namespaces/hpro/applications?conditions=status=creating|active|failed|deleting|upgrading|created|upgraded&paging=limit=-1,page=1&orderBy=status_time

**Expected behavior**
The interfac

[2021-04-15 07:23] RolandMa1986 opened #3740 "Images with Critical Vulnerability need to be updated"
**Describe the Bug**
There are some Docker images that are still using older base images. Which may container Vulnerabilities, all images with critical (high) vulnerabilities should be fixed.

**Versions Used**
KubeSphere: lastest

/kind bug
/milestone 3.1.0
@zryfish

[2021-04-15 07:26] LinuxSuRen commented on #3740
We need to scan the vulnerabilities regularly. I will do that later. But I guess we might have not enough time to do that before the coming release.

[2021-04-15 08:12] harrisonliu5 commented on #2885
/kind need-to-verify

[2021-04-15 08:40] LinuxSuRen opened #3742 "Provide a more human readable data in the metering and billing exported file"
It's very hard to read the data from the exported metering and billing file. Please see the following screenshot:

![image](https://user-images.githubusercontent.com/1450685/114839668-9e700300-9e08-11eb-9c71-2ca76b84b745.png)

/priority low
/kind optimization

[2021-04-15 08:42] yuswift commented on #3738
- [ ] release tower to v0.2.0 and update the image tag for installer

[2021-04-15 10:20] #3722 closed

[2021-04-15 10:20] #3735 closed

[2021-04-16 01:28] LinuxSuRen opened #3744 "Suggest downloading the consumption records as a zip file if there're multiple records"
**What's it about?**

Suggest that downloading the consumption records as a zip file if there're multiple records.

**What's the reason why we need it?**

As you can see, there're many files downloaded on the left part of the following screenshot. It's very inconvenient if a user chooses many records.

![image](https://user-images.githubusercontent.com/1450685/114958035-c86f0700-9e94-11eb-88b0-11e

[2021-04-16 01:53] yuswift opened #3745 "running kubesphere with non `root` user"
**What's it about?**
running kubesphere with non `root` user, which can reduce the security risks.

/kind feature-request

[2021-04-16 01:53] yuswift commented on #3745
/milestone backup

[2021-04-16 01:54] yuswift commented on #3745
/milestone BackLog

[2021-04-16 02:01] waidinsamkeit opened #3746 "ks-apiservef panic due to a potential storageclass related issues"
# Apiserver日志
![image](https://user-images.githubusercontent.com/52663349/114960902-8ea0ff00-9e9a-11eb-9145-bcdf1001dbd5.png)
# 所有已经绑定的存储类
![image](https://user-images.githubusercontent.com/52663349/114960927-995b9400-9e9a-11eb-9a2c-e1ae9276e491.png)
已经按照社区方法都试过了 增加storageclassname 什么的 都不好使
现在apisherver依旧报错这个

[2021-04-16 02:02] waidinsamkeit commented on #3746
![image](https://user-images.githubusercontent.com/52663349/114961054-dcb60280-9e9a-11eb-8013-f302ab1c4deb.png)

[2021-04-16 02:07] #3105 closed

[2021-04-16 02:07] LinuxSuRen commented on #3746
Hi @waidinsamkeit , thanks for reporting this issue. If you can take some time to provide more context, for example, Kubernetes and KubeSphere version, I might be able to get help quickly. For my side, I don't know how to reproduce it according to your description.

/retitle ks-apiservef panic due to a potential storageclass related issues

[2021-04-16 02:15] LinuxSuRen opened #3747 "Got a negative cost on the billing page"
**Describe the Bug**

Got a negative cost on the billing page. You can see it from the following screenshot:

![image](https://user-images.githubusercontent.com/1450685/114961026-cf991380-9e9a-11eb-9ea2-0af102f58702.png)

/priority medium

**Versions Used**
KubeSphere: `20210414`

**Environment**
This should not be an environmental issue.

**How To Reproduce**
Steps to reproduce the behavior:
1.

[2021-04-16 02:15] LinuxSuRen commented on #3747
/kind bug

[2021-04-16 02:20] waidinsamkeit commented on #3746
已经解决 希望可以在下个版本修复需要指定storageclassName的问题

[2021-04-16 02:23] harrisonliu5 commented on #3724
/kind need-to-verify

[2021-04-16 02:24] harrisonliu5 commented on #3720
/kind need-to-verify

[2021-04-16 02:43] wenxin-01 opened #3748 "After modified the account role, the latest login time of the account will change to 'None'"
**Versions Used**
KubeSphere:  `host 3.1 + member3.1 + member3.0`

**Environment**
http://139.198.121.240:30881

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Access Control'
2. Click on 'Accounts'
3. Modify role of any login account

**Expected behavior**
The latest login time unchanged

**Actual behavior**
the latest login time of the account change to 'None'

![image](https://

[2021-04-16 03:00] zackzhangkai opened #3749 "platform user can not set notification settings"
ks 3.1 host + member

1. In the host, create a role, grant it with platform privileges.
2. create a user, binding to the role.
3. Login to the host, go to the notification, and this error occurs.

![image](https://user-images.githubusercontent.com/20178386/114964918-3968eb80-9ea2-11eb-8cbe-4d8323415da1.png)

/priority high

[2021-04-16 03:16] zackzhangkai commented on #3749
same errors in member cluster.
/kind bug

[2021-04-16 03:23] #3726 closed

[2021-04-16 03:48] #3730 closed

[2021-04-16 04:17] liuyp2018 opened #3751 "The Monitoring component upgrade failed from KSV3.0 to KSV3.1"
**Versions Used**
kubesphere v3.0
The Monitoring component is enabled

**How To Reproduce**
Steps to reproduce the behavior:
1. Upgrade the cluster to KS v3.1

**Expected behavior**
All components were successfully upgraded

**actual results**
The Monitoring component upgrade failed

![image](https://user-images.githubusercontent.com/36271543/114970734-91f1b600-9ead-11eb-9485-d468cfe975f4.png)

![

[2021-04-16 05:08] #3748 closed

[2021-04-16 06:01] liuyp2018 commented on #3716
/close

[2021-04-16 06:01] #3716 closed

[2021-04-16 06:09] zryfish commented on #3747
/assign @kubesphere/sig-console
/cc @yunkunrao

[2021-04-16 06:09] benjaminhuo commented on #3582
Global custom monitoring menu should not be shown in v3.0 while namespace custom monitoring should be available in v3.0 @leoendless @junotx

[2021-04-16 06:10] benjaminhuo commented on #3695
@liuyp2018 This should have been fixed

[2021-04-16 06:11] benjaminhuo commented on #3567
@stoneshi-yunify This should have been fixed

[2021-04-16 06:12] stoneshi-yunify commented on #3567
verified okay

/close

[2021-04-16 06:12] #3567 closed

[2021-04-16 06:15] #3582 closed

[2021-04-16 06:22] zheng1 commented on #3520
/assign @harrisonliu5

[2021-04-16 06:43] liuyp2018 commented on #3695
verified, and fixed
/close

[2021-04-16 06:43] #3695 closed

[2021-04-16 06:44] xyz-li commented on #3496
/close

[2021-04-16 06:44] #3496 closed

[2021-04-16 06:46] liuyp2018 commented on #3492
fixed
/close

[2021-04-16 06:46] #3492 closed

[2021-04-16 06:48] liuyp2018 commented on #3665
fixed
/close

[2021-04-16 06:48] #3665 closed

[2021-04-16 06:52] RolandMa1986 commented on #3740
- [ ]  kubesphere/kube-rbac-proxy:v0.4.1 CRITICAL: 2
- [ ] xyzli/openpitrix-jobs:latest  CRITICAL: 2
- [ ] kubespheredev/fluent-bit:v1.6.9 High 11 (optional)
- [ ] kubespheredev/tower:latest High 4 (optional)
- [ ] kubesphere/kubectl:v1.0.0 High 21 (optional)
- [ ] kubesphere/kube-events-exporter:v0.1.0 (optional)
@xyz-li @wanjunlei @yuswift
Please help to check those images

[2021-04-16 06:57] liuyp2018 commented on #3679
Verify that the workspace under the cluster cannot now be selected, only the system-workspace can be selected
![image](https://user-images.githubusercontent.com/36271543/114984057-e869ef00-9ec3-11eb-890a-70202394b3f7.png)

/remove-kind need-to-verify

[2021-04-16 07:11] liuyp2018 commented on #3664
/remove-kind need-to-verify

When selecting the DevOps project role in a user group, no upgrade prompt is given
![image](https://user-images.githubusercontent.com/36271543/114985759-c2dde500-9ec5-11eb-9f9c-f6a7bfe40f1f.png)

[2021-04-16 07:22] dkeven opened #3752 "Unable to expand volume size from console"
**Describe the Bug**
Unable to expand volume size from console due to missing unit(Gi) of volume capacity.
![image](https://user-images.githubusercontent.com/82354774/114986940-2f0d1880-9ec7-11eb-9a2e-7c1a0687cf25.png)

**Versions Used**
KubeSphere: nightly-20210414

[2021-04-16 07:23] liuyp2018 commented on #3325
fixed
/close

[2021-04-16 07:23] #3325 closed

[2021-04-16 07:23] yuswift commented on #3752
/kind bug
/milestone 3.1.0
/area console
/assign @harrisonliu5

[2021-04-16 07:25] liuyp2018 commented on #3385
verified that not fixed
/remove-kind neet-to-verify

[2021-04-16 07:37] wenxin-01 commented on #3610
issue fixed.
The amount returned by back-end retains three decimal places

[2021-04-16 07:37] #3610 closed

[2021-04-16 07:57] zryfish commented on #3744
/milestone BackLog

[2021-04-16 07:58] zryfish commented on #3746
/close

[2021-04-16 07:58] #3746 closed

[2021-04-16 08:00] LinuxSuRen commented on #3668
/milestone BackLog

[2021-04-16 08:01] LinuxSuRen commented on #3641
/milestone BackLog

[2021-04-16 08:01] zryfish commented on #3713
It's your custom node-port-range, kubernetes default nodeport range is `30000-32676`, you need to set another range to keep `30880` in that range. Maybe `80-32676`

[2021-04-16 08:02] wansir commented on #3506
/kind need-to-verify

[2021-04-16 08:02] LinuxSuRen commented on #3280
/milestone BackLog

[2021-04-16 08:03] wansir commented on #3498
/kind need-to-verify

[2021-04-16 08:04] wansir commented on #3501
/kind need-to-verify

[2021-04-16 08:04] zryfish commented on #3718
Please take a look at this https://kubesphere.com.cn/forum/d/3258-kubesphere-kubeedge/20 first. And please don't open an issue with just the title, we need more details to figure the problem.

[2021-04-16 08:06] zryfish commented on #3700
/assign @zhu733756

[2021-04-16 08:08] zryfish commented on #3693
@ItGeneral Does this help?

[2021-04-16 08:09] LinuxSuRen commented on #3718
/triage needs-information

[2021-04-16 08:10] zhu733756 commented on #3700
@liuyp2018 I see the edge node occured a error, the Internet connection cannot be reached. So the edge node metrics would be incorrect.

[2021-04-16 08:13] zryfish commented on #3700
So it's expected then, not a bug? If we can confirm it's not a bug, close the issue.

[2021-04-16 08:20] wanjunlei commented on #3498
not fixed

[2021-04-16 08:28] zryfish commented on #3689
Quota information removed when creating multicluster deployment, I think we can close this issue now.

[2021-04-16 08:39] wansir commented on #3498
![image](https://user-images.githubusercontent.com/8263040/114995508-7a77f480-9ed0-11eb-9888-2e584675fa35.png)

User granted to view `workspace-settings` should show workspace quota page.

/assign @harrisonliu5

[2021-04-16 08:48] zryfish commented on #3519
/priority high

[2021-04-16 08:50] zryfish commented on #3539
verified as fixed

/close

[2021-04-16 08:50] #3539 closed

[2021-04-16 10:23] yuswift opened #3754 "Two same tabs showed when creating custom workspace roles"
**Describe the Bug**

https://user-images.githubusercontent.com/37265389/115011020-b2873380-9ee0-11eb-97b7-8bbf3fa2e520.mov

**Versions Used**
KubeSphere: latest

**Expected behavior**
There should only exist one tab.

[2021-04-16 10:23] yuswift commented on #3754
/kind bug
/milestone 3.1.0
/area console
/priority low

[2021-04-16 10:34] yuswift opened #3755 "Summary of bugs when creating custom alarm policies"
**Describe the Bug**
Console doesn't verify the alarm duration input

https://user-images.githubusercontent.com/37265389/115011986-d9923500-9ee1-11eb-9dab-52ac1f68b920.mov

Console doesn't verify the `cpu average load(1m 5m 15m)` input

https://user-images.githubusercontent.com/37265389/115148510-857a8280-a092-11eb-9545-39fce9465c47.mov

Console doesn't verify the `iops` input

https://user-images

[2021-04-16 10:35] yuswift commented on #3755
/area console
/kind bug
/milestone 3.1.0
/priority medium

[2021-04-16 10:37] daniel-hutao commented on #3682
/close

It've been fixed at the latest version.

[2021-04-16 10:37] #3682 closed

[2021-04-16 23:51] liuyp2018 commented on #3385
/remove-kind need-to-verify

[2021-04-16 23:52] liuyp2018 commented on #2597
fixed
/close

[2021-04-16 23:52] #2597 closed

[2021-04-17 00:20] liuyp2018 opened #3756 "In Host v3.1+ Member v3.0, the project under the Member cluster, the custom alert page reports error"
**Environment**
multi-cluster：
host：ks v3.1
member：ks v3.0

Create a workspace belonging to the Member cluster
Create a project under  the workspace
Enter the project - custom alert page, page error
![image](https://user-images.githubusercontent.com/36271543/115095745-f156d100-9f54-11eb-8b61-6ee63a5764b0.png)

/kind bug
/assign @xuliwenwenwen
/milestone 3.1.0
/priority High

[2021-04-17 01:38] zousheng opened #3757 "how to refresh api token like oauth2 token instead of getting token each time"
HI,
I am using kubesphere api to manage k8s resources and stuck in the api token management, the document only mentioned how to generate token, but doens't mention how to refresh, it would be better if token management document is added.

Could you help with an example?

[2021-04-17 02:22] FeynmanZhou commented on #3757
cc @kubesphere/sig-docs

[2021-04-17 03:15] FeynmanZhou commented on #3757
/help

[2021-04-17 14:31] #2904 closed

[2021-04-17 14:31] #3182 closed

[2021-04-18 13:19] yuswift commented on #3757
The API also returns a `refresh_token` field.

[2021-04-18 13:23] yuswift commented on #3271
/lifecycle-remove stale

[2021-04-18 13:25] yuswift commented on #3755
/retitle Summary of bugs when creating custom alarm policies

[2021-04-18 15:33] JohnNiang opened #3758 "Invalidate token instead of returning 404 after upgrading to latest from v3.0.0"
**Describe the Bug**

Invalidate token instead of returning 404 after upgrading to latest from v3.0.0

After upgrading kubesphere to latest, index page will show as follow:

![image](https://user-images.githubusercontent.com/16865714/115150667-fc684900-a09b-11eb-8b86-332ab80096c4.png)

However, it will return to normal when I open index page in private window or clear coolie(token field) manually.

[2021-04-18 15:34] #3758 closed

[2021-04-19 01:13] LinuxSuRen commented on #3758
Why closed this?

[2021-04-19 01:24] RolandMa1986 commented on #3724
/close

[2021-04-19 01:24] #3724 closed

[2021-04-19 01:27] daniel-hutao opened #3759 "prometheus-operator cannot list resource "probes" error"
**Describe the Bug**

I got the error msg below in pod `prometheus-operator-b954c76d4-d4k4k` when I use the version "nightly-20210416" to install a ks cluster

[code]
![image](https://user-images.githubusercontent.com/18692628/115169679-4af40280-a0f1-11eb-97c4-ace2d162fc17.png)

**Versions Used**
KubeSphere: nightly-20210416

[2021-04-19 01:29] daniel-hutao commented on #3759
/kind bug
/area observability

[2021-04-19 01:49] duanjiong commented on #3385
In some cases, it is normal that all network numbers are 0. In fact, it is unlikely that users will enter all 0 network numbers here, so I think we can ignore the restriction for now.

[2021-04-19 01:50] duanjiong commented on #3679
/assign @harrisonliu5

[2021-04-19 01:51] daniel-hutao commented on #3759
/assign

[2021-04-19 02:16] zousheng commented on #3757
Yes, but I am still confused how to use it with kubesphere api, is there any guide ?

  I read Oauth2.0 go client, in which refresh token can be used to refresh token automaticall, no need to call it explicitly.

[2021-04-19 02:19] JohnNiang commented on #3758
It's my fault. I upgraded kubesphere incorrectly that raised the unexpected error. So I closes this issue immediately when I found some pods were down.

[2021-04-19 02:30] yuswift commented on #3759
/milestone 3.1.0
/priority high

[2021-04-19 02:34] yuswift commented on #3751
/kind need-to-verify
/cc @liuyp2018

[2021-04-19 02:35] yuswift commented on #3749
/milestone 3.1.0
/kind need-to-verify

[2021-04-19 02:36] yuswift commented on #3747
/milestone 3.1.0

[2021-04-19 02:37] yuswift commented on #3742
/milestone Back-log

[2021-04-19 02:38] yuswift commented on #3742
/milestone Backlog

[2021-04-19 02:41] wansir commented on #3757
https://tools.ietf.org/html/rfc6749#page-47

[code]

[2021-04-19 02:41] daniel-hutao opened #3760 "promql many-to-many error in prometheus container"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/18692628/115174374-b8a52c00-a0fb-11eb-83ab-baa246605f7e.png)

![image](https://user-images.githubusercontent.com/18692628/115174514-f7d37d00-a0fb-11eb-89df-8efaa6a8a02c.png)

**Versions Used**
KubeSphere: latest version at 2021-04-19 (build from master branch)
Kubernetes: v1.18.14

[2021-04-19 02:43] daniel-hutao commented on #3760
/kind bug
/area observability

[2021-04-19 02:56] yuswift commented on #3760
/milestone 3.1.0
/cc @benjaminhuo

[2021-04-19 02:59] #3739 closed

[2021-04-19 03:01] benjaminhuo commented on #3760
What's the k8s version?

[2021-04-19 03:18] daniel-hutao commented on #3760
v1.18.14

[2021-04-19 03:23] daniel-hutao commented on #1446
/retitle The svc list needs to show ip address

[2021-04-19 03:24] benjaminhuo commented on #3760
@junotx Pls take a look at this issue

[2021-04-19 03:26] daniel-hutao commented on #3415
This proposal is already contained in:
kubesphere/kubesphere/issues/3457

[2021-04-19 03:26] #3415 closed

[2021-04-19 03:36] zryfish commented on #3519
verified as fixed
/close

[2021-04-19 03:36] #3519 closed

[2021-04-19 03:41] zryfish commented on #3669
@liuyp2018 I can verify this issue fixed in my env, can you help verify it?

[2021-04-19 03:42] zryfish commented on #3705
@wansir  Any update on this issue?

[2021-04-19 04:56] wansir commented on #3705
/assign @harrisonliu5

[2021-04-19 05:19] liuyp2018 commented on #3669
fixed
/close

[2021-04-19 05:19] #3669 closed

[2021-04-19 05:49] daniel-hutao opened #3761 "Internal error occurred: account is not active"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/18692628/115187291-9f10de00-a115-11eb-8f6f-06a4d694fa2a.png)

![image](https://user-images.githubusercontent.com/18692628/115187489-0169de80-a116-11eb-8a91-624680a62878.png)

- logs at ks-apiserver

![image](https://user-images.githubusercontent.com/18692628/115187681-51e13c00-a116-11eb-93a0-27280e3cc403.png)

**Versions Used

[2021-04-19 05:49] daniel-hutao commented on #3761
/kind bug

[2021-04-19 05:56] liuyp2018 opened #3762 "The 'compile template' link reports a 404 error on the build image page"
The 'compile template' link reports a 404 error on the build image page
![image](https://user-images.githubusercontent.com/36271543/115185791-2446c380-a113-11eb-82cc-57b64f52e3b6.png)

/kind bug
/assign @Sherlock113
/priority High
/milestone 3.1.0

[2021-04-19 06:00] yuswift commented on #3761
please show ks-controller-manager log

[2021-04-19 06:03] daniel-hutao commented on #3761
![image](https://user-images.githubusercontent.com/18692628/115188505-97eacf80-a117-11eb-81be-87bb15365f43.png)

The certificates mentioned in the above log are expired. I created these certificates the last time I deployed ks cluster, and then I've redeployed ks cluster. @yuswift

I used kubesphere-delete.sh to clean the cluster before redeploy ks cluster.

[2021-04-19 06:05] harrisonliu5 commented on #3679
/assign @wansir

[2021-04-19 06:06] yuswift commented on #3705
/kind need-to-verify
/cc @wenxin-01

[2021-04-19 06:13] daniel-hutao opened #3763 "Unable to list resources for GVKgvkkubeflow.org/v1 error at ks-controller-manager"
**Describe the Bug**

I found the error msg below at ks-controller-manager when I deployed the ks cluster by ks-installer at a k8s cluster running kubeflow.

[code]

![image](https://user-images.githubusercontent.com/18692628/115189628-56f3ba80-a119-11eb-99de-ab22908e54c2.png)

**Versions Used**
KubeSphere: latest version at 2021-04-19(built from ks-installer's master branch)
Kubernetes: 1.18.14

[2021-04-19 06:13] daniel-hutao commented on #3763
/kind bug

[2021-04-19 06:25] daniel-hutao commented on #3761
![image](https://user-images.githubusercontent.com/18692628/115190752-18f79600-a11b-11eb-9901-d2d44b5e7b72.png)

 logs about user_controller

[2021-04-19 06:31] wansir commented on #3761
@daniel-hutao

[code]

[2021-04-19 07:23] #3664 closed

[2021-04-19 07:52] daniel-hutao commented on #3761
This problem has disappeared when deploying with the latest version of ks-core module. @wansir @yuswift

/close

[2021-04-19 07:52] #3761 closed

[2021-04-19 07:56] zryfish commented on #3708
Still found lots of `CRD` files using deprecated `apiextensions.k8s.io/v1` https://github.com/kubesphere/ks-installer/search?p=1&q=apiextensions.k8s.io%2Fv1beta1

[2021-04-19 07:59] LinuxSuRen commented on #3762
/area devops
/area documentation

[2021-04-19 08:08] zryfish commented on #3740
Can you also describe how do you find these vulnerabilities, the tool you use?

[2021-04-19 08:15] RolandMa1986 commented on #3740
For a single image scan task, the Trivy /docker scan(docker desktop only) can be used to detect vulnerabilities.
Ubuntu:
`trivy i -s HIGH,CRITICAL osixia/openldap:1.5.0`

Mac/Window
`docker scan osixia/openldap:1.5.0`

[2021-04-19 08:17] daniel-hutao opened #3764 "No description information is displayed on Workspaces page"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/18692628/115203896-8101a880-a12a-11eb-8a81-c9c4be4fd806.png)

**Versions Used**
KubeSphere: nightly-20210416

**Expected behavior**

same as below

![image](https://user-images.githubusercontent.com/18692628/115204064-aa223900-a12a-11eb-99a9-442dd4b92e9f.png)
![image](https://user-images.githubusercontent.com/18692628/1152041

[2021-04-19 08:20] wenxin-01 commented on #3501
issue fixed

[2021-04-19 08:31] benjaminhuo commented on #3506
verified and close
/close

[2021-04-19 08:31] #3506 closed

[2021-04-19 08:36] daniel-hutao opened #3765 "devopsproject.devops.kubesphere.io "xxx" not found error"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/18692628/115205802-82cc6b80-a12c-11eb-97df-027e9f90e644.png)

![image](https://user-images.githubusercontent.com/18692628/115205702-69c3ba80-a12c-11eb-9e96-7a09f5184c48.png)

**Versions Used**
KubeSphere: nightly-2021-04-16
Kubernetes: v1.18.14

**How To Reproduce**
1. Create user maip-project-admin with role "platform-regula

[2021-04-19 08:42] liuyp2018 opened #3766 "Case insensitive problem with LDAP users"
**steps**
1. Log in to KS using the TesUser1 user in LDAP and enter the user's mailbox and user name configuration page
2. Set the user email as user1@test.com, set the user name as testuser1, and log in KS
3. Log in to KS with testuser1, and the user's email and username configuration page pops up again

Cause of problem: LDAP users are validated in both uppercase and lowercase

https://user-imag

[2021-04-19 08:42] daniel-hutao commented on #3765
![image](https://user-images.githubusercontent.com/18692628/115207509-400b9300-a12e-11eb-8c3f-4849ddf2e05c.png)

It should be related to the project name

[2021-04-19 08:46] #3762 closed

[2021-04-19 08:47] #3756 closed

[2021-04-19 09:30] daniel-hutao opened #3769 "devopscredential_controller error: cound not create or update credential xxx"
**Describe the Bug**

I found the error msg at ks-controller-manager below

![image](https://user-images.githubusercontent.com/18692628/115213849-85cb5a00-a134-11eb-8029-d11c09a0e982.png)

**Versions Used**
KubeSphere: nightly-2021-04-19
Kubernetes: v1.18.14

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a ks cluster with ks-installer.
2. Create a DevOps project and create some c

[2021-04-19 09:37] yuswift commented on #3705
Could we close this issue?

[2021-04-19 09:37] yuswift commented on #3705
@wenxin-01

[2021-04-19 09:43] wenxin-01 commented on #3705
issue fixed

[2021-04-19 09:43] #3705 closed

[2021-04-19 09:49] Sherlock113 commented on #3762
Fixed. Need verification.

[2021-04-19 09:54] yuswift commented on #3740
Most of the vulnerabilities can be fixed by changing the base image.

[2021-04-19 10:15] wenxin-01 opened #3771 "For users with platform setting authority, access notification management failed"
**Versions Used**
KubeSphere: `dev:latest`

**Preset conditions**
There is a user A with platform-role  `Platform Settings`

**How To Reproduce**
Steps to reproduce the behavior:
1. use user A log in ks
2. click on 'Platform'
3. Click on 'Platform Settings'
3. CLick on 'Notification Management'
4. click on 'Email','ding talk', 'wecom', 'slack', 'webhook'
5. See error

**Actual behavior**
![image](

[2021-04-19 13:24] yuswift opened #3772 "[priority high] Kubesphere is deleted when deleting crd `federatedworkspaces.types.kubefed.io`"
**Describe the Bug**
<img width="1680" alt="Jietu20210419-212158" src="https://user-images.githubusercontent.com/37265389/115243314-6133aa00-a155-11eb-9ee1-11f5249566cc.png">

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: latest

**Expected behavior**
The ns created by ks-installer should not be deleted

[2021-04-19 13:25] yuswift commented on #3772
/kind bug
/milestone 3.1.0
/priority high
/assign @pixiake

[2021-04-19 13:25] yuswift commented on #3772
/cc @zryfish

[2021-04-20 01:08] #3759 closed

[2021-04-20 01:53] yuswift commented on #3772
/retitle [priority high] Kubesphere is  deleted when deleting crd `federatedworkspaces.types.kubefed.io`

[2021-04-20 02:14] daniel-hutao commented on #3769
I did not clean up the credential first when I deleted the ks cluster with kubesphere-delete.sh, so does it mean that if I need to reinstall the cluster in the future, I need to clean up all devops projects and related resources created by ks in advance? In addition, I see that there are actions related to deleting `pipeline & devopsprojects` resources in the kubesphere-delete.sh script. Is the cr

[2021-04-20 02:18] LinuxSuRen commented on #3769
`devopsprojects` is a wrapper of `namespace`. Normally the secrets should be removed once the `devopsprojects` disappeared. But if the status of Jenkins is not ok, then the secret deleting process might not finish. You might need to cleanup the `finalizer` manually before we have a better solution.

[2021-04-20 02:24] daniel-hutao commented on #3769
I found that after the successful execution of the *kubesphere-delete.sh*, the ns related to the devops projects still exists and the status is **Active**. To clean up these ns, I need to delete the internal secrets first, and deleting these secrets need to manually clean up the `finalizer`. If there is no suitable way for the time being, I'll pay attention to clean up the resources when I reinsta

[2021-04-20 02:27] LinuxSuRen commented on #3769
I would suggest that create a new issue to track how to clean up DevOps orphan credentials easily. If you think that is a necessary feature request.

[2021-04-20 02:27] liuyp2018 opened #3774 "Unable to receive alert notifications after upgrade"
**Environment**
kubesphere v3.0

**How To Reproduce**
Steps to reproduce the behavior:
1. In Kubesphere v 3.0, enable the alert component and create an alert policy
2. upgrade the cluster
3. After the upgrade, create alert policies and configure notifications in the upgraded cluster
4. When the alert policy is triggered, verify that the alert notification can be received

**Expected behavior**
can

[2021-04-20 02:28] yuswift commented on #3772
/cc @RolandMa1986
/cc @wansir

[2021-04-20 02:28] yuswift commented on #3772
/unsign @pixiake

[2021-04-20 02:29] yuswift commented on #3772
/unsigned @pixiake

[2021-04-20 02:37] #3747 closed

[2021-04-20 03:30] luoMonkeyKing commented on #3009
Hello, I found that these two functions have been deleted in the v.7.0 version. Is there any other way to achieve the same function? I also did not find any relevant operation cases in the new version of kubefed documentation.

[2021-04-20 04:07] wansir opened #3775 "Feature: support OpenID Connect RP-Initiated Logout"
**What's it about?**

OpenID Connect 1.0 is a simple identity layer on top of the OAuth 2.0 protocol. It enables Clients to verify the identity of the End-User based on the authentication performed by an Authorization Server, as well as to obtain basic profile information about the End-User in an interoperable and REST-like manner.

[This specification](https://openid.net/specs/openid-connect-rpin

[2021-04-20 04:21] junotx opened #3777 "the last pod has no monitoring data in the pod list of the node"
**Describe the Bug**

There is no monitoring data for the last pod in the pod list of the node

![image](https://user-images.githubusercontent.com/49136171/115336940-b19d1d00-a1d2-11eb-806f-3733e6272b88.png)

/area monitoring
/priority high
/assign @junotx

[2021-04-20 04:48] #3154 closed

[2021-04-20 06:06] #3765 closed

[2021-04-20 06:07] daniel-hutao opened #3778 "Show description infomation at Accounts page"
**What's it about?**

Description information is displayed under the ns and pods names at related pages. I’m not sure on the Accounts page, whether it’s appropriate to display the email address or the description below the name. If it’s display email address priority, should the user’s description be displayed on the right side?

![image](https://user-images.githubusercontent.com/18692628/11534512

[2021-04-20 06:22] wansir commented on #3775
/assign @harrisonliu5

[2021-04-20 06:22] wansir commented on #3775
/assign

[2021-04-20 06:22] wansir commented on #3775
/assign

[2021-04-20 06:24] wansir commented on #3771
/assign @RolandMa1986 @wanjunlei

[2021-04-20 06:54] wanjunlei commented on #3771
This bug had fixed in kubesphere/ks-installer#1413, try it with the latest version, you need deploy a new cluster.

[2021-04-20 07:43] shaowenchen commented on #3280
/unsign @shaowenchen

[2021-04-20 07:45] yuswift commented on #3009
Hey brother. If you are interested in this feature, we can have a talk on slack. https://kubesphere.slack.com/archives/CBJ1A2UCB

[2021-04-20 08:30] LinuxSuRen opened #3780 "The icons in the multi-cluster list page makes people feel confused due to the green color"
**What's it about?**

Add an indication to the cluster items, so users can know if the cluster is ready. The cluster should not be clickable if it's not ready. For example,

* green for ready
* red for not ready

Please the following screenshot:

![image](https://user-images.githubusercontent.com/1450685/115359279-1d8e7e00-a1f1-11eb-88fc-de5d0f7227b4.png)

We might need changes from the backend an

[2021-04-20 08:36] luoMonkeyKing commented on #3009
Okay, but I can’t log in to the link you sent. Do I need to add my email to the workspace? My mailbox luoMonkeyKing@163.com

[2021-04-20 09:48] #2996 closed

[2021-04-20 10:02] zryfish commented on #3771
/kind need-to-verify

[2021-04-20 10:04] zryfish commented on #3520
/kind need-to-verify

[2021-04-20 12:16] FeynmanZhou commented on #3009
@luoMonkeyKing  You can try this [link](https://kubesphere.slack.com/), or join the KubeSphere community on the WeChat group (The entry is on https://kubesphere.io).

[2021-04-20 13:56] wenxin-01 commented on #3771
issue fixed

[2021-04-20 13:56] #3771 closed

[2021-04-20 14:32] yuswift commented on #3708
`installer kubeedge monitoring kube-events snapshot-controller ` those components also need to upgrade crd to v1

[2021-04-21 02:15] wanjunlei commented on #3774
/kind need-to-verify

[2021-04-21 02:37] harrisonliu5 commented on #3752
/kind need -to-verify

[2021-04-21 02:38] harrisonliu5 commented on #3510
/kind need-to-verify

[2021-04-21 02:46] junotx commented on #3777
verified

[2021-04-21 02:46] #3777 closed

[2021-04-21 03:22] junotx commented on #3760
That is really what happened when prometheus evaluated the recording rules, which are configured to prometheus by default to precompute metrics to reduce the query cost. Many-to-many is not supported for [promql](https://prometheus.io/docs/prometheus/latest/querying/operators/#vector-matching), and what you post may be an extreme case that triggered this error. Please show how your cluster was dep

[2021-04-21 06:12] wenxin-01 opened #3782 "Add the switch to plaintext button when setting Credentials."
**Versions used(KubeSphere/Kubernetes)**
KubeSphere: `dev:latest`

![image](https://user-images.githubusercontent.com/68640256/115504736-f8f6dc80-a2aa-11eb-806b-e613446d17be.png)
![image](https://user-images.githubusercontent.com/68640256/115504782-09a75280-a2ab-11eb-8197-3667801e8e23.png)

**Expected behavior**
The token/password can be switched to plaintext display in Account Credentials.
The pa

[2021-04-21 06:16] LinuxSuRen commented on #3782
I saw you set the priority of this feature request as low. We are very close to the release of 3.1. So I'd suggest that move this issue to backlog instead of milestone-3.1.0. How do you think @wenxin-01 ?

[2021-04-21 06:16] wenxin-01 commented on #3510
issue fixed

[2021-04-21 06:16] #3510 closed

[2021-04-21 06:28] wenxin-01 commented on #3782
ok

[2021-04-21 06:30] LinuxSuRen commented on #3782
/remove-milestone 3.1.0
/milestone Backlog

[2021-04-21 06:31] LinuxSuRen commented on #3782
/milestone BackLog

[2021-04-21 06:48] wansir commented on #3766
/kind need-to-verify
/cc @liuyp2018

[2021-04-21 06:53] wansir commented on #3679
It's not the same issue, related to https://github.com/kubesphere/ks-installer/issues/1437.

[2021-04-21 06:55] fangyuchen86 opened #3783 "Better mult-tenancy support when use kubeedge"
**What's it about?**

In kubesphere, a single kubernetes cluster support mulit-tendancy. In some scenario, the edge node need to be managed by a single tenant. not shared by the whole cluster. All there edge nodes can only be operatored by users in that tenant.

**What's the reason why we need it?**

In our kubeedge cases, there will be lots of small tenant, each may have not so many edge devices.

[2021-04-21 06:55] wansir commented on #3631
/remove-priority high
/priority low
/milestone BackLog

[2021-04-21 08:20] daniel-hutao commented on #3760
![image](https://user-images.githubusercontent.com/18692628/115521031-52680700-a2bd-11eb-8340-12a04273a38d.png)
![image](https://user-images.githubusercontent.com/18692628/115521085-5eec5f80-a2bd-11eb-81b2-64f1ccbf1e7e.png)

This problem may be caused by multiple pods sharing pvc

[2021-04-21 08:27] benjaminhuo commented on #3760
Good catch, @junotx let's see how to fix the rules

[2021-04-21 08:29] peiyaos opened #3784 "[priority high]After creating a long user name in KubeSphere 3.0, deleting the user will cause the system to crash."
**Describe the Bug**
KubeSphere 3.0 installed with ks-installer,after creating a long user name in KubeSphere 3.0, deleting the user will cause the system to crash.

**How To Reproduce**
1.For example, the user name as shown below.
![image](https://user-images.githubusercontent.com/48174496/115518912-47ac7280-a2bb-11eb-9421-7d23a671d236.png)
2.Delete the user in the image above.
3.When accessing t

[2021-04-21 08:43] peiyaos commented on #3784
By viewing the ks-apiserver log, the error is reported as follows.
![image](https://user-images.githubusercontent.com/48174496/115522740-f605e700-a2be-11eb-8fbe-91bedb44c452.png)
Check the user list and find that users with abnormal names still exist.
![image](https://user-images.githubusercontent.com/48174496/115523686-e8049600-a2bf-11eb-81c8-1240b89b7d60.png)
However, globalrolebindings no longe

[2021-04-21 08:49] daniel-hutao opened #3785 "openldap is not enabled by default when the devops module is enabled"
**Describe the Bug**

openldap is not enabled by default when the devops module is enabled

![image](https://user-images.githubusercontent.com/18692628/115524897-2c446600-a2c1-11eb-9347-2a22378b9cc5.png)
![image](https://user-images.githubusercontent.com/18692628/115524962-3d8d7280-a2c1-11eb-81ab-bb119ea216ab.png)
![image](https://user-images.githubusercontent.com/18692628/115525143-6ada2080-a2c1-

[2021-04-21 09:48] yunkunrao opened #3787 "Metering history data must be collected after 24 hours"
**Describe the Bug**
Currently metering history data must be collected after 24 hours, and it's not friendly to users and testers.

**Versions Used**
KubeSphere: 3.1

**Expected behavior**
Not only total metering stats data but also metering history data can be get almost in real time.

[2021-04-21 09:49] yunkunrao commented on #3787
/kind bug

[2021-04-21 09:49] yunkunrao commented on #3787
/priority low

[2021-04-21 09:56] daniel-hutao opened #3788 "Let ks support displaying more types of pipeline health status"
**What's it about?**

![image](https://user-images.githubusercontent.com/18692628/115534468-62d2ae80-a2ca-11eb-8a09-54fe42bdccff.png)

When the Pipeline has just been created or deleted, it will show "Unhealthy" here, maybe it would be more appropriate to show "Creating/Deleting" ...

/area devops
/kind feature-request

[2021-04-22 02:27] zryfish commented on #3535
/close

verified as fixed

[2021-04-22 02:27] #3535 closed

[2021-04-22 02:29] wenxin-01 commented on #3749
issue fixed https://github.com/kubesphere/kubesphere/issues/3771

[2021-04-22 02:40] zryfish commented on #3749
/close

[2021-04-22 02:40] #3749 closed

[2021-04-22 02:55] xyz-li opened #3789 "ks-apiserver should not create ippool with invalid parameter."
**Describe the Bug**
Set `IP address` to 192.168.0.3,  `Mask Bit` to 2, and `Number of Creation` to 5. Then click the `ok` button, ks-apiserver will create to ippool.

![image](https://user-images.githubusercontent.com/6263928/115648418-fc946d00-a357-11eb-8486-bb0f5faca5e5.png)

![image](https://user-images.githubusercontent.com/6263928/115649000-0e2a4480-a359-11eb-9ac2-f95b09553ee1.png)

**Expect

[2021-04-22 03:04] zryfish commented on #3772
/kind need-to-verify

[2021-04-22 04:11] yuswift commented on #3772
fixed
/close

[2021-04-22 04:11] #3772 closed

[2021-04-22 06:01] zryfish commented on #3784
/assign @wansir @RolandMa1986
/area iam

[2021-04-22 06:14] yuswift commented on #3780
The cluster custom resource already has a `status: ready` field. It is not complicated for consoles to implement that function.

[2021-04-22 06:16] yuswift commented on #3789
/milestone 3.1.0

[2021-04-22 06:19] yuswift commented on #3785
see this [pr](https://github.com/kubesphere/ks-installer/pull/1442)
/kind need-to-verify

[2021-04-22 06:24] wansir commented on #3784
It seems that clusterrolebinding was accidentally deleted.

[code]

[2021-04-22 06:32] yuswift commented on #3737
- [ ] kubespheredev/tower:0.2.0 -> kubesphere/tower:v0.2.0

[2021-04-22 06:42] peiyaos commented on #3784
The following globalrolebinds have also been deleted.
![image](https://user-images.githubusercontent.com/48174496/115667399-602e9280-a378-11eb-8f46-0d8728e5fc78.png)
Temporarily solve this problem by adding verification to the name when creating the user's CRD resource.
![image](https://user-images.githubusercontent.com/48174496/115667840-e0ed8e80-a378-11eb-995f-49efb7b7f773.png)

[2021-04-22 07:02] wanjunlei commented on #3737
kubespheredev/notification-manager-operator:v1.0.0 -> kubesphere/notification-manager-operator:v1.0.0
kubespheredev/notification-manager:v1.0.0 -> kubesphere/notification-manager-operator:v1.0.0

[2021-04-22 07:04] wanjunlei commented on #3737
kubespheredev/fluentbit-operator:v0.5.0 -> kubesphere/fluentbit-operator:v0.5.0
kubespheredev/fluent-bit:v1.6.9 -> kubesphere/fluent-bit:v1.6.9

[2021-04-22 07:12] liuyp2018 commented on #2885
fixed
/close

[2021-04-22 07:12] #2885 closed

[2021-04-22 08:28] daniel-hutao opened #3793 "jenkins.yaml format error after editd it from the web page"
**Describe the Bug**

I edited jenkins.yaml on the web page, and after apply through the web page, I checked the cm configuration through kubectl and found that the format was not correct.

![image](https://user-images.githubusercontent.com/18692628/115681691-57918880-a387-11eb-988d-77f61ba47348.png)

![image](https://user-images.githubusercontent.com/18692628/115681734-60825a00-a387-11eb-81cb-39b

[2021-04-22 08:51] RolandMa1986 commented on #3585
/close

[2021-04-22 08:51] #3585 closed

[2021-04-22 08:58] RolandMa1986 commented on #3720
/close

[2021-04-22 08:58] #3720 closed

[2021-04-22 09:13] junotx commented on #3737
- [ ] kubespheredev/thanos:v0.18.0 -> kubesphere/thanos:v0.18.0

[2021-04-22 09:44] RolandMa1986 commented on #3740
osixia/openldap:1.3.0  was removed from the list. Because there are no official fixes for many of the issues in the base image(Debian), and we are going to remove LDAP dependencies in the next release. It's not necessary to change to another docker image.

[2021-04-23 01:24] RolandMa1986 commented on #3784
/reopen
According to the PR, It would be much safer to use `SelectorFromValidatedSet` than `SelectorFromSet` When using 1.18 SDK or below.
https://github.com/kubernetes/kubernetes/pull/89747

[2021-04-23 02:20] liuyp2018 commented on #3766
fixed
/close

[2021-04-23 02:20] #3766 closed

[2021-04-23 02:25] liuyp2018 commented on #3520
The prompt message needs to be optimized
![image](https://user-images.githubusercontent.com/36271543/115808960-d20ce780-a41d-11eb-997e-40e5843b46d3.png)
/remove-priority High
/priority Low

[2021-04-23 02:25] liuyp2018 commented on #3520
/remove-kind need-to-verify

[2021-04-23 02:36] harrisonliu5 commented on #3520
please give a suggestion for the message

[2021-04-23 05:13] dkeven opened #3794 "Default roles failed to initialize upon creation of workspace"
**Describe the Bug**
Default roles failed to initialize upon creation of workspace
![image](https://user-images.githubusercontent.com/82354774/115821358-37b89e00-a435-11eb-8275-2746f4fe3cb8.png)

**Versions Used**
KubeSphere:
 "gitVersion": "v3.1.0-alpha.0.90+d4451205dce412-dirty",
 "gitMajor": "3",
 "gitMinor": "1+",
 "gitCommit": "d4451205dce412f0a271aea3aa45ad2f17b2b1d3",
 "gitTreeState": "dirt

[2021-04-23 06:18] #3794 closed

[2021-04-23 07:04] yuswift commented on #3784
the bug has been fixed by the new crd file. However, we still need to keep this issue open because we also need to update the user types, which can be helpful to generate crd files automaticly.

[2021-04-23 10:05] wansir commented on #3112
workaround, regenerate kubeconfig:

[code]

[2021-04-23 10:08] daniel-hutao commented on #3785
# kubesphere/ks-installer/pull/1442

it works.

[2021-04-23 10:08] #3785 closed

[2021-04-24 21:18] #3226 closed

[2021-04-24 21:18] #2927 closed

[2021-04-25 01:58] liuyp2018 commented on #3774
fixed
/close

[2021-04-25 01:58] #3774 closed

[2021-04-25 01:59] liuyp2018 commented on #3751
fixed
/close

[2021-04-25 01:59] #3751 closed

[2021-04-25 02:06] Kucing121 commented on #3751
#hasbiallah

[2021-04-25 02:12] daniel-hutao opened #3800 "Failed to create Credentials in DevOps Projects"
**Describe the Bug**
A clear and concise description of what the bug is.

I Got Sync Failed error when create a credential named harbor-id

![image](https://user-images.githubusercontent.com/18692628/115977832-13340180-a5ae-11eb-961a-6ea59d10e32d.png)

**Versions Used**
KubeSphere: nightly-20210422
Kubernetes: v1.18.14

** More Logs**

- ks-apiserver

![image](https://user-images.githubusercontent

[2021-04-25 02:16] JohnNiang commented on #3800
Can you login in Jenkins Dashboard by admin account?

[2021-04-25 02:33] daniel-hutao opened #3801 "Users with the role self-provisioner cannot see the App Management menu."
**Describe the Bug**

I'm not sure if this is a bug, but I consider that the visible range of viewer users is the smallest.

users list

![image](https://user-images.githubusercontent.com/18692628/115978033-838f5280-a5af-11eb-9288-6bfe19d560a9.png)

maip perspective

![image](https://user-images.githubusercontent.com/18692628/115978265-b0903500-a5b0-11eb-9016-07f808fffc5e.png)

project-admin persp

[2021-04-25 02:33] daniel-hutao commented on #3801
/area console

[2021-04-25 02:35] daniel-hutao commented on #3800
![image](https://user-images.githubusercontent.com/18692628/115978432-f0a3e780-a5b1-11eb-8c91-744afb910244.png)

Yeah

[2021-04-25 02:54] wansir commented on #3800
@daniel-hutao Please check the logs of ks-installer.

`kubectl -n kubesphere-system get cm kubesphere-config`

[code]

Password in the DevOps section is a user token (auto-generated) that needs to match `jwtSecret`.

You can check if the token is valid through [jwt.io](https://jwt.io).

See also
https://github.com/kubesphere/ks-installer/blob/master/roles/ks-core/config/templates/kubesphere-config

[2021-04-25 02:57] heyc-iot-chinamobile opened #3802 "Integration of KubeEdge v1.6"
**What's it about?**
Integration of KubeEdge v1.6

**What's the reason why we need it?**
Since KubeEdge v1.6 is recently released, there are some useful features been enabled.
In the scene of IoT, message routing between cloud and edge is widly used to controll device and do the syncs.
And the edge apiserver feature can make edge more powful to handle more k8s resources, aka edge autonomy.

In the

[2021-04-25 03:22] JohnNiang commented on #3105
Same issue appeared just now installed by ks-installer: <https://hub.docker.com/layers/kubespheredev/ks-installer/latest/images/sha256-fc342b14415b0c326b92bd5dfeaed46c4fd23692ced979759218ff9575a7fd25?context=explore>

[2021-04-25 03:27] JohnNiang commented on #3105
Related Jenkins logs:

[code]

[2021-04-25 03:45] wansir commented on #3105
Please paste the result of the following command `kubectl -n kubesphere-system exec -it openldap-0 slapcat`.

[2021-04-25 04:08] wansir commented on #3800
Related to: https://github.com/kubesphere/ks-installer/pull/1443

Failed to generate user token due to missing openssl.

[2021-04-25 04:20] wansir commented on #3105
I saw the error caused by ` Failed to bind to LDAP: userDnuid=admin,ou=Users,dc=kubesphere,dc=io username=admin`.

Data will be initialized after OpenLDAP started, make sure openldap is running, please wait a moment.

[2021-04-25 04:28] FeynmanZhou commented on #3802
@heyc-iot-chinamobile Hi, The version of integrated KubeEdge is v1.6.1, you can find it on [this guide](https://v3-1.docs.kubesphere.io/docs/pluggable-components/kubeedge/).

[2021-04-25 04:38] xuanyuanaosheng opened #3803 "Failed to define a Prometheus Probe CRD?"
The kubesphere use the prometheus-operator:v0.38.3, Is this version support to define the blackbox-exporter probe ?

**Versions Used**
KubeSphere: 3.0
Kubernetes: v1.20.2

The related github issue:
1.  https://github.com/prometheus-community/helm-charts/issues/408
2.  https://github.com/prometheus-operator/kube-prometheus/issues/644
3.  https://stackoverflow.com/questions/64948392/prometheus-probe

[2021-04-25 05:05] JohnNiang commented on #3105
Execution result:

[code]

BTW, the OLDAP-ha container log:

[code]

[2021-04-25 05:47] yunkunrao opened #3804 "Metering data will be displayed at least 1 hour later."
**Describe the Bug**
Currently metering minimum resolution is 1 hour,  so metering data will be displayed at least 1 hour later.

**Versions Used**
KubeSphere: 3.1

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a new cluster within one hour.
2. Open metering dashboard in toolbox, metering overview statistic data is empty.

[2021-04-25 05:48] yunkunrao commented on #3804
/kind bug

[2021-04-25 05:48] yunkunrao commented on #3804
/area metering

[2021-04-25 05:49] yunkunrao commented on #3804
/priority low

[2021-04-25 05:49] yunkunrao commented on #3787
/area metering

[2021-04-25 06:23] heyc-iot-chinamobile commented on #3802
@FeynmanZhou  Really appreciate your quick reply!  I can see the default version of KubeEdge turned out to be v1.6.1.
BUT the new feature of KubeEdge v1.6, just like message routing, cannot be found in the Documentations.
Am I missing something, or the new features of KubeEdge v1.6 have not being integrated?

[2021-04-25 06:26] xyz-li commented on #3736
/milestone Backlog

[2021-04-25 06:26] xyz-li commented on #3736
/milestone BackLog

[2021-04-25 06:27] wanjunlei commented on #3509
/milestone BackLog

[2021-04-25 06:27] wanjunlei commented on #3508
/milestone BackLog

[2021-04-25 06:28] xyz-li commented on #3789
/milestone BackLog

[2021-04-25 06:29] yuswift commented on #3755
/milestone BackLog

[2021-04-25 06:30] yuswift commented on #3708
/milestone BackLog

[2021-04-25 06:31] yuswift commented on #3803
/milestone BackLog
/cc @benjaminhuo

[2021-04-25 06:31] yuswift commented on #3801
/milestone BackLog
/cc @wansir

[2021-04-25 06:31] wansir commented on #3357
/kind need-to-verify

[2021-04-25 06:32] yuswift commented on #3754
/milestone BackLog

[2021-04-25 06:33] RolandMa1986 commented on #3640
/milestone backlog
/unassign @leoendless
/assign @harrisonliu5

[2021-04-25 06:33] yuswift commented on #3752
/close fixed

[2021-04-25 06:33] wansir commented on #3122
/milestone BackLog

[2021-04-25 06:34] yuswift commented on #3541
/milestone BackLog

[2021-04-25 06:35] yuswift commented on #3515
/milestone BackLog

[2021-04-25 06:36] RolandMa1986 commented on #3632
/milestone BackLog

[2021-04-25 06:37] wansir commented on #2933
/milestone BackLog

[2021-04-25 06:37] yuswift commented on #3569
/milestone BackLog

[2021-04-25 06:37] wansir commented on #2928
/kind need-to-verify

[2021-04-25 06:37] RolandMa1986 commented on #3624
/assign @harrisonliu5
/unassign @leoendless
/milestone BackLog

[2021-04-25 06:39] yuswift commented on #3742
/milestone BackLog

[2021-04-25 06:39] wansir commented on #2716
/kind need-to-verify

[2021-04-25 06:40] wansir commented on #2715
/milestone BackLog

[2021-04-25 06:42] wansir commented on #2653
Will prompt to change the password.

/kind need-to-verify

[2021-04-25 06:42] wansir commented on #2647
/milestone BackLog

[2021-04-25 06:44] dkeven commented on #3752
fixed
/close

[2021-04-25 06:44] #3752 closed

[2021-04-25 06:44] RolandMa1986 commented on #3122
/area devops
@kubesphere/sig-devops , please check whether User Groups can be supported in the pipeline.

[2021-04-25 06:46] wansir commented on #2493
The user may also be added to the workspace or project, which can not be determined by the platform role.

/milestone BackLog

[2021-04-25 06:46] liuyp2018 opened #3805 "The chart does not show when switching into network flows consumption"
In the statistics page of cluster resource consumption, select network inflow consumption in the chart below, but the chart is not shown

https://user-images.githubusercontent.com/36271543/115983585-a8e28780-a5d4-11eb-887c-442cf4609a3b.mp4

/kind bug
/assign @yunkunrao
/priority Medium
/milestone 3.1.0
/area metering

[2021-04-25 06:46] wansir commented on #2175
/milestone BackLog

[2021-04-25 06:47] wansir commented on #1930
/milestone BackLog

[2021-04-25 06:48] LinuxSuRen commented on #3800
It works after https://github.com/kubesphere/ks-installer/pull/1460

[2021-04-25 06:50] RolandMa1986 commented on #3640
/milestone BackLog

[2021-04-25 06:51] RolandMa1986 commented on #3512
/milestone BackLog

[2021-04-25 06:52] wansir commented on #3512
Added user info confirm page.

/kind need-to-verify

[2021-04-25 07:11] daniel-hutao commented on #3800
It works

![image](https://user-images.githubusercontent.com/18692628/115984214-6de25300-a5d8-11eb-90bc-6ec0353e4336.png)

[2021-04-25 07:11] #3800 closed

[2021-04-25 07:21] LinuxSuRen commented on #3122
hi @xuelangos , Thanks for reaching out use. But I'm not sure if I can understand it correctly. I'm wondering if you could provide more details, post it on our [Chinese forum](https://kubesphere.com.cn/forum/) if you want.

It's possible to control the approval on the user group level. But I don't understand the relationship between this and multi-cluster which mentioned in the PR title.

[2021-04-25 07:22] JohnNiang commented on #3105
Regresion fix by <https://github.com/kubesphere/ks-installer/pull/1443>.

[2021-04-25 07:22] liuyp2018 commented on #3679
fixed
/colse

[2021-04-25 07:22] #3679 closed

[2021-04-25 07:25] LinuxSuRen commented on #3105
I'm not sure about this. I believe this issue caused by the LDAP problem instead of the missing of openssl.

[2021-04-25 07:42] daniel-hutao opened #3807 "There is no use to click "No Concurrent builds" checkbox"
**Describe the Bug**

This checkbox cannot be resolved

![image](https://user-images.githubusercontent.com/18692628/115985060-a6842b80-a5dc-11eb-82a8-74d89a970bd6.png)

**Versions Used**
KubeSphere: nightly-20210422
Kubernetes: v1.18.14

/kind bug
/area devops

[2021-04-25 07:44] LinuxSuRen commented on #3807
/area console
/priority high

[2021-04-25 07:45] LinuxSuRen commented on #3807
/cc @harrisonliu5

[2021-04-25 08:02] daniel-hutao opened #3808 "There is no use to click "show yaml editor" at "Edit Pipeline" page"
**Describe the Bug**

click "show yaml editor"

![image](https://user-images.githubusercontent.com/18692628/115985613-3c20ba80-a5df-11eb-970f-761e07429b45.png)

got

![image](https://user-images.githubusercontent.com/18692628/115985624-4ba00380-a5df-11eb-9623-4b52542f6156.png)

**Versions Used**
KubeSphere: nightly-20210422
Kubernetes: v1.18.14

/kind bug
/area console
/area devops

[2021-04-25 09:06] FeynmanZhou commented on #3802
In v3.1, KubeSphere only supports edge node management,  retrieve the logs and metrics from edge node and display on KubeSphere Web console, you can find the demo on the [SIG-Edge meeting](https://www.bilibili.com/video/BV1j64y1m79g) (Chinese).

This is the first release to integrate KubeEdge on KubeSphere, more features with the edge will be added in the feature. Welcome to describe your requirem

[2021-04-25 09:31] LinuxSuRen commented on #3807
The PR https://github.com/kubesphere/console/pull/1849 should be able to fix this.

[2021-04-25 09:32] benjaminhuo commented on #3803
kubesphere v3.1.0 has upgraded prometheus operator to v0.42.1 in which the probe crd is supported.

[2021-04-25 09:32] #3803 closed

[2021-04-25 09:40] heyc-iot-chinamobile commented on #3802
Got it! Thanks for your explanations~

Definitely I want to keep up with the community and attend to meetings.
Could you show me how to join the WeChat group of SIG-Edge, I got some problem with slack :(

[2021-04-25 09:45] FeynmanZhou commented on #3802
You can find the KubeSphere WeChat subscription on [website](https://kubesphere.io), follow it and you will know how to join the WeChat group.

[2021-04-25 09:49] LinuxSuRen commented on #3808
The PR https://github.com/kubesphere/console/pull/1850 should be able to fix this.

[2021-04-25 10:20] heyc-iot-chinamobile commented on #3802
Thanks! I will close this issue after.

[2021-04-25 10:20] #3802 closed

[2021-04-25 14:17] wenxin-01 opened #3809 "Shielding the function of stateful service ‘Edit Internet Access’"
**What's it about?**

Shielding the function of stateful service ‘Edit Internet Access’

**What's the reason why we need it?**

Stateful services do not support edit Internet access, so I suggest shielding the `Edit Internet Access` button

![image](https://user-images.githubusercontent.com/68640256/115996903-b8cd8c00-a613-11eb-9336-98be768a4a8d.png)

![image](https://user-images.githubusercontent

[2021-04-25 14:20] wenxin-01 commented on #3809
/milestone BackLog

[2021-04-26 02:07] daniel-hutao commented on #3807
If you confirm that the problem has been fixed, you can close this issue.
@harrisonliu5

[2021-04-26 02:08] daniel-hutao commented on #3808
If you confirm that the problem has been fixed, you can close this issue.
@harrisonliu5

[2021-04-26 02:12] LinuxSuRen commented on #3142
/remove-priority low
/priority medium

[2021-04-26 02:13] LinuxSuRen commented on #3142
/milestone BackLog

[2021-04-26 02:29] daniel-hutao opened #3810 "Failed to Rerun a pipeline"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/18692628/116021147-3330f700-a67a-11eb-9ee5-3a857a0bc522.png)

**Versions Used**
KubeSphere: nightly-20210422
Kubernetes:  v1.18.14

/kind bug
/area devops

[2021-04-26 02:30] zryfish commented on #3810
Could you also attach ks-apiserver logs?

[2021-04-26 02:32] xuanyuanaosheng commented on #3803
@benjaminhuo Thanks

[2021-04-26 02:34] liuyp2018 opened #3811 "The button for exporting resource consumption records is incorrectly located"
The button for exporting resource consumption records is incorrectly located

https://user-images.githubusercontent.com/36271543/116021485-dda91a00-a67a-11eb-9c4d-4e3b1e349ac5.mp4

/kind bug
/assign @harrisonliu5
/priority Medium
/milestone 3.1.0
/area metering

[2021-04-26 02:44] daniel-hutao commented on #3810
[code]

[2021-04-26 02:46] zryfish commented on #3810
Not much useful information, could you also paste jenkins logs?

[2021-04-26 02:51] LinuxSuRen commented on #3810
Which button do you click, `Rerun` or `Run`? They're different. Rerun means run a Pipeline base on the particular build history. So, it will fail if you re-run a failure Pipeline that cannot parse the Jenkinsfile correctly. I know it's not the best solution. We already have an issue to track it.

[2021-04-26 02:51] LinuxSuRen commented on #2777
/reopen

[2021-04-26 02:52] LinuxSuRen commented on #2777
/remove-priority low
/priority medium
/milestone BackLog

[2021-04-26 02:58] daniel-hutao commented on #3810
Rerun

[2021-04-26 02:58] #3810 closed

[2021-04-26 03:15] daniel-hutao opened #3812 "Incomplete pipeline logs"
**Describe the Bug**

I ran a Pipeline. From the ks page, I can see that it has failed, but I can't see the error message.

![image](https://user-images.githubusercontent.com/18692628/116024233-58c0ff00-a680-11eb-8042-c92d790092fb.png)

But I can see additional logs from jenkins.

![image](https://user-images.githubusercontent.com/18692628/116024256-65455780-a680-11eb-9650-6c109abbb6d6.png)

**Ver

[2021-04-26 03:26] JohnNiang commented on #3812
Please paste full logs (both ks page and jenkins dashboard) as plain text.  Try to click the `Refresh` button and see the log change.

[2021-04-26 03:27] LinuxSuRen commented on #3812
hi @daniel-hutao , thanks for reporting this. I prefer this is an improvement request instead of a bug. We now only provide the feature to allow users to view the stage of log instead of the whole log output. In this case, the error output does not belong to any stages.

/remove-kind bug
/feature-request

[2021-04-26 03:33] daniel-hutao commented on #3812
@LinuxSuRen Thanks for the answer, then I understand the difference in behavior between the two sides. 👍

[2021-04-26 03:38] zryfish commented on #3740
I'll this issue as resolved for release v3.1.0

[2021-04-26 06:04] daniel-hutao opened #3813 "base64-encoded string echoed back to the frontend page when creating DevOps Credentials"
**Describe the Bug**

I found that at the moment of clicking confirm, the "username" here will become a base64-encoded string.
I guess here is a base64-encoded string that needs to be passed to the backend, but should it be echoed back to the frontend page?

![image](https://user-images.githubusercontent.com/18692628/116035382-7d74a100-a697-11eb-86d6-801edc133032.png)

![image](https://user-images

[2021-04-26 06:20] LinuxSuRen commented on #3813
This is really an interesting issue. I prefer to fix it on the backend side. Because the browser is just a kind of client, we should keep it safe from the server-side.

I'm curious about one thing. If the credential works well as you expect?

/area devops

[2021-04-26 06:58] LinuxSuRen commented on #3807
/close

[2021-04-26 06:58] #3807 closed

[2021-04-26 07:44] yuswift commented on #3740
`kubespheredev/fluent-bit:v1.6.9 High 11 (optional)`
 `kubesphere/kube-events-exporter:v0.1.0 (optional)`
 Those images havn't been updated.

[2021-04-26 07:58] JohnNiang opened #3814 "[Proposal] Jenkins Monitoring Proposal"
# Jenkins Monitoring Proposal

## What's it about?

Jenkins monitoring includes Jenkins internal state monitoring, such as: the amount of running tasks, the amount of tasks that have entered the queue, the number of busy executors, the number of idle executors, the speed monitoring of api requests, and the flow monitoring of api requests.

## What's the reason why we need it?

Jenkins is powerful

[2021-04-26 08:53] daniel-hutao commented on #3813
@LinuxSuRen it works well.

[2021-04-26 14:06] JohnNiang commented on #3814
/cc @LinuxSuRen

[2021-04-27 02:59] wenxin-01 opened #3815 "After modified role, the user still has the permissions of the previous role."
**Versions Used**
KubeSphere:  'dev:latest'

**Environment**
http://139.198.121.240:30888/

**Preset conditions**
There is a user 'test' with global-role `workspace-manager`

**How To Reproduce**
Steps to reproduce the behavior:
1. Use user 'test' login ks  in browser 'A'
2. Go to workspace 'wx'
3. Create devops  'test-devops' and go to devops 'test-devops'
4. Login with admin in other browsers, a

[2021-04-27 03:07] wansir commented on #3815
@wenxin-01

Not a valid issue, I saw that the regular user test has `self-provisioner` (able to create project by self) role in workspace wx.

[2021-04-27 03:13] wenxin-01 commented on #3815
dvops 'test-devops' created by user 'test' and then change the role of 'test'.

[2021-04-27 03:20] daniel-hutao opened #3816 "Proposal: Graphical page realizes "Parametric Build""
Due to some technical limits, the parameters we entered when creating the "Parametric Build" pipeline can only take effect in `config.xml`, and the Jenkinsfile generated when the pipeline is drawn cannot get the parameters configured when it is created, so it's difficult to use the graphical page Elegantly create "Parametric Build" pipelines.

I think it is possible to directly provide the "Parame

[2021-04-27 03:21] LinuxSuRen commented on #3816
/priority high

[2021-04-27 03:34] wenxin-01 commented on #3815
follow k8s

[2021-04-27 03:34] #3815 closed

[2021-04-27 05:15] qinghuan-chain opened #3817 "Devops pipeline: Cannot connect to the Docker daemon at unix:///var/run/docker.sock"
**Describe the Bug**

This error happens:  When I am using jenkins pipeline to build maven mirro
Cannot connect to the Docker daemon at unix:///var/run/docker.sock.

Then I excute **kubectl -n kubesphere-system get deployment ks-apiserver -o yaml**

I logged in to ks-apiserver, checked /var/run/docker.sock and found that it did not exist, so I changed it to /var/lib/containers, but when jenkins ex

[2021-04-27 05:56] daniel-hutao commented on #3817
Please post the “agent - label“ part of your jenkinsfilf and the path of docker.sock on your ci node.

[2021-04-27 05:57] LinuxSuRen commented on #3817
/remove-kind proposal

[2021-04-27 05:58] LinuxSuRen commented on #3817
/remove-area console

[2021-04-27 05:58] LinuxSuRen commented on #3817
/kind support

[2021-04-27 06:49] qinghuan-chain commented on #3817
Here is my jenkinfile agent, I use  maven agent
![image](https://user-images.githubusercontent.com/7252280/116197687-9ea4c280-a767-11eb-8c15-c243e0be4c48.png)

[2021-04-27 06:53] qinghuan-chain commented on #3817
My  machaine env is containerd
![Uploading image.png…]()

[2021-04-27 06:57] zryfish commented on #3817
Yeah, that's the problem, `containerd` is not supported right now.  You can refer to https://kubesphere.com.cn/forum/d/3811-kubesphere-devops-docker/5 to set it manually.

[2021-04-27 07:41] daniel-hutao opened #3818 "Failed to trigger a particular branch Pipeline of the Gitlab multi-branch"
**Describe the Bug**

step 1

![image](https://user-images.githubusercontent.com/18692628/116203584-6e145700-a76e-11eb-9bdc-30c1c645e193.png)

setp 2

![image](https://user-images.githubusercontent.com/18692628/116203705-8dab7f80-a76e-11eb-9c14-285476be5e8b.png)

step3

![image](https://user-images.githubusercontent.com/18692628/116203784-a3b94000-a76e-11eb-9fef-4f8281703821.png)

step 4

![image]

[2021-04-27 07:54] daniel-hutao opened #3819 "Failed to allocate workspace and manager to a project"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/18692628/116205425-576eff80-a770-11eb-8d4e-bd5438880dbe.png)

![image](https://user-images.githubusercontent.com/18692628/116205545-740b3780-a770-11eb-8d2d-19c55f136b39.png)

![image](https://user-images.githubusercontent.com/18692628/116205672-8d13e880-a770-11eb-8e50-1d35af72c3f1.png)

**Versions Used**
KubeSphere: nightly-2

[2021-04-27 09:00] wenxin-01 opened #3820 "The name of 'DevOps Project' is wrong in branch detail page"
**Versions Used**
KubeSphere:  `dev:latest`

![image](https://user-images.githubusercontent.com/68640256/116214895-bd13b980-a779-11eb-9164-aeb5bd541f23.png)

/priority low
/area devops
/cc @kubesphere/sig-devops
/kind bug
/milestone BackLog

[2021-04-27 09:14] daniel-hutao commented on #3819
/area iam

[2021-04-27 09:17] zhu733756 commented on #3737
kubespheredev/edge-watcher-agent:v0.1.0 => kubesphere/edge-watcher-agent:v0.1.0
kubespheredev/edge-watcher:v0.1.0 => kubesphere/edge-watcher:v0.1.0

[2021-04-27 09:20] wenxin-01 opened #3821 "The number of 'App Templates' is wrong."
**Versions Used**
KubeSphere:  `dev:latest`

from ks 3.0  upgrade to  ks3.1

https://user-images.githubusercontent.com/68640256/116217570-5ba11a00-a77c-11eb-99c2-11c9103a5337.mov

/priority Medium
/kind bug

[2021-04-27 09:25] wenxin-01 commented on #3821
/assign @junotx

[2021-04-27 09:54] bayukun11 commented on #3154
Hi @ethanxzw.. cc: @FeynmanZhou @shaowenchen
how did you solved this issue ?

[2021-04-27 10:06] FeynmanZhou commented on #3605
@daniel-hutao Please help to verify it, thanks.

[2021-04-27 10:21] zryfish commented on #3565
Should be fixed now, you can verify it using v3.1.0 after tomorrow

[2021-04-27 10:26] wansir commented on #3819
/assign
/milestone BackLog

[2021-04-27 11:06] benjaminhuo commented on #3760
fixed

[2021-04-27 12:34] qinghuan-chain commented on #3817
Thanks for you help. After change node runtime from containerd to docker. I have fixed this error.
Close.

[2021-04-27 12:34] #3817 closed

[2021-04-27 14:21] daniel-hutao commented on #3565
ok

[2021-04-27 14:23] daniel-hutao commented on #3605
I'll verify it after v3.1.0 released

[2021-04-28 03:36] wenxin-01 opened #3822 "Users with admin or viewer permissions in workspace cannot see the consumption data of projects."
**Versions Used**
KubeSphere: `dev:latest`

**Environment**
http://139.198.121.240:30888/

**Preset conditions**
There is a user 'test' with global-role `platform-regular`, with workspace-role `admin` or `viewer`

**How To Reproduce**
Steps to reproduce the behavior:
1. use user 'test' login ks
2. Click on 'Metering and Billing'
3. view Project Resource Consumption

**Expected behavior**
**Actual

[2021-04-28 06:03] daniel-hutao commented on #3819
/milestone 3.1.1

[2021-04-28 07:27] wenxin-01 opened #3824 "After the KS installer is restarted, the price configuration will be reset。"
**Versions Used**
KubeSphere: `dev:latest`

**Preset conditions**
There is a cluster that has already configured the price information

**How To Reproduce**
Steps to reproduce the behavior:
1. restart ks-installer  `kubectl rollout restart deploy ks-installer -n kubesphere-system`
2. wait for the installation to complete

**Expected behavior**
the price configuration will not be reset

**Actual be

[2021-04-28 07:48] Caelebs opened #3825 "Request help: Where can I find the development documentation of kubesphere?"
I have some requirements that may require secondary development on kubesphere and want some development-related documents, but I did not find what I need on the official website and github. Where can I find these documents?

[2021-04-28 08:47] wenxin-01 opened #3826 "Authorized information is wrong in 'Assign the Cluster to Workspaces'."
**Versions Used**
KubeSphere: `dev:latest`
multi-cluster function enabled

**Preset conditions**
The environment is enabled multi-cluster function but only have one cluster 'host'.
Before enable multi-cluster function, there are many workspaces have been created.

**How To Reproduce**
Steps to reproduce the behavior:
1. Login ks with 'admin'
2. Click on 'platform' and then click on 'Cluster Manage

[2021-04-28 08:57] wansir commented on #3826
@wenxin-01  Please check logs of kubefed-controller-manager.

[code]

[2021-04-28 09:06] RolandMa1986 opened #3827 "Failed to run S2I builder after upgrade v3.0.0 to v3.1.0"
**Describe the Bug**
Failed to run S2I builder after upgrade v3.0.0 to v3.1.0. The error msg as bellow
[code]
**Versions Used**
KubeSphere: KubeSphere 3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Expected behavior**
`mutating-create-update-s2ibuilder`  was obsoleted in v3.1.0，but was not removed from the MutatingWebhookConfiguration when updating.

/area devops
/kind bug

[2021-04-28 09:06] wenxin-01 commented on #3826
![image](https://user-images.githubusercontent.com/68640256/116377752-15af8900-a844-11eb-9e29-32ed74b83253.png)

[2021-04-28 09:06] RolandMa1986 commented on #3827
/milestone BackLog

[2021-04-28 09:07] wenxin-01 commented on #3826
@wansir
![image](https://user-images.githubusercontent.com/68640256/116377837-2a8c1c80-a844-11eb-984d-c873050cadbd.png)

[2021-04-28 09:31] liuyp2018 opened #3828 "The time of the alarm message displayed is incorrect"
The time of the alert message, which actually shows the current time;
It Should be displayed as the time the message was triggered
![image](https://user-images.githubusercontent.com/36271543/116380413-88216880-a846-11eb-848e-3fbb5ba56915.png)

/kind bug
/assign @junotx
/priority Medium
/milestone BackLog
/area alerting

[2021-04-29 01:41] yuswift commented on #3825
[here](https://github.com/kubesphere/community/tree/master/developer-guide/development)

[2021-04-29 01:42] yuswift commented on #3825
please join our slack channels for communication.

[2021-04-29 02:14] yunkunrao commented on #3824
Currently,as we discussed before metering is enabled by default, and user can decide to whether there is a need to configure price info. In other words, price info isn't persistent in K8s store backend i.e. etcd. This is designed on purpose. Of cource we will listen to the community voice to decide what to do next. For example, we can consider to store price info in clusterconfiguraion. And I thin