[2018-04-22 05:50] zryfish opened #1 "Kubespshere overview"
![kubesphere](https://user-images.githubusercontent.com/3326354/39091783-9cbba7a0-462f-11e8-99cb-bcfd90282ef3.png)

[2018-04-24 09:08] calvinyv opened #3 "Design of node management"
Through node management module, we should be able to:
**in Express, we just assume nodes to be joined into cluster already deploy kubelet and docker runtime**
- access credential management for different iaas platform, for example, add access key of QingCloud, and use it to create/delete instance. and prepare kubelet and docker runtime env(TBD in SE or EE). In Express, just provide function to add

[2018-04-24 09:50] calvinyv opened #4 "Design of image repo management"
image repo management provide a management console to help user to manage their access credential data of public or private docker registries, it should supports:
- get/add/update/delete/list api for secret in k8s cluster
- use customized annotation, we should be able to mark some secret token as default.
- the list api should be called on image repo list page, but also called when creating deploy

[2018-04-24 09:57] calvinyv opened #5 "Design of applications management"
KubeSphere will not develop its own applications management module, but just use the same module from OpenPitrix(https://github.com/openpitrix/openpitrix)

During KubeSphere installation, user should be able to specify to use app mgr service from OpenPitrix, which will be integrated with KubeSphere as a svc/deployment in k8s cluster.

[2018-04-28 09:32] calvinyv commented on #5
![slide1](https://user-images.githubusercontent.com/28883416/39394884-e759da3c-4b09-11e8-8796-cf15e84104df.png)

## repo management
KubeSphere Dashboard -> repo svc: list/add/update/delete repo, once repo is added, repo svc should invoke **repo indexer svc** to query all charts data(app) in backend
## app management
KubeSphere Dashboard -> app svc: list/describe app, get values.yaml content
## app

[2018-04-28 10:54] calvinyv commented on #5
@rayzhou2017

[2018-05-29 02:47] calvinyv opened #30 "Missing pod count for nodes monitor api"
access /api/v1alpha1/nodes, the response should return current running pods count and total pods capacity

[2018-05-29 11:34] libangrui opened #33 "Missing the api of the pods metrics under all namespaces"
/api/v1alpha1/nodes/XXX/pods

the response should return all pods metrics in this node.

[2018-05-29 16:18] libangrui commented on #33
/api/v1alpha1/namespaces/XXX/pods/XXX
/api/v1alpha1/namespaces/XXX/pods/XXX/containers/XXX

[2018-05-30 06:58] libangrui opened #34 "the incorrect vlaue of node metrics"
The `used_cpu` is bigger than `total_cpu` in metrics of  the node.
`i-o5pmakm7`

[2018-05-31 07:43] littlebeer2100 opened #37 "components status display"
For now, in  kubesphere and k8s system,components are follow table

| name | kind | namespace | label |
|---|---|----|----|
| kubectl | Deployment | default | k8s-app = kubectl |
| openpitrix | Deployment | default | app = openpitrix |
| iam | Deployment | default | run = iam |
| heapster | Deployment | kube-system | k8s-app = heapster |
| kibana-logging | Deployment | kube-system | k8s-app = kiba

[2018-05-31 07:49] calvinyv commented on #37
1. why there are 3 kubectl comp? @richardxz
2. storage/network plugin will be changed based on customer's installation
3. kube-state-metrics, monitoring-grafana are not necessary
4. kubesphere,openpitrix,iam should be under another namespace
5. kube-apiserver is also not necessary, because if you can get this list, it means api server is already working...
6. etcd may be outside of cluster, and de

[2018-05-31 08:00] littlebeer2100 commented on #37
the item 2, if the storage/network plugins are  dynamic, is there some mark for developer recognition them?

[2018-06-16 07:35] calvinyv opened #87 "[WIP] - KubeSphere should reuse the mysql from OpenPitrix - beta"

[2018-06-16 07:47] #34 closed

[2018-06-16 07:47] #33 closed

[2018-06-16 07:47] #30 closed

[2018-06-16 07:48] #5 closed

[2018-06-16 07:48] #3 closed

[2018-06-16 07:48] #4 closed

[2018-06-16 07:49] #1 closed

[2018-06-20 06:20] #37 closed

[2018-06-21 03:02] calvinyv commented on #87
investigate a better way to handle mysql password from ks-apiserver side

[2018-06-27 05:51] jerryjedi opened #124 "Some wording also use English, pls change to Chinese."
Some function menu or button use English, pls change to Chinese to keep same language.
for example: "create user", "status time",“共1个user"，”Welcome Admin","strategy type", etc.

[2018-06-27 06:15] jerryjedi opened #125 "system suspend when input illegal password"
If input illegal password when create user, at first I will got a warning message,it's fine. Then I change password and try to create again, but the system seems suspend and can't click the "OK" button. Pls check the screen copy.
![1](https://user-images.githubusercontent.com/7875026/41955879-741c24a0-7a14-11e8-9d8a-793f7d42c378.png)

[2018-06-27 06:20] jerryjedi commented on #125
I logout and login again. Then the button restore to normal status.

[2018-06-27 07:24] jerryjedi opened #126 ""regular" user can't access "Application Management“ function."
One user has "regular" role, but don't have authorization to access "application management", no ”application template" or “application depot". I think "application template” or "application depot" both are basic component to all users. So pls check what's the wrong.

[2018-06-27 07:49] jerryjedi commented on #126
I use "admin" role to change the authorization configuration of "regular" role, add "application management" to role "regular" . Then the normal user who has "regular" role can access "application management" function. Then I have two new question:
1. Is "regular" role is the base role of kubesphere, Can change it by admin？
2. Does KubeSphere has clear definition of initial role ?

[2018-06-28 03:37] leoendless commented on #125
@jerryjedi If password is illegal, the confirm button should not response. Could you tell me your running enviroment

[2018-06-28 13:56] wansir commented on #126
## User rights management depends on k8s RBAC mode.
Base role is only allowed to be modified by the admin in kubectl, we will fix it.
## User facing initial role.

### Cluster scope initial role
|Role|Explain|
|------|----------|
|`cluster-admin`|Allows management of all resources at the cluster scope.|
|`admin`|Allows management of all resources except users and cluster roles at the cluster scope

[2018-06-28 14:13] xianyuwu opened #129 "Personal settings display “InternalServerError”"
![2018-06-28 10 06 45](https://user-images.githubusercontent.com/22258895/42039645-752c1078-7b20-11e8-80f7-736c12ce9ba3.png)

[2018-06-30 07:59] xianyuwu commented on #129
是因为user被删了造成的。

[2018-07-21 11:57] littlebeer2100 opened #149 "load test issue"

[2018-07-21 11:58] #149 closed

[2018-08-23 03:05] lujs678 opened #156 "What is the password of offline installer？"
https://drive.yunify.com/s/DZ8FAIEaKfU98JT/authenticate

$ curl -O -k https://139.198.5.33/kubesphere/express/offline/Ubuntu/kubesphere-all-offline-express-1.0.0-alpha_amd64.tar.gz -u kubesphere

This two urls all need password

[2018-08-23 03:14] mysugar commented on #156
i need it too.

[2018-08-23 03:55] rayzhou2017 commented on #156
Kubesphere@666

[2018-08-23 10:43] mysugar opened #157 "kube-dns CrashLoopBackOff"
I tested install kubesphere-all-offline-express-1.0.0-alpha_amd64.tar.gz on a 8c/12G/Ubuntu 16.04.4 server .

when finish i got

[code]

[code]

who has any idea ?

[2018-08-23 11:10] pixiake commented on #157
How much hard disk space？

[2018-08-23 11:13] mysugar commented on #157
[code]

[2018-08-23 12:11] #157 closed

[2018-08-23 12:47] mysugar opened #158 "ks-account waiting for mysql"
I tested kubesphere-all-offline-express-1.0.0-alpha_amd64.tar.gz and got this message.

[code]

as you see ,there are so many po waiting to init, here is the po msg

[code]

some err log from the init container, as you see the container cant resolv **openpitrix-db.openpitrix-system.svc**

[code]

but i can resolv the domain on the host

[code]

[2018-08-23 13:00] zryfish commented on #158
Could you please try to delete the init state pods and let kubernetes recreate them?

[2018-08-23 13:03] mysugar commented on #158
Yes，i tried delete the pod，and restart the container.

[2018-08-23 13:08] zryfish commented on #158
Could you please execute these commands on your machine and paste the results back ?
[code]
and, by the way, what's the ip address of your machine ?

[2018-08-23 13:13] mysugar commented on #158
The machine is not at hand. I will try tomorrow. thanks

[2018-08-24 02:08] mysugar commented on #158
[code]

[code]

 `inet 10.0.2.4/24 brd 10.0.2.255 scope global enp0s3`

[2018-08-24 02:58] mysugar commented on #158
I reboot the machine. it seems good now.

[2018-08-24 05:02] zryfish commented on #158
OK, can't find the problem right now. What's the os of your computer, we will try to reproduce the issue here.

[2018-08-24 05:10] #129 closed

[2018-08-24 05:55] mysugar commented on #158
8c/12G/Ubuntu-16.04.4-server  based on VirtualBox 5.2.18

[2018-09-11 13:05] wnxn opened #161 "Create Ceph secret in every namespace"
# Motivation
It's inconvenient that user must create secret in Pod's namespace for mounting RBD volume to Pods in Kubernetes v1.10.  Therefore, we could develop a controller to create the Ceph user secret in each namespace.

# Prerequisite
- Kubernetes v1.10 cluster
- Already created RBD StorageClass
- Already created Ceph user secret in kube-system namespace

# Limitation
|User| Controller|
|:---

[2018-09-25 07:33] #161 closed

[2018-10-17 09:51] #158 closed

[2018-10-17 09:51] #156 closed

[2018-10-28 14:50] tangdu opened #198 "Install Error by kubesphere-all-express-1.0.0-alpha"
ASK [kubernetes/preinstall : Update package management cache (APT)] ***********
fatal: [ks-allinone]: FAILED! => {"changed": false, "cmd": "apt-get update", "msg": "E: The repository 'http://ppa.launchpad.net/wine/wine-builds/ubuntu bionic Release' does not have a Release file.", "rc": 100, "stderr": "E: The repository 'http://ppa.launchpad.net/wine/wine-builds/ubuntu bionic Release' does not have

[2018-11-05 03:54] pixiake commented on #198
Did it report an error when manual execution of command “apt-get update” ?

[2018-11-07 11:42] #198 closed

[2018-11-14 13:38] FeynmanZhou opened #205 "Swagger-UI issue"
Following screenshots described a couple of typos or spelling errors from Swagger-UI.  It seems some APIs like daemonsets, job, deployments ,etc. are not completed.
1.  See the highlighted parts.

![image](https://user-images.githubusercontent.com/40452856/48478326-f1f85400-e83e-11e8-9cc8-c0dcd0bc15f4.png)
2. See the highlighted part.

![image](https://user-images.githubusercontent.com/40452856/48

[2018-12-09 14:23] jerryjedi opened #235 "No "cluster-operator" in kubesphere Advanced Edition"
When config the account of Kubesphere advanced edition, the document said the default role of workspace are "cluster-admin, cluster-operator, workspace-manager", but I can't find the “cluster-operator" in system, just has "cluster-regular". I think document may has error need to be fixed.

[2018-12-10 06:54] #235 closed

[2018-12-10 06:59] jerryjedi opened #236 ""outofdisk" always cause misunderstanding"
The "outofdisk" monitoring parameter of "Node status" always cause misunderstanding, can use "disk volume or disk space" as the label ?

[2018-12-10 12:10] FeynmanZhou commented on #236
@jerryjedi Hi , the node condition "OutOfDisk" is defined by Kubernetes instead of KubeSphere, it means if there is insufficient free space on the node for adding new pods. See the Kubernetes docs:

https://kubernetes.io/docs/concepts/architecture/nodes/#condition

[2018-12-14 13:28] Nocturnana opened #239 "安装到kube proxy这一步负载很高"
![image](https://user-images.githubusercontent.com/3982917/50005961-1f275600-ffe7-11e8-87c0-a9d789abbda4.png)

![image](https://user-images.githubusercontent.com/3982917/50005939-0323b480-ffe7-11e8-972e-f3375f114a70.png)

[2018-12-14 16:05] wansir commented on #239
感谢反馈，从截图中看到在安装之前load average就已经很高了，如果安装完成之后内核CPU占用率还是居高不下，需要定位到具体进程，查看日志。

如果可以，请提供操作系统信息，便于我们排查问题。

[2018-12-15 06:05] Nocturnana commented on #239
安装的前负载为0 是安装的时候负载才很高  操作系统 版本CentOS Linux release 7.2.1511 (Core)

[2018-12-15 12:34] jerryjedi opened #240 "一个角色为project admin的用户邀请成员到项目中有报错"
一个用户，workspace-regular，同时是project admin，邀请一个角色为workspace-regular的用户成为project的viewer时，第一次没有显示成功（没有显示打勾）也没有报错，再配置一次则报错“Already Exist  rolebindings.rbac.authorization.k8s.io "viewer-smpv" already exists“ ，我猜测后台数据库改了，但前端没有正确显示。
在项目用户列表，刷新后可以看到修改结果。

![_20181215203304](https://user-images.githubusercontent.com/7875026/50043079-ce783180-00a8-11e9-80d8-40981fe41e3d.png)

[2018-12-15 12:53] jerryjedi opened #241 "创建密钥成功无法正常显示"
一个用户，workspace-regular+project admin 角色，按照文档实例一创建密钥，创建成功，但无法显示在密钥列表中，用admin进去可以看到。

[2018-12-15 12:58] jerryjedi commented on #241
过了一段时间出来了，有点慢。

[2018-12-15 12:58] #241 closed

[2018-12-17 02:10] calvinyv commented on #240
数据同步问题为偶发情况，我们正在优化后端架构以期在后面的版本中fix这个问题

[2018-12-18 16:18] jerryjedi opened #242 "创建devops project失败报错"
用户role为”workspace-regular“ 时创建 devops工程时失败，如果用workspace-manager角色创建则没有问题。

报错信息：
<!DOCTYPE html><html><head resURL="/static/8229c2bd" data-rooturl="" data-resurl="/static/8229c2bd"> <title>Jenkins [Jenkins]</title><link rel="stylesheet" href="/static/8229c2bd/css/layout-common.css" type="text/css" /><link rel="stylesheet" href="/static/8229c2bd/css/style.css" type="text/css" /><link rel="styleshee

[2018-12-18 16:27] jerryjedi opened #243 "展现devops工程详情报错"
用户角色为"workspace-manager"，创建devops工程，系统报”成功“，点击进入该工程时，系统报错：见附件。

![_20181219002259](https://user-images.githubusercontent.com/7875026/50167737-cf1cfc00-0324-11e9-95e2-b65a84f319a3.png)

[2018-12-19 03:32] runzexia commented on #243
@jerryjedi 需要将jenkins的deployment scale到0再scale到1等待jenkins启动后再尝试一下

[2018-12-22 02:38] jerryjedi opened #244 "删除自定义角色报错"
一个用户，其角色为workspace-admin，在一个project中创建了一个角色（无所谓具体权限），在删除改角色时（没有用户关联到该角色），删除成功的同时会有一个报错信息，如下图：
![_20181222103344](https://user-images.githubusercontent.com/7875026/50369760-76c05580-05d5-11e9-973e-d207da730f9f.png)

自己估计时删除后界面没有回退到上层角色列表，而是继续试图展现该被删除角色的信息，所以会有报错。因为界面如下图展现了undefined信息：
![_20181222103455](https://user-images.githubusercontent.com/7875026/50369772-a8392100-05d5-11e9-857b-710aec072745.

[2018-12-22 04:15] #243 closed

[2018-12-23 03:43] jerryjedi opened #245 "项目的事件展现能否按时间倒序，能否展现更多的内容？"
如截图，在观察HPA的过程日志时发现日志展现方式不合理，能否按时间倒序，另外能否展现更长时间内的内容?
![_20181223113921](https://user-images.githubusercontent.com/7875026/50380636-e9016a80-06a7-11e9-9a87-bc962883b28d.png)

[2018-12-24 06:08] rayzhou2017 commented on #124
Please verify if they are fixed or not.

[2018-12-24 06:09] #87 closed

[2018-12-24 06:15] jerryjedi opened #247 "企业空间、工程项目的删除比较难找，且没有删除前确认"
企业空间和工程项目的删除功能比较隐秘（这个也就算了），删除前没有确认，建议加一个确认选择。

[2018-12-24 06:17] jerryjedi opened #248 "【RFE】能否加一个pod日志输出的功能？"
能否在界面里加一个Pod运行输出日志展现的功能，现在只能通过kubectl logs #pod-name -n #namespace 来获知。

[2018-12-24 06:20] jerryjedi opened #249 "版本和回退"
在定义部署后，可以通过【编辑配置模板】进行修改，并且可以有新的版本，从而可以版本回退，但如果通过【编辑配置文件】修改则好像没有版本显示，也没有版本回退。这个是work on design还是可以增强使【编辑配置文件】也支持版本和回退？

[2018-12-24 08:10] leoendless commented on #245
目前原生 k8s event api 接口不支持 sort, 可以在前端直接排序,
@zryfish 看下更多数据的问题吧

[2018-12-25 01:46] blueftss opened #250 "在web管理控制台创建configmap成功后不显示，需要手工刷新"
![configmap bug](https://user-images.githubusercontent.com/11399484/50408991-f8102600-0829-11e9-9f3c-5de9dcda0079.png)

[2018-12-25 02:04] liupeng0518 opened #251 "如何源码编译到其他平台？"
可以编译到arm mips平台么？

[2018-12-25 02:09] calvinyv commented on #250
@leoendless 类似的地方还有workload创建

[2018-12-25 02:10] calvinyv commented on #251
目前还不支持，arm64在明年下半年的roadmap里

[2018-12-25 02:12] calvinyv commented on #248
有的，容器组有日志tab页面

[2018-12-25 02:37] leoendless commented on #250
这个主要原因是 api server 的同步问题, 将会在下一版本修复

[2018-12-25 02:45] liupeng0518 commented on #251
奥感谢，那mips也不支持了？目前只支持x86/64的么？

[2018-12-25 06:50] FeynmanZhou commented on #124
@jerryjedi Could you please verify if it has been resolved? See express edition: https://lab.kubesphere.io/
Since I don't see these issues on the dashboard.

[2018-12-26 09:33] calvinyv commented on #251
是的，2018年只支持 x86/64，明年会做平台扩展

[2018-12-26 23:32] #251 closed

[2018-12-27 05:13] fireball2018 opened #252 "部署列表无法加载，在一直在 loading"
<img width="1400" alt="sp01" src="https://user-images.githubusercontent.com/74476/50466470-c12c4280-09d8-11e9-9a77-b6947fe54772.png">
效果如图，一直在显示loading画面，在浏览器控制台查看，这个接口一直在加载中: `/apis/kubesphere.io/v1alpha1/resources/deployments?conditions=namespace%3Dwahaha-testing&paging=limit%3D10%2Cpage%3D1 `

查看 ks-apigateway 日志显示请求是成功的：
<img width="1217" alt="log" src="https://user-images.githubusercontent.co

[2018-12-27 07:32] zryfish commented on #252
能否提供下环境信息，操作系统版本，部署模式(从节点和主节点个数)，主机配置?

[2018-12-27 16:19] dogearcn commented on #252
找到原因了，当 env的 value 值超过64个字符，会自动格式化成 `>-`换行的格式就会造成无法部署，通过kubectl 命令部署后网页无法加载列表

<img width="739" alt="wx20181228-001812 2x" src="https://user-images.githubusercontent.com/74476/50486731-39752100-0a36-11e9-911f-d60861df595e.png">

[2018-12-28 02:20] jerryjedi commented on #249
这个为何是对的？能否保留配置文件多版本以提供回退？

[2018-12-28 03:27] shizgchina opened #253 "service 删除后，前端界面没有联动，仍然显示了这条记录"
10 秒过去了，这个记录还在那里

![image](https://user-images.githubusercontent.com/41432506/50501493-889d6f00-0a93-11e9-9513-277daa41a0d3.png)

[2018-12-28 03:30] shizgchina opened #254 "项目设置>外网访问，每次加载时间很久"
约 7 秒以上才能显示出来

![image](https://user-images.githubusercontent.com/41432506/50501560-f77ac800-0a93-11e9-9377-eef39eb0060a.png)

[2018-12-28 06:46] shizgchina opened #255 "新建任务后，刷新时间太长"
新建 job，配置完成后，前端没有展示新建的记录，要等大概 7-10 秒后才能看到。

![image](https://user-images.githubusercontent.com/41432506/50505535-281c2b00-0aaf-11e9-8f33-af232d4eb494.png)

Job 失败的话，显示的结束时间不正确。
![image](https://user-images.githubusercontent.com/41432506/50505555-4d109e00-0aaf-11e9-8a92-2c38b8dc509a.png)

[2018-12-29 02:17] shizgchina opened #256 "示例五 - 设置弹性伸缩，第四步：标签设置，点击 创建 后，提示 Forbidden"
第四步：标签设置
标签是一个或多个关联到资源如容器组上的键值对，通过标签来识别、组织或查找资源对象，此处标签设置为 app : nginx-hpa。

节点选择器无需设置，kube-scheduler 将根据各主机 (Node) 的负载状态，将 Pod 随机调度到各台主机上。点击 创建，即可查看 Nginx 的运行状态详情。

结果界面显示如下：
![image](https://user-images.githubusercontent.com/41432506/50532325-c8775b80-0b52-11e9-928b-3027cc4fd8f4.png)

而实际上这个 deployment 被正常创建了。
![image](https://user-images.githubusercontent.com/41432506/50532339-ed6bce80-0b52-11e9

[2018-12-29 04:05] shizgchina opened #257 "删除 deployment 后，再次创建，提示错误"
明明已经删除了 deployment ，界面中也没有了，但是新建同名的 deployment 时收到错误提示，而且其实已经创建成功了 。

![image](https://user-images.githubusercontent.com/41432506/50533310-12b40900-0b62-11e9-9636-62c3709aa63f.png)

[2018-12-29 06:42] rayzhou2017 commented on #257
这个是不是也是同步的问题？

[2018-12-29 06:48] rayzhou2017 commented on #252
那这个需要前端fix吧？

[2018-12-29 09:18] leoendless commented on #252
@dogearcn "会自动格式化成 >-换行的格式就会造成无法部署" 这个应该不是问题, 属于正常的 yaml 语法

可以贴一下 无法部署的具体报错吗

[2018-12-30 05:40] dogearcn commented on #252
@leoendless 报错信息是空的

[2018-12-30 08:17] dogearcn commented on #252
[api.yaml.txt](https://github.com/kubesphere/kubesphere/files/2717006/api.yaml.txt)

[2018-12-31 07:29] jerryjedi opened #258 "输入一个错误的用户账号登录，显示信息为" internal server error""
输入正确的user/password，登录成功。如输入没有创建过的账号登录，系统显示"internal server error“，如截图，建议修改显示信息为”用户名或密码错误“。

![_20181231152221](https://user-images.githubusercontent.com/7875026/50556209-e5598d80-0d10-11e9-98a0-aa1c779d55eb.png)

[2018-12-31 15:05] jerryjedi opened #259 "可视化编辑流水线不能支持中文输入？"
在使用”可视化编辑流水线“时，就算是作为message，看上去也不支持中文输入？如有中文会出现报错，请问是kubernetes原生不支持还是KubeSphere的问题，是否有计划支持？
![_20181231225930](https://user-images.githubusercontent.com/7875026/50562643-83207d00-0d50-11e9-9650-87115ab35e43.png)

[2018-12-31 15:18] jerryjedi opened #260 "无法修改”可视化编辑流水线“中的配置？"
如果当编辑完”可视化流水线“还想回去修改，找不到编辑按钮，只有删除按钮。如果想改第一个，只能全部删除再全部配置一遍，还有更好的方法吗？
![_20181231231759](https://user-images.githubusercontent.com/7875026/50562810-579e9200-0d52-11e9-98d1-584b97121c90.png)

[2018-12-31 15:20] jerryjedi commented on #257
你的安装是All-in-one还是多节点？如果等几分钟才操作是否还是遇到同样问题？我删除过多次好像都没有遇到问题。

[2019-01-02 02:52] leoendless commented on #258
这个应该会在1.0.1修复

[2019-01-02 05:37] leoendless commented on #252
@dogearcn 你提供的测试文件里的 namespace 与你访问的 namespace 不一致, 尝试更改 namespace 试试

[2019-01-02 06:34] shizgchina opened #261 "配置 HPA 后 Deployment 默认副本数发生变化"
按照示例 3 创建一个 deployment，副本数 = 1
![image](https://user-images.githubusercontent.com/41432506/50582110-0fd75200-0e9b-11e9-8e54-4011de6fb58c.png)

配置完 HPA ，并且创建后，发现上面的副本数 = 2
![image](https://user-images.githubusercontent.com/41432506/50582136-309fa780-0e9b-11e9-9599-a4ffca016135.png)

![image](https://user-images.githubusercontent.com/41432506/50582154-4319e100-0e9b-11e9-9f91-5ccb128d47c6.png)

![ima

[2019-01-02 06:41] #261 closed

[2019-01-02 08:01] njxiaohan opened #262 "高级版安装失败The checksum for /root/releases/hyperkube did not match"
![jietu20190102-155834 2x](https://user-images.githubusercontent.com/12640161/50583997-9003b480-0ea7-11e9-9629-3a399eeba7af.jpg)

[2019-01-02 12:13] dogearcn commented on #252
@dogearcn 和 namespace 无关, namespace 是我手动修改过，因为敏感信息

[2019-01-02 12:26] fireball2018 opened #263 "devops 流水线活动页面出错"
devops 流水线活动页面出错，在某些情况下显示为空白页面， 页面地址：

<img width="1207" alt="error" src="https://user-images.githubusercontent.com/74476/50591862-9ce6cf00-0ecc-11e9-8bf1-7b0ad87e3b4b.png">

[2019-01-03 05:34] jerryjedi opened #264 "Pipeline审批没有权限时报错信息不明确"
设计了一个pipeline，当没有审批权限的人执行审批操作时，系统报错“bad request"，建议改为更易于理解的“当前审批者没有权限”。

![2019-1-3 1 31](https://user-images.githubusercontent.com/7875026/50624542-517c0180-0f5c-11e9-9426-33d2d89049a7.jpg)

[2019-01-03 05:48] jerryjedi opened #265 "pipeline流程审批者如何得到审批通知？"
设计了一个Pipeline，其中部署操作需要一个确认，设定审批者为“dev2wa"。如当用户“dev2po"执行到需要确认步骤，此时用户“dev2wa"如何可以获得需要审批的通知？能否增加一个通知栏，如云平台右上角的通知功能。

[2019-01-04 02:02] #260 closed

[2019-01-04 04:19] runzexia commented on #263
这个问题我们会在v1.01版本当中提供修复

[2019-01-04 04:21] runzexia commented on #265
在1.0和2.0中暂时没有计划做这部分，流水线审核部分在3.0应该会提供通知

[2019-01-04 08:55] runzexia commented on #263
https://issues.jenkins-ci.org/browse/JENKINS-55398
相关jenkins问题

[2019-01-07 03:58] shizgchina opened #267 "点击创建凭证后，界面仍保留了上次创建的凭证数据"
示例 6，第 2 次创建凭证时：

第二步：创建 GitHub 凭证
同上，创建一个用于 GitHub 的凭证，凭证 ID 命名为 github-id，类型选择 账户凭证，输入您个人的 GitHub 用户名和密码，备注描述信息，完成后点击 确定。

此时，弹出的界面仍带有第一次创建时填写的信息，没有清空：
![image](https://user-images.githubusercontent.com/41432506/50748289-97460c00-1273-11e9-99e3-fa2c3ce9f998.png)

[2019-01-07 05:43] shizgchina opened #268 "示例6 第二步：添加仓库 时报错"
首次添加是正常的，第 2 次重复该 Lab 时，做到

4、复制生成的 token，在 KubeSphere Token 框中输入该 token 然后点击保存。

报 internal server error
![image](https://user-images.githubusercontent.com/41432506/50750928-438eef00-1282-11e9-8958-a00e116425ff.png)

[2019-01-07 06:19] minghaoye commented on #267
我们会在v1.01版本当中优化一下。

[2019-01-07 07:01] runzexia commented on #268
没有复现这个问题，可以通过青云的工单系统给我们一下环境信息吗？我们上去看一下

[2019-01-07 08:52] shizgchina opened #269 "删除失败的 流水线 有时报 internal error"
有的情况下报错，无法删除；
有的情况下报错，可以删除；
![image](https://user-images.githubusercontent.com/41432506/50758215-852c9380-129c-11e9-8951-65aa7087fbcc.png)

![image](https://user-images.githubusercontent.com/41432506/50758220-8c53a180-129c-11e9-88e8-680af4d7de75.png)

[2019-01-07 09:42] leoendless commented on #252
可以提供下你当前的环境信息吗(installer 版本),
目前根据你提供的文件, 在我们的测试环境里没有发现对于问题

[2019-01-07 09:46] runzexia commented on #269
是nfs server in k8s导致的问题
https://support.cloudbees.com/hc/en-us/articles/115001371588-Device-or-resource-busy-error

[2019-01-08 07:49] rayzhou2017 commented on #269
那这个问题怎么fix？

[2019-01-08 07:50] rayzhou2017 commented on #268
这个有进展吗？

[2019-01-08 07:55] runzexia commented on #269
如果正式环境部署，换存储就可以解决这个问题

[2019-01-08 07:56] runzexia commented on #268
这个问题我们换了几个环境都没有复现

[2019-01-08 08:15] rayzhou2017 commented on #259
这个什么进展了？

[2019-01-08 08:19] runzexia commented on #259
这个暂时还没来得及看，需要在v1.0.1发布吗？

[2019-01-08 10:15] njxiaohan commented on #262
我明天试一下，到时候回邮件给各位

[2019-01-14 01:36] JieHry opened #271 "kubesphere 1.0.1版本openpitrix-iam-service-deployment容器无法启动"
查看openpitrix-iam-service-deployment日志发现无法找到iam.user表。
`2019-01-14 01:25:42.25938 -INFO- Release OpVersion: [v0.3.5] (grpc_server.go:79)
2019-01-14 01:25:42.25957 -INFO- Git Commit Hash: [9333eae7354fc6634785df7a2fef35e74ed8dce5] (grpc_server.go:79)
2019-01-14 01:25:42.25966 -INFO- Build Time: [2018-11-22 06:37:13] (grpc_server.go:79)
2019-01-14 01:25:42.25974 -INFO- Service [iam-service] start lis

[2019-01-14 06:14] calvinyv commented on #271
可否执行一下 kubectl get pods -n openpitrix-system看一下返回，涉及到openpitrix的组件的任务可能有些没有执行完

如果可以，可以将环境访问信息邮件发到 kubesphere@yunify.com，我们上去debug一下

[2019-01-15 03:47] hlwanghl opened #272 "Slack Integration Test"

[2019-01-15 03:47] hlwanghl commented on #272
Works as expected.

[2019-01-15 03:51] hlwanghl commented on #272
Integrated to channel.

[2019-01-15 03:51] #272 closed

[2019-01-15 03:55] #269 closed

[2019-01-17 07:52] leoendless opened #273 "已安装应用列表需要展示删除中的和已删除的应用"
**General remarks**

**Describe the bug(描述下问题)**

已安装应用列表需要展示删除中的和已删除的应用

[2019-01-18 03:07] JieHry commented on #271
重新执行安装程序后，就可以正常启动了。应该就是您说的有些任务没有执行完成。

[2019-01-18 08:26] lowstz opened #275 "ks-account: panic LDAP Result Code 32 "No Such Object""
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.
[code]

[code]

[code]
For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: advanced-1.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

F

[2019-01-21 02:59] #273 closed

[2019-01-21 09:51] lowstz commented on #275
长时间没有输出按了 ctrl+c
[code]

cluster 存储按文档默认开启 nfs ，关掉其他存储。
[code]

我试试 QingCloud CSI 看下是不是一样错误。

[2019-01-21 13:01] leoendless commented on #255
这两个问题会在1.0.1 修复

[2019-01-21 19:05] lowstz commented on #275
改用 qingcloud-csi 后，dashboard 正常了，但是 ks-devops 功能相关 pod 没有 init 成功。
[code]

[2019-01-22 03:46] runzexia commented on #275
@lowstz 现在正常了吗，看样子是jenkins没有正常启动

[2019-01-22 04:54] lowstz commented on #275
另外内部已经有自己的 CI/CD service, jenkins 相关是否可以 disable，类似 registry service 和 harbor 一样

[2019-01-22 04:56] rayzhou2017 commented on #275
是需要在kubesphere里去掉devops功能吗？可以通过权限控制disable，比如设定一个角色，不选择devops功能， @wansir 确认一下这个功能现在支持吗

[2019-01-22 05:46] lowstz commented on #275
用 qingcloud-csi 都跑起来了

[2019-02-25 11:26] soulseen opened #285 "kubesphere/vendor/github.com/coreos/etcd目录下缺少相关依赖包"
**General remarks**

**Describe the bug(描述下问题)**
执行make build命令，缺少相关依赖包，具体信息如下：
cannot find modified files from git
fmt done
```mkdir -p ./tmp/bin && cp -r ./install/ ./tmp/```
```docker run -it --rm -v `pwd`:/go/src/kubesphere.io/kubesphere -v `pwd`/tmp/cache:/root/.cache/go-build  -w /go/src/kubesphere.io/kubesphere -e GOBIN=/go/src/kubesphere.io/kubesphere/tmp/bin -e USER_ID=`id -u` -e GROUP_ID

[2019-02-26 03:42] calvinyv commented on #285
@zryfish @wansir 帮忙看一下

[2019-02-26 04:03] wansir commented on #285
感谢反馈，可以通过执行`dep ensure`重新拉取依赖，稍后会进行修复

[2019-02-26 06:00] soulseen commented on #285
嗯。

[2019-03-07 11:45] zryfish commented on #124
This issue has been automatically marked as stale because it has not had
  recent activity. It will be closed if no further activity occurs. Any further update will
  cause the issue/pull request to no longer be considered stale. Thank you for your contributions.

[2019-03-07 11:45] #124 closed

[2019-03-11 09:31] pennpeng opened #290 "为什么github下载的没有安装脚本？"
同题目？？？？

[2019-03-12 01:04] calvinyv commented on #290
您好，目前此开源项目为 kubesphere 社区版的后端代码，我们会有计划的将前端、installer 等组件的代码逐步开源。如果您想下载带有安装脚本的安装包，可访问 https://docs.kubesphere.io/advanced-v1.0/zh-CN/installation/intro/ ，参考文档指引下载

[2019-03-13 17:22] botzill opened #292 "English version"
Sorry to ask this stupid question, but is there an English version of the dashboard and docs?

Thx!

[2019-03-14 00:35] FeynmanZhou commented on #292
Hi @botzill , we do have an English version of the dashboard and docs:

- Installation: We suggest you to install KubeSphere in a single node to preview its dashboard and features, it supports one-click installation, see [Installation Guide](https://kubesphere.io/install).
Could you leave your email here? We will send you the download command directly.

- Docs: https://docs.kubesphere.io/advanced-

[2019-03-14 05:33] #285 closed

[2019-03-14 05:33] #271 closed

[2019-03-14 05:33] #255 closed

[2019-03-14 08:23] botzill commented on #292
Thx @FeynmanZhou!

Will give it a try and see, basically I'm looking for a better management dashboard for k8s.

[2019-03-14 15:49] FeynmanZhou commented on #292
@botzill Yes, KubeSphere is designed as a better management dashboard without learning curve, suggest you to download advanced edition and try it. Could you leave your email, we will send a demo to you.

[2019-03-15 16:47] FeynmanZhou commented on #292
Hi @botzill , you can download KubeSphere Installer from this [link](https://kubesphere.anybox.qingcloud.com/s/JE7NWkkT6EaI9Oksr0aJ5HvPFwtO2peL?type=file&id=3114265).

[2019-03-15 17:13] botzill commented on #292
Hi @FeynmanZhou , thx for the link.

I was wondering if it's possible to have a helm chart to install the dashboard?

Thx.

[2019-03-16 13:49] FeynmanZhou commented on #292
Hi @botzill ,

The helm chart is still in development. KubeSphere adds some annotations and labels to the k8s native resources, which cannot be completely controlled on KubeSphere right now, It's highly recommended to install the dashboard using [installer](https://kubesphere.anybox.qingcloud.com/s/JE7NWkkT6EaI9Oksr0aJ5HvPFwtO2peL?type=file&id=3114265) before its helm chart ready.

Thanks.

[2019-03-24 03:19] drings-liu opened #306 "多节点安装时，提示：FAILED - RETRYING: OpenPitrix | Waiting for openpitrix-db (1 retries left)."
安装高级版本V1.0.1版本多节点时，提示：

FAILED - RETRYING: OpenPitrix | Waiting for openpitrix-db (1 retries left).

1 MASTER
2 NODE
安装几次都出现这样的现象 ，大家有没有遇到过？是什么原因造成？

[2019-03-24 03:37] drings-liu commented on #306
补充下，不用多节点安装模式，采用单机安装正常

[2019-03-24 05:41] FeynmanZhou commented on #306
@drings-liu 多节点安装时需要预先配置存储才可以安装成功。请问您在多节点安装之前，在 vars.yml 中存储是配置的哪一种类型呢？是否配置了文档推荐的存储呢：https://docs.kubesphere.io/advanced-v1.0/zh-CN/installation/storage-configuration/

[2019-04-08 04:18] cnicy opened #330 "生态关系"
想知道Kubesphere的生态关系大概是什么样的，https://kubesphere.io，社区版、易捷版、高级版，想知道开源的版本对于哪一个？易捷版、高级版是不是都不开源的？

[2019-04-08 06:24] rayzhou2017 commented on #330
后端都是开源的，就是你现在看到的。前端正在做开源的整理工作，也就是说都会开源的。

[2019-04-10 05:46] #330 closed

[2019-04-17 02:28] cnicy opened #350 "RoadMap"
有RoadMap吗？我看官网说2.0会在4月份发布，不知道具体什么时间？
开发者应该怎么参与呢，有没有开发者文档呢，通过源码了解整体架构效率比较低。
前端UI计划什么时间发布呢？

[2019-04-17 08:56] calvinyv commented on #350
我们4月19号会举办产品发布会，目前 2.0.0在最后的收尾测试工作，预计五一假期之后会正式发布，目前我们提供了开发版，尝鲜用户可以尝试。

开发者文档会在发布会之后酌情推出。

前端 UI 会在发布会之后先将易捷版UI开源，以后会逐步开源高级版UI，开源工作并不仅仅是把代码放到github上面这么简单，需要有复杂的推广、运维、服务能力的支持，我们目前还处于集中主要研发力量在产品研发这个阶段，望理解。

[2019-04-17 14:51] cnicy commented on #350
@calvinyv  2.0会同步开源吗？

[2019-04-22 17:47] huapox commented on #290
同问+1

像之前caicloud/cyclone就是放个半成品，博噱头。
前后端都要开源出来，并建议具备让大家可以自行安装的方式，
这样他人受益的基础，才能玩转并反馈，进而推进项目的迭代，
再者这样才是真正借助开源塑造产品，同时也回报于社区的可行之道。

[2019-04-22 17:55] huapox opened #354 "前端UI开源，配备仅paas层的安装脚本"
1.求对前端也做开源；
2.具备让大家可以自行安装于现成k8s的脚本，不少用户有现成的集群并有定制，不需要配备一整套的AllInOne；

综上，大家能更好的玩转并反馈，进而推进项目的迭代~ 谢谢！

[2019-04-23 07:08] cnicy commented on #354
同求前端！

[2019-04-23 08:23] firheroicths commented on #354
WEB UI初始的用户名密码是多少？  admin/admin 用户名密码错误

[2019-04-23 11:28] Liuyanglong opened #356 "有没有kubesphere的架构说明？"
请教下，
有没有kubesphere的架构说明？
在前端UI操作完后，对应的数据调用是怎么的？

[2019-04-23 11:35] Liuyanglong opened #357 "kubesphere 开源组件 和 部署组件的对应关系"
你好：
我部署了 kubesphere adv 1.01，将他与 此repo中的组件做对比发现，有些不对应，想请教下两者之间的关系。

adv 1.01中的组件有：ks-console，ks-apiserver，ks-apigateway，ks-account，ks-devops
此repo的make 组件有：ks-apiserver，ks-apigateway ，ks-iam，controller-manager

这两者间的区别和联系是什么？

[2019-04-24 03:09] calvinyv commented on #290
@huapox 前后端肯定会开源，请放心。KubeSphere 的团队还在成长，我们暂时没法铺太多的人力在开源的运营上，但我们已经加入的cncf，并对cncf承诺未来会全开源，所以请放心。现在团队基本都铺在新版发布的事情上，预计五月份到六月份会抽出一部分人力整理开源相关的资料。

[2019-04-24 12:40] stevenqingcloud opened #361 "Internal Server Error LDAP Result Code 32 "No Such Object": user user1 does not exist"
环境：kubesphere 2.0
现象：user1是企业空间的成员和管理员，admin登陆后，没有检查依赖关系，就能直接删除user1，然后就导致，打开这个企业空间，点击“成员管理”，就出现上诉错误。

[2019-04-25 01:48] pennpeng commented on #290
@huapox 你说的对，不过是博眼球噱头罢了

[2019-04-25 01:52] rayzhou2017 commented on #290
先直接到https://kubesphere.io上下载安装体验，官网下载的是完整的安装包，安装就可以用，没有任何block的东西，人手有限，前端开源需要点时间整理，后端一直是开源的。

[2019-04-25 03:43] monkito opened #363 "安装2.0 all-in-one 出错"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

安装2.0，选择all-in-one，无论是使用本地存储，还是配置NFS （qingcloud vNAS），安装过程中均报错如下：

fatal: [ks-allinone]: FAILED! => {"attempts": 4, "changed": true, "cmd": ["/usr/bin/docker", "pull", "kubespheredev/devops:flyway"], "delta": "0:00:04.161648", "end": "2019-04-25 11:35:05.791355", "msg": "non-zero return code", "rc

[2019-04-25 03:50] pixiake commented on #363
你好   可以到官网获取最新的安装包连接下载安装

[2019-04-25 04:19] calvinyv commented on #361
@wansir

[2019-04-25 04:20] calvinyv commented on #357
@zryfish

[2019-04-25 04:23] calvinyv commented on #354
#290 duplicated

[2019-04-25 04:24] #354 closed

[2019-04-25 04:25] calvinyv commented on #350
#290 duplicated

暂时无法做到同步，人手有限，但一定会开源的。青云appcenter整套架构现在通过 openpitrix 项目全开源，所以不用怀疑我们对开源的决心。

[2019-04-25 04:26] #350 closed

[2019-04-25 04:27] calvinyv commented on #356
@wansir 他应该问的是api framework

[2019-04-25 06:40] guofengzh opened #366 "需要一个How to build or How to start developing....文档"
想build一下kubeshpere。docs/中”Welcome to KubeSphere! (New Developer Guide)“好像还未完成。试了”Developing for KubeSphere **[deprecated]**“, 使用”go get -d kubesphere.io/kubesphere"找不到工程。试着clone，然后make，好像也不行。调整一下目录，使用make all构建时，源码的编译好像OK了，又出现下列错误:
failed to start the controlplane. retried 5 times: fork/exec /usr/local/kubebuilder/bin/etcd: exec format error
kubebuilder的版本是 1.0.8. 怎么解决？

多谢!

[2019-04-25 07:05] zryfish commented on #357
ks-console 是 kubesphere 的 dashboard 项目，目前正在整理源代码，即将放到 github
ks-devops 代码在 1.0.1 版本中是单独 repo ，2.0 中会合并到 kubesphere 的 repo 中来
controller-manager 是 kubesphere 的controller模块， 属于 2.0 中新增的模块

[2019-04-25 07:21] #363 closed

[2019-04-30 08:27] ss178994161 commented on #306
我是按照文档配置了存储，也是遇到同样的问题，安装的pod后台是pending状态，一直不好，安装了好几遍了。
[code]
安装配置文件如下：
[code]

[code]

[2019-04-30 11:33] stevenqingcloud opened #377 "创建企业空间的button不见了 kubesphere-all-advanced-2.0.0-dev-20190430"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
3 masters:  8cpu/8g
3 nod

[2019-04-30 13:30] rayzhou2017 commented on #377
下载最新的installer https://docs.kubesphere.io/advanced-v2.0/zh-CN/installation/all-in-one/， 应该有了

[2019-05-03 08:59] stevenqingcloud opened #380 "点击左侧导航栏的应用，“应用模板部署”，会出现 internal server error"
点击左侧导航栏的应用，“应用模板部署”，选择nginx （用户手册中的步骤），会出现internal server error。

如果是直接点击顶部的应用模板，再去选择这个应用，则可以成功。

[2019-05-05 01:34] rayzhou2017 commented on #380
我部署成功了，下载最新的installer测试一下，每天早上6:30和下午3:30会分别出一个installer

[2019-05-05 06:09] wnxn commented on #306
@ss178994161
请用如下命令，看看结果。
kubectl get pvc --all-namespaces

[2019-05-05 10:35] calvinyv commented on #366
代码还在整理中，我们争取在五月底整理出这个howto文档，人手有限，非常抱歉

[2019-05-05 11:02] Liuyanglong opened #383 "多节点安装，NFS做存储，提示FAILED - RETRYING: OpenPitrix | Waiting for openpitrix-db (1 retries left)."
如标题。
系统环境：3台centos7，NFS做存储
NFS的配置为：
`/data/         *(rw,sync,insecure,no_subtree_check,no_root_squash)`

三台机器挂载参数：
`mount <nfs server>:/data /kubedata -o proto=tcp -o nolock`

挂载均成功，且测试无误。

查看相关信息：
[code]
[code]

hosts.ini的配置为：

vars.yml的配置为：
[code]

[2019-05-05 11:03] Liuyanglong commented on #383
求帮忙~~

[2019-05-05 11:15] Liuyanglong commented on #383
[code]

[2019-05-06 02:35] wnxn commented on #383
三台机器挂载参数：
mount <nfs server>:/data /kubedata -o proto=tcp -o nolock
这是什么意思？

NFS 服务器用的是 /data 路径么？
@Liuyanglong

[2019-05-06 03:27] Liuyanglong commented on #383
问题解决，nfs的配置问题。
NFS server的配置为：
[code]

nfs client挂载配置参数：
[code]

在conf/vars.yml中的nfs配置中 nfs_server和nfs_path两个参数要注意：
！在本例子中，nfs_path必须为/data ，不能使client挂载的/kubedata
！在本例子中，nfs_path必须为/data ，不能使client挂载的/kubedata
！在本例子中，nfs_path必须为/data ，不能使client挂载的/kubedata
[code]

感谢 @wnxn 。 同时问下，能否提供install的github地址，我提个pr，增加这方面的注意信息。

[2019-05-06 03:27] #383 closed

[2019-05-06 07:33] pixiake commented on #383
install的代码目前还没有放到github上，后边整理后会放上来的。

[2019-05-06 07:41] #263 closed

[2019-05-06 07:42] #264 closed

[2019-05-08 09:29] cnicy commented on #366
@calvinyv 2.0什么时间点回开源

[2019-05-09 07:32] calvinyv commented on #366
暂时没有一个非常确定的时间点，我们会非常努力的往2019年3Q去努力，由于没有专门的开源团队，所有开源工作都是同事们个人时间去处理，进度较慢，望见谅

[2019-05-11 16:57] liaoyinfeng opened #411 "如果安装节点需要通过代理上外网，是否支持通过代理上外网在线安装kubesphere?"
如果安装节点需要通过代理上外网，是否支持通过代理上外网在线安装kubesphere?

[2019-05-14 03:40] Liuyanglong opened #420 "服务器意外关机重启，服务如何恢复？"
如题，服务器意外关机重启，服务如何恢复？

[2019-05-14 04:28] calvinyv commented on #420
请问您用的是什么版本？kubesphere 高级版支持主机重启自动恢复服务

[2019-05-14 04:30] calvinyv commented on #411
kubesphere不会提供代理配置，您需要确保集群各个节点能够访问外网

[2019-05-14 05:45] Liuyanglong commented on #420
我用的2.0-dev,重启后发现 右下角工具箱中的工具异常：
1、kubectl提示“deployments.apps "kubectl-admin" not found”。
2、日志中容器组的日志看不了。

[2019-05-14 07:03] calvinyv commented on #420
可否介绍一下您的环境，我们尝试本地复现一下：
包括：集群规模（几个节点），节点OS版本，节点资源配置等

如果您本地环境允许我们访问，可否把访问方式发到 kubesphere@yunify.com，比如teamviewer或者ssh等

[2019-05-14 07:04] Liuyanglong commented on #420
单机器部署；
os为centos7.5 64位，vmware虚拟机部署；
16core cpu，32g mem，200GB disk

[2019-05-14 07:06] Liuyanglong commented on #420
kubectl-admin对应的pod是哪个？
日志服务中有kube系统组件的日志，但是没有容器组的日志。

[2019-05-14 07:26] calvinyv commented on #420
kubectl get pods -n kubesphere-controls-system

[2019-05-14 09:26] Liuyanglong commented on #420
[root@ks-allinone ~]# kubectl get pods -n kubesphere-controls-system
NAME                                     READY   STATUS    RESTARTS   AGE
default-http-backend-96d94689d-c56b8     1/1     Running   1          5d2h
kubesphere-router-demo-7bbd5c9fb-nd8jp   1/1     Running   1          5d1h

[2019-05-14 11:16] calvinyv commented on #420
kubectl-admin消失的问题是一个已知的bug，已经修复

我刚才部署了最新的daily dev installer，重启没有复现这个问题，你可以下载新的installer试试，环境不用充值，执行新installer里面的install.sh或者upgrade.sh就可以

[2019-05-15 01:07] cnicy opened #426 "Install Error"
OS Version:
CentOS Linux release 7.5.1804 (Core)
Kubesphere Version:
kubesphere-all-advanced-2.0.0-dev-20190514

selinux已关闭、swapoff已关闭、firewalld已关闭

报错信息如下：
kubernetes/preinstall : Update package management cache (YUM) ------------------------------------------------------------------------------------------------------------------------------- 25.34s
kubernetes/preinstall : Install packages requi

[2019-05-15 01:35] cnicy commented on #426
kubernetes/preinstall : Install packages requirements --------------------------------------------------------------------------------------------------------------------------------------- 71.33s
container-engine/docker : ensure docker packages are installed ------------------------------------------------------------------------------------------------------------------------------ 36.88s
kubern

[2019-05-15 09:00] cnicy commented on #426
kubernetes/preinstall : Hosts | populate inventory into hosts file --------------------------------------------------------------------------------------------------------------------------- 0.42s
failed!

[2019-05-15 10:09] pixiake commented on #426
具体的报错信息是红色字体   在这些上边   看看是什么 什么原因

[2019-05-15 13:56] cnicy commented on #426
TASK [download : container_download | Download containers if pull is required or told to always pull (all nodes)] ***********************************************************************************
Wednesday 15 May 2019  21:51:02 +0800 (0:00:00.054)       0:00:09.788 *********
FAILED - RETRYING: container_download | Download containers if pull is required or told to always pull (all nodes) (4 retr

[2019-05-15 14:10] pixiake commented on #426
这个一般是由于到dockerhub网络不是特别好造成的

[2019-05-15 14:14] cnicy commented on #426
等吧 挂个通宵

[2019-05-15 14:17] rayzhou2017 commented on #426
你的带宽是多少？一般100M 40分钟左右就能装好

[2019-05-15 14:18] cnicy commented on #426
带宽差不多吧  就一直卡那一步

[2019-05-15 14:19] pixiake commented on #426
这个可能也跟运营商有关

[2019-05-15 14:20] cnicy commented on #426
REPOSITORY                                                                        TAG                 IMAGE ID            CREATED             SIZE
dockerhub.qingcloud.com/google_containers/hyperkube                               v1.13.5             7740a148dcf0        7 weeks ago         565MB
dockerhub.qingcloud.com/google_containers/coredns                                 1.4.0               a9e

[2019-05-16 05:36] cnicy commented on #426
2019-05-16 10:45:29,530 p=27840 u=root |  Thursday 16 May 2019  10:45:29 +0800 (0:00:00.042)       0:31:44.212 **********
2019-05-16 13:19:28,148 p=27840 u=root |  FAILED - RETRYING: container_download | Download containers if pull is required or told to always pull (all nodes) (4 retries left).

这一步是在下载什么东西呢？一直卡这里，我能不自己去pull到本地然后上传

[2019-05-16 05:58] pixiake commented on #426
可以自己pull本地传上去    但镜像有很多   最新的安装包里加了mirror   可以下载最新的试下呢

[2019-05-16 05:58] cnicy commented on #426
重新下载安装吗？

[2019-05-16 06:00] pixiake commented on #426
嗯  按这个下载就行

[2019-05-16 08:07] Liuyanglong commented on #420
问题依旧没解决，我重新下载最新的installer，并且执行了install.sh，提示成功，进入页面后，依然提示 “deployments.apps "kubectl-admin" not found”

[code]

[2019-05-16 08:23] pixiake commented on #420
执行下upgrade.sh应该就可以了

[2019-05-16 09:35] Liuyanglong commented on #420
其实还没好，我准备重新部署一套，做一下交叉对比

[2019-05-17 03:54] cnicy commented on #426
还是各种出问题，能不能在青云买一台虚拟机装。或者用appcenter，但是appcenter我看版本好像比较低。

[2019-05-17 03:57] rayzhou2017 commented on #426
下个星期青云会上线QKE，是基于KubeSphere的。我很好奇你安装出什么问题了？我们每天安装好几次很少出问题。

[2019-05-17 05:35] cnicy commented on #426
{"changed": true, "cmd": ["/usr/local/bin/kubectl", "create", "namespace", "istio-system"], "delta": "0:00:34.560664", "end": "2019-05-17 09:40:35.780358", "failed_when_result": true, "item": "istio-system", "msg": "non-zero return code", "rc": 1, "start": "2019-05-17 09:40:01.219694", "stderr": "The connection to the server 10.211.55.43:6443 was refused - did you specify the right host or port?",

[2019-05-17 05:36] cnicy commented on #426
fatal: [ks-allinone]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/kubectl annotate node ks-allinone alpha.kubernetes.io/provided-node-ip=10.211.55.43", "delta": "0:00:16.820080", "end": "2019-05-17 09:14:43.174770", "failed_when_result": true, "msg": "non-zero return code", "rc": 1, "start": "2019-05-17 09:14:26.354690", "stderr": "Unable to connect to the server: net/http: TLS handshake t

[2019-05-17 06:07] rayzhou2017 commented on #426
@pixiake 你帮忙看看

[2019-05-17 08:21] cnicy commented on #426
QKE 具体什么时间会上，包含Kubesphere2.0的全部功能吗？

[2019-05-17 08:29] pixiake commented on #426
@cnicy 能否把环境信息发到kubesphere@yunify.com  我们连上看下

[2019-05-17 08:34] cnicy commented on #426
我现在是本地虚拟机搭建的 我马上找一台外网服务器搭建试一下。

[2019-05-17 11:04] rayzhou2017 commented on #426
明天正式GA KubeSphere 2.0.0，大概一周左右就上线QKE，包含完整的KubeSphere 2.0.0功能。

[2019-05-18 05:44] cnicy commented on #426
重新找了一台服务器用KVM装了一个虚拟机就正常了，系统和本地一样。暂时得出一个结论PC电脑上开虚拟机有问题，不管是是centos还是ubuntu

[2019-05-18 11:12] calvinyv commented on #253
fixed in 2.0.0

[2019-05-18 11:12] #253 closed

[2019-05-19 14:14] fairychild1 opened #442 "创建流水线失败"
如果指定的github上的代码仓库的描述里含有中文，那么在创建流水线时会失败，提示描述中不能含有中文。一般来说，客户的代码描述里含有中文很正常，也很频繁。

[2019-05-20 03:51] zzxwill opened #443 "KubeSphere 下载逻辑可能需要优化下"
在 KubeSphere [主页](https://kubesphere.io/)访问`Get Community Edition`跳转后有三个版本可以`Get the version`，只有第一个版本`Community Edition`可以下载。
问题1：
既然是从`Get Community Edition`跳转进来的，理论上来说都应该是社区版，可是`Express Edition`和`Advanced Edition`都不能直接下载，需要联系`pre-sale`，所以，这是用来卖的社区版？

继续下载`Community Edition`，邮箱推送的链接里却都是`Express Edition`，我比较困惑。
![image](https://user-images.githubusercontent.com/2805315/57995606-9d87a700-7af5-11e9-

[2019-05-20 05:53] blueftss opened #444 "kubesphere的项目概览里应该加上密钥和配置的数量"
kubesphere的项目概览里应该加上密钥和配置的数量，这样客户对所有的资源可以一目了然！
![image](https://user-images.githubusercontent.com/11399484/57999081-ab91f380-7b06-11e9-9038-4ebe386495b9.png)

[2019-05-20 05:59] zzxwill opened #445 "menu.sh: file not found"
In Step 3 of [installation guide](https://kubesphere.io/install), I hit the issue
[code]

I will try to download a express edition to have another try.

[2019-05-20 06:02] zzxwill commented on #445
This issue recurred in `kubesphere-all-express-1.0.0-alpha.tar.gz`.

[2019-05-20 06:05] zzxwill commented on #445
It worked by executing `./install.sh`. I think it would be better to also make it work for `sh install.sh`.

[2019-05-20 07:54] Fengwei1991 commented on #444
已在新的版本中做了设计修改，这是一个很好的建议~

[2019-05-20 14:42] bqsky opened #446 "二次开发需求"
为啥现在前端不开源呢，后端开源了部分，架构的文档也没有，360公司的Wayne都全部开源了，并且都迭代了那么多版本。但是感觉你们这边做的更符合企业的需求，想用但是文档太少，都是些介绍和部署文档，纠结ing。

[2019-05-21 03:14] irradiate commented on #426
TASK [kubernetes/preinstall : Create local volume provisioner directories] *********************************************************************************************************************************
Tuesday 21 May 2019  10:58:03 +0800 (0:00:00.291)       0:00:35.792 ***********
fatal: [ks-allinone]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: 'd

[2019-05-21 08:27] blueftss opened #447 "建个下载yaml/json文件，增加自定义文件名的功能"
否则默认很容易重名，当然可以手工修改对象名称解决

[2019-05-21 13:56] rayzhou2017 commented on #446
前端开源还在整理，肯定会开源的，现在是在忙功能的开发，很多客户等着用。后端是全部开源的，API文档很快也会有的，你发现哪个部分没有开源？

[2019-05-21 13:57] rayzhou2017 commented on #446
另外你们有什么需求可以提，我们会根据用户的需求安排以后的开发计划，尽量让用户能直接使用。

[2019-05-21 13:58] rayzhou2017 commented on #445
@pixiake Please check this requirement.

[2019-05-21 14:08] rayzhou2017 commented on #426
@pixiake  你看看上面的问题

[2019-05-22 05:18] runzexia commented on #442
@minghaoye

[2019-05-22 05:49] bqsky commented on #446
恩，后端是全部都开源了。我们先熟悉后端架构，前端这块希望能赶上进度，文档能尽快放出来。非常感谢

[2019-05-22 05:51] bqsky commented on #426
对，安装失败我们测试了基本都是由于下载镜像慢导致的。安装脚本没啥问题。

[2019-05-24 14:50] cnicy opened #449 "3.0 future"
3.0 有哪些功能和打算呢？roadmap也说的不是很清楚。

[2019-05-24 14:55] cnicy opened #450 "2.0 branch"
发现有一个advanced2.0的branch，是2.0高级版的源代码吗，跟正式发布的2.0版本代码一致吗？

[2019-05-25 02:49] rayzhou2017 commented on #450
是的

[2019-05-25 02:52] rayzhou2017 commented on #449
会提供多集群管理，AI平台，SDN等，你是有什么需求吗？

[2019-05-25 04:35] cnicy commented on #449
flink on k8s

[2019-05-25 07:51] cnicy commented on #450
弱弱问一下，ui什么时候放出来，对于我们而言其实kubesphere的ui设计交互体验和qingcloud的基础设施是最大优势，所以希望UI能早些出来！

[2019-05-27 09:47] wu0407 commented on #411
文档里面的离线安装，什么时候出离线安装包

[2019-05-27 11:06] wu0407 opened #452 "安装方式支持现有k8s集群"
**General remarks**

现在安装方式只支持自动安装k8s集群，已经有了k8s集群如何集成kubesphere
官方文档里面有离线安装，可以这里细化

[2019-05-27 13:33] Allenxuxu opened #453 "All-in-one 方式安装出错"
TASK [win_nodes/kubernetes_patch : Check current command for kube-proxy daemonset] *************************************************************************************************************************
Monday 27 May 2019  21:29:46 +0800 (0:00:00.240)       0:02:43.457 ************
fatal: [ks-allinone]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/kubectl --kubeconfig /etc/kubernetes/admi

[2019-05-27 14:32] wu0407 commented on #453
我是卡在安装openpitrix ，发现安装脚本/etc/kubesphere/openpitrix/kubernetes/scripts/deploy-k8s.sh，没有指定kubeconfig，修改之后pod还是pending状态

[2019-05-27 14:45] wu0407 commented on #453
k8s.io/client-go/informers/factory.go:132: Failed to list *v1.ReplicaSet: replicasets.apps is forbidden: User "system:kube-scheduler" cannot list resource "replicasets" in API group "apps" at the cluster scope

[2019-05-28 02:20] rayzhou2017 commented on #453
allinone安装怎么还会出错？说一下安装环境，比如os，节点配置，安装步骤等信息。

[2019-05-28 02:21] rayzhou2017 commented on #452
稍等两天，在existing k8s上安装kubeSphere还在测试

[2019-05-28 02:22] rayzhou2017 commented on #449
这个是app了，会放到应用仓库里的，跟KubeSphere本身没有关系

[2019-05-28 06:10] wu0407 commented on #452
还有就是all-in-one 定位是预览功能，不应该设置限制cpu和内存，我开个虚拟机3g内存，完全起不来，那么多组件都要cpu，安装之前可以选择安装部分功能

[2019-05-28 06:27] rayzhou2017 commented on #452
是的，这是一个好问题，会计划做的，第一，需要进一步优化footprint，第二，做成可插拔的系统。第一点会很快进行的。

[2019-05-28 06:35] Allenxuxu commented on #453
ubuntu 16.04  4核8g
完全按照说明安装的

[2019-05-28 06:38] rayzhou2017 commented on #453
你看的是1.0版本的吧，2.0版本的要求高了，因为东西更多了，CPU：8 核， 内存：16 G， 系统盘：100 G。我们会优化这个最小配置的。

[2019-05-28 07:26] minghaoye commented on #442
这个问题已修复，用新的 installer 可以更新

[2019-05-28 12:01] #426 closed

[2019-05-28 14:09] juixtu opened #454 "社区版安装最后没有提示账号密码是什么"
默认账号密码哪里查看？

[2019-05-28 16:48] FeynmanZhou commented on #454
@juixtu 建议下载 KubeSphere 最新发布的高级版 2.0.0，参考 [安装指南](https://docs.kubesphere.io/advanced-v2.0/zh-CN/installation/intro/)

[2019-05-28 16:57] FeynmanZhou commented on #411
@wu0407 本周内就可以出，离线安装包正在各个系统测试部署。

[2019-05-29 11:37] liaoyinfeng opened #456 "是不是要安装gitlab就必须使用vnas，不论是all-in-one，还是多节点部署？"

[2019-05-29 13:34] godkillerwy opened #457 "2.0有离线安装版吗，好头疼啊，按文档装了一天没装起来，到处报错"
Wednesday 29 May 2019  21:20:12 +0800 (0:00:00.043)       0:00:13.127 *********
fatal: [ks-allinone]: FAILED! => {"changed": false, "cmd": "apt-get update", "msg": "E: The repository 'http://apt.byted.org/private stretch-private Release' does no longer have a Release file.\nW: GPG error: http://mirrors.ustc.edu.cn/kubernetes/apt kubernetes-xenial InRelease: The following signatures couldn't be ver

[2019-05-29 13:37] #457 closed

[2019-05-29 14:20] FeynmanZhou commented on #456
@liaoyinfeng 目前是这样，安装 gitlab用 CSI 对接块存储会有块存储挂盘权限问题，正在修复中。

[2019-05-29 14:37] FeynmanZhou commented on #457
@godkillerwy 用的什么配置的机器安装的呢？离线安装包正在最后的测试阶段

[2019-05-29 15:26] pixiake commented on #457
这个看起来是apt源的配置问题

[2019-05-30 00:57] Allenxuxu commented on #453
ok 非常感谢耐心解答

[2019-05-30 00:57] #453 closed

[2019-05-30 01:15] blueftss opened #458 "建议kubesphere里增加对外接es的支持"
观察kubesphere安装包的vars.yaml配置文件，现在不支持对接外置的es。建议kubesphere里增加对外接es的支持！

[2019-05-30 01:18] blueftss opened #459 "建议增加workplace和project的一键yaml导出功能"
在kubesphere的ui上增加workplace和project的一键yaml导出功能

[2019-05-30 01:19] blueftss commented on #456
可以不用vnas，allinone安装用本地盘也没有问题。

[2019-05-30 01:21] blueftss commented on #454
如果安装成功，安装包kubesphere目录下的kubesphere_running文件中保存了最后的账号密码信息

[2019-05-30 01:23] blueftss opened #460 "建议kubesphere下一个版本里增加监控大屏和版本配置工具"
版本配置工具偏向运维上线。

[2019-05-30 01:24] blueftss opened #461 "建议增加利用filebeat等工具实现用户应用日志的管理"
建议增加利用filebeat等工具实现用户应用日志的管理

[2019-05-30 01:33] #125 closed

[2019-05-30 01:33] #126 closed

[2019-05-30 01:34] rayzhou2017 commented on #240
2.0.0版本已解决

[2019-05-30 01:34] #240 closed

[2019-05-30 01:35] rayzhou2017 commented on #242
2.0.0已fix

[2019-05-30 01:35] #242 closed

[2019-05-30 01:36] rayzhou2017 commented on #244
2.0.0 fixed

[2019-05-30 01:36] #244 closed

[2019-05-30 01:37] #267 closed

[2019-05-30 01:37] #258 closed

[2019-05-30 01:38] #257 closed

[2019-05-30 01:38] #254 closed

[2019-05-30 01:38] #252 closed

[2019-05-30 01:39] #250 closed

[2019-05-30 01:49] rayzhou2017 commented on #306
一般是存储问题

[2019-05-30 01:49] #306 closed

[2019-05-30 03:02] #377 closed

[2019-05-30 03:03] #442 closed

[2019-05-30 03:59] #262 closed

[2019-05-30 04:01] #239 closed

[2019-05-30 04:02] #247 closed

[2019-05-30 04:03] benjaminhuo commented on #461
- filebeat 更多的是偏向于日志收集的 agent，并有一些日志格式化的能力，需要部署在应用的 pod 里。
- 可以在应用的 pod 里加入 sidecar 的 container 将 filebeat 收集的日志转而输出到 stdout，或者 filebeat 直接输出收集到的应用日志到 stdout。
- KubeSphere 默认安装了 fluentbit 的 daemonset 来收集各节点容器输出到 stdout 的日志并转发到 es，kafka 或者 fluentd。
- 我们会提升现在 KubeSphere 日志的搜索体验，加入更强大好用的 filter

[2019-05-30 04:03] rayzhou2017 commented on #259
这个在2.0.0支持了吗？ @runzexia

[2019-05-30 04:03] rayzhou2017 commented on #265
2.0.0是不是已经支持了？ @runzexia

[2019-05-30 04:04] #268 closed

[2019-05-30 04:04] #275 closed

[2019-05-30 04:09] runzexia commented on #259
支持了

[2019-05-30 04:09] #259 closed

[2019-05-30 04:09] runzexia commented on #265
没有支持

[2019-05-30 05:17] huojiao2006 opened #462 "notification needs to support email server plainauth"
notification needs support POP3

[2019-05-30 05:18] huojiao2006 opened #463 "need to support different queue for notification and alarm module"

[2019-05-30 08:09] jerryjedi opened #464 "【RFE】日志关联应用服务状态"
现在日志查询只能在日志工具中去做。是否可以通过应用服务监控/告警直接关联到对应的日志。假设有数千个微服务在运行，在KubeSphere的服务监控和链路追踪中出现了红色告警时，直接点击显示对应的日志条目和相关内容。这样比较方便大的环境下的日志查询。

[2019-05-30 08:47] rayzhou2017 commented on #464
已经放入plan了

[2019-05-30 10:14] godkillerwy opened #465 "建议：能不能提供一套搭建好的环境供社区体验下，目前看安装门槛有点高"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
3 masters:  8cpu/8g
3 nod

[2019-05-31 05:36] rayzhou2017 commented on #465
体验的话可以安装allinone，那个很简单，不需要配置，只需要保证机器的配置满足最小要求。多节点安装基本都是因为存储的原因显得门槛高。如果需要体验多节点安装可以等几天青云的QKE上线，一键部署。lab环境我们以前也有，新版没有更新，我们考虑一下需不需要提供这种体验环境。

[2019-05-31 07:03] #449 closed

[2019-06-01 03:20] FeynmanZhou commented on #457
@godkillerwy  离线安装包已经发布了，可参考 [All-in-One](https://docs.kubesphere.io/advanced-v2.0/zh-CN/installation/all-in-one/) 或 [Multi-node](https://docs.kubesphere.io/advanced-v2.0/zh-CN/installation/multi-node/) 来下载安装。

[2019-06-03 08:39] #465 closed

[2019-06-03 10:14] #357 closed

[2019-06-10 01:53] cnicy opened #472 "UI"
Kubesphere UI 什么时间会开源。

[2019-06-10 01:54] liaoyinfeng opened #473 "cloud-controller-manager pod运行不正常，设置lb网关不可用。"
一、检查Pod状态，发现异常。
root@master:~# kubectl get pod -n kube-system | grep cloud-controller-manager
cloud-controller-manager-68c4675975-s4b4g            0/1     CrashLoopBackOff   88         7h33m。
二、查看Pod日志，提示api key授权失败。
I0610 01:49:15.192360       1 flags.go:33] FLAG: --v="1"
I0610 01:49:15.192376       1 flags.go:33] FLAG: --version="false"
I0610 01:49:15.192439       1 flags.go:33] FLAG: --vmodule=

[2019-06-19 21:07] y0n1g opened #486 "cannot deploy wordpress application"
**General remarks**

The application named wordpress on the https://helm-chart-repo.pek3a.qingstor.com/kubernetes-charts/ cannot be deployed, with the error shown here:
![image](https://user-images.githubusercontent.com/9443988/59800422-312cdd00-9319-11e9-98f9-2ecb46d54c92.png)

However, the same application can be deployed manually with cli on the kubesphere.
helm repo add ***
helm fetch wordpres

[2019-06-20 03:02] y0n1g opened #487 "scroll behavior for subpage does not work"
**General remarks**
As seen below, I was trying to put information for the subpage, but the scrolling bar does not work for the foreground subpage but only works on the background page.

![image](https://user-images.githubusercontent.com/9443988/59815581-93063a80-934b-11e9-8e51-fda08e4a5c6d.png)

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.
As seen above

For UI

[2019-06-20 09:05] rayzhou2017 commented on #472
预计4Q

[2019-06-21 02:36] Remember2015 commented on #464
+1

[2019-06-21 02:38] Remember2015 commented on #456
问题是 all in one 不可靠额

[2019-06-23 12:45] magicsong commented on #473
installer已经修复。

[2019-06-23 12:45] #473 closed

[2019-06-24 05:52] DustFinger001 opened #497 "安装 Multi-node 报错"
**Describe the bug(描述下问题)**
安装到calico插件这一步时报错，master1 的 8080 端口不能访问
使用kubectl get nodes 命令提示
The connection to the server localhost:8080 was refused - did you specify the right host or port?

![image](https://user-images.githubusercontent.com/16345979/59994723-7b9aba80-9687-11e9-8654-6ede2e9f8b7a.png)

操作系统版本：ubuntu 16.04  用户: ubuntu  sudo 方式安装

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphe

[2019-06-24 07:53] alex8158 opened #499 "KubeSphere 2.0.1 安装失败 ：no matches for kind \"S2iBuilderTemplate\"
安装KubeSphere 2.0.1时报错：
TASK [ks-devops/s2i : S2I | Deploy S2I template&&operator] *********************************************************************************************************
Wednesday 19 June 2019  10:48:52 +0800 (0:00:02.092)       0:09:16.843 ********
failed: [ksm1] (item=java.yaml) => {"changed": true, "cmd": "/usr/local/bin/kubectl apply -f /etc/kubesphere/s2i/java.yaml", "delta"

[2019-06-24 09:22] DustFinger001 commented on #497
我换了root用户安装后这个问题就没出现了。
但是又出现了另外一个问题。
![image](https://user-images.githubusercontent.com/16345979/60007330-ac3d1d00-96a4-11e9-85a1-6861b2400ed5.png)

这个步骤尝试到最后就失败了

[2019-06-24 10:50] minghaoye commented on #487
Can you provide the Chrome and mac os version information?
it might be a special bug in mac chrome, you can update your chrome to try (74.0.3729.169 (Official Build) (64-bit) not show this bug)

The next version we will do some processing to avoid

[2019-06-24 13:31] fairychild1 opened #500 "基于nginx-ingress的灰度发布"
何时集成基于nginx-ingress的灰度发布
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:

[2019-06-24 15:24] pixiake commented on #499
这个有可能是创建这些yaml对象时，相关的crd还没有完全写入，重新执行一遍安装应该就可以了

[2019-06-24 15:28] pixiake commented on #497
这个一般是由于存储配置有问题或者存储服务端不可用造成的，可以检查下是存储的相关配置

[2019-06-25 01:36] DustFinger001 commented on #497
从dashboard 来看是这个db的pod 挂载卷有问题
![image](https://user-images.githubusercontent.com/16345979/60062589-76dc1200-972c-11e9-8c0a-04e7f74483dc.png)
我使用 nfs-server 启动了一个文件共享服务，然后配置到vars.yml 里了，这样的配置有问题吗？
![image](https://user-images.githubusercontent.com/16345979/60062671-bacf1700-972c-11e9-89ba-1e997527322f.png)

[2019-06-25 01:42] alex8158 commented on #499
接着直接重新执行安装，又报以下错误，重复多次安装都是这个错：
fatal: [ksm1]: FAILED! => {"attempts": 15, "changed": true, "cmd": "/usr/local/bin/kubectl -n openpitrix-system get pod | grep openpitrix-db-deployment | awk '{print $3}'", "delta": "0:00:00.169315", "end": "2019-06-25 09:38:14.840653", "rc": 0, "start": "2019-06-25 09:38:14.671338", "stderr": "", "stderr_lines": [], "stdout": "Pending", "stdout_lines": ["Pending"]}

[2019-06-25 02:09] DustFinger001 commented on #497
已经安装好了，确实是存储的配置问题。

[2019-06-25 02:34] pixiake commented on #499
这个一般是由于存储配置有问题或者存储服务端不可用造成的，可以检查下是存储的相关配置

[2019-06-25 05:05] alex8158 commented on #499
我只是启用了nfs，vars.yml配置如下：
##config
## Please configure the API service, if your cluster based on QingCloud IaaS
## platform and want to use qingcloud-csi or qingcloud-cloud-controller-manager.
# Access key pair can be created in QingCloud console
#qingcloud_access_key_id: ACCESS_KEY_ID
#qingcloud_secret_access_key: ACCESS_KEY_SECRET
# Zone should be the same as Kubernetes cluster
#qingcloud_zone: ZO

[2019-06-25 05:22] pixiake commented on #499
1.  kubectl  get pvc --all-namespaces 看下pvc是否处于pending状态
2. 如果pvc  pending，地址和路径也都配置正确的话，可以试下本地机器上是否可以挂载；如果是自建的nfs，可以看下nfs的配置参数。

[2019-06-25 06:43] alex8158 commented on #499
所有的pvc都是pending的状态。 是自建的nfs，本地也可以挂载。
# kubectl get pvc --all-namespaces
NAMESPACE                      NAME                                               STATUS    VOLUME   CAPACITY   ACCESS MODES   STORAGECLASS   AGE
kubesphere-devops-system       ks-sonarqube-postgresql                            Pending                                      nfs-client     48m
kubesphere-logging-system      data-

[2019-06-25 07:51] alex8158 commented on #499
修改了nfs server的权限，现在所有的pvc都bound了，但还是有报错：
fatal: [ksm1]: FAILED! => {"attempts": 15, "changed": true, "cmd": "/usr/local/bin/kubectl -n openpitrix-system get pod | grep openpitrix-db-deployment | awk '{print $3}'", "delta": "0:00:00.156709", "end": "2019-06-25 15:48:46.955768", "rc": 0, "start": "2019-06-25 15:48:46.799059", "stderr": "", "stderr_lines": [], "stdout": "CrashLoopBackOff", "stdout_li

[2019-06-25 08:15] pixiake commented on #499
kubectl -n openpitrix-system describe pod  openpitrix-db-deployment-xxx看下这个pod的events

pod名可以通过kubectl -n openpitrix-system get pod查一下

[2019-06-25 08:17] pixiake commented on #499
自建的nfs服务端可以这样配
 (rw,insecure,sync,no_subtree_check,no_root_squash)

[2019-06-25 08:30] #497 closed

[2019-06-25 09:20] alex8158 commented on #499
@pixiake  问题解决了，我执行了一次uninstall, 然后再install, 第一次出现了no matches for kind“S2iBuilderTemplate”后，接着再执行一次install, 后面就没通过了，我还是有点奇怪的是，同样是master,为什么安装成功后显示的结果不一样，master1的changed 是110，其他的只有3：
PLAY RECAP *********************************************************************************************************************************************************
kse1                       : ok=4    changed=0    unr

[2019-06-25 11:54] lujs678 opened #501 "redhat7.4离线版2.0无法安装成功"
安装的是all-in-one模式
首先发现获取redhat版本脚本不对，没有判断redhat-release文件，只有判断centos-release文件，
这个改了后有新问题
![12384efdc98d035bfb7a2f5175d5fd7](https://user-images.githubusercontent.com/30866140/60096117-bdf4f200-9782-11e9-9ca0-bf0ce1af53a6.jpg)

这个把yum改成在线方式安装也算成功了，但最后还是失败
![b4486e7a951957163d5f322c1472674](https://user-images.githubusercontent.com/30866140/60096183-e67cec00-9782-11e9-91aa-dd996dda62c7.jpg)

[2019-06-25 15:59] pixiake commented on #499
主要的安装步骤都在master1上完成，其他节点的话只会执行安装一些环境依赖的基础软件，所以master1上的步骤多一些

[2019-06-25 16:25] blueftss opened #502 "some kubesphere function suggestion"
1、增加pvc备份功能。
2、监控中增加对limit的监控。
3、官网docs增加kubectl管理qke的文档。
4、增加etcd数据库、configmap和各种yaml的备份功能。
5、增加审计功能。
6、增加操作日志功能。
7、gitlab、harbor等模块的pvc可以在vars.yml中自定义。
8、qke增加对nfs的ui支持。
9、增加l利用docker-machine driver在不同的云厂商创建kubesphere的集群功能。
10、qke增加备份到qingcloud对象存储的功能。
11、增加cicd日志导出功能和api对接。
12、cpu和vcpu的license策略还需要再优化一下。
13、和第三方对象，可以实现workplace的自动增加label功能。

[2019-06-26 07:44] rayzhou2017 commented on #502
plan in the versions of KubeSphere
1. 3.0.0
2. no plan
3. a couple of weeks
4. 3.0.0
5. 3.0.0
6. same req as 5
7. 2.1.0
8. no plan
9. no plan
10. 备份什么？
11. 2.1.0
12. 这是商务问题
13. 不清楚这个需求

[2019-06-26 08:06] pixiake commented on #501
从哪下载的安装包，kube-apiserver起来了没有？kubectl get pod --all-namespaces

[2019-06-26 09:12] dotw opened #503 "where is the openpitrix dashboard?"
**Describe the bug(描述下问题)**
can't find openpitrix dashboard

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.0.1

**Environment(环境的硬件配置)**
All-In-One Ubuntu 16.04 with 8C, 16GB

**To Reproduce(复现步骤)**
There is no entry point for opentrix dashboard

**Expected behavior(预期行为)**
There should have one entry for opentrix dashboard since this component is installed by default.

[2019-06-26 09:43] wenhuozhou commented on #501
这里下载的安装包
https://docs.kubesphere.io/advanced-v2.0/zh-CN/installation/all-in-one/
没有起来

[2019-06-26 09:44] lujs678 commented on #501
这里下载的安装包
https://docs.kubesphere.io/advanced-v2.0/zh-CN/installation/all-in-one/
没有起来

[2019-06-26 16:07] pixiake commented on #501
嗯  环境可以远程或者开tv吗？可以的话相关信息可以发到kubesphere@yunify.com

[2019-06-26 22:51] wnxn opened #505 "KS UI 支持 NFS 存储类型"
1. ks ui 支持 NFS 存储类型 ks 设计
- 新增 nfs 存储类型时，在 ks 集群内安装 nfs 动态分配的 pod。
- 删除 nfs 存储类型时，不删除 nfs 动态分配 pod。
- 不允许配置不同 nfs 服务端的 nfs 存储类型。
2. 调研
- 删除 nfs 动态分配 pod 是否影响 nfs pvc 运行。
- 用户配置多个 nfs 存储类型对接不同 nfs 存储系统是否可行。

[2019-06-27 02:46] FeynmanZhou commented on #503
Hi @dotw ，

We suggest you to install the latest version of OpenPitrix (v0.4) manually, it includes the OpenPitrix dashboard and more features, pls refer to the [OpenPitrix instruction](https://openpitrix.io/install). Since the inner OpenPitrix version is still v0.3.5 which doesn't contain the dashboard, it will be upgraded to v0.4 in the next iteration.

Any questions, please let me know.
Thanks.

[2019-06-30 07:04] taitaking opened #531 "安装失败"
fatal: [ks-allinone]: FAILED! => {"ansible_facts": {"pkg_mgr": "yum"}, "changed": false, "msg": "The Python 2 bindings for rpm are needed for this module. If you require Python 3 support use the `dnf` Ansible module instead.. The Python 2 yum module is needed for this module. If you require Python 3 support use the `dnf` Ansible module instead."}

[2019-06-30 09:34] rayzhou2017 commented on #531
有详细的安装环境吗？

[2019-06-30 13:49] liangyuanpeng commented on #452
@rayzhou2017
在existing k8s上安装kubeSphere 大概什么时候会推出

[2019-06-30 22:15] pixiake commented on #531
这个是什么操作系统呢？系统里默认是python3吗？

[2019-06-30 22:24] pixiake commented on #452
@liangyuanpeng 现在的安装包已经支持在existing k8s上安装kubeSphere，但安装方法较为复杂，目前正在对这种安装方法进行优化。

[2019-07-01 07:48] zheng1 opened #537 "The list of SDN features planned in 3.0"
- [ ] Default use multus + calico
- [ ] Pod flow control
- [ ] Automatic network planning for Workspace/Namespace
- [ ] Support for multiple clusters
- [ ] Pod static IP
- [ ] Pod IPAM
- [ ] NetworkPolicy
- [ ] Provide API for CoreDNS, self-backup and recovery of CoreDNS
- [ ] Provide solutions that Pod IP can access outside the cluster (multus + calico + Macvlan)

[2019-07-01 08:32] zryfish commented on #500
Ingress Controller image updated, we can use canary release provided by nginx right out of the box. User interface is under development.

https://github.com/kubesphere/kubesphere/pull/534

[2019-07-01 08:32] #500 closed

[2019-07-03 09:18] dotw commented on #503
@FeynmanZhou How to use it if we don't have a dashboard in the current release? only REST API?

[2019-07-03 16:07] liangyuanpeng commented on #499
我在ubuntu尝试安装 2.0.1也失败了，全新环境

FAILED - RETRYING: Kubernetes Apps | Wait for kube-apiserver (3 retries left).
FAILED - RETRYING: Kubernetes Apps | Wait for kube-apiserver (2 retries left).
FAILED - RETRYING: Kubernetes Apps | Wait for kube-apiserver (1 retries left).
fatal: [ks-allinone]: FAILED! => {"attempts": 10, "changed": false, "content": "", "msg": "Status code was -1 and not [200]: Request f

[2019-07-04 00:04] pixiake commented on #499
看起来是kube-apiserver不正常     docker ps看下有没有运行中的kube-apiserver
机器什么配置呢？

[2019-07-04 02:01] DustFinger001 opened #554 "从helm模板创建应用失败"
当使用模板仓库创建应用是，因为的我的应用服务特别多，会导致 openpitrix 报插入数据的additional_info 字段过长而出错。
![image](https://user-images.githubusercontent.com/16345979/60634679-602b6e80-9e42-11e9-93ca-3030d99e489f.png)

[2019-07-04 06:43] huojiao2006 commented on #462
https://github.com/openpitrix/notification/pull/55  fixed

[2019-07-04 06:44] huojiao2006 commented on #463
https://github.com/openpitrix/notification/pull/50
fixed

[2019-07-04 10:13] liangyuanpeng commented on #499
没有运行中的kube-apiserver

[code]

我的配置是 4C 16G
ubuntu16

[2019-07-04 12:32] pixiake commented on #499
虽然这个配置目前不够安装kubesphere，但应该不会在这个地方出问题，机器之前安装过k8s吗？是不是之前的/etc/kubernetes还在？

[2019-07-05 01:52] fairychild1 opened #559 "建议优化devops"
1.devops要支持编排。就像咱们的云平台，能把整套环境导出，然后倒入到另外一个可用区。我们的devops工作流，如果能编排，让用户导出已有的流水线，然后倒入到另外一个里面，这样能少些工作；
2.支持流水线的复制。包括整体的或者局部的。同一个项目下面，不同的用户登进去后，新的用户看到老的项目的流水线，直接复制部分过来，然后稍微修改下，也能省些工作；
3.支持流水线导出成jenkins文件，这样有的人喜欢编辑jenkins文件的，可以让他直接在文件里修改；
4.咱们的基础模块可以再进一步细化。比如拉代码的模块，只保留参数，用户指定他的git的项目名，直接把整个url搞出来；

[2019-07-05 01:53] fairychild1 opened #560 "建议整合项目管理"
建议将项目管理和缺陷管理整合到kubesphere里面，形成开发的闭环。

[2019-07-05 01:55] fairychild1 opened #561 "建议添加审计功能"
目前整个平台的操作记录，没有日志。管理员无法审计，无法回溯历史操作，个人操作。建议增加审计功能，能对个人的操作进行记录。

[2019-07-05 02:24] runzexia commented on #559
1. 支持编排没太理解，现在流水线可以图形化编辑（out of scm），后面会覆盖到 in scm的情况当中。
现在图形化编辑的流水线可以直接变成Jenkinsfile，流水线导出也应该是Jenkinsfile。
2.在正式使用的流水线大都是in scm的，对in scm的项目来说，主要还是要代码仓库中需要有Jenkinsfile。
3.现在已经支持了，可以看1
4.有一些step正在优化

[2019-07-06 03:00] liangyuanpeng commented on #499
@pixiake
执行uninstall后重新install出现的是新的错误

fatal: [ks-allinone]: FAILED! => {"changed": true, "cmd": ["timeout", "-k", "600s", "600s", "/usr/local/bin/kubeadm", "init", "--config=/etc/kubernetes/kubeadm-config.yaml", "--ignore-preflight-errors=all"], "delta": "0:01:57.191283", "end": "2019-07-06 10:51:27.210557", "failed_when_result": true, "msg": "non-zero return code", "rc": 1, "start": "2019-07-06

[2019-07-06 03:10] pixiake commented on #499
感觉是有旧的配置文件残留，环境可以远程吗？可以的话相关信息可以发到kubesphere@yunify.com

[2019-07-06 03:27] pixiake commented on #499
环境可以远程吗？可以的话相关信息可以发到kubesphere@yunify.com   或者也可以登录https://console.qingcloud.com提工单

[2019-07-06 03:58] pixiake commented on #499
看下kubelet启动了么？systemctl  status  kubelet

[2019-07-07 07:05] y0n1g commented on #487
Environment:
Chrome: 75.0.3770.100 64-bit
Mac: 10.14.5

[2019-07-08 13:31] fairychild1 commented on #559
1.编排的功能是参照云平台的，现在云平台上创建的各种虚机，网络，防火墙规则等可以一键导出，然后在另外一个可用区一键导入。如果咱们流水线可以支持这样导出导入，可以降低用户的门槛，比如将某个项目下的某条流水线导出，然后在另外一个项目里导入。如果第二点提到的流水线复制能做到，那么这条也相当于变相做到了。
2.支持流水线复制是这么个 场景，两个人登录后，能看到同一个空间，B看到A已经有了流水线，准备自己建一个，然后自己的流水线跟A其实很像，只需要改下代码仓库的名字就行。那他直接在界面拷贝A的流水线，然后导入到自己项目，改下参数就行。如果先将流水线导出成jenkinsfile，然后自己再修改jenkinsfile，对用户来说，要求稍微有点高。

[2019-07-11 03:22] zryfish commented on #554
这个字段大概有多长呢，我们调整下字段大小

[2019-07-15 07:31] fairychild1 opened #578 "负载均衡对接F5"
建议下个版本对接F5，让F5作为负载均衡插件。

[2019-07-15 07:32] fairychild1 opened #579 "建议对接对象存储"
建议对接对象存储，小文件，比如图片，日志等，还是适合放在对象存储上，目前青云有qingstore对象存储，还没有完全对接完成。

[2019-07-15 07:34] fairychild1 opened #580 "日志需要完善"
目前我们的ES上搜到的日志不能导出，流水线的日志可以导出，主机的监控数据可以导出，但是导出的文本是json的不够友好。需要增加ES的日志导出，格式最好是txt或者word或者pdf等比较友好的格式，日志一般是运维收集好发给开发看。

[2019-07-15 07:35] fairychild1 opened #581 "考虑增加hostpath和empdir等存储类型？"
后期是否考虑增加这两种存储类型，有些场景会用到

[2019-07-15 07:36] fairychild1 opened #582 "Merge image registry into KubeSphere"
目前镜像仓库跟kubesphere是割裂的两个产品，后期可以考虑整合到一起，在一个平台里。

[2019-07-15 07:42] fairychild1 opened #583 "网络的可视化编辑"
在平台上直接操作
1.定义子网，包括子网的网段；
2.子网与子网之间的连接与隔离；
3.子网上的容器的拓扑图。

[2019-07-15 08:50] DustFinger001 commented on #554
我这里一个应用大概有10-20个服务，算下来应该有200-400个字符

[2019-07-15 08:56] DustFinger001 opened #584 "创建企业空间的 restful 接口"
请问现在没有创建企业空间的 restful 接口吗；我查了 swagger 和官方文档都没有，后台运维脚本或者其他服务调用到这个接口要怎么处理呢？
ps： 希望 kubesphere 管理界面的功能在 restful 接口中都能开放；这样，使用自有的应用和kubesphere 管理功能的时候就能无缝对接了。

[2019-07-15 10:41] zryfish commented on #584
目前企业空间是一个crd对象，对应的文档我们正在整理生成。如果着急使用，可以借助kubectl 来看下对应的 api 请求.

[code]
workspace的 spec 在这里 https://github.com/kubesphere/kubesphere/blob/master/pkg/apis/tenant/v1alpha1/workspace_types.go

[2019-07-15 11:43] DustFinger001 commented on #584
好的，感谢

[2019-07-15 11:48] #584 closed

[2019-07-17 02:07] eryajf commented on #501
同yum安装包的那个地方出了问题

[2019-07-17 07:00] DustFinger001 opened #585 "安装失败，没有ansible-playbook 命令"
看错误提示应该是没有成功安装一些依赖，ansible也就没有安装成功。
![image](https://user-images.githubusercontent.com/16345979/61353867-64747480-a8a3-11e9-8e3a-0a289a92c3e7.png)

是否可以考虑改成容器化的ansible实现，不需要在ansible的主控端安装额外的软件。

手工安装好这些依赖后又出现这个错误
![image](https://user-images.githubusercontent.com/16345979/61354933-d221a000-a8a5-11e9-8a0c-c6ae08b21445.png)

ps：使用的是离线版安装程序

[2019-07-17 08:04] TongTrey opened #586 "安装失败"
![image](https://user-images.githubusercontent.com/50939920/61358158-4c552300-a8ac-11e9-89af-2709be7bb36b.png)
![image](https://user-images.githubusercontent.com/50939920/61358261-858d9300-a8ac-11e9-9316-e812981fb1b7.png)

可以帮忙看看是啥原因吗？

[2019-07-17 11:50] TongTrey commented on #586
用的自己搭建的nfs服务器，发现创建的pvc全是pending导致了相关的pod启动不起来。想问下nfs服务器最小硬盘空间需求多大？

[2019-07-17 12:59] pixiake commented on #585
离线环境下确实会出现各种各样的依赖问题    这个是新装的操作系统吗？ 之后会考虑把一些以来较多的东西容器化的。下边那个报错可以看下/kubeinstaller/下的那几个目录有没有被挂载

[2019-07-17 13:04] pixiake commented on #586
应该跟nfs的磁盘大小没有关系，可以参考 *(rw,insecure,sync,no_subtree_check,no_root_squash)这个配置下nfs，然后先试下主机上是否可以挂载nfs

[2019-07-17 13:07] pixiake commented on #501
2.0.0的离线包不支持rhel，我用新的2.0.2的离线包试了下可以部署成功

[2019-07-17 13:21] eryajf commented on #501
官方似乎没有提供2.0.2的离线包，不知道您是从哪里下载的呢

[2019-07-17 13:53] TongTrey commented on #586
谢谢可以挂载了但是又有问题出来了希望能给与解答
![image](https://user-images.githubusercontent.com/50939920/61381216-4fb4d280-a8dd-11e9-8132-d1d0fd72f1c5.png)

[2019-07-17 15:00] pixiake commented on #586
这个看样子是有特殊字符无法解析   如果编辑过jenkins的相关配置的话可以检查下是不是写入了特殊字符

[2019-07-17 16:32] pixiake commented on #501
@eryajf  curl -L https://kubesphere.io/download/offline/advanced-2.0.2 > advanced-2.0.2.tar.gz

[2019-07-17 16:33] pixiake commented on #501
curl -L https://kubesphere.io/download/offline/advanced-2.0.2 > advanced-2.0.2.tar.gz

[2019-07-18 01:07] cnicy commented on #583
这个功能得集成SDN吧，现有网络接口都不支持！

[2019-07-18 01:43] eryajf commented on #501
ok

[2019-07-18 02:25] TongTrey commented on #586
卸载了，扩容到2个node节点就好了。。

[2019-07-18 03:48] TongTrey commented on #586
安装好了之后关于girlab的pod运行不正常一直处于init的状态删掉了重新拉取镜像还是这样
![image](https://user-images.githubusercontent.com/50939920/61427229-f46ff800-a94f-11e9-90a8-b5c335e83ac5.png)
另外istio的ingressgateway其中一个pod运行不正常一直报错Envoy proxy is NOT ready另外pod一个没问题
![image](https://user-images.githubusercontent.com/50939920/61427314-37ca6680-a950-11e9-8764-87b13eb8455e.png)
![image](https://user-images.githubusercontent.com/509399

[2019-07-18 04:34] TongTrey commented on #586
安装好了之后关于girlab的pod运行不正常一直处于init的状态删掉了重新拉取镜像还是这样
![image](https://user-images.githubusercontent.com/50939920/61427229-f46ff800-a94f-11e9-90a8-b5c335e83ac5.png)
另外istio的ingressgateway其中一个pod运行不正常一直报错Envoy proxy is NOT ready另外pod一个没问题
![image](https://user-images.githubusercontent.com/50939920/61427314-37ca6680-a950-11e9-8764-87b13eb8455e.png)
![image](https://user-images.githubusercontent.com/509399

[2019-07-18 06:11] DustFinger001 opened #587 "2.0.2 版本安装后配置docker 私有库问题"
2.0.2 版本在安装好之后，我配置了一个 docker 私有库，修改完 /etc/docker/daemon.json 文件，然后重新启动 docker： systemctl resart docker ；或者修改前 systemctl stop docker ，修改完之后 systemctl start docker 。docker.service 都会报错启动不了。

另，删除 /etc/docker/daemon.json 文件后启动 docker 也会失败好几次，偶尔才能成功启动。
![image](https://user-images.githubusercontent.com/16345979/61433292-7d455e80-a965-11e9-8757-886624a2167c.png)

这个问题在安装好的任意一个节点都稳定复现。

[2019-07-18 07:10] pixiake commented on #586
可以看下init状态pod的容器日志，这个环境是1master+2node吗？感觉是cpu配置有点少

[2019-07-18 09:41] BinWayne opened #588 "安装错误 - 应该是DB问题"
1. 安装的平台系统是linux
2. clone kubesphere之后，./install.sh 采用的是all in one 模式
3. 当执行到这一步骤的时候出现这个日志

TASK [ks-alerting : ks-alerting | Waiting for alerting-db-init] *********************************************************************************************************************
Thursday 18 July 2019  05:31:45 -0400 (0:00:01.220)       0:08:41.847 *********
FAILED - RETRYING: ks-alerting | Waiting for a

[2019-07-18 09:44] hungtcs opened #589 "Request for front end project"
Front-end project is required for using, thanks!

[2019-07-18 09:50] DustFinger001 commented on #587
问题是由于kubesphere 在安装时指定了 DOCKER_OPTS= --insecure-registry ，所以不能再加载 /etc/docker/daemon.json 的 insecure-registries 设置。

[2019-07-18 09:51] #587 closed

[2019-07-18 13:48] lilinlinlin commented on #588
机器配置是什么呢？cpu、内存等信息。麻烦再执行一次脚本看看

[2019-07-19 02:31] bowenliang123 opened #591 "CentOS7.6安装离线版2.0失败"
使用的是2.0离线安装包，在root下执行install.sh安装失败
（https://kubesphere.io/download/offline/advanced-2.0.0）

<img width="1440" alt="屏幕快照 2019-07-19 上午10 29 45" src="https://user-images.githubusercontent.com/1935105/61505061-26e12a00-aa10-11e9-8d36-7c925066c4a9.png">

[2019-07-19 03:02] lilinlinlin commented on #591
该机器之前安装了docker吗？配置是什么呢

[2019-07-19 03:11] pixiake commented on #591
/etc/docker里是不是有daemon.json

[2019-07-19 03:12] bowenliang123 commented on #591
我是在vmware里面全新安装CentOS，没有安装过Docker

[2019-07-19 03:13] bowenliang123 commented on #591
/etc/docker路径为不存在

[2019-07-19 03:17] pixiake commented on #591
systemctl status docker 看下

[2019-07-19 03:18] bowenliang123 commented on #591
systemctl status docker 结果如图 @pixiake
<img width="1440" alt="屏幕快照 2019-07-19 上午11 17 59" src="https://user-images.githubusercontent.com/1935105/61507067-e3d68500-aa16-11e9-93e5-826de148d2cf.png">

[2019-07-19 03:20] bowenliang123 commented on #591
我想知道执行install.sh之后的这些错误提示，有影响吗？
发现/kubeinstaller/yum_repo/iso/repodata/repomd.xml不存在，/kubeinstaller/yum_repo/下是空的

Loading mirror speeds from cached hostfile
file:///kubeinstaller/yum_repo/iso/repodata/repomd.xml: [Errno 14] curl#37 - "Couldn't open file /kubeinstaller/yum_repo/iso/repodata/repomd.xml"
Trying other mirror.

<img width="1440" alt="屏幕快照 2019-07-19 上午11 17 59" src="https://user-image

[2019-07-19 03:25] pixiake commented on #591
目前的离线包还没有对centos7.6做适配，所以找不到yum源，这个docker是怎么装上的呢？

[2019-07-19 03:25] pixiake commented on #591
journalctl -f -u docker

[2019-07-19 03:27] bowenliang123 commented on #591
请问如果centos7.6不合适，我应该找centos版本多少？docker我没有手动安装，因为在文档上没有看到需要提前安装docker

journalctl -f -u docker
如图
<img width="1440" alt="屏幕快照 2019-07-19 上午11 26 59" src="https://user-images.githubusercontent.com/1935105/61507402-26e52800-aa18-11e9-9d4c-8f163a36941a.png">

[2019-07-19 03:29] bowenliang123 commented on #591
CentOS7.5是一定可以吗？虚拟机安装all-in-one有问题吗？

[2019-07-19 03:35] pixiake commented on #591
centos7.5是可以的，如果机器可以联网的话，用在线安装包也可以支持centos7.6
配置要满足官网的配置需求哦

[2019-07-19 03:55] bowenliang123 commented on #591
噢这样啊。对了，centos的官网和镜像都已经不提供7.5的ISO下载了

[2019-07-19 04:06] pixiake commented on #591
我看这个里边还可以下载  http://vault.centos.org/7.5.1804/isos/x86_64/   用Minimal的应该就可以

[2019-07-19 04:08] pixiake commented on #591
我看这个里边还可以下载 http://vault.centos.org/7.5.1804/isos/x86_64/ 用Minimal的应该就可以

[2019-07-19 04:10] bowenliang123 commented on #591
好，等下我试试7.5
刚才我在用CentOS7.6来装2.0.2在线安装包，结果失败了，帮忙也看看

![image](https://user-images.githubusercontent.com/1935105/61508808-26e82680-aa1e-11e9-90c6-edc10d1df11f.png)

[2019-07-19 04:12] pixiake commented on #591
kubectl  get pod -n kube-system  看下

[2019-07-19 04:13] bowenliang123 commented on #591
![image](https://user-images.githubusercontent.com/1935105/61508882-9100cb80-aa1e-11e9-8331-836334096d48.png)

[2019-07-19 04:13] pixiake commented on #591
重新执行一次安装应该就可以了

[2019-07-19 04:30] bowenliang123 commented on #591
重试了两次，都是一样的报错，失败了

[2019-07-19 04:37] bowenliang123 commented on #591
![image](https://user-images.githubusercontent.com/1935105/61509611-ee4a4c00-aa21-11e9-9542-072c22cca219.png)

[2019-07-19 05:16] pixiake commented on #591
这个报错应该是本地的网络配置导致helm不能正常使用   防火墙或者iptables

[2019-07-19 06:01] bowenliang123 commented on #591
谢谢建议，但还是遇到了新的问题。

关闭防火墙后，重新执行安装成功，并启动。

然后我在指南，部署应用的时候遇到错误。
https://docs.kubesphere.io/advanced-v2.0/zh-CN/quick-start/ingress-demo/

![image](https://user-images.githubusercontent.com/1935105/61512775-8c8fdf00-aa2d-11e9-9e5d-bcdc74902482.png)

查看服务组件的状态，部分正常，部分异常。

![image](https://user-images.githubusercontent.com/1935105/61512802-a3363600-aa2d-11e9-8611-fb7d83ea9770.png)

请问有什么好的建议吗，谢谢

[2019-07-19 06:14] pixiake commented on #591
这个跟环境配置以及带宽有关，如果是单节点的话8c16g是可以正常启动的，机器满足这个配置要求的话，应该等等就正常了

[2019-07-19 06:18] bowenliang123 commented on #591
好的，谢谢！！已经

[2019-07-19 06:18] #591 closed

[2019-07-19 08:30] magicsong commented on #537
Network policy is scheduled to `2.1.0`.

[2019-07-19 08:33] magicsong opened #592 "[Fea] Workspace Network Policy support"

[2019-07-19 12:21] lujs678 commented on #501
还是失败了

![微信图片_20190719202106](https://user-images.githubusercontent.com/30866140/61534657-caf3c100-aa62-11e9-9d40-1da0e60d40cc.jpg)

[2019-07-19 12:22] lujs678 commented on #501
请问成功了吗？

[2019-07-19 12:23] lujs678 commented on #501
请问安装成功了吗

[2019-07-19 12:25] eryajf commented on #501
我在当时还没收到离线包的时候，采用了官方给的那个在线安装方式，然后前天晚上跑了一下，第二天看到自动安装成功了，目前在看各种功能什么的，2.0.2的离线包我没有测试安装，或许你可以尝试把环境还原，然后尝试使用在线安装的包

[2019-07-22 03:41] bowenliang123 opened #594 "能否安装在已有的K8s集群或者阿里云K8s集群上？"
如题，请问能否将Kubesphere安装在已有的K8s集群或者阿里云K8s集群上？
方便在测试环境和生产环境灵活部署和管理。

[2019-07-22 06:56] lilinlinlin commented on #594
参考：https://github.com/pixiake/ks-installer

[2019-07-22 07:03] bowenliang123 commented on #594
好的，我参考一下，看起来不错！

[2019-07-22 08:26] bowenliang123 opened #595 "Multi-Node模式安装失败，Download items任务时报错并终止"
尝试在以1Master+2Node以Multi-Node模式进行部署
在Master节点，以在线版安装包执行 `sudo ./install.sh`后，在以下环节出错并终止。

[code]

请问各位，有没有什么头绪可以帮忙解决？

[2019-07-22 08:27] bowenliang123 commented on #595
附上报错中提到的/home/develop/kubesphere/kubesphere-all-advanced-2.0.2/k8s/roles/download/tasks/download_container.yml

[2019-07-22 08:35] lilinlinlin commented on #595
hosts.ini文件发下看下

[2019-07-22 08:45] bowenliang123 commented on #595
`conf/hosts.ini ` 如下

[code]

[2019-07-22 08:54] bowenliang123 commented on #595
kubesphere在线版安装包对ansible有要求吗，一开始反复提示ansible-playbook命令不存在，我在手动安装yum install ansible 然后才真正开始了流程。

我的系统是阿里云机器，CentOS版本7.6，当前ansible版本为2.8.1

[2019-07-22 08:57] bowenliang123 commented on #595
如果没有手动安装ansible，执行在线版安装包会有如下错误：

[code]

[2019-07-22 09:47] lilinlinlin commented on #595
脚本中会自动安装ansible

[2019-07-22 09:49] bowenliang123 commented on #595
对按道理是应该自动安装吧。但从错误提示来看是脚本在安装ansible时候似乎出现了问题

[2019-07-22 09:49] bowenliang123 commented on #595
https://blog.csdn.net/yanghx9013/article/details/79496527

[2019-07-22 10:46] lilinlinlin commented on #595
把ansible  remove吧，yum remove ansible -y，然后再跑下安装

[2019-07-22 10:48] lilinlinlin commented on #595
对ansible版本有一定要求

[2019-07-22 11:19] bowenliang123 commented on #595
`pip install --upgrade setuptools==30.1.0` 暂时用这个命令，让通过脚本顺利安装ansible了，有机会的话尽量考虑在脚本兼容一下。

这个问题就先关闭了。然后谢谢你的帮助。
我又遇到新的问题，考虑另起issue了。

[2019-07-22 11:19] #595 closed

[2019-07-23 01:47] pixiake commented on #588
@BinWayne 检查下/etc/resolv.conf中是否有不可用的nameserver

[2019-07-23 03:27] cnicy commented on #589
前端据说要Q4才能发布，我们打算自己做一套，开源。
基于ReactJS+AntDesign+UmiJs

[2019-07-24 01:49] TongTrey commented on #586
cpu配置应该还行。
总结一下
1. 最好把不要用内置的gitlab和harbor这样要出各种各样的问题。比如gitlab和harbor相关的容器一直处于init状态，然后iam的db pod创建日志少表需要手动去代码里面找相关sql语句,创建不了devops项目,创建路由不会自动加入注解等等。。。 使用自己单独安装gitlab和harbor均未发现以上问题
2. 发现运行缓慢调大服务器的最大文件打开数即可。
3. 安装除了问题不要尝试反复执行安装脚本这样问题会越来越多，先卸载干净了再安装。
4.内存一定要保证内存16G以上要不会报错内存不足。测试集群安装1个maser1个node即可安装，不用去配置2个node浪费资源，还可以大大的减少安装时间
5. nfs服务器挂载一定要先测试好要不之后创建的pod一直pending哈哈。

最后建议下能不能把脚本拆分开来。要不出问题了想要重装是一个非

[2019-07-24 02:11] pixiake commented on #586
嗯   很好的建议    之后会拆开的    kubesphere部分会单独做成容器化安装

[2019-07-24 10:06] zturning opened #599 "S2I构建镜像时，怎么指定代码分支"
只有一个代码地址的输入，例如我输入的是：https://github.com/zturning/spring-boot-demo.git
请求怎么指定代码分支？

[2019-07-25 01:21] #585 closed

[2019-07-25 01:27] DustFinger001 opened #601 "关于节点调度"
kubesphere 在安装时可以将几个 node 节点进行污点操作，或者让kubesphere服务不在特定的节点运行的办法吗？
我们的环境有几个节点会在加入集群时搭载一些很占用资源的服务（大概1核2G/每个服务）。同时希望能精确的控制节点能搭载的服务数量，所以不希望节点被调度到其他服务（例如 kubesphere自带服务）

还有一个问题，安装好之后，我想要添加节点，在kubesphere环境下可以使用kubeadm 命令加入么？如可以，加入的这个节点会不会脱离 kubesphere 环境（监控、日志等）的管理？

[2019-07-25 02:04] lilinlinlin commented on #599
参考文档，其中第四点   https://kubesphere.io/docs/advanced-v2.0/zh-CN/quick-start/devops-online/

[2019-07-25 02:08] runzexia commented on #599
@soulseen

[2019-07-25 02:08] lilinlinlin commented on #601
1、第一个问题，kubesphere自带服务一般不会调度到别的node节点上，但比如监控和日志一些插件会在node上部署，这也是必要的。
2、第二个问题，有脚本添加节点，只需要添加计算节点IP即可很方便的，也有文档说明。

[2019-07-25 02:16] DustFinger001 commented on #601
@lilinlinlin 第一个问题我可以通过安装好之后再加这些特定节点搞定；
第二个问题之所以需要使用 kubeadm 而不是 kubesphare 自带add 脚本是因为我们添加和删除节点的操作比较频繁，需要自动化逻辑，并且之前已经有基于 kubeadm 的实现，所以想 使用kubeadm 添加。

[2019-07-25 02:27] lilinlinlin commented on #601
如果是那样的话，监控和日志采集相关插件没有在新加的node上部署了

[2019-07-25 02:36] pixiake commented on #601
@DustFinger001 如果镜像里已经有docker和k8s一些组件的话可以直接用kubeadm添加节点，master上执行kubeadm token create --print-join-command生成添加命令，新节点上执行即可。

[2019-07-25 02:41] DustFinger001 commented on #601
@pixiake 我看kubesphere 的k8s 环境使用镜像是 qingyun的repo ，这个是否配置kubeadm 镜像源即可，添加的主机在加入kubesphere之前是否还需要做其他相关配置？

[2019-07-25 03:10] pixiake commented on #601
是的  把swap关掉（swapoff -a）   可以对比下其它节点的kubelet配置

[2019-07-25 03:35] DustFinger001 commented on #601
我加入节点后 新节点的 calico-node 报错
![image](https://user-images.githubusercontent.com/16345979/61843967-5ab8c580-aed0-11e9-8988-c87a9052b6c5.png)

[2019-07-25 10:13] soulseen commented on #599
目前还不支持，切换分支和commitId的功能会在下个版本2.1.0发布

[2019-07-25 10:14] soulseen commented on #599
@zturning

[2019-07-25 12:02] #586 closed

[2019-07-26 07:58] lilinlinlin commented on #601
@DustFinger001  cni需要单独安装，也可以从其他机器拷贝过来试下。

[2019-07-27 09:33] #599 closed

[2019-07-29 08:14] fairychild1 commented on #583
就是类似在平台上调用calico的api接口，然后做展示

[2019-07-29 08:19] bowenliang123 opened #604 "增加镜像搜索功能？"
部署中反复要输入完整的镜像名称，比如目前我用的是阿里云的镜像仓库，每次都要手动填写`仓库地址`+`镜像名称`+`镜像标签`，非常繁琐。

希望增加镜像搜索功能。

在选定仓库秘钥后，
1. 自动填写仓库地址，或者在秘钥的时候配置
2. 根据关键字搜索镜像
3. 列出镜像的标签，以供选择

目前的截图，输入相当繁琐：
![image](https://user-images.githubusercontent.com/1935105/62032440-389aac80-b21c-11e9-91d4-388d41862a10.png)

[2019-07-29 08:22] fairychild1 opened #605 "微服务的流量治理-增加对单次请求的信息展示"
目前微服务的流量治理图里面，能看到总体请求的成功率，服务与服务之间的调用关系，但是缺少单次请求的详细信息展示（比如请求来源的ip，请求时间点，返回时间点等信息），这些信息在日志系统里能搜到，通过搜项目kubesphere-controls-system，然后指定nginx controller，能查看到每个请求的具体日志，这些信息可以提取出来，放到流量治理里面，这些信息对用户来说是有意义的。
![通威服务调用展示](https://user-images.githubusercontent.com/15730272/62032781-15bcc800-b21d-11e9-9516-c9f66fe24370.png)

[2019-07-29 08:24] fairychild1 opened #606 "微服务的流量治理-对异步事件的支持"
后期是否会考虑，在流量治理里，增加对异步事件，比如通过kafka，rocketmq等消息中间件等传播的事件的支持。

[2019-07-29 09:48] magicsong opened #611 "test prow"

[2019-07-29 09:48] magicsong commented on #611
/kind ci

[2019-07-29 09:49] magicsong commented on #611
/kind bug

[2019-07-29 10:06] magicsong commented on #611
/area doc

[2019-07-29 10:07] #611 closed

[2019-07-29 12:43] zryfish commented on #605
/area microservice

[2019-07-31 04:22] wanghonglei5181 opened #615 "devops工程的流水线编辑不能用鼠标滚轮缩放"

[2019-07-31 04:26] wanghonglei5181 opened #616 "devops流水线编辑，不能提示具体错误"
在编辑流水线时，点击保存后仅有提示的有错误，但是没现实哪里有错误。

[2019-07-31 09:12] DustFinger001 commented on #601
@lilinlinlin 怎么单独安装？ 我把其他节点的 /opt/cni/bin/ 二进制文件都拷贝过来了，ipvsadm 也安装了，还是一样报 Unable to update cni config: No networks found in /etc/cni/net.d

[2019-08-01 03:37] lilinlinlin commented on #601
https://lilinlinlin.github.io/2019/07/28/k8s1-15%E5%AE%89%E8%A3%85/#more
 可以看下这个文章，kubeadm join之前需要安装cni插件

[2019-08-01 03:37] lilinlinlin commented on #601
@DustFinger001

[2019-08-01 07:14] aidocker opened #618 "KubeSphere 2.0.2 Source-to-image 模式 一直转圈等待"
更换了仓库地址 https://gitee.com/aidocker/devops-java-sample.git  依然不行
没有错误日志输出，抱歉

[2019-08-01 07:19] aidocker commented on #618
![s2i](https://user-images.githubusercontent.com/17754488/62273277-bb677580-b46f-11e9-8d56-e97dc09853dd.png)

[2019-08-01 07:25] zryfish commented on #618
/assign @runzexia
/area devops

[2019-08-01 08:35] zryfish commented on #616
能附上重现步骤，环境信息，和错误截图么

[2019-08-01 08:43] DustFinger001 commented on #601
这个问题解决了，需要拷贝其他节点的证书文件conflist 文件修改为当前节点的信息，然后还需要在join后配置 kubeconf 路径。
现在有个疑问：是否其他机器上的证书文件都是由etcd生成并统一分发的（内容都是相同？）
ps：我看安装脚本里的逻辑，应该是在安装时生成，然后同步到各个节点。这个结论是否正确？

[2019-08-01 08:46] runzexia commented on #616
这个问题已经发现前端同学在修复了
@minghaoye

[2019-08-01 08:51] minghaoye commented on #615
win10
chrome 76.0.38.09.87 64bit
其它浏览器也没有复现，可以重装一下chrome试一下

[2019-08-01 08:53] minghaoye commented on #616
已和wanghonglei5181 沟通了，需要在右侧 agent 中输入 label 参数，这个 2.1 我们优化一下

[2019-08-01 09:07] geniussheep opened #619 "想知道 KubeSphere的 ingress-controller 的节点的名称 和命名空间 我要去看看ingress内的nginx的配置"

[2019-08-01 09:10] zryfish commented on #619
kubesphere-controls-system 下名称为  kubesphere-router-[namespaces] 的 deployment 是 namespace 对应的 ingress controller 部署名称

[2019-08-01 09:16] zryfish commented on #604
这是一个很好的建议，我们这边看下怎么优化下

[2019-08-01 09:21] zryfish commented on #446
https://kubesphere.io/docs/advanced-v2.0/zh-CN/api-reference/api-docs/ API 文档已经整理好上线了

[2019-08-01 09:21] bowenliang123 commented on #604
在我设想中
1.先选仓库秘钥（否则不选就优先使用内置Harbor仓库），在仓库秘钥配置时候填入对应仓库地址。

2.然后用类似docker search命令的功能，来搜索指定仓库下的镜像
(https://docs.docker.com/engine/reference/commandline/search/)

3.进而使用仓库API列出镜像下的所有tag，以供选择 (https://stackoverflow.com/questions/28320134/how-to-list-all-tags-for-a-docker-image-on-a-remote-registry)

[2019-08-01 10:05] aidocker commented on #618
![fail](https://user-images.githubusercontent.com/17754488/62284795-f0cb8d80-b486-11e9-8a24-066490bb902e.png)
问题找到了，请关闭吧

[2019-08-01 10:22] zryfish commented on #618
一般这种情况是创建deployment的时候指定了requests，k8s会预留资源，即使实际没有用到那么多。可以通过 kubectl top node 和 kubectl -n [namespace] top pod 来查看资源的使用情况，降低pod的requests值

[2019-08-01 15:17] lilinlinlin commented on #601
etcd存数据的，证书是别的方式生成的。配置文件和当前节点是有关系的。结论是对的。

[2019-08-02 01:20] #618 closed

[2019-08-02 09:35] lujs678 opened #622 "centos7.5 2.0.2离线安装失败"
centos 7.5 minimal版本
安装最新的离线版，在安装docker时候报错了
![捕获](https://user-images.githubusercontent.com/30866140/62360670-f212be00-b54b-11e9-8303-ba0aaf5f430f.PNG)

[2019-08-02 10:29] liangyuanpeng commented on #591
@pixiake

你好，帮忙看看我这个问题，谢谢！
[code]

OS : Centos7.6
配置符合要求

[2019-08-02 10:46] pixiake commented on #591
@liangyuanpeng   执行下yum  install  jq  看看

[2019-08-02 11:07] pixiake commented on #622
vim k8s/inventory/local/hosts.ini     可以在第一行最后加上  ip={当前机器的ip} 这个参数试下

[2019-08-02 13:24] liangyuanpeng commented on #591
@pixiake

没有jq这个package，我下了jq的二进制包放在``/usr/bin``目录下，没有起作用，但是jq这个命令是可以的

[code]

[code]

[2019-08-02 13:47] pixiake commented on #591
@liangyuanpeng 是用的自己的yum源吗？官方的yum源应该是有jq的

可以在kubesphere/roles/prepare/nodes/tasks/main.yaml中注释掉安装jq的相关tasks

[2019-08-02 13:59] rayzhou2017 commented on #589
初步定在10月中旬。

[2019-08-03 00:41] hungtcs commented on #589
@rayzhou2017 Thanks for your answer.

[2019-08-05 01:05] lujs678 commented on #622
还是不行，最后报一样的错误
![image](https://user-images.githubusercontent.com/30866140/62432084-2959b880-b760-11e9-8301-ae4d8b0aa8ce.png)

[2019-08-05 01:45] pixiake commented on #622
@lujs678 第一行这样配试下，ip换成自己的，如果有网的话建议联网安装
ks-allinone ansible_connection=local ip=192.168.0.2

[local-registry]
ks-allinone

[kube-master]
ks-allinone

[etcd]
ks-allinone

[kube-node]
ks-allinone

[k8s-cluster:children]
kube-node
kube-master

[2019-08-05 01:56] lujs678 commented on #501
发现好像缺了几个镜像？
sidecar_injector:1.1.1  这个我自己下载解决了，还有个
kubesphere/ks-console:advanced-2.0.2    这个也没有

[2019-08-05 03:43] lilinlinlin commented on #501
@lujs678   2.0.2离线版本官网已经发布了。

[2019-08-05 05:16] minghaoye commented on #615
抱歉，我们又重新测试了一些case，复现了这个问题。2.1我们会修复。
可以先用 firefox 体验

[2019-08-05 05:37] #619 closed

[2019-08-05 05:37] #616 closed

[2019-08-05 05:38] #205 closed

[2019-08-05 05:40] #292 closed

[2019-08-05 05:41] zryfish commented on #411
离线安装包已经提供，可以在官网找到下载链接

[2019-08-05 05:41] #411 closed

[2019-08-05 05:42] #446 closed

[2019-08-05 05:43] zryfish commented on #531
/area installation

[2019-08-05 05:43] zryfish commented on #622
/area installation

[2019-08-05 05:43] zryfish commented on #615
/area devops
/kind bug

[2019-08-05 05:45] zryfish commented on #588
/area installation

[2019-08-05 10:23] Liuyanglong opened #623 "kubesphere-all-offline-advanced-2.0.0 离线安装提示 Failed connect to 192.168.10.137:5080; Connection refused"
如题。
mount成功，但是一直提示Failed connect to 192.168.10.137:5080; Connection refused，求解。

[2019-08-06 02:05] lilinlinlin commented on #623
报错提示，安装源不能用。该环境是停机过吗？解决方法：重新执行下安装脚本。

[2019-08-06 02:29] fairychild1 opened #625 "建议集成镜像扫描工具clair"
clair做镜像的安全扫描，社区认可度很高，比harbor做的好。

[2019-08-06 03:44] DustFinger001 opened #626 "日志关键词搜索很不好用！"
现在日志关键词搜索很不方便，英文搜索只能单个词进行搜索，不能写短语或者句子；中文只能单个字搜索，不能搜索一个完整词，完整词会被分割成多个字搜索。这样的搜索结果对于日志量大的环境很不实用，希望能完善短语和词进行搜索的功能。

[2019-08-06 05:28] Liuyanglong commented on #623
@lilinlinlin  重新执行过多次，一直报这个错，可以手动配置安装源吗？我的环境是vmware的虚拟机。

[2019-08-06 05:32] benjaminhuo commented on #626
你好，现在英文支持句子的搜索，如下图所示，您说的不能搜索是在什么情况下产生的，可以给个示例吗？ 中文搜索需要支持中文分词的 es，这个我们后面会提供。现在也可以在设置里指向外部有中文分词的 es 来解决。

![Snip20190806_44](https://user-images.githubusercontent.com/18525465/62513409-964b7c00-b84e-11e9-8929-0e3c2dd32505.png)

![Snip20190806_45](https://user-images.githubusercontent.com/18525465/62513433-9ea3b700-b84e-11e9-8154-5c9d67dcc7c7.png)

[2019-08-06 05:43] Liuyanglong commented on #623
@lilinlinlin 发现了这两个容器，但是failed，启动后提示端口被占用，我全部删掉并kill docker重启，仍然报端口被占用的错。
![image](https://user-images.githubusercontent.com/1468470/62513898-10303500-b850-11e9-966e-3e9088a71da5.png)
![image](https://user-images.githubusercontent.com/1468470/62513908-19b99d00-b850-11e9-96e9-eb351ff16435.png)

[2019-08-06 05:52] DustFinger001 commented on #626
英文搜索的精确搜索能否精确到短语或句子匹配 比如说 “test result“ 短语作为一个关键字，搜索结果应该只包含 “test result“ 短语，而不是仅包含 “test” 或 “result”，又或两个单词分开的；
或者只包含“test result”应该最优先展示；否则有可能搜索出很多内容，而有用的仅仅只有几条， 还要在结果集中查询很久。

[2019-08-06 05:54] benjaminhuo commented on #626
明白 你指的像用搜索引擎那样，在句子两边加引号，精确匹配整句的效果
我们会改进

[2019-08-06 05:56] DustFinger001 commented on #626
@benjaminhuo 期待下一版本的改进，会一直关注kubesphere。

[2019-08-06 06:44] lilinlinlin commented on #623
1、环境是vmware的虚拟机没关系的。
2、uninstall.sh运行这个脚本先卸载下，再安装。
3、这两个服务就是离线安装源转发的服务和镜像存放的服务。

[2019-08-06 06:46] lilinlinlin commented on #623
vmware的虚拟机，如果打通了外网，可以使用在线安装，就不会有这两个服务。
@Liuyanglong

[2019-08-07 03:11] Liuyanglong commented on #623
@lilinlinlin  已经解决，是docker-proxy 和 docker-runc两个命令没在PATH中原因导致，感谢~

[2019-08-07 03:11] #623 closed

[2019-08-07 15:09] lujs678 commented on #501
单机版安装成功了

[2019-08-07 15:09] #501 closed

[2019-08-07 15:09] lujs678 commented on #622
已解决

[2019-08-07 15:10] #622 closed

[2019-08-07 15:25] lujs678 opened #629 "redhat7.4 集群离线安装失败"
单机版安装解决了，到集群安装又出问题了
在ssh 登录处处报错了

fatal: [hippo04kf]: FAILED! => {"changed": true, "msg": "non-zero return code", "rc": 5, "stderr": "Warning: Permanently added '99.13.XX.XX' (ECDSA) to the list of known hosts.\r\nPermission denied, please try again(publickey,gssapi-keyex,gssapi-with-mic).\r\n", "stderr_lines": ["Warning: Permanently added '99.13.XX.XX' (ECDSA) to the list of known hosts.", "Permi

[2019-08-08 01:57] lilinlinlin commented on #629
hosts.ini贴下

[2019-08-08 03:32] lujs678 commented on #629
[all]
hippo02kf ansible_connection=local  ip=99.XX.XXX.134
hippo03kf ansible_host=99.XX.XXX.135  ip=99.XX.XXX.135 ansible_user=tester ansible_ssh_pass=@@@@@@
hippo04kf ansible_host=99.XX.XXX.136  ip=99.XX.XXX.136 ansible_user=tester ansible_ssh_pass=@@@@@@

[local-registry]
hippo02kf

[kube-master]
hippo02kf

[kube-node]
hippo03kf
hippo04kf

[etcd]
hippo02kf

[k8s-cluster:children]
kube-node
kube-

[2019-08-08 03:33] lujs678 commented on #629
我这边的机器账号大概是这样：tester有root权限，我能拿到tester密码，root密码没有
ssh登陆我只能通过tester账号密码登录。

[2019-08-08 03:40] soulseen commented on #604
@bowenliang123 第二步搜索指定仓库下的镜像是否需要优化
1. 当用户选择密钥后(不选默认dockerhub？)，可以在代码上做下处理，不需要填入registry地址。
2. 然后需要用户输入repo name(organization name)，dockerhub 是以用户名称作为repo名称，harbor可自定义。 local registry 可能镜像name就是repo名称，这部分会有多种情况，需要优化。
3. 然后搜索repo下的镜像。如果是local registry, 镜像name作为repo名称，则是搜索tag。
4. 进而搜索tag。

[2019-08-08 05:41] lilinlinlin commented on #629
只贴了all的格式，ansible_ssh_pass改成ansible_become_pass，最后执行脚本时，需要转成root用户执行。
[all]
master ansible_connection=local  ip=192.168.0.5  ansible_user=tester  ansible_become_pass=@@@@@@
node1  ansible_host=192.168.0.6  ip=192.168.0.6  ansible_user=tester  ansible_become_pass=@@@@@@

[2019-08-08 06:34] jingwanglong commented on #452
现在可以一键在existing k8s上安装kubeSphere了吗？kubeSphere支持kubernetes 1.13.8或者更高版本？

[2019-08-08 14:04] pixiake commented on #452
@jingwanglong 可以参考https://github.com/pixiake/ks-installer尝试在existing k8s安装

[2019-08-08 14:04] pixiake commented on #452
@jingwanglong 可以参考https://github.com/pixiake/ks-installer   尝试在existing k8s安装

[2019-08-08 15:17] lujs678 commented on #629
可以了谢谢，没留意到这点区别。
现在又有新问题
node节点加入集群报token失效，但明显没有
Failed to connect to API Server \"99.XX.XXX.134:6443\": token id \"zfhjqa\" is invalid for this cluster or it has expired.

再之前报了个这么错误
{"changed": false, "msg": "error running kubectl (/usr/local/bin/kubectl apply --force --filename=/etc/kubernetes/k8s-cluster-critical-pc.yml) command (rc=1), out='', err='error: unable to recognize \"/etc/kubernetes

[2019-08-09 01:53] lilinlinlin commented on #629
现在的k8s正常了没，添加node，是可以脚本还是手动添加的呢

[2019-08-09 02:34] lujs678 commented on #629
这个是执行集群安装脚本时候报错的，手动kebeadm join也报一样的错，token重新生产也一样

[2019-08-09 03:48] geli2016 opened #630 "centos7.6 all-in-one安装2.0.2失败"
在centos7.6下离线安装kubesphere-all-offline-advanced-2.0.2报yum源错误。
环境的硬件配置如下：（虚拟机）
1节点：8cpu/16g
复现步骤：
未修改conf/vars.yaml
直接运行./install.sh
选择1
See error

################################################
         KubeSphere Installer Menu
################################################
*   1) All-in-one
*   2) Multi-node
*   3) Quit
################################################
https://kubesphere.io/

[2019-08-09 03:52] geli2016 commented on #630
/kubeinstaller/yum_repo/目录下是空的。

[2019-08-09 03:53] shaowenchen opened #631 "KS First 原则设计建议"
建议，设计保护机制：

- 优先保证 KS 集群稳定运行，服务分级
- 当前运行 workload 不受影响

遇到的问题，在机器高负载情况下，继续增加副本数量，导致集群停止服务。

![image](https://user-images.githubusercontent.com/43693241/62752988-377b4200-ba9c-11e9-9e39-7522f095a2ba.png)

[2019-08-09 04:01] shaowenchen opened #632 "页面上，需要增加一个能直接进入容器的入口，方便调试、排查问题"
![image](https://user-images.githubusercontent.com/43693241/62753245-53331800-ba9d-11e9-828d-9424598b8f5d.png)

[2019-08-09 04:02] lilinlinlin commented on #630
centos7.6系统还不支持离线下载部署。可以用centos7.4或7.5或在线部署。

[2019-08-09 04:04] pixiake commented on #630
如果环境可以联网，建议使用在线安装，支持centos7.6

[2019-08-09 04:06] wanghaiqing2015 opened #633 "kubesphere能否独立使用呢"
我想自己部署的k8s，可以采用kubesphere的dashboard吗

[2019-08-09 04:08] geli2016 commented on #630
在线centos7.6下安装依然遇到同样问题。

################################################
         KubeSphere Installer Menu
################################################
*   1) All-in-one
*   2) Multi-node
*   3) Quit
################################################
https://kubesphere.io/               2019-08-09
################################################
Please input an option: 1
1
Loaded plugins: fast

[2019-08-09 04:17] pixiake commented on #630
刚才执行离线安装修改的yum源，先还原一下 ，/etc/yum.repo.d  有备份

[2019-08-09 05:18] lilinlinlin commented on #633
参考这部署过程。https://github.com/pixiake/ks-installer，后续会放到kubesphere下。

[2019-08-09 05:20] lilinlinlin commented on #629
1、执行安装是确定是用root用户去安装的吗？k8s是正常的吗？
2、可以卸载重新安装一遍。

[2019-08-09 07:32] geli2016 commented on #630
是这个问题。解决了。

[2019-08-09 07:34] geli2016 commented on #630
在线部署对网络不低啊。。。还是想离线部署，centos哪个版本支持呢？

[2019-08-09 08:09] wanghaiqing2015 commented on #633
非常感谢，这个dashboard，我都感觉比帮忙安装k8s更好一点。毕竟安装很容易。

[2019-08-09 08:50] lilinlinlin commented on #630
centos7.4或7.5可以离线部署

[2019-08-11 11:21] yangjianchun opened #637 "Skipping acquire of configured file 'main/binary-i386/Packages' as repository 'xxx' doesn't support architecture 'i386'"
系统ubuntu 19.04
deb https://mirrors.tuna.tsinghua.edu.cn/docker-ce/linux/ubuntu disco stable
apt update 会提示
Skipping acquire of configured file 'main/binary-i386/Packages' as repository 'xxx' doesn't support architecture 'i386'

请问下是操作系统版本的问题吗？

[2019-08-11 13:21] lujs678 commented on #629
可以安装成功了，但是监控有个容器启动失败

![Uploading 微信图片_20190811204240.jpg…]()
![Uploading 微信图片_20190811204242.jpg…]()
![微信图片_20190811204244](https://user-images.githubusercontent.com/30866140/62834382-f04ca700-bc7d-11e9-8202-891da84d39bc.jpg)

[2019-08-12 01:50] lilinlinlin commented on #629
安装成功之后，如果资源充足，后面的pod会正常启来。

[2019-08-12 01:52] lilinlinlin commented on #637
是的，离线可以使用18.05以下的版本；机器可以连外网的话，19.04也可以。

[2019-08-12 03:50] yangjianchun commented on #637
但是我服务器 16核24G  在线安装会提醒上诉那个  deb https://mirrors.tuna.tsinghua.edu.cn/docker-ce/linux/ubuntu disco stable  这个是脚本安装自动加到源里面 doesn't support architecture 'i386'

[2019-08-12 06:47] lilinlinlin commented on #637
在线安装，将刚才执行离线安装修改的yum源，先还原一下 ，/etc/yum.repo.d 有备份

[2019-08-12 07:19] lilinlinlin commented on #637
ubuntu系统回复这个文件/etc/apt/sources.list，上面的是centos系统的。

[2019-08-12 08:36] zryfish commented on #626
/area logging
/kind enforcement

[2019-08-12 08:40] geniussheep opened #641 "用户体验的建议"
提两点建议，界面操作方面的：
1.能否将 应用仓库的 同步功能 在应用模板那个界面也有个地方 可以一键同步所有的应用仓库模板 或者用户自己选择 要同步那个 应用模板
2. 能否在 命名空间-》项目-》部署那块 直接关联到 这个部署节点 对应的 devops流水线 去新建 CI/CD任务 这样不用 项目和Devops 不停的切换 感觉更加方便

[2019-08-12 08:40] zryfish commented on #633
/area installation

[2019-08-12 08:42] zryfish commented on #632
进入容器指的想查看容器的日志么，还是连接容器的终端

[2019-08-12 08:44] shaowenchen commented on #632
连接容器的 console

[2019-08-12 09:11] zryfish commented on #625
Harbor 默认集成了 Clair，镜像扫描就是clair

[2019-08-12 09:12] zryfish commented on #583
/area networking
/kind design

[2019-08-12 09:13] zryfish commented on #641
/kind enhancement
/kind documentation

[2019-08-12 09:33] #486 closed

[2019-08-13 03:06] cnicy opened #642 "make error"
为什么使用了GoProxy 在make或者build源码的时候还是报错：timeout
[code]

[2019-08-13 03:14] runzexia commented on #642
GOPROXY是如何设置的呢？

[2019-08-13 07:06] BinWayne commented on #588
不好意思各位，是我的配置问题，4 CPU
谢谢各位大神！ @pixiake @zryfish  @lilinlinlin

[2019-08-13 07:06] #588 closed

[2019-08-13 07:54] cnicy commented on #642
@runzexia
[code]

[2019-08-13 07:58] runzexia commented on #642
看timeout的地址，是GOPROXY没生效，可以尝试一下直接go build/go run apiserver

[2019-08-13 08:50] #420 closed

[2019-08-13 08:55] #629 closed

[2019-08-13 09:39] Liuyanglong opened #644 "centos7.4 2.0.2离线安装后，系统重启服务不恢复"
如题，系统为centos 7.4部署2.0.2离线版成功，reboot后服务始终无法启动成功。
执行命令：
`kubectl get pods --all-namespaces`
可看出处于Running状态的只有30多个，且过了几个小时一直如此。
![image](https://user-images.githubusercontent.com/1468470/62928382-062baa80-bdeb-11e9-8d0c-dd80d044c7db.png)
![image](https://user-images.githubusercontent.com/1468470/62928404-0fb51280-bdeb-11e9-86f8-d63640713666.png)

[2019-08-13 09:42] zryfish commented on #644
kube-system下的 coredns 没有起来，看下coredns的错误日志

[2019-08-13 10:53] Liuyanglong commented on #644
重启了一次系统，现在的环境是这样的：

[2019-08-13 10:54] Liuyanglong commented on #644
![image](https://user-images.githubusercontent.com/1468470/62936153-a4277100-bdfb-11e9-8f2d-f57d7026619d.png)
![image](https://user-images.githubusercontent.com/1468470/62936157-aab5e880-bdfb-11e9-85fd-a91f4f4a9a6d.png)
console依然上不去，之前部署的应用也访问不了。
@zryfish

[2019-08-13 10:56] Liuyanglong commented on #644
![image](https://user-images.githubusercontent.com/1468470/62936263-ed77c080-bdfb-11e9-9124-2ee163ca09a5.png)
![image](https://user-images.githubusercontent.com/1468470/62936295-02545400-bdfc-11e9-847c-3cf3a7833556.png)

@zryfish

[2019-08-13 10:59] Liuyanglong commented on #644
我执行命令：
kubectl get svc --all-namespaces|grep '10.233.0.1'
结果如下多出来一个default namespace，我记得kubesphere中是没有default组的。

![image](https://user-images.githubusercontent.com/1468470/62936488-7d1d6f00-bdfc-11e9-9c17-40a7984d90d1.png)

[2019-08-13 15:11] FeynmanZhou commented on #633
@wanghaiqing2015  社区用户在已有k8s上安装的经验分享：

https://mp.weixin.qq.com/s/FcCBXs-f_VsNPp9qdMDfNQ

[2019-08-13 15:25] #642 closed

[2019-08-14 02:37] zryfish commented on #644
coredns 无法连接 apiserver，可以执行 ipvsadm -Ln 看下 6443 端口是否对应主节点地址

[2019-08-14 10:32] Leboudin commented on #632
https://kubesphere.io/docs/advanced-v2.0/zh-CN/quick-start/one-click-deploy/

[2019-08-14 15:25] k0ngk0ng opened #646 "配置版本建议"
能否对配置（ConfigMap和Secret）保留版本历史，方便回滚应用时选择对应的配置版本

[2019-08-14 15:59] cnicy opened #647 "run ks-iam bear token exception"
make all成功编译源码后，在goland运行ks-iam模块的main方法时，报错：
[code]
我是在mac上运行，在/var/run/secrets/kubernetes.io/serviceaccount目录下生成了token的ca.crt两个文件，这两个文件token和ca证书内容是从哪个workspace下的serviceaccount中来的？

[2019-08-15 02:12] wansir commented on #647
你好，ks-iam 依赖的外部服务有kube-apiserver,redis,openldap，该错误信息是因为--kubeconfig 没有正确指定，无法同步k8s 中RBAC相关数据, 如果是在本地环境可以 使用该kubeconfig 验证一下能否通过 `kubectl get roles` 拿到数据

必传参数如下
[code]

[2019-08-15 08:19] geli2016 opened #648 "console报错internal server error，log报redis错误。"
console报错internal server error。看ks-console的pod log，有如下报错。

  <-- POST /logout 2019/08/15T07:57:27.111
  xxx POST /logout 500 7ms - 2019/08/15T07:57:27.118
ERR { ReplyError: MISCONF Redis is configured to save RDB snapshots, but it is currently not able to persist on disk. Commands that may modify the data set are disabled, because this instance is configured to report errors during writes if RDB s

[2019-08-15 08:21] yangjianchun commented on #637
TASK [prepare/nodes : GlusterFS | Installing glusterfs-client (APT)] ***************************************************************************************************************************************
Thursday 15 August 2019  16:13:50 +0800 (0:00:00.073)       0:00:40.757 *******
FAILED - RETRYING: GlusterFS | Installing glusterfs-client (APT) (5 retries left).
FAILED - RETRYING: GlusterFS | I

[2019-08-15 08:29] leoendless commented on #648
可以看下 kubectl -n kubesphere-system get deploy/redis -o yaml 的结果吗

[2019-08-15 08:29] yangjianchun commented on #637
是在线安装的

[2019-08-15 08:34] geli2016 commented on #648
[root@ks-allinone ~]# kubectl -n kubesphere-system get deploy/redis -o yaml
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"extensions/v1beta1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"redis","tier":"database","version":"redis-4.0

[2019-08-15 08:35] pixiake commented on #637
错误提示doesn't support architecture 'i386'       在kubesphere/roles/prepare/nodes/tasks/main.yaml注释掉glusterfs-client相关任务

[2019-08-15 08:36] lilinlinlin commented on #637
kubesphere生产环境可用了，操作系统要用64位的，如果不用glusterfs，可以把该安装glusterfs客户端那步注释。

[2019-08-15 08:41] haiker2011 commented on #630
今天在centOS7.6上面实验离线版遇到了同样的问题

[2019-08-15 08:48] zryfish commented on #648
看下redis pod的日志

[2019-08-15 08:53] geli2016 commented on #648
........
614:C 15 Aug 08:52:59.020 # Failed opening the RDB file dump.rdb (in server root dir /data) for saving: Permission denied
1:M 15 Aug 08:52:59.122 # Background saving error
1:M 15 Aug 08:53:05.056 * 1 changes in 3600 seconds. Saving...
1:M 15 Aug 08:53:05.057 * Background saving started by pid 615
615:C 15 Aug 08:53:05.057 # Failed opening the RDB file dump.rdb (in server root dir /data) f

[2019-08-15 09:03] lilinlinlin commented on #630
在线可以支持centos7.6 ；离线centos7.6版本安装脚本刚做好，不久应该会推出来。
如果你真需要的话，可以单独发给你。

[2019-08-15 09:13] zryfish commented on #648
挂盘的权限不够，导致redis无法做持久化，你的存储用的是什么

[2019-08-15 09:15] geli2016 commented on #648
all-in-one安装。local volume

[2019-08-15 09:16] wansir opened #650 "向企业空间中添加成员报错"
**Describe the bug(描述下问题)**

向企业空间中添加成员的时候报错

![image](https://user-images.githubusercontent.com/8263040/63086827-46be2c00-bf83-11e9-95c4-15566bce8666.png)

[code]

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.0.2

**To Reproduce(复现步骤)**

1. 创建一个cluster-regular 用户u1
2. 将u1添加到workspace ws1中，角色为workspace-regular
3. 当ws1中只有u1这一个workspace-regular成员的时候删除用户u1
4. 再向ws1中添加workspace-regular成员的

[2019-08-15 09:24] haiker2011 commented on #630
@lilinlinlin 可以啊，我们正好可以帮你们测试一下

[2019-08-15 10:48] lilinlinlin commented on #630
链接：https://pan.baidu.com/s/1HBlBaD69mx6z050sSgj0Kg
提取码：eqe6
把该iso放到离线环境的kubesphere-all-offline-advanced-2.0.2/Repos/下，重新跑

[2019-08-15 11:24] wuchencm opened #651 "kubesphere v2.0.2 离线安装失败，提示Failed to create 'IPPool' resource: resource already exists: IPPool(default-pool)""
os: centos 7.6

fatal: [ks-allinone -> ks-allinone]: FAILED! => {"changed": true, "cmd": "echo \"\n{ \"kind\": \"IPPool\",\n\"apiVersion\": \"projectcalico.org/v3\",\n\"metadata\": {\n\"name\": \"default-pool\",\n},\n\"spec\": {\n\"cidr\": \"11.233.64.0/18\",\n\"ipipMode\": \"Always\",\n\"natOutgoing\": True }} \" | /usr/local/bin/calicoctl create -f -", "delta": "0:00:00.794658", "end": "2019-08-

[2019-08-15 13:29] haiker2011 commented on #630
@lilinlinlin 谢谢！

[2019-08-15 15:36] lilinlinlin commented on #651
1、该机器之前是安装过k8s吗？
2、目前centos7.6离线部署还不支持，如果需要的话，
链接：https://pan.baidu.com/s/1HBlBaD69mx6z050sSgj0Kg
提取码：eqe6
把该iso放到离线环境的kubesphere-all-offline-advanced-2.0.2/Repos/下，重新跑

[2019-08-16 02:50] haiker2011 commented on #630
@lilinlinlin 你好，添加上你给的ISO之前的问题解决了，但是在安装requirements.txt时候出现在了问题。

[code]

应该是ansible==2.7.6安装时找不到对应的版本。

[2019-08-16 03:10] geli2016 commented on #648
redis pod 下，/data挂载的是redis-pvc。redis-pvc绑定的pv是vol-23.
这个文件的权限如下：
[root@ks-allinone ~]# ll /mnt/disks | grep vol-23
drwxr-xr-x.  2 root    root        6 Aug 14 10:34 vol-23

[2019-08-16 05:04] wuchencm opened #652 "v2.0.2在线安装失败"
错误提示：
fatal: [ks-allinone]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-sonarqube /etc/kubesphere/sonarqube/sonarqube-0.13.5.tgz -f /etc/kubesphere/sonarqube/custom-values-sonarqube.yaml --namespace kubesphere-devops-system", "delta": "0:00:03.081434", "end": "2019-08-16 00:18:35.083017", "msg": "non-zero return code", "rc": 1, "start": "2019-08-16 00:18:32.001583

[2019-08-16 05:05] wuchencm commented on #652
ping 20.233.0.1 is ok
telnet 20.233.0.1 443 is ok

[2019-08-16 05:15] pixiake commented on #652
检查下是不是机器防火墙还开着   建议关掉

[2019-08-16 05:21] lilinlinlin commented on #630
@haiker2011  先把之前的iso umount掉，重新执行

[2019-08-16 05:59] alexshenyuefei opened #653 "安装报错 ansible"
系统 CentOS Linux release 7.5.1804 (Core)
离线安装   系统是新的
![image](https://user-images.githubusercontent.com/16495430/63146586-fea81380-c02d-11e9-8e7a-55d69e26766a.png)
报错

[2019-08-16 06:00] alexshenyuefei commented on #653
![image](https://user-images.githubusercontent.com/16495430/63146644-3a42dd80-c02e-11e9-8bde-ba195f762aff.png)

[2019-08-16 06:14] zryfish commented on #653
/area installation

[2019-08-16 06:14] zryfish commented on #652
/area installation

[2019-08-16 06:14] zryfish commented on #651
/area installation

[2019-08-16 06:19] zryfish commented on #646
kubesphere基于k8s，目前k8s没有保留configmap和secret的历史版本。可以将应用所需要到的 yaml 文件使用 git 来管理，通过 git 来回滚配置

[2019-08-16 06:39] lilinlinlin commented on #630
ansible是pip安装的，不包括在requirement里

[2019-08-16 06:46] cnicy commented on #647
[code]
这是正常的，我在本地运行代码（ks-iam）的main方法，他提示找不到这两个文件：
/var/run/secrets/kubernetes.io/serviceaccount/token
/var/run/secrets/kubernetes.io/serviceaccount/ca.crt
我看了下代码，这个是fluent-bit配置文件，token和ca.crt这两个文件内容从那里找得到。另外--kubeconfig这个文件内容有哪些呢？应该怎么配置。

[2019-08-16 06:47] cnicy commented on #647
直接运行报这个错：I0816 14:47:20.022576    6156 k8sclient.go:52] open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory

[2019-08-16 09:41] wuchencm commented on #652
确实是防火墙，systemctl stop firewalld后可以安装了，但是我始终没有在web ui里找到可以连接容器terminal的链接

[2019-08-16 09:48] rayzhou2017 commented on #652
system workspace docker terminal没有暴露出来，你需要自己创建pod，然后一直钻取下去到docker 级别就能看到，下一个版本会把terminal提升到pod 页面。

[2019-08-16 10:00] wuchencm commented on #652
![image](https://user-images.githubusercontent.com/14210543/63160182-c0bbe700-c04f-11e9-88fa-02a243bbe67f.png)
一直卡在这里，最终会失败

[2019-08-16 10:14] lilinlinlin commented on #652
free -m看下资源

[2019-08-16 10:15] wuchencm commented on #652
[root@ks-allinone ~]# free -m
              total        used        free      shared  buff/cache   available
Mem:           7805        4979         174          44        2650        1969
Swap:             0           0           0

[2019-08-16 10:15] wuchencm commented on #652
![image](https://user-images.githubusercontent.com/14210543/63161112-e21dd280-c051-11e9-803c-b2e2504f9675.png)

[2019-08-16 10:18] lilinlinlin commented on #652
echo 3 > /proc/sys/vm/drop_caches    指令释放下内存

[2019-08-16 11:25] wuchencm commented on #652
释放后依然会失败，我虚拟机 内存已经给了12G

[2019-08-16 11:38] wuchencm commented on #652
![image](https://user-images.githubusercontent.com/14210543/63165239-6c1f6880-c05d-11e9-9006-9c6e6516c827.png)

[2019-08-16 13:25] lilinlinlin commented on #653
@alexshenyuefei  可参考：https://github.com/kubesphere/ks-installer/issues/16

[2019-08-16 14:34] pixiake commented on #652
可以kubectl   describe看下这几个没起来的pod，应该是内存不足

[2019-08-16 14:38] pixiake commented on #630
可以手动umount一下/kubeinstaller/pip_repo/pip27/iso    或者重启机器    应该可以解决该问题

[2019-08-16 16:22] k0ngk0ng opened #654 "有没有支持kustomize的计划"
k8s 1.14 有 kustomize 可以很好的控制 deployment，是否考虑在支持1.14后，在UI中加入对kustomize 的支持？

[2019-08-17 00:27] rayzhou2017 commented on #654
通常情况KubeSphere会支持最新k8s版本及两个旧版本，如果1.14支持kustomize，那意味着需要等1.16出来之后考虑这个需求。

[2019-08-17 00:28] rayzhou2017 commented on #654
/kind design
/area deployment

[2019-08-17 08:11] #650 closed

[2019-08-18 16:53] hyhy01 commented on #452
我用all in one方式装了之后消耗10g内存，笔记本i7消耗70%，确实希望可以选择部分安装

[2019-08-19 11:16] #646 closed

[2019-08-19 15:43] ccc7574 commented on #452
@rayzhou2017 快过去三个月了，啥时候搞定啊？我们希望kubesphere整合阿里云k8s集群和私有云k8s集群，如果这个功能支持了绝对利国利民啊

[2019-08-19 21:39] pixiake commented on #452
@ccc7574    可以参考https://github.com/kubesphere/ks-installer

[2019-08-21 06:13] Liuyanglong commented on #644
![image](https://user-images.githubusercontent.com/1468470/63406923-dea59500-c41d-11e9-8c06-857388803685.png)
@zryfish

[2019-08-21 06:23] lilinlinlin opened #657 "vmware的机器单机版离线安装，k8s的kube-scheduler状态Preempting，启不来"
报错日志显示的结果为：

![微信图片_20190821142047](https://user-images.githubusercontent.com/50984129/63407366-e9145e80-c41e-11e9-8c00-cd49c11d0dc7.jpg)

[2019-08-21 06:47] #657 closed

[2019-08-21 06:49] lilinlinlin commented on #657
cpu不够导致的

[2019-08-21 10:32] wansir opened #658 "ldap connect: cannot assign requested address"
**Describe the bug(描述下问题)**

数据库连接未被及时释放，导致端口占用

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.0.2

(and other info are welcomed to help us debugging)

**To Reproduce(复现步骤)**
当连接数超出最大可用值时，将无端口可用

**Expected behavior(预期行为)**
及时关闭空闲的连接，维护连接池的可用性

[2019-08-21 10:33] wansir commented on #658
/cc @wansir
/kind bug
/area iam

[2019-08-22 06:56] lijinbang opened #659 "安装卡死"
安装以后就一直卡死在这个界面
![WX20190822-145548](https://user-images.githubusercontent.com/18083299/63492890-f7c94700-c4ec-11e9-8ced-6bf7cfcaaeae.png)

[2019-08-22 08:04] zryfish commented on #659
这里不是卡死了，因为镜像比较大，如果网速不好的话，这里等待的时间会很长。可以打开新的终端，执行 iftop 看下

[2019-08-22 08:15] lijinbang commented on #659
卡死在这里几乎流量为0 所以会说卡死，还有这个我昨天晚上十二点一直卡死在这里早上九点一看还是不卡了但是报错了。没有安装成功！

[2019-08-22 08:21] fairychild1 opened #660 "创建devops分支时，分支名称不能带有“/”，例如“release/1”，否则会报错"
![报错](https://user-images.githubusercontent.com/15730272/63498383-5d6f0080-c4f8-11e9-8bfe-694c7a899972.png)

[2019-08-22 08:26] runzexia commented on #660
问题已经在v2.0.2版本中修复

[2019-08-22 08:31] zryfish commented on #659
报错信息能贴下么，安装的时候如果是云上环境，最好能临时把带宽调大些

[2019-08-22 08:57] lijinbang commented on #659
稍等一下目前一直没有网速，本地网速是联通一百兆光纤，下载任何东西都正常！下载离线版速度11m每秒！
![WX20190822-165516](https://user-images.githubusercontent.com/18083299/63501241-e2a8e400-c4fd-11e9-837e-2eeb40bf2235.png)
这是当前网速。

[2019-08-22 08:58] lijinbang commented on #659
我现在在等报错处理稍等一下。如果可以的话可以私聊。邮箱znsnzhang@outlook.com

[2019-08-22 09:12] zryfish commented on #659
这个看的是clico的网卡， iftop -i [interface] 需要指定下电脑的主网卡

[2019-08-22 09:19] lijinbang commented on #659
这个是指定的网卡信息，还是基本没有网速
![WX20190822-171844](https://user-images.githubusercontent.com/18083299/63502875-fdc92300-c500-11e9-8caf-5fd2064269af.png)

[2019-08-22 09:24] Carlosfengv opened #661 "支持容器组 QoS Class 信息展示"
**显示位置**
容器组详情页左侧列表详情
![image](https://user-images.githubusercontent.com/23092051/63503176-93fd4900-c501-11e9-8dff-d5b3c8838729.png)

**QoS Class 说明**
在kubernetes中，每个POD都有个QoS标记，通过这个Qos标记来对POD进行服务质量管理。QoS的英文全称为"Quality of Service",中文名为"服务质量"，它取决于用户对服务质量的预期，也就是期望的服务质量。对于POD来说，服务质量体现在两个指标上，一个指标是CPU，另一个指标是内存。在实际运行过程中，当NODE节点上内存资源紧张的时候，kubernetes根据POD具有的不同QoS标记，采取不同的处理策略

| QoS类型(级别)  | QoS介绍  |
| ---

[2019-08-22 09:24] Carlosfengv commented on #661
@leoendless

[2019-08-22 10:59] zryfish commented on #660
/kind bug
/kind fixed

[2019-08-23 07:34] Liuyanglong opened #662 "代码编译make异常"
我git clone kubesphere项目后，在路径下执行make，错误如下：
which: no controller-gen in (/home/gopath/bin:/home/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/root/bin)
GO111MODULE=on go install -mod=vendor k8s.io/code-generator/cmd/deepcopy-gen
go generate ./pkg/... ./cmd/...
go: sigs.k8s.io/testing_frameworks@v0.1.1: unrecognized import path "sigs.k8s.io/testing_frameworks" (https fetch: Get https://si

[2019-08-23 10:20] lijinbang opened #663 "安装失败"
centos7.5 安装失败然后截图如下
![QQ20190823-181826](https://user-images.githubusercontent.com/18083299/63585845-a2fffc00-c5d2-11e9-8970-b362a8451aee.png)
如果能够说明一下原因请回复一下！谢谢

[2019-08-23 11:10] zryfish commented on #663
可以看下这个issue https://github.com/kubesphere/ks-installer/issues/33

[2019-08-23 12:11] lilinlinlin commented on #663
cpu 、内存配置是什么呢

[2019-08-23 12:14] runzexia commented on #662
在开发过程中，我们使用了k8s相关的一些代码生成工具，在安装工具时还是会扫描一下依赖是否合理。
这个可以配置一下`GOPROXY`来拉取依赖。
需要注意的是虽然项目的依赖管理使用了`go mod`，但是`k8s`的代码生成工具仍然依赖`GOPATH`的变量。
因此请把项目`$GOPATH/src/kubesphere.io/kubesphere`下，并保证shell中正确设置了`GOPATH`的值

[2019-08-24 07:59] lijinbang commented on #663
编辑了dns以后还是同样的报错。，而且重新安装了以后，配置文件重新恢复过来

[2019-08-25 01:50] lijinbang commented on #663
目前安装到现在这种情况是因为什么呢？
![WX20190825-094939](https://user-images.githubusercontent.com/18083299/63644534-bbc8f880-c71d-11e9-9f47-ed25c0931c8d.png)

[2019-08-25 03:25] lilinlinlin commented on #663
1、安装Jenkins时，需要等待sonarqube启动。
2、执行kubectl get pod -n kubesphere-devops-system看下面的ks-sonarqube-sonarqube是否running，也看下该pod的日志。kubectl describe pod -n kubesphere-devops-system  <pod name>

[2019-08-26 04:11] Liuyanglong commented on #662
增加设置：export GOPROXY=https://goproxy.cn
解决了。

[2019-08-26 04:12] #662 closed

[2019-08-26 06:35] DustFinger001 opened #665 "删除&加入节点问题"
1.我自行安装的k8s环境，在使用kubectl 删除节点时，节点会被干净的删掉；但使用kubesphere 的k8s环境删除节点后，还需要calicoctl 再删除一次，是否可以做什么配置不调用calicoctl命令就干净的删除掉了。（我的k8s环境也是使用的calico插件）
2.节点加入时，如果其中一个节点ip曾经加入过，被删除后再加入，add-node 会提示错误，看 kubesphere 的安装代码，怀疑是加入过的节点ip被保存了，然后删除节点后同ip再次加入就会有冲突，这个地方有点不合理。
另外 #601 这个问题也麻烦帮看一下，kubeadm join 进来的节点使用的集群dns不正确，需要手工改。

[2019-08-26 06:45] DustFinger001 commented on #601
@lilinlinlin 关于节点加入集群，发现一个bug，加入的节点 dns 不正确，需要手动将 节点的配置文件 /var/lib/kubelet/config.yaml 的dns 手动改为正确的集群dns。
我安装的环境集群dns 为 10.233.0.3 但kubeadm join加入的节点dns 为 10.233.0.10

[2019-08-27 03:11] #658 closed

[2019-08-27 07:20] #644 closed

[2019-08-27 07:37] Liuyanglong opened #669 "coredns经常无故CrashLoopBackOff"
**Describe the bug(描述下问题)**
离线版2.0.2部署成功，成功运行了一段时间后coredns组件pod CrashLoopBackOff。重新install后恢复，但是又过一阵时间后再次CrashLoopBackOff。
![image](https://user-images.githubusercontent.com/1468470/63749899-fded6800-c8de-11e9-82f7-6cab77ba5f2b.png)

排查过程如下：

**1， 执行命令**
 `[root@ks-allinone kubernetes]# kubectl -n kube-system describe pod coredns-54f76f594-7kgk8`：
结果如下：

**2，执行命令：
`kubectl -n kube-system logs core

[2019-08-27 08:43] zryfish commented on #669
执行  docker ps | grep kube-apiserver 看下 uptime 检查下是否 kube-apiserver 被重启过。如果是的话，需要看下 kube-apiserver 的日记看下为啥会重启

[2019-08-27 08:53] Liuyanglong commented on #669
@zryfish  没有重启过

[2019-08-27 11:04] zryfish commented on #669
看下 kube-apiserver 日志，有错误信息么

[2019-08-27 12:02] Liuyanglong commented on #669
@zryfish 看上去没有~很奇怪

[2019-08-28 03:18] Divernia opened #671 "在使用s2i构建镜像时，无法使用maven私服nexus3"
使用s2i构建镜像拉取nexus3私服中的依赖一直显示Connection timed out
![image](https://user-images.githubusercontent.com/7236480/63823141-5a0ac780-c985-11e9-95d4-e9c63ccfed60.png)

[2019-08-28 03:28] soulseen commented on #671
这像是网络问题，可以测试下进入容器中能正常访问nexus3地址吗

[2019-08-28 03:35] runzexia commented on #671
如果拉取代码正常的话说明s2i容器是正常可以通外网的。

看日志的话像是到nexus网络不通，猜测可能是防火墙之类的配置问题。

[2019-08-28 03:36] Divernia commented on #671
进入到容器中可以正常ping通并且可以下载私服中的依赖。

[2019-08-28 03:39] Divernia commented on #671
容器可以访问私服，私服已经开启匿名访问。
在一个干净的Centos7环境下装了maven是可以正常编译该项目的。

[2019-08-28 03:48] runzexia commented on #671
s2i会启动docker run的容器执行制作镜像过程，可以试下docker run的容器是否可以正常访问nexus

[2019-08-28 03:50] Divernia commented on #671
容器中可以正常访问nexus，也可以正常下载依赖，所以比较纳闷。

[2019-08-28 06:18] k0ngk0ng opened #672 "内置harbor安装失败"
**问题描述**

安装ks MultiNode 后内置harbor无法启动
core，adminserver，jobserver异常

**安装环境的硬件配置**

物理机 3主3从

**错误信息或截图**

经查询是 adminserver 连接pgsql后有错误产生，内容如下：
[code]

**Installer版本**

ks MultiNode 2.02

[2019-08-28 07:54] k0ngk0ng opened #674 "工具箱 kubectl 支持 completion"
是否能支持 kubectl 自动补全

[2019-08-28 07:58] wuchencm opened #675 "请问kubesphere 前端应用是在源码的哪个目录？用的什么前端框架和ui ？"
请问kubesphere 前端应用是在源码的哪个目录？用的什么前端框架和ui ？

[2019-08-28 08:03] rayzhou2017 commented on #675
前端还没有开放出来，预计要等两个月的样子，会在kubesphere的一个单独的repo下。用的是react，mobx，koajs等

[2019-08-28 10:47] njxiaohan opened #676 "查看helm应用模板时报错"
<img width="1674" alt="WechatIMG278" src="https://user-images.githubusercontent.com/12640161/63849259-4c286700-c9c4-11e9-8e5d-4e583cb94a9d.png">

[2019-08-28 10:51] njxiaohan commented on #676
错误信息：
[{"@type":"type.googleapis.com/openpitrix.ErrorDetail","error_name":"describe_resources_failed","cause":"dial tcp 10.233.52.199:3306: connect: connection refused"}]
已经查过了，所有命名空间下都没有clusterIP为10.233.52.199的资源。

[2019-08-28 11:20] zryfish commented on #674
下一版本就会支持，目前可以手动加下配置

[2019-08-28 13:00] DingQianWen commented on #648
[code]

[2019-08-28 13:00] DingQianWen commented on #648
[code]

[2019-08-29 01:57] lilinlinlin commented on #601
所有添加计算节点初始化时，需要统一各种配置，如：上面提到的kubelet的配置。

[2019-08-29 02:26] soulseen commented on #671
上面的测试和s2i 运行的pod在同一个节点吗，能否登上pod所在节点，执行`iptables -t nat -S`, 看下是否存在
-A POSTROUTING -s 172.17.0.0/16 ! -o docker0 -j MASQUERADE
这条规则

[2019-08-29 02:28] lilinlinlin commented on #672
看报错信息可能跟文件系统类型有关 ，storageclass的fsType配的是什么呢？

[2019-08-29 02:45] guoh1988 opened #677 "sonarqube容器组一直重启"
sonarqube容器组一直重启
**安装环境的硬件配置**
使用kubesphere-all-offline-advanced-2.0.2.tar.gz 安装 centos7.4 VMware虚拟机)
日志如下：
2019.08.29 02:43:00 INFO  app[][o.s.a.AppFileSystem] Cleaning or creating temp directory /opt/sonarqube/temp
2019.08.29 02:43:00 INFO  app[][o.s.a.es.EsSettings] Elasticsearch listening on /127.0.0.1:9001
2019.08.29 02:43:00 INFO  app[][o.s.a.p.ProcessLauncherImpl] Launch process[[key='es',

[2019-08-29 02:55] soulseen commented on #671
s2i pod的容器中能正常访问的话，可能是执行构建的容器的网络问题，s2i的构建是调用宿主机的docker.socket去运行构建容器的

[2019-08-29 03:31] pixiake commented on #665
安装脚本也是用的kubeadm， kubectl  delete node之后   被删node节点的/etc/kubernetes下的相关文件不会被删除 ，如需重新加入集群需要手动删一下。
dns的配置为kubelet配置文件中的--cluster-dns    自行kubeadm  join不会修改kubelet的配置，所以需要手动修改下。

[2019-08-29 03:39] runzexia commented on #677
可以尝试先卸载sonarqube
`helm delete --purge ks-sonarqube`
再删除掉sonarqube的pvc
`
kubectl delete -n kubesphere-devops-system pvc ks-sonarqube-postgresql
`
最后重新执行一下安装过程来尝试一下

[2019-08-29 05:47] DustFinger001 commented on #665
@pixiake kubectl删除节点后，集群master节点执行calicoctl 还能看到已经被删的节点信息，需要再执行calicoctl 删除这个信息才行，我之前安装的纯k8s环境没有这个问题，这个问题应该是kubesphere使用的calico版本还有这个问题；并且修改集群现有节点ip以后k8s也不能正常识别（应该能正常识别才合理）。

[2019-08-29 07:47] wansir commented on #676
可以到平台管理->服务组件页面，检查一下系统组件是否都正常

![image](https://user-images.githubusercontent.com/8263040/63920815-37a3a780-ca74-11e9-80ca-ca38303301c4.png)

[2019-08-29 09:36] zhouleyan opened #680 "新安装的ks，日志查询报错"
![image](https://user-images.githubusercontent.com/7187495/63929088-6a08d100-ca83-11e9-9e5e-df684ca8b701.png)
刚装的kubesphere，没有任何操作。单节点nfs。

{
 "message": "readObjectStart: expect { or n, but found \u0000, error found in #0 byte of ...||..., bigger context ...||..."
}

[2019-08-29 13:21] mingzhuyang commented on #675
没有前端怎么用

[2019-08-29 13:21] mingzhuyang commented on #675
我还找个半天，一个js文件都没有，😂

[2019-08-30 01:12] rayzhou2017 commented on #675
https://kubesphere.io/docs/ 有下载地址和安装说明

[2019-08-30 03:13] zhouleyan commented on #680
已解决，因为系统盘容量不够，将数据盘路径软连接至”/var/lib/docker“，导致需要修改日志收集挂载路径配置。

[2019-08-30 03:13] #680 closed

[2019-08-30 03:48] huanggze commented on #680
如果主机环境修改过容器日志挂载路径，安装 ks-installer 时注意修改 containersLogMountedPath 参数。

如果已安装，可以通过手动更新 kubesphere-logging-system 下的 logging-fluentbit-operator ConfigMap，并重启 fluent-bit-operator 和 fluent-bit 解决。

![image](https://user-images.githubusercontent.com/22350668/63991851-e6e78980-cb1b-11e9-8d63-13e1145f0479.png)

[2019-08-30 03:53] wansir opened #682 "非界面方式创建的HPA不能正确展示"
**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

当 hpa 的命名规则和平台预设的不一致, UI 上无法正常展示.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.0.2
Kubernetes: 1.13.5

**To Reproduce(复现步骤)**

通过kubect 创建包含hpa的资源，并且命名不符合平台规则(hpa name = workload name)

**Expected behavior(预期行为)**

通过api 可以准确过滤出workload所关联的workload

[2019-08-30 03:55] wansir commented on #682
/cc @wansir
/area api
/area apiserver

[2019-08-30 07:21] zhoulhb opened #683 "无法配置用户邮箱"
安装模式：单机模式和集群模式

问题：
安装成功后更改admin用户邮箱
![image](https://user-images.githubusercontent.com/34292457/64001006-7cdddd00-cb39-11e9-92ad-701f10f4a0dc.png)

将默认邮箱地址改为zhoul@asto-inc.com，点击保存，系统报错：invalid email
![image](https://user-images.githubusercontent.com/34292457/64001142-c75f5980-cb39-11e9-882e-628feb670c03.png)

新建用户也无法配置邮箱

[2019-08-30 07:38] guoh1988 commented on #677
可以了，UI部分什么时候可以单独部署

[2019-08-30 08:24] major-jay opened #685 "openpitrix-app-db-ctrl-job和openpitrix-repo-db-ctrl-job执行失败"
**问题描述**
openpitrix-app-db-ctrl-job和openpitrix-repo-db-ctrl-job执行失败
**安装环境的硬件配置**
3台4C16G组成的本地节点
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
物理机
**错误信息或截图**
Current version of schema `app`: 0.7
ERROR: Unexpected error
org.flywaydb.core.api.FlywayException: Schema `app` contains a failed migration to version 0.7 !
	at org.flywaydb.core.internal.command.DbMigrate.migrateGroup(DbMigrate.java:227)
	at

[2019-08-30 08:46] ckgmg commented on #633
docker run方式运行，不成功
docker search kubesphere下载下来
run
---------------------------
Unable to find image 'kubesphere/kubesphere:lastest' locally
docker: Error response from daemon: manifest for kubesphere/kubesphere:lastest not found.
See 'docker run --help'.

[2019-08-30 08:55] mingzhuyang commented on #675
看到了，但是这种产品肯定都要拿过来改一下的😂

[2019-08-30 09:02] ckgmg commented on #633
kubernetes配置一台master,两台node上，kubesphere不安装在master上，安装在另一台独立的机器上，能否这样安装，

[2019-08-30 09:27] rayzhou2017 commented on #675
了解，肯定会开源的，稍等时间

[2019-08-30 09:34] zheng1 commented on #685
请问这个是在已有的环境升级还是全新安装的？使用的是什么存储？

[2019-08-30 09:56] wansir commented on #683
这里换成把邮箱地址换成小写就可以保存了

[2019-08-30 10:01] zhoulhb commented on #683
按照你的方法已经解决了，谢谢！

[2019-08-30 10:01] #683 closed

[2019-08-30 12:07] lilinlinlin commented on #633
可以啊 ，但是要把证书拷贝到安装的机器上

[2019-08-30 12:10] lilinlinlin commented on #633
镜像kubespheredev/ks-installer:advanced-2.0.2，你可以好好研究下kubesphere.yaml

[2019-09-01 13:16] k0ngk0ng commented on #672
fsType用的ext4，换成xfs后正常

[2019-09-01 13:17] k0ngk0ng commented on #674
请问手动配置如何加？服务器上的shell已经配置过自动补全的了

[2019-09-01 13:21] k0ngk0ng opened #687 "容器界面左侧终端按钮会消失"
已经发现浏览器有安装adblock按钮必然会消失

当无adblock插件时，有时会消失，触发条件未知
该按钮的显示与否有没有特殊规则？

[2019-09-02 06:08] wnxn opened #690 "Add controller for re-attaching PVC when offline expanding volume"
Because QingCloud CSI v1.1.0 is only support [offline expanding volume](https://github.com/container-storage-interface/spec/blob/master/spec.md#controllerexpandvolume), user must re-attach QingCloud CSI PVC to fulfill with the process of expanding volume.

In KS AE 2.1.0, to simplify the user experience of expanding volume, we are going to develop a controller for re-attaching PVC when expanding v

[2019-09-02 06:10] wnxn commented on #690
/assign @wnxn
/kind feature

[2019-09-02 08:24] wnxn opened #691 "Add KS API to get CSI PVC stats"
- API
  - Get a PVC stats: /kapis/monitoring.kubesphere.io/v1alpha2/namespaces/{namespace}/persistentvolumeclaims/{persistentvolumeclaim}
  - Get PVCs stats: /kapis/monitoring.kubesphere.io/v1alpha2/namespaces/{namespace}/persistentvolumeclaims

[2019-09-02 08:25] wnxn commented on #691
/assign @wnxn
/kind feature

[2019-09-02 12:37] #682 closed

[2019-09-03 06:11] baklpc opened #695 "什么时候支持Mac安装？"
什么时候支持Mac安装？

[2019-09-03 06:57] nanshuo opened #696 "文档 - Roadmap图中`1.0.1`版本的时间是否有误？"

[2019-09-03 13:37] FeynmanZhou commented on #696
@nanshuo 是的，我们更正下 typo，感谢提醒

[2019-09-04 03:53] klj890 opened #699 "能否让SonarQube支持C/C++的代码检查"
需求如题。
有个开源的插件可以支持C/C++的代码检查。
[This repository contains a SonarQube plugin implementing C++ support.](https://github.com/SonarOpenCommunity/sonar-cxx)
能否在下个版本中支持？

[2019-09-04 06:19] zryfish commented on #699
/area devops

[2019-09-04 06:22] zryfish commented on #674
可以参考 https://kubernetes.io/docs/tasks/tools/install-kubectl/#optional-kubectl-configurations ，进入到 pod 里执行这个命令

[2019-09-04 06:26] zryfish commented on #687
可以提供下环境版本么，浏览器版本，adblock插件版本，最好能截个图。我们用adblock没有发现过这种情况

[2019-09-04 06:28] zryfish commented on #245
更长的时间需要将event事件存储到es里，目前还没有支持，3.0会支持

[2019-09-04 06:28] #245 closed

[2019-09-04 06:29] zryfish commented on #249
配置文件是保留着的，在deployment的版本列表那里可以执行回滚

[2019-09-04 06:29] #249 closed

[2019-09-05 02:30] lijujntao120 commented on #680
集群模式搭建，单节点nfs,同样是软连了docker的物理挂载点配置已修改，日志还是出不来！！方便指导一下吗??
![image](https://user-images.githubusercontent.com/35087233/64307275-2b65a000-cfc8-11e9-9131-3c8403793383.png)
![image](https://user-images.githubusercontent.com/35087233/64307296-3c161600-cfc8-11e9-8266-b77afa98e47d.png)

[2019-09-05 02:31] lijujntao120 commented on #680
![image](https://user-images.githubusercontent.com/35087233/64307312-489a6e80-cfc8-11e9-99dc-9cd8dd8c03e1.png)

[2019-09-05 02:35] lijujntao120 commented on #680
![image](https://user-images.githubusercontent.com/35087233/64307522-ebeb8380-cfc8-11e9-8af2-628b98ac3694.png)

[2019-09-05 03:04] runzexia commented on #699
2.1 版本会添加支持

[2019-09-05 05:49] lijujntao120 opened #703 "容器日志无法显示"
集群模式搭建，单节点nfs,同样是软连了docker的物理挂载点配置已修改，日志显示出不来！！

![image](https://user-images.githubusercontent.com/35087233/64315106-a8ead980-cfe3-11e9-925e-528357377de2.png)

![image](https://user-images.githubusercontent.com/35087233/64315114-aee0ba80-cfe3-11e9-86dc-c8ef0ab20cdc.png)

![image](https://user-images.githubusercontent.com/35087233/64315121-b30cd800-cfe3-11e9-9406-067e8c4a5ff1.png)

![image](https:

[2019-09-05 07:06] geniussheep opened #704 "Devops的项目数量显示Bug"
本人使用 admin 用户在指定企业空间新建了两个devops的项目，如下图：
![image](https://user-images.githubusercontent.com/7587017/64318766-6e863a00-cfed-11e9-88aa-2c7d547c6c3e.png)
进入到devops项目管理，如下图：
![image](https://user-images.githubusercontent.com/7587017/64318825-9bd2e800-cfed-11e9-94ed-1d9c23304269.png)
然后登陆个人账户（此账户未加入到该企业空间），如下图：
![image](https://user-images.githubusercontent.com/7587017/64319026-fff5ac00-cfed-11e9-8c5a-9

[2019-09-05 07:07] runzexia commented on #704
数量显示的问题会在2.1有临时fix，3.0完全fix

[2019-09-05 07:08] runzexia commented on #704
/area devops
/assign

[2019-09-05 07:09] #691 closed

[2019-09-05 13:13] huhl20 opened #705 "kubesphere v2.0.2在线安装失败"
安装失败，可以打开登录页，但是登录失败，提示：Internal Server Error
安装日志有四处错误：
2019-09-05 13:45:56,160 p=19129 u=root |  fatal: [ks-allinone]: FAILED! => {"changed": false, "cmd": "/usr/local/bin/etcdctl --endpoints=https://172.31.16.47:2379 cluster-health | grep -q 'cluster is healthy'", "delta": "0:00:00.011851", "end": "2019-09-05 13:45:56.152117", "msg": "non-zero return code", "rc": 1, "start": "2019-09-05 13:45:56

[2019-09-05 13:24] Forest-L commented on #705
1、前三处错误下方应该都有ignore，是可以被忽略的。
2、最后一出的原因应该是机器的dns配置问题，请检查下本机的/etc/resolv.conf中是否有不可用的dns。
参考：https://github.com/kubesphere/ks-installer/issues/33

[2019-09-05 13:25] Forest-L commented on #695
目前可以先自己安装k8s，然后再已有的k8s环境下安装kubesphere。
https://github.com/kubesphere/ks-installer

[2019-09-06 00:23] huhl20 commented on #705
果然是dns问题，已成功安装。感谢支持！

[2019-09-06 02:18] JDalready commented on #685
删除pv  并重装环境就好了  应该是db初始化问题  不能再次初始化  我很疑惑

[2019-09-06 06:31] lijujntao120 commented on #703
怎么没人回复 一下！！

[2019-09-06 06:54] runzexia commented on #703
/assign @huanggze

[2019-09-06 08:16] PYIsOk opened #706 "Centos7.6 All-in-one 安装requirements（YUM）报错！"
在Centos7.6下离线安装KubeSphere-all-offline-advanced-2.0.2,执行到 Install packages requirements（YUM）报错

环境的硬件配置如下：(虚拟机)
1节点：8cpu/16g 系统磁盘100G

错误如下：
![image](https://user-images.githubusercontent.com/37820823/64412212-80391180-d0c1-11e9-9c66-ad4ee52e76e8.png)

[2019-09-06 08:17] huanggze commented on #703
#680 细化了操作步骤,再检查看看.

如需要远程协助,可以加入kubesphere 技术微信群,与我们沟通.  群链接见官网底部微信图标 https://kubesphere.io/

[2019-09-06 08:29] Forest-L commented on #706
这个是缺乏ebtables包;
链接：https://pan.baidu.com/s/14Uh4RIrHHt7h8ZH0fgSdkQ
提取码：1pn1
复制这段内容后打开百度网盘手机App，操作更方便哦
临时解决方法：下载链接中的ebtables包，然后yum install -y ebtables-2.0.10-16.el7.x86_64.rpm

[2019-09-06 08:37] ckgmg commented on #705
atal: [ks-allinone]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install istio-init /etc/kubesphere/ks-init/istio-init-1.1.0.tgz -f /etc/kubesphere/ks-init/custom-values-istio-init.yaml --namespace istio-system", "delta": "0:04:20.532232", "end": "2019-09-06 15:39:29.280893", "msg": "non-zero return code", "rc": 1, "start": "2019-09-06 15:35:08.748661", "stderr": "Error: tra

[2019-09-06 08:38] ckgmg commented on #705
![image](https://user-images.githubusercontent.com/49260651/64413761-add38a00-d0c4-11e9-9680-9a50fab51d1a.png)

[2019-09-06 09:17] zhuyuehao opened #707 "Centos 7 按照失败"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
安装kubesphere-all-advanced-2.0.2报错

**安装环境的硬件配置**
物理机
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/25274630/64416626-1c671680-d0ca-11e9-964a-3501313517ab.png)

**Installer版本**
kubesphere-all-advanced-2.0.2

[2019-09-06 09:18] lijujntao120 commented on #703
已经解决，之前比较迷惑的是把物理机和容器服务全重启也不生效
解决思路，要先将fluent bit删除然后重建才能使修改的文件生效，并重启fluent operator
修改的文件见图片
![image](https://user-images.githubusercontent.com/35087233/64416704-48829780-d0ca-11e9-812b-8309d2ccc1f7.png)

![image](https://user-images.githubusercontent.com/35087233/64416760-6223df00-d0ca-11e9-89e3-4f44d77698a0.png)

界面上不能删除和重启，需要使用以下命令处理

# 修改  ConfigMap
kubectl edit -n kubesphere-logging-system co

[2019-09-06 09:19] #703 closed

[2019-09-06 09:31] ckgmg commented on #705
![image](https://user-images.githubusercontent.com/49260651/64417653-196d2580-d0cc-11e9-8672-fdcd9de882a1.png)

[2019-09-06 09:37] PYIsOk commented on #706
![image](https://user-images.githubusercontent.com/37820823/64418076-e70ff800-d0cc-11e9-829b-e59db705536a.png)
请问 安装到这儿  是什么原因导致的呢？

[2019-09-06 09:38] PYIsOk commented on #706
@Forest-L  您好
![image](https://user-images.githubusercontent.com/37820823/64418182-1d4d7780-d0cd-11e9-9945-0233bca07935.png)
这是什么原因导致的呢？

[2019-09-06 09:39] PYIsOk commented on #706
@Forest-L 您好，这是什么原因导致的呢？
![image](https://user-images.githubusercontent.com/37820823/64418266-40782700-d0cd-11e9-996b-80c66e6fa68f.png)

[2019-09-06 09:43] Forest-L commented on #706
原因应该是机器的dns配置问题，请检查下本机的/etc/resolv.conf中是否有不可用的dns

[2019-09-06 09:47] PYIsOk commented on #706
@Forest-L 您好 我是离线安装 也需要查看不可用的DNS吗？

[2019-09-06 09:57] ckgmg commented on #705
![image](https://user-images.githubusercontent.com/49260651/64419598-d1500200-d0cf-11e9-94b4-2d0fcc91f874.png)

[2019-09-06 10:07] Forest-L commented on #707
1、在线和离线安装，机器需要干净的；
2、在线安装需要能连网，且确定机器的安装源能用。
3、从截图看不出来用的是什么操作系统，如果是centos，用yum clean all;yum makecache试下。

[2019-09-06 10:08] ckgmg commented on #705
![image](https://user-images.githubusercontent.com/49260651/64420234-5daef480-d0d1-11e9-83d2-ac62be517623.png)

[2019-09-06 10:13] Forest-L commented on #706
1、再执行一遍，
2、查看kubectl describe pod看下
3、还不行的话，可以提供远程方式，我们上去看下

[2019-09-06 10:17] ckgmg commented on #705
![image](https://user-images.githubusercontent.com/49260651/64420805-a4511e80-d0d2-11e9-9de1-e39144da32d1.png)

[2019-09-06 10:20] ckgmg commented on #705
干净的centos7.6安装，install.sh 1模式，错误太多了，根本就安装不起来

[2019-09-06 10:32] ckgmg commented on #705
![image](https://user-images.githubusercontent.com/49260651/64421661-ab792c00-d0d4-11e9-80aa-e0f0c2849e6f.png)

[2019-09-06 10:37] dazsco opened #709 "Multi-Node 模式，开放外网之后访问gitlab default backend - 404"
80端口代理访问界面显示
default backend - 404

443端口代理访问显示
400 Bad Request
The plain HTTP request was sent to HTTPS port
nginx

已经重新安装过一次。

[2019-09-06 10:40] dazsco commented on #709
jenkins
harbor
sonarqube
开放外网访问后均正常

[2019-09-06 15:20] dazsco commented on #709
明白是咋回事了，做了nginx代理，但是gitlab登录密码按照文档上  admin / P@88w0rd 不正确啊

[2019-09-07 01:59] liuts opened #710 "我想单独部署监控部分可以吗"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
我想单独部署监控部分，可以实现吗？应该怎么做
**安装环境的硬件配置**
centos7.5
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**

**Installer版本**

[2019-09-07 04:35] huanggze commented on #710
[code]

注：prometheus-endpoint 对应的 Prometheus 实例必须包含 ServiceMonitor 类型资源 kube-state-metrics、node-exporter、kubelet；secondary-prometheus-endpoint 对应的实例必须包含 etcd、apiserver、kube-scheduler
[code]

[2019-09-07 04:44] dazsco commented on #709
gitlab的LDAP模式和管理员一样的密码，但是root的密码是多少呢。我改了管理员密码，jenkins登录不了。

[2019-09-07 23:36] liuts commented on #710
十分抱歉，我描述不准确造成了误解。
我想在我的k8s集群上面使用kubesphere中的监控组件部分。我想先用kubesphere的监控部分。

[2019-09-09 02:21] PYIsOk commented on #706
可以了，把不可用的DNS注释掉，安装成功了，十分感谢您！ @Forest-L

[2019-09-09 02:48] #706 closed

[2019-09-09 03:37] Forest-L commented on #705
1、检查防火墙是否关闭；
2、centos7.6是离线还是在线呢

[2019-09-09 03:40] ckgmg commented on #705
防火墙全关了，
centos7.6安装的是离线install.sh

[2019-09-09 04:22] huanggze commented on #710
10月1日将上线2.1版本,提供各组件解耦的kubesphere installer,2.1版本会满足你的需求

[2019-09-09 04:55] wnxn commented on #690
1. After expanding PVC by edit request size

PVC yaml
[code]

Describe PVC
[code]

Get events
[code]

2. After scaling down workloads

PVC yaml
[code]

Describe PVC
[code]

3. After CSI controller finishing expand volume, but pods does not start.

Update the status message at PVC
[code]

Need restart pod message in Kubernetes
[code]

[2019-09-09 06:36] PYIsOk opened #712 "请问Multi-Node多节点安装，使用Ceph rbd存储后端具体如何配置？"
**问题描述**
请问多节点安装使用ceph rbd 存储后端，在本地没有k8s的情况下，vars.yml中的参数具体如何配置？
**安装环境的硬件配置**
虚拟机，8c/16g 系统盘100g

[2019-09-09 07:02] Forest-L commented on #705
1、可以参考下这个链接，https://github.com/kubesphere/ks-installer/issues/23
2、目前官网还没有推出centos7.6安装包，如果可以连外网的话，最好在线安装。
3、centos7.6机器是什么配置，是那个平台的云主机。

[2019-09-09 07:02] Forest-L commented on #705
@ckgmg

[2019-09-09 07:11] ckgmg commented on #705
VMware® Workstation 11 11.0.0 build-2305329虚拟机，centos7.6 1810 ,配置了4核8G内存，干净系统，防火墙全关，正常访问外网。

[2019-09-09 07:11] liuts commented on #710
问题关闭，太棒了

[2019-09-09 07:11] #710 closed

[2019-09-09 07:12] #712 closed

[2019-09-09 07:16] fjs4409 opened #713 "应用路由不稳定，经常无法连接"
部署了12个项目，通过应用路由配置域名进行访问，如下图：
![image](https://user-images.githubusercontent.com/17290444/64510368-9559ae80-d314-11e9-907a-cb058f349e17.png)

出现的问题是，有时候访问很正常，速度很快， 隔一段时间就出现卡顿，甚至无法访问的情况，想请教一下这种状况如何解决？
![image](https://user-images.githubusercontent.com/17290444/64510411-b9b58b00-d314-11e9-9962-7c442cbc0e6c.png)

另外发现一个BUG， 服务超过一页， 在应用路由配置规则的时候， 会选择不到第二页的服务。
通过配置文件配的规则如下：
![image](https://user-images.

[2019-09-09 07:40] Forest-L commented on #705
4核目前安装不了，计划10月1号将会发布一个版本，可以这个配置安装。

[2019-09-09 08:02] PYIsOk opened #714 "请问一下，Multi-node 多节点安装，使用Ceph rbd后端存储问题！"
**问题描述**
请问，在主机没有k8s情况下，离线多节点安装使用ceph rbd后端存储，安装kubesphere的主机需要安装ceph客户端吗？还是直接配置vars.yml即可？

**安装环境的硬件配置**
虚拟机，8c/16g 系统盘100G

**Installer版本**
2.0.2

[2019-09-09 08:44] #714 closed

[2019-09-10 01:37] sj-dev opened #715 "能不能在普通的物理机上安装"
现在在普通的物理机上安装Centos7.6，离线安装也好，在线安装也好，都是有很多错误的，请问一下有没有经过离线或者在线安装在普通物理机上测试过的。

[2019-09-10 01:47] Forest-L commented on #715
1、测试过的
2、资源目前至少要8核，16G
3、报什么错呢，带上截图
4、如果是离线安装的，请下载centos7.6的依赖包提前体验，下个版本会支持。
链接：https://pan.baidu.com/s/1BcdJL5CJMqgVdhmzSiNiag
提取码：txt7

[2019-09-10 03:58] fjs4409 commented on #713
有大佬帮忙看看问题吗？ 应用路由访问经常不通

[2019-09-10 06:39] zryfish commented on #713
你看下你的机器到网关的ip连接是不是稳定，这个报错是连接超时了

[2019-09-10 07:11] #669 closed

[2019-09-10 08:44] zhuyuehao opened #717 "FAILED - RETRYING: Update package management cache (YUM) (4 retries left)."
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
FAILED - RETRYING: Update package management cache (YUM) (4 retries left).
**安装环境的硬件配置**
centos 7
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
FAILED - RETRYING: Update package management cache (YUM) (4 retries left).
**Installer版本**
2.0.2

[2019-09-10 08:54] sj-dev commented on #715
我重启下载了centos7.5，第一次离线安装失败，我把防火墙停了，安装成功了。谢谢啊，有问题再问。

[2019-09-10 09:41] Forest-L commented on #717
@zhuyuehao
1、配置描述下
2、错误截全，好排查问题

[2019-09-10 15:16] liuts opened #721 "all-in-one 离线安装包 (2.0.2) 不支持centos7.6版本"
**Describe the bug(描述下问题)**
all-in-one 离线安装包 (2.0.2) 不支持centos7.6版本
原因是：
/root/kubesphere-all-offline-advanced-2.0.2/Repos
目录下面没有centos-7.6-amd64.iso文件

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.0.2

**Environment(环境的硬件配置)**

1 masters:  8cpu/16g

**To Reproduce(复现步骤)**
$ curl -L https://kubesphere.io/download/offline/advanced-2.0.2 > advanced-2.0.2.tar.gz && tar -zxf advanced-2.0.

[2019-09-11 02:43] Forest-L commented on #721
1、官方centos7.6系统安装下一个版本发布。
2、可以参考这个issue，里面单独有centos7.6的iso包，
https://github.com/kubesphere/ks-installer/issues/23

[2019-09-11 03:38] latermonk opened #722 "华为云全新安装的CentOS Linux release 7.5.1804 (Core) 安装失败"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**

安装失败

**安装环境的硬件配置**
华为云 CentOS Linux release 7.5.1804 (Core)

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
fatal: [ks-allinone]: FAILED! =>
`{"changed": true, "cmd": "/usr/local/bin/helm upgrade --install metrics-server /etc/kubesphere/metrics-server --namespace kube-system", "delta": "0:00:00.174379", "end": "2019-09-11

[2019-09-11 05:22] #721 closed

[2019-09-11 05:22] liuts commented on #721
多谢

[2019-09-11 07:23] ngxlua opened #724 "【前端开源事宜】是否敲定时间了哇"
测试了一下，kubesphere 在管理平台中非常具有竞争力，但没有开源前端导致我们公司很难进一步的调研、使用，

看到过往的 issue 表示是一定会开源的，只是还需要时间，不知道贵团队 10 月份能不能出一版呢，

非常感谢

[2019-09-11 07:40] #715 closed

[2019-09-11 07:45] PYIsOk opened #725 "多节点离线安装，完成后页面非常卡！"
**问题描述**
多节点离线安装完成后，进入页面非常的卡！
**安装环境的硬件配置**
8c/16g 系统盘100G
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
虚拟机
**错误信息或截图**
![PD616R5WWU9CE%C%G~2SWAD](https://user-images.githubusercontent.com/37820823/64677930-1ba7f900-d4ab-11e9-942e-4e75778348c2.png)

**Installer版本**
2.0.2

[2019-09-11 08:44] liuts commented on #724
期待前端开源

[2019-09-11 08:50] Forest-L commented on #722
1、根据信息看，是helm的服务端tiller没有安装好，请再执行一遍看

[2019-09-11 09:33] PYIsOk opened #726 "多节点离线安装，ks-sonarqube总是起不来"
**问题描述**
多节点离线安装，ks-sonarqube总是起不来，安装到 Sonarqube | Deploy Sonarqube 就会报错
**安装环境的硬件配置**
8c/16g 系统盘 100G 虚拟机

**错误信息或截图**
![8ZZ$I XU`LE3M7V5JH__C3V](https://user-images.githubusercontent.com/37820823/64685780-1c945700-d4ba-11e9-93ed-f30092bbc940.png)
**Installer版本**
2.02

[2019-09-11 09:33] rayzhou2017 commented on #724
会开源的，现在在忙2.1.0发布

[2019-09-11 10:15] #725 closed

[2019-09-11 11:35] Forest-L commented on #726
1、检查下helm是否正常，helm --version包含服务端和客户端。
2、卸载再执行一遍。

[2019-09-11 12:37] DasWolke opened #727 "Unable to install"
It's not possible to install this software as the containers hosted on dockerhub.qingcloud.com all require authentication, so they can not be pulled.

[2019-09-11 13:00] Forest-L commented on #727
1、在线安装确认网络是否是通的；
2、再执行一遍，看情况；
3、第二步还是报上面的错误则手动在机器上docker login dockerhub.qingcloud.com,用户名和密码都是guest试下。
![image](https://user-images.githubusercontent.com/50984129/64699222-e74a3200-d4d6-11e9-8771-9c883f1efa3b.png)

[2019-09-11 13:14] DasWolke commented on #727
Worked, thank you. :)

[2019-09-11 13:14] #727 closed

[2019-09-11 18:17] FeynmanZhou opened #733 "How to log in to online trial environment of KubeSphere?"
A: We suggest you to install KubeSphere in your own environment, if you wanna have an online and quick trial, you can send an email to kubesphere@yunify.com about your **company and name**, then we'll provide an testing account of regular user for temporary trial.

Demo environment:  https://demo.kubesphere.io

[2019-09-11 19:21] satrobit opened #734 "Links to the Offline Version are extremely slow from Europe"
Links to the Offline Version are extremely slow from Europe. Are you able to provide a mirror to those files (https://kubesphere.io/download/offline/advanced-2.0.2 ) from outside of China?

[2019-09-12 01:10] #733 closed

[2019-09-12 02:06] fairychild1 opened #735 "【新增功能建议】界面上提供部署界面，用户直接上传jar或者war包，平台自动以容器的形式部署好"
时速云有提供类似功能
![image](https://user-images.githubusercontent.com/15730272/64748504-f5369c00-d544-11e9-8c6f-01cede1559a5.png)
![image](https://user-images.githubusercontent.com/15730272/64748509-f9fb5000-d544-11e9-9d0c-c6c92316aacf.png)

[2019-09-12 02:40] zryfish commented on #735
2.1会提供

[2019-09-12 06:30] liuts commented on #726
1，防火网firewalld 要关闭
2，查看dns配置文件里面有没有ping不通的dns  ip。有的话删除。

[2019-09-12 06:35] FeynmanZhou commented on #734
Hi @satrobit, do you have Kubernetes cluster? If so, we recommed you to [install KubeSphere in existing cluster](https://github.com/kubesphere/ks-installer).

[2019-09-12 09:26] zky001 opened #741 "ansible版本问题导致安装失败"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
1.安装文件按照步骤走下来，因为检查ansible版本不是2.7.0出错，但是我们的OS文件夹中的requirements.txt里写着ansible版本得是2.7.6，改成2.7.0后，又提示出错
![image](https://user-images.githubusercontent.com/9131265/64771684-f33efe00-d581-11e9-86ca-8d04ecbcc288.png)
.
**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/9

[2019-09-13 01:55] jerryjedi opened #742 "无法同时删除多个账号"
KubeSphere 2.0.1，cluster-admin角色，无法一次性删除多个账号。
选择多个账号删除时，要求再次手工敲入账号名，输入后点击“删除”，没有响应。

<img width="623" alt="sp_2019-09-13_09-49-52" src="https://user-images.githubusercontent.com/7875026/64832435-96d4f080-d60c-11e9-9195-0f405726f0ab.png">

[2019-09-13 01:58] jerryjedi opened #743 "设置用户为“workspace-regular”时出错"
具有“workspace-admin"角色的用户要求用户到一个workspace，且准备授予“workspace-regular"角色时报错。
<img width="1041" alt="sp_2019-09-13_09-54-55" src="https://user-images.githubusercontent.com/7875026/64832539-eddac580-d60c-11e9-8a27-38f7693ce65a.png">

授予“workspace-admin"没有问题。

[2019-09-13 14:25] zryfish commented on #742
/kind bug

[2019-09-13 14:49] satrobit commented on #734
Thanks for the quick response.
I tried that way and even though I had some other problems It wasn't related to this issue. Anyway, this was way faster and smoother than installing the offline version.
So I consider this issue closed. Thank you again.

[2019-09-13 14:49] #734 closed

[2019-09-13 15:22] FeynmanZhou commented on #734
@satrobit Have you installed KubeSphere successfully? If any other problems you need help, join the [Slack Channel](https://join.slack.com/t/kubesphere/shared_invite/enQtNTE3MDIxNzUxNzQ0LTZkNTdkYWNiYTVkMTM5ZThhODY1MjAyZmVlYWEwZmQ3ODQ1NmM1MGVkNWEzZTRhNzk0MzM5MmY4NDc3ZWVhMjE) so we can help you to solve it in time.

[2019-09-13 15:26] satrobit commented on #734
@FeynmanZhou I haven't yet. Thank you for your suggestion. I'll join the Slack Channel and ask my questions regarding the problem.

[2019-09-14 13:47] jerryjedi opened #745 "s2i 问题"
按照文档配置source2image。

构建时看到构建成功：
![图片 1](https://user-images.githubusercontent.com/7875026/64908960-7a35d700-d738-11e9-8fdc-5789fbadf59d.png)

检查docker.io，可以看到刚push的image：
<img width="630" alt="sp_2019-09-14_21-42-37" src="https://user-images.githubusercontent.com/7875026/64908974-a0f40d80-d738-11e9-8e43-adbfc1d2231d.png">

但回到部署列表，此时显示“构建镜像失败”：
<img width="754" alt="sp_2019-09-14_21-44-06" src="ht

[2019-09-14 13:54] jerryjedi opened #746 "如何查看异常容器组"
进入企业空间时，看到显示有3个异常容器组，请问如何查看是哪3个？

<img width="435" alt="sp_2019-09-14_21-52-15" src="https://user-images.githubusercontent.com/7875026/64909090-20361100-d73a-11e9-8119-4c1bbdb04833.png">

这是当前的，还是历史的？ 对现在系统的影响是如何的？如何检查和判断？

[2019-09-14 14:00] jerryjedi opened #747 "查看历史版本时报错"
在部署-》版本控制，此时有6个版本：
<img width="1420" alt="sp_2019-09-14_21-56-53" src="https://user-images.githubusercontent.com/7875026/64909131-c6821680-d73a-11e9-8e0a-c196b4a92bb9.png">
查看最后一个版本没有问题，查看历史版本时（如鼠标点击#4），此时出现报错：
<img width="1404" alt="sp_2019-09-14_21-56-41" src="https://user-images.githubusercontent.com/7875026/64909135-db5eaa00-d73a-11e9-92bd-bcf66a746ac2.png">

然后屏幕就长时间没有内容显示。
点击其它历史版本，也类似。

[2019-09-14 14:30] jerryjedi commented on #745
此时，发现整个部署有6个版本，在“版本控制”页面显示“版本#6正在运行”，点击进入“版本 #6“，看到容器配置：
<img width="1014" alt="sp_2019-09-14_22-17-36" src="https://user-images.githubusercontent.com/7875026/64909347-7eb0be80-d73d-11e9-89e7-65976d5c9eff.png">

但此时副本数量为0（可能是我 之前配置时忘了将副本数量设置为1了）。点击增加副本数量为1，试图看看发生什么？

很快，可以看到改部署的容器组正常运行：
<img width="1028" alt="sp_2019-09-14_22-19-08" src="https://user-images.githubusercontent.com/7875026/64909363-b

[2019-09-14 15:37] dazsco commented on #709
@runzexia 请问一下gitlab root用户的密码默认是多少呢。

[2019-09-15 03:23] runzexia commented on #709
https://kubesphere.io/docs/advanced-v2.0/zh-CN/installation/gitlab-installation/#___gatsby
账号密码与kubesphere登陆相同

[2019-09-15 03:24] runzexia commented on #745
这个地方有没有同时触发多次s2i呢，可以从任务页面看到触发历史。

[2019-09-15 03:57] jerryjedi opened #748 "文档错误"
示例#13， 文档有错误：
<img width="902" alt="sp_2019-09-15_11-55-29" src="https://user-images.githubusercontent.com/7875026/64916395-e30c6600-d7af-11e9-8ddf-4b5cb1279a43.png">

<img width="547" alt="sp_2019-09-15_11-56-59" src="https://user-images.githubusercontent.com/7875026/64916400-fc151700-d7af-11e9-9ce8-df138a1187eb.png">

[2019-09-15 11:38] huanggze commented on #746
目前这里显示有一点问题。恢复正常后，0 数值没有正确。2.1版本会有改进

[2019-09-16 00:57] zky001 commented on #741
尝试了一下，uninstall报错如下
![image](https://user-images.githubusercontent.com/9131265/64930079-d0ea0080-d85f-11e9-9de3-2cd3d63808df.png)

[2019-09-16 00:58] zky001 commented on #741
@Forest-L uninstall时和install时遇到的问题类似

[2019-09-16 01:49] Forest-L commented on #741
可以提供tv连上去看下吗

[2019-09-16 01:51] Forest-L commented on #741
yum remove anisble @zky001

[2019-09-16 02:54] FeynmanZhou commented on #748
Thanks for the feedback, this typo has been fixed by @zheng1

[2019-09-16 02:54] #748 closed

[2019-09-16 04:02] zky001 commented on #741
![image](https://user-images.githubusercontent.com/9131265/64933854-b9b80c80-d879-11e9-8c57-ccfa0a4955f6.png)
@Forest-L 还是之前那个问题   ansible版本不是2.7.0出错了

[2019-09-16 05:52] zhuyuehao opened #750 "Unable to restart service docker"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
RUNNING HANDLER [container-engine/docker : Docker | reload docker] ***************************************************************************************************************************************
Monday 16 September 2019  13:48:49 +0800 (0:00:00.141)       0:01:18.489 ******
fatal: [ks-allinone]: FAILED! => {"changed": false,

[2019-09-16 06:55] #690 closed

[2019-09-16 08:09] #615 closed

[2019-09-16 08:28] QXQL opened #752 "kubesphere怎么修改内置maven的setting.xml配置？"
1、我想指定自己的私服仓库，如何修改setting.xml？
2、jenkins拉取代码报域名不存在如何处理？
报错信息：
stderr: fatal: unable to access 'http://gitlab.devops.kubesphere.local:30080/yygk-cicd/yygk.git/': Could not resolve host: gitlab.devops.kubesphere.local

	at org.jenkinsci.plugins.gitclient.CliGitAPIImpl.launchCommandIn(CliGitAPIImpl.java:2042)
	at org.jenkinsci.plugins.gitclient.CliGitAPIImpl.launchCommandWithCredentials(CliGitAPIImpl

[2019-09-16 08:56] shaowenchen commented on #752
1，setting.xml 不需要修改
2，此处报错代码行在这里，https://github.com/kubesphere/devops-java-sample/blob/764d677d0ac9f8a3f7fe2f50485e7c3acd0f0a8d/Jenkinsfile-on-prem#L100。这里的域名是安装时，选择了 gitlab ，分配的内置域名。如果使用其他仓库地址，需要修改 jenkinsfile 文件。

[2019-09-16 08:59] QXQL commented on #752
setting.xml 不需要修改?我在构建maven项目的时候需要指定自己本地的仓库，这如何设置？
如下是setting.xml配置本地仓库的节点:
<localRepository>F:\eclipse\mavenck\repository</localRepository>

[2019-09-16 08:59] QXQL commented on #752
setting.xml 不需要修改?我在构建maven项目的时候需要指定自己本地的仓库，这如何设置？
如下是setting.xml配置本地仓库的节点:
<localRepository>F:\eclipse\mavenck\repository</localRepository>

[2019-09-16 09:02] runzexia commented on #752
需要修改`jenkins-casc-config`当中指定镜像的`setting.xml`
路径为`/opt/apache-maven-3.5.3/conf/settings.xml`，可以自己构建新的镜像，并替换jenkins-casc-config当中的镜像名称。
(修改 jenkins-casc 后的 reload 可以参考https://kubesphere.io/docs/advanced-v2.0/zh-CN/devops/jenkins-setting/#___gatsby)

在2.1 版本当中setting.xml将以configmap的形式进行编辑，同时也可以参考这种方式进行修改，具体可以参考 https://github.com/kubesphere/ks-installer/pull/85/files

[2019-09-16 09:13] Forest-L commented on #741
原因是192.168.0.13机器上安装了python3的版本，但是官方给的ansible版本里面不支持python3，建议可以在另外两台机器上安装或者安装完之后再安装python3版本。
@zky001
[code]

[2019-09-16 10:40] #724 closed

[2019-09-16 15:41] Forest-L commented on #750
1、centos 7.6推荐在线安装；
2、centos7.4或者7.5在线和离线都可以；
3、环境上是否是干净的，且执行journalctl -u docker -f 日志信息截下。
@zhuyuehao

[2019-09-17 01:43] zhuyuehao commented on #750
![image](https://user-images.githubusercontent.com/25274630/65004609-9a7bb680-d92f-11e9-95da-3b7e67adc56e.png)

[2019-09-17 01:44] zhuyuehao commented on #750
环境之前装过其他软件，现在都卸载了，有什么方式可以排查是否卸载干净，或者哪些软件没有卸载干净会影响安装？

[2019-09-17 01:56] zhuyuehao commented on #750
另外，在线/离线都尝试过，同样存在这个问题

[2019-09-17 01:59] Forest-L commented on #750
能不能重启下机器，这里是docker问题，/etc/docker/daemon.json文件删掉。

[2019-09-17 02:00] zhuyuehao commented on #750
意思是，删除这个文件，然后重启机器？

[2019-09-17 02:03] Forest-L commented on #750
先删掉那个文件，然后再跑下，还是报这个问题的话，那就重启机器，最好不要轻易重启机器。

[2019-09-17 02:03] zhuyuehao commented on #750
好，我试下

[2019-09-17 03:11] zky001 commented on #741
@Forest-L
按照兄弟你之前的思路，安装过程一直没问题  但是就是卡在下面这个错误这里
![image](https://user-images.githubusercontent.com/9131265/65008378-be44f980-d93b-11e9-978f-67e05a37ddfc.png)

[2019-09-17 03:19] zky001 commented on #741
configmaps "kubelet-config-1.12" is forbidden: User "system:bootstrap:xeah2a" cannot get resource "configmaps" in API group "" in the namespace "kube-system"", "stderr_lines": ["configmaps "kubelet-config-1.12" is forbidden: User "system:bootstrap:xeah2a" cannot get resource "configmaps" in API group "" in the namespace "kube-system"

[2019-09-17 05:31] Forest-L commented on #741
1、报错来看，Kubelet bootstrap认证有问题，
2、之前看vars.yaml有的信息是需要配的；
3、uninstall看下，不行麻烦把机器信息发下至官网

[2019-09-17 05:31] Forest-L commented on #741
@zky001

[2019-09-17 11:27] #741 closed

[2019-09-17 12:51] hadoop835 opened #758 "开发文档"
有没提供开发文档

[2019-09-18 01:46] ngxlua commented on #675
还要2个月， 差不多得12月份了， 看前面的 issue 我乐观的以为 10月中下旬就可以...

[2019-09-18 02:25] PYIsOk commented on #726
@Forest-L 最后把配置文件中sonarqube_enable设置为false安装成功，可是这个没有打开有什么影响吗？或者如何打开？要重新安装吗？

[2019-09-18 06:13] FeynmanZhou commented on #758
10 月初的 2.1 版本发布后，会提供开发文档的

[2019-09-18 06:58] zhuyuehao opened #760 "unable to load client CA file /etc/kubernetes/pki/ca.crt"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
unable to load client CA file /etc/kubernetes/pki/ca.crt
**安装环境的硬件配置**
硬件：8C/64G
LSB Version: :core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:desktop-4.1-amd64:desktop-4.1-noarch:languages-4.1-amd64:languages-4.1-noarch:printing-4.1-amd64:printing-4.1-noarch
Distributor ID: CentOS
Description: CentOS Linux release 7.6.18

[2019-09-18 07:26] zhuyuehao commented on #750
问题现在解决了；
解决方案：完全删除docker，包括/var/lib/docker，之前因为这里面有些images是项目上的没有删，现在备份后删除了，该问题得到解决

[2019-09-18 07:27] #750 closed

[2019-09-18 08:24] zhuyuehao commented on #760
该问题已解决
解决方式：修改了安装文件中的配置（不确定是不是安装文件的问题），修改内容如下：
![image](https://user-images.githubusercontent.com/25274630/65130705-89ff3500-da30-11e9-9032-32863f019f1e.png)
图中  pki ->ssl，改后完整路径：/etc/kubernetes/ssl/ca.crt

[2019-09-18 08:24] zhuyuehao commented on #760
修改的文件是：/var/lib/kubelet/config.yaml

[2019-09-18 08:24] #760 closed

[2019-09-18 09:19] Forest-L commented on #726
@PYIsOk
1、sonarqube的功能可以搜索下，代码质量管理平台；
2、cicd这块有问题；
3、如果需要的话，是要重新安装

[2019-09-18 09:20] zhuyuehao opened #763 "TASK [kubernetes/master : kubeadm | Initialize first master]-失败"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
2019-09-18 16:55:12,321 p=20244 u=root |  fatal: [ks-allinone]: FAILED! => {"changed": true, "cmd": ["timeout", "-k", "600s", "600s", "/usr/local/bin/kubeadm", "init", "--config=/etc/kubernetes/kubeadm-config.yaml", "--ignore-preflight-errors=all"], "delta": "0:02:00.094888", "end": "2019-09-18 16:55:12.289383", "failed_when_result":

[2019-09-18 12:22] Forest-L commented on #763
机器是否安装过其他软件？按如下方法解决：
1、先卸载；
2、重新执行安装，看到kubeadm init时，在/etc/kubernetes目录下执行`ln -s  ssl  pki`

[2019-09-18 13:26] #746 closed

[2019-09-18 13:27] #742 closed

[2019-09-19 02:40] wnxn opened #764 "Remove creating ceph secret controller"
The Ceph secret controller is developed for Kubernetes v1.10. https://github.com/kubesphere/kubesphere/issues/161
After Kubernetes v1.10, we can specify Ceph user secret namespace through `userSecretNamespace `  in [Ceph RBD storageclass](https://v1-12.docs.kubernetes.io/docs/concepts/storage/storage-classes/#ceph-rbd).
Because KS v2.1 is adapted to Kubernetes v1.14+, this controller should be dep

[2019-09-19 02:41] wnxn commented on #764
/assign @zryfish
/kind cleanup

[2019-09-19 03:12] #764 closed

[2019-09-19 08:00] xstarts opened #767 "在线安装失败，无法继续"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)
在线安装失败后执行过离线安装，但是也失败，重新执行在线安装还是报错
**问题描述**
fatal: [master]: FAILED! => {"attempts": 15, "changed": true, "cmd": "/usr/local/bin/kubectl -n openpitrix-system get pod | grep openpitrix-db-deployment | awk '{print $3}'", "delta": "0:00:00.209251", "end": "2019-09-19 07:11:04.553921", "rc": 0, "start": "2019-09-19 07:11:04.344670", "stderr": "", "

[2019-09-20 01:34] MyGitHubChao opened #769 "有没有搭建好的kubesphere地址，想要看一下相关页面"
想给公司领导推荐一下，但是自己电脑配置不够，总是卡死，有没有搭建好的demo看一下

[2019-09-20 02:01] Forest-L commented on #767
1、describe openpitrix-db-deployment  pod的日志；
2、/etc/resolv.conf是否有不可用的IP；
3、离线安装失败之后，转为在线，最好重置下机器；

[2019-09-20 02:26] calvinyv commented on #769
https://www.qingcloud.com/products/kubesphereqke/

申请试用qke，自带kubesphere

[2019-09-20 03:47] jinjie2088 commented on #705
--> GET / 200 104ms 1.53kb 2019/09/20T03:39:38.614
  <-- GET / 2019/09/20T03:40:05.850
  --> GET / 302 13ms 43b 2019/09/20T03:40:05.863
  <-- GET /login 2019/09/20T03:40:05.871
  --> GET /login 200 268ms 4.41kb 2019/09/20T03:40:06.139
  <-- GET /assets/fonts/ProximaNova/stylesheet.css 2019/09/20T03:40:06.167
  <-- GET /assets/login.svg 2019/09/20T03:40:06.172
  --> GET /assets/fonts/ProximaNova/st

[2019-09-20 03:55] jinjie2088 opened #770 "登录报502错误"
**问题描述**
[code]

**安装环境的硬件配置**
centos7.6
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
kubeadm 1.13.3
**错误信息或截图**

**Installer版本**

[2019-09-20 13:53] yzypals commented on #752
目前我在用的方法是 ， 自定义s2i 的基础镜像， 基础镜像中添加setting 文件

还有1种是 代码中添加.s2i文件， 在里面可以指定 仓库    可以看 demo的 那个项目

[2019-09-22 03:25] zryfish commented on #770
看下 kubesphere-system 下的 pod 都是 running 状态么。以及看下 openpitrix-system 下的 pod 都是正常的么

[2019-09-22 03:51] luoyucumt opened #775 "怎样在现有的EKS集群上安装KubeSphere"
我想在已有的EKS集群上安装KubeSphere，请问有没有具体的集群安装教程？期待您的回答

[2019-09-22 05:15] rayzhou2017 commented on #775
参考一下 https://github.com/kubesphere/ks-installer

[2019-09-23 03:19] ckgmg opened #776 "安装完成，居然不能登录，怎么破？"
![image](https://user-images.githubusercontent.com/49260651/65400294-ecbb4c80-ddf3-11e9-996c-aa04972724b1.png)

[2019-09-23 03:32] #776 closed

[2019-09-23 03:32] ckgmg commented on #776
换Google--OK

[2019-09-23 03:46] ckgmg opened #777 "应用一键部署，搜不到应用"
![image](https://user-images.githubusercontent.com/49260651/65400957-b54e9f00-ddf7-11e9-9345-ad3dda728b63.png)

[2019-09-23 03:50] ckgmg commented on #777
![Uploading image.png…]()

[2019-09-23 03:51] ckgmg commented on #777
![image](https://user-images.githubusercontent.com/49260651/65401097-7ec55400-ddf8-11e9-9d2a-405e9b8e4ddb.png)

[2019-09-23 05:41] ckgmg commented on #777
功能不开放，灰度发布等，这基本跟dashboard没啥区别，还白白占用了一台8核16G的机器，得不偿失。
希望能继续开发好，全部开源，而不是只放部分功能出来！要想坐上龙头老大的位置，还有很长的路

[2019-09-23 05:55] rayzhou2017 commented on #777
后端不是已经都开源了吗？前端在下一个版本发布后就会开源，前端开源需要一点时间整理。上面那个错误看起来是openpitrix安装有问题。你现在使用kubesphere还有其它什么问题吗？

[2019-09-23 06:43] ckgmg commented on #777
这个版本前端看不到我部署的应用，

[2019-09-23 07:57] MyGitHubChao commented on #705
10月1号会确定会有4核低配版吗，我四核也装不了，等着低配版看看

[2019-09-23 09:53] 53537 opened #779 "账号管理搜索和分页问题"
账号管理翻页和搜索结果都停留在第一页

[2019-09-23 09:54] leoendless commented on #779
可以提供下 ks-console 的日志吗

system-workspace/projects/kubesphere-system/deployments/ks-console/pods/ks-console-xxx/containers/ks-console/logs

[2019-09-23 09:58] 53537 commented on #779
2019-09-23 17:58:18.425: <-- GET /kapis/logging.kubesphere.io/v1alpha2/namespaces/kubesphere-system?operation=query&start_time=1568627898416&end_time=1569232698416&log_query=&pods=ks-console-7bd6cb9ff9-r2x9q&containers=ks-console&from=0&size=50 2019/09/23T09:58:18.425

2019-09-23 17:58:12.987: <-- GET /kapis/iam.kubesphere.io/v1alpha2/users?paging=limit%3D10%2Cpage%3D26 2019/09/23T09:58:12.986

20

[2019-09-23 10:13] wansir commented on #779
看日志请求一直停留在第2页，可能是因为刷新的时候 数据并没有正常返回，可以从浏览器测检查一下数据是否正常，再检查一下kubesphere-system 这个项目下的组件有没有错误日志

[2019-09-23 10:24] 53537 commented on #779
2019-09-23 18:21:28: I0923 10:21:28.971993 1 main.go:216] GET

2019-09-23 18:21:28: I0923 10:21:28.972033 1 main.go:218] Authorization:[Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Indhbmd3ZWlAYmVubGFpLmNvbSIsInVzZXJuYW1lIjoid2FuZ3dlaSJ9.aBNZgE3WSNHvwAKXsn8HynT2KRyMh1na5_Nl6YWq7eo]

2019-09-23 18:21:28: I0923 10:21:28.972052 1 main.go:218] Content-Type:[application/json]

2019-09-23 18:

[2019-09-23 10:59] 53537 opened #780 "关联ldap，账号同步中pod意外停止"
ks-account同步账号2000+之后，意外停止，报错如下

I0923 10:54:27.774444       1 main.go:270] user ERIC-WIN$ exist
I0923 10:54:27.774973       1 main.go:270] user Caifengjiao exist
F0923 10:54:27.921603       1 main.go:298] LDAP Result Code 34 "Invalid DN Syntax": invalid DN

[2019-09-23 13:01] zryfish commented on #777
你的环境是安装有问题，你执行 kubectl get po --all-namespaces 看下是否所有的pod都已经起来了

[2019-09-24 02:15] jinjie2088 commented on #770
[code]
[code]

[2019-09-24 02:15] jinjie2088 commented on #770
都是running状态

[2019-09-24 02:33] jinjie2088 commented on #770
api gateway 报认证失败：
2019-09-24 02:32:24.12771 -ERROR- err: <nil>, errMsg: 认证失败 (main.go:147)
2019-09-24 02:32:24.12784 -WARNING- 509771b4-8078-4e8f-bf1c-42c0cf91e8c3 | 401 | 204.511µs | 10.244.0.38 | POST /v1/runtimes
2019-09-24 02:32:32.13828 -ERROR- err: <nil>, errMsg: 认证失败 (main.go:147)
2019-09-24 02:32:32.13842 -WARNING- 7fd85cb6-ed5e-4c33-8196-1401e297d515 | 401 | 240.601µs | 10.244.0.38 | POS

[2019-09-24 02:46] Jensen-Lone opened #782 "在拉取内置harbor仓库的镜像时候报错：read tcp 20.xx.xx.120:32834 -> 20.xx.xx.32:30280: read: connection reset by peer."
我在按照手册操作示例八：Source-to-image
在部署完成，等待容器运行时候，发现，在拉取harbor仓库的镜像时候报错：read tcp 20.xx.xx.120:32834 -> 20.xx.xx.32:30280: read: connection reset by peer.
然后在20.xx.xx.120这个节点，手动pull镜像，报同样的错误。

然后同时jekins页面，也访问不了。
# curl http://20.xx.xx.32:30180/
curl :(56) Recv failure : Connection reset by peer.
# curl https://20.xx.xx.32:30180/
curl: (35) received a record  that exceeded the maximum permissible length.

[2019-09-24 03:02] wansir commented on #780
目前AD 数据同步还在试验性开发中，根据错误信息（部分用户名不规范）稍作修复，已更新了`wansir/ad-sidecar:latest` 这个镜像版本

[2019-09-24 04:20] 53537 commented on #780
已更新最新镜像，中途出现如下错误
I0924 04:18:58.017534       1 main.go:270] user chenhongdan exist
F0924 04:18:58.164971       1 main.go:302] LDAP Result Code 21 "Invalid Attribute Syntax": mail: value #0 invalid per syntax

[2019-09-24 05:24] FeynmanZhou commented on #777
@ckgmg 所有功能是全部开源的，从你的截图来看，监控就不正常呀？

[2019-09-24 09:19] huahuadeep opened #784 "代码编译make all 异常"
[root@harbor kubesphere]# pwd
/opt/goworkspace/src/github.com/kubesphere/kubesphere
[root@harbor kubesphere]# go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/root/.cache/go-build"
GOENV="/root/.config/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GONOPROXY=""
GONOSUMDB=""
GOOS="linux"
GOPATH="/opt/goworkspace"
GOPRIVATE=""
GOPROXY="https://goproxy.cn"
GOROOT="/usr/local/g

[2019-09-24 15:56] zryfish commented on #784
kubesphere依赖kubebuilder来做测试，可以先执行下 hack/install_kubebuilder.sh 安装下kubebuilder

[2019-09-25 07:24] MyGitHubChao opened #786 "在线安装出错求解决"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**

**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
使用阿里云服务器在线安装，版本是KubeSphere Advanced Edition 2.0.2
**错误信息或截图**
![image](https://user-images.githubusercontent.com/24819525/65578506-7b70ca80-dfa8-11e9-8524-18b4d35392c1.png)

**Installer版本**

[2019-09-25 07:24] #786 closed

[2019-09-25 07:37] MyGitHubChao opened #787 "在线安装失败求解决"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**

**安装环境的硬件配置**
使用阿里云服务器在线安装的
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/24819525/65579423-4bc2c200-dfaa-11e9-9a91-96ef78da4142.png)

**Installer版本**

[2019-09-25 07:42] MyGitHubChao commented on #787
在安装过程中也有个错，但是安装没有中断，一直到上面的图那里才中断的
![image](https://user-images.githubusercontent.com/24819525/65579819-11a5f000-dfab-11e9-80ea-36030a99a022.png)

[2019-09-25 08:45] #787 closed

[2019-09-25 08:49] anstns opened #790 "删除了admin用户"
我删除admin用户，然后在system-workspace添加新的用户发现报错
![image](https://user-images.githubusercontent.com/36152763/65585100-7f0a4e80-dfb4-11e9-9482-95eebd8720b8.png)

[2019-09-25 08:51] MyGitHubChao opened #791 "在线安装时报错，请问需要手动升级安装包吗"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
使用阿里云机器安装时，报以下错误，系统centos7.5，全新系统，请问需要手动安装 ansible-playbook包吗
**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/24819525/65585111-83366c00-dfb4-11e9-9144-7a0f177ac6a4.png)

**Installer版本**

[2019-09-25 09:07] MyGitHubChao commented on #791
刚刚试了一下，离线安装也是同样的错误
![image](https://user-images.githubusercontent.com/24819525/65586590-fb9e2c80-dfb6-11e9-9c84-d6a774077117.png)

[2019-09-25 09:29] #791 closed

[2019-09-26 02:06] jinjie2088 commented on #770
有人能提供支持吗？谢谢

[2019-09-26 03:14] wansir commented on #770
检查一下 kubesphere-system 下 ks-apigateway 和 ks-account 的日志

[2019-09-26 03:26] wansir commented on #770
还可以检查一下ks-account 是否正常
[code]

[2019-09-26 03:31] wansir commented on #790
#650 fixed

[2019-09-26 03:33] wansir commented on #743
#650 fixed

[2019-09-26 06:01] zryfish opened #794 "Add leader election capability to ks-controller-manager"
Currently, ks-controller-manager is a standalone replica, but in a HA environment, controller-manager need multiple replicas to provide high availability, which needs leader election in controller-manager

[2019-09-26 06:28] Micheal-yang-china opened #795 "kubesphere安装gitlab之后无法访问"
Kubesphere安装gitlab之后输入访问地址无法访问，页面显示default backend - 404

[2019-09-26 06:35] #780 closed

[2019-09-26 07:56] rdzn-github commented on #795
不要以http://<node_ip>:30080访问，请以http://gitlab.devops.kubesphere.local:30080/访问，另外本地hosts需要配置<node_ip>   gitlab.devops.kubesphere.local

[2019-09-26 08:13] anstns opened #796 "jaeger-spark 服务死了"
![image](https://user-images.githubusercontent.com/36152763/65670571-33b97400-e078-11e9-9650-5eda376b69d5.png)

![image](https://user-images.githubusercontent.com/36152763/65670741-8d21a300-e078-11e9-9222-dd38a2c93b2e.png)
这个是什么问题

[2019-09-26 08:21] jinjie2088 commented on #770
ks-account.kubesphere-system.svc (10.107.144.254:80) open

ks-account.kubesphere-system.svc (10.107.144.254:80) open

[2019-09-26 08:24] jinjie2088 commented on #770
ks-account
[code]
apigateway
[code]
这个报502

[2019-09-26 08:26] Micheal-yang-china commented on #795
好的，可以了，多谢！

[2019-09-26 08:46] floydljy opened #797 "如何能在界面上获取非admin用户的kubeconfig"
如题，希望能用外部程序访问kubesphere，但是不想提供admin的权限

[2019-09-26 08:48] #795 closed

[2019-09-26 09:02] jinjie2088 commented on #770
改成支持多用户登录，重新部署可以了，谢谢

[2019-09-26 09:02] #770 closed

[2019-09-27 01:15] jinjie2088 opened #803 "使用添加的chart仓库安装应用失败"
添加chart仓库后，可以获取到chart信息，但是安装失败，找不到安装的chart包。
![image](https://user-images.githubusercontent.com/4155721/65734689-bdb01e00-e106-11e9-80da-3f96f90aa6d5.png)

查看charts服务器的index-cache.yaml文件，文件中已经指定了urls：
![image](https://user-images.githubusercontent.com/4155721/65734757-0ff13f00-e107-11e9-98c0-bf521deedb50.png)
前面是带路径的，而去部署时没有把路径拼上去，导致找不到chart包

版本：2.0.2
charts库使用chartmuseum

[2019-09-27 01:27] dylanyht opened #804 "centos7离线安装问题"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
提示找不到挂载点 无法进行安装
**安装环境的硬件配置**
centos7
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
vmware虚拟机
**错误信息或截图**
umount: /kubeinstaller/yum_repo/iso: not mounted
/etc/yum.repos.d ~/kubesphere-all-offline-advanced-2.0.2/scripts
/etc/yum.repos.d
mount: /dev/loop0 is write-protected, mounting read-only
mount: /dev/loop1 is write-protected, mounti

[2019-09-27 01:33] dylanyht opened #805 "centos7在线安装卡住"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
使用在线安装时 执行到kubernetes/kubeadm : Join to cluster if needed这一步时卡住 十几个小时不动 不往下进行也不报错
**安装环境的硬件配置**
centos7
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
VMware虚拟机
**错误信息或截图**

TASK [kubernetes/kubeadm : Join to cluster if needed] *****************************************************
Thursday 26 September 2019  22:02:40 +0800 (0:00:01.240)

[2019-09-27 02:53] deerjoe opened #806 "SonarQube CrashLoopbackoff，检查发现postgresql no pg_hba.conf entry for host"
**问题描述**
多节点安装时发现SonarQube 的pod Crashloopbackoff

**安装环境的硬件配置**
虚拟机
master：2核 8g
node2~4：2核 8g

[备注]: <VMware虚拟机>
**错误信息或截图**
检查SonarQube日志发现报错：
`2019.09.27 02:41:46 INFO  web[][o.sonar.db.Database] Create JDBC data source for jdbc:postgresql://ks-sonarqube-postgresql:5432/sonarDB
2019.09.27 02:41:46 ERROR web[][o.s.s.p.Platform] Web server startup failed
java.lang.IllegalStateException: Can not c

[2019-09-27 02:54] Micheal-yang-china opened #807 "CI/CD 流水线构建会导致harbor无法pull镜像，push正常"
按照官方文档操作实例十二：CI/CD 流水线示例 (离线版)
构建流水线的过程中镜像可以正常push到harbor但是在将服务发布到dev环境的过程中无法pull镜像

[2019-09-27 03:09] Micheal-yang-china opened #808 "CI/CD 流水线构建，阶段七. Push with tag: 生成 tag 并 release 到 GitLab时无法成功"
CI/CD 流水线构建，阶段七. Push with tag: 生成 tag 并 release 到 GitLab时无法成功
查看Jenkins构建日志，报错信息如下：
git push http://****:****@gitlab.devops.kubesphere.local:30080/****1/devops-java-sample.git --tags --ipv4 fata: unable to access 'http://****:****@gitlab.devops.kubesphere.local:30080/****1/devops-java-sample.git/': could not resolve host :****@gitlab.devops.kubesphere.local;Name or service not known

[2019-09-27 03:09] runzexia commented on #807
无法pull镜像有错误信息嘛？

[2019-09-27 03:11] deerjoe commented on #806
需要找到ks-sonarqube-postgresql 挂载的目录里面修改pg_hba.conf的配置，增加一行
 ` host all all 0.0.0.0/0 md5`

如果开发能看到的话能否对这个版本的postgresql 初始化前配置好pg_hba.conf？否则每次安装都需要手动修改这个配置

[2019-09-27 03:14] Micheal-yang-china commented on #807
error response from daemon:Get http://harbor.devops.kubesphere.local:30280/v2/library/java/manifest/openjdk-8-jre-alpine:read tcp 20.xx.xx.120:32834 -> 20.xx.xx.32:30280: read: connection reset by peer

[2019-09-27 03:15] shaowenchen commented on #806
直接提个 PR ，岂不是更快😝

[2019-09-27 03:21] runzexia commented on #806
其他环境当中没有遇到过类似的问题，这个是使用官方helm包进行安装，可以refer相关的issue到此issue

[2019-09-27 03:22] runzexia commented on #808
.请确认已经安装gitlab

[2019-09-27 03:38] Micheal-yang-china commented on #808
我是在k8s上安装的kubesphere，是每个节点都需要安装gitlab吗？

[2019-09-27 06:35] aiguanglee opened #810 "CI/CD 流水线构建 docker 命令找不到"
+ docker inspect -f . harbor.xxx.com/test/maven:3.6.1
/home/jenkins/workspace/ct-kRw6lGrXn3vo_xxx-xxx_master@tmp/durable-dbc14b4d/script.sh: 1: /home/jenkins/workspace/ct-kRw6lGrXn3vo_xxx-xxx_master@tmp/durable-dbc14b4d/script.sh: docker: not found

[2019-09-27 06:37] runzexia commented on #810
请参考一下devops sample，需要嵌套一下container step

[2019-09-27 07:50] wu997134245 opened #812 "centos7.5 安装2.0.2失败"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
centos7.5 安装2.0.2失败
**安装环境的硬件配置**
8核16G，200G硬盘

**错误信息或截图**

TASK [download : Check the local digest sha256 corresponds to the given image tag] **************************************************************************************************************************************************************
Friday 27 September 2019  03:10:

[2019-09-27 10:00] #810 closed

[2019-09-28 08:19] gshkb opened #817 "安装失败"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**选择All-in-one模式,安装中途报错**

**硬件阿里云服务器 CentOS7.4  8核 16g 550G硬盘 5M带宽**

[备注]: <云主机>

配置文件:
[code]
**错误信息**

TASK [ks-logging : ks-logging | Checking elasticsearch-logging] ********************************************************************
Saturday 28 September 2019  16:26:36 +0800 (0:00:01.414)       0:04:52.893 ****
fatal: [ks-allinone]: FA

[2019-09-28 08:24] zryfish commented on #817
错误信息贴下啊

[2019-09-28 08:33] gshkb commented on #817
TASK [ks-logging : ks-logging | Checking elasticsearch-logging] ********************************************************************
Saturday 28 September 2019  16:26:36 +0800 (0:00:01.414)       0:04:52.893 ****
fatal: [ks-allinone]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm list | grep \"elasticsearch-logging\" | grep \"elasticsearch-1.10.2\"", "delta": "0:00:00.445447", "end": "2

[2019-09-28 10:21] soulseen commented on #808
检查下`kubesphere-devops-system` namespace下是否存在gitlab。

[2019-09-28 10:24] soulseen commented on #807
测试下手动可以pull吗

[2019-09-28 10:57] anstns opened #819 "使用外网访问"
在使用外网访问之后，配置了自定义路由，在客户端获取客户端的IP是127.0.0.1这样要怎么解决

[2019-09-29 02:37] soulseen opened #822 "未安装devops，总览页面却显示devops工程数量"
**Describe the bug(描述下问题)**

ks-dev-2.1版本，未安装devops，总览页面却显示devops工程数量

![image](https://user-images.githubusercontent.com/16031013/65825062-d35b4a00-e2a4-11e9-9481-9a417b4b5f34.png)

**Versions used(KubeSphere/Kubernetes的版本)**

ks-dev-2.1-20190929

**Environment(环境的硬件配置)**

allinone: 8cpu/32g

[2019-09-29 02:44] huojiao2006 opened #823 "未安装告警模块界面显示通知邮件服务器设置"
**Describe the bug(描述下问题)**
未安装告警模块界面显示通知邮件服务器设置

**Versions used(KubeSphere/Kubernetes的版本)**
ks-dev-2.1

[2019-09-29 02:48] runzexia commented on #822
版本最好加带日期的版本号

[2019-09-29 02:49] rayzhou2017 opened #824 "文档link错误"
* [x] 文档link到docs.kubesphere.io，需要link到kubesphere.io/docs，整体扫描一下link

![Screen Shot 2019-09-29 at 10 44 03 AM](https://user-images.githubusercontent.com/28859385/65825183-88423680-e2a6-11e9-8664-a41e3781d9b9.png)

[2019-09-29 02:50] Micheal-yang-china commented on #808
存在啊，拉取代码就是从内置的gitlab上拉取的，然后生成 tag 并 release 到 GitLab时无法成功

[2019-09-29 02:51] Micheal-yang-china commented on #807
平台不行，手动pull也不行

[2019-09-29 02:54] runzexia commented on #807
请检查集群的网络状况，包括node 网络、kube-proxy、calico等

[2019-09-29 02:57] soulseen opened #825 "项目中密钥引用数量错误"
**Describe the bug(描述下问题)**

在项目下创建密钥，新创建的密钥显示引用数为2。

![image](https://user-images.githubusercontent.com/16031013/65825214-fe469d80-e2a6-11e9-9a31-338923caba55.png)

**Versions used(KubeSphere/Kubernetes的版本)**

ks-dev-2.1-20190929

**Environment(环境的硬件配置)**

allinone: 8cpu/32g

[2019-09-29 02:57] soulseen commented on #825
/kind bug

[2019-09-29 03:01] soulseen commented on #825
/area console
/assign @leoendless

[2019-09-29 03:06] runzexia opened #826 "[19-09-28] kubectl completion 在 web 控制台没有被设置"
/kind bug

[2019-09-29 03:08] runzexia commented on #826
/assign @zryfish
/milestone  2.1

[2019-09-29 03:11] runzexia opened #827 "[19-09-28] 在pvc页面跳转到挂载pvc的pod页面会导致404"
![image](https://user-images.githubusercontent.com/31230341/65825462-c3923480-e2a9-11e9-820b-a6ac92091059.png)
在上面页面中点击跳转，下面页面url中出现未定义，点击面包屑会导致404
![image](https://user-images.githubusercontent.com/31230341/65825471-defd3f80-e2a9-11e9-8971-7066db969804.png)
/kind bug
/area console

[2019-09-29 03:12] runzexia commented on #827
/assign @leoendless

[2019-09-29 03:20] rayzhou2017 opened #828 "没有翻译成中文"
* [x] 内置角色没有翻译成中文

![Screen Shot 2019-09-29 at 11 19 46 AM](https://user-images.githubusercontent.com/28859385/65825576-0f91a900-e2ab-11e9-88a2-bf35927cb629.png)

* [x] 内置用户名也没有翻译
![Screen Shot 2019-09-29 at 11 23 56 AM](https://user-images.githubusercontent.com/28859385/65825610-a52d3880-e2ab-11e9-9a2c-1c1e9a23505a.png)

* [x] 这个地方PVC是不是最好翻译一下？
![Screen Shot 2019-09-29 at 1 35 38 PM](https://user

[2019-09-29 03:39] rayzhou2017 opened #829 "k8s版本需要升级"
* [ ] 1.15.4已经release了，默认需要支持这个版本。docker默认版本是不是也需要升级？

[2019-09-29 04:20] rayzhou2017 opened #832 "主机容器组详情页多余信息"
* [x] 进入主机的容器组tab页，column里有主机name和ip，这个是多余的，因为你已经在查某个具体的主机，这些信息在左边已经有了。
![Screen Shot 2019-09-29 at 12 18 41 PM](https://user-images.githubusercontent.com/28859385/65826218-774bf200-e2b3-11e9-86bb-c3cc5d5e0dd9.png)

[2019-09-29 04:22] rayzhou2017 commented on #832
如果性能不受影响，换成pod关联的workload是不是更好一些？

[2019-09-29 04:30] rayzhou2017 opened #833 "csi list"
* [ ] 没理解这个new是什么意思？也没有说明或者link，另外为什么没有qingstor csi？还有后续应该加上一些主流云厂商的csi
![Screen Shot 2019-09-29 at 12 27 22 PM](https://user-images.githubusercontent.com/28859385/65826282-ac0c7900-e2b4-11e9-965f-1bdb3ad7a670.png)

[2019-09-29 04:42] soulseen commented on #808
修改下CoreDNS的配置。参考https://kubesphere.io/docs/advanced-v2.0/zh-CN/system-settings/edit-system-settings/#%E5%A6%82%E4%BD%95%E4%BF%AE%E6%94%B9-coredns-%E9%85%8D%E7%BD%AE

[2019-09-29 05:33] rayzhou2017 commented on #822
注意这个地方也需要改

![Screen Shot 2019-09-29 at 1 32 59 PM](https://user-images.githubusercontent.com/28859385/65826805-a9625180-e2bd-11e9-8e9b-fddb01ad287a.png)

[2019-09-29 05:39] rayzhou2017 opened #834 "unknown workspace"
* [ ] 这一页多了一个没有名字的workspace，感觉是bug，总览页没有个这个问题
![Screen Shot 2019-09-29 at 1 38 05 PM](https://user-images.githubusercontent.com/28859385/65826877-7e2c3200-e2be-11e9-9b6b-b37525f2c86a.png)

[2019-09-29 05:40] rayzhou2017 commented on #822
还有这个地方
![Screen Shot 2019-09-29 at 1 40 40 PM](https://user-images.githubusercontent.com/28859385/65826895-bb90bf80-e2be-11e9-9757-938daa167b29.png)

[2019-09-29 06:05] justahole commented on #833
@rayzhou2017 new 是原有版本的升级，功能上是一样的。这里提供的旧版，可以理解为稳定版。说明很快就会加入。

[2019-09-29 06:12] justahole commented on #834
这个问题已经在修复中了。

[2019-09-29 06:18] leoendless commented on #833
可以适当加个翻译说明下

[2019-09-29 06:42] huanggze commented on #822
![image](https://user-images.githubusercontent.com/22350668/65827839-129a9280-e2c7-11e9-9d12-3f405796e15e.png)

![image](https://user-images.githubusercontent.com/22350668/65827850-2b0aad00-e2c7-11e9-96f2-cec430318989.png)

![image](https://user-images.githubusercontent.com/22350668/65827862-4b3a6c00-e2c7-11e9-8d48-33cac077cf6d.png)

[2019-09-29 06:49] leoendless commented on #825
这里翻译错了，应该是配置项数量

[2019-09-29 07:28] soulseen commented on #822
上面的图中项目下的构建，可能是因为之前修改 configmap instller， 装devops失败后的残留的数据

[2019-09-29 07:38] leoendless commented on #824
fixed in [kubespheredev/ks-console](https://hub.docker.com/r/kubespheredev/ks-console)

[2019-09-29 07:39] leoendless commented on #822
fixed in [kubespheredev/ks-console](https://hub.docker.com/r/kubespheredev/ks-console)

[2019-09-29 07:40] leoendless commented on #827
fixed in [kubespheredev/ks-console](https://hub.docker.com/r/kubespheredev/ks-console)

[2019-09-29 07:40] leoendless commented on #825
fixed in [kubespheredev/ks-console](https://hub.docker.com/r/kubespheredev/ks-console)

[2019-09-29 07:41] leoendless commented on #823
fixed in [kubespheredev/ks-console](https://hub.docker.com/r/kubespheredev/ks-console)

[2019-09-29 07:48] rayzhou2017 opened #837 "system project项目成员"
* [ ] 项目成员怎么是0个？ admin不是其成员吗？
![Screen Shot 2019-09-29 at 3 46 54 PM](https://user-images.githubusercontent.com/28859385/65828731-6cec2100-e2d0-11e9-832b-d8828a79f1b7.png)

[2019-09-29 07:54] leoendless commented on #837
@wansir 看下吧，应该是接口没有返回

[2019-09-29 07:54] rayzhou2017 opened #838 "resource limit 显示NaN"
* [x] 如下图所示
![Screen Shot 2019-09-29 at 3 53 24 PM](https://user-images.githubusercontent.com/28859385/65828798-5d210c80-e2d1-11e9-9d6b-63d997664c12.png)

[2019-09-29 07:59] rayzhou2017 opened #839 "工作负载"
* [x] 下面负载的显示我感觉比较奇怪，pod列表里包含了job的，但job和cronjob是单独的menu，是不是应该把job和cronjob都列到工作负载里，和deployment它们并列？
![Screen Shot 2019-09-29 at 3 57 37 PM](https://user-images.githubusercontent.com/28859385/65828852-07992f80-e2d2-11e9-9f57-aa839322465f.png)

[2019-09-29 08:09] minghaoye opened #840 "[9.29] 2.1 安装完 devops 报错"
### 环境
Ubuntu Server 18.04.1 LTS 64bit
all in one

#### Request URL: http://139.198.17.39:30880/kapis/tenant.kubesphere.io/v1alpha2/workspaces/console-ae/devops?paging=limit%3D10%2Cpage%3D1

Status Code: 500 Internal Server Error

#### response
Code: 500
Message: "Error 1049: Unknown database 'devops'"

[2019-09-29 08:45] leoendless commented on #838
fixed in [kubespheredev/ks-console](https://hub.docker.com/r/kubespheredev/ks-console)

[2019-09-29 08:46] leoendless commented on #832
fixed in [kubespheredev/ks-console](https://hub.docker.com/r/kubespheredev/ks-console)

[2019-09-29 08:46] leoendless commented on #828
fixed in [kubespheredev/ks-console](https://hub.docker.com/r/kubespheredev/ks-console)

[2019-09-29 09:35] OdinLin opened #842 "关于roadmap的AI platform"
想问下， readme上面 2019的roadmap上面有ai platform的关键词，请问下这块是否有具体的排期或者能描述下这块大致的功能展望吗。 PS: "Futrue Realeases" 拼写错了  应该是 "Future Realeases"  ：）

[2019-09-29 10:05] shaowenchen commented on #840
没有安装成功，看下 pod，应该有 error。

登陆 pod

[code]

编辑文件

[code]

删掉

- - name: S2I | Creating S2I crds
  shell: "{{ bin_dir }}/kubectl apply -f {{ kubesphere_dir }}/s2i/s2i-crd.yaml"

再次编辑 cm ，等待生效。

[2019-09-29 10:22] shaowenchen opened #843 "【2.1】新创建 DevOps 工程 503 报错"
2.1 版本

新建 devops 工程是，报错

![image](https://user-images.githubusercontent.com/43693241/65830840-e7736b80-e2e5-11e9-9e8c-76aad1d25d32.png)

全部pod没有异常的。其中devops 相关pod 状态如下：

[code]

[2019-09-29 11:08] benjaminhuo commented on #842
AI Platform 大概得明年上半年了
功能展望主要是训练，推理，存储及数据管理吧

[2019-09-29 11:18] wnxn commented on #833
- 新建和升级的 KS，在 QingCloud CSI 存储类型 provisioner 字段不一致，这里 UI 设计需要修改。https://app.zeplin.io/project/5cbe7fbc2f55d8b73f56811b/screen/5d660ad439bbe3139a91cbe3
- QingStor CSI 之前的版本因为 NeonSAN CLI 客户端协议不匹配，需要发新版本，计划 10 月发布一版。
https://tower.im/teams/637817/documents/9288/
- 阿里云和腾讯云已经调研完毕，待与 installer 集成。
https://tower.im/teams/637817/documents/8872/
https://tower.im/teams/637817/documents/8978/

[2019-09-29 11:25] pixiake commented on #829
嗯    docker 默认版本会升到的18.09.7

[2019-09-29 11:41] OdinLin commented on #842
哇  棒极了！ 那会是以应用的存在还是直接集成进平台呢

[2019-09-29 11:46] benjaminhuo commented on #842
作为独立的组件选装

[2019-09-29 11:51] OdinLin commented on #842
期待~

[2019-09-29 11:57] #842 closed

[2019-09-29 12:34] runzexia commented on #843
fix by https://github.com/kubesphere/ks-installer/pull/169

[2019-09-29 12:35] runzexia commented on #840
fix by https://github.com/kubesphere/ks-installer/pull/168

[2019-09-29 12:35] runzexia commented on #840
/area installer
/area devops

[2019-09-29 12:35] runzexia commented on #840
/bug

[2019-09-29 12:36] runzexia commented on #840
/kind bug

[2019-09-29 12:36] runzexia commented on #843
/area installer
/area devops
/kind bug

[2019-09-29 13:17] anstns opened #844 "创建私有仓库密钥设置"
你们给的地址：/etc/systemd/system/docker.service.d/docker-options.conf ,我没有这路径 怎么办

[2019-09-29 16:29] anstns opened #845 "关于日志抓取不到"
场景：我们是用二进制来搭建的kubernetes，修改了docker挂载，开启了聚合，现在fluent-bit抓取不到日志，我们外部es数据，用helm安装fluentd 可以正常抓取数据，但是页面依然不展示日志，求大佬解决一下，比较急
![image](https://user-images.githubusercontent.com/36152763/65835449-d2fc9680-e318-11e9-9633-7a9068e96891.png)
![image](https://user-images.githubusercontent.com/36152763/65835458-f32c5580-e318-11e9-9905-c0a39eecce88.png)
![image](https://user-images.githubusercontent.com/36152763

[2019-09-29 18:24] anstns commented on #845
![image](https://user-images.githubusercontent.com/36152763/65837375-22e35980-e329-11e9-9ec8-8b372e4d37e3.png)
![image](https://user-images.githubusercontent.com/36152763/65837386-5b833300-e329-11e9-92a2-be757fb72f70.png)
![image](https://user-images.githubusercontent.com/36152763/65837392-75247a80-e329-11e9-9365-c2e4aaaca394.png)

[2019-09-30 01:41] rayzhou2017 opened #846 "top5 换行"
* [x] 看阴影部分感觉是换行了，而且没有tooltip
<img width="609" alt="Screen Shot 2019-09-30 at 9 40 39 AM" src="https://user-images.githubusercontent.com/28859385/65843873-788a2700-e366-11e9-8345-1222286d5bb8.png">

[2019-09-30 02:06] rayzhou2017 commented on #838
verified on 2.1.0-dev-20190930

[2019-09-30 02:06] #838 closed

[2019-09-30 02:15] rayzhou2017 commented on #834
verified on 2.1.0-dev-20190930

[2019-09-30 02:15] #834 closed

[2019-09-30 02:16] rayzhou2017 commented on #832
verified on 2.1.0-dev-20190930

[2019-09-30 02:16] #832 closed

[2019-09-30 02:19] rayzhou2017 commented on #828
verified on 2.1.0-dev-20190930

[2019-09-30 02:19] #828 closed

[2019-09-30 02:23] rayzhou2017 commented on #824
verified on 2.1.0-dev-20190930

[2019-09-30 02:23] #824 closed

[2019-09-30 02:45] rayzhou2017 opened #847 "disable devops plugin but still show devops"
* [ ] as shown below
<img width="285" alt="Screen Shot 2019-09-30 at 10 43 31 AM" src="https://user-images.githubusercontent.com/28859385/65846103-4c26d880-e36f-11e9-8524-fd23a480d684.png">

[2019-09-30 07:18] shaowenchen opened #848 "【2.1】Jenkins 没有对 Sonarqube 插件初始化参数，导致流水线找不到配置"
需要增加配置的位置：

添加  SonarQube servers 相关信息即可。

![image](https://user-images.githubusercontent.com/43693241/65856940-670c4380-e395-11e9-9a8b-b1b28b014fd5.png)

导致的报错：

ERROR: SonarQube installation defined in this job (SonarQube) does not match any configured installation. Number of installations that can be configured: 0.

[2019-09-30 07:21] rayzhou2017 opened #849 "No place to configure file-based logger"
* [x] cannot find the way to enable the file-based logger
<img width="484" alt="Screen Shot 2019-09-30 at 11 04 07 AM" src="https://user-images.githubusercontent.com/28859385/65857192-eb5ec680-e395-11e9-8a85-23ee603e6959.png">

<img width="1023" alt="Screen Shot 2019-09-30 at 11 06 48 AM" src="https://user-images.githubusercontent.com/28859385/65857152-cf5b2500-e395-11e9-9b48-8c9f1fd4ded1.png">

[2019-09-30 07:25] runzexia commented on #848
@pixiake

[2019-09-30 07:29] rayzhou2017 opened #850 "普通用户登录显示应用商店"
* [x] 系统没有装应用商店，但登录依然显示
<img width="959" alt="Screen Shot 2019-09-30 at 3 27 53 PM" src="https://user-images.githubusercontent.com/28859385/65857721-fcf49e00-e396-11e9-9b35-242b8495c72b.png">

[2019-09-30 07:43] wanjunlei opened #851 "创建部署（deployment）时，选择“暴露服务”，不能自动创建service"
**Describe the bug(描述下问题)**
创建部署（deployment）时，如果选择“暴露服务”，不会创建service
![image](https://user-images.githubusercontent.com/53003665/65858375-54473e00-e398-11e9-8d4f-16b4d1b547bb.png)

创建有状态副本集（StatefulSet）时，如果选择“暴露服务”，则会创建service

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
1 masters:  8cpu/16g
3

[2019-09-30 07:45] wanjunlei opened #852 "删除workload时，不会同时删除对应的service"
**Describe the bug(描述下问题)**
删除workload时，不会同时删除对应的service

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
1 masters:  8cpu/16g
2 nodes: 8cpu/16g

**Expected behavior(预期行为)**
删除workload时，默认同时删除对应的service

[2019-09-30 07:49] shaowenchen opened #853 "【2.1】创建示例应用时，提示不准确，找不到【高级设置】选项"
创建示例 bookinfo 示例应用时，提示【在高级设置中设置外网访问方式】

![image](https://user-images.githubusercontent.com/43693241/65858738-4940dd80-e399-11e9-99cf-9f52f6b36cc6.png)

实际上没有【高级设置】的选项，应该是在【应用路由】中设置网关。

[2019-09-30 07:52] shaowenchen opened #854 "【2.1】没有安装组件 Istio，部署应用时，提示示例应用，同时应用状态存在异常"
![image](https://user-images.githubusercontent.com/43693241/65859218-42ff3100-e39a-11e9-979b-7ed37e306d27.png)

应用并没有运行成功，但是显示就绪

[2019-09-30 07:59] #854 closed

[2019-09-30 10:01] mayuhope opened #855 "【2.1】发送测试邮件时，提示404 page not found"
1、安装notifaction组件；

2、进入平台设置-邮件服务器，正确填写相关参数，点发送测试邮件；
提示404 page not found

<img width="939" alt="1569837745(1)" src="https://user-images.githubusercontent.com/7677050/65869179-8367aa80-e3ac-11e9-81d7-27d527ccf737.png">

[2019-09-30 10:13] mayuhope opened #856 "【2.1】创建完的平台角色没有在前端显示"
1、进入平台管理-平台角色；

2、创建一个新的平台角色，但是创建完的平台角色没有在前端显示

[2019-09-30 10:16] shaowenchen opened #857 "【2.1】Istio 灰度发布功能，选择镜像流量时，添加容器镜像报错 500"
![image](https://user-images.githubusercontent.com/43693241/65870222-48ff0d00-e3ae-11e9-91c9-c013dddaf66f.png)

这个错误，在创建工作负载时，也会复现。应该是镜像 search API 的问题。

[2019-09-30 10:41] mayuhope opened #858 "【2.1】创建部署添加容器镜像时，提示internal server error"
创建部署添加容器镜像时，提示internal server error

<img width="567" alt="error" src="https://user-images.githubusercontent.com/7677050/65872180-9a110000-e3b2-11e9-9537-fc2209011ad8.png">

[2019-09-30 11:00] mayuhope opened #859 "【2.1】点击告警消息后，提示404页面不存在"
1、配置告警策略，添加告警规则；

2、使其产生告警；

3、进入监控中心-告警策略-告警历史，点击一条告警消息，结果：提示404页面不存在

[2019-09-30 15:13] mayuhope opened #860 "【2.1】禁用devops后，在企业空间列表仍然显示了devops 工程数量"
1、修改 ks-installer 的 configmap 禁用devops组件；

2、登录后进入一个企业空间，点击左上方的空间列表，查看企业空间，发现企业空间列表仍然显示了devops工程数量；
<img width="547" alt="777" src="https://user-images.githubusercontent.com/7677050/65892041-36013280-e3d8-11e9-80cd-233dca64a08c.PNG">

[2019-09-30 15:29] mayuhope opened #861 "【2.1】工作台显示的项目总数不正确"
1、系统只有2个企业空间，项目数量分别为3、9，一共加起来应该是12个项目；

2、但是工作台中显示的项目总数为14，对不上；

[2019-10-01 01:16] mayuhope opened #862 "【2.1】多节点环境中计算节点缺少角色描述"
1、1个master、2 个node的多节点环境；

2、进入基础设施-主机，发现2个计算节点的角色描述字段为空，见下图：
<img width="400" alt="123" src="https://user-images.githubusercontent.com/7677050/65927372-15fb5e80-e42c-11e9-8dfa-0a9cc96ccc44.PNG">

[2019-10-01 01:38] mayuhope opened #863 "【2.1】项目内告警策略，尚未触发告警时，最近告警时间为 Invalid date"
1、进入一个项目，监控告警-告警策略中添加一条告警策略；

2、在该告警策略尚未触发告警时，最近告警时间显示为Invalid date；
<img width="612" alt="444" src="https://user-images.githubusercontent.com/7677050/65928146-4bee1200-e42f-11e9-9f75-d9d5fe6de9db.PNG">

[2019-10-01 02:12] mayuhope opened #864 "【2.1】无法添加应用仓库helm地址"
1、在系统中没找到可以添加应用仓库地址的地方；

2、导致通过应用仓库部署应用时，无法选择应用仓库；

[2019-10-01 06:17] leoendless commented on #850
@zryfish /kapis/v1alpha1/configz 这个接口普通用户调用报错 403 ，而且这里的具体信息最好能够隐藏吧

[2019-10-02 14:24] FeynmanZhou opened #865 "【2.1】有状态副本中无法修改服务"
在有状态副本的详情页 => 点击编辑服务，popup 页面无法加载
![image](https://user-images.githubusercontent.com/40452856/66052542-55789680-e563-11e9-8854-d829558e0a58.png)

[2019-10-03 03:39] FeynmanZhou opened #866 "【2.1】单独开启安装 DevOps 后，创建 DevOps 工程报 Service Unavailable"
单独开启安装 DevOps 后，创建 DevOps 工程时报 Service Unavailable，DevOps 组件都是正常的

![image](https://user-images.githubusercontent.com/40452856/66097792-5bf22700-e5d2-11e9-9130-8e0f9a38c6a0.png)
![image](https://user-images.githubusercontent.com/40452856/66097802-66142580-e5d2-11e9-8f39-130588040cbd.png)

[2019-10-03 14:37] soulseen commented on #866
这个是devops的组件没有装完全，jenkins，s2i等都没有装。

[2019-10-03 14:40] soulseen commented on #866
/help wanted @pixiake @chilianyi

[2019-10-05 05:43] haozi23333 opened #867 "install-gitlab-harbor.yml 语法问题"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
已结安装完成kubesphere, 需要补上Harbor-Gitlab
执行gitlab-harbor.sh,  提示 install-gitlab-harbor.yml 语法问题, 均按照官方文档执行
`wget https://raw.githubusercontent.com/kubesphere/tutorial/master/tutorial%203%20-%20install-gitlab-harbor/install-gitlab-harbor.yml`

[code]
[code]

**安装环境的硬件配置**

3节点 2Core8G KVM虚拟机, Centos 7.6
k8s:
Client Version: version.Info{Ma

[2019-10-05 16:27] FeynmanZhou opened #868 "【2.1】应用路由端口无法指定 80"
参考 [示例二](https://kubesphere.io/docs/advanced-v2.0/zh-CN/quick-start/ingress-demo/) 指定 80 端口无法创建应用路由
![image](https://user-images.githubusercontent.com/40452856/66257778-bc9a8300-e7cf-11e9-99e1-052c0f6eee91.png)

[2019-10-06 04:51] huanggze commented on #845
不好意思，放假回复迟了。fluent-bit 没有报错，应该是正常运行了。请问修改 cm 里的 containersMountedPath 是安装后修改的还是安装时？如果已安装后修改的，需要重启 fluent-bit operator 具体看 #680

外部的 es 有没有数据呢？`curl <es_ip>:9200/_cat/indices` 看一下，kubesphere 的日志 index 都是 `ks-logstash-log-<日期>` 的方式命名。有没有产生数据？

[2019-10-06 14:08] SunHanxi opened #869 "ubuntu离线安装失败"
#### 您好，我在安装时遇到了如下错误。
**错误信息**
TASK [kubernetes-apps/cluster_roles : Kubernetes Apps | Wait for kube-apiserver] ***************************************************************
Sunday 06 October 2019  21:54:12 +0800 (0:00:00.045)       0:01:20.400 ********
FAILED - RETRYING: Kubernetes Apps | Wait for kube-apiserver (10 retries left).
FAILED - RETRYING: Kubernetes Apps | Wait for kube-apiserver (9

[2019-10-06 16:26] anstns commented on #845
已经好用了谢谢

[2019-10-06 19:15] 2804337402 opened #870 "k8sv1.16.0 安装kubesphere2.0.2报错-Error: validation failed: unable to recognize \"\": no matches for kind \"Deployment\" in version \"extensions/v1beta1\"""
TASK [ks-devops/sonarqube : Sonarqube | Deploy Sonarqube] **********************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-sonarqube  /etc/kubesphere/sonarqube/sonarqube-0.13.5.tgz -f /etc/kubesphere/sonarqube/custom-values-sonarqube.yaml  --namespace kubesphere-devops-system\n", "delta": "0:00:00.384153", "end": "2019-10-06 19:07:40.355654",

[2019-10-07 00:28] huanggze commented on #845
好的。请问是什么原因呢？方便其他人参考

[2019-10-07 08:08] runzexia commented on #870
暂时不支持k8s 1.16，目前可用版本为1.13.x、1.14.x、1.15.x

[2019-10-08 01:40] calvinyv commented on #857
/assign @leoendless

[2019-10-08 01:41] calvinyv commented on #857
/kind bug

[2019-10-08 01:43] calvinyv commented on #853
/assign @leoendless

[2019-10-08 01:43] calvinyv commented on #853
/kind bug

[2019-10-08 01:48] calvinyv commented on #848
/assign @pixiake

[2019-10-08 01:48] calvinyv commented on #848
/kind bug

[2019-10-08 01:49] calvinyv commented on #843
/assign @shaowenchen pls verify it in lastet dev build

[2019-10-08 02:25] leoendless commented on #853
需要修复下权限

[2019-10-08 02:30] LDWinsky commented on #855
已经解决了这个问题。

[2019-10-08 02:32] justahole commented on #855
API已经接入，现在没有这个问题了。

[2019-10-08 03:30] leoendless commented on #847
Please check the value of ``globals.ksConfig.devops`` in the browser console.

[2019-10-08 03:46] rayzhou2017 commented on #847
Here is the console http://139.198.14.155:30880/workspaces/ray-ws/overview/usage

[2019-10-08 03:56] leoendless commented on #847
No devops found in ray-ws workspace

[2019-10-08 03:59] rayzhou2017 commented on #847
use ray account to check, not admin

[2019-10-08 04:44] zwqzhangweiqiang opened #871 "all-in-one模式，安装kubesphere完成后，单独安装 Harbor，没有端口访问"
kubesphere采用all-in-one安装模式，安装版本为2.02，安装完成后，单独安装harbor，安装完成后，查看端口，没有，也不能访问，安装步骤如下：
1.wget https://raw.githubusercontent.com/kubesphere/tutorial/master/tutorial%203%20-%20install-gitlab-harbor/install-gitlab-harbor.yml
2. wget https://raw.githubusercontent.com/kubesphere/tutorial/master/tutorial%203%20-%20install-gitlab-harbor/gitlab-harbor.sh
3.chmod +x gitlab-harbor.sh && ./gitlab-harbor.sh
脚本执行完后

[2019-10-08 05:03] leoendless commented on #847
same issue as https://github.com/kubesphere/kubesphere/issues/850

[2019-10-08 07:38] calvinyv commented on #847
/duplicate

[2019-10-08 07:39] calvinyv commented on #847
/duplicate

[2019-10-08 07:44] Carlosfengv commented on #839
已将容器组作为单独菜单进行显示，同时优化了容器组状态，增加了 Conditions 信息

[2019-10-08 07:46] #847 closed

[2019-10-08 07:57] shaowenchen opened #873 "【2.1】version number need to modify"
1. image version number

There is only a version，not advanced-xxx。

[code]

2. labels version number

[code]

Please check all version number.

[2019-10-08 07:59] shaowenchen commented on #873
/area devops
/area alerting
/area storage

[2019-10-08 08:41] mayuhope opened #874 "【2.1】An error occurred while editing user roles"
1、Enter platform management-Account management；

2、Select a user and click edit，then  modify user roles，an error occurred：
<img width="955" alt="1570523826(1)" src="https://user-images.githubusercontent.com/7677050/66380778-a583ad00-e9ea-11e9-8611-74e3017e6c45.png">

[2019-10-08 08:52] Carlosfengv opened #875 "增加关联资源删除"
Rt, 增加service 已经相关联资源的删除确认
![image](https://user-images.githubusercontent.com/23092051/66381425-e0d2ab80-e9eb-11e9-8797-373d2a851c4d.png)
[查看设计图](zpl://screen?pid=5cbe7fbc2f55d8b73f56811b&sid=5d9c4ca0a614be1f612af506)
@leoendless

[2019-10-08 08:52] shaowenchen commented on #874
/area console

[2019-10-08 08:52] Carlosfengv commented on #875
zpl://screen?pid=5cbe7fbc2f55d8b73f56811b&sid=5d9c4ca0a614be1f612af506

[2019-10-08 08:53] shaowenchen commented on #874
/assign @leoendless

[2019-10-08 08:54] mayuhope commented on #856
area/console

[2019-10-08 08:56] mayuhope commented on #859
/area   alerting

[2019-10-08 08:58] mayuhope commented on #864
/area  app-management

[2019-10-08 09:02] mayuhope commented on #863
/area console

[2019-10-08 09:02] mayuhope commented on #861
/area console

[2019-10-08 09:06] mayuhope commented on #860
/area  devops
/area  iam

[2019-10-08 09:09] mayuhope commented on #863
/assign @leoendless

[2019-10-08 09:10] mayuhope commented on #862
/area console

[2019-10-08 09:11] mayuhope commented on #855
/area  notifacation

[2019-10-08 09:12] mayuhope commented on #858
/area console

[2019-10-08 09:28] mayuhope commented on #861
/assign @leoendless

[2019-10-08 09:28] mayuhope commented on #862
/assign @leoendless

[2019-10-08 09:31] leoendless commented on #861
这个应该是有 未纳管项目，新增了全局的项目管理，可以纳管不在工作空间中的项目，目前需等待权限调整完毕

[2019-10-08 09:32] leoendless commented on #862
installer 中需要给其它节点打标签

[2019-10-08 09:36] shaowenchen commented on #874
/assign @wansir

[2019-10-08 09:41] leoendless commented on #868
Fixed

[2019-10-08 09:41] leoendless commented on #863
Fixed

[2019-10-08 09:45] leoendless commented on #859
Fixed

[2019-10-08 09:49] mayuhope commented on #860
/assign @runzexia

[2019-10-08 09:51] soulseen opened #877 "【2.1】安装完devops组建后，界面上未显示构建"
**Describe the bug(描述下问题)**

1.修改insatll configmap，安装完devops。

2.进入项目，左侧没有显示“构建”

![image](https://user-images.githubusercontent.com/16031013/66385965-ff3ca500-e9f3-11e9-96c3-4db6829a40ed.png)
![image](https://user-images.githubusercontent.com/16031013/66385983-06fc4980-e9f4-11e9-83a3-3ef691263a88.png)

[2019-10-08 09:53] soulseen commented on #877
/milestone 2.1.0

[2019-10-08 09:56] runzexia commented on #860
@leoendless

[2019-10-08 10:24] leoendless commented on #860
Fixed

[2019-10-08 10:25] leoendless commented on #858
same as #857

[2019-10-08 10:25] #858 closed

[2019-10-09 02:25] Carlosfengv opened #879 "[设计] 项目配额编辑重构"
- [x] 优化项目设置，基础设置中的配额修改

[查看设计稿](zpl://screen?sid=5d8adc5eb6c1b60256e5f2b7&pid=5cbe7fbc2f55d8b73f56811b)

zpl://screen?sid=5d8adc5eb6c1b60256e5f2b7&pid=5cbe7fbc2f55d8b73f56811b

[2019-10-09 02:38] Carlosfengv commented on #879
/area kind/design

[2019-10-09 03:41] huanggze opened #880 "remove unnecessary logs"
ks-apigateway and ks-console produces redundant logs. consider to remove them

![image](https://user-images.githubusercontent.com/22350668/66449990-8425ce00-ea89-11e9-8bd2-9f28f3f2f39f.png)

[2019-10-09 03:44] huanggze commented on #880
/area console
/area apigateway

[2019-10-09 04:03] leoendless commented on #880
这应该是正常的把， 数据就是这么流动的

[2019-10-09 04:46] leoendless commented on #877
项目里的imagebuilder 权限漏了

[2019-10-09 05:46] Carlosfengv commented on #879
/assign @leoendless

[2019-10-09 06:04] huanggze commented on #880
yes but unnecessary. No need to feed them into es storage

[2019-10-09 07:34] mayuhope opened #882 "HPA is not effective"
1.Refer to this step to create the hpa：https://kubesphere.io/docs/advanced-v2.0/zh-CN/quick-start/hpa/#%E5%88%9B%E5%BB%BA-hpa；

2、Create  two workloads：

![image](https://user-images.githubusercontent.com/7677050/66460693-ff977780-eaa9-11e9-91c5-93f3931783b5.png)

3、Create a  service：
![image](https://user-images.githubusercontent.com/7677050/66460677-f60e0f80-eaa9-11e9-9e3e-0b2c6b833111.png)

4、O

[2019-10-09 07:37] mayuhope commented on #882
/area  deploy
/assign  @zryfish
The environment is   http://139.198.5.33:30880/ellayu/projects/project1/deployments

[2019-10-09 08:05] junotx opened #883 "log query bug"
the following bugs occur when do log query test @justahole
/area console
/kind bug

**bug1**
log contents area donot update when scroll it
![image](https://user-images.githubusercontent.com/49136171/66461854-746bb100-eaac-11e9-9913-a4933ce3f8ba.png)

**bug2**

1. do fuzzy query
![image](https://user-images.githubusercontent.com/49136171/66461364-74b77c80-eaab-11e9-9c09-47bf563b6f53.png)

1. then c

[2019-10-09 09:38] knowwinter opened #884 "流水线审批解析账号username只解析了一半"
流水线使用@账号设置审批人员时，当账号为xxx.xx时，解析出来的账号只有xxx，.后面的内容被截掉了，导致此类账号无法进行审批，提示没有权限，账号中没有.的账号可以完成审批

[2019-10-09 09:41] runzexia commented on #884
/area devops
/kind bug
/milestone 2.1.0

[2019-10-09 09:41] calvinyv opened #885 "protocol drop down list is not wide enough"
**General remarks**

**Describe the bug(描述下问题)**
协议下拉列表部分文字隐藏

For UI issues please also add a screenshot that shows the issue.
![Jietu20191009-173606](https://user-images.githubusercontent.com/28883416/66470321-f0212a00-eabb-11e9-895b-eb85b6cc0cd6.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev 20191009

**Environment(环境的硬件配置)**
MacOS +  Safari

**To Reproduce(复现步骤)**
1. 创

[2019-10-09 09:41] calvinyv commented on #885
/assign @leoendless

[2019-10-09 09:41] runzexia commented on #884
/assign @minghaoye

[2019-10-09 09:41] runzexia commented on #884
/milestone v2.1.0

[2019-10-09 09:41] calvinyv commented on #885
/kind bug

[2019-10-09 09:52] mayuhope opened #886 "Devops projects are visible to enterprise space members when devops is disabled"
1、Modify ks-installer configmap to disable devops component;

2、Enter the enterprise space-members management，click on a member；

3、You can see the devops project page，click it ，an error has occurred：
Internal  server  error；

![image](https://user-images.githubusercontent.com/7677050/66471710-658dfa00-eabe-11e9-963e-709f71f6e050.png)

[2019-10-09 10:00] mayuhope commented on #886
/area  console

[2019-10-09 10:01] mayuhope commented on #886
/assign @leoendless

[2019-10-09 10:02] mayuhope commented on #886
/kind  bug

[2019-10-09 10:05] mayuhope commented on #882
/assign @zryfish

[2019-10-09 12:44] leoendless commented on #885
Fixed

[2019-10-09 15:40] cjd9023 commented on #870
请问有考虑支持1.16.x吗

[2019-10-10 01:58] calvinyv commented on #867
/assign @pixiake

[2019-10-10 01:59] calvinyv commented on #867
/kind bug

[2019-10-10 02:00] calvinyv commented on #871
/assign @pixiake
/kind help

[2019-10-10 02:00] calvinyv commented on #871
/kind help

[2019-10-10 02:01] calvinyv commented on #871
/area help

[2019-10-10 02:05] pixiake commented on #871
@Forest-L

[2019-10-10 02:05] calvinyv commented on #871
/assign @Forest-L

[2019-10-10 03:25] FeynmanZhou opened #887 "【2.1】It's invalid to deploy an App from imported App repository"
I've deploy an app named "emq x" from imported app repo "https://repos.emqx.io/charts", but I can't see any workloads, it seems the api is invalid.

[2019-10-10 05:14] #869 closed

[2019-10-10 05:29] daiqingliang commented on #866
![jenkins组件都起来了，但是创建DevOps项目失败](https://user-images.githubusercontent.com/25365956/66541464-f23dc400-eb61-11e9-98bd-510c963d19ed.jpg)

[2019-10-10 05:33] daiqingliang commented on #856
![新建角色后，应该是成功了，但是角色列表不显示](https://user-images.githubusercontent.com/25365956/66541589-52cd0100-eb62-11e9-9b7f-73e7942b2a9e.jpg)

我来给这个问题补张图，点保存后，提示成功了！
但是角色列表中不显示，在添加账户时也无法选择，但是新建一个同样名字的角色却提示你，已经存在了，妥妥的bug

[2019-10-10 05:38] runzexia commented on #866
@daiqingliang 你的版本是2.1吗

[2019-10-10 05:42] daiqingliang commented on #853
![新建的项目，没有外网访问菜单](https://user-images.githubusercontent.com/25365956/66541959-b7d52680-eb63-11e9-8fd7-de36f88d3b84.jpg)

文档提示有问题，或者更新文档或者修改前端

[2019-10-10 05:50] runzexia commented on #866
@daiqingliang 现在这个仓库默认应该是2.0.2，可以看下jenkins日志有什么报错吗。
2.1.0版本还没有正式发布，在测试中

[2019-10-10 06:13] daiqingliang commented on #866
@runzexia
![云之家图片20191010140848](https://user-images.githubusercontent.com/25365956/66543411-e35a1000-eb67-11e9-864d-4d558a5f1216.jpg)
![云之家图片20191010140956](https://user-images.githubusercontent.com/25365956/66543425-e8b75a80-eb67-11e9-93ee-148d8dd1ecf8.jpg)

的确有报错，仓库是2.0.2，那我的版本为啥会是2.1.0呢？
这个问题怎么解决？