[2022-03-12 17:02] #4266 closed

[2022-03-12 17:02] #4390 closed

[2022-03-12 17:02] #4429 closed

[2022-03-13 03:24] #4430 closed

[2022-03-13 04:53] Areturn opened #4728 "helm application bug"
**Describe the Bug**
<img width="1281" alt="b907c4b1f7754e4f2ce388de0ca153f" src="https://user-images.githubusercontent.com/25275823/158045481-318d88f9-9956-4c2f-afa3-9c939911e7a2.png">

**Versions Used**
KubeSphere: 3.2.1
Kubernetes: v1.21.5-eks-bc4871b

**How To Reproduce**
Steps to reproduce the behavior:
1. Created a loki-stack application
2. When modifying grafana to NodePort, it is written a

[2022-03-13 04:57] FeynmanZhou commented on #4728
@Areturn Thanks for reporting this issue!

Hi team @kubesphere/sig-testing @wenxin-01 ,

Could you please help to verify it? If it exists, we will fix it in the future release.

[2022-03-13 06:05] sagilio commented on #4139
/kind feature

[2022-03-14 02:23] #4533 closed

[2022-03-14 03:56] GuoChanghe0220 opened #4729 "Error: JWT secret MUST not be empty"
KubeSphere 前后端本地开发环境
 bin/cmd/ks-apiserver --kubeconfig ~/.kube/config
报错，错误如下：
Error: JWT secret MUST not be empty

[2022-03-14 06:01] szc1233444 opened #4730 "i delete the cluster but it still exisit on workplace"
i use this doc  https://kubesphere.io/zh/docs/multicluster-management/enable-multicluster/direct-connection/
The first time I accidentally added the host kubeconfig to the added cluster, I deleted it in kubectl, then when I finished adding other clusters, I found this problem.
![image](https://user-images.githubusercontent.com/65069247/158113902-54eff48c-0ade-4e62-8f05-ee3530dac74a.png)

![image](

[2022-03-14 06:05] szc1233444 commented on #4730
It's still on the workbench and cannot be unbound.

[2022-03-14 06:06] weili520 commented on #4574
Hi @FeynmanZhou, what are the annotations that users can choose from?

![截屏2022-03-14 13 51 31](https://user-images.githubusercontent.com/33231138/158114247-5362354a-05f8-4fc7-b505-f57df88d255b.png)

an example I found in the code:
![截屏2022-03-14 13 58 08](https://user-images.githubusercontent.com/33231138/158114231-6aa75eb0-415a-4745-819f-dd113ca836a1.png)

[2022-03-14 06:15] FeynmanZhou commented on #4574
There are two options for users to choose from. I think the OpenELB annotations with KubeSphere should be filled out align with [Layer 2 doc](https://openelb.github.io/docs/getting-started/usage/use-openelb-in-layer-2-mode/#step-5-create-a-service) and [BGP doc](https://openelb.github.io/docs/getting-started/usage/use-openelb-in-bgp-mode/#step-6-create-a-service):

- When users choose Layer 2:
![i

[2022-03-14 06:27] weili520 commented on #4574
Ok.
![截屏2022-03-14 14 23 10](https://user-images.githubusercontent.com/33231138/158116802-53c96d2d-9e7a-4af8-bf6f-277babb000a3.png)

[2022-03-14 06:45] zheng1 commented on #4574
@weili520 Can you post which specific file it is? That way we can submit our own PR to add it

[2022-03-14 06:55] weili520 commented on #4574
The file path is `console/src/pages/projects/components/Modals/GatewaySetting/contants.js`.

[2022-03-14 08:00] ypjin commented on #4645
I don't think there is a password for such kind of users, but I do have the same question for getting a token for OIDC users. In Openshift, you can simply get it by "Copy Login Command".

[2022-03-14 10:01] lesterhnu commented on #4729
没有指定配置文件吧，有个kubesphere.yaml，放在根目录下 然后启动，kubectl get cm kubesphere-config -n kubesphere-system -o yaml 里面的kubesphere.yaml字段就是

[2022-03-15 02:07] #4724 closed

[2022-03-15 04:01] VioZhang commented on #4544
If we could note the user if he had not enabled the governance and he could enabled it later，it would be better.

[2022-03-15 07:33] zryfish commented on #4730
That's wired, what's the output of `kubectl get clusters` on host cluster?

[2022-03-15 07:53] xiaohezi205 opened #4731 "通过代码创建服务,镜像名称校验与提示不符"
通过代码创建服务,选择目标镜像仓库（harbor镜像），输入镜像名称如下：192.168.4.25:8889/devops-java-test/devops-java-sample
提示：名称无效。名称只能包含小写字母、数字和连字符（-），必须以小写字母或数字开头和结尾，最长 63 个字符。

[2022-03-15 08:16] zblzbl1991 commented on #4535
我也遇到这个问题,master有监控数据,但是worker没有监控数据

[2022-03-15 09:01] FeynmanZhou commented on #4731
1. Please make sure the docker image name is in line with the convention.
2. Have you successully created the Secret for your Harbor registry?

[2022-03-15 09:02] #4731 closed

[2022-03-15 09:13] xiaohezi205 commented on #4731
1.docker镜像名称是符合规定的，只是在通过代码创建服务，名称校验不通过，因为在拉取镜像失败后，我编辑了yaml文件，是可以拉取镜像的。如devops-java-sample-v1.yaml文件中的镜像名称：192.168.4.25:8889/devops-java-test/devops-java-sample:latest，但是在创建服务填入镜像名称时，校验失败（名称只能包含小写字母、数字、连字符（-）、句点（.）、斜钱（/）和冒号（:），并以小写字母或数字开头和结尾。），如下图：

***@***.***

发件人： pengfei
发送时间： 2022-03-15 17:01
收件人： kubesphere/kubesphere
抄送： xiaohezi205; Author
主题： Re: [kubesphere/kubesphere] 通过代码创建服务,镜像名称校验与提示不

[2022-03-16 05:32] ypjin commented on #4645
Hi @FeynmanZhou, is there a workaround for getting a token for OIDC (or other external) users?

[2022-03-16 07:26] CheckMySoul commented on #4728
When the helm application status is failed, any modification will report an error, which is consistent with the picture.

[2022-03-16 08:02] wansir commented on #4442
/assign @kubesphere/sig-console

[2022-03-16 08:02] wansir commented on #4442
/reopen

[2022-03-16 08:09] zryfish commented on #4426
Need to validate the old cluster with the new kubeconfig.

[2022-03-16 08:25] zryfish commented on #4442
/assign @kubesphere/sig-console

[2022-03-16 09:28] JohnNiang commented on #4729
As @lesterhnu mentioned in https://github.com/kubesphere/kubesphere/issues/4729#issuecomment-1066590224, you could fetch kubesphere-config into your root folder of project by executing following command:

[code]

See link below for more:

- https://github.com/kubesphere/kubesphere/blob/19048d52dca1e874008b7a7ecd9f2ebb719f253e/pkg/apiserver/config/config.go#L136-L152

[2022-03-16 11:21] szc1233444 commented on #4730
no,there is not a cluster which name undefined and everything works fine.

[2022-03-17 03:24] ypjin commented on #4645
My case is: I want external users to be able to access KubeSphere via CLI. I may have other authentication functions to create users outside KubeSphere. The question is how to allow such users to access KubeSphere API. Another option is impersonation. Is it possible?

[2022-03-17 04:05] VioZhang commented on #4442
![image](https://user-images.githubusercontent.com/41519383/158734895-1fe36422-3d6c-4366-b8e3-72925274e477.png)
![image](https://user-images.githubusercontent.com/41519383/158734917-0576352c-1612-4b14-a707-75d6b9b784ea.png)
![image](https://user-images.githubusercontent.com/41519383/158734947-264bedae-734b-4def-bcfa-6f09018477c1.png)
![image](https://user-images.githubusercontent.com/41519383/1587

[2022-03-17 06:15] javaXiaoHan opened #4732 "./kk create cluster -f config-sample.yaml error"
when i excute  ./kk create cluster -f config-sample.yaml
 it happen error
 FATA[14:06:21 CST] The number of master cannot be 0

CentOS  7.5 64位 8核 16 GiB
**Error logs or message (Attach logs or screenshot)**
FATA[14:06:21 CST] The number of master cannot be 0

[2022-03-17 06:22] javaXiaoHan commented on #4732
kubekey-v1.2.1-linux-amd64.tar

[2022-03-17 07:02] javaXiaoHan commented on #4732
here is my config yaml
apiVersion: kubekey.kubesphere.io/v1alpha1
kind: Cluster
metadata:
  name: config-sample
  spec:
    hosts:
    - {name: master, address: 121.41.226.38, internalAddress: 172.16.121.102, user: root, password: 123456}
    - {name: master2, address: 114.55.247.53, internalAddress: 172.16.121.100, user: root, password: 123456}
    - {name: master3, address: 120.26.192.49, intern

[2022-03-17 07:02] #4732 closed

[2022-03-17 07:28] 10206334 opened #4733 "BlackboxExporter Support"
Do we support BlackboxExporter in the pre-existing kubeshere

[2022-03-17 08:05] benjaminhuo commented on #4733
I think you can install any exporter on existing kubesphere

[2022-03-17 08:18] 10206334 commented on #4733
I already have monitoring enabled in kubeshere, I already have prometheus, but I want to integrate BlackboxExporter into monitoring enabled, how do I do that?

[2022-03-17 08:18] 10206334 commented on #4733
I already have monitoring enabled in kubeshere, I already have prometheus, but I want to integrate BlackboxExporter into monitoring enabled, how do I do that?

[2022-03-17 08:20] 10206334 commented on #4733
Do we have demos？

[2022-03-18 02:12] benjaminhuo commented on #4538
@junotx Is this a design limitation?

[2022-03-18 06:30] VioZhang commented on #4426
Is it would be better that we can also support uploading the yaml of kubeconfig and the token ，not only the text？

[2022-03-18 08:55] oldthreefeng opened #4735 "support "node group" by select tag or taint"
**What's it about?**

![image](https://user-images.githubusercontent.com/38313565/158969297-dff1fc20-052a-449e-9612-203bc470bbac.png)
![image](https://user-images.githubusercontent.com/38313565/158969658-006b2dfc-88ca-4086-8a56-02777140896b.png)

using aliyun console ， they have “节点池” about manage the node by tag and taint。

**What's the reason why we need it?**

I believe this is an important fea

[2022-03-19 05:10] #4371 closed

[2022-03-19 05:10] #4276 closed

[2022-03-19 05:10] #4445 closed

[2022-03-19 05:11] #4198 closed

[2022-03-19 05:27] benjaminhuo commented on #4735
Nodepool is a good feature request.
@VioZhang

[2022-03-19 16:33] VioZhang opened #4736 "The source ip is not correct, because it is the ip of the console."
**Describe the Bug**
A clear and concise description of what the bug is.
The source ip is not correct, because it is the ip of the console.
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/41519383/159129767-4e6c8f6d-bf52-4787-b8fb-32e4a3a097c2.png)

**Versions Used**
KubeSphere:3.2.1
Kubernetes: (If KubeSphere installer used, you

[2022-03-19 20:43] xiabai84 commented on #4687
I have the same problem after starting linux server.

[2022-03-19 21:32] xiabai84 opened #4737 "Several service failed to start after reboot Linux server"
**Describe the Bug**
I have shutdown my single node Kubesphere with following steps:
1. shutdown services -> kubelet, etcd, docker, docker.socket
2. reboot Linux host with shutdown -h 1

Then I got error see snapshot below:

[code]

**ks-installer Logs**
[code]
The most problems of crashloop containers point to this probelm:
[code]

**ks-controller-manager Logs**
[code]
I have no idea, why this IP

[2022-03-19 21:58] xiabai84 commented on #4737
Delete iptable rules and restart these two services worked for me :-)

[code]
[code]

[2022-03-19 21:59] xiabai84 commented on #4687
Delete iptable rules and restart these two services worked for me :-)

$ iptables --flush
$ iptables --flush -tnat

$ kubectl rollout restart deploy -n kubesphere-system ks-controller-manager
$ kubectl rollout restart deploy -n kubesphere-system ks-apiserver

[2022-03-19 23:11] xiabai84 commented on #4737
As request by @FeynmanZhou
Please review my solution and improve documentation for chapter shutdown kubesphere gracefully.

[2022-03-20 12:56] VioZhang opened #4738 "Optimize the prospect of the source management."
**What's it about?**
Optimize the prospect of the source management.

**What's the reason why we need it?**
The the prospect of the source management is kind of confusing, and we‘d better optimizing it so that there is prospect above all .

I believe this is an important feature for Kubesphere. There're a few use cases:

/kind feature-request

[2022-03-20 12:57] VioZhang commented on #4576
https://github.com/kubesphere/kubesphere/issues/4738

[2022-03-20 12:57] #4576 closed

[2022-03-21 00:22] jioce commented on #4229
issue is not fixed

[2022-03-21 01:51] jioce commented on #4453
issue is not fixed

[2022-03-22 02:30] #4726 closed

[2022-03-22 22:00] phoenixwu0229 opened #4739 "workspace resource quota suport gpu"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2022-03-23 05:57] zryfish commented on #4688
/assign @kubesphere/sig-devops

[2022-03-23 06:51] #4525 closed

[2022-03-23 08:26] stoneshi-yunify opened #4741 "discover and validate storage options"
user may want to know the storage capabilities in his/her cluster, such as:
- storage classes
- csi or non-csi drivers
- if snapshot is supported
- io performance numbers
- etc.

A such useful tool needs to be developed to do this.

ref: https://github.com/kastenhq/kubestr

/kind feature-request
/area storage
/milestone backlog

[2022-03-23 08:27] stoneshi-yunify commented on #4741
/milestone clear

[2022-03-23 08:27] stoneshi-yunify commented on #4741
/milestone BackLog

[2022-03-23 08:29] LinuxSuRen commented on #4729
/kind support

[2022-03-23 08:40] LinuxSuRen commented on #4674
Due to the maven being in the container `maven`. So you could try the following code:

[code]

/kind support

[2022-03-23 08:42] LinuxSuRen commented on #4663
/kind bug

[2022-03-23 08:51] LinuxSuRen commented on #4589
/kind support

[2022-03-23 08:58] chj9 opened #4742 "Application can not update status"
### k8s version
v1.22.3-aliyun.1
### kubesphere version
3.2.1
![image](https://user-images.githubusercontent.com/16426260/159661073-55767ae7-df24-441d-9ccf-bd91d51b9669.png)
![image](https://user-images.githubusercontent.com/16426260/159660969-d08642bd-992d-40e4-84ec-25a8a3c15a1a.png)

[2022-03-23 09:02] chj9 commented on #4742
recreating the deployment didn't change the application  state either

[2022-03-23 09:48] f10atin9 commented on #4741
I understand that these capabilities are displayed in the storageClass details page in the console, right?

[2022-03-24 00:38] #4730 closed

[2022-03-24 00:45] stoneshi-yunify commented on #4741
no. this issue is not related to ks console. The tool this issue mentioned aims to discover the storage options before installing ks or any other apps.

[2022-03-24 00:49] xiaohezi205 opened #4743 "Devops Pipeline, choice type parameter, click on the run button, popbox selection interface has been input box"
Operating System Information：Centos7
Kubernetes version：v1.21.5
KubeSphere version：v3.2.1

question：Devops Pipeline, choice type parameter, click on the run button, popbox selection interface has been input box.The following figure：
![image](https://user-images.githubusercontent.com/84753977/159819895-ca64b5bf-10ac-4a7d-9a36-0490a3cf0d48.png)
![image](https://user-images.githubusercontent.com/8475

[2022-03-24 02:03] wansir commented on #4610
/cc @kubesphere/sig-console

[2022-03-24 02:28] #4674 closed

[2022-03-24 03:03] f10atin9 commented on #4741
Okay， I understand the meaning.

[2022-03-24 08:56] bridgelu888 opened #4744 "通知配置-钉钉-群机器人设置，显示异常"
通知配置，先启用钉钉-群机器人设置，然后启用邮件，再去点击钉钉-群机器人设置，显示 未开启 且配置为空（就跟没配置过钉钉群机器人一样），但实际上钉钉还是可以告警的。

[2022-03-25 02:15] XiaohuiSept commented on #4698
@VioZhang

[2022-03-25 03:20] harrisonliu5 commented on #4703
/kind need-to-verify

[2022-03-25 03:20] harrisonliu5 commented on #4442
/assign @harrisonliu5

[2022-03-25 03:21] harrisonliu5 commented on #4442
This issue is being processed

[2022-03-25 03:51] chj9 opened #4745 "Traffic Monitoring Not Response"
![image](https://user-images.githubusercontent.com/16426260/160050234-0cd9a2b8-6e51-425f-ba98-57b80f21bbdc.png)
![image](https://user-images.githubusercontent.com/16426260/160050320-8dbc550c-6b84-4016-8e77-66443f51587e.png)
![image](https://user-images.githubusercontent.com/16426260/160050148-faf2ca51-393e-47a4-a19e-cfb71ed3191a.png)
## K8S Version
v1.22.3-aliyun.1

## kubesphere Version
v3.2.1

#

[2022-03-25 03:59] chj9 commented on #4745
the application created through the front end works fine
![image](https://user-images.githubusercontent.com/16426260/160051525-fffd1136-df1f-4d72-a2de-39c2b0f14da7.png)
![image](https://user-images.githubusercontent.com/16426260/160051611-389a8333-5758-4273-a06d-e558c9a3267a.png)
I checked the equipment is the same

[2022-03-25 07:40] RaYong8080 opened #4778 "希望新增容器内上传文件与下载文件的功能"

[2022-03-25 07:52] harrisonliu5 commented on #4442
/kind need-to-verify

[2022-03-25 11:52] oldthreefeng opened #4746 "support write access of Workspaces managment"
**What's it about?**

kubesphere  now have read/admin access of Workspaces  managment . but we dont have write access such as github access managment . （user can create ns & terminal access , but dont have delete access.）
kubesphere 企业空间现在默认有只读和管理权限， 但是我觉得还缺少一个可写权限（用户有创建namespace权限， 有进入terminal的权限， 但是没有删除权限）

**What's the reason why we need it?**

I believe this is an important feature for Kubesph

[2022-03-28 01:39] chj9 commented on #4573
have an answer?

[2022-03-28 02:01] fzhan commented on #4676
Same issue here, need to add some configuration to ks-apiserver's image so it can access private registry.

[2022-03-28 02:19] FeynmanZhou commented on #4573
Which configuration file are you pointing out? Do you mean the CRD `ClusterConfiguration`?

[2022-03-28 06:36] GuoChanghe0220 opened #4747 "搭建后端遇到的telepresence使用问题"
在使用 sudo telepresence –namespace kubesphere-system –swap-deployment ks-apiserver 之后，查看Pod状态为：

[root@k8s-master ~]# kubectl get pods -n kubesphere-system

NAME READY STATUS RESTARTS AGE

ks-apiserver-6b584f476d-j9xzm 2/2 Running 0 107s

ks-console-5c7c47f7b5-4gt6l 1/1 Running 0 43m

ks-controller-manager-b954548c8-2w4wc 1/1 Running 0 21m

ks-installer-85dcfff87d-nd22x 1/1 Running 0 44m

然后去看endpoi

[2022-03-28 07:04] VioZhang opened #4748 "The user who is created without any authority could open the app store."
**Describe the Bug**
A clear and concise description of what the bug is.
The user who is created without any authority could open the app store even though he doesn't have the authority of the view.
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/41519383/160343010-5c33d330-2c34-4fd2-8359-945c29bc5ae4.png)
![image](https://user-im

[2022-03-28 07:39] serenashe opened #4749 "Cannot create a snapshot from a volume that supports and is allowed to create a snapshot on the web console"
**Describe the Bug**
Cannot create a snapshot from a volume that supports and is allowed to create a snapshot on the web console.

**Versions Used**
KubeSphere: v3.2.0

**Environment**
How many nodes and their hardware configuration:
3 masters; 3 nodes

**How To Reproduce**
1. For this volume that is allowed to create a snapshot on the web console, I go to the volumes details page and click **More

[2022-03-28 07:39] 375899010 opened #4750 "ks-apiserver. error failed to list *v1alpha1.Webhook: the server could not find the requested resource (get webhooks.auditing.kubesphere.io)"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**What's your question**

**Environment: OS & Hardware Information**

Centos 7.6 kubernetes v1.20.7

**Error logs or message (Attach logs or screenshot)**

ks-apiserver. error failed to list *v1alpha1.Webhook: the server could not find the requested resource (get webhooks.auditi

[2022-03-28 07:59] stoneshi-yunify commented on #4749
![image](https://user-images.githubusercontent.com/70880165/160352908-12693ef4-86c0-49c3-8568-79e8630290c3.png)

@f10atin9  pls take a look.

[2022-03-28 08:01] f10atin9 commented on #4749
Okay

[2022-03-28 08:58] f10atin9 commented on #4749
Snapshots cannot be created in the pvc details page because there is a problem with the create button.
And some pvc's on the snapshot list page cannot be selected to create a snapshot because they are incorrectly identified as unmounted.

[2022-03-28 10:30] patrickluoyu opened #4753 "Existing pods of a running job are not deleted when the job is rerun"
**Describe the Bug**

When a running job is rerun, new pods are created but existing pods of the job are not deleted. Maybe we should not allow running jobs to be rerun.

![image](https://user-images.githubusercontent.com/76198553/160379372-fc61d021-b7d7-46cf-950e-d2b3395b3e70.png)

![image](https://user-images.githubusercontent.com/76198553/160379440-86f3d708-3148-49eb-b82e-b01e9c2552a7.png)

**V

[2022-03-28 10:30] Patrick-LuoYu commented on #4753
/assign @zryfish @harrisonliu5

[2022-03-28 11:42] fzhan opened #4754 "ks-api add CA for private registry"
**What's it about?**
current API doesn't support pulling image from private registry:
https://ks.s.company.com/kapis/resources.kubesphere.io/v1alpha3/namespaces/carbon-prod/imageconfig?image=harbor.company.com%2Fcloud-native-app%2Falpine-php-fpm%3A8&secret=harbor-secret

host node already configured so the containerd on host node can access private registry, not sure why api controller display thi

[2022-03-29 01:21] GuoChanghe0220 commented on #4747
已解决
telepresence --namespace kubesphere-system --swap-deployment ks-apiserver --expose 9090:80

[2022-03-29 02:23] chj9 commented on #4745
this view can be opened when `sidecar.istio.io/inject` is set to `false`, but not when set to `true`,is  it something I'm missing for istio?

[2022-03-29 02:26] #4465 closed

[2022-03-29 02:26] #4464 closed

[2022-03-29 02:26] #4468 closed

[2022-03-29 02:26] #4280 closed

[2022-03-29 02:26] #4456 closed

[2022-03-29 06:15] hanweisen opened #4755 "代理链接添中设置代理服务地址的说明示例中有错误"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**What's your question**
https://kubesphere.com.cn/docs/multicluster-management/enable-multicluster/agent-connection/
代理链接proxyPublishAddress的配置教程存在误导，文档中tower的svc的配置是
`NAME       TYPE            CLUSTER-IP      EXTERNAL-IP     PORT(S)              AGE
tower      LoadBalancer

[2022-03-29 06:44] FeynmanZhou commented on #4738
Hi @VioZhang @XiaohuiSept ,

Apart from the samples that I mentioned in https://github.com/kubesphere/kubesphere/issues/4576, there is also a new similar issue that made new users get lost, see this [post](https://kubesphere.com.cn/forum/d/6940-istio) for details.

I expect this feature request could be supported in KubeSphere 3.3. Let me know if you need more information about it.

Thanks

[2022-03-29 08:02] wansir commented on #4736
Already fixed  in https://github.com/kubesphere/kubesphere/pull/4331,  refer to https://kubernetes.io/docs/tutorials/services/source-ip/

[2022-03-29 08:42] q383186554 opened #4756 "【急急急】【求远程】3.2.1版本部署完成所有得put和delete方法报以下错误"
![image](https://user-images.githubusercontent.com/53943425/160953440-ef2cb30b-6a29-4157-b7c5-ce316e4032a9.png)

[2022-03-29 09:35] serenashe opened #4757 "YAML file displays invalid parameters after configuring QingCloud CSI storage system on the web console."
**Describe the Bug**
YAML file displays invalid parameters after configuring QingCloud CSI storage system on the web console.
The following picture shows my QingCloud CSI storage system configuration on the web console:
<img width="959" alt="image" src="https://user-images.githubusercontent.com/75245999/160580235-8884ffcb-5391-44d3-9dfb-772cf26cad9b.png">

When I view its YAML file, it looks like

[2022-03-29 11:01] VioZhang opened #4758 "Optimize the UI of the secret or other resource which contains a simple key - value."
**What's it about?**

Optimize the UI of the secret or other resource which contains a simple key - value.
**What's the reason why we need it?**

The recource such as secret contains only one key,and it is needless to jump to another page to show the key.
So we'd better think about a new way to desplay this kind of resource.
Such as
![image](https://user-images.githubusercontent.com/41519383/16059

[2022-03-30 00:52] stoneshi-yunify commented on #4757
@f10atin9  pls take a look. thanks.

[2022-03-30 02:54] f10atin9 commented on #4749
Already fixed in [fix: Volume mount judgment](https://github.com/kubesphere/console/pull/3026) and [fix: Update PV table item available action](https://github.com/kubesphere/console/pull/2860).  Thanks for the contribution of  @weili520

[2022-03-30 02:54] #4749 closed

[2022-03-30 04:17] ypjin opened #4759 "make ingressClass for nginx configurable"
**What's it about?**

The ingressClass of nginx is a fixed value now (https://github.com/kubesphere/kubesphere/blob/master/config/gateway/templates/nginx-ingress.yaml#L52). It would be great to get it from the definition for the gateway CRD.

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
We need 2 global gateways

[2022-03-30 04:35] XiaohuiSept commented on #4442
/lgtm

[2022-03-30 07:01] VioZhang commented on #4587
![image](https://user-images.githubusercontent.com/41519383/160771100-ed75fdde-d89f-4ba4-b58e-c669a82a464a.png)

[2022-03-30 07:29] zryfish commented on #4624
/assign @kubesphere/sig-console

[2022-03-30 07:41] zryfish commented on #4758
/priority low

[2022-03-30 08:13] zryfish commented on #4554
/assign @kubesphere/sig-console

[2022-03-30 08:14] zryfish commented on #4410
/assign @weili520

[2022-03-30 08:17] zryfish commented on #4137
/priority high

[2022-03-30 08:22] zryfish commented on #4554
/assign @weili520

[2022-03-30 08:28] zryfish commented on #4587
/assign @wansir

[2022-03-31 00:37] q383186554 commented on #4756
![image](https://user-images.githubusercontent.com/53943425/160953257-d1fcb2e5-d8e4-499e-a29f-f0f50d84ae72.png)

[2022-03-31 00:38] q383186554 commented on #4756
添加没问题 但是修改和删除报错  有关put和delete得方法都报错 响应无内容

[2022-03-31 01:54] wenchajun commented on #4756
Please use English in github, if you use Chinese, please ask questions on the forum.

[2022-03-31 01:58] wenchajun commented on #4755
/area documentation

[2022-03-31 02:13] iawia002 commented on #4755
Nope, you misunderstand it, the example is right, `8080:30721` means the port 8080 of this IP address will be forwarded to port 30721.

[2022-03-31 03:28] FeynmanZhou commented on #4756
@q383186554
Duplicated question: https://kubesphere.com.cn/forum/d/6993-v321k8s-putdelete
I will close it here.

**Please note:** We don't provide remote one-on-one technical support in the open-source community. This is totally unreasonable and rude if you ask for any open source project maintainers to provide this kind of service.

[2022-03-31 03:28] #4756 closed

[2022-03-31 05:28] dragonly commented on #4756
**WAITING ONLINE!!!**
**EXCITED!!!**

[2022-03-31 08:58] lynxcat opened #4760 "How to change the default BasePath of openebs?"
the default BasePath is ```/var/openebs/local/```.
My system disk doesn't have much space.
I want to reinstall ks to change this path. How can I modify it when i install ks ?
Or is there any other way to migrate on the current basis？

kubesphere version: v3.2.0

[2022-03-31 15:13] JuezFenix opened #4761 "Unable to edit or delete statefulset"
Hi, i'm trying to debug my alertmanager adding --log.level=debug to the deployment parameters. The deploy recreate as espected but any change are reverted.

Even if I change the number of replicas, they change to 1. Even if I erase all the statefulset, something recreate it again.

How can i edit statefulset as i do with normal deployments?

[2022-04-02 08:12] #4484 closed

[2022-04-02 08:12] #4189 closed

[2022-04-02 08:12] #4497 closed

[2022-04-02 09:09] fdsaggaw opened #4762 "Questions about the App Store"
hello,Can you tell me the difference between the two places?
![image](https://user-images.githubusercontent.com/43342297/161376037-1ab166f5-3f12-4e07-858e-6f6a6e02b2fd.png)

in helm repo https://charts.kubesphere.io/stable has about 9 apps, but why it shows about 25 apps in the Front-end pages？

[2022-04-02 10:41] 8183736 opened #4763 "keadm join ，Can you add parameters to add labels to nodes?"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2022-04-03 10:50] jacklin opened #4764 "There is a problem with the details on the right side of the gateway settings page"
Once you're in an enterprise space, click Projects and select any project
Enter the project, select Project Settings->Gateway Settings-> View Details, enter the View Details page will display it, and then become a blank page. This should be a bug that hopefully can be solved。

[2022-04-05 08:39] phoenixwu0229 opened #4765 "kubeconfig is not correct in multiple cluster"
in multiple cluster, login with spec user download kubeconfig is always the host cluster kubeconfig, not the spec cluster kubeconfig

[2022-04-06 01:04] #4755 closed

[2022-04-06 01:10] hanweisen opened #4766 "When create resouce with kapi, user can specify any creator does not use the right user"
**Describe the Bug**
For example. when create a workspace. the request is:
[code]

**Versions Used**
KubeSphere: 3.2.1
Kubernetes: (1.21.5

**Environment**

**Expected behavior**
The  "kubesphere.io/creator" annontation should be the current operator user.

Is this a bug need fixed?

[2022-04-06 01:21] wansir commented on #4766
As you can see, `creator` is just a special annotation, the audit log records the user's operations.

[2022-04-06 02:06] hanweisen commented on #4766
ok

[2022-04-06 02:06] #4766 closed

[2022-04-06 02:26] harrisonliu5 commented on #4410
/kind need-to verify

[2022-04-06 06:45] ppap6664180 opened #4768 "多台只能通过外网访问的云服务器如何创建kubesphere集群？"
我有多台在不同云服务商下的服务器 ，服务器直接只能通过外网访问。没有外网地址网卡
我通过kk生成的默认配置 安装 kubesphere集群 失败。
请问我需要如何配置才能安装

[2022-04-06 08:04] GuoChanghe0220 opened #4769 "搭建kubesphere后端环境，如何启用istio插件"
目前已经搭建好kubesphere的后端开发环境，已使用telepresence代理转发流量，但是使用代码编译的ks-apiserver并没有启动istio插件，请问如何修改代码来启动istio插件？

[2022-04-06 09:08] zryfish commented on #4587
/assign @wansir

[2022-04-06 09:44] wansir commented on #4587
![image](https://user-images.githubusercontent.com/8263040/161947137-763fb210-9512-4006-92f5-5cd437dd2fac.png)

[2022-04-06 10:42] VioZhang commented on #4532
There is not a better to devide the disk into the system disk and data disk, so it seems that we dont need the first design picture.

[2022-04-06 13:58] FeynmanZhou commented on #4768
It is not recommended to use different nodes across multiple cloud providers to create a single cluster, it might have network latency. You would better create a cluster with different nodes in a VPC or run multiple clusters across different cloud providers.

[2022-04-06 13:59] #4768 closed

[2022-04-06 23:04] #4505 closed

[2022-04-07 10:50] yongxingMa opened #4771 "When I open the multicluster function, login from member clusters was error"
**Describe the Bug**
When I open the multicluster function, login from member clusters was error。

For example, I have a master cluster and multiple member clusters，When master cluster is disconnected, I want to login  from the member cluster，but I failed to login now。

<img width="689" alt="image" src="https://user-images.githubusercontent.com/40452856/167113280-714e1b37-11ed-44d4-977d-fdfe85d67d

[2022-04-07 11:30] qumy2020 opened #4772 "kubesphere redis-ha-server-0 无法启动，redis-ha-server-1、redis-ha-server-2 正常运行"
# 版本信息：
ks 版本：v3.1.1
安装方式：k8s 基础上安装
其他版本信息：
![image](https://user-images.githubusercontent.com/70183859/162187271-d319bd44-7cdd-4905-9f94-93effb1c4c41.png)

# 问题描述：
我的三个节点的 k8s 集群，其中一台由于磁盘饱满导致 ks 的几个 pod 疯狂增加，大概三天左右的时间增加了 2000+ 的 Evicted 状态的 pod。后面我修复了磁盘饱满的问题，但发现 ks 中 redis-ha-server-0 的 pod 没有正常运行，redis-ha-server-1、redis-ha-server-2 还处于正常运行状态，由于 k8s 的机制，我只能 从大到小的一 一将 redis-ha-server 全部删掉，当我删除完毕时，

[2022-04-07 13:11] Areturn opened #4773 "The node-exporter version is too old, and the alarm notification is too ugly"
**What's it about?**
1、node-exporter
2、Alerting Messages

**What's the reason why we need it?**
![image](https://user-images.githubusercontent.com/25275823/162205713-8b3fcce1-46c6-4e2b-96c6-de3d9fdf8384.png)
![image](https://user-images.githubusercontent.com/25275823/162205771-e9b894bf-0994-416d-bbc3-32d8630e2f86.png)
node-exporter version is too old, many indicators are not available.

![image](h

[2022-04-08 01:22] hanweisen commented on #4771
I had the same problem in multicluster. Even you use member cluster console create user you can not login from member cluster.
I created 3 cluster and use one node proxy. you login in host cluster console. you can access member console without login they can share same cookie. This is why I can create user direct in member cluster console

[2022-04-08 01:33] hanweisen commented on #4771
I can not login console but I can access member cluster with command like this
`curl -u 'username:password' ip:port/kapis/resources.kubesphere.io/v1alpha3/statefulsets`

[2022-04-08 01:49] hanweisen commented on #4771
Is this issue intentionally designed this way, or is it a bug?. If it's a bug I'd like to try to fix it @FeynmanZhou

[2022-04-08 05:47] benjaminhuo commented on #4773
The node exporter will be upgraded to the latest version in the upcoming KubeSphere v3.3.
Regarding the alert message, we've added custom template into the latest [Notification Manager](https://github.com/kubesphere/notification-manager), but not in KubeSphere v3.3.

@wanjunlei do we have methods to improve the notification template to use different template for alert messages and resolved message

[2022-04-08 06:02] wanjunlei commented on #4773
I think a notification style needs to be designed first, which requires the intervention of a UI designer。

[2022-04-08 06:34] #4604 closed

[2022-04-08 07:20] jolbax commented on #4488
Hi @anhoder, which is your other way to solve this problem?

[2022-04-08 07:22] gitzhuww commented on #3800
![image](https://user-images.githubusercontent.com/40748699/162384726-5c28d76a-75f3-4d35-8e59-53d35f32c818.png)
this issue caused by jwt? how to create jwtSecret.
![image](https://user-images.githubusercontent.com/40748699/162385101-68f13c21-2088-472f-8efa-53cf2cf7ecdc.png)

[2022-04-08 07:39] hanweisen commented on #4771
This problem can resolve by add some line in configmap kubesphere-config and restart ks-apiserver
[code]

[2022-04-08 08:20] hanweisen commented on #4771
This is a ks-install problem, I create a pull request https://github.com/kubesphere/ks-installer/pull/1932

[2022-04-08 08:21] gitzhuww opened #4774 "external jenkins 401 Unauthorized"
devops-config

devops:
  host: http://192.167.2.5:8080
  maxConnections: "100"
  namespace: kubesphere-devops-system
  override-Jenkins-token: "false"
  password: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidG9rZW5fdHlwZSI6ImFjY2Vzc190b2tlbiIsImlhdCI6MTY0OTM5MDgyOSwiaXNzIjoia3ViZXNwaGVyZSIsIm5iZiI6MTY0OTM5MDgyOX0.85dhN45U_kyf_50CbfCWPelZxYf7_Jb_QeMuYrDxR7g
  username: admin

[2022-04-08 08:31] benjaminhuo commented on #4773
@VioZhang

[2022-04-08 12:27] #4506 closed

[2022-04-08 12:27] #4521 closed

[2022-04-09 02:33] ivanmissu opened #4775 "how to open gafana after installation ?"
how to open gafana in monitoring system after installation ?
ks version 3.2.1

[2022-04-09 07:53] FeynmanZhou commented on #4775
Please see https://github.com/kubesphere/website/issues/2374.
Let us know if you have more questions.

[2022-04-10 13:47] duanmengkk opened #4776 "support swagger-ui for develop code or debug"
**What's it about?**
To enable swagger-ui when  running ks-apiserver,developers can turn it on or off by configuration.

**What's the reason why we need it?**

It looks like kubesphere just support generate swagger docs use code in tools/cmd/doc-gen/main.go, but it seems developers cannot enable swagger when developing and debugging likes kubernetes which can enable swagger use below config:
[code

[2022-04-10 13:50] duanmengkk commented on #4776
If the feature is not implemented , can i contribute to it ?

[2022-04-10 15:43] FeynmanZhou commented on #4771
It was intentionally designed but I think it is not reasonable, it should provide a way for users to enable the login option in the member cluster.. Hi @kubesphere/sig-multitenancy @wansir , please help to verify it.

@hanweisen BTW, thanks for your contribution!

[2022-04-11 02:01] wansir commented on #4771
@hanweisen Thanks for your contribution! We have noticed this problem, it is related to this issue  https://github.com/kubesphere/kubesphere/issues/4610 and it is already fixed in https://github.com/kubesphere/ks-installer/pull/1923. The user experience of the member cluster will be improved in v3.3.

[2022-04-11 07:35] alongL opened #4777 "Can we get the source file of edge-watcher-agent ?"
The docker image of amd64 is OK.
   https://hub.docker.com/r/kubesphere/edge-watcher-agent/tags

But the image of arm64 is not OK on our environment.
We want to build this image by ourselves, can we get the source code of edge-watcher-agent ?

[2022-04-11 07:50] #4775 closed

[2022-04-11 07:52] benjaminhuo commented on #4777
The edge-watcher will be removed in the upcoming KubeSphere v3.3 because KubeEdge adds similar functionality in the higher version and edge-watcher is no longer needed and not recommended.

[2022-04-11 08:41] FeynmanZhou commented on #4778
Hi @VioZhang ,
This feature has been requested in the community many times. Do you think it requires UI design? If so, we could add a label for this issue.

[2022-04-11 08:51] sharkszcy commented on #4778
I have met the same needs and considered many alternatives. At present, I think it is more appropriate to use the container file or directory management mode of the platform in production applications

[2022-04-11 09:01] VioZhang commented on #4778
Agree with you, and it seems to be a necessary function.

[2022-04-11 09:12] alongL commented on #4777
Now kubeedge is v1.10 ,  but KubeSphere uses KubeEdge v1.7 .
Will KubeEdge v1.10 be used in KubeSphere v3.3 or newer version?

[2022-04-11 09:13] alongL commented on #4777
Now kubeedge is v1.10 , but KubeSphere uses KubeEdge v1.7 .
Will KubeEdge v1.10 be used in KubeSphere v3.3 or newer version?

[2022-04-11 09:17] alongL commented on #4777
When will KubeSphere v3.3 be released ?
Expecting !

[2022-04-11 10:11] f10atin9 commented on #4285
Fixed: #4660 pvc-autoresizer also added the auto-restart feature, when the user enables the feature, the system can automatically complete the restart of the workload without a click.

[2022-04-11 10:11] #4285 closed

[2022-04-11 13:54] #4776 closed

[2022-04-12 01:21] wenxin-01 opened #4779 "It is recommended that the page give a clear prompt when logging in with a disabled account"
**Describe the Bug**

**Versions Used**
KubeSphere:  `v3.3.0-alpha.0`

**How To Reproduce**
Steps to reproduce the behavior:
1. Log in to ks with a disabled account

**Expected behavior**
The page prompts that the account is disabled, please contact the administrator

**Actual behavior**

![image](https://user-images.githubusercontent.com/68640256/162859441-20a681be-514a-49cc-b36e-d38e86024eb1.png

[2022-04-12 01:55] wenxin-01 opened #4780 "The disabled account can still view and create resources"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:  `v3.3.0-alpha.0`

**Preconditions**
There is a account 'A'

**How To Reproduce**
Steps to reproduce the behavior:
1. Log in to KS with account A in Google Chrome
2. Log in to KS with account admin and disabled account 'A' in  saf

[2022-04-12 02:46] wenxin-01 opened #4781 "Users logged in via github cannot be disabled"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/162869062-0eeae154-00f5-4cee-84fa-a7b229343fdb.png)

**Versions Used**
KubeSphere:   `v3.3.0-alpha.0`

**How To Reproduce**
Steps to reproduce the behavior:
1. Log in KS via github
2. Disable the github account with admin
3. Log in KS via the github account

**Expected behavior**
Can not log in kS via the github accou

[2022-04-12 06:35] patrickluoyu opened #4782 "Two Elasticsearch instances are created after KubeSphere is upgraded from v3.2.1 to v3.3.0 alpha0"
<img width="1425" alt="image" src="https://user-images.githubusercontent.com/76198553/162895844-20230581-02d3-4b3d-9e8e-23062017d6c7.png">

**Expected behavior**

Only one Elasticsearch instance exists.

[2022-04-12 07:45] wanjunlei commented on #4782
/assign https://github.com/orgs/kubesphere/teams/sig-console

[2022-04-12 07:59] benjaminhuo commented on #4782
`generateID: true` is related to the duplicated es log receivers?

If generateID should be added to the events and audit log receivers, we should add it from ks-installer side?

[2022-04-12 08:08] wenxin-01 opened #4783 "Worker node statistics error"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/162911581-da3bc7c5-5e08-42a9-bf6c-9c079a155ba8.png)

![image](https://user-images.githubusercontent.com/68640256/162912413-001f8d99-3413-465b-a681-fb6eebc75b52.png)

**Versions Used**
KubeSphere:   `v3.3.0-alpha.0`

/priority medium
/assign @kubesphere/sig-console

[2022-04-12 09:52] wanjunlei commented on #4782
The reason why the log receiver is duplicated is that the output created by the ui and the output created by the installer have different names, and there will be two outputs at the same time after ks upgrade.

The generateID had added in ks3.2.

[2022-04-12 14:03] ivanmissu opened #4785 "the application repository paging is incorrect"
**Describe the Bug**
the application repository paging is incorrect, the application repositories amount is 18, when i click next page, there is no data showed on second page.
but i can search it.

**Versions Used**
KubeSphere: v3.2.1

**How To Reproduce**
application repository list:
<img width="1385" alt="image" src="https://user-images.githubusercontent.com/8721615/162979469-a27cfcf8-12cc-4b07-

[2022-04-13 01:52] wenxin-01 opened #4786 "The disk usage queried on the node is inconsistent with the disk usage information returned by the interface"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/163083682-261cda67-f255-4c5b-affe-54603f4e02cc.png)
![image](https://user-images.githubusercontent.com/68640256/163083780-bb31aa68-40b6-43eb-abf0-9e6c3ac6b10c.png)

**Versions Used**
KubeSphere:   `v3.3.0-alpha.0`

/priority high
/assign @junotx

[2022-04-13 02:07] Changego opened #4787 "V3.2.1 Devops pipeline has suddenly been "not running",Not found resources"
**Describe the Bug**
V3.2.1 Devops pipeline has suddenly been "not running",
Devops-controller error: E0412 10:18:51.204165 1 Controller. go:246] Controller "MSG" = "Reconciler Error" "error" = "Not found resources" "Controller" = "pipelinerun" "name" = "dd - test2 - lpx6q" "namespace" = "dd - consumer - servicedlhxq" "ReconcilerGroup" = "the conversation. Kubesphere. IO" "reconcilerKind" = "Pipel

[2022-04-13 02:11] JohnNiang commented on #4787
/area devops
/kind bug

[2022-04-13 02:11] Changego opened #4788 "Kubesphere3.2.1 cannot be installed in k8s1.21.8 cluster, prompting SSLError(SSLCertVerificationError)"
**Describe the Bug**
Kubesphere3.2.1 cannot be installed in k8s1.21.8 cluster, prompting SSLError(SSLCertVerificationError)

**Versions Used**
KubeSphere:3.2.1
Kubernetes: 1.21.8

**Environment**
Vm Centos7.9, 4C/16 gb x 3

**How To Reproduce**
New installation error
![](https://kubesphere.com.cn/forum/assets/files/2022-01-23/1642921809-684132-16429217973129.png)

[2022-04-13 03:08] jioce commented on #4345
Survival probes are deleted, other probes are also deleted

1、Deployment contains liveness probe and start probe
![image](https://user-images.githubusercontent.com/88183150/163091699-4d479217-912b-4b1e-9f70-4e0b4874ec14.png)

2、Edit container settings, remove liveness probes
![image](https://user-images.githubusercontent.com/88183150/163091772-ae46704d-3c9f-411b-ad3a-ccf16cc641a8.png)

3、pod updat

[2022-04-13 03:24] Changego commented on #4787
Because you plan to go into the production environment, can you help deal with it as soon as possible?

[2022-04-13 03:26] JohnNiang commented on #4787
You can check the logs of `devops-controller` in `kubesphere-devops-system` namespace. If you see `401` error, please try to restart `devops-controller` and `devops-apiserver`.

[2022-04-13 03:29] JohnNiang commented on #4787
please try to click `Run` button and check logs of `devops-jenkins` in `kubesphere-devops-system` namespace.

[2022-04-13 03:42] jioce commented on #4498
problem still exists

1、Deploy the sample application with continuous access to the application
2、View application traffic monitoring
![image](https://user-images.githubusercontent.com/88183150/163095615-f18845b9-257e-42e4-840e-9b30ca36d534.png)

3、productpage service only workload egress traffic monitoring
![image](https://user-images.githubusercontent.com/88183150/163095644-fe9eaee3-1824-40dc-9f

[2022-04-13 04:16] Changego commented on #4787
- 1、 2022-04-13 04:13:31.709+0000 [id=8731] INFO    o.c.j.p.k.KubernetesClientProvider#gracefulClose: Not closing io.fabric8.kubernetes.client.DefaultKubernetesClient@37c4fbb5: there are still running (1) or queued (0) calls

- 2、2022-04-13 04:13:28.974+0000 [id=6819]  INFO    o.internal.platform.Platform#log: ALPN callback dropped: HTTP/2 is disabled. Is alpn-boot on the boot class path?
- 3、
[co

[2022-04-13 06:04] benjaminhuo commented on #4782
So you mean, we should change from the UI side to the same output value as the ks-installer?

[2022-04-13 06:28] alongL opened #4789 "when add a new edge node, the cmd generated by web is wrong for arm64 platform"
**Describe the Bug**
when add a new edge node, the cmd generated by web is wrong for arm64.

the cmd is as follows.
[code]
In arm64 platform, the 'uname -m' output aarch64.
[code]
But there is no https://kubeedge.pek3b.qingstor.com/bin/v1.7.2/aarch64/keadm-v1.7.2-linux-aarch64.tar.gz
only https://kubeedge.pek3b.qingstor.com/bin/v1.7.2/arm64/keadm-v1.7.2-linux-arm64.tar.gz

**Expected behavior**
Ma

[2022-04-13 06:37] jioce commented on #4381
issue is fixed in v3.3.0-alpha.0

[2022-04-13 06:37] jioce commented on #4490
issue is fixed in v3.3.0-alpha.0

[2022-04-13 06:38] wanjunlei commented on #4782
Yes, this is an easy solution.

Maybe we need to reconsider this function. At present, the previous function can no longer meet the needs. For example, the installer already supports setting the username and password of es and supports HTTPS, but it cannot be set here. And I don't think it makes sense for the user to remove the built-in output from the UI.

[2022-04-13 06:39] jioce commented on #4397
issue fixed in v3.3.0-alpha.0

[2022-04-13 06:40] jioce commented on #4404
issue is fixed in v3.3.0-alpha.0

[2022-04-13 06:40] jioce commented on #4310
issue is fixed in v3.3.0-alpha.0

[2022-04-13 07:42] Changego commented on #4787
Ok

[2022-04-13 08:39] JohnNiang commented on #4787
/cc @kubesphere/sig-devops

[2022-04-13 09:01] wenxin-01 opened #4790 "kubeconfig update error"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/163137936-64fe31f4-5fa8-453d-96ac-0ded0e27c58b.png)

**Versions Used**
KubeSphere:   `v3.3.0-alpha.0`

**How To Reproduce**
Steps to reproduce the behavior:
1. Add a member cluster 'A' use direct connection
2. Update kubeconfig of the member cluster with the kubeconfig of cluster A

/priority high
/assign @iawia002

[2022-04-13 10:40] junotx commented on #4786
The disk space utilization in ks is calculated by `1-Avail/Size`, because the `Used`  is not exposed by [node_exporter](https://github.com/prometheus/node_exporter/blob/master/collector/filesystem_linux.go#L108).

But there is a slight difference between `1-Avali/Size` and `Used/Size`.

[2022-04-13 11:06] alongL opened #4791 "does anyone install edgemesh sucess in kubesphere?"
I follow this document : https://www.modb.pro/db/241198
Edgemesh is installed from app store and  sucess.
But the demo of edgemesh failed.
I have run edgemesh sucess on Kubeedge without kubesphere.
Does anyone know how to check the error? or have do the same work ?

[2022-04-14 01:57] jioce opened #4792 "Duplicate add host cluster error"
**Describe the Bug**
1、There is a host cluster
2、Enter the cluster management, click Add Cluster, and enter the kubeconfig of the existing host cluster
3、The page reports an error and returns to the cluster page. The added cluster already exists
![image](https://user-images.githubusercontent.com/88183150/163298478-ace69cc0-9d2c-4112-99da-0abb8d445f7e.png)

![image](https://user-images.githubuserco

[2022-04-14 02:59] jioce commented on #4295
issue is not fixed

[2022-04-14 03:00] jioce commented on #4300
issue is not fixed

[2022-04-14 03:20] iawia002 commented on #4792
This is the same reason as #4790, the validation for adding clusters is not working anymore causing this problem, this is already fixed in https://github.com/kubesphere/ks-installer/pull/1941, you can test it again in the next version.

[2022-04-14 06:17] jioce opened #4793 "Failed to enable automatic restart of workloads"
**Describe the Bug**
1、Existing storage type qingcloud-csi, enter the details page, click more operations - "PVC regulator
2、Set the PVC scheduler and select Enable to automatically start the workload
3、Looking at the storage type yaml file, the tag is missing (restart.kubesphere.io/online-expansion-support: 'false')
![image](https://user-images.githubusercontent.com/88183150/163324918-9085932e-d7

[2022-04-14 06:19] f10atin9 commented on #4793
/cc @weili520

[2022-04-14 06:23] f10atin9 commented on #4793
The conditions for testarter to start are enable set to true and restart.kubesphere.io/online-expansion-support: set to 'false', can you add a check box in the console?

[2022-04-14 07:46] weili520 commented on #4793
OK

[2022-04-14 07:46] weili520 commented on #4793
/assign

[2022-04-14 08:45] ZengIan opened #4794 "Application always load init configuretion"
<img width="988" alt="image" src="https://user-images.githubusercontent.com/41040520/163347510-6bb2a710-ab2e-410b-9135-461ce6f4e163.png">
ks 3.2.1,I want to update the configuretion of application, Always it's init status.

[2022-04-14 11:41] rockpanda opened #4796 "Added alarm policy pause function"
At present, there are only new and deleted operations, and I hope to add the function of suspending the alarm policy, which can be paused when necessary, instead of deleting the policy and then creating a new one to enable it.

[2022-04-15 01:39] lanlin opened #4797 "can't access console web from external-ip address after installed kubesphere"
my kubesphere was installed with the aws-quickstart/quickstart-qingcloud-kubesphere

https://github.com/aws-quickstart/quickstart-qingcloud-kubesphere/issues/89

### AWS CloudFormation Status
<img width="802" alt="image" src="https://user-images.githubusercontent.com/3468024/163441375-5e0f4410-7dc7-43f9-8806-d972f68eb849.png">

### My Options (region: cn-north-1)

| Key | Value | Parsed Value |
|

[2022-04-15 02:07] FeynmanZhou commented on #4791
Any error logs?

[2022-04-15 02:41] ivanmissu opened #4798 "how to config Dingtalk notice in devops system."
kubesphere version
v3.2.1

how to config Dingtalk notice in devops system. ？

[2022-04-15 02:54] FeynmanZhou commented on #4798
As I know, KubeSphere DevOps has only supported [email notification](https://kubesphere.io/docs/devops-user-guide/how-to-use/jenkins-email/) in v3.2.1, do you need to support DingTalk notification in the CI/CD pipeline?

/cc @kubesphere/sig-devops @LinuxSuRen

[2022-04-15 03:01] LinuxSuRen commented on #4798
hi @ivanmissu , currently you can use [dingtalk-plugin](https://github.com/jenkinsci/dingtalk-plugin) or send the HTTP request directly due to no built-in plugin support.

By the way, all DevOps-related issues should be in https://github.com/kubesphere/ks-devops

hi @FeynmanZhou , thanks for letting me know. But it's not necessary to ping me directly. It's good enough to ping the DevOps team.

[2022-04-15 03:45] f10atin9 commented on #4793
To ensure availability, remove the % option in the increase box

[2022-04-15 03:49] f10atin9 commented on #4793
And @jioce  suggested, add the prompt text next to it:
"Please set the increment according to the expansion step size of StorageClass-csi, otherwise it may not work"
"请根据StorageClass-csi的扩容步长设置增量，否则可能出现错误“

[2022-04-15 07:05] f10atin9 commented on #4793
BTW, the limit cannot be greater than 100%.

[2022-04-15 07:30] #4790 closed

[2022-04-15 07:30] #4792 closed

[2022-04-15 07:37] alongL commented on #4791
Failed to run edgemesh demo.
cloudzone and edgezone access failed.

Logs of edgemesh-agent on the edge is list at the end.
It looks like this issue:
https://github.com/kubeedge/edgemesh/issues/252
Maybe the kubeedge in the app store is a little old ?
How the change kubeedge configuration in the kubesphere?
[code]

[2022-04-15 07:49] jioce opened #4799 "The size of the expanded storage volume is greater than Storage Limit"
**Describe the Bug**
1、There is a storage type test, set the PVC regulator, the Storage Limit is 15G, the threshold is 99%, and the increase is 10G
2、Create a storage volume vv with a size of 10G, mount it to the existing workload deploy, and increase the storage volume usage to the threshold
3、After a period of time, the storage volume is successfully expanded
![image](https://user-images.githubu

[2022-04-15 09:06] alongL commented on #4791
This error has disappeared by  add list and watch rolebase.
see: https://github.com/kubeedge/edgemesh/issues/252

But the edgemesh demo  still failed.

[2022-04-15 09:09] FeynmanZhou commented on #4791
@Poorunga Could you please help to take a look at this issue?

[2022-04-15 09:17] benjaminhuo commented on #4791
There is a edgemesh & kubesphere integration demo https://www.bilibili.com/video/BV1q3411a7Ws?spm_id_from=333.999.0.0

[2022-04-15 09:49] Patrick-LuoYu opened #4800 "The storage class accessor function does not function properly"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/76198553/163556584-2adaf451-1063-40b4-bd99-a840bce9b0b8.png)

![image](https://user-images.githubusercontent.com/76198553/163556598-202c7c3f-980c-46a4-8ad5-a72dd56d44b1.png)

![image](https://user-images.githubusercontent.com/76198553/163556612-4aaf384d-87df-43f9-9a52-653b7abf9027.png)

![image](https://user-images.githubuser

[2022-04-15 09:58] f10atin9 commented on #4800
By checking this cluster, we found that there is no CRD and validatingWebhook for storageclass-accessor. And ks-installer is still v3.2.1, maybe only the images was updated when upgrading.

[2022-04-15 12:57] harrisonliu5 commented on #4793
/kind need-to-verify

[2022-04-16 14:51] #4499 closed

[2022-04-16 14:51] #4530 closed

[2022-04-16 14:51] #4529 closed

[2022-04-16 14:51] #4531 closed

[2022-04-16 16:51] #4545 closed

[2022-04-16 16:51] #4540 closed

[2022-04-16 16:51] #4503 closed

[2022-04-16 16:51] #4492 closed

[2022-04-16 16:51] #4543 closed

[2022-04-18 01:05] jioce commented on #4196
issue is not fixed

[2022-04-18 02:13] weili520 commented on #4196
/assign

[2022-04-18 02:32] alongL commented on #4791
edgemesh-agent logs on server.
The error seems like this  https://kubesphere.com.cn/forum/d/6851/4
[code]

[2022-04-18 02:36] Poorunga commented on #4791
This error indicates that you need to recreate the cloudcore clusterrole, please refer to: https://github.com/kubeedge/kubeedge/blob/master/build/cloud/03-clusterrole.yaml

[2022-04-18 02:39] alongL commented on #4791
I have add list and watch role.  This error on edge is OK now .  @Poorunga
The errors shown on edgemesh-agent on server  still exist.

[2022-04-18 02:51] Poorunga commented on #4791
Does your service: `kube-system.metrics-server` confirm that it has port 443?

BTW, can edgemesh test cases work? refer to: https://edgemesh.netlify.app/guide/test-case.html

[2022-04-18 03:08] alongL commented on #4791
kube-system.metrics-server has port 443

[code]

test cases not wok.
[code]

[2022-04-18 03:10] jioce commented on #4373
issue is not fixed

[2022-04-18 03:11] Poorunga commented on #4791
Let's solve the test case of edgemesh first.

Tried running `telnet tcp-echo-edge-svc.edgezone 2701` multiple times, then show me edgemesh-agent logs in this node.

[2022-04-18 03:19] alongL commented on #4791
edgemesh-agent logs:

[code]

[2022-04-18 03:29] VioZhang opened #4801 "The audit log page doesn't match the design."
**Describe the Bug**
The audit log page doesn't match the design which is
![image](https://user-images.githubusercontent.com/41519383/163749760-ac7942b6-70d1-415b-9820-60c83f69a21c.png)
and the design is
![image](https://user-images.githubusercontent.com/41519383/163749888-e6876a1b-5ac6-4492-b9c2-a05796fac471.png)

**Versions Used**
KubeSphere: 3.3.0 alpha1

/assign @harrisonliu5

[2022-04-18 05:52] jioce commented on #4793
Prompt error, the percentage option has been removed
 should prompt "Please set the increment according to the expansion step size of StorageClass-csi, otherwise it may not work"

![image](https://user-images.githubusercontent.com/88183150/163761486-7ffe9b0b-134c-4976-a494-577a59a2a11a.png)

version used: kubesphere 3.3.0-alpha.1

[2022-04-18 06:13] Poorunga commented on #4791
Is edgemesh-agent deployed correctly? I can't find any information about tcp-echo-edge-svc in your logs.

[2022-04-18 06:25] alongL commented on #4791
This is edgemesh-agent on server.

kubeedge                       edgemes-0j9ys4-agent-2llfc                         1/1     Running     0          5d20h   192.168.60.245    dell

[code]

[2022-04-18 06:27] hexiaodai opened #4802 "Department Management"
What is the relationship between departments and sub-departments in the department management module, and is it possible to achieve permission inheritance between them, and if there is no permission inheritance, what is the meaning of this hierarchical relationship?

[2022-04-18 06:33] Poorunga commented on #4791
However I still can't find any information about tcp-echo-edge-svc in your logs. Try to test on other edge node, or change to another test case.

[2022-04-18 06:36] alongL commented on #4791
I will test on kubeedge+ edgemesh again.   It's OK, Not in kubesphere + edgemesh.

[2022-04-18 06:49] alongL commented on #4791
do you mean logs like this ?
Dial libp2p network between tcp-echo-deployment-56b6d95db4-sfv4m - {tcp rpi4b2.1 10.244.1.166:2701}

this log is on kubeedge+edgemesh. no kubesphere.
[code]

[2022-04-18 06:53] Poorunga commented on #4791
Yes. And you can create kubeedge+edgemesh at the same time through kubesphere.

[2022-04-18 06:58] alongL commented on #4791
Now kubeedge is installed as a component as Kubesphere.
Edgemesh is installed from Appstore.
Do you mean  run kubeedge+edgemesh as Kubesphere running ? Is there some document?

[2022-04-18 07:00] Poorunga commented on #4791
You can refer to: https://mp.weixin.qq.com/s/ZbOgqn1zZuZzAMKSkw0DBw.

[2022-04-18 07:03] alongL commented on #4791
thank you. I will try again.

[2022-04-18 07:50] harrisonliu5 commented on #4196
/kind need-to-verify

[2022-04-18 08:36] #4594 closed

[2022-04-18 09:01] #4799 closed

[2022-04-18 09:06] f10atin9 commented on #4799
When the capacity after resize is greater than the limit, it will expand to the limit value, we think this is reasonable

[2022-04-18 09:09] f10atin9 commented on #4799
The reason for the above is that the csi step leads to a direct resize to 20G

[2022-04-18 21:50] #4259 closed

[2022-04-19 01:23] fsckzy opened #4804 "kubesphere 2.1 add-node.sh fail"
env:
![image](https://user-images.githubusercontent.com/34021474/163901226-94fb4058-5193-406e-bd68-8989036ca6df.png)

add a line of parameters about the new machine information in the group alland kube-nodeof the file conf/hosts.ini
![image](https://user-images.githubusercontent.com/34021474/163901428-ebb1e90c-1b8d-4197-a328-a26dfcf92b86.png)

Execute the add-nodes.sh
![image](https://user-images.

[2022-04-19 01:57] #4804 closed

[2022-04-19 03:25] VioZhang opened #4805 "The"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help

[2022-04-19 03:36] harrisonliu5 commented on #4805
current as follow:

![image](https://user-images.githubusercontent.com/17872673/163915155-888427b8-2595-4c8c-aa0c-dbbdd29eea53.png)

If the above occurs because there is a value in the

![image](https://user-images.githubusercontent.com/17872673/163915112-fdcae188-ae48-4f85-a25f-e30be8f7b326.png)

@VioZhang

[2022-04-19 03:40] XiaohuiSept commented on #4805
I will optimize it again.

[2022-04-19 06:17] lanlin commented on #4797
I have tried rebuilding several times in the region of "cn-north-1", but it still not working.
But it works in the region of "ap-northeast-1".

[2022-04-19 07:10] jioce opened #4806 "Failed to delete container hook"
**Describe the Bug**
1、There is a deployment test, the image is nginx, with postStart and preStop hooks
2、Edit the container settings, delete postStart hook, click Save, and an error is displayed
3、Edit the container settings again, delete preStop hook, click Save, and an error is displayed
![image](https://user-images.githubusercontent.com/88183150/163945880-6e4fd20e-0021-4029-879e-d1a24e534b9a.p

[2022-04-19 09:54] kevinniu666 commented on #4055
tried to remove edge-mesh from app store, but encountered below error. Can anyone please help? Thanks.

[2022-04-20 01:57] wenxin-01 opened #4807 "Failed to add cluster(Direct Connection)"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/164131280-1ee2c3f2-ca1a-495c-a71f-acf657704fa7.png)

`kubectl logs -f kubefed-controller-manager-xxxxx -n kube-federation-system`
![image](https://user-images.githubusercontent.com/68640256/164131376-ff12233a-f3cf-4075-ab6b-3497c1b8ee7d.png)

**Versions Used**
KubeSphere:   `v3.3.0-alpha.1`

/priority high
/assign @ia

[2022-04-20 02:47] iawia002 commented on #4807
The description is not accurate, the cluster is successfully added and the status is normal, the problem is caused by the failure of the `ClusterClient` component to cache the cluster:

https://github.com/kubesphere/kubesphere/blob/0086e98288e9761bc3dd8d27007e9640fd967bd5/pkg/utils/clusterclient/clusterclient.go#L202-L210

https://github.com/kubesphere/kubesphere/blob/7d9563dca1e5d4f81615b7a1e650f

[2022-04-20 02:47] alongL commented on #4791
I have tried on kubesphere+ kubeedge.
Edgemesh is installed from appstore.

### 1. config Edgemesh
set nodename   and  advertiseAddress
[code]
Set like this or don't set advertiseAddress maybe not right:
[code]
### 2. Add list and watch
[code]

### 3. Add dynamicController to cloudcore in container
[code]

### Now the cloud access edge OK by domain name.
[code]

The edge access cloud by IP sucess

[2022-04-20 03:17] Poorunga commented on #4791
@alongL On edge node, cat /etc/reslov.conf in container.

[2022-04-20 03:34] jioce opened #4808 "Storage volume snapshot is missing error message"
**Describe the Bug**
1、The storage volume snapshot type test exists, create a storage volume snapshot test-vv of the test type
2、Delete the storage volume snapshot type test, click to view the storage volume snapshot details
3、There should be an error message here, the storage volume snapshot type does not exist
![image](https://user-images.githubusercontent.com/88183150/164144540-c4f79c30-1e1e-44

[2022-04-20 03:48] alongL commented on #4791
on edgenode container of busybox
no 169.254.96.16 in /etc/reslov.conf
···
/ # cat  /etc/resolv.conf
nameserver 127.0.0.53

options edns0 trust-ad
···

[2022-04-20 06:13] iawia002 commented on #4807
When this happens, `ks-apiserver` has no associated error logs and I don't know what the problem is.

@xyz-li since you are the original author of the `ClusterClient` component, can you help to locate this problem?

/assign @xyz-li

[2022-04-20 06:57] f10atin9 commented on #4808
There will be an error in the pvc page because the console will send a get sc request, add it to the snapshot if necessary.

[2022-04-20 07:07] Poorunga commented on #4791
The configuration of edgecore.yaml may be missing, you can refer to:https://edgemesh.netlify.app/guide/getting-started.html#helm-installation

[2022-04-20 07:43] wanjunlei opened #4809 "Notification Configuration should be enabled by default"
**What's it about?**

Notification Configuration should be enabled by default.

<img width="960" alt="1650440176" src="https://user-images.githubusercontent.com/53003665/164175632-dcb3add6-9ee8-4e75-bcf9-6ea014248b53.png">

Currently, the notification configuration is disabled by default when it is added. The location of the `enable` button is inconspicuous, and users often forget to enable it. Th

[2022-04-20 07:53] weili520 commented on #4808
This page doesn't fetch the snapshot class related data, so it will not create an error tip, but there will have tip info as follow:

<img width="1272" alt="截屏2022-04-20 15 49 26" src="https://user-images.githubusercontent.com/33231138/164178502-53898497-2acc-4f66-958c-99f6611160d9.png">

[2022-04-20 08:21] alongL commented on #4791
edge connect cloud sucess after I add this to edgecore.yaml of edge.
[code]

[code]

Maybe the document of https://mp.weixin.qq.com/s/ZbOgqn1zZuZzAMKSkw0DBw  should add the configureation to  the edgecore of edge?

Thank you very much for your patient!

[2022-04-20 08:34] gzymomo opened #4810 "Can't login through LDAP when uid contains special characters"
**Describe the Bug**

Can't login through LDAP when uid contains special characters

**Versions Used**
KubeSphere: 3.2.1
Kubernetes: v1.21.5

**Environment**
CentOS 7.5

![image](https://user-images.githubusercontent.com/22019924/164185611-f207f947-2bc2-449b-843b-885f4b64c84b.png)

kubesphere log

[code]

/kind bug

[2022-04-20 08:48] xyz-li commented on #4807
Interesting.
After I deleted and added the cluster two times, the bug still exists.
I have no idea about this bug now.

[2022-04-20 08:59] VioZhang commented on #4809
We’d better make it easy to recognize the ”enable“ button or the user could find the button easily after setting the config.

[2022-04-20 10:32] daixijun opened #4811 "can't login from dex after kubesphere is upgrade from v3.2.1 to v3.3.0-alpha.1"
**Describe the Bug**
<img width="515" alt="image" src="https://user-images.githubusercontent.com/3611220/164212216-f0d2a723-8b5d-4233-b10e-45409333a8ce.png">
<img width="427" alt="image" src="https://user-images.githubusercontent.com/3611220/164212282-b1a3b8b7-8cb0-4173-9020-2074365189c3.png">

**Versions Used**
KubeSphere: v3.3.0-alpha.1
Kubernetes: v1.20.11

**Environment**
How many nodes and th

[2022-04-21 01:27] kindnull opened #4812 "Kubesphpere is deployed in eks fargate mode, and the Prometheus node exporter cannot be scheduled"

[2022-04-21 02:40] #4229 closed

[2022-04-21 02:40] #4552 closed

[2022-04-21 02:40] #4553 closed

[2022-04-21 02:40] #4513 closed

[2022-04-21 02:40] #4519 closed

[2022-04-21 02:40] #4398 closed

[2022-04-21 02:40] #4378 closed

[2022-04-21 02:43] jioce commented on #4808
After the storage snapshot type is deleted, the snapshot can successfully create a storage volume
![image](https://user-images.githubusercontent.com/88183150/164361053-b8496c7c-74f1-4909-a4e7-1ed0866d3e56.png)

![image](https://user-images.githubusercontent.com/88183150/164361161-3cf725d4-673d-4502-9e04-915ae327f722.png)

![image](https://user-images.githubusercontent.com/88183150/164361201-f325d3

[2022-04-21 02:51] xyz-li commented on #4794
The content in the left box is the configuration of the application.

[2022-04-21 02:55] FeynmanZhou commented on #4812
Hi @kindnull Is there a port conflict between KubeSphere and EKS? Any error logs?

[2022-04-21 02:58] haoke016 opened #4813 "Whether to verify the name and version number as unique when creating a stateless service"
During the creation of a stateless service, the system checks whether the name is unique. In actual deployment, the system uses the name + version number as the name.
In the case of multiple versions of services, the names cannot be unified.
![image](https://user-images.githubusercontent.com/22347754/164362737-93b288db-4d50-4057-bf19-fa69c32d0e2a.png)
![image](https://user-images.githubusercontent

[2022-04-21 03:07] FE-wangjb opened #4814 "Can Devops support SQL version control tools (such as liquibase)"
**What's it about?**
SQL version control is an important part of CI / CD. Open source tools such as liquibase can realize the integration of SQL in Devops process, but now kubesphere itself does not support this. The liquibase plug-in cannot be used because the Jenkins version of kubesphere integration is too low. It is suggested that the product team consider integrating SQL version control compo

[2022-04-21 05:39] benjaminhuo commented on #4809
It's two different things.
I agree with @wanjunlei, the notification should be enabled by default, not disabled by default.
As I can remember if the notification channel is created in a disabled state, the config cannot be displayed even after enabling it, @wanjunlei have you reproduce that issue?

Making it easy to find the enable button is a different issue.

[2022-04-21 05:49] VioZhang commented on #4809
Maybe you do not get the point which is that the core problem is that "users often forget to enable it".
If the button is enabled by default there will be some probelm such as that "why i could not receive the message when the button is enable when the form is empty? ".The button should be enabled by default.And it is a common sense rather not the different issue.

[2022-04-21 05:58] benjaminhuo commented on #4809
I don't think a user will ask "why i could not receive the message when the button is enable when the form is empty? "
He didn't config the email server, why can he receive an email?

We needn't make the user find the enable button when the config is empty. Simply remove the enable or disable button when there is no config set.

Whenever a user inputs the config and clicks save, the config should

[2022-04-21 06:13] holdlg commented on #4456
if docker login <harbor_ip>  success。
"x509: certificate signed by unknown authority" errors can be ignored temporarily.
You can ignore the certificate error temporarily on the app creation page.

refer: https://kubesphere.com.cn/forum/d/5930-kubesphere-32-harborbug31/3

[2022-04-21 08:04] harrisonliu5 commented on #4808
/kind need-to-verify

[2022-04-22 03:50] Gerrylinux opened #4816 "建议增加备份或者数据导入导出功能"
kubesphere 服务重新创建或者集群迁移，导致用户和授权丢失，这块目前k8s集群和kuhesphere 存在强绑定， 集群迁移成本变大

[2022-04-22 04:03] x893675 opened #4817 "Added crd method to store user access credentials"
**What's it about?**

Added token crd method to store user access credentials instead of redis

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* During our use, we found that the redis pod often crashed, causing kubesphere to not work properly
* The deployment of redis ha cluster on k8s is more complicated. Removing the redi

[2022-04-22 10:03] wenxin-01 opened #4818 "Traffic Management and Tracing page data have no data in multi-cluster project"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/164684066-2e7482a4-ee21-4e36-8610-eac34e12b49f.png)
![image](https://user-images.githubusercontent.com/68640256/164684454-8f2169d9-5d04-48af-afdd-3fbe47d0d1cc.png)

![image](https://user-images.githubusercontent.com/68640256/164683765-72139fc2-9783-4544-9111-bf61334ab762.png)
![image](https://user-images.githubusercon

[2022-04-24 03:52] FeynmanZhou commented on #4817
/cc @kubesphere/sig-multitenancy @wansir

[2022-04-24 04:35] wansir commented on #4817
Currently, Redis is only used for token persistence, it's a useful feature if you need to manage user sessions or revoke issued tokens. Redis is not necessary, and you can use the in-memory cache only. Cache all data to etcd is not a good idea, maybe we can provide more data persistence configurations such as local storage, MySQL, etc...

[2022-04-24 04:40] wansir commented on #4817
First, we need to support the configuration of the token cache. Currently, it is related to the number of the master nodes, manual configuration should be supported.

[2022-04-24 05:13] x893675 commented on #4817
I think in-memory cache is only used in all-in-one env and test env. In other cases, data of user session should be persisted.

The amount of user data will not be too large, and when using ks  through the host under multi-cluster, only the host cluster will store the token, I think it is tolerable to store it in etcd.   use local storage, MySQL and other methods has the same problem as redis.

[2022-04-24 06:52] daixijun opened #4819 "can't login node from ui"
**Describe the Bug**
trying login to node from the "Open Terminal", I see the "shell-access" pod already created, but can't connect from the ui

<img width="1654" alt="image" src="https://user-images.githubusercontent.com/3611220/164960565-0a17d456-31c8-4731-931d-fa2c05baf45d.png">
<img width="681" alt="image" src="https://user-images.githubusercontent.com/3611220/164960598-6e710967-432b-4441-94e5

[2022-04-24 07:02] wansir commented on #4819
Web terminal depends on WebSocket protocol, please make sure the WebSocket proxy rule is configured in your proxy server.

https://www.nginx.com/blog/websocket-nginx/

[2022-04-24 07:12] daixijun opened #4820 "[Continuous Deployment] cannot list project from the selected cluster"
**Describe the Bug**
"Deployment Location" cannot list project from the selected cluster, only list from the host cluster
<img width="894" alt="image" src="https://user-images.githubusercontent.com/3611220/164964056-3626ee29-b105-4b8a-96c3-00090278ecac.png">

**Versions Used**
KubeSphere: v3.3.0-alpha.1
Kubernetes: v1.20.11

**Environment**
How many nodes and their hardware configuration:

For exa

[2022-04-24 07:47] zryfish commented on #4818
Request parameter rateInterval is `undefined`, which I believe is a mistake.
[code]

There is a duration select control in single cluster application project while under mulit-cluster project, there isn't. Could this be the cause? @harrisonliu5

![Screenshot 2022-04-24 at 15 45 37](https://user-images.githubusercontent.com/3326354/164965922-3135cc05-acc3-4230-af79-e1b068b9c4a3.png)

[2022-04-24 07:47] zryfish commented on #4818
/assign @harrisonliu5

/kind bug

[2022-04-24 08:02] daixijun commented on #4819
<img width="830" alt="image" src="https://user-images.githubusercontent.com/3611220/164966403-c796b781-43ba-44c5-a6a5-6f8642d235b5.png">

The proxy server already support the WebSocket protocol.
These are other connections that use the WebSocket protocol .

[2022-04-24 08:54] daixijun commented on #4819
Alpine image is too slow to pull, wait for pod is ready, It works properly after being reconnected.

[2022-04-24 08:54] #4819 closed

[2022-04-24 09:05] wansir commented on #4817
CRD is not a good choice, it's different from the access token used for the service account. Non-resource data should not be cached to etcd, using the auth API in a wrong way will cause the etcd pressure. Redis is a common caching solution, maybe HA mode brings complexity, it should be configurable.

/assign @zhou1203

[2022-04-24 09:10] wansir commented on #4810
/kind bug
/milestone Backlog
/area iam

[2022-04-24 09:35] LinuxSuRen commented on #4820
hi @daixijun , thanks for reporting this issue. We track all DevOps-related issue in https://github.com/kubesphere/ks-devops/issues

So, I'm going to move this issue to that repository.

[2022-04-24 09:35] zhou1203 commented on #4817
### Community Questions:
Using Redis components and the default is cluster mode, the dependencies are too heavy and the cost is too high.

### Background:
Redis is mainly used to store `JWT` in KS for user authentication.

JWT doesn`t support manual Token revocation, and can only be invalidated after the token expires. However, due to security considerations, the Token must be manually revoked, so

[2022-04-24 09:46] harrisonliu5 commented on #4818
/kind need-to-verify

[2022-04-24 14:33] #4563 closed

[2022-04-24 14:33] #4567 closed

[2022-04-24 14:33] #4570 closed

[2022-04-24 14:33] #4564 closed

[2022-04-24 14:33] #4326 closed

[2022-04-24 14:33] #4557 closed

[2022-04-24 14:33] #4261 closed

[2022-04-24 14:33] #4537 closed

[2022-04-24 15:39] yongxingMa opened #4821 "ks-apiserver v0.0.0,kubeSphereVersion: v3.0.0."
**Describe the Bug**
Why  kubesphere/ks-apiserver in go.sum is v0.0.0, If is v0.0.0, always return kubeSphereVersion: v3.0.0.

<img width="463" alt="image" src="https://user-images.githubusercontent.com/31605966/164984319-a346873d-9038-4e27-a585-6f34f8a8115d.png">
<img width="530" alt="image" src="https://user-images.githubusercontent.com/31605966/164984331-a8be8752-b798-4f71-8759-664dacb6de1d.png

[2022-04-25 08:19] VioZhang opened #4822 "We should support the grafana dashboard at the namespace."
**What's it about?**

We should support the grafana dashboard at the namespace.And now we can only find it by th level of the cluster.
![image](https://user-images.githubusercontent.com/41519383/165048764-80766c29-1c8f-4489-a708-b46893e68c77.png)
![image](https://user-images.githubusercontent.com/41519383/165048872-059d80d6-d38c-4a1a-9e7d-d3477726f758.png)

/kind feature-request
/cc @kubesphere/si

[2022-04-25 08:35] weili520 commented on #4822
/assign

[2022-04-25 09:02] renyunkang commented on #4522
When network isolation is turned on, egress traffic will be allowed by default, while ingress traffic will be denied for different projects. But when you add an egress network policy, only traffic that matches your policy will be allowed to go out.
https://kubesphere.com.cn/en/docs/project-administration/project-network-isolation/

[2022-04-26 01:07] #4522 closed

[2022-04-26 02:35] shihaoH commented on #4807
After I directly connect the ACK cluster, there is also a situation where the cluster does not exist
my issue https://kubesphere.com.cn/forum/d/7122-hostack

[2022-04-26 03:09] DomineCore opened #4823 "KubeSphere | Stopping if default StorageClass was not found]"

[2022-04-26 03:13] seeinghr opened #4824 "Adjustment of some text content in Console and product documentation."
Should the content of the copy involved in the chart here be adjusted? I have read it and feel that it is not defined very clearly for this feature.
**This is in the Console**
![image](https://user-images.githubusercontent.com/26133834/165201245-64ca425b-da86-49b1-ac5e-da37d3c11e14.png)
**This is in the product documentation**
![image](https://user-images.githubusercontent.com/26133834/165202700-9

[2022-04-26 06:55] jioce commented on #4793
issue fixed in v3.3.0-alpha.2

[2022-04-26 06:55] #4793 closed

[2022-04-26 07:00] jioce commented on #4808
issue fixed in v3.3.0-alpha.2

[2022-04-26 07:00] #4808 closed

[2022-04-26 07:55] wansir opened #4825 "Failed to fetch GPU kinds"
**Describe the Bug**

Failed to fetch GPU kinds, caused by ks-apiserver NPE.

Error logs:

[code]

[code]

**Versions Used**
KubeSphere: v3.3.0-alpha.1.2+7d9563dca1e5d4

/kind bug
/priority high

[2022-04-26 13:15] dengyangxi opened #4826 "Can kubesphere integrate dapr to make kubesphere more powerful"
Openfunction has introduced dapr to solve edge computing.

**Can kubesphere also introduce dapr to solve the microservice runtime ??**

Expect [dapr]( https://github.com/dapr/dapr ) integration to join . . . .
Make kubesphere more powerful. It can not only manage kubernetes, but also have the basic components of microservices and distributed application runtime

 [https://github.com/dapr/dapr

[2022-04-26 13:26] limoncc opened #4827 "when directly installed v3.3.0-alpha.1 and opening DevOps, devops failed to install."
when directly installed v3.3.0-alpha.1 and opening DevOps, devops failed to install.

![this](https://github.com/limoncc/design/blob/master/未命名123.png "title")

` "msg": "non-zero return code",
      "rc": 1,
      "start": "2022-04-26 17:52:21.376454",
      "stderr": "Error: UPGRADE FAILED: \"devops\" has no deployed releases",
      "stderr_lines": [
        "Error: UPGRADE FAILED: \"devops\" h

[2022-04-27 02:03] wenxin-01 opened #4828 "The name of the host cluster is not displayed"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/165423387-dfa104bc-66dc-445e-a567-0bf5976ae10f.png)
![image](https://user-images.githubusercontent.com/68640256/165423484-f6be4896-5316-4aac-a5e0-c5101248485d.png)

**Versions Used**
KubeSphere:   `v3.3.0-alpha.2`

/priority medium
/assign @kubesphere/sig-console

[2022-04-27 02:24] #4282 closed

[2022-04-27 02:24] #4137 closed

[2022-04-27 02:24] #4185 closed

[2022-04-27 02:25] #4757 closed

[2022-04-27 02:26] #4800 closed

[2022-04-27 06:33] benjaminhuo commented on #4825
@wenchajun Would you help to take a look at this issue?

[2022-04-27 06:49] FE-wangjb opened #4829 "Is it possible to increase the interface control of K8S rolling update?"
**What's it about?**
Rolling update is a very useful release function. K8S itself supports the "pause" and "resume" commands of rolling update. If you can add control buttons on the interface, it will greatly facilitate the development and operation and maintenance of the debugging of the new version

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. The

[2022-04-27 07:08] stoneshi-yunify opened #4830 "mount object storage as filesystem to pod"
**What's it about?**
object storage with its unique cahartactriscs (distributed, unlimited space, infrastructure agnostic etc) becomes very popular in k8s world. however k8s doesn't directly support object storage so apps must use the specific sdk (aws s3 etc) to manage the object storage.

many users want to access object storage a as filesystem, so the object storage can replace the block or fil

[2022-04-27 07:51] jioce commented on #4196
issue fixed in v3.3.0-alpha.2

[2022-04-27 07:51] #4196 closed

[2022-04-27 07:59] zryfish commented on #4828
Did you change the host cluster name after enabling multi-cluster mode or before?

[2022-04-27 08:09] wansir commented on #4828
/close

[2022-04-27 08:19] wansir commented on #4577
/kind need-to-verify

[2022-04-27 08:19] wansir commented on #4479
/kind need-to-verify

[2022-04-27 08:20] wansir commented on #4491
/kind need-to-verify

[2022-04-27 10:19] #4555 closed

[2022-04-27 10:30] bangbangzheng opened #4832 "the write configuration will be reset when you add addons"
If you customize the Prometheus configuration of kubesphere, the write configuration will be reset when you add addons.

KubeSphere: 3.2.1
Kubernetes: aliyun ACK:V1.22 1.20 ,or kubekey  build K8S:V1.21

[2022-04-27 10:34] bangbangzheng commented on #4832
the Prometheus from kubesphere，Not external

[2022-04-27 16:00] FeynmanZhou commented on #4826
IMO, OpenFunction is not leveraging Dapr to support edge computing scenarios, it is used for FaaS runtime. Will it be much reasonable to integrate OpenFunction to KubeSphere for your scenario?

[2022-04-28 01:48] wansir commented on #4039
/reopen

[2022-04-28 02:04] xyz-li commented on #4794
/close

[2022-04-28 02:12] jioce commented on #4510
issue fixed in v3.3.0-alpha.2

[2022-04-28 02:34] jioce commented on #4498
issue fixed in v3.3.0-alpha.2

[2022-04-28 02:38] iawia002 commented on #4807
/kind need-to-verify

[2022-04-28 06:42] benjaminhuo commented on #4826
OpenFunction is a FaaS platform and running functions on the edge side is one of our goals although it's not well tested and supported yet.

And we're going to add a new runtime in OpenFunction called `ElasticApp`, and you can write and run native dapr applications with this runtime. https://github.com/OpenFunction/OpenFunction/issues/230

And KubeSphere's support to dapr will be done through Open

[2022-04-28 10:09] jioce opened #4834 "Install edge node, service cloudcore is missing nodeport"
**Describe the Bug**
1、There is a cluster host, open the edge node,
![image](https://user-images.githubusercontent.com/88183150/165729502-50300424-9e7e-4e54-8ffc-b4d3b92239d6.png)

2、View service cloudcore details, nodeport is missing
![image](https://user-images.githubusercontent.com/88183150/165729869-56b689bd-c048-42e6-9f11-ec85c24e2004.png)

**Versions Used**
KubeSphere: v3.3.0-alpha.2

/kind

[2022-04-28 15:06] daixijun opened #4836 "[Notification Manager] `Receiver` cannot be synchronized to member clusters"
**Describe the Bug**
<img width="539" alt="image" src="https://user-images.githubusercontent.com/3611220/165783695-f7be2bec-e430-4517-8ddb-da9547110f39.png">
`Receiver` default version is v2beta2, but ks-manager-controller can only synchronizes v2beta1

https://github.com/kubesphere/kubesphere/blob/master/pkg/client/listers/notification/v2beta1/receiver.go#L25

**Versions Used**
KubeSphere: v3.3.0

[2022-04-28 21:59] mprojtz-private opened #4837 "Topology feature, blank page"
**Describe the Bug**
When using the topology feature the page is blank for some projects/namespaces. The only error message seen is following in the browser log:

10.47227f5e1466dfcd327f.js:1 Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'toUpperCase')
    at r.value (10.47227f5e1466dfcd327f.js:1:117320)
    at Ii (main.ea284c62cf0c3cd68d14.js:86:69876)
    at Li (m

[2022-04-29 02:19] wanjunlei commented on #4836
@daixijun You need to call the API of ks to create the receiver, otherwise, multi-cluster distribution cannot be achieved.

[2022-04-29 02:50] jioce commented on #4510
/close

[2022-04-29 02:50] jioce commented on #4381
/close

[2022-04-29 02:51] jioce commented on #4310
/close

[2022-04-29 02:52] jioce commented on #4404
/close

[2022-04-29 03:15] daixijun commented on #4836
Could you give me an example or docs? Thank you

[2022-04-29 06:56] wanjunlei commented on #4836
https://github.com/kubesphere/kubesphere/blob/master/pkg/kapis/notification/v2beta1/register.go#L55

You can take a look at these api.

[2022-04-29 07:20] benjaminhuo commented on #4836
`https://github.com/kubesphere/kubesphere/blob/master/pkg/client/listers/notification/v2beta1/` is KubeSphere's notification API version while `notification.kubesphere.io/v2beta2` is Notification Manager CRD version, they're not the same version actually.

[2022-04-29 08:40] #4039 closed

[2022-04-29 11:20] daixijun commented on #4836
<img width="1679" alt="image" src="https://user-images.githubusercontent.com/3611220/165934247-4804b44a-ef4d-4330-94e9-e35a71c153b7.png">

Try creating from the KS API， Also cannot be synchronized，The tenant type is created, but the global type is returned

[2022-04-29 11:48] daixijun commented on #4836
<img width="1639" alt="image" src="https://user-images.githubusercontent.com/3611220/165938578-5be21b9f-49dc-47a8-8636-a0909a093cb1.png">
I find these error logs from kubefed-controller-manager

[2022-04-30 03:28] hangvane opened #4839 "Gateway random timeouts"
**Describe the Bug**
A clear and concise description of what the bug is.

Due to the default strategy of nginx-ingress, the project gateway will create spawn as many processes as cores are detected, which leads to error of

[code]

And most requests are assigned to the dead worker, resulting in random timeouts.

this issue can be fixed by pinning the worker processes to a lower value like 2x or 4x

[2022-04-30 11:36] benjaminhuo commented on #4836
@wanjunlei The error log shows kubefed is still trying to sync v1beta1 config?

[2022-05-02 06:02] kindnull commented on #4812
on deploy,An error occurred
--------------------------------
failed: [localhost] (item={'ns': 'kubesphere-system', 'kind': 'users.iam.kubesphere.io', 'resource': 'admin', 'release': 'ks-core'}) => {"ansible_loop_var": "item", "changed": true, "cmd": "/usr/local/bin/kubectl -n kubesphere-system annotate --overwrite users.iam.kubesphere.io admin meta.helm.sh/release-name=ks-core && /usr/local/bin/ku

[2022-05-02 06:16] kindnull commented on #4812
run this command:
/usr/local/bin/kubectl -n kubesphere-system annotate --overwrite users.iam.kubesphere.io admin meta.helm.sh/release-name=ks-core && /usr/local/bin/kubectl -n kubesphere-system annotate --overwrite users.iam.kubesphere.io admin meta.helm.sh/release-namespace=kubesphere-system && /usr/local/bin/kubectl -n kubesphere-system label --overwrite users.iam.kubesphere.io admin app.kuberne

[2022-05-02 12:23] haozileung commented on #4812
As far as I  know, EKS Fargate is server less which means you don't have any logical node to install node exporter. Monitor tools needs to run in sidecar mode within pod. Basically it's not possible.

[2022-05-03 06:58] kindnull commented on #4812
sorry，the error logs

ok,thanks, i know, so if i  want  to install kubesphere on EKS for  Fargate mode，that is not support？

[2022-05-04 03:31] FeynmanZhou opened #4840 "The web kubectl is not available in Safari but works well in Chrome"
**Describe the Bug**
A clear and concise description of what the bug is.

The web kubectl is not available in Safari but works well in Chrome.
**Safari**
<img width="1422" alt="image" src="https://user-images.githubusercontent.com/40452856/166619494-3679b2cb-8a77-406e-bd17-6282227f8649.png">
**Chrome**
<img width="1417" alt="image" src="https://user-images.githubusercontent.com/40452856/166619570-

[2022-05-04 03:33] FeynmanZhou commented on #4840
/kind bug

[2022-05-04 03:48] FeynmanZhou commented on #4840
@kubesphere/sig-console Is it much suitable to transfer this issue to [kubesphere/console](https://github.com/kubesphere/kubesphere/)?

[2022-05-04 04:46] xianyuwu opened #4841 "How to modify the default resource reservation of gateway system?"
Go to the CRD to modify the `Resource.requests` configuration of the `kubesphere/nginx-ingress-controller image` in `kubesphere-router-kubesphere-system-ingress`. after modifying and refreshing, it returns to the original configuration.
Is this hard code?
[https://github.com/kubesphere/kubesphere/blob/master/config/gateway/templates/nginx-ingress.yaml#L199-L201](https://github.com/kubesphere/kubes

[2022-05-04 15:54] shaly opened #4842 "the document's description is wrong"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help

[2022-05-05 01:14] #4510 closed

[2022-05-05 01:43] wenxin-01 opened #4843 "Display error"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/166852693-da120071-7058-47c9-b6b1-605278e5cc5d.png)

**Versions Used**
KubeSphere:   `v3.3.0-alpha.2`

/priority high
/assign @kubesphere/sig-docs

[2022-05-05 01:55] wanjunlei commented on #4836
The v1beta1 API will sync the v1beta1 CRD to the member cluster and store it as v1beta2. There is no difference between the v1beta1 CRD and v2beta2 CRD in version 1.4.0. So you can use the v1beta1 CRD when calling the API.

[2022-05-05 02:49] wansir commented on #4841
/assign @kubesphere/sig-microservice

[2022-05-05 02:58] benjaminhuo commented on #4812
Currently running KubeSphere on serverless K8s like fargate is not supported yet.

[2022-05-05 06:43] hi163hello opened #4844 "devops kubeconfig认证失败"
devops kubeconfig认证失败

完整日志如下：
Deploy to Kubernetes
Starting Kubernetes deployment
Loading configuration: /home/jenkins/agent/workspace/project-NMxkl7krAjqO/gulimall-cicd/gulimall-order/deploy/gulimall-order-deploy.yml
ERROR: ERROR: java.lang.RuntimeException: io.kubernetes.client.openapi.ApiException: Unauthorized
hudson.remoting.ProxyException: java.lang.RuntimeException: io.kubernetes.client.op

[2022-05-05 10:13] hi163hello opened #4846 "devops Pipeline Could not resolve host: gitee.com"
Jenkinsfile:
sh 'git push http://$GIT_USERNAME:$GIT_PASSWORD@gitee.com/$GITEE_ACCOUNT/gulimall.git --tags --ipv4'

error log:
+ git push http://****:****@gitee.com/****/gulimall.git --tags --ipv4
fatal: unable to access 'http://****:****@gitee.com/****/gulimall.git/': Could not resolve host: gitee.com; Name or service not known
script returned exit code 128

/etc/hosts
180.97.125.228 gitee.com

pi

[2022-05-06 04:57] VioZhang commented on #4844
/cc @kubesphere/sig-devops

[2022-05-06 05:02] VioZhang commented on #4846
Is it because that there is wrong with the location of the hosts file？/cc @kubesphere/sig-devops

[2022-05-06 05:29] Changego opened #4848 "Can notification-Manager for Kubespherev3.2.1 be upgraded to 2.0? How to upgrade?"
Hello, excuse me！

Can notification-Manager for Kubespherev3.2.1 be upgraded to 2.0? How to upgrade?

[2022-05-06 05:34] VioZhang commented on #4842
The description is suitable for the" Account" rather than the "Role",and it means that what is the influence of the account.
It is surely a little confusing for the new,and we can make some enhancement./cc @kubesphere/sig-docs
We also look forword to your idea.

[2022-05-06 05:58] ilijaNL opened #4849 "Master node does not recover when restarted inside ha cluster"
**Describe the Bug**
When using a high available cluster (3 masters, 3 workers) and rebooting one of the masters nodes (for maintances etc). On successful reboot of a master node, the master does not recover. When using `docker ps` no containers are started.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: 3.2.1
Kubernetes: (If KubeSphere installer u

[2022-05-06 05:59] wenxin-01 opened #4850 "Interface request error"
**Describe the bug**
Request URL: `/kapis/clusters/host/terminal.kubesphere.io/v1alpha2/namespaces/kubesphere-controls-system/pods/kubectl-admin-6667774bb-4mbnw/exec?container=kubectl&shell=bash`

![image](https://user-images.githubusercontent.com/68640256/167075058-d029cdcb-cb7c-450e-8fa2-08b188881548.png)
![image](https://user-images.githubusercontent.com/68640256/167075131-95882038-a8fd-4ea0-bc

[2022-05-06 06:20] wenxin-01 commented on #4703
issue fixed in 'v3.3.0-alpha.2'

[2022-05-06 06:20] #4703 closed

[2022-05-06 07:48] zheng1 opened #4851 "Support cosign"
**What's it about?**
https://github.com/sigstore/cosign is a tools for container signing, verification and storage in an OCI registry

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* Check if the container image has been modified

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

[2022-05-06 08:51] kindnull commented on #4812
ok,thanks!There was no official reply from the official wechat group

[2022-05-06 09:22] wenxin-01 opened #4853 "Wrong name of containers in service details in Service Topology"
**Describe the Bug**

As shown in the figure, the container name returned by the interface is inconsistent with the actual container name.
Viewing the monitoring information of the initial container is not supported, so it should only return the name of the running container.

![image](https://user-images.githubusercontent.com/68640256/167100373-461a0bcd-c3df-4ee2-b4ac-763ce09dc24f.png)

![image](

[2022-05-06 09:35] #4310 closed

[2022-05-06 09:36] zheng1 commented on #4381
/close

[2022-05-06 09:36] #4381 closed

[2022-05-06 09:36] zheng1 commented on #4404
/close

[2022-05-06 09:36] #4404 closed

[2022-05-06 09:38] wenxin-01 opened #4854 "No traffic information in service details of Service Topology"
**Describe the Bug**

As shown, no traffic information in service details of Service Topology. but in fact, this service have traffic information.

![image](https://user-images.githubusercontent.com/68640256/167106394-5fa70cde-2de5-4a52-8051-b845d34641d7.png)

![image](https://user-images.githubusercontent.com/68640256/167106534-e7e4b709-fd3e-4b52-92b4-966a7e4fd702.png)

**Versions Used**
KubeSphe

[2022-05-06 09:40] zheng1 commented on #4825
@wenchajun Anything update?

[2022-05-06 09:42] wenchajun commented on #4825
This may be a configuration issue.

[2022-05-06 09:46] wansir commented on #4825
I think the exception should be caught, panic still exists with an unexpected API call.

[2022-05-06 09:48] zheng1 commented on #4345
@jioce Please check again in v3.3.0-alpha.1

[2022-05-06 10:01] wenxin-01 opened #4855 "Service details in service topology are not translated"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/68640256/167110754-0c435a92-8209-4969-b67c-d16c4c73a00c.png)

**Versions Used**
KubeSphere:    `v3.3.0-alpha.2`
Kubernetes: (If KubeSphere installer used, you can skip this)

/priority medium
/assign @kubesphere/sig-docs

[2022-05-07 01:25] wenxin-01 commented on #4853
@harrisonliu5  Please help hide this POD.

[2022-05-07 01:53] wenxin-01 commented on #4818
issue fix in `v3.3.0-alpha.2`
![image](https://user-images.githubusercontent.com/68640256/167233346-75e1cdd8-1e65-4836-a306-c8d496423822.png)

[2022-05-07 01:53] #4818 closed

[2022-05-07 01:54] harrisonliu5 commented on #4843
/assign @Patrick-LuoYu

[2022-05-07 01:57] wanjunlei commented on #4848
First, apply all files in `https://github.com/kubesphere/notification-manager/tree/v2.0.0/helm/crds`.

Second, update Notification Manage using helm

[code]

[2022-05-07 01:59] wenxin-01 commented on #4491
issue fix in `v3.3.0-alpha.2`
![image](https://user-images.githubusercontent.com/68640256/167233482-679c5e45-fff0-447c-bc00-bee2f2e170bd.png)

[2022-05-07 01:59] #4491 closed

[2022-05-07 02:16] wenxin-01 commented on #4479
issue fixed in `v3.3.0-alpha.2`

Hi @vuducmanh11, you can edit lifecycle in containers setting or create resources page.

![image](https://user-images.githubusercontent.com/68640256/167233872-dd59ffe2-e279-4dfa-a54a-f1e6be387820.png)

[2022-05-07 02:16] #4479 closed

[2022-05-07 02:19] wenxin-01 commented on #4648
Now, in `v3.3.0-alpha.2` this connection only request once, but have other issue. https://github.com/kubesphere/kubesphere/issues/4850

[2022-05-07 02:20] wenxin-01 commented on #4648
/removed testing

[2022-05-07 03:07] wenxin-01 commented on #4577
issue fixed in `v3.3.0-alpha.2`
[code]
![image](https://user-images.githubusercontent.com/68640256/167235635-d9e7f17c-f67b-40a3-8e64-7244c5db281d.png)

[2022-05-07 06:28] gzymomo commented on #4774
这问题解决了吗

[2022-05-07 08:22] #4811 closed

[2022-05-07 09:12] xyz-li opened #4857 "FEAT: admin user should be of the capability to activate a `Login restricted` user."
**What's it about?**

Admin user should be of the capability to activate a `Login restricted` user.

**What's the reason why we need it?**

If a user's status is `Login restricted`, even the admin can't activate the user.

**Area Suggestion**

/area iam

/kind feature-request
/cc @wansir

[2022-05-07 09:46] wansir commented on #4850
/assign https://github.com/orgs/kubesphere/teams/sig-console

[2022-05-07 10:03] Patrick-LuoYu commented on #4843
Resolved in [#3241](https://github.com/kubesphere/console/pull/3241).

[2022-05-07 10:32] renyunkang commented on #4854
It's similar to https://github.com/kubesphere/console/issues/3103

[2022-05-07 10:47] filwu8 commented on #4653
failed to try resolving symlinks in path "/var/log/pods/kubesphere-monitoring-system_node-exporter-7wj6r_083027d6-8624-4c67-8a2b-bfb700e08098/node-exporter/6.log": lstat /var/log/pods/kubesphere-monitoring-system_node-exporter-7wj6r_083027d6-8624-4c67-8a2b-bfb700e08098/node-exporter/6.log: no such file or directory

[2022-05-07 12:56] filwu8 commented on #4653
failed to try resolving symlinks in path "/var/log/pods/kubesphere-monitoring-system_node-exporter-7wj6r_083027d6-8624-4c67-8a2b-bfb700e08098/node-exporter/8.log": lstat /var/log/pods/kubesphere-monitoring-system_node-exporter-7wj6r_083027d6-8624-4c67-8a2b-bfb700e08098/node-exporter/8.log: no such file or directory

修复方案：

$ cat values.yaml

prometheus-node-exporter:
hostRootFsMount: false

$ helm

[2022-05-08 04:06] MissYBYue opened #4858 "success install but login error, msg is `getaddrinfo EAI_AGAIN ks-apiserver`"
login fail, `request to http://ks-apiserver/oauth/token failed, reason: getaddrinfo EAI_AGAIN ks-apiserver`
![image](https://user-images.githubusercontent.com/48619456/167281269-65a158be-bc2d-4724-aa7c-ba018bc8c340.png)

**Versions Used**
KubeSphere: v3.2.1
Kubernetes: v1.22.1
kk version: 2.0.0

**Environment**
 CentOS 7.8 / 1 masters:  4cpu/8g; 2 nodes:  4cpu/8g

**kk.config**
  - {name: k8s-mast

[2022-05-08 05:09] MissYBYue commented on #4858
restart host .all is ok...

[2022-05-08 05:09] #4858 closed

[2022-05-08 05:17] xiaoping378 commented on #4654
很诡异的问题，我也遇到了

validatingwebhookconfiguraitons里的caBundle和 secret里的tls.crt明明是一致的

[2022-05-09 00:52] jioce commented on #4345
the problem still exists in v3.3.0-alpha.2
![image](https://user-images.githubusercontent.com/88183150/167323296-b966cd63-6f63-4249-bf5a-2a2875eec128.png)

![image](https://user-images.githubusercontent.com/88183150/167323260-d1618d2d-554a-4af3-b607-1b142f273c49.png)

[2022-05-09 02:39] weihongzhoulord commented on #4841
/assign @weihongzhoulord

[2022-05-09 03:14] yinmin2020 opened #4859 "Ks-controller-manager in KS3.2.1 has been reading hard disks, causing ETCD to hang"
**Describe the Bug**
The KS-Controller-manager of the master node keeps reading hard disks, causing the ETCD to hang. As a result, I/OS of the host are full, causing the cluster to freeze

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/65068467/167333898-743387e5-cf5c-4013-9072-4e1fb834195c.png)

**Versions Used**
KubeSphere: 3.2

[2022-05-09 03:15] guyuegan opened #4860 "build devops project has same record"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

![devops-bug](https://user-images.githubusercontent.com/33271199/167334326-21de8eb8-dd4d-4c45-b3ad-610d0d87df8f.png)
as this pic show, we build devops project twice, cancel one, but got two same record (id:8)

**Versions Used**
KubeSphere:
Kubernetes: (If Kube

[2022-05-09 03:22] weihongzhoulord commented on #4854
This is the result of the default configuration. The display of the  traffic information and topology map is turned off by default because it is too resource-intensive. If you need to turn it on, you can do so by https://github.com/kubesphere/console/issues/3103#issuecomment-1120182234

[2022-05-09 05:45] Bettygogo2021 commented on #4842
Hi, guys. This issue has been fixed in https://github.com/kubesphere/website/pull/2428. Pls check whether it works.

[2022-05-09 09:21] jioce commented on #4400
issue not fixed

[2022-05-09 09:32] wansir commented on #4400
/cc @kubesphere/sig-console Workspace member grant to manage workspace settings but unable to edit workspace quota is as expected.  Workspace quota management permissions (platform scope resource) cannot be granted at the workspace scope.

[2022-05-09 09:38] wansir commented on #4400
/assign @kubesphere/sig-console Workspace member grant to manage workspace settings but unable to edit workspace quota is as expected. Workspace quota management permission (platform scope resource) cannot be granted at the workspace scope.

[2022-05-09 10:27] weili520 commented on #4345
Please check it again and use this image: kubespheredev/ks-console:nightly-20220507, the image that v3.3.0-alpha.2 doesn't include the merge code, thanks a lot.

[2022-05-09 10:29] weili520 commented on #4345
I have checked it, it works well:
![截屏2022-05-09 18 28 14](https://user-images.githubusercontent.com/33231138/167392305-0f4d8010-219e-4eb5-925c-f968f1243c36.png)

[2022-05-09 15:41] sxxpqp opened #4863 "应用商城上传应用le，里面没有helm的values配置"
描述错误
确定开启了
openpitrix:
    store:
      enabled: true
后台查看日志表示安装成功，但是没有看到应用商城的工作负载
应用商城上传应用，里面没有helm的values配置，

使用的版本
KubeSphere：3.2.0
Kubernetes：19.16

环境
节点数量及其硬件配置：
一个主机集群和三个成员集群，每个集群有4个节点。

如何重现
重现行为的步骤：

打开系统工作区
打开 user-system企业空间
选择“应用管理”->“应用模板”
![image](https://user-images.githubusercontent.com/47712570/167445720-6312544a-4159-417e-a3a5-396d35bbea0e.png)
![image](https://user-images.github

[2022-05-10 01:25] adeagle commented on #3982
can't access edge pod  from cloud like this:
[root@ai580 ~]# kubectl exec -ti aa-9b46cbdf9-dtlqg -n aiot /bin/bash
kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use kubectl exec [POD] -- [COMMAND] instead.
Error from server: error dialing backend: dial tcp 10.100.2.100:10353: i/o timeout
[root@ai580 ~]#

[2022-05-10 01:54] xyz-li commented on #4863
helm chart使用helm package 还是 tar 打包的？

[2022-05-10 02:01] jioce commented on #4345
issue is fixed
version：kubespheredev/ks-console:nightly-20220507

[2022-05-10 02:01] #4345 closed

[2022-05-10 02:47] jioce opened #4864 "Edit storage type authorization rule error"
**Describe the Bug**
1、Create a storage type sc, enter the details page, click More Operations - "Edit Authorization Rules"，click to open
2、There are projects pro and pro1, and the rules are set to belong to the project pro
3、Create a storage volume of type sc in project pro1, and it prompts that it cannot be created. Create a storage volume of type sc in project pro, and the creation is successfu

[2022-05-10 03:18] #4781 closed

[2022-05-10 03:53] sxxpqp commented on #4863
helm package 打的包
![image](https://user-images.githubusercontent.com/47712570/167539411-6b6d6ff3-2214-4a83-9670-81c6d9179435.png)

[2022-05-10 03:55] sxxpqp commented on #4863
搭建好的时候是可以用的，以前上传的配置都没有了
![image](https://user-images.githubusercontent.com/47712570/167539637-96d4f09e-5eb3-43fa-b30c-3b5e03a2b6d8.png)

[2022-05-10 04:58] sxxpqp commented on #4863
![image](https://user-images.githubusercontent.com/47712570/167545635-80eeff86-5a3c-4f85-b01e-b02e5b7efbbd.png)

[2022-05-10 05:56] xyz-li commented on #4863
你看一下你的 minio是不是正常的。
```  kubectl exec -ti -n kubesphere-system  $(kubectl get po -n kubesphere-system -l app=minio -oname)  -- ls /data```

[2022-05-10 06:16] sxxpqp commented on #4863
kubectl exec -ti -n kubesphere-system $(kubectl get po -n kubesphere-system -l app=minio -oname) -- ls /data
没有显示数据

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "kubesphere/kubesphere"

[2022-05-10 06:22] xyz-li commented on #4863
执行kubectl get po -n kubesphere-system -l app=minio -oname  有没有pod.

如果有pod 执行 `kubectl exec -ti -n kubesphere-system $(kubectl get po -n kubesphere-system -l app=minio -oname) -- mkdir -p /data/app-store`

[2022-05-10 06:24] sxxpqp commented on #4863
/ # kubectl get po -n kubesphere-system -l app=minio -oname
pod/minio-f69748945-4mt9x 这个看到的pod

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "kubesphere/kubesphere"                                                                                    ***@***.***&gt;;
发送时

[2022-05-10 06:32] sxxpqp commented on #4863
/ # kubectl get po -n kubesphere-system -l app=minio -oname
pod/minio-f69748945-4mt9x 有显示pod

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "kubesphere/kubesphere"                                                                                    ***@***.***&gt;;
发送时间:

[2022-05-10 06:42] xyz-li commented on #4863
那就是 app-store的目录不存在。 你可以看一下ks-installer 是不是有错误输出。
或者在 minio中创建 /data/app-store目录

[2022-05-10 07:17] sxxpqp commented on #4863
没有报ks-installer错误输出。
通过 minio中创建 /data/app-store目录测试正常了

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "kubesphere/kubesphere"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月10日(星期二) 下午2:42
***@***.

[2022-05-10 08:08] wansir commented on #4857
/milestone BackLog

[2022-05-10 08:14] wansir commented on #4857
Login record stored in etcd is not a good choice, it is time to change it.

[2022-05-10 08:36] xyz-li commented on #4863
你是通过修改 ClusterConfiguration 来更改配置么？

[2022-05-10 08:38] sxxpqp commented on #4863
不是，直接minio创建的目录

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "kubesphere/kubesphere"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月10日(星期二) 下午4:37
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:

[2022-05-10 08:39] xyz-li commented on #4863
我说安装app-store的时候， 是修改 ClusterConfiguration 而不是 configmap

[2022-05-10 16:17] knowwinter opened #4867 "The terminal is frequently reset"
**Describe the Bug**
The terminal is frequently reset
It is reset once in about 20 seconds
The experience was terrible
The link in the screenshot will be executed regularly, which feels like a heartbeat, but as soon as the execution session is reset
This is a bug?
Or Where can I set the timeout？
I hope not to reset or disconnect the container terminal for at least half an hour
I used nginx as doma

[2022-05-11 02:12] #4825 closed

[2022-05-11 03:05] weili520 commented on #4850
This request is to confirm that the bash terminal is supported within the container.

[2022-05-11 03:24] wenxin-01 commented on #4780
/cc @wansir

[2022-05-11 06:38] #4863 closed

[2022-05-11 07:05] wenxin-01 commented on #4807
issue fix in `kubespheredev/ks-apiserver:nightly-20220427`

[2022-05-11 07:05] #4807 closed

[2022-05-11 07:57] zj452008181 opened #4869 "devops pipeline run exception"
**Describe the Bug**
Q1、devops pipeline still running but jenkins task already completed,and can't stop in control plane, when i run a new pipeline task,it always waiting.only delete the pipelinerun crd resource task will start
Q2、start a pipeline task，there come out  two sample task and i also can find two different  pipelinerun crd  name with same ‘’devops.kubesphere.io/jenkins-pipelinerun-id‘’

[2022-05-11 14:28] xiaoping378 commented on #4654
可能上游已经修了这个问题，
https://github.com/kubernetes-sigs/kubefed/pull/1490

[2022-05-11 15:14] luxurine opened #4871 "Application Workloads Viewing permission depends on Secret Viewing permission"
**What's it about?**
I found `Application Workloads Viewing` permission depends on `Volume Viewing/Secret Viewing/Configmap Viewing` permission when edit project role's permission. I don't want expose any `Secret` permission even `Viewing`.
<img width="1131" alt="image" src="https://user-images.githubusercontent.com/8802090/167885284-f101827c-868a-4d02-b124-3238d9e28e93.png">

**What's the reason

[2022-05-12 03:56] quqiangsheng opened #4872 "gray released enhance suggest"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request
/area microservice
gray released maybe consider flagger project integration
flagger more

[2022-05-12 04:59] #4841 closed

[2022-05-12 05:18] ilijaNL commented on #4849
Issue was related to swap settings on linux. to fix it `sudo swapoff -a`

[2022-05-12 05:18] #4849 closed

[2022-05-12 05:53] #4780 closed

[2022-05-12 06:08] #4857 closed

[2022-05-12 06:30] wansir commented on #4857
/kind need-to-verify

[2022-05-12 06:30] wansir commented on #4780
/kind need-to-verify

[2022-05-13 02:10] #4854 closed

[2022-05-13 02:11] wenxin-01 commented on #4853
/assign @harrisonliu5

[2022-05-13 02:14] wenxin-01 commented on #4843
issue fixed in `master`

![image](https://user-images.githubusercontent.com/68640256/168197822-052b6b83-fb6a-4a86-9470-c0f8215e6db4.png)

![image](https://user-images.githubusercontent.com/68640256/168197882-fba7229c-86b2-4aa1-b55f-9caad47b37a6.png)

[2022-05-13 02:14] #4843 closed

[2022-05-13 02:19] harrisonliu5 commented on #4853
/assign @weili520

[2022-05-13 02:19] #4620 closed

[2022-05-13 02:34] wenxin-01 commented on #4389
issue not exist in `v3.3.0`

[2022-05-13 02:34] #4389 closed

[2022-05-13 02:38] wenxin-01 commented on #3809
issue not exist in `v3.3.0`

[2022-05-13 02:38] #3809 closed

[2022-05-13 06:25] nuclearwu opened #4874 "Image Fuzzy Search for Sonatype Nexus and Docker Registry"
**What's it about?**
There are many types of private image repositories, such as Sonatype Nexus, Harbor, and Docker Registry, but we found that kubesphere only supports the fuzzy search function of Harbor image repositories.

**What's the reason why we need it?**
Our company still uses Nexus and Docker Registry a lot, so when creating self-made applications There is no way to fuzzy search Nexus an

[2022-05-13 06:28] harrisonliu5 commented on #4853
/kind need-to-verify

[2022-05-13 06:42] wenxin-01 opened #4875 "Unable to access the shell of edge node"
**Describe the Bug**
As the title, the shell terminal of the edge node cannot be accessed. And there is no monitoring information of edge nodes.

![image](https://user-images.githubusercontent.com/68640256/168228304-1ac99f98-4429-47f0-aad4-146ad9901e26.png)

![image](https://user-images.githubusercontent.com/68640256/168228303-45d17e53-c988-41d1-b36d-cd21f0781edd.png)

**Versions Used**
KubeSphere

[2022-05-13 08:34] wansir opened #4876 "Reduce unnecessary status updates"
**Describe the Bug**

Currently, the cluster status update causes the cluster reconcile to keep looping, we should reduce unnecessary status updates, reduce unnecessary API requests.

logs for ks-controller-manager

[code]

**Versions Used**
KubeSphere: v3.3.0-alpha.2
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

Fo

[2022-05-13 10:09] wenxin-01 commented on #4610
/assign @harrisonliu5
There is no workspace created in host cluster on the console page of member cluster.

host-cluster console:
`/kapis/tenant.kubesphere.io/v1alpha2/workspaces?sortBy=createTime&limit=10`
![image](https://user-images.githubusercontent.com/68640256/168262077-dc6d2dfe-bc24-4e14-b471-7cdf39acd950.png)

member-cluster console:
`/kapis/tenant.kubesphere.io/v1alpha2/workspaces?sortBy=

[2022-05-13 11:24] nuclearwu commented on #4874
/cc zheng1

[2022-05-13 11:25] nuclearwu commented on #4874
/cc zheng1

[2022-05-13 11:26] nuclearwu commented on #4874
@zheng1

[2022-05-13 14:18] abcdelf opened #4878 "Do we have any plan to support k8s 1.23.* version ???"
**What's it about?**
 k8s 1.23.* version already release.

[2022-05-16 01:18] #4834 closed

[2022-05-16 01:50] wansir commented on #4426
/kind need-to-verify

[2022-05-16 01:50] wansir commented on #4587
/kind need-to-verify

[2022-05-16 02:01] wenxin-01 commented on #4783
/assign @harrisonliu5

[2022-05-16 02:10] weili520 commented on #4783
/assign

[2022-05-16 02:11] jioce commented on #4806
issue is fixed

version used
kubespheredev/ks-installer:nightly-20220509

[2022-05-16 02:11] #4806 closed

[2022-05-16 09:18] #4876 closed

[2022-05-16 09:23] harrisonliu5 commented on #4783
/kind need-to-verify

[2022-05-17 02:48] wansir commented on #2183
@RonWizz Any updates you give us will be highly appreciated! @XiaohuiSept @harrisonliu5 Cloud you provide more information about this.

[2022-05-17 02:48] VioZhang commented on #2183
Great, there are also some enthusiast designers at the KubeSphere group and i would talk about with them to give some designings.

[2022-05-17 02:55] BreakthrougBackEndTech opened #4882 "Offline Installation error with No SHA256 found for docker. 20.10.16 is not supported"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**What's your question**
https://kubesphere.com.cn/docs/installing-on-linux/introduction/air-gapped-installation/,  following this guide,  failure to execute
./kk artifact export -m manifest-sample.yaml -o kubesphere.tar.gz

**Environment: OS & Hardware Information**
Centos 7

*

[2022-05-17 07:19] Gkirito opened #4883 "After installing v3.2.1, I can't find openldap.svc in kubesphere-system"
**What's your question**
After installing `v3.2.1`, I can't find `openldap.svc` in `kubesphere-system`.
It cause `jenkins-dashboard` login error & store apps deploy error(because of ks-controller-manager startup failed)

**Environment: OS & Hardware Information**
Kubernetes: v1.21.9
AWS-eks

**Error logs or message (Attach logs or screenshot)**
![image-20220517OwmXx4aI@2x](https://user-images.gith

[2022-05-17 07:22] jioce commented on #4834
issue  is fixed
version used: kubespheredev/ks-installer:nightly-20220513

[2022-05-17 14:28] RonWizz commented on #2183
Ok, so what I have to do, can you elaborate a bit. Actually, I'm a beginner

[2022-05-17 14:56] VioZhang commented on #2183
Thanks for your apply and we (consisting the UI designers @XiaohuiSept ) provide the draft design,and second part is to talk about the design with you?How do you like it?

[2022-05-18 03:14] jioce opened #4884 "Error selecting app repository to create app"
**Describe the Bug**
1、The application warehouse "kubesphere-test" exists in the enterprise space ws, and the project pro
![image](https://user-images.githubusercontent.com/88183150/168949601-14de1c07-3f92-45e0-b7a5-3306e23b5c36.png)

2、Enter the project details, select Application Load -> Application, click Create Using Template, and select Application Template
3、Select an existing application re

[2022-05-18 07:16] nuclearwu commented on #4874
/assign

[2022-05-18 08:57] xyz-li commented on #4882
/assign @pixiake

[2022-05-18 09:00] xyz-li commented on #4883
Can you provide the log of ks-installer?

[2022-05-18 09:03] xyz-li commented on #4878
v3.3 will. And it will release soon.

[2022-05-18 09:03] xyz-li commented on #4878
/close

[2022-05-18 09:03] #4878 closed

[2022-05-18 09:43] Gkirito commented on #4883
OK, This
[ks-installer.log](https://github.com/kubesphere/kubesphere/files/8715112/logs.log)

[2022-05-18 09:56] Gkirito commented on #4883
More detail
I found using `helm list` to get the status of `ks-openldap` is deployed
![image-20220518mAHtjJYr@2x](https://user-images.githubusercontent.com/24670858/169011283-0fe901a1-3614-47a2-b859-9cfe5723d89d.png)
Also, There has a config map and a secret about `openldap` in the namespace of `kubesphere-system`
![image-20220518HCfu2yZ9@2x](https://user-images.githubusercontent.com/24670858/1690

[2022-05-18 18:31] sivanaikk opened #4886 "GitHub Action to publish helm chart in KubeSphere helm chart repository"
**What's it about?**

GitHub actions are used to do Continuous Integration. Actions are used to automate individual tasks

**What's the reason why we need it?**
To automatically publish the helm charts to KubeSphere repository https://github.com/kubesphere/helm-charts/tree/master/src/stable

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* .

[2022-05-19 01:46] pixiake commented on #4883
I found the service file of openldap is also in the chart of openldap.
https://github.com/kubesphere/ks-installer/blob/7bcde55add17891c4d83e00db8fb16aa40b96557/roles/common/files/openldap-ha/templates/statefulset.yaml#L1

The openldap's service is `headless services`, Is there a special setting in your cluster that prevents `headless services` from being created?

You can try to delete the `status

[2022-05-19 04:11] Gkirito commented on #4883
Thanks for your reply.
I check my cluster setting, not found any settings about preventing `headless services` from being created.
And I tried the plan you provided, It's still nothing happened.
Then I found this [code](https://github.com/kubesphere/ks-installer/blob/73e20baddf715f8b16027a6fca4b419c12590e79/roles/common/tasks/openldap-install.yaml#L41) in `ks-installer` repo.
Maybe using `helm` to

[2022-05-19 05:57] wansir commented on #4883
You can change the log level from `warning` to `debug` by editing the LDAP statusfulset. Usually related to issues of storage.

[2022-05-19 06:17] Gkirito commented on #4883
Yea, I change the log level to `debug`. Unfortunatly this may not be easy to solve.
This is log
![image-20220519FA6kbyLr@2x](https://user-images.githubusercontent.com/24670858/169222085-f3cee2b3-a428-4ab2-9a47-f7819012e500.png)
I tried to change the env value of `HOSTNAME` from `$(MY_POD_NAME).openldap` to `$(MY_POD_NAME)`. It started normally. But other services still couldn't connect to `ks-open

[2022-05-19 07:14] jioce opened #4887 "Storage Volume Expansion Fails After Editing the Auto Expansion Maximum Value"
**Describe the Bug**
1、There is a storage type csi-qingcloud, automatic expansion is enabled, the maximum value is 20, the threshold is 99%, and the increment is 10，auto-restart workload is turned on
2、There is a csi-qingcloud type storage volume test-zy that has been mounted to the workload. It has been expanded once and its size is 20，the storage volume usage is still greater than the threshold

[2022-05-19 08:50] wansir commented on #4884
/priority high

[2022-05-19 09:55] Gkirito commented on #4883
Finally, I built an `openldap` image base on [#252](https://github.com/osixia/docker-openldap/issues/252).
And the `ks-openldap` service runs normally with this image in the ipv6 environment

[2022-05-19 10:45] Patrick-LuoYu opened #4890 "Cluster members cannot access clusters"
**Describe the Bug**
Users with only cluster permissions cannot access clusters.

**Versions Used**
KubeSphere: 3.3.0-rc.0

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a user and assign the `platform-regular` role to the user.
2. Invite the user to a cluster and assign the `cluster-admin` role to the user.
3. Log in as the user. The KS web console provides no interface for the

[2022-05-19 12:36] xiaoping378 opened #4891 "kubefed-controller-manager panic"
**Describe the Bug**

if the added cluster's kubeconfig use `insecure-skip-tls-verify: true`, kubefed-controller-manager will be panic, we should validate this case.
[code]
For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: 3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuratio

[2022-05-20 08:37] swiftslee commented on #4891
/cc @iawia002 :eyes:

[2022-05-20 08:37] swiftslee commented on #4891
/area sig-multicluster

[2022-05-20 08:38] swiftslee commented on #4891
/area sig-multi-cluster

[2022-05-20 08:38] swiftslee commented on #4891
/area multicluster

[2022-05-20 08:45] xiaolidw23456 commented on #3320
Editing Prometheus CRD and modifying Prometheus' storage as cephfs does not take effect. Are there any steps?

[2022-05-20 09:01] xiaolidw23456 opened #4892 "Redis-ha local storage migrated to cephfs"
Redis ha local storage is migrated to cephfs, the replica cannot be expanded, and PVC cannot be created

[2022-05-20 09:22] xiaolidw23456 opened #4893 "Prometheus storage how to modify cephfs storage"
**Describe the Bug**
A clear and concise description of what the bug is.
How to modify the storage of Prometheus in KS.
For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:V3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:
CentOS 7.9/6 host: 4cpu / 8g; 6 nodes
For example:

[2022-05-21 09:15] shanyl2021 opened #4897 "应用商店安装应用的时候提示未找到，但是实际上已经执行成功了！"
安装应用选择项目的时候，没法选择，安装应用的时候提示未找到，但是实际上已经执行成功了！
![1cfd524e514b9487ede536700f139ff](https://user-images.githubusercontent.com/50799015/169644812-d5a20475-bc40-4617-a7a3-ff79e9f4427c.png)

![59dc7a1edc6b816817b239fd60bf6b8](https://user-images.githubusercontent.com/50799015/169644823-c641b7a7-cb08-4adf-81c3-732d9bd67bcc.png)

[2022-05-23 02:09] xyz-li commented on #4897
area/apps

[2022-05-23 02:11] xyz-li commented on #4897
/area apps

[2022-05-23 02:15] xyz-li commented on #4897
Is there a namespace in the workspace `work-spaces`?

[2022-05-23 02:20] xyz-li commented on #4893
Prometheus uses the default storage class the create PVC. Is the cephfs storage a default storage class?

[2022-05-23 02:22] xyz-li commented on #4892
Can you provide some info on why PVC can't be created?
`kubectl describe pod ${REDIS_NAME}` or `kubectl describe sts ${STS_NAME}`

[2022-05-23 02:23] jioce opened #4898 "The upgraded cluster fails to create an enterprise space"
**Describe the Bug**
1、There are multiple clusters, and the host cluster version is 3.3.0-alpha.1
2、Upgrade the host cluster to version 3.3.0-rc.0. After the upgrade is successful, log in to the console and create an enterprise space, but the creation fails
![image](https://user-images.githubusercontent.com/88183150/169731396-06e863fe-9574-463f-879a-5e2c972e68d5.png)

![image](https://user-images.

[2022-05-23 02:27] xyz-li commented on #4898
/cc @harrisonliu5

[2022-05-23 02:31] shanyl2021 commented on #4897
![image](https://user-images.githubusercontent.com/50799015/169732239-ef57a81f-439b-4552-84ad-70c1725a925a.png)

这里选择项目的时候，没法选择需要手动输入!

![59dc7a1edc6b816817b239fd60bf6b8](https://user-images.githubusercontent.com/50799015/169732301-0b924fe9-c75d-4e9b-a3e6-c7eb248dd22c.png)
这里点击install安装软件提示这个报错，但实际上已经安装成功了！

[2022-05-23 02:41] shanyl2021 commented on #4897
谢谢！已经解决了

[2022-05-23 02:42] xyz-li commented on #4897
/close

[2022-05-23 02:42] #4897 closed

[2022-05-23 06:56] harrisonliu5 commented on #4898
/kind need-to-verify

[2022-05-23 07:48] #4884 closed

[2022-05-23 08:06] suwliang3 opened #4899 "Applications deployed through Helm do not support serviceMesh？"

[2022-05-23 08:18] zj452008181 opened #4900 "workspace role regular and self-provisioner cannot list resource imageconfig in API group resources.kubesphere.io"
**Describe the Bug**
i give user regular and self-provisioner role in workspace，and admin role in project；when i create deployments in ui，by select images，the window flashes back

**Versions Used**
KubeSphere:v3.2.1
Kubernetes: 1.20

**How To Reproduce**
Steps to reproduce the behavior:
1. give user workspace role regular or self-provisioner
2. give user project role admin
3. ![image](https://user

[2022-05-23 09:16] xyz-li commented on #4899
Have you set the `istio-injection=enabled` label on the namespace?

[2022-05-23 09:59] #4890 closed

[2022-05-23 14:48] xiaoping378 commented on #4891
kubeconfig
[code]
kubefed-controller-manager panic logs
[code]

[2022-05-24 02:35] suwliang3 commented on #4899
@xyz-li What I mean is that the application deployed through the app-store or the app-template does not support the function of  enabling serviceMesh? I don't see a place where serviceMesh can be turned on in kubesphere.Do you mean I need to mamually label ns?

[2022-05-24 03:21] VioZhang commented on #4886
/cc @kubesphere/sig-devops

[2022-05-24 04:11] kethavathsivanaik commented on #4886
Created the GitHub Action. we need a new repository in org to push the code.

[2022-05-24 05:48] jioce commented on #4875
issue fiixed in v3.3.0-rc.0
1、After deployment, enter the `/etc/kubeedge/config/edgecore.yaml` file to view, modify `edgestream`, and change false to true
2、Then restart edgecore.service（systemctl restart edgecore.service）

[2022-05-24 05:54] #4875 closed

[2022-05-24 05:57] wenxin-01 commented on #4783
issue fixed in `v3.3.0-rc.0`
![image](https://user-images.githubusercontent.com/68640256/169959207-f3d5438a-2b87-4c6c-8510-82296b319252.png)

[2022-05-24 05:57] #4783 closed

[2022-05-24 06:48] LinuxSuRen commented on #4886
I didn't get your point.

[2022-05-24 08:03] wenxin-01 commented on #4853
issue fixed in `v3.3.0-rc.0`
![image](https://user-images.githubusercontent.com/68640256/169981053-2f46c62e-1057-450f-bba6-fa14e81fe434.png)

[2022-05-24 08:03] #4853 closed

[2022-05-24 09:31] liangfujian opened #4902 "Installing kubersphere:v3.21 on k8s:v1.21.12"
### free -g
              total        used        free      shared  buff/cache   available
Mem:              3           1           0           0           2           2
Swap:             0           0           0

### k8s version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.12", GitCommit:"696a9fdd2a58340e61e0d815c5769d266fca0802", GitTreeState:"clean", BuildDate:"2022-

[2022-05-25 02:04] jioce commented on #4898
issue is fiixed

version used:
nightly-20220524

[2022-05-25 02:52] jioce opened #4903 "Sample app inaccessible after editing gateway type"
**Describe the Bug**
1、The gateway has been opened in the project tt, the type is nodeport, and the sample application bookinfo has been deployed
![image](https://user-images.githubusercontent.com/88183150/170169097-c218d32b-b6a9-4506-9083-6b2ba9e92c4f.png)

![image](https://user-images.githubusercontent.com/88183150/170169129-dfc93810-da0f-4373-9300-fcbc3e674b80.png)

2、Access application routing

[2022-05-25 08:37] jioce commented on #4781
issue fixed
![image](https://user-images.githubusercontent.com/88183150/170219423-a6cfcad1-1c53-40e6-8d67-771bc9c90537.png)

version used
nightly-20220524

[2022-05-25 08:46] wenxin-01 commented on #4850
issue fixed in `v3.3.0-rc.0`
![image](https://user-images.githubusercontent.com/68640256/170221431-227b486a-56b1-40c9-980e-5b81f4feed6d.png)

[2022-05-25 08:46] #4850 closed

[2022-05-25 08:55] wenxin-01 commented on #4569
issue fixed in `v3.3.0-rc.0`. Now we can login all node in ks-console.
![image](https://user-images.githubusercontent.com/68640256/170223383-54cecda3-18f3-4b47-bac9-3fd88e22e38f.png)

[2022-05-25 08:55] #4569 closed

[2022-05-25 08:55] jioce commented on #4822
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/170223439-db145d4a-55cd-4748-9f1e-a19e9de81005.png)

version used
nightly-20220524

[2022-05-25 09:22] wenxin-01 commented on #4444
Issue fixed in `v3.3.0-nightly20220524`
![image](https://user-images.githubusercontent.com/68640256/170228833-443afd15-8a8a-458c-ad5b-7ed6abbfe55c.png)

[2022-05-25 09:24] wenxin-01 commented on #4574
Issue fixed in `v3.3.0-nightly20220525`

[2022-05-25 09:24] #4574 closed

[2022-05-25 09:25] jioce commented on #4554
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/170229377-5481275f-a1d1-44b1-ad15-9abbddb8d9cf.png)

version used
nightly-20220524

[2022-05-25 09:27] jioce commented on #4532
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/170229820-09ff42f7-fc1a-4b2f-8a40-e811048e9b17.png)

![image](https://user-images.githubusercontent.com/88183150/170229895-2b6b3ff1-0928-4687-9be9-0d29dff97a23.png)

version used
nightly-20220524

[2022-05-25 09:37] wenxin-01 commented on #4442
Issue fixed in `v3.3.0-nightly-20220524`

[2022-05-25 09:37] #4442 closed

[2022-05-25 09:37] jioce commented on #4410
issue is fixed

version used
v3.3.0-rc.0

[2022-05-25 09:55] wenxin-01 commented on #4426
Issue fixed in `v3.3.0-rc.0`

[2022-05-25 09:55] #4426 closed

[2022-05-25 09:57] #4410 closed

[2022-05-25 10:02] jioce commented on #4672
![image](https://user-images.githubusercontent.com/88183150/170236830-fbe8b7bd-a438-45c9-92cd-173a318703db.png)

![image](https://user-images.githubusercontent.com/88183150/170236922-5762968c-a5e6-459e-895b-ab22f275c1a6.png)

version used
v3.3.0-rc.0

[2022-05-25 10:04] #4532 closed

[2022-05-25 10:05] jioce commented on #4625
issue is fixed in v3.3.0-rc.0

[2022-05-25 10:06] jioce commented on #4277
issue is fixed in v3.3.0-rc.0

[2022-05-25 10:08] jioce commented on #4565
issue is fixed in v3.3.0-rc.0

[2022-05-25 10:10] jioce commented on #4287
issue is fixed in v3.3.0-rc.0

[2022-05-25 10:10] #4822 closed

[2022-05-25 10:21] wansir commented on #4779
Related to https://github.com/kubesphere/kubesphere/pull/4868

/kind need-to-verify

[2022-05-25 10:28] Rabbit-st opened #4905 "For the Prometheus installed in kubesphere, modifying the secret additional scratch configurations and restarting the Prometheus pod will not load the new configuration"
**Describe the Bug**
For the Prometheus installed in kubesphere, modifying the secret additional scratch configurations and restarting the Prometheus pod will not load the new configuration

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
CentOS 7.9 / 1 master:  4c/

[2022-05-25 14:39] wenxin-01 opened #4906 "The detail of cluster role display error"
**Describe the Bug**
<img width="1427" alt="image" src="https://user-images.githubusercontent.com/68640256/170288839-752d920f-375d-440c-8cd4-8af231d34a60.png">

<img width="1410" alt="image" src="https://user-images.githubusercontent.com/68640256/170288937-964d421e-9c4a-494b-a97f-0663417face1.png">

**Versions Used**
KubeSphere: `v3.3.0-rc.0`

/priority high

[2022-05-25 16:46] wenxin-01 opened #4907 "The cluster-admin should be able to do the following"
**Versions Used**
KubeSphere:
host : `kubespheredev/ks-installer:nightly-20220524`
member : `kubespheredev/ks-installer:nightly-20220524`

**Preconditions**
There is a user "wx", its platform role is `Cluster Viewing` , and the role of member cluster is `cluster-admin`.

**Expected behavior**
In my opinion, this user can do the following in member-cluster.

**Actual behavior**

Error when viewing

[2022-05-25 16:53] wenxin-01 opened #4908 "The cluster-admin should not be able to remove admin in cluster member"
**Versions Used**
KubeSphere:
host : `kubespheredev/ks-installer:nightly-20220524`
member : `kubespheredev/ks-installer:nightly-20220524`

**Preconditions**
There is a user "wx", its platform role is `Cluster Viewing`, and the role of member cluster is `cluster-admin`.

**Expected behavior**
In my opinion, this user can not remove admin in cluster member.
It is recommended that the front end makes

[2022-05-26 02:36] Jerrywgl opened #4909 "计划支持CAS或者OAuth2 协议吗"
计划支持CAS或者OAuth2协议吗。方便账号的集中管理。

[2022-05-26 03:03] xianyuwu opened #4910 "For high security requirements, we hope KS can support MFA."
For high security requirements, we hope KS can support MFA, such as "Google authenticator" or "Microsoft authenticator".

[2022-05-26 03:49] wansir commented on #4910
/kind feature-request

[2022-05-26 03:56] wansir commented on #4908
As expected, administrators of the cluster are equivalent.

[2022-05-26 05:45] wenxin-01 commented on #4498
After restarting kiali, the problem is solved. No way to reproduce the problem has been found for the time being, it is recommended to close the issue for now.

[2022-05-26 05:45] #4498 closed

[2022-05-26 05:57] #4908 closed

[2022-05-26 06:15] weili520 commented on #4907
/assign

[2022-05-26 06:16] weili520 commented on #4907
The accessor problem is a frontend issue

[2022-05-26 07:11] wenxinll opened #4911 "The annotation of openelb error"
**Describe the Bug**

Request URL:  `/kapis/iam.kubesphere.io/v1alpha2/clusterroles?sortBy=createTime&limit=10&annotation=kubesphere.io%2Fcreator`

openelb should not have this annotation.

![image](https://user-images.githubusercontent.com/68640256/170436474-87ef05a1-4f7c-4c37-aa68-92e849b61cc0.png)

**Versions Used**
KubeSphere:   `kubespheredev/ks-installer:nightly-20220524`

[2022-05-26 07:50] jioce opened #4912 "ClusterConfiguration missing configuration after cluster upgrade"
**Describe the Bug**
1、A cluster exists, version 3.2.1, upgrade it to v3.3.0-rc.0
2、View the ClusterConfiguration of the cluster, the configuration is missing
![image](https://user-images.githubusercontent.com/88183150/170442145-101e1846-cedf-4173-9f0b-5721f008fe90.png)

**Versions Used**
KubeSphere: v3.2.1->3.3.0-rc.0

**Expected behavior**
![image](https://user-images.githubusercontent.com/88183

[2022-05-26 08:15] harrisonliu5 commented on #4907
/kind need-to-verify

[2022-05-26 08:16] wenxin-01 commented on #4587
The function is implemented, but there are some problems in `kubespheredev/ks-installer:nightly-20220524`.
https://github.com/kubesphere/console/issues/3309
https://github.com/kubesphere/kubesphere/issues/4907
https://github.com/kubesphere/kubesphere/issues/4911

[2022-05-26 08:16] #4587 closed

[2022-05-26 08:39] f10atin9 commented on #4887
When I tried to reproduce it, I found that the second time resize failed because of a timeout.

[2022-05-26 08:49] f10atin9 commented on #4887
auto-resizer and auto-restarter are working properly.

[2022-05-26 09:11] xyz-li commented on #4893
/close

[2022-05-26 09:11] #4893 closed

[2022-05-26 09:11] xyz-li commented on #4892
/close

[2022-05-26 09:11] #4892 closed

[2022-05-26 09:25] wenxinll opened #4913 "Some issue in member-cluster console"
**Describe the Bug**

**Versions Used**
KubeSphere:

host : `kubespheredev/ks-installer:nightly-20220524`
member : `kubespheredev/ks-installer:nightly-20220524`

1、 The count of worksapce is error
url: `/kapis/monitoring.kubesphere.io/v1alpha3/kubesphere?start=1653544689&end=1653556689&step=600s&times=20&metrics_filter=kubesphere_cluser_count%7Ckubesphere_workspace_count%7Ckubesphere_user_count%7C

[2022-05-26 09:26] wenxin-01 commented on #4610
Issue fixed in `kubespheredev/ks-installer:nightly-20220524`. But still have some issue in member-cluster console.
https://github.com/kubesphere/kubesphere/issues/4913

[2022-05-26 09:26] #4610 closed

[2022-05-26 09:33] nyuxiao opened #4914 "ks-apiserver CrashLoopBackOff using external Prometheus endpoint"
**Versions Used**
**KubeSphere:** v3.3.0-rc.0

**Preconditions**
  Install KubeSphere using config-sample.yaml as following, be attention that common.monitoring.type = external.

[code]

**Expected behavior**
  Cluster Installation is successful.

**Actual behavior**
  ks-apiserver CrashLoopBackOff.
  And we have logs as following:
[code]
I think the following code cause the problem, because the c

[2022-05-26 09:52] wansir commented on #4914
/cc @junotx

[2022-05-26 10:26] junotx commented on #4914
It is because the prometheus stack is not deployed on your cluster.
Prometheus stack outside the cluster are not supported in the version, and your can deploy your prometheus stack on the cluster, then adjust  related configuretions

[2022-05-27 01:46] jioce commented on #4898
Having the same problem with cluster upgrade from 3.2.1 to 3.3.0-rc.0
1、There is a cluster A, version 3.2.1, upgraded to 3.3.0-rc.0
2、Enable multi-cluster, set to host cluster
3、Add member cluster, the version is v3.2.1, failed to create enterprise space

![image](https://user-images.githubusercontent.com/88183150/170611725-883b3d4a-e3e9-46d9-af18-0fa275b4badd.png)

version used
host cluster: v3.2

[2022-05-27 02:12] nyuxiao commented on #4914
@junotx
common.monitoring.type = external just mean Kube-installer won't install the prometheus stack? I am really confused by the word "external".
Why not use some other word like 'enabled' ?
Or make the prometheus stack as a pluggable component?

[2022-05-27 02:29] #4898 closed

[2022-05-27 03:42] wenxin-01 commented on #4907
This issue fixed in 'harrisonliu5/ks-console:master'
![image](https://user-images.githubusercontent.com/68640256/170621594-82d07de3-2ac1-4837-a903-1c5b5c429e18.png)

![image](https://user-images.githubusercontent.com/68640256/170621735-184cc698-68d5-4b27-9d4d-56a32cbc8ce9.png)

But still have other issues.
There is a user wx. its platform role is `cluster-admin`, the role of host-cluster is `clust

[2022-05-27 03:57] wenxin-01 commented on #4554
![image](https://user-images.githubusercontent.com/68640256/170626344-9342647e-5fae-4a99-8b55-c20ffe767d70.png)

[2022-05-27 03:57] #4554 closed

[2022-05-27 07:09] harrisonliu5 commented on #4907
/cc @wansir

[2022-05-27 07:31] wansir commented on #4913
Not a valid issue, from the perspective of workspace, federated projects are different from ordinary projects, from the perspective of cluster management, they are the same.

[2022-05-27 08:41] f10atin9 commented on #4887
I tried many times and never had the error described before.

[2022-05-27 10:18] anhoder opened #4917 "Opening the terminal of containers in kubesphere will cause goroutine leaks"
**Describe the Bug**

Opening the terminal of containers in kubesphere will cause **goroutine leaks**.
![image](https://user-images.githubusercontent.com/27605589/170678770-e5c498ef-bc06-4698-a23c-fa5bfbea5c41.png)

**Versions Used**
KubeSphere: v3.2.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**

Mac M1 Docker Desktop

**How To Reproduce**
1. View the quantity of

[2022-05-27 11:25] wenxin-01 commented on #4907
Issue fixed in  `console: harrisonliu5/ks-console:css`, and  `kubectl apply -f
https://raw.githubusercontent.com/kubesphere/ks-installer/632717cdca66a80f89723011c4a521cb2fe45de4/roles/ks-core/prepare/files/ks-init/role-templates.yaml`

[2022-05-27 11:25] #4907 closed

[2022-05-28 02:41] changkang520 opened #4919 "从模板创建应用时添加的应用仓库无法展示内容也无法搜索"
从模板创建应用时添加的应用仓库无法展示内容也无法搜索，同样的helm仓库在老版本上是可以使用的
![image](https://user-images.githubusercontent.com/27804613/170806627-e0d1f0a5-fe3b-4aef-919a-cd1710f7457e.png)

[2022-05-29 12:21] yhm-amber opened #4920 "Having problem(s) while install minimal-kubesphere : `Unable to connect to the server: net/http: TLS handshake timeout`"
**What's your question**

I'm tring to install a minimal-kubesphere by following [this page](https://kubesphere.io/docs/quick-start/minimal-kubesphere-on-k8s/) :

[code]

I know if the install done, I will get these things :

[code]

---- by a command `kubectl logs -n kubesphere-system -f -- ks-installer-85dcfff87d-wpd7p` for me .

But, I'm getting these things now 🤒 :

![ks-in-logs-xx.png](https:

[2022-05-29 15:18] #4917 closed

[2022-05-30 01:27] xyz-li commented on #4919
This is a bug of v3.2.1. Fixed by #4889.

[2022-05-30 01:28] #4919 closed

[2022-05-30 02:04] #4906 closed

[2022-05-30 02:09] xyz-li commented on #4920
Can you provide the log of redis-ha-proxy?

[2022-05-30 02:31] wansir commented on #4909
CAS and OAuth2 are already supported, see also https://github.com/kubesphere/kubesphere/tree/master/pkg/apiserver/authentication/identityprovider.

[2022-05-30 02:31] yhm-amber commented on #4920
The `running` of one of the `redis-ha-proxy` pod, was over in the blink of an eye.

so, may be difficult ... to get a log ... (or have some way I don't know ?)

[code]

[2022-05-30 02:46] wenxin-01 commented on #4779
Issue fixed in `nightly-2022-0529`
![image](https://user-images.githubusercontent.com/68640256/170907944-4bf67398-ebb2-44ec-ae33-f1e8a4b5cee9.png)

[2022-05-30 02:46] #4779 closed

[2022-05-30 02:55] xyz-li commented on #4920
`kubectl -n kubesphere-system get po redis-ha-haproxy-7d6d8885cc-rd7qd -oyaml  `

Why `redis-ha-server-0` is in pending state?

[2022-05-30 02:58] junotx commented on #4914
There is still some coupling between monitor and core module, which is planed to be decoupled for a later version

[2022-05-30 03:08] jioce commented on #4887
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/170909970-15b94cfe-fae0-4372-91c1-0d0024b9c09d.png)

version used
kubespheredev/ks-installer: nightly-0525

[2022-05-30 03:08] #4887 closed

[2022-05-30 03:32] benjaminhuo commented on #4914
maybe we can use a better word than external, such as custom which mean it's not kubesphere's builtin prom stack. It's user's prom which is installed in the same cluster

[2022-05-30 04:15] yhm-amber commented on #4920
<details>

<summary>out</summary>

[code]

</details>

let me have a look ...

[code]

it says `Failed to bind volumes` a lot at Events !!

but I have a default sc ....

[code]

<details>

<summary>full</summary>

[code]

</details>

[2022-05-30 06:05] xyz-li commented on #4920
Exit code 137 indicates OOM.

[2022-05-30 06:08] xyz-li commented on #4920
You need to check whether the volume provisioner works.

[2022-05-30 06:29] yhm-amber commented on #4920
<pre>[root@e1 ~]# docker ps -a|fgrep rd7qd
8ff13c9af33a        96ae905008ca                 &quot;docker-entrypoint.s…&quot;   2 minutes ago       Exited (137) 2 minutes ago                        k8s_haproxy_redis-ha-haproxy-7d6d8885cc-<font color="#FF5555"><b>rd7qd</b></font>_kubesphere-system_b15f1834-f3d5-41e1-9d31-177fbe8c7bfc_566
0e0fcdba1683        96ae905008ca                 &quot;sh /rea

[2022-05-30 07:22] yhm-amber commented on #4920
I found these in the events of pvc `data-redis-ha-server-0` :

- `failed to get target node: etcdserver: request timed out`
- `failed to provision volume with StorageClass "openebs-hostpath": pods "init-pvc-57670f1f-743e-4037-9040-1cf2aa21c3db" already exists`

<details>

<summary>more</summary>

<pre>[root@e1 ~]# kubectl get pvc -n kubesphere-system
NAME                     STATUS    VOLUME   CAP

[2022-05-30 07:36] xyz-li commented on #4920
Is the network ready?

[code]
Look like the network is not ready.

[2022-05-31 03:24] zhaiyh131 commented on #4233
How was the problem solved

[2022-05-31 07:11] zhaiyh131 commented on #4233
问题解决了吗，怎么解决的呀

[2022-05-31 07:37] zhaiyh131 opened #4922 "Error: client: etcd cluster is unavailable or misconfigured; error #0: dial tcp 101.37.163.187:2379: connect: connection refused"
<img width="1588" alt="image" src="https://user-images.githubusercontent.com/44602981/171115912-d31c3c9e-e4ad-4d69-b006-aed77ca257b0.png">
<img width="961" alt="image" src="https://user-images.githubusercontent.com/44602981/171117833-77d59868-de40-48b0-83a9-5b2724e853bb.png">
两个服务都能ping通，几个端口都开放出来，就是etcd启动报错
大家知道是什么原因吗？

[2022-05-31 08:29] yhm-amber commented on #4920
ummmmm...

How can I prove the state of the network ?

I get these by `kubectl get no` :

[code]

And I can do this at any one of `e1` `e2` `e3` .

I can `ping` ip of `e2` success, but ping hostname fail, says unknown name or service.

other more :

<pre>[root@e1 ~]# curl -kiX GET -- https://10.96.0.1:443/api/v1/nodes/e1
HTTP/2 403
<b>cache-control</b>: no-cache, private
<b>content-type</b>: appli

[2022-05-31 09:38] xuelangos opened #4923 "Enterprise space to add users can not find the full user"
![image](https://user-images.githubusercontent.com/13230347/171142591-207cac33-c10c-4ab8-9f75-ebde5bbae89a.png)
![image](https://user-images.githubusercontent.com/13230347/171142756-64042405-552c-4005-99c1-418447ea1548.png)
env:
kubesphere host cluster,v1.21.5 and v3.2.1,use kubekey create；member cluster，aliyun ack 1.20.x
question:
Enterprise space to add users can not find the full user，OpenLDAP

[2022-05-31 09:43] xuelangos opened #4925 "Add user page button for department management"
![image](https://user-images.githubusercontent.com/13230347/171144428-5f6a9026-3f75-46b0-9fe9-c42d0a081f48.png)

[2022-05-31 09:46] xuelangos commented on #4925
env:kubesphere v3.2.1

[2022-05-31 09:47] VioZhang commented on #4923
Have all the users once logged in the KubeSphere console？The users may not be showed if it never logged in the console.

[2022-05-31 10:00] xuelangos commented on #4923
yeah，logged in，Now it is normal

[2022-05-31 10:00] #4923 closed, assigned to nobody

[2022-05-31 10:02] xuelangos commented on #4925
Department management, assigned, unassigned users which side want to add user list page button

[2022-05-31 10:23] Changego opened #4926 "ks-apiserver CrashLoopBackOff,How to turn off built-in monitoring completely?"
Hi
now,ks-apiserver CrashLoopBackOff

How to turn off built-in monitoring completely?
I just want to use Devops, K8S management, logs, events
[code]

[2022-06-01 01:38] xyz-li commented on #4926
/assing @junotx

[2022-06-01 01:47] xyz-li commented on #4926
/cc @wanjunlei

[2022-06-01 02:05] xyz-li commented on #4920
Is calico or flannel ready?

[2022-06-01 02:16] xyz-li commented on #4922
Is the IP address "101.37.163.187" bound to the machine's network card?
What is the output of `ip a` on the machine?

[2022-06-01 02:40] xyz-li commented on #4926
It is impossible to disable the built-in monitoring function.

Does the service notification-manager-webhook exist in the namespace kubesphere-monitoring-system?
If it does not exist, can you provide the log of ks-installer?

[2022-06-01 03:17] Changego commented on #4926
I know， that namespace kubesphere- Monitoring - System is manually deleted
As long as kS-Apiserver can start using K8S management, Devops,logs, events. The monitoring and alarm functions are not required.

[2022-06-01 03:47] xyz-li commented on #4926
You need to restart the ks-installer pod to re-create the ns `kubesphere-monitoring-system`.
And it is `IMPOSSIBLE` to disable the built-in monitoring function.

[2022-06-01 07:20] yangzan0816 opened #4929 "failed to edit the default container limitrange when there is a limitrange in namespace."
问题描述：
编辑默认容器配额时，报pod无法建立默认限制的异常
<img width="1362" alt="image" src="https://user-images.githubusercontent.com/23078733/171349482-30ea4fd8-c644-4d8e-9316-bd3891d08e07.png">
运行环境：
v3.2.1

[2022-06-01 08:07] xyz-li commented on #4929
/reopen

[2022-06-01 08:24] wansir commented on #4929
Currently, the limit range created through the UI type always containers, we need to consider about this.

/assign @VioZhang

[2022-06-01 11:55] WitoDelnat opened #4933 "Kubeconfig incorrect PEM encoding"
**Describe the Bug**

A user reported [an issue on our project where he failed to connect to his cluster](https://github.com/kubeshop/monokle/issues/1855). The kubeconfig was generated through the KubeSphere console.

While I'm not an expert in the area, I'm fairly confident that the PEM encoding within KubeSphere is incorrect. It works in golang clients because their custom TLS implementation has

[2022-06-01 18:54] brandan-schmitz opened #4934 "Enabling servicemesh breaks ks-apiserver and prevents kubeshphere from functioning"
### Describe the Bug
When setting enabling the service mesh on a new install (environment details below) the pod created by ks-apiserver fails to start and goes into a crash loop with a runtime error. It should be noted that installation occurs fine and the apiserver runs without issue if the servicemesh is set to false. Installing the servicemesh after the cluster is already running as described

[2022-06-02 02:17] xyz-li commented on #4926
/close

[2022-06-02 02:18] #4926 closed

[2022-06-02 02:56] xyz-li commented on #4933
/kind bug

[2022-06-02 03:58] #4933 closed

[2022-06-02 06:58] xyz-li commented on #4934
You need to set feature gate `LegacyServiceAccountTokenNoAutoGeneration=false` in kube-controller-manager.

[2022-06-02 06:58] xyz-li commented on #4934
/kind bug

[2022-06-02 06:59] xyz-li commented on #4934
/priority high

[2022-06-02 07:01] xyz-li commented on #4934
After kubernetes v1.24, kube-controller-manager will not generate the default token.
 http://kep.k8s.io/2800

[2022-06-02 07:07] brandan-schmitz commented on #4934
That makes sense, I knew they were doing that but have not had time do dig through to code to determine the actual cause of this issue yet. I will just patch my container commands for now (unless there is a better where in Kubekey/kubesphere I do not know about), I assume this will be patched in a future version then?

[2022-06-02 07:09] xyz-li commented on #4934
Absolute Yes.

[2022-06-02 07:21] xyz-li commented on #4934
/assign @zheng1
/assign @wansir
/assign @xyz-li

[2022-06-02 07:22] #4922 closed

[2022-06-02 13:19] yhm-amber commented on #4920
I have reinstalled them ...

<details>

<summary>
<code>kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f | fgrep failed</code>
</summary>

[code]

</details>

<details>

<summary>
<code>kubectl get po -n kubesphere-system</code>
</summary>

[code]

</details>

<details>

<summary>
<code>kubectl get po -n openebs<

[2022-06-06 04:23] xyz-li commented on #4891
https://github.com/kubernetes-sigs/kubefed/pull/1505

[2022-06-06 08:27] Yboos007 opened #4942 "Centos7 Open the firewall problem"
您好，
       我这里有一个问题，使用的是Centos7服务器，k8s使用的是ipvs网络模式，当我开启iptables防火墙时，Kubesphere的console和apigateway在连接时就会被bad掉
![image](https://user-images.githubusercontent.com/51551864/172124534-e1b4dba4-7c3f-4c73-9e34-68f965f78654.png)
，前端登录不上的情况
![image](https://user-images.githubusercontent.com/51551864/172124449-d5cc74b7-bb4c-4c05-b673-98c2322b517f.png)
，在使用iptables网络模式就不会出现此问题，请问这两个之间网络情况是怎么样的？
谢谢！

[2022-06-06 08:28] Yboos007 opened #4943 "Centos7开启防火墙问题"
您好，
       我这里有一个问题，使用的是Centos7服务器，k8s使用的是ipvs网络模式，当我开启iptables防火墙时，Kubesphere的console和apigateway在连接时就会被bad掉
![image](https://user-images.githubusercontent.com/51551864/172124534-e1b4dba4-7c3f-4c73-9e34-68f965f78654.png)
，前端登录不上的情况
![image](https://user-images.githubusercontent.com/51551864/172124449-d5cc74b7-bb4c-4c05-b673-98c2322b517f.png)
，在使用iptables网络模式就不会出现此问题，请问这两个之间网络情况是怎么样的？
谢谢！

[2022-06-06 08:29] #4943 closed

[2022-06-07 00:53] jioce commented on #4312
issue is not fixed

[2022-06-07 00:54] jioce commented on #4411
issue is not fixed

[2022-06-07 01:01] xyz-li commented on #4942
Does the DNS of the cluster work?

[2022-06-07 01:23] wenxin-01 commented on #4158
Issue fixed in `v3.2.0`

[2022-06-07 01:23] #4158 closed

[2022-06-07 02:12] wenxin-01 commented on #3544
We only support to batch stop deployment in the cluster details for now.
In my opition, we should support bath stop workload(deployment,statefulsets,daemonets) in project details and cluster details. https://github.com/kubesphere/console/issues/3349
![image](https://user-images.githubusercontent.com/68640256/172280032-81fdb991-419f-41e3-a6ba-c5fa39457e33.png)

[2022-06-07 02:12] #3544 closed

[2022-06-07 03:19] xyz-li commented on #4891
This bug has been fixed from the upstream. We need to update the kubefed controller.
/cc @wansir

[2022-06-07 03:22] xyz-li commented on #4891
/kind feature
/milestone BackLog

[2022-06-07 04:04] xyz-li commented on #4891
/milestone BackLog

[2022-06-07 04:46] Yboos007 commented on #4942
Yes, at work.

[2022-06-07 04:46] Yboos007 commented on #4942
Yes, at work.

[2022-06-07 11:57] VioZhang opened #4944 "Support enabling the "Auto Menerate"Mode of the Routing Rules at the Cluster Configration."
**What's it about?**

Support enabling the "Auto Menerate"Mode of the Routing Rules at the Cluster Configration.
**What's the reason why we need it?**

For the policy reason we have screenshield the "auto generate" of the route setting and the other page influenced( https://github.com/kubesphere/console/issues/3184#event-6675906413 ).And we'd better provide a way to enable it.

[2022-06-07 11:57] VioZhang commented on #4944
/cc @pixiake

[2022-06-08 08:05] xuelangos opened #4945 "UI support for confingring domain"
![image](https://user-images.githubusercontent.com/13230347/172563844-9c4133b8-670b-41e2-85a8-c212ace1316e.png)
![image](https://user-images.githubusercontent.com/13230347/172564697-2a6acf30-7b40-4518-9995-8818c2360ce8.png)

UI support for configuring domain names, certificates, setting routes, ports, such as rancher

[2022-06-08 08:13] xuelangos opened #4946 "notification UI support feishu and multiple channels"
![image](https://user-images.githubusercontent.com/13230347/172566128-3fa322c3-619f-4f33-a6d6-39e71f38a4a3.png)

support feishu and support Sending the same message to multiple channels

[2022-06-08 10:38] Jerrywgl commented on #4909
@wansir       非常感谢

如果遇到CAS验证失败的话，下面连接可能会有帮助。
https://github.com/kubesphere/kubesphere/issues/4472

[2022-06-08 11:01] Jerrywgl opened #4947 "cas Unauthorized: cas: failed to validate service ticket : cas: validate ticket: \n"
版本:
KubeSphere 版本 : v3.2.1
配置:
 authentication:
    authenticateRateLimiterDuration: 10m0s
    authenticateRateLimiterMaxTries: 10
    jwtSecret: LYd5ApK8WTO0wLZRFn6cDmC5uVPjXjIvEPJ7sh0
    loginHistoryRetentionPeriod: 168h
    maximumClockSkew: 10s
    multipleLogin: true
    oauthOptions:
      accessTokenInactivityTimeout: 30m
      accessTokenMaxAge: 1h
      identityProviders:
        - mappi

[2022-06-10 07:39] oomgomgxx opened #4948 "想问一下kubesphere的登录会话时长是否可以设置？"

[2022-06-10 09:34] LinuxSuRen opened #4950 "The node terminal is always showing connecting status"
**Describe the Bug**
As I mentioned in the title.

![image](https://user-images.githubusercontent.com/1450685/173035670-b002abd0-fe06-47a8-abaf-16d36b84cab5.png)

**Versions Used**
KubeSphere: v3.3.0-rc.2

**Environment**
How many nodes and their hardware configuration:

* Ubuntu 20.04.4 LTS
* 1 node
* 1 master

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to cluster management
2. C

[2022-06-10 09:52] LinuxSuRen commented on #4950
/kind bug

[2022-06-10 09:54] LinuxSuRen opened #4951 "Cannot add app repository with the URL that ends with index.yaml"
**Describe the Bug**
As I mentioned in the title. The problem might caused the behaviour always adding a suffix `index.yaml`.

![image](https://user-images.githubusercontent.com/1450685/173039943-1f34f6f4-78d2-4861-a945-f93973b3fa8e.png)

**Versions Used**
KubeSphere: v3.3.0-rc.2

**Environment**
How many nodes and their hardware configuration:

* Ubuntu 20.04.4 LTS
* 1 node
* 1 master

**How To R

[2022-06-10 09:54] LinuxSuRen commented on #4951
/kind bug

[2022-06-10 09:58] wansir commented on #4948
@oomgomgxx https://kubesphere.com.cn/docs/access-control-and-account-management/external-authentication/set-up-external-authentication/

[2022-06-10 10:02] wansir commented on #4950
Related to https://github.com/kubesphere/kubesphere/issues/4875, it seems timeout waiting for the pod to be ready, image pull may cost too much time.

[2022-06-10 10:05] LinuxSuRen commented on #4950
Is that possible to provide any tips to the users?

[2022-06-10 10:17] wansir commented on #4950
I suggest pulling the image in advance. @LinuxSuRen  What about the status of the terminal pod in kubesphere-controls-system. I think if the docker image has been pulled, the connection speed will be fast.

[2022-06-10 10:39] LinuxSuRen commented on #4950
What the pod's name is?

[2022-06-10 10:42] LinuxSuRen commented on #4950
By the way, the control works well. See also the following screenshot:

![image](https://user-images.githubusercontent.com/1450685/173048643-9ea1a3b4-f5ad-4e4c-aba7-896bed1a0bd6.png)

[2022-06-10 11:49] frezes opened #4954 "Add ArgoCD to System Components devops tab in the kubesphere UI."
**Describe the Bug**

Maybe we should add ArgoCD to the system component devops tab in the kubershpere UI. It appears to be missing.

![image](https://user-images.githubusercontent.com/19492214/173058261-4f8a787a-4309-4a94-994c-45e29e36cd54.png)

**Versions Used**
KubeSphere: v3.3.0-rc.2

[2022-06-10 12:06] wanjunlei opened #4955 "failed to edit container in console"
**Describe the Bug**
A clear and concise description of what the bug is.

First, create a deployment with a unnamed port like this

<img width="427" alt="1654862301(1)" src="https://user-images.githubusercontent.com/53003665/173059791-aacb0101-8bc6-4b61-937a-d272f27c398d.png">

Second, edit the container of deployment in ui.

<img width="585" alt="1654862399(1)" src="https://user-images.githubuser

[2022-06-10 12:07] wanjunlei commented on #4955
/milestone v3.3
/area console

[2022-06-10 12:07] #4951 closed

[2022-06-10 13:10] junotx opened #4956 "Incorrect status display for volume snapshots"
**Describe the Bug**

The status of the volume snapshot in the list is `NOT_READY` as follows:

![卷快照类的卷快照列表中状态文案不正确](https://user-images.githubusercontent.com/49136171/173071100-a99161eb-b4bb-4b29-9732-5a32f0c471dc.PNG)

**Versions Used**
KubeSphere: 3.3.0-rc.2
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For exam

[2022-06-10 13:32] junotx opened #4957 "Incorrect storage class for persistent volume claim created from a volume snapshot"
**Describe the Bug**

There is a volume snapshot `test-vs` with a `test-vsc` snapshot class which created from a persistent volume claim `vv` with a storage class `csi-qingcloud`.

![根据卷快照创建持久卷声明异常1](https://user-images.githubusercontent.com/49136171/173073081-b94a7383-1b52-4fbc-9ebc-09976f82d46a.PNG)

But the storage class of the persistent volume claim `vv2` created from the upper volum snapshor

[2022-06-11 00:52] bjdaijun opened #4958 "S2Ibuilder failed"
**Describe the Bug**
A clear and concise description of what the bug is.
S2ibuilder push failed.
It pushed to wrong path:  unable to push docker.io/library/test1:latest

Here is my dockerhub-id config:
<img width="951" alt="image" src="https://user-images.githubusercontent.com/1940592/173166303-2406ad50-b313-4a6b-9238-40bb0d29e8c9.png">

For UI issues please also add a screenshot that shows the is

[2022-06-11 03:49] #4595 closed

[2022-06-11 03:49] #4652 closed

[2022-06-11 03:49] #4635 closed

[2022-06-11 03:49] #4329 closed

[2022-06-11 03:49] #4639 closed

[2022-06-11 03:49] #4640 closed

[2022-06-11 03:49] #4636 closed

[2022-06-11 03:49] #4629 closed

[2022-06-11 03:49] #4632 closed

[2022-06-11 03:49] #4070 closed

[2022-06-11 03:49] #4461 closed

[2022-06-11 03:49] #4508 closed

[2022-06-11 03:49] #4585 closed

[2022-06-11 03:49] #4590 closed

[2022-06-11 03:49] #4619 closed

[2022-06-11 03:49] #4593 closed

[2022-06-11 03:49] #4611 closed

[2022-06-11 03:49] #4612 closed

[2022-06-11 03:49] #4609 closed

[2022-06-11 03:49] #4606 closed

[2022-06-11 03:49] #4598 closed

[2022-06-11 03:49] #4592 closed

[2022-06-11 05:24] #4826 closed

[2022-06-11 06:27] bjdaijun commented on #4958
use  user/test1 fixed it

[2022-06-11 06:27] #4958 closed

[2022-06-11 09:17] fuchunlan opened #4959 "The non-existent user login prompt is incorrect"
**General remarks**

**Describe the bug**
When I log in with a user that doesn't exist，the error message is inaccurate
<img width="330" alt="image" src="https://user-images.githubusercontent.com/63338728/173174097-3cdf22af-39e5-42f0-88b8-2b1340673cb6.png">

For disabled users, there also needs to be a more precise prompt when logging in

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: v3.3.0-

[2022-06-11 11:18] wansir commented on #4959
@fuchunlan

https://security.stackexchange.com/questions/17816/username-and-or-password-invalid-why-do-websites-show-this-kind-of-message-i

For security reasons, user enumeration can be exploited by an attacker.

[2022-06-11 15:31] fuchunlan commented on #4959
ok, it seem not a bug

[2022-06-11 15:31] #4959 closed

[2022-06-12 08:48] LinuxSuRen commented on #4950
Sometimes, the terminal does not work due to `Could not connect the node. Do you have sufficient privileges?`. It happens often especially when you try to open it after you just installed it.

![image](https://user-images.githubusercontent.com/1450685/173225071-ddfcd4b1-7804-4b1c-82c7-df6e45079038.png)

[2022-06-12 08:55] LinuxSuRen commented on #4950
I guess this is not a real bug. This issue might be caused by the network being slow. But for those newcomers, the error information is misleading.

/kind-remove bug
/kind improve

[2022-06-12 12:57] rayzhou2017 commented on #4955
This should be happening on ks3.3-rc.2, right?

[2022-06-12 13:21] wanjunlei commented on #4955
Sorry, my mistake, it should be happening on ks3.3-rc2.

[2022-06-13 01:37] weili520 commented on #4957
/assign

[2022-06-13 01:38] stoneshi-yunify opened #4960 "the `name` column width too small"
**Describe the Bug**
console -> application workloads -> services

the `name` column width too small, the service name is wrapped while there seem plenty of rooms on the right

see the screenshot

![image](https://user-images.githubusercontent.com/70880165/173264427-f1da386b-4b5c-4fdf-9e9b-e6f1b72a9bd1.png)

**Versions Used**
KubeSphere: 3.3.0.rc2
Kubernetes: (If KubeSphere installer used, you can

[2022-06-13 01:51] stoneshi-yunify opened #4961 "`Hooks` is displayed when there is no hook"
**Describe the Bug**
test case http://qa.yunify.com/#/tests/case/edit/42674

damonset -> more -> edit settings -> containers -> click the container -> delete the prestop and poststart hooks, but leave the `Lifecycle management` checked -> save

pods restarted, hooks still displayed, mouse on it shows full black with no text

![Screen Shot 2022-06-13 at 09 42 14](https://user-images.githubuserconte

[2022-06-13 02:38] harrisonliu5 commented on #4960
/assign @weili520

[2022-06-13 02:39] harrisonliu5 commented on #4955
/assign @weili520

[2022-06-13 02:52] stoneshi-yunify opened #4962 "unable to delete the last character of env variable key"
**Describe the Bug**
create deployment -> check Environment Variable -> Add Environment Variable -> choose from configmaps (or secrets) -> Enter `fff` as the key -> delete the `fff` key and I want to rename the key to `ggg`  -> delete failed, can not delete the last `f` character

![image](https://user-images.githubusercontent.com/70880165/173270753-34dcbdf0-9bfc-4246-8980-1f1cd9896fbb.png)

**Ver

[2022-06-13 03:02] oomgomgxx commented on #4948
thank～

[2022-06-13 03:02] #4948 closed

[2022-06-13 03:40] wanjunlei opened #4963 "There is no reminder on the console that kubeconfig is about to expire"
**Describe the Bug**
A clear and concise description of what the bug is.

Change the system time of member cluster, make the kubeconfig on the member cluster about to expire.
There is no reminder on the console that kubeconfig is about to expire, but the response of `/kapis/resources.kubesphere.io/v1alpha3/clusters` has a `KubeConfigCertExpiresInSevenDays` status.

<img width="924" alt="1655091209

[2022-06-13 04:00] wanjunlei opened #4964 "incorrect translation about enable and disable user"
**Describe the Bug**
A clear and concise description of what the bug is.

The Chinese translation of `disable` should not be `关闭`, `禁用` is more suitable.

<img width="960" alt="1655092465(1)" src="https://user-images.githubusercontent.com/53003665/173276635-d2fd23b6-63b2-48b8-b40f-e68d27cc22b4.png">

<img width="960" alt="1655092610(1)" src="https://user-images.githubusercontent.com/53003665/17327

[2022-06-13 04:33] wanjunlei opened #4965 "Inappropriate error message when updating kubeconfig of member cluster fails"
**Describe the Bug**
A clear and concise description of what the bug is.

Update the kubeconfig of a member cluster with the wrong kubeconfig, whether the content is wrong, the format is incorrect, or the kubeconfig is from another cluster, the suitable error message will appear the first time you click. After this, it will return an error:

[code]

For UI issues please also add a screenshot that

[2022-06-13 05:34] stoneshi-yunify opened #4966 "describe hpa: the server could not find the requested resource"
**Describe the Bug**
i was testing the case http://qa.yunify.com/#/tests/case/edit/42681

describe hpa found error events:
[code]

metric service is working properly.
[code]

**Versions Used**
KubeSphere: v3.3 rc2
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8

[2022-06-13 05:58] stoneshi-yunify commented on #4966
/assign @hongzhouzi

[2022-06-13 06:04] hongzhouzi commented on #4966
/assign

[2022-06-13 07:41] frezes opened #4967 "CD syncStatus details page missing View/Edit button as platform-regular role."
**Describe the Bug**
A clear and concise description of what the bug is.

CD syncStatus details page missing View/Edit button as platform-regular role.
platform role:  platform-regular
workspace role: slef-provisioner
devops project role:  operator

<img width="1412" alt="企业微信截图_5b16c997-f0e6-48ee-97b9-8d57518f237c" src="https://user-images.githubusercontent.com/19492214/173303839-c518af91-18e4-40

[2022-06-13 07:42] iNineku opened #4968 "can enter a space after number"
**Describe the Bug**
http://qa.yunify.com/#/tests/plan/view/266
![image](https://user-images.githubusercontent.com/51876700/173304129-706b3961-7ac9-4dd0-807a-13b833a953b3.png)

**Versions Used**
KubeSphere: 3.3 rc2
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:
centos 7.9 / 1 master: 4cpu/8g; 2 nodes: 4cpu/8g
For exam

[2022-06-13 07:43] iNineku commented on #4968
/assign @harrisonliu5

[2022-06-13 08:05] fuchunlan opened #4969 "There are only vda in disk usage details"
**Describe the Bug**
In the KS environment, node A has one data disk, but there are only vda in disk usage details

ks disk usage details：
<img width="1008" alt="image" src="https://user-images.githubusercontent.com/63338728/173307473-b42b4da1-e10c-4425-99d8-09bb6c1d9f78.png">

VM:
![image](https://user-images.githubusercontent.com/63338728/173307472-cb5525f4-0923-461f-a4bf-a01106765380.png)

**Ve

[2022-06-13 08:35] jioce commented on #4968
Same problem with threshold input
![image](https://user-images.githubusercontent.com/88183150/173313394-0d819eb6-2d8c-4fb2-9a77-2db805a3bcea.png)

/assign @weili520

[2022-06-13 08:42] harrisonliu5 commented on #4962
/assign @weili520

[2022-06-13 08:54] iNineku commented on #4968
![image](https://user-images.githubusercontent.com/51876700/173316795-a778b2ce-3739-44da-8440-2a86e411d321.png)
decimal point can be entered after 100

[2022-06-13 09:03] harrisonliu5 commented on #4963
you set the expiration time as 2023-6-10, do you mean 2022-6-10? @wanjunlei

[2022-06-13 09:22] iawia002 opened #4971 "Grey release list page does not show the replica number"
**Describe the Bug**

<img width="1728" alt="Screen Shot 2022-06-13 at 17 14 47" src="https://user-images.githubusercontent.com/9134003/173322331-63bb77d3-9db7-4648-adba-f66f4874622f.png">

The details page is displayed normally:

<img width="1361" alt="Screen Shot 2022-06-13 at 17 15 08" src="https://user-images.githubusercontent.com/9134003/173322317-2c311a01-a379-4412-a772-3fef2d66e418.png">

*

[2022-06-13 09:38] harrisonliu5 commented on #4964
/assign @Patrick-LuoYu

[2022-06-13 09:52] wanjunlei commented on #4963
Not a bug.

[2022-06-13 09:52] #4963 closed

[2022-06-13 10:05] harrisonliu5 commented on #4957
/kind need-to-verify

[2022-06-13 10:05] harrisonliu5 commented on #4968
/kind need-to-verify

[2022-06-13 10:06] harrisonliu5 commented on #4956
/assign @Patrick-LuoYu

[2022-06-13 10:09] harrisonliu5 commented on #4969
/assign @junotx

[2022-06-13 10:18] fuchunlan opened #4972 "Sample app missing some button: Traffic Monitoring,Grayscale Release and Tracing"
**Describe the Bug**

Demo application is missing some button: Traffic Monitoring,Grayscale Release and Tracing
For UI issues please also add a screenshot that shows the issue.

![image](https://user-images.githubusercontent.com/63338728/173332467-70b65497-f769-4ec4-8553-e6da4b4549d7.png)

**Versions Used**
KubeSphere: ks3.3.0_rc.2

**Environment**
How many nodes and their hardware configuration:

[2022-06-13 10:20] #4972 closed

[2022-06-13 10:32] harrisonliu5 commented on #4961
/kind need-to-verify

[2022-06-13 10:34] VioZhang commented on #4946
The notification manager 2.0 has already supported FeiShu,and we may support using it at the concole by the 3.3.1.

[2022-06-13 10:35] #4946 closed

[2022-06-13 10:45] renyunkang opened #4973 "Volume snapshots of the deleted volume snapshot class can still create volumes"
**Describe the Bug**
Volume snapshots of the deleted volume snapshot class can still create volumes.

**How To Reproduce**
Steps to reproduce the behavior:
Create volume snapshot classes and volume snapshots normally and view details.
![1655115285724-bd20fc95-d3e2-46d1-9e79-24c3a2a25199](https://user-images.githubusercontent.com/33660223/173336488-34ed7c44-5ee7-4454-b98f-401183c1bac4.png)

![16551

[2022-06-13 10:47] renyunkang commented on #4973
/kind/bug
/area/console

[2022-06-13 10:48] renyunkang commented on #4973
/kind bug
/area console

[2022-06-13 11:03] hongzhouzi commented on #4966
This problem is caused by the order of enabling the servicemesh component and the metric_server component. The error event in hpa is the error event before enabling metric_server, as long as the metric_server is enabled, it will not affect the normal use.

[2022-06-13 11:12] junotx opened #4974 "Unable to find personal private repos when import github repos"
**Describe the Bug**

can not find personal private repos when import code repository from github
but the organization, in which the user is, has personal repos.

![image](https://user-images.githubusercontent.com/49136171/173339885-fab87f94-1f68-4919-8b7c-8edab4822c34.png)

**Versions Used**
KubeSphere: 3.3.0-rc.2
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How

[2022-06-13 11:27] junotx opened #4975 "Incorrect repo url when edit code repository and reselect the repo"
**Describe the Bug**

only repo name is in the repo url when edit an existing code repository and reselect the repo

![image](https://user-images.githubusercontent.com/49136171/173342963-9e315167-3d86-45ac-bf8d-6dc9c52a6e3e.png)

the previous code repository is as follows:

![image](https://user-images.githubusercontent.com/49136171/173342812-df7ab5de-4819-4189-92ac-f4f1bb1c1b7c.png)

**Versions U

[2022-06-13 13:11] renyunkang opened #4976 "Failed to install devops"
**Describe the Bug**
Install kubesphere and enable devops using kubekey in ksv environment, the installation fails.
![image](https://user-images.githubusercontent.com/33660223/173359313-f8126274-0a07-432e-a9c0-eb9cc23a5e58.png)

here is logs:
[code]

**Versions Used**
KubeSphere: v3.3.0-rc.2
Kubernetes: v1.23.7

/kind bug
/area devops
/assign @LinuxSuRen

[2022-06-14 00:29] stoneshi-yunify commented on #4966
thanks for the explanation.

[2022-06-14 00:29] #4966 closed

[2022-06-14 01:01] LinuxSuRen commented on #4967
/kind need-to-verify

[2022-06-14 01:02] LinuxSuRen commented on #4967
/area devops

[2022-06-14 01:42] javaXiaoHan opened #4977 "DevOps devops-jenkins-agent and devops-jenkins status error (pending status for 7 hours)"
**Describe the Bug**
 Normal  ExternalProvisioning  2m32s (x5242 over 21h)  persistentvolume-controller  waiting for a volume to be created, either by external provisioner "openebs.io/local" or manually created by system administrator

**Versions Used**
KubeSphere:3.2.1

**Environment**

 CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g

[2022-06-14 01:43] javaXiaoHan commented on #4977
<img width="642" alt="111" src="https://user-images.githubusercontent.com/32090060/173475656-09187da9-c2bb-49c8-aa70-840549285e97.png">

[2022-06-14 01:55] stoneshi-yunify opened #4978 "typo: Maximum Size"
**Describe the Bug**
storage class -> set auto expansion

the unit of `Maximum Size` should be `Gi` instead of `G`.

![image](https://user-images.githubusercontent.com/70880165/173476386-30fe04d7-4712-4d5a-9494-02ad96fbd356.png)

**Versions Used**
KubeSphere: 3.3 rc2
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For

[2022-06-14 02:00] weili520 commented on #4973
The storage category of the test volume is incorrect. This is the same as this issue #4957.

[2022-06-14 02:01] weili520 commented on #4973
/kind need-to-verify

[2022-06-14 02:03] ruiyaoOps opened #4979 "In devops project, the Continuous Deployments update times wrong"
**Describe the Bug**
In the page of  Continuous Deployments , all Continuous Deployments update times are the last one CD update time.
![image](https://user-images.githubusercontent.com/35256376/173477512-519d0119-5563-48dc-8b87-f7e06d2de11c.png)

**Versions Used**
KubeSphere:  v3.3.0-rc.2

**Expected behavior**
Each Continuous Deployments have real update time.

[2022-06-14 02:06] weili520 commented on #4973
/kind need-to-verify

[2022-06-14 02:06] harrisonliu5 commented on #4978
/assign @weili520

[2022-06-14 02:23] ruiyaoOps opened #4980 "when I download the yaml of Continuous Deployments, I hope to be able to let me choose the path to save the yaml."
**Describe the Bug**
When I clicked to modify the yaml of the Continuous Deployments , I clicked download, hoping to save this yaml to my local, which was successful.
But when I click download it gets saved into the browser's default download directory and doesn't let me choose the download path. I hope to be able to let me choose the path to save when I click download.

**Versions Used**
KubeSphe

[2022-06-14 02:29] #4980 closed

[2022-06-14 02:45] junotx commented on #4969
@fuchunlan which directory is the sda mounted ? The node-exporter component may have no read permission for it.

[2022-06-14 02:58] fuchunlan commented on #4969
Sda has been mounted to the root directory and has no read permission.
This is not a bug

[2022-06-14 02:58] #4969 closed

[2022-06-14 02:59] junotx commented on #4969
It is not recommended to mount the device under the `/root` because it is unreadable by default to non-root users

[2022-06-14 02:59] junotx commented on #4969
It is not recommended to mount the device under the `/root` because it is unreadable by default to non-root users

[2022-06-14 03:18] LinuxSuRen commented on #4979
/area devops
/kind bug

[2022-06-14 03:30] harrisonliu5 commented on #4971
It is updated from v3.2.1 to v3.3-rc2

[2022-06-14 03:31] harrisonliu5 commented on #4962
/kind need-to-verify

[2022-06-14 03:40] iawia002 commented on #4965
This is because when the update box is clicked a second time without closing it, the front-end will base64 encode the already base64 encoded kubeconfig again:

<img width="960" alt="WechatIMG42" src="https://user-images.githubusercontent.com/9134003/173488470-bffcc535-41d7-4f79-8152-d3ba821d4d10.png">

[2022-06-14 03:40] iawia002 commented on #4965
/cc @harrisonliu5

[2022-06-14 03:51] harrisonliu5 commented on #4978
/kind need-to-verify

[2022-06-14 06:25] gll963 opened #4981 "Install kubeedge cloudcore error not find the requested resource (get devicemodels. Devices. Kubeedge. IO)"
kubesphere:  V3.2.1
kubeedge:  V1.7.2
![image](https://user-images.githubusercontent.com/64561461/173507634-c6a3e79d-e954-4e15-9098-4ed676365e29.png)

[2022-06-14 06:53] weili520 commented on #4956
/assign

[2022-06-14 07:50] LinuxSuRen commented on #4979
/area console

[2022-06-14 07:53] LinuxSuRen commented on #4979
Actually, we didn't have the `update time`. See also the following screenshot:

![image](https://user-images.githubusercontent.com/1450685/173523801-aeac7579-44f3-459e-b534-855706769feb.png)

[2022-06-14 08:00] 24sama opened #4982 "The kubectl which is in the "toolbox" can't connect to the container"
**Describe the Bug**
I have a kubespher multi-cluster enviroment. When I switch the cluster in the kubectl terminal, that will report a privilege error (I only have an admin user).
![image](https://user-images.githubusercontent.com/43993589/173524506-231c6bcd-9779-4133-bb73-875f0d9da307.png)

Then I switch it to my host cluster, it also report this error:
![image](https://user-images.githubusercon

[2022-06-15 02:06] harrisonliu5 commented on #4956
/kind need-to-verify

[2022-06-15 02:53] harrisonliu5 commented on #4973
/kind need-to-verify

[2022-06-15 03:22] jioce commented on #4973
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/173730003-f4b2ec0f-7640-4c23-a160-39d33776ef66.png)

version used
ks-console: weili520/3.3_fix:v1.0.0

[2022-06-15 05:12] swiftrivergo opened #4984 "multi-cluster failed to upgrade (KubeSphere Host : v3.2.0 -> v3.3.0-rc.2, Member: v3.1.1 -> v3.2.1)"
**Describe the Bug**
Via KubeKey to upgrade for multiple-clustrer like the following:
Host-cluster upgrade: KubeSphere from v3.2.0 to v3.3.0-rc.2 (Kubernetes v1.21.5 hold)
Member-cluster upgrade: KubeSphere from from v3.1.1 to v3.2.1 (Kubernetes v1.21.5 hold)
1) There is a issue: "Failed to ansible-playbook result-info.yaml" in logs after all tasks complete.
2) After upgraded, Member-cluster conso

[2022-06-15 05:46] VioZhang commented on #4984
/cc @wansir @iawia002

[2022-06-15 05:55] iawia002 commented on #4984
This needs @pixiake to take a look, I see that the multi-cluster task is executed successfully.

3.2.1 doesn't support logging in to the console of the member cluster and needs to be upgraded to 3.3.0, right? @wansir

[2022-06-15 05:58] wansir commented on #4984
duplicated https://github.com/kubesphere/kubesphere/issues/4771

[2022-06-15 06:10] harrisonliu5 commented on #4955
/kind need-to-verify

[2022-06-15 06:38] harrisonliu5 commented on #4964
/kind need-to-verify

[2022-06-15 07:40] patrickluoyu opened #4985 "Optimize the 'Application governance' parameter on the app details page"
## General remarks

* Move the 'Application governance' parameter to the 'Details' area because it is configured on the app level.

<img width="1409" alt="image" src="https://user-images.githubusercontent.com/76198553/173770457-c6604f38-a514-4aa4-9065-2bdaa625e282.png">

<img width="1408" alt="image" src="https://user-images.githubusercontent.com/76198553/173770621-bda316e6-c7fd-475b-8efb-2280bb61

[2022-06-15 07:44] patrickluoyu opened #4986 "Display the type of each workload on the app details page"
The 'Workloads' area on the app details page does not show the type of each workload, and users cannot know whether each workload is a deployment, statefulset or daemonset.

<img width="1407" alt="image" src="https://user-images.githubusercontent.com/76198553/173771356-806770ad-04c5-4aab-8461-2eb32c413d6d.png">

/assign @VioZhang @harrisonliu5

[2022-06-15 07:52] VioZhang commented on #4984
Could you please provide @pixiake with more information ？ @swiftrivergo

[2022-06-15 08:21] weili520 commented on #4982
/assign

[2022-06-15 09:02] patrickluoyu opened #4987 "Remove the 'App' field on the composed app details page"
The 'App' field is meaningless and should be removed.

<img width="1412" alt="image" src="https://user-images.githubusercontent.com/76198553/173787998-7ea1d1e7-82cc-44c1-b21f-12be7a5ac1dc.png">

/assign @VioZhang @harrisonliu5

[2022-06-15 09:40] swiftrivergo commented on #4984
@VioZhang
Right.
Just right there is an available multiple-cluster envirment:  host kubesphere  v3.2.0 + member v3.2.1 ( kubernetes v1.21.5 ).
Next let me try to upgrade the host cluster for v3.3.0-rc.2 again.

current host cluster's  kubesphere version: v3.2.0
target current host cluster's  kubesphere version: v3.3.0-rc.2

then I will execute like the following:
export KKZONE=cn

./kk upgrade --w

[2022-06-15 10:17] harrisonliu5 commented on #4982
/kind need-to-verify

[2022-06-15 10:21] swiftrivergo commented on #4984
Maybe the issue caused when services were not ready due to docker's rate limit reached at that time.
upgrade screenshot:
![image](https://user-images.githubusercontent.com/51448423/173802172-d6f5983f-900c-41cd-afc5-9fdd3bf1fe82.png)
limit:
![image](https://user-images.githubusercontent.com/51448423/173803107-c5d74fae-9f6d-42ae-8786-89bfb8b6ba8e.png)

[2022-06-15 10:33] zhou1203 opened #4988 "Add reviewer permission item to Devops to review pipline stage"
**What's it about?**
The pipline of devops supports @tenant audit stage and proceed/abort pipeline continues, but audit authority cannot be granted to any user casually. I note that if a user wants to review the devops pipeline, he must have the create permission to create the devops space. When I specify a tenant review that does not have the above permissions, there is no error, but when the ten

[2022-06-15 10:36] zhou1203 commented on #4988
/area iam
/area devops

[2022-06-17 02:44] zj452008181 opened #4989 "multi-cluster view member‘s pv return 404 not found in host cluster control-plane"
**Versions Used**
KubeSphere: v3.2.1 in all cluster
Kubernetes: 1.20

the pv is exist in member cluster,i used host control-plane to view member's pv details,it return https://k8s.xxx.int/api/v1/persistentvolumes/pvc-49273e2c-12da-4551-a367-a74155890d25 not found;
but when i try visit this url：https://k8s.xxx.int/api/clusters/kubesphere-sit/v1/persistentvolumes/pvc-49273e2c-12da-4551-a367-a7415589

[2022-06-17 03:07] wansir commented on #4704
fixed  in https://github.com/kubesphere/console/pull/2926

[2022-06-17 03:12] zj452008181 commented on #4989
ok

[2022-06-17 03:12] #4989 closed

[2022-06-17 03:36] hongzhouzi commented on #4498
The link trace of the gateway needs to be turned on. If you do not turn on the link tracking istio will not be able to collect the data related to the gateway, the traffic entry is here at the gateway, so that the node inbound traffic data can not be collected.
![image](https://user-images.githubusercontent.com/36416216/174219713-774fcc19-5e11-4b48-9421-752bb23b1592.png)

[2022-06-17 03:42] junotx commented on #4956
fixed in  kubespheredev/ks-console:nightly-20220616

[2022-06-17 03:42] #4956 closed

[2022-06-17 04:00] frezes commented on #4967
fixed in kubespheredev/ks-console:nightly-20220616

[2022-06-17 04:00] #4967 closed

[2022-06-17 06:18] jioce commented on #4498
After gateway link tracking is enabled, traffic monitoring detects data
![image](https://user-images.githubusercontent.com/88183150/174237191-19c35a7c-b840-4d32-b400-3e28cf83cffd.png)

version used
kubesphere: v3.3.0-rc.2

[2022-06-17 08:09] junotx commented on #4957
fixed in kubespheredev/ks-console:nightly-20220616

[2022-06-17 08:09] #4957 closed

[2022-06-17 12:45] #4920 closed

[2022-06-19 15:32] gll963 commented on #4981
@benjaminhuo How to solve this problem

[2022-06-20 03:35] jioce commented on #4538
issue is still exist
![image](https://user-images.githubusercontent.com/88183150/174520273-e33360de-bdb4-476c-8405-cd9f0653eda9.png)

version used
kubesphere: v3.3.0-rc.2

[2022-06-20 03:42] jioce commented on #4453
issue is still exist
![image](https://user-images.githubusercontent.com/88183150/174521318-51b6ef24-0061-4698-9f02-845af233c1c1.png)

![image](https://user-images.githubusercontent.com/88183150/174521185-63d0b7a3-eec4-4a61-a10d-8516c7a308b2.png)

version used
kubesphere：v3.3.0-rc.2

[2022-06-20 08:08] wenxin-01 commented on #4978
issue fixed in `v3.3.0-rc.3`
![image](https://user-images.githubusercontent.com/68640256/174555162-64a37405-917b-4b8b-8ad3-2219d1fcaa24.png)
![image](https://user-images.githubusercontent.com/68640256/174555196-ccf6edf0-2076-4898-b3c3-45815a8507af.png)

[2022-06-20 08:27] wenxin-01 commented on #4964
Issue fixed in `v3.3.0-rc.3`
![image](https://user-images.githubusercontent.com/68640256/174558902-be780a01-26a9-4853-9a26-aa5bd9a77abf.png)
![image](https://user-images.githubusercontent.com/68640256/174558964-553b8049-8afd-4353-a438-53d5e5debe18.png)

[2022-06-20 08:32] wenxin-01 commented on #4962
Issue fixed in `v3.3.0-rc.3`

[2022-06-20 08:38] wenxin-01 commented on #4961
Issue fixed in `v3.3.0-rc.3`

[2022-06-20 08:48] jioce commented on #4973
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/174563102-84478104-a71b-4dc4-a3a5-070d9c20f476.png)

version used
kubesphere: v3.3.0-rc.3

[2022-06-20 08:50] jioce commented on #4979
issue is not fixed
![image](https://user-images.githubusercontent.com/88183150/174563494-e424473b-fd73-47f5-ab22-829550e75eaf.png)

version used
kubesphere: v3.3.0-rc.3

[2022-06-20 08:58] jioce commented on #4955
issue is fixed
![image](https://user-images.githubusercontent.com/88183150/174565201-74518cd2-e81f-4fb2-b73a-45a1954868a6.png)

version used
kubesphere: v3.3.0-rc.3

[2022-06-20 09:03] harrisonliu5 commented on #4979
![image](https://user-images.githubusercontent.com/17872673/174566242-32761bdb-3ca8-41d6-be61-b40b07fd1c69.png)

@LinuxSuRen It is right?

[2022-06-20 09:06] wenxin-01 commented on #4967
Issue fixed in `kubespheredev/ks-console:v3.3.0-rc.3`

[2022-06-20 09:18] LinuxSuRen commented on #4979
Actually, `reconciledAt` is not the update time. I prefer to show this time as `Last Sync  Time`.

/cc @VioZhang @Patrick-LuoYu

[2022-06-20 10:08] weili520 commented on #4955
At now, the name field can't be canceled in the frontend project, but the user can just edit the port for the container without editing the name filed

[2022-06-20 10:52] harrisonliu5 commented on #4979
But the data of response does not have the `Last Sync Time` value.

[2022-06-21 01:21] wenxin-01 commented on #4982
Issue fixed in `v3.3.30-rc.3`

[2022-06-21 01:21] #4982 closed

[2022-06-21 01:25] #4978 closed

[2022-06-21 01:25] #4973 closed

[2022-06-21 01:31] wenxin-01 commented on #4965
Issue fixed in `v3.3.0-rc.3`
![image](https://user-images.githubusercontent.com/68640256/174697704-f34e4163-c6e4-4335-8997-069797760c2c.png)

[2022-06-21 01:31] #4965 closed

[2022-06-21 01:31] #4964 closed

[2022-06-21 01:31] #4962 closed

[2022-06-21 01:31] #4961 closed

[2022-06-21 06:02] smallersoup opened #4990 "Pipelining and continuous deployment support grayscale releases [blue-green, canary]"
**What's it about?**
After the image is built, switch from DevOps project to project, open the grayscale release page, and enter the image name to create the blue-green deployment and canary release tasks. I don't think it's more convenient to use the grayscale publishing process this way.

Planning to integrate blue-green deployments and canary releases into continuous deployment to string togeth

[2022-06-21 06:30] BombLing opened #4991 "Deployment should be able to configure minReadySeconds"
In some scenarios: the pod will be registered to the external ELB, but the ELB registration process is takes a long time, so when during the rolling update deployment, we need to wait for the new pod to register elb successfully before deleting the old pod, minReadySeconds is a good way to implement

minReadySeconds should be selectable and editable on the page：
![image](https://user-images.github

[2022-06-21 06:38] stoneshi-yunify opened #4992 "support editing local ephemeral storage requests/limits in ks-console"
**What's it about?**
local ephemeral storage, like cpu/mem, can set requests/limits, which would be nice to be supported in ks-console.

refer to https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#setting-requests-and-limits-for-local-ephemeral-storage

**What's the reason why we need it?**

user wants to set requests/limits for local ephemeral storage

**Area Suggestio

[2022-06-21 06:52] stoneshi-yunify opened #4993 "support editing csi and generic ephemeral volumes in ks-console"
**What's it about?**
It would be convenient if ks-console supports editing csi and generic ephemeral volumes for workloads

refers:
- https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/#csi-ephemeral-volumes
- https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/#generic-ephemeral-volumes

**What's the reason why we need it?**

Users want to add csi and generic ephemeral volume

[2022-06-21 08:38] #4971 closed

[2022-06-21 09:39] huwsun commented on #4871
<img width="1739" alt="image" src="https://user-images.githubusercontent.com/4082111/174768615-2c934334-6e31-40f3-85d2-29b1d1e09319.png">
we have same problem,It doesn't really make sense

[2022-06-21 11:54] pixiake commented on #4984
This error is caused by the abnormal pod status of ks-core components.  It is usually caused by the inability to pull images normally.

[2022-06-22 06:51] wenhuwang commented on #3058
hello, is this feature already available? or is there any design documents?

[2022-06-27 04:54] nickfan opened #4997 "kubesphere.io document 404 not found"
**Describe the Bug**
A clear and concise description of what the bug is.

https://kubesphere.io/zh/docs/quick-start/all-in-one-on-linux/
404

For UI issues please also add a screenshot that shows the issue.

![image](https://user-images.githubusercontent.com/100613/175862757-a337e6f6-a236-438d-8e10-c5c7cbf7d1e4.png)

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can

[2022-06-27 05:00] haozileung opened #4998 "The label selector of ks-install changed from ks-install to ks-installer and cause error when upgrade from v3.2.1 to v3.3.0"
**What's your question**
When upgrade from 3.2.1 following [upgrade guide](https://kubesphere.com.cn/docs/v3.3/upgrade/upgrade-with-ks-installer/), Kubernetes will reports error cause label selector is immutable.

**Environment: OS & Hardware Information**
Kubernetes 1.22.9

**Error logs or message (Attach logs or screenshot)**
[code]

**Installer Version**

[2022-06-27 06:46] happywzy opened #5000 "V"

[2022-06-27 06:48] happywzy commented on #5000
![1656312479542](https://user-images.githubusercontent.com/26290710/175876791-8121c096-4013-478b-bdc4-2215ff98573c.png)
I have create the secret of hub.
![1656312502502](https://user-images.githubusercontent.com/26290710/175876930-92a019d2-d75f-4fcf-97e1-f8047efb2301.png)

[2022-06-27 08:43] javaXiaoHan opened #5001 "error when i update kubesphere from v3.2.1 to v3.3.0"
**What's your question**
when i update the ks from v3.2.1 to v3.3.0
error: Unsupported KubeSphere version: v3.3.0

**Environment: OS & Hardware Information**
centos 7.6  kubesphere 3.2.1

**Error logs or message (Attach logs or screenshot)**

**Installer Version**
kubekey-v2.2.1-linux-amd64.tar.gz
<img width="682" alt="1656319362839" src="https://user-images.githubusercontent.com/32090060/17589789

[2022-06-27 08:52] javaXiaoHan commented on #5001
@24sama haha could you please give me some help

[2022-06-27 08:57] 24sama commented on #5001
Please use the following command to check the kk version:
[code]

[2022-06-27 08:59] 24sama commented on #5001
So, the kk version is not v2.2.1, and it doesn't support ks v3.3.0

[2022-06-27 09:00] #5001 closed

[2022-06-27 09:00] javaXiaoHan commented on #5001
kk is 'kubekey-v2.2.1-linux-amd64.tar.gz' this one?

[2022-06-27 10:23] wenxin-01 opened #5002 "Can not access edge-node shell and logs after upgrade form v3.2.0 to v3.3.0-rc.3."
**Describe the Bug**
After upgrade to v3.3.0-rc.3, I can not access edge-node shell and logs.
On my newly added edge node after upgrade to v3.3.0-rc.3, I can't access the node terminal and view the pod log either.

I find daemonset iptables of kubeedge is still exist.
![image](https://user-images.githubusercontent.com/68640256/175921393-4648f8e1-56d9-446f-a0c0-6474f98259c5.png)
![image](https://us

[2022-06-27 10:45] wenchajun commented on #5002
For upgrades at the edge, please refer to the official documentation.https://kubeedge.io/zh/docs/setup/upgrade/
If you should handle it this way in the cloud, delete `iptables`, because the new version has removed `iptables`. If this still does not work, it is recommended to delete all resources under the `kubeedge` namespace and then delete the `kubeedge` namespace.Then execute the following comm

[2022-06-27 11:08] rxf113 commented on #4867
the same problem

[2022-06-28 01:04] ivanmissu opened #5003 "upgrade to v3.3.0 , can't login"
**Describe the Bug**
when i upgrade v3.2.1 to v3.3.0 ，when i login , tip
![image](https://user-images.githubusercontent.com/8721615/176064371-797add17-52d1-438c-8c1f-d08cbe3f9319.png)
i found the ks-apiserver status is CrashLoopBackOff
<img width="745" alt="image" src="https://user-images.githubusercontent.com/8721615/176064458-a883115b-351d-49ff-af65-83f86afd5942.png">
and logs view:
<img width="

[2022-06-28 02:18] ivanmissu commented on #5003
i fix it ,  sorry,  yesterday i add metering config, but when i modify file kubesphere-config, i use tab indentation in file, but i saved success, and i restart ks-apiserver failed, so i can't login successd.
so, when i modify kubesphere-config, the indentation syntax not match yaml indentation syntax, whether or not tips the indentation syntax is incorrect ??

[2022-06-28 02:27] benjaminhuo commented on #5003
kubesphere-config is a configmap whose validation is up to Kubernetes itself and not KubeSphere.
Close this for now.

[2022-06-28 02:27] #5003 closed

[2022-06-28 03:19] jioce opened #5004 "kubespher3.2.0 was upgraded to 3.3.0, and the monitoring component failed to upgrade"
**Describe the Bug**
1、There is a multi-node cluster, ks version is 3.2.0, k8s version is 1.20.4, all components have been enabled, an edge node has been added, and a service is deployed on the edge node
2、Upgrade the cluster to ks3.3.0-rc.3, k8 1.21.0, and query the ks-installer logs，monitoring component installation failed
<img width="960" alt="14627faa68efae40abf9a00a1ccf0fc" src="https://user-

[2022-06-28 03:20] jioce commented on #5004
Execute the command "kubectl annotate crds prometheuses.monitoring.coreos.com kubectl.kubernetes.io/last-applied-configuration-" before upgrading，issue is fixed

[2022-06-28 03:20] #5004 closed

[2022-06-28 03:47] tanguofu opened #5005 "kubesphere/nginx-ingress-controller:v1.1.0: NGINX for a DNS Resolver Vulnerability (CVE-2021-23017)"
As:  https://www.nginx.com/blog/updating-nginx-dns-resolver-vulnerability-cve-2021-23017/

the nginx of `kubesphere/nginx-ingress-controller:v1.1.0` is  ` nginx/1.19.9`,  which need update to 1.20+
 , So can kubesphere fix this??

many thanks

[code]

[code]

[2022-06-28 06:36] wenxin-01 commented on #4912
Issue fixed in `v3.3.0-rc.3`
![image](https://user-images.githubusercontent.com/68640256/176109935-f7cf1f1f-a095-42fc-8b34-b4cb10771391.png)

[2022-06-28 06:36] #4912 closed

[2022-06-28 06:44] wenxin-01 commented on #4903
After change url to  `http://producetpage.tt.192.168.100.91.nip.io:30325/` use gateway address, you can access the new url.

[2022-06-28 06:44] #4903 closed

[2022-06-28 07:30] #4786 closed

[2022-06-28 07:49] #4763 closed

[2022-06-28 07:51] wansir commented on #4997
@nickfan Thanks for your feedback. The broken link has been fixed now.

[2022-06-28 09:44] renyunkang opened #5006 "Missing openelb annotation hint when creating service of type loadbalancer"
**Describe the Bug**
Missing openelb annotation hint when creating service of type loadbalancer.

![image](https://user-images.githubusercontent.com/33660223/176115120-83cfdfa3-e8fd-4446-b71c-794824939279.png)

It should be like this:
![image](https://user-images.githubusercontent.com/33660223/176147439-5612176d-f953-4db7-8406-4254a7166316.png)

**Versions Used**
KubeSphere: 3.3.0

[2022-06-28 10:34] webup commented on #5006
This would be really good for OpenELB enabling, because we commonly use OpenELB layer2 mode in private network.

[2022-06-29 01:13] nonopanda998 commented on #5006
![image](https://user-images.githubusercontent.com/38211330/176330011-52165079-bf9e-463e-9152-243e180e9298.png)

[2022-06-29 02:13] yuweni99 opened #5007 "About the status service volumeClaimTemplates shows an error"
kubesphere version: 3.3.0
Error details: When the Status service uses volumeClaimTemplates, viewing does not display correctly after creation is done
<img width="1169" alt="image" src="https://user-images.githubusercontent.com/41253364/176336270-31e3a69d-7597-42e0-81c7-4b244270e832.png">
<img width="990" alt="image" src="https://user-images.githubusercontent.com/41253364/176336311-0c7b9ad1-c315-44

[2022-06-29 06:33] wansir opened #5008 "Failed to login after upgrage to v3.3.0"
**Describe the Bug**

After upgrading to KubeSphere 3.3.0, the cluster environment with multiple master nodes experience multiple failed logins. The ks-apiserver reported the following logs:

![image](https://user-images.githubusercontent.com/8263040/176366491-30e3c141-2b9a-4f44-b996-6454e6afd2f4.png)

Related Chinese Posts: https://kubesphere.com.cn/forum/d/7517-kk221v330workspace

**Versions Use

[2022-06-29 06:38] rxf113 commented on #4867
经过确认，是网关代理 websocket 超时的问题，不是ks的问题

[2022-06-29 06:38] wansir commented on #5008
Regression bug, related to https://github.com/kubesphere/ks-installer/pull/1991

[2022-06-29 06:47] wansir commented on #5008
### Solution
Enable Redis manually by the following command

[code]

Make sure Redis is enabled.

[code]

[2022-06-29 06:49] #4997 closed

[2022-06-29 07:09] dafanshu opened #5009 "workspacetemplates.tenant.kubesphere.io is forbidden"
**Describe the Bug**
A clear and concise description of what the bug is.

workspacetemplates.tenant.kubesphere.io is forbidden: User "ws-manager" cannot create resource "workspacetemplates" in API group "tenant.kubesphere.io" at the cluster scope

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: 3.3.0
Kubernetes: (If KubeSphere installer used, you can