[2020-01-21 02:09] chinazj commented on #1798
关闭防火墙和selinux

[2020-01-21 02:09] chinazj commented on #1690
已经解决了，是内存问题

[2020-01-21 02:11] chinazj commented on #1690
@leowucn 已经解决了，内存问题。

[2020-01-21 03:13] weiliang-ms commented on #1759
你是devops工程么，我的devops是把settings.xml放到项目里了

[2020-01-21 04:18] benjaminhuo commented on #1796
Prometheus alert rule + alertmanager can do this job.This could be done in 3.0.
There is already an alert rule about certification in existing rule.
https://github.com/coreos/kube-prometheus/blob/master/manifests/prometheus-rules.yaml#L1001

[2020-01-21 04:53] WangBenpeng commented on #1759
是dev工程，我试一下这样设置，谢谢！

[2020-01-21 07:45] runzexia opened #1799 "app install error"
/area app-management
/kind bug
/assign @pengcong06 @zheng1
/milestone 2.1.1
![image](https://user-images.githubusercontent.com/31230341/72784976-0dda5f80-3c65-11ea-8a2a-fcd450719572.png)

[code]

[2020-01-21 07:59] zheng1 commented on #1799
/assign @wansir

[2020-01-21 09:50] F-liuhui opened #1800 "在k8s集群上安装ks2.1.0，启动组件遇到的问题"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
原k8s集群没有.csr和.key文件相关证书文件，只有.pem格式的文件，例如kube-ca.pem和kube-ca-key.pem文件,要启动devops组件，secret要如何创建？在ks-installer工程下提过相关issue,没人解答，希望这里能有人解答一下。遇到问题得不到解答不利于ks的推广
**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**

**Installer版本**

[2020-01-26 17:23] pog2g opened #1801 "希望尽快支持helm3"
现在主流都是helm3了，，这个版本和helm2变化很大，，希望尽快支持

[2020-01-27 01:57] huanggze commented on #1797
2.1 很多功能依赖监控，所以暂未开放监控可拔插。但可以尝试修改 ks-apiserver 的参数，切换到自由的 Prometheus

[2020-01-27 01:58] huanggze commented on #1797
/area monitoring

[2020-01-27 01:58] huanggze commented on #1797
/milestone 3.0.0

[2020-01-27 02:06] huanggze commented on #1801
/area app-management
/milestone 3.0.0
/assign @pengcong06

[2020-01-27 09:01] huanggze commented on #1800
请问你是通过什么方式安装的 k8s？

/help-wanted
/milestone 3.0.0
/area devops
/assign @runzexia

[2020-02-02 05:52] F-liuhui commented on #1800
通过rancher安装的k8s集群，证书都是.pem格式的，二进制安装的也是.pem格式的证书

[2020-02-02 05:53] F-liuhui commented on #1800
通过rancher安装的k8s整合，证书都是.pem格式的，二进制安装的也是.pem格式的证书

[2020-02-03 03:59] yunkunrao commented on #867
This issue is for kubeSphere version 2.0.2 and installation method was changed for latest ks 2.1 with plug-in installations enabled, doc link: https://kubesphere.com.cn/docs/v2.1/zh-CN/installation/harbor-installation/.
And for your case, you can installer habor/gitlab with helm. Related link is as follows:
[habor](https://github.com/goharbor/harbor-helm)
[gitlab](https://docs.gitlab.com/charts/)

[2020-02-03 04:00] #867 closed

[2020-02-03 04:24] shaowenchen opened #1802 "前端关于中的版本号没更新、logo上的copyright依然在"
版本：2.1.1
问题：

![image](https://user-images.githubusercontent.com/43693241/73625438-ccdc4500-467f-11ea-95fb-03fe70823ede.png)

1，当前版本信息应该更新为 2.1.1
2，logo 右上角的版权信息 R 应该去掉

/area console
/assign @leoendless
/milestone 2.1.1

[2020-02-03 04:32] leoendless commented on #1802
@pixiake 版本问题需要这里更改

https://github.com/kubesphere/ks-installer/blob/4b4d89459c1a3e806741655015b1a05218a6636f/roles/ks-core/ks-core/defaults/main.yaml#L6

[2020-02-03 04:32] leoendless commented on #1802
@Carlosfengv @calvinyv 这个logo 里的 R 应该有吗

[2020-02-03 04:37] shaowenchen commented on #1802
这个上次讨论的是，开源项目的 logo 都没有 R。需要确认、统一下

[2020-02-03 05:59] shaowenchen opened #1803 "应用商店部署时，无法选择企业空间下的项目"
版本：2.1.1
问题：

企业空间 a 下有三个项目，但是在应用商店部署应用时，无法选择项目

![image](https://user-images.githubusercontent.com/43693241/73628969-b688b600-468c-11ea-861f-73949dca7da8.png)

![image](https://user-images.githubusercontent.com/43693241/73628985-c0aab480-468c-11ea-8b85-2b9337faccf8.png)

/area console
/area app-management
/assign @pengcong06  @leoendless

[2020-02-03 06:14] leoendless commented on #1803
@wansir  创建项目没有在 op 里创建对应的runtime

[2020-02-03 06:43] wansir commented on #1803
https://github.com/openpitrix/openpitrix/issues/983

[2020-02-03 06:51] ellaye commented on #1614
/close

[2020-02-03 06:52] #1614 closed

[2020-02-03 06:55] ellaye commented on #1593
/close

[2020-02-03 08:07] mayuhope commented on #1440
使用2.1.1的安装包验证，已修复

[2020-02-03 08:07] #1440 closed

[2020-02-03 08:26] zheng1 commented on #1803
Fixed at https://github.com/openpitrix/runtime-provider-kubernetes/commit/e5097e2adcf00d21aa2f916dfecd25c0ec2a0d8c

[2020-02-03 08:48] mayuhope commented on #1546
采用2.1.1的installer进行测试验证，此问题已修复，因此关闭issue

[2020-02-03 08:48] #1546 closed

[2020-02-03 08:56] zheng1 commented on #1803
/kind need-to-verify

[2020-02-03 09:02] zheng1 commented on #887
/milestone 3.0.0

[2020-02-03 09:02] zheng1 commented on #1091
/milestone 3.0.0

[2020-02-03 09:12] zheng1 commented on #1189
/kind need-to-verify

[2020-02-03 09:12] zheng1 commented on #1245
/kind need-to-verify

[2020-02-03 09:12] zheng1 commented on #1259
/kind need-to-verify

[2020-02-03 09:13] zheng1 commented on #1273
/kind need-to-verify

[2020-02-03 09:15] zheng1 commented on #1388
/milestone 3.0.0

[2020-02-03 09:17] zheng1 commented on #1498
/kind need-to-verify

[2020-02-03 09:17] zheng1 commented on #1619
/kind need-to-verify

[2020-02-03 09:21] mayuhope commented on #1464
采用最新的installer测试验证，已无问题，因此关闭issue

[2020-02-03 09:21] #1464 closed

[2020-02-03 09:35] zheng1 commented on #1634
@zryfish 这个问题在 2.1.1 是否已经修复？

[2020-02-03 09:36] zheng1 commented on #1650
@benjaminhuo 这个问题在 2.1.1 是否已经修复？

[2020-02-03 09:58] leoendless commented on #1650
这个应该已经修复了，最新的 dev installer 里可以验证，直接调用的 k8s log api

[2020-02-03 10:43] ellaye commented on #1498
fix
/close

[2020-02-03 10:43] #1498 closed

[2020-02-04 02:36] leoendless commented on #1802
logo 问题已修复

[2020-02-04 02:54] ellaye opened #1807 "Devops and logging upgrade error when upgrade from ks2.1.0 to ks2.1.1"
steps to reproduce
1.install ks2.1.0
2.upgrage to ks2.1.1
excepted result: upgrade success
actual result: devops and logging upgrade error
error info:
 \"apps/v1beta2\"",
      "stderr_lines": [
        "Error: UPGRADE FAILED: failed decoding reader into objects: unable to recognize \"\": no matches for kind \"Deployment\" in version \"apps/v1beta2\""
"stderr": "Error: UPGRADE FAILED: failed decod

[2020-02-04 03:12] ellaye commented on #1807
/assign @pixiake
/kind bug
/area installation
/milestone 2.1.1

[2020-02-04 03:25] leoendless commented on #1222
@FeynmanZhou

[2020-02-04 03:27] #1325 closed

[2020-02-04 04:27] shaowenchen opened #1808 "应用商店部署失败，相关镜像 not found"
版本：2.1.1

问题：

![image](https://user-images.githubusercontent.com/43693241/73713797-9e2aa100-4749-11ea-948e-50587022017e.png)

打开应用商店页面报错，查看相关 Pod 的 event 发现相关镜像无法拉取；

![image](https://user-images.githubusercontent.com/43693241/73713694-4855f900-4749-11ea-9a12-e40d98728ae1.png)

初步判断：

镜像 tag 错误，openpitrix/openpitrix:latest 可以拉取。

/area app-management
/milestone 2.1.1
/assign @zheng1

[2020-02-04 05:23] zheng1 commented on #1808
Fixed at https://github.com/kubesphere/ks-installer/pull/582

[2020-02-04 06:27] mayuhope opened #1809 "B2i service failed to build the image"
Steps ：
1、Install 2.1.1 through installer and enable the devops component；
2、Create a project, create a key in the configuration center；
3、Build a new service through the artifact，for example, select jar；
4、Upload Artifacts；
5、Setting up the build environment，and set the  image name , tag  and target image repository；

Test Results：
Build image failed
![image](https://user-images.githubusercontent

[2020-02-04 06:29] mayuhope commented on #1809
/assign @minghaoye
/kind bug
/area devops
/milestone 2.1.1

[2020-02-04 07:03] calvinyv commented on #1393
fixed

[2020-02-04 07:03] #1393 closed

[2020-02-04 07:09] wansir commented on #1449
/kind need-to-verify

[2020-02-04 07:16] #1369 closed

[2020-02-04 07:26] zryfish commented on #846
/priority low

[2020-02-04 07:27] zryfish commented on #970
/priority low

[2020-02-04 07:27] leoendless commented on #1595
3.0.0 这里将简化

[2020-02-04 07:27] zryfish commented on #1019
/priority medium

[2020-02-04 07:28] zryfish commented on #1413
/priority medium

[2020-02-04 07:32] wansir commented on #1161
/milestone 3.0.0

[2020-02-04 07:36] mayuhope commented on #1505
在最新的instaler中已验证

[2020-02-04 07:36] #1505 closed

[2020-02-04 07:57] wuscloud opened #1810 "Does kubersphere 2.1.0 support arm64 ?"
Does kubersphere 2.1.0 support arm64 ?
Can arm64 be supported by recompiling ?

thx

[2020-02-04 08:29] Migo1989 opened #1811 "Feature: 期望支持批量执行多条流水线"
我现在有个痛点，想批量同时执行多条流水线部署服务，我看现在kubesphere还不支持，这个功能能提高我们部署的效率。比如说，我们创建了很多服务的流水线，我们勾选想要发布的服务的流水线，然后批量开始执行，期望后续的版本支持一下这个功能

[2020-02-04 08:43] calvinyv commented on #1811
/assign @runzexia
/kind feature
/area devops

[2020-02-04 08:52] runzexia commented on #1501
/assign @soulseen
/unassign

[2020-02-04 09:04] calvinyv commented on #1810
yes,  our service team used to support some customers to do that.

sure you can, go ahead to do that.

[2020-02-04 09:38] wuscloud commented on #1810
Do I have to recompile to support amr64?
if so, Can you provide a simple manual or idea, I'm new user of kubersphere.
Thank you very much.

[2020-02-04 11:55] zheng1 commented on #1808
/kind need-to-verify

[2020-02-04 15:48] zheng1 commented on #1375
/milestone 3.0.0

[2020-02-04 15:50] zheng1 commented on #1153
/milestone 3.0.0

[2020-02-04 15:51] zheng1 commented on #1799
/kind need-to-verify

[2020-02-04 18:29] zheng1 commented on #1497
Fixed at https://github.com/openpitrix/openpitrix/pull/998

[2020-02-05 02:14] calvinyv commented on #1810
there's no some kind of guide to build just specific kubesphere arm, you could just use general guide of docker to build multi arch image, some helpful reference link:
https://github.com/docker/buildx
https://github.com/multiarch/qemu-user-static
https://community.arm.com/developer/tools-software/tools/b/tools-software-ides-blog/posts/getting-started-with-docker-for-arm-on-linux

take ks-apigatewa

[2020-02-05 02:31] wuscloud commented on #1810
Ok, I'll try, thanks

[2020-02-05 02:37] ellaye commented on #1582
fixed

[2020-02-05 02:55] ellaye commented on #1580
fixed

[2020-02-05 03:22] zheng1 commented on #1447
/milestone 3.0.0

[2020-02-05 05:03] zheng1 commented on #1497
/kind need-to-verify

[2020-02-05 06:16] #1690 closed

[2020-02-05 07:04] Forest-L commented on #1517
/kind need-to-verify

[2020-02-05 07:05] wansir commented on #1536
/priority low

[2020-02-05 07:07] runzexia commented on #1799
/close

[2020-02-05 07:07] #1799 closed

[2020-02-05 07:11] wansir commented on #1592
May be an intermediate state when updating.

[2020-02-05 07:25] leoendless commented on #1391
现在 job 的 running 也是闪烁的

[2020-02-05 07:57] runzexia opened #1813 "Import application repo error"
/kind bug
/milestone 2.1.1
/area app-management
/cc @zheng1 @wansir
![image](https://user-images.githubusercontent.com/31230341/73822012-297e6200-4830-11ea-9682-5e9fe7412470.png)
![image](https://user-images.githubusercontent.com/31230341/73822027-2daa7f80-4830-11ea-8a55-a048e9686163.png)
![image](https://user-images.githubusercontent.com/31230341/73822034-2f744300-4830-11ea-8f2e-dad1af2db2ad.png)

[2020-02-05 08:06] zheng1 commented on #1245
/milestone 3.0.0

[2020-02-05 08:09] wansir opened #1814 "openpitrix api change"
1. `openpitrix.io/v1/apps`   conditions: repo -> repo_id
https://github.com/kubesphere/kubesphere/commit/05e949103ecd799c4c0f40cd4f0dbff400ded640#diff-e471cde9c812dd4b5256562b1dee8138L60
2. `openpitrix.io/v1/apps/{app}/versions/{version}/audits` conditions: version -> version_id
https://github.com/kubesphere/kubesphere/commit/05e949103ecd799c4c0f40cd4f0dbff400ded640#diff-e471cde9c812dd4b5256562b1d

[2020-02-05 08:33] wansir commented on #1813
1. `openpitrix.io/v1/apps`   conditions: repo -> repo_id
https://github.com/kubesphere/kubesphere/commit/05e949103ecd799c4c0f40cd4f0dbff400ded640#diff-e471cde9c812dd4b5256562b1dee8138L60
2. `openpitrix.io/v1/apps/{app}/versions/{version}/audits` conditions: version -> version_id
https://github.com/kubesphere/kubesphere/commit/05e949103ecd799c4c0f40cd4f0dbff400ded640#diff-e471cde9c812dd4b5256562b1d

[2020-02-05 08:33] wansir commented on #1814
/close

[2020-02-05 08:33] #1814 closed

[2020-02-05 08:52] #1810 closed

[2020-02-05 09:13] yuenwah opened #1816 "在测试s2i的过程中发现gitlab的解析问题"
此地址不清楚为什么会解析到图上的地址，我在本地还有kubesphere的主机上ping都不是这个地址
![image](https://user-images.githubusercontent.com/34834139/73827512-a57da780-483a-11ea-9088-59960a0f81e5.png)
![image](https://user-images.githubusercontent.com/34834139/73827567-be865880-483a-11ea-84cb-85bc83a4cb0a.png)
![Uploading image.png…]()

[2020-02-05 09:25] shaowenchen commented on #1808
OK
/close

[2020-02-05 09:26] #1808 closed

[2020-02-05 10:35] ellaye opened #1818 "kubeconfig cannot work"
1、create following 3 credentials：dockerhub-id、github-id、demo-kubeconfig
2、create a CI/CD pipeline based on spring boot project
3、create two projects：kubesphere-sample-dev and kubesphere-sample-prod
4、run the pipeline
5、deploy to the dev
excepted result: success
actual result: deploy error,
error info:Loading configuration: /home/jenkins/agent/workspace/60jWPKkAq_test-scm-020501_master/deploy/dev-o

[2020-02-05 10:36] ellaye commented on #1818
/assign @wansir
/kind bug
/area apiserver
/milestone 2.1.1

[2020-02-05 10:48] rayzhou2017 commented on #1391
verified

[2020-02-05 10:48] #1391 closed

[2020-02-05 10:52] rayzhou2017 commented on #846
verified

[2020-02-05 10:52] #846 closed

[2020-02-05 12:11] rayzhou2017 commented on #1218
How is this bug going?

[2020-02-05 14:03] soulseen commented on #1816
进入ks-apiserver容器中nslooup 看下解析结果正确吗

[2020-02-05 14:19] calvinyv opened #1820 "Feature: more info provided in alert msg to help user identifying cause quickly"
**Describe the Bug**
It would be better to give more helpful info when sending alert msg to users, for example:

a memory usage alert for some nodes, besides tells which nodes and what memory usage, we could also list top 3 or 5 top heavily memory used workloads
an abnormal pod rate alert, we could put those abnormal pods names in the alert msg.

[2020-02-05 14:20] calvinyv commented on #1820
/assign @benjaminhuo
/area alert

[2020-02-06 01:38] shaowenchen commented on #1803
OK
/close

[2020-02-06 01:38] #1803 closed

[2020-02-06 02:41] rayzhou2017 commented on #1015
这个fix了吗？

[2020-02-06 06:31] yuenwah commented on #1816
解析的问题找到了，然后我们的gitlab登录会跳转到其它地方去认证，在kubesphere中填写对应账号密码不能认证，kubesphere是否可以通过gitlab的access token或ssh-key去认证呢
![image](https://user-images.githubusercontent.com/34834139/73911601-50e73480-48ed-11ea-9eb5-8deb68f9f7ce.png)

[2020-02-06 06:51] ellaye commented on #1783
fixed
/colse

[2020-02-06 07:03] ellaye commented on #1784
fixed
/close

[2020-02-06 07:03] #1784 closed

[2020-02-06 07:36] runzexia commented on #1780
/need-to-verify

[2020-02-06 07:37] runzexia commented on #1780
/kind need-to-verify

[2020-02-06 07:38] runzexia commented on #1779
/kind need-to-verify

[2020-02-06 07:40] ellaye commented on #1779
fixed
/close

[2020-02-06 07:40] #1779 closed

[2020-02-06 07:47] runzexia commented on #1809
Any more information?
Such as the status/logs of the b2i container

[2020-02-06 07:47] ellaye commented on #1780
fixed
/close

[2020-02-06 07:47] #1780 closed

[2020-02-06 07:47] runzexia commented on #1783
/close

[2020-02-06 07:48] #1783 closed

[2020-02-06 07:49] runzexia commented on #1517
@minghaoye  fixed ?

[2020-02-06 07:51] runzexia commented on #1522
/kind need-to-verify

[2020-02-06 07:52] runzexia commented on #1522
fixed
/close

[2020-02-06 07:53] #1522 closed

[2020-02-06 07:57] ellaye commented on #1497
fixed
/close

[2020-02-06 07:57] #1497 closed

[2020-02-06 08:03] ellaye commented on #1579
fixed
/close

[2020-02-06 08:03] #1579 closed

[2020-02-06 08:09] runzexia commented on #1428
/close

[2020-02-06 08:10] #1428 closed

[2020-02-06 08:10] runzexia commented on #1428
fixed

[2020-02-06 08:15] minghaoye commented on #1517
yes

[2020-02-06 08:52] wansir commented on #1560
组件启用时的中间状态
/milestone 3.0.0

[2020-02-06 09:05] zheng1 commented on #1730
/milestone 2.1.1
/kind bug
/kind need-to-verify

[2020-02-06 09:06] zheng1 commented on #1542
/milestone 2.1.1
/kind need-to-verify

[2020-02-06 09:07] zheng1 commented on #1564
/milestone 2.1.1
/kind need-to-verify

[2020-02-06 09:07] zheng1 commented on #1559
/close

[2020-02-06 09:07] #1559 closed

[2020-02-06 09:08] zheng1 commented on #1606
duplicate with https://github.com/kubesphere/kubesphere/issues/1564
/close

[2020-02-06 09:08] #1606 closed

[2020-02-06 09:19] shaowenchen commented on #1544
/close

[2020-02-06 09:19] #1544 closed

[2020-02-06 09:20] shaowenchen commented on #1802
/close

[2020-02-06 09:20] #1802 closed

[2020-02-06 09:21] Forest-L commented on #1015
Fixed at https://github.com/kubesphere/tutorial/pull/6

[2020-02-06 09:22] Forest-L commented on #1015
/kind need-to-verify

[2020-02-06 09:25] shaowenchen commented on #1218
/assign  @benjaminhuo @junotx

[2020-02-06 09:27] shaowenchen commented on #1218
This bug has not been fixed in 2.1.1

[2020-02-06 09:31] benjaminhuo commented on #1218
This is a corner case, we'll not fix it in 2.1.1 per discussion in wechat group.
The design might be changed in 3.0 to avoid issue like this

[2020-02-06 09:48] mayuhope commented on #1299
验证已修复

[2020-02-06 09:48] #1299 closed

[2020-02-06 14:01] zheng1 commented on #1449
@wansir  How to verify this issue?

[2020-02-07 02:38] soulseen commented on #1816
非常抱歉，目前版本还不支持access token或ssh-key的认证方式。

[2020-02-07 02:43] wansir commented on #1449
#1818

[2020-02-07 03:41] ellaye opened #1822 "ks2.1.1 install failed, error info:the server could not find the requested resource"
ks2.1.1 install failed, error info:the server could not find the requested resource

![image](https://user-images.githubusercontent.com/57089340/73999174-cf4fdf00-499e-11ea-9a20-faef54ceb8a0.png)

[2020-02-07 03:42] ellaye commented on #1822
/assign @pixiake
/kind bug
/area installation
/milestone 2.1.1

[2020-02-07 11:37] rayzhou2017 commented on #1023
verified

[2020-02-07 11:37] #1023 closed

[2020-02-07 14:13] calvinyv commented on #1218
/assign @benjaminhuo @junotx

[2020-02-07 14:32] wansir commented on #1818
/kind need-to-verify

[2020-02-07 14:32] wansir commented on #1449
/close

[2020-02-08 16:32] 593769290 opened #1824 "考虑升级一下kubesphere/ks-console:v2.1.0镜像的node版本。"
我自己搭建的k8s集群，自己创建了kubeconfig，在devops配置或者编辑凭证的时候，准备赞贴自己的kubeconfig，结果报414 Request URI Too Long。

Request URL: http://192.168.1.208:30880/kapis/devops.kubesphere.io/v1alpha2/devops/project-RDvBl7OXvWAq/credentials/pppp-kubeconfig
Request Method: PUT
Status Code: 414 Request URI Too Long
Remote Address: 192.168.1.208:30880
Referrer Policy: no-referrer-when-downgrade

1、经过调查，我发现我的kubeconfig 差不多8K，对比系统自

[2020-02-09 07:59] 593769290 commented on #1824
后来找到jenkins 里面直接调整了 credentials ，临时解决问题。

[2020-02-10 02:50] ellaye opened #1825 "Deploy sample application error"
1、click deploy sample application button
2、click Create button
excepted result：Application created successful
actual result ：Appllication created error
error info：BadRequest，the API version in the data(networking.k8s.io/v1beta1) does not match the expected API version(extensions/v1beta1)

[2020-02-10 02:51] ellaye commented on #1825
/assign @zryfish
/kind bug
/milestone 2.1.1

[2020-02-10 03:00] ellaye commented on #1818
fixed
/close

[2020-02-10 03:00] #1818 closed

[2020-02-10 03:07] liuyp2018 commented on #1349
The problem no longer exists in later 2.1.0 performance test
/colse

[2020-02-10 03:07] #1349 closed

[2020-02-10 03:22] minghaoye commented on #1824
/area devops
/assign @runzexia

[2020-02-10 03:32] pixiake commented on #1822
done

[2020-02-10 03:33] pixiake commented on #1807
https://github.com/kubesphere/kubesphere/issues/1822

[2020-02-10 05:03] tosptargogo opened #1827 "一个用户能否让多人同时登陆在线?"
问题描述：
  单个用户登陆能否同时登陆。每次有另一个人上线就会被踢下来。
  我们有4个cluster 部署4套。每套都要设置用户。工作量非常大。
  有没有办法所有人都只用一个账号登陆。同时在线。

[2020-02-10 05:23] wansir commented on #1827
你可以将kubesphere-system下ks-account组件，启动参数中的--enable-multi-login设置为true，以此来启用账户多处登录。

[2020-02-10 06:22] tosptargogo commented on #1827
万分感谢

[2020-02-10 06:22] #1827 closed

[2020-02-10 06:59] runzexia commented on #1824
/need-to-verify

[2020-02-10 07:00] runzexia commented on #1824
/kind need-to-verify

[2020-02-10 07:00] runzexia commented on #1824
/milestone 2.1.1
/kind bug

[2020-02-10 07:24] soulseen commented on #1501
/label need-to-verify

[2020-02-10 07:25] zryfish commented on #1634
这个问题不是经常发生，3.0会重构这部分代码，放到3.0一起修复吧

[2020-02-10 07:25] zheng1 commented on #1449
/close

[2020-02-10 07:26] #1449 closed

[2020-02-10 07:31] minghaoye commented on #1517
/close

[2020-02-10 07:31] #1517 closed

[2020-02-10 07:33] minghaoye commented on #1744
/kind need-to-verify

[2020-02-10 07:34] minghaoye commented on #1500
/kind need-to-verify

[2020-02-10 07:35] minghaoye commented on #1436
/kind need-to-verify

[2020-02-10 07:39] #1314 closed

[2020-02-10 07:43] runzexia commented on #1500
/close

[2020-02-10 07:43] #1500 closed

[2020-02-10 08:26] minghaoye commented on #1395
review ok

/close

[2020-02-10 08:26] #1395 closed

[2020-02-10 08:47] runzexia commented on #1426
/milestone 3.0.0
/kind feature
/area devops

[2020-02-10 08:49] runzexia commented on #1749
/close

[2020-02-10 08:49] #1749 closed

[2020-02-10 08:52] huanggze commented on #1189
仍然存在。

复现方法是：添加 repo 好后，立刻去点同步

![image](https://user-images.githubusercontent.com/22350668/74134500-a5f4b480-4c25-11ea-8676-dd1b19bfa404.png)

[2020-02-10 08:52] huanggze commented on #1189
/remove-kind need-to-verify

[2020-02-10 08:54] huanggze commented on #1536
未解决

![image](https://user-images.githubusercontent.com/22350668/74134760-0a177880-4c26-11ea-8882-84b7040f9196.png)

[2020-02-10 09:03] runzexia commented on #1748
/close

[2020-02-10 09:03] #1748 closed

[2020-02-10 09:12] calvinyv commented on #1762
supported in 2.1.1

[2020-02-10 09:12] #1762 closed

[2020-02-10 09:16] FeynmanZhou commented on #1756
@huanggze  We will provide description in Docs, will let you know when it ready.

[2020-02-10 09:44] benjaminhuo commented on #1650
![Snip20200210_22](https://user-images.githubusercontent.com/18525465/74138551-c6743d00-4c2c-11ea-8cff-49fae9937606.png)

Verified in the latest 2.1.1 dev build.
Container logs can be seen without the logging module enabled.

[2020-02-10 09:59] wansir commented on #1695
#1818 duplicated
/close

[2020-02-10 10:00] #1695 closed

[2020-02-10 10:03] wansir commented on #1619
fixed
/close

[2020-02-10 10:03] #1619 closed

[2020-02-10 10:09] pixiake commented on #1529
verify

[2020-02-10 10:45] #1130 closed

[2020-02-10 11:00] huanggze commented on #1536
![image](https://user-images.githubusercontent.com/22350668/74144410-a302bf80-4c37-11ea-8de7-1fb3a2e912d5.png)

[2020-02-10 11:00] huanggze commented on #1187
已解决

![image](https://user-images.githubusercontent.com/22350668/74144249-5a4b0680-4c37-11ea-91a3-924e91ad619b.png)

[2020-02-10 11:01] #1187 closed

[2020-02-10 11:06] huanggze commented on #1259
未解决。使用的 google stable repo

# 无法安装 jaeger operator

![image](https://user-images.githubusercontent.com/22350668/74144747-4358e400-4c38-11ea-8cf3-2c999e263853.png)

# 无法安装 prometheus operator

![image](https://user-images.githubusercontent.com/22350668/74144849-74d1af80-4c38-11ea-88ce-bcedf8608469.png)

[2020-02-10 11:08] huanggze commented on #1259
/remove-kind need-to-verify

[2020-02-10 11:13] shaowenchen opened #1829 "示例应用部署报错，API Version 兼容问题"
版本：2.1.1
问题：
部署示例应用报错，错误提示如下

![image](https://user-images.githubusercontent.com/43693241/74145256-4dc7ad80-4c39-11ea-86fe-68fa6113af5d.png)

/area  microservice
/assign @zryfish
/milestone 2.1.1

[2020-02-10 11:19] zheng1 commented on #1189
/assign @Carlosfengv @whDongRui
/milestone 3.0.0

[2020-02-10 11:21] zheng1 commented on #1259
/milestone 3.0.0

[2020-02-10 11:21] hlwanghl commented on #1529
/close

[2020-02-10 11:21] #1529 closed

[2020-02-10 11:27] #1650 closed

[2020-02-10 11:27] benjaminhuo commented on #1650
Verified and closed

[2020-02-10 11:28] huanggze commented on #1174
/kind need-to-verify

[2020-02-10 11:41] mayuhope commented on #1174
经过沟通延迟可以接受，关闭此issue

[2020-02-10 11:41] #1174 closed

[2020-02-10 11:43] mayuhope commented on #1415
大集群测试没有问题，这个跟使用的工具kubemark有关

[2020-02-10 11:43] #1415 closed

[2020-02-10 12:33] ellaye commented on #1807
用最新安装包升级遇到2个问题：
问题一：安装的时候configmap里面没有sc
问题二：安装升级完devops升级失败，
![image](https://user-images.githubusercontent.com/57089340/74150290-8c169a00-4c44-11ea-89ac-8a1095328d4d.png)

[2020-02-10 12:34] huanggze commented on #1444
更新文档 https://github.com/kubesphere/docs.kubesphere.io/pull/559

[2020-02-10 12:35] huanggze commented on #1444
/close

[2020-02-10 12:35] #1444 closed

[2020-02-11 02:23] calvinyv commented on #1822
/kind need-to-verify
/assign @ellaye

[2020-02-11 02:34] calvinyv commented on #1791
API limitation because of result set, and user could still choose the sc which he want to use, so mark as low priority and move to next release.

[2020-02-11 02:34] calvinyv commented on #1791
/priority low

[2020-02-11 02:40] bmingithub commented on #1714
2.1.1 验证OK

[2020-02-11 02:44] bmingithub commented on #1596
v2.1.1 验证OK

[2020-02-11 03:00] pengcong06 commented on #1015
area/testing
the way to enable gitlab is not supported in latest installer

[2020-02-11 03:10] ellaye commented on #1822
fixed
/close

[2020-02-11 03:10] #1822 closed

[2020-02-11 03:13] ellaye commented on #1825
fixed
/close

[2020-02-11 03:13] #1825 closed

[2020-02-11 03:17] calvinyv commented on #1515
/kind feature-request
/assign @pixiake

[2020-02-11 03:18] calvinyv commented on #1515
/priority low

[2020-02-11 03:19] calvinyv commented on #1452
/priority low

[2020-02-11 03:20] calvinyv commented on #1568
/kind need-to-verify

[2020-02-11 03:23] FeynmanZhou opened #1832 "Add downward api for environment variables"
Some environment variables include following fields are not supported in KubeSphere UI, please add feature for this scenario
![image](https://user-images.githubusercontent.com/40452856/74208886-63cc8100-4cc0-11ea-9e1c-74b918534bbb.png)

[2020-02-11 05:09] FeynmanZhou commented on #1019
@rayzhou2017  Updated, see this [guide](https://kubesphere.com.cn/docs/v2.1/zh-CN/project-setting/project-gateway/)

[2020-02-11 05:44] calvinyv commented on #1660
2.1.1 后端已支持

[2020-02-11 05:55] calvinyv commented on #1660
/assign @wansir @leoendless
/

[2020-02-11 05:55] calvinyv commented on #1660
/area iam

[2020-02-11 05:56] calvinyv commented on #1660
按目前的推进情况，估计在五月份

[2020-02-11 05:57] calvinyv commented on #1326
duplicate as https://github.com/kubesphere/console/issues/43
/close

[2020-02-11 05:57] #1326 closed

[2020-02-11 06:09] yuenwah opened #1834 "关于jenkinsfile out of scm这个示例，有以下问题要咨询一下"
![image](https://user-images.githubusercontent.com/34834139/74214278-be250c00-4cd7-11ea-9f01-bd22b8a50769.png)
这个页面一直卡死是哪个资源不足吗，另外这个Dockerfile-online报没找到，因为我用的不是示例中的git库，这个dockerfile文件是要自己写吗

[2020-02-11 06:59] shaowenchen commented on #1829
/close

[2020-02-11 06:59] #1829 closed

[2020-02-11 07:07] huanggze opened #1835 "show NOTES.txt in app details page"
featue request from forum:
https://kubesphere.com.cn/forum/d/751-kubesphere-notes-txt

[2020-02-11 07:08] huanggze commented on #1835
/milestone 3.0.0
/area app-management

[2020-02-11 07:23] huanggze commented on #1272
In ks v2.1.1, we will only use elasticsearch for archived log query https://github.com/kubesphere/kubesphere/issues/1650. This helps to further decrease performance pressure. 100 qps test shows the current performance is acceptable.

/kine need-to-verify

[2020-02-11 07:24] huanggze commented on #1272
/kind need-to-verify

[2020-02-11 07:24] huanggze commented on #1272
/assign @mayuhope

[2020-02-11 07:32] soulseen commented on #1501
/kind need-to-verify

[2020-02-11 07:42] huanggze opened #1838 "support multi-lines for logging sidecar"
feature request from forume:

https://kubesphere.com.cn/forum/d/743

[2020-02-11 07:42] huanggze commented on #1838
/area logging
/milestone 3.0.0

[2020-02-11 08:23] runzexia commented on #1824
/close

[2020-02-11 08:23] #1824 closed

[2020-02-11 08:28] benjaminhuo commented on #1568
test case:
1. install 2.0.2 and change coredns config,  install helm chart
2. 2.0.2 => 2.1.1
3. verify if coredns config changes and if the install helm chart is cleared

[2020-02-11 10:24] benjaminhuo commented on #1568
/remove-kind need-to-verify

[2020-02-11 13:01] huanggze commented on #1834
/help
/area devops
/assign @soulseen 能帮忙看看这个问题吗

[2020-02-11 13:02] huanggze commented on #1834
/assign @soulseen

[2020-02-11 13:05] soulseen commented on #1834
测试用的是官方示例吗，检查下路径graphical-pipeline下是否包含Dockerfile-online文件，可以参考下官方示例。

[2020-02-11 13:08] soulseen commented on #1834
页面无响应的问题麻烦说下复现步骤，可以检查下系统组件是否运行正常。

[2020-02-11 13:19] soulseen opened #1840 "generate S2IRun name is Invalid"
**Describe the Bug**
1. create secret with registry: registry.cn-hangzhou.aliyuncs.com
2. create s2i with image name: zhuxiaoyang/sample, tag: 0211
3. get following error:
[code]
![image](https://user-images.githubusercontent.com/16031013/74240037-17ab2c00-4d14-11ea-91be-3560e9a908d0.png)

/assign @minghaoye
/kind bug
/milestone 2.1.1

[2020-02-11 13:19] soulseen commented on #1840
/area devops

[2020-02-11 14:06] minghaoye commented on #1840
/label  need-to-verify

[2020-02-12 02:14] huanggze commented on #1838
/kind feature-request

[2020-02-12 02:14] huanggze commented on #1835
/kind feature-request

[2020-02-12 03:09] soulseen commented on #1501
/remove-kind need-to-verify

[2020-02-12 03:10] flyforfreedom opened #1841 "登录显示Internal Server Error，ks-console日志是Bad Gateway"
**What's your question**
如题，ks-console日志如下，请问如何进一步调试呢？
![图片](https://user-images.githubusercontent.com/3615229/74299637-46fb8080-4d88-11ea-9fa2-d818935fa67b.png)

**Environment: OS & Hardware Information**

**Error logs or message (Attach logs or screenshot)**

**Installer Version**

[2020-02-12 03:15] runzexia opened #1842 "pod count in nodes/workspaces not match"
![B39B813856BFCF11547ACA5B6BEC39E3](https://user-images.githubusercontent.com/31230341/74299779-ac4f7180-4d88-11ea-995c-69633797a138.jpg)
![0CA5B731D693BBEC107A67366A5EACB9](https://user-images.githubusercontent.com/31230341/74299781-ad809e80-4d88-11ea-937a-534d9f800094.jpg)
![image](https://user-images.githubusercontent.com/31230341/74299790-b40f1600-4d88-11ea-9065-8be63b0a0ebd.png)
/area monitor

[2020-02-12 03:18] runzexia opened #1843 "workspace memory usage exceeds total cluster memory usage"
![image](https://user-images.githubusercontent.com/31230341/74299971-47e0e200-4d89-11ea-988f-3296cd2d4ed6.png)
workspace memory usage exceeds total cluster memory usage
/area monitoring
/cc @huanggze
/milestone 2.1.1

[2020-02-12 05:22] soulseen commented on #1501
/kind need-to-verify

[2020-02-12 06:08] soulseen opened #1844 "workspace-regular can not enter workspace."
**Describe the Bug**
1. invite test-user in the workspace as workspace-regular.
2. login as test-user, but can not into the workspace.
![image](https://user-images.githubusercontent.com/16031013/74307638-cf861b00-4da0-11ea-979a-f63e6e90533d.png)
![image](https://user-images.githubusercontent.com/16031013/74307662-f0e70700-4da0-11ea-8389-b92e6a7c7719.png)

/kind bug
/milestone 2.1.1
/cc @wansir

[2020-02-12 06:25] huanggze commented on #1609
free 命令中 available 显示的不太准确，少算了一部分可回收的 slab mem，例如 used + available 显然与 total 有600M 差别。我们的监控内存利用率的算法保证了 % = used / total 的准确，可用的大小比 free 命令显示的 available 稍高

相同问题 https://github.com/kubesphere/kubesphere/issues/992

[2020-02-12 06:25] huanggze commented on #1609
/kind need-to-verify

[2020-02-12 06:26] huanggze commented on #1609
/assign @ellaye

[2020-02-12 06:31] calvinyv commented on #1568
as design
/kind documentation

[2020-02-12 06:47] runzexia commented on #1813
/close

[2020-02-12 06:47] #1813 closed

[2020-02-12 06:52] liuyp2018 opened #1845 "If the current password is wrong, the personal password can also be changed successfully"
Steps:
1.user login system
2.Enter the change password page in personal settings
3.set incorrect current password
4.set change password
5.save changes

Expected results:
Unable to change password

Actual result:
Password changed successfully

[2020-02-12 07:12] FeynmanZhou commented on #1222
@leoendless 那就只在中文界面加上论坛的 icon 和 URL 吧

[2020-02-12 07:54] zheng1 commented on #1273
/remove-kind need-to-verify

/cc @pengcong06

[2020-02-12 08:02] soulseen commented on #1844
/close

[2020-02-12 08:02] #1844 closed

[2020-02-12 08:30] runzexia opened #1847 "scheduler monitoring is blank"
/cc @huanggze
/area monitoring
/kind bug
/milestone 2.1.1
![image](https://user-images.githubusercontent.com/31230341/74316669-efbfd500-4db4-11ea-86a2-2906c9f7bf71.png)
![image](https://user-images.githubusercontent.com/31230341/74316691-f8b0a680-4db4-11ea-89ec-807bac586753.png)

[2020-02-12 09:28] runzexia commented on #1501
/close

[2020-02-12 09:29] #1501 closed

[2020-02-12 09:38] mayuhope opened #1849 "After deleting a user and creating a new user with the same name, the last login time is not updated"
Steps：
1、Create a new user named user1；
2、Login with user user1；
3、 Delete user user1 ；
4、Create a new user named user1 and find that the last login time is still the previous one；

Expected result:
4、The last login time should be  not logged in

[2020-02-12 09:40] mayuhope commented on #1849
/assign  @wansir
/area   IAM

[2020-02-12 09:42] mayuhope commented on #1849
/assign @wansir

[2020-02-12 09:58] eliaskoromilas opened #1851 "Support extended-resource assignment to a Container"
## `ResourceLimit` should not be restricted to cpu, memory

### Discussion

[https://kubernetes.io/docs/tasks/administer-cluster/extended-resource-node/#discussion](https://kubernetes.io/docs/tasks/administer-cluster/extended-resource-node/#discussion)

### Assign an extended resource to a Container

[https://kubernetes.io/docs/tasks/configure-pod-container/extended-resource](https://kubernetes.io

[2020-02-12 10:17] calvinyv commented on #1851
/assign @zryfish could you help to evaluate this issue?
/kind feature-request

[2020-02-12 12:20] soulseen commented on #1840
/close

[2020-02-12 12:20] #1840 closed

[2020-02-12 13:22] mayuhope opened #1855 "Incorrect number of tasks and scheduled tasks"
Test steps：
1、Enter an existing project, such as project p11；
2、Go into the application load-task, then create a task and a timed task

Test  result：
2、It was found that the number of tasks and scheduled tasks was incorrect
![image](https://user-images.githubusercontent.com/7677050/74338899-fd3d8500-4ddd-11ea-804d-6c848e9f8ce5.png)

[2020-02-12 13:22] mayuhope commented on #1849
/milestone 2.1.1

[2020-02-12 13:26] mayuhope commented on #1855
/assign  @leoendless
/milestone  2.1.1
/kind bug

[2020-02-12 13:29] mayuhope commented on #1855
/assign @leoendless

[2020-02-12 13:40] mayuhope opened #1856 "After creating a blue-green deployment, the task status page reports an error"
Test  steps:
1、Enter an existing project, enter gray release-gray strategy；
2、Follow the steps to post a blue-green deployment task；
3、Switch to task status page；

Test  result：
3、An error occurs on the page：

![image](https://user-images.githubusercontent.com/7677050/74340106-4b538800-4de0-11ea-87f9-fc1fd6e45ce6.png)

[2020-02-12 13:42] mayuhope commented on #1856
/assign @leoendless
/milestone 2.1.1
/kind bug

[2020-02-12 13:42] mayuhope commented on #1856
/area  console

[2020-02-12 13:43] mayuhope commented on #1855
/area console

[2020-02-12 13:57] mayuhope commented on #1809
使用最新的installer测试验证，已经没有这个问题，因此关闭issue

[2020-02-12 13:57] #1809 closed

[2020-02-13 03:06] runzexia opened #1858 "stop kube controller manager/kube scheduler, UI display status is still ready"
![image](https://user-images.githubusercontent.com/31230341/74397857-a0c77d80-4e50-11ea-978d-2814b9650dcf.png)
[code]
/area api
/area monitoring
/kind bug
/milestone 2.1.1
/cc @leoendless @wansir @huanggze

[2020-02-13 03:43] Forest-L opened #1859 "2.1.1版本部署实例应用bookinfo，点击流量治理界面报错"
* 2.1.1allinone
* centos 7.5
### 部署实例应用bookinfo,进入bookinfo中，点击流量治理界面报错。
![image](https://user-images.githubusercontent.com/50984129/74399459-dae74e00-4e55-11ea-815c-5805b8b4fed9.png)

[2020-02-13 03:50] leoendless commented on #1855
Will be solved in v3.0，watch resourcequota to update the resource used status.

[2020-02-13 03:55] Forest-L commented on #1859
/assign @leoendless

[2020-02-13 04:01] leoendless commented on #1859
@zryfish

[2020-02-13 04:09] pixiake commented on #1807
https://github.com/kubesphere/ks-installer/issues/619

[2020-02-13 06:24] mayuhope opened #1861 "The number of project pods in the workbench is not the same as the number of pods in the project overview"
Test  steps：
1、The role of user1 is cluster regular + workspace viewer + project operator；
2、Login with user1；
3、On the workbench project page, the number of pods found is 16：
![image](https://user-images.githubusercontent.com/7677050/74407654-61f3f080-4e6d-11ea-85ba-60fa7c74fa2f.png)

4、Enter the project and find that the number of pods is 17 on the project overview page
<img width="733" alt="158

[2020-02-13 06:30] ljh2057 commented on #1741
`kubectl edit deploy ks-account -n kubesphere-system`
修改所有的` busybox` tag 为 `glibc`

[2020-02-13 06:32] ljh2057 commented on #1671
`kubectl edit deploy ks-account -n kubesphere-system
`
修改所有的 `busybox` tag 为 `glibc`

[2020-02-13 06:32] FeynmanZhou opened #1862 "The image size limit is not correct"
![image](https://user-images.githubusercontent.com/40452856/74407635-56a0c500-4e6d-11ea-9893-10d7419ff997.png)

How to reproduce? Follow the link below, upload a picture (`only 300+ kb`, less than 2M) to KubeSphere, but I upload failed:

https://kubesphere.com.cn/docs/v2.1/zh-CN/quick-start/app-store/#%E4%B8%8A%E4%BC%A0%E5%BA%94%E7%94%A8%E6%8F%90%E4%BA%A4%E5%AE%A1%E6%A0%B8

![image](https://user-i

[2020-02-13 06:33] ljh2057 commented on #1612
kubectl replace 强制更新下

[2020-02-13 06:44] mayuhope commented on #1861
/assign @huanggze
/milestone 2.1.1
/area  monitoring

[2020-02-13 07:15] mayuhope opened #1863 "An error occurs when accessing the traffic governance page of the sample application"
Test steps ：
1、Enter a project, enter the application load-application page；
2、Click to deploy the sample application and follow the steps to deploy the sample application  bookinfo；
3、Enter homemade app，click  bookinfo，click traffic governance，an  error occurred at this time：

<img width="959" alt="1581578784(1)" src="https://user-images.githubusercontent.com/7677050/74411323-e77b9e80-4e75-11ea-8

[2020-02-13 07:20] huanggze commented on #1843
CPU usage for node and workspace are from different data source. The former is from node exporter while the latter cAdvisor. They are evaluated independently. So this may cause inconsistent results sometimes, though both are correct literally.

I would leave this issue to milestone 3.0.0

[2020-02-13 07:35] mayuhope commented on #1863
/assign @leoendless
/milestone 2.1.1
/area console
/kind  bug

[2020-02-13 07:38] leoendless commented on #1863
same with https://github.com/kubesphere/kubesphere/issues/1859

[2020-02-13 07:38] #1863 closed

[2020-02-13 07:52] runzexia opened #1865 "proposal: metrics column in the same order"
![image](https://user-images.githubusercontent.com/31230341/74412589-c0729c00-4e78-11ea-98e4-d1f5dcdbde9b.png)
![image](https://user-images.githubusercontent.com/31230341/74412605-c9636d80-4e78-11ea-81fe-2cae2bad4a97.png)
/cc @justahole
/milestone 2.1.1
/area console
/area monitoring

[2020-02-13 08:06] mayuhope opened #1866 "Error deploying gitlab via app store"
Test steps：
1、Enter the project, application load-application, click to deploy a new application；
2、Choose to deploy from the app store，choose gitlab and click to deploy
3、An error occurred after waiting for a while

<img width="920" alt="1581584862(1)" src="https://user-images.githubusercontent.com/7677050/74430822-9e891180-4e98-11ea-8e86-2c4e14a8338b.png">

[2020-02-13 08:10] wanjunlei opened #1867 "There is no response for a long time after clicking save when Create a CI/CD Pipeline in a Graphical Panel"
**Describe the Bug**
There is no response for a long time after clicking save when Create a CI/CD Pipeline in a Graphical Panel

![下载](https://user-images.githubusercontent.com/53003665/74413434-5bb84100-4e7a-11ea-9e28-7ce20f280237.png)

**Versions Used**
KubeSphere:
Kubernetes: 2.1.1

**Environment**
all in one

**How To Reproduce**
Follow the kubersphere quick start part 10

/area devops
/kind b

[2020-02-13 08:26] mayuhope commented on #1866
Test steps：
1、Enter the project, application load-application, click to deploy a new application；
2、Choose to deploy from the app store，choose  gitlab and click to deploy
3、An error occurred after waiting for a while

[2020-02-13 08:34] mayuhope commented on #1866
报错截图

[2020-02-13 08:38] runzexia commented on #1867
/assign @minghaoye
![image](https://user-images.githubusercontent.com/31230341/74415891-37ab2e80-4e7f-11ea-9654-6cb01abd2a61.png)

[2020-02-13 08:43] Forest-L commented on #1859
/close

[2020-02-13 08:43] #1859 closed

[2020-02-13 09:03] mayuhope commented on #1866
/milestone 2.1.1
/kind bug
/area  appstore

[2020-02-13 09:05] huanggze commented on #1843
This may be relative to issue https://github.com/kubesphere/kubesphere/issues/992

It would be better apply different metrics rules for different Linux kernel versions when installing KubeSphere

[2020-02-13 09:33] huanggze commented on #1861
We have pod count of different definition in different context

For example, pod count for:
- Running Pods: pods in the Running phase
- Non-terminated Pods: pods in any phase rather than Succeeded and Failed
- Overall Pods: pods in any phase
- Abnormal Pods: taking both pod condition and pod phase into consider

Let's settle down this inconsistency in 3.0.0

[2020-02-13 09:34] huanggze commented on #1842
the same with https://github.com/kubesphere/kubesphere/issues/1861

[2020-02-13 09:34] mayuhope commented on #1866
/assign  @pengcong06

[2020-02-13 11:21] #1298 closed

[2020-02-13 11:27] huanggze commented on #1841
Can you print pod status in kubesphere-system namespace?

`kubectl get po -n kubesphere-system`

[2020-02-13 11:48] mayuhope commented on #1866
/assign @pengcong06

[2020-02-13 11:49] huanggze commented on #1847
k8s bug, fixed since 1.16.6

https://github.com/kubernetes/kubernetes/blob/release-1.16/CHANGELOG/CHANGELOG-1.16.md#changes-by-kind

[2020-02-13 12:02] huanggze commented on #1847
Should we bump k8s version in installer?
/assign @pixiake

[2020-02-13 13:54] ZhangSIming-blyq opened #1868 "Why kubesphere add a colon after my ldap's port?"
**Describe the Bug**
Why kubesphere add a colon after my ldap's port?
My config is:
![image](https://user-images.githubusercontent.com/58658883/74441235-6a1e5100-4eaa-11ea-9a04-c40d3c413e07.png)

But the error logs is:
![image](https://user-images.githubusercontent.com/58658883/74441412-bec1cc00-4eaa-11ea-837d-54c377c4ec70.png)

KubeSphere: v2.1(Maybe ks-installer v2.1)
Kubernetes: v1.14.3

**Envi

[2020-02-13 13:56] ZhangSIming-blyq commented on #1868
I need your help! Thanks

[2020-02-13 14:09] pixiake commented on #1847
update k8s to v1.16.7

[2020-02-13 14:13] soulseen commented on #1627
/close

[2020-02-13 14:13] #1627 closed

[2020-02-13 14:59] huanggze opened #1869 "Component health status is not informative"
Though logging component is marked as 3/3, I still can't access logs due to fluent bit not up. There are much more key information missing, for example, elasticsearch cluster health.

![image](https://user-images.githubusercontent.com/22350668/74447207-f84b0500-4eb3-11ea-9c98-b3a2faab7c54.png)

![image](https://user-images.githubusercontent.com/22350668/74447183-eec19d00-4eb3-11ea-9072-c2282e3f503

[2020-02-13 15:00] huanggze commented on #1869
/kind design
/assign @Carlosfengv
/milestone 3.0.0

[2020-02-14 02:36] runzexia commented on #1867
/kind need-to-verify

[2020-02-14 03:07] runzexia commented on #1273
/close

[2020-02-14 03:07] #1273 closed

[2020-02-14 03:08] runzexia commented on #1865
/close

[2020-02-14 03:08] #1865 closed

[2020-02-14 03:44] mayuhope opened #1870 "The project operator could not view the alert message processing opinion and reported 403 forbidden"
Test  steps：
1、The role of user user1 is cluster  regular+workspace  viewer+ project  operator;
2、Login with  user1;
3、Enter the project, access an alert message, click on the processing opinion, then an error is reported：
<img width="927" alt="1581653177(1)" src="https://user-images.githubusercontent.com/7677050/74500640-75ad5e80-4f22-11ea-9bf7-e0e2c81419ce.png">

4、However, the user can successf

[2020-02-14 03:59] wanjunlei commented on #1053
Verified，need to be closed

[2020-02-14 04:05] mayuhope commented on #1870
/area  IAM
/assign  @wansir
/milestone   2.1.1

[2020-02-14 04:08] liuyp2018 opened #1872 "User with workspace-manager +workspace-admin role cannot operate project and devops"
steps:
1. user with  workspace-manager + workspace-admin roles on workspaceA
2. user login system and enter workspaceA page
3. Verify the operation permission of the user on project and devops

Expect result:
user can operate project and devops in workspaceA

actual result：
user cannot operate project and devops in workspaceA

/assign @wansir
/kind bug
/area iam
/milestone 2.1.1

[2020-02-14 04:12] mayuhope commented on #1870
/assign @wansir

[2020-02-14 04:14] liuyp2018 commented on #1845
/colse

[2020-02-14 04:14] #1845 closed

[2020-02-14 04:15] liuyp2018 commented on #1872
![image](https://user-images.githubusercontent.com/36271543/74500978-a772f500-4f23-11ea-9b43-e91fedb203c0.png)

[2020-02-14 04:29] mayuhope opened #1873 "Project viewer role can edit and delete build images"
Test  steps：
1、The role of user user1 is cluster regular + workspace viewer + project viewer；
2、Login  with  user1；
3、Enter the project, enter the build image page；
4、Choose an image that has been built.

Test  results：
4、It was found that an operation bar was provided, and the editing information and deletion appeared after clicking, and the operation was successful，See this picture：

Expect resu

[2020-02-14 04:39] mayuhope commented on #1873
/assign @wansir
/kind bug
/area iam
/milestone 2.1.1

[2020-02-14 04:44] mayuhope opened #1874 "It is recommended that the task does not show the operation bar in the front when the operation is not authorized"
Test steps：
1、The role of user user1 is cluster regular + workspace viewer + project viewer；
2、Login with user1；
3、Enter the project, enter the application load-task page；

Test Results：
3、You will find the operation bar to the right of each task and when you operate it will report 403，However, there is no operation bar for scheduled tasks, so I want to cancel the operation bar of  task：
![image](

[2020-02-14 04:57] mayuhope commented on #1874
/assign @leoendless
/kind bug
/area console
/milestone 2.1.1

[2020-02-14 06:06] wansir commented on #1873
/assign @leoendless

If policy rules only have `s2ibuilders.view`，the button needs to be hidden.

[2020-02-14 06:10] wansir commented on #1872
To prepare for the next version, the special role of workspaces-manager  is no longer allowed to use beyond the cluster level.

[2020-02-14 06:14] wansir commented on #1870
/assign @leoendless

[2020-02-14 06:21] #1867 closed

[2020-02-14 06:24] huanggze commented on #1847
/kind need-to-verify

[2020-02-14 06:30] liuyp2018 commented on #1872
/close

[2020-02-14 06:30] #1872 closed

[2020-02-14 06:33] wansir commented on #1868
Paste the results of this command `kubectl -n kubesphere-system get cm ad-sync-config -o yaml`

[2020-02-14 06:37] wansir commented on #1868
@ZhangSIming-blyq  `ldap://` is not  not required

[2020-02-14 06:41] ZhangSIming-blyq commented on #1868
Thanks for your reply.
But if dont add ldap://, the error is:
[code]

[2020-02-14 06:42] leoendless opened #1876 "Delete alert policy not work in project"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
A clear and concise description of what the bug is.

**Versions Used**
KubeSphere: v2.1.1-dev
Kubernetes: (If KubeSphere installer used, you can skip this)

[2020-02-14 06:44] ZhangSIming-blyq commented on #1868
As you can see below:
![image](https://user-images.githubusercontent.com/58658883/74507803-6df8b480-4f38-11ea-921b-345898097301.png)

[2020-02-14 06:44] #1053 closed

[2020-02-14 07:00] wansir commented on #1868
So sorry, LDAP over SSL is not supported now.

[2020-02-14 07:10] ZhangSIming-blyq commented on #1868
OK，I'll try http, I'll update the result later.

[2020-02-14 07:26] liuyp2018 opened #1877 "user with workspace-manager role，the number of project displayed incorrect"
Testing premise:
userA has workspace-manager role
workspaceA has  2 projects

steps:
1.userA login system
2. find that the number of workspaceA's projects displayed in workspace page is 0
3. but click the workspaceA and enter workspaceA's page,find that the number of workspaceA's projects displayed in workspace page is 2

/assign @wansir
/kind bug
/area iam
/milestone 2.1.1

[2020-02-14 07:36] liuyp2018 commented on #1877
<img width="648" alt="123" src="https://user-images.githubusercontent.com/36271543/74510903-b4054680-4f3f-11ea-85d4-be18d80ff7c0.png">

[2020-02-14 08:01] wansir commented on #1877
The number in the workspace list indicates the number of projects that can be accessed. The workspaces manager cannot manage these projects, but the number in the workspace overview page indicates the total number of projects in the workspace.

[2020-02-14 08:04] runzexia opened #1878 "resource asc and desc order results are incorrect"
![image](https://user-images.githubusercontent.com/31230341/74512162-9f767d80-4f42-11ea-98f0-8d1723940fb2.png)
/kind bug
/area console
/area api
/milstone 2.1.1
Includes the following resources
- user
- role
- application
- apps
- app catlog
- app repo
- workspace
- namespace
- service
- sc
- sts
- secret
- s2ib
- s2ibt
- po
- pvc
- node
- job
- ingress
- hpa
- daemonsets
- deployments
- cronjobs

[2020-02-14 08:08] runzexia commented on #1878
/cc @wansir @leoendless

[2020-02-14 08:26] wansir commented on #1878
fixed: #1875 #1879

[2020-02-14 08:36] liuyp2018 opened #1880 "In Invite members to workspace page,only 10 records can be displayed at most"
<img width="742" alt="111" src="https://user-images.githubusercontent.com/36271543/74514633-f5015900-4f47-11ea-94ca-7850c21eb374.png">

/assign @leoendless
/kind bug
/area console
/milestone 2.1.1

[2020-02-14 08:38] huanggze commented on #1861
/milestone 3.0.0

[2020-02-14 08:38] huanggze commented on #1842
/milestone 3.0.0

[2020-02-14 08:46] leoendless commented on #1880
这里应当有下拉加载的功能，我本地测试可以触发下拉加载。你这里是什么测试环境呢

[2020-02-14 08:51] liuyp2018 commented on #1880
有下拉框，但是最多只能展示10条数据，不能展示超出10条的数据

[2020-02-14 08:59] liuyp2018 commented on #1880
浏览器版本：Microsoft Edge 44.18362.449.0

[2020-02-14 09:18] liuyp2018 opened #1881 "Select multiple members in the workspace , modify member roles ,then an error occurs"
![image](https://user-images.githubusercontent.com/36271543/74517917-fdf52900-4f4d-11ea-94d4-2830a3bcc29e.png)

/assign @leoendless
/kind bug
/area console
/milestone 2.1.1

[2020-02-14 09:25] leoendless commented on #1881
这里的原因是有成员的数据被修改了，但页面里的列表数据还是旧的

[2020-02-15 02:40] runzexia commented on #1878
![image](https://user-images.githubusercontent.com/31230341/74580433-3db82100-4fdf-11ea-898d-a0251d80eec1.png)
pod list sort by updateTime has some error

[2020-02-15 02:54] runzexia commented on #1847
/close

[2020-02-15 02:54] #1847 closed

[2020-02-15 03:53] runzexia commented on #1878
![image](https://user-images.githubusercontent.com/31230341/74581376-cb007300-4fe9-11ea-93f1-49403860e6bd.png)
job list

[2020-02-15 04:00] runzexia opened #1882 "The number of pod in the project details includes pod of all states"
![image](https://user-images.githubusercontent.com/31230341/74581430-45c98e00-4fea-11ea-8b68-ea9877759d08.png)
![image](https://user-images.githubusercontent.com/31230341/74581468-b2dd2380-4fea-11ea-91ee-a02a3b14c944.png)

In other pages, the running  pods is displayed.
Is the display here expected?
/cc @huanggze
/area monitoring
/milestone 2.1.1

[2020-02-15 07:59] ZhangSIming-blyq opened #1883 "Does kubesphere support "helm upgrade"?"
**Describe the Bug**
I can't find anywhere to upgrade my project chart?
In my scene, I deploy a project use my private helm chart from app repo.
When I update my code and push a new version helm chart to my app repo, I want to upgrade my project(before kubesphere, I only need to do helm upgrade command)，but I can't fan anywhere to do this thing?
Do kubesphere support upgrade the chart?
![image](ht

[2020-02-15 08:09] FeynmanZhou commented on #1883
@ZhangSIming-blyq  I guess this [guide](https://kubesphere.io/docs/v2.1/en/quick-start/app-store/) can answer your question. Please take a look at this tutorial, let me know if this can resolve your question or not.

[2020-02-15 08:18] runzexia commented on #1878
/closee

[2020-02-15 08:18] runzexia commented on #1878
/close

[2020-02-15 08:18] #1878 closed

[2020-02-16 04:55] liuyp2018 commented on #1880
/milestone 3.0.0

[2020-02-16 04:59] liuyp2018 commented on #1877
在3.0.0中待 workspace-manager角色功能优化后，再验证测试。
/milestone 3.0.0

[2020-02-17 01:22] FeynmanZhou opened #1884 "Failed to deploy EMQ X helm App"
@pengcong06 @zheng1
These two helm charts can be deployed successfully in KubeSphere v2.1.0, but failed to deploy in v2.1.1 after uploading by following with this [guide](https://kubesphere.com.cn/docs/v2.1/zh-CN/quick-start/app-store/#%E4%B8%8A%E4%BC%A0%E5%BA%94%E7%94%A8%E6%8F%90%E4%BA%A4%E5%AE%A1%E6%A0%B8).

- [emqx-v1.0.0-beta.1.tgz (Please download)](https://github.com/kubesphere/tutorial/raw/

[2020-02-17 01:38] FeynmanZhou commented on #1862
@leoendless
one more error log outputs:

when I upload a picture, then I remove it from the list, it displays as following screenshot:

![image](https://user-images.githubusercontent.com/40452856/74617651-39b80a80-5169-11ea-9555-353b68b79d49.png)

[2020-02-17 01:56] calvinyv commented on #1882
/assign @leoendless @huanggze @Carlosfengv should we add 'running' text on the column title?

[2020-02-17 02:02] #1015 closed

[2020-02-17 02:05] huanggze commented on #1882
the same with https://github.com/kubesphere/kubesphere/issues/1861

[2020-02-17 02:18] calvinyv commented on #1884
@FeynmanZhou I think you should post this issue to emq, not to ks, they should upgrade their chart to support 1.16

[2020-02-17 02:44] zheng1 commented on #1884
This is not the bug of KubeSphere.
But we can notice the user "cannot deploy the legacy version" before him/her click the "Deploy" button.

/milestone 3.0.0

[2020-02-17 02:45] ZhangSIming-blyq commented on #1883
Hi, FeynmanZhou.
Thanks for your reply, after total read your tutirual, I think your suggestion seems ill-suited for my scene.

In my situation, I use **app repo** to connect my own chartmuseum, and use charts in it.Not upload chart file to **App Templatle**.
Since I see **App Template** may have some way to upgrade, is there any way to upgrade chart in app repo?
![image](https://user-images.githu

[2020-02-17 02:45] zheng1 commented on #1564
Fixed in 2.1.1

/close

[2020-02-17 02:45] #1564 closed

[2020-02-17 02:46] leoendless commented on #1862
@pengcong06 @zheng1  it seems like a backend error occured

[2020-02-17 06:22] ZhangSIming-blyq commented on #1883
Maybe I need this place be "upgrade" but not deploy a new application?
![image](https://user-images.githubusercontent.com/58658883/74628520-d7730000-5190-11ea-8635-95519d99a55f.png)

[2020-02-17 08:06] ZhangSIming-blyq commented on #1868
Finally I inject ldap to kubesphere by using another ldap server without ssl, thanks.
But it seems still have some problem.
**Here is my config:**
[code]

**Here is my ldap server like:**
![image](https://user-images.githubusercontent.com/58658883/74634515-f7112500-519e-11ea-810f-bf004e114127.png)

It is obviously I add user "zhangsiqi" in project "devpi. but as a result, I didn't see the accout s

[2020-02-17 08:56] wansir commented on #1868
The default synchronization interval is 300s.

[2020-02-17 10:27] ZhangSIming-blyq commented on #1868
Ok, I see.

[2020-02-17 11:08] mayuhope commented on #1874
经验证已修复

[2020-02-17 11:08] #1874 closed

[2020-02-17 11:13] mayuhope commented on #1856
经验证已修复

[2020-02-17 13:01] #1856 closed

[2020-02-17 13:20] BigFatDog opened #1885 "Error occurred during installing helm chart"
**Describe the Bug**
Error occurred during installing helm chart `bitnami/mongodb-sharded`
Always get error `error":"校验失败","code":3` even using chart's default configuration

**Versions Used**
KubeSphere AE v2.0.2
**Environment**
CentOS 7.5 / 1 master:  8cpu/16g; 2 nodes: 8cpu/16g

**How To Reproduce**
1. Go to '平台管理'
2. Click on '添加应用仓库'
3. Wait for dialog open, then input `charts.bitnami.com/bit

[2020-02-17 13:31] zheng1 opened #1886 "Default StorageClass conflict in 2.1.1"
**Describe the Bug**
[code]

**Versions Used**
KubeSphere: 2.1.1

**Environment**
How many nodes and their hardware configuration:

CentOS 7.5 / 1 masters:  8cpu/8g; 3 nodes: 8cpu/16g at AliCloud

**How To Reproduce**
Steps to reproduce the behavior:
1. Install 2.1.0 and enable default local storage
2. Update to 2.1.1 and config AliCloud CSI
3. After installation going done
4. Goto KubeSphere Cons

[2020-02-17 13:35] DevYukine commented on #1368
Hey,

i actuall just found out about this an it looks very promising.

But i do have something for the 3.0.0 Release, currently Kubesphere only supports Kubernetes up to version 1.15, since the latest is 1.17 and my cluster already uses that i sadly can't try this out. Also i saw in the readme that Helm 3 is planned for 3.0.0 but its also not written down in here :).

[2020-02-17 14:33] rayzhou2017 commented on #1368
KubeSphere supports K8s 1.16 in the upcoming 2.1.1 release which is under intensively testing now. It might support K8s 1.17 too but we are short of hands to test it thoroughly. This note of plans is just general ideas about next steps, which means we only put big things here. The roadmap is the details tasks to do for next releases. BTW, Helm 3 will be supported in KubeSphere 3.0.

[2020-02-17 15:19] FeynmanZhou opened #1887 "Add "Weekly Report of GitHub Statistics""
@zryfish
**Weekly Report of GitHub Statistics** like [this issue](https://github.com/wuhan2020/wuhan2020/issues/375) is very helpful in **community growth,** I hope we can add this feature in Robot, which can help to generate weekly report in Github issue. I guess this [project](https://github.com/alibaba/collabobot) is designed for this need.

![image](https://user-images.githubusercontent.com/40

[2020-02-17 16:37] chinazj opened #1888 "Unable to mount volumes for pod ks-jenkins"
Unable to mount volumes for pod ks-jenkins

**Environment: OS & Hardware Information**
centos7 4cpu/8G
centos7 2cpu/8G
centos7 2cpu/8G

**Error logs or message (Attach logs or screenshot)**

[code]
node2(10.55.56.203)
[code]

**Installer Version**
 v2.1.0

[2020-02-18 01:15] huanggze commented on #1882
/milestone 3.0.0

[2020-02-18 02:39] mayuhope commented on #1873
经验证已修复

[2020-02-18 02:39] #1873 closed

[2020-02-18 02:56] FeynmanZhou commented on #1747
Verified

[2020-02-18 02:56] #1747 closed

[2020-02-18 03:07] FeynmanZhou commented on #1542
Verified

[2020-02-18 03:07] #1542 closed

[2020-02-18 03:26] wnxn commented on #1886
/area storage
/area console

[2020-02-18 03:27] wnxn commented on #1886
@leoendless In KS 2.11, please use the new api to set default storage class (https://github.com/kubesphere/kubesphere/pull/1757).

[2020-02-18 03:35] runzexia commented on #1858
/close

[2020-02-18 03:35] #1858 closed

[2020-02-18 03:56] pixiake commented on #1888
1.  看下ks-installer日志
2. helm del --purge ks-jenkins   如果要重装，建议先删掉release

[2020-02-18 04:15] mayuhope commented on #1849
/kind  bug

[2020-02-18 06:11] FeynmanZhou commented on #1862
This issue still exit.
![image](https://user-images.githubusercontent.com/40452856/74708802-79a9eb00-5258-11ea-93e0-7e68cde37f62.png)

[2020-02-18 06:11] liuyp2018 commented on #1881
去掉了批量修改成员角色的功能
/colse

[2020-02-18 06:11] #1881 closed

[2020-02-18 06:21] ZhangSIming-blyq opened #1889 "How to inject existing prometheus and EFK to kubesphere?"
**What's your question**
![image](https://user-images.githubusercontent.com/58658883/74709218-9abf0b80-5259-11ea-8fab-54e9b4b4993c.png)
I want to inject my own prometheus to kubesphere, not deploy a new one, can anyone give my some suggestion? I use ks-installer to deploy kubesphere over my kubernetes cluster.

**Environment: OS & Hardware Information**

ks-install: v2.1.0
Ubuntu 18.04

[2020-02-18 09:31] ZhangSIming-blyq opened #1891 "Can kubesphere create workspace role?"
**What's your question**
![image](https://user-images.githubusercontent.com/58658883/74722676-4bd29f80-5274-11ea-8d45-e34ee398049e.png)
I can't find anywhere to create workspace role(not cluster role)

**Environment: OS & Hardware Information**

**Installer Version**

[2020-02-18 10:21] wansir commented on #1891
It's a new feature in 3.0.

[2020-02-18 10:33] ZhangSIming-blyq commented on #1891
Ok. thanks~

[2020-02-18 10:33] #1891 closed

[2020-02-18 12:31] ZhangSIming-blyq opened #1892 "workspace App Templates can't parse value.yaml file"
**Describe the Bug**
workspace App Templates can't parse value.yaml file
1.click app template
![image](https://user-images.githubusercontent.com/58658883/74736262-4cc3fb00-528d-11ea-9313-651449dc79e2.png)
2.use a passed template
![image](https://user-images.githubusercontent.com/58658883/74736290-5c434400-528d-11ea-8e93-4eebbca825b6.png)
3.failed to parse the value.yaml file
![image](https://user-

[2020-02-18 12:33] ZhangSIming-blyq commented on #1892
Every components worked fine.
![image](https://user-images.githubusercontent.com/58658883/74736502-dc69a980-528d-11ea-8527-60e0a3d9d4ae.png)

[2020-02-18 12:37] huanggze commented on #1889
You may get help from the system design and development guide for ks monitoring component (work-in-progress).

https://github.com/kubesphere/kubesphere/blob/4edf909c2f1acae8e2ae28d577a5e38558951dfc/docs/en/concepts-and-designs/kubesphere-monitoring.md

https://github.com/kubesphere/kubesphere/blob/4edf909c2f1acae8e2ae28d577a5e38558951dfc/docs/en/guides/kubesphere-monitoring-development-guide.md

[2020-02-18 13:06] huanggze commented on #1889
/help wanted
/area monitoring

[2020-02-18 13:06] huanggze commented on #1889
/milestone 3.1.0

[2020-02-18 13:58] ellaye commented on #1807
fixed
/close

[2020-02-18 13:58] #1807 closed

[2020-02-18 16:54] zheng1 opened #1893 "csi-tencentcloud-cbs pod error"
**Describe the Bug**
[code]

![截屏2020-02-1900 36 52](https://user-images.githubusercontent.com/4156721/74758335-282e4a00-52b2-11ea-837f-e99fe018c21d.png)
![截屏2020-02-1900 53 29](https://user-images.githubusercontent.com/4156721/74758393-409e6480-52b2-11ea-9362-3e3cfe24ce31.png)

**Versions Used**
KubeSphere: v2.1.1
Kubernetes: v1.16.7

[2020-02-18 16:58] zheng1 commented on #1893
/area storage
/assign @wnxn
/kind bug

[2020-02-19 01:53] calvinyv commented on #1893
/assign @bmingithub
/assign @pixiake

[2020-02-19 01:54] calvinyv commented on #1893
/area installation

[2020-02-19 02:15] calvinyv commented on #1892
/assign @pengcong06

[2020-02-19 02:17] calvinyv commented on #1886
/kind bug

[2020-02-19 02:17] calvinyv commented on #1886
/priority medium

[2020-02-19 02:22] calvinyv commented on #1885
please make sure if this chart is compatible with current Kubernetes, KubeSphere could only make sure the 9 apps in its integrated default repo could be deployed, but there're thousands of charts outside, their developer may miss testing his app on different K8s

[2020-02-19 02:37] justahole commented on #1205
/kind need-to-verify

[2020-02-19 02:39] huanggze commented on #1536
fixed

[2020-02-19 03:02] wnxn commented on #1886
Need to merge #1890

[2020-02-19 04:28] mayuhope commented on #1849
安装最新的installer测试，经验证已修复

[2020-02-19 04:28] #1849 closed

[2020-02-19 04:55] mayuhope commented on #1436
安装最新的installer测试，已修复

[2020-02-19 04:55] #1436 closed

[2020-02-19 06:08] mayuhope commented on #1870
安装最新的installer测试，验证此问题已修复

[2020-02-19 06:08] #1870 closed

[2020-02-19 06:11] #1272 closed

[2020-02-19 06:31] chinazj commented on #1888
OK 弄好了

[2020-02-19 06:31] #1888 closed

[2020-02-19 06:42] rayzhou2017 opened #1895 "Project role has no tips for description"
* [x] When invite member to the project and choose role, there is no tips to show full description which is truncated.
<img width="634" alt="Screen Shot 2020-02-19 at 2 40 04 PM" src="https://user-images.githubusercontent.com/28859385/74808514-f787f800-5325-11ea-9723-a346e31b767f.png">

[2020-02-19 08:41] bmingithub commented on #1893
fix by [installer pr](https://github.com/kubesphere/ks-installer/pull/642)
/need-to-verify

[2020-02-19 08:53] wnxn commented on #1893
/kind need-to-verify

[2020-02-19 09:40] soulseen opened #1896 "some service components without description"
**Describe the Bug**
`mysql,mimo,etcd...`etc, without description.

![image](https://user-images.githubusercontent.com/16031013/74821298-58232f00-533e-11ea-8a0f-1dcccb9c6f2e.png)

/priority low
/milestone 2.1.1
/cc @leoendless

[2020-02-19 09:41] soulseen commented on #1896
/assign @leoendless

[2020-02-19 09:48] leoendless commented on #1896
Duplicated with https://github.com/kubesphere/kubesphere/issues/1167

[2020-02-19 09:48] #1896 closed

[2020-02-19 13:56] BigFatDog commented on #1885
I don't think this is the right way of doing things.

If you tell me that your team are not willing to support this specific chart or even the entire `bitnami repo`, I'm OK with that.
If you tell me this issue won't be taken care because nobody gets spare time for it, I'm OK with that.
I'm also willing to contribute with some help from your team.

It is all because this is open-source, I value dev

[2020-02-19 14:11] rayzhou2017 commented on #1885
I think there is a misunderstanding here.  @calvinyv means there are only nine apps tested for the current KubeSphere releases. He does not mean KubeSphere team won't support other apps from any well-known repo. But it takes time to figure out the problem and mostly like gets fixed in next releases either by KubeSphere development team or by community contributors.

[2020-02-19 14:15] rayzhou2017 commented on #1885
@pengcong06 @zheng1 Please take a look at this issue. Thanks.

[2020-02-19 14:26] BigFatDog commented on #1885
To me that's a clear statement of requiring somebody do something.
As a developer, the only way that I know is to  *make sure* is to setup a `k8s + helm` environment with exactly the same version as `kubesphere` currently has and then do testing.

I appreciate your help here, I just keep my original opinions unchanged.

Thank you for your rapid rely and efforts on trying to resolve this issue!

[2020-02-19 14:44] zheng1 commented on #1885
![截屏2020-02-1922 40 19](https://user-images.githubusercontent.com/4156721/74844913-283d5100-5369-11ea-9bf4-eab2bcc78359.png)
![截屏2020-02-1922 42 08](https://user-images.githubusercontent.com/4156721/74844925-2d9a9b80-5369-11ea-9c50-661f79fa825d.png)

I think this may be a bug in KubeSphere v2.0.2, I did not reproduce this issue in v2.1.0

[2020-02-19 15:06] FeynmanZhou commented on #1885
@BigFatDog
This is a bug in KubeSphere v2.0.2, I can deploy this App successfully in KubeSphere 2.1.0. We recommend you to upgrade to 2.1.0, which is much stable and feature-rich.

![image](https://user-images.githubusercontent.com/40452856/74846747-fb3e6d80-536b-11ea-80e5-86e7b1e42b24.png)

![image](https://user-images.githubusercontent.com/40452856/74846832-20cb7700-536c-11ea-8e3b-ccafe1528592.p

[2020-02-19 15:42] BigFatDog commented on #1885
Got it.
Thank you guys.

[2020-02-19 16:33] BigFatDog commented on #1885
One more question regards with the upgrade.

I have gone through the [upgrade reference doc](https://kubesphere.io/docs/v2.1/zh-CN/installation/upgrade/). According to the doc, two config files of my current installation are essential for the upgrade:  `conf/hosts.ini` and `conf/vars.yaml`, but I'm not able to find them.

I created k8s cluster via QingCloud's `AppCenter 应用 -> Kubesphere (QKE)应用 ->

[2020-02-20 01:49] rayzhou2017 commented on #1885
The file `con/vars.yaml` in **v2.0.2**. was changed to `conf/common.yaml` since **v2.1.0** because we redesigned the installer in order to make it pluggable for cloud providers.

[2020-02-20 02:01] rayzhou2017 commented on #1885
Although QKE is based on KubeSphere, it is different than the open source one. You will find the upgrade button in the console once we publish the new version of QKE, which means you don't need to do anything except click the upgrade button.

[2020-02-20 02:15] BigFatDog commented on #1885
That's all I need.  Thank you so much.

[2020-02-20 02:15] #1885 closed

[2020-02-20 03:22] soulseen opened #1897 "s2i app image run error if use cache volume"
**Describe the Bug**
ref https://kubesphere.com.cn/forum/d/797-s2i-django/7

the `docker commit` operation will not include any data contained in volumes mounted inside the container. app image will run error if not use runtime image because it does not have any dependencies.

/kind bug
/assign @soulseen
/milestone 3.0.0
/area devops

[2020-02-20 03:48] zheng1 commented on #1883
/milestone 3.0.0
/area app-management
/kind feature-request

[2020-02-20 03:48] zheng1 commented on #1883
/assign @pengcong06

[2020-02-20 05:39] zheng1 commented on #1893
/close

[2020-02-20 05:39] #1893 closed

[2020-02-20 07:16] rayzhou2017 opened #1898 "After create an app based on template, jump to wrong page"
* [x] It jumps to the page of composing app list, confusing users.
<img width="1157" alt="Screen Shot 2020-02-20 at 2 44 37 PM" src="https://user-images.githubusercontent.com/28859385/74909738-e6a5b800-53f3-11ea-8fa9-833dcaa9f08f.png">

[2020-02-20 07:17] huanggze opened #1899 "Workload revision yaml presentation misses some meta fields"
Each revision is actually a ReplicaSet object, so there should be `apiVersion`, `kind`, etc. in yaml. But that content disappears on console, making the look very weird.

![image](https://user-images.githubusercontent.com/22350668/74909851-210f5500-53f4-11ea-8f20-142c3500ce38.png)

![image](https://user-images.githubusercontent.com/22350668/74909557-89116b80-53f3-11ea-8adc-f118cedd2d5b.png)

![ima

[2020-02-20 07:19] huanggze commented on #1899
/milestone 3.0.0
/assign @leoendless

[2020-02-20 07:20] rayzhou2017 opened #1900 "Deploy Grafana from template"
Follow the guide https://kubesphere.com.cn/docs/v2.1/en/quick-start/one-click-deploy/, encounter the problems as below,

* [x] the default version of Grafana is the oldest one. Should be the latest one.
![WechatIMG36858](https://user-images.githubusercontent.com/28859385/74909938-4dc36c80-53f4-11ea-8986-00c4f9f0fd9b.jpeg)

* [ ] when deploy the oldest one, it won't work and no msg showing. It shou

[2020-02-20 07:20] FeynmanZhou opened #1901 "The sort order of App versions needs to be reversed"
Import a repo, then deploy Apps from this repo, you will find the sort order of App versions is not correct, it should be sorted by the latest version.
![image](https://user-images.githubusercontent.com/40452856/74909727-e0afd700-53f3-11ea-9652-685e97cbf361.png)

[2020-02-20 07:21] #1901 closed

[2020-02-20 07:22] zheng1 commented on #1900
[code]
/assign @pengcong06

[2020-02-20 07:24] huanggze commented on #1899
/area console

[2020-02-20 08:21] xingchen360 opened #1902 "kubesphere2.1存储卷扩容后显示的容量没有变"
kubesphere2.1
项目里面=》存储卷=》更多操作里面=》存储卷扩容
修改了容量，但是外面的显示还是原来的大小，但是再次点击存储卷扩容按钮里面的横条是修改后的大小，这到底改成功了还是失败了。

![WechatIMG12006](https://user-images.githubusercontent.com/28859385/74914570-a21f1a00-53fd-11ea-8eb1-7de2c9cd5a4f.png)

[2020-02-20 08:28] rayzhou2017 opened #1903 "web socket for application status"
* [ ] It should support animation for application status
<img width="1203" alt="Screen Shot 2020-02-20 at 4 23 36 PM" src="https://user-images.githubusercontent.com/28859385/74914733-e9a5a600-53fd-11ea-8065-1faaf151aad5.png">

[2020-02-20 08:45] rayzhou2017 opened #1904 "The status is not consistent"
* [ ] The status wording of app from template and from composing way is different. One is `active`, the other one is `Ready`

[2020-02-20 08:49] wnxn commented on #1902
在 KubeSphere 2.1 里， KubeSphere 扩容功能仅支持 QingCloud 云平台块存储，NFS 没有支持扩容功能 https://kubesphere.com.cn/docs/v2.1/zh-CN/installation/storage-configuration/

[2020-02-20 08:51] rayzhou2017 commented on #1902
你扩容这个按钮没有变灰或者屏蔽掉吗？对不能扩容的需要处理一下

[2020-02-20 08:57] wnxn commented on #1902
屏蔽功能是在 KS 3.0 统一存储管理功能里的，需要把各种类型存储统一考虑。
KS 2.1 扩容功能可以在前端限制，仅允许 storageclass provisioner 字段符合条件的放行。

[2020-02-20 09:51] justahole commented on #1902
是否禁止这个按钮是根据创建 storageclass 是写入值来判断的。
不过前端缺少相应的日志，这边确实需要提示用户。

[2020-02-21 02:06] rayzhou2017 opened #1905 "authority changed to authorization"
* [x] Please change the word from authority to authorization in the role customization step

[2020-02-21 02:14] huanggze commented on #1256
not fixed yet

/remove-kind need-to-verify

[2020-02-21 02:49] whDongRui commented on #1631
/kind need-to-verify

[2020-02-21 02:58] ellaye commented on #1609
/close

[2020-02-21 02:58] #1609 closed

[2020-02-21 06:13] rayzhou2017 opened #1906 "log app management out goes to wrong page"
* [x] when log out from the app management, it stays on the same page which is incorrect. Only App Store has such behaviour. Other pages should go to the login page.
<img width="1232" alt="Screen Shot 2020-02-21 at 2 09 59 PM" src="https://user-images.githubusercontent.com/28859385/75008904-3e0b5d00-54b4-11ea-87c2-6399bd38b2af.png">

[2020-02-21 06:15] rayzhou2017 opened #1907 "The app number is incorrect"
* [x] There are only nine built-in apps, but it shows 292.
<img width="884" alt="Screen Shot 2020-02-21 at 2 04 34 PM" src="https://user-images.githubusercontent.com/28859385/75009098-be31c280-54b4-11ea-8580-420cf6f2ec5c.png">

[2020-02-21 06:23] zheng1 commented on #1907
/assign @wansir

[2020-02-21 06:48] ellaye opened #1909 "After change the url of app repository, it is display the previous app when choose the app repo"
reproduce steps:
1、create an app repo which named demo-repo in workspace, the URL is "https://repos.emqx.io/charts"
2、change the URL to "https://helm-chart-repo.pek3a.qingstor.com/kubernetes-charts"
3、switch to namespace, deploy a application with app template
4、select demo-repo from the dropdown list
expected result: it is display the apps which is in the repo "https://helm-chart-repo.pek3a.qings

[2020-02-21 06:49] ellaye commented on #1909
/kind bug
/area app-management
/milestone 2.1.1
/assign @zheng1

[2020-02-21 06:56] ellaye opened #1910 "The sonar token is lost when upgrade from ks2.1.0 to ks2.1.1"
reproduce steps:
1. install ks2.1.0
2.login sonarqube and generate token
3.create a scm pipeline
4.upgrade to ks2.1.1
5.run the scm pipeline
excepted result: the pipeline is ok
actual result: sonarqube error
error info: [ERROR] Failed to execute goal org.sonarsource.scanner.maven:sonar-maven-plugin:3.6.0.1398:sonar (default-cli) on project devops-sample: Not authorized. Please check the properties

[2020-02-21 06:58] ellaye commented on #1910
/kind bug
/area installation
/area devops
/milestone 2.1.1
/assign @pixiake @runzexia

[2020-02-21 08:01] huanggze opened #1911 "CronJob name should not exceed 52 character"
Get error if naming a CronJob as `0123456789abcdefghijklmnopqrstuvwxyz0123456789aaaaaaaaaa` (56 characters)

![image](https://user-images.githubusercontent.com/22350668/75015321-47e88c80-54c3-11ea-8eb8-df1d5ecdcc9d.png)

![image](https://user-images.githubusercontent.com/22350668/75015232-14a5fd80-54c3-11ea-9cea-80c9bef8a62f.png)

![image](https://user-images.githubusercontent.com/22350668/7501517

[2020-02-21 08:03] huanggze commented on #1911
/area console
/kind bug
/assign @leoendless
/milestone 2.1.1

[2020-02-21 09:31] zheng1 commented on #1909
/kind need-to-verify

[2020-02-21 12:01] rayzhou2017 opened #1912 "pipeline logs have wrong author"
* [ ] When open the scan repo logs, it shows `Started By: undefined`
<img width="963" alt="Screen Shot 2020-02-21 at 7 58 28 PM" src="https://user-images.githubusercontent.com/28859385/75033041-eafdce00-54e4-11ea-941e-8716e6671910.png">

[2020-02-21 12:38] rayzhou2017 opened #1913 "Pipeline should throw error msg"
* [ ] In all-in-one, when CPU is insufficient, the pipeline is in queued status without any msg, which confuses users.
<img width="1195" alt="Screen Shot 2020-02-21 at 8 04 15 PM" src="https://user-images.githubusercontent.com/28859385/75035245-061f0c80-54ea-11ea-81bc-9698db5a3a63.png">

[2020-02-21 13:10] runzexia opened #1914 "sonar token renew need update jenkins deploy"
/assign @pixiake  @runzexia
/area installer
/area devops
/milestone 2.1.1
/kind bug

Token need to pass to jenkins,  If not passed, it will make jenkins call sonaruqbe api 401 error

[2020-02-21 13:22] runzexia commented on #1914
/area installation

[2020-02-21 13:37] runzexia commented on #1913
This problem is not easy to solve in 2.1.1.
When the pipeline is in the queue state, Jenkins will determine whether to start a new agent. The binding relationship between the pipeline and the agent will not be established until the agent is ready.
This makes it inconvenient for us to directly use the API to view the status of the agent corresponding to the pipeline.

[2020-02-21 15:13] FeynmanZhou opened #1916 "Modify the jenkins email configuration"
The  default value of `EMAIL_SMTP_PORT` within dpeloyment `ks-jenkins` needs to be changed to `25`, instead of `465`, since [25 is much popular](https://blog.csdn.net/hssdw25172008/article/details/8729469)

[2020-02-22 01:57] soulseen commented on #1916
port `25` used in SMTP, SMTPS uses `465` by default. and the default value of `EMAIL_SMTP_PORT` just an example, if users want to use email will change it.

[2020-02-22 06:19] ellaye opened #1917 "It is not work when query by application"
reproduce steps:
1、in one namespace, deploy bookinfo application
2、query by appication in pods query，input bookinfo, press enter key
expected result: there are pods display
actual result: no pods display
![image](https://user-images.githubusercontent.com/57089340/75087649-3c0dd080-557e-11ea-8ede-5ef4cdd612b3.png)
![image](https://user-images.githubusercontent.com/57089340/75087652-44fea200-557e-11

[2020-02-22 06:20] ellaye commented on #1917
/kind bug
/area console
/area apiserver
/milestone 2.1.1
/assign @leoendless @wansir

[2020-02-22 08:54] FeynmanZhou opened #1918 "Can't invite members into DevOps project"
- [ ] I use `project-admin` to create a devops projet in v2.1.0. Then I upgraded from 2.1.0 to 2.1.1. Now I got this error as following screenshot when I invite members into DevOps project.
![image](https://user-images.githubusercontent.com/40452856/75089325-85681b00-5592-11ea-9090-49b9f32bd922.png)

- [ ]  I use `admin` to create a pipeline in the same DevOps project, but the `project-admin` can'

[2020-02-22 11:33] zheng1 commented on #1900
- [x] "the default version of Grafana is the oldest one. Should be the latest one." which is fixed in 2.1.1
- [ ] "when deploy the oldest one, it won't work and no msg showing. It should throw error msg", will be fixed in 3.0.0

[2020-02-22 11:45] wansir commented on #1918
/assign @runzexia

[2020-02-22 11:49] wansir commented on #1907
/kind need-to-verify

[2020-02-22 12:12] runzexia commented on #1918
ref https://kubesphere.com.cn/forum/d/283-jenkins

[2020-02-22 12:12] runzexia commented on #1918
/milestone 3.0.0

[2020-02-22 12:24] rayzhou2017 commented on #1907
verified

[2020-02-22 12:24] #1907 closed

[2020-02-22 12:26] rayzhou2017 commented on #1905
verified

[2020-02-22 12:26] #1905 closed

[2020-02-22 12:29] rayzhou2017 commented on #1906
verified

[2020-02-22 12:29] #1906 closed

[2020-02-22 12:32] rayzhou2017 commented on #1895
verified

[2020-02-22 12:32] #1895 closed

[2020-02-22 12:39] rayzhou2017 commented on #1898
verified

[2020-02-22 12:39] #1898 closed

[2020-02-22 12:47] rayzhou2017 commented on #1019
verified

[2020-02-22 12:47] #1019 closed

[2020-02-23 03:00] zheng1 commented on #1730
/close

[2020-02-23 03:00] #1730 closed

[2020-02-23 09:11] ellaye commented on #1910
fixed
/close

[2020-02-23 09:11] #1910 closed

[2020-02-23 09:19] ellaye opened #1919 "The project-admin cannot enter in demo-project when upgrade ks from ks2.1.0 to ks2.1.1"
reproduce steps:
1. installer ks2.1.0
2. create project-admin account
3. log in kubesphere with project-admin
4. create a namespace named demo-project
5. upgrade to ks2.1.1
6. log in kubesphere with project-admin
expected result: can see demo-project
actual result: cannot see demo-project

[2020-02-23 09:20] ellaye commented on #1919
/kind bug
/milestone 2.1.1
/assign @wansir

[2020-02-23 13:05] ellaye commented on #1917
fixed
/close

[2020-02-23 13:05] #1917 closed

[2020-02-23 13:12] ellaye commented on #1909
fixed
/close

[2020-02-23 13:12] #1909 closed

[2020-02-24 03:16] randaliang commented on #1368
when will 3.0.0 Release?

[2020-02-24 05:27] rayzhou2017 commented on #1368
the middle of May.

[2020-02-24 09:32] runzexia commented on #1914
/close

[2020-02-24 09:32] #1914 closed

[2020-02-24 11:14] leeon1982 opened #1921 "How to use exist system data when cluster reboot?"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**

**Environment: OS & Hardware Information**

**Error logs or message (Attach logs or screenshot)**

**Installer Version**

[2020-02-24 14:38] calvinyv commented on #1921
@leeon1982 could you give more detail about your question? what kind of data for re-use purpose? we did recovering test, something like that restarting master or worker node to check if our core processes could restart automatically and related config data is not lost.

[2020-02-24 14:56] leeon1982 commented on #1921
Kubesphere was installed,but the server down for some reason,how to start the master and worknode with exist configure?

[2020-02-25 01:24] calvinyv commented on #1921
/assign @pixiake @Forest-L pls help to take care this question, I thought ks installer set all necessary assets as auto-boot after system reboot, like kubelet, docker..etc, isn't is?

[2020-02-25 01:24] calvinyv commented on #1921
/assign @pixiake @Forest-L

[2020-02-25 01:39] pixiake commented on #1921
docker and kubelet can auto reboot

[2020-02-25 01:41] leeon1982 commented on #1921
which command? @pixiake

[2020-02-25 02:02] leeon1982 commented on #1921
kubesphere v2.1,storage class is nfs，which command can restart master and worknode?

[2020-02-25 02:28] Forest-L commented on #1921
systemctl enable docker;systemctl enable kubelet

[2020-02-25 07:55] minghaoye commented on #1912
fixed
/close

[2020-02-25 07:55] #1912 closed

[2020-02-25 08:42] leeon1982 commented on #1921
everyting is ok,kubelet service bring up all kubesphere containers,thanks!

[2020-02-25 08:42] #1921 closed

[2020-02-26 01:01] titou10titou10 opened #1925 "ks-account pod in CrashLoopBackOff after fresh install of kubesphere v2.1.1"
**Describe the Bug**
I install kubesphere v2.1.1 on a fresh install of rke v1.0.4.
Everything seems OK except the`"ks-account"`pod that is in`"CrashLoopBackOff"` mode.
The pod fail with`"create client certificate failed: <nil>"`

I can display the console login page but can't login, it fails with`"unable to access backend services"`
I did the procedure twice after resetting the nodes..and the rke

[2020-02-26 02:13] zryfish commented on #1925
Can you paste yaml of kube-apiserver ? We suspect it's related to root certificate.

[2020-02-26 02:29] titou10titou10 commented on #1925
what do you mean by`"kube-apiserver"`Do you mean the pod`"ks-apiserver"`?

[2020-02-26 02:32] zryfish commented on #1925
no, k8s component `kube-apiserver` , normally you get yaml using following command
[code]
please paste content you got above

[2020-02-26 02:43] titou10titou10 commented on #1925
There is no pod with a name like kube-apiserver...
There is a docker container running on each master

    kubectl -n kube-system get pods -o wide
    NAME                                      READY   STATUS      RESTARTS   AGE     IP             NODE      NOMINATED NODE   READINESS GATES
    canal-69rm4                               2/2     Running     0          3h39m   192.168.5.42   master1

[2020-02-26 02:46] titou10titou10 commented on #1925
Here is the beginning of the logs of the container kube-apiserver on the first master

docker logs kube-apiserver
    + echo kube-apiserver --client-ca-file=/etc/kubernetes/ssl/kube-ca.pem --etcd-cafile=/etc/kubernetes/ssl/kube-ca.pem --proxy-client-cert-file=/etc/kubernetes/ssl/kube-apiserver-proxy-client.pem --tls-private-key-file=/etc/kubernetes/ssl/kube-apiserver-key.pem --tls-cipher-suites=TL

[2020-02-26 02:54] titou10titou10 commented on #1925
From master1:

    docker ps
    IMAGE                                 COMMAND                NAMES
    70eeaa7791f2                          "./kube-rbac-proxy..." k8s_kube-rbac-proxy_node-exporter-tqdx7_kubesphere-monitoring-system_ee6cafba-151d-4900-bb74-c3be02fc9d88_0
    c6eb612e18e4                          "/bin/node_exporte..." k8s_node-exporter_node-exporter-tqdx7_kubesphere-monitoring-sy

[2020-02-26 03:12] zryfish commented on #1925
KubeSphere using csr to issue kubeconfig to each user, that needs extra configuration on kube-apiserver, refer to https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#a-note-to-cluster-administrators. A standard Kubernetes cluster is enabled by default, but didn't see this on a rke cluster per your comment. So you need to add this manually.

[2020-02-26 07:25] huanggze opened #1926 "Cluster Status shows completed minio job as unhealthy component"
issue from forum: https://kubesphere.com.cn/forum/d/829-minio/4

**How To Reproduce**
Steps to reproduce the behavior:
1. Install KubeSphere with minimal setup
2. Switch on openpitrix component
3. Go to console main page
4. See error

![image](https://user-images.githubusercontent.com/22350668/75321574-fd448700-58ab-11ea-8779-889d5f0227b6.png)

![image](https://user-images.githubusercontent.com/22

[2020-02-26 07:26] huanggze commented on #1926
/assign @wansir
/kind bug
/milestone 3.0.0

[2020-02-26 11:32] rayzhou2017 opened #1927 "English Typo"
* [ ] In the step **Container Image** when creating a deployment, it shows `Run cammand`. It should be `Run Command`
<img width="686" alt="Screen Shot 2020-02-26 at 7 30 09 PM" src="https://user-images.githubusercontent.com/28859385/75341206-e6fbf280-58ce-11ea-92ec-2843e2a2a78f.png">

[2020-02-26 13:01] titou10titou10 commented on #1925
Thanks for the diagnostic. I have found a post on [how to activate the CSR signing feature in rke](https://github.com/rancher/rke/issues/546)
I will test it later today
IMHO the documentation about installing kubesphere on an eisting k8s should state that this is  a prerequisite to have the CSR signing feature activated in kube-apiserver
https://kubesphere.io/en/install
https://github.com/kubesphe

[2020-02-26 13:05] FeynmanZhou commented on #1925
@titou10titou10  Good suggestion, it's necessary to mention it for the on-premise Kubernetes like RKE, we will add CSR in prerequisite.

Please let us know if you install KubeSphere on RKE successfully.

Regards,
Feynman

[2020-02-26 23:31] titou10titou10 commented on #1925
It Works!
Thanks
I uninstall/reinstall rke + kubsphere
For reference, I adde in the rke cluster config file the following:

    services:
      kube-controller:
        extra_args:
          cluster-signing-cert-file: /etc/kubernetes/ssl/kube-ca.pem
          cluster-signing-key-file: /etc/kubernetes/ssl/kube-ca-key.pem

As said before, the doc must be updated to include the activation of the CSR

[2020-02-27 01:13] FeynmanZhou commented on #1925
@titou10titou10 Awesome!  Welcome to join [KubeSphere slack channel](https://join.slack.com/t/kubesphere/shared_invite/enQtNTE3MDIxNzUxNzQ0LTZkNTdkYWNiYTVkMTM5ZThhODY1MjAyZmVlYWEwZmQ3ODQ1NmM1MGVkNWEzZTRhNzk0MzM5MmY4NDc3ZWVhMjE) for more communication.

[2020-02-27 01:15] FeynmanZhou commented on #1925
@titou10titou10  BTW, did you use a default minimal installation, or started with a complete setup?

[2020-02-27 01:19] titou10titou10 commented on #1925
I started with a minimal installation as stated in the dock, then activated the DevOps and OpenPitrix features by editing the configmap
I created a second service + dedicated ingress to access the dashboard, instead of the "NodePort" service: I have a VM with nginx that acts as a load balancer in front of the 3 workers where the  default RKE ingres controller is deployed
Everything went fine and t

[2020-02-27 01:20] FeynmanZhou commented on #1927
/need-to-verify

[2020-02-27 01:36] FeynmanZhou commented on #1925
@titou10titou10
You can [enable other components](https://kubesphere.io/docs/v2.1/en/installation/pluggable-components/) at your will, but I recommend you to enable others for comprehensive user experience.

@wansir Could you pls help to look at the issue of web kubecl as above?

[2020-02-27 06:54] huanggze opened #1929 "Service doesn't show port name"
Port name is more meaningful than port number

![image](https://user-images.githubusercontent.com/22350668/75419415-bd93a300-5970-11ea-9473-7582b8aa5e5d.png)

![image](https://user-images.githubusercontent.com/22350668/75419468-d56b2700-5970-11ea-986c-30de39afac6b.png)

[2020-02-27 06:55] huanggze commented on #1929
/kind feature-request
/milestone 3.0.0
/assign @leoendless

[2020-02-27 06:56] huanggze commented on #1536
unfixed

[2020-02-27 06:57] huanggze commented on #1536
/milestone 3.0.0

[2020-02-27 07:48] leoendless commented on #1929
By design @Carlosfengv

[2020-02-27 08:14] Carlosfengv commented on #1929
ui中显示portname 会带来额外的理解和操作成本，所以做了处理

[2020-02-27 10:42] calvinyv opened #1930 "Feat: investigate KMS"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardw

[2020-02-27 10:55] calvinyv commented on #1930
/area security
/assign @wansir

[2020-02-27 12:45] deerjoe opened #1931 "Kubesphere 2.1.1 can't edit ingress annotation via UI"
**General remarks**

**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: 2.1.1
Kubernetes: KubeSphere installer (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:
Ubuntu 18.04/3 master: 2cpu/5g
Ubuntu 3 node: 4cpu/10g

[2020-02-27 13:32] huanggze commented on #1929
got it，不过自定义监控选择数据源 port 的时候可能需要 port name 了，因为便于理解。后面做的时候再看看 @Carlosfengv

[2020-02-27 13:57] zryfish commented on #1931
Please edit ks-console deployment yaml to change imagePullPolicy to `Always`, you can do this by using following command
[code]

[2020-02-28 12:49] zryfish commented on #1925
it appears websocket proxy is not enabled in your nginx, suggest check proxy settings of your nginx.

[2020-02-28 20:23] dlhf commented on #1561
k8s 1.15.5正常安装 v2.1.1

[2020-02-29 02:12] titou10titou10 commented on #1925
@zryfish you were right, fixing the nginx lb configuration for wss solved the problem

[2020-02-29 02:13] titou10titou10 commented on #1925
closing this as the original problem is fixed and opening a new issue for documentation

[2020-02-29 02:13] #1925 closed

[2020-02-29 02:20] titou10titou10 opened #1932 "[doc] Installing ks on an existing k8s cluster requires the CSR signing feature to be activated"
**Environment: OS & Hardware Information**
kubesphere v2.1.1 installation on an existing k8s installation (like RKE)

**Details**
As stated in the title, the various installation documents should indicate that installing kubesphere on an existing k8s cluster requires that the CSR signing feature is activated in kube-apiserver
At least on thoise pages:
https://kubesphere.io/en/install
https://githu

[2020-02-29 02:50] FeynmanZhou commented on #1932
@titou10titou10

Thanks for your reminder, fixed in these PR, it will be reflected on the pages after PR merged.

https://github.com/kubesphere/kubesphere.github.io/pull/151
https://github.com/kubesphere/ks-installer/pull/672

[2020-02-29 06:06] FeynmanZhou opened #1933 "The deployment can't be displayed in Service page when using kubecl"
Follow with [this guide](https://kubesphere.com.cn/docs/v2.1/zh-CN/quick-start/ingress-canary/#%E7%AC%AC%E4%B8%80%E6%AD%A5%EF%BC%9A%E5%88%9B%E5%BB%BA%E9%A1%B9%E7%9B%AE%E5%92%8C-production-%E7%89%88%E6%9C%AC%E7%9A%84%E5%BA%94%E7%94%A8), create a deployment and service with the web kubectl (please update the apiversion to apps/v1), you will find the deployment can't be displayed in Service page.

![

[2020-02-29 13:03] FeynmanZhou commented on #1933
@leoendless  Please help to look at this issue.

[2020-03-02 08:06] calvinyv opened #1935 "Feat: run ks core components as non-root"
**Describe the Bug**
Feat: run ks core components as non-root

[2020-03-02 08:08] calvinyv commented on #1935
/assign @runzexia @zryfish @benjaminhuo @leoendless @wansir
/area security

[2020-03-02 08:39] zryfish commented on #1932
/area documentation

[2020-03-04 13:41] FeynmanZhou opened #1936 "Support helm chart installation for ks-installer"
[ks-installer](https://github.com/kubesphere/ks-installer) is a project which is used to install KubeSphere on existing Kubernetes cluster, with its [YAML file](https://github.com/kubesphere/ks-installer/blob/master/kubesphere-minimal.yaml).

We need to develop a Helm chart of ks-installer which is used to install the KubeSphere minimal via Helm CLI, it will be convenient for Helm users.  We are l

[2020-03-05 02:46] rysinal opened #1937 "./add-node.sh failed： dockerproject repo 404"
**What's your question**
./add-node.sh failed

**Environment: OS & Hardware Information**
 CentOS 7.5

**Error logs or message (Attach logs or screenshot)**
fatal: [node-5]: FAILED! => {"changed": false, "msg": "Error from repoquery: ['/bin/repoquery', '--show-duplicates', '--plugins', '--quiet', '--disablerepo', '','--enablerepo', '', '--qf', '%{name}|%{epoch}|%{version}|%{release}|%{arch}|%{repo

[2020-03-05 02:52] Forest-L commented on #1937
/assigin @Forest-L

[2020-03-05 03:02] Forest-L commented on #1937
@rysinal https://yum.dockerproject.org/repo/main/centos/7/repodata/repomd.xml

[2020-03-05 03:07] rysinal commented on #1937
It looks like it is disabled. Where can I modify it in the installation script? 3q

[2020-03-05 03:51] Forest-L commented on #1937
Temporary repair plan:
First、Modify  /etc/yum.repos.d/docker.repo  and Comment on the following steps;
[code]
Second、Execute yum clean all;yum makecache;
Third、Modify /root/kubesphere-all-v2.1.1/k8s/roles/container-engine/docker/templates/rh_docker.repo.j2 and Comment on the following steps;
[code]
Four、Re-execute the script

[2020-03-05 06:00] rysinal commented on #1937
solved

[2020-03-05 06:00] #1937 closed

[2020-03-05 08:10] zhuozl opened #1938 "install error"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**
install error

**Environment: OS & Hardware Information**
VMware , 8C,16G,100G disk , CentOS Linux release 7.4.1708 (Core)

**Error logs or message (Attach logs or screenshot)**

[code]

**Installer Version**
2.0.2

[2020-03-05 08:41] Forest-L commented on #1938
Offline or online？
Error message: "No package matching 'ebtables' found available
Suggested new version v2.1.1

[2020-03-05 08:42] Forest-L commented on #1938
/assigin @Forest-L

[2020-03-06 10:49] yufan022 commented on #1368
does 2.1.1 support kubernetes 1.14.x？
this link https://kubesphere.io/docs/v2.1/zh-CN/release/release-v211 shows support v1.14.x。
this link https://kubesphere.io/docs/v2.1/zh-CN/installation/install-complete-ks-on-k8s shows 1.15.x ≤ K8s version ≤ 1.17.x。

[2020-03-06 10:54] rayzhou2017 commented on #1368
Actually it supports. Officially the roadmap of KubeSphere is to support the latest three versions of K8s for each release. That is why you see such document.

[2020-03-06 11:34] yufan022 commented on #1368
Will you consider extending this version list?
When we use EKS or ACK We have to consider this.
Because they highest version only 1.14.X.

[2020-03-06 12:45] rayzhou2017 commented on #1368
We tested on EKS as you can from the screenshot below. It does support 1.14.
![WechatIMG37934](https://user-images.githubusercontent.com/28859385/76084683-64201980-5feb-11ea-94e0-0b85ebfeb58b.jpeg)

[2020-03-07 03:37] leo-je opened #1939 "Why the All-in-one of intall online not support centos 7.6 ?"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**
i want install online use all-in-one  in the Centos 7.6,but it failed.
info:
fatal: [ks-allinone]: FAILED! => {
    "changed": false
}

MSG:

Unable to restart service docker: Job for docker.service failed because the control process exited with error code. See "systemctl st

[2020-03-07 09:10] #1933 closed

[2020-03-07 09:51] chinazj commented on #1936
/assign @chinazj

[2020-03-08 11:07] niuzhiweimr opened #1941 "kubesphere-devops 使用nexus私服，已更改settings.xml配置，提示无法下载"
+ mvn -o -Dmaven.test.skip=true clean package -e-U
[INFO] Error stacktraces are turned on.
[WARNING]
[WARNING] Some problems were encountered while building the effective settings
[WARNING] expected START_TAG or END_TAG not TEXT (position: TEXT seen ...</server>\n    -->\n  <server>\n  \ua0 <i... @134:7)  @ /opt/apache-maven-3.5.3/conf/settings.xml, line 134, column 7
[WARNING]
[INFO] Scanning for

[2020-03-08 13:35] niuzhiweimr commented on #1941
已经解决  mvn  -o 模式为不联网运行 不加这个参数就可以了

[2020-03-08 13:35] #1941 closed

[2020-03-09 02:34] yufan022 commented on #1368
Okay! will you keep support 1.14 in the feature 3.0.0 version ？

[2020-03-10 03:25] deerjoe opened #1943 "Can not replace deployment's volume in UI,got Error"
**Describe the Bug**
Can not replace deployment's vloume in UI,got Error
mountPath : Invalid value: "/xxx/xxx": must be unique

![微信图片_20200310111619](https://user-images.githubusercontent.com/9907508/76276706-8ce13100-62c1-11ea-84a3-15749e187457.png)

**Versions Used**
KubeSphere: 2.1.1
Kubernetes: KubeSphere installer v1.16.7

**Environment**
How many nodes and their hardware configuration:
Cent

[2020-03-10 05:18] wnxn commented on #1943
/kind bug
/area storage
/area console
/assign @justahole

[2020-03-10 08:22] rayzhou2017 commented on #1368
If most of cloud provider's k8s services upgrade to new version (> 1.14) about a month before we release 3.0, we may not support the older version. Otherwise, we will support it.

[2020-03-10 12:02] ZhangSIming-blyq opened #1945 "Some suggestion for new feature in kubesphere v3.0"
**What I want**
1.Support "upgrade from app template"
2.Support custom workspace‘s role
3.Support auto-discovery helm chart for existing application

**Expected behavior**
- For `1.Support "upgrade from app template"`

- For `2.Support custom workspace‘s role`

- For `3.Support auto-discovery helm chart for existing application`

Hope the suggection above can be a new feature in kubesphere v3.0, a

[2020-03-10 13:17] Forest-L commented on #1939
Support! you can view log about docker; See "systemctl status docker.service" and "journalctl -xe" for details.

[2020-03-10 13:19] Forest-L commented on #1939
/assign  @Forest-L

[2020-03-11 02:41] shaowenchen commented on #1939
/assign @shaowenchen

[2020-03-11 02:49] Forest-L commented on #1939
/assign @Forest-L

[2020-03-11 08:32] zheng1 commented on #1945
/kind feature-request
/milestone 3.0.0

/assign @wansir @pengcong06

[2020-03-11 09:44] hnxxgwccr opened #1946 "kubesphere 2.1.0 openpitrix cannot work with ovs"
kubesphere 2.1.0 openpitrix-hyperpitrix deployment includes more than 10 services, and the deployment/pod will access service whose endpoint is the pod itself. In my environment(centos7.4+kubernetets 1.15.0+openvswitch), the pod is connected to ovs and K8s service is supported by ovs. The packet which is generated by pod and access service address whose endpoint is this pod itself, will be dropped

[2020-03-11 09:49] liangminhua commented on #1841
@huanggze
[code]

[2020-03-12 02:20] hnxxgwccr commented on #1946
我的思路：我暂时不寻求all-in-one的openpitrix与ovs协同工作（我尝试过注入Istio，也是应用商店页面能打开，但是部署不了，没细查），期望hyperpitrix拆解后能工作，问题在于：
1、拆解成12个独立的服务后，为什么服务查找的数据库跟初始化的不一致？怎么才能一致起来？
2、runtime找不到，access denied是哪部分出问题了？
我希望先给我指个方向，我这边继续尝试解决。

[2020-03-12 02:25] FeynmanZhou commented on #1946
It looks not clear, could you describe how to reproduce this issue?

[2020-03-12 02:34] FeynmanZhou commented on #1946
/area app-management

[2020-03-12 03:10] hnxxgwccr commented on #1946
Reproduce steps:
step 1:  turn one all conmponents in kubesphere-minimal.yaml and run 'kubectl apply of kubesphere-minimal.yaml'
step 2: after all pods running and jobs complete, run script openpitrix_patch.sh.

[kubeSphere.zip](https://github.com/kubesphere/kubesphere/files/4322098/kubeSphere.zip)

[2020-03-12 05:16] zheng1 commented on #1946
Please use KubeSphere v2.1.1, we had fix a lot of bugs. Maybe this issue has been fixed.

[2020-03-12 15:30] deerjoe opened #1947 "Got Invaild Port error,after apply change an existing deployment's image in UI"
**Describe the Bug**
A clear and concise description of what the bug is.

Got Invaild Port error,after  apply change an existing deployment's image which deployment have pod Port Settings  in UI

![截屏2020-03-12下午11 15 59](https://user-images.githubusercontent.com/9907508/76536769-be235200-64b7-11ea-929b-65050da7cbc7.png)

**Versions Used**
KubeSphere: 2.1.1

**Environment**

 CentOS 7.8 / 3 master

[2020-03-13 00:43] calvinyv commented on #1947
https://kubernetes.io/docs/concepts/services-networking/service/

As with Kubernetes names in general, names for ports must only contain lowercase alphanumeric characters and -. Port names must also start and end with an alphanumeric character.

[2020-03-16 12:02] calvinyv opened #1952 "Support Ingress ingress logging and monitoring, also provide logging analysis capability"
**Describe the Bug**
Support Ingress ingress logging and monitoring, also provide logging analysis capability

refer to https://help.aliyun.com/document_detail/86532.html

[2020-03-16 12:03] calvinyv commented on #1952
/assign @benjaminhuo
/kind feature-reqeust
/area monitoring

[2020-03-16 12:03] calvinyv commented on #1952
/area logging

[2020-03-16 12:04] calvinyv commented on #1952
/kind feature-request

[2020-03-17 11:14] liuyp2018 opened #1953 "Click app screenshot and enter the enlarge view picture page, can't click '<' '>' to switch pictures"
steps：
1、The user enters the app template page
2、Select an app template and enter the app details page
3、Click the application information to enter the application information page
4、Click on the image in the screenshot ,enter enlarge view image page
5、Click '<''>' to switch images

expected result：
can switch to the previous or the next image

actual result ：
cannot switch to the previous or the

[2020-03-17 11:18] zhanlinfeng opened #1954 "PVC not found！"
**What's your question**
ks-install failed。Error log is as follows:
[code]
Except redis，other components also have this error prompt，such as openldap，etcd and so on.
I use kubectl to get PVC and PV, I get two PVC and PV, I also see corresponding Cloud disk in aliyun console 。Besides I get three last time。Result is as follows:
PVC:
[code]
PV:
[code]
The storage type I use is aliblock storage, my co

[2020-03-17 11:21] liuyp2018 commented on #1953
/area console
/kind bug
/priority low
/assign @leoendless

[2020-03-17 11:25] liuyp2018 opened #1955 "delete the app screenshot, click the cancel button, the screenshotis actually deleted"
steps:
1、The user enters the app template page
2、Select an app template and enter the app details page
3、Click the edit information button and enter the edit page
4、Delete the image in the application screenshot
5、Click the cancel button in the edit page
6、Go to the app information page and view the app screenshot

expected result：
Application screenshot not deleted

actual result ：
Application sc

[2020-03-17 11:32] zhanlinfeng commented on #1954
The log shows that KS install seems to skip PVC declaration。This is part of the log：
[code]

[2020-03-17 15:39] benjaminhuo commented on #1952
Ingress log collecting can be satisfied by the new fluentbit operator.
It's better to start a new project for Ingress log analysis and monitoring, all based on ingress log collected.

[2020-03-17 15:50] FeynmanZhou commented on #1954
@zhanlinfeng Have you configured the PVC as mentioned in the following list?

![image](https://user-images.githubusercontent.com/40452856/76874296-f527a800-68a9-11ea-95ba-df2653355870.png)

[2020-03-18 01:52] zhanlinfeng commented on #1954
Yes，I set all volume to 20G（Alibaba cloud's current minimum limit now，maybe you should update the documents）except jenkins，and DevOps not opened.

[2020-03-18 02:02] zhanlinfeng commented on #1954
All configurations in common.yaml related to  volume size are as follows:
`# devops/openpitrix/notification/alerting components depend on
# mysql/minio/etcd/openldap/redis to store credentials.
# Configure parameters below to set how much storage they use.
mysql_volume_size: 20Gi
minio_volume_size: 20Gi
etcd_volume_size: 20Gi
openldap_volume_size: 20Gi
redis_volume_size: 20Gi

# MONITORING CONFIGU

[2020-03-18 02:03] zhanlinfeng commented on #1954
All configurations in common related to data volume size are as follows:
[code]

[2020-03-18 03:46] liuyp2018 opened #1956 "app icon format and size limits are inconsistent"
app icon format and size limits are inconsistent in the page of creating application template page and editing app template page

<img width="946" alt="微信截图_20200318111346" src="https://user-images.githubusercontent.com/36271543/76922968-1b326400-690d-11ea-8e42-32919fc4baf3.png">

/area console
/kind bug
/priority low
/assign @leoendless

[2020-03-18 04:31] liuyp2018 opened #1957 "app version list can only show 10 records at most"
steps:
1、The user enters the app template page
2、Select an app template and enter the app details page
3、enter app information page,and view app vesion list data

expected result：
When the number of versions exceeds 10, all version records can be displayed

actual result ：
When the number of versions exceeds 10, the list can only show 10 records at most

<img width="833" alt="微信截图_20200318122524"

[2020-03-18 06:26] liuyp2018 opened #1958 "the app version that is not pulished can be choosed when deploying app in app store"
the app version that is not on the shelf or has been removed from the shelf can be choosed when deploying app in app store

<img width="817" alt="微信截图_20200318140103" src="https://user-images.githubusercontent.com/36271543/76931525-d239da00-6923-11ea-9d63-fa50a95b53e0.png">

/milestone 3.0.0
/area console
/kind bug
/assign @leoendless

[2020-03-18 07:42] liuyp2018 opened #1959 "Click the "ok" button several times, and multiple records be generated"
steps:
1.The user enters the app template page
2.Select an app template and enter the app details page
3.Select a version and click the submit for review button
4.On the submit review page, click ok button several times
5.enters the app audit page ，and view the audit record that is generated just now

expected result：
Only one audit record is generated

actual result:
Multiple audit records were g

[2020-03-18 07:43] liuyp2018 commented on #1958
/priority medium

[2020-03-18 07:50] liuyp2018 commented on #1955
/milestone 3.0.0

[2020-03-18 07:50] liuyp2018 commented on #1953
/milestone 3.0.0

[2020-03-18 07:52] liuyp2018 commented on #1958
/remove-priority low

[2020-03-19 07:51] ZhangSIming-blyq commented on #1945
### Additional two more feature:
4.Support a longer release name when deploy
5.Do not force the creation of some components

### Expected behavior

- For `Support a longer release name when deploy`

![image](https://user-images.githubusercontent.com/58658883/77043410-742af680-69f8-11ea-833c-8ad34d6e5cff.png)
As shown above, I hope kubesphere can allow a longer name, for better explain the service

[2020-03-19 08:12] FeynmanZhou commented on #1945
Prometheus is required in the current version. The logging component is not required since v2.1.0, and other components are also modular and pluggable, you can install them at you will.

[2020-03-19 08:55] hantmac opened #1962 "Follow RAEDME to `install on k8s` get CrashLoopBackOff"
**What's your question**
`kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/master/kubesphere-minimal.yaml`
Got error `CrashLoopBackOff` and detail infos to see logs.

**Environment: OS & Hardware Information**
- VM
- OS: Linux iZuf64s0djlh8owple1 b6mZ 3.10.0-957.21.3.el7.x86_64 #1 SMP Tue Jun 18 16:35:19 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

- CentOS Linux release 7.6.

[2020-03-19 09:10] FeynmanZhou commented on #1962
Please get the installer logs, then inspect the error info:

[code]

[2020-03-19 09:12] hantmac commented on #1962
Thanks for your reply!

![image](https://user-images.githubusercontent.com/7600925/77050416-b6f2cb80-6a04-11ea-81cc-65153a987c99.png)

[2020-03-19 13:43] FeynmanZhou commented on #1962
@pixiake Could you pls help to look into this issue?

[2020-03-19 13:57] pixiake commented on #1962
` metrics.k8s.io/v1beta1: the server is currently unable to handle the request`
It looks like the metrics-server failure in your environment.
You can exec the cmd following to check:
`kubectl get apiservice`

[2020-03-20 02:13] hantmac commented on #1962
That' it!
`1beta1.metrics.k8s.io                  kube-system/metrics-server   False (MissingEndpoints)   132d`

The metrics-server failure, I use Aliyun k8s cluster, how to solve this problem? Thans!

[2020-03-20 04:35] pixiake commented on #1962
You can troubleshoot why the metrics-server failed to start，or delete metrics-server resources.

You can also ask for help through aliyun's work order.

[2020-03-20 07:30] shaowenchen commented on #1939
/close

[2020-03-20 07:31] #1939 closed

[2020-03-20 08:19] hantmac commented on #1962
Thanks, I restart the svc of metrics-server, and solve this problem. The kubesphere seems to look like ok,
![image](https://user-images.githubusercontent.com/7600925/77146552-40b69d80-6ac6-11ea-88b2-bbc5bcfc492e.png)

And I have another question, how to open the web UI of kubesphere, i used ip:30880 but failed to open. ps: The minimal version of kubesphere not create svc, is it normal?

[2020-03-20 08:29] pixiake commented on #1962
You  can view the installer logs   and  pod status in kubesphere-system.

[2020-03-20 09:28] hantmac commented on #1962
Thanks！ I got the message :
[code]
means it worked?

[2020-03-23 03:23] hantmac commented on #1962
Thanks for your guys help 👍

[2020-03-23 03:23] #1962 closed

[2020-03-23 05:37] hantmac opened #1963 "can't get monitor data after installing kubesphere-minimal"
**What's your question**
after `kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/master/kubesphere-minimal.yaml`
cant get monitor data:
![image](https://user-images.githubusercontent.com/7600925/77285162-5a94f200-6d0b-11ea-96fa-a29cb76f07cf.png)

**Environment: OS & Hardware Information**
- VM

- OS: Linux iZuf64s0djlh8owple1 b6mZ 3.10.0-957.21.3.el7.x86_64 #1 SMP Tue Jun

[2020-03-23 05:39] hantmac commented on #1963
![image](https://user-images.githubusercontent.com/7600925/77285346-b65f7b00-6d0b-11ea-8179-46a9326cd54b.png)

[2020-03-23 06:11] hantmac commented on #1963
After restarting `ks-installer` , I can't login  kubesphere

[2020-03-23 07:54] calvinyv opened #1964 "Feat: allow to create user with '-' character"
**Describe the Bug**
Feat: allow to create user with '-' character

[2020-03-23 07:55] calvinyv commented on #1964
/assign @wansir @leoendless
/kind feature-request
/area iam

[2020-03-24 10:56] runzexia opened #1968 "ingress gateway default configmap parameters are incorrect"
/kind bug
/milestone 3.0.0
/area api
/assign @zryfish
![image](https://user-images.githubusercontent.com/31230341/77417911-14ba5580-6e01-11ea-99f8-a01ce6e97e8c.png)
![image](https://user-images.githubusercontent.com/31230341/77417935-1c79fa00-6e01-11ea-9b6e-403c6a3ce736.png)

[2020-03-24 15:32] hantmac commented on #1963
Solved, closing

[2020-03-24 15:32] #1963 closed

[2020-03-25 05:47] sd797994 opened #1969 "does 3.0.0 support istio 1.5.0 ？"
istio released their new version 1.5.0 in Mar, In this version they reduce the scale of application to simplifies deployments. Does community plan to support it in version 3.0.0?

[2020-03-25 06:13] F-liuhui opened #1970 "devops工程安装一直失败"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**
用rancher搭建的k8s集群，离线部署kubesphere时devops工程一直部署失败，报错的意思大概是证书创建不了什么的，导致ks-account组件一直启动不了，无法登陆，请问这个问题怎么解决？

**Environment: OS & Hardware Information**
centos7.6

devops工程安装一直失败

**Error logs or message (Attach logs or screenshot)**

**Installer Version**

[2020-03-25 06:23] F-liuhui commented on #1970
报错信息：
{\"changed\": true, \"cmd\": \"/bin/bash /etc/kubesphere/s2i/certs.sh
--service webhook-server-service --namespace kubesphere-devops-system
--secret webhook-server-secret \\n\", \"delta\": \"0:00:13.161828\", \"end\":
\"2020-03-25 03:57:12.595237\", \"msg\": \"non-zero return code\", \"rc\": 1,
\"start\": \"2020-03-25 03:56:59.433409\", \"stderr\":
\"Generating RSA private key, 2048 bit long

[2020-03-25 06:59] FeynmanZhou commented on #1970
English only. Please communicate in Chinese community instead.

This issue may be caused by the CSR signing, it was mentioned in the [prerequisite](https://kubesphere.com.cn/install/).

[2020-03-25 06:59] #1970 closed

[2020-03-25 10:15] sammasamadhi commented on #1969
same question

[2020-03-26 09:16] rayzhou2017 commented on #1969
We will investigate this upgrade later on. Well, I would rather put the label for help on it now.

[2020-03-28 03:43] FeynmanZhou commented on #1954
@zhanlinfeng Have this issue get resolved?

[2020-03-29 07:37] w-huaqiang opened #1973 "no redis be created"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**
[root@node1 ~]# kubectl get pvc -n kubesphere-system
NAME        STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS      AGE
etcd-pvc    Bound    pvc-cef7eb8b-27e9-41e8-9405-7c55629c5346   5Gi        RWO            rook-ceph-block   18

[2020-03-29 14:27] w-huaqiang commented on #1973
ok,I found playbook roles will check redis use helm.

[2020-03-29 14:27] #1973 closed

[2020-03-30 02:07] zhanlinfeng commented on #1954
No

[2020-03-30 09:43] johdandc opened #1978 "Does 3.0.0 support Windows node？"
Does 3.0.0 support Windows as worker?

[2020-03-30 11:32] rayzhou2017 commented on #1978
K8s adds more support for Windows. So KS will support as well. It might be in 3.0 or 3.1.

[2020-03-31 07:42] Forest-L commented on #1954
@zhanlinfeng   Install prompt:  ignoring, There are other error messages

[2020-04-02 08:34] Wandering commented on #752
2.1.1 中 我按照这种方案修改了jenkins-agent-config 并重新加载了配置但是依然不生效,

[2020-04-02 08:49] runzexia commented on #752
@Wandering 可以检查一下devops的pod，确认下cm在agent里被正确挂载

[2020-04-02 08:58] Wandering commented on #752
就在刚才,我确认了所有的服务都处于running状态处于正常状态,但是我没有在jenkins的里面找到agent的挂载

[2020-04-02 08:58] Wandering commented on #752
[code]

[2020-04-02 09:00] Wandering commented on #752
就在刚才我检查了下jenkins的挂载  似乎没有发现有挂载agent
[code]

[2020-04-02 09:00] runzexia commented on #752
每次运行流水线会启动一个新的pod作为agent。
这个是master不会挂载配置

[2020-04-02 09:03] Wandering commented on #752
根据你的建议,我去查看了最新的流水线pod 也没有发现agent配置的挂载
[code]

[2020-04-02 09:04] Wandering commented on #752
我使用此功能的路径是普通项目(非流水线project)的构建镜像功能

[2020-04-02 09:07] runzexia commented on #752
https://github.com/kubesphere/s2i-java-container/tree/master/java/images/centos#centos-75-s2i-java-builder-image-with-openjdk-8

@Wandering s2i可以使用环境变量来调整构建参数，在创建s2i的高级设置中有

[2020-04-02 09:31] Wandering commented on #752
我尝试加入cm来解决该问题，但是发现在该配置中其余内容没有生效,我如何把setting.xml加入到s2i中,下面是我尝试的配置:
[code]

[2020-04-02 09:53] Wandering commented on #752
目前临时解决方案是 在项目中提交了setting.xml 然后再构建时候指向该setting.xml 属于治标不治本,期待官方尽早解决该问题

[2020-04-02 10:24] calvinyv opened #1982 "Feat: Specify node port number on ks console when creating or updating node port"
**Describe the Bug**
Specify node port number on ks console when creating or updating node port, also need to pre-check If this node port is already used

[2020-04-02 10:25] calvinyv commented on #1982
/assign @Carlosfengv @leoendless
/area console
/kind feature-request

[2020-04-02 10:44] leoendless commented on #1982
@zryfish Is there an API to check the used node ports?

[2020-04-02 13:51] Wandering opened #1983 "2.1.1 从应用商店中创建实例设置values.yml无效"
2.1.1 从应用商店中创建实例设置values.yml无效

[2020-04-02 13:54] FeynmanZhou commented on #1983
English only, this issue will be closed. For Chinese conversation, please go to [forum](https://kubesphere.com.cn/forum/).

Please elaborate on how to reproduce this problem.

[2020-04-02 13:54] #1983 closed

[2020-04-03 06:10] klj890 opened #1987 "Bug for creating ingress"
**Describe the Bug**
1. The configmap name for the ingrees controller created is not the same as the _--configmap_ in spec.containers.args
2. If repeatedly create the ingress controller, the parameters in spec.containers.args will repeat or error

**Versions Used**
KubeSphere: 2.1.1

[2020-04-04 13:24] hadoop835 opened #1988 "开发环境搭建"
能否提供一个git clone源码，并通过开发工具进行运行步骤。包括罗列一下包含必须依赖的中间件

[2020-04-04 13:55] FeynmanZhou commented on #1988
English only. Please reference [dev guide](https://github.com/kubesphere/community/tree/master/developer-guide/development).

[2020-04-04 13:55] #1988 closed

[2020-04-06 05:01] caojiele opened #1990 "Container environment time is reduced by 8 hours"
**What's your question**

When the new environment moved to kubesphere, it was found that the time difference of products in the new environment was reduced by eight hours. Added environment variables in dockerfile, or not resolved? Do you have a solution? Thank you!

**Environment: OS & Hardware Information**

**Error logs or message (Attach logs or screenshot)**
![](https://kubesphere.com.cn/for

[2020-04-06 06:59] #1987 closed

[2020-04-07 02:26] Reminisd opened #1991 "V2.1.1 应用创建成功后，状态仍显示更新中"
在 ”应用“ 下手动创建了示例应用，确认其 deployment 和svc都显示运行中，也可以正常访问，但该应用的状态还是 ”更新“。 服务治理不可用

[2020-04-07 02:29] FeynmanZhou commented on #1991
@Reminisd
English only, this issue will be closed. For Chinese conversation, please go to [forum](https://kubesphere.com.cn/forum/).

It looks like a front-end bug. Please elaborate on how to reproduce this problem.

[2020-04-07 02:29] #1991 closed

[2020-04-09 03:35] vglede opened #1994 "DevOps Credentials can't delete while add Name is url"
i use the kubesphere which version is 2.1.1. I created the creadentials which name is url like this flow picture.
![image](https://user-images.githubusercontent.com/38933373/78855476-9b547100-7a56-11ea-9412-c61ebbc7607e.png)

and i want to delete,  it imple the information of “not found”
![image](https://user-images.githubusercontent.com/38933373/78855357-40bb1500-7a56-11ea-8aa7-4a8cc4f6c25b.png)

[2020-04-09 13:44] calvinyv opened #1995 "Feat: Allow users to choose whether to display date or not on log query page"
**Describe the Bug**

Allow users to choose whether to display date or not on log query page

In some cases, each line of log record contains data info itself, which will bring duplicated content.

[2020-04-09 13:45] calvinyv commented on #1995
/assign @huanggze @benjaminhuo @leoendless @Carlosfengv
/kind feature-request
/area logging

[2020-04-10 07:22] xiaoyaolaotou opened #1998 "登录界面提示无法访问后端服务"
[root@kvm-10-112-76-53 ~]# kubectl get po -n kubesphere-system -o wide
NAME                                     READY   STATUS     RESTARTS   AGE     IP            NODE           NOMINATED NODE   READINESS GATES
ks-account-7d57dc95fc-lk9wr              0/1     Init:1/2   0          4m17s   172.7.23.8    10.112.76.39   <none>           <none>
ks-apigateway-d6f89b96f-fzc5v            1/1     Running

[2020-04-10 07:23] xiaoyaolaotou commented on #1998
[root@kvm-10-112-76-53 ~]# kubectl get po -n kubesphere-system
NAME                                     READY   STATUS     RESTARTS   AGE
ks-account-7d57dc95fc-lk9wr              0/1     Init:1/2   0          8m49s
ks-apigateway-d6f89b96f-fzc5v            1/1     Running    0          8m51s
ks-apiserver-5dff5c594d-dhnpf            1/1     Running    0          8m50s
ks-console-5c666c644-74bxd

[2020-04-10 07:27] FeynmanZhou commented on #1998
English only.

It's duplicated with this [topic](https://kubesphere.com.cn/forum/d/1067-kubersphere/4), we will help you with this issue in the forum.

[2020-04-10 07:27] #1998 closed

[2020-04-10 08:29] johdandc opened #1999 "How can I search images from a local registry?"
I have installed a local registry by harbor, and I have set an "Image Repository Secret".  But I can't search images from the local registry so I can only type the full name of the image to pull it.

So, how can I search images from a local registry?

BTW, because the local registry can only visited by intranet, so I can't use a trusted ssl cert while an untrusted cert can not let me set an "Image

[2020-04-10 11:59] FeynmanZhou commented on #1994
@leoendless  Is this a front end bug?

[2020-04-10 12:59] calvinyv opened #2000 "Feat: integrate with AWS EKS"
**Describe the Bug**
integrate with AWS EKS

[2020-04-10 13:00] calvinyv commented on #2000
/assign @pixiake @leoendless @zheng1 @Carlosfengv

[2020-04-10 13:02] zheng1 commented on #2000
- [ ] There are some annotations that need a better way for users to choose. https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#load-balancers

[2020-04-10 14:23] bnusunny commented on #2000
Here are a list things we wish to integrate and verify.

- Network

    - provision CLB/NLB for LoadBalancer Service

    - Application Load Balancer Ingress Controller

    - Nginx Ingress Controller

    - Service Mesh - istio

    - Service Mesh - app mesh

    - Network Policy - Calico

    - External DNS - Cloud Map

- Storage

    - manage EBS CSI provider

    - manage EFS CSI provider

[2020-04-11 06:22] leoendless commented on #1994
Hi @vglede, the credential id cannot be an URL, that may cause redirect problems when entering the detail page. Please use a normal id with pattern ``/^[a-z0-9]([-a-z0-9]*[a-z0-9])?$/`` , and we will add a format check before the credential form submitted.

[2020-04-11 07:14] zwqzhangweiqiang opened #2001 "harbor Unable to get image size information"
1.Version 2.1, built-in harbor
2.
![图片](https://user-images.githubusercontent.com/14371089/79037843-22e0e200-7c07-11ea-9842-26f53076a892.png)
3.
![图片](https://user-images.githubusercontent.com/14371089/79037846-2b391d00-7c07-11ea-98e5-8e061b54bf17.png)

[2020-04-11 11:13] wanjunlei commented on #2001
/kind bug

[2020-04-12 11:28] freemanpolys opened #2003 "[Feature]Customize auto Generate route main domain xip.io"
It will be great to customize the auto generate route base domain nip.io.
We will have something like:
 By configuring DNS access, modify the domain name to {$hostname} + {$gateway address} +**mydomain.com**, and then access the service via {$hostname}.{$gateway address} .**mydomain.com**:{$NodePort}.

And then the route generate will be something like : **nginx-6mkgr3.my-project.172.31.20.105.myd

[2020-04-12 11:43] freemanpolys opened #2004 "[Feature]Customize Nginx Ingress Controller ports and certificat secrets"
**Installer Version**
 v2.1.1

It will be great if we can choose the nginx ingress ports (80,443) and tls secret while installing.
Kubespray gives the options bellow for that :

**ingress_nginx_insecure_port: 80**
**ingress_nginx_secure_port: 443**
**ingress_nginx_extra_args:**
  **- --default-ssl-certificate=default/foo-tls**

[2020-04-13 09:05] 0000sir opened #2006 "Is it possible to connect to external OpenPitrix appstore?"
I would like to setup one external openpitrix application store for multiple kubesphere clusters, All kubesphere clusters are protected by firewalls, so the openpitrix will not connect to kubesphere directly.

Is that possible for kubesphere to work like this and how to configure it ? Thank you

Deployment typo is demonstrated as below:
<img width="1181" alt="typo" src="https://user-images.githubu

[2020-04-13 09:28] zheng1 commented on #2006
Hi, @0000sir , in version 2.1 we only support deploying applications from openpitrix in the current cluster. In the next 3.0 release, we will support multi-cluster, which means distributing applications to multiple clusters. The architecture is similar to your diagram.

[2020-04-13 13:41] 0000sir commented on #2006
That's a good news, we will see it in the middle of May, thank you !

[2020-04-13 13:41] #2006 closed

[2020-04-14 04:17] jinxin3 opened #2009 "Anti affinity problem of KS-account and other components under high availability"
On the three nodes, high availability deployment is carried out. All three nodes have the roles of master and node. The following problems occur in the components KS-account and KS-apiserver under the kubesphere system namespace.

$kubectl describe pod -n kubesphere-system ks-account-cdd474f84-b49nr
....
Warning  FailedScheduling  <unknown>  default-scheduler  0/3 nodes are available: 3 node(s) di

[2020-04-14 07:23] weixiao122 opened #2010 "Metrics-Server | Waitting for v1beta1.metrics.k8s.io ready]"
日志一直报错：
$ kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f

error info：
TASK [metrics-server : Metrics-Server | Waitting for v1beta1.metrics.k8s.io ready] ***
FAILED - RETRYING: Metrics-Server | Waitting for v1beta1.metrics.k8s.io ready (60 retries left).
FAILED - RETRYING: Metrics-Server | Waitting for v1beta1.m

[2020-04-16 09:19] Carriezhangyan opened #2014 "kubectl edit cm istio-sidecar-injector -n istio-system"
v2.1.1 ：

I want to set up extranet access，but the change to configmap did not take effect，access mode is **LoadBalancer** ，Please look at the problem for me ，Thanks！
[code]

[2020-04-16 09:29] ixiejun commented on #2010
me too

[2020-04-16 09:31] FeynmanZhou commented on #2010
@ixiejun @weixiao122

Please refer to this post: https://kubesphere.com.cn/forum/d/882-kubesphere-2-1-1-metrics-server/5

[2020-04-17 10:29] k0ngk0ng commented on #1587
这个问题在2.1.1里有修复吗
目前发现个别 namespace 有这个问题，有些是正常的

[2020-04-18 06:11] shaowenchen commented on #1956
/assign @shaowenchen

[2020-04-18 07:17] FeynmanZhou commented on #1587
@leoendless @whDongRui Please help to verify if this issue has been fixed in v2.1.1, otherwise it will be closed.

[2020-04-18 13:17] leoendless commented on #1587
This issue has been fixed in v2.1.1.

[2020-04-18 13:22] FeynmanZhou commented on #1587
Thanks, @leoendless

[2020-04-18 13:22] #1587 closed

[2020-04-20 02:54] duanjiong opened #2019 "ks-controller-manager handler some client not correctly"
dev branch

openpitrix, jenkins, s3, etc should be pluggable， and those client should not be initialized when options are empty。

And， those controller should determine whether the value of those client are legal。

[2020-04-20 12:56] rysinal opened #2020 "Failed to upgrade from v2.1.0 to v2.1.1"
**What's your question**

mysql-pvc fails verification：
Because I modified the storage size  of mysql-pvc, it cannot be upgraded correctly now

**Environment: OS & Hardware Information**

centos7.5

8c 32g

**Error logs or message (Attach logs or screenshot)**

[code]
**Installer Version**

upgrade from v2.1.0 to v2.1.1

[2020-04-21 05:54] rysinal commented on #2020
refer [fourm ](https://kubesphere.com.cn/forum/d/1153-ks-2-1-0-2-1-1/8)
3ks

[2020-04-21 06:27] zheng1 commented on #1363
/close

[2020-04-21 06:27] #1363 closed

[2020-04-23 04:01] #1994 closed

[2020-04-23 08:07] rechardwang opened #2023 "最新版本中凭证密码不能有特殊字符"
我在最新版本中使用“图形化构建流水线” 其中创建了账户凭证，但是我密码中含有 $ 符号，我按照文档里面进行了urlencode编码之后  还是错误，我在最原始的jenkins中创建凭证 即使有再多特殊字符也不会出问题，请问我该如何解决它？

[2020-04-23 08:11] FeynmanZhou commented on #2023
English only. For Chinese conversation, please go to [Forum](https://kubesphere.com.cn/forum/).

BTW, could you paste the error logs from your pipeline?

[2020-04-23 08:11] #2023 closed

[2020-04-24 02:57] hadoop835 opened #2025 "Local development environment"
Can a complete local open environment running document be provided，for example： /etc/kubesphere/...yaml,mysql init .sql

[2020-04-24 13:43] dannnney opened #2028 "Add a Github Project in Devops ，but clone code failed, show error "Authentication failed""
Create a  Github project  by token

![image](https://user-images.githubusercontent.com/24656312/80218653-09fb1680-8674-11ea-98f5-7b5372d60069.png)

But when first clone code , show error

![image](https://user-images.githubusercontent.com/24656312/80218837-4595e080-8674-11ea-879c-109fd1ce5df1.png)

KS: v2.1.1

[2020-04-25 09:20] rayzhou2017 opened #2029 "Create videos for the quick start demo cases"
There are a few samples at https://kubesphere.io/docs/quick-start/admin-quick-start/ helping users how to use KubeSphere. It would be better to create tutorial videos in English for these samples so that we can distribute them in some channels such as Youtube making more people get familiar with KubeSphere.

So call for English native speaker from the community to help us.

[2020-04-25 09:41] FeynmanZhou commented on #2029
I have finished four of them, and post them on [Youtube channel](https://www.youtube.com/channel/UCyTdUQUYjf7XLjxECx63Hpw). If anyone is willing to help us to do English video narration, please join us on [Slack](https://join.slack.com/t/kubesphere/shared_invite/enQtNTE3MDIxNzUxNzQ0LTZkNTdkYWNiYTVkMTM5ZThhODY1MjAyZmVlYWEwZmQ3ODQ1NmM1MGVkNWEzZTRhNzk0MzM5MmY4NDc3ZWVhMjE) or leave your comments in th

[2020-04-26 00:39] DevYukine commented on #1245
i encounter the same issue when i try to run the kong gateway, it seems like this is caused by an outdated helm version from what i've heard? (currently helm2 14.4 is installed even tho 16.6 is latest)

see https://github.com/helm/helm/issues/6783

[2020-04-26 01:17] FeynmanZhou opened #2030 "Failed to create any resources using KubeSphere on K3s"
No Pod is created after a Deployment has been created on K3s.

![image](https://user-images.githubusercontent.com/40452856/80294765-6f4b2680-879e-11ea-8f34-05d3459afecf.png)

![image](https://user-images.githubusercontent.com/40452856/80294767-75d99e00-879e-11ea-8146-bb331bb4bebd.png)

[2020-04-26 01:17] FeynmanZhou commented on #2030
/kind bug

[2020-04-26 01:27] FeynmanZhou commented on #1245
@pengcong06 @zheng1

As @DevYukine  mentioned, is it possible to locate this cause?

[2020-04-26 02:23] zryfish commented on #2025
It's a little bit time consuming to set up a complete development environment from scratch. You can install an all-in-one kubesphere using minikube or microk8s etc. Replace component you wish to debug, using tools like telepresence to connect to kubesphere.

[2020-04-26 02:51] wynn5a opened #2031 "CoreDNS cluster ip doesn't appear in resolv.conf in all containers when using all-in-one deployment"
**What's your question**

I want to know why nameserver in containers does not match cluster ip of coredns.

It makes all containers don't work as expect.

[code]

svc:

[code]
**Environment: OS & Hardware Information**
Bare Metal, 64G 32C

**Installer Version**

v2.1.1

[2020-04-26 04:33] zheng1 commented on #1245
yep, @pengcong06  will fix this in KS 3.0.0

[2020-04-26 05:09] hadoop835 commented on #2025
Without a profile, it's hard to get started as a novice. There can be one operation step

[2020-04-27 05:35] rysinal commented on #2020
solved

[2020-04-27 05:35] #2020 closed

[2020-04-27 07:02] rayzhou2017 commented on #2025
Yes, you are right. We are working on it. Because all of us are busy with closing the dev of 3.0, it might take time to release the guide.

[2020-04-27 07:23] pixiake commented on #2031
The nameserver in the pod is specified by the kubelet's parameter(`clusterDNS`).

I think ,old kubelet configurations in your environment that have not been cleared, or have been modified kubelet and coredns config.

[2020-04-27 07:39] rayzhou2017 commented on #2010
@ixiejun @weixiao122 Is your problem solved?

[2020-04-27 07:58] pixiake commented on #2009
Current schedule policy of ks-core:
`nodeAffinity`: preferred
`podAntiAffinity`: required

@zryfish Should `podAntiAffinity` be replaced by `preferred`?

[2020-04-27 09:16] benjaminhuo commented on #2030
@FeynmanZhou found this issue in your own testing env ?

[2020-04-27 09:30] ymqing-sre opened #2033 "Illegal fields appeared after create app"
i download the yaml from the edit mode website,and excete by the command:
`kubectel apply -f redis.yaml`
the i got errors：
[code]
Some Illegal fields appeared in my config.

Details:
https://kubesphere.com.cn/forum/d/1257-gitlab/4

[2020-04-27 10:09] ZhangSIming-blyq commented on #1945
Hi, everyone!
#### One more feature:
6.Give some feedback hint when "helm install" failed

####  Expected behavior

- For `Give some feedback hint when "helm install" failed`

![image](https://user-images.githubusercontent.com/58658883/80360109-6d25bc80-88b1-11ea-9532-65bb13f042b2.png)

When deploying a application on dashboard, it will stay in "pending" status if helm command execute failed.
Chan

[2020-04-27 10:13] ixiejun commented on #2010
no, I have to close the metrics functionality,.

[2020-04-27 10:17] zheng1 commented on #1945
@ZhangSIming-blyq  Thanks for your feedback. We'll refactor the app installation process to give users more tips.

[2020-04-27 19:37] 53537 opened #2034 "Bad upgrade experience"
Kubesphere v2.1.0 upgrade v2.1.1:
Could you please separate kubernetes from Kubesphere and minimize the upgrade of kubernetes? We encountered calico, Prometheus, ks-ldap in both upgrades... Configuration and version changes were forced, resulting in significant failures, and we strongly wanted to minimize the impact on upgrades or optional configurations of existing clusters；
The current upgrade i

[2020-04-27 19:59] 53537 commented on #2034
The upgrade process should be inclusive, not necessarily kubernetes components and should allow us to have our own configuration as much as possible without overwriting our necessary custom components

[2020-04-28 01:14] pixiake commented on #2034
Yes, kubernetes and kubesphere should be separate.
If you just want to upgrade kubesphere you can use ks-installer：
https://github.com/kubesphere/ks-installer

[2020-04-28 03:30] wynn5a commented on #2031
@pixiake but `/var/lib/kubelet/config.yaml` which `clusterDNS` appears  mostly like is generated by install.sh script.

My old cluster use different CIDR like 192.168.xxx.xxx for pod network and I execute `kubeadm reset` successfully that will delete all `/var/lib/kubelet/*`

Execute the install script more than one time maybe the root cause of the issue.

Please check the install script and make

[2020-04-28 03:33] #2031 closed

[2020-04-28 14:12] tmpm697 opened #2036 "v2.1.1 some pods not in running"
## English only!

**General remarks**
I find some pods: istio-telemetry-795466fc84-776qv is pending, istio-init-crd-10-1.3.3-dmzfd and istio-init-crd-11-1.3.3-tqmsp and istio-init-crd-12-1.3.3-429bf is in completed state.

kubectl logs istio-init-crd-12-1.3.3-429bf -n istio-system
`Warning: kubectl apply should be used on resource created by either kubectl create --save-config or kubectl apply`

*

[2020-04-29 01:49] yunkunrao commented on #2036
/kind bug

[2020-04-29 01:57] yunkunrao commented on #2036
@zryfish

[2020-04-29 02:09] yunkunrao commented on #2036
/assign @zryfish

[2020-04-29 03:31] zackzhangkai commented on #1658
Note:
[code]

[2020-04-29 10:08] tmpm697 commented on #2036
I've noticed that all `istio-init-crd-*` have been scheduled to the same worker node -- that may cause resources contest. How to schedule them to two worker nodes? (I have two worker nodes)

[2020-04-29 10:10] tmpm697 commented on #2036
In case of I installed `calico` instead of `flannel`, I didn't see `istio-telemetry-??` anymore.

[2020-04-30 01:26] wartih commented on #1368
3.0.0能否按预计时间五月中旬发布？十分期待！

[2020-04-30 02:39] rayzhou2017 commented on #1368
There are 2-4 weeks delay because of the COVID-19.

[2020-04-30 05:24] 53537 commented on #2034
Now our test environment has been upgraded according to the website ks and k8s; Can we still use the website upgrade method, but comment out the calico upgrade configuration? Because we want to keep the formal environment consistent with the test environment

[2020-04-30 06:02] pixiake commented on #2034
You can comment out calico or network_plugin's tasks in `k8s/upgrade-cluster.yml`.

The k8s cluster is also managed through open source tools:
https://github.com/kubernetes-sigs/kubespray

[2020-05-02 13:03] hc2900 opened #2044 "ks-apigateway pod in CrashLoopBackOff after fresh install of kubesphere v2.1.1"
**Describe the Bug**
I installed kubesphere v2.1.1 on kubernetes, every seems ok, when I tried to login to kubesphere ui,
it display the "internal error" on web page.

**kubernetes cluster work ok**
[code]

[root@k8s-worker2 ~]# kubectl describe po -n kubesphere-system ks-apigateway-66675f79b6-9vxvv
[code]

the log output
[code]

[2020-05-02 13:08] hc2900 commented on #2044
I used OpenEBS
[root@k8s-worker1 ks-installer]# kubectl get sc
[code]

[2020-05-05 07:13] wartih opened #2046 "ks-account docker built succeed but failed when creating users with report "Internal Server Error open /etc/kubernetes/pki/ca.crt: no such file or directory""
Following https://github.com/kubesphere/community/tree/master/developer-guide/development
"For Building KubeSphere Core Images", I built ks-account docker image,after recreate ks-account pod, I find I can't create user with error"Internal Server Error open /etc/kubernetes/pki/ca.crt: no such file or directory"

I notice build/ks-account has been deleted, why it happend? And how can i build ks-acco

[2020-05-05 15:11] wansir commented on #2044
It seems that the pods of sts/redis and sts/openldap have not been created, it is related to the storage class. You can check the status of sts/redis and pvc status.

[2020-05-05 15:40] wansir commented on #2046
We merged ks-apigateway, ks-apiserver, ks-account in 3.0, we only kept ks-apiserver and ks-controller-manager to make the system architecture simple. Sorry that the developer guide has caused you confusion, your error is related to these lines of code: https://github.com/kubesphere/kubesphere/blob/v2.1.1/cmd/ks-iam/app/options/options.go#L70
https://github.com/kubesphere/kubesphere/blob/v2.1.1/cmd

[2020-05-06 01:48] wartih commented on #2046
Mounting hostpath /etc/kubernetes/ssl to pod /etc/kubernetes/pki solved this problem. Expecting the new version~

[2020-05-06 01:48] #2046 closed

[2020-05-08 01:27] FeynmanZhou commented on #2030
This issue is reproduced in @yunkunrao 's testing env.

[2020-05-08 02:48] dulumao opened #2052 "UI很漂亮，用的什么库呀"
这个UI用着很舒服，是什么库，还是自己写的呀

[2020-05-08 02:49] FeynmanZhou commented on #2052
English only.

Please see [console project](https://github.com/kubesphere/console).

[2020-05-08 02:49] #2052 closed

[2020-05-09 09:31] min-zh opened #2054 "Pod list API of v1alpha3 with filed get empty response"
**Describe the Bug**
A clear and concise description of what the bug is.
kapis/clusters/${cluster}/resources.kubesphere.io/v1alpha3/namespaces/${namespace}/pods?pvcName=pvc-1
this api always responses empty.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: Master
Kubernetes: (If KubeSphere installer used, you can skip this)

[2020-05-09 09:36] min-zh commented on #2054
/kind bug
/assign @min-zh

[2020-05-12 12:22] yamazakei321 opened #2060 "Does 3.0.0 support kubernetes 1.18+？"
Does 3.0.0 support kubernetes 1.18+？

[2020-05-12 12:24] rayzhou2017 commented on #2060
yes

[2020-05-12 14:53] chinazj opened #2061 "unit test for controller-manager"
/assign
/area testing

[2020-05-13 06:34] #2060 closed

[2020-05-13 09:24] #2054 closed

[2020-05-13 12:09] vglede opened #2064 "Pod had failured to reduce copies on schedule"
Hello
    I am using the kubersphere at v2.1.0 version.when I used the Horizontal Pod Autoscaling  function i found the Pod had failured to reduce copies on schedule .I set params like below picture.
![20200513](https://user-images.githubusercontent.com/38933373/81810363-6657a480-9555-11ea-9eb4-2604ab94c546.png)
what should need i do i can reduce copies on schedule.

[2020-05-13 12:13] vglede commented on #1994
Ok,thank you. i konw.

[2020-05-13 14:50] TomMann opened #2067 "hitting an issue when running installation"
Im running the latest installer in a air-gapped setup. I'm getting the following error when it tries install the packages

TASK [kubernetes/preinstall : Install packages requirements] *******************************************************************************************************************************************************************************************
Wednesday 13 May 2020  13:23

[2020-05-13 15:23] pixiake commented on #2067
which OS ？
If you use offline pkg，`apt `or `yum` source is setup by a container which named pkg-download-center，and  software pkg is in /kubeinstaller

[2020-05-13 15:31] Forest-L commented on #2067
try to apt update or yum clean all && yum makecache

[2020-05-14 01:18] calvinyv commented on #1492
Besides this problem, we also need to adjust the timestamps of ks core workloads, and sync with host boxes's timezone configuration.

[2020-05-14 01:20] calvinyv commented on #1492
also refer to another issue: https://github.com/kubesphere/ks-installer/issues/86

[2020-05-14 01:32] calvinyv commented on #1492
more reference could be found here:
https://kubesphere.com.cn/forum/d/191-pod
https://kubesphere.com.cn/forum/d/846-glusterfs
https://kubesphere.com.cn/forum/d/806-kubesphere2-1-0-bug

[2020-05-14 05:45] yunkunrao commented on #2064
Hi, the num of copies are mainly based on the actual pod resource utilization. First please make sure the request and traffic has dropped. And you can reference ks doc: https://kubesphere.io/docs/installation/install-metrics-server/#introduction-to-hpa

[2020-05-14 08:30] zryfish opened #2073 "Need api to expose kubesphere version"
In multi-cluster environment, we need api to check kubesphere version.

/assign
/kind feature

[2020-05-14 10:46] TomMann commented on #2067
Thanks for your responses, using RHEL 7.8.
running yum clean all && yum makecache fails with the same error
http://<serversIP>:5080/yum_repo/iso/repodata/repomd.xml: [Errno 14] curl#7 - "Failed connect to <serversIP>:5080; Connection refused"

[2020-05-14 11:32] pixiake commented on #2067
`docker ps -a`

[2020-05-14 11:48] pixiake commented on #2067
`RHEL 7.8`
Since RHEL requires lisence, the offline  pkg does not adapt to this operating system.
It is recommended that you can  use `ubuntu` or `centos`，or deploy kubernetes yourself and install KubeSphere by [ks-installer](https://github.com/kubesphere/ks-installer).

[2020-05-14 11:52] TomMann commented on #2067
Seems strange that you have RHEL as a listed supported os. But thanks

[2020-05-14 11:52] #2067 closed

[2020-05-14 11:59] pixiake commented on #2067
If you RHEL get license, you can install KubeSphere by online pkg.

[2020-05-14 12:24] TomMann commented on #2067
Thanks @pixiake we do have license. I work at a large enterprise, the issue is our repos are internal with only an approved subset on a satelite setup which is why the offline/airgapped setup was a requirement. Anyways thanks for taking the time to look at this.

[2020-05-14 12:35] rayzhou2017 commented on #2067
The doc will be updated for the clarification. Right now you can install K8s by yourself using kubeadmin for instance. Then deploy KubeSphere by following the guide from github.com/kubesphere/ks-installer which is able to deploy KubeSphere on existing K8s cluster. We will fix the air gapped installer for RHEL soon. Sorry for the confusion.

[2020-05-15 06:38] rayzhou2017 opened #2077 "File name should follow consistent name convention"
Make file name convention consistent. Some use under-score (_), other use hyphen (-).
<img width="373" alt="Screen Shot 2020-05-15 at 2 35 26 PM" src="https://user-images.githubusercontent.com/28859385/82019303-915b0900-96b9-11ea-8642-176c96589a86.png">

[2020-05-18 03:55] vglede commented on #2064
Ok.I will check  it later.

[2020-05-18 03:56] vglede commented on #2064
Ok.i will check it later.Thank you.

[2020-05-18 03:58] #2064 closed

[2020-05-18 04:07] vglede opened #2081 "When deploying applications or upgrading applications, container name generation cannot automatically ignore those that do not meet the rules."
Hello:
   When deploying applications or upgrading applications, container name generation cannot automatically ignore those that do not meet the rules.
![20200518](https://user-images.githubusercontent.com/38933373/82173481-facc5900-98ff-11ea-98a8-0ac774550e16.png)
if support automatically ignore those that do not meet the rules when  container name generation. i think  it will better for use.

[2020-05-18 04:09] leoendless commented on #2081
It’s bug of kubesphere console, and will be fixed in 3.0

[2020-05-18 05:21] calvinyv commented on #2081
/kind bug

[2020-05-18 06:55] hewenhong opened #2082 "Install openpitrix initContainers fail"
**General remarks**
install openpitrix  initContainers fail

**Describe the Bug**
[root@prod-master01 conf]# kubectl logs  -n openpitrix-system openpitrix-hyperpitrix-deployment-b968486ff-6htk7 -c openpitrix-cluster-db-ctrl
DEBUG: Loading config file: /flyway/conf/flyway.conf
DEBUG: Unable to load config file: /root/flyway.conf
DEBUG: Unable to load config file: /flyway/flyway.conf
DEBUG: Using co

[2020-05-18 06:56] calvinyv commented on #2082
/kind bug

[2020-05-18 06:56] calvinyv commented on #2082
/assign @pengcong06

[2020-05-18 09:18] zheng1 commented on #2082
Maybe need repair https://flywaydb.org/documentation/command/repair

[2020-05-18 13:14] #2061 closed

[2020-05-19 03:46] hewenhong opened #2087 "online install docker version too new bug"
**What's your question**
MSG:

non-zero return code

fatal: [node01]: FAILED! => {
    "attempts": 20,
    "changed": true,
    "cmd": [
        "/usr/bin/docker",
        "images"
    ],
    "delta": "0:00:00.038509",
    "end": "2020-05-19 03:41:28.102164",
    "rc": 1,
    "start": "2020-05-19 03:41:28.063655"
}

STDERR:

Error response from daemon: client version 1.40 is too new. Maximum suppo

[2020-05-19 06:33] Ruilkyu opened #2088 "Whether the binary kubernetes cluster deployed by itself is supported"

[2020-05-19 06:35] FeynmanZhou commented on #2088
Yes, you can refer to the installation guide.

[2020-05-19 08:58] Ruilkyu opened #2090 "Access timeout after all in one installation on Linux"

[2020-05-19 09:07] T-baby opened #2091 "3.0.0 预计什么时候推出呢？"
看官网是预计五月，现在已经五月中旬了。

[2020-05-19 09:10] FeynmanZhou commented on #2091
2~4 weeks delay, please refer to https://github.com/kubesphere/kubesphere/issues/1368#issuecomment-621578644

[2020-05-19 09:10] #2091 closed

[2020-05-19 09:23] Andriydang opened #2092 "Failed to start tiller when install ks"
**What's your question**
Failed to start tiller when feature-gate "BoundServiceAccountTokenVolume" is enabled on apiserver.
Because tiller process is not excuted under uid 0 and does not have access to serviceaccount file.
Additional security context configs should be added to installation scripts,such as runAsUser and etc.

**Environment: OS & Hardware Information**

**Error logs or message (Atta

[2020-05-19 10:45] calvinyv commented on #2092
/kind bug
/assign @pixiake

[2020-05-19 10:54] Forest-L commented on #2087
Fixed it, Please download the installation package again

[2020-05-20 03:50] weekyuan opened #2094 "Cannot batch bind platform role for account"
In version 2.1.1, I cannot batch bind platform roles for accounts

[2020-05-20 06:00] rayzhou2017 commented on #2088
https://kubesphere.io/docs/installation/prerequisites/

[2020-05-20 06:00] #2088 closed

[2020-05-20 06:00] #2087 closed

[2020-05-20 08:25] zackzhangkai opened #2095 "ingress-controller command line invalid format"
First, the format of the first args is invalid.Then, I consult the [official-site](https://kubernetes.github.io/ingress-nginx/user-guide/cli-arguments/) , I assume it's a bug?
Am I right?
[code]
Maybe, it means to specify the `--ingress-class=nginx-ingress-controller`?

[2020-05-20 09:17] zackzhangkai commented on #2095
It's not a bug. It is really a normal argument.

Look up the dockerfile:
[code]

The `nginx-ingrss-controller` is just a command

[code]

[code]

[2020-05-20 09:17] #2095 closed

[2020-05-20 09:57] Ruilkyu commented on #2088
If you want to manage a deployed kubernetes cluster, can you only deploy it under the kubernetes cluster through yaml? whether can you deploy it on a physical machine, and then connect to the existing kubernetes cluster.

[2020-05-20 10:12] FeynmanZhou commented on #2088
@Ruilkyu I this [guide](https://kubesphere.io/docs/installation/install-on-k8s/) can meet your demands.

[2020-05-20 11:26] rayzhou2017 commented on #2088
The second question seems a requirement for multi-cluster management which will be offered in the upcoming v3.0.0.

[2020-05-20 16:16] JokerDevops commented on #1741
我也遇到了这个问题 @ljh2057  没有找到 `busybox` 这个tag啊

[2020-05-20 16:20] FeynmanZhou commented on #1741
@wansir Please help to look at this issue. It looks like the cluster has a DNS that is not available?

[2020-05-21 01:01] Ruilkyu commented on #2088
When will V3.0 be released.

[2020-05-21 01:08] #2081 closed

[2020-05-21 01:28] JokerDevops commented on #1741
My DNS server is normal, I started a redis pod in the same domain space and then used redis-cli to link to the built-in redis. But not ks-apigateway @FeynmanZhou

[2020-05-21 01:58] JokerDevops opened #2098 "DNS can't resolve the problem with built-in redis"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**

Ks-gateway could not link to built-in redis. Ks pod cannot resolve the built-in redis address.
**Environment: OS & Hardware Information**

CentOS 7.7 20C/64G Kubernetes v1.15.1

**Error logs or message (Attach logs or screenshot)**
[code]

**Installer Version**
v2.1.1

[2020-05-21 02:29] Forest-L commented on #2090
Take a look at the pod situation, kubectl get pod -n kubesphere-system;
Log for pod, such as kubectl logs

[2020-05-21 02:37] Forest-L commented on #2044
Check out the redis log.

[2020-05-21 06:38] Paul0523 opened #2101 "Dose 2.1.1 support 1.18.+?"
**What's your question**
Dose 2.1.1 support 1.18.+?

[2020-05-21 06:40] rayzhou2017 commented on #2101
No, the upcoming v3.0.0 will support 1.18.x

[2020-05-21 07:55] Paul0523 commented on #2101
@rayzhou2017 expect publish time is ?

[2020-05-21 08:01] rayzhou2017 commented on #2101
tentative date is by the end of June.

[2020-05-21 09:15] Paul0523 commented on #2101
@rayzhou2017 ok, thank you

[2020-05-21 09:15] #2101 closed

[2020-05-21 13:23] Ruilkyu opened #2102 "Through yaml deployment,Is there another set of kubernetes in kubernetes?"

[2020-05-22 02:11] Ruilkyu opened #2103 "How to use external etcd and es"

[2020-05-22 14:38] FeynmanZhou commented on #2102
Not clear for another set of Kubernetes in Kubernetes, could you give us an explanation?

[2020-05-25 01:51] Ruilkyu commented on #2102
When the physical machine is deployed, a set of k8s is deployed, so whether the existing k8s cluster will also start a set of k8s through yaml deployment。

[2020-05-25 07:29] calvinyv commented on #2092
@Andriydang from the description, it looks like the root cause is from tiller, right? which can't start because of enabling BoundServiceAccountTokenVolume, correct me if I miss sth.

[2020-05-26 08:23] huanggze opened #2124 "Support monitoring & logging for Windows machines"
Please leave your comments, suggestions, etc. on this feature in this thread.

[2020-05-26 08:24] huanggze commented on #2124
/assign @huanggze

[2020-05-26 08:32] 758109577 opened #2125 "ingress config file can't save to gitlab?"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardw

[2020-05-28 05:42] wartih opened #2130 "b2i building image job fail to flush log."
**Describe the Bug**
b2i building image job fail to flush log.
REPORT: "type: search_phase_execution_exception, reason: all shards failed"
For UI issues please also add a screenshot that shows the issue.

KubeSphere: v2.1.1

**Environment**
sufficient hardware environment
Ubuntu 16.04.6

1. Go to project -> application workloads -> services -> create -> nginx (s2i made bymyself, simply unzip a zip

[2020-05-28 14:10] 1007chenbaojun opened #2131 "The error appears to be in '/root/kubesphere-all-v2.1.1/k8s/roles/kubernetes/master/tasks/kubeadm-setup.yml': line 133, column 3, but may be elsewhere in the file depending on the exact syntax problem."
when i use multi-one install in Tencent Cloud.i find
"""
TASK [kubernetes/master : set kubeadm certificate key] *************************************************************
Wednesday 27 May 2020  21:44:56 +0800 (0:00:39.656)       0:08:42.727 *********
fatal: [master1]: FAILED! => {}

MSG:

The conditional check 'item | trim | match('.*--certificate-key .*')' failed. The error was: template error

[2020-05-29 01:45] yunkunrao commented on #2103
Hi, you can ask questons about kubesphere usage in [kubesphere developer forum](https://kubesphere.com.cn/forum/).

[2020-05-29 01:54] yunkunrao commented on #2130
/assign shaowenchen

[2020-05-29 02:00] yunkunrao commented on #2125
Hi, could you please decribe your issue more clearly with some details?

[2020-05-29 02:07] FeynmanZhou commented on #2103
@Ruilkyu
external etcd: https://kubesphere.com.cn/forum/d/1386-kubesphere-etcd
external ES can be configured before or after KubeSphere installation. If you haven't install KubeSphere yet, refer to the installation guide, it has an explanation for it. Otherwise, you can refer to this [guide](https://kubesphere.com.cn/docs/zh-CN/platform-settings/log-gathering/)

[2020-05-29 02:12] pixiake commented on #2131
which version  of ansible and  jinja2 ？

[2020-05-29 09:28] #2131 closed

[2020-05-29 09:29] 1007chenbaojun commented on #2131
ansible ==2.9.9 jinjia2==2.10.1

[2020-05-29 10:13] 1007chenbaojun commented on #2131
change ansible==2.7.12 it is used

[2020-05-29 10:38] Aaron199 opened #2136 "calico路由到部分node上pod是32位主机路由"
[code]
路由到node节点172.25.116.218和172.25.116.217上的pod是一个UGH的主机路由，为什么不是一个24位的网关路由比如node节点172.25.48.154和172.25.133.147，请指点。
kubesphere版本： 2.1.1

[2020-05-29 10:40] FeynmanZhou commented on #2136
English only.

For Chinese conversation please go to [China community](https://kubesphere.com.cn/forum/).

[2020-05-29 10:40] #2136 closed

[2020-05-31 08:02] s97712 opened #2141 "demo ssl certificate expired"
please update  ssl certificate

[2020-05-31 08:05] FeynmanZhou commented on #2141
/cc @zryfish

[2020-05-31 13:57] #1728 closed

[2020-05-31 13:58] #1726 closed

[2020-05-31 13:59] FeynmanZhou commented on #1728
@iam-notabot Has the issue been solved?

[2020-06-01 02:37] Andriydang commented on #2092
Thanks! I think it has something to do with the Kubernetes version，“BoundServiceAccountTokenVolume” is enabled Kubernetes 1.17 or later will not cause this problem.

[2020-06-01 04:00] chankamlam opened #2142 "请问容器组上限是不是锁死110个，可以设置吗？我是all-in-one部署"
请问容器组上限是不是锁死110个，可以设置吗？我是all-in-one部署

[2020-06-01 04:04] FeynmanZhou commented on #2142
English only.

It can be changed in K8s. For Chinese reference, go to [China Forum](https://kubesphere.com.cn/forum/d/721-master/4).

[2020-06-01 04:04] #2142 closed

[2020-06-01 04:29] chankamlam commented on #2142
get it ,had been changed by edit config ,thx

[2020-06-01 06:02] calvinyv commented on #2092
Yes, we think this issue should be reported to helm community for further investigation. Anyways, really appreciate letting us know this limitation.

[2020-06-01 06:02] #2092 closed

[2020-06-01 10:42] tian007-lu commented on #1537
防火墙的原因，我在centos上安装的时候也遇到了，最后关闭了防火墙就好了。
systemctl stop firewalld.service

[2020-06-01 10:48] tian007-lu commented on #1537
[root@localhost scripts]# kubectl logs openebs-ndm-operator-59c75c96fc-j2xcx -n kube-system
{"level":"info","ts":1591008076.330904,"logger":"ndm-operator","msg":"Go Version: go1.12.7"}
{"level":"info","ts":1591008076.330986,"logger":"ndm-operator","msg":"Go OS/Arch: linux/amd64"}
{"level":"info","ts":1591008076.3310008,"logger":"ndm-operator","msg":"operator-sdk Version: v0.5.0"}
{"level":"info","

[2020-06-02 06:28] calvinyv commented on #1368
We're close to the GA of 3.0.0, here are the main features and enhancements list for this major release:

- multiple clusters management
- open UI for 3rd party monitoring metrics
- network policy management
- compatible with Prometheus Alert Mgr
- Event management
- Audit management
- compatible with AWS EKS

[2020-06-02 06:35] wartih commented on #1368
Is there any improvments in auth management?
https://kubesphere.com.cn/forum/d/847-2-1-1/5

[2020-06-02 06:43] calvinyv commented on #1368
sure, we do, which is upgrade and enhancement from backend perspective but not function perspective, including:
 - migrate and support OPA
 - upgrade to CRD constructor
For the link you posted, we already fix related problems in 3.0.0.

[2020-06-02 07:14] wartih commented on #2130
Enlarge elastic XXX.window from default 10000 to a larger number fix my problem

[2020-06-02 07:14] #2130 closed

[2020-06-02 07:41] chjx1988 opened #2147 "添加镜像仓库的时候，无法输入中文账号"

[2020-06-02 07:51] FeynmanZhou commented on #2147
English only.

For Chinese questions, please go to [China forum](https://kubesphere.com.cn/forum/).

[2020-06-02 07:51] #2147 closed

[2020-06-03 02:21] tingkai-zhang opened #2150 "Support Ubuntu 20.04 installation"
**What's your question**
Hi thanks for making this awesome app.

Im installing the latest kbsphere on a Ubuntu 20.04 machine and encountered the following error:

[code]

**Environment: OS & Hardware Information**

Ubuntu 20.04

It was a fresh install attempt. The machine is newly provisioned with no other software installed.

**Error logs or message (Attach logs or screenshot)**
The summary shows

[2020-06-03 03:26] calvinyv commented on #2150
/assign @pixiake

[2020-06-03 04:06] Forest-L commented on #2150
You can refer to https://github.com/kubesphere/kubekey  to install k8s,  and refer to https://github.com/kubesphere/ks-installer to install KubeSphere.

[2020-06-03 04:13] tingkai-zhang commented on #2150
Hi, thanks for the quick response.

Could you elaborate more on the installation issue on Ubuntu 20.04?

If the reason is valid, I would like to create a PR for the kbshere docs for clarification.

[2020-06-03 04:17] FeynmanZhou commented on #2150
Ubuntu 20.04 is not supported in Linux installer, the supported OS are listed [here](https://kubesphere.io/docs/installation/all-in-one/#hardware-recommendation). So, we suggest you install K8s by yourself, then [install KubeSphere on existing K8s cluster](https://kubesphere.io/docs/installation/install-on-k8s/).

[2020-06-03 04:31] tingkai-zhang commented on #2150
OK, I will just leave this issue open to you cuz I think the support for Ubuntu 20.04 may be of low priority but should be on the road map.

I would also like to update installation instructions for kbsphere docs just for people like me who would like to try installing kbsphere on Ubuntu 20.04 machines.

[2020-06-04 09:12] rayzhou2017 opened #2158 "show number of instances for a crd"
I think it would be better to show how many custom resources for each crd in the list.
<img width="965" alt="Screen Shot 2020-06-04 at 5 10 33 PM" src="https://user-images.githubusercontent.com/28859385/83738172-870fa780-a686-11ea-8d62-6113ac6c5487.png">

[2020-06-05 11:15] imjoey commented on #1647
Hi @zryfish , could you please show me where I can get the source codes that makes use of kubebuilder  v2 ? Thanks so much.

[2020-06-05 13:24] zryfish commented on #2141
fixed

[2020-06-05 13:24] #2141 closed

[2020-06-05 18:02] shixud opened #2162 "kubesphere-monitoring-system/node-exporter error"
kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/master/kubesphere-minimal.yaml
node-exporter tips:
0/4 nodes are available: 1 node(s) didn't match node selector, 3 node(s) didn't have free ports for the requested pod ports.

[2020-06-06 07:15] aclk commented on #1999
It will fix in the next release(v3.x.x).

[2020-06-06 08:45] FeynmanZhou commented on #1999
The invalid image search feature seems a bug after adding an https Harbor into KubeSphere.
@calvinyv @shaowenchen Please take a look at this issue, I remember @aclk also encountered this bug.

[2020-06-06 09:50] huanggze commented on #2162
Plz check if 9100 is occupied, which is used by node-export by default. Or you may also modify node exporter's  default port to any number else.

[2020-06-07 04:40] #2162 closed

[2020-06-08 02:08] rayzhou2017 opened #2169 "Give built-in roles description"
Please provide the English and Chinese description for the built-in roles

![Screen Shot 2020-06-08 at 10 06 53 AM](https://user-images.githubusercontent.com/28859385/83986593-ed8b1300-a96f-11ea-889e-aa8e46682bc3.png)

[2020-06-08 02:10] rayzhou2017 opened #2170 "No access list of resources for platform regular role?"
The list is empty
![Screen Shot 2020-06-08 at 10 09 38 AM](https://user-images.githubusercontent.com/28859385/83986701-48bd0580-a970-11ea-9b33-0ab3b3c73101.png)

[2020-06-08 02:12] FeynmanZhou opened #2171 "Failed to roll back deployments in v2.1.1 due to the api version"
Users were failed to roll back deployments in v2.1.1 since the K8s api version changes.

This is a known bug, please refer to [forum](https://kubesphere.com.cn/forum/d/1048-v2-1-1).

[2020-06-08 02:48] rayzhou2017 opened #2172 "kubectl does not work"
When I create a platform custom role with view/edit platform access, and log in with a user granted with the role, click the kubectl shows error. I think this may be similar as the issue https://github.com/kubesphere/console/issues/362#issuecomment-640330124
<img width="1217" alt="Screen Shot 2020-06-08 at 10 44 44 AM" src="https://user-images.githubusercontent.com/28859385/83988319-79536e00-a975-

[2020-06-08 02:53] rayzhou2017 commented on #2172
The same user has no access to the following pages.
<img width="1214" alt="Screen Shot 2020-06-08 at 10 53 22 AM" src="https://user-images.githubusercontent.com/28859385/83988615-56758980-a976-11ea-8be4-769e9fa253df.png">

[2020-06-08 02:58] rayzhou2017 commented on #2172
I found lots of the same issue. It seems we should provide more grained access control. Right now only for view/edit access control for platform, no control for the items under platform.

[2020-06-08 03:05] rayzhou2017 opened #2173 "Provide the description of the network policy"
The requisite of network policy is empty here.
<img width="1020" alt="Screen Shot 2020-06-08 at 11 02 20 AM" src="https://user-images.githubusercontent.com/28859385/83989086-d9e3aa80-a977-11ea-948c-61901ea753c6.png">

[2020-06-08 04:51] rayzhou2017 opened #2174 "Issues on Volumes"
* [x] when I clicked into the redis volume, it throws error. @min-zh
* [x] When I click the back link, it goes back the project instead of the storage management.
<img width="1224" alt="Screen Shot 2020-06-08 at 12 48 31 PM" src="https://user-images.githubusercontent.com/28859385/83993662-a2c8c580-a986-11ea-908e-fda12f17cd86.png">

[2020-06-08 05:00] rayzhou2017 opened #2175 "The role creation seems not complete"
* [ ] nothing shows in each item.
* [ ] the item list seems not complete, and access control should not be there.
<img width="1229" alt="Screen Shot 2020-06-08 at 12 58 28 PM" src="https://user-images.githubusercontent.com/28859385/83994123-0a334500-a988-11ea-9aa4-885f18c8a739.png">

[2020-06-08 05:05] rayzhou2017 opened #2176 "cluster access control document"
It needs the description how to grant users access to the cluster.
<img width="476" alt="Screen Shot 2020-06-08 at 1 03 32 PM" src="https://user-images.githubusercontent.com/28859385/83994323-9e9da780-a988-11ea-8d71-89c207ba92e7.png">

[2020-06-08 06:06] min-zh commented on #2174
Not every storageclass has corresponding storageclasscapability. Storage class of  CSI deployed on KS has storageclasscapability, for exmaple: qingcloud-csi, qingstor-csi, ceph-csi, aws-ebs-csi. Storage vendors like openebs/localpv, nfs-client, rbd(in tree), glusterfs(in tree) don't have the storageclasscapability. I think storageclass without correspondign storaegeclasscapability could be dealed

[2020-06-08 06:22] rayzhou2017 commented on #2174
The capability isn't a unified interface for all SC? Who is responsible to write the capability? by each SC provider?

[2020-06-08 06:50] min-zh commented on #2174
The capability is an unified interface for all SC of **CSI**, as we get the capability from the standard interface. The other SC, which are non-CSI, they don't have the standard interface, so we can't get their capabilities. Most of the non-CSI storage class just has the basic feature, so we can hanler them without senior features.

[2020-06-08 06:51] min-zh commented on #2174
@justahole please handle this on frontend

[2020-06-08 06:51] rayzhou2017 commented on #2174
I see. So it is bug here then. We should fix it.

[2020-06-08 06:53] rayzhou2017 opened #2177 "project member page throws error"
Can't open the page using the default user admin. The project is created by admin. The project role page can't open either.
<img width="1230" alt="Screen Shot 2020-06-08 at 2 49 56 PM" src="https://user-images.githubusercontent.com/28859385/84000720-c2b4b500-a997-11ea-8a82-81c39bbffa51.png">

[2020-06-08 07:35] min-zh commented on #2174
/assign @justahole

[2020-06-08 09:06] zryfish commented on #2174
/cc @justahole

[2020-06-09 10:46] wansir commented on #2172
Kubectl can only be used by cluster-admin (platform-admin is cluster-admin of all clusters). It is unnecessary to provide kubectl toolbox authorization unless we provide the kubectl plug-in let regular user use kubectl well. Custom roles does not have full platform access(unable to customize a platform-admin), we can add more description of authorization items. Generally, edit, delete and create p

[2020-06-09 10:47] wansir commented on #2172
https://github.com/kubesphere/ks-installer/pull/752

[2020-06-09 10:54] wansir commented on #2170
By default, platform regular does not have any cluster resource authorization. We define the default roles at here, https://github.com/kubesphere/ks-installer/blob/master/roles/ks-core/prepare/files/ks-init/iam-accounts.yaml.

[2020-06-09 12:46] rayzhou2017 opened #2181 "Authorization issue"
I created a custom role with cluster edit permission, then created a user with the role. Log in using the user and try to create a workspace, throws the following error. It seems it requires user view permission. It is hard for users to understand.

Should it be like this logic? If the role has no access to view users, then only show itself in the dropdown list. Otherwise ,show all users in the li

[2020-06-09 12:52] wansir commented on #2181
The user only has the cluster manage permission, cannot open the access control page and create a workspace, did you refresh the page.

[2020-06-09 12:54] rayzhou2017 commented on #2181
but it does show `create workspace` for the user.

[2020-06-09 12:55] rayzhou2017 commented on #2181
check the logic I said above

[2020-06-09 13:02] rayzhou2017 commented on #2177
Now I can open the page without error, but it shows no users. I think `admin` should be in the list since I created it using admin. Also the ws member is empty too. /cc @wansir @leoendless

[2020-06-09 13:10] rayzhou2017 commented on #2172
OK，I see the kubectl does not appear now.

[2020-06-09 13:10] #2172 closed

[2020-06-09 13:16] rayzhou2017 commented on #2170
If this role has no access to any resource, why built in it here? Is it like anonymous role? If so, why call it platform-regular?

[2020-06-09 13:27] wansir commented on #2170
Anonymous role is bind to unauthenticated user group. Like cluster-regular, the regular user has no rights in global scope, but they can be added to workspace or namespace.

[2020-06-09 13:51] rayzhou2017 commented on #2170
If it is that case, what is the working flow for a new user to start work? The admin will only create user account for him. Then who creates ws for the user?

[2020-06-09 14:03] wansir commented on #2170
We will built-in more roles, such as user manager and workspace manager. A global role that can create workspace but cannot manage other workspaces is also needed.

[2020-06-09 15:05] LinuxSuRen opened #2182 "[Proposal] Using a simple and open-source Jenkins distribution solution"
[Jenkins formula](https://github.com/jenkins-zh/jenkins-formulas) is a open-source project which allow users to create their own Jenkins distribution. What do you need to do is just create a YAML file.
There some beneficial you can enjoy:
- Do not need update-center
- Easily to package this distribution from a private environment
- More collaborations

[2020-06-10 03:58] Vincentgaof opened #2183 "[demand] workload clone"
Generally, you should follow some steps to create a new workload, but sometimes it looks cumbersome, because you only change the name, image or labels when creating a new workload, you must reopen create page of workload for submiting parameters.
So if there is a **clone mechanism** likely vms in cloud enviroment, only click on clone button and input parameters that need to be changed, that would

[2020-06-10 04:54] romantictravel01 opened #2184 "install error"
![image](https://user-images.githubusercontent.com/59325449/84228373-73968d80-ab19-11ea-8f61-f32efd536f6d.png)

[2020-06-10 04:58] romantictravel01 opened #2185 "为什么必须配置内网ip"
多节点安装,必须设置个内网ip感觉莫名其妙,有ip连通就可以了,为什么必须搞个内网ip,而且必填
为什么不是设置了内网ip就访问内网ip,如果不设置就访问host对应的域名或者ip

[2020-06-10 06:20] FeynmanZhou commented on #2185
English only.

In some environments, SSH addresses are not the same as machines' internal IP addresses. For Chinese questions, please raise it on [China forum](https://kubesphere.com.cn/forum/).

[2020-06-10 06:20] #2185 closed

[2020-06-10 06:28] romantictravel01 commented on #2185
所以设计必填的人逗B

[2020-06-10 06:28] FeynmanZhou commented on #2182
@shaowenchen Please help to evaluate and follow up on this proposal.

[2020-06-10 06:32] rayzhou2017 commented on #2185
Please go to the forum if you prefer Chinese. BTW, you can contribute if you think you have better idea.

[2020-06-10 06:41] FeynmanZhou commented on #2184
What's the user are you using? What's your OS environment?

[2020-06-10 06:41] rayzhou2017 commented on #2174
verified

[2020-06-10 06:41] #2174 closed

[2020-06-10 06:51] rayzhou2017 opened #2186 "Assignment of ws admin does not work"
When creating a ws, I assign a created platform-regular user as its admin. The user is not in the ws. Then I try to invite the user, it shows please choose a role but no one available over there.
<img width="960" alt="Screen Shot 2020-06-10 at 2 49 18 PM" src="https://user-images.githubusercontent.com/28859385/84236161-cb3cf500-ab29-11ea-8e4d-d6155aa7d657.png">
<img width="715" alt="Screen Shot 20

[2020-06-10 06:51] romantictravel01 commented on #2184
centos8     Docker version 19.03.11

[2020-06-10 06:52] rayzhou2017 commented on #2186
Obviously, missing ws built-in roles
<img width="1045" alt="Screen Shot 2020-06-10 at 2 52 20 PM" src="https://user-images.githubusercontent.com/28859385/84236312-0808ec00-ab2a-11ea-9b6c-2e4abc2c6a38.png">

[2020-06-10 09:10] ktpktr0 opened #2189 "Apiserver monitoring indicator is empty"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**
Apiserver monitoring indicator is empty

**Environment: OS & Hardware Information**

VMware CentOS 7.7，k8s 1.17.3

**Error logs or message (Attach logs or screenshot)**
![image](https://user-images.githubusercontent.com/41657218/84249043-d5b4ba00-ab3c-11ea-8b61-22ba18798b82.

[2020-06-10 09:32] zryfish commented on #2036
istio-init-crd-* are jobs, once they are completed, they are done. Can you check your cluster resources usage, pending state usually means resource starvation. Please run following command on your cluster node, and check resource requests, see if their numbers are very high
[code]

[2020-06-10 09:38] zryfish commented on #2014
Can you be more specific? You have to restart `istio-sidecar-injector` deployment to apply the new configmap.

[2020-06-10 09:50] shaowenchen commented on #2182
It sounds great. There is a brief introduction about how to deploy Jenkins in KubeSphere DevOps.

1. using helm to install Jenkins , https://github.com/kubesphere/ks-installer/tree/master/roles/ks-devops/jenkins/files/jenkins/jenkins
2. using UC to provide Jenkins Plugins

There are some configure files used in deploying DevOps.

jenkins-casc-config -  https://github.com/kubesphere/ks-installer/bl

[2020-06-10 09:58] zryfish commented on #1647
You can't use kubebuilder v2 directly,  we only upgrade kubebuilder dependent modules to v2, but since initial kubebuilder v2 applies to different code structures(only single API group supported), it will mess our repo if using directly. Currently, we create necessary folders and files manually.

[2020-06-10 10:02] zryfish commented on #1647
Just checked the documentation, kubebuilder v2 now supports multigroup API, we will get back with this soon

[2020-06-10 10:21] LinuxSuRen commented on #2182
It sounds pretty good. It can help me going deep it.

[2020-06-10 11:37] FeynmanZhou commented on #2182
@LinuxSuRen Feel free to join us in [Slack](https://join.slack.com/t/kubesphere/shared_invite/enQtNTE3MDIxNzUxNzQ0LTZkNTdkYWNiYTVkMTM5ZThhODY1MjAyZmVlYWEwZmQ3ODQ1NmM1MGVkNWEzZTRhNzk0MzM5MmY4NDc3ZWVhMjE) and find the channel #SIG-DevOps. If you need any resources or help, let us know.

[2020-06-11 14:01] rayzhou2017 opened #2194 "incorrect numbers"
The project number and devops project number are incorrect.
<img width="952" alt="Screen Shot 2020-06-11 at 10 00 18 PM" src="https://user-images.githubusercontent.com/28859385/84394110-168cfb80-ac2f-11ea-9e6f-7b374d8f8be9.png">

[2020-06-12 05:44] calvinyv opened #2196 "Feat: hide network policy management utilities when installing ks with non-calico cni"
**Describe the Bug**
hide network policy management utilities when installing ks with non-calico cni

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: 3.0.0 dev
Kubernetes: (If KubeSphere installer used, you can skip this)

**How To Reproduce**
Steps to reproduce the behavior:
1. install KubeSphere with cni flannel
2. Create a project with 'network is

[2020-06-12 05:45] calvinyv commented on #2196
/assign @leoendless @duanjiong @zheng1

[2020-06-12 05:46] calvinyv commented on #2196
/area networking
/kind feature-request

[2020-06-12 15:20] LinuxSuRen commented on #2182
If I understand correctly, I need to create a formula which contains [these plugins](https://github.com/kubesphere/ks-installer/blob/master/roles/ks-devops/jenkins/templates/custom-values-jenkins.yaml.j2#L57). Then change the Jenkins docker image to a new one. Right?

[2020-06-12 16:21] shaowenchen commented on #2182
Yes , this image will be used in helm chart to deploy jenkins.  Others，it is necessary to provide a convenient method to maintain this image.

[2020-06-12 23:10] shaowenchen opened #2198 "Add user to ldap"
[code]

DevOps use LDAP to manager users. It is necessary to sync users from Auth to OpenLDAP

version: 20200613 installer
/area  iam
/assign @wansir

[2020-06-12 23:10] shaowenchen commented on #2198
/milestone 3.0.0

[2020-06-13 01:17] imjoey commented on #1647
@zryfish Thank you very much for the efforts. In addition, will the code structures be refactored along with kubebuilder v2? If not, we could provide a script  for automatically transferring to codes auto-generated by v2 to v1 for easing the development. Please let me know your insight. Thanks.

[2020-06-13 06:31] rayzhou2017 opened #2199 "Can't open project"
<img width="1225" alt="Screen Shot 2020-06-13 at 2 30 04 PM" src="https://user-images.githubusercontent.com/28859385/84561867-7f38bd00-ad82-11ea-9197-0fd9a4fd1cac.png">

[2020-06-14 00:04] LinuxSuRen commented on #2182
Hi @shaowenchen , I met some problems. I was wondering if you can give me a hand.

There're a few plugins I cannot found them:
[code]

Below are not a maven project.
[code]

[2020-06-14 00:43] shaowenchen commented on #2182
Most of plugins are downloaded from
`"https://mirrors.tuna.tsinghua.edu.cn/jenkins/plugins/$name/$version/$name.hpi"`

But, kubesphere-extension:0.0.1 \kubesphere-token-auth:0.2.0 are developed by Kubesphere. All plugins are saved in the docker image named of kubespheredev/jenkins-uc:3.0.0

How do you get the plugins? Offline , or online?

[2020-06-14 02:44] LinuxSuRen commented on #2182
In the project of 'Jenkins formulas', it downloads plugins from a maven repo. So all those plugins need to be access from a public maven repo(e.g. a public Nexus sever).

[2020-06-14 02:52] shaowenchen commented on #2182
Can you give me a suggestion? Or , we just need to deploy/find a public maven repo and upload plugins about kubesphere?

[2020-06-14 03:01] LinuxSuRen commented on #2182
If all kubesphere plugins already hosted in [the official org](https://github.com/jenkinsci/). I believe that you just need to deploy it to the official repo. Which means just simply execute the following command:
`mvn release:prepare release:perform` or `jcli plugin release`

[2020-06-14 03:16] shaowenchen commented on #2182
Only kubesphere-token-auth-plugin is not in it. Do I need to transfer https://github.com/shaowenchen/kubesphere-token-auth-plugin to https://github.com/jenkinsci ?
Please verify that other plugins can be downloaded properly.

[2020-06-14 08:09] wansir commented on #2199
Due to the API change https://github.com/kubesphere/kubesphere/pull/2195

[2020-06-14 08:10] wansir commented on #2186
https://github.com/kubesphere/kubesphere/pull/2164

[2020-06-14 08:11] wansir commented on #2177
https://github.com/kubesphere/kubesphere/pull/2164

[2020-06-14 09:20] zanglei80231314 opened #2200 "建议将应用商店内应用被三方引用可将应用镜像细分至应用内部服务（或组件）镜像"
建议能遵照OAM模型更细粒度的实现应用全生命周期的管理至实现组件级的全生命周期管理，例如应用商店内已发布应用被三方引用可将应用镜像细分至应用内部服务（或组件）镜像。解决组件间依赖问题，包括不同应用内的组件之间的依赖和传输传递。
此建议如有不当或已实现请回复“建议删除”，谢谢

[2020-06-14 09:24] FeynmanZhou commented on #2200
English only.

Thank you for your suggestion. For Chinese proposal, please go to [China forum](https://kubesphere.com.cn/forum/t/Feedback).

[2020-06-14 09:24] #2200 closed

[2020-06-15 03:30] BlueSky-YJS commented on #1495
# /usr/local/bin/kubectl logs ks-apigateway-57594c7b96-kzq5h -n kubesphere-system
2020/06/15 03:24:54 [INFO][cache:0xc000859130] Started certificate maintenance routine
[DEV NOTICE] Registered directive 'authenticate' before 'jwt'
[DEV NOTICE] Registered directive 'authentication' before 'jwt'
[DEV NOTICE] Registered directive 'swagger' before 'jwt'
Activating privacy features... done.
E0615 03:24

[2020-06-15 06:38] jayzch opened #2201 "容器环境变量配置优化"
![image](https://user-images.githubusercontent.com/5292764/84625569-15e9b300-af16-11ea-935c-2cd3bd8e81dc.png)

是否可以在引用配置中心时，配置项的名称默认取配置中心的key

[2020-06-15 07:05] BlueSky-YJS commented on #1741
nc: bad address 'redis.kubesphere-system.svc'
waiting for redis
nc: bad address 'redis.kubesphere-system.svc'
waiting for redis
nc: bad address 'redis.kubesphere-system.svc'
waiting for redis
waiting for redis
nc: bad address 'redis.kubesphere-system.svc'
waiting for redis
nc: bad address 'redis.kubesphere-system.svc'
nc: bad address 'redis.kubesphere-system.svc'
waiting for redis
nc: bad address

[2020-06-15 15:18] FeynmanZhou commented on #2201
English only.

Thanks for your suggestion, it's duplicated with this [one](https://kubesphere.com.cn/forum/d/1558), so we close it.

[2020-06-15 15:18] #2201 closed

[2020-06-16 07:44] gaussli opened #2207 "Internal Error about Calling webhook when I create image builder"
**Describe the Bug**
When i create image builder, an error occurs. The error is below:
[code]
The screenshot is:
![failed calling webhook](https://i.loli.net/2020/06/16/Y5mJxMZQzOX1vUE.png)

**Versions Used**
Docker：v19.03.11
Kubernetes：v1.17.3
KubeSphere: v2.1.1
Harbor outside: v1.9.4

**Environment**
How many nodes and their hardware configuration:
CentOS 7.8 / 1 masters:  3cpu/10g; 2 nodes: 3cp

[2020-06-16 07:56] gaussli commented on #2207
And I checked the kubesphere-devops-system resource and all are running right
[code]

[2020-06-16 07:59] rayzhou2017 opened #2208 "admin missing in project members"
![Screen Shot 2020-06-16 at 3 58 38 PM](https://user-images.githubusercontent.com/28859385/84747805-587cbf80-afea-11ea-85f7-aa3e1d854d0c.png)

[2020-06-16 08:14] rayzhou2017 opened #2209 "can't add ws admin user in the ws"
create a ws manager user `ws-manager` and a platform regular user `ray`, using `ws-manager` to create a ws and grant the admin to the user `ray`. Then log in using `ray`, can't see the ws. And check the ws members, `ray` is not there.
![Screen Shot 2020-06-16 at 4 11 54 PM](https://user-images.githubusercontent.com/28859385/84749371-7519f700-afec-11ea-8434-6d9f66f42e9f.png)

[2020-06-16 08:16] rayzhou2017 opened #2210 "devops menu shows in project for minimal installation"
![Screen Shot 2020-06-16 at 4 16 13 PM](https://user-images.githubusercontent.com/28859385/84749583-c0340a00-afec-11ea-9bf8-3411eb5fa089.png)

[2020-06-16 08:19] rayzhou2017 opened #2211 "navigation menu missing items"
`ray` is the admin of the project, but can't see the project navigation items such workload...
![Screen Shot 2020-06-16 at 4 17 58 PM](https://user-images.githubusercontent.com/28859385/84749838-17d27580-afed-11ea-956a-dc69398e27f6.png)

[2020-06-16 08:20] rayzhou2017 commented on #2211
also the member menu is missing
![Screen Shot 2020-06-16 at 4 20 01 PM](https://user-images.githubusercontent.com/28859385/84749973-43edf680-afed-11ea-87fa-470170754fa1.png)

[2020-06-16 08:35] wansir commented on #2209
https://github.com/kubesphere/kubesphere/pull/2212

[2020-06-16 08:44] wansir commented on #2208
Account `admin` is `platform-admin` (can manage all resources), not a member of any project by default.

[2020-06-16 09:39] wansir commented on #2211
https://github.com/kubesphere/kubesphere/pull/2206

[2020-06-16 09:58] rayzhou2017 commented on #2210
verified

[2020-06-16 09:58] #2210 closed

[2020-06-16 12:19] rayzhou2017 opened #2213 "Monitoring data is missing"
The cpu, memory, pod number are missing here.
<img width="975" alt="Screen Shot 2020-06-16 at 8 17 34 PM" src="https://user-images.githubusercontent.com/28859385/84773129-8c69dc00-b00e-11ea-90ee-6c93c7db747d.png">

[2020-06-16 12:28] rayzhou2017 opened #2214 "No built-in cluster roles"
Do we need to provide built-in cluster roles?
<img width="1177" alt="Screen Shot 2020-06-16 at 8 27 38 PM" src="https://user-images.githubusercontent.com/28859385/84774108-f1720180-b00f-11ea-98b7-ac4644196796.png">

[2020-06-16 12:32] rayzhou2017 opened #2215 "cluster basic info"
* [ ] How does a user edit the name of the cluster? If this cluster is added to a multicluster, the name may be duplicate?
* [ ] The monitoring data seems used ones. Do we need to provide total values here?
<img width="1148" alt="Screen Shot 2020-06-16 at 8 29 46 PM" src="https://user-images.githubusercontent.com/28859385/84774438-6a715900-b010-11ea-8b47-c71202b9b26c.png">

[2020-06-16 12:35] zryfish commented on #2215
Cluster name is just placeholder here(we can use another name), for a consistent experience. We need an actual name when a cluster joining multicluster.

[2020-06-17 04:07] whalecold commented on #2044
The same problem:
[code]
The redis log has no error message.

[2020-06-17 10:14] liuyp2018 opened #2220 "creating ws，no cluster elected，actually selected all cluster"
steps：
1、creating ws，no cluster elected
![image](https://user-images.githubusercontent.com/36271543/84885350-7f5bf400-b0c5-11ea-9559-29ea50a5bd93.png)

2、Go to the cluster visibility page to see the ws created, which already exists in the visibility list
![image](https://user-images.githubusercontent.com/36271543/84885462-a7e3ee00-b0c5-11ea-8411-7b5c485da113.png)

/kind bug
/area console
/assign @

[2020-06-17 10:22] liuyp2018 commented on #2220
/milestone 3.0.0

[2020-06-17 15:31] juan-vg commented on #2006
Hello @zheng1

Your answer is not completely accurate, so let me try to open this again. What I mean is that you're mixing stuff. Have a shared application repository is not actually linked to cluster federation. I could have 2 different clusters (obviously NOT federated) and use the same app repo. Just to reuse the apps

As I've been able to see on a [DZone tutorial](https://dzone.com/articles/de

[2020-06-17 15:50] juan-vg commented on #1969
I would suggest to move directly to 1.6.x as they have fixed some upgrade stuff regarding helm and the new control plane (istiod) approach

[2020-06-17 16:11] juan-vg opened #2222 "Project's name collision"
**Describe the Bug**

Facts to keep in mind:
1. KubeSphere projects are mapped as K8S namespaces
2. KubeSphere projects are grouped on KubeSphere workspaces

Due to fact 2, the project name should be unique per workspace. That's clear.
Due to fact 1, the project name is unique per cluster. This makes no sense.

**Versions Used**
KubeSphere: 2.1.1
Kubernetes: 1.17.5

**Environment**
Not relevant

*

[2020-06-17 16:25] rayzhou2017 commented on #2222
You bring a very good issue which we thought about it indeed. Also we did consider your proposal solution.  But it will confuse people who use kubectl, and bring problems when deploy KubeSphere in an existing Kubernetes cluster which is the install way KubeSphere supports. That is what we struggled about. We try to keep native with Kubernetes as much as possible. If most of KubeSphere users really

[2020-06-17 16:33] FeynmanZhou commented on #2006
Hello @juan-vg,

The [DZone tutorial](https://dzone.com/articles/deploy-grafana-to-kubernetes-using-application-tem-1) is out-of-date, that post was demonstrated using v2.0.2.

Now you can refer to [this guide](https://kubesphere.io/docs/quick-start/one-click-deploy/) to import an external app repository to KubeSphere 2.1.1. This feature has been moved into the workspace in v2.1.1, I hope it can h

[2020-06-17 16:35] rayzhou2017 commented on #2222
Also that is why we provide alias name, not only to support different languages, but also to support same name in different workspace.

[2020-06-17 16:35] FeynmanZhou commented on #1969
@juan-vg +1. As @zryfish mentioned previously, we will bring Istio 1.6.x in v3.1.

[2020-06-18 02:03] zheng1 commented on #2006
In the upcoming 3.0 version, multi-cluster management will be supported. You can **deploy the apps in the repo to different clusters on one dashboard**.

In version 2.x we can only support one dashboard to manage one cluster. But you can also use the same repo in multiple clusters, as long as the repo can be accessed.

[2020-06-18 02:56] rayzhou2017 commented on #1969
/cc @zryfish

[2020-06-18 03:03] zryfish commented on #1969
KubeSphere v2.1.1 uses istio 1.3.x, Users should not upgrade 1.3.x to 1.5.x directly since this is not backed by the istio community, it's not safe. We are upgrading istio to 1.4.8, the latest version of 1.4.x in v3.0, and planning to upgrade a newer version in v3.1.

[2020-06-18 05:45] rayzhou2017 opened #2224 "CMD is missing authorization"
`ray` is the admin of the project, but has no edit permission for custom monitoring dashboard
![Screen Shot 2020-06-18 at 1 42 56 PM](https://user-images.githubusercontent.com/28859385/84982732-d87d6380-b169-11ea-8550-8399f8269132.png)

[2020-06-18 06:14] rayzhou2017 commented on #2173
/cc @zheng1

[2020-06-18 06:54] zheng1 commented on #2173
Make sure that the CNI network plugin used by the cluster support [NetworkPolicy](https://kubernetes.io/docs/concepts/services-networking/network-policies/). There are a number of CNI network plugins that support NetworkPolicy, including: Calico, Cilium, Kube-router, Romana, Weave Net.

[2020-06-18 07:03] rayzhou2017 commented on #2173
/cc @Sherlock113 Please be aware of there is a link in the text.

[2020-06-18 07:05] Sherlock113 commented on #2173
Noted. I will add that.

[2020-06-18 07:56] rayzhou2017 opened #2226 "built-in roles description"
/cc @wansir Please provide the description of the built-in roles. Chinese is also fine. @Sherlock113  will take over the locales.
<img width="1183" alt="Screen Shot 2020-06-18 at 3 53 20 PM" src="https://user-images.githubusercontent.com/28859385/84993584-11263880-b17c-11ea-9509-11a61f26936d.png">
<img width="1067" alt="Screen Shot 2020-06-18 at 3 55 39 PM" src="https://user-images.githubuserconte

[2020-06-18 08:48] juan-vg commented on #2222
@rayzhou2017

First of all, thank you for your quick and bright response. I will answer you step by step :)

I can't agree on this. If you additionally provide the workspace on the namespace name, you're providing extra info. Example: _datascience_demo1_ looks clearer than just _demo1_

This approach will also help to see the namespaces "grouped" by workspace (thanks to alphabetical ordering) when

[2020-06-18 08:50] juan-vg commented on #2222
Here is where I see a very big issue when using kubectl. It's not going to match the KubeSphere view!

[2020-06-18 09:06] rayzhou2017 commented on #2222
Thanks for your detailed explanation. I think I am convinced by you. I will talk with the dev people about it.

[2020-06-18 09:14] juan-vg commented on #1969
@zryfish AFAIK it's not recommended, but it's backed to migrate to 1.6 directly since the migration from 1.4 to 1.5 is broken when using helm, as [it has been discussed on Istio's github issues](https://github.com/istio/istio/issues/22874#issuecomment-614682792). On the other hand, I don't see any issue on running more than one upgrade on Istio when migrating to v3.0

Moreover, here comes another

[2020-06-18 09:38] juan-vg commented on #2006
So you will be able to manage several clusters which are completely independent between themselves (no federation)?

[2020-06-18 09:53] zheng1 commented on #2006
yep.

[2020-06-18 12:08] juan-vg commented on #2006
Awesome! 😎

[2020-06-18 12:11] juan-vg commented on #2222
You're welcome! Feel free to come back to this issue to discuss together any other details :)

[2020-06-19 01:18] rayzhou2017 commented on #2222
Sure, we had a quick discussion about it. There are still different voices about it. I personally agree to provide both ways and allow users to choose. We will get back on this issue after v3.0 released and make final decision. BTW, the latest version 2.1.1 already supports users to assign unclaimed projects to workspace, which is the way how to manage namespaces after deploying KubeSphere into an

[2020-06-19 02:07] zryfish opened #2228 "No agent yaml when importing cluster with proxy connection type"
**Describe the Bug**
When import cluster using proxy connection, after clicking import button, the page is always loading and agent yaml section is blank, inspect with Chrome Tools, the API responded correctly.

![截屏2020-06-19 10 04 55](https://user-images.githubusercontent.com/3326354/85089115-5e55e900-b214-11ea-8072-d56cd072fbbb.png)

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: v1.18..3

**

[2020-06-19 02:08] zryfish commented on #2228
/milestone 3.0.0

[2020-06-19 02:43] zryfish opened #2229 "Need to refresh to show correct replicas when increase multicluster deployment replicas"
**Describe the Bug**
When increase multicluster deployment replicas on a specific cluster by clicking `+` button, nothing happened, but when I refresh the page, it shows the correct replica number.
![截屏2020-06-19 10 35 42](https://user-images.githubusercontent.com/3326354/85091219-8b58ca80-b219-11ea-8185-50c31ef2aebb.png)

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: v1.18.3

**Environment**
H

[2020-06-20 01:59] Tufeiming opened #2234 "创建资源型项目，最后一步点击创建按钮没反应"
chrome控制台信息
![image](https://user-images.githubusercontent.com/22171113/85188907-beb05d80-b2dc-11ea-825e-e83608137c14.png)
请问怎么解决？

[2020-06-20 02:01] Tufeiming commented on #2234
![image](https://user-images.githubusercontent.com/22171113/85188932-f0c1bf80-b2dc-11ea-9279-5f0be83ca791.png)

[2020-06-20 02:12] Tufeiming commented on #2234
Failed to load resource: the server responded with a status of 409 ()
dashboard:1 Uncaught (in promise) Objectmessage: undefinedreason: ""status: 409__proto__: Object

[2020-06-20 02:49] FeynmanZhou commented on #2234
English only.

For Chinese questions, please raise it on [China form](https://kubesphere.com.cn/forum).

[2020-06-20 02:49] #2234 closed

[2020-06-20 02:52] dearblen opened #2235 "pkg-download-center 镜像起不了， 安装失败"
pkg-download-center
6c00ab5b141563b11d513b7b74f3a9406c386cc4e4c98cfd88848596751b19fc

docker: Error response from daemon: OCI runtime create failed: container_linux.go:349: starting container process caused "exec: \"nginx:1.14-alpine\": executable file not found in $PATH": unknown.

[2020-06-20 02:56] FeynmanZhou commented on #2235
English only.

Which kind of installation are you using? online or offline? Please give more details about your system and installer information.

**For Chinese questions, please raise it on [China form](https://kubesphere.com.cn/forum).**

[2020-06-20 02:56] #2235 closed

[2020-06-20 04:15] april-qqy opened #2236 "docs/appendix/ceph-ks-install/，run “ceph-deploy mon create-initial” ，get error ,[ceph_deploy.mon][ERROR ] ceph needs to be installed in remote host: XX"
## English only!

**What's your question**
follow docs/ appendix/deploy Ceph RBD ，run “ceph-deploy mon create-initial” ，but get error ,[ceph_deploy.mon][ERROR ] ceph needs to be installed in remote host: ceph1

**Environment: OS & Hardware Information**

Hostname | IP | OS | CPU | RAM | Device
-- | -- | -- | -- | -- | --
ceph1 | 192.168.13.188 | CentOS Linux release 7.8.2003 (Core) | 4 core | 8G |

[2020-06-20 04:20] april-qqy commented on #2236
pre-step "ceph-deploy new ceph1"print follow massage
[ceph@ceph1 cluster]$ ceph-deploy new ceph1
[ceph_deploy.conf][DEBUG ] found configuration file at: /root/.cephdeploy.conf
[ceph_deploy.cli][INFO  ] Invoked (2.0.1): /bin/ceph-deploy new ceph1
[ceph_deploy.cli][INFO  ] ceph-deploy options:
[ceph_deploy.cli][INFO  ]  username                      : None
[ceph_deploy.cli][INFO  ]  func

[2020-06-20 05:42] rayzhou2017 opened #2237 "missing monitoring data"
allinone, minimal installion.
<img width="673" alt="Screen Shot 2020-06-20 at 1 40 35 PM" src="https://user-images.githubusercontent.com/28859385/85193505-c3383e80-b2fb-11ea-896d-1c69cceef112.png">

[2020-06-20 08:24] april-qqy commented on #2236
I forgot a step "**ceph-deploy install ceph1**"，
ceph should be installed on each node with the ceph-deploy tool in advance。
I  run" ceph-deploy install ceph1" in controller node , then error disappear

[2020-06-21 11:09] leoendless commented on #2220
Fixed

[2020-06-22 04:45] rayzhou2017 opened #2239 "adding cluster using agent hung"
When adding a new cluster using agent way, it hangs, and throws error.
![Screen Shot 2020-06-22 at 12 43 50 PM](https://user-images.githubusercontent.com/28859385/85249357-21912880-b486-11ea-91c9-b9ddba4dbf9a.png)

[2020-06-22 05:19] rayzhou2017 commented on #2239
It is my mistake by adding wrong info in the configuration file. @zryfish will refine the error msg anyway.

[2020-06-22 10:03] Ma-Dan opened #2242 "Failed to modify admin password in KS 3.0.0"
**Describe the Bug**
A clear and concise description of what the bug is.
Modify admin password on new installed KS 3.0.0, UI popup 'Bad Request' error and password is not modified.

![image](https://user-images.githubusercontent.com/38337958/85274675-d856ce00-b4b1-11ea-8483-a3228eb27918.png)

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Envi

[2020-06-23 06:10] calvinyv opened #2246 "Create a secret by choosing 'custom' type, but created as default type"
**Describe the Bug**
Create a secret by choosing 'custom' type, but created as the default type

**Versions Used**
KubeSphere: 2.1.1
Kubernetes: (If KubeSphere installer used, you can skip this)

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to some project
2. Create a secret as 'custom' type
3. the type will be shown as blank type, click 'save' the secret will be saved as default ty

[2020-06-23 06:11] calvinyv commented on #2246
/kind bug
/assign @leoendless
/area console

[2020-06-23 06:24] rayzhou2017 opened #2247 "change cluster visibility got error msg"
When I edit ws the access to cluster, got the error msg below. Set the cluster public also got the msg.
<img width="1146" alt="Screen Shot 2020-06-23 at 2 23 03 PM" src="https://user-images.githubusercontent.com/28859385/85368132-3ab8d880-b55d-11ea-9ff4-fade4e23ac4c.png">

[2020-06-23 09:03] rayzhou2017 opened #2248 "Fed project without cluster available throws error"
The ws has no cluster granted. Click the fed project tab, throws error as below. Also I suggest to add loud msg such as "No cluster for the ws..., please...." on the project page too.
<img width="1230" alt="Screen Shot 2020-06-23 at 5 01 05 PM" src="https://user-images.githubusercontent.com/28859385/85384154-7068bc00-b573-11ea-8b23-146e980eb742.png">

[2020-06-23 09:14] leoendless commented on #2248
this use should have the permission of list federatednamespaces in the workspace

[2020-06-23 09:14] rayzhou2017 commented on #2247
Now the error msg is gone. However, I grant the cluster to the demo-ws, but it does not work.
<img width="1013" alt="Screen Shot 2020-06-23 at 5 14 10 PM" src="https://user-images.githubusercontent.com/28859385/85385498-f33e4680-b574-11ea-8875-970978ef75f8.png">

[2020-06-23 09:32] leoendless commented on #2247
@wansir

[2020-06-23 09:37] leoendless commented on #2246
Please input the custom type value.

[2020-06-24 02:17] LinuxSuRen commented on #2182
Yes, it's better if we publish it to the official. I already pushed the Jenkins image to my personal account below:
`surenpi/jenkins-kubesphere:2.204.5`

Please take a look at it. Please tell me if there's any issues about this distribution.

[2020-06-24 03:01] shaowenchen commented on #1218
outdated
/close

[2020-06-24 03:01] #1218 closed

[2020-06-24 05:39] wangpo1991 opened #2249 "which version will support the kubenetes 1.18.x"
which version will support the kubenetes 1.18.x

[2020-06-24 05:41] FeynmanZhou commented on #2249
k8s 1.18.x will be supported in v3.0, as you can find in [kubekey](https://github.com/kubesphere/kubekey#kubernetes-versions), it's still in development.