[2020-06-24 07:32] rayzhou2017 opened #2250 "App Store access missing for the roles other than platform-manager"
I tried the roles workspace-manager, user-manager, platform-regular. They all can't view the app store menu. The first two seem as design. But the regular should see the menu since I created a ws with the user being the admin. I know regular is designed as nothing to access except being invited to a ws. But how can I make the user to view the app store menu?
![Screen Shot 2020-06-24 at 3 25 38 PM]

[2020-06-24 07:46] rayzhou2017 opened #2251 "Platform regular user can't deploy app from app store"
I manually add app store view access to the user, but I still can't deploy app.
![Screen Shot 2020-06-24 at 3 43 24 PM](https://user-images.githubusercontent.com/28859385/85517350-bedc9000-b631-11ea-82f8-802165c29517.png)

[2020-06-26 02:20] WaysonWei opened #2255 "Not able to delete application from dashboard"
kubesphere 3.0 with All-In-One Insatallation

![Screen Shot 2020-06-26 at 1 57 48 PM](https://user-images.githubusercontent.com/54336863/85813751-33413b80-b7b8-11ea-983f-2a2fe2a82000.png)

[2020-06-26 03:51] zheng1 commented on #2255
/cc @pengcong06

[2020-06-26 06:11] heppytt commented on #1841
解决了吗？我也遇到和你一样的问题了。
![image](https://user-images.githubusercontent.com/17058423/85826293-e7da5d80-b7b6-11ea-805d-669c885152bc.png)

[2020-06-26 06:25] heppytt commented on #1925
hello
I want to know.how to install it?

[2020-06-26 08:12] FeynmanZhou commented on #1841
@heppytt  You need to check the PVC status, this might be caused by the persistent storage issue.

[2020-06-26 08:12] #1841 closed

[2020-06-26 08:24] heppytt commented on #1841
![image](https://user-images.githubusercontent.com/17058423/85836569-5a543900-b7c9-11ea-91ab-f561cb94effe.png)
this is my PVC status 。is pending how to resove it？

[2020-06-26 08:26] FeynmanZhou commented on #1841
@heppytt  Are there any Taints in your master nodes?

[2020-06-26 08:28] FeynmanZhou commented on #1841
@heppytt You would better to refer to this [blog](https://kubesphere.com.cn/forum/d/1471-k8s-kubesphere) provided by another user, it's a step-by-step guide.

[2020-06-26 08:30] heppytt commented on #1841
![image](https://user-images.githubusercontent.com/17058423/85837156-478e3400-b7ca-11ea-9ce5-afd2c6795903.png)
Yes！

[2020-06-26 08:42] heppytt commented on #1841
我是按照这个去做的 前面都没有出错，就在装kubesphere的时候出错了。而且一错错了三天了 都没有解决。这是我装的第二遍了。

[2020-06-26 09:16] FeynmanZhou commented on #1841
Remove those Taints, please.

[2020-06-26 09:26] heppytt commented on #1841
why reinstall it？I use  [openebs](https://kubesphere.io/docs/zh-CN/appendix/install-openebs/)

[2020-06-26 09:30] FeynmanZhou commented on #1841
I mean reinstall KubeSphere after removing Taints, or you can retrigger the ks-installer Pod, see this [guide](https://kubesphere.io/docs/zh-CN/installation/verify-components/#%E5%A6%82%E4%BD%95%E9%87%8D%E5%90%AF-ks-installer). Taints should not exist on master nodes before kubesphere installation.

[2020-06-26 09:50] heppytt commented on #1841
thank you!
redis and openldap is no problem! but i down know why? Taints Last hook up to that node？
but have other question .
![image](https://user-images.githubusercontent.com/17058423/85844404-44e50c00-b7d5-11ea-956e-234a6b1b5261.png)

[2020-06-28 06:17] rayzhou2017 commented on #2247
still have the problem

[2020-06-28 06:32] rayzhou2017 opened #2259 "Creating ws throws error"
I have a multi-cluster env. When try to create a ws, it throws error and finally it creates a ws without any cluster granted to it.
![error](https://user-images.githubusercontent.com/28859385/85939957-13db1780-b94c-11ea-8969-b227f44e768b.png)

[2020-06-28 06:58] leoendless commented on #2259
it's a mistake of clusters API version. `kapis/tenant.kubesphere.io/v1alpha3/clusters` need to be changed to `kapis/tenant.kubesphere.io/v1alpha2/clusters`

[2020-06-28 07:20] rayzhou2017 opened #2261 "No creation button for fed project"
`ray` is the admin of the workspace `demo-ws`. He can create a regular project, but can't find the button to create a fed project.

![Screen Shot 2020-06-28 at 3 12 55 PM](https://user-images.githubusercontent.com/28859385/85941021-bf876600-b952-11ea-9edf-71189891b5f9.png)
![Screen Shot 2020-06-28 at 3 13 00 PM](https://user-images.githubusercontent.com/28859385/85941024-c4e4b080-b952-11ea-976f-0b

[2020-06-28 07:29] leoendless commented on #2261
@wansir  Could we provide a special rule to access the federated projects.

[2020-06-28 08:34] rayzhou2017 opened #2262 "redis from app store can't deploy"
No workload, no svc, no pod

![Screen Shot 2020-06-28 at 4 32 38 PM](https://user-images.githubusercontent.com/28859385/85942664-49d4c780-b95d-11ea-8813-e961757bc0f4.png)

[2020-06-28 08:35] rayzhou2017 commented on #2262
Please check all built-in apps

[2020-06-28 08:42] rayzhou2017 opened #2263 "DevOps shows up in navigation"
I didn't enable DevOps
![Screen Shot 2020-06-28 at 4 40 28 PM](https://user-images.githubusercontent.com/28859385/85942807-41c95780-b95e-11ea-9ce2-0c6afe48525c.png)

[2020-06-28 10:39] JokerDevops opened #2266 "Ks-apiserver connection cluster Kube-Apiserver certificate problems"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**
Ks-apiserver could not start the log as follows:
[code]
**Environment: OS & Hardware Information**
[code]
40c 64G

CentOS Linux release 7.8.2003 (Core)  40c 64G
Kubernetes v1.16

**Error logs or message (Attach logs or screenshot)**
[code]

**Installer Version**
v2.1.1

[2020-06-28 12:00] calvinyv opened #2267 "Feat: cluster name should be allowed to customize because it's part of enterprise meta data management"
**Describe the Bug**
cluster name should be allowed to customize because it's part of enterprise meta data management

KubeSphere: 2.1.1
Kubernetes: (If KubeSphere installer used, you can skip this)

[2020-06-28 12:00] calvinyv commented on #2267
/assign @pixiake @zryfish

[2020-06-28 12:01] calvinyv commented on #2267
/area installation

[2020-06-28 12:59] rayzhou2017 commented on #2266
I don't see redhat 7.8 is supported in the list https://kubesphere.io/docs/installation/all-in-one/

[2020-06-28 13:05] #2249 closed

[2020-06-28 13:10] rayzhou2017 commented on #2239
verified

[2020-06-28 13:10] #2239 closed

[2020-06-28 13:12] rayzhou2017 opened #2268 "adding host itself as its member cluster issue"
The adding cluster page does not refresh automatically.

[2020-06-28 15:53] zheng1 commented on #2262
@hlwanghl  Please upgrade this package
[code]

[2020-06-29 02:37] pixiake commented on #2266
@JokerDevops
Did you install this k8s cluster yourself? `10.96.0.1` was not added to the IP SANs when the certificate was generated.
`Error: Get https://10.96.0.1:443/api?timeout=32s: x509: cannot validate certificate for 10.96.0.1 because it doesn't contain any IP SANs`

[2020-06-29 02:50] wanjunlei opened #2269 "login error after add cluster"
**Describe the Bug**
User will be logout after add cluster, and has a error "The session timed out or this account is logged in elsewhere, please log in again" when login.

**Versions Used**
KubeSphere: 3.0.0(2020-06-29)
Kubernetes: (If KubeSphere installer used, you can skip this)

[2020-06-29 02:54] wanjunlei commented on #2269
/kind bug

[2020-06-29 06:40] rayzhou2017 commented on #2269
Did you change the token of the member cluster by following the guide https://github.com/kubesphere/community/tree/master/sig-multicluster/how-to-setup-multicluster-on-kubesphere

[2020-06-29 07:31] WaysonWei commented on #2269
I had this issue before. Just clear the cache of the browser or login again under Guest mode with Chrome.

[2020-06-29 07:38] #2269 closed

[2020-06-29 08:10] wanjunlei opened #2271 "namespace is not show on the page projects of workspaces after created"
**Describe the Bug**
When i create namespace  through ui, if i choose two same clusters, then the namespace  will be not show on the page projects of workspaces after created, but it will be show on the page projects of cluster.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/53003665/85989152-b8c82400-ba22-11ea-902f-72245fb3b729

[2020-06-29 08:23] leoendless commented on #2259
Fixed

[2020-06-29 12:01] zheng1 opened #2272 "Cannot view the file in the chart"
**Describe the Bug**

Can't switch files

![截屏2020-06-29 14 33 58](https://user-images.githubusercontent.com/4156721/86002572-1704ff00-ba43-11ea-9f6f-3f828e17d150.png)

[2020-06-29 12:01] zheng1 commented on #2272
/assign @leoendless

[2020-06-29 12:03] leoendless commented on #2272
Please use the latest ks-console image.

[2020-06-29 12:23] zheng1 commented on #2272
/close

[2020-06-29 12:23] #2272 closed

[2020-06-29 13:34] hlwanghl commented on #2262
please pick up the following updated charts:
- mongodb
- postgresql
- rabbitmq
- redis
- tomcat

[2020-06-30 02:42] JokerDevops commented on #2266
@pixiake  I checked my certificate, and my APIServer certificate is authorized for my cluster IP address 10.96.0.1.

[2020-06-30 02:42] JokerDevops commented on #2266
I used kubernetes installed with Kubeadm

[2020-06-30 07:54] cafeliker commented on #2000
Can KubeSphere be installed in the AWS EKS now?

[2020-06-30 08:18] rayzhou2017 commented on #2000
yes, you can since KubeSphere supports to install on existing K8s. Check ks-installer at gitHub.com/kubesphere/ks-installer. Meanwhile, you can wait about one month to get a one-click solution on AWS.

[2020-06-30 08:36] wansir commented on #1741
https://github.com/kubesphere/ks-installer/issues/33
https://github.com/kubesphere/kubesphere/issues/1555

[2020-06-30 15:20] leoendless commented on #2271
These two roles will no longer be preset in the cluster.

[2020-07-01 01:47] Forest-L commented on #2271
/assign @leoendless
Why is it possible to select two production clusters

[2020-07-01 01:48] Forest-L commented on #2271
/area console

[2020-07-01 02:54] wansir commented on #2198
Veryfied [reverse-proxy-auth-plugin](https://plugins.jenkins.io/reverse-proxy-auth-plugin/) is working.

[2020-07-01 03:11] rayzhou2017 opened #2274 "custom platform role authorization error"
Create a new platform role with workspace view access, Log in a new user with the role, and access the project under system-workspace. Error shows as follows.
![Screen Shot 2020-07-01 at 11 06 28 AM](https://user-images.githubusercontent.com/28859385/86199029-9867a900-bb8b-11ea-9ed2-b0df751190bd.png)

[2020-07-01 03:15] rayzhou2017 commented on #2274
The access to project basic info throws error too.
![Screen Shot 2020-07-01 at 11 14 54 AM](https://user-images.githubusercontent.com/28859385/86199204-12982d80-bb8c-11ea-8d35-b675af023c2a.png)

[2020-07-01 03:16] rayzhou2017 commented on #2274
daemonset throws error
![Screen Shot 2020-07-01 at 11 16 38 AM](https://user-images.githubusercontent.com/28859385/86199304-52f7ab80-bb8c-11ea-9ea6-f6ef0aa2fa56.png)

[2020-07-01 03:17] rayzhou2017 commented on #2274
access to pvc throws error
![Screen Shot 2020-07-01 at 11 17 40 AM](https://user-images.githubusercontent.com/28859385/86199341-791d4b80-bb8c-11ea-8082-c1053bb46b0f.png)

[2020-07-01 03:19] rayzhou2017 commented on #2274
custom monitoring
![Screen Shot 2020-07-01 at 11 19 56 AM](https://user-images.githubusercontent.com/28859385/86199465-c6012200-bb8c-11ea-9fa0-66f4d7fe07d8.png)

[2020-07-01 03:32] rayzhou2017 opened #2275 "user login history is missing"
also the role name is missing on the left panel.
![Screen Shot 2020-07-01 at 11 31 59 AM](https://user-images.githubusercontent.com/28859385/86200135-7f142c00-bb8e-11ea-8dbe-0c639b5a7597.png)

[2020-07-01 03:42] rayzhou2017 opened #2276 "user-manager role missing permission"
A user with user-manager role can't create/edit role
![Screen Shot 2020-07-01 at 11 41 18 AM](https://user-images.githubusercontent.com/28859385/86200664-e7afd880-bb8f-11ea-8b50-bfc07a38fd3a.png)

[2020-07-01 06:30] wanjunlei commented on #2271
verified

[2020-07-01 06:30] #2271 closed

[2020-07-01 06:48] rayzhou2017 opened #2277 "no authorization list for custom cluster role"
When custom a cluster role, nothing shows in the authorization resource list.
![Screen Shot 2020-07-01 at 2 46 46 PM](https://user-images.githubusercontent.com/28859385/86211985-d5db2f00-bba9-11ea-8c8c-1eb31294d634.png)
![Screen Shot 2020-07-01 at 2 46 31 PM](https://user-images.githubusercontent.com/28859385/86211998-da9fe300-bba9-11ea-8dba-2a3c948a6d2c.png)

[2020-07-01 10:53] shaowenchen commented on #2182
I'm sorry not to reply to you immediately. Recently,  KubeSphere 3.0 will be released soon and I'm busy with it. There is a small adjustment for the Jenkins in 3.0, and I will back after about two weeks.

[2020-07-01 13:16] LinuxSuRen commented on #2182
Got you.

[2020-07-02 03:26] rayzhou2017 opened #2278 "Tips somewhere in console to tell users where to enable components"
@Carlosfengv We put the configuration into the installer crd so user can go there to enable/disable components. But it is hidden too deeply. Is there any way in console to tell users this info?
<img width="1004" alt="Screen Shot 2020-07-02 at 11 25 24 AM" src="https://user-images.githubusercontent.com/28859385/86313058-c8c84980-bc56-11ea-876d-8c2cca6d667b.png">

[2020-07-02 03:44] Carlosfengv commented on #2278
We designed the management and installation of the components, but currently lack the relevant back-end development support.
![image](https://user-images.githubusercontent.com/23092051/86314071-455c2780-bc59-11ea-8e8d-480b3b72924f.png)

[2020-07-02 03:50] liuyp2018 opened #2279 "namespaces not found error when creating multi-cluster project"
namespaces not found error when creating multi-cluster project
<img width="825" alt="namespaces not found" src="https://user-images.githubusercontent.com/36271543/86314363-10040980-bc5a-11ea-9085-c0d3389438e1.png">
/kind bug
/area console
/assign @leoendless
/milestone 3.0.0

[2020-07-02 05:32] #2279 closed

[2020-07-02 06:06] liuyp2018 opened #2281 "the deleted multi-cluster project became a single-cluster project"
step:
Select a multi-cluster project and delete it

expected result:
delete the multi-cluster successful

actual result:
the deleted multi-cluster project appears in the single cluster list

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0

[2020-07-02 06:17] liuyp2018 opened #2282 "field label not supported error occurred while creating multi-cluster deployment"
field label not supported error occurred while creating  multi-cluster deployment
<img width="734" alt="field label error" src="https://user-images.githubusercontent.com/36271543/86323062-b3f7b000-bc6e-11ea-9189-f1eec974efc5.png">

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0

[2020-07-02 07:08] lxm opened #2283 "no cluster avaialbe in default workspace"
**Describe the Bug**
With mutilcluster enabled, the default space `system-workspace` can not see any cluster,even the cluster has grant privilege to the spache or even the cluster is public

![image](https://user-images.githubusercontent.com/1918195/86327066-371c0480-bc75-11ea-91e2-0f9aabb6cc0c.png)
![image](https://user-images.githubusercontent.com/1918195/86327150-5c107780-bc75-11ea-92db-fe3b8a6

[2020-07-02 07:45] ConnorLH opened #2284 "devops rbac error"
**Describe the Bug**
After create devops project, there is some rbac errors when enter that project. Neither workspace-manager nor self-provisioner can enter.

**Versions Used**
KubeSphere: 3.0.0
Kubernetes: 1.18.3

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'DevOps Projects.'
2. Click on Project
3. See error

[2020-07-02 08:55] rayzhou2017 opened #2285 "show member cluster connection type"
Is it better to show the connection type for each member cluster?
<img width="1236" alt="Screen Shot 2020-07-02 at 4 54 02 PM" src="https://user-images.githubusercontent.com/28859385/86338355-d4cb0000-bc84-11ea-8348-fe41a41707c2.png">

[2020-07-02 09:54] #2198 closed

[2020-07-02 13:56] #2283 closed

[2020-07-03 05:42] wansir commented on #2284
/assign @wansir

[2020-07-03 05:54] wansir commented on #2277
@wansir Single cluster grant does not support now. Cluster scope IAM API is read-only until we improve the multi-cluster api-server architecture.

[2020-07-03 05:59] wansir commented on #2209
/kind need-to-verify

[2020-07-03 06:04] wansir commented on #2224
/kind need-to-verify

[2020-07-03 06:06] wansir commented on #2186
/kind need-to-verify

[2020-07-03 06:07] wansir commented on #2177
/kind need-to-verify

[2020-07-03 06:08] wansir commented on #2208
/kind need-to-verify

[2020-07-03 08:12] JokerDevops commented on #1741
close

[2020-07-03 08:14] rayzhou2017 opened #2289 "Can't create fed project"
* [x] Can't see fed project for ws admin /platform regular user
* [x] using platform admin, create a fed project. First problem, throw error. Second problem, it goes to the regular project list and under one of the clusters.
<img width="1161" alt="Screen Shot 2020-07-03 at 4 10 25 PM" src="https://user-images.githubusercontent.com/28859385/86448406-4cfaf980-bd49-11ea-86a2-73700bcb6806.png">

<img

[2020-07-03 10:07] zryfish commented on #2289
/reopen

[2020-07-03 10:34] wangtian-010 opened #2292 "Error happened when changing password"
**Describe the Bug**
Error happened when changing password

**Versions Used**
KubeSphere:3.0

**Environment**
Testing enviroment
URL:http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://139.198.12.26:30880/'  and login
2. Click on 'username' and then click  'personal setting'
3. Click password setting
4. Input original password and new password,submit

[2020-07-03 10:37] zryfish commented on #2292
This is a known issue and we are working on it. PR is currently under review.

[2020-07-03 11:33] zryfish opened #2294 "Error during create multicluster deployment"
**General remarks**

**Describe the Bug**
A clear and concise description of what the bug is.

Cannot create multicluster deployment,  there is an error during the last step, a wired HTTP request issued

[code]

For UI issues please also add a screenshot that shows the issue.
![截屏2020-07-03 19 23 56](https://user-images.githubusercontent.com/3326354/86465209-cbfd2b80-bd63-11ea-9e15-320101dd2f71.pn

[2020-07-03 11:51] rayzhou2017 commented on #2292
#2264

[2020-07-03 12:00] rayzhou2017 commented on #2242
same as  #2292

[2020-07-04 04:37] dudiao opened #2295 "In the scripts install.sh, the server(node) password does not support #"
**What's your question**
conf/hosts.ini, I configured the password for node, the password contains ‘#’, here is error:
[code]
When I changed the password(123456) and updated the host.ini, the installation was successful

**Environment: OS & Hardware Information**

CentOS 7.5

**Error logs or message (Attach logs or screenshot)**

**Installer Version**

v2.1.1

[2020-07-04 04:39] rayzhou2017 opened #2296 "Do not allow to import a member cluster twice"
It should not be allowed to import a member cluster twice using direct connection method. It will bring uncertain problem when using them later on. Should check the apiserver address to be imported to see if it exists or not.

[2020-07-04 05:20] leoendless commented on #2281
/assign zryfish

[2020-07-04 08:36] #1222 closed

[2020-07-04 08:39] FeynmanZhou opened #2297 "Icons do not match the hosted Kubernetes products"
These ICONS do not match the hosted Kubernetes products:

![image](https://user-images.githubusercontent.com/40452856/86508674-8cdae300-be14-11ea-87ea-06bc26704cc8.png)

[2020-07-04 11:58] KartoffelToby opened #2298 "Hangs on FAILED - RETRYING: kubesphere-installer is ok (30 retries left)."
**Environment: OS & Hardware Information**

**Error logs or message (Attach logs or screenshot)**

[code]

**Installer Version**

[2020-07-04 12:11] huanggze opened #2299 "ks-apiserver returns error in a multi-cluster env with host installed only"
[code]

![image](https://user-images.githubusercontent.com/22350668/86512201-7d6a9280-be32-11ea-8af6-726657f4f87b.png)

![image](https://user-images.githubusercontent.com/22350668/86512205-82c7dd00-be32-11ea-8de5-c7f5ae6d186c.png)

![image](https://user-images.githubusercontent.com/22350668/86512209-8bb8ae80-be32-11ea-87c2-3e80a72e2ad3.png)

[2020-07-04 12:11] huanggze commented on #2299
/kind bug
/assign @zryfish
/milestone 3.0.0

[2020-07-04 12:50] leoendless commented on #2277
Cluster roles end members are now removed from UI. We only need global-ws-ns authorization control.

[2020-07-05 05:49] rayzhou2017 opened #2300 "throws error when adding member cluster via public IP direct connect"
Host cluster and member cluster are in different cities. Use port forward to member apiserver and copy the kubeconfig of the member cluster to the host cluster. It throws error when clicking importing the member cluster. What should I do?
<img width="1213" alt="Screen Shot 2020-07-05 at 1 46 10 PM" src="https://user-images.githubusercontent.com/28859385/86526404-552c7380-bec6-11ea-8f40-a41ddd40aa8

[2020-07-05 06:10] rayzhou2017 commented on #2300
I think it is as design. For this case, either use tunnel or use agent connection. Using port forward is unsafe since it is exposing apiserver to public access.

[2020-07-05 13:51] zackzhangkai opened #2301 "cluster monitors thow erros when choose another time duration"
![image](https://user-images.githubusercontent.com/20178386/86534258-b0338a00-bf09-11ea-90f5-690a0fcde0cc.png)

[2020-07-06 02:31] rayzhou2017 opened #2302 "ws self-provisioner can't open project page"
self-provisioner user can't open project page. Neither ws-regular. BTW, the ws is a fed one.
![Screen Shot 2020-07-06 at 10 29 38 AM](https://user-images.githubusercontent.com/28859385/86550032-d8f06980-bf73-11ea-9bcd-e8bf2299505e.png)

[2020-07-06 02:47] lxm opened #2303 "project page 404 error"
![image](https://user-images.githubusercontent.com/1918195/86550827-02aa9000-bf76-11ea-941a-59a7e90b554b.png)

![image](https://user-images.githubusercontent.com/1918195/86550844-10f8ac00-bf76-11ea-8c92-a3feb4f72fd2.png)

[2020-07-06 02:52] liuyp2018 opened #2304 "The host cluster is not shown in the cluster list"
Login the console of the Host cluster
the host cluster is not shown in the cluster list

<img width="903" alt="host cluster" src="https://user-images.githubusercontent.com/36271543/86551093-b27ffd80-bf76-11ea-9253-e8d594ee905e.png">

/kind bug
/area multicluster
/assign @zryfish
/milestone 3.0.0

[2020-07-06 02:54] wanminny opened #2305 "How to install v 3.0？where is the gz file ? thx."
How to install v 3.0？where is the gz file ? thx.

[2020-07-06 02:59] rayzhou2017 commented on #2303
Please provide more info such as what kind of user are you using. Step-by-step instructions is extremely helpful.

[2020-07-06 03:00] FeynmanZhou commented on #2305
- Install on Linux：https://github.com/kubesphere/kubekey
- Install on Kubernetes：https://github.com/kubesphere/ks-installer

[2020-07-06 03:12] wanminny commented on #2305
If you want to try out 3.0 and help the community test it, you can download the v3.0.0 to test it and report bugs to GitHub.?
======
download the v3.0.0 ,where ? how to got it .

[2020-07-06 03:15] FeynmanZhou commented on #2305
The readme guide in those two repos.

[2020-07-06 03:31] zackzhangkai opened #2306 "when a member cluster was down , it cannot be deleted against the host"
One way to delete a member cluster , is to handle it in the web console. But if the member cluster was down and cannot be rescued, now it can not be deleted.

[2020-07-06 04:12] liuyp2018 opened #2307 "The length of the resource name exceeds 63， tag validation fails"
steps:
1. Create deployment and set its name length to 64 characters
2. In the last step of creation, the label validation fails

suggestion:
The rules for resource names and labels should be consistent

<img width="701" alt="resource name" src="https://user-images.githubusercontent.com/36271543/86555054-e876af00-bf81-11ea-9b96-9853ccd32c56.png">

/kind bug
/area console
/assign @leoendless
/miles

[2020-07-06 04:38] liuyp2018 opened #2308 "Page display needs to be optimized when resource aliases and descriptions are long"
Page display needs to be optimized when deployment aliases and descriptions are long
and deployment details page, basic information view is incomplete

<img width="917" alt="1" src="https://user-images.githubusercontent.com/36271543/86556118-f7ab2c00-bf84-11ea-8644-417573fba668.png">
<img width="956" alt="2" src="https://user-images.githubusercontent.com/36271543/86556122-fb3eb300-bf84-11ea-93a6-1

[2020-07-06 04:46] rayzhou2017 commented on #2306
Unbind the cluster from the host control panel, is it what you want?
![Screen Shot 2020-07-06 at 12 45 43 PM](https://user-images.githubusercontent.com/28859385/86556725-b6b41700-bf86-11ea-8c2a-e37b59c670cc.png)

[2020-07-06 05:12] duanjiong opened #2309 "can not update workspace's manager"
we can chose manager  in portal,  but it hasn't changed after it submitted

[2020-07-06 05:24] zackzhangkai commented on #2306
If this member cluster was down, and it would be lose connect to the cluster center . So this *unbind* buttom was not availble in the control panel.

[2020-07-06 05:43] rayzhou2017 commented on #2306
Host cluster is not down. You can access its console to click unbind.

[2020-07-06 05:45] rayzhou2017 commented on #2309
Can you explain more? It is too simple to understand your question.

[2020-07-06 05:47] zryfish commented on #2306
When unbind a cluster from multicluster control plane, there are some resource cleanup work needed to be done by Kubefed, which can only be completed when member cluster is accessible. If member cluster is down, it's true that the unbind process will be blocked by Kubefed.

[2020-07-06 05:48] rayzhou2017 commented on #2306
If it is not, it should be a bug.

[2020-07-06 05:50] rayzhou2017 commented on #2306
aha, that is true. But I still think it should provide the way to force unbind just in case the cluster is really gone.

[2020-07-06 05:58] duanjiong opened #2310 "kubectl image shoule be updated"
kubectl image version is 1.12

[2020-07-06 06:13] wangtian-010 opened #2311 "missing sign of a registered trademark(circle R) after logo"
**Describe the Bug**
missing sign of a registered trademark(circle R) after logo

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1. Login with  'admin'
2. Click on 'Drop down Icon on admin'
3. Click 'About'
4. See error
![image](https://user-images.githubusercontent.com/67785532/86561289-e2d59500-bf

[2020-07-06 06:56] lxm commented on #2303
user: admin
first create a cluster on eks use ks-installer
then change install config to enable multi cluster, set role to host, enable logging sevicemesh etc...
create agent.yaml in the host cluster, so that the cluster can be added
then go to the project page, error occoured

[2020-07-06 06:59] liuyp2018 commented on #2308
/priority low

[2020-07-06 07:05] leoendless commented on #2303
Fixed in https://github.com/kubesphere/kubesphere/pull/2293/files#diff-1c4600d7da1963c53dedd0886112786a

[2020-07-06 07:35] pixiake commented on #2298
Please try to execute `kubectl get pod --all-namespaces` and `kubectl get node`  to check cluster status.

[2020-07-06 08:23] zackzhangkai opened #2312 "when swich to page of project, 404 error occured"
when create a project, and then switch into this page , a 404 error occured.
![image](https://user-images.githubusercontent.com/20178386/86572042-f7228d80-bfa4-11ea-91c6-b02d9f4574af.png)

[2020-07-06 08:54] zackzhangkai commented on #2312
https://github.com/kubesphere/kubesphere/pull/2293

[2020-07-06 08:54] #2312 closed

[2020-07-06 09:23] huanggze opened #2313 "Encountered an unexpected logout during normal operation"
As admin, I was forced to exit. Here is logs from ks-apiserver

![image](https://user-images.githubusercontent.com/22350668/86577733-44a2f880-bfad-11ea-9a93-706f89778fa7.png)

[2020-07-06 09:23] huanggze commented on #2313
/kind bug
/assign @wansir

[2020-07-06 09:23] huanggze commented on #2313
/milestone 3.0.0

[2020-07-06 09:28] zackzhangkai opened #2314 "when deploy a statfulset, an error occured"
when deploy a statfulset, an error occured.
![image](https://user-images.githubusercontent.com/20178386/86578161-f3dfcf80-bfad-11ea-9eac-6148172db86d.png)

[2020-07-06 09:44] wanminny opened #2315 "how to add an exist cluster to kubesphere in order to manager?"
how to add an exist cluster to kubesphere in order to manager?

[2020-07-06 09:54] wanminny commented on #2315
why cannot find add cluster in webui?

[2020-07-06 09:55] KartoffelToby commented on #2298
OK

**kubectl get nodes**
[code]

**kubectl get pod -n kube-system**
[code]
**kubectl get sc**
[code]
**kubectl logs openebs-ndm-hvvjc  --namespace=kube-system**
[code]

[2020-07-06 09:57] FeynmanZhou commented on #2315
See [How to Enable the Multi-cluster Feature
](https://github.com/kubesphere/community/blob/master/sig-multicluster/how-to-setup-multicluster-on-kubesphere/README.md).

[2020-07-06 10:02] zackzhangkai opened #2316 "useage of resource sort issue"
the sort dosenot take effect
![image](https://user-images.githubusercontent.com/20178386/86581364-9601b680-bfb2-11ea-992c-bc2a049c4789.png)

[2020-07-06 10:23] liuyp2018 opened #2317 "error occurs while adding config file or key as environment variable"
1. create deployment, add config file or key as environment variable
<img width="672" alt="env3" src="https://user-images.githubusercontent.com/36271543/86583163-6607e280-bfb5-11ea-877a-5d1efa35cc55.png">

2. view env page, error occurs
<img width="926" alt="env1" src="https://user-images.githubusercontent.com/36271543/86583403-c7c84c80-bfb5-11ea-9b6b-4ed93b3d96c7.png">

/kind bug
/area console
/a

[2020-07-06 12:42] #2242 closed

[2020-07-06 13:32] duanjiong opened #2319 "can still create project when we log in as normal user role"
the role only allow to view workspace

[2020-07-06 13:33] liuyp2018 opened #2320 "error in read-write mode when mounting volume for deployment"
steps:
1. When creating deployment, add a temporary storage volume and set readOnly  mode
<img width="648" alt="volume01" src="https://user-images.githubusercontent.com/36271543/86598505-cdcb2700-bfcf-11ea-966e-113212ea9679.png">

2. Add a temporary storage volume again and set it to read/write mode;
View the read-write mode for the first volume added,It's not consistent with the setup
<img width=

[2020-07-06 14:10] liuyp2018 opened #2321 "Problem when modifying the volume of Deployment"
1. When creating deployment, add a temporary volume;
2. Change the name of this temporary storage volume;

issue:
The modified volume is not modified, but a new volume is added
<img width="628" alt="volume11" src="https://user-images.githubusercontent.com/36271543/86602563-62845380-bfd5-11ea-9c8f-3bb744912c78.png">

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority medium

[2020-07-06 14:17] liuyp2018 opened #2323 "The name validation problem for the volume of the deployment"
When creating a workload, add a temporary volume and set the volume name to be longer than 63 characters,
the input field is not checked for this situation
<img width="687" alt="22" src="https://user-images.githubusercontent.com/36271543/86603272-61075b00-bfd6-11ea-9e3b-28244be038ba.png">

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority low

[2020-07-06 16:03] #2320 closed

[2020-07-06 16:06] #2321 closed

[2020-07-06 20:06] WaysonWei commented on #2304
Is this was designed in this way or a bug?

Host cluster have to add itself as member cluster in the beginning.

[2020-07-07 01:43] zryfish commented on #2304
It works as designed. Host cluster is where the multicluster control plane installed, we don't want there are too many workloads or any misconfiguration there since it will cause problems. If host cluster is down, then you can't access control plane any more. So we encourage users do not add host  as a member cluster, but we are still open to suggestions.

[2020-07-07 05:39] zryfish opened #2325 "Authorize cluster to system-workspace"
**Describe the Bug**

System-workspace contains all the system namespace necessary to run a KubeSphere cluster, in multicluster environment, clusters are authorized to system-workspace by default. If we deauthorize a cluster from a workspace, the workspace will be deleted in that cluster, this is ok when the workspace is a user workspace. But what if the workspace is system-workspace, that means a

[2020-07-07 05:40] duanjiong opened #2326 "can cancel authorization which is relied upon by others"
For example， we can cancel authorization ”workspace member views" when we edit authorization
![image](https://user-images.githubusercontent.com/3678855/86720217-63f66000-c057-11ea-9f50-cf4390c5e4d5.png)

[2020-07-07 05:53] harrisonliu5 commented on #1955
Need to discuss this issue with backend developers

[2020-07-07 06:02] harrisonliu5 commented on #1953
kind/need-to-verify

[2020-07-07 06:04] harrisonliu5 commented on #1957
/kind need-to-verify

[2020-07-07 06:04] harrisonliu5 commented on #1958
/kind need-to-verify

[2020-07-07 06:04] harrisonliu5 commented on #1959
/kind need-to-verify

[2020-07-07 06:17] #2275 closed

[2020-07-07 06:17] #2292 closed

[2020-07-07 06:42] liuyp2018 opened #2327 "Problem when modifying nodeselector for the workload"
1. When creating Deployment, the nodeselector is not set correctly
<img width="566" alt="node selector1" src="https://user-images.githubusercontent.com/36271543/86729201-ca7f7c00-c05f-11ea-8f21-7a6514c6fb19.png">

2. After creating deployment, modify nodeselector to the correct value
<img width="441" alt="node selector2" src="https://user-images.githubusercontent.com/36271543/86729211-ceab9980-c05

[2020-07-07 07:08] #2327 closed

[2020-07-07 07:09] #1953 closed

[2020-07-07 08:07] #2325 closed

[2020-07-07 08:09] leoendless commented on #2314
Duplicate of https://github.com/kubesphere/console/issues/658

[2020-07-07 08:09] #2314 closed

[2020-07-07 09:15] #2303 closed

[2020-07-07 09:38] zackzhangkai opened #2329 "Button has no response when create volum in the console web"
Button has no response when create volum in the console web

![image](https://user-images.githubusercontent.com/20178386/86761205-61583280-c078-11ea-8214-b96f0e1190d7.png)

[2020-07-07 09:40] wangtian-010 opened #2330 "The container exited and kubelet is restarting it when creating appliction under muti-cluster project"
**Describe the Bug**
The container exited and kubelet is restarting it when creating appliction under muti-cluster project

![image](https://user-images.githubusercontent.com/67785532/86762424-391d0380-c079-11ea-8f89-58bf28db63dd.png)

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1. login with  'a

[2020-07-07 10:01] #2329 closed

[2020-07-07 10:17] liuyp2018 opened #2331 "Clicking version back button did not send request"
In the deployment details page, click version back without sending a request
<img width="783" alt="version" src="https://user-images.githubusercontent.com/36271543/86767133-1b05d200-c07e-11ea-9ead-ff325320fb8e.png">

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority medium

[2020-07-07 11:18] wangtian-010 opened #2332 "Duplicated label group happened when create state service under muti-cluster project"
**Describe the Bug**
Duplcated label group happened when create state service under muti-cluster  project

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env

http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1. Click on  'platform management'  on home page then click 'access control'
2. Click on 'multi-cluster-ws' and then click 'project management' a

[2020-07-07 11:51] leoendless commented on #2332
This problem has been fixed, Please update the ks-console image.

[2020-07-07 14:41] Forest-L commented on #2295
@dudiao
Yes, the SSH password in ansible syntax should not be a '#', the ‘#’ in the password needs to be escaped.
such as: 12345#22  to 12345\#22

[2020-07-07 15:18] dudiao commented on #2295
ok, thanks.

[2020-07-07 15:18] #2295 closed

[2020-07-08 00:28] WaysonWei commented on #2304
ok, got it. But the number of cluster showing in dashboard was very confused as it is showing 1 when I have host cluster up without any member cluster joined( empty cluster list ). Then it stay at 1 if I have 1st member cluster joined.

Would it be better to show Host cluster & Member cluster  separately? like
Host Cluster : 1
Member Cluster : ( 0 - many )

<img width="1726" alt="Screen Shot 2020-

[2020-07-08 01:37] rayzhou2017 commented on #2304
That sounds good to me. @Carlosfengv @leoendless

[2020-07-08 02:12] leoendless commented on #2301
This problem should be fixed. Please update the console image to the latest version.

[2020-07-08 02:30] #1911 closed

[2020-07-08 02:43] leoendless commented on #2278
Can all the plugins be enabled/disabled through API?

[2020-07-08 02:51] leoendless commented on #1982
Currently, the user can modify the node port by yaml.

[2020-07-08 02:52] leoendless commented on #1964
Already been fixed.

[2020-07-08 02:52] #1964 closed

[2020-07-08 02:53] liuyp2018 opened #2335 "The init-container image cannot be removed while editing the deployed configuration template"
1. Go to the update template configuration page for deployment
2. delete the init-container image

expected result:
successful deleted

actually result
cannot removed

<img width="823" alt="删除初始容器" src="https://user-images.githubusercontent.com/36271543/86869492-41bd1a80-c109-11ea-9ed2-fd62db652dd5.png">

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority medium

[2020-07-08 02:55] wansir commented on #2330
A Docker container runs a process (the "command" or "entrypoint") that keeps it alive, exits when its main process finishes.

[2020-07-08 03:03] shaowenchen opened #2336 "support to generate multicluster kubeconfig for devops"
![image](https://user-images.githubusercontent.com/43693241/86870211-8ac19e80-c10a-11ea-9ff0-0d4da30840ff.png)

It returns server: ""

/kind bug
/milestone 3.0.0
/assign @wansir

[2020-07-08 03:05] #2073 closed

[2020-07-08 03:08] zryfish commented on #2259
/cc @rayzhou2017

[2020-07-08 03:14] wansir commented on #2336
/assign @leoendless

[2020-07-08 03:19] zryfish commented on #2300
If you planning to use another IP to access kube-apiserver, MUST add the IP address to  kube-apiserver certificate. https://blog.scottlowe.org/2019/07/30/adding-a-name-to-kubernetes-api-server-certificate/ here is great post shows how to do that

[2020-07-08 03:45] wangtian-010 opened #2337 "Service should not be displayed under clusters that are not created"
**Describe the Bug**
Service should not be displayed under clusters that are not created

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1. Click on  'platform management' in homepage and then click on 'Access control'
2. Cilck on  'multi-cluster-ws'
3. Click on  'project management' on left nav bar

[2020-07-08 04:13] #2319 closed

[2020-07-08 04:21] liuyp2018 opened #2338 "Configuration files and keys mounted on deployment are read and write, but cannot be written"
steps:
1. When a deployment is created, the key or configuration file is mounted as read/write mode
2. After creating the deployment, enter the container terminal, under the directory where the configuration file or key mount, and do the write operation

problem:
The configuration file or key is mounted as read or write, but cannot be written when entering the mount directory

<img width="793" alt

[2020-07-08 05:03] liuyp2018 opened #2339 "prompt problem when configuration files or keys are not set"
steps :
1. When creating deployment, go to the add configuration file or key Settings page
2. when configuration files or keys are not set, click save button

expected result:
Unable to save successfully, prompt to set configuration file or key

actually result:
can save successfully

<img width="715" alt="prompt" src="https://user-images.githubusercontent.com/36271543/86878380-57d3d680-c11b-11ea-

[2020-07-08 05:20] harrisonliu5 commented on #2339
/lgtm

[2020-07-08 05:26] wangtian-010 opened #2340 "Application name should not allow to begin with digital"
**Describe the Bug**
Application name should not allow to begin with digital

**Versions Used**
KubeSphere:3.0.0

**Environment**
Testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Access control' from 'platform management' of home page
2. Click on 'multi-cluster-ws' namespace
3. Click  'project management' and switch to 'multi-cluster project'

[2020-07-08 05:33] zackzhangkai opened #2341 "icon not correct"
lack of hook
![image](https://user-images.githubusercontent.com/20178386/86880553-7045f000-c11f-11ea-88fa-51191927534f.png)

[2020-07-08 05:33] zackzhangkai commented on #2341
/assign @leoendless

[2020-07-08 05:36] zackzhangkai commented on #2316
/assign @leoendless
/milestone 3.0.0
/priority medium
/kind bug
/area console

[2020-07-08 05:37] zackzhangkai commented on #2341
/milestone 3.0.0
/priority low
/kind bug
/area console

[2020-07-08 06:25] zackzhangkai opened #2342 "can not delete networkPolicy"
can not delete networkPolicy from console
can delete it by using kubectl

![image](https://user-images.githubusercontent.com/20178386/86884846-cc604280-c126-11ea-83ad-2e17ced5491b.png)

[2020-07-08 06:26] zackzhangkai commented on #2342
/assign @leoendless
/priority medium
/kind bug
/area console

[2020-07-08 06:50] zackzhangkai opened #2343 "networkPolicy description not correct"
![image](https://user-images.githubusercontent.com/20178386/86886864-3cbc9300-c12a-11ea-94fb-141d31ab2cc4.png)

/assign @leoendless
/priority low
/kind bug
/area console

[2020-07-08 06:56] zackzhangkai opened #2344 "networkPolicy filter failed"
![image](https://user-images.githubusercontent.com/20178386/86887487-2fec6f00-c12b-11ea-986c-7409be562fe0.png)

/assign @leoendless
/priority low
/kind bug
/area console

[2020-07-08 06:59] zackzhangkai commented on #2344
![image](https://user-images.githubusercontent.com/20178386/86887722-95d8f680-c12b-11ea-8c75-a876070265aa.png)

the filter the right one also failed

[2020-07-08 07:14] duanjiong opened #2345 "can not delete app repository"
![image](https://user-images.githubusercontent.com/3678855/86888971-98d4e680-c12d-11ea-858b-1f3beff9c59a.png)

[2020-07-08 07:14] duanjiong commented on #2345
/assign @leoendless

[2020-07-08 07:27] wangtian-010 opened #2346 "persistentvolumeclaims "store-tomcat-uy0pk3-0" not found"
**Describe the Bug**
persistentvolumeclaims "store-tomcat-uy0pk3-0" not found

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' ta

[2020-07-08 07:36] wansir commented on #2340
/area console
/assign @leoendless

[2020-07-08 08:06] Ma-Dan opened #2347 "Can not enter container terminal when pod contains two containers"
**Describe the Bug**
Can not enter terminal from UI when pod contains two containers, kubectl exec can enter.

![image](https://user-images.githubusercontent.com/38337958/86893459-3d5a2700-c134-11ea-8020-f06f61c3c5dc.png)
![image](https://user-images.githubusercontent.com/38337958/86893822-ca04e500-c134-11ea-9d84-3a4646372f46.png)

**Versions Used**
KubeSphere: v3.0.0

**Expected behavior**
Enter

[2020-07-08 08:12] zackzhangkai opened #2348 "method not allowed when create secret"
when create secret, method not allowd

![image](https://user-images.githubusercontent.com/20178386/86893870-d9842e00-c134-11ea-9809-e7a7f14a67e9.png)

[code]

the log just has a record, but has no reponse code, maybe it is also a problem.

/assign @leoendless
/priority medium
/kind bug
/area console

[2020-07-08 08:52] duanjiong opened #2349 "a role which has been granted to some user can be delete"
![image](https://user-images.githubusercontent.com/3678855/86898479-56b2a180-c13b-11ea-9b35-185b755b118b.png)

[2020-07-08 08:54] wansir commented on #2348
Create a secret, `namespace` must be defined in the API path, such as `/api/v1/namespaces/{namespace}/secrets`

[2020-07-08 08:55] wangtian-010 opened #2350 "application description should be more accurate for muticluster-project"
**Describe the Bug**
application description should be more accuracy for muticlustor-project

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-clus

[2020-07-08 08:59] wangtian-010 opened #2351 "the status is always updating after application created for muticlustor-project"
**Describe the Bug**
the status is always updating after application created for muticlustor-project

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'mu

[2020-07-08 09:17] duanjiong opened #2352 "the number of workspace members dont decrease after user has been deleted"
we remove the user from page "access/accounts"

[2020-07-08 09:37] rayzhou2017 commented on #2289
verified

[2020-07-08 09:37] #2289 closed

[2020-07-08 09:40] rayzhou2017 commented on #2302
verified

[2020-07-08 09:40] #2302 closed

[2020-07-08 09:40] rayzhou2017 commented on #2302
verified

[2020-07-08 13:26] #1956 closed

[2020-07-08 13:42] rayzhou2017 commented on #2199
verified

[2020-07-08 13:42] #2199 closed

[2020-07-08 13:44] rayzhou2017 commented on #2208
verified

[2020-07-08 13:44] #2208 closed

[2020-07-09 02:11] rayzhou2017 commented on #2186
verified

[2020-07-09 02:11] #2186 closed

[2020-07-09 02:13] rayzhou2017 commented on #2277
verified

[2020-07-09 02:13] #2277 closed

[2020-07-09 02:18] rayzhou2017 commented on #2276
verified

[2020-07-09 02:18] #2276 closed

[2020-07-09 02:18] wangtian-010 opened #2356 "Expired happened when clicking workload menu after create Stateful replica set"
**Describe the Bug**
Expired happened when clicking workload menu after create Stateful replica set

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'mul

[2020-07-09 02:28] rayzhou2017 opened #2357 "Admin can't open any page under system-workspace"
The `admin` user almost can open any system-workspace page of the host cluster under multi-cluster env.
<img width="1229" alt="Screen Shot 2020-07-09 at 10 25 50 AM" src="https://user-images.githubusercontent.com/28859385/86990267-cd4caf00-c1ce-11ea-99ac-c215d7bfcd5c.png">

[2020-07-09 02:31] rayzhou2017 commented on #2357
It seems having some problem with the single-cluster ws and multi-cluster workspace here.

[2020-07-09 03:01] rayzhou2017 opened #2358 "platform regular can't change personal settings"
Any user should be able to change personal settings.
<img width="1212" alt="Screen Shot 2020-07-09 at 11 00 15 AM" src="https://user-images.githubusercontent.com/28859385/86992156-7695a400-c1d3-11ea-8e0b-d8d4a18f76d0.png">

[2020-07-09 03:07] rayzhou2017 commented on #2226
verified

[2020-07-09 03:07] #2226 closed

[2020-07-09 03:09] rayzhou2017 commented on #2194
the ui seems to remove the items

[2020-07-09 03:09] #2194 closed

[2020-07-09 03:11] wangtian-010 opened #2359 "one stop record displays in 'member-cluster-2' cluster,when create workload in 'member-cluster-1' cluster"
**Describe the Bug**
one stop record displays in 'member-cluster-2' cluster,when create workload in 'member-cluster-1' cluster

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project man

[2020-07-09 03:11] Warden-Thresh opened #2360 "Pipeine page dont show any pipelines"
**Describe the Bug**
Pipeine page dont show any pipelines,when i create the same name pipeline ,without any
warning dialog but get the response
![image](https://user-images.githubusercontent.com/22620409/86992133-6251a700-c1d3-11ea-92ed-4d7ccbb3c179.png)
In a few minutes，i cant create any pipeline
`pipelines.devops.kubesphere.io "gg" is forbidden: unable to create new content in namespace eem-devo

[2020-07-09 03:11] rayzhou2017 commented on #2215
verified

[2020-07-09 03:11] #2215 closed

[2020-07-09 03:14] rayzhou2017 commented on #2237
verified

[2020-07-09 03:14] #2237 closed

[2020-07-09 03:14] rayzhou2017 commented on #1205
verified

[2020-07-09 03:14] #1205 closed

[2020-07-09 03:16] rayzhou2017 commented on #1927
verified

[2020-07-09 03:16] #1927 closed

[2020-07-09 03:17] rayzhou2017 commented on #2209
verified

[2020-07-09 03:17] #2209 closed

[2020-07-09 03:19] shaowenchen commented on #2360
Please using the token in Console to replace the password of DevOps.

[code]

And  restart ks-apiserver and ks-controller-manager

[2020-07-09 03:20] rayzhou2017 commented on #2211
verified

[2020-07-09 03:20] #2211 closed

[2020-07-09 03:26] rayzhou2017 commented on #2181
verified

[2020-07-09 03:26] #2181 closed

[2020-07-09 03:28] Warden-Thresh opened #2361 "Image build log 404"
**Describe the Bug**

Image build log  return 404: Page Not Found
![image](https://user-images.githubusercontent.com/22620409/86993499-b611bf80-c1d6-11ea-93b0-c15332845394.png)
but the container log is working well
![image](https://user-images.githubusercontent.com/22620409/86993614-0721b380-c1d7-11ea-8d79-d7750182834b.png)

![image](https://user-images.githubusercontent.com/22620409/86993603-fffa

[2020-07-09 03:31] Warden-Thresh commented on #2361
The error url `http://192.168.2.73:30880/kapis/logging.kubesphere.io/v1alpha2/namespaces/test/pods/test-latest-0vu-vw2-233349b6d7e5-job-6b8tq?size=300&from=0&sort=asc`
![image](https://user-images.githubusercontent.com/22620409/86993848-a0e96080-c1d7-11ea-82d9-bbb8ba25de53.png)

[2020-07-09 03:34] shaowenchen commented on #2360
In the new environment, ks-installer has solved the problem of the invalid token.

[2020-07-09 03:37] rayzhou2017 commented on #2360
So change the image pull policy to `Always` and restart it to verify the issue, right @shaowenchen ?

[code]

[2020-07-09 03:38] rayzhou2017 commented on #2349
Should it be prohibited in the backend?

[2020-07-09 03:49] shaowenchen commented on #2360
That's not enough. while ks-installer installs DevOps component, the generated token is incorrect by calling API. So，we need to replace it and restart ks-controller-manager.

[code]

The token may expire in a few hours. This problem has been solved in the new environment

[2020-07-09 03:51] wansir commented on #2356
/area console
/assign @leoendless

[2020-07-09 04:37] Warden-Thresh commented on #2360
it doesnot worker

[2020-07-09 04:53] shaowenchen commented on #2360
If you have set the password and restart deploys, it will take some time to synchronize the data. Or, you can create another DevOps project for testing.

[2020-07-09 05:05] rayzhou2017 commented on #2247
verified

[2020-07-09 05:05] #2247 closed

[2020-07-09 05:15] rayzhou2017 opened #2362 "admin can add multiple clusters for a regular project"
`admin` seems open the fed project creation page. A self-provisioner user is as expected.
<img width="1092" alt="Screen Shot 2020-07-09 at 1 12 50 PM" src="https://user-images.githubusercontent.com/28859385/86999808-24aa4980-c1e6-11ea-805c-12575781b2d9.png">

[2020-07-09 05:18] rayzhou2017 commented on #2177
verified

[2020-07-09 05:18] #2177 closed

[2020-07-09 05:21] rayzhou2017 opened #2363 "Open app repo failed"
`ray` is the admin of the ws, can't open the app repo page.
<img width="1201" alt="Screen Shot 2020-07-09 at 1 20 17 PM" src="https://user-images.githubusercontent.com/28859385/87000204-10b31780-c1e7-11ea-8079-d7619d2fd613.png">

[2020-07-09 05:22] rayzhou2017 commented on #2248
verified

[2020-07-09 05:22] #2248 closed

[2020-07-09 05:23] leoendless commented on #2362
What's the problem?

[2020-07-09 05:24] rayzhou2017 commented on #2213
verified

[2020-07-09 05:24] #2213 closed

[2020-07-09 05:25] rayzhou2017 commented on #2259
verified

[2020-07-09 05:25] #2259 closed

[2020-07-09 05:27] rayzhou2017 commented on #2362
typo, the problem is for a regular project. It is supposed only one cluster is selected for it. But here it can add more than one cluster.

[2020-07-09 05:28] rayzhou2017 commented on #2268
verified

[2020-07-09 05:28] #2268 closed

[2020-07-09 05:30] rayzhou2017 commented on #2261
Now the problem becomes a self-provisioner can't see the fed project tab.

<img width="1177" alt="Screen Shot 2020-07-09 at 1 29 36 PM" src="https://user-images.githubusercontent.com/28859385/87000755-620fd680-c1e8-11ea-9723-f7587d350521.png">

[2020-07-09 05:32] leoendless commented on #2362
When multiple clusters are selected, a multi-cluster project will be created.

[2020-07-09 05:32] rayzhou2017 commented on #2224
verified

[2020-07-09 05:32] #2224 closed

[2020-07-09 05:37] rayzhou2017 commented on #2362
This is not user experience consistent since a self-provisioner is only one cluster to select. And given two different tabs available (Project, Multi-cluster Project), why mess up the regular and fed project here based on how many clusters to select?
<img width="953" alt="Screen Shot 2020-07-09 at 1 36 52 PM" src="https://user-images.githubusercontent.com/28859385/87001109-435e0f80-c1e9-11ea-9bb7-

[2020-07-09 05:41] rayzhou2017 opened #2365 "No app store shows up"
`admin` can see the app store/app template, but the users with other roles can't. The app store is enabled in the host cluster of multi-cluster env.
<img width="1223" alt="Screen Shot 2020-07-09 at 1 39 10 PM" src="https://user-images.githubusercontent.com/28859385/87001325-c4b5a200-c1e9-11ea-8678-fb2c57332bcf.png">
<img width="1235" alt="Screen Shot 2020-07-09 at 1 39 19 PM" src="https://user-ima

[2020-07-09 05:41] rayzhou2017 commented on #2365
my mistake

[2020-07-09 05:41] #2365 closed

[2020-07-09 05:42] rayzhou2017 commented on #2263
verified

[2020-07-09 05:42] #2263 closed

[2020-07-09 05:44] leoendless commented on #2347
It's not a problem of multiple containers.

[2020-07-09 05:45] rayzhou2017 commented on #2274
verified

[2020-07-09 05:45] #2274 closed

[2020-07-09 05:56] #2348 closed

[2020-07-09 05:57] zackzhangkai opened #2366 "404 error"
![image](https://user-images.githubusercontent.com/20178386/87002376-0b0c0080-c1ec-11ea-9b71-c14aa925e875.png)

http://ssa:30880/workspace1/clusters/node1-v2/projects/xxx/s2ibuilders/ii-b2i-ylqg/records

/assign @leoendless
/priority medium
/kind bug
/area console

[2020-07-09 05:59] leoendless commented on #2366
Duplicate of #https://github.com/kubesphere/kubesphere/issues/2361

[2020-07-09 06:00] #2366 closed

[2020-07-09 06:39] zackzhangkai opened #2367 "when use docker registry secret , 400 error occured"
1. First create a key of docker-registry type.  http://ssa:30880/clusters/node1-v2/secrets
2. deploy use this key, then 400 error occured  .  http://ssa:30880/clusters/node1-v2/deployments

![image](https://user-images.githubusercontent.com/20178386/87005305-61c80900-c1f1-11ea-9278-0c33f7495f78.png)

/assign @leoendless
/priority medium
/kind bug
/area console

[2020-07-09 06:43] zackzhangkai commented on #2344
There are two problems here. The first one has been done ok . But there is still a problem as follows:

![image](https://user-images.githubusercontent.com/20178386/87005937-69d47880-c1f2-11ea-8bfc-f61962672ed3.png)

![image](https://user-images.githubusercontent.com/20178386/87005895-56291200-c1f2-11ea-8971-1f3a04d2cd49.png)

@leoendless

[2020-07-09 06:45] #2342 closed

[2020-07-09 06:46] #2343 closed

[2020-07-09 06:48] #2301 closed

[2020-07-09 06:49] #2341 closed

[2020-07-09 06:55] zackzhangkai commented on #2367
This is the link  address, maybe need to proxy this api from the host to the member.

http://ssa:30880/kapis/resources.kubesphere.io/v1alpha2/registry/blob?namespace=xxx&image=docker.io%2Faaa&secret=mainrepo

@leoendless

[2020-07-09 07:58] rayzhou2017 commented on #2251
verified

[2020-07-09 07:58] #2251 closed

[2020-07-09 08:00] rayzhou2017 commented on #2250
verified

[2020-07-09 08:00] #2250 closed

[2020-07-09 08:04] rayzhou2017 commented on #2357
It is caused by a not-ready cluster.

[2020-07-09 08:09] wangtian-010 opened #2369 "description textfield length did not limit to 1000"
**Describe the Bug**
description field length did not limit to 1000

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.Click

[2020-07-09 08:23] #2346 closed

[2020-07-09 08:25] rayzhou2017 commented on #2309
I see what problem it is.

[2020-07-09 08:26] leoendless commented on #2367
@harrisonliu5 Please help to check this issue.

[2020-07-09 08:42] wangtian-010 opened #2371 "Delete success message should display after record disappears"
**Describe the Bug**
delete success message should display after record disappears

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster projec

[2020-07-09 08:56] leoendless commented on #2371
It is difficult to distinguish whether the resource is directly deleted at the front end.
`Delete successfully` tip shows because the API returns success.
`Resource Deleting` status shows because it takes some time for backend service to delete the resource.

[2020-07-09 10:28] #2358 closed

[2020-07-09 10:33] wangtian-010 commented on #2371
But there is a proplem in this condition,if record did not disappear.I can delete this record again, it is not friendly for customer

[2020-07-09 12:00] Warden-Thresh commented on #2360
My config
`    devops:
      host: http://ks-jenkins.kubesphere-devops-system.svc/
      username: admin
      password: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwidWlkIjoiMmVjZDk3ZmMtODI5Ni00NGEyLWFkZjMtZWMzMWU5MDRkYTdmIiwiZXhwIjoxNTkzNzY0ODQ3LCJpYXQiOjE1OTM2Nzg0NDcsImlzcyI6Imt1YmVzcGhlcmUiLCJuYmYiOjE1OTM2Nzg0NDd9.kLrwcOv5dk5J1W85CHpX1lakMseWCejhGjyf_PHCc38~
      maxConnect

[2020-07-09 12:20] Warden-Thresh commented on #2360
![image](https://user-images.githubusercontent.com/22620409/87039334-95228c00-c221-11ea-86dd-3d36176c3c22.png)

[2020-07-09 12:43] shaowenchen commented on #2360
@Warden-Thresh try to get token from Console and restart deploys.

@wansir the token of the new environment is incorrect

[2020-07-09 13:32] Warden-Thresh commented on #2360
How to create token ?I don't find ti in Document

[2020-07-10 03:07] liuyp2018 opened #2374 "here is a problem with the number of versions show"
deploy version record page , there is a problem with the number of versions show

![image](https://user-images.githubusercontent.com/36271543/87115883-13754180-c2a7-11ea-87cc-ae14fc5d08c8.png)

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority low

[2020-07-10 03:13] wangtian-010 opened #2375 "no event records for muti-cluster project application router"
**Describe the Bug**
no event records for muti-cluster project application router

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project

[2020-07-10 03:32] rayzhou2017 commented on #2362
verfied

[2020-07-10 03:32] #2362 closed

[2020-07-10 03:37] rayzhou2017 commented on #2357
verified

[2020-07-10 03:37] #2357 closed

[2020-07-10 03:39] rayzhou2017 commented on #2176
verified

[2020-07-10 03:39] #2176 closed

[2020-07-10 03:53] wangtian-010 opened #2376 "no app name displays in detail page for muti-cluster project application router"
**Describe the Bug**
no app name displays in detail page for muti-cluster project application router

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'mu

[2020-07-10 04:08] wangtian-010 opened #2377 "next page icon is overlayed"
**Describe the Bug**
next page icon is overlayed

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.Click 'muticlustor-projec

[2020-07-10 04:30] liuyp2018 opened #2378 "There is a problem with the display of current memory usage"
There is a problem with the display of current memory usage,  in the elastic flex module of the deployment page

<img width="929" alt="111" src="https://user-images.githubusercontent.com/36271543/87116677-00637100-c2a9-11ea-9fa1-614b6307b5a6.png">

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority low

[2020-07-10 04:49] liuyp2018 opened #2379 "Elastic flex Settings page, the input box check problem"
On the elastic flex page, the input box is set to a floating point number, then Pop up error box

<img width="927" alt="2222" src="https://user-images.githubusercontent.com/36271543/87117631-98faf080-c2ab-11ea-98ad-6a947965dc99.png">

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority medium

[2020-07-10 05:29] wangtian-010 opened #2380 "no description message displayed in application list under multi-cluster project"
**Describe the Bug**
no description message displayed in application list under multi-cluster project

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'm

[2020-07-10 05:34] harrisonliu5 commented on #2374
/assign @harrisonliu5

[2020-07-10 05:39] harrisonliu5 commented on #2361
/kind need-to-verify

[2020-07-10 05:41] wangtian-010 opened #2381 "no version displayed in application detail page and list page under multi-cluster project"
**Describe the Bug**
no version displayed in application detail page and list page under multi-cluster project

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and swi

[2020-07-10 05:53] liuyp2018 opened #2382 "When setting the monitoring range, error occurred"
1. Go to the deployment monitoring page
   Set monitoring range as follow,and save the config

<img width="942" alt="01" src="https://user-images.githubusercontent.com/36271543/87120968-5558b480-c2b4-11ea-8351-e842920f1448.png">

2. Set monitoring range as follow,and save the config
<img width="664" alt="02" src="https://user-images.githubusercontent.com/36271543/87121021-77eacd80-c2b4-11ea-8e9f-f

[2020-07-10 06:00] leoendless commented on #2374
It seems a problem with backend service.

[2020-07-10 06:04] zryfish commented on #2374
/assign

[2020-07-10 06:16] wangtian-010 opened #2383 "Internal Server Error happened for servicemesh not started service under multi-cluster project"
**Describe the Bug**
Internal Server Error happened for servicemesh not started service under multi-cluster project

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' an

[2020-07-10 06:26] #2352 closed

[2020-07-10 06:54] zackzhangkai opened #2384 "when create volume with snapshot, the existed snapshot cannot display"
/assign @leoendless
/milestone 3.0.0
/priority medium
/kind bug
/area console

http://ssa:30880/workspace1/clusters/node1-v2/projects/xxx/volumes

http://ssa:30880/kapis/resources.kubesphere.io/v1alpha3/namespaces/xxx/volumesnapshots?limit=10&status=ready&sortBy=createTime

![image](https://user-images.githubusercontent.com/20178386/87125445-209d2b00-c2bd-11ea-902d-bd2cbaaefdda.png)

[2020-07-10 06:56] wangtian-010 opened #2385 "No gateway type and internet address in internet access tab for application under multi-cluster project"
**Describe the Bug**
No gateway type and internet address in internet access tab for application under multi-cluster project

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project manag

[2020-07-10 07:02] zackzhangkai opened #2386 "always pending when resize an unmounted volume"
/assign @min-zh
/kind need-to-verify

http://ssa:30880/workspace1/clusters/node1-v2/projects/xxx/volumes/iii/events
http://139.198.189.108:3180/testlink/index.php?caller=login&viewer=

![image](https://user-images.githubusercontent.com/20178386/87125966-f8fa9280-c2bd-11ea-9c90-2a6bd22ad257.png)
![image](https://user-images.githubusercontent.com/20178386/87126122-3eb75b00-c2be-11ea-86cc-a6dda411b8b

[2020-07-10 07:22] 53537 opened #2387 "Too many operations with add-Node scripts"
Kubesphere v2.1.1
If a new node is added to the cluster by using the add-node.sh  script, the docker configuration of the previous node will be reset(/etc/systemd/system/docker.service.d/docker-options.conf), and the business of the old node will be interrupted (it is speculated that the docker configuration will be reset and then restarted). And the new node firewall is not closed, resulting in s

[2020-07-10 07:43] zackzhangkai opened #2388 "pv name maybe should be displayed in the volume web"
In the web , I cannot get the pv name, mybe it should be displayed.

http://ssa:30880/clusters/node1-v2/projects/xxx/volumes/iii/resource-status

![image](https://user-images.githubusercontent.com/20178386/87129338-c0f64e00-c2c3-11ea-8681-8f57784cb73e.png)

![image](https://user-images.githubusercontent.com/20178386/87129391-d5d2e180-c2c3-11ea-88b1-9f4b36330a86.png)

[code]

@leoendless

/priority

[2020-07-10 07:52] #2361 closed

[2020-07-10 07:52] #2378 closed

[2020-07-10 07:52] #2379 closed

[2020-07-10 07:59] zryfish commented on #2385
/cc @leoendless

[2020-07-10 08:01] zryfish commented on #2383
Yeah, istio is not enabled in member-cluster-1, so it's expected behavior.  /cc @leoendless I think it's better not to issue the request if servicemesh is not enabled here.

[2020-07-10 08:01] zackzhangkai opened #2389 "when resized a mounted volume, the size stayed unchanged"
1. Resize the volume in the web , it return success. But indeed it not changed.
2. When directly edit the storage of the pv by kubectl tool, the pv shows the changed size. But in the web, it still shown unchanged.

[code]

http://ssa:30880/clusters/node1-v2/projects/xxx/volumes/iii/resource-status

@leoendless
/priority low
/kind bug
/area console

[2020-07-10 08:02] leoendless commented on #2388
Kubesphere console omits the concept of PV on the UI to reduce the complexity of the volume.

[2020-07-10 08:03] harrisonliu5 commented on #2336
/kind need-to-verify

[2020-07-10 08:06] leoendless commented on #2389
@min-zh Please help to check this problem.

[2020-07-10 08:08] pixiake commented on #2387
You may only add the new nodes in the kube-node group of the hosts.ini,  when you plan to add new nodes to your cluster.

In the next version, we will improve this and use new tools which named [KubeKey](https://github.com/kubesphere/kubekey) to create and operate kubernetes clusters.

[2020-07-10 08:14] zackzhangkai opened #2390 "the status of sc is not correct"
http://ssa:30880/clusters/node1-v2/storageclasses

![image](https://user-images.githubusercontent.com/20178386/87132200-1b91a900-c2c8-11ea-819b-5529a14e4526.png)

/assign @leoendless
/priority medium
/kind bug
/area console

[2020-07-10 08:16] 53537 commented on #2387
当申请完新的主机后，在主机配置文件 conf/hosts.ini根据需要增加的主机信息在 [all] 和 [kube-node] 部分对应添加一行参数，若扩容多台主机则依次添加多行参数。需要注意的是，扩容新的节点时不能修改原节点的主机名如 master、node1 和 node2，如下添加新节点 node3

The documentation states that you cannot just add new servers because information such as hosts needs to be added to previous nodes

[2020-07-10 08:18] 53537 commented on #2387
Maybe you need to add hosts and other operations to the previous node

[2020-07-10 08:23] zryfish commented on #2374
Just inspect the source, `revisionsHistoryLimit` means how much history revisions will be preserved, plus one current active replicaset, there should be 11 ( 10 + 1 ) revisions by default. Old replicasets are not deleted immediately after new replicasets created, there is some delay.  So it's not a bug.

[2020-07-10 08:24] zryfish commented on #2351
working on it
/priority medium

[2020-07-10 08:24] wansir commented on #2313
/priority high

[2020-07-10 08:25] pixiake commented on #2387
example:

`master / node1 / node2` are already existed in cluster,  now  you want to add `node3 / node4` to your cluster.

All nodes must be added in the `all` group, but only add the new nodes in the `kube-node` group.

[code]

[2020-07-10 08:26] zryfish commented on #2350
Agree
/cc @leoendless

[2020-07-10 08:34] 53537 commented on #2387
Examples in the documentation：

[kube-node]
master
node1
node2
node3

[2020-07-10 08:44] 53537 commented on #2387
And the new node firewall is not closed

[2020-07-10 08:47] zackzhangkai commented on #2386
https://docs.qingcloud.com/product/api/action/volume/create_volumes.html
After it mounted, the size then will change.

[2020-07-10 08:47] #2386 closed

[2020-07-10 08:48] pixiake commented on #2387
Of course you can add all nodes in `kube-node` group，but to avoid a refresh of docker‘s configuration，you can add only the new nodes in the kube-node group.

`firewall` need to close by yourself.

[2020-07-10 09:12] #2389 closed

[2020-07-10 09:29] k0ngk0ng opened #2391 "LDAP enhancement suggestions"
1.  Support to display the username as DisplayName, or provide such a field can be configured.
     Only sAMAccountName can be displayed as the username now.
2.  Support MemberOf filtering

[2020-07-10 09:38] 53537 commented on #2387
Ok, thank you. Please update the document

[2020-07-10 09:40] rayzhou2017 commented on #2391
@wansir @leoendless @k0ngk0ng This sounds a good suggestion. Can you make a decision if we can finish it in v3.0.0? Please note it may affect several places such as `welcome xxx`, account list etc. in my opinion.

[2020-07-10 09:42] rayzhou2017 commented on #2387
/cc @FeynmanZhou @Sherlock113 This is asked by quite a few users. Can you update the 2.1.x doc?

[2020-07-10 09:44] #1523 closed

[2020-07-10 09:44] #1560 closed

[2020-07-10 09:45] #654 closed

[2020-07-10 09:52] FeynmanZhou commented on #2387
ok

[2020-07-10 09:57] wansir commented on #2391
We will provide LDAP identity provider in 3.0, these two suggestions are in the plan.

[2020-07-10 10:00] rayzhou2017 commented on #2391
3.0 in plan？We already dcut. So you mean it will provide this feature in the upcoming release (v3.0.0)?

[2020-07-10 10:12] wanminny opened #2393 "how to add my test k8s cluster to kubesphere"
1.  already enable
  multicluster:
    clusterRole: host

2.   kubesphere cluster is running ,as below:
![image](https://user-images.githubusercontent.com/6701531/87143309-77642e00-c2d8-11ea-83a2-d5cd323d1fa8.png)

3. but add the cluster , error
![image](https://user-images.githubusercontent.com/6701531/87143469-b72b1580-c2d8-11ea-9d5d-94e0398b1a62.png)

how to solve it .thank you  in advance.

[2020-07-10 10:13] wansir commented on #2391
Now the identity provider framework has been completed, it's convenient to configure plug-ins, we can use the authentication code of LDAP in 2.x. We don't have enough time to test it, we can provide a simple LDAP identity provider plugin, improve it in version 3.0.x.

[2020-07-10 10:13] wanminny commented on #2393
the svc   ks-apiserver is exists.

![image](https://user-images.githubusercontent.com/6701531/87143659-0a04cd00-c2d9-11ea-96fb-d25a86eaa9c2.png)

[2020-07-10 10:15] min-zh opened #2394 "list right `access mode` when creating PVC"
Now, console list all `access mode` which storage may not supported. On CSI storage, we can get the supported `access mode` by call CSI RPC like we do in `storage capability`.

[2020-07-10 10:16] zryfish commented on #2393
Where is your test cluster?  Have you installed ks-installer on your test cluster?

[2020-07-10 11:16] wanminny commented on #2393
ks-allinone cluster is running , so  ks-installer  is ok ?

my test cluster and kube-sphere in my same local netwrok ,eg: 10.1.x.x ; ping and telnet is ok.

[2020-07-10 11:17] wanminny commented on #2393
ks-allinone cluster is running on the upper pic , so ks-installer is ok ?

my test cluster and kube-sphere in my same local netwrok ,eg: 10.1.x.x ; ping and telnet is ok.

[2020-07-10 12:47] #2367 closed

[2020-07-11 00:01] wangtian-010 opened #2395 "Suggest records display in list order by create time desc under multi-cluster project"
**Describe the Bug**
Suggest records display in list order by create time desc under multi-cluster project

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch

[2020-07-11 01:25] rayzhou2017 opened #2396 "self-provisioner can't create pv"
**Describe the Bug**
log in as the self-provisioner, and enter its project. Then create a PV. Error msg shows as below
<img width="1280" alt="Screen Shot 2020-07-11 at 9 21 05 AM" src="https://user-images.githubusercontent.com/28859385/87213515-2bf16480-c358-11ea-87c4-4da28529a077.png">

**Versions Used**
KubeSphere: 3.0.0-dev

**Environment**
allinone

**Expected behavior**
self-provisioner is ab

[2020-07-11 02:32] rayzhou2017 opened #2397 "custom role of project is incorrect"
**Describe the Bug**
A custom role of project without custom monitoring dashboard access still can see custom monitoring dashboard
<img width="870" alt="Screen Shot 2020-07-11 at 10 26 21 AM" src="https://user-images.githubusercontent.com/28859385/87214665-48de6580-c361-11ea-80ea-14e60a495dbe.png">
<img width="793" alt="Screen Shot 2020-07-11 at 10 26 34 AM" src="https://user-images.githubusercont

[2020-07-11 03:14] leoendless commented on #2395
Currently, we use native k8s API for the federated resources list. It doesn't support sort, fuzzy search, etc. Will these resources be rewritten to ks resource APIs? @zryfish

[2020-07-11 03:19] zryfish commented on #2395
Yes, working on it, but it's not likely finished before release, so probably in next version

[2020-07-11 06:59] wansir commented on #2397
The role template `role-template-view-projects` in the workspace means to authorize the viewing rights of all projects in the workspace, we use the tenant API to list user's namespace (user-related resources)  in the workspace, the nav button not controlled by `role-template-view-projects`， everyone in the workspace has rights to call the tenant API. User has `role-template-view-projects` permissi

[2020-07-11 09:42] zryfish commented on #2393
Can you run the following command on your member cluster, not on your allinone cluster
[code]

If there is nothing there, then you need to install components via https://github.com/kubesphere/ks-installer#minimal-installation

[2020-07-12 03:19] wangtian-010 opened #2398 "Not Found tips display for workload without service under multi-cluster project"
**Describe the Bug**
Not Found tips display for workload without service under multi-cluster project

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30880/

**How To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'mu

[2020-07-12 03:32] leoendless commented on #2349
If a user is in this role, there will be a prompt when deleting the role.
![image](https://user-images.githubusercontent.com/8739949/87238277-2ddc2600-c433-11ea-8ba3-f079155112e6.png)

[2020-07-12 03:33] wangtian-010 opened #2399 "no event records for service under muti-cluster project"
Describe the Bug
no event records for application router under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.Cli

[2020-07-12 11:10] wangtian-010 opened #2400 "container port required field can be empty for workload under muti-cluster project"
Describe the Bug
container port required field can be empty for workload under  muti-cluster project

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster

[2020-07-12 12:28] huanggze opened #2401 "Allow to set the number of ingress-controller replicas before creating Ingress"
Currently, only one replica will be deployed, which is not robust in production environments.

![image](https://user-images.githubusercontent.com/22350668/87246225-913f7580-c47e-11ea-8307-9f9e8a3b0d35.png)

[2020-07-12 12:29] huanggze commented on #2401
/assign @zryfish
/milestone 3.1.0

[2020-07-12 12:32] huanggze commented on #2401
/kind optimization

[2020-07-12 12:49] rayzhou2017 commented on #2396
not fixed

[2020-07-13 03:00] wansir commented on #2380
/assign @leoendless

[2020-07-13 03:52] rayzhou2017 opened #2403 "project custom role is incomplete"
**Describe the Bug**
Create a custom project role as follows. Then log in a user with the role, got error msg. Another question, why there is no configmap authorization in the resource list?

<img width="958" alt="Screen Shot 2020-07-13 at 11 51 41 AM" src="https://user-images.githubusercontent.com/28859385/87269254-3732c480-c4ff-11ea-8757-e2a49ff7285e.png">

<img width="1227" alt="Screen Shot 202

[2020-07-13 03:58] rayzhou2017 commented on #2403
/cc @leoendless @wansir It seems project custom role is not thoroughly considered. This part should be  frequently used.

[2020-07-13 04:20] FeynmanZhou commented on #2387
It has been fixed by @Sherlock113 in [kubesphere/docs.kubesphere.io#737](https://github.com/kubesphere/docs.kubesphere.io/pull/737).

See [this guide](https://kubesphere.com.cn/docs/zh-CN/installation/add-nodes/).

[2020-07-13 04:31] wansir commented on #2403
The authorization list can be configured dynamically through  CRD, we will improve the missing parts.

[2020-07-13 04:35] leoendless commented on #2403
configmap is included in workload management

[2020-07-13 04:37] rayzhou2017 commented on #2403
I do not see it. And why make consistent with the navigation with project?
<img width="973" alt="Screen Shot 2020-07-13 at 12 36 54 PM" src="https://user-images.githubusercontent.com/28859385/87271362-9c89b400-c505-11ea-8f60-0785987cdfc4.png">

[2020-07-13 05:11] wansir commented on #2403
We have aggregated some closely related permissions, it might be confusing, require more explanation(or adjust an intuitive name).

[2020-07-13 05:24] duanjiong commented on #2349
You need to check here
![image](https://user-images.githubusercontent.com/3678855/87273617-2fc5e800-c50c-11ea-8f1f-3af2b6d5c9e3.png)

[2020-07-13 05:38] leoendless commented on #2349
I think it's better to remove batch delete operation for roles. It should be confirmed one by one. I will fix this.

[2020-07-13 05:51] calvinyv opened #2405 "Bad UI experience on the workspace monitoring page"
**Describe the Bug**
Bad UI experience on the workspace monitoring page

**Versions Used**
KubeSphere: 3.0 dev

**Environment**
How many nodes and their hardware configuration:
Ubuntu 18.04.3 / 1 masters:  8cpu/16g; 2 nodes: 8cpu/16g

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to some workspace monitoring dashboard,
2. There are  'Physical Resources Usage' and 'Application Resourc

[2020-07-13 05:51] calvinyv commented on #2405
/kind console
/assign @leoendless

[2020-07-13 05:51] calvinyv commented on #2405
/area console

[2020-07-13 05:58] leoendless commented on #2405
I could fix Step 3. Any comments for Step 2 @benjaminhuo.

[2020-07-13 06:11] benjaminhuo commented on #2405
Regarding step 2, Two cluster selecting drop boxes in one page is indeed  a bit inconvenient.
One cluster selector for one page is ok for me
@leoendless @calvinyv

[2020-07-13 06:13] leoendless commented on #2405
@Carlosfengv Please help to re-design the UI.

[2020-07-13 06:23] calvinyv commented on #2405
pls also take a look @step3

1.

step3

[2020-07-13 06:43] benjaminhuo commented on #2405
Regarding step4, maybe we needn't to do anything specific to system-workspace according to cluster's role: host or member.
Use the default logic for all workspace is ok

@calvinyv @leoendless

[2020-07-13 08:40] liuyp2018 opened #2406 "the problem of Inconsistent jwtSecret"
After installing a multi-cluster environment, enter the management page of member-cluster, prompt session timeout
<img width="720" alt="重新登录" src="https://user-images.githubusercontent.com/36271543/87282818-3a41ab00-c527-11ea-9071-df9320dc99ec.png">

problem:
1. The jwtSecret of the host and member cluster is inconsistent
2. need to add a description of the problem to the document

/kind bug
/area

[2020-07-13 08:58] wangtian-010 opened #2407 "pod/service/application/app router always display deleting status when delete them under muti-cluster project"
Describe the Bug
pod/service/application/app router always display deleting status after delete them under muti-cluster project

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' an

[2020-07-13 09:11] rayzhou2017 commented on #2406
Did you change the clusterRole to member in the member cluster?

[2020-07-13 09:11] rayzhou2017 commented on #2406
kubectl edit cc ks-installer -n kubesphere-system

[2020-07-13 09:12] zryfish commented on #2406
Yeah, it's introduced by https://github.com/kubesphere/ks-installer/pull/877 , working on it

[2020-07-13 09:15] wangtian-010 commented on #2381
kind/closed

[2020-07-13 09:17] wangtian-010 commented on #2381
/kind close

[2020-07-13 09:19] wangtian-010 commented on #2381
verify passed

[2020-07-13 09:19] #2381 closed

[2020-07-13 10:41] liuyp2018 opened #2409 "The display of deploy protocols is inconsistent with user Settings(optimization)"
1. When creating a deployment, select the protocol for the container as HTTP
2. Once created, look at the deployment details page, the protocol is shown as TCP in port information
<img width="850" alt="微信截图_20200713180929" src="https://user-images.githubusercontent.com/36271543/87294778-ceffd500-c536-11ea-913a-ffe8c2713db3.png">

/assign @zryfish
/milestone 3.0.0
/priority low

[2020-07-13 10:49] wangtian-010 opened #2410 "The port information disappears after a few seconds in workload under muti-cluster project"
Describe the Bug
The port information disappears after a few seconds in workload under muti-cluster project

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-c

[2020-07-13 11:03] wangtian-010 opened #2411 "no event records for workload under muti-cluster project"
Describe the Bug
no event records for workload under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.Click 'muticl

[2020-07-14 01:24] wangtian-010 commented on #2376
application name displays,close this issue

[2020-07-14 01:24] #2376 closed

[2020-07-14 01:30] wangtian-010 commented on #2332
fixed,close this issue

[2020-07-14 01:30] #2332 closed

[2020-07-14 01:38] wangtian-010 commented on #2337
fixed,close this issue

[2020-07-14 01:38] #2337 closed

[2020-07-14 01:41] wangtian-010 commented on #2340
change the discription to allow to start with digital,fixed

[2020-07-14 01:41] #2340 closed

[2020-07-14 01:50] wangtian-010 commented on #2359
verify passed,close this issue

[2020-07-14 01:50] #2359 closed

[2020-07-14 02:22] leoendless commented on #2407
You may need to refresh the list manually because the WebSocket communication is unstable.

[2020-07-14 02:37] shaowenchen commented on #2336
@wansir Response data needs the field of server.

[2020-07-14 02:39] #2369 closed

[2020-07-14 02:48] calvinyv opened #2412 "Feat: migration tool or solution from OpenShift to KubeSphere"
**Describe the Bug**
migration tool or solution from OpenShift to KubeSphere

**How To Reproduce**
Investigate any addon resources in OpenShift besides K8s native resource should be migrated and how to migrate them, if any new tool should be developed.

[2020-07-14 02:49] calvinyv commented on #2412
/assign @pixiake @Forest-L
/area installation
/kind feature-request

[2020-07-14 03:03] wanjunlei opened #2413 "multicluster login failed"
**Describe the Bug**
The multicluster  environment has one host and one member, when login the console of host, it had this error.

![image](https://user-images.githubusercontent.com/53003665/87378837-598d1680-c5c1-11ea-9481-c3fe8c1e5b1c.png)

The ks-apiserver of host has this error
![image](https://user-images.githubusercontent.com/53003665/87378866-73c6f480-c5c1-11ea-9727-1e70705b3979.png)

The

[2020-07-14 03:29] liuyp2018 opened #2414 "successThreshold must be 1"
Change the value of the successThreshold for deployed health checks to 3, Check not pass
<img width="812" alt="error" src="https://user-images.githubusercontent.com/36271543/87380518-3c5a4700-c5c5-11ea-860b-6c4616115d4b.png">

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority Medium

[2020-07-14 03:42] Forest-L commented on #2413
/assign @zryfish

[2020-07-14 03:44] leoendless commented on #1899
This is exactly the data returned by the native api.

[2020-07-14 04:03] #2316 closed

[2020-07-14 04:18] leoendless commented on #2394
Currently, That is controlled by `metadata.annotations["storageclass.kubesphere.io/supported_access_modes"]` of the storageclass

[2020-07-14 04:29] leoendless commented on #2390
/assign @min-zh

[2020-07-14 04:30] leoendless commented on #2390
Does the annotation `storageclass.kubesphere.io/support-snapshot` add to these storageclasses?

[2020-07-14 05:54] wangtian-010 commented on #2407
I tried and get the same result
![image](https://user-images.githubusercontent.com/67785532/87389539-7af9fc80-c5d9-11ea-87b8-03c7ef8bd321.png)

[2020-07-14 06:09] wangtian-010 commented on #2407
![image](https://user-images.githubusercontent.com/67785532/87390524-9a922480-c5db-11ea-80a7-8e3ac688da69.png)
can not be deleted

[2020-07-14 07:57] wangtian-010 opened #2417 "Changing the image in the container image does not take effect"
Describe the Bug
Changing the image in the container image does not take effect
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.Click 'mut

[2020-07-14 08:07] wangtian-010 opened #2418 "ServiceUnavailable no endpoints available for service ":ks-apiserver:" error happened"
Describe the Bug
ServiceUnavailable no endpoints available for service ":ks-apiserver:" error happened
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
ServiceUnavailable no endpoints available for service ":ks-apiserver:" error happened very freqently.
not sure the reason
![image](https://user-images.githubuserc

[2020-07-14 08:46] liuyp2018 opened #2420 "Added annotation to the service, it is not present in the config file after creation"
1. create service,add annotation
2. after creation, the annotation is not present in the config file
<img width="767" alt="annotation" src="https://user-images.githubusercontent.com/36271543/87405040-80fbd780-c5f1-11ea-9538-87530b17496f.png">

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority Medium

[2020-07-14 09:33] Carlosfengv commented on #2420
Annotations => Annotations(Apply to the workload)

[2020-07-14 10:43] liuyp2018 opened #2421 "The suggested rule is inconsistent with the actual checksum"
create service,set name is 123, invalid format prompt appears

<img width="584" alt="校验不通过" src="https://user-images.githubusercontent.com/36271543/87416848-e22ba700-c601-11ea-9e06-27bde905b7cc.png">
/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority low

[2020-07-14 10:45] rayzhou2017 opened #2422 "Duplicate audit logs"
**Describe the Bug**
Test to create a stateful service with workloaded created. Check the audit logs and found duplicate logs

<img width="1210" alt="Screen Shot 2020-07-14 at 6 43 13 PM" src="https://user-images.githubusercontent.com/28859385/87416962-0d15fb00-c602-11ea-9514-5306c483efdc.png">

**Versions Used**
KubeSphere: 3.0.0-dev

**Environment**
allinone, logging and audit enabled

**Expecte

[2020-07-15 00:37] rayzhou2017 opened #2424 "Support cascading delete of application"
When delete an application, should allow user to decide if cascading delete all resource such as deployments, service associated with the application. Otherwise, it is weird for an applicationd deployed from the app store, becase I deploy the application from the store with one click, then when I want to delete the application, I found only the application item is deleted from the list but all oth

[2020-07-15 02:29] #2336 closed

[2020-07-15 02:51] liuyp2018 opened #2425 "Specify workload create service, existing workload is not displayed"
**Describe the Bug**
Specify workload create service, existing workload is not displayed
<img width="690" alt="指定工作负载创建服务" src="https://user-images.githubusercontent.com/36271543/87497375-fe722700-c687-11ea-946e-d6a546e7c828.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

**Environment**
host: 1node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /ubunt

[2020-07-15 05:51] wangtian-010 opened #2426 "Replicate creating do not always using the same strategy under muti-cluster project"
Describe the Bug
Replicate creating do not always using the same strategy under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster p

[2020-07-15 06:31] wangtian-010 opened #2428 "Incomplete probe description display for container under muti-cluster project"
Describe the Bug
Incomplete probe description display for container under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project

[2020-07-15 06:46] wangtian-010 opened #2429 "Only running and deleting status display for service/workload/app router under muti-cluster project"
Describe the Bug
Only running and deleting status display for service/workload/app router under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to

[2020-07-15 06:49] leoendless commented on #2429
Currently, there are only two statuses for federated resources.

[2020-07-15 07:56] wangtian-010 opened #2430 "No container display after created under muti-cluster project"
Describe the Bug
No container display after created under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.Click 'm

[2020-07-15 08:02] leoendless commented on #2430
Please check the workload's status or events.

[2020-07-15 08:09] liuyp2018 opened #2431 "the build image still exists in the build image list when deleting service and associated build image"
**Describe the Bug**
When deleting a service, delete the associated build image, and after that, see that the build image still exists in the build image list
<img width="701" alt="构建镜像" src="https://user-images.githubusercontent.com/36271543/87519999-f54b7f00-c6b4-11ea-849c-6407052806fe.png">

Versions Used
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

Environment
ho

[2020-07-15 08:27] wansir commented on #2375
It's not a bug, events are removed one hour after the last occurrence.

[2020-07-15 08:30] wansir commented on #2396
I've verified this issue yesterday, may need to reinstall or create a new workspace.

[2020-07-15 08:45] liuyp2018 opened #2432 "The query function in the build mirror list has not taken effect"
**Describe the Bug**
The query function in the build mirror list has not taken effect
<img width="662" alt="查询功能" src="https://user-images.githubusercontent.com/36271543/87523433-80c70f00-c6b9-11ea-9fa1-1275d1743008.png">

Versions Used
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

Environment
host: 1node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /ubuntu 16.04 4cpu/16g

[2020-07-15 08:48] wansir commented on #2175
There are some conflicts with multi-cluster architecture, delay to 3.1.0.  Cluster permissions can be granted through the platform role.

[2020-07-15 09:01] wansir commented on #2330
/kind need-to-verify

[2020-07-15 09:03] wansir commented on #2313
Support token refresh.
/assign @leoendless

[2020-07-15 09:12] liuyp2018 opened #2433 "Problem with creating the same deployment and service name"
**Describe the Bug**
The deployment is created with the same name as the service, prompting for duplicate labels
<img width="707" alt="重复名称" src="https://user-images.githubusercontent.com/36271543/87527011-19f82480-c6be-11ea-8fa4-76bf33cb51ee.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

**Environment**
host: 1node /ubuntu 16.04 4cpu/16g
membe

[2020-07-15 09:15] leoendless commented on #2433
This is not a bug. Labels group has been used, you need to add a new label or modify current labels.

[2020-07-15 09:29] liuyp2018 opened #2434 "The build mirror list page turning function has not taken effect"
**Describe the Bug**
The build mirror list page turning function has not taken effect
<img width="942" alt="翻页功能" src="https://user-images.githubusercontent.com/36271543/87528810-a277c480-c6c0-11ea-9ee9-2b207326f67f.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

**Environment**
host: 1node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /ubuntu 16.04 4

[2020-07-15 10:12] liuyp2018 commented on #2433
when adding a new label or modifying current labels, the error occurres

<img width="828" alt="重复名称2" src="https://user-images.githubusercontent.com/36271543/87532944-77906f00-c6c6-11ea-9853-ff914ee8a1e7.png">

[2020-07-15 11:29] Warden-Thresh opened #2435 "Deploy application failes with "Specifying a root certificates file with the insecure flag is not allowed""
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
When deploy any application
`
specifying a root certificates file with the insecure flag is not allowed
`

[code]
![image](https://user-images.githubusercontent.com/22620409/87539978-6c8f0c00-c6d1-11ea-8383-1c9564b7681a.png)

**Versions Used**
KubeSphere: 3.

[2020-07-15 13:19] loxiaopohaiol commented on #2242
I don't see the default password of the kubesphere console to admin, what is the password of admin?

[2020-07-15 14:04] rayzhou2017 commented on #2242
It is `P@88w0rd`. Also you can get it from the following command

[code]

[2020-07-15 14:29] loxiaopohaiol commented on #2242
I tried to execute this command, but there is no admin information like version 2.0, but all my pods have started normally

[2020-07-16 02:07] #2431 closed

[2020-07-16 02:29] rayzhou2017 commented on #2169
verified

[2020-07-16 02:29] #2169 closed

[2020-07-16 02:30] rayzhou2017 commented on #2170
verified

[2020-07-16 02:30] #2170 closed

[2020-07-16 02:43] zys0505 opened #2436 "how to run kubeshere"
I want to run kubesphere and console locally, and see how kubesphere works locally

[2020-07-16 03:57] liuyp2018 opened #2437 "Edit service, labelSelector is not set, error occur after saving"
**Describe the Bug**
The edit service page should not be saved successfully if LabelSelector is not set
<img width="865" alt="selector" src="https://user-images.githubusercontent.com/36271543/87624649-d30c3c80-c75a-11ea-9555-55c1b78514c0.png">
If labelSelector was not set, it would receive an error: namespaces "undefined" not found
<img width="903" alt="error5" src="https://user-images.githubuserc

[2020-07-16 04:06] liuyp2018 opened #2438 "Service details page, after deleting the service and associated resources, error occurred"
**Describe the Bug**
In the Service details page, after deleting the service and associated resources, an error occurred
<img width="801" alt="delete" src="https://user-images.githubusercontent.com/36271543/87625375-9c372600-c75c-11ea-985e-d26a010a121a.png">

<img width="764" alt="delete1" src="https://user-images.githubusercontent.com/36271543/87625402-a78a5180-c75c-11ea-89bd-3fb602702341.png">

[2020-07-16 06:23] liuyp2018 opened #2440 "Problems with queries based on applied fields"
**Describe the Bug**
Problems with queries based on applied fields
1. In the list of services, when the query is made based on the applied fields, the query results show the services whose applied fields do not match the query fields
<img width="714" alt="查询结果1" src="https://user-images.githubusercontent.com/36271543/87634245-7a936a00-c76f-11ea-92b3-4be5efa94424.png">

2. In the workload list, whe

[2020-07-16 07:55] wangtian-010 opened #2442 "Incorrect page display after retrun from secrect in workload under muti-cluster project"
Describe the Bug
Incorrect page display after retrun from secrect in workload under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-clust

[2020-07-16 08:04] leoendless commented on #2442
There is a bug of volume cards on the pods' detail page.

[2020-07-16 08:13] wangtian-010 opened #2443 "Inconsistent description information in edit page and create page for secret under muti-cluster project"
Describe the Bug
Inconsistent description information in edit page and create page for secret under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch

[2020-07-16 08:17] liuyp2018 opened #2444 "Problem with image name setting in build image"
**Describe the Bug**
In the build image page, set the image name not to conform to the format,
then modify the image name to conform to the format, but still throw an error when saving
<img width="675" alt="image name1" src="https://user-images.githubusercontent.com/36271543/87645184-b3d3d600-c77f-11ea-8cea-b41713d895fa.png">

<img width="828" alt="image-name-2" src="https://user-images.githubuser

[2020-07-16 08:29] wangtian-010 opened #2445 "the description information length more than 1000 and the creation time column is not beautiful for secret under muti-cluster project"
Describe the Bug
the description information length more than 1000 and the creation time column is not beautiful for secret under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click '

[2020-07-16 08:43] wangtian-010 opened #2447 "Update secret key failed for secret under muti-cluster project"
Describe the Bug
Update secret key failed for secret under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.Click '

[2020-07-16 08:50] wangtian-010 opened #2448 "Always deleting status when delete any application under muti-cluster project"
Describe the Bug
Always deleting status when delete secret under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.C

[2020-07-16 08:58] wansir commented on #2406
/kind need-to-verify

[2020-07-16 09:04] rayzhou2017 commented on #2436
https://github.com/kubesphere/community/blob/master/developer-guide/development/development-workflow.md

[2020-07-16 09:07] rayzhou2017 commented on #2413
It is caused by the inconsistent secret between host and member. Should be fixed already.

[2020-07-16 09:32] liuyp2018 opened #2450 "Bulk deletion is missing from the build image list"
**Describe the Bug**
Build image list, cannot be bulk deleted
<img width="611" alt="构建镜像" src="https://user-images.githubusercontent.com/36271543/87654976-36fa2980-c78a-11ea-89b3-3fb32a56f7b8.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

**Environment**
host: 1node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /ubuntu 16.04 4cpu/16g
member1: 2 nodes

[2020-07-16 10:37] wangtian-010 opened #2451 "Config update failed under muti-cluster project"
Describe the Bug
Config update failed under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.Click 'muticlustor-pro

[2020-07-16 10:39] liuyp2018 opened #2452 "There is problems with the mirror image search function"
**Describe the Bug**
There is problems with the mirror image search function, See the replay steps for details.

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

**Environment**
host: 1node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

**How To Reproduce**
Steps to reproduce the behavior:
1. In the Bu

[2020-07-16 10:44] wangtian-010 opened #2453 "Always deleting status when delete config under muti-cluster project"
Describe the Bug
Always deleting status when delete config under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.C

[2020-07-16 11:20] rayzhou2017 commented on #2396
verified

[2020-07-16 11:20] #2396 closed

[2020-07-17 03:13] liuyp2018 opened #2454 "Environment variables not set, shrink advanced Settings, throw an exception when created"
**Describe the Bug**
Environment variables not set, shrink advanced Settings, throw an exception when created

<img width="938" alt="error01" src="https://user-images.githubusercontent.com/36271543/87743362-58efbc80-c81b-11ea-8164-8e597e24ea6c.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

**Environment**
host: 1node /ubuntu 16.04 4cpu/16g
memb

[2020-07-17 03:38] wangtian-010 opened #2455 "project edit failed under muti-cluster project"
Describe the Bug
project edit failed under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.Click 'muticlustor-proj

[2020-07-17 03:42] leoendless commented on #2430
We update the workload conditions. Now you can check the workload conditions in the UI.

[2020-07-17 03:45] wangtian-010 opened #2456 "Click 'edit resource default request' does not respond under muti-cluster project"
Describe the Bug
Click Edit resource default request does not respond under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster proje

[2020-07-17 03:48] leoendless commented on #2456
We fixed this problem yesterday, you might need to update the console.

[2020-07-17 03:49] wangtian-010 opened #2457 "Always deleting status when delete project under muti-cluster project"
Describe the Bug
Always deleting status when delete project under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.

[2020-07-17 03:53] leoendless commented on #2457
Could you merge the `deleting status` issues into one? They should be caused by the same reason.

[2020-07-17 04:53] #2413 closed

[2020-07-17 04:59] #2440 closed

[2020-07-17 05:02] wangtian-010 commented on #2457
merge these deleting status issues into one and close this issue

[2020-07-17 05:02] #2457 closed

[2020-07-17 05:04] wangtian-010 commented on #2453
merge these deleting status issues into one and close this issue

[2020-07-17 05:04] #2453 closed

[2020-07-17 05:56] wangtian-010 opened #2459 "No Project role/Network isolation/project member functions for muti-cluster project"
Describe the Bug
No Project role/Network isolation/project member functions for muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster p

[2020-07-17 06:08] wangtian-010 opened #2460 "Incorrect description of quota management for muti-cluster project"
Describe the Bug
Incorrect description of quota management for muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.Cli

[2020-07-17 06:16] wangtian-010 opened #2461 "The location of the 'setting gateway' button is not appropriate for muti-cluster project"
Describe the Bug
The location of the 'setting gateway' button is not appropriate for muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-clus

[2020-07-17 06:31] zryfish opened #2462 "Make requests and limits metrics more salient"
**Describe the Bug**
Node [Requests And Limits](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/) are critical metrics for [kube-scheduler](https://kubernetes.io/docs/concepts/scheduling-eviction/kube-scheduler/) to make scheduling decisions. But requests and limits metrics are not easy to find in KubeSphere, I think we should make requests and limits are more salient

[2020-07-17 06:38] wangtian-010 opened #2463 "no application governance switch in advanced setting for muti-cluster project"
Describe the Bug
no application governance switch in advanced setting for muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project

[2020-07-17 08:01] rayzhou2017 commented on #2363
verified

[2020-07-17 08:01] #2363 closed

[2020-07-17 08:10] liuyp2018 opened #2467 "The creation time of the container group is incorrect"
**Describe the Bug**
The creation time of the container group is incorrect in the detail page
<img width="876" alt="容器时间" src="https://user-images.githubusercontent.com/36271543/87763747-d6c9bd00-c847-11ea-9310-426b23b364c8.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

**Environment**
host: 1node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /ubuntu

[2020-07-17 08:15] liuyp2018 opened #2468 "An error occurred downloading the container log"
**Describe the Bug**
An error occurred downloading the container log
<img width="923" alt="下载容器日志" src="https://user-images.githubusercontent.com/36271543/87764272-adf5f780-c848-11ea-87d2-cfb39cc4145a.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

**Environment**
host: 1node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /ubuntu 16.04 4cpu/16g
member1

[2020-07-17 09:12] rayzhou2017 commented on #2173
verified

[2020-07-17 09:12] #2173 closed

[2020-07-17 09:23] liuyp2018 commented on #2452
The same problem exists in execution records
<img width="647" alt="problem" src="https://user-images.githubusercontent.com/36271543/87770966-447ae680-c852-11ea-886e-95522aa34124.png">

[2020-07-17 09:29] liuyp2018 opened #2469 "The source address is not fully displayed"
**Describe the Bug**
The source address is not fully displayed, and the full information is not displayed when the mouse moves to this point
<img width="823" alt="display" src="https://user-images.githubusercontent.com/36271543/87771392-de429380-c852-11ea-9416-11f2deac662e.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

**Environment**
host: 1no

[2020-07-17 09:35] liuyp2018 opened #2470 "In the build image details page, The environment variable is displayed empty"
**Describe the Bug**
In the build image details page, The environment variable is displayed empty
<img width="759" alt="blank" src="https://user-images.githubusercontent.com/36271543/87772116-ddf6c800-c853-11ea-9bf8-49f9e4ac49ac.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

**Environment**
host: 1node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /u

[2020-07-17 09:41] liuyp2018 opened #2471 "The associated resources are not shown in the build image details page"
**Describe the Bug**
The associated resources are not shown in the build image details page

<img width="746" alt="blank" src="https://user-images.githubusercontent.com/36271543/87772768-bf450100-c854-11ea-835e-735b55c59c64.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

**Environment**
host: 1node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /ubuntu

[2020-07-17 09:51] liuyp2018 opened #2472 "Failed to download the product successfully"
**Describe the Bug**
Failed to download the product successfully
<img width="749" alt="下载制品" src="https://user-images.githubusercontent.com/36271543/87773686-139cb080-c856-11ea-9838-f646222aa41b.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

**Environment**
host: 1node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /ubuntu 16.04 4cpu/16g
member1: 2 no

[2020-07-17 09:57] liuyp2018 opened #2473 "The associated event information is not displayed in the build image details page"
**Describe the Bug**
The associated event information is not displayed in the build image details page
<img width="743" alt="事件信息为空" src="https://user-images.githubusercontent.com/36271543/87774232-db49a200-c856-11ea-8b7b-3dc15e764146.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.16.12
member1-v1.18.5
member2-v1.17.8

**Environment**
host: 1node /ubuntu 16.04 4cpu/16g
member1: 2 no

[2020-07-17 11:09] rayzhou2017 opened #2474 "etcd multi nodes monitoring"
I would like to see who is the leader instead of showing if there is a leader on each node.
<img width="1002" alt="Screen Shot 2020-07-17 at 7 07 59 PM" src="https://user-images.githubusercontent.com/28859385/87780294-fde0b880-c860-11ea-9cbf-1734fd5863c7.png">

[2020-07-17 23:39] rayzhou2017 opened #2475 "Change user role failed"
**Describe the Bug**
Create a new user without role, then edit the user's role, got the error msg.
<img width="1280" alt="Screen Shot 2020-07-18 at 7 37 04 AM" src="https://user-images.githubusercontent.com/28859385/87838419-9ad73c00-c8c9-11ea-86b2-05129df7de58.png">

**Versions Used**
KubeSphere: 3.0.0-dev

**Environment**
allinone

**Expected behavior**
Change user's role successfully

[2020-07-18 00:00] rayzhou2017 opened #2476 "Create batch users status issue"
When I create lots of users such as 1000 at a time, I found it takes a long time for the status of users changed from waiting to active. I guess it might be the algorithm problem at the backend.

<img width="1280" alt="Screen Shot 2020-07-18 at 7 55 45 AM" src="https://user-images.githubusercontent.com/28859385/87839257-9c563380-c8cc-11ea-88c6-b12eb112a722.png">

[2020-07-18 00:26] harrisonliu5 commented on #2432
/kind need-to-verify

[2020-07-18 00:37] rayzhou2017 commented on #2476
Also the real time cpu load seems a little high, my machine is 4c8g.

<img width="1011" alt="Screen Shot 2020-07-18 at 8 35 16 AM" src="https://user-images.githubusercontent.com/28859385/87840365-ec83c480-c8d1-11ea-8d36-cd76c85167af.png">

[2020-07-18 01:04] rayzhou2017 opened #2477 "user password shows in plain text"
It is not safe to show plain text of password.
<img width="448" alt="Screen Shot 2020-07-18 at 9 03 16 AM" src="https://user-images.githubusercontent.com/28859385/87841119-a3ce0a80-c8d5-11ea-971c-7f64a9f34fa5.png">

[2020-07-18 03:22] rayzhou2017 commented on #2476
CPU load around 2 seems reasonable. It is concurrent issue which we should test. Another issue I am concerned is the memory consumption. It is about 100k per user. Can we reduce it to about 10k per user?

[2020-07-18 03:47] harrisonliu5 commented on #2434
/kind need-to-verify

[2020-07-18 03:49] harrisonliu5 commented on #2434
has fixed in [#765](https://github.com/kubesphere/console/pull/765)

[2020-07-18 03:53] harrisonliu5 commented on #2450
[fix: Fix the query in the build mirror list has not taken effect](https://github.com/kubesphere/console/pull/765)

[2020-07-18 03:55] harrisonliu5 commented on #2450
/kind need-to-verify

[2020-07-18 04:01] wansir commented on #2477
Password will be encrypted if ks-controller-manager is running, cpu high load is due to the encryption algorithm.

[2020-07-18 04:03] harrisonliu5 commented on #2452
[GET] kapis/clusters/shire/resources.kubesphere.io/v1alpha2/namespaces/harry-project001/s2iruns?conditions=labels.devops.kubesphere.io%2Fbuilder-name%3D%232&paging=limit%3D10%2Cpage%3D1&orderBy=createTime&reverse=true

this API returns the wrong data

[2020-07-18 04:29] rayzhou2017 commented on #2477
You are right. It seems taking long time to get encrypted.
<img width="538" alt="Screen Shot 2020-07-18 at 12 28 31 PM" src="https://user-images.githubusercontent.com/28859385/87844691-45fbeb80-c8f2-11ea-9c7f-75364b1f842e.png">

[2020-07-18 04:32] rayzhou2017 commented on #2476
So the status from waiting to active is actually on encrypting, am I right?

[2020-07-18 05:38] wansir commented on #2476
You're right.

[2020-07-18 10:59] rayzhou2017 commented on #2476
The memory consumption seems less and less with the number of users increasing. I am not sure what logic behind it. Is it using something like LRU? Now it takes around 1.5G for 50,000 users. I think it is OK.

[2020-07-18 12:48] rayzhou2017 opened #2478 "memory request is zero"
**Describe the Bug**
The memory request on the node is zero which should be incorrect.
<img width="992" alt="Screen Shot 2020-07-18 at 8 46 49 PM" src="https://user-images.githubusercontent.com/28859385/87852827-efb19b80-c937-11ea-8bfc-a2233cb9b5d5.png">

**Versions Used**
KubeSphere: 3.0.0-dev
Kubernetes: 1.16.12

**Environment**
allinone

[2020-07-18 14:57] harrisonliu5 commented on #2472
the download link is right?

[GET] b2i_download/kapis/devops.kubesphere.io/v1alpha2/namespaces/harry-project001/s2ibinaries/b2i-war-java8-warpqfo/file/b2i-war-java8.war

[2020-07-18 15:09] harrisonliu5 commented on #2473
/kind need-to-verify

[2020-07-18 15:10] harrisonliu5 commented on #2471
/kind need-to-verify

[2020-07-18 15:10] harrisonliu5 commented on #2470
/kind need-to-verify

[2020-07-18 15:10] harrisonliu5 commented on #2469
/kind need-to-verify

[2020-07-18 15:11] harrisonliu5 commented on #2444
/kind need-to-verify

[2020-07-19 02:15] #2477 closed

[2020-07-19 02:16] #2476 closed

[2020-07-19 02:24] rayzhou2017 commented on #2430
Is this fixed or not?

[2020-07-19 02:30] rayzhou2017 commented on #2411
This place only show a short time event which is stored in memory by K8s. For history you need go to the tookbox to search event.

[2020-07-19 05:31] rayzhou2017 commented on #2399
This place holds short-time events. You need to search history of events from toolbox. So trigger an event and check if it is a valid bug by scaling replicas.

[2020-07-19 05:36] rayzhou2017 commented on #2377
You can drag and move the toolbox icon

[2020-07-19 05:39] rayzhou2017 commented on #2360
What is status of this issue, @shaowenchen ?

[2020-07-19 05:50] rayzhou2017 commented on #2304
Host is added automatically now. Please check the latest build.

[2020-07-19 08:19] shaowenchen commented on #2360
/kind need-to-verify

[2020-07-19 08:44] #2236 closed

[2020-07-19 08:46] rayzhou2017 commented on #2207
/cc @shaowenchen Check to see if it still exists in 3.0.0

[2020-07-19 08:47] rayzhou2017 commented on #2189
/cc @huanggze check to see if it exists in 3.0.0

[2020-07-19 08:57] shaowenchen commented on #2207
It doesn't show in 3.0.0 .

[2020-07-19 10:14] huanggze commented on #2189
k8s 1.17.3 introduced break changes in kube-apiserver metric naming. We cannot do much now in ks 2.1.1. We will fix this in ks 3.0

[2020-07-19 11:22] rayzhou2017 opened #2481 "self provisioner can't see the project menu"
**Describe the Bug**
`ws-self-provisioner` is the self provisioner of the workspace, but can't see the menu to provision a project.
<img width="1238" alt="Screen Shot 2020-07-19 at 7 19 06 PM" src="https://user-images.githubusercontent.com/28859385/87873564-35806980-c9f5-11ea-8ab7-eb7e241e3116.png">
<img width="1100" alt="Screen Shot 2020-07-19 at 7 20 37 PM" src="https://user-images.githubusercon

[2020-07-19 12:16] #2019 closed

[2020-07-19 12:44] wansir commented on #2481
@leoendless  I've deleted the wrong policy rules. https://github.com/kubesphere/kubesphere/issues/2397#issuecomment-657004707

[2020-07-19 15:29] zryfish commented on #2426
The selected placement strategy is working as expected. We use `prefer` not `required`, `prefer` is softer  constraint, means kube-scheduler will try its best to schedule these pods into one node, but not guarantee. You can refer https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity for more details

[2020-07-19 15:30] zryfish commented on #2426
/close
close issue as it's not a bug, but feel free to reopen if there are more questions

[2020-07-19 15:30] #2426 closed

[2020-07-19 15:31] zryfish commented on #2418
Yes, this could happen if service `ks-apiserver` in member cluster is down. Not a bug, error returned by kube-apiserver.

/close

[2020-07-19 15:31] #2418 closed

[2020-07-19 15:35] zryfish commented on #2417
Can't reproduce in the environment given, can you verify it again using latest image?

[2020-07-19 15:37] zryfish commented on #2411
Yeah, kube-apiserver only keeps the latest one-hour events by default.

[2020-07-19 15:39] zryfish commented on #2448
/kind need-to-verify

[2020-07-19 15:39] zryfish commented on #2407
/kind need-to-verify

[2020-07-19 15:41] zryfish commented on #2374
/close

[2020-07-19 15:41] #2374 closed

[2020-07-19 15:45] zryfish commented on #2459
Yeah, we are only providing limited features comparing to single cluster project, it's a lot of work to do, so we are planning to move these features to next release.

[2020-07-20 01:45] #2475 closed

[2020-07-20 01:50] harrisonliu5 commented on #2472
/assign @shaowenchen

[2020-07-20 01:51] harrisonliu5 commented on #2452
/assign @shaowenchen

[2020-07-20 01:52] shaowenchen opened #2483 "write user authority to devops"
**General remarks**

Write permissions to Jenkins.

About link https://github.com/kubesphere/kubesphere/pull/2392

**Versions Used**

KubeSphere: 3.0.0

/area iam
/assign @wansir

[2020-07-20 01:55] rayzhou2017 commented on #2424
verified

[2020-07-20 02:09] #2424 closed

[2020-07-20 02:09] huanggze commented on #1899
/remove-kind need-to-verify

![image](https://user-images.githubusercontent.com/22350668/87893004-27702e80-ca71-11ea-8352-3e7450ad9d7c.png)

[2020-07-20 02:32] wangtian-010 commented on #2330
verified pass.close this issue

[2020-07-20 02:32] #2330 closed

[2020-07-20 02:34] wangtian-010 commented on #2350
verified passed,close this issue
![image](https://user-images.githubusercontent.com/67785532/87894196-9d29c980-ca74-11ea-8f8b-39543d9f7c83.png)

[2020-07-20 02:34] #2350 closed

[2020-07-20 02:49] #2433 closed

[2020-07-20 02:49] wangtian-010 commented on #2380
Validation passed，close this issue
![image](https://user-images.githubusercontent.com/67785532/87894928-b5024d00-ca76-11ea-8c99-88eecbc1cc66.png)

[2020-07-20 02:49] #2380 closed

[2020-07-20 03:01] #2414 closed

[2020-07-20 03:03] #2409 closed

[2020-07-20 03:08] wangtian-010 commented on #2407
verification passed,close this issue

[2020-07-20 03:08] #2407 closed

[2020-07-20 03:17] liuyp2018 commented on #2304
/close

[2020-07-20 03:17] #2304 closed

[2020-07-20 03:18] rayzhou2017 commented on #1161
verified

[2020-07-20 03:18] #1161 closed

[2020-07-20 03:21] liuyp2018 commented on #2307
/close

[2020-07-20 03:21] #2307 closed

[2020-07-20 03:24] wangtian-010 commented on #2385
verification passed,close this issue
![image](https://user-images.githubusercontent.com/67785532/87896658-7c18a700-ca7b-11ea-9dc1-7eefe20cb0d3.png)

[2020-07-20 03:24] #2385 closed

[2020-07-20 03:25] liuyp2018 commented on #2335
/close

[2020-07-20 03:25] #2335 closed

[2020-07-20 03:36] liuyp2018 commented on #2323
/close

[2020-07-20 03:36] #2323 closed

[2020-07-20 03:37] jdhao opened #2484 "Add the ability to show monitoring stat in a specific time range by selecting the range using mouse?"
Currently, in the monitoring page, if we want to show the stat only in a specific time range, we have to manually specify the time range in the upper right menu.

![image](https://user-images.githubusercontent.com/16662357/87897238-542a4300-ca7d-11ea-81eb-880620263bad.png)

Can we use mouse to drag and select a range to show the stat only in that region? That would be very helpful.

[2020-07-20 03:39] liuyp2018 commented on #2308
/close

[2020-07-20 03:39] #2308 closed

[2020-07-20 03:42] liuyp2018 commented on #2317
/close

[2020-07-20 03:42] #2317 closed

[2020-07-20 03:59] wangtian-010 commented on #2398
verification passed ,close this issue

[2020-07-20 03:59] #2398 closed

[2020-07-20 04:02] liuyp2018 commented on #2282
/close

[2020-07-20 04:02] #2282 closed

[2020-07-20 04:44] rayzhou2017 commented on #2481
/cc @wansir @leoendless what is progress of this issue? It blocks testing.

[2020-07-20 05:13] wansir commented on #2481
Some API needs to be added to fit the federated project, we will fix it today.

[2020-07-20 05:15] liuyp2018 commented on #2339
/close

[2020-07-20 05:15] #2339 closed

[2020-07-20 05:17] liuyp2018 commented on #2220
/close

[2020-07-20 05:17] #2220 closed

[2020-07-20 05:18] liuyp2018 commented on #2421
/close

[2020-07-20 05:18] #2421 closed

[2020-07-20 05:20] liuyp2018 commented on #2467
/close

[2020-07-20 05:20] #2467 closed

[2020-07-20 05:22] liuyp2018 commented on #2437
/close

[2020-07-20 05:22] #2437 closed

[2020-07-20 05:26] wangtian-010 commented on #2400
verification passed,close this issue

[2020-07-20 05:26] #2400 closed

[2020-07-20 05:31] wangtian-010 commented on #2410
verification passed,close this issue

[2020-07-20 05:31] #2410 closed

[2020-07-20 05:34] liuyp2018 commented on #1958
/close

[2020-07-20 05:34] #1958 closed

[2020-07-20 05:36] liuyp2018 commented on #1959
/close

[2020-07-20 05:36] #1959 closed

[2020-07-20 05:40] liuyp2018 commented on #2382
/close

[2020-07-20 05:40] #2382 closed

[2020-07-20 05:40] liuyp2018 commented on #2406
/close

[2020-07-20 05:40] #2406 closed

[2020-07-20 05:44] wangtian-010 commented on #2428
verification passed,close this issue

![image](https://user-images.githubusercontent.com/67785532/87903677-2948ea80-ca8f-11ea-8192-a2e5d2a196d3.png)

[2020-07-20 05:44] #2428 closed

[2020-07-20 05:46] liuyp2018 commented on #2425
/close

[2020-07-20 05:46] #2425 closed

[2020-07-20 06:07] calvinyv opened #2485 "The data on the history panel should be filtered by user"
**Describe the Bug**
The data on the history panel should be filtered by user

**Versions Used**
KubeSphere: 3.0 alpha 1
Kubernetes: 1.18.5
Chrome

**How To Reproduce**
Steps to reproduce the behavior:
1. Login as non-admin user and go to 'toolbox' panel
2. Click on 'history'
3. You will see all history data of admin is shown

**Expected behavior**
The data on the history panel should be filtered

[2020-07-20 06:07] calvinyv commented on #2485
/kind bug
/assign @leoendless

[2020-07-20 06:10] liuyp2018 commented on #2444
/close

[2020-07-20 06:10] #2444 closed

[2020-07-20 06:11] liuyp2018 commented on #2454
/close

[2020-07-20 06:11] #2454 closed

[2020-07-20 06:12] liuyp2018 commented on #2450
close

[2020-07-20 06:12] #2450 closed

[2020-07-20 06:14] #2309 closed

[2020-07-20 06:33] calvinyv opened #2486 "Return to projects list after deleting a specific project"
**Describe the Bug**
Return to projects list after deleting a specific project

**Versions Used**
KubeSphere: 3.0 alpha 1
Kubernetes: (If KubeSphere installer used, you can skip this)

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Basic Info' of some project
2. Delete this project
3. the page will keep on this project basic info page

**Expected behavior**
Return to projects list

[2020-07-20 06:34] calvinyv commented on #2486
/kind feature-request
/area console
/assign @leoendless

[2020-07-20 06:42] liuyp2018 commented on #2434
/close

[2020-07-20 06:42] #2434 closed

[2020-07-20 06:43] liuyp2018 commented on #2473
/close

[2020-07-20 06:43] #2473 closed

[2020-07-20 06:43] liuyp2018 commented on #2471
/close

[2020-07-20 06:43] #2471 closed

[2020-07-20 06:44] liuyp2018 commented on #2470
/close

[2020-07-20 06:44] #2470 closed

[2020-07-20 06:46] liuyp2018 commented on #2468
/close

[2020-07-20 06:46] #2468 closed

[2020-07-20 06:50] liuyp2018 commented on #2432
/close

[2020-07-20 06:50] #2432 closed

[2020-07-20 06:53] #2345 closed

[2020-07-20 06:55] #2349 closed

[2020-07-20 06:55] #2422 closed

[2020-07-20 06:56] #2326 closed

[2020-07-20 07:12] liuyp2018 opened #2488 "In the project overview, the resource monitoring data is 0"
**Describe the Bug**
In the project overview, the resource monitoring data in the application resource and physical Resource diagram is 0

<img width="648" alt="监控" src="https://user-images.githubusercontent.com/36271543/87909607-2227d980-ca9b-11ea-8009-96fff921cff4.png">
<img width="685" alt="物理资源监控" src="https://user-images.githubusercontent.com/36271543/87909616-26ec8d80-ca9b-11ea-83c1-4769b177

[2020-07-20 07:30] zryfish commented on #2281
@liuyp2018 single cluster list, do you mean the project is still in host cluster ?

[2020-07-20 07:35] liuyp2018 opened #2489 "In the project overview, click Apply routing, the link page does not exist"
**Describe the Bug**
In the project overview, if you click Apply routing, the link page does not exist
<img width="878" alt="app router" src="https://user-images.githubusercontent.com/36271543/87911528-6072c800-ca9e-11ea-8c92-9f8debafe221.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7

[2020-07-20 07:37] liuyp2018 opened #2490 "The number of build images shown in the project overview is incorrect"
**Describe the Bug**
The number of build images shown in the project overview is incorrect
<img width="918" alt="build image" src="https://user-images.githubusercontent.com/36271543/87911831-d70fc580-ca9e-11ea-8512-7938ee6dbb99.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/

[2020-07-20 07:45] liuyp2018 opened #2491 "In the build mirror list, content customization lacks service options"
**Describe the Bug**
In the build mirror list, content customization lacks service options
<img width="904" alt="service" src="https://user-images.githubusercontent.com/36271543/87912311-bc8a1c00-ca9f-11ea-8327-df5b080dd6bb.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind

[2020-07-20 07:47] harrisonliu5 commented on #2490
/assign @harrisonliu5

[2020-07-20 07:47] harrisonliu5 commented on #2489
/assign @harrisonliu5

[2020-07-20 07:52] wangtian-010 commented on #2445
verification passed, limit to 256.close this issue
![image](https://user-images.githubusercontent.com/67785532/87912687-65d11200-caa0-11ea-99a4-3829c1caf44b.png)

[2020-07-20 07:52] #2445 closed

[2020-07-20 08:10] harrisonliu5 commented on #2490
![image](https://user-images.githubusercontent.com/17872673/87914619-7cc53380-caa3-11ea-9c8a-37771fe7de15.png)

[GET] kapis/clusters/shire/resources.kubesphere.io/v1alpha2/namespaces/harry-project001/quotas

return the wrong data

[2020-07-20 08:21] liuyp2018 opened #2492 "When uploading the binary, the files in all formats are displayed without filtering"
**Describe the Bug**
When uploading the binary, the files in all formats are displayed without filtering
<img width="719" alt="binary" src="https://user-images.githubusercontent.com/36271543/87915537-e265ef80-caa4-11ea-9211-9bc66b92081b.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8c

[2020-07-20 08:21] calvinyv opened #2493 "Hide event/logging/audit panel for user-manager users?"
**Describe the Bug**
Hide event/logging/audit panel for user-manager users?

**Versions Used**
KubeSphere: 3.0 alpha 1
Kubernetes: (If KubeSphere installer used, you can skip this)

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a user with the role  user-manager
2. login as this user
3. On toolbox panel, you could see event/logging/audit menu, but nothing is shown after clicking

[2020-07-20 08:21] calvinyv commented on #2493
/assign @wansir @leoendless @Carlosfengv

[2020-07-20 08:22] calvinyv commented on #2493
/area console
/kind design

[2020-07-20 08:24] rayzhou2017 opened #2494 "enable snapshot failed"
**Describe the Bug**
Using https://github.com/kubesphere/helm-charts/tree/master/src/test/csi-qingcloud#installing to install qingcloud csi, and can create a pvc. When I go to storage class and try to enable the snapshot capability. It failed.
<img width="1221" alt="Screen Shot 2020-07-20 at 4 21 12 PM" src="https://user-images.githubusercontent.com/28859385/87915848-3d97e200-caa5-11ea-9d2c-1a8715

[2020-07-20 08:25] leoendless commented on #2494
This function should be removed.

[2020-07-20 08:25] rayzhou2017 commented on #2494
< K8s 1.17 does not support snapshot, but the error msg needs to be nicer

[2020-07-20 08:26] rayzhou2017 commented on #2494
It is also OK. However, it must show if the csi supports snapshot.

[2020-07-20 08:29] leoendless commented on #2494
Yes, it's detected by backend service, and the property is display in the list.

[2020-07-20 08:29] wangtian-010 commented on #2463
verification passed,close this issue
![image](https://user-images.githubusercontent.com/67785532/87916548-2efdfa80-caa6-11ea-865c-00b372455473.png)

[2020-07-20 08:29] #2463 closed

[2020-07-20 08:31] wangtian-010 commented on #2461
verification passed,close this issue
![image](https://user-images.githubusercontent.com/67785532/87916731-6cfb1e80-caa6-11ea-96aa-3ca3d4c4717e.png)

[2020-07-20 08:31] #2461 closed

[2020-07-20 08:34] calvinyv opened #2495 "The unit of refresh rate miss the translation text on event query panel"
**Describe the Bug**
The unit of refresh rate miss the translation text on event query panel
**Versions Used**
KubeSphere: 3.0 alpha 1
Kubernetes: (If KubeSphere installer used, you can skip this)

<img width="1623" alt="Xnip2020-07-20_16-32-09" src="https://user-images.githubusercontent.com/28883416/87916982-cf541f00-caa6-11ea-9032-10c7d047cb35.png">

[2020-07-20 08:34] calvinyv commented on #2495
/kind bug
/area console
/assign @leoendless

[2020-07-20 08:40] #2489 closed

[2020-07-20 08:41] wangtian-010 commented on #2460
verification passed,close this issue
![image](https://user-images.githubusercontent.com/67785532/87917603-d16aad80-caa7-11ea-88cd-61ae3c51bfec.png)

[2020-07-20 08:41] #2460 closed

[2020-07-20 08:42] wangtian-010 commented on #2456
verification passed ,close this issue
![image](https://user-images.githubusercontent.com/67785532/87917770-0b3bb400-caa8-11ea-862e-f11c5481679f.png)

[2020-07-20 08:42] #2456 closed

[2020-07-20 08:47] calvinyv opened #2496 "no result returns by fuzzy event search with resource type"
**Describe the Bug**
no result returns by fuzzy event search with the resource type

**Versions Used**
KubeSphere: 3.0 alpha 1
Kubernetes: (If KubeSphere installer used, you can skip this)

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'toolbox', and open event search
2. change to fuzzy query and do a resource type query
3. Search 'Deploy' but nothing return

**Expected behavior**

[2020-07-20 08:48] calvinyv commented on #2496
/kind bug
/assign @junotx

[2020-07-20 09:09] 53537 opened #2497 "Master the migration"
Hello, is there a master migration scheme for K8S +Kubesphere? Is it recommended for migration

[2020-07-20 09:30] leoendless commented on #2492
The front end does not have a suitable method to identify binary files. Every file could be read as binary.

[2020-07-20 09:35] harrisonliu5 commented on #2492
the binary files do not require file filtering

[2020-07-20 09:43] rayzhou2017 commented on #2494
verified

[2020-07-20 09:43] #2494 closed

[2020-07-20 09:48] wangtian-010 commented on #2455
verification passed,close this issue

[2020-07-20 09:48] #2455 closed

[2020-07-20 09:54] #2491 closed

[2020-07-20 09:57] wangtian-010 commented on #2451
verification passed ,close this issue

[2020-07-20 09:57] #2451 closed

[2020-07-20 10:00] rayzhou2017 commented on #2478
verified

[2020-07-20 10:00] #2478 closed

[2020-07-20 10:01] wangtian-010 commented on #2448
verification passed,close this issue

[2020-07-20 10:01] #2448 closed

[2020-07-20 10:06] wangtian-010 opened #2499 "No alias and description display after muti-cluster project created"
Describe the Bug
No alias and description display after muti-cluster project created

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.C

[2020-07-20 10:13] shaowenchen commented on #2360
/close

[2020-07-20 10:13] #2360 closed

[2020-07-20 10:15] wangtian-010 commented on #2447
verification passed,close this issue

[2020-07-20 10:15] #2447 closed

[2020-07-20 10:17] wangtian-010 commented on #2443
verification passed,close this issue

[2020-07-20 10:17] #2443 closed

[2020-07-20 10:24] wangtian-010 opened #2500 "Traffic and tracing pages display blank under muti-cluster project"
Describe the Bug
Traffic and tracing pages display blank under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.Cli

[2020-07-20 10:33] wangtian-010 opened #2501 "No container display after Statful service created under muti-cluster project"
Describe the Bug
No container display after Statful service created under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project

[2020-07-20 10:40] liuyp2018 opened #2502 "Select binary to create service. Operation failed"
**Describe the Bug**
Select binary to create service. Operation failed
note:The binary artifact file is the sample file in KS2.1

<img width="588" alt="111" src="https://user-images.githubusercontent.com/36271543/87928920-329a7d00-cab8-11ea-9419-c09c5be20d14.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member

[2020-07-20 10:47] liuyp2018 opened #2503 "Blue-green deployment names over 253 characters are not checked"
**Describe the Bug**
Blue-green deployment names over 253 characters are not checked
<img width="729" alt="check" src="https://user-images.githubusercontent.com/36271543/87929657-59a57e80-cab9-11ea-9606-d89b6f912a97.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind bug
/ar

[2020-07-20 12:56] shaowenchen commented on #2502
S2ibulder Pod get the file using http://ks-apiserver.kubesphere-system.svc/kapis/devops.kubesphere.io/v1alpha2/namespaces/asd/s2ibinaries/b2i-war-java8-war0hg8/file/b2i-war-java8.war，but return 403.

need to discuss a solution @wansir

[2020-07-20 12:59] shaowenchen commented on #2502
![image](https://user-images.githubusercontent.com/43693241/87940288-f40ebd80-cacb-11ea-8b86-1af33e661ab9.png)

[2020-07-20 13:15] wangtian-010 opened #2504 "CPU and mem do not use the default value from 'Resource default request' under muti-cluster project"
Describe the Bug
CPU and mem do not use the default value from 'Resource default request' under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to

[2020-07-20 13:39] wansir commented on #2502
Need to add `Authorization Header` to S2ibulder, we plan to provide a token similar to serviceaccount for authentication.

[2020-07-20 13:41] calvinyv commented on #2496
confirm with @junotx, this is not supported now.

[2020-07-20 13:41] #2496 closed

[2020-07-20 13:53] calvinyv commented on #2246
verified

[2020-07-20 13:53] #2246 closed

[2020-07-21 01:09] calvinyv commented on #1995
back to K8s API to fetch real-time log output on the container logging page.

[2020-07-21 01:09] #1995 closed

[2020-07-21 01:43] wangtian-010 commented on #2442
verification passed,close this issue

[2020-07-21 01:43] #2442 closed

[2020-07-21 01:53] liuyp2018 opened #2506 "Query the completed status of the task, the query results are incorrect"
**Describe the Bug**
there exists tasks with completed status
Query the completed status of the task, the query result is empty
<img width="915" alt="task" src="https://user-images.githubusercontent.com/36271543/88003571-c4959a80-cb37-11ea-8ee0-d794e4e50ea1.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1

[2020-07-21 02:01] leoendless commented on #2506
Duplicate of #https://github.com/kubesphere/console/issues/555

[2020-07-21 02:01] #2506 closed

[2020-07-21 02:18] zryfish commented on #2338
In the latest build, configmap or secret can only mounted with ReadOnly,  can you check it again?

![截屏2020-07-21 10 17 53](https://user-images.githubusercontent.com/3326354/88005224-74b8d280-cb3b-11ea-8702-b92d571a632b.png)

[2020-07-21 02:19] calvinyv opened #2507 "title of the resource should be changed to 'resource name&type' on event and audit query panel"
**Describe the Bug**
tile of the resource should be changed to 'resource name&type' on event and audit query panel

**Versions Used**
KubeSphere: 3.0 alpha 1

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'toolbox'
2. Click on 'event search' or 'audit operation'
3. title of the resource should be changed to 'resource name&type' on event and audit query panel
资源 -> 资源名称和类型

<img wi

[2020-07-21 02:20] zryfish commented on #2306
Fixed it. Now you can delete a cluster even the cluster is disconnected from control plane.
/kind need-to-verify

[2020-07-21 02:20] calvinyv commented on #2507
/assign @leoendless
/area console

[2020-07-21 02:20] zryfish commented on #2300
/close

[2020-07-21 02:20] #2300 closed

[2020-07-21 02:22] zryfish commented on #2296
/kind need-to-verify

[2020-07-21 02:22] rayzhou2017 opened #2508 "resizing pvc is too slow"
**Describe the bug**
It is understandable that the resizing of pvc is slow, but the trigger to resize is too slow

**Versions used(KubeSphere/Kubernetes)**
KubeSphere: 3.0.0-dev
Kubernetes: 1.18.6

**Environment**
allinone with qingcloud csi installed

[2020-07-21 02:23] zryfish commented on #2278
Not supported right now. Maybe in next release

[2020-07-21 02:25] zryfish commented on #2033
/close
Refer to forum for more details, seems a solution been found

[2020-07-21 02:25] #2033 closed

[2020-07-21 02:26] zryfish commented on #2036
/close
due to inactivity

[2020-07-21 02:26] #2036 closed

[2020-07-21 02:28] zryfish commented on #2299
Can you check it again? Looks like you've provided kubeconfig with `lb.kubesphere.local` as its server, which is probably unresolvable inside container

[2020-07-21 02:38] zryfish commented on #2347
Only happens on member cluster under multiple cluster setup, it related to kube-apiserver proxy. We use kube-apiserver proxy requests to member cluster ks-apiserver, but it loses query parameters when proxying terminal APIs, the rest APIs are ok, interesting.

[2020-07-21 03:08] leoendless commented on #2507
@benjaminhuo Could you help to check this problem?

[2020-07-21 03:14] benjaminhuo commented on #2507
@leoendless we've discussed this in slack, and pls move on to change accordingly for both event and audit search.
Thanks
Ben

[2020-07-21 03:52] huanggze commented on #2189
/kind need-to-verify

[2020-07-21 04:00] wangtian-010 opened #2509 "It is recommended to prompt when there are associated resources under muti-cluster project"
Describe the Bug
It is recommended to prompt when there are associated resources under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cl

[2020-07-21 04:47] rayzhou2017 commented on #2281
/cc @liuyp2018

[2020-07-21 04:49] rayzhou2017 commented on #1492
/cc @pixiake can you fix ks-installer timezone issue, then tell others to follow the guide?

[2020-07-21 04:50] rayzhou2017 commented on #2171
@wanjunlei can you help check if it still exists in 3.0.0?

[2020-07-21 04:51] rayzhou2017 commented on #2255
It should be fixed in latest build

[2020-07-21 04:56] liuyp2018 commented on #2281
After the multi-cluster project is deleted, see that the project exists in the single cluster list
<img width="788" alt="multi-project" src="https://user-images.githubusercontent.com/36271543/88014500-a6d52f00-cb51-11ea-8ba0-ffaa5d8ad3f9.png">

[2020-07-21 05:16] pixiake commented on #1492
The host‘s `/etc/localtime` can be mounted to the pod，when the workload‘s  manifests are generated.

https://github.com/kubesphere/ks-installer/blob/e552bfbe5e45c29c256e6315110426ced8ad0f9b/deploy/kubesphere-installer.yaml#L233

[2020-07-21 05:18] rayzhou2017 commented on #1492
Does that require root?

[2020-07-21 05:30] wangtian-010 opened #2510 "It is recommended not to display quota information such as tasks under muti-cluster project"
Describe the Bug

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.Click 'muticlustor-project' and then click 'quota management' under '

[2020-07-21 05:40] liuyp2018 opened #2511 "the createtime of CronJob is incorrect"
**Describe the Bug**
the createtime of CronJob is incorrect, It will update over time
<img width="895" alt="createtime" src="https://user-images.githubusercontent.com/36271543/88017093-7ee8ca00-cb57-11ea-915d-1bbf28cf0cea.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind b

[2020-07-21 05:51] junotx commented on #2399
Events of muti-cluster loads are not currently supported for presentation and will be added later
/assign @leoendless

[2020-07-21 05:58] pixiake commented on #1492
I tested it in ks-apiserver, It shouldn't be required.
![图片](https://user-images.githubusercontent.com/22290449/88018224-dbe57f80-cb59-11ea-85d3-79b72d210076.png)

[2020-07-21 05:59] wangtian-010 opened #2512 "Only one cluster's the probe info full displays under muti-cluster project"
Describe the Bug
Only one cluster's the probe info  full displays  under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project'

[2020-07-21 06:04] liuyp2018 opened #2513 "tasks with suspended state cannot be queried through the suspended state"
**Describe the Bug**
tasks with suspended state cannot be queried through the suspended state

<img width="805" alt="suspend task" src="https://user-images.githubusercontent.com/36271543/88018750-ebb19380-cb5a-11ea-9fb3-dd0f3f9a4a0e.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/1

[2020-07-21 06:06] wangtian-010 opened #2514 "FailedScheduling happened under muti-cluster project"
Describe the Bug
FailedScheduling happened under muti-cluster project
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management' and switch to 'multi-cluster project' tab
4.Click 'muticlusto

[2020-07-21 06:16] huanggze commented on #2488
There may be a deplay. Plz wait for a minute if you just deploy a workload.

/kind need-to-verify

[2020-07-21 06:18] rayzhou2017 commented on #2514
The err msg says cpu is insufficient. Increase cpu to check if the probelme stil exists

[2020-07-21 06:26] rayzhou2017 commented on #2483
what is this issue for in details?

[2020-07-21 06:39] liuyp2018 opened #2515 "Status of task is not automatically updated in the task detail page"
**Describe the Bug**
in the task detail page, click rerun button
the status of the rerun task is always running, even though the state is actually complete
After a manual refresh, the state changes
<img width="793" alt="status" src="https://user-images.githubusercontent.com/36271543/88021348-e73ba980-cb5f-11ea-8663-757579813f3a.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
mem

[2020-07-21 06:39] Forest-L commented on #2497
Migration is not recommended, but backup and restoration can be done. Based on Velero technology, we have validated the K8s+KubeSphere backup and restore scheme.

[2020-07-21 06:42] Forest-L commented on #2497
If you are interested or have a need, discuss it separately.

[2020-07-21 06:43] rayzhou2017 commented on #1492
/cc @wanjunlei can you help fix this issue?

[2020-07-21 06:47] leoendless commented on #2515
Need to refresh manually.

[2020-07-21 06:48] rayzhou2017 opened #2516 "KS dockers time zone"
**Describe the Bug**
The time zone of images are incorrect which affects the timestamp of logs, causing debug problem. Please follow https://github.com/kubesphere/ks-installer/blob/e552bfbe5e45c29c256e6315110426ced8ad0f9b/deploy/kubesphere-installer.yaml#L233 to fix them including ks-apiserver, ks-controller-manager, ks-console and etc. Currently installer is already fixed as shown below.
![Screen

[2020-07-21 06:51] 53537 commented on #2497
I have seen the scheme of Velero on the forum. I think it is not a better plan. Is there any other scheme, such as installing master and then initializing it

[2020-07-21 07:02] wangtian-010 commented on #2514
This is not cpu's reason, however it was fixed,now I can not recurrence,close it

[2020-07-21 07:02] #2514 closed

[2020-07-21 07:02] rayzhou2017 commented on #2296
Are you sure the PR is for this issue?

[2020-07-21 07:07] #2507 closed

[2020-07-21 07:09] calvinyv commented on #2495
verified

[2020-07-21 07:09] #2495 closed

[2020-07-21 07:10] Forest-L commented on #2497
Such as installing master and then initializing it？ Can you describe it more clearly.

[2020-07-21 07:11] calvinyv commented on #2485
verified

[2020-07-21 07:11] #2485 closed

[2020-07-21 07:12] #1543 closed

[2020-07-21 07:12] 53537 commented on #2497
For example, install a new master node, then initialize it and join the cluster

[2020-07-21 07:12] #1163 closed

[2020-07-21 07:12] #2486 closed

[2020-07-21 07:26] Forest-L commented on #2497
This is also possible now, but notice the number of Etcds and the lb associated with them.

[2020-07-21 07:32] wangtian-010 commented on #2377
can drag and move the toolbox icon，close this issue

[2020-07-21 07:32] #2377 closed

[2020-07-21 07:55] liuyp2018 opened #2518 "Incorrect message in the edit rule page for applying routing"
**Describe the Bug**
External network access has been enabled. In the edit rule page of application routing, it is still prompted to enable external network access
<img width="783" alt="router" src="https://user-images.githubusercontent.com/36271543/88027863-73eb6500-cb6a-11ea-8b5b-ae84844d446b.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host

[2020-07-21 08:04] liuyp2018 opened #2519 "the edit rules page for applying routing, the services drop-down box does not show existing services"
**Describe the Bug**
In the edit rules page for applying routing, the services drop-down box does not show existing services

<img width="731" alt="router1" src="https://user-images.githubusercontent.com/36271543/88028309-0ee43f00-cb6b-11ea-886e-eb0d8ef141a0.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member

[2020-07-21 08:05] shaowenchen commented on #2472
In a multi-cluster environment, cluster parameters need to be added to download URL.

[2020-07-21 08:52] zryfish commented on #2435
Can you be more specific? It's great if there are step-to-step procedures to help us reproduce this problem. From what I stand now, hard to figure what this problem is?

[2020-07-21 09:03] liuyp2018 opened #2520 "Application routing list, set application field query, query results are incorrect"
**Describe the Bug**
Application routing list, set application field query, query results are incorrect
<img width="854" alt="query" src="https://user-images.githubusercontent.com/36271543/88034982-0fcd9e80-cb74-11ea-9f2e-8e0dcae86805.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu

[2020-07-21 09:12] liuyp2018 opened #2521 "After deleting all the data on the second page of the app routing, the list shows 0 data"
**Describe the Bug**
Go to page 2 of the application routing list and delete all data on page 2
problem: The first page data is not shown
<img width="951" alt="delete" src="https://user-images.githubusercontent.com/36271543/88035613-00028a00-cb75-11ea-8985-e3e01984c57a.png">

<img width="790" alt="delete1" src="https://user-images.githubusercontent.com/36271543/88035617-03961100-cb75-11ea-808a-93d

[2020-07-21 09:51] #2472 closed

[2020-07-21 10:02] liuyp2018 opened #2522 "the blue-green deployment creation page, alias and description information are not displayed after creation"
**Describe the Bug**
the blue-green deployment creation page, the alias and description information are not displayed after creation
<img width="764" alt="blue green create" src="https://user-images.githubusercontent.com/36271543/88040989-50c9b100-cb7c-11ea-9d1f-1a41260640e9.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.0

[2020-07-21 10:09] liuyp2018 opened #2523 "When creating blue-green deployment, cannot successfully enter the add container image page"
**Describe the Bug**
When creating a blue-green deployment,  cannot successfully enter the add container image page

<img width="915" alt="add container images" src="https://user-images.githubusercontent.com/36271543/88041687-570c5d00-cb7d-11ea-923c-243b5bac06c5.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
me

[2020-07-21 10:15] liuyp2018 commented on #2523
Similar question
<img width="857" alt="edit" src="https://user-images.githubusercontent.com/36271543/88042181-18c36d80-cb7e-11ea-97c0-f3aec466d429.png">

[2020-07-21 10:20] rayzhou2017 opened #2524 "ws manager failed to enter project"
**Describe the Bug**
A user with workspace manager role goes into a project of a workspace and got error msg.
![Screen Shot 2020-07-21 at 6 11 23 PM](https://user-images.githubusercontent.com/28859385/88042591-c171cd00-cb7e-11ea-87c2-b4cd84858ff7.png)

**Versions Used**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15.12

**Environment**
allinone

**Expected behavior**
Be able to open project page successfu

[2020-07-21 10:35] liuyp2018 opened #2525 "In blue-green deployment, the edit component reports an error"
**Describe the Bug**
In blue-green deployment, the edit component reports an error
<img width="886" alt="blue green" src="https://user-images.githubusercontent.com/36271543/88045169-ef581100-cb80-11ea-819c-584399da89e4.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind bug

[2020-07-21 12:41] zryfish commented on #2347
We are heavily using kubernetes components UpgradeAwareHandler, but there is bug in it, it failed to carry query parameters when proxying a `Upgrade` request. Submit a PR to kubernetes, https://github.com/kubernetes/kubernetes/pull/93290. It's unlikely it get merged before our release,  so still need another solution.

[2020-07-21 13:50] calvinyv commented on #2196
verified

[2020-07-21 13:50] #2196 closed

[2020-07-22 02:10] huanggze opened #2528 "Got error when searching events"
I have no event today, no es index generated. so here should be zero, but got error.

![image](https://user-images.githubusercontent.com/22350668/88126136-76e66400-cc03-11ea-8dc9-10696fd09fa7.png)

![image](https://user-images.githubusercontent.com/22350668/88126396-f6743300-cc03-11ea-8dae-effc7081d1d9.png)

[2020-07-22 02:10] huanggze commented on #2528
/assign @junotx
/kind bug
/milestone 3.0.0

[2020-07-22 02:35] leoendless commented on #2504
@zryfish The federated limitrange didn't work.

[2020-07-22 03:08] wanjunlei commented on #1492
The cronjob is created by console, it needed console to add host‘s /etc/localtime to the cronjob pod.

[2020-07-22 03:26] wanjunlei commented on #2171
@leoendless Dose the console image has updated? This bug is also exists in the latest version.

[2020-07-22 04:46] Warden-Thresh commented on #2435
Deploy any application in app store will case this error，I installed the latest kubesphere 3.0，without any other config changes,I only use this function successful in 2.1.

[2020-07-22 04:51] rayzhou2017 commented on #1492
/cc @leoendless Please fix ks-console local time zone issue. Refer https://github.com/kubesphere/kubesphere/issues/2516

[2020-07-22 05:08] wangtian-010 opened #2529 "Error in edit permission in project role of one-cluster project under muti-cluster-ws"
Describe the Bug
Error in edit permission in project role of one-cluster project under muti-cluster-ws
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management'
4.Click 'one-cluster-project

[2020-07-22 05:12] wangtian-010 opened #2530 "Alias and description didn't update after changed for project role in one-cluster project under muti-cluster-ws"
Describe the Bug
Alias and description didn't update  after changed for project role in one-cluster project under muti-cluster-ws
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management'
4

[2020-07-22 05:19] wangtian-010 opened #2531 "Recently login status is incorrect under access control"
Describe the Bug
Recently login status is incorrect under access control

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'Account management'
3.Recently login status is incorrect
![image](https://user-images.githubusercontent.com/677855

[2020-07-22 06:01] rayzhou2017 commented on #2524
verified

[2020-07-22 06:01] #2524 closed

[2020-07-22 06:03] calvinyv commented on #2405
verified

[2020-07-22 06:03] #2405 closed

[2020-07-22 06:42] wanjunlei commented on #2171
verified

[2020-07-22 07:20] wangtian-010 opened #2534 "user with role that no any permission can operate resource in one cluster project under muti-clustor namespace"
Describe the Bug
user with role that no any permission can operate resource in one cluster project under muti-clustor namespace
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management'
4.C

[2020-07-22 07:40] wangtian-010 opened #2535 "stor volume/Alarm strategy permission is incorrect in one cluster project under muti-clustor namespace"
Describe the Bug
stor volume/Alarm strategy permission is incorrect in one cluster project under muti-clustor namespace
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'project management'
4.Click 'on

[2020-07-22 07:49] wangtian-010 opened #2536 "Lack of configuration, custom monitoring, grayscale publishing and build image permission settings in one cluster project under muti-clustor namespace"
Describe the Bug
Lack of configuration, custom monitoring, grayscale publishing and build image permission settings in one cluster project under muti-clustor namespace
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' na

[2020-07-22 08:05] zackzhangkai opened #2537 "when enable log on disk , cannot see the logsidecar"
![image](https://user-images.githubusercontent.com/20178386/88150663-436ffd80-cc34-11ea-9efc-ccc8cf76f1ac.png)

![image](https://user-images.githubusercontent.com/20178386/88151062-c8f3ad80-cc34-11ea-8085-36b86c0feb5b.png)

already enable log sidecar, but cannot see the sidcar in  deploy

/kind bug
/area multicluster

[2020-07-22 08:32] zheng1 commented on #2435
I tried it, but this issue cannot be reproduced. Maybe we have fixed it in the latest version.
You can delete the cluster by `kk delete cluster` and execute `docker image prune -a -f` to clean up the docker image cache, and then reinstall the latest version.

[2020-07-22 08:38] #2452 closed

[2020-07-22 08:41] calvinyv opened #2538 "Wrong alert msg location when inputting duplicated project name"
**Describe the Bug**
Wrong alert msg location when inputting duplicated project name

**Versions Used**
KubeSphere: 3.0 alpha 1

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a project named test01, put it under clusterA
2. Go to create another project, still named as 'test01'
3. When selecting clusterA, the page will tell the user this project name is duplicated, but this msg is

[2020-07-22 08:41] calvinyv commented on #2538
/area console
/kind bug
/assign @leoendless

[2020-07-22 08:45] calvinyv opened #2539 "Fail to list more than 10 federated project"
**Describe the Bug**
Fail to list more than 10 federated project

**Versions Used**
KubeSphere: 3.0 alpha 1

**How To Reproduce**
Steps to reproduce the behavior:
1. Create more than 10 federated project
2. Go to project list page, it only shows one page with 10 project

**Expected behavior**
there should be page 2 existed.

<img width="1396" alt="Xnip2020-07-22_16-44-22" src="https://user-images.

[2020-07-22 08:46] calvinyv commented on #2539
/area console
/kind bug
/assign @leoendless

[2020-07-22 09:11] leoendless commented on #2512
You need to enable the `StartupProbe` in the second cluster.

https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/.

[2020-07-22 09:43] wangtian-010 opened #2540 "Non project members can manipulate projects in one cluster project under muti-clustor namespace"
Describe the Bug
Non project members can manipulate projects in one cluster project under muti-clustor namespace
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Login with non project members
2.Go to 'Access control' from 'platform management' of home page
3.Click on 'multi-cluster-ws' namespace
4.Click 'proje

[2020-07-22 09:54] rayzhou2017 commented on #2540
This is access management issue. assign to @wansir

[2020-07-22 10:28] benjaminhuo commented on #2537
@junotx pls help to take a look at this issue.
Looks like it's a usage problem

[2020-07-22 11:21] junotx commented on #2537
It was a usage problem. @zackzhangkai if there is no problem, you can close this issue

[2020-07-22 11:32] rayzhou2017 commented on #2296
verified

[2020-07-22 11:32] #2296 closed

[2020-07-22 11:54] benjaminhuo commented on #2537
@junotx would you tell @zackzhangkai how to setup logging sidecar?

[2020-07-22 11:59] #2462 closed

[2020-07-22 12:04] zryfish commented on #2331
Fixed in https://github.com/kubesphere/console/pull/855
/kind need-to-verify

[2020-07-22 12:08] rayzhou2017 commented on #2531
duplicate https://github.com/kubesphere/console/issues/495

[2020-07-22 12:09] #2531 closed

[2020-07-22 12:09] zryfish commented on #2528
/priority high

[2020-07-22 12:12] zryfish commented on #2497
/close

[2020-07-22 12:12] #2497 closed

[2020-07-22 12:14] rayzhou2017 commented on #2474
duplicate https://github.com/kubesphere/kubesphere/issues/1077

[2020-07-22 12:14] #2474 closed

[2020-07-22 12:15] #833 closed

[2020-07-22 12:16] #1040 closed

[2020-07-22 12:16] zryfish commented on #2399
/kind need-to-verify

[2020-07-22 12:20] zryfish commented on #2310
Upgraded to v1.15.3 in kubesphere/kubectl:v1.0.0

[2020-07-22 12:21] zryfish commented on #2294
/close

[2020-07-22 12:21] #2294 closed

[2020-07-22 12:24] zryfish commented on #2158
That's not cost-effective, count instances of every crd is very time consuming, by the way you can check the total items inside one CRD template.

[2020-07-22 12:25] zryfish commented on #2034
/close

[2020-07-22 12:25] #2034 closed

[2020-07-22 12:38] rayzhou2017 commented on #1387
Do we localize this alerting?

[2020-07-22 12:46] junotx commented on #2537
@zackzhangkai you can refer [logs-on-disk part in kubesphere doc](https://kubesphere.com.cn/docs/zh-CN/workload/logs-on-disk/) to configure log sidecar on console ui. If you switch to yaml edit mode, you can find help from [kubesphere/logsidecar-injector doc](https://github.com/kubesphere/logsidecar-injector).  At afternoon you have resolved the problem based on the documentation and configuration

[2020-07-22 13:16] wansir commented on #2529
Before saving, the object has been modified, conflict is expected. It should not be an internal server error. I will change the status code.

[2020-07-22 13:21] wansir commented on #2535
It's as expected, wangtian's platform role is `workspaces-manager`.

[2020-07-22 13:25] wansir commented on #2540
same as https://github.com/kubesphere/kubesphere/issues/2535

[2020-07-22 14:11] zryfish commented on #2520
/kind need-to-verify

[2020-07-22 14:11] zryfish commented on #2511
/reopen
/kind need-to-verify

[2020-07-22 15:08] zackzhangkai commented on #2306
when delete a cluster which is disconnected, an error occured also, even though update the ks-console/ks-apiserver/ks-controller-manager mirrors to the newest.

![image](https://user-images.githubusercontent.com/20178386/88192916-a7fc7e00-cc6f-11ea-88ad-d3a3fa4a1d06.png)

Below is the host, you can use it to verify again.
http://103.61.37.76:30880/login

[2020-07-22 19:00] wansir commented on #2534
`workspaces-manager` is able to manage the project. But the project viewer authorization list should not be empty.
/assign @leoendless

[2020-07-23 00:59] #2528 closed

[2020-07-23 01:00] #2529 closed

[2020-07-23 01:30] wangtian-010 commented on #2540
try again, it works as design ,close this issue

[2020-07-23 01:30] #2540 closed

[2020-07-23 01:41] wangtian-010 commented on #2535
Now it works as expected,close this issue

[2020-07-23 01:52] benjaminhuo commented on #1375
This is an app management issue, should be assigned to @zheng1 team?

[2020-07-23 01:52] wangtian-010 commented on #2535
why application workload can not operate,only stor volume/Alarm strategy can edit?

[2020-07-23 01:54] benjaminhuo commented on #1409
/assign @junotx
@junotx pls take a look at this issue

[2020-07-23 02:00] Ma-Dan commented on #1387
Alerting email templates contains Chinese and English, and language is specified by ks console language on alert creation  language, and api for modifying language is also provided.
https://github.com/kubesphere/alert/commit/a733b20bb37a072fe8cedc6eff6c8ea0df2ac378
Current version only specify alert language once on creation, that means if we switch console language and create alerts on different

[2020-07-23 02:13] rayzhou2017 commented on #2481
verified

[2020-07-23 02:13] #2481 closed

[2020-07-23 02:19] huanggze commented on #1409
I don't think this is a big issue. Basically, no body will set the threshold to <100%.

[2020-07-23 02:21] wansir commented on #2535
/assign @leoendless
![image](https://user-images.githubusercontent.com/8263040/88246624-95189680-cccd-11ea-905e-24c873bceb77.png)

[2020-07-23 02:22] benjaminhuo commented on #1409
agree , usually it should be > xxx% .
We can fix this if there is no other work items to do

[2020-07-23 02:27] liuyp2018 opened #2545 "Blue and green deployment, set nonexistent version number, no check control"
**Describe the Bug**
Blue and green deployment, set nonexistent version number, no check control, resulting in an error after creation
<img width="778" alt="11" src="https://user-images.githubusercontent.com/36271543/88246760-14a66580-ccce-11ea-9b51-ab2f292e8d9a.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
me

[2020-07-23 02:29] rayzhou2017 commented on #2397
verified

[2020-07-23 02:29] #2397 closed

[2020-07-23 02:32] liuyp2018 opened #2546 "Inconsistency between version number length control and prompts"
**Describe the Bug**
Inconsistency between version number length control and prompts
<img width="568" alt="1" src="https://user-images.githubusercontent.com/36271543/88247266-b67a8200-cccf-11ea-82e2-8f5dc5e5e6b4.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.18.5
member1-v1.17.8

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind bug
/area c

[2020-07-23 02:33] rayzhou2017 opened #2547 "custom project role no permission error"
**Describe the Bug**
Customize a project role without project setting access as below. Loggin using the user and throws error
![Screen Shot 2020-07-23 at 10 31 33 AM](https://user-images.githubusercontent.com/28859385/88247296-d4e07d80-cccf-11ea-986b-0a635b95b94d.png)
![Screen Shot 2020-07-23 at 10 29 29 AM](https://user-images.githubusercontent.com/28859385/88247305-da3dc800-cccf-11ea-92c5-891edf

[2020-07-23 02:38] rayzhou2017 opened #2548 "Project number is incorrect"
**Describe the Bug**
A user with custom project role is invited into only one project. But it shows the total number of the workspace in the overview page.
![Screen Shot 2020-07-23 at 10 35 15 AM](https://user-images.githubusercontent.com/28859385/88247480-6cde6700-ccd0-11ea-9f37-fa696530569b.png)
![Screen Shot 2020-07-23 at 10 35 23 AM](https://user-images.githubusercontent.com/28859385/88247486-

[2020-07-23 02:47] leoendless commented on #2548
@huanggze Please fixed the api.

[2020-07-23 03:26] rayzhou2017 commented on #2261
verified

[2020-07-23 03:26] #2261 closed

[2020-07-23 03:50] rayzhou2017 opened #2549 "self-provisioner can't create fed project"
**Describe the Bug**
Self provisioner is denied to create a multi-cluster project
![Screen Shot 2020-07-23 at 11 46 53 AM](https://user-images.githubusercontent.com/28859385/88250471-49b8b500-ccda-11ea-921e-2be885cf88bc.png)

**Versions Used**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15.12(host), 1.18.6(member)

**Environment**
allinone, multi-cluster

**Expected behavior**
Be able to create fed projec

[2020-07-23 05:07] 53537 commented on #2387
Hello, after adding the new node, I found that the disk IO of the new node is very sensitive. The pod disk with high pressure can even be written up to 300M/s. However,The POD itself does not need to write to disk, and the DISK IO is normal when POD runs on the old node.Please help me if there is any other configuration operation needed for the new node. Thank you

[2020-07-23 06:20] rayzhou2017 commented on #2387
Did you check the root cause. It is unlikely the addition causing the problem.

[2020-07-23 06:22] duanjiong opened #2550 "should we allow ingress traffic from the kubesphere-monitoring-system default"
By default we only allow traffic from the same workspace or project, but if user enable custom monitoring, then p8s will not be able to access the monitored data, should we allow it by default or let user add it by themselves?

I think not everyone will use custom monitoring, should let users add their own rules

[2020-07-23 06:22] duanjiong commented on #2550
/cc @zheng1  @benjaminhuo  @jeff

[2020-07-23 06:25] duanjiong opened #2551 "The system-workspace network isolate should be hidden."
workspace and projects in it.

Avoid user misuse

[2020-07-23 06:25] duanjiong commented on #2551
/cc @zheng1   @leoendless

[2020-07-23 06:34] benjaminhuo commented on #2550
kubesphere-monitoring-system is our own ns, it should be allowed to access other ns by default for custom monitoring.
Adding a manual step is a bit inconvenient for users because there already are some manual steps to do custom monitoring.
@huanggze

[2020-07-23 06:44] 53537 commented on #2387
I checked other processes in the system, but found no system processes occupying IO. The way to found is when the POD pressure is slightly higher

[2020-07-23 06:45] calvinyv opened #2552 "Empty page when setting devops access policy of custom workspace role"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Empty page when setting devops access policy of custom workspace role

**Versions Used**
KubeSphere: 3.0 alpha 1

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'workspaces setting' - 'workspaces roles', create a new custom role
2. Click on '

[2020-07-23 06:45] calvinyv commented on #2552
/assign @leoendless @wansir
/kind bug
/area iam

[2020-07-23 06:48] zryfish commented on #1919
/close

[2020-07-23 06:48] #1919 closed

[2020-07-23 06:52] zryfish commented on #2375
/kind need-to-verify
/assign
/unassign @wansir

[2020-07-23 06:52] zryfish commented on #2516
/unassign @wansir

[2020-07-23 06:55] zryfish commented on #1926
/unassign @wansir
/cc @huanggze
Is this issue still existing in latest build?

[2020-07-23 06:56] zryfish commented on #1592
/cose
due to not a bug

[2020-07-23 06:58] zryfish commented on #1536
/milestone BackLog
/unassign @wansir @justahole
/assign

[2020-07-23 07:08] calvinyv opened #2553 "duplicated workspace role alert msg should be displayed before saving role"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
duplicated workspace role alert msg should be displayed before saving role

**Versions Used**
KubeSphere: 3.0 alpha 1

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Workspace settings' - 'Workspace roles'
2. Create a new role which identifi

[2020-07-23 07:08] calvinyv commented on #2553
/area console
/kind bug
/assign @leoendless

[2020-07-23 07:19] wangtian-010 opened #2554 "no prompt message when port is incorrect in one cluster project under muti-clustor namespace"
Describe the Bug
no prompt message when port is incorrect in one cluster project under muti-clustor namespace
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Login with non-member of project
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'projec

[2020-07-23 07:20] rayzhou2017 opened #2555 "Fed project admin is not allowed to view pods"
**Describe the Bug**
`ray` created the multi-cluster project and deployed a deployment, when click into the pods page either from services or from workloads, got error.
![Screen Shot 2020-07-23 at 3 15 32 PM](https://user-images.githubusercontent.com/28859385/88260841-c4dc9400-ccf7-11ea-82ee-21a208072270.png)

**Versions Used**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15.12(host), 1.18.6(member)

**Env

[2020-07-23 07:21] calvinyv opened #2556 "Fail to edit custom workspace role with a javascript error"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Fail to edit custom workspace role with a javascript error

**Versions Used**
KubeSphere: KubeSphere 3.0 alpha 1

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a custom role with no access granted
2. Re-edit this role, add 'Project View' ac

[2020-07-23 07:21] calvinyv commented on #2556
/kind bug
/area console
/assign @leoendless

[2020-07-23 07:23] rayzhou2017 commented on #2549
verified

[2020-07-23 07:23] #2549 closed

[2020-07-23 07:29] rayzhou2017 opened #2557 "self-provisioner got error msg when enter fed project"
**Describe the Bug**
A self provisioner goes into the fed project created by him/her, got error msg. I checked, there are two pages having problem, overview and quota management under project setting.
![Screen Shot 2020-07-23 at 3 25 40 PM](https://user-images.githubusercontent.com/28859385/88261497-0588dd00-ccf9-11ea-834a-87e4eae62b1b.png)

**Versions Used**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15

[2020-07-23 07:30] calvinyv opened #2558 "User with only 'Project View' access could configure network isolation"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
User with only 'Project View' access could configure network policy

**Versions Used**
KubeSphere: 3.0 Alpha 1

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a workspace custom role with only 'Project view' role
2. Assign a user to this rol

[2020-07-23 07:31] calvinyv commented on #2558
/kind bug
/area iam
/assign @leoendless @wansir @duanjiong

[2020-07-23 07:39] benjaminhuo commented on #2516
@wanjunlei would you help to fix timezone issue for ks-apiserver, ks-controller-manager.
@zryfish is there any other backend component left?

[2020-07-23 07:40] benjaminhuo commented on #2557
@huanggze would you help hongming to fix this security & role issue ?

[2020-07-23 07:46] calvinyv opened #2559 "Wrong navigation link name of 'workspace members'"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Wrong navigation link name of 'workspace members'

**Versions Used**
KubeSphere: 3.0 Alpha 1

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to member list page under some workspace
2. Click on some member to its detail page
3. Wrong navigation

[2020-07-23 07:47] calvinyv commented on #2559
/kind bug
/area console
/assign @leoendless @Sherlock113

[2020-07-23 07:51] rayzhou2017 commented on #2516
ks-apiserver, ks-console are already fixed. ks-controller-manager must use root right now to access storage.

[2020-07-23 07:58] WaysonWei opened #2560 "Some Description is not showing completely including language"
"Automatically created by kubesphere, we encourage you to use host cluster for ..."

This notice should automatic wrap into lines, not able to read it completely.Also, missing the chinese version as well.

![Screen Shot 2020-07-23 at 7 51 21 PM](https://user-images.githubusercontent.com/54336863/88263662-80b0ba00-cd1e-11ea-8df7-472c23cacdc1.png)
![Screen Shot 2020-07-23 at 7 51 07 PM](https://user

[2020-07-23 08:00] rayzhou2017 commented on #2516
Sorry, I made a mistake with the root issue. For timezone issue, ks-installer may be the only one fixed.

[2020-07-23 08:01] zryfish commented on #2560
Yeah, that's self crated host cluster by KubeSphere itself, it's cluster description, user can change it by themselves.

[2020-07-23 08:04] #2560 closed

[2020-07-23 08:15] #2255 closed

[2020-07-23 08:30] #2559 closed

[2020-07-23 08:49] wanjunlei commented on #2516
It had fixed in pr kubesphere/ks-installer#915

[2020-07-23 09:15] huanggze commented on #2548
Permission to workspace overvew should be well handled.

[2020-07-23 09:15] calvinyv opened #2561 "Always 'Not logged in yet' even for a login user"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Always 'Not logged in yet' even for a login user

**Versions Used**
KubeSphere: 3.0 alpha 1

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a user and use it to log in
2. Login as admin and go to account list
3. See 'Not logged in yet' for t

[2020-07-23 09:16] calvinyv commented on #2561
/kind bug
/area console
/assign @leoendless

[2020-07-23 09:18] rayzhou2017 commented on #2561
duplicate https://github.com/kubesphere/console/issues/495

[2020-07-23 09:18] #2561 closed

[2020-07-23 09:21] rayzhou2017 commented on #2548
/cc @wansir

[2020-07-23 09:21] huanggze commented on #1926
verified

[2020-07-23 09:21] #1926 closed

[2020-07-23 09:24] calvinyv opened #2562 "No suggested password hint is pop up when creating second user"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
No suggested password hint is pop up when creating second user

**Versions Used**
KubeSphere: 3.0 Alpha 1

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a user, and choose the suggested generated password by KubeSphere console
2. Then creat

[2020-07-23 09:24] calvinyv commented on #2562
/kind bug
/area console
/assign @leoendless

[2020-07-23 09:29] zryfish commented on #2281
should be fixed in the latest build, please verify again

[2020-07-23 09:31] zryfish commented on #2504
multicluster installation failed, please verify again using the latest build

[2020-07-23 09:33] rayzhou2017 commented on #2562
Isn't it the browser capability?

[2020-07-23 09:42] rayzhou2017 opened #2563 "Self provisioner can't see its devops project"
**Describe the Bug**
A self provisioner creates a new devops project. It does not show in the list, but when I switch to the admin of the workspace. The devops project is actually created.
![Screen Shot 2020-07-23 at 5 38 22 PM](https://user-images.githubusercontent.com/28859385/88272688-ae403800-cd0b-11ea-9075-d18008c20d4b.png)

![Screen Shot 2020-07-23 at 5 39 13 PM](https://user-images.githubus

[2020-07-23 09:49] WaysonWei opened #2564 "Set Resource Quota stopping deployment"
Set any quota value under project will stop the deployment from app store, no matter the resource request are well below the limited you set. Am I doing anything wrong?

<img width="2556" alt="Screen Shot 2020-07-23 at 9 48 18 PM" src="https://user-images.githubusercontent.com/54336863/88273431-4a7b3680-cd2e-11ea-845f-34544aca8c1e.png">
<img width="2556" alt="Screen Shot 2020-07-23 at 9 47 26 PM"

[2020-07-23 09:59] #2537 closed

[2020-07-23 10:23] leoendless commented on #2548
Now, only users who can view all the workspace's projects could view the workspace overview page.

[2020-07-23 11:27] huanggze commented on #2490
plz have a look at this issue. s2ibuilders crd is not a part of k8s resource quota.
/cc @zryfish

[2020-07-23 11:28] huanggze commented on #2490
/assign @zryfish

[2020-07-23 12:31] rayzhou2017 opened #2566 "multi tenant auditing is incorrect"
**Describe the Bug**
The admin of project, the admin of ws both can't search their own project/ws audit logs. The platform admin and workspace manager can search the audit logs.
<img width="941" alt="Screen Shot 2020-07-23 at 8 23 19 PM" src="https://user-images.githubusercontent.com/28859385/88286072-c4a5be00-cd22-11ea-920c-f87f7c8da256.png">
<img width="1228" alt="Screen Shot 2020-07-23 at 8 23

[2020-07-23 12:38] benjaminhuo commented on #2566
@wanjunlei pls take a look at this

[2020-07-23 12:40] rayzhou2017 commented on #2566
What is the logic behind it? I mean who should be able to search the logs? For example, project viewer, ws viewer...

[2020-07-23 13:25] rayzhou2017 opened #2568 "multi-tenant event is incorrect"
**Describe the Bug**
The self-provisioner can search its own project events. But the admin of the workspace of the project can't.
<img width="1221" alt="Screen Shot 2020-07-23 at 9 22 14 PM" src="https://user-images.githubusercontent.com/28859385/88291469-dc814000-cd2a-11ea-8b22-448b516be8d6.png">
<img width="1228" alt="Screen Shot 2020-07-23 at 9 22 37 PM" src="https://user-images.githubuserconte

[2020-07-23 13:38] zheng1 commented on #2550
I think it makes sense to allow `kubesphere-monitoring-system` by default. If the user needs to deny it, it should also be configured in the configuration file.

[2020-07-23 14:26] wangtian-010 opened #2569 "Recommended front end verification the duplicated name for Devops"
Describe the Bug
Recommended front end verification the duplicated name for DevOps
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'Devops project'
4.Click 'create' and duplicated name then click 'con

[2020-07-23 14:33] wangtian-010 opened #2570 "Recommended front end verification the duplicated name for DevOps"
Describe the Bug
Recommended front end verification the duplicated name for DevOps
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'Devops project'
4.Click 'create' and duplicated name then click 'con

[2020-07-23 14:35] wangtian-010 opened #2571 "aliase is not displayed for DevOps"
Describe the Bug
aliase is not displayed for DevOps
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Click on 'multi-cluster-ws' namespace
3.Click 'Devops project'
4.Create one devops with aliase
5.aliase is not displayed
![image](https://user-ima

[2020-07-23 15:34] lihongyu65085 commented on #833
any plan  to  support  minio？

[2020-07-23 22:17] WaysonWei opened #2573 "Helm repo can not be added"
Try to add bitnami helm repo, validate is ok, but not added. If try it again, show error with conflict repo name, even it only have kubesphere default helm repo available.

![Screen Shot 2020-07-24 at 10 11 57 AM](https://user-images.githubusercontent.com/54336863/88343951-b3969480-cd96-11ea-8768-3b93d168e077.png)
<img width="2556" alt="Screen Shot 2020-07-24 at 10 11 40 AM" src="https://user-imag

[2020-07-24 01:28] zheng1 commented on #2573
Fixed in https://github.com/kubesphere/kubesphere/pull/2567

Please wait for the PR merge and image push

[2020-07-24 01:36] calvinyv opened #2574 "'How to modify platform info' link is invalid"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
'How to modify platform info' link is invalid

**Versions Used**
KubeSphere: 3.0 alpha 1

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Platform' through top left corner menu, and then go to 'Platform Settings'
2. Click on 'How to modify pl

[2020-07-24 01:36] calvinyv commented on #2574
/kind bug
/area console
/assign @leoendless @FeynmanZhou

[2020-07-24 01:37] benjaminhuo commented on #2568
@junotx pls take a look at this ,should be similar to https://github.com/kubesphere/kubesphere/issues/2566

[2020-07-24 01:54] wangtian-010 commented on #2570
duplicated issue,close this one

[2020-07-24 01:54] #2570 closed

[2020-07-24 02:54] harrisonliu5 commented on #2569
/assign shaowenchen

[2020-07-24 03:42] #2571 closed

[2020-07-24 04:05] harrisonliu5 commented on #2569
/assign harrisonliu5

[2020-07-24 04:12] rayzhou2017 commented on #2557
verified

[2020-07-24 04:12] #2557 closed

[2020-07-24 04:14] rayzhou2017 opened #2575 "self provisioner can't create deployment into multi cluster project"
**Describe the Bug**
A self provisioner can create a multi cluster project. But when create a deployment to the project, got error msg.
![Screen Shot 2020-07-24 at 12 10 54 PM](https://user-images.githubusercontent.com/28859385/88359976-2a3b8e00-cda7-11ea-837e-d09aa466df09.png)

**Versions Used**
KubeSphere: 3.0.0-dev
Kubernetes: minimal installation, 1.15.12(host), 1.18.6(member)

[2020-07-24 05:23] rayzhou2017 opened #2577 "ws admin can't view multi-cluster deployment pods"
**Describe the Bug**
`ray` is the admin of the workspace. Using this user to create a multi-cluster deployment in the multi-cluster project, then go into the pod list page, got error msg.
![Screen Shot 2020-07-24 at 1 20 36 PM](https://user-images.githubusercontent.com/28859385/88362912-bef6b980-cdb0-11ea-866a-df8fe5b87f2e.png)
![Screen Shot 2020-07-24 at 1 20 23 PM](https://user-images.githubuser

[2020-07-24 06:03] wansir commented on #2577
Unexpected request here `/kapis/clusters/rohan/resources.kubesphere.io/v1alpha3/pods?limit=10&ownerKind=&labelSelector=&sortBy=startTime`, @leoendless

[2020-07-24 06:29] wangtian-010 commented on #2375
envent displays,close this issue

[2020-07-24 06:29] #2375 closed

[2020-07-24 06:38] junotx opened #2578 "creator is not in members of devops project"
**Describe the Bug**

The members of devops do not contain the creator
![image](https://user-images.githubusercontent.com/49136171/88366263-4ba67500-cdbb-11ea-935c-2ebd944a6828.png)

**Versions Used**
KubeSphere(2020-07-24)

/kind bug
/area devops
/milestone 3.0.0
/priority high

[2020-07-24 06:41] calvinyv opened #2579 "Fail to deploy skywalking app because of a nil error"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Fail to deploy skywalking app because of a nil error

**Versions Used**
KubeSphere: 3.0 alpha 1

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to some workspace and add 'https://charts.kubesphere.io/test' app repo
2. Go to some project and sele

[2020-07-24 06:42] calvinyv commented on #2579
/kind bug
/assign @zheng1 @hlwanghl

[2020-07-24 06:43] wangtian-010 commented on #2383
verification passed,close this issue

[2020-07-24 06:43] #2383 closed

[2020-07-24 06:44] calvinyv opened #2580 "the app list page doesn't refresh automatically after deploying an app from some helm repo"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
the app list page doesn't refresh automatically after deploying an app from some helm repo

**Versions Used**
KubeSphere: 3.0 alpha 1

**How To Reproduce**
Steps to reproduce the behavior:
1. Deploy some app from a custom helm repo
2. The app list page doesn

[2020-07-24 06:44] calvinyv commented on #2580
/kind bug
/assign @leoendless

[2020-07-24 06:49] leoendless commented on #2580
openpitrix app list doesn't support auto refresh now.

[2020-07-24 06:49] wangtian-010 commented on #2399
envent displays correctly,close this issue

[2020-07-24 06:49] #2399 closed

[2020-07-24 06:50] calvinyv commented on #2580
/assign zheng1

[2020-07-24 07:11] zryfish opened #2581 "Internal error when login failed using email"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

[code]

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed

[2020-07-24 07:12] zryfish commented on #2581
/assign
/kind bug
/milestone 3.0.0

[2020-07-24 07:20] calvinyv opened #2582 "The search function of app repo doesn't work"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
The search function of app repo doesn't work

**Versions Used**
KubeSphere: 3.0 alpha 1

**How To Reproduce**
Steps to reproduce the behavior:
1. Add some app repo
2. Do the search with some keyword, it always returns the full repo list without any filter

<

[2020-07-24 07:20] calvinyv commented on #2582
/kind bug
/area console
/assign @leoendless

[2020-07-24 07:26] liuyp2018 opened #2583 "no specific state options are shown for selection"
**Describe the Bug**
In the volume list of the project, the specific state options are not shown for selection
<img width="829" alt="volume" src="https://user-images.githubusercontent.com/36271543/88368885-7eec0280-cdc1-11ea-995f-f1783314b1e0.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /cen

[2020-07-24 07:40] wansir commented on #2555
/assign @leoendless  override fed namespaces creator annotation.

[2020-07-24 07:54] rayzhou2017 opened #2586 "ws viewer can't open overview page - cluster info tab - multicluster"
**Describe the Bug**
`tester4` is the ws viewer. Open the cluster info tab, got error msg
![Screen Shot 2020-07-24 at 3 52 20 PM](https://user-images.githubusercontent.com/28859385/88371074-ec9a2d80-cdc5-11ea-9102-ded3d4d8813b.png)

**Versions Used**
KubeSphere: 3.0.0-dev
Kubernetes: 1.18.6

[2020-07-24 08:03] wangtian-010 commented on #2417
can't be reproduced，close this issue

[2020-07-24 08:03] #2417 closed

[2020-07-24 08:03] rayzhou2017 opened #2587 "ws viewer is able to edit multi-cluster project quota"
**Describe the Bug**
`tester4` is a platform regular user, and invited to a fed ws as viewer. Using this user to log in and can edit the project quota.
![Screen Shot 2020-07-24 at 3 58 26 PM](https://user-images.githubusercontent.com/28859385/88371657-0daf4e00-cdc7-11ea-8b9c-5e98e1e2cac5.png)
![Screen Shot 2020-07-24 at 4 03 42 PM](https://user-images.githubusercontent.com/28859385/88371790-478054

[2020-07-24 08:10] wansir commented on #2587
/assign @leoendless

[2020-07-24 08:12] #2569 closed

[2020-07-24 08:17] rayzhou2017 opened #2588 "create a custom platform role denied"
**Describe the Bug**
Create a custom platform role with cluster view and got error msg.
![Screen Shot 2020-07-24 at 4 15 28 PM](https://user-images.githubusercontent.com/28859385/88372752-1d2f9680-cdc9-11ea-801f-039e9fdc5856.png)

**Versions Used**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15.12(host), 1.18.6(member)

[2020-07-24 08:28] zheng1 commented on #2550
/assign @duanjiong

[2020-07-24 08:36] weekyuan opened #2589 "A Pipeline for a Devops project created in Kubesphere 3.0 cannot be displayed in the interface"

[2020-07-24 08:47] shaowenchen commented on #2589
when did you install it?

[2020-07-24 08:49] junotx opened #2590 "devops project could not be deleted after it's workspace was deleted"
**Describe the Bug**

devops project could not be deleted after it's workspace was deleted,  resulting in unsuccessful attempt to create devops project with the same name in other spaces

**Versions Used**

KubeSphere(2020-07-24)

/kind bug
/milestone 3.0.0

[2020-07-24 08:56] hawking-lab commented on #2589
I have the same problem, I installed it yesterday。
![image](https://user-images.githubusercontent.com/47567011/88375687-9a113f00-cdce-11ea-9578-75e6e680c1b8.png)
![image](https://user-images.githubusercontent.com/47567011/88375704-a2697a00-cdce-11ea-89fd-99a895c882b5.png)