[2022-06-29 08:33] patrickluoyu opened #5010 "External services cause the "Services" page to crash"
**Describe the Bug**
After an external service is created in a project, the "Services" page cannot be displayed.

<img width="1400" alt="image" src="https://user-images.githubusercontent.com/76198553/176390733-42ebbcb5-c5a3-4275-875d-5dfe62f424b9.png">

**Versions Used**
KubeSphere: v3.3.0

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to a project.
2. On the left navigation bar, sel

[2022-06-29 09:32] #5008 closed

[2022-06-29 17:07] VioZhang opened #5011 "The user could access the cluster where the user is not included in the cluster member."
**Describe the Bug**
A clear and concise description of what the bug is.
The user could access the cluster where the user is not included in the cluster member.
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/41519383/176493661-286121e1-a3e3-4285-8f8e-990c808e24b1.png)
![image](https://user-images.githubusercontent.com/41519383/17

[2022-06-29 22:03] hey-law commented on #4635
I have the same problem.
Versions Userd:
KubeSphere:v3.2.1
Kubernetes:v1.21.9

[2022-06-29 22:07] hey-law commented on #4635
Did you solve the bug？

[2022-06-30 01:47] zeasly opened #5012 "install 3.3 version, create prometheus CRD fail"
**What's your question**
Install v3.3 has error. System is running fine, but the monitor don't work.
[code]

**Environment: OS & Hardware Information**

centos 7, 4C 8G * 2
k8s version is 1.21

**Error logs or message (Attach logs or screenshot)**

**Installer Version**

[2022-06-30 02:04] wenxin-01 opened #5013 "worksapce-manager cannot create worksapce"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/176576960-7e34e6d2-1def-42cb-8242-c2454703e7e3.png)

![image](https://user-images.githubusercontent.com/68640256/176577053-72ecdb62-ba72-4c26-96d2-7f77f8b6fe52.png)

**Versions Used**
KubeSphere:   `v3.3.0`

[2022-06-30 02:11] wenxin-01 commented on #5009
Same as https://github.com/kubesphere/kubesphere/issues/5013

[2022-06-30 04:56] #5009 closed

[2022-06-30 05:17] willzhang opened #5014 "devops-jenkins pod in CrashLoopBackOff and autorestart sometime"
**Describe the Bug**
devops-jenkins pod CrashLoopBackOff

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: v3.3.0
Kubernetes: (If KubeSphere installer used, you can skip this) v1.24.1

**Environment**
How many nodes and their hardware configuration:
ubuntu 22.04 8C 16G 3 nodes,

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and oth

[2022-06-30 06:02] willzhang commented on #5014
maybe related this: https://github.com/kubesphere/ks-devops/issues/685

[2022-06-30 06:47] tianxin8206 opened #5016 "support superedge"
**What's it about?**
Support superedge.

**What's the reason why we need it?**
Better support for edge computing.

/kind feature-request

[2022-06-30 07:39] jioce opened #5017 "User with cluster view role, view storage class details error"
**Describe the Bug**
1、There is a role test, the permission is cluster view, create a user cc, assign the test role
2、 cc to log in to the console，click Platform Management - "Cluster Management - "Storage - "Storage Class, click local to view the details, the page reports an error
![image](https://user-images.githubusercontent.com/88183150/176620684-81264285-49b2-436f-acad-89237260ff5e.png)

![im

[2022-06-30 08:28] dafanshu commented on #5009
thx

[2022-07-01 02:03] magitekbay commented on #5013
same here,created a user ws-manager,and granted the role workspaces-manager.
![image](https://user-images.githubusercontent.com/88395653/176808205-21662314-6f45-4583-a920-c4e5f7244c95.png)
the admin account works fine.

[2022-07-01 02:21] wansir commented on #5013
Duplicated: https://github.com/kubesphere/kubesphere/issues/5009, @magitekbay  it can be fixed with the following command:

[code]

[2022-07-01 02:27] magitekbay commented on #5013
thx,it works.

[2022-07-01 07:17] #5011 closed

[2022-07-01 14:44] dalamudx opened #5021 "cluster gateway will automatically turn on when the kubesphere-system project gateway is enabled."
**Describe the Bug**
cluster gateway will automatically turn on when the kubesphere-system project gateway is enabled.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)
v3.3.0

**Environment**
How many nodes and their hardware configuration:
CentOS Linux release 7.9.2009 (Core)
3 master/16C32G
9 nodes/16C32G

**How To Reproduce**
Steps to reproduce the be

[2022-07-01 23:23] limengcanyu opened #5022 "can't create workspace in KubeSphere v3.3.0"
problem:

Forbidden
workspacetemplates.tenant.kubesphere.io is forbidden: User "ws-manager" cannot create resource "workspacetemplates" in API group "tenant.kubesphere.io" at the cluster scope

example:

https://kubesphere.com.cn/docs/v3.3/quick-start/create-workspace-and-project/

**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. T

[2022-07-01 23:28] limengcanyu commented on #5013
not work, can't down the yaml

https://raw.githubusercontent.com/kubesphere/ks-installer/release-3.3/roles/ks-core/prepare/files/ks-init/role-templates.yaml

[2022-07-02 02:02] lixd opened #5023 "[kubectl web terminal] remote terminal leak."
**Describe the Bug**
kubectl web terminal conn leak. when frontend websocket closed,remote terminal not close.

**Versions Used**
KubeSphere: v3.2.1

**Environment**
How many nodes and their hardware configuration:

CentOS 7.9 1mster 4c8g.

**How To Reproduce**
![image](https://user-images.githubusercontent.com/31980412/176982065-0fded523-5291-4674-ad2b-ee26ee83a65d.png)

Steps to reproduce the be

[2022-07-02 02:25] magitekbay commented on #5022
FYI https://github.com/kubesphere/kubesphere/issues/5013#issuecomment-1171855269

[2022-07-03 03:10] renwayle opened #5025 "kubesphere monitoring node-exporter exception listen tcp 127.0.0.1:9100: bind: address already in use""
error egg
ts=2022-07-03T03:09:24.247Z caller=node_exporter.go:199 level=info msg="Listening on" address=127.0.0.1:9100
 ts=2022-07-03T03:09:24.247Z caller=node_exporter.go:202 level=error err="listen tcp 127.0.0.1:9100: bind: address already in use"

[root@k8swork3 ~]# netstat  -antp | grep 9100
tcp        0      0 192.168.2.2:9100        0.0.0.0:*               LISTEN      30725/kube-rbac-pro
tcp

[2022-07-03 07:28] jikunchong opened #5026 "calico-node can't run, error - ipset v7.1: Kernel and userspace incompatible"
**What's your question**
[ERROR][47606] felix/ipsets.go 570: Bad return code from 'ipset list'. error=exit status 1 family="inet" stderr="ipset v7.1: Kernel and userspace incompatible: settype hash:ip,port,net with revision 8 not supported by userspace.\n"

**Environment: OS & Hardware Information**
  Ubuntu 20.04.4, Intel NUC10i7 (Intel® Core™ i7-10710U CPU @ 1.10GHz × 12 ,  memory: 64GB)

All-in

[2022-07-04 02:28] xyz-li commented on #5025
I think there is a `node_exporter` running in the k8s. Can you find the namespace to which this node_exporter belongs?

[2022-07-04 03:00] wansir commented on #5023
Duplicated https://github.com/kubesphere/kubesphere/issues/4917, already fixed in https://github.com/kubesphere/kubesphere/pull/4918.

[2022-07-04 03:40] xyz-li commented on #5026
Can you provide the result of `uname -a`.

[2022-07-04 03:51] dafanshu opened #5027 "when check devops pipeline"
**Describe the Bug**
Get "http://devops-jenkins.kubesphere-devops-system/crumbIssuer/api/json/api/json": dial tcp 10.233.55.175:80: connect: connection refused

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: v3.3.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For exa

[2022-07-04 05:44] lixd commented on #5023
maybe there is another issue,caseby SPDYExecutor,see [How to cancel a SPDYExecutor stream?](https://github.com/kubernetes/client-go/issues/554)

[2022-07-04 06:00] #5023 closed

[2022-07-04 08:25] LinuxSuRen commented on #5014
Hi @willzhang , thanks for your information. It's helpful to other users.

[2022-07-04 08:25] #5014 closed

[2022-07-04 09:20] jioce opened #5029 "If the platform role is user management, the invitation to enter the enterprise space will not take effect."
**Describe the Bug**
1、There is a user cc whose platform role is user management
![image](https://user-images.githubusercontent.com/88183150/177124513-55f0ea5f-b4d8-4f7c-859b-346f2a1e8ed0.png)

2、Invite user cc to enter the enterprise space ws, and set the permission to ws-admin
![image](https://user-images.githubusercontent.com/88183150/177124569-f8743fbe-abfe-463a-a5cf-aec05eb78c52.png)

3、Log i

[2022-07-04 10:36] junotx commented on #5012
@zeasly
This is related to https://github.com/kubernetes/kubectl/issues/712 fixed by https://github.com/kubernetes/kubernetes/pull/102105.
Please use the k8s version >= v1.20.7 and >= 1.21.1

[2022-07-04 22:14] jikunchong commented on #5026
Linux trynuc 5.13.0-52-generic #59~20.04.1-Ubuntu SMP Thu Jun 16 21:21:28 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

[2022-07-04 22:43] jikunchong commented on #5026
[code]

I try to install kubernetes v1.21.13, it's ok.
but kubernetes v1.22.10, v1.23.7 can't run.

[2022-07-04 23:12] jikunchong commented on #5026
This time, I didn't use export KKZONE=cn

[2022-07-05 01:37] #5026 closed

[2022-07-05 02:25] Gkirito commented on #4883
hello, Is this a bug of openldap in ipv6 cluster?

[2022-07-05 06:58] nioshield opened #5031 "Delete Helm and Kustomize binaries in Dockerfile"
**What's it about?**
[#4852
](https://github.com/kubesphere/kubesphere/pull/4852)
In this PR, Helm Chart is need’t  Helm and Kustomize binary file.
so, we can deleted the Helm and Kustomize binary file in ks-controller-manager Docker file ?
https://github.com/kubesphere/kubesphere/blob/8e00ba29ca9fe845fdebdd586ed1505a2d6ee5d8/build/ks-controller-manager/Dockerfile#L23
**What's the reason why we ne

[2022-07-05 07:42] dafanshu opened #5032 "can't start jenkins pipeline"
**Describe the Bug**
Started by user project-admin
Running in Durability level: MAX_SURVIVABILITY
[Pipeline] Start of Pipeline
Resuming build at Tue Jul 05 07:35:22 UTC 2022 after Jenkins restart
[Pipeline] End of Pipeline
java.io.FileNotFoundException: /var/jenkins_home/jobs/xingcore-devopsll78l/jobs/jenkinsfile/builds/1/program.dat (No such file or directory)
	at java.base/java.io.FileInputStrea

[2022-07-05 08:15] jikunchong commented on #5026
I retry on new computer, calico-node can't run.
---
All-in-one, Bare Metal, Ubuntu 20.04.4 LTS, 8C / 16G
uname -a
Linux optiplex 5.13.0-52-generic #59~20.04.1-Ubuntu SMP Thu Jun 16 21:21:28 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

curl -sfL https://get-kk.kubesphere.io/ | VERSION=v2.2.1 sh -
./kk create cluster --with-kubernetes v1.21.13 --with-kubesphere v3.3.0

[2022-07-05 08:45] sd797994 opened #5033 "Cannot Edit System Resources on the Console"
**Describe the Bug**
for some reason i want adjust some system resource occupation in kubesphere。I follow this official guide(site : https://kubesphere.io/docs/v3.3/faq/console/edit-resources-in-system-workspace/) to edit the console configuration and restart the ks-console。
so far, everything is normal, but when I try to adjust some resource(prometheus-k8s resource-request-cpu set 200m to 0m) occ

[2022-07-06 01:46] nioshield commented on #5031
@wansir @xyz-li Any suggestions ?

[2022-07-06 03:11] wansir commented on #5031
LGTM

[2022-07-06 03:51] #5033 closed

[2022-07-06 07:00] xiaolidw23456 opened #5034 "PVC cannot be created through openebs storage, the promotion certificate has expired, and the certificate has been manually updated"
**Describe the Bug**
A clear and concise description of what the bug is.
#PVC cannot be created through openebs storage. The promotion certificate has expired and has already been updated.
For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: V3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)
v1.20.4

**Environment**
How many nodes and th

[2022-07-06 07:02] xiaolidw23456 commented on #5034
Error from server (InternalError): error when creating "pvc.yaml": Internal error occurred: failed calling webhook "admission-webhook.openebs.io": Post "https://admission-server-svc.openebs.svc:443/validate?timeout=5s": x509: certificate has expired or is not yet valid: current time 2022-07-06T06:58:25Z is after 2022-05-19T15:21:49Z

[2022-07-06 07:22] VioZhang commented on #4988
/cc @kubesphere/sig-devops

[2022-07-06 12:10] dalamudx opened #5036 "new pods stuck in the ContainerCreating state when pod ip pools is enabled"
**Describe the Bug**
enable pod ip pool by changing none to calico in the file cluster-configuration.yaml,new pods will stuck in the ContainerCreating state,output error "cannot find a qualified ippool"
logs:
[code]

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)
v3.3.0

**Environment**
How many nodes and their hardware configuration:
CentOS Linux relea

[2022-07-07 05:05] ZengIan opened #5039 "How to deploy applicatons to VM by ks devops?"
**Installer Version**

**1,Create ssh key credentials**
![image](https://user-images.githubusercontent.com/41040520/177694384-e20fadfe-b37d-42f9-996e-827ebbf5d2c9.png)
You can view the private key in the path: /root/.ssh/id_rsa
**2,Edit jenkinsfile, about 3 steps:**
Example:  https://github.com/kubesphere/devops-maven-sample, You can fork to your own registry~

[code]

**3,Then you can access to v

[2022-07-07 06:43] VioZhang opened #5040 "Keep the original users and authority when the cluster joined the multi-cluster as a member."
**What's it about?**
Keep the original users and authority when the cluster joined the multi-cluster as a member.

**What's the reason why we need it?**

As KubeSphere support the cluster manager,we 'd better keep the users and authority of the member cluster.

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

/kind feature-request

[2022-07-07 06:44] VioZhang commented on #5040
/cc @wansir

[2022-07-07 08:35] A-little-bit-of-data opened #5042 "3.3.0 install mysql fail"
Install the latest version of bitnami MySQL in version 3.3.0, the container keeps starting
![image](https://user-images.githubusercontent.com/31812278/177728994-038a7535-7903-4e99-8970-0b5b4f4611d5.png)
![image](https://user-images.githubusercontent.com/31812278/177729196-aec7d9a4-9f91-4913-be08-247b68498f1a.png)
![image](https://user-images.githubusercontent.com/31812278/177729253-8d465e0a-331b-4

[2022-07-07 08:59] javaXiaoHan opened #5043 "Code Analysis SonarQube fail"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
3.3.0

**Environment**
How many nodes and their hardware configuration:
CentOS 7.6 / 6 masters:  8cpu/8g; 6 nodes: 8cpu/16g
(and other info are welcomed to help us debugging)

流水线
Wait for SonarQube analysis to be completed and re

[2022-07-07 09:05] javaXiaoHan commented on #5043
you know whatis the proble is ? i  dont know solve it
<img width="950" alt="111" src="https://user-images.githubusercontent.com/32090060/177736199-dabad6dc-f19f-42c0-96c5-28af7ff7988a.png">

[2022-07-07 09:33] javaXiaoHan commented on #5043
@lshmouse  hello  could you pls give me some help

[2022-07-07 09:50] lutixiaya commented on #5043
401状态码通常是认证失败，你可以在sonarqube控制台重新创建了一个项目，并设置新的token，用这个新的token在devops中创建了新的凭证（名字可以保持一致），基于新的凭证，再次运行流水线，基本上可以解决你的问题。

[2022-07-07 10:03] javaXiaoHan commented on #5043
还是同样的错误
是shell里面是mvn sonar:sonar -Dsonar.login=$SONAR_TOKEN（我现在按照官网这么设置的） 这个命令还是下面这个呢
mvn sonar:sonar \
  -Dsonar.projectKey=hkzn-app \
  -Dsonar.host.url=http://cs.fllkzn.com:19321\
  -Dsonar.login=869008955a65c926500cfc6aa2

[2022-07-07 10:06] javaXiaoHan commented on #5043
<img width="849" alt="1657188356673" src="https://user-images.githubusercontent.com/32090060/177748640-ae075782-cfac-41cf-afc5-6df92a7b0f7c.png">
zhe这是刚才新建的一个sonar token

[2022-07-08 05:39] lutixiaya commented on #5043
用下面的命令，不过设置了凭证，可以把命令中的token，用变量替换，即：`mvn sonar:sonar
-Dsonar.projectKey=hkzn-app
-Dsonar.host.url=[http://cs.fllkzn.com:19321\](http://cs.fllkzn.com:19321%5C/)
-Dsonar.login=$SONAR_TOKEN`

[2022-07-08 05:40] #5031 closed

[2022-07-08 05:56] wansir commented on #4719
Related to https://github.com/kubesphere/kubesphere/issues/4397

/close

[2022-07-08 05:56] #4719 closed

[2022-07-08 07:18] javaXiaoHan commented on #5043
<img width="960" alt="1657264178088" src="https://user-images.githubusercontent.com/32090060/177937084-304fae70-1d5d-4b58-8514-394eb143bb44.png">
是这么修改吗，现在还是报401错误

[2022-07-09 05:31] magitekbay opened #5046 "please add support for intermediate CA certificate"
**What's it about?**

please add support for intermediate CA certificates.

**What's the reason why we need it?**

the root CA must be kept safely,use the intermediate CA certificate to issue certificates for the end-users and cluster.
it's been a long time,kubernetes works fine with intermediate CA certificate,so i have to patch the ks-installer image.

I believe this is an important feature for

[2022-07-09 18:08] #5046 closed

[2022-07-10 04:43] #4614 closed

[2022-07-10 04:43] #4656 closed

[2022-07-10 04:43] #4657 closed

[2022-07-10 04:43] #4644 closed

[2022-07-10 04:43] #4566 closed

[2022-07-10 04:43] #4667 closed

[2022-07-10 04:43] #4665 closed

[2022-07-10 04:43] #4677 closed

[2022-07-10 04:43] #4447 closed

[2022-07-10 04:43] #4685 closed

[2022-07-10 04:43] #4690 closed

[2022-07-10 04:43] #4523 closed

[2022-07-10 04:43] #4693 closed

[2022-07-10 04:43] #4699 closed

[2022-07-10 04:43] #4700 closed

[2022-07-10 04:43] #4496 closed

[2022-07-10 04:43] #4702 closed

[2022-07-10 12:49] ke00ke opened #5047 "提示账号不存在的bug"
**Describe the Bug**
新建一个devops流水线运行的时候,提示账号 project-admin 不存在

日志如下
[code]
![image](https://user-images.githubusercontent.com/22127069/178145502-3a47966f-34c2-4810-baf2-3f54e93a444f.png)

**Versions Used**
KubeSphere: 3.3
Kubernetes: 1.22.0

**Environment**
CentOS 7.5 / 2 masters:  4cpu/8g; 3 nodes: 8cpu/16g

**Expected behavior**
期望成功运行devops流水线

[2022-07-11 08:39] javaXiaoHan commented on #5043
@lutixiaya  非常抱歉打扰你，但是我真的需要你的帮助。我是按照官网和你说的去设置的。但是目前还是报401

[2022-07-11 08:48] zhangenmin opened #5048 "挂载配置文件无法保存"
挂载配置文件和保密时无法保存

[2022-07-11 08:51] zhangenmin opened #5049 "configmap volume can be created."
无法保存
![无法保存](https://user-images.githubusercontent.com/28304304/178225856-f21271b2-e15b-470b-a712-f2883b5b2f36.png)

[2022-07-11 09:49] #5048 closed

[2022-07-12 01:59] #4715 closed

[2022-07-12 01:59] #4720 closed

[2022-07-12 01:59] #4716 closed

[2022-07-12 01:59] #4717 closed

[2022-07-12 02:00] #4723 closed

[2022-07-12 03:10] javaXiaoHan commented on #5043
<img width="931" alt="1657595356822" src="https://user-images.githubusercontent.com/32090060/178400289-c9839441-9b77-4ceb-85e3-0cb624223a38.png">
<img width="581" alt="1657595378280" src="https://user-images.githubusercontent.com/32090060/178400328-c0bf9954-4bcc-4063-be51-aa30be277173.png">
后台任务都是成功的
这是什么原因呢

[2022-07-12 03:11] javaXiaoHan commented on #5043
<img width="581" alt="1657595378280" src="https://user-images.githubusercontent.com/32090060/178400482-d182757c-130f-4d2d-b600-71b03b84dc96.png">
![1657595489610](https://user-images.githubusercontent.com/32090060/178400528-ecd315b5-1c13-4e51-9d87-9218b7cbd538.jpg)
后台任务都是成功的

[2022-07-12 03:15] javaXiaoHan commented on #5043
@lshmouse 大佬 能帮忙看下吗，卡在这里好久了。确实没看出来是哪儿有问题

[2022-07-12 08:38] jinchengsix opened #5051 "Wrong "volumeBindingMode" params when I add PVC"
**Describe the Bug**
When I add a new PVC called "csi-ssd-enterprise", I set the volumeBindingMode as [WaitForFirstConsumer] , but it shows [immediate] instead

<img width="862" alt="883977a5d49f3fb0c01804df8cba36f" src="https://user-images.githubusercontent.com/39333013/178447391-80ddf421-7c28-40f4-95d2-850f62200937.png">
<img width="831" alt="8cf47e3f343b9aec1b43bed32960a03" src="https://user-im

[2022-07-12 10:06] renyunkang commented on #5036
Are you installing kubesphere on kubernetes? If yes, how did you install calico before and what is the calico version.

[2022-07-12 10:45] magitekbay commented on #5036
yep,calico version is v3.22.3.
reproduce the error:
1.install kubernetes with kubeadm,enable bgp mode.
`kubectl edit cm kube-proxy -n kube-system
`
[code]
`kubectl rollout restart daemonset.apps/kube-proxy -n kube-system`
2.download https://projectcalico.docs.tigera.io/archive/v3.22/manifests/calico.yaml(v3.22.3)
calico-node config:
[code]
`kubectl apply -f calico.yaml
`
3.install metallb(v0.12.1)

[2022-07-12 11:23] javaXiaoHan commented on #5043
Checking status of SonarQube task 'AYHyHilqIs9QzNEG3GmH' on server 'sonar'
Error 401 on http://ks.whc1n.com:693/api/ce/task?id=AYHyHilqIs9QzNEG3GmH : (这个地址我打码修改了)

但是我访问这个地址是正确的
{"task":{"id":"AYHyHilqIs9QzNEG3GmH","type":"REPORT","componentId":"AYHcs5Y8Is9QzNEG3Gl2","componentKey":"hkzn-app","componentName":"chargeserver","componentQualifier":"TRK","analysisId":"AYHyHi3UYPCMWHh2TaDN","status":"SU

[2022-07-12 14:20] hurricane1988 opened #5052 "It will overwirte the kubesphere-config configmap when use ks-installer upgrade"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help

[2022-07-13 01:56] #5043 closed

[2022-07-13 07:18] iawia002 commented on #5005
nginx 1.19.9 in nginx-ingress-controller v1.1.0 is patched against CVE-2021-23017, see [the official document](https://github.com/kubernetes/ingress-nginx#support-versions-table):

<img width="715" alt="Screen Shot 2022-07-13 at 15 13 55" src="https://user-images.githubusercontent.com/9134003/178674184-634f4d26-2ea7-4647-a6e3-a5db4a747ba5.png">

[2022-07-13 09:15] weili520 commented on #4985
/assign

[2022-07-14 02:53] j0rGeT opened #5053 "deploy block minio deploy"
## English only!

**General remarks**

**What's your question**

deploy kubesphere and open application
![image](https://user-images.githubusercontent.com/37323752/178887974-3731b359-8b0e-47eb-b1ba-ad0c45d167a5.png)

**Environment: OS & Hardware Information**

k8s 1.22.1

**Error logs or message (Attach logs or screenshot)**

block in minio deploy

we find minio pod infomation:

 Warning  FailedSc

[2022-07-14 02:58] #5053 closed

[2022-07-14 03:32] wenxin-01 opened #5054 "Users with role management permissions can gain more permissions by modifying their roles"
**Describe the Bug**
Users with role management permissions can gain more permissions by modifying their roles.

**Versions Used**
KubeSphere:  `v3.3.0`

**precondition**
There is a user with management permissions.
![image](https://user-images.githubusercontent.com/68640256/178891896-c0935ea2-86d7-4bed-87fd-480a270eadc7.png)
![image](https://user-images.githubusercontent.com/68640256/178891984-16

[2022-07-14 06:43] Changego opened #5056 "K8s v1.22.10 Can't install Kubesphere v3.3"
**General remarks**
K8s v1.22.10  Can't install  Kubesphere v3.3

**What's your question**
K8s v1.22.10  Can't install  Kubesphere v3.3,Can it be adapted to support?
**Environment: OS & Hardware Information**
vm Centos7.9 * 3 K8s v1.22.10

**Error logs or message (Attach logs or screenshot)**

2022-07-14T14:33:43+08:00 INFO     : Running hook 'kubesphere/installRunner.py' binding 'KUBE_EVENTS' ...

[2022-07-14 07:32] wenxin-01 opened #5057 "Cluster Viewing / Cluster Management can access CRD by url"
**Describe the Bug**
<img width="1437" alt="image" src="https://user-images.githubusercontent.com/68640256/178925993-347abc16-34b4-4c66-bca2-8a296612f284.png">
<img width="1147" alt="image" src="https://user-images.githubusercontent.com/68640256/178926105-86ce98d3-bda3-4776-96a7-e6442fb23585.png">
<img width="1027" alt="image" src="https://user-images.githubusercontent.com/68640256/178926147-12f32

[2022-07-14 09:13] dafeifei0218 opened #5058 "Demo Account number problem"
https://demo.kubesphere.io/login
account number: demo1
password: Demo123
unable to login. What is the account number and password?

[2022-07-14 09:25] rui789 opened #5059 "After upgrading to V3.3.0, the “Container Log Search” cannot be queried"
After upgrading to V3.3.0, the “Container Log Search” prompts "No Available Cluster". Is there any solution to this?

![image](https://user-images.githubusercontent.com/37356689/178949705-9b887585-dd64-4704-88b3-afe70e1beec3.png)

[2022-07-14 10:14] qxqxq opened #5060 "kubesphere3.2.0 automatic pipeline deployment cannot be triggered using a webbook"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
kubekey: v2.2.1
KubeSphere: v3.2.0
Kubernetes: v1.19.8

**Environment**
How many nodes and their hardware configuration:
Ubuntu 20.04 / 3 masters:  8cpu/32g

Automatic pipeline deployment cannot be triggered using a webbook.

Code repository

[2022-07-14 10:22] qxqxq commented on #5060
<img width="732" alt="image" src="https://user-images.githubusercontent.com/44389330/178960786-66b17cba-2d9f-4ce2-8641-9d16e42e4c66.png">
This is someone else's page. Kubesphere 3.1.x

[2022-07-15 00:52] nanjofan commented on #5058
Hello，you can use “https://kubesphere.cloud/console/resource/” instead

maybe “https://demo.kubesphere.io/login” is not used

[2022-07-15 02:33] harrisonliu5 commented on #5051
/kind need-to-verify

[2022-07-15 02:47] wansir opened #5061 "log search prompt "No Cluster Available""
**Describe the Bug**

![image](https://user-images.githubusercontent.com/8263040/179134833-fa93b731-9e25-4508-9653-3bae39db6f79.png)

Log search is not available for regular users not invited to the clusters. Caused by https://github.com/kubesphere/kubesphere/pull/4896, the clusters list API should use `/kapis/resources.kubesphere.io/v1alpha3/clusters` instead.

**Versions Used**
KubeSphere: v3.3.

[2022-07-15 02:51] wansir commented on #5061
duplicated https://github.com/kubesphere/kubesphere/issues/5059

/close

[2022-07-15 02:51] #5061 closed

[2022-07-15 06:09] yinmin2020 opened #5062 "Failed to create pod after project level limited resource"
**Describe the Bug**
1.There is no response to re-create pod after editing project quota to limit CPU and memory
2.There was also an error in the amount displayed in the basic information of the project after editing limited resources
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/65068467/179160990-129c460f-06eb-4a73-b89b-9fc664

[2022-07-15 06:09] dafeifei0218 commented on #5058
I found it here: https://kubesphere.com.cn
![image](https://user-images.githubusercontent.com/10148878/179161894-4714c031-4cee-4e67-bf4b-c6cb0c63ea27.png)

[2022-07-15 07:29] nanjofan commented on #5058
![1657870153158](https://user-images.githubusercontent.com/68266519/179174284-633f87aa-d2f6-44f0-9e1f-2b097a80cf9f.png)

[2022-07-15 08:16] wansir opened #5063 "setup CI to run golangci-lint with option --new-from-rev"
**What's it about?**
The --new-from-rev option will check changes against a specific committed revision.

/kind feature-request

[2022-07-15 09:05] weili520 commented on #5059
/assign

[2022-07-15 10:44] lizhongyuan3 opened #5065 "Optimization Tips"
**What's it about?**
The system enterprise space does not support the creation of devops， optimization tips

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/44236581/179208256-12b33db6-50cf-40c8-a4be-d78b226a0469.png">

[2022-07-15 16:30] magitekbay commented on #5056
it doesn't support intermediate CA certificates.[feature request](https://github.com/kubesphere/ks-installer/issues/2047)
you can fix it with these steps,but it's at your own risk.
patch the ks-installer image.
[code]

[2022-07-15 17:40] cs8w commented on #4811
Same here with new KubeSphere 3.3.0 - I can't connect Dex. Everything works perfect after downgrade to 3.2.1.

[2022-07-16 03:22] magitekbay commented on #5036
![image](https://user-images.githubusercontent.com/88395653/179337118-815586b5-cc9e-4137-a3f8-19e5895c9771.png)
![image](https://user-images.githubusercontent.com/88395653/179337004-8de2d89b-0bbd-4a10-88da-334c40d14634.png)
![image](https://user-images.githubusercontent.com/88395653/179337300-2b2a46f8-cdc9-4009-8e19-f76bb42b6fff.png)
![image](https://user-images.githubusercontent.com/88395653/1793

[2022-07-16 06:39] geray-zsg commented on #5009
`kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/release-3.3/roles/ks-core/prepare/files/ks-init/role-templates.yaml`

[2022-07-16 08:41] magitekbay commented on #5036
sorry,i forgot some steps.
1.install kubernetes with kubeadm,enable bgp mode.
2.install calico,metallb,cert-manage and piraeus.
3.install kubesphere
4.delete kubesphere with kubesphere-delete.sh,it will stuck at
`customresourcedefinition.apiextensions.k8s.io "fluentbits.logging.kubesphere.io" deleted` and `customresourcedefinition.apiextensions.k8s.io "ippools.network.kubesphere.io" deleted`
5.ope

[2022-07-17 16:17] wansir opened #5067 "Adjust the priority of bash and sh in the container terminal"
**What's it about?**

Adjust the priority of bash and sh in the container terminal.

**What's the reason why we need it?**

Bash should have a higher priority than other shells.

**Area Suggestion**

/area apiserver
/kind feature-request
/good-first-issue

[2022-07-18 02:21] harrisonliu5 commented on #4985
/kind-to-verify

[2022-07-18 02:23] harrisonliu5 commented on #4985
/kind need-to-verify

[2022-07-18 03:42] renyunkang opened #5068 "Detect whether OpenELB is installed"
**Describe the Bug**
Use openelb as service loadbalancer, should check whether openelb has been installed.
![image](https://user-images.githubusercontent.com/33660223/179441443-9a481b87-215c-4cfa-943c-2e08c9490015.png)

**Versions Used**
KubeSphere: v3.3.0

/kind bug

[2022-07-18 06:00] weili520 commented on #4987
/assign

[2022-07-18 07:06] weili520 commented on #4986
/assign

[2022-07-18 07:15] weili520 commented on #4950
/assign

[2022-07-18 10:00] harrisonliu5 commented on #4986
/kind need-to-verify

[2022-07-18 10:02] harrisonliu5 commented on #4987
/kind need-to-verify

[2022-07-19 02:43] xyz-li commented on #5049
/assign @harrisonliu5

[2022-07-19 02:43] xyz-li commented on #5049
kubesphere 3.3.0

[2022-07-19 02:45] xyz-li commented on #5049
/area console

[2022-07-19 02:46] harrisonliu5 commented on #5049
/assign @weili520

[2022-07-19 03:12] weili520 commented on #5049
/assign

[2022-07-19 03:14] weili520 commented on #5049
/kind need-to-verify

[2022-07-19 03:15] ivanmissu opened #5073 "can't submit mount configmap in deployment"
**Describe the Bug**
in deployment page, use gui to mount configmap, can't submit.
the submit button is no response.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/8721615/179656671-e55f07c6-1983-4b63-a4fe-a44a8f1e8f52.png)

**Versions Used**
KubeSphere: v3.3.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Env

[2022-07-19 03:30] xyz-li commented on #5062
/area apiserver

[2022-07-19 03:30] xyz-li commented on #5062
/cc @wansir

[2022-07-19 03:37] xyz-li commented on #5062
<img width="1666" alt="image" src="https://user-images.githubusercontent.com/6263928/179658608-e9cda487-98b2-4118-8fb7-b18af1a145a2.png">

The events of the ReplicaSet.
[code]

Should we add the state ReplicaSet which belongs to the Deployment to this page?
/cc @VioZhang

[2022-07-19 03:38] xyz-li commented on #5073
Duplicate of #5049

[2022-07-19 03:38] #5073 closed

[2022-07-19 03:48] xyz-li commented on #5049
/priority high

[2022-07-20 06:39] pixiake commented on #5052
At present, the configuration in kubesphere-config configmap is managed by cc, so try to adjust the configuration through cc.
[code]

[2022-07-20 07:17] #5067 closed

[2022-07-20 07:27] #5063 closed

[2022-07-21 06:06] jioce opened #5083 "Storage classes that should not support deleting existing storage volumes"
**Describe the Bug**
1、Storage class test exists, and there is already mounted pvc ‘volume’
2、Delete the storage class test, click on the volume to report an error，some functions of the storage volume cannot be used
![image](https://user-images.githubusercontent.com/88183150/180122392-93c94029-eaad-4457-80b6-11786a658694.png)

![image](https://user-images.githubusercontent.com/88183150/180123312-c

[2022-07-21 06:31] f10atin9 commented on #5083
Usually we do not remove storageClass when pvc is present, it would lead to some unexpected errors.
Do we need to add a confirm operation or disable the delete operation in this case?
@VioZhang @stoneshi-yunify

[2022-07-21 08:17] stoneshi-yunify commented on #5083
k8s does allow to delete a sc when some volumes provisioned with it, and ks-console follows this rule.

it might be great to add a confirm dialog when there are some volumes exist. When user confirms, the sc can still be deleted.

[2022-07-21 08:20] f10atin9 commented on #5083
I agree with it.

[2022-07-21 09:16] Patrick-LuoYu opened #5085 "Display provsioners of volume snapshot classes for project members"
During volume snapshot creation, the provisioner of the volume snapshot class needs to match that of the storage class. Otherwise, volume snapshot creation may fail. However, users in a project cannot obtain the provisioner of each volume snapshot class.

We need to display the provisioner of each volume snapshot class in the following drop-down list:

<img width="1387" alt="image" src="https://us

[2022-07-21 09:18] ivanmissu opened #5086 "after add helm repo, the helm repo page can't open correctly"
**Describe the Bug**
after add helm repo, the helm repo page can't open correctly

For UI issues please also add a screenshot that shows the issue.
now, i can't open the page.  so  no ui screenshot.

**Versions Used**
KubeSphere: v3.3.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 master

[2022-07-21 09:59] XiaohuiSept commented on #5006
Design：
https://www.figma.com/file/8Ii6Y8PSf7kmcWFdWzaP9Y/OpenELB?node-id=110%3A60355

@renyunkang @weili520

[2022-07-21 11:30] javaXiaoHan opened #5087 "fail to Deploy to Dev"
/home/jenkins/agent/workspace/charge-hkznhmlxg/charge-hkzn-v1@tmp/durable-d58e3ed8/script.sh: line 3: deploy/dev-ol/devops-sample-svc.yaml: No such file or directory
error: no objects passed to apply
script returned exit code 1
请问在哪设置这个文件呢,卡在这儿好几天了
@lshmouse 帮看下，万分谢谢！！！
<img width="688" alt="111" src="https://user-images.githubusercontent.com/32090060/180203311-fa5f40ba-4787-438e-ad76-c2a2b226f5b0

[2022-07-21 11:49] #5087 closed

[2022-07-22 01:47] xyz-li commented on #5086
Can you provide the log of ks-apiserver?

[2022-07-22 01:54] xyz-li commented on #5086
/assign

[2022-07-22 06:39] harrisonliu5 commented on #5006
/kind need-to-verify

[2022-07-22 06:47] wansir commented on #4676
/cc @harrisonliu5
/milestone 3.3.1

[2022-07-22 06:48] sunt89 opened #5089 "edgemesh-server 重新创建无法成功，一直在创建新的容器"
edgemesh-server 安装能够成功，但是点击重新创建时，会出现以下情况
![image](https://user-images.githubusercontent.com/20986998/180380051-dc372cb6-30f3-45f8-ad96-aa9be246f0aa.png)

[2022-07-22 07:43] iawia002 commented on #5021
This is not a bug, the cluster gateway and the project gateway are essentially the same thing, the cluster gateway is actually the project gateway for the kubesphere-system namespace, the cluster gateway concept is proposed for ease of use, users can use a single gateway to access all services.

We need to reorganize and unify the two concepts of cluster gateway and project gateway.

[2022-07-22 07:46] magitekbay commented on #5021
thx,i see.

[2022-07-22 07:48] iawia002 commented on #5021
No need to close this issue, we can see if there is a better way to unify the cluster gateway and project gateway

[2022-07-23 08:07] chenhuimin opened #5090 "how to make log time to show as CST time( GMT+8)"
![image](https://user-images.githubusercontent.com/2883340/180596488-9d530024-8af7-43ce-ab8f-70c027ab8378.png)

[2022-07-25 12:12] githubliuyang777 opened #5092 "Log in to the web console as admin,but in USERS, i can't find create button"
k8s version:v1.19
kubesphere version: v3.3.0
![image](https://user-images.githubusercontent.com/97504419/180774976-49bbb906-71de-41b6-8740-c7ee0233981e.png)

[2022-07-26 01:01] Changego commented on #5056
Thank you. I'll give it a try.

[2022-07-26 01:24] imshenyz opened #5093 "DevOps features in 3.3.0 is invisible while use multi-cluster manage member cluster's DevOps project"
**Describe the Bug**

DevOps features in 3.3.0 is invisible while use multi-cluster manage member cluster's DevOps project.

<img width="1048" alt="image" src="https://user-images.githubusercontent.com/1438697/180902086-a1e64cba-c7dc-487e-8c9c-c140d5c478f6.png">

**Versions Used**
KubeSphere: 3.3.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and th

[2022-07-26 03:08] Patrick-LuoYu opened #5094 "Remove the "stateful service" and "stateless service" concepts"
The "stateful service" and "stateless service" concpets and related functions should be removed from KubeSphere for the following reasons:

* They are concepts coined by KubeSphere. There is no "stateful service" or "stateless service" in Kubernetes.

* They are useless. They do not provide any additional usefulness compared with the original difinition of service in Kubernetes.

* They are self-c

[2022-07-26 08:53] xyz-li commented on #5086
/assign @harrisonliu5

[2022-07-26 09:07] xyz-li commented on #5086
/kind good-first-issue
Fill the field `status`  of CR in response.

[2022-07-26 09:22] xyz-li commented on #5090
What is the timezone of the server?

[2022-07-26 17:23] licocon opened #5095 "how to delete namespace kubesphere-devops-worker Residual resources"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help

[2022-07-26 17:25] licocon commented on #5095
Because when I deployed devops, the pipeline was waiting
<img width="612" alt="iShot_2022-07-27_00 24 59" src="https://user-images.githubusercontent.com/36863277/181071454-97fd499d-9c94-4a85-ae55-5cbd5e308de0.png">
This pod has not been ready. I deleted devops, but there are many resources left. Please help me

[2022-07-27 02:07] zaunist opened #5096 "Do we have any plan to add integration test ?"
**What's it about?**

I noticed that we only have unit tests that work properly, so how does the testing work in daily development? Are there any other plans to add testing solutions?

**What's the reason why we need it?**

Automated testing provides a degree of assurance of product quality

**Area Suggestion**

/area test

[2022-07-27 03:11] zaunist commented on #3333
Hi, @RolandMa1986.Is there still a plan in progress?

[2022-07-27 03:49] wansir commented on #5029
/assign @zhou1203 @harrisonliu5

[2022-07-27 06:24] Patrick-LuoYu opened #5100 "Optimize the "Build Environment" drop-down list"
<img width="945" alt="image" src="https://user-images.githubusercontent.com/76198553/181174601-fcf1fe49-79a7-4f3f-9c98-5d6639a9e7b3.png">

The "Build Environment" drop-down list should be optimized:

* The description strings (for example, "Node.js available as container...") are currently implemented in the backend source code. They should be moved to the frontend source code so that they can be

[2022-07-27 06:44] LinuxSuRen commented on #5093
There are some troubleshooting tips below:
* Make sure you enabled the DevOps feature in your member clusters
* Make sure all the image of the console is: `kubesphere/ks-console:v3.3.0`

/kind support

[2022-07-27 08:40] harrisonliu5 commented on #5010
/kind need-to-verify

[2022-07-27 11:37] whoiz opened #5102 "Bug: Special characters in password with LDAPProvider"
**Describe the Bug**
I configured kubesphere to use LDAPIdentityProvider for external authentication, which works fine so far.
But one user isn't able to login with his credentials.
I enabled the debug-log for kube-apiserver and saw the following error:
`ldap: LDAP Result Code 49 "Invalid Credentials": 80090308: LdapErr: DSID-0C090436, comment: AcceptSecurityContext error, data 52e, v4f7c`
This er

[2022-07-28 02:55] younkun opened #5103 "How can I integrate sonarqube in a network environment without an external network"
How can I integrate sonarqube in a network environment without an external network。
Does the official provide a way to install this software offline？
[install doc](https://kubesphere.com.cn/docs/v3.3/devops-user-guide/how-to-integrate/sonarqube/#%E5%AE%89%E8%A3%85-sonarqube-%E6%9C%8D%E5%8A%A1%E5%99%A8)

[2022-07-28 03:36] zhou1203 commented on #5054
/assign

[2022-07-28 03:45] wenxin-01 opened #5104 "‘CURRENT_RESOURCE_CONSUMPTION’ no translation"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/181415811-20f2a9ce-6725-4868-80f9-b58b79652a7e.png)

**Versions Used**
KubeSphere:  `v3.3.0`

[2022-07-28 06:07] Patrick-LuoYu commented on #5104
Fixed in [3470](https://github.com/kubesphere/console/pull/3470).

[2022-07-28 09:02] harrisonliu5 commented on #5029
/kind need-to-verify

[2022-07-28 09:24] wuqiang3424 opened #5105 "I want to add a CTL function to enter the container"
![image](https://user-images.githubusercontent.com/32158667/181470974-4d571ae9-fd2d-45a7-94c7-853f55db6548.png)

[2022-07-28 09:30] wuqiang3424 commented on #5105
目前只能查看实时日志，历史日志是看不到的，当前实际情况是服务将日志写到了容器中的固定位置，通过k8s命令是也是只能看到实时的日志，看不到服务输出的日志文件，希望增加进入容器的功能，然后就可以找到对应路径下的日志进行查看了。我目前的方案是将业务写的日志挂载到宿主机目录下，然后进行查看。目前我看是支持直接进入node节点中，但不是进入到容器，如果已经存在该功能，麻烦告知一下使用方法，多谢。

[2022-07-28 09:35] wuqiang3424 commented on #5105
目前在用的kubesphser版本为： v3.3.0

[2022-07-28 10:55] zhou1203 commented on #5057
priority/low

[2022-07-29 01:46] zhou1203 commented on #5054
We plan to no longer allow custom roles to use the permissions of manage user and manage role, and only administrators can have these two permissions. We will then submit a corresponding PR to fix this issue

[2022-07-29 01:53] zhou1203 commented on #5057
We deliberately hide the button of CRDs for roles other than administrators at the front end, but they still have control rights over CRDs. So that it is not a bug，this is the expected result.

[2022-07-29 01:54] xyz-li commented on #5105
![image](https://user-images.githubusercontent.com/6263928/181666428-6e31e2db-ea58-4706-8cd7-5ea73d95e81f.png)
When the pod is running, there is a button to enter the container.

[2022-07-29 02:24] zhou1203 commented on #5092
Have you enabled multi-cluster and this cluster is a member cluster?

[2022-07-29 03:09] wuqiang3424 commented on #5105
这个是哪个版本，看我的图，咋就没有呢

[2022-07-29 03:12] wuqiang3424 commented on #5105
这个是哪个版本，看我的图，咋就没有呢

[2022-07-29 03:39] zhou1203 commented on #5105
From the diagram you provided, it can be seen that the container is in an exited state, and only the running container can enter the container console

[2022-07-29 06:43] Patrick-LuoYu opened #5106 "Display the "Create" button of grayscale release by default"
The "Create" button of the "Grayscale Release" page is not displayed by default. Users need to hover over the region to show the button. This is unnecessary and many users report that they cannot find the "Create" button.

Please display the "Create" button by default.

<img width="1180" alt="image" src="https://user-images.githubusercontent.com/76198553/181698905-a2c69bbf-072d-4a26-9e25-1a49dac4c

[2022-07-29 09:51] zhou1203 opened #5107 "No Button for accessing to workspace member in front-end"
**Describe the Bug**
In the current setting of worksapce authorization，all role will be authorize the role item of role-template-view-basic，this include the rigte for listing workspacemember. But there is no button to access workspace members，only access by filling path manually.

**Example**
the custome role ss
![image](https://user-images.githubusercontent.com/34303854/181729750-cb8c67d6-54a1-40

[2022-07-29 09:54] zhou1203 commented on #5107
/assign @harrisonliu5

[2022-07-30 06:02] githubliuyang777 commented on #5092
i have not enabled multi-cluster,if this is the reason, i will try later.

[2022-08-01 01:02] #4760 closed

[2022-08-01 01:04] #4573 closed

[2022-08-01 01:08] #4797 closed

[2022-08-01 01:13] #4747 closed

[2022-08-01 01:15] #4745 closed

[2022-08-01 01:17] #4729 closed

[2022-08-01 01:17] #4736 closed

[2022-08-01 03:29] zhou1203 commented on #5092
You can use the following command to check the parameters of the multi -cluster
[code]
If the output like `{"clusterRole":"member"}`. It means the cluster is a member within a multi-cluster enviroment.

[2022-08-01 03:51] wenxin-01 opened #5109 "Can not create harbor from app store"
**Describe the Bug**
Can not create 'harbor' from app store.
**Versions Used**
KubeSphere:  `v3.3.0`
k8s: `v1.22.10`

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to any project
2. Create app from app store

**Actual behavior**
![image](https://user-images.githubusercontent.com/68640256/182748379-ff2dcdd9-0bef-461a-b308-9903dbd79593.png)
![image](https://user-images.githubuserconten

[2022-08-01 06:14] #5090 closed

[2022-08-01 06:14] #5105 closed

[2022-08-01 07:05] patrickluoyu opened #5110 "Display 'Image Builders' and 'Grayscale Release' for project viewers"
The 'Image Builders' and 'Grayscale Release' pages are not displayed for project viewers. Please display the pages.

<img width="1183" alt="image" src="https://user-images.githubusercontent.com/76198553/182091232-0e3ee6bf-5638-41d0-84cc-044c26699d6f.png">

<img width="1401" alt="image" src="https://user-images.githubusercontent.com/76198553/182091539-b09d38b8-de84-4bae-ad05-792f1261ac6a.png">

**V

[2022-08-01 07:13] xyz-li commented on #5102
/assign @harrisonliu5

[2022-08-01 07:17] xyz-li commented on #5102
/priority medium

[2022-08-01 10:35] zhou1203 opened #5111 "Delete WorkspaceRole role-template-view-members"
**What's it about?**

Delete WorkspaceRole role-template-view-members.

**What's the reason why we need it?**

The permission of viewing workspace members has been defined as a role-template-view-members with type of WorkspaceRole. But I suggest that deleting this role, and set the permission as a default for all roles(include custome roles) at WorkspaceRole.

I believe this is an important featur

[2022-08-01 14:20] licocon opened #5112 "求指点，maven package每次都从私服下jar包，很慢。好像镜像没有被缓存到宿主机"
<img width="813" alt="image" src="https://user-images.githubusercontent.com/36863277/182168760-4d35b17a-c0cb-428a-a573-28aef9718402.png">

求指点。

[2022-08-01 14:54] #5112 closed

[2022-08-02 01:44] zhou1203 commented on #5110
/assign

[2022-08-02 10:03] rockpanda opened #5113 "job delete failed"
Delete the job, it prompts that the deletion is successful, but it is not deleted, and the job is also executed

kubesphere versions：3.3.0

[2022-08-02 11:36] githubliuyang777 commented on #5092
# kubectl get cc -n kubesphere-system ks-installer -o jsonpath='{.spec.multicluster}'
map[clusterRole:member]
when i set clusterRole host, it shows user create and space create buttom.
thanks for your help.

[2022-08-02 11:38] #5092 closed

[2022-08-03 02:03] xyz-li commented on #5113
Can you provide more information?

[2022-08-03 06:13] Patrick-LuoYu opened #5116 "Image builder URL cannot be accessed"
**Describe the Bug**
The port number of "s2ioperator-trigger-service" in the "kubesphere-devops-system" namespace is missing in the image builder URL. Please add the port number to the URL.

<img width="1205" alt="image" src="https://user-images.githubusercontent.com/76198553/182536403-1c2d6f84-1392-4b78-8128-d25598495aca.png">

**Versions Used**
KubeSphere: v3.3.0

/assign @LinuxSuRen @zheng1 @ha

[2022-08-03 06:15] xyz-li commented on #5113
Not a bug.

[2022-08-03 06:15] #5113 closed

[2022-08-03 08:11] weili520 commented on #5104
/kind need-to-verify

[2022-08-04 07:18] a-zhongzhongzhong opened #5118 "kubesphere 集群环境下 pod无法获取到客户端真实ip，请问该怎么解决，有大佬知道吗?"

[2022-08-04 14:55] huzk8 opened #5121 "How to deploy kubesphere in ARM architecture"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2022-08-05 03:25] jennyli-z commented on #4165
Anyupdates here？

[2022-08-05 06:50] suwliang3 opened #5122 "When the namespace xxx is deleted, the helmreleases in the namespace xxx is not deleted"
**Describe the Bug**
A clear and concise description of what the bug is.
When the namespace xxx is deleted, the helmreleases in the namespace xxx  is not deleted. This will cause a problem: when curling http://ip:port/kapis/openpitrix.io/v1/workspaces/{workspace}/clusters/{cluster}/applications，you will get the helmrelease in the xxx namespace which has been deleted.

![image](https://user-images.

[2022-08-05 07:33] suwliang3 commented on #5122
I think there are two ways to solve the problem.
1、When we delete the xxx  ns, we should delete the helmrelease in the xxx ns together.
2、When we get the helmrelease like the above picture, we filter out ns that no longer exist.

[2022-08-05 07:34] suwliang3 commented on #5122
I think there are two ways to solve the problem.
1、When we delete the xxx  ns, we should delete the helmrelease in the xxx ns together.
2、When we get the helmrelease like the above picture, we filter out ns that no longer exist.

[2022-08-08 02:01] xyz-li commented on #5109
The chart needs to be updated.

[2022-08-08 02:22] Ray-Sir-Like opened #5123 "when i use istio to deploy bookinfo through kubesphere doc(v3.3) , tracing is error"
Internal Server Error
Get "http://jaeger-query.istio-system.svc:16686/api/traces?limit=5&amp;start=1659907212000000&amp;end=1659925212000000&amp;service=details.demo-project": dial tcp: lookup jaeger-query.istio-system.svc on 169.254.25.10:53: no such host

![image](https://user-images.githubusercontent.com/25659192/183325499-b08b1fd1-7d3c-4201-b487-42d07bd0fb8c.png)

[2022-08-08 03:04] xyz-li commented on #5118
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For

[2022-08-08 05:56] suwliang3 commented on #5122
//assign @suwliang3

[2022-08-08 06:47] wansir commented on #5017
/kind need-to-verify

[2022-08-08 07:04] wenxinll opened #5124 "After deploy easegress from app store, a role 'easegxxx' will be added to the cluster role page"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/183358582-db715560-e6e7-4b1a-a7db-675b6b6f9fc1.png)

**Versions Used**
KubeSphere:  `v3.3.0`

**How To Reproduce**
Steps to reproduce the behavior:
1. Deploy easegress from app store in any project.
2. Go to cluster detail page
3. Click on 'cluster role'
4. See error

**Expected behavior**
No cluster roles will be add

[2022-08-08 09:03] wansir commented on #5017
/assign @f10atin9 @weili520

[2022-08-08 15:35] sailingchen commented on #3941
it'is happen on Kubesphere 3.3.0

[2022-08-09 01:28] x893675 commented on #4910
/assign @x893675

[2022-08-09 06:37] f10atin9 commented on #5083
Updated in [#3511](https://github.com/kubesphere/console/pull/3511/files)

[2022-08-09 06:43] f10atin9 commented on #5017
will be updated: when the user clicks the `Set Authorization Rules` button the console will check the existence of the accessor and create it.

[2022-08-09 06:52] ayoucai opened #5125 "When member cluster disconnect from host, kubeSphere still show the cluster's Ready status as "True""
**Describe the Bug**
after the member cluster has been disconnected from host cluster for a long time,  kubesphere still show the cluster's Ready status as "True".

For UI issues please also add a screenshot that shows the issue.
I haven't get this skill.

**Versions Used**
KubeSphere: v3.3.0
Kubernetes: (If KubeSphere installer used, you can skip this) v1.21.0

**Environment**
How many nodes and

[2022-08-09 09:50] xyz-li commented on #4934
/kind need-to-verify

[2022-08-10 01:31] suwliang3 commented on #5122
@xyz-li Are you solving the problem? I want to  solve the problem by myself.

[2022-08-10 05:57] xyz-li commented on #5125
/cc @iawia002

[2022-08-10 06:45] patrickluoyu opened #5128 "A user with the cluster-admin role cannot access the cluster"
**Describe the Bug**
The **test** user with the following roles cannot access the cluster management page.

<img width="1412" alt="image" src="https://user-images.githubusercontent.com/76198553/183832947-645bd9b5-7ab6-4caf-9fa9-b2d3dbded488.png">

<img width="1409" alt="image" src="https://user-images.githubusercontent.com/76198553/183833002-d942f734-d83a-41f6-ba70-6971f69a1316.png">

<img width="

[2022-08-10 06:47] pixiake commented on #4911
/cc @xyz-li

[2022-08-10 06:47] pixiake commented on #5124
/cc @xyz-li

[2022-08-10 06:48] harrisonliu5 commented on #5017
/kind need-to-verify

[2022-08-10 06:52] patrickluoyu opened #5129 "Users with the "Application Workload Viewing" permission are allowed to view logs of other resources"
Users with only the "Application Workload Viewing" permission should not be allowed to view logs of other resources. However, currently such users can view logs of other resources by using the log query tools in the toolbox.

**Versions Used**
KubeSphere: v3.3.0

/assign @wansir @zheng1

[2022-08-11 01:37] x893675 commented on #5086
i'm not reproduce this issue..

[2022-08-12 02:41] #4785 closed

[2022-08-12 02:41] #4777 closed

[2022-08-12 02:41] #4761 closed

[2022-08-12 02:41] #4762 closed

[2022-08-12 02:41] #4764 closed

[2022-08-12 02:41] #4765 closed

[2022-08-12 02:41] #4772 closed

[2022-08-12 02:41] #4769 closed

[2022-08-12 03:10] qa137 commented on #5016
支持！！我将kubesphere和superedge一起部署，无法接入或获取到边缘cpu、内存等信息。

[2022-08-12 03:26] javaXiaoHan opened #5133 "how to run more than one DevOps pipeline"
为什么流水线任务只能开启一个，一个运行的时候，其他的流水线都是在队列中等待。该怎么设置并发运行。
@lshmouse 方便解答下吗

[2022-08-12 06:35] benjaminhuo commented on #5016
SuperEdge support can be a community-driven extension in KubeSphere 4.0

[2022-08-12 07:01] qa137 commented on #5016
KubeSphere 4.0大概会在啥时候推出相应版本呢？

[2022-08-12 07:51] simake2017 commented on #5056
this way is ok ,very thanks

[2022-08-12 09:01] cjl-github opened #5136 "Kubesphere Devops webhook displays differently in different browsers"
Kubesphere version：v3.3.0
Kubernetes version：v1.23.7

Devops webhook displays the public address in Google browser
Display the intranet address in the MAC default Safari browser

[2022-08-12 14:17] #4836 closed

[2022-08-14 14:24] #5125 closed

[2022-08-15 02:22] javaXiaoHan commented on #5133
Kubesphere version：v3.3.0
Kubernetes version：v1.23.7
3 master and 4 nodes(all is aliyun ecc 8 vCPU
16 GiB)
@larryliuqing  能帮忙看下吗

[2022-08-15 03:15] wenxin-01 opened #5138 "Failed to deploy resources on edge nodes"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/68640256/184570752-cf77e3fd-9a94-4aca-8ca8-67c573bb4ded.png)
![image](https://user-images.githubusercontent.com/68640256/184571037-9d5e23b4-9b7d-4442-b448-2187edcf2726.png)

The logs of pod
[code]
journalctl -u edgecore.service

[code]

**Versions Used**
KubeSphere:  `v3.3.0`
Kubernetes:  `v1.22.10`

**edge node**
`physical m

[2022-08-15 03:20] benjaminhuo commented on #5138
https://kubesphere.io/docs/v3.3/installing-on-linux/cluster-operation/add-edge-nodes/#prevent-non-edge-workloads-from-being-scheduled-to-edge-nodes

[2022-08-15 03:46] wenxin-01 commented on #5138
Add edge node according to this link, and can view the monitoring information of the edge node in KS. The pod can be scheduled to the edge node, but the pod fails to start.

[2022-08-15 03:58] benjaminhuo commented on #5138
which workload did you schedule? Can this workload works properly on cloud node?
Have you tested scheduling nginx to edge ndoe?

[2022-08-15 04:33] wenxin-01 commented on #5138
This workload's image is nginx.

[2022-08-15 06:02] benjaminhuo commented on #5138
@wenchajun Can you reproduce this?

[2022-08-15 06:13] wenchajun commented on #5138
This did not happen in my previous tests, I will check and test it again.

[2022-08-15 06:16] benjaminhuo commented on #5138
Looks like an environment issue

[2022-08-15 06:43] zheng1 commented on #4627
/assign @wtw1994

[2022-08-15 08:50] aliuq opened #5139 "Can't mount a configMap to container path"
Use the below configuration, it will can't deploy and not start a container

![image](https://user-images.githubusercontent.com/11707934/184604885-86df7163-162b-474e-9b0d-4bfb3dbd9252.png)

Use the below configuration, got errors in container `mkdir: cannot create directory '/mnt/sync/folders': Read-only file system`, this image must be using directory `/mnt/sync`, so what shoulud I do?

![image](

[2022-08-15 11:37] expandboard opened #5140 "Failed to get token with external OIDC Identity provider."
**What's your question**
Keycloak is configured for external OIDC Identity provider. when press login Keycloak button it will redirect to Keycloak login page but when it login it arise this message after redirect to kubesphere url;
[code]

after refresh page again shows this;

[code]

configuration in ClusterConfiguration is;
[code]

OAUTH config by fetching http://10.8.0.2:30880/kapis/config.kube

[2022-08-16 01:38] xyz-li commented on #5139
Is there just one configmap volume? Do you mount other volumes?
Which docker image are you using?

[2022-08-16 01:39] xyz-li commented on #5140
/cc @wansir

[2022-08-16 03:30] javaXiaoHan opened #5141 "devops-jenkins replicas error"
kubesphere v3.3
3 master 4 nodes (all are aliyun ecs 8核 16G)

when i increase devops-jenkins replicas from 1 to 5
<img width="952" alt="1660620596161" src="https://user-images.githubusercontent.com/32090060/184792142-7ce9d3ee-a338-4388-9060-0c3b251ccbfe.png">
<img width="851" alt="1660635241598" src="https://user-images.githubusercontent.com/32090060/184823551-a643cdec-81f7-451f-9120-cad3f96afd14.

[2022-08-16 03:35] aliuq commented on #5139
@xyz-li I resolved this question, it needs write `sync.conf` in all below position

![image](https://user-images.githubusercontent.com/11707934/184792552-65596d93-922d-4d00-9831-2ba11b801252.png)

[2022-08-16 03:35] #5139 closed

[2022-08-16 05:43] javaXiaoHan commented on #5141
@larryliuqing hello 能帮忙看下吗。增加devops-jenkins，sonarqube-sonarqube副本数量 都失败了。

[2022-08-16 05:50] kztao opened #5142 "ks-controller-manager not ready"
![Uploading image.png…]()

log:

` I0816 13:44:56.072935       1 globalrolebinding_controller.go:205] Successfully synced key:admin

 I0816 13:44:56.072955       1 event.go:282] Event(v1.ObjectReference{Kind:"GlobalRoleBinding", Namespace:"", Name:"admin", UID:"d89444af-1a36-4eb9-85ab-5a2b99739b1d", APIVersion:"iam.kubesphere.io/v1alpha2", ResourceVersion:"2458", FieldPath:""}): type: 'Normal' rea

[2022-08-16 05:52] kztao commented on #5142
![image](https://user-images.githubusercontent.com/1481448/184807496-1879019f-8625-4e8a-8613-45834ff5281b.png)

[2022-08-16 05:54] aliuq opened #5143 "Add configMap support code editor, not only textarea"
## General remarks

Sometimes, the configMap maybe contains code file, but when we have to update it, the textarea got a little terrible experience, so Have a possiable to supprt code editor likes yaml file editor

![image](https://user-images.githubusercontent.com/11707934/184807700-cf24cca8-cb38-4856-86f2-c6e9bdf460e6.png)

/kind feature-request

[2022-08-16 05:55] javaXiaoHan commented on #5141
现在导致我的流水线打不开

[2022-08-16 06:09] xyz-li opened #5144 "Feature: Simplify set-up HTTPS between ks-console and ks-apiserver"
**What's it about?**

**What's the reason why we need it?**

If the user wants to enable HTTPS communication between ks-console and ks-apiserver. Users need to do these things:
- mount cert/key file to ks-apiserver and ks-console
- patch service ks-apisver to add an https port.
- edit the config of ks-console to access ks-apiserver by HTTPS protocol

I think we need to find a more convenient way t

[2022-08-16 06:10] xyz-li commented on #5142
/assign

[2022-08-16 06:16] xyz-li commented on #5142
There is one helm repo with a zero chart version. You can delete that repo then the ks-controller-manger will not panic anymore.
I will fix this bug.

[2022-08-16 06:17] xyz-li commented on #5144
/cc @wansir
/cc @pixiake
/cc @harrisonliu5

[2022-08-16 06:26] kztao commented on #5142
ok

[2022-08-16 06:28] xyz-li commented on #5142
/reopen

[2022-08-16 06:52] jioce commented on #5006
Edit external access without openelb annotations
![image](https://user-images.githubusercontent.com/88183150/184815537-de99b2b3-3442-4816-85ba-83bfd206d099.png)

[2022-08-16 07:06] xyz-li commented on #5142
/milestone 3.3.1

[2022-08-16 07:07] xyz-li commented on #5142
/milestone v3.3.1

[2022-08-16 07:33] javaXiaoHan commented on #5141
@lshmouse 能帮忙看下吗，万分感谢！

[2022-08-16 07:40] jioce commented on #5010
issue is fixed in v3.3.1-rc.0
![image](https://user-images.githubusercontent.com/88183150/184824722-0013277a-c530-4408-ad0b-1125fad0ce4a.png)

[2022-08-16 07:42] xyz-li commented on #5086
1. Scale deploy ks-controller-manager to 0.
2. Add a new repo from ks-console

[2022-08-16 07:50] jioce commented on #5104
issue is fixed inv3.3.1-rc.0
![image](https://user-images.githubusercontent.com/88183150/184826740-568ddad0-f68d-43bb-993a-49e67cfcae6f.png)

![image](https://user-images.githubusercontent.com/88183150/184826678-a9d26244-aca7-40ea-9f7c-1686ebfe7735.png)

![image](https://user-images.githubusercontent.com/88183150/184826618-69761b07-41f9-4f90-a7e1-30aa1058c93c.png)

[2022-08-16 09:18] zhou1203 commented on #5129
/assign

[2022-08-16 14:15] x893675 commented on #5086
@xyz-li  kc-console has default value `syncing`.  https://github.com/kubesphere/console/pull/3455

[2022-08-17 01:40] #5111 closed

[2022-08-17 02:24] #5054 closed

[2022-08-17 06:00] xyz-li opened #5148 "issues when reloading ks-apiserver"
**Describe the Bug**
1. ks-apiserver may fail when reloading ks-apisever twice in 5 seconds, there  is a chance of incurring `concurrent map read and map write`.
 https://github.com/kubesphere/kubesphere/blob/b47736c50082a1b25d244602774711f8fd0d0295/cmd/ks-apiserver/app/options/options.go#L244-L246
2. ks-apiserver lost command line parameter after reloaded.

**Versions Used**
KubeSphere: v3.3

/ki

[2022-08-17 06:02] xyz-li commented on #5086
It's ok to fill the field status of CR in response.

[2022-08-17 06:21] mangoGoForward commented on #5141
Hi @javaXiaoHan Please provide more detail logs like pod logs or events, and it works well when I adjust the `devops-jenkins` replicas to 2

[2022-08-17 06:38] jioce opened #5149 "Chinese environment not translated"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/88183150/185050492-dc468333-4651-443e-8928-6009904633e1.png)

![image](https://user-images.githubusercontent.com/88183150/185050554-068fe264-08f8-4ee7-be99-2d34803bd7eb.png)

![image](https://user-images.githubusercontent.com/88183150/185050597-17c9a6b6-6862-48ac-a793-869390f591f6.png)

**Versions Used**
KubeSphere: v3.3.1-rc.

[2022-08-17 07:26] jioce opened #5150 "Admin role permission fission access control permission display error"
**Describe the Bug**
1、View the details of platform-amdin permissions. The access control permissions in the permission list lack member management and role management.
![image](https://user-images.githubusercontent.com/88183150/185058400-9408d1fb-598f-4417-b7e7-573b05d01ecd.png)

2、View the details of ws-admin permissions. The access control permissions in the permission list lack member manageme

[2022-08-17 07:38] jioce commented on #5150
Member View is missing from the Enterprise Space Edit Access Control section
![image](https://user-images.githubusercontent.com/88183150/185061887-b8ac99ca-f66f-427f-bba5-97ccbc140184.png)

[2022-08-17 08:20] wenxin-01 commented on #5149
![image](https://user-images.githubusercontent.com/68640256/185054374-df438c4e-625d-40a7-9f40-829a27c6b874.png)

[2022-08-17 08:20] javaXiaoHan commented on #5141
我把devops-jenkins工作负载删除，然后重新增加副本数量又好了。请问这样能提高流水线执行速度吗，我现在有多个流水线。但是只有一个流水线才能启动，其他的都是在队列中等待。increase the value to your desired number jenkins_user.yaml > jenkins.clouds.containerCapStr  这个我也增加了

[2022-08-17 08:22] javaXiaoHan commented on #5141
我把devops-jenkins工作负载删除，然后重新增加副本数量又好了。请问这样能提高流水线执行速度吗，我现在有多个流水线。但是只有一个流水线才能启动，其他的都是在队列中等待。increase the value to your desired number jenkins_user.yaml > jenkins.clouds.containerCapStr 这个我也增加了

[2022-08-17 09:17] I321065 opened #5151 "Container log did not auto refresh when turn on the real-time switch"
**Describe the Bug**
Container log did not auto refresh when turn on the real-time switch

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/16135063/185081176-63a21174-5abc-4e2b-bf2b-6591b1797ca2.png)

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and the

[2022-08-17 09:20] calvinyv commented on #5151
/assign @VioZhang

[2022-08-18 02:03] #5096 closed

[2022-08-18 02:55] xyz-li commented on #5151
@I321065 Which k8s and ks version do you use?

[2022-08-18 07:21] xyz-li commented on #5143
/assign @VioZhang

[2022-08-18 07:36] xyz-li commented on #5109
/assign @maiguoma

[2022-08-18 07:42] xyz-li commented on #5109
/assign @maiguoma

[2022-08-18 07:43] xyz-li commented on #5109
/assign @maiguoma

[2022-08-18 07:57] wenxin-01 commented on #4950
issue fixed in `ks v3.3.1-rc.0`

[2022-08-18 07:57] #4950 closed

[2022-08-18 07:58] #5051 closed

[2022-08-18 08:00] wenxin-01 commented on #5010
issue fixed in `ks v3.3.1-rc.0`

[2022-08-18 08:00] #5010 closed

[2022-08-18 08:19] wenxin-01 commented on #5013
issue fixed in `ks v3.3.1-rc.0`

[2022-08-18 08:19] #5013 closed

[2022-08-18 08:24] wenxin-01 commented on #5104
issue not fixed in `ks v3.3.1-rc.0`
@weili520

[2022-08-18 08:25] jioce commented on #5029
issue is fixed in v3.3.1-rc.0

[2022-08-18 08:25] #5029 closed

[2022-08-18 08:27] jioce commented on #5054
issue is fixed in v3.3.0-rc.1

[2022-08-18 08:36] xyz-li commented on #5109
/assign @maiguoma

[2022-08-18 08:36] jioce commented on #5017
issue is fixed in v3.3.1-rc.0

[2022-08-18 08:36] #5017 closed

[2022-08-18 08:45] wenxin-01 commented on #4987
issue not  fixed in `ks v3.3.1-rc.0`
![image](https://user-images.githubusercontent.com/68640256/185352096-d9bb3b44-6c37-464e-9997-cd16675940ea.png)

[2022-08-18 08:57] wenxin-01 commented on #4986
issue fixed in `ks v3.3.1-rc.0`
![image](https://user-images.githubusercontent.com/68640256/185354665-395ec96e-572a-48f4-8b45-dca2fd4fbc38.png)

[2022-08-18 08:57] #4986 closed

[2022-08-18 08:57] wenxin-01 commented on #5049
issue fixed in `ks v3.3.1-rc.0`

[2022-08-18 08:57] #5049 closed

[2022-08-18 08:59] wenxin-01 commented on #4985
issue fixed in `ks v3.3.1-rc.0`
![image](https://user-images.githubusercontent.com/68640256/185355226-d149c11e-d65a-4fb7-9d8c-bf82ccb5c59f.png)

[2022-08-18 08:59] #4985 closed

[2022-08-18 12:36] githubliuyang777 opened #5153 "failed to fetch group version resources types.kubefed.io/v1beta1: the server could not find the requested resource"
华为云CCE K8s Rev: v1.19.10-r1.0.0-source-124
kubesphere Rev: 3.3.0

[2022-08-19 02:56] harrisonliu5 commented on #5006
/kind need-to-verify

[2022-08-19 08:32] #5118 closed

[2022-08-19 08:45] wenxin-01 opened #5155 "Statefulsets and daemonsets do not show rveision record in app details"
<!--
You don't need to remove this comment section, it's invisible on the issues page.
**Describe the Bug**

![image](https://user-images.githubusercontent.com/68640256/185581667-7ac62a12-9d77-4049-bd0d-f465ea85340a.png)

**Versions Used**
KubeSphere:  `v3.3.1-rc.0`
Kubernetes: (If KubeSphere installer used, you can skip this)

**Expected behavior**
A clear and concise description of what you expe

[2022-08-19 08:50] jioce commented on #5155
![10a3afb6730a1a0aa28ecdab693617e](https://user-images.githubusercontent.com/88183150/185582053-79df6e3f-b975-40a0-8f2d-15cb0bf12377.png)

[2022-08-19 09:17] harrisonliu5 commented on #5059
/kind need-to-verify

[2022-08-19 09:23] xyz-li opened #5156 "console: ks-console won't close WebSocket connection after leaving the page"
**Describe the Bug**
ks-console won't close WebSocket connection after leaving the page. This caused ks-console to open more and more websocket connections.

![image](https://user-images.githubusercontent.com/6263928/185587972-2df2d851-2afa-46e8-95fc-f919564d2216.png)

**Versions Used**
KubeSphere: v3.3.0

/assign @harrisonliu5
/area console
/priority high

[2022-08-19 09:45] wenxinll opened #5157 "After meshery and nocalhost are installed, the status are always displayed as creating"
**Describe the Bug**

The status of the LB does not affect the use of those apps. It is recommended to change the status of those apps to running.

![image](https://user-images.githubusercontent.com/68640256/185591307-73573367-d355-4a62-bcdf-5f4e73909baf.png)
![image](https://user-images.githubusercontent.com/68640256/185591374-abc519f0-b691-4cfe-ac22-3d7487cfbdc5.png)
![image](https://user-images

[2022-08-19 09:56] harrisonliu5 commented on #5149
this PR https://github.com/kubesphere/console/pull/3589  fix the issue by wenxin.

[2022-08-22 03:11] #5086 closed

[2022-08-22 08:12] wenxinll opened #5160 "When accessing the edge node terminal, it is always displayed as connecting"
**Describe the Bug**
1、when accessing the edge node terminal, a pod named 'xxxx-shell-access' will be created in edge node.
2、when the pod created successfully, the accessing edge node terminal page is always displayed as connecting.
3、If access the edge node terminal again, the access will be successful.

![image](https://user-images.githubusercontent.com/68640256/185870313-87aa4e14-6d45-4892-a06

[2022-08-23 06:06] harrisonliu5 commented on #4987
/kind need-to-verify

[2022-08-23 06:06] harrisonliu5 commented on #5104
/kind need-to-verify

[2022-08-23 06:20] jiyichao opened #5167 "It's can't Edit Settings to containers who user role is platform-regular"
**Describe the Bug**
It's can't Edit Settings to containers who user role is platform-regular.When I use a reaular user to click the edit button,it flashes back.
KubeSphere Federation：
![federation](https://user-images.githubusercontent.com/79508241/186077384-6fcc9ced-46f4-4e98-9af0-e520f6d65ffd.jpg)
Platform Role:
![role](https://user-images.githubusercontent.com/79508241/186058649-14f745cd-eab9-

[2022-08-23 06:47] jiyichao commented on #5167
help

[2022-08-23 11:01] harrisonliu5 commented on #5149
/kind need-to-verify

[2022-08-24 00:00] carefree666 commented on #5167
I have encountered the same problem and haven't found a solution yet

[2022-08-24 02:41] cliff-wsy commented on #5167
We are hit by the same issue. Seek any solutions with appreciation.

[2022-08-24 02:51] nuclearwu opened #5168 "Verifying the image repository Secret under the multi-cluster project only verifies the Secret on host cluster but not on the member cluster"
**Describe the Bug**
When a Secret of kubernetes.io/dockerconfigjson is created in a multi-cluster project, does clicking the Verify button only verify the secret on the host cluster，but not on the on the member cluster?
![image](https://user-images.githubusercontent.com/37976659/186309613-75b75296-81a4-43ee-8cd8-45dd37be2572.png)
![image](https://user-images.githubusercontent.com/37976659/1863105

[2022-08-24 03:43] zhou1203 commented on #5167
Guys, thanks for your feedbacks. We have located the cause of this problem. When I operated step by step until I clicked the tick button at the end, it stuck, and then when I scrolled the scroll wheel, I saw an error in the `Port settings` below, which is a front-end data verification bug. Is this the case with you too?
![image](https://user-images.githubusercontent.com/34303854/186323512-8445276d

[2022-08-24 03:43] zhou1203 commented on #5167
/assign @harrisonliu5

[2022-08-24 05:34] jiyichao commented on #5167
Thanks a lot for your answer,but this is not my problem, even if I set the port correctly, the problem still exists.And when I clicked the tick button, it is not stuck, but unable to enter the editing state.Hope to get your answer!

[2022-08-24 06:08] #5142 closed

[2022-08-25 07:57] yuleichun2019 opened #5172 "In a multi-cluster scenario, if a single cluster has multiple Master nodes, the cluster can be added multiple times."
**Describe the Bug**
In a multi-cluster scenario, if a single cluster has multiple Master nodes, the cluster can be added multiple times.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/48045857/186607201-5f3e34c1-6a72-4f6f-89f7-7edb60afca98.png)
![image](https://user-images.githubusercontent.com/48045857/186607281-cfe06b5b-539b-

[2022-08-25 08:16] zhou1203 commented on #5167
Can you provide some pictures or videos to demonstrate your problem？

[2022-08-25 08:22] wenxin-01 opened #5173 "No image found in containers with 'Edit Settings'"
**Describe the Bug**

url: "/kapis/resources.kubesphere.io/v1alpha3/namespaces/pro-m/imageconfig?image=nginx"

![image](https://user-images.githubusercontent.com/68640256/186612835-a3134aec-8453-493f-8f4b-067bde182638.png)

**Versions Used**
KubeSphere:  `v3.3.0`
**How To Reproduce**
Steps to reproduce the behavior:
1. Create user test-user with Role platform-regular
2. Create workspace wx, Cluste

[2022-08-25 08:42] meihaohui opened #5174 "setup instructions error"
![image](https://user-images.githubusercontent.com/30396241/186618347-7efc08d7-1310-453c-b893-6254f298d44e.png)

[2022-08-25 10:44] wansir commented on #5173
![image](https://user-images.githubusercontent.com/8263040/186644702-a7f22dcd-305f-4e73-864b-fe2dce507972.png)

[2022-08-26 02:33] harrisonliu5 commented on #5173
/kind need-to-verify

[2022-08-26 08:28] xyz-li commented on #5172
Fixed by #4651
/close

[2022-08-26 08:28] #5172 closed

[2022-08-27 17:02] jibingjie2 opened #5175 "安装的时候minio有错误，访问9000端口号错误"

[2022-08-27 17:07] jibingjie2 commented on #5175
# kubectl logs -n kubesphere-system -l job-name=minio-make-bucket-job
mc: <ERROR> Unable to initialize new config from the provided credentials. Get http://minio:9000/probe-bucket-sign-ibyxmgrv22mc/?location=: dial tcp: i/o timeout.
"Failed attempts: 6"

![image](https://user-images.githubusercontent.com/101303865/187040488-3099d909-b7f1-466c-ac19-220815744da8.png)

pod是正常运行的

![Uploading image.pn

[2022-08-28 06:30] zhangdan0525 commented on #5175
Encountered the same issue.

![image](https://user-images.githubusercontent.com/37334836/187060772-0bfd746d-fee2-4dfa-8143-f5e84b91f71f.png)

[2022-08-29 03:06] jioce commented on #5006
Edit service external access, load balancer provider shows error
![image](https://user-images.githubusercontent.com/88183150/187115072-c857df82-19ff-4052-8d15-1d5037ad71be.png)

[2022-08-29 03:18] wenxin-01 commented on #5104
Issue fixed in `ks 3.3.1-rc.1`.
![image](https://user-images.githubusercontent.com/68640256/187116174-57768383-36bd-462f-b8c9-070d9d70aa4c.png)
![image](https://user-images.githubusercontent.com/68640256/187116186-560cdf70-8b8b-447c-81df-0d6377f41413.png)

[2022-08-29 03:18] #5104 closed

[2022-08-29 03:30] jioce commented on #5006
Adding multiple annotations, showing errors
![image](https://user-images.githubusercontent.com/88183150/187117436-25e003c6-4208-4674-853c-8aa21a5fc464.png)

version used：
kubesphere： v3.3.1-rc.1

[2022-08-29 03:34] wenxin-01 opened #5177 "Role 'platform-regular' should not access cluster manager"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/187131610-64e4973b-0a9c-446a-862d-f3cf616fa912.png)
![image](https://user-images.githubusercontent.com/68640256/187131633-8a3341bd-e2f6-4e98-bb9d-b951547c82a0.png)

**Versions Used**
KubeSphere:  `v3.3.1-rc.1`

[2022-08-29 03:45] kkhung0829 commented on #3972
How to add customized quotas (including storage quotas) ? Can found any doc for it .

[2022-08-29 03:46] kkhung0829 opened #5178 "ks v3.1.1 allows user to add customized quotas include storage quotas. So this issue has been solved."
ks v3.1.1 allows user to add customized quotas include storage quotas. So this issue has been solved.

_Originally posted by @stoneshi-yunify in https://github.com/kubesphere/kubesphere/issues/3972#issuecomment-883824982_

[2022-08-29 03:46] kkhung0829 commented on #5178
How to do it ? Cannot found any document nor figure out how to do it in web portal...

[2022-08-29 05:31] stoneshi-yunify commented on #5178
on ks-console,  Platform  management -> Access Management -> select one workspace -> choose one project/namespace, and click the three dots on the right side -> edit quota.

![image](https://user-images.githubusercontent.com/70880165/187129524-32b1b27d-c2cb-40ab-8cf7-4fa8ffeca5fd.png)

[2022-08-29 05:49] wenxin-01 commented on #5177
![image](https://user-images.githubusercontent.com/68640256/187131610-64e4973b-0a9c-446a-862d-f3cf616fa912.png)
![image](https://user-images.githubusercontent.com/68640256/187131633-8a3341bd-e2f6-4e98-bb9d-b951547c82a0.png)

[2022-08-29 05:55] kkhung0829 commented on #5178
Thanks. What's the list of resource quotas (requests.*) is supported currently ? Where can I found it in doc ?

[2022-08-29 05:57] wenxin-01 commented on #5177
role 'workspace-manager' have this issue too.
![image](https://user-images.githubusercontent.com/68640256/187132599-7f27cc5b-4a2b-4c8d-9519-8beac21668f1.png)
![image](https://user-images.githubusercontent.com/68640256/187132600-9707fb55-84d4-48af-aa2e-389a3b6bcab8.png)

[2022-08-29 05:59] jioce commented on #4987
issue is fixed in v3.3.1-rc.1
![image](https://user-images.githubusercontent.com/88183150/187132826-34aed420-ea4b-469f-85a2-414a90f27acc.png)

[2022-08-29 06:10] jioce commented on #5173
issue is fixed in v3.3.1-rc.1
![image](https://user-images.githubusercontent.com/88183150/187134170-d2cc01f9-dbd1-4ba6-9667-91f97a1edefb.png)

[2022-08-29 06:10] wenxin-01 commented on #5150
This issue still exist in `ks 3.3.1-rc.1` @zhou1203

[2022-08-29 06:25] jingslunt opened #5179 "已删除的项目，无法再次在企业空间配置"
问题一:
已删除的项目，无法再次在企业空间配置,可以在集群空间里面配置
![2103.jpg](http://tva1.sinaimg.cn/large/6e557adaly1h5nm6fdbeuj20yk0ktab1.jpg)
问题二:
企业空间里面删除项目，会把对应项目的命名空间也删除了。应该提供的是解绑功能而不是删除功能，这在生产很危险。

[2022-08-29 06:51] #4987 closed

[2022-08-29 07:02] xyz-li commented on #5175
Do all the network plugin pods work as expected?

[2022-08-29 07:04] xyz-li commented on #5174
/assign @patrickluoyu

[2022-08-29 07:32] VioZhang commented on #5179
现在是不支持从页面切换企业空间，也就是不支持解绑，支持解绑可能会影响系统空间的系统项目，这个问题我们也比较困扰我们正在讨论一个合理的方式来解决这个问题，多谢反馈

[2022-08-29 07:49] patrickluoyu commented on #5174
/assign @Bettygogo2021

[2022-08-29 08:02] kkhung0829 commented on #5178
Can we add customized quota to limit the total runtime duration of the project (e.g. specify end date or number of day for running) ?

[2022-08-29 08:08] wenxin-01 commented on #5109
Issue fixed in `v3.3.1-rc.1`

[2022-08-29 08:08] #5109 closed

[2022-08-29 09:56] Bettygogo2021 commented on #5174
@meihaohui Hi, Thx for your notice. This issue has been fixed in https://github.com/kubesphere/website/pull/2647.

[2022-08-30 03:35] #5173 closed

[2022-08-30 04:28] zhou1203 commented on #5177
/assign @harrisonliu5

[2022-08-30 04:36] zhou1203 commented on #5177
![微信图片_20220830123118](https://user-images.githubusercontent.com/34303854/187349679-b805e107-6238-4343-a96b-0bce13a0578b.png)
It has been forbade by ks-apiserver, the console has to no display the button `Cluster Management`.

[2022-08-30 09:12] jf-xiao opened #5180 "安装3.1.1版本的时候， 一直卡在 Deploying minio"
TASK [common : KubeSphere | Checking openldap-ha status] ***********************
skipping: [localhost]

TASK [common : KubeSphere | Getting openldap-ha pod list] **********************
skipping: [localhost]

TASK [common : KubeSphere | Getting old openldap data] *************************
skipping: [localhost]

TASK [common : KubeSphere | Migrating openldap data] ***************************
skippin

[2022-08-30 09:16] yongxingMa opened #5181 "HelmRepo paging query error"
**Describe the Bug**

You don't need to remove this comment section, it's invisible on the issues page.

**When the added HelmRepo is more than 10, the paging query error.**

**Versions Used**
KubeSphere: v3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

![image](https://user-images.githubusercontent.com/31605966/187399121-a321aa7e-a252-4f9f-b45f-5fca254b86ee.png)

![image](htt

[2022-08-31 02:11] lihao6666 commented on #5026
I encountered the same problem, is there any solution

[2022-08-31 09:10] jioce opened #5183 "Edit Persistent Volume Claims storage type error in federation project"
**Describe the Bug**
1、There is a multi-cluster environment. The host cluster has two storage types: local and csi-qingcloud, and the member cluster has only the local type.
![image](https://user-images.githubusercontent.com/88183150/187639974-3061ba0f-dfd8-4c3c-a180-914a4412bf56.png)

2、There is a federated project multi, a persistent volume declaration test, and the storage class is local.
![ima

[2022-08-31 09:17] blackysy opened #5184 "devops pipeline backup"
Hi,  I want backup devops pipeline, how ?

**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2022-08-31 09:32] iawia002 commented on #5183
The root of the problem is that Federated PVCs should not be allowed to edit information such as storage class, just like regular PVCs, because this information is not allowed to be edited in the first place:

[code]

In fact, after you update the Federated PVC it doesn't update the PVC for each cluster (because it can't be updated), resulting in the Pod's PVC still using the local type.

[2022-08-31 10:42] Nacho-A opened #5185 "The OpenLDAP that Kubesphere accesses does not take effect"
KS 3.3.0
OPENLDAP lastest
It's not an LDAP problem,Other systems can log in as LDAP users
Here is my configuration:

[code]

[2022-09-01 05:49] wenxin-01 commented on #5183
That is to say, the federated pvc should not set the storage class uniformly when creating and editing, but can set the storage class of each cluster independently. @iawia002
![image](https://user-images.githubusercontent.com/68640256/187841013-7a9b7cc4-90dc-4a4d-972a-4a8366389b90.png)

[2022-09-01 06:03] wenxin-01 opened #5186 "The status in the filter box is inconsistent with the status actually displayed by the pod"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/68640256/187841576-b0927fd5-1368-48c9-830a-eeda5c772469.png)

`The status of the pods and containers I found are as shown below. Do we need to modify the status of the pods and containers displayed in ks based on these?`

![image](https://user-images.githubusercontent.com/68640256/187842618-d80e8b22-4a3b-41ee-be66-d7f39a1eaf1

[2022-09-01 08:51] iawia002 commented on #5183
Nope, you can't edit PVC after it is created, whether it is federal or general, only capacity can be edited.

Yes, leaves only the capacity section.

[2022-09-01 10:15] wenxin-01 commented on #5183
@harrisonliu5 Please cancel 'Storage class' and cancel ’Create‘ button in 'Advanced Settings' tab, in other words, must set storage class in each cluster before pvc created. On the other hand，cancel ’Storage class‘ in 'Edit Settings'.
![image](https://user-images.githubusercontent.com/68640256/187889517-bf69f720-bba0-42d1-9247-e9c5faa6d823.png)
![image](https://user-images.githubusercontent.com/68

[2022-09-01 10:18] a52074137 commented on #5185
完全一样的配置，把KS集群版本降级到3.2.1就可以了，希望尽快解决

[2022-09-02 02:53] jibingjie2 commented on #5175
Yes, I use the flannel network plug-in

[2022-09-02 02:53] #5175 closed

[2022-09-02 05:30] robinhe87 opened #5188 "kubesphere安装报错"
![image](https://user-images.githubusercontent.com/37928952/188063996-c8dee74d-6f75-48e7-9f27-22e63bf10832.png)
![image](https://user-images.githubusercontent.com/37928952/188065517-fb19a97e-a4a8-42be-a6a1-fb36a5b2fecc.png)

[2022-09-02 06:03] wekin opened #5189 "kubesphere的相关镜像一直拉取不了"
exec failed after 3 retires: pull image failed: Failed to exec command: sudo -E /bin/bash -c "env PATH=$PATH docker pull kubesphere/kube-apiserver:v1.22.10"
Error response from daemon: Head "https://registry-1.docker.io/v2/kubesphere/kube-apiserver/manifests/v1.22.10": Get "https://auth.docker.io/token?scope=repository%3Akubesphere%2Fkube-apiserver%3Apull&service=registry.docker.io": net/http: TLS

[2022-09-02 06:25] wekin commented on #5189
我服了, 我投降, 不弄了, 真的很垃圾的产品

[2022-09-02 06:42] wansir commented on #5185
There have been no changes since v3.2.1. The logs of ks-apiserver are useful, could you provide more information about this?

[2022-09-02 07:03] a52074137 commented on #5185
![image](https://user-images.githubusercontent.com/67043152/188078085-3f638d33-d66f-4b42-8ec6-184b3fac46b8.png)

[2022-09-02 07:13] a52074137 commented on #5185
Right now I am using two KS3.3 clusters and the LDAP configuration is invalid
Demoting one of the clusters to 3.2.1 takes effect
The LDAP configuration has never changed

[2022-09-02 20:16] Argalep opened #5190 "Kubesphere Dashboard cluster_cpu_usage metric value problem"
**Describe the Bug**
I created my own promethues pods by following the instructions found at https://kubesphere.com.cn/en/docs/v3.3/faq/observability/byop/. However, the CPU metric values ​​appear as 0 on the dashboard on the kubesphere console. How can I solve this problem?

![image](https://user-images.githubusercontent.com/17765272/188228184-1bba7341-931a-45c2-9482-93c0bf609959.png)

![image](h

[2022-09-03 11:05] hdgjun opened #5192 "k3s agent systemd script file error"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.
 the wrong file is:
![image](https://user-images.githubusercontent.com/13816696/188267515-f4c68b14-c670-4db1-9baf-32108517d543.png)

the correct in my case is :
![image](https://user-images.githubusercontent.com/13816696/188267677-a67cd17d-84e0-4242-adaf-3a5adb

[2022-09-03 11:21] hdgjun opened #5193 "save Jenkins Pipeline will miss the webHooks config"
**Describe the Bug**

i add a  webHooks config to jenkins from gitlab,but the config will miss where i change and save pipeline config by
kubesphere .

**Versions Used**
KubeSphere: 3.2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info ar

[2022-09-03 11:30] hdgjun opened #5194 "repeat a task"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/13816696/188268384-2037ee4b-9a35-4109-a0f7-2f344eee77fc.png)

**Versions Used**
KubeSphere: v3.2.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to hel

[2022-09-04 06:21] lucumt opened #5195 "KubeSphere doesn't support LDAP anonymous configuration"
**Versions Used**
KubeSphere: v3.1.1

**What's it about?**
When integrate `LDAP` into KubeSphere,we must specify `managerDN` and `managerPassword`,it doesn't support  anonymous  configuration.

if we config `LDAP` without `managerDN` and `managerPassword`, we can not login success.

* login result:
  ![image](https://user-images.githubusercontent.com/5226038/188300200-4bf64dba-0ca9-4e3b-ab6c-ce03f

[2022-09-04 11:28] wansir commented on #5195
/cc @zhou1203
/kind feature-request
/area auth

[2022-09-05 02:49] luoMonkeyKing opened #5197 "ingresscontroller and ingressgateway"
This is not a bug. It's just that I didn't understand some things when I researched the servicemesh of kubesphere recently, and I didn't find relevant information. I hope to get some help, thank you.
question:
1. Is the istio in kubesphere not using the istio-ingressgateway component, but using the ingress-controller component under the kubesphere-controls-system namespace?
2. How is the gateway c

[2022-09-05 10:26] Gerrylinux commented on #5067
Front end code file：（console/src/stores/terminal.js）
When entering the terminal, access the websocket interface, and the shell seems to be set to sh,
The back-end code only adjusts and modifies the data priority, which should not be realized
The retry logic of the back-end terminal. When testing the first bash, the failure to enter the container terminal will cause the websocket link to close. The

[2022-09-05 14:02] whensuc commented on #5185
me too

[2022-09-05 14:40] wansir commented on #5185
/cc @zhou1203 @wenxin-01

[2022-09-06 07:51] hongzhouzi commented on #5197
1. Kubesphere:v3.2 does not use istio-ingressgateway, in kubesphere:v3.3 support configuration to install istio-ingressgateway.
2. Kubesphere gateway has no direct relationship with VirtualService in istio, kubesphere gateway adds it to the servicemesh by turn on the tracing, and by default VirtualService corresponding to the kubesphere gateway is not generated.

[2022-09-06 08:11] luoMonkeyKing commented on #5197
That's it, thank you very much！

[2022-09-06 08:54] hongzhouzi commented on #5197
/close

[2022-09-07 01:49] yongxingMa opened #5198 "Application Routing Rule when service type is externalName，no endpoint。"
**Describe the Bug**
A clear and concise description of what the bug is.

When the service type is externalName,
The routing rule be saved when write 80 is failed,
But in fact it can be saved when edit yaml in cluster。

<img width="1054" alt="image" src="https://user-images.githubusercontent.com/31605966/188770391-7d6c86e3-d300-42ef-be34-0169259355c7.png">
<img width="1363" alt="image" src="https:

[2022-09-07 05:47] a52074137 commented on #5185
Does anyone have a solution? It's urgent

[2022-09-07 06:32] FatuityCookie opened #5199 "pipeline cron error"
**Describe the Bug**
Internal Server Error
parsing time "2022 at 8:20:36 PM Coordinated Universal" as "Monday, January 2, 2006 15:04:05 PM": cannot parse "2022 at 8:20:36 PM Coordinated Universal" as "Monday"

![image](https://user-images.githubusercontent.com/46119806/188805455-1ae8cd53-edc9-48a8-894b-152fd29afe1d.png)

**Versions Used**
KubeSphere: v3.3.0
Kubernetes: (If KubeSphere installer use

[2022-09-07 06:56] FatuityCookie commented on #5199
jenkins

[2022-09-07 08:58] #5197 closed

[2022-09-07 10:06] #5181 closed

[2022-09-07 12:19] shenhonglei opened #5203 "Allocate namespaces to specified workspaces in batches"
**What's it about?**

**What's the reason why we need it?**

**What would you like to be added**:
can assign namespaces to specified workspaces **in batches** on the interface

**Why is this needed**:
I have 8 newly managed member clusters. Each cluster has multiple namespaces. I need to allocate namespaces to the specified workspaces **in batches**.

**Area Suggestion**

/kind feature-request

![

[2022-09-07 13:09] weili520 commented on #5155
/assign

[2022-09-08 03:09] a52074137 commented on #5185
@zhou1203 @wenxin-01

[2022-09-08 07:47] harrisonliu5 commented on #5155
/kind need-to-verify

[2022-09-08 09:24] glinkin opened #5204 "JS ERROR: kubesphere-router-kubesphere-system/monitors"
**Versions Used**
KubeSphere: v3.2.1

**How To Reproduce**
Steps to reproduce the behavior:
1. /clusters/host/gateways/cluster/kubesphere-router-kubesphere-system/monitors
2. White screen

**Error in console**
[code]

[2022-09-08 10:14] aliuq opened #5205 "prometheus app can't added to grafana"
**Describe the Bug**

我通过官网的案例，安装了 [prometheus-example-app](https://kubesphere.com.cn/docs/v3.3/project-user-guide/custom-application-monitoring/examples/monitor-sample-web/)，无法在 grafana 上添加为数据源，提示404错误，但是在容器内部，是有数据的

![image](https://user-images.githubusercontent.com/11707934/189096986-70bb59b1-2c6f-4912-b7f3-2697898e2629.png)

在 grafana 上添加为数据源，提示错误 `Error reading Prometheus: client_error: clien

[2022-09-08 16:18] luoMonkeyKing commented on #5197
Sorry to bother you again, I re-read this piece, and there is one thing I don't quite understand, that is how the gateway of kubesphere is bound to the service of istio, I only saw the service of istio configured in ingress

[2022-09-09 00:33] #4737 closed

[2022-09-09 00:33] #4687 closed

[2022-09-09 00:33] #4535 closed

[2022-09-09 00:33] #4733 closed

[2022-09-09 00:33] #4728 closed

[2022-09-09 00:33] #4538 closed

[2022-09-09 00:33] #4453 closed

[2022-09-09 00:33] #4744 closed

[2022-09-09 00:33] #4742 closed

[2022-09-09 00:33] #4753 closed

[2022-09-09 00:33] #4748 closed

[2022-09-09 00:33] #4750 closed

[2022-09-09 00:33] #4788 closed

[2022-09-09 00:33] #4789 closed

[2022-09-09 00:33] #4295 closed

[2022-09-09 00:33] #4782 closed

[2022-09-09 00:33] #4796 closed

[2022-09-09 00:33] #4802 closed

[2022-09-09 00:33] #4791 closed

[2022-09-09 01:40] hongzhouzi commented on #5197
The service discovery in istio is based on the service in k8s, and the service configuration is generated when the kubesphere  gateway is turned on.

[2022-09-09 01:55] wenxin-01 commented on #5185
I used the same configuration to succeed in ks3.2.1 and ks3.3.1, it is recommended to restart the server and try again. @a52074137
[code]

[2022-09-09 01:58] a52074137 commented on #5185
Do you mean restart KS-Installer? It will restart automatically after each update. I have also manually restarted, but it is invalid. There are also several people in the community and wechat group who have the same situation as me, It's not just about what happened to me

[2022-09-09 02:07] a52074137 commented on #5185
@wenxin-01 ks3.3.1? or  ks 3.3.0

[2022-09-09 02:12] wenxin-01 commented on #5185
No, restart server. I tested and found that after modifying the configuration, ldap did not take effect. But after restarting the server, ldap took effect. No specific reason has been found for the time being, maybe you can try this method first.

[2022-09-09 02:30] a52074137 commented on #5185
Restart the control node or restart the worker node together

[2022-09-09 02:50] a52074137 commented on #5185
I restarted the workstation where KS-Installer is located, but it still doesn't work. I restarted the server on all the nodes, and it now works

[2022-09-09 03:04] wenxin-01 commented on #5185
Ok, you can be solved temporarily with this method, and I will continue to look for the specific reason. Thanks for the feedback.

[2022-09-09 03:34] a52074137 commented on #5185
But now the mail property is not active
![image](https://user-images.githubusercontent.com/67043152/189266442-81b4adba-2eda-4a9a-8667-3ee7a59ef737.png)
![image](https://user-images.githubusercontent.com/67043152/189266496-d3a6a9cf-e1be-423c-93ee-113d1273c7fe.png)

[2022-09-09 03:45] hongzhouzi commented on #5198
@harrisonliu5 This is a ks-console bug, the manually entered ports are not converted to numbers and saved.

[2022-09-09 03:46] hongzhouzi commented on #5198
/area console

[2022-09-09 04:10] hongzhouzi commented on #5204
This issue has been fixed in v3.3, thanks.
PR: https://github.com/kubesphere/console/pull/2900

[2022-09-09 06:09] a52074137 commented on #5185
@wenxin-01

[2022-09-09 06:31] wenxin-01 commented on #5185
It's ok in my test, you can change 'Email' to 'mail'. @a52074137
![image](https://user-images.githubusercontent.com/68640256/189285791-b8022897-d6e2-4386-8359-a854204659ae.png)
![image](https://user-images.githubusercontent.com/68640256/189285980-9ece2154-2c4a-4509-9056-06a23353862f.png)

[2022-09-09 06:37] a52074137 commented on #5185
I've tried both mail and Email, but I can't get the value
![image](https://user-images.githubusercontent.com/67043152/189286771-4ec79f37-f99e-4f0e-ba13-329c9852f3de.png)

[2022-09-09 06:43] a52074137 commented on #5185
Do we have to restart the server again

[2022-09-09 07:27] glinkin commented on #5204
Thank you. Work 3.3

[2022-09-09 07:27] #5204 closed

[2022-09-09 07:29] luoMonkeyKing commented on #5197
Sorry, I still don't understand the role of the gateway under the namespace kubesphere-controls-system

[2022-09-09 08:19] a52074137 commented on #5185
2022-09-09 08:19:04.419+0000 [id=29]	SEVERE	jenkins.InitReactorRunner$1#onTaskFailed: Failed ConfigurationAsCode.init

 java.lang.IllegalArgumentException: Each server configuration must have a unique setup. At least two configurations have the same server(s), root DN, User search base and User search filter.

 	at hudson.security.LDAPSecurityRealm.<init>(LDAPSecurityRealm.java:507)

 Caused: java

[2022-09-09 08:20] a52074137 commented on #5185
[code]

[2022-09-09 09:03] luoMonkeyKing commented on #5197
ok， thank you very much！

[2022-09-09 09:03] luoMonkeyKing commented on #5197
ok， thank you very much！

[2022-09-09 13:03] FlanniganColum opened #5207 "Full cluster shutdown - Core pods wont recover due to Get "https://10.233.0.1:443/api?timeout=32s": dial tcp 10.233.0.1:443: i/o timeout"
**Describe the Bug**
After the 4 node cluster (2 master & 2 worker) was shutdown fully, and then started up with masters first, loads of the pods will no longer start up due to an error "Get "https://10.233.0.1:443/api?timeout=32s": dial tcp 10.233.0.1:443: i/o timeout"

I am new to the k8s scene so i am unsure why kubesphere is given this error when the service for that ip is installed

**Version

[2022-09-10 18:04] expandboard commented on #5140
This issue solved in another test by increasing RAM memory to 10GB in VM and works.👌

[2022-09-13 08:00] yongxingMa opened #5208 "After the alarm function is enabled, historical data will not be stored in the alarm history."
After the alarm function is enabled, historical data will not be stored in the alarm history.
What should I configure it

![image](https://user-images.githubusercontent.com/31605966/189844737-1ab448df-f835-48cf-97d6-a2f854f61811.png)

[2022-09-13 09:26] weili520 commented on #5177
![屏幕截图 2022-09-13 172514](https://user-images.githubusercontent.com/33231138/189864883-93b30a22-57d2-41c3-a62b-fa5b8f5dd3f2.png)

[2022-09-13 09:46] harrisonliu5 commented on #5177
/kind need-to-verify

[2022-09-13 10:23] shenhonglei opened #5209 "settings/dingtalk needs to improve DingTalk to support forward proxy settings"
**What's it about?**

Enterprise WeChat, the proxy configuration in the intranet environment is
kubectl edit nc default-wechat-config
add spec.wechat.wechatApiUrl
![1](https://user-images.githubusercontent.com/20896372/189877113-a62fb9a7-532a-4bec-8bf5-b6b6814df565.jpg)

However, DingTalk cannot support it for the time being, and the following configurations are not available
kubectl edit nc defau

[2022-09-14 04:39] willzhang opened #5210 "S2I and B2I not support containerd"
**What's it about?**

S2I and B2I not support containerd

![kubesphere-si2.png](https://s2.loli.net/2022/09/14/YjJGLy9UToq1hsg.png)

**What's the reason why we need it?**
containerd will be the default container runtime for kubernetes v1.24.x

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's a

[2022-09-14 08:24] mmmlz opened #5211 "要在龙芯适配kubesphere，部署依赖的镜像如何在龙芯上编译，是否有镜像编译文档"
kubesphere部署所依赖的镜像怎么自己编译？是否有编译文档？

[2022-09-14 09:56] FlanniganColum opened #5214 "Grayscale Release - Still sending traffic to old version"
**Describe the Bug**
When creating a grayscale "Blue-Green Deployment" i notice that in the web application i am running the version number changes back from the new to the old on page reloads so its like the Gateway/Ingress Routes is load balancing between the old and new version within the Blue-Green deployment. I have also tried the Traffic Mirroring and Canary release and all are the same, no

[2022-09-15 11:17] ks-ci-bot opened #5216 "[release-3.3] Fix: when placement is empty return error"
Manual cherrypick required.

#5213 failed to apply on top of branch "release-3.3":
[code]

[2022-09-16 03:05] jioce commented on #5149
There are still untranslated parts
![image](https://user-images.githubusercontent.com/88183150/190547899-a6f7e445-0b84-44cf-a6ee-1f841a4e5fb5.png)

version used：kubesphere v3.3.1-rc.2

[2022-09-16 03:11] jioce commented on #5155
issue is fixed in v3.3.1-rc.2
![image](https://user-images.githubusercontent.com/88183150/190548764-febe2d4a-1973-40be-bf3d-ee1ac4c60225.png)

[2022-09-16 03:24] jioce commented on #5149
![image](https://user-images.githubusercontent.com/88183150/190550155-300231ff-c776-4150-9c69-e1e467cdfd53.png)

[2022-09-16 03:30] jioce commented on #5006
issue is fixed in v3.3.1-rc.2

[2022-09-16 08:08] wenxin-01 commented on #5149
![image](https://user-images.githubusercontent.com/68640256/190588967-f744c359-d02f-475f-ad39-8f8cdcd7a7a8.png)

[2022-09-16 08:11] wenxin-01 commented on #5149
![image](https://user-images.githubusercontent.com/68640256/190589836-dca5835a-c5a6-4297-a586-e2fa6ff77d5d.png)

[2022-09-16 09:38] xyz-li commented on #5156
/assign @VioZhang

[2022-09-16 09:56] jioce commented on #5149
![image](https://user-images.githubusercontent.com/88183150/190612122-0c909936-19ff-4718-9c35-4e8e779bba60.png)

[2022-09-16 11:16] #5216 closed

[2022-09-17 06:47] 26tanishabanik commented on #5190
@Argalep , I am not totally sure, but it might be due to division issues, like truncation and all
What does the command `kubectl top pods -namespace` show?

[2022-09-17 08:12] kingcr7 commented on #5153
参考：https://kubesphere.com.cn/forum/d/7610-ks-330-ks-apiserver-crash/6 ，额外手动部署crd资源。感觉是installer漏掉了。

[2022-09-19 02:46] wenxin-01 opened #5220 "Role 'platform-self-provisioner' should not be edited."
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/190942134-669f53e4-1f75-48eb-a0f6-f2df5a72f5c5.png)

**Versions Used**
KubeSphere:  `v3.3.1-rc.2`

[2022-09-19 02:46] wenxin-01 commented on #5149
![image](https://user-images.githubusercontent.com/68640256/190941322-336bcbd1-c7d8-4936-b6e5-aa966726c545.png)

[2022-09-19 03:15] wenxin-01 opened #5221 "Role 'platform-self-provisioner' should be able to delete worksapce created by it's self"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/190944236-d67fd304-50dc-455d-91b5-3b3a5d966c1e.png)

**Versions Used**
KubeSphere:  `v3.3.1-rc.2`

[2022-09-19 03:30] jioce commented on #5149
<img width="960" alt="1663557964902" src="https://user-images.githubusercontent.com/88183150/190945329-ff4f06d1-b358-4bb6-af0c-2c4a357d833c.png">

[2022-09-19 05:48] jioce opened #5222 "Proxy connected clusters should not have an update kubeconfig button"
**Describe the Bug**
1、There is a multi-cluster environment, the mem cluster is a proxy connection, enter the cluster - "cluster settings -" basic information, click management, and display the update kubeconfig button
![image](https://user-images.githubusercontent.com/88183150/190955963-b2c02b56-562a-48b7-9e77-42fc0fd895ab.png)\

**Versions Used**
KubeSphere: v3.3.1-rc.2
ks-console: weili520/ks-c

[2022-09-19 05:58] wenxin-01 commented on #5149
![image](https://user-images.githubusercontent.com/68640256/190957205-e1169514-a294-4c78-82ef-cdce8340c43b.png)

![image](https://user-images.githubusercontent.com/68640256/190957229-7b9d06ef-b77a-413d-9d97-2296991cecfd.png)

[2022-09-19 06:11] jioce commented on #5149
![image](https://user-images.githubusercontent.com/88183150/190958681-a2ee92bc-f533-4e98-b5c6-89efc0381522.png)

[2022-09-19 06:27] jioce commented on #5149
![image](https://user-images.githubusercontent.com/88183150/190960439-01e580c3-ab0d-4dfa-96ca-06d9dbba1c8f.png)

[2022-09-19 07:07] wenxinll opened #5223 "The platform role 'Cluster Management' can not access node terminal."
**Describe the Bug**

![image](https://user-images.githubusercontent.com/68640256/190965330-8a837192-8688-4c05-b333-d98cdb54d73a.png)
![image](https://user-images.githubusercontent.com/68640256/190965639-eeb3e2a8-837d-4a19-aa5d-1f30068384c2.png)

![image](https://user-images.githubusercontent.com/68640256/190965570-29509c3f-0989-4bb9-ab2e-b7a327f42e8f.png)

URL: `/kapis/resources.kubesphere.io/v1a

[2022-09-19 07:29] wenxin-01 opened #5224 "The permissions of access control in workspace role is wrong."
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/190968427-dff7032e-1a48-46b5-ab0e-e3586fc803e1.png)

**Versions Used**
KubeSphere:   `v3.3.1-rc.2`

**Expected behavior**
The permissions of access control in workspace role should be `Department Viewing`, `Role Viewing`, `Member Viewing`.

[2022-09-19 07:36] harrisonliu5 commented on #5222
/kind need-to-verify

[2022-09-19 07:39] wenxin-01 commented on #5149
![image](https://user-images.githubusercontent.com/68640256/190970570-53237de7-1c01-4570-961e-e43fb0431bec.png)

[2022-09-19 07:51] wenxin-01 commented on #5149
![image](https://user-images.githubusercontent.com/68640256/190972255-39edb9eb-c62e-48c6-b2ec-177997c70abf.png)

[2022-09-19 08:05] wenxin-01 opened #5225 "The cluster role 'cluster-admin' and 'cluster-viewer' have no entry to cluster and resource consumption."
**Describe the Bug**

When a user does not have the cluster permission of the platform but is `invited to a cluster`, the user should be able to view the information of the cluster and be able to view the resource consumption information of this cluster.

![image](https://user-images.githubusercontent.com/68640256/190974048-4d9fd818-2439-4aca-b260-abdadafba93d.png)

![image](https://user-images.gi

[2022-09-19 08:37] patrickluoyu commented on #5149
Fixed in PRs [3739](https://github.com/kubesphere/console/pull/3739), [3743(]https://github.com/kubesphere/console/pull/3743), and [3748](https://github.com/kubesphere/console/pull/3748).

[2022-09-19 08:39] jioce commented on #5149
![image](https://user-images.githubusercontent.com/88183150/190980048-87a3e6ad-767c-4b48-a5ab-3bc6985d261c.png)

![image](https://user-images.githubusercontent.com/88183150/190980111-0412329c-efed-414e-9cd6-04872c9b4ef9.png)

[2022-09-19 08:40] patrickluoyu commented on #5149
This is caused by a change in the backend code and the change is incorrect. The backend code needs to be reverted to resolve this issue, which has been confirmed by @wansir.

[2022-09-19 08:46] #4817 closed

[2022-09-19 09:55] wenxin-01 opened #5226 "Role 'platform-self-provisioner' can not select public cluster when create workspcae."
**Describe the Bug**
There is a user test, it's platform role is `platform-self-provisioner` and not a member of any cluster.

![image](https://user-images.githubusercontent.com/68640256/190992284-16cd3243-ab4f-4582-90ca-ce4c0f89c430.png)
![image](https://user-images.githubusercontent.com/68640256/190992203-2457f8d2-2168-4b5f-b335-50d6f58a3f0f.png)
![image](https://user-images.githubusercontent.co

[2022-09-19 11:24] wansir opened #5227 "Invalid config file will be ignored"
**Describe the Bug**

Invalid config file will be ignored without any error logs after startup. It's obscure and should not be tolerated.

**Versions Used**

KubeSphere: v3.3.0

**Expected behavior**

Report the error clearly if an invalid config file is found.

[2022-09-20 01:34] #5155 closed

[2022-09-20 02:00] wenxin-01 commented on #5177
issue fixed in `ks 3.3.1-rc.2`

[2022-09-20 02:00] #5177 closed

[2022-09-20 02:06] #5227 closed

[2022-09-20 02:27] junotx opened #5229 "upgrade prometheus dependency version"
**What's it about?**

upgrade prometheus dependency version in go.mod which may also involve upgrade dependency of prometheus-operator, alertmanager, etc.

**What's the reason why we need it?**

- alert rule validation requires newer prometheus dependency which import new funtion supports
- related libraries provide more enhancements

**Area Suggestion**

/area monitoring

[2022-09-20 03:01] wenxin-01 opened #5230 "Workspace custom role, no matter what permissions are set, you can access projects、devops projects and workspace settings."
**Describe the Bug**
There is a user wx, it's platform-role is `platform-regular`, the workspace-permission is `App Repository Viewing  |  App Repository Management`.
This user only can  manage repository, but it can see projects、devops projects and workspace settings.

![image](https://user-images.githubusercontent.com/68640256/191156580-684bbbad-1668-4d9d-8f0d-4aaafa37035d.png)

![image](https:/

[2022-09-20 03:04] zhou1203 commented on #5226
![image](https://user-images.githubusercontent.com/34303854/191157781-5cfbae4f-eb3e-4d9d-8589-0c6f7b261d67.png)
There should be replaced with `/kapis/resources.kubesphere.io/v1alpha3/clusters`, right?

[2022-09-20 04:01] zhou1203 commented on #5221
From the current design point of view, it is the expected behavior that self-provisoner cannot delete the workspaces created by itself.

[2022-09-20 05:55] #5006 closed

[2022-09-20 05:55] #5221 closed

[2022-09-20 07:32] yijianguanzhu commented on #5189
我没多长时间就装好了，看起来是你这镜像配置没生效

[2022-09-20 07:46] zhou1203 commented on #5230
We make these entries open to everyone, but only those invited into the project can see the project

[2022-09-20 07:57] weili520 commented on #5226
![截屏2022-09-20 15 54 23](https://user-images.githubusercontent.com/33231138/191200399-c7c5b7dd-ee08-4c0a-8497-de3ced92d4b6.png)

`/kapis/resources.kubesphere.io/v1alpha3/clusters` is incrrect.

[2022-09-20 08:14] wenxin-01 commented on #5230
The user did not been invited to project/devops project, but it can see those projects/devops project.

[2022-09-20 08:40] hongzhouzi opened #5231 "gateway upgrade with checksum error"
**Describe the Bug**
Project gateway upgrade with checksum error.
upgrade version: v3.1.1 to v.3.2.1

<img width="1039" alt="image" src="https://user-images.githubusercontent.com/36416216/191208099-deef5134-2eb8-40eb-9533-fb73be50ea6b.png">

**Versions Used**
KubeSphere: v3.2.1

[2022-09-20 09:18] #5230 closed

[2022-09-20 09:31] vincenthe11 opened #5233 "support hpa v2"
**What's it about?**
horizontalpodautoscaler support v2 version

**What's the reason why we need it?**
Kubernetes 1.19 begin support hpa v2
![Uploading image.png…]()

/area console
/area monitoring
/kind feature-request

[2022-09-20 09:38] urizenk opened #5234 "当安装不同仓库来源的gitlab失败后，无法删除crd，并且新安装gitlab时报错"
gitlab第一次安装为应用商店最新版的
在安装的配置文件里修改了域名，固定IP，以及认证的邮箱：

第一次安装时，gitlab-runner始终访问不到配置的域名

之后再安装，报这个错误：
错误：呈现的清单包含已存在的资源。无法继续安装：命名空间“”中的 CustomResourceDefinition“challenges.acme.cert-manager.io”存在且无法导入当前版本：所有权元数据无效；注释验证错误：键“meta.helm.sh/release-name”必须等于“gitlab-1jnuqp”：当前值为“jh-gitl-slx8ln”

以管理员身份进入集群设置也无法将其删除，每次都是显示删除结果却删除不掉

在项目中把之前建立的相关的pod和服务删除掉也没办法，还是报：
错误：呈现的清单包含已存在的资源。无法继续安装：命名空间“”中的 CustomResourc

[2022-09-20 09:47] zhou1203 commented on #5223
We know the cause of this bug, but considering that `Cluster Management` has the risk of overreaching, this role may be fixed in the next version

[2022-09-20 10:08] #5234 closed

[2022-09-20 10:12] Macrow commented on #5112
1.配置字典里面 ```ks-devops-agent```不要添加自定义localRepository配置
2.配置字典```jenkins-casc-config```核实一下是否包含以下配置
[code]
3.到你的服务器查看```/var/data/jenkins_maven_cache```目录，核实一下缓存是否生效

[2022-09-20 10:19] wenxin-01 commented on #5223
ok

[2022-09-20 10:26] zhou1203 commented on #5220
/assign @weili520

[2022-09-21 06:21] wenxin-01 opened #5235 "Platform permission 'Workspace Viewing' can not access federated project"
**Describe the Bug**
There is a user wx2, it's platform permission is `Workspace Viewing`. it can see all worksapce and resource in workspace, but can not access details of federated project.

![image](https://user-images.githubusercontent.com/68640256/191428205-e4e853b5-be84-4bb1-854b-72115f190b7a.png)
![image](https://user-images.githubusercontent.com/68640256/191428269-8b35eb73-d503-440c-b59a-d

[2022-09-21 07:35] wenxinll opened #5237 "Some pages that can be accessed through url without permission."
**Describe the Bug**
There is a user wx, it's platform permission is `platform-regular`, but it can access those page though url.
http://xxxx/access/accounts
http://xxxx/apps-manage/store

**Versions Used**
KubeSphere:  `v3.3.1-rc.2`

[2022-09-21 18:05] 26tanishabanik commented on #3358
@LinuxSuRen , @FeynmanZhou  , can you assign this issue to me?

[2022-09-21 18:10] 26tanishabanik commented on #5199
@FatuityCookie , can you tell me, how to reproduce this error?

[2022-09-22 00:36] LinuxSuRen commented on #3358
hi @26tanishabanik , thanks for your interest in this issue. Please feel free to take it with the following command:

`/assign`

Currently, all the Jenkins podTemplates maintained in https://github.com/kubesphere-sigs/pipeline-templates/tree/main/featured/jenkins-agents

[2022-09-22 00:37] LinuxSuRen commented on #3358
/area devops

[2022-09-22 02:35] #4812 closed

[2022-09-22 02:35] #4848 closed

[2022-09-22 02:35] #4771 closed

[2022-09-22 02:35] #4653 closed

[2022-09-22 02:35] #4859 closed

[2022-09-22 02:35] #4842 closed

[2022-09-22 02:35] #4654 closed

[2022-09-22 02:35] #4400 closed

[2022-09-22 02:35] #4810 closed

[2022-09-22 02:35] #4816 closed

[2022-09-22 02:35] #4821 closed

[2022-09-22 02:35] #4727 closed

[2022-09-22 02:35] #4823 closed

[2022-09-22 02:35] #4824 closed

[2022-09-22 02:35] #4832 closed

[2022-09-22 03:27] adminliulong opened #5239 "kubesphere 自定义用户角色"
自定义用户角色不赋予任何权限。
创建用户后指定自定义角色权限后，还是能看到软件商店，并且还是能够拉取商店软件。

[2022-09-22 05:30] 26tanishabanik commented on #3358
/assign

[2022-09-22 05:30] 26tanishabanik commented on #3358
/assign

[2022-09-22 05:33] 26tanishabanik commented on #3358
@LinuxSuRen , the second step link is not valid, can you check it?

[2022-09-22 05:34] 26tanishabanik commented on #3358
@LinuxSuRen , the second step link is not valid, can you check it?

[2022-09-22 05:57] LinuxSuRen commented on #3358
hi @26tanishabanik , forget about that. Please see also https://github.com/kubesphere-sigs/pipeline-templates only.

[2022-09-22 13:13] rayshen3 opened #5241 "啥时候支持k8s 1.24"
啥时候支持k8s 1.24

[2022-09-23 02:22] zhou1203 commented on #5220
/kind need-to-verify

[2022-09-23 03:46] hongzhouzi opened #5242 "Cluster gateway logs and resource status display exception"
**Describe the Bug**
The namespace is removed from the gateway configuration in kubesphere-config, and the logs and resource status display
 exceptions are queried in the gateway management page after the cluster gateway is turned on.

Cluster Gateway Log Display  Exception:
![image](https://user-images.githubusercontent.com/36416216/191886244-7f1073f3-bb7f-4595-b5d7-5e3bfb8232dd.png)
The pods cor

[2022-09-23 03:48] zhou1203 commented on #5224
Fixing deparment management in this PR https://github.com/kubesphere/ks-installer/pull/2112

[2022-09-23 03:51] zhou1203 commented on #5224
The workspace member view has been deleted and incorporated to workspace role basic in this version

[2022-09-23 04:32] ZengIan opened #5243 "ks 3.3 cluster role-BUG"
**Describe the Bug**
I create a user to demo01, platformrole is platform-regular, there are host cluster and member cluster, then i invite demo01 to member cluster as a cluster-admin role. login in ks-console use demo01, it had a api fobidden error:
[code]
![bfabe3397b9ee9f01772329f88035c0](https://user-images.githubusercontent.com/41040520/191892392-6b4f78f7-20ff-437e-98af-112509d302d9.jpg)
![d61

[2022-09-23 05:56] hongzhouzi commented on #5242
/assign

[2022-09-23 06:35] wenxin-01 commented on #5239
app-store 不需要权限

[2022-09-23 07:40] bbhxwl opened #5244 "Installation failed"
Installation failed
./kk create cluster --with-kubernetes v1.22.10 --with-kubesphere v3.3.0

![image](https://user-images.githubusercontent.com/26525599/191912944-a1e2c428-077c-494e-8ea8-eb6e45e372e0.png)

[2022-09-23 18:35] bbhxwl commented on #5244
error #0: dial tcp 174.139.160.***:2379: connect: connection refused: Process exited with status 1
02:36:36 CST retry: [KT1]
02:36:41 CST message: [KT1]
etcd health check failed: Failed to exec command: sudo -E /bin/bash -c "export ETCDCTL_API=2;export ETCDCTL_CERT_FILE='/etc/ssl/etcd/ssl/admin-KT1.pem';export ETCDCTL_KEY_FILE='/etc/ssl/etcd/ssl/admin-KT1-key.pem';export ETCDCTL_CA_FILE='/etc/ssl/

[2022-09-26 00:54] BigFCat commented on #4816
我觉得也是，不然如果集群迁移，真的太麻烦了。devops需要全部重建

[2022-09-26 01:03] rayzhou2017 commented on #4816
check https://kubesphere.cloud/self-service/disaster-recovery/

[2022-09-26 02:32] zhou1203 commented on #5243
/assign @zhou1203

[2022-09-26 03:49] zhou1203 commented on #5150
/assign @weili520

[2022-09-26 03:50] wenxin-01 commented on #5225
After setting permissions, wait about two minutes. You can see the cluster management and resource consumption entry.

[2022-09-26 07:08] wenxinll opened #5246 "Users who are not invited to the cluster should not see the cluster."
**Describe the Bug**
There is a user wx, his platform-role is `platform-regular`. He has been invited to cluster `test-host`and not to cluster `member`.

`/kapis/resources.kubesphere.io/v1alpha3/clusters?sortBy=createTime&limit=10`

![image](https://user-images.githubusercontent.com/68640256/192213453-44222dc0-00ea-4c57-b659-e0a286d38ead.png)

`/kapis/resources.kubesphere.io/v1alpha3/clusters?page

[2022-09-26 15:24] nanjofan commented on #5199
I encounter this bug，too

[2022-09-27 02:16] #5150 closed

[2022-09-27 02:39] #5224 closed

[2022-09-27 06:26] #5083 closed

[2022-09-27 07:11] #5242 closed

[2022-09-27 08:18] tankilo commented on #5013
Is there a hotfix release version or any manually repair solution?

[2022-09-27 08:43] wenxin-01 commented on #5013
The official version has not been released yet, you can temporarily solve it manually.
`kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/release-3.3/roles/ks-core/prepare/files/ks-init/role-templates.yaml`

[2022-09-27 17:15] kalavt opened #5251 "unsupported elasticsearch version AWS opensearch"
configure AWS opensearch as external ES host will throw unsupported error:

`
    es:
      basicAuth:
        enabled: false
        password: ''
        username: ''
      elkPrefix: logstash
      externalElasticsearchHost: elasticsearch-master.default
      externalElasticsearchPort: '80'
`

Error:

`unsupported elasticsearch version map[build_date:2022-07-20T07:52:28.943689Z build_hash:unknow

[2022-09-28 03:27] wenxin-01 commented on #5149
v3.3.1-rc.3
![image](https://user-images.githubusercontent.com/68640256/192680789-97b81f88-b478-4b56-ab46-64864a4b713a.png)

[2022-09-28 03:28] wenxin-01 commented on #5220
issue fixed in `v3.3.1-rc.3`
![image](https://user-images.githubusercontent.com/68640256/192680952-9c393278-6759-4756-9707-6472a65ea931.png)

[2022-09-28 03:28] #5220 closed

[2022-09-28 03:36] wenxin-01 commented on #5224
Issue fixed in `v3.3.1-rc.3`
![image](https://user-images.githubusercontent.com/68640256/192681807-2ca69a4e-d0fb-431c-b6b7-e651e036ed46.png)

[2022-09-28 04:06] Veryclouder opened #5252 "Project admin can't create workload, when workspace role isn't admin!"
**Describe the Bug**
Project admin can't create workload, when workspace role isn't admin!

**Versions Used**
KubeSphere: v3.2.1
Kubernetes: v1.21.10

**How To Reproduce**
Steps to reproduce the behavior:
1. Invite user to  xxx workspace and role is self-provisioner
2. Invite user to xxx project and role is admin
3. Now, I create a workload in this project
4. Eventually, I click create button to c

[2022-09-28 04:20] Veryclouder commented on #5252
I think authority should be minimized.Therefore, authority should be based on project, not is workspace admin!

[2022-09-28 06:36] wenxin-01 opened #5253 "Permission 'Workspace Viewing' should not see some button 'system-workspace'"
**Describe the Bug**
There is a user  test, his permission of platform in 'Workspace Viewing'.

The user does not have the permission as shown in the figure below, but can operate these buttons.

![image](https://user-images.githubusercontent.com/68640256/192705381-159e401a-1009-4233-a79f-532c351c5849.png)

![image](https://user-images.githubusercontent.com/68640256/192705486-78dc089f-aa2d-455b-83

[2022-09-28 06:47] FatuityCookie commented on #5199
create a pipeline then edit it

[2022-09-28 06:47] FatuityCookie commented on #5199
@26tanishabanik create a pipeline then edit it

[2022-09-28 08:18] wenxin-01 opened #5254 "The basic information of worksapce can not be edit"
**Describe the Bug**
There is a user, his role is `platform-admin`. He can not edit information and set network isolation of workspace.

URL: `/kapis/tenant.kubesphere.io/v1alpha3/workspacetemplates/test`

![image](https://user-images.githubusercontent.com/68640256/192726003-90a49e2e-0b6c-4782-be6a-3b338ae260d5.png)
![image](https://user-images.githubusercontent.com/68640256/192726122-4f4669b6-82c

[2022-09-28 09:52] Veryclouder commented on #5252
[](url)

[2022-09-28 10:36] zhou1203 commented on #5254
/asign @weili520

[2022-09-28 10:39] zhou1203 commented on #5254
/assign @weili520

[2022-09-28 11:06] zhou1203 commented on #5225
After testing, I found that this bug only occurs in a single cluster, which is a little different from multi-cluster in processing. So I suggest that moving out this issue from millstone v3.3.1, and we will handle in the next release.

[2022-09-29 03:30] jioce commented on #5149
issue is still exist in v3.3.1-rc.3
![image](https://user-images.githubusercontent.com/88183150/192932227-db91501a-fc95-468b-86de-371bf21a3619.png)

[2022-09-29 10:39] ZengIan opened #5257 "A small bug about pod resource limit and request"
**Describe the Bug**
A clear and concise description of what the bug is.
if I only set resource limit, it's It is normal for YAML of workloads, but It is not normal for POD YAML, It causes the pod limit to be the same as the request, more details are as follows:
![a79a2d0a61a7c4789374993469af94a](https://user-images.githubusercontent.com/41040520/193010983-576a14c5-9c59-4ee6-a378-2108ddec145c.png)

[2022-09-29 13:26] FlanniganColum opened #5258 "Namespace deleted but remains in UI"
**Describe the Bug**
The namespace was deleted but it still shows in the UI and now when i try an re-create the namespace i can do through CLI, but when cannot access through the UI because the old still exists..

When i create the namespace through the UI i can then access the namespace but all the apps, storage, pods, etc.. from the last namespace still exists and i cannot delete, access or anyt

[2022-09-30 01:45] wenxin-01 commented on #5226
Issue fixed in `ks v3.3.1-rc.3`

[2022-09-30 03:06] zhou1203 commented on #5149
Fixed in PR https://github.com/kubesphere/ks-installer/pull/2122

[2022-09-30 03:33] joeevon opened #5259 "create virtual machine through kubevirt, but in insufficient ip avaliable"
**What's it about?**

i create 6 virtual machines, but only 4 ip could be assigned, so corresponding pod always in creating.

![lQLPJxa7K2gFd-TNBIXNBPuwBy7xtZQ5-mgDM7mTP4DOAA_1275_1157](https://user-images.githubusercontent.com/12859282/193184246-3329731e-e277-457b-b16d-04996289381a.png)

![lQLPJxa7K5EmCdTNBHLNCfWw3vkM7ZjIdN0DM7nWoACJAA_2549_1138](https://user-images.githubusercontent.com/12859282

[2022-09-30 04:45] wenxin-01 opened #5260 "Cluster-admin can not edit basic information and cluster visibility."
**Describe the Bug**
There is a user wx2, his platform role is `platform-self-provisioner`, and had been invite to cluster member-01 as `cluster-admin`.
This user can not edit basic information and cluster visibility.

![image](https://user-images.githubusercontent.com/68640256/193191890-d27bdc39-1a44-4c78-bc3e-5dd6b780322e.png)

![image](https://user-images.githubusercontent.com/68640256/19319189

[2022-09-30 04:53] wenxin-01 opened #5261 "platform-self-provisioner + cluster-admin can not see any clusters when created workspace."
**Describe the Bug**
There is a user test, his platform-role is `platform-self-provisioner`, and had been invited to cluster host as `cluster-admin`.
This user cannot see any clusters when created workspace.

**Versions Used**
KubeSphere:  `ks v3.3.1-rc.3`

**Expected behavior**
This user can see cluster host when created workspace.

[2022-09-30 06:28] jioce commented on #5222
issue is fixed in v3.3.1-rc.3

[2022-09-30 06:28] #5222 closed

[2022-09-30 09:29] marksmansj commented on #5193
do you solve this problem ?

[2022-09-30 09:45] hongzhouzi opened #5262 "The pod is already running, but the UI shows it as waiting"
**Describe the Bug**
Status.conditions has an extra ContainerDiskPressure of False which causes the pod status to be displayed incorrectly in the UI.
<img width="844" alt="image" src="https://user-images.githubusercontent.com/36416216/193241788-bf8d6b89-e597-411b-84ff-483e22c997f6.png">

**Versions Used**
KubeSphere: v3.2.1
Kubernetes: 1.20.4

[2022-09-30 09:46] hongzhouzi commented on #5262
/area console

[2022-09-30 09:54] wenxin-01 opened #5264 "From ks3.2.1/ks 3.3.0 upgrade to ks 3.3.1, workspaces-manager and users-manager still exist"
**Describe the Bug**
I use kubekey upgrade ks form v3.2.1/v3.3.0 to v3.3.1, platform-role `workspaces-manager` and `users-manager` still exist.

`./kk upgrade --with-kubesphere v3.3.1-rc.3`

![image](https://user-images.githubusercontent.com/68640256/193244792-eb251f30-578e-4b4a-9cd0-146de7d66dba.png)

**Versions Used**
KubeSphere:  `v3.2.1` and `v3.3.0`

[2022-09-30 10:21] zhou1203 commented on #5260
It is the expected behavior that clusterRole can not manage the cluster info, cause it belongs to the scope of Global

[2022-09-30 14:21] admintertar opened #5265 "Failed to bind to LDAP: userDnuid=admin,ou=Users,dc=kubesphere,dc=io username=admin"
Jenkins cannot trigger the pipeline correctly

kubesphere-version:3.3.0
jenkins-version:ks-jenkins:v3.3.0-2.319.1

jenkins.log

2022-09-30 14:18:25.685+0000 [id=35171]	WARNING	o.s.c.s.ResourceBundleMessageSource#getResourceBundle: ResourceBundle [org.acegisecurity.messages] not found for MessageSource: Can't find bundle for base name org.acegisecurity.messages, locale en
2022-09-30 14:18:25.696+00

[2022-10-01 00:55] #5251 closed

[2022-10-01 17:54] chavacava opened #5267 "Wrong struct tag name for `ldapProvider` field"
In the following code, the struct tag name for the yaml tag should be `host`

https://github.com/kubesphere/kubesphere/blob/71b5daaed04a72df8b2e1cd45199bf6593b73b2a/pkg/apiserver/authentication/identityprovider/ldap/ldap.go#L48

[2022-10-02 05:59] hoanbc opened #5269 "istio-proxy not ready on v3.3.0"
Hello anybody.
I had issues with istio-proxy when deploy on kubesphere v3.3.0. Log container show as the picture. Someone has fix it, please help me.
Kubesphere v3.3.0
Cloud provider: OKE ( Oracle cloud)

![image](https://user-images.githubusercontent.com/26288807/193440204-779b5541-1f97-443c-8aac-101932bbfe20.png)
![image](https://user-images.githubusercontent.com/26288807/193440186-979de41e-a771

[2022-10-02 16:56] gitwawa opened #5270 "x509: certificate is not valid for any names"
操作系统信息
虚拟机Centos7.9

Kubernetes版本信息
![image](https://user-images.githubusercontent.com/114865253/193466346-93f72fbf-0c1d-4aa0-8e31-ff6f32ecbcfb.png)

KubeSphere版本信息
平台版本3.3.0在线安装

问题是
服务器开了5六个月没关机,有一天发现docker的镜像发不上去了,以为docker账号密码改了,去下面的地方重新登录了一下发现报以下错误

镜像服务验证失败。
Get “https://index.docker.io/v2/”: x509: certificate is not valid for any names, but wanted to match index.docker.io
![image](https://us

[2022-10-03 17:32] maguoweng commented on #1789
thanks

[2022-10-03 17:33] maguoweng commented on #1789
![image](https://user-images.githubusercontent.com/103328485/193641826-a6b61a19-e096-4f53-ab45-a1d1db365285.png)

[2022-10-07 08:18] NKDYX opened #5272 "calico installation error"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**
when running ```/kk create cluster -f config-sample.yaml```,i had meet this error:
[code]
**Environment: OS & Hardware Information**
VMware ubuntu 22.04  4 Core 04G 20G
use kubernetes v1.19.7 kubesphere  3.3.0

and i have figure that out: the version of calico is not perfect

[2022-10-07 10:09] shuqingzai commented on #5180
3.3.0同样的问题

[2022-10-07 10:30] shuqingzai opened #5273 "Ubuntu 2204 Arm64 安装 v3.3.0 启用插件 一直卡在 Deploying minio"
**Describe the Bug**
启用插件时，`minio` 一直起不来

[code]
日志
[code]
调度事件
<img width="1485" alt="image" src="https://user-images.githubusercontent.com/44406033/194532072-294344b1-98da-4b26-abe6-148da7699f64.png">

容器日志
<img width="986" alt="image" src="https://user-images.githubusercontent.com/44406033/194531958-d4ecff39-8a29-4995-b43b-e187d42d69e4.png">

For UI issues please also add a screenshot that show

[2022-10-08 02:12] wenxin-01 commented on #5254
Issue fixed in `kubespheredev/ks-console:nightly-20221007`

[2022-10-08 02:12] #5254 closed

[2022-10-08 02:15] wenxin-01 commented on #5253
Issue fixed in `kubespheredev/ks-console:nightly-20221007`

![image](https://user-images.githubusercontent.com/68640256/194682979-56a294a3-32af-4eb3-b336-80cd7d6bbd5e.png)

![image](https://user-images.githubusercontent.com/68640256/194682992-21a84342-7441-480f-b5f8-b8101c5f2912.png)

[2022-10-08 02:15] #5253 closed

[2022-10-08 02:21] wenxin-01 commented on #5012
Issue fixed in `ks v3.3.1-rc.3`

[2022-10-08 02:21] #5012 closed

[2022-10-08 06:21] #5267 closed

[2022-10-08 09:23] kikyoulg opened #5276 "build devops pipeline , docker build step error docker: not found"
+ docker build -t registry.zet-fl.com/msmp/fedx-api:4.2.0 .
/home/jenkins/agent/workspace/fedx-apisr79t8/fedx-apis@tmp/durable-6f886104/script.sh: 1: docker: not found
script returned exit code 127

use 'kubectl exec -it ' to login in devops worker pod , cant run docker bash

[2022-10-09 12:19] wenxin-01 commented on #5059
Issue fixed in `v3.3.1-rc.3`

[2022-10-09 12:19] #5059 closed

[2022-10-10 00:22] bjdaijun opened #5277 "Offline ENV, kube-controller,kubesphere-apiserver, kubesphere-instaler... , imagePullPolicy=Always leads ks not work"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**What's your question**
After install ks , and cut off internet, kubesphere can not work. Some of kubesphere deployment start container failed.

And I check out the log, the reason is kubesphere-controller, kubesphere-api, kubesphere-installer, etc, Their imagePullPoliy is Alwa

[2022-10-10 01:29] wenxin-01 commented on #5149
ADD_CLUSTER_FOR_WORKSPACE @patrickluoyu
![image](https://user-images.githubusercontent.com/68640256/194788868-ab0fee3e-ad35-4c11-b1a6-22b107d26b11.png)

[2022-10-10 02:22] patrickluoyu commented on #5149
Fixed in https://github.com/kubesphere/console/pull/3799.

[2022-10-10 02:44] kikyoulg opened #5278 "cant find devops webhook url in 3.3.0"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help

[2022-10-10 07:54] wenxin-01 commented on #5149
CONFIGMAP_EMPTY_DESC @patrickluoyu
![image](https://user-images.githubusercontent.com/68640256/194820508-d99d04de-8139-47a1-a053-dfcf3acac23c.png)

[2022-10-11 02:31] bjdaijun opened #5280 "CRD Can not edit imagePullPolicy of kubesphere components such as deployment ks-api-server"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2022-10-11 07:50] #5280 closed

[2022-10-11 07:50] #5277 closed

[2022-10-11 07:54] bjdaijun opened #5281 "offline environment , kubesphere imagePullPolicy=Always leads to cluster stuck"
**Describe the Bug**
A clear and concise description of what the bug is.

Environment with no internet connection, kubesphere will stuck , because of It's default imagePullPolicy is Always.

So Kubephere will always pull it's component container such as ks-api ,ks-controller, etc. But without internet connection , It's will fail, and leads to kubesphere broken.

For UI issues please also add a scr

[2022-10-11 12:22] gdnotepad commented on #4810
I have this problem too.my config is :
<img width="755" alt="image" src="https://user-images.githubusercontent.com/16829988/195088472-9de2f053-98cd-4bdd-8a93-c8f4161e9995.png">

[2022-10-12 01:46] JasonChen86899 commented on #5013
this command not works

[2022-10-12 06:48] bjdaijun commented on #5281
It's seems that ks-installer will check and udpate kubesphere-system components configurations with default value.
So if close ks-installer , or replace ks-installer with some of modified versions may solve it,

[2022-10-12 06:57] wenxin-01 commented on #5149
![image](https://user-images.githubusercontent.com/68640256/195271840-29495782-9e5b-456a-9b03-7c2a9d292c07.png)
@patrickluoyu

[2022-10-12 08:29] zhou1203 commented on #5203
/assign @VioZhang

[2022-10-12 09:50] #4900 closed

[2022-10-12 09:51] #4899 closed

[2022-10-12 09:53] #4882 closed

[2022-10-12 09:53] #4902 closed

[2022-10-12 09:58] #4411 closed

[2022-10-12 10:01] #4942 closed

[2022-10-12 10:12] hongzhouzi commented on #5269
See if this is the problem https://kubesphere.com.cn/forum/d/6975-kubesphere-321-istio

[2022-10-13 06:02] zhangchi2217 commented on #5241
是啊，kubernetes现在都1.25了，kubesphere3.3才实验性支持1.23呢。

[2022-10-13 07:10] shuangbaojun opened #5284 "Unable to mount the configuration dictionary"
KubeShpere version is 3.3.0,
The configuration dictionary cannot be mounted, but it can be mounted by handwritten YML files.

[2022-10-13 07:44] Nathan7512 opened #5285 "default minio image does not support arm64"
**What's your question**
How to change the default image of minio  and pullpolicy in cluster-configuration.yaml before installation?

**Environment: OS & Hardware Information**
k8s version:1.21.8
air-gapped installation on Kubernetes

**Installer Version**
v3.3.0

[2022-10-13 09:36] jingslunt opened #5288 "新版本多个prometheus和alertmanager问题，第二组告警规则被第一组alertmanger发现问题"
新版本添加全局命名空间识别，导致不同的命名空间alertmanager无法自定义自己的规则.
这个没必要开启，用operator的一般都是需要多组自定义告警的
解决如下:
[code]

[2022-10-13 10:03] zhaomingcheng01 opened #5289 "修改ks配置,prometheus配置会被覆盖,如果解决"

[2022-10-13 10:04] zhaomingcheng01 opened #5290 "内置告警策略接受不到通知"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help

[2022-10-13 13:39] daizikaikou opened #5291 "cpu and memory information not displayed"
**Describe the Bug**
cpu and memory information not displayed

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/30774943/195610716-d4500a2b-2fc1-408e-832a-f814ecf8ee53.png)

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)
v3.3.0

**Environment**
How many nodes and their hardware configura

[2022-10-13 14:07] 26tanishabanik commented on #3358
@LinuxSuRen , I saw the https://github.com/kubesphere-sigs/pipeline-templates link, where should I start with, I didn't understand that?

[2022-10-14 00:54] LinuxSuRen commented on #3358
You could provide a YAML file similar to https://github.com/kubesphere-sigs/pipeline-templates/blob/main/featured/jenkins-agents/go-1.17.yaml

That is a PodTemplate which is a built-in resource in Kubernetes.

[2022-10-14 02:59] patrickluoyu commented on #5149
Fixed in https://github.com/kubesphere/console/pull/3825.

[2022-10-14 03:14] ghost opened #5292 "v3.3.0版本部署ExternalName类型的Service后，无法加载该namespace的'工作负载-服务'页面"
**Describe the Bug**
部署了一个类型为`ExternalName`的<b>Service</b>后，无法再进入`工作负载` - `服务`页面

**Versions Used**
KubeSphere:  v3.3.0

**Environment**
Ubuntu1804 / 1 masters:  8cpu/20g; 4 nodes: 8cpu/20g

**How To Reproduce**
新增一个service.yaml
[code]
部署service
[code]
![image](https://user-images.githubusercontent.com/110509161/195753807-8230513f-0df5-4038-b6ef-8dc381439b35.png)

[2022-10-14 08:31] wenxin-01 commented on #5149
![image](https://user-images.githubusercontent.com/68640256/195800747-acf7720b-e6a6-40f0-af90-23ee8be9ec1c.png)
@patrickluoyu  `v3.3.1-rc.4`

[2022-10-14 08:36] wenxin-01 commented on #5149
![image](https://user-images.githubusercontent.com/68640256/195801898-e013d7c5-84d5-4c90-84b8-653aab3da9e1.png)

[2022-10-14 18:07] gebrits opened #5294 "All-in-one install results in `lb.kubesphere.local` lookup failed after reboot"
**What's your question**

After following along the All-in-one install and having testing everything works, I did a reboot to see if k8s came back online which I expect it should (correct?)

However, trying to do a  `kubectl get pods` (or whatever other kubectl command) fails with:
`Unable to connect to the server: dial tcp: lookup lb.kubesphere.local on 127.0.0.53:53: server misbehaving`

Apparen

[2022-10-14 19:06] #5294 closed

[2022-10-14 19:11] 0xgeert opened #5295 "reboot fails for OS with manage_etc_hosts =true => /etc/hosts not persisted"
**Describe the Bug**
Installs on an OS with `manage_etc_hosts =true` a reboot fails to properly restart K8S.
This is due to `/etc/hosts` not being persisted.

**Solution**
Either warn users OR, after probing this is an issue with OS, write to ` /etc/cloud/templates/hosts.debian.tmpl` below which does persist. The latter is probably most logical for the all-in-one install

For ref, `/etc/hosts` exp

[2022-10-16 11:33] WhiteElytra commented on #4262
The problem reappeared. Same as @racheng

![截屏2022-10-16 19.31.27.png](https://r2.img.baiyi.icu/2022/10/16/634beba5afd52.png)

![3ec4ce8d17e70539f382fe24319ed690_0.png](https://r2.img.baiyi.icu/2022/10/16/634beba620917.png)

[2022-10-16 11:33] WhiteElytra opened #5296 "The problem reappeared. Same as @racheng, timed out waiting for resources to be ready when install helm chart."
The problem reappeared. Same as @racheng

![截屏2022-10-16 19.31.27.png](https://r2.img.baiyi.icu/2022/10/16/634beba5afd52.png)

![3ec4ce8d17e70539f382fe24319ed690_0.png](https://r2.img.baiyi.icu/2022/10/16/634beba620917.png)

_Originally posted by @WhiteElytra in https://github.com/kubesphere/kubesphere/issues/4262#issuecomment-1279951089_

And all pods under this namespace seem working just fine.

[2022-10-16 11:34] WhiteElytra commented on #5296
Original Issue: #4262

[2022-10-17 07:20] daizikaikou commented on #5291
I solved it, please check this file
https://github.com/kubesphere/ks-prometheus/blob/release-3.3/manifests/kubernetes/kubernetes-prometheusRule.yaml

[2022-10-17 07:20] #5291 closed

[2022-10-18 03:30] wenxin-01 commented on #5149
`v3.3.1-rc.4`
![image](https://user-images.githubusercontent.com/68640256/196329120-ab40543d-e789-43ef-8cca-30f5ba054297.png)

[2022-10-18 08:26] mangoGoForward commented on #5273
Debug:
 1. check the storage configuration and storage server
 2. make sure the DNS address in /etc/resolv.conf is available
 3. execute 'kubectl logs -n kubesphere-system -l job-name=minio-make-bucket-job' to watch logs
 4. execute 'helm -n kubesphere-system uninstall ks-minio && kubectl -n kubesphere-system delete job minio-make-bucket-job'
 5. Restart the installer pod in kubesphere-system name

[2022-10-18 10:47] wansir commented on #5226
/reopen

/assign @harrisonliu5 @zhou1203

[2022-10-19 07:14] wenxin-01 opened #5301 "The role 'cluster-admin' can not create ws with this cluster"
**Describe the Bug**
There is a environment, have host and member cluster.
There is a user test, it's platform is `platform-self-provisioner`,and was invited to cluster host as `cluster-admin`

**Versions Used**
KubeSphere:  `v3.3.1-rc.4`

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed

[2022-10-19 08:20] jiangguoqing commented on #5013
not works tooooo,so disappointing......

[2022-10-19 08:38] renyunkang opened #5303 "ippool supports more configurations"
**What's it about?**

When using `calico` as the ippool provider, `kubesphere` ippool should add operational support for `calico` mode configuration.

**What's the reason why we need it?**

The operation of ippool is relatively simple now. Cannot change directly from calico ipip to bgp mode and cannot make more configuration changes.
![image](https://user-images.githubusercontent.com/33660223/1966

[2022-10-19 08:59] renyunkang opened #5304 "In bgp mode, the new ippool automatically assigns ip to the tunl device"
**Describe the Bug**
Use calico bgp mode and modify the `default-ipv4-ippool` configuration of calico ippool to `ipipMode: Never`. However, when a new ippool is created, it will be used for the ip allocation of the tunl device by default, and it will prompt that it cannot be deleted when it is deleted.
![image](https://user-images.githubusercontent.com/33660223/196644971-1ee110cb-9212-4138-97fc-9b

[2022-10-19 09:10] jioce opened #5306 "Cluster upgrade devops component error"
**Describe the Bug**
1、devops component error after cluster upgrade
![image](https://user-images.githubusercontent.com/88183150/196647852-ea525c1d-feb9-4aec-82e0-5a248e3ea49b.png)

**Versions Used**
3node+ubuntu18.04+ubuntu18.04.4+ubuntu20.04+ks3.3.0+k8s1.22.10(全组件) -》ks3.3.1+k8s1.22.10

/king bug
/priority medium

[2022-10-19 10:09] wenxinll opened #5307 "Can see member cluster without the permission of this cluster"
**Describe the Bug**
here is a environment, have host and member cluster.
There is a user test, it's platform is platform-self-provisioner,and was invited to cluster host as cluster-admin

**Versions Used**
KubeSphere:  `v3.3.1-rc.4`

**How To Reproduce**
Steps to reproduce the behavior:
1. Login ks use  test
2. Go to 'Cluster management'
3. Go to 'Resource Consumption Statistics'

**Expected beha

[2022-10-19 14:45] #5285 closed

[2022-10-19 14:45] Nathan7512 commented on #5285
edit cluster configuration yaml

[2022-10-19 15:45] yzxiu opened #5308 "Updating crd resource on ks-console page loses status information"
**Describe the Bug**
Updating crd resource on ks-console page loses status information

**Versions Used**
KubeSphere: v3.3.0-62+08b80696475072
Kubernetes: v1.23.7

**Environment**
CentOS 7.5 / 1 masters:  2cpu/4g; 2nodes: 2cpu/4g

**How To Reproduce**

Take `cluster` crd as an example, because the status information of `cluster` crd is very important

Steps to reproduce the behavior:
1. View crd r

[2022-10-20 02:53] asimplepeople opened #5309 "ks-jenkins not redeay"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**What's your question**
ks-jenkins can not work

**Environment: OS & Hardware Information**
CentOS Linux release 8.3.2011
Kubernetes v1.21.2

**Error logs or message (Attach logs or screenshot)**
![image](https://user-images.githubusercontent.com/26264536/196844927-2194f792-20c

[2022-10-20 02:53] patrickluoyu commented on #5149
Fixed in https://github.com/kubesphere/console/pull/3849

[2022-10-20 10:04] #5308 closed

[2022-10-20 10:47] #5301 closed

[2022-10-20 11:04] toby1991 commented on #4288
找到解法了，开的时候先开networkpolicy，才会装calico，这样就不会报错了

[2022-10-21 01:27] wenxin-01 commented on #5306
It worked after restart ks-installer

[2022-10-21 01:28] wenxin-01 commented on #5306
@chilianyi

[2022-10-21 01:44] wenxin-01 commented on #5149
![image](https://user-images.githubusercontent.com/68640256/197091512-fe8446d8-b12e-4c34-816b-4eefb67cdf63.png)

[2022-10-21 01:57] chilianyi commented on #5306
The pod is not started after upgrade?

Is there any other info, jenkins pod log or event?

[2022-10-21 09:22] sivanaikk commented on #4886
It's great to add a GitHub Action in Github Actions marketplace to publish helm charts to KubeSphere

[2022-10-22 03:04] dargoner opened #5312 "How to customize MAC address of POD"
**What's it about?**
How to customize MAC address of POD

**What's the reason why we need it?**

Some third-party services rely on specific MAC addresses. How to deploy on K8S How to customize the MAC address of POD

I believe this is an important feature for Kubesphere. There're a few use cases:

Annotate the pod with cni.projectcalico.org/hwAddr set to the desired MAC address. For example:

 "cn

[2022-10-24 02:44] wenxin-01 commented on #5301
Issue fixed in `v3.3.1-rc.5`

[2022-10-24 06:05] wenxin-01 commented on #5226
Issue fixed in ks v3.3.1-rc.5

[2022-10-24 06:05] #5226 closed

[2022-10-24 07:28] wenxin-01 opened #5314 "The platform permission 'cluster management' can not edit cluster visibility of any cluster."
**Describe the Bug**
There is a user test, it's platform permission is `cluster management`

**Versions Used**
KubeSphere:  `v3.3.1-rc.5`

**How To Reproduce**
Steps to reproduce the behavior:
1. Login ks with user test
2. Go to details page of any cluster
3. Edit cluster visibility

**Expected behavior**
Can edit cluster visibility

**Actual behavior**
Can not edit cluster visibility

![image](ht

[2022-10-24 09:43] wenxinll opened #5317 "The platform permission 'Workspace Viewing' can not access 'Multi-cluster Projects'"
**Describe the Bug**
There is a multi-cluster workspace  wx-ws, and it have multi-cluster project m-pro.
There is s user test, his platform permission is 'Workspace Viewing' ,and his permission is not viewer and admin in workspace.

![image](https://user-images.githubusercontent.com/68640256/197496981-1fbad4eb-797b-4252-8451-9248038a0df6.png)
![image](https://user-images.githubusercontent.com/6864

[2022-10-24 13:36] zskeep opened #5318 "kubesphere TCP connection service issue"
About area networking

We are currently using kubesphere to build up the k8s cluster, and we've met one problem relative to TCP direct connection.
1. Currently Ingress only supports HTTP/HTTPS options, how could we use TCP?
2. Is there any ways to provide TCP services, rather than using nodeport?

Thank you

[2022-10-24 14:25] wenxinll opened #5319 "Clusters with cluster permissions cluster-viewer should not appear in the cluster options for creating an workspace"
**Describe the Bug**
There is a user test, his platform role is `platform-self-provisioner`,and his role in cluster host is `cluster-viewer`

**Versions Used**
KubeSphere:  `v3.3.1-rc.5`

**How To Reproduce**
Steps to reproduce the behavior:
1. Login ks use user test
2. Create workspace

**Expected behavior**
can not see cluster host in the cluster options

[2022-10-25 09:39] #5005 closed

[2022-10-25 12:34] wenxinll opened #5326 "platform-self-provisioner should be able to delete workspace created by it's self"
**Describe the Bug**
There is a user test, his platform role is `platform-self-provisioner`,  and been invited to cluster host as `cluster-admin`

**Versions Used**
KubeSphere: `v3.3.1-rc.5`

**How To Reproduce**
Steps to reproduce the behavior:
1. login ks with user test
2. Create workspace 'test-ws' use cluster host
3. Go to the detail page of 'test-ws'
4. Delete workspace

**Expected behavior**

[2022-10-26 01:57] #5314 closed

[2022-10-26 01:58] wenxin-01 commented on #5314
not support

[2022-10-26 02:00] wenxin-01 commented on #5261
issue fixed in `v3.3.1-rc.5`

[2022-10-26 02:00] #5261 closed

[2022-10-26 02:29] wenxin-01 commented on #5235
same as https://github.com/kubesphere/kubesphere/issues/5317

[2022-10-26 02:29] #5235 closed

[2022-10-26 03:59] #5138 closed

[2022-10-26 08:03] chuchq opened #5327 "Notification configuration webhook does not support enterprise WeChat bots"
**Describe the Bug**
1、Notification configuration webhook does not support enterprise WeChat bots
2、Enterprise WeChat in notification configuration also does not support bot webhook

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: 3.3
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
single node, cluster

**Expected behav

[2022-10-26 08:08] chuchq opened #5328 "通知配置 中的webhook（企业微信机器人），测试成功，但消息未发送"
**Describe the Bug**
1、通知配置 中的webhook（企业微信机器人），测试成功，但消息未发送
2、通知配置 下的企业微信也不支持机器人webhook

**Versions Used**
KubeSphere: 3.3

**Environment**
单节点、集群均如此

**Expected behavior**
通知配置 支持webhook（企业微信机器人）

[2022-10-26 08:21] WangFeng-WF opened #5329 "The specified global settings file does not exist 运行流水线的时候，单元测试报错"
++ pwd
+ mvn clean -o -gs /home/jenkins/agent/workspace/demopmp7r/demo2/configuration/settings.xml test
[ERROR] Error executing Maven.
[ERROR] The specified global settings file does not exist: /home/jenkins/agent/workspace/demopmp7r/demo2/configuration/settings.xml
script returned exit code 1

[2022-10-26 08:51] wenxin-01 commented on #5149
Issue fixed in `kubespheredev/ks-console:nightly-20221025`

[2022-10-26 08:51] #5149 closed

[2022-10-26 09:49] alanmoleapfive opened #5330 "KubeSphere 版本 : v3.3.0 devops pipeline go-demo Reconciler error"
**Describe the Bug**
(https://kubesphere.io/zh/docs/v3.3/devops-user-guide/examples/go-project-pipeline/)

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(an

[2022-10-27 02:40] harrisonliu5 commented on #5260
/kind need-to-verify

[2022-10-27 04:37] wenxin-01 opened #5332 "Platform permission 'cluster-management' can not authorized/unauthorized workspace"
**Describe the Bug**
There is a user test, his platform permission is `cluster-management`, and did not invited to cluster host

**Versions Used**
KubeSphere:  `v3.3.1-rc.5`

**How To Reproduce**
Steps to reproduce the behavior:
1. Login ks with user test
2. Go to cluster visibility of cluster host
3. authorized/unauthorized workspace
![image](https://user-images.githubusercontent.com/68640256/198

[2022-10-27 05:27] Shimada666 opened #5333 "Demo web can't access"
I'm unable to access `demo.kubesphere.io`

[2022-10-27 06:09] #5332 closed

[2022-10-27 06:27] nekomeowww commented on #5328
<img width="968" alt="image" src="https://user-images.githubusercontent.com/11081491/198184752-63752982-19a9-4844-9829-92c910ef7887.png">

<img width="1185" alt="image" src="https://user-images.githubusercontent.com/11081491/198184871-bcc19391-33f2-4784-8c5a-ff0d9e41c80f.png">

我遇到了同样的问题。Webhook 消息测试是成功的，其所发送的消息在飞书自定义机器人侧也接收到了，这个流程是工作的。但当测试使用的告警触发时，消息将不再通过 Webhook 发送。

[2022-10-27 06:29] gs80140 commented on #5013
not work too

[2022-10-28 01:37] chuchq commented on #5328
在论坛里面发帖后，官方的回复是企业微信机器人的webhook暂不支持，但是飞书的，如果kubesphere3.3，那[notification-manager](https://github.com/kubesphere/notification-manager)应该是1.4，notification-manager2.0.1我看是已经支持了飞书，你可以升级一下notification-manager试试

[2022-10-28 01:41] chuchq commented on #5328
1、如果是测试可以收到，被触发时收不到，那触发的时候你去看看notification-manager、alertmanager等日志，消息是否真的发送了，可以多开启几个渠道，测试一下
2、在论坛里面发帖后，官方的回复是企业微信机器人的webhook暂不支持，但是飞书的，如果kubesphere3.3，那[notification-manager](https://github.com/kubesphere/notification-manager)应该是1.4，notification-manager2.0.1我看是已经支持了飞书，你可以升级一下notification-manager试试

[2022-10-28 14:41] txyao opened #5338 "通过ks-install 升级发现项目空间多了2个undefined"
![微信图片_20221028223813](https://user-images.githubusercontent.com/38243793/198652065-897a8821-1ddd-4994-9ead-f68e9b514c77.jpg)

[2022-10-28 15:33] VioZhang commented on #5338
多谢反馈，但是提issue尽量用英文，中文可以到中文论坛 https://kubesphere.com.cn/forum/

[2022-10-28 15:36] #5328 closed

[2022-10-31 07:53] luorenjin commented on #5292
我也遇到这个问题，创建外部服务就会这样，导致服务页面打不开。

[2022-10-31 09:21] hzhhong opened #5341 "Goroutine leaks when getting audit event sender times out"
**Describe the Bug**
Goroutine leaks when getting audit event sender times out.

https://github.com/kubesphere/kubesphere/blob/7162d4131042e318c178690c5856ce64ff158ae5/pkg/apiserver/auditing/backend.go#L149-L154
https://github.com/kubesphere/kubesphere/blob/7162d4131042e318c178690c5856ce64ff158ae5/pkg/apiserver/auditing/backend.go#L184-L186

**Versions Used**
KubeSphere:v3.3.1

**Environment**

**

[2022-10-31 11:47] Dgotlieb opened #5343 "Can't access `KubeSphere` console after machine reboot"
**Describe the Bug**
After setting up HA cluster (3 nodes with `etcd` & `control-plane`), the console stuck on loading after node rebbot.

**Versions Used**
KubeSphere: `v3.3.1`
Kubernetes: `v1.22.10`

**Environment**
3 nodes 64GB Ram / 40 cores
OS: Ubuntu 20.04.5 LTS

**How To Reproduce**
1. Bootstrap your cluster (e.g: `./kk create cluster --with-kubernetes v1.22.10 --with-kubesphere v3.2.1 -f c

[2022-11-01 02:55] nekomeowww commented on #5328
我在发送 Issue 前曾尝试去配置 elasticsearch 取得日志来了解更多情况，但是似乎 kubesphere3.3 还不支持我们公司所部署的 8.x 版本的 elasticsearch，后来也就不了了之，我可以去直接查看 container log 试试看，也许能找到一些线索。

听起来很棒，我去试试升级一下，非常感谢！

[2022-11-01 09:25] yongxingMa opened #5344 "The signature is invalid after the member cluster is connected"
**Describe the Bug**
A clear and concise description of what the bug is.

**The signature is invalid after the member cluster is connected**

**Versions Used**
KubeSphere: v3.2.1

ks-apiserver log

[root@localhost ~]# docker logs -f 9a7946c29c90
W1101 15:35:42.825199       1 client_config.go:615] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
W11

[2022-11-01 09:56] iawia002 commented on #5344
@zhou1203 Can you help locate the problem? It looks like it has something to do with authentication.

[2022-11-01 10:21] yongxingMa commented on #5344
![image](https://user-images.githubusercontent.com/31605966/199212192-33011a1a-76e2-43e6-b2ec-d3d0a495254a.png)
it looks return error from here

[2022-11-01 10:23] yongxingMa commented on #5344
![image](https://user-images.githubusercontent.com/31605966/199212753-fc250940-6c69-4379-941d-8516c254e7e8.png)

[2022-11-01 13:12] zhuzw1015 commented on #5292
我也遇到了同样的问题，是不是需要升级到3.3.1呢？？？

[2022-11-02 01:06] ivanmissu opened #5346 "the created application's status is incorrect ."
**Describe the Bug**
the created application's status is incorrect .  finished application' status showed creating.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/8721615/199369846-09cb53b4-51ca-4680-8760-9b0ec52cb851.png)
![image](https://user-images.githubusercontent.com/8721615/199369973-6c4de8e4-4fae-4079-a825-dd713410e309.p

[2022-11-02 06:30] admintertar opened #5347 "After upgrading from 3.3.0 to 3.3.1, devops-jenkins CrashLoopBackOff"
**Describe the Bug**

After upgrading from 3.3.0 to 3.3.1, jenkins keeps CrashLoopBackOff

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: 3.3.1

jenkins-logs:

 Picked up JAVA_TOOL_OPTIONS: -XX:MaxRAMPercentage=80 -XX:MinRAMPercentage=60 -Dhudson.slaves.NodeProvisioner.initialDelay=20 -Dhudson.slaves.NodeProvisioner.MARGIN=50 -Dhudson.slaves.NodePro

[2022-11-02 07:43] githubliuyang777 opened #5348 "import cluster fail by proxy connect"
host k8s version: v1.21.7
mem k8s version: v1.22
ks version: v3.3.0
i can't get agent.yaml from console. The web page is still in refresh status.
等待集群加入...
集群当前不可用。请执行以下步骤添加集群。
1. 通过 SSH 登录集群，并执行 vi agent.yaml 命令创建配置文件。
2. 将以下信息复制到 agent.yaml 文件中。

复制
3. 执行 kubectl create -f agent.yaml 命令添加集群。
此操作可能需要一定时间，请等待集群状态更新。

ks-controller-manager log:
helm_category_controller.go:168] create helm category:

[2022-11-02 08:00] admintertar commented on #5347
![image](https://user-images.githubusercontent.com/29689362/199432414-36380ce6-b921-43ed-8f6d-3eddb4e662a7.png)

[2022-11-02 08:36] yongxingMa commented on #5344
Problem solved！

`kubectl get cm -n kubesphere-system kubesphere-config -oyaml | grep jwt`

Because the jwtSecret of the host cluster and the member cluster are different

[2022-11-02 08:36] #5344 closed

[2022-11-02 09:04] Shimada666 commented on #5347
手动 rollout 后好了

[2022-11-02 09:14] admintertar commented on #5347
rollout不行

[2022-11-03 03:24] finalha commented on #5330
I met the same issue.
The log of controller is:
E1103 03:19:02.849314       1 pipelinerun_controller.go:184] pipelinerun-controller "msg"="unable to run pipeline" "error"="unexpected status code: 500" "Pipeline"="graphical-pipeline" "PipelineRun"={"Namespace":"demo-devopsbb9lr","Name":"graphical-pipeline-bs24g"} "namespace"="demo-devopsbb9lr" "pipeline"="graphical-pipeline"
E1103 03:19:02.849457

[2022-11-03 05:48] admintertar commented on #5347
用户社区讨论
https://kubesphere.com.cn/forum/d/8993-331-jenkinscrashloopbackoff

[2022-11-06 09:56] shuqingzai commented on #5285
Hi, is the problem solved? How to solve it?

[2022-11-06 16:10] shuqingzai commented on #5273
kubesphere/ks-installer#2020

[2022-11-06 19:19] MikeLINGxZ commented on #5180
3.3.1 也是

[2022-11-07 05:36] shuqingzai commented on #5180
#5273 Arm64？

[2022-11-07 05:36] shuqingzai commented on #5273
minio 版本太久，不支持 Arm64

[2022-11-07 05:46] Nathan7512 commented on #5285
you can edit cluster-configuration.yaml  to change default image
![image](https://user-images.githubusercontent.com/44249947/200234990-4245a926-c1f4-4425-a298-9f67f1827624.png)

[2022-11-07 08:58] jiyichao commented on #5167
https://user-images.githubusercontent.com/79508241/200267981-4f724339-6746-4016-9348-20f7fe2f2053.mp4

You can learn about my problem with this video, think you.

[2022-11-07 13:42] shuqingzai commented on #5273
目前的解决方法参考：https://github.com/kubesphere/kubesphere/issues/5285#issuecomment-1305114885
<img width="924" alt="image" src="https://user-images.githubusercontent.com/44406033/200324936-48ac79ae-c059-4c4d-82c1-fe48881fd23b.png">

[2022-11-08 01:28] shuqingzai commented on #5285
Thanks, this is very useful to me @Nathan7512

[2022-11-08 07:26] zhou1203 opened #5354 "Add cluster repeatedly to spec.placement of workspacetemplate"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: KubeSphere v3.3.1
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:
Ubuntu 18.4 / 2 clusters / host: 1 master: 4c8g / member: 1 master:4c8g

**How To Re

[2022-11-08 07:34] zhou1203 commented on #5354
/assign @harrisonliu5

[2022-11-08 15:25] FlanniganColum opened #5355 "LDAP External Authentication not working"
**Describe the Bug**
After configuring the LDAP feature i attempted to login using a user account but i get nothing.. when i hit login it just does nothing at all, no error message no information absolutely nothing. Below is the config i used

I checked the ks-controller-manager and ks-console logs and could not see any issues or messages to identify the cause

    authentication:
    authenticate

[2022-11-09 03:16] isyes opened #5356 "The application always is creating status in some cases."
**Describe the Bug**
when  install an helm application from appstore or workspace's application repo, the application always is creating status in some cases.

**Versions Used**
KubeSphere: all vesion.
Kubernetes: (If KubeSphere installer used, you can skip this)

**Expected behavior**
the appliation's status is correct.

[2022-11-09 03:18] isyes commented on #5356
/assign @isyes
/area appstore

[2022-11-09 03:19] isyes commented on #5346
/assign @isyes
/area appstore

[2022-11-09 08:30] omyhub opened #5357 "chrome打开kubesphere web页面始终显英文"
kubesphpere   v3.0.0
os: uos 家庭版(21.3.1)
browse : chrome 版本 107.0.5304.87（正式版本） （64 位）  (其他版本也一样)   安装一些插件，过滤广告的有uBlock origin
浏览器语言偏好里 已设置 中文最上， kubesphere 个人 profile 语言也设置为 简体中文
但是uos chrome 打开就是显示英文，并且没法切到中文，Windows上浏览器 打开显示中文，2个平台浏览器通过Google账号同步插件的

[2022-11-09 10:49] chenxinlong opened #5359 "pod in labelled namespace does not injected with istio sidecar"
## General remarks

**Describe the Bug**

add injection label on a namespace
[code]

create a deployment(let say nginx:latest) on this `proj1` namespace, when deployment is ready check the pod, there's no `sidecar.istio.io/inject: "true"` annotation in this pod, and the sidecar does not inject into this pod.

**Versions Used**
KubeSphere: v3.3 use kubekey
Kubernetes: (If KubeSphere installer used,

[2022-11-10 04:15] ccenjie opened #5360 "发布模式: 蓝绿部署：发布任务后任务下线按钮缺失"
使用的版本 v3.3.1
使用实例应用测试灰度发布
![QQ截图20221110121232](https://user-images.githubusercontent.com/18629033/200999187-8fa7bf18-cfee-4259-be16-8f54f825418a.png)

[2022-11-10 04:21] Huangvivi opened #5361 "ks-console's service type become NodePort as default after enabling logging plugin"
ks version: 3.3.1
k8s env: GKE

After installing ks on GKE, I change the service type from NodePort to LoadBalacer as [Document](https://kubesphere.com.cn/en/docs/v3.3/installing-on-kubernetes/hosted-kubernetes/install-kubesphere-on-gke) said.

Then I enabled the logging plugin by editing CRDS (clusterconfiguration)
[code]

Then click "OK" to save. After a while, the service type of `ks-console` b

[2022-11-10 09:12] zskeep commented on #5318
TCP services is done，Ingress enable TCP.

[2022-11-10 09:13] #5318 closed

[2022-11-10 09:17] rui789 opened #5362 "Add deletion protection feature for enterprise space"
Is it possible to add a deletion protection feature to the enterprise space to prevent accidental deletion by the administrator?

[2022-11-11 02:50] #5341 closed

[2022-11-11 03:15] hongzhouzi commented on #5360
There should be a delete button here, the downline button is not here. You can open the browser console to see if there is an error message.

[2022-11-11 03:22] #5359 closed

[2022-11-11 04:07] ydonghao opened #5363 "大规模的系统部署kubesphere时Devops的CI、CD问题解决"
**Devops 的CI、CD如果如何集成外部Jenkins，或者如何建设强大的Jenkins主从模式**

**公司规模比较大，100+个系统，上千条流水线，如果使用默认的Jenkins无法满足并行的需求，并且大规模集群公司有windows 部署.net 系统，如何windows部署Jenkins，构建服务。Jenkins需要配置多套maven的settings.xml如何隔离**

I believe this is an important feature for Kubesphere. There're a few use cases:

* Jenkins支持外部集成
* 支持复杂Jenkins集群一键部署，支持编译参数可视化配置

Please leave your comments below if there's anyone agrees with me. Or just

[2022-11-11 08:00] #5361 closed

[2022-11-11 08:39] ccenjie commented on #5360
没有任何错误，如果下线按钮不在这，我应该如何把这个任务删除呢
![QQ截图20221111163731](https://user-images.githubusercontent.com/18629033/201300432-166d0805-81d4-4443-b7b6-6a4683952e3d.png)

[2022-11-11 15:26] l19891223j opened #5364 "删除prometheus-operator和prometheus-k8s pod后，监控不可用，该如何修复"
KubeSphere v3.1.1
因发现监控失效为NAN状态后，删除pod：prometheus-operator和prometheus-k8s ，无法自动拉起，监控不可用
#kubectl delete pod prometheus-k8s-0 -n kubesphere-monitoring-system
#kubectl delete pod prometheus-k8s-1 -n kubesphere-monitoring-system
#kubectl delete pod prometheus-operator-d7fdfccbf-hfxmp -n kubesphere-monitoring-system

![image](https://user-images.githubusercontent.com/538834/201371589-deb50a46-3870-48d

[2022-11-12 02:48] #4914 closed

[2022-11-12 02:48] #5025 closed

[2022-11-12 02:48] #4883 closed

[2022-11-12 02:48] #5002 closed

[2022-11-12 02:48] #4855 closed

[2022-11-12 02:48] #4867 closed

[2022-11-12 02:48] #4945 closed

[2022-11-12 02:48] #4312 closed

[2022-11-12 02:48] #4979 closed

[2022-11-12 02:48] #4960 closed

[2022-11-12 02:48] #4947 closed

[2022-11-12 02:48] #4704 closed

[2022-11-12 02:48] #4981 closed

[2022-11-12 02:49] #4984 closed

[2022-11-14 02:15] hongzhouzi commented on #5360
This is not quite as expected, you can try to deploy bookinfo project to see if it works, if not, you can describe the steps to reproduce it. Also try to use English here, Chinese questions can be asked on the [kubesphere Chinese forum](https://kubesphere.com.cn/forum/), thanks.

[2022-11-14 03:32] hongzhouzi commented on #5360
This problem may be caused by permissions, what permissions the current operation is in?

[2022-11-14 03:36] ZengIan opened #5365 "HPA doesn't work"
**Describe the Bug**
I configured autoscaling, but it didn't work.
![29e01ffce13f87e587130915f2cba42](https://user-images.githubusercontent.com/41040520/201567276-1cafe5ba-2366-45ad-bf96-c4d594c9ed65.jpg)
1, pod data of monitor is different of hpa data
![921db72d738e17cb8f0652921e69e21](https://user-images.githubusercontent.com/41040520/201567315-12578e08-aabe-4142-bd68-b17b5f1c796b.png)
2, It did

[2022-11-14 04:01] ZengIan opened #5366 "Thare are same questions with cluster monitor data"
**Describe the Bug**

This is cluster monitor data, mainly CPU and Mem:
![image](https://user-images.githubusercontent.com/41040520/201571470-33e496cd-94d1-4874-a0b2-2840e611b796.png)
Mem usage is 41.6% at 06:50:15, it's about 3.24Gi
![image](https://user-images.githubusercontent.com/41040520/201570470-b062a449-91b8-4920-bc7c-1824b752eca6.png)
All namespace join to workspace.

I count all the work

[2022-11-14 05:45] frezes commented on #5366
This is not a bug. Cluster monitoring is used to monitor physical resources, such as cpus, memory, and disks of nodes.  Namespace monitoring is monitoring of all Pods in a namespace. However, Cluster monitoring is not equal to all Namespace monitoring, but also includes resource consumption of the os and other binaries of the node.

[2022-11-14 06:10] VioZhang commented on #5366
We could add a tooltip to note the users the reason.
/assign @XiaohuiSept @VioZhang

[2022-11-14 10:22] wrongerror commented on #5365
Whether [metrics-server](https://github.com/kubernetes-sigs/metrics-server) is installed in this environment？

What happens if you do `kubectl get --raw /apis/metrics.k8s.io/v1beta1`?

[2022-11-14 10:28] hannq commented on #1553
老哥 在哪可以改

[2022-11-14 11:58] ccenjie commented on #5360
项目管理员身份

[2022-11-14 14:47] wrongerror commented on #5365
- `I configured autoscaling, but it didn't work.`  This is because metric-server is not enabled in cc，enabling metric server will solve the problem
- `pod data of monitor is different of hpa data`. The data is indeed inconsistent :
Data returned by metrics-server：
[code]
[code]
Data returned by monitor api:
[code]

[code]

[2022-11-15 09:16] hongzhouzi opened #5368 "Gateway does not automatically refresh after a Resource Status change"
**Describe the Bug**
The page is not refreshed after adjusting the replicas of the gateway.
You can refresh based on the content returned by the successful modification the replicas and request pod with WS request.

![image](https://user-images.githubusercontent.com/36416216/201876430-314a06fe-1005-44a8-ae18-3e19f08dfc0a.png)

**Versions Used**
KubeSphere: v3.3.1

[2022-11-15 09:17] hongzhouzi commented on #5368
/cc @harrisonliu5

[2022-11-15 10:14] aliuq commented on #5205
按照示例安装

`helm install -n app -f helm/prometheus-example-app/values.yaml dd helm/prometheus-example-app`

运行 `curl http://xxxxx:2112/metrics` 提示连接拒绝，pod里面运行也没有返回数据

`kubectl get endpoints -n monitoring -n app prometheus-example-app` 显示 `ENDPOINTS` 为空

[2022-11-15 10:26] aliuq commented on #5205
资源文件如下：

Deployment

<details>
<summary>Deployment</summary>

[code]
</details>

Service

<details>
<summary>Service</summary>

[code]
</details>

ServiceMonitor

<details>
<summary>ServiceMonitor</summary>

[code]

</details>

[2022-11-16 02:50] hongzhouzi commented on #5360
/cc @zhou1203

[2022-11-17 02:18] xianyuwu opened #5371 "PV status display: Translation of the word "released"。"
When the recycle mode is “Retain”，Perform the operation of deleting PVC.
Is it appropriate to translate "released" into "删除中"?
Easily misunderstood.
<img width="975" alt="image" src="https://user-images.githubusercontent.com/22258895/202338475-ea59874b-e56c-4af7-86eb-bd6ea784777c.png">
<img width="1024" alt="企业微信截图_f6c7d8ae-509a-4695-95e3-ce0696b623d8" src="https://user-images.githubusercontent.co

[2022-11-17 02:31] VioZhang commented on #5371
How about translate "released" to ”已释放“or”已解绑“？ @patrickluoyu @harrisonliu5

[2022-11-17 03:44] xianyuwu commented on #5371
The status indicator icon should be replaced by a static one, which is less eye-catching,Avoid users' wrong understanding.

[2022-11-17 05:42] VioZhang commented on #4910
@x893675 hi would you like to contribute a pr on this？

[2022-11-17 07:52] dmoz-x opened #5372 "Fresh install cant change admin password or add new user"
I have a fresh install in Google kubernetes engine with private ip cluster, none of node has public ip but it can connect to internet via nat gateway. The installation is 100% success and can login to kubesphere but when i change password for the first time i got this error

`Internal error occurred: failed calling webhook "users.iam.kubesphere.io": Post "https://ks-controller-manager.kubesphere-s

[2022-11-17 08:39] #5199 closed

[2022-11-17 11:51] nickpodobiedov opened #5373 "Default platform role for new users"
**Describe the Bug**
Cannot assign default platform role for user created from Okta authenticator.

**Versions Used**
KubeSphere: v3.2.1
Kubernetes: Server Version: version.Info{Major:"1", Minor:"22+", GitVersion:"v1.22.15-eks-fb459a0", GitCommit:"be82fa628e60d024275efaa239bfe53a9119c2d9", GitTreeState:"clean", BuildDate:"2022-10-24T20:33:23Z", GoVersion:"go1.16.15", Compiler:"gc", Platform:"linux

[2022-11-18 01:28] toby1991 opened #5374 "BUG: service page js error"
**Describe the Bug**
After add an `External Service` like mysql, the service page js is error.

`https://kubesphere.myweb.com/my-company/clusters/my-cluster/projects/my-namespace/services`

<img width="586" alt="image" src="https://user-images.githubusercontent.com/5897356/202595127-e5d4f0d9-65a8-425f-a595-8a6bb7452ee2.png">

**Versions Used**
KubeSphere: v3.3.0
Kubernetes: (If KubeSphere installe

[2022-11-18 06:22] hongzhouzi commented on #5372
May be "ks-controller-manager" is not working, you can check the events and logs of "ks-controller-manager" to see what the problem is.

[2022-11-18 06:29] hongzhouzi commented on #5373
@zhou1203 Can you help to see?
/area iam
/cc @kubesphere/sig-multicluster

[2022-11-18 06:36] hongzhouzi commented on #5374
/area console
/cc @harrisonliu5

[2022-11-18 06:47] hongzhouzi commented on #5364
You can see if there are exception messages in the events. Also try to use English here, Chinese questions can be asked on the [kubesphere Chinese forum](https://kubesphere.com.cn/forum/), thanks.

[2022-11-18 06:51] hongzhouzi commented on #5363
/cc @kubesphere/sig-devops

[2022-11-18 06:57] hongzhouzi commented on #5362
What do you mean? Isn't there a risk alert when you delete it?

[2022-11-20 16:34] liudaolunhui opened #5375 "Resume after a restart not supported for non-blocking synchronous steps"
Starting Kubernetes deployment
Resume after a restart not supported for non-blocking synchronous steps

![image](https://user-images.githubusercontent.com/16840464/202913982-8e016653-c3da-4038-bf5e-96dac17b5741.png)

[2022-11-21 17:58] FlanniganColum opened #5376 "KubeKey | Cluster upgrade | Error: JWT secret MUST not be empty"
**Describe the Bug**
After performing an upgrade using the KubeKey for Kuberentes and Kubesphere version i am now getting the above error for the api-server which means i cannot login throught he UI and kubesphere is now broken

Upgrade command: ./kk upgrade --with-kubernetes v1.22.12 --with-kubesphere v3.3.1 -f sample.yaml

For UI issues please also add a screenshot that shows the issue.
![image]

[2022-11-21 17:59] FlanniganColum commented on #5376
Log message

# kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l 'app in (ks-apiserver)' -o jsonpath='{.items[0].metadata.name}') -f
Error: JWT secret MUST not be empty
2022/11/21 12:54:30 JWT secret MUST not be empty

[2022-11-22 01:43] carefree666 commented on #5167
Continuous attention

[2022-11-22 08:12] lamesbond opened #5377 "3.3.1版集成外部kube-prometheus0.8，监控指标不全"
我在现有的k8s1.20.0版本上装的kubesphere3.3.1版本，执行这两步
kubectl apply -f https://github.com/kubesphere/ks-installer/releases/download/v3.3.1/kubesphere-installer.yaml
kubectl apply -f https://github.com/kubesphere/ks-installer/releases/download/v3.3.1/cluster-configuration.yaml
改了cluster-configuration.yaml配置，把type: external取消注释了，prometheus地址改成已有的：endpoint: http://prometheus-operated.monitoring.svc:9090，这样就不会和我

[2022-11-22 11:43] FlanniganColum commented on #5376
When i changed something in the ks-installer and it redeployed it resolved this issue, i am guessing during the upgrade something went wrong and it didnt deploy the ks-installer correctly...

[2022-11-22 11:43] #5376 closed

[2022-11-24 02:36] PetalQ opened #5379 "task monitoring status is failed , nitification-maneger instll failed."
**What's your question**
task monitoring status is failed , nitification-maneger instll failed.
thanosrulers pod can not found

install kubesphere on k8s
install command eg.
kubectl apply -f installer.yaml
kubectl apply -f configuration.yaml
kubectl apply -f bundle.yaml
and set  etcd secret

i use helm 3.7 or 2.6.2
i uninstall and install loop many times. and use kubespehere-delete.sh to purge.

*

[2022-11-24 03:58] zhou1203 commented on #5373
Hi, There are the answers for your questions:
1. KubeSphere has no default role for users at platform, you can instead of `platform-regular` if you have no idea what role to assign to a new user.
2.  Currently, KubeSphere can`t inherit the role from any third-party identity provider.

[2022-11-24 05:32] UnknowViewer commented on #5355
Finally found a workaround to fix this, I just restart the master/controller panel server and it works. You can refer to this [issue](https://github.com/kubesphere/kubesphere/issues/5185)

[2022-11-24 09:05] alanmoleapfive opened #5382 "adding edge nodes edge.crt": x509: certificate is valid helm uninstall kubeedge: release: not found"
When adding kubeede in kubesphere 3.3.1, the following two problems occurred
Uninstall KubeEdge
Change the value of kubeedege.enabled and edgeruntime.enabled in parameter ks-installer in CRD ClusterConfiguration configuration file from true to false.
run the following command
helm list -n kubeedge
NAME NAMESPACE REVISION UPDATED STATUS CHART APP VERSION
cloudcore kubeedge 3 2022-11-24 16:19:46.005

[2022-11-24 11:30] zhou1203 commented on #5360
/assign @harrisonliu5

[2022-11-25 03:19] zhou1203 commented on #5338
It may be cause by the cache gennerated by browser if you used KubeSphere before. Cleaning the cache can help you to fix the problem.

[2022-11-25 03:31] Shuimo03 commented on #4670
hi i want issues

[2022-11-25 03:51] zhou1203 commented on #5360
Hi, thank you very much for reporting this bug. We will fix it at next release. But now, If you want to delete the Graysacle Release, you should be logged in as platform admin.

[2022-11-25 04:14] VioZhang commented on #4670
That‘s great!! Would you like work on the front end？

[2022-11-25 05:25] hurricane1988 opened #5383 "Can't download the kadm cli tool use the output of Add Edge Node"
**Describe the Bug**
A clear and concise description of what the bug is.

![image](https://user-images.githubusercontent.com/16606960/203906762-e732b02c-70cd-4718-a32f-5e23b2c524f6.png)
![image](https://user-images.githubusercontent.com/16606960/203907072-cf793ec7-d919-43c4-90b2-b9e287e0f9f4.png)

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kuber

[2022-11-25 05:29] hurricane1988 commented on #5383
The print add edge node of kubesphere console should be as bellow:

[2022-11-25 06:30] Shuimo03 commented on #4670
Well,  I just recently started to learn the front-end, before that has been
the back-end development So I think Challenge😀

On Fri, 25 Nov 2022 at 12:15, 张富贵 ***@***.***> wrote:

[2022-11-25 10:05] GlodenBoy opened #5384 "Deployment with a custom version number of a private container repository fails"
The private repository of Alibaba Cloud used during deployment has N images with the same content in the repository, but the versions are different, one version is latest, and the other is 1.0, 2.0, 3.0.

Only late can be deployed successfully, other deployments will prompt InvalidImageName, the image is the same.

After Yaml file troubleshooting, it was found that when deploying with UI, filling

[2022-11-25 11:06] vijaykumarmoki opened #5385 "Error JWT Token Expired"
Error Description:

I am now getting the following error when i tried to login to ks console.(host) -

Session Timeout or this account logged elsewhere, please login again

Kubernetes version: 1.24

in api-server logs following entries are present - (host)

I1118 12:00:12.538552       1 apiserver.go:298] Start listening on :9090
W1121 13:12:24.768193       1 jwt.go:53] jwt: token is expired by 79h

[2022-11-26 02:47] toby1991 commented on #5374
seems this fixed at `v3.3.1`

[2022-11-26 02:47] #5374 closed

[2022-11-27 14:21] nickpodobiedov commented on #5373
Hi! I know which role I want to assign, but I need to assign it as a default, while user created through the Okta. As I understand it is impossible, right? Is it any chance to have this functionality in future releases?

[2022-11-28 03:45] freemankevin opened #5386 "Deployment and Help Documentation Design Requirements"
- Can the document structure be adjusted to a clear WYSIWYG format.
- There is a clear navigation directory on the left, and users on the right can edit and give feedback. Read shading optional and more.
![image](https://user-images.githubusercontent.com/71524776/204185639-2cc1acfc-5a9b-49a2-9f47-2e2f6c97fab3.png)
![image](https://user-images.githubusercontent.com/71524776/204186952-f536007b-f8ad-

[2022-11-28 06:16] hurricane1988 opened #5387 "Can't add EdgeNode because of kubeedge.pek3b.qingstor.com"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**What's your question**
can't not download the edgecore.service
https://bc527f81cc04fe8b37adae07b630c4e7d109743382793dde5f161367.block.onedns.net/releases/service/1.7/edgecore.service?request__block_domain=kubeedge.pek3b.qingstor.com

![image](https://user-images.githubusercont

[2022-11-28 09:59] SUMMERLm opened #5388 "fluentbit pod：how to use local time"
kubesphere 3.2.1

![image](https://user-images.githubusercontent.com/92348982/204249042-5054c2c9-d6d8-4228-907f-dbeaa5e8b8af.png)
<img width="1712" alt="WeChatb60f28b07d15c0ff9925e844aacd4b3f" src="https://user-images.githubusercontent.com/92348982/204249515-300e2916-82ca-48b7-9435-984b84933979.png">

set env cannot work
![image](https://user-images.githubusercontent.com/92348982/204250544-3dd4919

[2022-11-28 11:38] fffguo opened #5389 "Manually create lasting volume in the statement has been waiting for"
**Describe the Bug**
Manually create lasting volume in the statement has been waiting for

Must be repetition，But using the store application can automatically create success
<img width="1704" alt="image" src="https://user-images.githubusercontent.com/27751972/204265635-e4afbd57-88ef-4e34-b508-3bba7552af97.png">

<img width="1683" alt="image" src="https://user-images.githubusercontent.com/27751972

[2022-11-29 06:52] hhy62 opened #5391 "内置策略达到阈值后没有触发"
使用官网3.3.1版本demo环境，内置策略达到阈值后在告警栏中未发现已出发的告警

构造了一个失败pod
![image](https://user-images.githubusercontent.com/108912016/204458854-c2f1917c-3790-447f-9396-85f983f7e8b2.png)

查看内置策略中的KubePodNotReady，已达到阈值且超过持续时间
![image](https://user-images.githubusercontent.com/108912016/204459026-11e5ba93-b50b-48dd-b9f2-513b00b39bcc.png)

查看告警中的内置策略告警，没有已触发的告警
![image](https://user-images.githubusercontent.com/10891201

[2022-11-30 04:27] wansir commented on #5385
Please check the status of kubefed in host cluster.

[2022-11-30 06:05] calvinyv commented on #4839
maybe this issue is cased by the hard code parm podPidsLimit as 1000 from kubekey, kk will fix it in next version.