[2019-10-25 12:45] #1206 closed

[2019-10-25 12:48] rayzhou2017 commented on #1201
verified

[2019-10-25 12:48] #1201 closed

[2019-10-25 12:50] rayzhou2017 commented on #1202
verified

[2019-10-25 12:50] #1202 closed

[2019-10-25 12:53] rayzhou2017 commented on #912
verified

[2019-10-25 12:53] #912 closed

[2019-10-25 12:55] rayzhou2017 commented on #1200
verified

[2019-10-25 12:55] #1200 closed

[2019-10-25 12:57] rayzhou2017 commented on #1210
verified

[2019-10-25 12:57] #1210 closed

[2019-10-25 13:01] FeynmanZhou commented on #1152
@Carlosfengv @rayzhou2017 @wansir  仅允许 ISV 的管理员上传 Helm chart，也就是只能允许 ws-admin 上传应用吗？ 这个逻辑好奇怪，跟实际的应用场景结合不起来

[2019-10-25 13:32] FeynmanZhou commented on #503
@dotw REST API is allowed,actually we suggest you to install KubeSphere v2.1-dev,  it has app store and management which is originated from  OpenPitrix v0.4.

[2019-10-25 17:56] Akdie commented on #989
kubernetes v1.15.3同样的问题

[root@k8s-kubespray-master-0 deploy]# kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l job-name=kubesphere-installer -o jsonpath='{.items[0].metadata.name}') -f
 [WARNING]: provided hosts list is empty, only localhost is available. Note
that the implicit localhost does not match 'all'

PLAY [localhost] ********************************************

[2019-10-26 02:33] #819 closed

[2019-10-26 03:02] huanggze commented on #1009
/milestone 3.0.0

[2019-10-26 03:16] Forget-C commented on #1152
作为使用者来说，在不了解内部细节的情况下，我的理解是这样的：
1. workspace的作用是 “隔离” ，所以不论权限还是资源都不要有默认的跨workspace能力。
2. 多租户模式下，有的用户可能并不希望helm应用公开，而有的用户会希望公开自己的应用，所以我认为我区分helm仓库，分为集群级的公共仓库和企业空间级的私有仓库，私有仓库应用提交到公共仓库需要有审批操作。
3. 个人理解企业空间中主要工作角色应该还是 regular ，所以要放权下去，可以考虑是否增加审批，或者将 regular 权限、helm应用与项目关联。

[2019-10-26 03:19] Forget-C commented on #1152
另外我觉得支持用户密码验证得helm仓库很重要。

[2019-10-26 03:21] Forget-C opened #1217 "企业空间应用定向调度到指定物理机"
我们现在有一个使用场景是： 用户提供物理机接入集群，将自己的应用都跑在这个物理机上。现在只能通过selector的方式来做，但这样对用户并不友好。

 所以是否可以增加 企业空间应用定向调度到指定物理机 的功能

[2019-10-26 03:26] shaowenchen opened #1218 "告警通知人信息，修改之后，通知邮件没有更新"
版本：2.1-dev

首先配置告警策略，然后修改通知人的基本信息，可以复现

![image](https://user-images.githubusercontent.com/43693241/67613717-3af0b080-f7e3-11e9-97f8-0129840da826.png)

![image](https://user-images.githubusercontent.com/43693241/67613722-4c39bd00-f7e3-11e9-9dab-19751cc3b211.png)

![image](https://user-images.githubusercontent.com/43693241/67613726-5b206f80-f7e3-11e9-9627-7f4cb3087371.png)

/area alerting
/kind bug

[2019-10-26 04:04] shaowenchen commented on #1218
待测试：

- 配置告警时，添加的通知人被删除之后，会不会继续通知
- 不同权限的通知人，会不会对通知有影响
- 由于设置通知人时，可以拉取到人员信息，会不会有越权
- 不同告警级别，通知时间间隔，是否准确
- 通知时间间隔在漂移，需要进一步确认

![image](https://user-images.githubusercontent.com/43693241/67614070-b43ed200-f7e8-11e9-814f-edbe0025c7c1.png)

[2019-10-26 05:42] xiawanyingtest opened #1219 "最新版在centos7.5安装不起来问题"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
安装不起来，好像是你们自动化【选择的是单机模式，离线包】包给我搭建的yum私库有问题,我对yum私服不是太了解
**安装环境的硬件配置**
centos7.5 迷你版  ram=8.5g 内核版本3.10
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
vbox虚拟机 6.14最新版
**错误信息或截图**
docker: Error response from daemon: driver failed programming external connectivity on endpoint registry (3d4a656774f9ff82be0e71d7723744ae4366bf187513d43d7fca454

[2019-10-26 07:07] gongjx11 opened #1220 "centos7.4 安装多节点 版本2.0.2 ，安装多次报这个错，问一下是什么原因"
![image](https://user-images.githubusercontent.com/21954004/67615729-4c958080-f802-11e9-9e3d-18748f40a875.png)

这个装了好几次，每次到这里就报错，请问一下这个怎么解决？谢谢

[2019-10-27 03:11] xiawanyingtest commented on #1220
我安装在线版的在centos7.5上也安装不了，虚拟机甲骨文vbox

TASK [ks-alerting : ks-alerting | Waiting for alerting-db-init] **************************************************************************************************************************************************************************************************************
Saturday 26 October 2019  23:05:05 -0400 (0:00:01.273)       0:14:04.821 ******
FAILED - RETR

[2019-10-27 05:39] pixiake commented on #1220
https://github.com/kubesphere/ks-installer/issues/48

[2019-10-27 06:42] pixiake commented on #1219
https://github.com/kubesphere/ks-installer/issues/73

[2019-10-27 07:03] FeynmanZhou opened #1221 "【2.1】workspace-manager 登录后，删除admin创建的workspace，返回 404"
workspace-manager 登录后，删除admin创建的workspace，返回 404，这个返回感觉不合理。
![image](https://user-images.githubusercontent.com/40452856/67630986-c5600f80-f8ca-11e9-8dc1-71de54d82e7a.png)

[2019-10-27 07:35] FeynmanZhou opened #1222 "【2.1】”关于“页面的 URL 需要更新"
这里有3个链接全都是指向同一个 URL（ github kubesphere repo），建议把 ”项目地址“ 替换为 ”论坛交流“，”问题反馈“ 文案改成 ”Bug 反馈“。 可以让技术问题的支持都引导到论坛，Bug 引导至 github issue 提交。
![image](https://user-images.githubusercontent.com/40452856/67631258-d3179400-f8ce-11e9-847a-1feae98460ea.png)

[2019-10-27 08:45] Carlosfengv commented on #1152
首先我认为大家说的都没错，可是忽略了一个很重要的问题，这里整个流程并**没有做完**；
OP 只是单纯的移植到了ks，并没有做一些定制化的开发来配合ks的整个功能逻辑，因此会有些地方有不完美的地方；
3.0 中会在NameSpace级别中增加应用开发的功能，开发者可以上传（审核）给企业空间管理员（ISV管理员）。企业空间管理员再上传给应用商店，这样形成一个完整个的功能闭环。

[2019-10-27 10:05] FeynmanZhou opened #1223 "【2.1】应用创建成功后，状态仍显示更新中。"
在 ”应用“ 下手动创建了一个 wordpress 应用，确认其 deployment  和 statefulset 都显示运行中，wordpress 也可以正常访问，但该应用的状态还是 ”更新中“。
![image](https://user-images.githubusercontent.com/40452856/67632846-e7b25700-f8e3-11e9-99fd-3ad6f52adf4d.png)

[2019-10-27 14:25] leoendless commented on #1221
最新 installer 没有复现这个错误，提供下环境看看吧

[2019-10-28 00:16] shaowenchen commented on #1209
OK。
/close

[2019-10-28 00:16] #1209 closed

[2019-10-28 00:22] zheng1 commented on #1189
@Carlosfengv  @whDongRui  这里其实缺一个repo event的list页面, 让用户能方便看到历史执行记录和当前状态

[2019-10-28 01:42] whDongRui commented on #1186
/kind need-to-verify

[2019-10-28 01:48] Carriezhangyan commented on #1208
发现新的问题：
执行一下scripts/os/centos7.sh 就可以解决重启后iso文件消失的问题，，
但是http://localhost:5080/yum_repo/iso/  浏览器上的5080端口下的iso目录下还是没有文件，，节点扩容的时候使用的是5080端口对应的目录，使用什么命令使5080端口可以连到终端下的/kubeinstaller/k8s_repo/iso/ 呢？

[2019-10-28 01:51] pixiake commented on #1208
要重启下5080对应的那个容器，可以试下·`docker  restart  pkg-download-center`

[2019-10-28 02:02] Carriezhangyan commented on #1208
我执行了一下命令“  bash scripts/os/tag.sh  ” ，，然后发现5080端口iso文件出现，，

是因为tag.sh中包含了重启容器的命令吗？

[2019-10-28 02:03] pixiake commented on #1208
是的

[2019-10-28 02:05] Carriezhangyan commented on #1208
非常感谢！。。这个问题终于彻底解决。

[2019-10-28 02:10] #1208 closed

[2019-10-28 02:17] #1204 closed

[2019-10-28 02:18] Carlosfengv commented on #1222
别，反馈可以提给github issue，项目地址也是必须的。Github 比论坛可靠稳定的多。

[2019-10-28 02:18] Carlosfengv commented on #1222
另外，论只是中文的，国际用户看不懂

[2019-10-28 02:22] Carlosfengv commented on #1191
目前后端支持的最小时间间隔多少？

[2019-10-28 02:23] tzghost opened #1224 "推送镜像到harbor失败"
allinone 模式部署的2.0.2版本，Harbor平台访问正常，push 镜像到仓库时失败。

[root@ks-allinone scripts]# docker login -u admin  http://harbor.devops.kubesphere.local:30280
Password:
Error response from daemon: Get https://harbor.devops.kubesphere.local:30280/v2/: http: server gave HTTP response to HTTPS client

[2019-10-28 02:30] huanggze opened #1225 "应用仓库部署 mysql 卡住"
卡住。卡完后，界面没有任何变化（图二）手动退出这个菜单，倒是可以看到有把 mysql 创建出来（图三）

![image](https://user-images.githubusercontent.com/22350668/67647600-de6dcc80-f96d-11e9-9759-83fbcb76d31e.png)

![image](https://user-images.githubusercontent.com/22350668/67647632-f2193300-f96d-11e9-9341-447ae5e5b758.png)

![image](https://user-images.githubusercontent.com/22350668/67647740-47eddb00-f96e-11e9-9c82-fe3e5d48e3e0.png)

[2019-10-28 02:33] huanggze commented on #1225
/assign @whDongRui
/kind bug
/area app-management
/milestone 2.1.0

[2019-10-28 02:37] rayzhou2017 commented on #1212
2.1.0版本应该没这个问题

[2019-10-28 02:41] pixiake commented on #1224
http的仓库要在docker的配置文件中加`--insecure-registry`
https://kubesphere.io/docs/v2.0/zh-CN/configuration/image-registry/#http

[2019-10-28 02:42] rayzhou2017 commented on #1196
我需要更新哪个pod才能看到这个更新？ 好像不是ks-console

[2019-10-28 02:46] rayzhou2017 opened #1226 "查看pvc报错"
* [ ] 我是这个ns的admin，创建了一个pvc，然后想查看一下，报错，用默认的集群admin查看没有问题
![Screen Shot 2019-10-28 at 10 44 14 AM](https://user-images.githubusercontent.com/28859385/67648226-1544e200-f970-11e9-9575-f27b705df333.png)

[2019-10-28 02:50] rayzhou2017 commented on #1194
我没复现，看是不是角色的问题

[2019-10-28 02:52] rayzhou2017 commented on #1193
测试email如果国际化比较麻烦就先用英文

[2019-10-28 02:55] rayzhou2017 commented on #1189
这个现在能加上吗？如果需要两天以上的时间就挪到下一给版本。

[2019-10-28 02:56] rayzhou2017 commented on #1189
/cc @Carlosfengv @whDongRui

[2019-10-28 03:00] wansir commented on #1226
@leoendless  这里应该不需要请求 `/apis/storage.k8s.io/v1/storageclasses/{storageclass}`

[2019-10-28 03:01] wansir commented on #1226
/assign @leoendless

[2019-10-28 03:06] justahole commented on #1214
fix

[2019-10-28 03:06] runzexia opened #1227 "删除告警通知人页面提示错误"
![image](https://user-images.githubusercontent.com/31230341/67649121-b765c980-f972-11e9-88f0-a050258a1ce1.png)
在设置完成告警后，将admin用户从告警页面中移除，前端提示错误。
/area notification
/cc @huojiao2006
[code]

[2019-10-28 03:07] Carlosfengv commented on #1217
这部分已经有设计稿了，支持企业空间使用共享资源和独占资源。
共享类型的资源可以根据节点类型调度。
独享资源可以选择节点进行调度。
zpl://screen?pid=5cbe7fbc2f55d8b73f56811b&sid=5d9d7c311de5ea6c30915536

[2019-10-28 03:08] minghaoye commented on #1173
single_svn的问题2.1已修复，git仓库测试是没问题的

[2019-10-28 03:08] runzexia commented on #1227
没有关闭表单，用户没有删除成功，点击创建进行创建告警规则
![image](https://user-images.githubusercontent.com/31230341/67649246-3955f280-f973-11e9-9ba9-b9ec0b0fb781.png)

[2019-10-28 03:09] rayzhou2017 commented on #1138
是不是理解有误？

[2019-10-28 03:18] rayzhou2017 commented on #1173
/cc @runzexia 帮忙verify一下

[2019-10-28 03:23] mayuhope commented on #1174
/remove-kind need-to-verify

[2019-10-28 03:25] pixiake commented on #1163
@wnxn qingcloud csi如何预先检测上述情况，qingcloud-cli吗？可以提供下检查步骤

[2019-10-28 03:27] huanggze commented on #1191
30s

[2019-10-28 03:29] huanggze commented on #1192
@whDongRui 另外，报错后，应用仍显示在 UI 上（图中框起来的地方，以等待中的状态展示）。这是前段要 fix 吗？

[2019-10-28 03:33] Forget-C opened #1228 "webhook Tag Push Hook 无法触发pipline"
常规的代码提交是可以出发webhook的，并可以成功执行pipline。
当创建新tag时，即 “Tag Push Hook”， git已经向webhook发送信息，但是并没有触发jenkins构建。jenkins甚至没有创建对应的 builder pod。
![image](https://user-images.githubusercontent.com/25631506/67650102-8c7d7480-f976-11e9-95e2-13c3ca083f77.png)

另外，即使成功的处罚也会有一个这样看起来是错误的返回：
![image](https://user-images.githubusercontent.com/25631506/67650150-c0589a00-f976-11e9-8d72-9161a97ec70c.png)

[2019-10-28 03:37] wansir commented on #1175
@leoendless  @Carlosfengv  这里的文案改成创建者更合适

[2019-10-28 03:44] zheng1 commented on #1203
![截屏2019-10-2811 40 48](https://user-images.githubusercontent.com/4156721/67650490-137f1c80-f978-11e9-99c6-2394d816d846.png)

## 介绍和截图的编辑功能测试正常

![截屏2019-10-2811 40 55](https://user-images.githubusercontent.com/4156721/67650492-1548e000-f978-11e9-8b88-217a2cd3d278.png)

## 应用介绍建议去掉, 直接从version的readme中读取即可

![截屏2019-10-2811 41 56](https://user-images.githubusercontent.com/4156721/67650494-167a0d00-

[2019-10-28 03:48] wansir commented on #1161
workspace-viewer 可以看到wokrspace 层级更多的资源，现在还没有把应用模板、应用仓库相关的操作权限开放给 workspace-regular， workspace-regualr 只能看到自己在当前workspace下的namespace 和 devops project，所以这里看到的是一个独立的列表以示区分

[2019-10-28 03:57] runzexia commented on #1228
目前还没有支持针对tag进行构建

[2019-10-28 03:58] soulseen commented on #1228
麻烦补充提供下kubesphere版本信息以及复现步骤。

[2019-10-28 03:58] runzexia commented on #1173
fix in 2.1.0-2019-10-27
/close

[2019-10-28 03:59] #1173 closed

[2019-10-28 04:01] huanggze opened #1229 "应用仓库编辑 values.yml 没有生效"
比如部署 mysql-exporter，修改 service.type 为 NodePort。但创建后发现，并没有生效，仍是 ClusterIP。其他字段也是一样没有生效

![image](https://user-images.githubusercontent.com/22350668/67651047-49bd9b80-f97a-11e9-9e21-6d683a26167c.png)

[2019-10-28 04:01] huanggze commented on #1229
/kind bug
/milestone 2.1.0
/assign @whDongRui
/area app-management
/priority high

[2019-10-28 04:05] magicsong opened #1230 "被要求登录之后没有跳转到最初点击的链接"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.
用户点击其他用户复制的资源链接比如http://x.x.x.x/system-workspace/projects/kube-system/deployments/cloud-controller-manager/pods/cloud-controller-manager-7dc596ff8d-2np8r/resource-status
如果没登录，会被要求登录。但是登录之后就跳转到dashboard。并不会跳转到相应的链接
For UI issues please also add a screenshot that shows the issue.
/kind enhancement
*

[2019-10-28 04:05] whDongRui commented on #1203
应用介绍这块内容当时OP这块是为了统一不同类型(比如说helm，vmbased)的应用介绍弄出来的。
这个可以去掉,不过去掉这后这个页面的的元素布局可能要调整一下。

@Carlosfengv

[2019-10-28 04:20] soulseen commented on #1167
文案勘误建议修改：
1. `s2i` 可改为大写 `S2I`
2. `全声明周期管理` 改为 `全生命周期管理`
3. `jenkins` `Jenkins` 大小写统一

![image](https://user-images.githubusercontent.com/16031013/67651636-f0a33700-f97c-11e9-9fd1-0142929ae573.png)

[2019-10-28 04:21] Forget-C commented on #1228
有什么临时的解决方法吗？

[2019-10-28 04:26] Forget-C commented on #1228
另外 需要证书的https git 地址需要怎么做？ 文档中的这一段没有看懂
![image](https://user-images.githubusercontent.com/25631506/67652018-21d03700-f97e-11e9-887a-4a55375a2fa7.png)

[2019-10-28 04:29] Carlosfengv opened #1231 "secret 类型资源需支持换行操作"
RT；
目前无法换行，导致有些资源secret 读取出错

[2019-10-28 04:30] Carlosfengv commented on #1231
/area console
/kind bug
/milestone 2.1.0
/assign @leoendless

[2019-10-28 05:15] tzghost commented on #1224
添加配置参数后，仍然失败
![image](https://user-images.githubusercontent.com/17000535/67653581-f7ce4300-f984-11e9-91a5-34171ea28f92.png)

[2019-10-28 05:29] soulseen opened #1232 "创建任务及定时任务时参数文案问题"
**Describe the bug(描述下问题)**
如图，创建任务及定时任务时设置参数显示为英文。
![image](https://user-images.githubusercontent.com/16031013/67654313-12ee8200-f988-11e9-8618-57e722b12409.png)

![image](https://user-images.githubusercontent.com/16031013/67653831-2862ac80-f986-11e9-867d-6d42cd7c8068.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1 dev

[2019-10-28 05:31] soulseen commented on #1232
/area console
/milestone 2.1.0
/assign @leoendless

[2019-10-28 05:48] runzexia commented on #1228
https git 可以使用账户凭证的凭证类型。
git tag构建可以在网上查找jenkins git tag相关的问题。
https://stackoverflow.com/questions/10195900/jenkins-git-plugin-how-to-build-specific-tag

[2019-10-28 05:50] justahole commented on #1226
/assign @justahole

[2019-10-28 06:02] whDongRui commented on #1229
你修改后，看一下前端的传参，我刚才测试是namespace修改后，传参是跟着变化的。

![image](https://user-images.githubusercontent.com/38676269/67655422-8219a580-f98b-11e9-9c87-da4be2902634.png)

[2019-10-28 06:02] runzexia commented on #1227
目前和admin相关的告警策略已经无法创建，后附日志。
[code]

[2019-10-28 06:03] justahole commented on #1226
@wansir 不好意思，我需要这个请求来判断当前volume是否支持扩容。

[2019-10-28 06:04] whDongRui commented on #1229
还有应用详情页面查询配置文件页面中，配置文件可以输入这个也修复了。是之前把组件属性readOnly传成了readonly导致的。

[2019-10-28 06:04] runzexia commented on #1227
告警日志只收到了一封，在邮件管理系统中查看只发送了一封邮件。
查看之前创建的告警规则，发现通知人不见了。
![image](https://user-images.githubusercontent.com/31230341/67655536-e63c6980-f98b-11e9-8aa6-b0def9f3e685.png)

[2019-10-28 06:06] justahole commented on #1232
/assign @justahole

[2019-10-28 06:12] pixiake commented on #1224
修改完配置要重载配置，重启服务
`systemctl daemon-reload`
`systemctl restart docker`

[2019-10-28 06:22] tzghost commented on #1224
在/etc/docker/daemon.json添加如下配置后正常

[root@ks-allinone docker]# cat /etc/docker/daemon.json
{
	"insecure-registries": ["harbor.devops.kubesphere.local:30280"]
}

[2019-10-28 06:22] #1224 closed

[2019-10-28 06:28] whDongRui commented on #1225
这个是之前把应用模板和自制应用拆分成两个页面，导致提交后再查询列表页面的数据有问题，刚已经修复了。

[2019-10-28 06:49] Forget-C opened #1233 "jenkins 登录 Invalid username or password"
**General remarks**

**Describe the bug(描述下问题)**
用户密码是正确的，jenkins 登录 有时会多次登录失败，显示 Invalid username or password。
![image](https://user-images.githubusercontent.com/25631506/67657552-0b33db00-f992-11e9-9c6a-13fc9c65f770.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.0.2

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
3 masters:  8cpu/8g
3 nod

[2019-10-28 06:57] runzexia commented on #1233
https://issues.jenkins-ci.org/browse/JENKINS-5303

jenkins 所使用的底层库问题

[2019-10-28 07:08] rayzhou2017 commented on #1232
这个是不是不用翻译？上面表示的是专业术语，类似于参数，下面是中文解释

[2019-10-28 07:10] justahole commented on #1232
/assign @Carlosfengv 翻译已经提交MR，这里确认添加

[2019-10-28 07:25] runzexia commented on #1233
这个问题不会影响 ks devops的功能，在登陆 jenkins 时可能会提示错误，修复应该在上游 jenkins 社区进行

[2019-10-28 07:25] runzexia commented on #1233
/close

[2019-10-28 07:25] #1233 closed

[2019-10-28 07:37] #845 closed

[2019-10-28 07:38] anstns commented on #845
正常配置就可以使用

[2019-10-28 07:47] huojiao2006 commented on #1227
/assign @justahole 麻烦前端看一下，调用删除address的api应该换成修改通知列表的api。

[2019-10-28 07:55] zheng1 commented on #1192
已修复, 等这个build https://travis-ci.org/openpitrix/openpitrix/builds/603773967 结束后可以通过
[code]
来重新执行dbctrl更新数据库, 更新后问题会被修复.

/kind need-to-verify

[2019-10-28 08:20] Ma-Dan commented on #1218
时间漂移问题为通知允许发送时间在00:00~23:59之间，最后实际时间运行到23:59，会禁止一次发送，并设置下次可发送时间为00:00导致。已改正，发送时间严格按照告警周期进行，不再被通知允许发送时间影响，在通知允许时间范围之外的，仅禁止发送，并将告警信息累积。

[2019-10-28 08:22] runzexia opened #1234 "按照应用管理文档操作，验证helm repo错误"
![image](https://user-images.githubusercontent.com/31230341/67662764-045f9500-f99f-11e9-9f9e-d6dfed70437a.png)
验证op pod到仓库地址网络可达
/kind bug
/area app-management
/milestone 2.1.0

[2019-10-28 08:22] runzexia commented on #1234
https://kubesphere.io/docs/v2.1/zh-CN/quick-start/one-click-deploy/

[2019-10-28 08:25] Carlosfengv commented on #1232
有翻译更容易理解参数的作用。

[2019-10-28 08:38] runzexia opened #1235 "告警创建指标单位重复"
![image](https://user-images.githubusercontent.com/31230341/67663833-4ee21100-f9a1-11e9-970f-993ddfabd384.png)
KB/s有两个
/assign @justahole
/area console

[2019-10-28 08:43] Carlosfengv opened #1236 "存储类型详情后退 404"
RT；
复现步骤
进 某个存储卷类型详情，点击左侧基础信息Card上的后退按钮，出现 404 页面
![image](https://user-images.githubusercontent.com/23092051/67664130-fe1ee800-f9a1-11e9-8ec4-b31fc5dd83e5.png)

[2019-10-28 08:43] Carlosfengv commented on #1236
/area console
/kind bug
/milestone 2.1.0
/assign @leoendless

[2019-10-28 08:59] runzexia commented on #1216
节点级别以下指标没有上报状态
![image](https://user-images.githubusercontent.com/31230341/67665259-5951da00-f9a4-11e9-8b67-031dbc102e26.png)

`inode利用率`
`本地磁盘可用空间 `
`可用内存`
`CPU 1分钟平均负载`
`CPU利用率`
`容器组异常率`

[2019-10-28 09:02] Ma-Dan commented on #1216
内存监控指标的问题，读取 workload_pod_memory_usage 时，监控系统返回的实际上是 workload_pod_memory_usage_wo_cache 指标的值，因为请求和返回的指标不一致，导致作为没有读取到数据处理，无法进行后面的比较和通知流程。

[2019-10-28 09:06] runzexia commented on #1234
/cc @zheng1 @pengcong06

[2019-10-28 09:15] justahole commented on #1227
@runzexia MR 已提交，但是通知人没有的问题可能需要重新添加了。**还有目前MR 还没有合，不能再测，否则需要重新操作数据库。**

[2019-10-28 09:20] runzexia commented on #1227
@justahole 麻烦合并的时候加下，need verify label

[2019-10-28 09:21] dpp814 opened #1237 "流水线测试，成功一次，之后未修改配置但执行异常"
基于文档 快速入门 spring boot项目构建流水线
![image](https://user-images.githubusercontent.com/22487387/67666685-3f65c680-f9a7-11e9-96aa-ed430475926b.png)

异常信息：
Started by user dpp
Connecting to https://api.github.com using jenkinsfile-in-SCM/******
ERROR: Could not do lightweight checkout, falling back to heavyweight
java.net.ConnectException: Failed to connect to raw.githubusercontent.com/31.13.75.18:443
	at

[2019-10-28 09:25] runzexia commented on #1237
集群与github之间的网络情况如何？
网络情况不好的情况下，我们建议将仓库同步到国内地址进行执行

[2019-10-28 10:03] dpp814 commented on #1237
服务器上能ping通，jenkins容器里面也能ping通，但是就是报连接超时；而且异常信息中不存在的目录也是有的：
![image](https://user-images.githubusercontent.com/22487387/67669413-c9fcf480-f9ac-11e9-8b3d-c3d2f48e99e2.png)
![image](https://user-images.githubusercontent.com/22487387/67669561-1c3e1580-f9ad-11e9-9cc7-bb07180fcdf1.png)
![image](https://user-images.githubusercontent.com/22487387/67669636-47c10000-f9ad-11e9-9149-fde35e467172.png)

[2019-10-28 10:07] runzexia commented on #1237
建议尝试下在环境里面进行 shallow clone 和 正常 clone

[2019-10-28 10:14] huanggze commented on #1192
好的，可能前端也要同步改下？我 @whDongRui 和你们问下

[2019-10-28 10:14] dpp814 commented on #1237
服务器上面可以直接clone
![image](https://user-images.githubusercontent.com/22487387/67670410-ce2a1180-f9ae-11e9-9847-63e2dcaa73f2.png)

[2019-10-28 10:22] runzexia commented on #1237
shallow clone 试一下

[2019-10-28 10:27] dpp814 commented on #1237
![image](https://user-images.githubusercontent.com/22487387/67671270-90c68380-f9b0-11e9-89d8-0ca65fbcfe52.png)
这样吗？ 50%之后就特别慢

[2019-10-28 10:30] runzexia commented on #1237
是的，这可能和网络状态等有关系，上面的流水线失败原因我理解是clone失败导致的异常

[2019-10-28 10:30] leoendless commented on #1175
不太好吧，正常使用情况下创建者都会是超级管理员或者企业空间管理员

[2019-10-28 10:33] dpp814 commented on #1237
![image](https://user-images.githubusercontent.com/22487387/67671622-4265b480-f9b1-11e9-8d6b-88121ffbb59d.png)
正常来说 shallow应该比clone快吧，这边shallow clone完成后报错

[2019-10-28 10:33] huojiao2006 commented on #1205
/assign @justahole 前端麻烦看一下。

[2019-10-28 10:35] whDongRui commented on #1229
/kind need-to-verify

[2019-10-28 10:38] runzexia commented on #1237
是的因此kubesphere devops默认使用shallow clone

[2019-10-28 12:45] Ma-Dan commented on #1216
一个Alert包含多个Rule时，有些Rule会在读取到监控指标后，没有处理。具体问题如下：
https://github.com/Ma-Dan/alert/blob/master/pkg/services/executor/runner.go#L459
该处的写法
for resourceMetrics := range ch {
		logger.Debug(nil, "resourceMetrics %v", resourceMetrics)

		needUpdate = needUpdate || ar.checkOneMetric(resourceMetrics)
	}
编译器优化之后，在needUpdate为true之后，将停止对后续监控值的循环处理。
修改为必须处理解决。

[2019-10-28 13:10] leoendless commented on #1231
可以详细说明下吗

[2019-10-28 13:13] rayzhou2017 commented on #1232
那提交吧

[2019-10-28 13:13] leoendless commented on #1230
最新版本应该修复了吧

[2019-10-28 14:27] zheng1 commented on #1234
/kind need-to-verify

Fixed in https://travis-ci.org/openpitrix/openpitrix/builds/603932695

Please wait for travis build and push the image to DockerHub

[2019-10-28 14:37] zheng1 commented on #1197
@wansir
[code]

[2019-10-28 14:53] wnxn commented on #1163
# 预先检查方法
1. 从 vars.yaml 配置文件提取出 qingcloud cli 所需要的 config 文件

1. 用 qingcloud cli 创建硬盘并挂载到主机上, 必须能够成功挂载，测完后需要卸载和删除测试硬盘https://docs.qingcloud.com/product/cli/#%E5%91%BD%E4%BB%A4%E5%88%97%E8%A1%A8
[code]

3. maxSize, minSize, stepSize 可以按照 type 值来检查这三个值，不正确告警即可 https://github.com/yunify/qingcloud-csi/blob/master/docs/user-guide-zh.md#type-maxsize-minsize-stepsize 。qingcloud csi v1.1.0-rc.4 支持用户不填写 ma

[2019-10-28 15:07] rayzhou2017 opened #1238 "HA安装问题"
* [x] 这个image需要换镜像库
<img width="991" alt="Screen Shot 2019-10-28 at 11 05 39 PM" src="https://user-images.githubusercontent.com/28859385/67690298-9daa9d80-f9d7-11e9-9eca-62c860050461.png">

* [x] 下面两个镜像有问题
<img width="990" alt="Screen Shot 2019-10-28 at 11 08 29 PM" src="https://user-images.githubusercontent.com/28859385/67690484-ee21fb00-f9d7-11e9-81f8-bc7713b296e4.png">
<img width="986" alt="Scr

[2019-10-28 15:38] leoendless commented on #1236
Fixed

[2019-10-29 01:53] gongjx11 opened #1239 "centos7.4 多节点安装，Sonarqube 启动不起来"
![image](https://user-images.githubusercontent.com/21954004/67731067-e98a3080-fa31-11e9-9480-8187ab91db88.png)

根据前面解答说，需要关掉防火墙 我这边都以经关了。但是装了几次一直都是这个错。

[2019-10-29 02:12] dpp814 commented on #1237
是不是 某个代理的

[2019-10-29 02:54] huazai007 opened #1240 "FAILED - RETRYING: OpenPitrix | Waiting for openpitrix-db"
Multi-Node 模式

**安装环境的硬件配置**
3台物理机DellR710

**错误信息或截图**
TASK [ks-devops/ks-devops : OpenPitrix | Waiting for openpitrix-db] *************************************************************************************************************************************
Monday 28 October 2019  21:34:43 -0400 (0:00:00.951)       0:08:22.641 ********
FAILED - RETRYING: OpenPitrix | Waiting for openpitrix-db (15

[2019-10-29 02:55] #1236 closed

[2019-10-29 02:56] runzexia commented on #1234
verfied in latest
/close

[2019-10-29 02:56] #1234 closed

[2019-10-29 02:57] runzexia commented on #1237
建议再尝试一下，如果clone之后仍然报错可以联系github提交工单
/close

[2019-10-29 02:57] #1237 closed

[2019-10-29 02:57] Ma-Dan opened #1241 "监控指标和单位问题"
版本：2.1-dev

![image](https://user-images.githubusercontent.com/38337958/67733705-15111900-fa3a-11e9-82eb-c351bce9d094.png)

监控指标 workload_pod_memory_usage 读取出 workload_pod_memory_usage_wo_cache 值。

![image](https://user-images.githubusercontent.com/38337958/67733842-66b9a380-fa3a-11e9-86a5-0eb63fcc0694.png)

![image](https://user-images.githubusercontent.com/38337958/67733872-7df89100-fa3a-11e9-83

[2019-10-29 03:01] runzexia commented on #1228
/kind question
/close

[2019-10-29 03:01] #1228 closed

[2019-10-29 03:04] justahole commented on #1193
发件人邮箱是为了考虑 发件人邮箱 与 SMTP 用户不同值的情况而考虑的。如果想要保持两个值一致则不填发件人邮箱即可。

[2019-10-29 03:06] huanggze opened #1242 "ks-gitlab-nginx ImagePullBackOff"
![image](https://user-images.githubusercontent.com/22350668/67734485-2c510600-fa3c-11e9-8d6b-3541e98e5b72.png)

[2019-10-29 03:07] huanggze commented on #1242
/milestone 2.1.0
/help

[2019-10-29 03:10] huanggze opened #1243 "default-http-backend ImagePullBackOff"
![image](https://user-images.githubusercontent.com/22350668/67734672-9ec1e600-fa3c-11e9-8f82-ce825194fc2f.png)

[2019-10-29 03:10] huanggze commented on #1243
/milestone 2.1.0
/help

[2019-10-29 03:13] huanggze opened #1244 "ks-gitlab-shared-secrets Error"
![image](https://user-images.githubusercontent.com/22350668/67734765-e5afdb80-fa3c-11e9-85e7-e9ecb0aeadbc.png)

日志：

![image](https://user-images.githubusercontent.com/22350668/67734800-0c6e1200-fa3d-11e9-85a0-842418f05e72.png)

[2019-10-29 03:13] huanggze commented on #1244
/milestone 2.1.0
/help

[2019-10-29 03:27] huanggze commented on #1244
/assign @hlwanghl

[2019-10-29 03:30] justahole commented on #1227
/kind/need-to-verify

[2019-10-29 03:38] huanggze commented on #1214
verified

[2019-10-29 03:38] #1214 closed

[2019-10-29 03:40] rayzhou2017 commented on #1238
jaeger的两个镜像又好了，是系统没有装好的原因？

[2019-10-29 03:54] runzexia opened #1245 "Failed to deploy GitLab Helm Chart on App Store"
/kind bug
/area application
/cc @zheng1 @pengcong06
helm ctl 可以正常部署
repo url : https://charts.gitlab.io/
chart: gitlab/gitlab 2.2.0
values:
[code]
[code]

[2019-10-29 04:11] huanggze commented on #1241
1. 我补上 workload_pod_memory_usage
2. 可以统一改成 core

[2019-10-29 04:24] rayzhou2017 commented on #1196
第二个还没有fix

[2019-10-29 04:25] rayzhou2017 commented on #1197
verified

[2019-10-29 04:25] #1197 closed

[2019-10-29 04:27] rayzhou2017 opened #1246 "登录页面"
* [x] 没有登录，访问app store，选择一个app点击部署，跳到登录页面，登录后进入到工作台页面而不是部署页面

[2019-10-29 04:31] leoendless commented on #1246
有环境可以看下吗

[2019-10-29 05:04] leoendless commented on #1246
Fixed

[2019-10-29 05:05] zheng1 commented on #1245
估计是op中client-go的版本太低, 我升级下试试

[2019-10-29 05:43] justahole commented on #1232
/kind need-to-verify

[2019-10-29 05:53] Ma-Dan commented on #1241
改成Core不知道前端输入和换算是否方便，目前告警中cpu的usage指标是否都是以Core为单位的，或者统一改换算倍率，现在都是1.0

[2019-10-29 06:11] FeynmanZhou opened #1247 "2.1 组件解耦后，在安装顺序上有没有依赖？"
2.1 组件解耦后，可选安装的功能组件 在安装顺序上有没有依赖？

比如 minio是op和b2i 共用的，当可选安装 devops 和 OP 时，是否存在必须先安装 OP 才能再安装 devops？

其它组件有没有安装顺序上的依赖？

[2019-10-29 06:23] Forest-L commented on #1239
@gongjx11
1、检查下helm是否正常，helm list;
2、可以先卸载再安装，先执行uninstall脚本，再执行install

[2019-10-29 06:28] runzexia commented on #1227
/close

[2019-10-29 06:28] #1227 closed

[2019-10-29 06:31] rayzhou2017 commented on #1246
verified

[2019-10-29 06:31] #1246 closed

[2019-10-29 06:33] huanggze commented on #1241
@justahole @Ma-Dan

单位调整为 Core，不是 m

![image](https://user-images.githubusercontent.com/22350668/67743194-e9515b80-fa58-11e9-93cf-a78d02d628a9.png)

[2019-10-29 06:34] huanggze commented on #1241
/assign @justahole

[2019-10-29 06:35] tzghost opened #1248 "构建Spring Boot流水线报错"
构建Spring Boot流水线报错，报错信息如下，这个问题如何解决？

+ echo ****
+ docker login docker.io -u **** --password-stdin
Error response from daemon: Get https://registry-1.docker.io/v2/: Get https://auth.docker.io/token?account=****&client_id=docker&offline_token=true&service=registry.docker.io: net/http: TLS handshake timeout

![image](https://user-images.githubusercontent.com/17000535/67743324-3f260380-fa59-11e9-92bf

[2019-10-29 07:03] runzexia commented on #1248
网络问题，尝试用国内镜像仓库吧

[2019-10-29 07:06] tzghost commented on #1248
有推荐吗？

[2019-10-29 07:22] runzexia commented on #1248
https://appcenter.qingcloud.com/apps/app-2mhyb1ui
可以尝试下使用青云公有云的harbor服务
![image](https://user-images.githubusercontent.com/31230341/67745731-f4f45080-fa5f-11e9-8ec7-99480c5f2cc5.png)

[2019-10-29 08:05] calvinyv commented on #1142
verified

[2019-10-29 08:05] #1142 closed

[2019-10-29 08:06] gongjx11 commented on #1239
好的 我试一下

[2019-10-29 08:17] justahole commented on #1218
/assign justahole

[2019-10-29 08:25] calvinyv commented on #1141
verified

[2019-10-29 08:25] #1141 closed

[2019-10-29 08:25] calvinyv commented on #1140
verified

[2019-10-29 08:25] #1140 closed

[2019-10-29 08:26] calvinyv commented on #1139
verified

[2019-10-29 08:26] #1139 closed

[2019-10-29 08:34] rayzhou2017 commented on #1240
可能是存储的问题，到 https://github.com/kubesphere/ks-installer/issues 找找答案

[2019-10-29 08:40] leoendless commented on #1231
Fixed

[2019-10-29 08:43] runzexia commented on #1248
/close

[2019-10-29 08:43] #1248 closed

[2019-10-29 08:43] gongjx11 opened #1249 "centos7.4 多节点安装，一直提示报FAILED - RETRYING: OpenPitrix | Waiting for openpitrix-db (15 retries left)."
![image](https://user-images.githubusercontent.com/21954004/67750985-35a59700-fa6b-11e9-8e58-067af836a648.png)
问一下这是什么原因：

[2019-10-29 08:49] rayzhou2017 commented on #1216
这个是什么结论呢？

[2019-10-29 08:49] rayzhou2017 commented on #1215
这个在解决吗？

[2019-10-29 08:53] rayzhou2017 commented on #1203
这个是解决了吗？

[2019-10-29 08:54] rayzhou2017 commented on #1161
现在是regular都没有入口进ws

[2019-10-29 08:56] soulseen commented on #1232
/close

[2019-10-29 08:56] #1232 closed

[2019-10-29 09:01] wansir commented on #1161
这里应该是从设计上就是为了减少层级，进到ws 里看能到的也只是自己的项目和工程列表。

[2019-10-29 09:02] wansir commented on #1161
因为 workspace-regular 看不到 workspace 层级的概览/监控

[2019-10-29 09:02] calvinyv opened #1251 "useless dropdown arrow is shown when mounting vol"
**Describe the bug(描述下问题)**

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev

![Jietu20191029-143457](https://user-images.githubusercontent.com/28883416/67752327-c54c4500-fa6d-11e9-84d7-cba7c5ee1595.png)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

3 masters:  8cpu/8g
3 nodes: 8cpu/16

[2019-10-29 09:03] calvinyv commented on #1251
/assign @leoendless

[2019-10-29 09:05] leoendless commented on #1251
是这样的，多建几个volume再看

[2019-10-29 09:05] rayzhou2017 opened #1252 "fluentbit内存使用过高"
* [x] HA环境下测试发现fluentbit有的时候到600M

[2019-10-29 09:05] #1194 closed

[2019-10-29 09:08] runzexia commented on #1249
https://github.com/kubesphere/ks-installer/issues/94
存储配置问题

[2019-10-29 09:16] pixiake commented on #1240
查下pod的events和日志，用的什么存储？如果是用的nfs的话，nfs服务器里把no_root_squash这个配置加上。

`kubectl -n openpitrix-system describe pods $(kubectl -n openpitrix-system get po --selector=tier=db -o jsonpath='{.items[0].metadata.name}')`

`kubectl -n openpitrix-system logs $(kubectl -n openpitrix-system get po --selector=tier=db -o jsonpath='{.items[0].metadata.name}')`

[2019-10-29 09:17] pixiake commented on #1240
https://github.com/kubesphere/ks-installer/issues/94

[2019-10-29 09:18] calvinyv commented on #1247
/assign @pixiake

[2019-10-29 09:21] #1231 closed

[2019-10-29 09:23] arraycto opened #1253 "【加急】CentOS Linux release 7.5.1804 安装失败kubesphere2.0.2离线版，已经尝试5台统一错误"
[备注]: 明天领导需要演示，跪求大神支持。小白已经哭了，拜托

**问题描述**

**安装环境的硬件配置**
8vCPU  32GB内存
CentOS Linux release 7.5.1804
离线安装kubesphere2.0.2
安装方式all-in-one离线

[备注]: 公司自己的内网云，不能连接公网

**错误信息或截图**

TASK [kubernetes/node : Ensure nodePort range is reserved] ************************************************
Tuesday 29 October 2019  17:02:16 +0800 (0:00:01.152)       0:03:47.516 *******
fatal: [ks-allinone]: FAILED! => {"ch

[2019-10-29 09:25] Ma-Dan commented on #1216
问题和解决：

[2019-10-29 09:27] huanggze commented on #1225
好像没有变化 /remove-kind need-to-verify

[2019-10-29 09:30] huanggze commented on #1225
/remove-kind need-to-verify

[2019-10-29 09:31] huanggze commented on #1229
verified

[2019-10-29 09:31] #1229 closed

[2019-10-29 09:32] huanggze commented on #1192
verified

[2019-10-29 09:32] #1192 closed

[2019-10-29 09:34] pixiake commented on #1253
sysctl 修改内核参数失败，手动执行sysctl 命令设置下返回信息中的那些值

[2019-10-29 09:35] runzexia commented on #884
/close

[2019-10-29 09:35] #884 closed

[2019-10-29 09:37] runzexia commented on #1023
/need-to-verify

[2019-10-29 09:37] runzexia commented on #1023
/kind need-to-verify

[2019-10-29 09:38] runzexia commented on #265
/milestone 3.0.0 3.0会统一添加devops通知

[2019-10-29 09:39] runzexia commented on #265
/milestone 3.0.0
3.0会统一添加devops通知

[2019-10-29 09:40] huojiao2006 commented on #1218
告警通知人信息，修改之后，通知邮件没有更新
需要前端修改一下，在修改用户的邮箱的时候，需要更新对应的通知列表里面的地址的信息，前端需要修改一下。

[2019-10-29 09:48] mayuhope opened #1254 "用户上架nginx这个应用后无法调整分类，报错"
1、上传nginx这个应用模板，依次提交审核、审核通过、上架；
2、新建一个分类；
3、将步骤1中的nginx调整分类到新分类，报错：
![image](https://user-images.githubusercontent.com/7677050/67756013-2f67e880-fa74-11e9-8412-1335207d67e8.png)

[2019-10-29 09:49] mayuhope commented on #1254
/assign @pengcong06
/kind bug
/area app-management
/milestone 2.1.0

[2019-10-29 09:56] runzexia commented on #677
2.1 解决了这个问题
/close

[2019-10-29 09:56] #677 closed

[2019-10-29 10:06] huojiao2006 commented on #1193
建议在缺省配置中，让 smtp 用户与发件人邮件，保持一致.
如果发件人邮件不填的话，就是用的smtp用户。
这里单独给一个发件人邮件，是因为有些邮件服务器的SMTP用户和发件人邮件 不是同一个值。

[2019-10-29 10:06] huojiao2006 commented on #1193
邮件开启 SSL ，发送测试邮件失败
已经fixed

[2019-10-29 10:07] huojiao2006 commented on #1193
配置 QQ 邮箱，可以发送邮件，但邮件中的图片无法正常显示。
前端应该已经fix了 @justahole

[2019-10-29 10:12] huojiao2006 commented on #823
需要前端或者installer 看一下。

[2019-10-29 10:59] #1225 closed

[2019-10-29 11:14] FeynmanZhou commented on #1152
@Carlosfengv @wansir  所以目前还是把应用上传的权限 仅开放给 ws-admin 是么？

[2019-10-29 11:43] mayuhope opened #1255 "在自制应用中从应用商店部署新应用时，前端会发送一个router请求，此请求404"
1、进入项目-应用负载-应用-自制应用，点击部署新应用，选择从应用商店部署，选择一个应用进行部署；

2、测试结果：应用被归类到应用模板这个页签下，但是此时前端发送了一个请求/kapis/resources.kubesphere.io/v1alpha2/namespaces/p3/router，此请求结果是404，此问题稳定复现
![image](https://user-images.githubusercontent.com/7677050/67764172-575f4800-fa84-11e9-8cfd-1c5425cbfdd0.png)

[2019-10-29 11:44] mayuhope commented on #1255
/assign @whDongRui
/kind bug
/area app-management
/milestone 2.1.0

[2019-10-29 11:53] huanggze opened #1256 "Pod 监控时间轴展示问题"
容器组，选了 7 天内，但时间轴没有正确反映时间刻度（图一）。 Container 监控倒是正确反映了（图二）

![image](https://user-images.githubusercontent.com/22350668/67764759-917d1980-fa85-11e9-9fd0-7044d62b9c9a.png)

![image](https://user-images.githubusercontent.com/22350668/67764857-ca1cf300-fa85-11e9-8187-8c8e248e1903.png)

[2019-10-29 11:54] huanggze commented on #1256
/area console
/kind bug
/assign @justahole
/milestone 2.1.0

[2019-10-29 12:24] zryfish commented on #1238
jaeger依赖于es，es没起来的话，jaeger状态会异常

镜像会改成 mirrorgooglecontainers/defaultbackend-amd64:v1.4

[2019-10-29 13:17] arraycto commented on #1253
修正后，继续报如下错误：
TASK [ks-devops/ks-devops : OpenPitrix | Waiting for openpitrix-db] *****************************************************************************************************************************************************************************
Tuesday 29 October 2019  21:06:32 +0800 (0:00:00.776)       0:06:25.399 *******
FAILED - RETRYING: OpenPitrix | Waiting for openpitrix-db (15 ret

[2019-10-29 13:19] huanggze opened #1257 "namespace operator 可以移除其他 admin"
namespace operator 可以移除 admin 吗？（这个用户是该 workspace 的 admin）

![image](https://user-images.githubusercontent.com/22350668/67770339-276a7180-fa91-11e9-9329-85d666feb040.png)

[2019-10-29 13:19] huanggze commented on #1257
/milestone 2.1.0
/area iam
/help
/assign @wansir

[2019-10-29 13:21] arraycto opened #1258 "【加急】CentOS Linux release 7.5.1804 安装失败kubesphere2.0.2离线版"
[备注]:  大哥哥，安装的过程出现了一个新问题，加班24点都可能解决不了，明天汇报，跪求

**问题描述**
[code]
**安装环境的硬件配置**
8vCPU 32GB内存
CentOS Linux release 7.5.1804
离线安装kubesphere2.0.2
安装方式all-in-one离线

[备注]:  公司的服务器，内网，不能上网的服务器

**错误信息或截图**

[code]
**Installer版本**
8vCPU 32GB内存
CentOS Linux release 7.5.1804
离线安装kubesphere2.0.2
安装方式all-in-one离线

[2019-10-29 13:23] arraycto commented on #1258
明天向领导汇报，现在还没安装成功！跪求大佬指点，在线ing

[2019-10-29 13:27] pixiake commented on #1253
检查下存储配置和存储服务器
https://github.com/kubesphere/kubesphere/issues/1240

[2019-10-29 13:34] #1183 closed

[2019-10-29 13:35] xwb2535 commented on #1122
组件应该起来了，等了一段时间了。不过可能是机器配置，部署到4核8G的节点机器去了，导致性能较慢吧。现在都升级到1个16核32G ，2个8核16G的之后，就一直没出现卡顿的问题了。

[2019-10-29 13:35] huanggze opened #1259 "带 CRD 的应用都不能部署"
不局限于自带 CRD 的 operator 应用，还包括依赖了 CRD 的应用，比如 mysql-exporter

![image](https://user-images.githubusercontent.com/22350668/67771795-efb0f900-fa93-11e9-8c40-0a580258bcd1.png)

![image](https://user-images.githubusercontent.com/22350668/67771852-06efe680-fa94-11e9-9862-5c14f74b16b4.png)

[2019-10-29 13:36] #1122 closed

[2019-10-29 13:36] huanggze commented on #1259
/kind bug
/milestone 2.1.0
/area app-management
/assign @pengcong06

[2019-10-29 13:37] rayzhou2017 commented on #1258
如果只是演示的话，要么用allinone，要么用2.1 Dev 版，这个版本可以不用配置存储

[2019-10-29 13:40] rayzhou2017 commented on #1258
哦，你已经是allinone, 到https://github.com/kubesphere/ks-installer/commits/master找找答案

[2019-10-29 13:46] pixiake commented on #1258
kubectl get sc 看下

[2019-10-29 15:29] zryfish commented on #1258
你的环境能登录么，登录方式可以发到 kubesphere@yunify.com ，我们帮你看下

[2019-10-29 15:40] pixiake commented on #1258
单节点可以使用local，如果要用nfs的话把local的is_default_class设置成false

helm list看下nfs-client的状态是不是FAILED，如果是的话helm del --purge  xxx，然后手动执行下上边那条命令看看
`/usr/local/bin/helm upgrade --install nfs-client /etc/kubernetes/addons/nfs-client-provisioner --set nfs.server=11.11.147.76 --set nfs.path=/opt/kubesphere --set storageClass.defaultClass=True --namespace kube-system`

[2019-10-29 15:51] pixiake commented on #1258
1.  确认要使用nfs的话，vars.yaml里修改配置 local_volume_is_default_class: false
2.  nfs的服务端配置建议   *(rw,insecure,sync,no_subtree_check,no_root_squash)
3.  先执行`helm del --purge nfs-client`  ， 然后执行`/usr/local/bin/helm upgrade --install nfs-client /etc/kubernetes/addons/nfs-client-provisioner --set nfs.server=11.11.147.76 --set nfs.path=/opt/kubesphere --set storageClass.defaultClass=True --namespace kube-system`

[2019-10-29 15:54] arraycto commented on #1258
改成这样？
# Local volume provisioner deployment(Only all-in-one)
local_volume_provisioner_enabled: false
local_volume_provisioner_storage_class: disabled
local_volume_is_default_class: false

正在执行中

[2019-10-29 15:55] pixiake commented on #1258
可以  执行`helm del --purge nfs-client`了么？

[2019-10-29 15:58] arraycto commented on #1258
[sysadm@ks-allinone ~]$ clear
[sysadm@ks-allinone ~]$ helm del --purge nfs-client
Error: Get http://localhost:8080/api/v1/namespaces/kube-system/pods?labelSelector=app%3Dhelm%2Cname%3Dtiller: dial tcp 127.0.0.1:8080: connect: connection refused
[sysadm@ks-allinone ~]$
是上面的结果，哥哥。all in one是不是以后不支持生产环境（未来，今天只考虑明天 演示搭建好的开发环境）

[2019-10-29 16:00] pixiake commented on #1258
你的环境能登录么，登录方式可以发到 kubesphere@yunify.com ，我们帮你看下  ssh / tv 12 / 向日葵

[2019-10-29 16:01] pixiake commented on #1258
卸载了的话  就不用执行上边命令  直接安装即可

[2019-10-29 16:02] pixiake commented on #1258
allinone的目的是快速体验用的，所以一般都是用local volume，生产环境建议搞多节点，做高可用

[2019-10-29 16:42] zheng1 commented on #1259
Same with https://github.com/kubesphere/kubesphere/issues/1245

[2019-10-29 16:44] arraycto commented on #1258
1.公司的电脑，没有您说的哪些东西哈，不然早发邮件了哈。
2.说的对，现在改成了local 官方的文档all in one的，但是还是报错。之前就是如下错才改成nfs的，如下：，现在有改成原版的官网离线，还是报下面的错误：
TASK [ks-devops/ks-devops : OpenPitrix | Waiting for openpitrix-db] *****************************************************************************************************************************************************************************
Wednesday 30 October 2019  00:29:33 +0800 (0:0

[2019-10-29 16:51] arraycto commented on #1258
[root@ks-allinone scripts]# kubectl get sc
NAME                   PROVISIONER                                       AGE
local (default)        kubernetes.io/no-provisioner                      111m
nfs-client (default)   cluster.local/nfs-client-nfs-client-provisioner   3h5m
[root@ks-allinone scripts]#

[2019-10-29 16:53] pixiake commented on #1258
vars.yaml里只能设置一个is_default_class，如果用local volume的话设置nfs_client_is_default_class: false

[2019-10-29 16:55] arraycto commented on #1258
没错，已经是false啊，改成local后nfs的就改成了false，现在的配置如下
# NFS-Client provisioner deployment
nfs_client_enable: false
nfs_client_is_default_class: false
# Hostname of the NFS server(ip or hostname)
#nfs_server: 192.168.xx.xx
# Basepath of the mount point to be used
nfs_path: /opt/kubesphere

[2019-10-29 16:57] pixiake commented on #1258
卸载重装下，环境里一直有两个default的storageclass，所以pvc不知道找哪个

[2019-10-30 00:36] arraycto commented on #1258
@pixiake@zryfish两位哥哥，非常感谢您们的不辞辛苦的解答，麻烦把您们回答中带有后缀为76的ip变成xxx（例如10.xx.xx.xx）,公司管的比较严格，感谢理解我一个小白的痛楚·

[2019-10-30 00:37] arraycto commented on #1258
@pixiake@zryfish 问题已经解决，成功进入登录页面。接下来上生产。kubesphere很棒。接下来，行业内也帮您们推广推广。良心产品，继续关注。

[2019-10-30 00:39] #1253 closed

[2019-10-30 01:09] calvinyv commented on #1258
@arraycto 觉得好给个star 呗 ~

[2019-10-30 01:38] Ma-Dan commented on #1218
![image](https://user-images.githubusercontent.com/38337958/67821723-f02fab00-faf8-11e9-9c52-5a3324cb6440.png)
时间漂移问题在昨天版本已解决，验证如上图，发送时间和累积次数均正确。

[2019-10-30 01:56] rayzhou2017 commented on #1259
两天之内能fix吗？

[2019-10-30 01:57] dpp814 opened #1260 "gitee构建流水线，未找到 Pipeline 配置文件"
![image](https://user-images.githubusercontent.com/22487387/67822488-8238b300-fafb-11e9-9f83-60dc3cb7157d.png)
错误日志：
Started by user dpp
[Wed Oct 30 01:56:01 UTC 2019] Starting branch indexing...

using GIT_ASKPASS to set credentials

ERROR: [Wed Oct 30 01:56:01 UTC 2019] Could not update folder level actions from source project-lLWzED2mDXAKdevops-gitee
java.io.IOException: error=2, No such file o

[2019-10-30 01:57] rayzhou2017 commented on #1257
这是一个很严重的权限bug

[2019-10-30 02:10] zheng1 commented on #1259
@rayzhou2017  升级client-go影响比较大, 最好放到2.1.1里面

[2019-10-30 02:15] wansir commented on #1257
符合预期， 因为cluster层面的权限 > workspace 层级的权限 > 项目层级的权限，因为hgz 这个账号 是workspace-admin ，权限是三级叠加的， 所以 hgz 还是可以管理项目下的成员和角色

[2019-10-30 02:17] runzexia commented on #1260
确认一下。
jenkins 有做过配置调整吗？

[2019-10-30 02:18] wansir commented on #1257
就类似于 cluster-admin 即使被添加为一个项目的viewer，他依旧可以管理该项目

[2019-10-30 02:21] dpp814 commented on #1260
就加了maven插件 其他没动过

[2019-10-30 02:21] rayzhou2017 commented on #1259
这个是新feature吧，放到3.0吧

[2019-10-30 02:22] runzexia commented on #1260
发一下远程信息到 kubesphere@yunify.com

[2019-10-30 02:23] rayzhou2017 commented on #1257
那要测试一下非cluster admin的operator是否有这个问题

[2019-10-30 02:28] wansir commented on #1255
该请求用于判断是否开启应用路由, @whDongRui  可以检查一下是不是不必要的请求

[2019-10-30 02:30] arraycto commented on #1258
已经star哈。刚才有推荐了几个合作伙伴用这个，今天客户很满意，现在正在搭建集群版本的。
@calvinyv@管理员。我没有编辑权限啊。
麻烦管理员@管理员把：上面回答中带有后缀为76的ip变成xxx（例如10.xx.xx.xx）,公司管的比较严格，比较敏感；感谢理解我一个小白的难处~拜托

[2019-10-30 02:30] justahole commented on #1193
/kind need-to-verify

[2019-10-30 02:33] arraycto opened #1261 "版本支持：k8s v1.16.2啥时候支持哈？"
[备注]: 版本支持：k8s v1.16.2啥时候支持哈？

**问题描述**
版本支持，服务器已经有k8s v1.16.2
**安装环境的硬件配置**
centos7

[备注]:  私有云

**错误信息或截图**

**Installer版本**
kubesphere2.0.2

[2019-10-30 02:34] dpp814 commented on #1260
已经发了，还麻烦远程看看

[2019-10-30 02:35] rayzhou2017 commented on #1261
要到下一个大版本了了，3.0，预计3个月以后

[2019-10-30 02:40] rayzhou2017 commented on #1242
这个应该和  #1243 这个一个问题吧

[2019-10-30 02:41] wansir commented on #887
/assign @pengcong06

[2019-10-30 02:42] rayzhou2017 commented on #1238
下面两个问题尽快fix

[2019-10-30 02:58] gongjx11 opened #1262 "centos7.4 2.0.2多节点安装ceph报错，请问一下是什么原因"
![image](https://user-images.githubusercontent.com/21954004/67825320-e790a200-fb03-11e9-8104-c59d4840330d.png)

这是CEPH配置参数
![image](https://user-images.githubusercontent.com/21954004/67825384-1d358b00-fb04-11e9-81c1-672954a34a79.png)
麻烦帮忙看一下

[2019-10-30 03:06] leoendless commented on #1255
这个是必要的，建议resource 接口处理下，返回空结果

[2019-10-30 03:08] leoendless commented on #1223
过一段时间后恢复正常了吗，还是一直是更新中

[2019-10-30 03:32] leoendless commented on #1196
@whDongRui 看下第二个问题吧

[2019-10-30 03:37] gongjx11 commented on #1262
我以经解决了，谢谢了！

[2019-10-30 03:37] leoendless commented on #1175
这里建议 admin 用户将其它用户指定为该企业空间管理员

[2019-10-30 03:38] wansir commented on #1175
这里建议不做改动， role/rolebinding/user ， 目前都是松耦合，应该延续k8s 这种资源管理的方式

[2019-10-30 03:49] #1138 closed

[2019-10-30 03:51] runzexia commented on #1260
![image](https://user-images.githubusercontent.com/31230341/67827624-7fde5500-fb0b-11e9-8964-83810edf1d73.png)
经检查是用户配置全局工具安装时，覆盖了默认git client的设置，导致找不到git命令行

[2019-10-30 04:05] rayzhou2017 opened #1263 "英文文案"
* [x] 代码字段DEVOPS_PROJECT_ROLES_DESC没有翻译， ROLES要改成Roles
![Screen Shot 2019-10-30 at 12 04 21 PM](https://user-images.githubusercontent.com/28859385/67828190-7bb33700-fb0d-11e9-86c6-28b15fa4ec31.png)

[2019-10-30 04:33] rayzhou2017 opened #1264 "devops英文文案"
* [ ] 没有翻译成英文
![Screen Shot 2019-10-30 at 12 32 07 PM](https://user-images.githubusercontent.com/28859385/67829238-71933780-fb11-11e9-91cf-233821c97fb2.png)

[2019-10-30 04:38] rayzhou2017 opened #1265 "websocket英文环境下失效"
* [x] 我已经发现好几起了，换成中文就有效果
![Screen Shot 2019-10-30 at 12 36 50 PM](https://user-images.githubusercontent.com/28859385/67829429-1746a680-fb12-11e9-92df-9eb2b4fea504.png)

[2019-10-30 04:38] rayzhou2017 commented on #1265
创建PVC也有这个问题

[2019-10-30 04:40] rayzhou2017 commented on #1265
切回来又有效果了
![Screen Shot 2019-10-30 at 12 39 43 PM](https://user-images.githubusercontent.com/28859385/67829491-5f65c900-fb12-11e9-90cc-9196a5c16c64.png)

[2019-10-30 04:42] rayzhou2017 commented on #1023
这个是怎么回事呢？我看也没有改变，也没有说明。这个角色是在run s2i/b2i时候自动生成的

[2019-10-30 05:00] Carlosfengv commented on #1175
不太好，可能会被认为是个bug；
建议修改
上级管理员移除企业空间或者ns 管理员，在移除的过程中指定一个新的管理员（不指定的话默认为当前的上级管理员）；

[2019-10-30 05:07] knowwinter opened #1266 "项目自定义权限角色进入项目后报403"
我通过自定义权限创建了一个角色，但是那个角色无论赋予哪些权限，即便是把所有的权限都赋上了，但是那个角色的账户登陆该项目的概览就报403 forbidden，概览里的所有资源都无法读取显示，其他的功能基本都能点进去，有些地方也有403forbidden，我的版本是2.0.2
![微信图片_20191030130643](https://user-images.githubusercontent.com/25719964/67830584-262f5800-fb16-11e9-9a82-7f2bf6a32055.png)

[2019-10-30 05:07] Carlosfengv commented on #1191
建议修改时间间隔为 30s
/assign @justahole

[2019-10-30 05:13] leoendless commented on #1175
建议移除这个manager 信息吧，目前的权限规则里没有一个这样的存在，需要查看相关人员信息的话可以在 企业空间的 members 里查看

并且如果有多个 workspace-admin 时，逻辑也不好处理

[2019-10-30 05:19] mayuhope commented on #1171
已修复

[2019-10-30 05:19] #1171 closed

[2019-10-30 05:21] knowwinter opened #1267 "部署中s2i部署的状态显示问题"
我用s2i方式创建的部署，即便那个部署是在正常运行的，但是那个状态显示只有一个绿的点，没有运行中（1/1）这种信息，非s2i方式创建的部署没有这个问题，版本2.0.2
![微信图片_20191030132053](https://user-images.githubusercontent.com/25719964/67831105-23356700-fb18-11e9-829b-c30d1874c03f.png)

[2019-10-30 05:53] runzexia commented on #1264
/cc @soulseen @minghaoye

[2019-10-30 05:55] runzexia commented on #1267
这个在2.1中应该修复了
/cc @minghaoye

[2019-10-30 05:58] tzghost opened #1268 "发送测试邮箱失败"
发送测试邮箱失败，如下：

![image](https://user-images.githubusercontent.com/17000535/67832566-064f6280-fb1d-11e9-9cdb-2ca343a3f989.png)

[2019-10-30 06:00] runzexia commented on #1023
/assign @wansir 需要过滤下内部角色

[2019-10-30 06:00] wansir commented on #1023
这个角色是 s2i operator 创建出来的， 应该被过滤掉
@leoendless  获取项目角色列表的时候可以加上额外的参数，过滤出面向用户的角色
https://github.com/kubesphere/kubesphere/pull/1111

[2019-10-30 06:02] rayzhou2017 commented on #1265
又测试了一下创建pvc，确实没有动画效果，但会在创建好之后状态有更新

[2019-10-30 06:03] whDongRui commented on #1196
@rayzhou2017 我后来又提了一个mr来修复第二个问题的，再去验证一下吧，应该已经解决了。

[2019-10-30 06:05] rayzhou2017 commented on #962
真是奇怪了，我job就不能正常运行 @calvinyv 你帮忙复现一下

[2019-10-30 06:05] #1251 closed

[2019-10-30 06:07] rayzhou2017 commented on #1196
verified

[2019-10-30 06:07] #1196 closed

[2019-10-30 06:08] justahole commented on #1218
如果在账户改密码的时候改变通知列表中的信息，会出现权限的问题。@huojiao2006

[2019-10-30 06:10] minghaoye commented on #1264
这个周一已经已经修改了，可以更新下环境

[2019-10-30 06:12] rayzhou2017 commented on #1264
verified

[2019-10-30 06:12] #1264 closed

[2019-10-30 06:12] tzghost commented on #1268
无法保存配置且邮箱测试失败
![image](https://user-images.githubusercontent.com/17000535/67833331-54fdfc00-fb1f-11e9-8b70-8d1839f74698.png)

[2019-10-30 06:14] rayzhou2017 commented on #1266
你是怎么自定义的角色？有截图吗？

[2019-10-30 06:24] justahole commented on #1218
目前告警策略的通知人原本设计只是添加邮箱，没用指定到用户。可能需要后端改下逻辑@huojiao2006

[2019-10-30 06:41] calvinyv commented on #962
我昨天在1028的build上面测过我们文档里面的pi打印，是不用输入引号的，只需要输入：
-Mbignum=bpi,-wle,print bpi(2000)

yaml 就会被转化为：
[code]

[2019-10-30 06:55] rayzhou2017 commented on #962
按照上面的例子，用busybox，args，不是command测试一下，

[2019-10-30 06:55] jinjie2088 commented on #803
up

[2019-10-30 07:01] chenjiayao opened #1269 "CentOS 7.7 版本安装 All-in-One 失败"
安装环境：虚拟机，CentOS 7.7
硬件： 8 CPU， 16G

报错信息：

[code]

安装版本 ：kubesphere-all-advanced-2.0.2

[2019-10-30 07:02] justahole commented on #1191
现在是10个小时，10分钟间隔。这样不香吗 @huanggze

[2019-10-30 07:03] rayzhou2017 commented on #1269
官网应该没有说支持centos 7.7

[2019-10-30 07:06] gongjx11 opened #1270 "centos7.4 多节点安装,openpitrix-db-deployment 还是报错，以经配置好了存储，空间也创建，但是还是报错"
1 服务安装还是报这个错，
![image](https://user-images.githubusercontent.com/21954004/67836032-79a9a200-fb26-11e9-8938-76c71fbd78a4.png)
2 存储使用CEPH 以经配置；
![image](https://user-images.githubusercontent.com/21954004/67836091-a1990580-fb26-11e9-912a-7acd85f9cb28.png)
3 openpitrix-db-deployment 配置也看了是创建PVC一样的
![image](https://user-images.githubusercontent.com/21954004/67836146-cb522c80-fb26-11e9-8692-7a984b6cb62d

[2019-10-30 07:08] #1191 closed

[2019-10-30 07:17] calvinyv commented on #962
@rayzhou2017 args 填
[code]
没问题的
![Jietu20191030-151537](https://user-images.githubusercontent.com/28883416/67836746-5aac0f80-fb28-11e9-9bae-8484b56bfcc4.png)
![Jietu20191030-151605](https://user-images.githubusercontent.com/28883416/67836752-60095a00-fb28-11e9-95df-59093d3c4396.png)

[2019-10-30 07:22] runzexia commented on #1260
/close

[2019-10-30 07:22] #1260 closed

[2019-10-30 07:33] zhyawshhz opened #1271 "Installing prometheus-operator Failed"
在现有K8S集群上部署Kubesphere，但是在执行到ks-monitor任务的Installing prometheus-operator一直报错，显示是执行apply -f /etc/kubesphere/prometheus/sources出错，各位大神帮我看下。

![image](https://user-images.githubusercontent.com/4849512/67837553-4cf78980-fb2a-11e9-97f9-b61017b6b366.png)

![image](https://user-images.githubusercontent.com/4849512/67837574-5c76d280-fb2a-11e9-9c14-725b35c3790c.png)

![image](https://user-images.githubuserc

[2019-10-30 07:36] Forest-L commented on #1270
请再检查下ceph，通过截图来看，pvc都没有bound，还在pending，说明存储还没有好。

[2019-10-30 07:38] gongjx11 commented on #1270
好的 我在看一下，谢谢

[2019-10-30 07:44] chenjiayao commented on #1269
切换成 CentOS 7.5 的版本之后，安装报错：

安装版本：2.0.2离线版本

[code]

[2019-10-30 07:44] knowwinter commented on #1266
就是在项目里的项目设置下的成员角色里创建的自定义的角色啊，无论我权限如何设置，那边都是报那些403
![微信图片_20191030154326](https://user-images.githubusercontent.com/25719964/67838418-34886e80-fb2c-11e9-8685-a49c4fe4aacc.png)
![微信图片_20191030154334](https://user-images.githubusercontent.com/25719964/67838427-381bf580-fb2c-11e9-99bf-eee67694c49a.png)

[2019-10-30 07:46] mayuhope opened #1272 "500并发压测下， /kapis/logging.kubesphere.io/v1alpha2/cluster接口报错"
**API：**
/kapis/logging.kubesphere.io/v1alpha2/cluster

**Request  Body**：GET  http://192.168.0.2:31656/kapis/logging.kubesphere.io/v1alpha2/cluster?operation=query&workspaces=space2&namespaces=pp1&workloads=dp1&pods=dp1-5cf847465f-qcxgp&containers=busybox-yg8ov3&log_query=loops&start_time=1572376550883&end_time=1572419750883

**测试结果**：
在500并发/秒的压测下，错误率为49.2%，错误结果为：
HTTP/1.1 500 Internal Server Er

[2019-10-30 07:50] mayuhope commented on #1272
/assign @huanggze
/area  api
/milestone 2.1.0

[2019-10-30 07:59] runzexia opened #1273 "应用管理导入helm 包，版本时间不正确"
![image](https://user-images.githubusercontent.com/31230341/67839243-263b5200-fb2e-11e9-8ecf-5a186728c36f.png)
https://hub.helm.sh/charts/stable/mysql
/kind bug
/area app-management
/cc @zheng1 @pengcong06

[2019-10-30 08:00] huanggze commented on #1271
请问是否有重复执行安装过？还是首次安装？

[2019-10-30 08:06] soulseen opened #1274 "无法搜索私有仓库中的镜像"
**Describe the bug(描述下问题)**
根据[文档](https://kubesphere.io/docs/v2.0/zh-CN/system-settings/push-img-harbor/#%E5%A6%82%E4%BD%95%E4%B8%8A%E4%BC%A0%E5%9F%BA%E7%A1%80%E9%95%9C%E5%83%8F%E5%88%B0-harbor)将镜像上传至harbor后，无法在ks中搜到到该镜像

![image](https://user-images.githubusercontent.com/16031013/67838693-d4de9300-fb2c-11e9-8fbe-cb2e31ec03c3.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1 dev

[2019-10-30 08:07] soulseen commented on #1274
/kind bug
/milestone 2.1.0
/cc @minghaoye
/priority high

[2019-10-30 08:09] runzexia opened #1275 "应用管理版本号展示不全"
以 stable/mysql 为例
* [x] 简介页面版本不全，且排序混乱
![image](https://user-images.githubusercontent.com/31230341/67839659-196b2e00-fb2f-11e9-8937-e85a637f8ba5.png)
* [ ] 部署完成后版本号展示不全且排序混乱
![image](https://user-images.githubusercontent.com/31230341/67839773-651dd780-fb2f-11e9-89d1-9cfbe3ce7efc.png)
/kind bug
* [x] 版本号排序不太对
![image](https://user-images.githubusercontent.com/31230341/67840074-04db6580-fb30-11e9-80

[2019-10-30 08:14] runzexia commented on #1242
与 #1243 重复关闭
/close

[2019-10-30 08:14] #1242 closed

[2019-10-30 08:15] rayzhou2017 commented on #1266
我大概知道怎么回事了，你这个角色的用户应该是在企业空间被邀请为regular了，你换成workspace-viewer是可以的

[2019-10-30 08:16] rayzhou2017 commented on #1266
在2.1.0还有这个问题，/cc @wansir
![Screen Shot 2019-10-30 at 4 14 04 PM](https://user-images.githubusercontent.com/28859385/67840287-787d7280-fb30-11e9-85b6-0f35149c185d.png)

[2019-10-30 08:18] soulseen opened #1276 "创建镜像仓库密钥后，搜索镜像时无法选择到创建的密钥"
**Describe the bug(描述下问题)**
创建`dockerhub-id` 和 `harbor-id` 两个镜像仓库密钥后。搜索镜像时无法选择到`harbor-id`。
![image](https://user-images.githubusercontent.com/16031013/67840222-4ec44b80-fb30-11e9-85f0-d1367b139d98.png)

![image](https://user-images.githubusercontent.com/16031013/67840243-5be13a80-fb30-11e9-9fbb-3063225195f9.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1 dev

**To Reproduce(复现步骤

[2019-10-30 08:21] soulseen commented on #1276
/kind bug
/milestone 2.1.0
/assign @leoendless

[2019-10-30 08:27] #1276 closed

[2019-10-30 08:34] gongjx11 commented on #1270
我看了一下这几个配置 都没有说到配PV，创建PVC 的时候需要PV
![image](https://user-images.githubusercontent.com/21954004/67841389-ef1b6f80-fb32-11e9-95bb-8017105da63a.png)

而我这边几次配都没有看到PV，是不是我重新需要增加，而且vars.yaml 也没有看到要配PV。我现在错还是和上面一样的结果；

[2019-10-30 08:47] whDongRui commented on #1203
这个跟设计讨论下，改动比较大，差不多把应用商店和应用仓库的显示页面重构了下(把之前有些用op的组件换也ks自己的)。刚改完了，还没合到master分支上。

[2019-10-30 08:49] gongjx11 opened #1277 "centos7.4 多节点，还是之前哪个问题npitrix-db-deployment"
https://github.com/kubesphere/kubesphere/issues/1270
我看了一下这几个配置 都没有说到配PV，创建PVC 的时候需要PV
image

而我这边几次配都没有看到PV，是不是我重新需要增加，而且vars.yaml 也没有看到要配PV。我现在错还是和上面一样的结果；

[2019-10-30 08:49] gongjx11 commented on #1277
https://user-images.githubusercontent.com/21954004/67841389-ef1b6f80-fb32-11e9-95bb-8017105da63a.png

[2019-10-30 08:51] rayzhou2017 commented on #1277
这肯定是存储的问题

[2019-10-30 08:54] #962 closed

[2019-10-30 08:54] gongjx11 commented on #1277
我知道是存储的问题，具体想问一下这个是不会是会创建PV ，还有就是一个问题 我发现我每次配置好的ceph的secret值，装的时候都会变。
![image](https://user-images.githubusercontent.com/21954004/67842731-b29d4300-fb35-11e9-8ab0-26be929b5855.png)

我想问一下，kubesphere  存储ceph需不需要配pv

[2019-10-30 08:54] rayzhou2017 commented on #1277
不需要，kubesphere用的是动态存储分配

[2019-10-30 08:54] runzexia commented on #1267
verified
fix in 2.1.0
/close

[2019-10-30 08:55] #1267 closed

[2019-10-30 08:55] gongjx11 commented on #1277
好的 哪我在看一下吧，谢谢了！

[2019-10-30 08:56] shaowenchen commented on #1114
![image](https://user-images.githubusercontent.com/43693241/67842886-fa23cf00-fb35-11e9-9003-c0be119450a2.png)

事件被去掉了吗？

[2019-10-30 08:56] shaowenchen commented on #1215
OK
/close

[2019-10-30 08:56] #1215 closed

[2019-10-30 09:03] shaowenchen commented on #1193
![image](https://user-images.githubusercontent.com/43693241/67843464-fd6b8a80-fb36-11e9-9db0-d3c9eb952efe.png)

SSL 发送测试邮件成功。

/close

[2019-10-30 09:03] #1193 closed

[2019-10-30 09:06] shaowenchen commented on #1110
![image](https://user-images.githubusercontent.com/43693241/67843793-a3b79000-fb37-11e9-8d09-becb49fbb6f3.png)

OK
/close

[2019-10-30 09:06] #1110 closed

[2019-10-30 09:09] shaowenchen commented on #1218
下个版本解决

/milestone 2.1.1
/remove-milestone 2.1.0

[2019-10-30 09:14] shaowenchen commented on #1216
/assign @huanggze
/assign @leoendless

上面的 （3）已经更新，（1）、（2）需要前端和监控修复。

[2019-10-30 09:16] shaowenchen commented on #1108
那就转到下一个 milestone 吧

/remove-milestone 2.1.0
/milestone 2.1.1

[2019-10-30 09:20] shaowenchen commented on #1188
属于产品设计与用户理解的偏差

/close

[2019-10-30 09:20] #1188 closed

[2019-10-30 09:24] leoendless commented on #1108
这个应该修复了，可以验证看看

[2019-10-30 09:33] shaowenchen commented on #1108
20191030 的版本还没有。可以将灰度发布的版本设置，大一点复现。

![image](https://user-images.githubusercontent.com/43693241/67845908-47ef0600-fb3b-11e9-8159-665110baf1e4.png)

就绪的副本数和副本状态，没有实时刷新。在负载里面，可以看到部分副本已经就绪。

[2019-10-30 09:39] huanggze commented on #1216
前后端已提

[2019-10-30 09:43] wnxn commented on #1270
这个是 ks-only 安装的还是 ks installer ? 用 describe 命令看看 pvc 的 event 有什么报错。

[2019-10-30 09:44] rayzhou2017 commented on #1252
verified

[2019-10-30 09:44] #1252 closed

[2019-10-30 09:46] rayzhou2017 commented on #1226
verified

[2019-10-30 09:46] #1226 closed

[2019-10-30 09:48] soulseen opened #1278 "项目下operator角色调用验证仓库地址的接口，没有权限"
**Describe the bug(描述下问题)**
邀请`cluster-regular`用户进入项目，并赋予operator角色，使用该用户创建`构建镜像`，调用验证仓库地址的接口时，返回403.
![image](https://user-images.githubusercontent.com/16031013/67846683-96e96b00-fb3c-11e9-849a-24f7f3b206aa.png)

![image](https://user-images.githubusercontent.com/16031013/67846814-ca2bfa00-fb3c-11e9-8810-2ce27dbd5271.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1 dev

**To Repr

[2019-10-30 09:49] soulseen commented on #1278
/kind bug
/assign @wansir
/milestone 2.1.0

[2019-10-30 09:52] gongjx11 commented on #1270
我是多节点安装的， 不是单节点的

[2019-10-30 09:55] calvinyv opened #1279 "应用图标上传应过滤文件类型，另外页面上应加上一些帮助信息"
**Describe the bug(描述下问题)**
应用图标上传应过滤文件类型，另外页面上应加上一些帮助信息

现在文件上传可以选择任意文件类型，另外没有任何帮助信息，我们应该告诉应用开发者推荐图标的格式、大小等信息

![Jietu20191030-175238](https://user-images.githubusercontent.com/28883416/67847719-470ba380-fb3e-11e9-8527-d1e96d9794fd.png)

[2019-10-30 09:55] calvinyv commented on #1279
/assign @leoendless
/kind bug

[2019-10-30 09:57] #1241 closed

[2019-10-30 09:59] calvinyv commented on #1279
/assign @whDongRui

[2019-10-30 10:05] gongjx11 commented on #1277
我就是参考这个去配的。

[2019-10-30 10:10] calvinyv opened #1280 "从应用实例页面左上快捷跳转到应用 404"
问题见录屏：
https://yunify.anybox.qingcloud.com/s/R4mC8Iv6k1QBmqRGA1mJMIuEq22pUiiQ

[2019-10-30 10:11] calvinyv commented on #1280
/assign whDongrui
/kind bug

[2019-10-30 10:14] Carlosfengv commented on #1279
zpl://screen?pid=5cbe7fbc2f55d8b73f56811b&sid=5d26dfd36ed932130ced215f

[2019-10-30 10:22] whDongRui commented on #1280
这个是什么环境？你更新一下最新代码或换一个环境测试一下。我测试没有复现这个问题。

[2019-10-30 10:36] whDongRui commented on #1279
已经按设计图加了应用图标上传的提示文字

![image](https://user-images.githubusercontent.com/38676269/67850865-352cff00-fb44-11e9-9672-fb9b7cefc695.png)

[2019-10-30 10:47] calvinyv commented on #1279
@whDongRui 文件类型过滤呢？ks上已经有现成的实现了，在b2i那里，具体可以咨询 @minghaoye

[2019-10-30 11:04] huanggze opened #1281 "支持选装 etcd 监控"
前端调用 K8s API 检查 /apis/monitoring.coreos.com/v1/namespaces/kubesphere-monitoring-system/servicemonitors/etcd “code” 是否为 404，404 则为未开启

/area monitoring
/kind feature
/milestone 2.1.0
/assign @huanggze @justahole

[2019-10-30 11:31] #1258 closed

[2019-10-30 12:09] zheng1 commented on #1275
/assign @whDongRui

这里的排序条件是 sequence, 需要改一下

[2019-10-30 12:10] zheng1 commented on #1273
在之前的设计中, 这里定义的是导入时间, 而不是helm包中的创建时间

[2019-10-30 12:46] arraycto opened #1282 "【集群离线安装】离线集群1主2从安装失败：hosts.ini配置问题？"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
安装的服务器，无法外网。
离线集群1主2从安装失败：hosts.ini配置问题？
该页面中的https://kubesphere.io/docs/v2.0/zh-CN/installation/multi-node/
ansible_become_pass和ansible_ssh_pass能共存么.现状是
例如user001/123456开启了ssh远程，该机器的root/123123, 两个用户都知道用户名密码，但是user001有ssh权限，root没有ssh权限，尴尬至极。（通过下面的日志，猜想是这个问题。）

**安装环境的硬件配置**
3台centos7.5 64位
CentOS Linux release 7.5.1804 (Core)
8vCPU

[2019-10-30 13:36] arraycto commented on #1282
已经安装这个配置还是报错
[all]
master ansible_connection=local  ip=192.168.0.1  ansible_user=ubuntu  ansible_become_pass=Qcloud@123
node1  ansible_host=192.168.0.2  ip=192.168.0.2  ansible_user=ubuntu  ansible_become_pass=Qcloud@123
node2  ansible_host=192.168.0.3  ip=192.168.0.3  ansible_user=ubuntu  ansible_become_pass=Qcloud@123

[kube-master]
master

[kube-node]
node1
node2

[etcd]
master

[k8s-cluster:ch

[2019-10-30 14:17] leoendless commented on #1207
Fixed

[2019-10-30 14:42] huanggze commented on #1216
/kind need-to-verify

[2019-10-30 15:10] arraycto opened #1283 "15次安装，换了5组机器均失败：集群离线安装失败centos7.5,"
[备注]: 小白，安装不下10次均失败，求大佬指导

**问题描述**
已经按照:https://kubesphere.io/docs/v2.0/zh-CN/faq/faq-install/#multi-node-%E5%AE%89%E8%A3%85%E9%85%8D%E7%BD%AE%E7%9B%B8%E5%85%B3%E9%97%AE%E9%A2%98配置和官网一样，还是报错

官方原文这句操作的【如果某些服务器的 Ubuntu 系统默认管理员用户为 ubuntu，若切换为 root 用户进行安装，应该如何配置和操作？
可通过命令 sudo su 切换为 root 用户后，在该节点查看是否能 ssh 连接到其他机器，如果 ssh 无法连接，则需要参考 conf/hosts.ini 的注释中 non-root 用户示例部分，如下面第二步 hosts.ini 配置示例所示，而最终执行安装脚

[2019-10-30 15:12] whDongRui commented on #1279
file有一个accept属性可以限制上传的文件类型，op中涉及到文件上传的位置都加了类型过滤。

[2019-10-31 00:16] huanggze commented on #1272
100并发/秒测过吗？2.1 查询做过优化，看起来比 2.0 的压测好些。外接 QingCloud 企业型 ES 的，有时间也测测比较看看

[2019-10-31 01:13] calvinyv commented on #1283
那个说明的关键点是能否ssh到其他机器，你可以试试，从报错看是ssh不过去的

[2019-10-31 01:14] calvinyv commented on #1283
/assign @Forest-L

[2019-10-31 01:38] arraycto commented on #1283
刚刚配置了ssh3台机器免登陆公钥，依旧报错

atal: [node1]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: \\S\nKernel \\r on an \\m\n\nPermission denied (publickey,gssapi-keyex,gssapi-with-mic,password).\r\n", "unreachable": true}
fatal: [node2]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: \\S\nKernel \\r on an \\m\n\nPermission denied (publicke

[2019-10-31 01:41] Forest-L commented on #1283
1、由于是离线环境，内网，介意把配置文件hosts.ini截图看下吗？
2、手动ssh去连接node2机器试下，比如：ssh root@node2ip

[2019-10-31 01:44] whDongRui commented on #1203
/kind need-to-verify

[2019-10-31 01:46] zhyawshhz commented on #1271
重复执行过，但是我每次都是把K8S集群重置重新安装的

[2019-10-31 01:47] Forest-L commented on #1282
1、非root用户的按上面配置没问题；
2、nuser001 用户没有加入到sudo的file里面；
3、可以先把root用户的ssh打开，等安装完成之后，再关掉。

[2019-10-31 01:50] whDongRui commented on #1275
好的，已经把查询versions的默认排序设置成了sequence。

[2019-10-31 01:52] arraycto commented on #1283
1.host 内容如下：
; Parameters:
;  ansible_connection: Connection type to the host.
;  ansible_host: The name of the host to connect to.
;  ip: The ip of the host to connect to.
;  ansible_user: The default ssh user name to use.
;  ansible_ssh_pass： The ssh password to use.
;  ansible_become_pass: Allows you to set the privilege escalation password.

; If installer is ran from non-root user account who

[2019-10-31 01:54] arraycto commented on #1283
现在错误变成了

日志：

fatal: [node1]: FAILED! => {"changed": true, "msg": "non-zero return code", "rc": 1, "stderr": "\S\nKernel \r on an \m\n\nShared connection to 192.168.x.x closed.\r\n", "stderr_lines": ["\S", "Kernel \r on an \m", "","Shared connection to 192.168.x.x closed."], "stdout": "\r\nuser001 is not in the sudoers file. This incident will be reported.\r\n", "stdout_lines": ["", "user001is not

[2019-10-31 01:59] arraycto commented on #1283
在线等哈，卡主了~快哭了~哥哥

[2019-10-31 01:59] mayuhope commented on #1272
100并发测过了，100并发/秒没有报错，这是结果：
![image](https://user-images.githubusercontent.com/7677050/67912511-191d7200-fbc5-11e9-9721-eca256f10012.png)

[2019-10-31 02:16] Forest-L commented on #1269
报错信息来看，是因为有依赖包的问题，可以提供远程方式去你们环境看下吗？tv 或者向日葵。

[2019-10-31 02:22] huanggze commented on #1271
看报错应该是残留了 CRD 没有删除干净。`kubectl get crd | grep 'monitoring'` 是重置节点系统吗还是怎样重置的？

[2019-10-31 02:34] huanggze commented on #1257
verified

[2019-10-31 02:34] #1257 closed

[2019-10-31 02:42] rayzhou2017 commented on #1283
你看抛错日志，不是说了user001is not in the sudoers file.吗

[2019-10-31 02:42] pixiake commented on #1283
user001没有sudo权限，用有sudo权限的用户，另外 如果配了免密，可以不填密码

[2019-10-31 03:04] pengcong06 commented on #1254
/kind verify

[2019-10-31 03:05] arraycto commented on #1283
已经按照这总方式：https://blog.csdn.net/haohaodea1/article/details/84571468调整user001的sudoer权限。还是同样的错误。见上面，这种是不是就安装不了了

[2019-10-31 03:07] arraycto commented on #1283
sudo whoami
会返回“root”字样。

[2019-10-31 03:15] Micheal-yang-china opened #1284 "kubesphere搭建完成后无法通过master节点ip+端口号访问Jenkins和sonar，但是可以通过node节点访问"
kubesphere搭建完成后无法通过master节点ip+端口号访问Jenkins和sonar，但是可以通过node节点访问，harbor访问正常

[2019-10-31 03:16] zhyawshhz commented on #1271
我用的是kubeadm搭建的4节点集群，都是kubeadm reset重置集群再重新搭建的。

[2019-10-31 03:17] zheng1 commented on #1254
/kind need-to-verify

[2019-10-31 04:15] FeynmanZhou opened #1285 "导入第三方repo后，部署部分应用没有工作负载"
导入第三方repo后，部署其中一部分应用没有工作负载，我已经在 Values.yml 中定义了 namespace: "My namespace"，复现可通过仓库： "https://openchart.choerodon.com.cn/choerodon/c7n/"。

![image](https://user-images.githubusercontent.com/40452856/67914410-fb530b80-fbca-11e9-8e60-c9a093307c3f.png)

![image](https://user-images.githubusercontent.com/40452856/67914420-04dc7380-fbcb-11e9-8a41-ff35a223b114.png)

[2019-10-31 04:26] zheng1 commented on #1285
tidb 和 oauth-server 这两个手动通过helm安装也是失败的, 估计是还没开发完.

[2019-10-31 05:47] rayzhou2017 commented on #1243
verified

[2019-10-31 05:47] #1243 closed

[2019-10-31 05:52] rayzhou2017 commented on #1238
前面两个verified，后面两个我重新看issue，降低priority

[2019-10-31 05:54] rayzhou2017 opened #1286 "HA安装nameserver有告警"
* [ ] nameserver也有告警
![Screen Shot 2019-10-29 at 11 01 18 AM](https://user-images.githubusercontent.com/28859385/67734273-8d2c0e80-fa3b-11e9-9861-2ed74f5a6e53.png)

[2019-10-31 05:55] rayzhou2017 opened #1287 "HA有单点"
* [ ] 7个服务有单点，无状态服务需不需要考虑HA？
![Screen Shot 2019-10-29 at 11 38 20 AM](https://user-images.githubusercontent.com/28859385/67735977-bef3a400-fa40-11e9-9b0e-4310cc0f0db6.png)
![Screen Shot 2019-10-29 at 11 41 17 AM](https://user-images.githubusercontent.com/28859385/67736053-109c2e80-fa41-11e9-8899-14350b67c298.png)
![Screen Shot 2019-10-29 at 11 47 33 AM](https://user-images.githubusercontent.com/28

[2019-10-31 05:55] #1238 closed

[2019-10-31 05:59] rayzhou2017 commented on #1207
verified

[2019-10-31 05:59] #1207 closed

[2019-10-31 06:24] #1282 closed

[2019-10-31 06:32] arraycto opened #1288 "docker已经运行状态，依旧是Unable to start service docker: Job for docker.service failed"
问题描述
安装的服务器，无法外网。
离线集群1主2从安装失败：
报错与docker有关，但是docker是启动的啊。请问需要单独安装docker吗？（个人认为内含啊），搞了不下30遍，均报错。

安装环境的硬件配置
3台centos7.5 64位
CentOS Linux release 7.5.1804 (Core)
8vCPU 32GB内存

**错误信息或截图**
[code]
**Installer版本**
kubesphere2.0.2离线版

[2019-10-31 06:32] #1268 closed

[2019-10-31 06:34] calvinyv commented on #1288
/assign @Forest-L @pixiake

[2019-10-31 06:50] pixiake commented on #1288
日志里显示node1和node2   docker起不来，node1和node2上有docker吗？
1. 有的话看日志为啥起不来
2. 没有的话检查下yum源有啥问题

[2019-10-31 06:58] arraycto commented on #1288
刚才是node1，node2 的docker启动，现在node1和node2的docker均启动（请问可以卸载吗还是kubeshere自动安装的？）依旧报错，错误如下
：
TASK [download : container_download | Download containers if pull is required or told to always pull (all nodes)] *******************************************************************************************************************************
Thursday 31 October 2019  14:40:46 +0800 (0:00:00.107)       0:02:44.875

[2019-10-31 07:04] pixiake commented on #1288
1. 应该是镜像仓库没有起动，可以看下这个https://github.com/kubesphere/ks-installer/issues/73
2. 建议先检查下存储 和 dns，多节点部署强依赖这两项。/etc/resolv.conf 里边有不能用的dns注释掉

[2019-10-31 07:09] liuflylove666 opened #1289 "kubesphere"
kubesphere 能否提供基于docker run的 安装方式呢？一步一步的安装步骤，一建安装出错后排出困难

[2019-10-31 07:18] whDongRui commented on #1279
/kind need-to-verify

[2019-10-31 07:29] wnxn commented on #1277
describe 看看 pvc 有什么报错

[2019-10-31 07:53] shaowenchen commented on #1114
/close

[2019-10-31 07:53] #1114 closed

[2019-10-31 08:06] mayuhope opened #1291 "项目资源配额中的cpu需求位数太长需做舍入"
![image](https://user-images.githubusercontent.com/7677050/67929449-53eccd80-fbf8-11e9-8ed2-be4aab10660a.png)

[2019-10-31 08:08] mayuhope commented on #1291
/assign @leoendless
/area console
/milestone 2.1.0

[2019-10-31 08:10] pixiake commented on #1289
目前的安装方式主要有两种：

1. 裸机整体部署（docker + k8s + kubesphere）
       这种方式后续应该可以提供docker run的方式，不过需要单独找一台装了docker的机器做taskbox了。
2. Install KubeSphere on existing kubernetes cluster
       这种方式是纯容器化部署，如果已有k8s集群，可以选择这种部署方式。

[2019-10-31 08:14] shaowenchen commented on #1216
1. cpu 的监控单位需要更新，有两个地方

填写告警规则

![image](https://user-images.githubusercontent.com/43693241/67929819-3835f700-fbf9-11e9-8f61-e18974815524.png)

告警详情

![image](https://user-images.githubusercontent.com/43693241/67929831-42f08c00-fbf9-11e9-989b-e872648e94ba.png)

[2019-10-31 08:23] runzexia commented on #1273
这里感觉显示创建时间会更合适一点。
3.0有考虑改这个吗？

[2019-10-31 08:31] gongjx11 opened #1292 "问一下多节点集群安装harbor 报错，是什么原因"
![11](https://user-images.githubusercontent.com/21954004/67930930-cf9c4980-fbfb-11e9-9d7c-4e56322b2eec.png)

[2019-10-31 08:47] zheng1 commented on #1285
skywalk这个应用查不出来工作负载这个问题看上去是开发的helm包不太规范. op需要兼容这种情况. 等2.1发布之后考虑研究如何兼容. @pengcong06

[2019-10-31 08:51] zhangjun050754 commented on #726
这边确实有问题 一直卡在这边 重装了好几次

[2019-10-31 08:59] calvinyv commented on #1288
@arraycto 要是还不行的话，就开个teamviewer或者向日葵，把信息发到 kubesphere@yunify.com，我们上去看看吧

[2019-10-31 09:17] zhangjun050754 opened #1293 "All-in-One 模式 安装失败"
![image](https://user-images.githubusercontent.com/22231085/67934155-3de40a80-fc02-11e9-99a6-17a303f6a6ae.png)

[2019-10-31 09:18] Forget-C opened #1294 "可以支持管理多个K8s集群吗"

[2019-10-31 09:19] rayzhou2017 commented on #1294
3.0会支持

[2019-10-31 09:20] Forget-C commented on #1294
@rayzhou2017  2.1 版本 和 3.0 版本什么时候会发布？

[2019-10-31 09:21] rayzhou2017 commented on #1294
2.1计划下个星期，3.0要三个月以后

[2019-10-31 09:25] FeynmanZhou opened #1295 "应用通过审核后，在列表看到状态还是“开发中”"
应用通过审核后，在列表看到状态还是“开发中”，感觉比较奇怪。

![image](https://user-images.githubusercontent.com/40452856/67934588-248f8e00-fc03-11e9-882f-2670cacdf39b.png)

![image](https://user-images.githubusercontent.com/40452856/67934602-2d805f80-fc03-11e9-8d68-206ecc01265a.png)

[2019-10-31 09:26] gongjx11 opened #1296 "centos7.4 多节点集群多次安装harbor 报错，请问一下是什么原因"
![image](https://user-images.githubusercontent.com/21954004/67934853-9ff13f80-fc03-11e9-81d4-ae0a0479bb70.png)

[2019-10-31 09:29] ethanxzw opened #1297 "kubesphere项目中没有前端代码（ks-console），请问这部分代码是否开源？"
kubesphere项目中没有看到前端代码（ks-console），请问这部分代码是否开源？

[2019-10-31 09:30] FeynmanZhou commented on #1297
https://kubesphere.io/forum/d/18 看下这个帖子

[2019-10-31 09:32] ethanxzw commented on #1297
好的，多谢

[2019-10-31 09:32] #1297 closed

[2019-10-31 09:33] pixiake commented on #1293
tiller 异常，`kubectl get pod -n kube-system`看看pod状态

机器什么配置？

[2019-10-31 09:33] wanjunlei commented on #1007
![image](https://user-images.githubusercontent.com/53003665/67935189-49383580-fc04-11e9-9ce5-e9dbcde20804.png)
存储卷的最小值10无法删除，只能在后面追加

[2019-10-31 09:41] gongjx11 commented on #1296
我用的是单节点部署方式在多节点集群去部署的harbor，麻烦帮忙看一下，哪里的问题，谢谢！

[2019-10-31 09:42] gongjx11 commented on #1277
以经解决了，谢谢

[2019-10-31 09:46] zhangjun050754 commented on #1293
![image](https://user-images.githubusercontent.com/22231085/67936173-41799080-fc06-11e9-820b-d262f9725ed3.png)

[2019-10-31 09:48] zheng1 commented on #1285
修复了. 原因是这个chart里面的template扩展名是`.yml`, 这不是helm推荐的做法, 不过op还是兼容了.

@FeynmanZhou  在ks的 /system-workspace/projects/openpitrix-system/deployments/openpitrix-rp-kubernetes-deployment/resource-status 页面减一加一之后, 删掉老的应用重新部署试试

[2019-10-31 09:51] zheng1 commented on #1295
在op的设计中就是这样的, 开发者上架应用之后状态才会改变.

[2019-10-31 09:52] zheng1 commented on #1273
/assign @pengcong06

[2019-10-31 09:52] zhangjun050754 commented on #1293
![image](https://user-images.githubusercontent.com/22231085/67936702-36733000-fc07-11e9-8c92-e32e2a19fef3.png)
这个helm有问题

[2019-10-31 09:53] runzexia commented on #1273
/un-need-to-verify
/milestone 3.0.0

[2019-10-31 09:54] leoendless commented on #1175
Fixed

[2019-10-31 10:05] leoendless commented on #1265
@justahole @minghaoye 看下你们对应的列表页 warning 状态有启用闪烁效果吗，以及websocket 是否有监听

[2019-10-31 10:08] huanggze opened #1298 "告警界面操作问题汇总"
- [ ] 单位显示有误，共七处

此处应为 Core

![image](https://user-images.githubusercontent.com/22350668/67936196-4b02f880-fc06-11e9-886e-2ba081164e10.png)

红线的绘图不对，对应的值应该也是以 Core 为单位的住（fix 的时候考虑一下，不是简单改单位，如果前端做了单位换算，要正确换算出来）

![image](https://user-images.githubusercontent.com/22350668/67936371-a2a16400-fc06-11e9-803a-47916b8e651c.png)

红线下面的这个总结栏的单位

![image](https://user-images.githubusercontent.com/22350668/67

[2019-10-31 10:12] leoendless commented on #1230
Fixed

[2019-10-31 10:12] mayuhope opened #1299 "有状态副本集数量过多时，前端数量显示有遮盖"
<img width="660" alt="ss" src="https://user-images.githubusercontent.com/7677050/67938428-6a9c2000-fc0a-11e9-8070-310125403b0a.png">

[2019-10-31 10:13] mayuhope commented on #1299
/assign @leoendless
/kind improve
/area console
/milestone 2.1.0

[2019-10-31 10:16] huanggze commented on #1298
/kind bug
/assign @justahole
/area alerting

[2019-10-31 10:29] huanggze commented on #1216
界面操作问题汇总 #1298

[2019-10-31 10:29] huanggze commented on #1216
/remove-kind need-to-verify

[2019-10-31 10:43] whDongRui commented on #1295
这个是由于app，version设计的状态不同导致的，可以看一下这个issue https://github.com/kubesphere/kubesphere/issues/975。

[2019-10-31 11:35] mayuhope opened #1300 "500并发创建服务时，38%的请求创建失败"
500并发/秒同时创建有状态服务和有状态副本集：

**创建service：**
POST http://192.168.0.2:31656/api/v1/namespaces/p19/services

POST data:
{"apiVersion":"v1","kind":"Service","metadata":{"namespace":"p19","labels":{"version":"v1","app":"xfe69524-0be3-47fb-9985-a8e405ea3f8f"},"name":"xfe69524-0be3-47fb-9985-a8e405ea3f8f","annotations":{"kubesphere.io/creator":"ellayu"}},"spec":{"sessionAffinity":"ClientIP","selector":{"ver

[2019-10-31 11:37] mayuhope opened #1301 "英文语言下存储的默认存储类型换行了，需要改成同一行"
![image](https://user-images.githubusercontent.com/7677050/67943828-e780c700-fc15-11e9-8a91-cb24d3c7616f.png)

[2019-10-31 11:38] mayuhope commented on #1301
/assign @leoendless
/area console
/milestone 2.1.0

[2019-10-31 11:39] mayuhope commented on #1300
/area   performance

[2019-10-31 11:39] mayuhope commented on #1300
/assign @leoendless
/area console
/milestone 2.1.0

[2019-10-31 12:31] arraycto commented on #1288
已经发送，麻烦查看邮箱

[2019-10-31 12:37] arraycto commented on #1288
@calvinyv 哥哥收到了吗？不能被屏蔽了吧，在线等

[2019-10-31 13:00] pixiake commented on #1293
describe  那些pod看看为啥pending

[2019-10-31 13:03] pixiake commented on #1288
你的tv版本有点高 ，装个12

[2019-10-31 13:24] arraycto commented on #1288
已经回复邮件了哈

[2019-10-31 13:36] arraycto commented on #1288
哥哥，，麻烦连接一下哈，我等的厕所都不敢上~

[2019-10-31 14:38] arraycto commented on #1288
哥还在么，失败了

[2019-10-31 16:57] pixiake commented on #1288
原因:
1.  系统内核参数被修改
2.  自行安装k8s残留未清理

[2019-11-01 00:17] zheng1 commented on #1099
@huanggze  我这里没能复现, 这个能录个视频吗?
![Kapture 2019-11-01 at 8 15 24](https://user-images.githubusercontent.com/4156721/67994384-f8662280-fc7f-11e9-8d09-5ce2881bfe4d.gif)

[2019-11-01 00:49] xwb2535 opened #1302 "NodePort方式暴露的服务（比如mysql,redis）这些，客户端工具连接到一定的时间不操作就会被中断"
端口暴露的公网访问的服务，在一定的时间后就会出现连接中断的问题。这个问题，应该是检查服务器是否有设置关闭连接还是看kubesphere的设置？或者你们知道哪里的设置么？

[2019-11-01 01:05] ethan12871 opened #1303 "all in one 离线 安装失败"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**

**安装环境的硬件配置**
VMware虚拟机  8核16G
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**

TASK [ks-devops/sonarqube : Sonarqube | Deploy Sonarqube] ********************************************************************************************************************************************************************************************

[2019-11-01 01:51] zhangjun050754 commented on #1293
![image](https://user-images.githubusercontent.com/22231085/67997042-2c941000-fc8d-11e9-976e-48c3b3097a6d.png)

[2019-11-01 01:55] shaowenchen commented on #1216
![image](https://user-images.githubusercontent.com/43693241/67997127-ac21df00-fc8d-11e9-8ccf-7a4cc238651a.png)

/close

[2019-11-01 01:56] shaowenchen commented on #1108
/remove-kind need-to-verify

[2019-11-01 01:57] pixiake commented on #1293
`kubectl  get pod -n kubesphere-devops-system`看下里边有没有pod

[2019-11-01 01:57] shaowenchen commented on #1218
修复有一定工作量

/remove-kind need-to-verify

[2019-11-01 01:57] Forest-L commented on #1303
检查下防火墙是否关闭了，
https://kubesphere.io/docs/v2.0/zh-CN/faq/faq-install/  可以先在这里找下答案。

[2019-11-01 02:01] zhangjun050754 commented on #1293
![image](https://user-images.githubusercontent.com/22231085/67997304-8c3eeb00-fc8e-11e9-85a4-6856a49fd7aa.png)

[2019-11-01 02:02] zhangjun050754 commented on #1293
journalctl -xefu kubelet 报这个错
![image](https://user-images.githubusercontent.com/22231085/67997318-a082e800-fc8e-11e9-9855-ca8a66ce1d46.png)

[2019-11-01 02:05] pixiake commented on #1293
这个是说kube-scheduler起不来，应该还有别的报错

[2019-11-01 02:08] zhangjun050754 commented on #1293
![image](https://user-images.githubusercontent.com/22231085/67997541-741b9b80-fc8f-11e9-8d7f-f2dab850e29f.png)
![image](https://user-images.githubusercontent.com/22231085/67997545-7d0c6d00-fc8f-11e9-94cf-ce169534dc20.png)

[2019-11-01 02:12] Forest-L commented on #1296
1、单节点部署方式在多节点集群，没太明白你这样做的目的？
2、通过报错信息来看，qingcloud_ib_enable参数没有定义。

[2019-11-01 02:18] wansir commented on #1302
检查一下公网lb 有没有超时设置

[2019-11-01 02:42] gongjx11 commented on #1296
我以经解决了，把哪行注掉了，就可以了

[2019-11-01 02:45] zhangjun050754 commented on #1293
![image](https://user-images.githubusercontent.com/22231085/67998816-bdbab500-fc94-11e9-8efd-23fba3bc2d2b.png)

[2019-11-01 02:46] runzexia commented on #1273
/remove-kind need-to-verify

[2019-11-01 02:52] whDongRui commented on #1099
/kind need-to-verify

[2019-11-01 02:53] whDongRui commented on #1130
/kind need-to-verify

[2019-11-01 02:55] runzexia commented on #1275
@whDongRui 我试了一下十条后的版本部署页面也可以选择版本呀。
现在还有第二个版本信息展示不太全

[2019-11-01 03:29] pixiake commented on #1293
机器可以远程嘛(ssh  tv12   向日葵)?  可以的话把信息发到 kubesphere@yunify.com，我们上去看看

[2019-11-01 03:34] gongjx11 opened #1304 "coredns 执更新不了hosts,多节点集群"
![image](https://user-images.githubusercontent.com/21954004/68000559-8ac7ef80-fc9b-11e9-8999-f7e25a6e49dc.png)

只要一添加就会一直报错

[2019-11-01 03:42] zhangjun050754 commented on #1293
已经好了 感谢支持 估计之前没卸载干净 kube-scheduler端口被占用了 起不来

[2019-11-01 05:28] pixiake commented on #1304
found a tab character where an indentation space is expected

[2019-11-01 05:53] arraycto commented on #1288
@pixiake很好的职业精神和敬业精神，昨晚调试到了凌晨，已经搞定了。非常感谢。很靠谱的，强力建议star（已经star）

[2019-11-01 05:58] #1283 closed

[2019-11-01 06:01] #1288 closed

[2019-11-01 06:02] arraycto commented on #1294
2.1会支持k8s的V1.16还是哪个版本？

[2019-11-01 06:47] gongjx11 commented on #1304
搞好了语法错误

[2019-11-01 06:52] huanggze opened #1305 "调整用户权限的时候偶尔会报错"
修改用户权限由 cluster-admin 至 cluster-regular 时报错。需要二次操作

![image](https://user-images.githubusercontent.com/22350668/68007655-32065000-fcb7-11e9-8f71-4aa16fb4398c.png)

[2019-11-01 06:53] huanggze commented on #1305
/kind bug
/area iam
/milestone 2.1.0
/assign @wansir

[2019-11-01 06:55] zheng1 commented on #1285
/kind need-to-verify

[2019-11-01 06:56] zheng1 commented on #890
/cc @FeynmanZhou

[2019-11-01 06:57] zheng1 commented on #1130
/cc @huanggze

[2019-11-01 06:58] zheng1 commented on #1152
/milestone 2.1.1

[2019-11-01 06:59] zheng1 commented on #1190
/cc @huanggze

[2019-11-01 06:59] zheng1 commented on #1254
/cc @mayuhope

[2019-11-01 07:00] whDongRui commented on #1275
哦，应用详情页面版本的展示我问一下设计，看要不要加分页。

[2019-11-01 07:07] zryfish commented on #1300
这个请求是发往k8s kube-apiserver的，和ks-apiserver无关，你看下kube-apiserver是否报错了，看下 ks-apigateway 是否有错误日志

[2019-11-01 07:15] calvinyv opened #1306 "Feature: provide an option to switch logging by time in ascending or descending order"
**Describe the bug(描述下问题)**
Feature: provide an option to switch logging by time in ascending or descending order

Currently，container logging page and log query page only support logging by time in descending order, hope to provide ascending option for more better logging experience.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev
Kubernetes: (If KubeSphere installer used, you

[2019-11-01 07:15] calvinyv commented on #1306
/assign @Carlosfengv

[2019-11-01 07:18] zhyawshhz opened #1307 "openpitrix-db-deployment安装出问题"
hi all，
       在解决ceph存储的问题后，部署顺利执行到ks-devops/ks-devops任务，然后报下面的错误：
![image](https://user-images.githubusercontent.com/4849512/68008598-70e9d500-fcba-11e9-9485-f4e3986a41b4.png)

describe pod后发现安装mysql报错：
![image](https://user-images.githubusercontent.com/4849512/68008699-b60e0700-fcba-11e9-8407-db4efdc488b4.png)

一直在这个问题上走不过去，有哪位大神遇到过吗？求指导！！！

[2019-11-01 07:18] zheng1 commented on #1186
Verified.

[2019-11-01 07:18] #1186 closed

[2019-11-01 07:22] zryfish commented on #1286
这和机器的dns设置有关，glibc只能识别最多三个nameserver，设置多了会告警，一般来说没有什么大问题，某些情况会导致问题

[2019-11-01 07:27] zheng1 commented on #1307
你好, 请贴一下对应的 OS version 和 Kernel version

[2019-11-01 07:34] magicsong opened #1308 "【建议】UI改进"
**General remarks**
界面上有很多如下的弹窗，
![image](https://user-images.githubusercontent.com/4010679/68009357-bd361480-fcbc-11e9-9e8d-d155eed81ec1.png)
右上角已经有显式的关闭按钮了，但是一旦用户不小心点了一下弹窗外面的区域，弹窗消失。消失之后刚刚创建的yaml就没了，稍微有点影响体验（界面微微有点挤，容易点到外面）。

[2019-11-01 07:48] zhyawshhz commented on #1307
![image](https://user-images.githubusercontent.com/4849512/68010261-1acb6080-fcbf-11e9-97f0-8043a4237897.png)

[2019-11-01 07:49] zhyawshhz commented on #1307
centos 7.6的

[2019-11-01 07:55] zhangjun050754 opened #1309 "Waitting for ks-sonarqube port to become open 安装报错"
3台8核16g centos7.4
![image](https://user-images.githubusercontent.com/22231085/68010611-f7ed7c00-fcbf-11e9-8dd0-8327b97a5e68.png)

[2019-11-01 08:05] minghaoye commented on #1263
fixed

[2019-11-01 08:06] minghaoye commented on #1263
kind/need-to-verify

[2019-11-01 08:13] minghaoye commented on #1265
fixed, next daily build can be verified.

[2019-11-01 08:18] wansir commented on #1255
这个404 符合预期的， 不建议返回空结果， 请求 /api/v1/namespaces/<xxxx> ，也会是404 而不是空。

[2019-11-01 08:27] zhangjun050754 opened #1311 "安装集群报错 {"changed": false, "msg": "Source /etc/ssl/etcd/ssl/ca.pem not found"}"
![image](https://user-images.githubusercontent.com/22231085/68012200-5c123f00-fcc4-11e9-8d7f-ea3497ebe77f.png)

[2019-11-01 08:49] huanggze opened #1312 "移除项目全部成员后，项目基本信息中仍显示 admin 为管理员"
![image](https://user-images.githubusercontent.com/22350668/68013239-5d913680-fcc7-11e9-8d7a-cd26b81ab5fc.png)

![image](https://user-images.githubusercontent.com/22350668/68013252-63871780-fcc7-11e9-8ec8-8636e35db574.png)

[2019-11-01 08:49] huanggze commented on #1312
/help
/assign @wansir
/milestone 2.1.0

[2019-11-01 08:50] huanggze opened #1313 "替换项目管理员后，项目基本信息中仍显示 admin 为管理员"
![image](https://user-images.githubusercontent.com/22350668/68013386-bbbe1980-fcc7-11e9-908f-00783c0909e7.png)

![image](https://user-images.githubusercontent.com/22350668/68013395-c2e52780-fcc7-11e9-9e8a-4345b65d9da8.png)

[2019-11-01 08:51] zheng1 commented on #1307
请贴一下docker的版本

[2019-11-01 08:51] huanggze commented on #1313
/kind bug
/area iam
/milestone 2.1.0
/assign @wansir

[2019-11-01 08:52] huanggze commented on #1312
/area iam

[2019-11-01 08:56] zryfish opened #1314 "403 forbidden when workspace manager creating project"
**General remarks**

**Describe the bug(描述下问题)**
1. 企业空间管理员创建项目时403错误，实际这个项目随后已经创建出来。
2. 创建同名项目时，API 返回 409 时，前端直接提示 409 错误，未给出易懂的提示。

For UI issues please also add a screenshot that shows the issue.

<img width="1348" alt="截屏2019-11-0116 56 00" src="https://user-images.githubusercontent.com/3326354/68013690-8fef6380-fcc8-11e9-86e7-ddebbd39ad95.png">
<img width="1222" alt="截屏2019-11-0116 56 51" sr

[2019-11-01 08:58] zryfish commented on #1314
/assign @wansir
/assign @leoendless

[2019-11-01 09:04] wansir commented on #1314
1. 企业空间管理员的定位重新整理了一下， 会和现在的有些区别

[2019-11-01 09:09] fay19860916 opened #1315 "项目中，能够对部署批量停止"
项目中，能够对部署批量停止，比如istio不使用，可以批量停止该项目的部署，不再需要逐个降低副本的数量来完成。

[2019-11-01 09:11] wansir commented on #1313
#1312 这里的管理员展示的是 annotation 中 creator 这个字段 @leoendless  这里文案改成创建者吧，这个字段不用做权限关系的维护

[2019-11-01 09:12] leoendless commented on #1313
Fixed

[2019-11-01 09:13] zryfish commented on #1315
kubectl -n istio-system scale deployment --all --replicas=0

[2019-11-01 09:17] whDongRui commented on #1275
@runzexia @Carlosfengv 这个跟设计沟通过了，这个页面版本信息暂时只显示10条最新的版本就可以了，加分页的话得换另外的显示风格。

[2019-11-01 09:20] runzexia commented on #1275
/close

[2019-11-01 09:20] #1275 closed

[2019-11-01 09:22] wansir commented on #1313
这个字段 目前版本不做维护，只是在创建项目的时候绑定了管理员的角色，但实际管理员可以有多个

[2019-11-01 09:30] huanggze opened #1316 "某些情况的角色只能部署自制应用"
某些角色只能创建自制应用。比如，这是一个 cluster-regular + workspace-admin + namespace-admin 的用户。还有其他情况也会。但 cluster-admin 无这个问题

![image](https://user-images.githubusercontent.com/22350668/68015103-56205c00-fccc-11e9-859f-9b40378e76ba.png)

![image](https://user-images.githubusercontent.com/22350668/68015401-1148f500-fccd-11e9-9907-87b2c60d4c20.png)

![image](https://user-images.githubusercontent.com/22350668/6801544

[2019-11-01 09:31] huanggze commented on #1316
/kind bug
/assign @wansir
/area iam
/milestone 2.1.0

[2019-11-01 09:34] wansir commented on #1316
是不是没装op模块?

[2019-11-01 09:36] huanggze commented on #1316
哦是的

[2019-11-01 09:36] #1316 closed

[2019-11-01 09:49] #1311 closed

[2019-11-01 09:51] soulseen commented on #604
在2.1中新增加了镜像搜索功能，

[2019-11-01 09:52] soulseen commented on #604
可以体验下，欢迎提出建议。
/close

[2019-11-01 09:52] #604 closed

[2019-11-01 09:56] huanggze commented on #1313
别忘了概览这里还有一处 @leoendless

![image](https://user-images.githubusercontent.com/22350668/68017083-dd6fce80-fcd0-11e9-82fc-ac4f4025321d.png)

[2019-11-01 10:01] leoendless commented on #1313
更新下再看看

[2019-11-01 10:07] zhyawshhz commented on #1307
![image](https://user-images.githubusercontent.com/4849512/68017725-4e63b600-fcd2-11e9-9e57-4758ac0c5a30.png)
我咋感觉还是存储这块的问题呀
非常感谢您能看到我这问题，非常感谢！

[2019-11-01 10:29] zhangjun050754 opened #1317 "控制台页面里面接口有时访问通 有时访问不通。。"
![image](https://user-images.githubusercontent.com/22231085/68018953-6557d780-fcd5-11e9-85fa-a7fd962aca0e.png)
![image](https://user-images.githubusercontent.com/22231085/68019364-7a813600-fcd6-11e9-8c80-081518b0d0ff.png)
页面里面的接口有时访问通 有时访问不通 如上图 什么情况

[2019-11-01 10:31] magicsong opened #1318 "日志系统没有记录纯Pod日志"
从网上copy了一个sidecar的pod(原生pod，非高级workload)测试日志，但是这个pod的日志并没有被日志系统搜索到
/kind bug
/area logging

[2019-11-01 10:31] magicsong commented on #1318
/assign @huanggze

[2019-11-01 12:31] rayzhou2017 commented on #1203
verified

[2019-11-01 12:31] #1203 closed

[2019-11-01 12:41] rayzhou2017 commented on #1254
verified

[2019-11-01 12:41] #1254 closed

[2019-11-01 13:00] huanggze commented on #1318
单独部署的 Pod 没算作工作负载，得按 pod name 来查询。目前支持的按工作负载查询的类型有：Deployment、StatefulSet、DaemonSet、Job

[2019-11-01 13:19] rayzhou2017 opened #1319 "projects 点不进去"
* [x] 在platform下打开projects，但点不进去具体的project
<img width="840" alt="Screen Shot 2019-11-01 at 9 17 40 PM" src="https://user-images.githubusercontent.com/28859385/68027392-32b9d900-fced-11e9-9ab6-5f895f103f8b.png">

[2019-11-01 13:23] rayzhou2017 opened #1320 "app store app没有category信息"
* [x] 一开始没有给mysql分类，上架之后创建一个新分类，然后重新分配mysql到这个分类，在app store 浏览mysql的时候缺失category信息
<img width="1238" alt="Screen Shot 2019-11-01 at 9 20 46 PM" src="https://user-images.githubusercontent.com/28859385/68027625-c9869580-fced-11e9-9c18-bc6553a640da.png">
<img width="1218" alt="Screen Shot 2019-11-01 at 9 15 04 PM" src="https://user-images.githubusercontent.com/28859385/68027637-d1463a00-fced-11e9-94b

[2019-11-01 13:28] magicsong commented on #1318
/close

[2019-11-01 13:28] #1318 closed

[2019-11-01 13:30] leoendless commented on #1314
这个应该是 limitrange 的权限问题，直接用最新的 installer 测试看看吧

[2019-11-01 13:31] leoendless commented on #1312
Fixed

[2019-11-01 13:31] leoendless commented on #1313
Same with #1312

[2019-11-01 13:31] #1313 closed

[2019-11-01 13:35] #1295 closed

[2019-11-01 14:24] leoendless commented on #1319
Fixed

[2019-11-01 14:27] leoendless commented on #1108
修复了 websocket 连接的问题，可以更新下环境看看

[2019-11-01 14:27] zheng1 commented on #1307
这个docker的版本太老, 建议使用 19.03.3

参考 https://github.com/moby/moby/issues/37009#issuecomment-495297050 至少需要使用 18.09.1 才能避免这种问题

[2019-11-01 16:29] xwb2535 commented on #1302
没有设置LB，纯粹端口暴露模式。请问，怎么检查，应该检查kubesphere 设置还是检查 云服务器的设置。比如我的是阿里云 centos 7.5.如果应该检查 服务器那边的设置，我就去问阿里云。

[2019-11-02 00:47] rayzhou2017 commented on #1319
verified

[2019-11-02 00:47] #1319 closed

[2019-11-02 00:53] rayzhou2017 opened #1321 "project role with manage access problems"
* [x] 用admin创建了一个manage projects角色，然后创建一个有此角色的账号，切换账号登录，显示是regular ueser

* [x] 打开projects，报403错误

* [x] 切换回admin登录，查看此自定义role，白屏

[2019-11-02 02:25] leoendless commented on #1321
@wansir 第二个问题需要 给 projects manage 带上 ``kapis/resources.kubesphere.io/v1alpha2/workspaces`` 的 GET 权限

[2019-11-02 12:53] calvinyv opened #1323 "Strange alert rule names shown when creating alert policy"
**Describe the bug(描述下问题)**
Strange alert rule names shown when creating alert policy

For UI issues please also add a screenshot that shows the issue.
<img width="1680" alt="Jietu20191102-205114" src="https://user-images.githubusercontent.com/28883416/68071166-bb4e7d00-fdb2-11e9-9f8d-c056884008f1.png">

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev 20191102
Kubernetes: (If Kub

[2019-11-02 12:54] calvinyv commented on #1323
/kind bug
/assign @leoendless @Ma-Dan

[2019-11-02 13:00] calvinyv opened #1324 "Regression: No link to volume detail page in volumes page"
**Describe the bug(描述下问题)**
Regression: No link to volume detail page in volumes page

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev 20191102
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

3 masters:  8cpu/8g
3 nodes: 8cpu/16g

(and other info are welcomed to help us debugging)

**To Repr

[2019-11-02 13:00] calvinyv commented on #1324
/kind bug
/assign @leoendless

[2019-11-02 13:05] calvinyv opened #1325 "Globalization: Environment or Envionmental?"
**Describe the bug(描述下问题)**
It should be 'Environment Variables' or 'Environmental Variables'?

For UI issues please also add a screenshot that shows the issue.
<img width="541" alt="Jietu20191102-210359" src="https://user-images.githubusercontent.com/28883416/68071329-80e5df80-fdb4-11e9-8a61-3b8d8f7e72b4.png">

[2019-11-02 13:06] calvinyv commented on #1325
@rayzhou2017 @FeynmanZhou

[2019-11-02 13:06] calvinyv commented on #1325
/kind question

[2019-11-02 13:13] leoendless commented on #1324
这里因为权限问题，不推荐从这里跳转查看

[2019-11-02 13:35] rayzhou2017 commented on #1325
Environment

[2019-11-03 01:08] rayzhou2017 opened #1326 "HA console不工作"
* [ ] 关机一个master，pod都正常，但console登录不进去，报internal error

[2019-11-03 01:12] rayzhou2017 commented on #1326
原因应该是这样的，node 宕掉，系统需要几分钟检测，其实pod是死了，等检测周期到了会重新调度，系统转为工作正常。这应该是预期的，不过需要文档写清楚多长时间恢复正常。

[2019-11-03 01:12] rayzhou2017 commented on #1326
这个internal error最好改一下错误提示

[2019-11-03 01:20] Ma-Dan commented on #1323
这3个指标
CPU load average 1 minute
CPU load average 5 minutes
CPU load average 15 minutes
这里的长度是足够的，或者显示简写
CPU load avg 1 min
CPU load avg 5 min
CPU load avg 15 min

[2019-11-03 10:01] huanggze opened #1328 "未安装 istio，ks-controller-manager 一直报错"
![image](https://user-images.githubusercontent.com/22350668/68083498-04123e80-fe64-11e9-99c4-9f9d7f37fc94.png)

[2019-11-03 10:09] huanggze opened #1329 "openldap 开启了 debug 模式，日志产生特别多"
![image](https://user-images.githubusercontent.com/22350668/68083566-0cb74480-fe65-11e9-98fa-0609a975ee5d.png)

![image](https://user-images.githubusercontent.com/22350668/68083569-193b9d00-fe65-11e9-9c3e-81042e4d3d00.png)

[2019-11-03 10:10] huanggze commented on #1329
/help
/area logging
/milestone 2.1.0
/assign @wansir

[2019-11-03 10:11] huanggze commented on #1328
/help
/assign @zryfish

[2019-11-03 10:12] huanggze commented on #1329
/help
/area logging
/milestone 2.1.0
/assign @wansir

[2019-11-03 11:52] huanggze opened #1330 "创建 StorageClass 后界面显示异常"
![image](https://user-images.githubusercontent.com/22350668/68084645-750d2280-fe73-11e9-92bf-1d9ca9f36e9c.png)

[2019-11-03 11:53] huanggze commented on #1330
/kind bug
/area console
/area storage
/assign @justahole
/milestone 2.1.0

[2019-11-03 12:54] huanggze opened #1331 "创建基于 QingCloud-CSI 的 StorageClass 无法自动 bound PV"
![image](https://user-images.githubusercontent.com/22350668/68085439-1c8e5300-fe7c-11e9-8915-afcd76f35300.png)

![image](https://user-images.githubusercontent.com/22350668/68085450-2ca63280-fe7c-11e9-8cbb-86efeaf17cdb.png)

![image](https://user-images.githubusercontent.com/22350668/68085535-de456380-fe7c-11e9-909b-1032b92c2a98.png)

![image](https://user-images.githubusercontent.com/22350668/6808

[2019-11-03 12:55] huanggze commented on #1331
/help
/area storage
/assign @wnxn

[2019-11-03 13:12] huanggze opened #1332 "切换浏览存储系统时，“自定义” 选项里面的内容被错误填充"
首次进入“自定义”选项时，是待填写状态，显示正常的
![image](https://user-images.githubusercontent.com/22350668/68085670-65470b80-fe7e-11e9-8e6f-4cc0967e9c68.png)

![image](https://user-images.githubusercontent.com/22350668/68085671-6aa45600-fe7e-11e9-9efd-f8d02e836102.png)

此时回退到上一步，查看其他 “存储系统” ，比如 Ceph RBD 后再切换回来，发现被填充

![image](https://user-images.githubusercontent.com/22350668/68085682-83ad0700-fe7e-11e9-8889-3fd81182d

[2019-11-03 13:13] huanggze commented on #1332
/kind bug
/area storage
/area console
/milestone 2.1.0
/assign @justahole

[2019-11-03 14:24] huanggze commented on #1331
应该是我在安装时没有配置 vars.yml

[2019-11-03 15:07] #1331 closed

[2019-11-03 16:22] shinebayar-g opened #1334 "All-in-one installer not working."
**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

all-in-one installer not working.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: Advanced 2.0.2

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:
All in one installer. 8cpu / 16gb ram / 200gb disk / Ubuntu 18.04.3 LTS latest updated as of today.

**To Reproduce(复现步骤)**
Steps to repro

[2019-11-04 01:52] PYIsOk opened #1335 "公司自己的镜像仓库如何对接到KubeSphere？"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
公司自己的镜像仓库如何对接到kubesphere？
**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**

**Installer版本**
2.02离线版

[2019-11-04 01:58] FeynmanZhou opened #1336 "【Google Cloud centos 7 安装 2.1 失败】"
第一次报错：

![image](https://user-images.githubusercontent.com/40452856/68096150-d079f780-fee9-11e9-8da9-33c8304fc5f4.png)

发现 `kubesphere/roles/ks-installer/tasks/main.yaml` 目录缺少 kubectl 的环境变量，修改了该文件，installer 也应当调整。

第二次报错：
![image](https://user-images.githubusercontent.com/40452856/68096089-7ed16d00-fee9-11e9-8ffa-eee93fafcbe5.png)
原因不确定。

[2019-11-04 01:58] wansir commented on #1329
开发过程中，release 会关掉

[2019-11-04 01:59] zheng1 commented on #1335
你好, 可以参考 https://kubesphere.io/docs/v2.0/zh-CN/configuration/image-registry/

[2019-11-04 02:08] #1329 closed

[2019-11-04 02:21] Forest-L commented on #1336
1、请检查下本地源是否正常，执行如下指令：yum clean all;yum makecache

[2019-11-04 02:35] Forest-L commented on #1334
1、install error : "ethtool not found in system path”  ,you can solve by "yum install ethtool " ;
2、please check kubelet logs by "journalctl -u kubelet -f"

[2019-11-04 02:52] zheng1 commented on #1255
/kind need-to-verify

[2019-11-04 02:57] zheng1 commented on #1150
/kind need-to-verify

[2019-11-04 02:59] Forest-L commented on #1336
1、重新安装报错插件container-selinux，yum install container-selinux -y
2、如果重安装插件报错，卸载该插件，更新yum源，yum remove container-selinux -y && yum update;
3、重新安装插件container-selinux，yum install container-selinux -y

[2019-11-04 03:01] runzexia opened #1337 "修改configmap配置不生效"
/milestone 2.1.0
/kind bug
/area console
/cc @leoendless
![image](https://user-images.githubusercontent.com/31230341/68097513-6285fe00-fef2-11e9-9eba-5b5051ebee76.png)

[2019-11-04 03:07] FeynmanZhou opened #1338 "【2.1 建议】vars.yml 参数配置项太长，建议按场景拆分成几个 yml"
vars.yml 参数配置项太长，对新用户不友好，建议按场景拆分成几个 yml，比如分为 qingcloud 和 非 qingcloud 安装

[2019-11-04 03:10] FeynmanZhou commented on #1336
@Forest-L 好，我再试试

[2019-11-04 03:19] wansir commented on #1278
/kind need-to-verify

[2019-11-04 03:20] wansir commented on #1266
fixed in 2.1.0

/kind need-to-verify

[2019-11-04 03:36] huanggze opened #1339 "【建议】未开启 QingCloud CSI 时，选择应有禁止图标"
其他存储服务也一样，可以有提示信息

![image](https://user-images.githubusercontent.com/22350668/68098376-4fc1f800-fef7-11e9-956f-9c5a24c52a2c.png)

[2019-11-04 03:36] huanggze commented on #1339
/design

[2019-11-04 03:37] huanggze commented on #1339
#1331

[2019-11-04 03:39] huanggze commented on #1339
/assign @Carlosfengv

[2019-11-04 03:40] FeynmanZhou commented on #1336
GCP 的 ubuntu 18.04 LTS 最小化安装成功，centos 我再尝试上述方法

[2019-11-04 03:46] Carlosfengv commented on #1339
这里有设计，不过目前暂时缺少相关的接口判断CSI 是否被安装，暂计划在 3.0

[2019-11-04 03:59] magicsong opened #1340 "测试告警时，多次测试后，发现添加规则会覆盖第一条"
第一次测试是正常的，然后测到第四次（创建告警），点击`添加规则`，会覆盖第一条，而不是创建新的。
/assign @leoendless
/milestone 2.1.0
/area console
/kind bug

[2019-11-04 04:00] shinebayar-g commented on #1334
Hi, yea I've noticed that and installed `ethtool` package. Now I'm getting this errors from installer script:

[code]

And here is logs from `journalctl -xeu kubelet`

[code]

[2019-11-04 05:26] knowwinter opened #1342 "【建议】在权限管理这块建议增加对密钥类型显示明文的控制"
目前密钥类型的数据虽然默认是密文的，但是可以通过那个眼睛的按钮查看到明文，建议可以增加权限控制，让没权限的人在那个地方只能看密文，不能看明文，因为有些人员可能需要查看到底有哪些密钥可用，但是他们只要用就可以，不需要知道实际对应的值

[2019-11-04 06:03] magicsong commented on #1216
http://139.198.188.19:30880/test-workspace/projects/test/alert-policy/gaojing---2/alert-rules

[2019-11-04 06:04] magicsong commented on #1216
/reopen

[2019-11-04 06:20] chenjiayao opened #1343 "CentOS7.5 Multi-Node 模式安装报错"
安装环境：

联网安装，系统版本 centos 7.5，虚拟机

硬件信息：

master 节点：8u16g
2 个 node 节点：8u16g

报错信息：
[code]

[2019-11-04 06:37] Forest-L commented on #1334
First you can do uninstall.sh ，Then  do  install.sh

[2019-11-04 06:38] shinebayar-g commented on #1334
Yea sure, I've done many many times.

[2019-11-04 06:48] Forest-L commented on #1343
检查下node1和node3的python环境及版本，默认设置为python2.

[2019-11-04 06:59] calvinyv commented on #1324
@leoendless 那是以后都可以跳转到详情页了么？

[2019-11-04 07:00] calvinyv commented on #1325
/assign @leoendless
/kind bug

[2019-11-04 07:03] chenjiayao commented on #1343
![image](https://user-images.githubusercontent.com/8191978/68104017-3da28280-ff14-11e9-9e3d-14ab0396f6aa.png)

node1 和 node2 只安装了 python2.7

[2019-11-04 07:07] leoendless commented on #1324
最好不要从这里跳转了，感觉直接跳转过去不太合理

[2019-11-04 07:25] runzexia opened #1344 "cluster regular 中文文案"
/kind bug
/area console
/assign @leoendless
![image](https://user-images.githubusercontent.com/31230341/68104744-3d57b680-ff17-11e9-9acf-fa561a13f7a3.png)

[2019-11-04 07:25] runzexia commented on #1344
/milestone 2.1.0

[2019-11-04 07:32] runzexia opened #1345 "分类后的应用，详情页不显示类型"
新建 web 应用分类
把 nginx 挪到 web 分类下
nginx 详情页显示分类为无
![image](https://user-images.githubusercontent.com/31230341/68104940-ee5e5100-ff17-11e9-87ff-4cde8dc9f507.png)
![image](https://user-images.githubusercontent.com/31230341/68104961-0209b780-ff18-11e9-8e65-f6adcb046d79.png)
/area console
/area app-management
/kind bug
/milestone 2.1.0
/cc @zheng1 @pengcong06 @whDongRui

[2019-11-04 07:33] #1345 closed

[2019-11-04 07:33] runzexia commented on #1345
https://github.com/kubesphere/kubesphere/issues/1320
重复

[2019-11-04 07:40] runzexia opened #1346 "workspaces-manager 登陆后应该进入 ws 列表页"
现在 workspaces-manager 登陆后进入工作台，会选中某个ws，这里是不是应该进入 ws 列表页？
/label question
/cc @Carlosfengv @wansir @leoendless
/area console
/area iam

[2019-11-04 07:41] runzexia commented on #1346
/kind question

[2019-11-04 07:42] runzexia commented on #1346
/help

[2019-11-04 07:51] rayzhou2017 commented on #1342
要求再次输入密码，类似于mac装软件或者查看keychain一样，这样应该可以

[2019-11-04 07:54] leoendless commented on #1337
这个问题是编辑 data 时直接提交了，但逻辑上应该是先完成data的编辑，ui上现在加上了限制

[2019-11-04 07:56] rayzhou2017 commented on #1328
这个要fix，不然没有装istio的用户日志系统会跟塞了炸弹似的

[2019-11-04 08:18] runzexia opened #1347 "应用商店访问路径后有 / 会导致页面404"
例如使用`http://ks.xx/apps/`访问，查看应用详情，会导致网页404错误
进入详情 url 拼接的不太对
![image](https://user-images.githubusercontent.com/31230341/68107024-77788680-ff1e-11e9-8903-cb31738aaeba.png)
/milestone 2.1.0
/kind bug
/area console
/assign @whDongRui

[2019-11-04 08:21] wansir commented on #1344
fixed https://github.com/kubesphere/ks-installer/pull/374/files#diff-dcd9a051e9e10aa874e279e2ed57704aL58

/kind need-to-verify

[2019-11-04 08:34] runzexia opened #1348 "应用部署打开选择框并使用滚轮，选择框会飘"
/milestone 2.1.0
/kind bug
/area console
/assign @whDongRui
![image](https://user-images.githubusercontent.com/31230341/68107839-02f31700-ff21-11e9-8fe3-8b3dc7f9b61c.png)

[2019-11-04 08:44] PYIsOk commented on #1335
谢谢您，不过我们是自己搭建的nexus

[2019-11-04 08:45] PYIsOk commented on #1335
谢谢您，不过我们是自己搭建的nexus。想要对接KubeSphere

[2019-11-04 08:46] Forest-L commented on #1343
ok，那手动yum clean all;yum makecache试下

[2019-11-04 08:48] liuyp2018 opened #1349 "100线程并发创建告警操作后，查看alerting-executor日志中监控获取不到数据"
100个线程并发进行创建告警压测，一共创建5W条告警策略，且每条告警策略都会触发告警；：
压测接口：
/kapis/alerting.kubesphere.io/v1/nodes/alert

压测后，利用命令kubectl logs -n kubesphere-alerting-system alerting-executor-59c8768c5b-8tdwk alerting-adapter查看日志信息，很多监控读不到数据，导致alert无法正常工作
![alert](https://user-images.githubusercontent.com/36271543/68108693-7c8c0480-ff23-11e9-9e1c-cea92236c9f9.png)

[2019-11-04 08:55] huanggze commented on #1349
/assign @Ma-Dan

[2019-11-04 08:58] Forest-L commented on #1334
Congratulation! GCE ubuntu 18.04 is ok. However, Your OS is clean (without any other software installed) by VM using ubuntu 18.04 LTS ?

[2019-11-04 08:59] rayzhou2017 commented on #1349
这个是发送告警还是创建告警规则？

[2019-11-04 09:00] shinebayar-g commented on #1334
Yes, I explicitly created new VM for Kubesphere installation.

[2019-11-04 09:16] chenjiayao commented on #1343
em.. node1 和 node3 都执行了，但是仍然报错

[2019-11-04 09:50] Ma-Dan commented on #1349
是50000条告警运行起来之后，周期性向监控系统读取监控指标。

[2019-11-04 10:17] Carlosfengv commented on #1342
这里有两种方式可以做
1.  仅允许密钥创建者查看修改密钥的内容；
2.  增加以个人维度的密钥类型，比如 Github 等秘钥信息，存在公开的ns下不太合适

[2019-11-04 10:24] huanggze commented on #1349
@liuyp2018 可以单独压测监控

[2019-11-04 10:27] Forest-L commented on #1343
可以发远程信息连接看下，tv或者向日葵至kubesphere官方邮箱

[2019-11-04 10:28] leoendless commented on #1330
Fixed

[2019-11-04 10:34] knowwinter commented on #1342
嗯，我觉得可以增加公共和个人的维度，公共的密钥可以是创建者查看和有一定管理权限的人查看，比如项目管理员或企业空间管理员，或者索性公共密钥只有管理员可以创建，在管理上这些密钥可能需要于管理者之间共享，个人密钥只能创建者查看

[2019-11-04 11:36] wansir commented on #1305
/kind need-to-verify

[2019-11-04 13:53] huanggze commented on #1349
/assign @huanggze

[2019-11-04 13:54] huanggze commented on #1349
/remove-assign @Ma-Dan

[2019-11-04 13:56] leoendless commented on #1161
ws regular 在 workspace层级里 没有什么信息要展示的

[2019-11-04 15:19] wansir commented on #1321
fixed

[2019-11-04 15:20] wansir commented on #1321
/kind need-to-verify

[2019-11-04 15:35] FeynmanZhou opened #1351 "【2.1 API 文档】"
API 文档在 2.1 发布后也需要第一时间开始准备和更新

[2019-11-04 16:44] shinebayar-g opened #1352 "Edit workspace roles?"
**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: Advanced 2.0.2

**Environment(环境的硬件配置)**
All in one node.

Is there a way to edit workspace roles? Currently project level roles works great, however in order to invite someone to this single project, first we must invite this member to project's parent workspace and workspace roles cannot be edited. So I have to either give this member **wor

[2019-11-05 01:24] FeynmanZhou commented on #1352
@shinebayar-g  KubeSphere provides 3 level of multi tenancy including cluster-> workspace -> project & devops project, each level has default role, **also it allows admin to customize roles and permissions as well.**

For your question, for instance, workspace is used for different groups who has different namespaces and cicd pipelines in a same cluster (organization), this hierarchy can help admi

[2019-11-05 01:33] FeynmanZhou commented on #1352
@shinebayar-g  #1334   BTW, have you installed KubeSphere successfully on your machine?  In GCP ubuntu 18.04 LTS or your virtual box?

[2019-11-05 01:34] chenjiayao commented on #1343
已发 contactus@yunify.com 邮箱

[2019-11-05 01:51] Forest-L commented on #1343
tv版本比较高，连不上，麻烦提供12

[2019-11-05 02:01] huanggze opened #1354 "组件健康检查 UI 阻塞"
11.5 日 早上8点20安装的 2.1-dev

![image](https://user-images.githubusercontent.com/22350668/68172631-32eafa80-ffb3-11e9-9164-6f4d98eb881b.png)

![image](https://user-images.githubusercontent.com/22350668/68172866-0daabc00-ffb4-11e9-8aa5-3ffa1188bfa5.png)

[2019-11-05 02:04] huanggze commented on #1354
/kind bug
/area console
/assign @leoendless
/milestone 2.1.0

[2019-11-05 02:10] rayzhou2017 commented on #1352
ws role customization will be provided in the next version (3.0) which is released around 3 months later.

[2019-11-05 02:16] rayzhou2017 commented on #1352
BTW, workspace is useful. For example, we have several departments in a corporation sharing one k8s cluster. Each dept could be a tenant who wants a k8s environment with full functionalities ready for them. That means a tenant wants to create many projects/namespaces within the workspace. Actually the feature is required by some large enterprises.

[2019-11-05 02:23] chenjiayao commented on #1343
id:706 675 220
pass:751ddt

[2019-11-05 02:24] shinebayar-g commented on #1352
@FeynmanZhou I see thank you, as I said earlier, workspace roles cannot be edited right now. So I've 2 roles to choose when inviting members into that workspace. Unfortunately both roles are weird and exposes underlying project information.

I've tried to install it on my local machine using virtualbox, unfortunately my home connection was too slow to finish downloads. Now I'm trying to install on

[2019-11-05 02:30] rayzhou2017 commented on #1352
KubeSphere 2.1 (will release in one week) has project level quota for k8s resource such deployment.... The workspace quota including the limit of project number as you said will provide in 3.0.

"What if I want to limit someone to only single project in workspace? and that user must not be able to create it's own project. " I think this one is already supported. Invite the user to the workspace as

[2019-11-05 02:33] shinebayar-g commented on #1352
@rayzhou2017 **workspace-viewer** role currently sees all project inside workspace, not only one.

[2019-11-05 02:33] rayzhou2017 commented on #1352
You may want share a project to a stranger without exposing workspace info. That case is not supported by workspace viewer since the user can view info. It need customized workspace role to limit the user only have access project menu, then utilize project role to limit the user permission in the project.

[2019-11-05 02:35] shinebayar-g commented on #1352
Yes exactly. I guess this is coming in v3.0 then

[2019-11-05 02:38] Carlosfengv commented on #1346
workspaces-manager 看到的应该企业空间功能的那个页面。他的工作台即企业空间列表页面。

[2019-11-05 02:38] rayzhou2017 commented on #1352
I see. That is the default behavior of workspace viewer. We need the custom role of workspace to achieve the goal you said.

[2019-11-05 02:41] Forest-L commented on #1343
连上了，但是点了没反应

[2019-11-05 02:52] minghaoye commented on #1274
前端传参错误已修复

[2019-11-05 02:53] leoendless commented on #1347
Fixed

[2019-11-05 03:03] zryfish commented on #1328
修复了

[2019-11-05 03:04] zryfish commented on #1328
/kind need-to-verify

[2019-11-05 03:05] soulseen commented on #1274
/close

[2019-11-05 03:05] #1274 closed

[2019-11-05 03:06] zryfish commented on #1354
重新拉下ks-apiserver的镜像

[2019-11-05 03:08] soulseen commented on #1278
/close

[2019-11-05 03:08] #1278 closed

[2019-11-05 03:27] runzexia commented on #1347
verified in latest
/close

[2019-11-05 03:27] #1347 closed

[2019-11-05 03:27] runzexia commented on #1344
verified in 2019-11-04
/close

[2019-11-05 03:28] #1344 closed

[2019-11-05 03:28] rayzhou2017 commented on #1321
verified

[2019-11-05 03:28] #1321 closed

[2019-11-05 03:31] runzexia commented on #1337
verified in latest
/close

[2019-11-05 03:31] #1337 closed

[2019-11-05 03:43] wansir commented on #1352
/milestone 3.0.0

[2019-11-05 03:44] justahole commented on #1298
kind/need-to-verify

[2019-11-05 04:43] shinebayar-g commented on #1334
Update: I'm installing it on DigitalOcean VPS. 6vCPU 16GB RAM.

all in one installer script stuck on this part.

[code]

First attempt stuck like this and my terminal disconnected from server due to idle time. Now second time (I run uninstall.sh and rebooted) it stuck like this again. For like 30 minutes or plus.

[2019-11-05 05:27] rayzhou2017 commented on #1334
Are you installing 2.0.2 or 2.1.0-dev? 2.0.2 requires at least 8 cpu.

[2019-11-05 05:51] tzghost opened #1355 "CentOS7.6 Multi-Node 模式安装报错"
CentOS7.6 Multi-Node 模式安装报错
环境：
master1
master2
master3
node1

lb: 使用的外部Nginx，只支持HTTP

![Uploading image.png…]()

[2019-11-05 05:52] whDongRui commented on #1320
/kind need-to-verify

[2019-11-05 06:13] gongjx11 opened #1357 "多节点环境安装gitlab 服务启动正常， gitlab.devops.kubesphere.local 不能访问"
IE 里面使用添加域名访问不能访问，以经添加解析，coredns也添加了。问一下是什么原因？

[2019-11-05 06:14] zhyawshhz commented on #1307
![image](https://user-images.githubusercontent.com/4849512/68183156-815dc080-ffd6-11e9-8da3-2b1eea3aa9ec.png)
![image](https://user-images.githubusercontent.com/4849512/68183169-8884ce80-ffd6-11e9-9956-6122f11238bd.png)
按照您说的升级到18.09.7，还是解决不了呀

[2019-11-05 06:29] gongjx11 commented on #1357
![image](https://user-images.githubusercontent.com/21954004/68183910-a6533300-ffd8-11e9-85c7-b6faad22bff5.png)

无法访问

[2019-11-05 06:42] Wandering opened #1359 "openpitrix-iam-service组件异常,不能启动"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
openpitrix-iam-service组件启动不起来
容器内错误日志:
[code]
容器信息:
[code]

**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
运行在虚拟机上。
系统配置6台 8c16G主机Centos7
**错误信息或截图**

**Installer版本**
2.0.2

[2019-11-05 06:57] shinebayar-g commented on #1334
I'm installing 2.0.2, ok creating new VPS with 8 cpu.

[2019-11-05 06:59] rayzhou2017 commented on #1150
verified

[2019-11-05 06:59] #1150 closed

[2019-11-05 07:19] gongjx11 commented on #1357
以经解决了。

[2019-11-05 07:21] rayzhou2017 commented on #1334
You are right. There are lots of things to do for installer precheck.

[2019-11-05 07:23] FeynmanZhou commented on #1334
@shinebayar-g Hi, I recommend you to install 2.1.0-dev, all of images have been migrated to DockerHub so the download would be fast than 2.0.2, also the resource requirement is lower.

[2019-11-05 07:29] whDongRui commented on #1348
这个应该是我们引用qui组件库中select组件有bug导致的样式上显示有问题。下面截图是创建企业空间弹层，如果把浏览器的高度调小，使用滚轮有时选择框也会飘

![image](https://user-images.githubusercontent.com/38676269/68186297-c554c380-ffde-11e9-81e3-6582b5a7d3da.png)

[2019-11-05 07:33] rayzhou2017 commented on #1334
2.1.0-dev is close to GA, so you can download to try it now.

[2019-11-05 07:35] tzghost commented on #1355
将外部LB由HTTP调整为TCP后，安装卡在如下任务，半个小时没反应，装了两次都是这样

![image](https://user-images.githubusercontent.com/17000535/68187486-c2a79d80-ffe1-11e9-89cd-69f15933332b.png)

[2019-11-05 07:42] gongjx11 opened #1360 "gitlab登录密码按照文档上 admin / P@88w0rd 不正确啊"
环境多环境安装部署，使用域名访问，提示密码一直错误
![image](https://user-images.githubusercontent.com/21954004/68187892-def80a00-ffe2-11e9-9ef5-4dd7cd3cdfd3.png)

[2019-11-05 07:45] wansir commented on #1360
可以检查一下kubesphere-system下pod是否都正常，kubesphere 可以正常登录吗？

[2019-11-05 07:45] gongjx11 commented on #1360
![image](https://user-images.githubusercontent.com/21954004/68188069-50d05380-ffe3-11e9-8c74-02c2443a222c.png)
这里都是正常的

[2019-11-05 07:47] gongjx11 commented on #1360
![image](https://user-images.githubusercontent.com/21954004/68188183-912fd180-ffe3-11e9-8567-6a4e69d04556.png)

[2019-11-05 07:50] shinebayar-g commented on #1334
@rayzhou2017 It's worked on 8core VPS! Well installer worked on both GCP and DO, unfortunately didn't work on my private VPS. I assume there has to be some dependency error, but it was hard to solve and none of solution I found worked.

@FeynmanZhou Thanks for the suggestion. I was already started 2.0.2 installation at the time you write, but I'll give 2.1.0 a try sometime soon.

Suggestion: You s

[2019-11-05 07:52] gongjx11 commented on #1360
可以登录了，因为我把Kubesphere 登录平台密码改了，我用改的密码去登gitlab可以了

[2019-11-05 07:54] rayzhou2017 commented on #1334
Front end code will be public in a couple of weeks.

[2019-11-05 07:56] shinebayar-g commented on #1334
That's great to hear. Closing issue since it worked on major cloud environments.

[2019-11-05 07:56] #1334 closed

[2019-11-05 08:00] wansir commented on #1360
/close

[2019-11-05 08:00] #1360 closed

[2019-11-05 08:01] huanggze commented on #1354
verified

[2019-11-05 08:01] #1354 closed

[2019-11-05 08:01] rayzhou2017 commented on #1334
BTW, you may try deploying KubeSphere on existing k8s. https://github.com/kubesphere/ks-installer

[2019-11-05 08:02] huanggze commented on #1330
verified

[2019-11-05 08:02] #1330 closed

[2019-11-05 08:03] huanggze commented on #1328
verified

[2019-11-05 08:03] #1328 closed

[2019-11-05 08:04] runzexia commented on #1348
这个问题优先级比较低，可以下个bug fix 版本修复。
我看 devops 里的选择框的处理是正确的，后面可以找 @mayuhope 参考下。

[2019-11-05 08:04] huanggze commented on #1216
/close

[2019-11-05 08:04] #1216 closed

[2019-11-05 08:05] wansir commented on #1346
/assign @leoendless

[2019-11-05 08:05] shinebayar-g commented on #1334
Well I use Rancher to create clusters on my work VMs (not on cloud). I'd prefer create fresh cluster using Kubesphere's own installer (I guess there isn't one yet?) and don't want to mix Rancher and Kubesphere in single cluster.

[2019-11-05 08:11] huanggze opened #1362 "日志关键字搜索不能键入空格"
不能输入空格

![image](https://user-images.githubusercontent.com/22350668/68189672-d0abed00-ffe6-11e9-8913-82646e6885d1.png)

[2019-11-05 08:12] wansir commented on #1359
https://github.com/kubesphere/ks-installer/issues/17#issuecomment-522401975

这个问题会在 2.1.0 版本中修复

[2019-11-05 08:14] huanggze commented on #1362
/kind bug
/area logging
/area console
/assign @justahole
/milestone 2.1.0

[2019-11-05 08:46] justahole commented on #1281
/kind need-to-verify

[2019-11-05 08:46] justahole commented on #1332
kind need-to-verify

[2019-11-05 08:48] justahole commented on #1323
/kind need-to-verify

[2019-11-05 08:49] justahole commented on #1340
/kind need-to-verify

[2019-11-05 08:49] hlwanghl commented on #1244
Which OS version did you use? Not reproduced on CentOS 7.5.

[2019-11-05 08:50] justahole commented on #1301
/kind need-to-verify

[2019-11-05 08:50] justahole commented on #1235
/kind need-to-verify

[2019-11-05 09:01] Wandering opened #1363 "添加应用仓库报错"
使用版本 2.0.2
报错:
[code]
xiang'guan相关截图
![image](https://user-images.githubusercontent.com/11769582/68193115-76faf100-ffed-11e9-9ea5-7b81dd5c8212.png)

相关错误信息:
[code]

[2019-11-05 09:02] rayzhou2017 commented on #1334
ok, we are discussing the next plan about how to deliver the package.

[2019-11-05 09:06] rayzhou2017 commented on #1362
不能输入空格是什么意思？是不能输入类似于 hello world这样的短语吗？

[2019-11-05 09:07] Wandering commented on #1363
其中补充下  helm version:2.14.3

[2019-11-05 09:07] justahole commented on #1362
不能输入hello空格来匹配

[2019-11-05 09:10] rayzhou2017 commented on #1362
为什么我觉得这是正确的做法？google对keyword会做很多处理，比如大小写，非语义词等。如果需要空格是不是应该当成词组对待？比如要求用户输入"elastic "

[2019-11-05 09:10] gongjx11 opened #1364 "问一下gitlab 老是访问不了，老是要去经常重启一下应用"
![image](https://user-images.githubusercontent.com/21954004/68193692-73b43500-ffee-11e9-9827-a935ade744d5.png)

问一下gitlab 老是访问不了，老是要去经常重启一下应用

[2019-11-05 09:10] zheng1 commented on #1363
你好, 如果pod的ip不是一个标准的内网ip, 如 192.168/16 或者 10/8 或者 172.16/12 的话, 需要给所有openpitrix的Deployment加上env OPENPITRIX_ID_RANDOM_SEED=yes

[2019-11-05 09:14] huanggze commented on #1362
是不能输入 hello world，输入到hello后面，不能再键入空格了

[2019-11-05 09:14] rayzhou2017 commented on #1362
哦，那是bug

[2019-11-05 09:22] Forget-C opened #1365 "helm 部署的应用不支持流量治理吗？"
helm 部署的应用不支持流量治理吗？
我在自制的helm应用中打入了istio的组件，但是发现web上并没有流量治理的选项。
请问是只用使用 "通过服务构建应用" 部署的支持流量治理吗？  如果自制应用也支持的话，需要在helm模板中加入什么选项吗？

[2019-11-05 09:30] Wandering commented on #1359
问题已解决非常感谢

[2019-11-05 09:30] #1359 closed

[2019-11-05 09:31] Wandering commented on #1363
问题已解决,非常感谢

[2019-11-05 09:33] Wandering commented on #1363
[{"@type":"type.googleapis.com/openpitrix.ErrorDetail","error_name":"create_resources_failed","cause":"repo [repo-Xo2K70RzjQ9p] had running index event"}] @zheng1 但是在点同步的时候又出现了新的问题

[2019-11-05 09:42] zhyawshhz commented on #1307
我尝试把所有的docker镜像全部删除了，重新部署重新下载了一次，然后就好了。

[2019-11-05 09:42] #1307 closed

[2019-11-05 09:47] Wandering commented on #1363
应用仓库中的应用可用,但是会有一些问题,某些打开的时候回抛出如下异常

![image](https://user-images.githubusercontent.com/11769582/68196910-3fdc0e00-fff4-11e9-93e0-ed5e30c90572.png)

[2019-11-05 09:55] knowwinter opened #1366 "应用部署问题，不加namespace无法部署应用"
我添加了私有的helm仓库以及你们青云的helm仓库，使用仓库部署应用时无法创建资源，部署的应用状态一直是等待中，所有相关的资源并未创建，但是我修改了自己做的helm应用，在deployment.yaml和values.yaml里分别加上了namespace，这样应用的相关资源才会创建，但是虽然创建了相关应用，在应用里这个应用依然显示等待中，并且之前创建的无法创建资源的应用也删除不了，一直转圈圈，版本2.0.2
![微信图片_20191105175223](https://user-images.githubusercontent.com/25719964/68197496-559e0300-fff5-11e9-9515-dc5dc45a8c22.png)
![微信图片_20191105175230](https://user-images.githubusercontent.com/25

[2019-11-05 12:13] rayzhou2017 commented on #1244
/cc @huanggze

[2019-11-05 12:14] rayzhou2017 commented on #1161
app template不是在ws级别吗？

[2019-11-05 12:34] calvinyv commented on #1081
talk with @leoendless @Carlosfengv, and be told this is as design, we still think we could discuss this in the future, so move it to future release

[2019-11-05 12:38] calvinyv commented on #1324
如果不能跳转，那我认为此处应该在加上一列展示磁盘使用率
放到下个版本改善吧

[2019-11-05 12:44] calvinyv commented on #1323
@justahole could see this issue on 20191105

<img width="720" alt="Jietu20191105-204350" src="https://user-images.githubusercontent.com/28883416/68208844-111e6180-000d-11ea-918d-83cb41b46cf4.png">

[2019-11-05 12:55] calvinyv commented on #1279
verified

[2019-11-05 12:55] #1279 closed

[2019-11-05 12:59] calvinyv commented on #1280
verified

[2019-11-05 12:59] #1280 closed

[2019-11-05 13:11] leoendless commented on #1346
Fixed

[2019-11-05 14:42] Gitwangpin opened #1367 "vm all in one安装问题"

[2019-11-05 16:30] rayzhou2017 opened #1368 "Plans for 2.1.1 and 3.0.0"
We will release 2.1.0 in a few days. Next we will work on the first fixpack for 2.1.0 and the next major version 3.0.0.

**Plan for 2.1.1**
1. Most of the work will be bugfix.
2. Refactor RBAC in order to support future versions regarding third-party plugins with custom access control.
3. Refactor installer. We will not provide full package installer (with K8s) as we do right now since we encounte

[2019-11-06 00:46] huanggze commented on #1362
/kind need-to-verify

[2019-11-06 01:26] calvinyv opened #1369 "istioctl doesn't upgrade after upgrading ks from 2.0.2 to 2.1.0"
istioctl doesn't upgrade after upgrading ks from 2.0.2 to 2.1.0

[2019-11-06 03:02] wansir commented on #1161
不希望ws-regular可以创建/管理 app template，现在app template 是属于 ws 这个层级的公共资源（而不是跟用户关联）， 需要通过权限来控制。 计划在2.1.1  修复这个问题

[2019-11-06 03:13] magicsong commented on #1340
/close

[2019-11-06 03:13] #1340 closed

[2019-11-06 03:17] shaowenchen commented on #1108
轮询，更新状态，OK。

/close

[2019-11-06 03:17] #1108 closed

[2019-11-06 04:08] rayzhou2017 commented on #1320
verified

[2019-11-06 04:08] #1320 closed

[2019-11-06 04:09] huanggze opened #1370 "latest installer exits during the final phase with no information"
![image](https://user-images.githubusercontent.com/22350668/68267579-dc9eba00-008d-11ea-9a80-472ebbc2fbb8.png)

[2019-11-06 04:09] whDongRui commented on #1348
devopsv那边也会出现这种情况，不过一般那边的弹层内容比较少，没有出现滚动条。如果把浏览器的控制台打开，窗口高度变小了，也会有这种情况，如下截图所示。

![image](https://user-images.githubusercontent.com/38676269/68267609-f5a76b00-008d-11ea-833e-6b2bf01e6b41.png)

[2019-11-06 04:09] huanggze commented on #1370
/help

[2019-11-06 04:10] huanggze commented on #1370
/assign @pixiake

[2019-11-06 04:13] huanggze commented on #1370
logs from ks-installer:

![image](https://user-images.githubusercontent.com/22350668/68267847-c5ac9780-008e-11ea-8cb2-303250f9d18a.png)

[2019-11-06 04:14] rayzhou2017 opened #1371 "app info screenshot needs size tip"
* [x] 需要提示上传的截图大小要求
<img width="1112" alt="Screen Shot 2019-11-06 at 12 12 58 PM" src="https://user-images.githubusercontent.com/28859385/68267879-ec6ace00-008e-11ea-9b9c-5f43cf5a2494.png">

[2019-11-06 04:16] rayzhou2017 opened #1372 "修改app info 清空信息"
* [x] 我填入了app abstract，然后上传icon，screenshots，发现abstract被清空了，另外fix这个bug的时候需要测试一下其它信息是不是也有这个问题
<img width="1226" alt="Screen Shot 2019-11-06 at 12 14 58 PM" src="https://user-images.githubusercontent.com/28859385/68267945-305dd300-008f-11ea-8ede-54fbd2bc5114.png">

[2019-11-06 04:24] rayzhou2017 opened #1373 "b2i 英文翻译"
* [ ] 这个是regression问题吧，没有翻译
<img width="1039" alt="Screen Shot 2019-11-06 at 12 22 23 PM" src="https://user-images.githubusercontent.com/28859385/68268183-27213600-0090-11ea-87c0-9a7438f9b06d.png">

[2019-11-06 04:29] rayzhou2017 commented on #1265
verified

[2019-11-06 04:29] #1265 closed

[2019-11-06 04:31] rayzhou2017 commented on #1263
verified

[2019-11-06 04:31] #1263 closed

[2019-11-06 04:33] #829 closed

[2019-11-06 04:36] rayzhou2017 opened #1374 "websocket英文环境不工作"
* [ ] 从appstore部署app，没有动画效果，应该整体搜一下其它功能是不是也有这个问题
<img width="1216" alt="Screen Shot 2019-11-06 at 12 34 46 PM" src="https://user-images.githubusercontent.com/28859385/68268634-f7732d80-0091-11ea-944f-208fb7834b28.png">

[2019-11-06 04:38] rayzhou2017 commented on #1153
这个fix是错误的，创建者应该是登录用户
<img width="1226" alt="Screen Shot 2019-11-06 at 12 38 05 PM" src="https://user-images.githubusercontent.com/28859385/68268717-4b7e1200-0092-11ea-9e5a-34411fff2c0e.png">

[2019-11-06 04:39] rayzhou2017 commented on #1374
这个应该是跟 #1091 一样的问题

[2019-11-06 04:39] #1374 closed

[2019-11-06 04:41] #1149 closed

[2019-11-06 05:20] pixiake commented on #1370
检查下存储能不能用    这个应该是minio存储挂不上盘  导致超时。
nfs的存储配置有问题，检查下吧

[2019-11-06 06:01] calvinyv opened #1375 "key and value of app meta data is shown after upgrading from 2.0.2 to 2.1.0"
**Describe the bug(描述下问题)**
key and value of app meta data is shown after upgrading from 2.0.2 to 2.1.0

For UI issues please also add a screenshot that shows the issue.
<img width="1147" alt="Jietu20191106-135724" src="https://user-images.githubusercontent.com/28883416/68272052-83d71d80-009d-11ea-861a-19c0675733a1.png">
<img width="946" alt="Jietu20191106-135742" src="https://user-images.githubus

[2019-11-06 06:02] calvinyv commented on #1375
/kind bug
/assign @leoendless @whDongRui

[2019-11-06 06:05] Carlosfengv commented on #1371
设计稿在  zpl://screen?pid=5cbe7fbc2f55d8b73f56811b&sid=5d5a72376754d79b309a5acd

[2019-11-06 06:08] calvinyv opened #1376 "ldap error when opening a devops project after upgrading to 2.1.0"
**Describe the bug(描述下问题)**
ldap error when opening a devops project after upgrading to 2.1.0

For UI issues please also add a screenshot that shows the issue.
<img width="1675" alt="Jietu20191106-140543" src="https://user-images.githubusercontent.com/28883416/68272462-c2210c80-009e-11ea-8315-7d9cf463ee9c.png">

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0 dev 20191105
Kubernetes:

[2019-11-06 06:09] calvinyv commented on #1376
/assign @wansir
/kind bug

[2019-11-06 06:09] leoendless commented on #1375
建议写脚本进行字段替换，应该是要修改 mysql 里的记录

[2019-11-06 06:16] calvinyv commented on #1375
@rayzhou2017 @zheng1 is it an acceptable solution?

[2019-11-06 06:38] rayzhou2017 commented on #1375
I am not sure. It is OK to fix it in whatever way right now.

[2019-11-06 06:39] gongjx11 opened #1377 "gitlab 无法删除项目，报错"
![image](https://user-images.githubusercontent.com/21954004/68274020-f7c7f480-00a2-11ea-9b7d-3e26abdf4ecc.png)

这是日志错误：
![image](https://user-images.githubusercontent.com/21954004/68274049-09110100-00a3-11ea-9972-76a198867a25.png)

这里显示没有权限但是我以经删除提了，日志这里会显示这个，而且界面也会显示被删除的项目

[2019-11-06 06:52] runzexia opened #1378 "监控自定义时间范围不生效"
/kind bug
/area console
/assign @justahole
/milestone 2.1.0
自定义时间范围之后，通过编辑修改自定义时间范围，无法生效
![image](https://user-images.githubusercontent.com/31230341/68274749-e5e75100-00a4-11ea-8b1c-edfce62f95fe.png)

[2019-11-06 07:03] justahole commented on #1378
无法生效指的是？

[2019-11-06 07:04] zheng1 commented on #1375
@pengcong06  need a script that can clear all clusters `description` column when upgrading from 2.0.2 to 2.1.0

[2019-11-06 07:08] runzexia commented on #1378
@justahole
编辑时间的，修改后还是编辑之前的时间

[2019-11-06 07:11] justahole commented on #1378
哦，明白，我看下。

[2019-11-06 07:21] huanggze commented on #1370
建议文档这里把网段改成，192.168.0.0/16，顺手 copy 容易忽视出错，仅作为新手 tutorial 可以把范围调大

![image](https://user-images.githubusercontent.com/22350668/68276830-d964f780-00a8-11ea-83a3-442f10d84762.png)

[2019-11-06 07:21] huanggze commented on #1370
/cc @FeynmanZhou
/kind document

[2019-11-06 07:22] huanggze commented on #1370
/area document
/assign @FeynmanZhou

[2019-11-06 07:22] huanggze commented on #1370
/remove-help

[2019-11-06 07:23] runzexia commented on #1235
/close

[2019-11-06 07:23] #1235 closed

[2019-11-06 07:24] huanggze commented on #1370
/kind documentation

[2019-11-06 07:35] gongjx11 commented on #1377
gitlab 使用管理员创建的project 项目，用管理员无法删除，请问一下是什么原因

[2019-11-06 07:37] gongjx11 opened #1379 "gitlab 用管理员创建project项目，使用管理员无法删除，请问一下是什么原因"

[2019-11-06 07:56] soulseen commented on #1373
这个是什么时候的版本。今天早上的版本没有复现。

[2019-11-06 08:11] justahole commented on #1378
已经合入，明天可以验证

[2019-11-06 08:12] justahole commented on #1378
/kind need-to-verify

[2019-11-06 08:16] whDongRui commented on #1371
这个刚按设计图给加上，并支持单个截图的删除。

![image](https://user-images.githubusercontent.com/38676269/68280529-af173800-00b0-11ea-8134-90aa6a79451a.png)

[2019-11-06 08:18] whDongRui commented on #1372
上传icon应该不会清空应用的其它信息，删除或上传screenshots会清空，这个问题刚修复了。

[2019-11-06 08:26] hlwanghl commented on #1377
提供一下环境信息，操作系统和 kubesphere 版本？

[2019-11-06 08:42] gongjx11 commented on #1377
centos7.4 系统，多节点环境，2.0.2 版本，存储有的是ceph  现在任何项目都没有办法删除。
![image](https://user-images.githubusercontent.com/21954004/68282244-4c27a000-00b4-11ea-96cd-ba755ffb8507.png)

只要删除就会报下面日志错误：
![image](https://user-images.githubusercontent.com/21954004/68282301-65c8e780-00b4-11ea-9f95-e27385668e33.png)

[2019-11-06 08:50] junotx opened #1380 "任务创建时，"退出超时时限"设置项没有单位提示"
![image](https://user-images.githubusercontent.com/49136171/68282489-c5bf8e00-00b4-11ea-869a-9673a704eeb7.png)
/area console

[2019-11-06 08:55] rayzhou2017 opened #1381 "alert msg 图不正确"
* [ ] 正确告警，但msg显示的图数值应该不对
<img width="916" alt="Screen Shot 2019-11-06 at 4 53 39 PM" src="https://user-images.githubusercontent.com/28859385/68283221-1f748800-00b6-11ea-9371-fc376abb5fd5.png">
<img width="981" alt="Screen Shot 2019-11-06 at 4 53 52 PM" src="https://user-images.githubusercontent.com/28859385/68283233-24393c00-00b6-11ea-9aa0-7d719a0f7520.png">

[2019-11-06 09:03] jinmin527 opened #1382 "web端的kubectl链接报错"
web端链接kubectl 报如下错：

Connecting...Could not connect to the container. Do you have sufficient privileges?

[2019-11-06 09:08] wansir commented on #1382
需要你的代理服务器支持 websocket，nginx 可以参看下面的配置

[code]

https://www.nginx.com/blog/websocket-nginx/

[2019-11-06 09:12] rayzhou2017 opened #1383 "HA kubectl不工作"
* [ ] HA环境kubectl不工作
<img width="920" alt="Screen Shot 2019-11-06 at 5 11 29 PM" src="https://user-images.githubusercontent.com/28859385/68284527-a88cbe80-00b8-11ea-84c7-3d1a23355551.png">

[2019-11-06 09:16] hlwanghl commented on #1377
这里报的 `Permission Denied` 一般都是存储层面的，可能跟 Ceph 有关。

从 GitLab 官方 Issue 里只找到一个类似的：https://gitlab.com/gitlab-org/charts/gitlab/issues/1386，里面建议进到 gitaly 的 pod 里检查一下相关目录的权限和用户的权限是不是有问题。

如果解决不了的话，可能需要在上面开个 Issue ：https://gitlab.com/gitlab-org/charts/gitlab/issues

[2019-11-06 09:17] leoendless commented on #1381
监控数值这块的正确性 @Ma-Dan @huanggze 帮看下吧

[2019-11-06 09:19] runzexia commented on #1379
和 #1377 是同一个问题吗？

[2019-11-06 09:32] gongjx11 commented on #1377
我先看一下你给的文档，谢谢

[2019-11-06 09:46] hlwanghl commented on #1377
没事，他贴的日志是 sidekiq 的，也可以一起排查一下。

[2019-11-06 09:47] ellaye opened #1385 "命令行docker不能登录harbor"
测试版本：v2.1-dev

![image](https://user-images.githubusercontent.com/57089340/68287176-41bdd400-00bd-11ea-9084-bb85bac0872e.png)
/assign @hlwanghl

[2019-11-06 09:47] calvinyv opened #1386 "Alert policy support for volume usage"
**Describe the bug(描述下问题)**
Alert policy support for volume usage

[2019-11-06 09:48] rayzhou2017 commented on #1381
现在好像又好了

[2019-11-06 09:48] calvinyv commented on #1386
/assign @Carlosfengv @wnxn @benjaminhuo

[2019-11-06 09:52] rayzhou2017 opened #1387 "Alerting Localization"
* [ ] I am in English, but the alert is Chinese.
<img width="616" alt="Screen Shot 2019-11-06 at 5 51 59 PM" src="https://user-images.githubusercontent.com/28859385/68287719-256e6700-00be-11ea-840d-9a0b4ee24c51.png">

[2019-11-06 10:05] rayzhou2017 opened #1388 "app store部署的app自带的pvc没有创建者"
* [ ] 如下图，应该是创建此app的当前登录用户
<img width="777" alt="Screen Shot 2019-11-06 at 6 03 37 PM" src="https://user-images.githubusercontent.com/28859385/68288703-df1a0780-00bf-11ea-814b-3e54d3a4510b.png">

[2019-11-06 10:10] rayzhou2017 opened #1389 "pvc expand数值问题"
* [ ] pvc原来大小是100G，准备扩容，打开默认是8G
<img width="974" alt="Screen Shot 2019-11-06 at 6 08 58 PM" src="https://user-images.githubusercontent.com/28859385/68289338-e4c41d00-00c0-11ea-8204-940c408cf9ba.png">

[2019-11-06 10:22] wnxn commented on #1389
前端应该优先从 pvc status 里读取存储卷大小。
[code]

[2019-11-06 10:33] junotx opened #1390 "编辑有状态副本集对应的服务时，不显示所指定的具体工作负载"
以下是编辑有状态副本集对应的服务时的截图，只显示工作负载个数，不显示具体负载类型和名称
![image](https://user-images.githubusercontent.com/49136171/68290655-44bbc300-00c3-11ea-9edc-3705a07cf6ea.png)
/area console
/kind bug

[2019-11-06 10:33] rayzhou2017 opened #1391 "job rerun websocket"
* [x] rerun job的时候这个running没有动画效果
<img width="1009" alt="Screen Shot 2019-11-06 at 6 32 16 PM" src="https://user-images.githubusercontent.com/28859385/68290969-d75c6200-00c3-11ea-84da-b925a87d8fe9.png">

[2019-11-06 10:33] gongjx11 commented on #1377
我测了几次 普通账号通过注册进去，然后使用管理员付权，然后用注册账号去添加项目，可以删除，如果是管理员账号登录进去，创建的项目，删除不了项目，就会报上面哪个错误

[2019-11-06 10:49] lianghuiyuan commented on #1179
更换为 阿里云的ECS：
CPU：8 核， 内存：16 G， 系统盘：1 T
CentOS Linux release 7.5 (Core) （centos 7.6 安装失败.）

通过离线安装成功。

ps: 出现`"'delegate_to' is not a valid attribute for a TaskInclude`时使用命令： `pip install --upgrade setuptools==30.1.0` 解决

[2019-11-06 10:49] #1179 closed

[2019-11-06 11:01] gongjx11 commented on #1379
是的

[2019-11-06 11:07] hlwanghl commented on #1385
Caused by a bug of the Harbor chart 1.1.3. Will upgrade to 1.2.1.

[2019-11-06 11:40] runzexia commented on #1379
建议用一个issue追踪哈，issue的标题可以修改

[2019-11-06 11:51] hlwanghl commented on #1385
/assign @pixiake Seems harbor-check.yml scaled deployments to 0 and never scale them back to 1.

[2019-11-06 11:52] hlwanghl commented on #1385
/assign @pixiake

[2019-11-06 13:29] calvinyv opened #1393 "node network status miss translated text"
<img width="469" alt="Jietu20191106-212843" src="https://user-images.githubusercontent.com/28883416/68302225-8c9b1400-00dc-11ea-97f1-6a3e6286867e.png">

[2019-11-06 13:30] calvinyv commented on #1393
/kind bug
/assign @leoendless

[2019-11-06 13:35] hlwanghl commented on #1385
A bug in Harbor Chart 1.1.3. Will upgrade to 1.2.1.

[2019-11-06 13:53] leoendless commented on #1391
@wansir 目前 job rerun 的机制应该不支持吧

[2019-11-06 15:36] justahole commented on #1389
@wnxn 当前并不能拿status中的参数作为扩容的原始值，否者会报错。
PersistentVolumeClaim "mysql-volume-mysql-jvitof-0" is invalid: spec.resources.requests.storage: Forbidden: field can not be less than previous value

[2019-11-07 01:05] rayzhou2017 commented on #1389
当前pvc的yaml文件里大小也是8G，是错的

[2019-11-07 01:09] huanggze commented on #1244
ubuntu 18 也没有再复现 先 /close

[2019-11-07 01:09] #1244 closed

[2019-11-07 01:36] hlwanghl commented on #1385
https://github.com/kubesphere/ks-installer/pull/402

[2019-11-07 01:38] huanggze commented on #1362
verified

[2019-11-07 01:38] #1362 closed

[2019-11-07 01:42] huanggze opened #1394 "QingCloud-CSI currently only supports access mode RWO, but the console defaults to enable all alternatives"
![image](https://user-images.githubusercontent.com/22350668/68352932-f221eb80-0142-11ea-856d-dfc5fa4cb7a8.png)

[2019-11-07 01:43] huanggze commented on #1394
/kind bug
/area storage
/area console
/milestone 2.1.0
/assign @justahole @wnxn

[2019-11-07 01:43] whDongRui commented on #1371
/kind need-to-verify

[2019-11-07 01:44] whDongRui commented on #1372
/kind need-to-verify

[2019-11-07 01:46] huanggze commented on #1332
/verified

[2019-11-07 01:46] #1332 closed

[2019-11-07 02:04] minghaoye opened #1395 "qincloud lb设置错误"
1.第一次安装，按照文档设置 auto，qingcloud已自动创建 eip, 但是ks返回为空
2.重新安装，设置为固定eIP, ks lb 返回为空
3.删除 service.beta.kubernetes.io/qingcloud-load-balancer-eip-ids这条注解，新增 service.beta.kubernetes.io/qingcloud-load-balancer-eip-source，并没有删除，被合并

<img width="1000" alt="Screen Shot 2019-11-07 at 10 05 03 AM" src="https://user-images.githubusercontent.com/22934997/68354099-6611c300-0146-11ea-8200-6fe868fa9c83.png">

环境：http:

[2019-11-07 02:13] wnxn commented on #1394
qingcloud-csi, qingstor-csi, local: RWO
ceph rbd: RWO ROX
nfs, glusterfs: RWO ROX RWM

https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes

[2019-11-07 02:20] wnxn commented on #1389
spec 里大小是存储卷请求值，status 里大小是存储卷实际值。实际值是大于等于请求值的
@justahole 你试验的时候扩容前存储卷 实际值和请求值是多少，扩容存储卷请求的容量多少？

[2019-11-07 02:26] justahole commented on #1389
这个报错的情况是 request 30， status 20。我发了一个新的扩容请求。request 为25。
PersistentVolumeClaim "mysql-volume-mysql-jvitof-0" is invalid: spec.resources.requests.storage: Forbidden: field can not be less than previous value
所以并不能拿status 值作为UI的最小扩容值。

[2019-11-07 02:29] magicsong commented on #1395
lb 配置有两个问题：
1. 是ks返回有延迟
2. iaas 返回[QingCloud Error: Code (1400), Message (PermissionDenied, public IP [eip-265r2sjl] is not available, can not be associated to loadbalancer)]，可能是eip无法使用。另外，手动指定eip，应该删除配置项service.beta.kubernetes.io/qingcloud-load-balancer-eip-source： auto。如果不删除，插件会自动获取一个新的。从后台看，后台无法获取是因为eip 额度不够了。

第三个错误应该是UI出错了，我也稳定复现了。
@leoendless

[2019-11-07 02:30] magicsong commented on #1395
/area console
/remove-area network

[2019-11-07 02:32] magicsong opened #1396 "告警创建完成之后，无法查看当初设置的自定义规则"
/area console
/priority medium

[2019-11-07 02:33] wnxn commented on #1389
request 30， status 20 这个状态的存储卷已经在扩容状态了，再触发一次扩容需要 容量大于 30。
这里前端先用 spec 里的容量吧。

[2019-11-07 02:36] justahole commented on #1389
现在就是这个逻辑。而这个issue出现8G。也就是说 spec 的值也并不一定可靠。

[2019-11-07 02:42] wnxn commented on #1389
扩容用 spec 值，显示存储卷容量优先用 status 值，比较合适。

[2019-11-07 02:47] magicsong opened #1397 "告警View不好用"
1. 每个告警通知是按照时间正序，但是用户习惯去解决最新的告警，查看最新的告警的状态
2. 告警通知条目没有跳转，如下图，我要看最新的告警，非常难受。
![image](https://user-images.githubusercontent.com/4010679/68355990-fbfc1c80-014b-11ea-9e97-f0e578a173f5.png)
/area console

[2019-11-07 02:48] leoendless commented on #1395
后端接口没有正确处理请求传参

[2019-11-07 02:48] magicsong commented on #1397
/area console
/assign @leoendless

[2019-11-07 03:02] magicsong opened #1398 "重建workload之后，告警似乎不工作了。"
参考下面这个环境，这个target已经恢复了。但是告警没有显示已恢复。
http://139.198.188.19:30880/projects/test/alert-policy/gaojing---2/monitoring-target

/assign @Ma-Dan

[2019-11-07 03:05] minghaoye opened #1399 "权限问题汇总"
1.workspace regular 没有创建workspace权限，文案写的有

<img width="1280" alt="Screen Shot 2019-11-07 at 10 59 39 AM" src="https://user-images.githubusercontent.com/22934997/68356872-7b8aeb00-014e-11ea-8465-d847d0eb39ea.png">

2.workspace regular 在overview 看见两个project，进入project列表只有一个(没有显示自己没加入的project)

3.workspace regular 新建project后，在project里把自己改为operator，自己被移出项目

4.同3，自己已是admin，把自己改为 admin，同样被移除项目

5.项目 oper

[2019-11-07 03:06] calvinyv commented on #1399
/assign @wansir

[2019-11-07 03:17] Ma-Dan commented on #1398
告警因为无法预知会有多少target(通过label selector支持了动态target)，所以删除后，该target的状态从监控系统未返回的那一个周期，该target的状态就被删除了，不会再有alert或者是resume信息，再次创建后，会当作新加入的target重新建立状态。
比如监控系统中节点的状态，可以在不知道有多少node情况下，一个selector就指定了，一开始读取node信息为1个，那么就建立了这个node的状态，开始alert/resume过程，后面node会动态加入和删除，删除的信息就会清除掉。

[2019-11-07 03:22] minghaoye commented on #1399
翻译问题：

<img width="756" alt="Screen Shot 2019-11-07 at 11 21 42 AM" src="https://user-images.githubusercontent.com/22934997/68357601-da516400-0150-11ea-8f8e-ca60e63c3491.png">

@justahole

[2019-11-07 03:25] huanggze opened #1400 "space characters appear squashed up"
![image](https://user-images.githubusercontent.com/22350668/68357721-2f8d7580-0151-11ea-9f10-1ff3e79c784f.png)

![image](https://user-images.githubusercontent.com/22350668/68357736-39af7400-0151-11ea-844e-49fcefe5a987.png)

![image](https://user-images.githubusercontent.com/22350668/68357750-459b3600-0151-11ea-91ed-3a7755f18042.png)

[2019-11-07 03:25] huanggze commented on #1400
/kind bug
/area logging
/area console
/assign @justahole

[2019-11-07 03:33] rayzhou2017 commented on #1397
这个是需要设计一下

[2019-11-07 03:55] minghaoye commented on #1399
翻译：

<img width="1051" alt="Screen Shot 2019-11-07 at 11 54 45 AM" src="https://user-images.githubusercontent.com/22934997/68359048-7e3d0e80-0155-11ea-9966-f4c9662ed322.png">

[2019-11-07 03:56] zheng1 opened #1401 "ha模式下的redis组件需要文案说明"
![截屏2019-11-0711 50 04](https://user-images.githubusercontent.com/4156721/68359055-84cb8600-0155-11ea-8d3d-b1b73b4a953f.png)

[2019-11-07 03:57] gongjx11 commented on #1377
我问一下 多节点gitlab 安装是不是和搭单节点安装一样的，我是集群的环境在安装时，有一步是需要青云的存储  我跳过了这一步。问一下这个和我报的这个错有没有原因

[2019-11-07 04:37] gongjx11 opened #1402 "问一下多节点环境，可不可以使用外置gitlab,就是说单独用一台机器安装，对集群有没有影响"
搞了两天，发现一直都有问题，所以想问一下。能不能像上面哪样！谢谢

[2019-11-07 05:11] wansir commented on #1399
1. 应该是cluster-regular 吧， 无权创建workspace, @leoendless
2. workspace-regular 之间的项目是隔离的，且 workspace regular看不到 worksapce overview 页面，看看是不是切换账号是界面依旧停留在overview 页
3. 修改角色的时候会删除 rolebinding, 这里需要限制一下 不能修改自己的角色 @leoendless
4. 同上
5. by design ，operator 没有项目高级设置
6. https://github.com/kubesphere/ks-installer/pull/407 fixed

[2019-11-07 05:31] leoendless commented on #1399
1,3,4 及 翻译问题 Fixed

[2019-11-07 05:32] hlwanghl commented on #1377
多节点和单节点一样，都会用默认的 storage class，只要配好默认的就可以。

如果有问题，这些 pod 分配不到 PVC ，压根就起不来。

[2019-11-07 05:38] Carlosfengv opened #1404 "支持OEM及样式定制化"
RT；

- [ ] 支持用户修改logo及平台名称；
- [ ] 支持用户对界面基础颜色的调整；

[2019-11-07 05:39] Carlosfengv opened #1405 "LDAP以及AD对接可视化操作"
RT；
LDAP以及AD对接可视化操作

[2019-11-07 05:39] Carlosfengv commented on #1405
/area console
/kind design
/milestone 3.0

[2019-11-07 05:40] Carlosfengv commented on #1405
/area console
/kind design
/milestone 3.0.0

[2019-11-07 05:40] Carlosfengv commented on #1404
/area console
/kind design
/milestone 3.0.0

[2019-11-07 05:51] Carlosfengv opened #1406 "获取网关公网ip"
问题描述:
通过创建应用路由的方式获取的网关往往是 私有网络IP地址，生成的 url往往不可以访问，需要手动改为 公网ip才可以正常访问

预期
应用路由的ip可以直接映射节点的公网ip，或者其它方式使生成的url 可以直接访问

[2019-11-07 05:57] huojiao2006 commented on #1387
会在调用端也是告警这段实现 @Ma-Dan

[2019-11-07 05:59] runzexia commented on #1378
/close

[2019-11-07 05:59] #1378 closed

[2019-11-07 06:18] soulseen commented on #1373
/assign @minghaoye

[2019-11-07 06:31] gongjx11 commented on #1377
我这里的GITLAB 分配到了PVC,因为安装时会选择存储，我用的是CEPH，所以在安装时选择不到青云的存储，被我注释掉了，另外我想问一下，如果不用集群的GITLAB。而单独部署一台GITLAB对集群有没有影响。

[2019-11-07 06:31] #1221 closed

[2019-11-07 06:33] #868 closed

[2019-11-07 06:34] #866 closed

[2019-11-07 06:36] #865 closed

[2019-11-07 06:48] tzghost opened #1407 "构建流水线，一直显示队列中"
构建流水线，一直显示队列中

![image](https://user-images.githubusercontent.com/17000535/68366164-96b92300-016d-11ea-8595-eef9ba11a7f5.png)

[2019-11-07 06:50] hlwanghl commented on #1377
没影响，可以用单独的，跑 DevOps 流水线的时候，网络相互是通的就可以。

[2019-11-07 07:25] chenpfeisoo opened #1408 "ks前端开源咨询"
请问ks前端项目 有开源计划吗？ 有没有大概的时间点呢？

[2019-11-07 07:43] liuyp2018 opened #1409 "容器组无异常pod时，创建告警策略为 容器组异常率<100%，不会触发告警"
当平台容器组中无异常pod时，创建告警策略为 容器组异常率<100%

预期：
应可以触发告警

实际结果：
查看该条告警一直未触发告警动作
另：当平台中存在有异常pod时，创建相同的告警策略，可以成功触发告警。

[2019-11-07 07:54] huanggze commented on #1409
异常 pod 的算法可以改进下。让无异常 pod 时结果返回 0，而不是空。这个问题可以先标记为 medium，不会影响正常的异常pod告警

[2019-11-07 08:04] liuyp2018 commented on #1409
/priority medium

[2019-11-07 08:06] liuyp2018 commented on #1409
/remove-priority low

[2019-11-07 08:07] liuyp2018 commented on #1409
/assign @huanggze

[2019-11-07 08:43] huanggze opened #1410 "403 errors after namespace admin removes himself from the namespace"
`devops-wk-regular` is the namespace admin

![image](https://user-images.githubusercontent.com/22350668/68372936-c02d7b00-017c-11ea-9eaf-fc6d5a36847b.png)

![image](https://user-images.githubusercontent.com/22350668/68372953-c885b600-017c-11ea-9cc1-4176d9607977.png)

[2019-11-07 08:45] huanggze commented on #1410
/kind bug
/area iam
/area console
/milestone 2.1.0
/assign @leoendless

[2019-11-07 08:45] leoendless commented on #1410
Fixed, now disabled member modify self's role

[2019-11-07 08:49] huanggze commented on #1312
![image](https://user-images.githubusercontent.com/22350668/68373788-8c535500-017e-11ea-883f-4cac4c615cfe.png)

/remove-kind need-to-verify

[2019-11-07 09:02] tzghost commented on #1407
节点下载jenkins/jnlp-slave:3.27-1镜像后，Unit Test报错
![image](https://user-images.githubusercontent.com/17000535/68374711-59aa5c00-0180-11ea-9466-e7a35763c3b1.png)

[2019-11-07 09:04] Carlosfengv opened #1411 "邮件服务器ReDesign"
优化内容

- [ ] 增加邮件服务器模板（Gmail、腾讯企业邮、QQ邮箱等邮件服务商模板）

设计稿
zpl://screen?sid=5dc3d92533c84722e7a8225e&pid=5cbe7fbc2f55d8b73f56811b

[2019-11-07 09:04] Carlosfengv commented on #1411
/area console
/kind design
/milestone 3.0.0

[2019-11-07 09:05] leoendless commented on #1312
Fixed

[2019-11-07 09:09] wansir commented on #1376
fixed
/kind need-to-verify

[2019-11-07 09:16] huanggze commented on #1312
verified

[2019-11-07 09:16] #1312 closed

[2019-11-07 09:17] huanggze commented on #1410
verified

[2019-11-07 09:17] #1410 closed

[2019-11-07 09:18] huanggze commented on #1305
verified

[2019-11-07 09:18] #1305 closed

[2019-11-07 09:47] mayuhope opened #1412 "通过kubemark创建100个hollowNode后，kubectl报错"
按照此步骤部署kubemark  https://github.com/kubernetes/community/blob/452f681d92d98d6d62dfb24fbc9c8da10935632c/contributors/devel/sig-scalability/kubemark-setup-guide.md

创建完100个hollowNode后，kubectl报错：
![image](https://user-images.githubusercontent.com/7677050/68378244-bad52e00-0186-11ea-89d2-d7de09443cfd.png)

[2019-11-07 09:51] mayuhope commented on #1412
/assign  @leoendless
/area performance
/milestone 2.1.0

[2019-11-07 10:07] rayzhou2017 opened #1413 "文档"
*  [x] nginx灰度发布需要修改地方 https://kubesphere.io/docs/v2.1/zh-CN/quick-start/ingress-canary/：
1. 截图需更新，还是2.0的截图
2. 灰度命令行最好能copy，现在是截图，不方便用户测试
3. 灰度命令需要改成 for i in $(seq 1 10); do curl -s --resolve kubesphere.io:30205:192.168.0.88 kubesphere.io:30205 | grep "Hostname"; done   后面的示例应该是同样的问题

<img width="936" alt="Screen Shot 2019-11-07 at 6 06 44 PM" src="https://user-images.githubusercontent.com/288593

[2019-11-07 10:18] gongjx11 commented on #1377
好的 谢谢

[2019-11-07 10:54] mayuhope opened #1414 "通过状态搜索主机不生效"
1、进入平台管理-基础设施-主机；
2、3台主机状态均为运行中，通过状态进行搜索，搜索条件为运行中，结果没有任何返回结果
![image](https://user-images.githubusercontent.com/7677050/68383133-06d8a080-0190-11ea-9590-4e55033ad5f0.png)
![image](https://user-images.githubusercontent.com/7677050/68383138-093afa80-0190-11ea-931d-67a6efdf73fe.png)

[2019-11-07 10:55] mayuhope commented on #1414
/assign @leoendless
/area  console
/milestone 2.1.0

[2019-11-07 11:06] mayuhope opened #1415 "在ks上创建了100个虚拟node后，资源监控和日志无数据"
1、allinone 单节点，通过kubemark创建了100个hollowNode；
2、查看资源监控和日志，无数据
![image](https://user-images.githubusercontent.com/7677050/68383989-a4809f80-0191-11ea-8431-ec6339cfe209.png)
![image](https://user-images.githubusercontent.com/7677050/68383998-a8acbd00-0191-11ea-98b7-dbbbd35e3e55.png)

[2019-11-07 11:07] mayuhope commented on #1415
/area  monitor

[2019-11-07 11:28] mayuhope opened #1416 "自定义角色为日志查看和主机编辑时，权限错误"
1、新建一个平台自定义角色test，权限为日志查看、主机编辑，使用该角色绑定一个账户user1；
![image](https://user-images.githubusercontent.com/7677050/68385435-b152c280-0194-11ea-938b-108757220821.png)

2、使用账户user1登录，发现权限错误：

![image](https://user-images.githubusercontent.com/7677050/68385574-0db5e200-0195-11ea-81c3-22c5e1344505.png)

[2019-11-07 11:28] mayuhope commented on #1416
/assign @leoendless
/area console
/area iam
/milestone 2.1.0
/kind bug

[2019-11-07 11:31] mayuhope commented on #1415
/milestone 2.1.0

[2019-11-07 11:33] mayuhope commented on #1414
补充:通过系统版本搜索也不生效

[2019-11-07 11:53] wansir commented on #1416
前端根据规则作出限制就可以了

[2019-11-07 11:55] rayzhou2017 commented on #1408
两三周的样子

[2019-11-07 12:06] wansir commented on #1412
/assign @pixiake 升级之后需要更新一下 kubectl 的 image
[code]

[2019-11-07 12:11] wansir commented on #1391
watch  job  应该可以看到变化，有删除和创建的过程

[2019-11-07 12:19] rayzhou2017 commented on #1372
verified

[2019-11-07 12:19] #1372 closed

[2019-11-07 12:20] rayzhou2017 commented on #1371
verified

[2019-11-07 12:20] #1371 closed

[2019-11-07 12:21] rayzhou2017 commented on #890
verified

[2019-11-07 12:21] #890 closed

[2019-11-07 12:41] leoendless commented on #1391
@rayzhou2017 是指 job 的 running 同 workload 的warning 一样闪烁吗

[2019-11-07 12:51] yunkunrao opened #1417 "workload级别的告警创建失败，web页面报403权限错误"
类似issue #1039

- 普通用户创建workload级别的告警失败，web报错：
<img width="908" alt="a" src="https://user-images.githubusercontent.com/20353538/68390190-b6693f00-019f-11ea-8bb8-d6bba5210876.png">

[2019-11-07 12:55] leoendless commented on #1416
Fixed

[2019-11-07 12:55] rayzhou2017 commented on #1417
怎么还有问题？

[2019-11-07 13:01] rayzhou2017 commented on #1391
是的，这个running一直没动，然后最后转成complete，这个是预期的？

[2019-11-07 13:43] yunkunrao opened #1419 "文档link错误"
在“基于 Local Helm Repo 快速搭建应用仓库部署 Redis”章节中，**点击下载**的link已失效。

- doc link: https://kubesphere.io/docs/v2.0/zh-CN/platform-settings/local-repo/

<img width="941" alt="a2" src="https://user-images.githubusercontent.com/20353538/68393734-99386e80-01a7-11ea-8a25-58a1974c921b.png">

[2019-11-07 13:46] yunkunrao commented on #1417
该issue新版本已fixed。

[2019-11-07 13:46] #1417 closed

[2019-11-07 13:49] yunkunrao commented on #1419
文档已更新至2.1，故关闭。

[2019-11-07 13:49] #1419 closed

[2019-11-07 23:36] pixiake commented on #1412
https://github.com/kubesphere/ks-installer/pull/416

[2019-11-08 01:00] chenpfeisoo commented on #1408
好的 ，期待
我看当前新版本2.0.2 该版本实现功能模块化拆分了吗？

[2019-11-08 01:46] hlwanghl commented on #1385
The fix above was merged into latest installer and it works on my CentOS 7.5 all in one. Give a try.

[2019-11-08 01:49] mayuhope commented on #1415
/assign @huanggze

[2019-11-08 01:50] rayzhou2017 commented on #1408
拆分了

[2019-11-08 01:51] chenpfeisoo commented on #1408
好的 ，感谢你的回复。issue  关闭了

[2019-11-08 01:51] #1408 closed

[2019-11-08 02:16] rayzhou2017 opened #1421 "regression: pod terminal打不开"
* [x] 试过多个权限，都打不开
<img width="1139" alt="Screen Shot 2019-11-08 at 10 15 08 AM" src="https://user-images.githubusercontent.com/28859385/68444073-bd7c6580-0210-11ea-95aa-313bee0172ff.png">

[2019-11-08 02:28] whDongRui commented on #1190
/kind need-to-verify
@huanggze

[2019-11-08 02:36] runzexia commented on #1346
/close

[2019-11-08 02:36] #1346 closed

[2019-11-08 02:37] FeynmanZhou opened #1422 "自定义角色登录后查看监控返回 403"
昨天装的环境，自定义的 role，该角色对监控仅开放查看权限，该角色登录后提示 403

![image](https://user-images.githubusercontent.com/40452856/68444525-0ed92480-0212-11ea-89b8-619be9045cce.png)

![image](https://user-images.githubusercontent.com/40452856/68444492-f36e1980-0211-11ea-9ef3-e9641334c127.png)

[2019-11-08 02:55] huanggze opened #1423 "Cannot cancel member invitation, changes are bound to be committed"
Once I click _Invite Member_ and edit something, there is no way to quit this process. Changes are bound to be committed.

![image](https://user-images.githubusercontent.com/22350668/68445958-53ff5580-0216-11ea-9c73-aab33eb69a4c.png)

[2019-11-08 02:57] huanggze commented on #1423
/kind bug
/area iam
/assign @leoendless
/milestone 2.1.0

[2019-11-08 03:01] wansir commented on #1421
kubectl -n kubesphere-system set image deployment/ks-console ks-console=kubespheredev/ks-console:latest

需要更新一下ks-console 的镜像

[2019-11-08 03:06] runzexia opened #1424 "如何查询工作负载的历史日志"
/help
/cc @Carlosfengv @huanggze @justahole
在实际使用过程当中，我们进行排错的时候，需要对工作负载的历史日志进行查询（例如pod挂了，我在界面上看不到，想要查看历史日志）。
但是通过日志查询页面，不容易通过上下文找到我出错的信息。
![image](https://user-images.githubusercontent.com/31230341/68445857-0edb2380-0216-11ea-9782-80b035ff806f.png)
因此我点击某个日志详情进入日志查询页面，发现查询结果只有几条，也不太容易找到我出错时候的日志。
![image](https://user-images.githubusercontent.com/31230341/68445916-3b8f3b00-0216-11ea-83ce-3db7cd18bf

[2019-11-08 03:14] leoendless commented on #1423
As design

[2019-11-08 03:16] huanggze commented on #1424
定位日志后，点选查看上下文应该是有一处小bug 挪到3.0， @justahole 看看影不影响历史日志查询

[2019-11-08 03:18] wansir commented on #1422
这里是因为新增了API

[2019-11-08 03:18] justahole commented on #1424
@huanggze  只能根据定位的日志，通过可能的时间来寻找日志。

[2019-11-08 03:22] wansir commented on #1422
/kind need-to-verify

[2019-11-08 03:22] #1423 closed

[2019-11-08 03:23] wansir commented on #1421
/kind need-to-verify

[2019-11-08 03:25] rayzhou2017 commented on #1421
verified

[2019-11-08 03:25] #1421 closed

[2019-11-08 03:28] #1007 closed

[2019-11-08 03:47] rayzhou2017 commented on #1383
verified

[2019-11-08 03:47] #1383 closed

[2019-11-08 05:15] soulseen commented on #1373
/need-to-verify

[2019-11-08 05:31] justahole commented on #1394
/kind need-to-verify

[2019-11-08 05:31] justahole commented on #1397
/kind need-to-verify

[2019-11-08 05:32] justahole commented on #1400
/kind need-to-verify

[2019-11-08 06:28] rayzhou2017 commented on #1389
verified

[2019-11-08 06:28] #1389 closed

[2019-11-08 06:29] rayzhou2017 commented on #1373
verified

[2019-11-08 06:29] #1373 closed

[2019-11-08 06:42] gongjx11 commented on #1385
以经可以了 谢谢！

[2019-11-08 06:45] huanggze opened #1425 "errors when devops project reporter executes run actions"
Reporters should not be allowed to execute run actions

![image](https://user-images.githubusercontent.com/22350668/68455357-262a0900-0236-11ea-9005-56255798512d.png)

[2019-11-08 06:45] huanggze commented on #1425
/kind bug
/area iam
/area devops
/assign @minghaoye @runzexia
/milestone 2.1.0

[2019-11-08 06:46] soulseen opened #1426 "优化流水线邮件通知邮件服务器配置，支持在kubesphere界面中统一配置"
1. v2.1.0版本中流水线邮件通知功能，配置邮件服务器需要Jenkins中单独配置。
2. 在v2.1.1中进行优化，在kubesphere界面中统一配置邮件服务器即可。

/kind improved
/assign @runzexia @soulseen

[2019-11-08 06:47] soulseen commented on #1426
/kind improve

[2019-11-08 07:21] huanggze commented on #1400
verified

[2019-11-08 07:21] #1400 closed

[2019-11-08 07:25] huanggze commented on #1394
verified

[2019-11-08 07:25] #1394 closed

[2019-11-08 07:31] Carriezhangyan opened #1427 "kubesphere 平台添加 nfs 存储"
问题:
1. kubesphere 平台想要增加一个存储，，存储类型是nfs ，，请问应该怎样设置？ 我选择了一个自定义设置，，后面的参数不知道应该怎样设置了。。有没有文档说明应该怎样新加一个nfs存储呢？

![image](https://user-images.githubusercontent.com/46554638/68457992-a8b5c700-023c-11ea-9333-499acf52467d.png)

![image](https://user-images.githubusercontent.com/46554638/68457879-5bd1f080-023c-11ea-9dd0-87bd3e618154.png)

[2019-11-08 07:35] huanggze commented on #1298
这里不对 /remove-kind need-to-verify
![image](https://user-images.githubusercontent.com/22350668/68458285-5fb24280-023d-11ea-82b8-1fb31ba1b0af.png)

![image](https://user-images.githubusercontent.com/22350668/68458290-63de6000-023d-11ea-9428-47dde39cb697.png)

[2019-11-08 07:36] huanggze commented on #1298
/remove-kind need-to-verify

[2019-11-08 07:37] junotx commented on #1390
/assign @leoendless

[2019-11-08 07:43] wnxn commented on #1427
选择自定义，填写 parameters 里的 key 和 value，就可以新增存储类型了。
NFS 动态分配需要安装动态分配器，可以参考：https://github.com/helm/charts/tree/master/stable/nfs-client-provisioner

[2019-11-08 07:45] mayuhope commented on #1416
经验证已修复

[2019-11-08 07:45] #1416 closed

[2019-11-08 07:47] mayuhope commented on #874
经经验已修复

[2019-11-08 07:47] #874 closed

[2019-11-08 07:50] Carriezhangyan commented on #1427
parameters 里的 key 和 value，填写什么？ 是新增nfs的ip和指定的存储路径吗？

[2019-11-08 07:53] mayuhope commented on #1255
已验证

[2019-11-08 07:53] #1255 closed

[2019-11-08 07:54] mayuhope commented on #1291
已验证

[2019-11-08 07:54] #1291 closed

[2019-11-08 07:57] mayuhope commented on #1175
已验证

[2019-11-08 07:57] #1175 closed

[2019-11-08 07:57] huanggze commented on #1190
/verified

[2019-11-08 07:57] #1190 closed

[2019-11-08 08:00] mayuhope commented on #860
已验证

[2019-11-08 08:00] #860 closed

[2019-11-08 08:06] mayuhope commented on #1412
已验证

[2019-11-08 08:06] #1412 closed

[2019-11-08 08:08] huanggze commented on #1130
还是有问题

![image](https://user-images.githubusercontent.com/22350668/68460122-ff71cf80-0241-11ea-9b2a-896e2e96d802.png)

[2019-11-08 08:08] huanggze commented on #1130
/remove-kind need-to-verify

[2019-11-08 08:11] geniussheep opened #1428 "Devops任务界面，未解析Jenkins任务状态: UNSTABLE"
Bug描述：
发起devops任务后 以确定任务成功完成，但是在devops上任务状态依然是 [未运行] 状态
![image](https://user-images.githubusercontent.com/7587017/68460130-04368380-0242-11ea-8485-262f4703ddc7.png)
![image](https://user-images.githubusercontent.com/7587017/68460152-13b5cc80-0242-11ea-8559-7d33fca045d4.png)
![image](https://user-images.githubusercontent.com/7587017/68460174-20d2bb80-0242-11ea-9d0d-ad6b4527bd93.png)

[2019-11-08 08:12] runzexia commented on #1428
/assgin @minghaoye @runzexia
/kind bug
/area devops
/milestone 2.1.1

[2019-11-08 08:12] huanggze opened #1429 "app release date seems incorrect"
![image](https://user-images.githubusercontent.com/22350668/68460314-8161f880-0242-11ea-86d1-75c913a5b582.png)

[2019-11-08 08:13] huanggze commented on #1429
/help
/area app-management
/assign @pengcong06

[2019-11-08 08:13] Carriezhangyan commented on #1427
我想要安装多个nfs服务器，以便于一台nfs服务器挂掉后，另一台及时启动，，不影响业务。
一定要安装nfs动态分配器吗？ 安装后会冲掉我以前的nfs服务器上的存储数据吗？ 还有，这个nfs动态分配器是需要安装到master节点上吗？还是安装到nfs服务器上？安装后会对我原来的存储数据有影响吗？会冲掉我以前存储好的数据吗？如果删掉其中一台存储了数据的nfs服务器，以前的存储数据会丢失吗？

[2019-11-08 08:18] huanggze commented on #1099
verified

[2019-11-08 08:18] #1099 closed

[2019-11-08 08:24] mayuhope commented on #1301
经验证，最新安装的环境仍存在此问题

[2019-11-08 08:25] mayuhope commented on #1301
/remove-kind need-to-verify

[2019-11-08 08:28] runzexia commented on #840
/close

[2019-11-08 08:28] #840 closed

[2019-11-08 08:29] mayuhope commented on #1301
/milestone 2.1.1

[2019-11-08 08:29] #1301 closed

[2019-11-08 08:29] wnxn commented on #1427
1个nfs动态分配器对接1个 nfs 服务端。
nfs动态分配器通过 k8s 工作负载安装在 k8s 里，安装后对nfs 服务端数据没有影响。
使用nfs动态分配器当创建 pvc 时自动创建nfs pv，并且在 nfs 指定目录下创建对应pv的子目录。

[2019-11-08 08:29] gongjx11 opened #1430 "Source-to-image 构建镜像加载不了jar，麻烦帮忙看一下"
带码包，用的是官网推建的 https://github.com/kubesphere/devops-java-sample  这个demo.
因为我的GITHUB git不下来，所以把它下载下来，推到了gitlab本地仓库。

下面是我的配置：
![image](https://user-images.githubusercontent.com/21954004/68460931-00a3fc00-0244-11ea-8d2d-46c5824d3dbc.png)
![image](https://user-images.githubusercontent.com/21954004/68460976-1e716100-0244-11ea-85f8-e469eee7088f.png)

卷没有添加
![image](https://user-images.githubusercontent.c

[2019-11-08 08:31] mayuhope commented on #1301
/milestone 2.1.0

[2019-11-08 08:31] runzexia commented on #1430
看下代码仓库的截图

[2019-11-08 08:34] gongjx11 commented on #1430
![image](https://user-images.githubusercontent.com/21954004/68461647-a86df980-0245-11ea-85e8-0e41482e1498.png)
这个就是代码仓库

[2019-11-08 08:39] xy21yue opened #1431 "Failed to delete the created pipeline under the devops"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
3 masters:  8cpu/8g
3 nod

[2019-11-08 08:39] Carriezhangyan commented on #1427
kubesphere支持添加多个nfs服务端吗？

[2019-11-08 08:40] leoendless commented on #1390
Fixed

[2019-11-08 08:40] calvinyv commented on #1323
verified

[2019-11-08 08:40] #1323 closed

[2019-11-08 08:40] #1230 closed

[2019-11-08 08:41] #1125 closed

[2019-11-08 08:41] leoendless commented on #823
verified

[2019-11-08 08:41] #823 closed

[2019-11-08 08:45] mayuhope commented on #1014
Close the issue

[2019-11-08 08:52] runzexia commented on #1431
请附加下 kubesphere-system 下 ks-apiserver-xxx的日志。
以及 kubesphere-devops-system 下 ks-jenkins的日志。
以及所用的存储驱动类型、pipeline是否正在运行。

[2019-11-08 08:56] gongjx11 commented on #1430
我看一下

[2019-11-08 09:03] wnxn commented on #1427
支持，你弄多个 nfs 动态分配器就可以了，1个nfs动态分配器对应 1个存储类型对应1个nfs服务端和路径二元组。

[2019-11-08 09:04] gongjx11 commented on #1430
现在可以了，谢谢了

[2019-11-08 09:07] #1430 closed

[2019-11-08 09:07] ellaye commented on #1385
verify ok

[2019-11-08 09:07] #1385 closed

[2019-11-08 09:12] leoendless commented on #1414
Fixed

[2019-11-08 09:17] junotx commented on #883
verified

[2019-11-08 09:17] #883 closed

[2019-11-08 09:22] ellaye opened #1432 "笔记本上创建用户时密码被挡住"
复现步骤：
1、使用admin登录kubesphere
2、平台管理-账户管理-创建用户
3、输入用户名、邮箱、选择角色，拉动滚动条到最下端，输入密码

期望结果：密码不被挡住
实际结果：密码被挡住
![image](https://user-images.githubusercontent.com/57089340/68923630-b679c800-07b9-11ea-9e43-97bfccbbdd7e.png)

[2019-11-08 09:23] chenpfeisoo opened #1433 "请教一下ks的sso是怎么做的"
我看到ks里面集成了 监控日志相关的产品，咨询一下 sso这块的实现

[2019-11-08 09:25] mayuhope commented on #1414
经验证已修复

[2019-11-08 09:25] #1414 closed

[2019-11-08 09:25] junotx commented on #1380
verified

[2019-11-08 09:25] #1380 closed

[2019-11-08 09:27] ellaye commented on #1432
/assign @leoendless

[2019-11-08 09:36] Carlosfengv opened #1435 "登录ReDesign"
内容：

- [ ] 重构登录页面样式；
- [ ] 增加自注册流程；
- [ ] 增加忘记密码重置流程；
- [ ] 增加初始化Innit账号密码设置；
- [ ] 增加首次登录时URL设置；

设计稿地址：
zpl://screen?sid=5dc518b29b7832232fd63e87&pid=5cbe7fbc2f55d8b73f56811b

[2019-11-08 09:37] Carlosfengv commented on #1435
/area console
/kind design
/milestone 3.0.0

[2019-11-08 09:37] Carlosfengv commented on #1435
/assign @wansir
/assign @leoendless

[2019-11-08 09:40] junotx commented on #1390
verified

[2019-11-08 09:40] #1390 closed

[2019-11-08 09:40] Carlosfengv commented on #1426
#1411

[2019-11-08 09:49] mayuhope commented on #1131
经验证已修复

[2019-11-08 09:50] mayuhope opened #1436 "添加容器镜像找不到时，提示语有文字错误"
找不到容器镜像时，后面多了个字符>
![image](https://user-images.githubusercontent.com/7677050/68466933-48c91b80-0250-11ea-9d67-770af7038c58.png)

[2019-11-08 09:53] mayuhope commented on #1436
/area console
/priority low
/milestone 2.1.0

/assign @minghaoye

[2019-11-08 09:55] mayuhope commented on #1432
/area console
/milestone 2.1.0

[2019-11-08 10:01] #1422 closed

[2019-11-08 10:10] FeynmanZhou opened #1437 "前端应用商店的权限控制"
没有部署 OP，但是admin登录后，前端显示了应用商店入口，进入会报错。
![image](https://user-images.githubusercontent.com/40452856/68468261-a65e6780-0252-11ea-8365-0a1492f4da61.png)

[2019-11-08 10:15] #1285 closed

[2019-11-08 10:19] Carriezhangyan commented on #1427
可是我参照 https://github.com/helm/charts/tree/master/stable/nfs-client-provisioner  中执行命令，，一直报错。。
错误如下：
[code]

应该不需要先停掉原来的nfs服务器吧

[2019-11-08 10:34] leoendless commented on #1437
应该是部署op了，但op没有正常启动起来

[2019-11-08 11:02] mayuhope commented on #1124
![image](https://user-images.githubusercontent.com/7677050/68471917-39e76680-025a-11ea-9bb6-66808d0f90f7.png)
在2.1版本中，删除服务时可以删除对应的资源

[2019-11-08 11:19] mayuhope commented on #361
2.1经过验证已修复

[2019-11-08 11:26] #1376 closed

[2019-11-08 11:36] pixiake commented on #1369
https://github.com/kubesphere/kubespray/commit/8fec56dca3f694a106c676cac573d2a84d97d048

[2019-11-08 11:38] mayuhope commented on #974
目前有等待中，准备就绪，丢失这3种状态，存储卷扩容时的状态是准备就绪。
![image](https://user-images.githubusercontent.com/7677050/68474002-5b971c80-025f-11ea-82d9-1c03533759b2.png)

[2019-11-08 12:15] minghaoye commented on #1425
fixed

[2019-11-08 14:47] mayuhope commented on #361
/close

[2019-11-08 14:47] #361 closed

[2019-11-08 14:50] mayuhope commented on #1014
/close

[2019-11-08 14:51] #1014 closed

[2019-11-08 14:51] mayuhope commented on #1124
/close

[2019-11-08 14:51] #1124 closed

[2019-11-08 14:51] mayuhope commented on #1131
/close

[2019-11-08 14:51] #1131 closed

[2019-11-08 14:51] mayuhope commented on #1266
/close

[2019-11-08 14:51] #1266 closed

[2019-11-08 14:52] mayuhope commented on #974
/close

[2019-11-08 14:52] #974 closed

[2019-11-09 02:46] Migo1989 opened #1438 "流水线支持Helm部署应用至kubernetes"
在公司内网k8s集群内安装了ks，创建了devops工程，建了一个应用的流水线gateway-http pipline，向导式的UI非常人性化，即便不懂jenkinsfile的人也可以创建一条流水线，非常棒的功能。
我的需求： 从checkout scm到build and push都很好，但是最后一步发布至k8s时，我发现只支持yaml，不支持helm chart，因为我们公司都是通过helm chart发布应用到k8s集群的，希望在后面的版本中流水线可以支持helm 部署发布。
我发现ks是可以添加自建的helm repo的，是不是可以将流水线和应用仓库打通。
kubesphere是我用过最好的云原生时代下的管理平台，希望越做越好。

[2019-11-09 03:31] johnlu655 opened #1439 "default-http-backend-xxxx 这个镜像文件imagepullbackoff"
**问题描述**
kubesphere-controls-system     default-http-backend-xxxx 这个镜像文件处于imagepullbackoff，其它都是就绪，为什么这个镜像老下不来？
**安装环境的硬件配置**
ubuntu18.04
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
all-in-one安装方式
**错误信息或截图**

**Installer版本**
kubesphere2.0.2在线版本安装

[2019-11-09 03:46] rayzhou2017 commented on #1439
2.1.0已经fix了

[2019-11-09 04:26] johnlu655 commented on #1439
非常感谢！------------------ 原始邮件 ------------------
发件人: "rayzhou2017"<notifications@github.com>
发送时间: 2019年11月9日(星期六) 中午11:46
收件人: "kubesphere/kubesphere"<kubesphere@noreply.github.com>;
抄送: "johnlu655"<553826005@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [kubesphere/kubesphere] default-http-backend-xxxx 这个镜像文件imagepullbackoff (#1439)

2.1.0已经fix了

&mdash;
You are receiving this because you

[2019-11-09 06:35] mayuhope opened #1440 "添加应用仓库时，先创建再单击验证会提示错误"
1、进入一个企业空间，企业空间设置-应用仓库，点击创建仓库；
2、创建仓库时正确填写各项内容，先点击创建，在创建过程中点击验证，此时前端会报错
![image](https://user-images.githubusercontent.com/7677050/68524157-53da8500-02fe-11ea-9970-b1e5f5405bed.png)

[2019-11-09 06:38] mayuhope commented on #1440
/area app-management
/assign @whDongRui

[2019-11-09 07:05] mayuhope opened #1441 "容器终端没有显示命令"
1、创建有状态副本集，填写容器镜像为alpine，填写命令为/bin/sh，填写参数；
2、结果：pod正常运行，但是打开容器终端，发现没有显示命令：

![image](https://user-images.githubusercontent.com/7677050/68524486-6c4c9e80-0302-11ea-8242-e1ea687e56ba.png)

[2019-11-09 07:09] mayuhope commented on #1441
/area console
/milestone 2.1.1

/assign @leoendless

[2019-11-09 07:09] mayuhope commented on #1441
/kind  bug

[2019-11-09 07:18] mayuhope commented on #1440
/kind  bug

[2019-11-09 07:34] mayuhope opened #1442 "容器组主机ip显示不全"
node节点的IP显示不完整，也无tooltip提示：
![image](https://user-images.githubusercontent.com/7677050/68524833-53de8300-0306-11ea-8021-139661354f78.png)

[2019-11-09 07:35] mayuhope commented on #1442
/area console
/milestone 2.1.1

/assign @leoendless

[2019-11-09 08:02] mayuhope commented on #1440
/milestone 2.1.1

[2019-11-09 08:33] mayuhope opened #1444 "搜索容器日志时无法根据下划线后的参数取值进行搜索"
1、查询容器日志，例如查询
ks-console这个容器的日志，该日志包含类似metrics_filter=node_cpu_usage这样的语句，如下图所示：
![image](https://user-images.githubusercontent.com/7677050/68525608-6fe62280-030e-11ea-81e0-f5e650d8bae0.png)

2、输入关键字cpu，结果无匹配结果：
![image](https://user-images.githubusercontent.com/7677050/68525618-7eccd500-030e-11ea-8377-ba6422d6b672.png)

[2019-11-09 08:35] mayuhope commented on #1444
/area  logging
/milestone  2.1.1
/assign  @huanggze

[2019-11-09 08:35] mayuhope commented on #1444
/assign  @huanggze

[2019-11-09 08:36] mayuhope commented on #1444
/assign @huanggze

[2019-11-09 09:33] mayuhope opened #1445 "存储卷扩容输入小数时，提交成功，但是配置文件没更新"
1、对已有存储卷进行扩容，输入小数位，例如输入100.1，提交

2、结果：前端提示更新成功，查看配置文件，发现仍然是之前的数据，实际上扩容失败了
![image](https://user-images.githubusercontent.com/7677050/68526447-0dddeb00-0317-11ea-83a6-d051d70354a8.png)

3、修改建议：建议检查是否支持小数位，若不支持小数位的扩容，建议在前端做下限制

[2019-11-09 09:37] mayuhope commented on #1445
/area console
/area  storage
/milestone 2.1.1
/assign @wnxn
/assign  @justahole

[2019-11-09 09:38] mayuhope commented on #1445
/assign @justahole

[2019-11-09 14:02] rayzhou2017 opened #1446 "The svc list needs to show ip address"
* [ ] 包括svc ip和lb ip，如果有的话
<img width="1001" alt="Screen Shot 2019-11-09 at 9 59 14 PM" src="https://user-images.githubusercontent.com/28859385/68529719-4e9c2b00-033c-11ea-98ca-a6b5aa19222c.png">

[2019-11-09 15:06] #1281 closed

[2019-11-09 15:07] calvinyv opened #1447 "pre-installed apps should be categorized"
pre-installed apps should be categorized

[2019-11-09 15:08] calvinyv commented on #1447
/assign @pengcong06 @hlwanghl
/kind bug

[2019-11-10 00:38] mayuhope commented on #1445
/kind  bug

[2019-11-10 00:41] mayuhope opened #1448 "存储类型为kubernetes.io/glusterfs时，添加存储卷时出现的访问模式不一致"
1、存储类型：kubernetes.io/glusterfs
2、新建存储卷，选择该类型，切换到其他存储类型再切回来后，发现同一个存储类型显示的访问模式不一致：
![image](https://user-images.githubusercontent.com/7677050/68536926-e417d900-0395-11ea-9fe7-53777cd9a091.png)
![image](https://user-images.githubusercontent.com/7677050/68536927-e7ab6000-0395-11ea-9e6e-14e7bb9bd196.png)

[2019-11-10 00:43] mayuhope commented on #1448
/area console
/milestone 2.1.1
/assign @leoendless

[2019-11-10 00:43] mayuhope commented on #1448
/kind  bug

[2019-11-10 03:07] wansir opened #1449 "[feat] use CertificateSigningRequest generate client certificate"
**General remarks**

**Describe the bug(描述下问题)**
At present, CA certificate is needed to generate client certificate. It's unnecessary and unsafe.We need to generate client certificate through CSR.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

[2019-11-10 03:08] wansir commented on #1449
/milestone 2.1.1
/assign @wansir

[2019-11-10 07:03] mayuhope opened #1450 "最新建的应用分类无法编辑和删除"
1、进入平台管理-应用管理-应用分类，新建一个应用分类；
2、该分类无法编辑和删除，鼠标移上去无编辑和删除图标，而其他所有分类（包括未分类）均可编辑和删除；

[2019-11-10 07:04] mayuhope commented on #1450
/area app-management
/assign @whDongRui
/kind bug

[2019-11-10 07:06] mayuhope opened #1451 "有状态副本集进入详情后无法删除"
1、新建一个有状态副本集，新建成功；
2、进入该有状态副本集，点击更多操作-删除，结果没反应，无法删除；
![image](https://user-images.githubusercontent.com/7677050/68540373-13e1d380-03cc-11ea-8c6d-67db3a9b7a5f.png)

[2019-11-10 07:09] mayuhope commented on #1451
/area console
/milestone 2.1.1
/assign @leoendless

[2019-11-10 07:11] mayuhope commented on #1450
/milestone 2.1.1

[2019-11-10 07:11] mayuhope commented on #1451
/kind  bug

[2019-11-10 07:17] mayuhope opened #1452 "安装时等待sonarqube启动超时，导致流水线运行失败"
流水线运行到sonarqube analysis这一步骤时失败：
![image](https://user-images.githubusercontent.com/7677050/68540406-b9954280-03cc-11ea-8211-ede3471e20c0.png)
![image](https://user-images.githubusercontent.com/7677050/68540422-e2b5d300-03cc-11ea-8b4d-70617a627220.png)

建议：可以考虑延长超时时间，或其他规避方法

[2019-11-10 07:20] mayuhope commented on #1452
/area  installation
/area devops
/milestone 2.1.1
/assign @pixiake

[2019-11-10 07:30] calvinyv opened #1453 "Feature: add security section when creating workloads"
Besides advance section, KubeSphere should add an isolated section named ‘security’, and place related options to clients, for example, ‘run as non-root’, ‘disabling mounting folders like /etc or /root’
https://mp.weixin.qq.com/s/jtDlMe5SprpZfIfXryAjzg

Actually all these options could be under advance section, but use specified ‘security’ section, could highlight it and make client understand its

[2019-11-10 07:30] calvinyv commented on #1453
/assign @Carlosfengv @wansir

[2019-11-10 07:34] pixiake commented on #1452
sonarqube启动这个现在是等待10分钟，起不来自动跳过，不会影响安装流程，installer可以增加等待时间，但无法估计具体时间，跟集群网络环境有关系，下载镜像快的话，启动也比较快。 @runzexia

[2019-11-10 08:25] wnxn commented on #1427
看起来是存储类型名冲突，创建动态分配器时指定 name 参数，生成不同的存储类型名就可以了。NFS 服务端不需要停，支持 k8s 对接多个 nfs 服务端。
https://github.com/helm/charts/tree/master/stable/nfs-client-provisioner#installing-the-chart

[2019-11-10 09:24] runzexia commented on #1452
@pixiake 可以预下载下镜像吧

[2019-11-10 10:36] pixiake commented on #1452
如果用installer 安装之前就开启devops 会预先下载相关镜像，但之后修改配置文件开启devops 就不会预先下载镜像了

[2019-11-11 01:09] hlwanghl opened #1454 "App Store version validation for Helm Chart"
[Semantic Versioning 2.0.0](https://semver.org/) should be fully supported as Helm does.

`2.0.0-r1` can pass Helm Linting, but not App Store.

![image](https://user-images.githubusercontent.com/4861515/68554334-a0d76c00-0462-11ea-911b-7db7f8af9855.png)

[2019-11-11 01:58] #1397 closed

[2019-11-11 01:58] whDongRui commented on #1450
这个是后端默认查询结果没按时间倒序排序导致的，之前的查询结果是倒序的。目前OP相关的结果查询都没按时间倒序排序。

/assign @pengcong06 @wansir  帮忙看一下

[2019-11-11 02:08] Forget-C opened #1455 "关于2.0.2 升级至2.1.0问题"
首先 很高兴看到2.1版本发布了。
我看了一下2.1文档中的 “升级”升级，发现升级步骤是针对 “All-in-One”和“Multi-Node”的，而我的2.0.2安装方式是“在现有集群安装"的， 请问我该怎么升级？
我已经将升级包下载到了本地，看到里面有很多集群相关的“版本”，比如ks和etcd 。 如何在不更改我现有集群版本的情况下升级呢？

[2019-11-11 02:23] Forget-C commented on #1455
@zryfish

[2019-11-11 02:34] minghaoye commented on #1425
/close

[2019-11-11 02:34] #1425 closed

[2019-11-11 02:34] mayuhope commented on #1451
经验证已修复

[2019-11-11 02:34] #1451 closed

[2019-11-11 02:39] rayzhou2017 commented on #1455
再等等

[2019-11-11 02:42] ethanxzw opened #1456 "添加应用路由时可选择的服务数与实际服务数不符"
添加应用路由时可选择的服务数远远小于实际服务数。

[2019-11-11 02:44] Forget-C commented on #1455
@rayzhou2017  是当前没有升级方法，需要等待吗？ 请问需要多久呢， 对新功能需求很迫切

[2019-11-11 02:46] rayzhou2017 commented on #1455
是有一些细节需要调整，比如安装体验之类的

[2019-11-11 02:47] ethanxzw commented on #1456
![55d14bbfa9d9c6b7835429dc9842a0a](https://user-images.githubusercontent.com/41108414/68557409-ad62c100-0470-11ea-8e29-8d1eb910b3d5.png)

![d9e359417810317b678a70fdce34e31](https://user-images.githubusercontent.com/41108414/68557400-a50a8600-0470-11ea-94a2-5b2fb9c37032.png)

[2019-11-11 02:48] Forget-C commented on #1455
@rayzhou2017 那大概什么时候可以呢？

[2019-11-11 02:50] rayzhou2017 commented on #1455
就这几天

[2019-11-11 02:53] whDongRui commented on #1440
这个是提交之后会重置表单中输入的信息，导致再去验证时传参为空，刚给修复了。

[2019-11-11 03:17] Carlosfengv opened #1457 "应用路由创建增加 Innit 状态"
Rt;
应用路由成功访问需要获取对应的网关IP后才可正常访问，在创建到显示网关IP大概有1分钟的时间。所以需要增加一个创建中的状态。以表示当前不可访问。

[2019-11-11 03:18] Carlosfengv commented on #1457
/area console
/kind design
/milestone 2.1.1

[2019-11-11 03:20] redhatxl opened #1458 "2.0.2 升级至2.1.0问题"
环境：关于2.0.2 升级至2.1.0问题，Multi-Node模式
2.0.2之前使用ceph rdb
修改配置后，利用升级脚本报错信息如下：
[code]

[2019-11-11 03:31] redhatxl commented on #1458
查看升级日志

[root@master logs]# cat Upgrade\[2019-11-11~11\:11\:21\].log
2019-11-11 11:11:23,694 p=9576 u=root |  PLAY [kube-master] ****************************************************************************************************************************************
2019-11-11 11:11:23,933 p=9576 u=root |  TASK [Getting kubernetes version] ***********************************************************

[2019-11-11 04:13] justahole commented on #1445
目前还没开放小数点的容量

[2019-11-11 05:27] tzghost opened #1459 "2.0.2升级到2.1页面显示还是2.0.2"
从2.0.2升级到2.1，但页面上还是看到2.0.2

![image](https://user-images.githubusercontent.com/17000535/68562981-f32a8400-0486-11ea-89cc-e51138fecdab.png)

![image](https://user-images.githubusercontent.com/17000535/68562986-f7ef3800-0486-11ea-955b-c06dcb07e58e.png)

[2019-11-11 05:40] pixiake commented on #1459
`kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f`

执行这个查看下升级日志

[2019-11-11 05:41] tzghost commented on #1459
[root@master1 kubesphere-all-v2.1.0]# kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f
2019-11-11T04:04:04Z INFO     : shell-operator v1.0.0-beta.5
2019-11-11T04:04:04Z INFO     : HTTP SERVER Listening on 0.0.0.0:9115
2019-11-11T04:04:04Z INFO     : Use temporary dir: /tmp/shell-operator
2019-11-11T04:04:04Z INFO

[2019-11-11 05:43] pixiake commented on #1459
"assertion": "persistence.storageClass in storage_class_check.stdout_lines",
"changed": false,
"evaluated_to": false,
"msg": "StorageClass local was not found !"

之前存储不是用的local吧   要跟之前一样哦

[2019-11-11 05:47] tzghost commented on #1459
之前用的是NFS，2.1配置了NFS和local都有true了
# LOCAL VOLUME
# KubeSphere will use local volume as storage by default.
# This is just for demostration and testing purpose, and highly not
# recommended in production environment.
# For production environment, please change to other storage type.
local_volume_enabled: true
local_volume_is_default_class: true
local_volume_storage_class: local

# NFS CONFIGURATION
#

[2019-11-11 05:50] pixiake commented on #1459
把local的改成false    为啥nfs_vers3_enabled也设置成 true了   之前用的nfs v3嘛？

[2019-11-11 06:03] tzghost commented on #1459
把local 和nfs_vers3_enabled 设置成的false后重新升级

[root@master1 scripts]# kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f
2019-11-11T04:04:04Z INFO     : shell-operator v1.0.0-beta.5
2019-11-11T04:04:04Z INFO     : HTTP SERVER Listening on 0.0.0.0:9115
2019-11-11T04:04:04Z INFO     : Use temporary dir: /tmp/shell-operat

[2019-11-11 06:08] tzghost commented on #1459
![image](https://user-images.githubusercontent.com/17000535/68564866-c1b4b700-048c-11ea-8ed2-6b12f35cf8e8.png)

[2019-11-11 06:10] pixiake commented on #1458
@redhatxl 可以在common.yaml  加个参数    neonsan_csi_enabled == false

[2019-11-11 06:13] pixiake commented on #1459
可以检查下存储的配置，或者开个teamviewer（tv 12）或者向日葵，把信息发到 kubesphere@yunify.com，我们上去看看吧

[2019-11-11 06:22] redhatxl commented on #1458
您好，common.yaml里面添加过 neonsan_csi_enabled: false 还是同样的报错
2.1.0
[root@master kubesphere-all-v2.1.0]# grep neonsan_csi_enabled * -R
conf/plugin-qingcloud.yaml:neonsan_csi_enabled: false
conf/common.yaml:neonsan_csi_enabled: false
k8s/extra_playbooks/inventory/my_cluster/group_vars/k8s-cluster/plugin-qingcloud.yaml:neonsan_csi_enabled: false
k8s/extra_playbooks/inventory/my_cluster/group_vars/k8s-clust

[2019-11-11 06:31] pixiake commented on #1458
可以开个teamviewer（tv 12）或者向日葵，把信息发到 kubesphere@yunify.com，我们上去看看

[2019-11-11 06:36] redhatxl commented on #1458
您好，邮件已发送。

[2019-11-11 06:37] pixiake commented on #1455
可以直接部署这个进行升级，注意存储一定要跟原来一致哦
https://github.com/kubesphere/ks-installer/tree/master/deploy
https://github.com/kubesphere/ks-installer/blob/master/README_zh.md

[2019-11-11 06:51] tzghost commented on #1459
发现很多pod 的状态是PodInitializing和ContainerCreating，等running就正常了

[2019-11-11 07:05] Ma-Dan opened #1460 "KS-Only安装好KubeSphere之后，配置邮件服务器，默认邮箱是测试邮箱"
![image](https://user-images.githubusercontent.com/38337958/68567706-a057c900-0494-11ea-9106-525695508d03.png)

/area notification
/milestone 2.1.1

[2019-11-11 07:26] Ma-Dan opened #1461 "KS-Only安装好之后，admin登录，创建1个企业空间和1个项目之后，从应用商店部署应用，无法选择到该企业空间下的项目"
![image](https://user-images.githubusercontent.com/38337958/68568799-8bc90000-0497-11ea-9aef-d11174f607c3.png)

[2019-11-11 09:14] pixiake commented on #1458
问题找到了    hosts.ini中[k8s-cluster:children]这个组被删掉了

[k8s-cluster:children]
kube-node
kube-master

[2019-11-11 10:03] wansir commented on #1461
/priority high

[2019-11-11 10:16] #1459 closed

[2019-11-11 10:19] Forget-C commented on #1455
@pixiake  只要 storageClass 保证一致数据就不会丢失是吧

[2019-11-11 10:22] tzghost opened #1462 "2.1 应用商店"
2.1版本应用商店怎么添加仓库和上传应用？admin没有看到相关权限

[2019-11-11 10:29] wansir commented on #1462
在企业空间管理概览页左侧可以看到应用模版的入口，应用仓库的配置在企业空间设置中。

这些的前提是需要启用 openpitrix 组件，通过修改kubesphere-system 下 ks-installer 这个 configmap

[2019-11-11 10:36] gongjx11 opened #1463 "运行流水线时，deploy to kubentes 报错"
kubernetes 使用的客户端证书是/root/.kube/config   配置文件，把文件内容复制到
![image](https://user-images.githubusercontent.com/21954004/68580734-ed966380-04b1-11ea-93f1-a3735ca03a9f.png)

构建失败：
![image](https://user-images.githubusercontent.com/21954004/68580763-0141ca00-04b2-11ea-950d-db486d4fb93b.png)

具体错误日志：
![image](https://user-images.githubusercontent.com/21954004/68580822-1b7ba800-04b2-11ea-96cb-45a51daaa7ad.p

[2019-11-11 10:55] mayuhope opened #1464 "修改node节点的CPU和内存后，集群会临时多出一个节点"
测试环境：1个master和2个node节点；
测试步骤:
1、修改其中一个node节点的内存和CPU配置后，在ks的节点监控中会临时多出一个节点，该节点名称是空白的，监控数据为空，后来才恢复正常，稍后补图

[2019-11-11 10:58] mayuhope commented on #1464
/area  monitoring
/assign  @huanggze
/milestone  2.1.1

[2019-11-11 11:21] mayuhope commented on #1464
/assign  @huanggze

[2019-11-11 11:33] gongjx11 commented on #1463
解决了，不用看了，谢谢

[2019-11-12 01:57] soulseen commented on #1463
/close

[2019-11-12 01:57] #1463 closed

[2019-11-12 02:04] mayuhope commented on #1464
/assign @huanggze

[2019-11-12 02:43] Forget-C opened #1466 "2.1.0 kibana镜像拉取失败"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
2.1.0 kibana镜像拉取失败
**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/25631506/68637300-27f71380-0539-11ea-958b-0137fa55b53e.png)

**Installer版本**
2.1.0

[2019-11-12 03:26] gongjx11 opened #1467 "kubsphere 流水线git 标签提交报错，无法提交"
配置文件为官方DEMO ，配置如下：
![image](https://user-images.githubusercontent.com/21954004/68639254-eec1a200-053e-11ea-963d-953d6b594cbf.png)

构建时报错，无法提交：
![image](https://user-images.githubusercontent.com/21954004/68639275-000aae80-053f-11ea-99d3-945530b1eec2.png)

我觉得这段语法是不是写的有问题，这是我在命令行的测试；
![image](https://user-images.githubusercontent.com/21954004/68639327-2fb9b680-053f-11ea-8908-2f22f15cfe72.png)

这是我打的

[2019-11-12 03:28] Forget-C opened #1468 "2.1.0邮件服务器设置 502"
2.1.0 邮件服务器设置页面 502
api-gateway log
![image](https://user-images.githubusercontent.com/25631506/68639380-57108380-053f-11ea-92de-ab0bb21f71f7.png)
除了loging中的kibana ， 其他服务都是正常
![image](https://user-images.githubusercontent.com/25631506/68639449-8f17c680-053f-11ea-95a7-36efb9a92588.png)

[2019-11-12 03:30] #1239 closed

[2019-11-12 03:43] #1402 closed

[2019-11-12 03:50] Carlosfengv commented on #1446
这里会以DNS信息代替Virtual IP ，
如果开启外网访问会根据 NodePort 和 Loadblance 显示对应的端口信息和IP信息。

[2019-11-12 03:53] wansir commented on #1468
是不是刚刚启用通知告警模块呢，组件启动需要些时间，可以看看`kubesphere-alerting-system`下的pod是否正常

[2019-11-12 05:50] 53537 opened #1469 "升级ks 2.1版本后，运行中的ks 相关pod依然是2.0.2版本"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
升级ks 2.1版本后，运行中的ks 相关pod依然是2.0.2版本
**安装环境的硬件配置**
多节点，三主，物理机
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/37730538/68645531-4f5ada00-0553-11ea-9db7-f91de2e2f8d0.png)

**Installer版本**

[2019-11-12 05:57] 331575886 opened #1470 "v2.1.0 在线安装失败"
[code]
----------------------------------------------------------------------------------
common.yaml高可用配置如下:
[code]

[2019-11-12 06:21] gongjx11 commented on #1467
以经解决了，不用看了，谢谢！

[2019-11-12 06:21] #1467 closed

[2019-11-12 07:05] Forest-L commented on #1470
address: lb.cloud.cc该参数不对吧！

[2019-11-12 07:05] wnxn opened #1471 "qingcloud-csi 新建存储类型增加副本个数参数"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

增加个 replica 参数，value 可填 1 或 2
https://github.com/yunify/qingcloud-csi/blob/master/docs/user-guide-zh.md#replica

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1
Kubernetes: (If KubeSphere installer used, you can skip thi

[2019-11-12 07:08] calvinyv opened #1472 "rolling upgrade support for ingress under namespace"
**Describe the bug(描述下问题)**
When updating some config of ingress, currently its only single replica and need to restart pod, we need to find a way to support rolling upgrade.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

[2019-11-12 07:08] calvinyv commented on #1472
/assign @zryfish

[2019-11-12 07:09] kalivenis opened #1473 "2.1在线安装失败，etcdcert失败"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
[code]
**安装环境的硬件配置**
多节点安装，三台centos7.6 x86-64 4核8g，VMware虚拟机
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
[code]
**Installer版本**
ks-install v2.1

[2019-11-12 07:13] wansir commented on #1461
fixed
/kind need-to-verify

[2019-11-12 07:21] pixiake commented on #1473
1.  执行`ansible --version`看下ansible的版本
2.  hosts.ini是怎么配的呢？

[2019-11-12 07:44] geniussheep opened #1474 "All-in-one 升级ks 2.1版本后; 相关组件依然是老的"
1.升级完成后 jenkins版本 依然是 2.138.4
2.ks页面版本 依然是 2.0.2
3.openpitrix的相关组件几乎都被停止
4.在ks界面查看系统组件时，报错
报错信息如下：
Request to http://openpitrix-api-gateway.openpitrix-system:9100/v1/clusters?limit=10&offset=0&status=active&status=stopped&status=pending&status=ceased&runtime_id=runtime-2lGjZkxNAxYJ failed, method: GET,token: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJzeXN0ZW0iLCJyb2xlIjoiZ2xvYmFsX2FkbW

[2019-11-12 07:47] kalivenis commented on #1473
ansible 2.8.5
  config file = /opt/kubesphere-all-v2.1.0/scripts/ansible.cfg
  configured module search path = [u'/opt/kubesphere-all-v2.1.0/scripts/library']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version = 2.7.5 (default, Aug  7 2019, 00:51:29) [GCC 4.8.5 20150623 (Red Hat 4.8.5-39)]

[all]
master ansible_connecti

[2019-11-12 07:51] pixiake commented on #1473
ansible用2.7+  ,大版本还是有区别的

`pip  install  ansible=2.7.12`

[2019-11-12 07:54] kalivenis commented on #1473
[root@master scripts]# pip install 2.7.12
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support
Looking i

[2019-11-12 08:03] Forget-C commented on #1468
是 notification-deployment 这个pod的问题 ， 已经解决了

[2019-11-12 08:03] #1468 closed

[2019-11-12 08:04] 331575886 commented on #1470
@Forest-L 这个是我自己弄得一个nginx负载均衡，测试是通的。
这个过去了，又遇到一个token的问题
TASK [kubernetes/master : Create kubeadm token for joining nodes with 24h expiration (default)]

[2019-11-12 08:14] 331575886 commented on #1470
@Forest-L 没有生成admin-config文件

[2019-11-12 08:18] kalivenis commented on #1473
[root@master scripts]# ansible --version
ansible 2.7.12
  config file = /opt/kubesphere-all-v2.1.0/scripts/ansible.cfg
  configured module search path = [u'/opt/kubesphere-all-v2.1.0/scripts/library']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version = 2.7.5 (default, Aug  7 2019, 00:51:29) [GCC 4.8.5 20150623 (Red Hat

[2019-11-12 08:22] kalivenis commented on #1473
Please ensure that your environment has met the above requirements  (yes/no) yes
Traceback (most recent call last):
  File "os/precheck.py", line 71, in <module>
    defaultStorageClassCheck(getVars(getVarsFiles()), getVarsFiles())
  File "os/precheck.py", line 22, in getVars
    configs = yaml.load(f.read(), Loader=yaml.FullLoader)
AttributeError: 'module' object has no attribute 'FullLoader'
安装开

[2019-11-12 08:22] mayuhope opened #1475 "资源不够导致pod状态为outofmemory后，pod仍然在前端显示"
测试之前资源不够，logging模块下有2个pod状态是outof memory，后来资源又够了，但是之前的pod仍在前端进行了显示，建议前端不予显示

[2019-11-12 08:26] pixiake commented on #1473
`pip install -U --ignore-installed PyYAML`

[2019-11-12 08:52] Forget-C opened #1476 "日志收集的原理是什么？ 仅有个别的pod日志可以被收集"
不是通过kubesphere部署的应用可以被收集日志吗？  我们现在有的pod日志可以被收集，有的不可以，还有一些是断断续续的收集

[2019-11-12 09:01] kalivenis commented on #1473
这个提示没有了，但是还是一样的错

[2019-11-12 09:11] pixiake commented on #1474
执行下边命令查看日志 ：
`kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f`

[2019-11-12 09:14] pixiake commented on #1470
检查下loadblancer和防火墙的配置吧
loadblancer用TCP协议

[2019-11-12 09:16] pixiake commented on #1469
执行下边命令查看日志 ：
kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f

[2019-11-12 09:17] pixiake commented on #1473
开个teamviewer（tv 12）或者向日葵，把信息发到 kubesphere@yunify.com

[2019-11-12 09:18] 53537 commented on #1469
kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{.items[0].metadata.name}') -f
2019-11-11T18:37:37Z INFO     : shell-operator v1.0.0-beta.5
2019-11-11T18:37:37Z INFO     : HTTP SERVER Listening on 0.0.0.0:9115
2019-11-11T18:37:37Z INFO     : Use temporary dir: /tmp/shell-operator
2019-11-11T18:37:37Z INFO     : Initialize hooks manager ...
20

[2019-11-12 09:24] kalivenis commented on #1473
已发

[2019-11-12 09:28] pixiake commented on #1469
https://github.com/kubesphere/kubesphere/issues/1459

[2019-11-12 09:59] huanggze commented on #1476
Fluent Bit + ElasticSearch

kubectl logs 看看 kubesphere-logging-system 下的 fluent-bit pod 有什么日志

[2019-11-12 10:05] Forget-C commented on #1476
@huanggze
这是所有的 fluent-bit pod  日志
![image](https://user-images.githubusercontent.com/25631506/68662010-ebe2a380-0576-11ea-92ab-bf46cca008d0.png)

[2019-11-12 10:06] Forget-C commented on #1476
因为今天升级过， 所以之前的日志都没了。 现在不收集日志

[2019-11-12 10:10] huanggze commented on #1476
之前的日志没了吗？是 index 空了？

[code]

请问怎么升级的呢？ks 2.1 的 fluent-bit 升级到 1.3.2 了，我看环境还是 1.0.5

[2019-11-12 10:13] Forget-C commented on #1476
之前的日志收集也有问题，只有少部分被收集，而且断断续续的。
升级是用的的这个
![image](https://user-images.githubusercontent.com/25631506/68662570-0bc69700-0578-11ea-8db0-3288d4f661af.png)
[issues](https://github.com/kubesphere/kubesphere/issues/1455)

[2019-11-12 10:15] huanggze commented on #1476
我更新了我前面的 comment，你再试试

[2019-11-12 10:21] Forget-C commented on #1476
首先 fluent-bit的版本对了
![image](https://user-images.githubusercontent.com/25631506/68663123-17ff2400-0579-11ea-9973-2015f69fa029.png)
现在日志里有很多这样的 warn
![image](https://user-images.githubusercontent.com/25631506/68663183-306f3e80-0579-11ea-83d9-9ac48ef35415.png)

[2019-11-12 10:24] Forget-C commented on #1476
web端查看只有 kube-system 和 kubesphere 的日志 。 其他项目的日志都没有收集。

[2019-11-12 10:32] pixiake commented on #1473
`pip install -U Jinja2`

可按照scripts/os/requirement.txt中版本修改pip依赖包版本

[2019-11-12 11:00] Forget-C commented on #1476
@huanggze 日质量没有统计过，pod数量大概在400左右

[2019-11-12 14:13] gongjx11 opened #1477 "问一下，集群POD应用弹性伸缩很慢，一直停在刚更新，请问一下这什么原因"
问一下，我在弹性伸缩从1个到20个副本，更新时好慢，一直停在这里，如何解决这种更新慢的问题，比如内存  或者CPU加大？
![image](https://user-images.githubusercontent.com/21954004/68678552-1d6c6680-0599-11ea-859e-7114dfa6943d.png)

[2019-11-12 14:31] Ma-Dan commented on #1460
![image](https://user-images.githubusercontent.com/38337958/68680122-1135d880-059c-11ea-9e4f-e2093ca7bfd8.png)
Verified, close issue.

[2019-11-12 14:31] #1460 closed

[2019-11-12 14:53] Ma-Dan commented on #1461
![image](https://user-images.githubusercontent.com/38337958/68681919-3d068d80-059f-11ea-900a-2ba9bf3c8d67.png)
Verified, close issue.

[2019-11-12 14:53] #1461 closed

[2019-11-12 14:58] jingfenmg opened #1478 "应用路由"
demo2.kubesphere.106.39.31.78.nip.io    106.39.31.78是我的网关地址，路径是/，绑定服务是nginx，是可以正常访问的，，我想换了路径，假如是/test,可以这样设置吗

[2019-11-12 15:18] leoendless commented on #1475
@huanggze 看下这些pod 为什么没有被重新调度呢

[2019-11-13 01:38] zhangpfly opened #1479 "应用商店访问异常：Internal Server Error rpc error: code = Internal desc = describe resources failed: Error 1054: Unknown column 'owner_path' in 'field list'"
系统环境：CentOS Linux release 7.7.1908 (Core)
主机：4核12G

使用在线安装脚本已经安装完毕，所有pod运行状态显示正常。

现在jenkins，gitlab，harbor这些组件都正常，但是应用商店无法正常使用。
![QQ截图20191113093458](https://user-images.githubusercontent.com/17722518/68725389-445a8500-05f9-11ea-88b0-8892aea407e9.png)

麻烦帮忙看一下是什么问题？还是需要设置？

[2019-11-13 01:39] zhangpfly commented on #1479
![QQ截图20191113093818](https://user-images.githubusercontent.com/17722518/68725436-69e78e80-05f9-11ea-9379-e4ef724e9ac7.png)

[2019-11-13 01:57] calvinyv opened #1480 "Support more alert policy"
**Describe the feature(描述下问题)**
More requirement about alert and notification components for metrics and events:

1. Alert me when some node not ready
2. Alert me if some pod restart too many times: 5/10/20
3. Alert me if some pod crash
4. Alert me if the count of pod replicas fail to reach the target

[2019-11-13 01:58] calvinyv commented on #1480
/assign @huanggze @benjaminhuo
/kind notification
/Milestone 3.0.0

[2019-11-13 01:59] calvinyv commented on #1480
/area notification

[2019-11-13 02:43] benjaminhuo commented on #1480
/area alert

[2019-11-13 02:45] benjaminhuo commented on #1480
/kind alert

[2019-11-13 02:47] kalivenis commented on #1473
按上述方法已解决此问题

[2019-11-13 02:47] #1473 closed

[2019-11-13 02:56] Carriezhangyan opened #1481 "灰度发布错误"
自己写了一个yaml文件，创建灰度发布的任务组件，，但是登陆kubesphere的浏览器界面，在创建的项目中，创建灰度发布的任务组件中没有找到写的那个组件，，不知道可能是什么原因？帮忙分析一下吧

部分代码如下：
[code]

但是没有找到组件
![微信截图_20191113105535](https://user-images.githubusercontent.com/46554638/68729169-30685080-0604-11ea-96c0-1962d406217c.png)

[2019-11-13 03:02] benjaminhuo commented on #1480
/area alerting

[2019-11-13 03:03] benjaminhuo commented on #1480
/kind alerting

[2019-11-13 03:18] jingfenmg opened #1482 "ingress"
curl --resolve cafe.example.com:32113:192.168.0.7 https://cafe.example.com:32113/coffee --insecure
在浏览器中怎么访问

[2019-11-13 04:21] jingfenmg opened #1483 "应用路由"
创建应用路由，选取密钥和服务，只能选取我第一页上得密钥和服务，而我想用第2页的密钥和服务来创建路由

[2019-11-13 04:59] 53537 opened #1484 "如何触发ks-installer重新执行task"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
2.0.2升级2.1；installer执行完之后，gitlab出错，并且部分pod无法启动，有无法挂载存储等问题，所以我想重新触发执行一遍task
**安装环境的硬件配置**
3主多节点物理机
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**

**Installer版本**
Installer 2.1

[2019-11-13 05:54] lenawu43 opened #1485 "前端优化"
我们希望能够实现前端开源，使得：
1：可以修改前端的配色
2：修改前端的字体等按键、组件
3：可以更改图片
etc...

[2019-11-13 06:04] calvinyv commented on #1479
/assign @pengcong06 @zheng1

[2019-11-13 06:05] calvinyv commented on #1479
kubectl get pods -n openpitrix-system 看下

[2019-11-13 06:07] zhangpfly commented on #1479
![QQ截图20191113140736](https://user-images.githubusercontent.com/17722518/68737633-f8223b80-061e-11ea-9622-39e4a6cf462f.png)

[2019-11-13 06:26] soulseen commented on #1483
/kind bug

[2019-11-13 06:26] 53537 opened #1486 "ks-installer卡在Fetch op-minio data"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
common : Kubesphere | Fetch op-minio data
ks-installer在这里卡了几个小时了，请问是正常情况吗
**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/37730538/68738333-040efd00-0621-11ea-86f5-238100ddbbf0.png)

**Installer版本**

[2019-11-13 06:35] #1484 closed

[2019-11-13 06:44] calvinyv commented on #1486
/assign @pixiake

[2019-11-13 06:45] pixiake commented on #1486
可以退出重看下日志是否还在这一步，如果是的话执行
`kubectl get pod, svc -n openpitrix-system`看下

[2019-11-13 06:46] huanggze commented on #1476
方便 tv 的话，可以预约一个时间段，发到我们的 support 邮箱 kubesphere@yunify.com 远程看看

[2019-11-13 06:47] 53537 commented on #1486
![image](https://user-images.githubusercontent.com/37730538/68739725-73d2b700-0624-11ea-932d-4cb5aa6285eb.png)

[2019-11-13 06:51] pixiake commented on #1486
开个teamviewer（tv 12）或者向日葵，把信息发到 kubesphere@yunify.com看下

[2019-11-13 06:56] pengcong06 commented on #1479
可能是数据库初始化失败了,重新执行一下这个任务看看!
kubectl -n openpitrix-system get job openpitrix-db-init-job -o json | jq 'del(.spec.selector)' | jq 'del(.spec.template.metadata.labels)' | kubectl replace --force -f -

[2019-11-13 07:12] 53537 commented on #1486
已发送

[2019-11-13 07:19] zheng1 commented on #1363
Fixed in 2.1

[2019-11-13 07:20] zheng1 commented on #1273
/milestone 2.1.1

[2019-11-13 07:23] zheng1 commented on #1130
/kind need-to-verify

[2019-11-13 07:23] zheng1 commented on #1153
/milestone 2.1.1

[2019-11-13 07:23] zheng1 commented on #1189
/milestone 2.1.1

[2019-11-13 07:24] zheng1 commented on #1245
/milestone 2.1.1

[2019-11-13 07:24] zheng1 commented on #1259
/milestone 2.1.1

[2019-11-13 07:25] zheng1 commented on #1429
/milestone 2.1.1

[2019-11-13 07:26] zheng1 commented on #1429
same with https://github.com/kubesphere/kubesphere/issues/1273

[2019-11-13 07:33] zheng1 commented on #1437
看看installer安装日志

[2019-11-13 07:33] calvinyv opened #1487 "Provide more parms support for livenessprobe and readinessprobe"
Some parms are missing on console.

[2019-11-13 07:35] calvinyv opened #1488 "Provide init container on ks console"
UI support for init container

[2019-11-13 07:36] calvinyv commented on #1488
/assign @Carlosfengv @leoendless

[2019-11-13 07:36] calvinyv commented on #1488
/area console

[2019-11-13 07:36] calvinyv commented on #1487
@assign @leoendless

[2019-11-13 07:47] gongjx11 commented on #1477
以解决

[2019-11-13 07:47] #1477 closed

[2019-11-13 07:52] whDongRui commented on #1440
/kind need-to-verify

[2019-11-13 08:44] pixiake commented on #1486
由于openpitrix-system下的minio hang住，导致无法获取op-minio数据，重启op-minio恢复

[2019-11-13 08:44] Carlosfengv commented on #1487
支持了periodSeconds、successThreshold、failureThreshold
同时增加了 startupProbe 类型的支持

设计稿
zpl://screen?pid=5cbd3e2d21c1ba7ba1eb412a&sid=5cc15e7df25db80ffe2204b0

[2019-11-13 08:56] Carlosfengv commented on #1488
在添加容器时，增加了容器类型的选择  初始容器/ 工作容器
设计稿
zpl://screen?sid=5d22ec8cd6d0da3769015c08&pid=5cbd3e2d21c1ba7ba1eb412a

[2019-11-13 09:11] zhangjun050754 opened #1489 "集群v2.0.2升级v2.1.0报错kubernetes/master : kubeadm | Upgrade other masters"
节点 3master 7node
![image](https://user-images.githubusercontent.com/22231085/68749015-7dfeb080-0638-11ea-87e3-d8c25cbf9544.png)

[2019-11-13 09:30] leoendless opened #1490 "Helm 应用模板填写中文乱码"
see: https://kubesphere.io/forum/d/155-helm

[2019-11-13 09:31] pixiake commented on #1489
应该是loadblancer的超时间隔超过了kubeadm的检测时间，重新执行一遍升级试下

[2019-11-13 09:31] xugirl opened #1491 "kubesphere 的2.0.2 版本中用多master方式安装完之后，应用仓库不能添加，在ns openpitrix-system 中的deployment 中逐个编辑添加后OPENPITRIX_ID_RANDOM_SEED后，不能添加青云默认的仓库，且验证不通过，"
kubesphere 的2.0.2 版本中用多master方式安装完之后，应用仓库不能添加，在ns openpitrix-system 中的deployment 中逐个编辑添加后OPENPITRIX_ID_RANDOM_SEED后，不能添加青云默认的仓库，且验证不通过
![image](https://user-images.githubusercontent.com/35447641/68750816-77256d00-063b-11ea-9435-f4cb38453c4e.png)

[2019-11-13 09:42] xugirl commented on #1491
添加了别的仓库能成功添加，但是通过仓库部署pod时会报
![image](https://user-images.githubusercontent.com/35447641/68751667-f10a2600-063c-11ea-97fc-e10e79b1f544.png)

[2019-11-13 09:58] 53537 commented on #1486
升级完成后很多我们自建的pod状态异常，升级过程中有个错误task servicemesh status is failed

[2019-11-13 10:00] zhangjun050754 commented on #1489
执行了3次成功了 谢谢

[2019-11-13 10:43] errorcode7 opened #1492 "cronjob定时任务时间默认是UTC"
[v2.02][cronjob][UTC]
今天设置了一个定时任务，发现到了时间没有执行，后来排查发现，时间默认是utc时间。
希望有个根据本地时间添加任务的办法？

[2019-11-13 11:10] 53537 opened #1493 "升级2.1完成后很多我们自建的pod状态异常"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
升级2.1完成后很多我们自建的pod状态异常;deployment正常，删除pod后不会重建
**安装环境的硬件配置**
3主多节点物理机
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**

**Installer版本**

[2019-11-13 11:15] 53537 commented on #1493
W1112 12:54:55.886405       1 authentication.go:249] No authentication-kubeconfig provided in order to lookup client-ca-file in configmap/extension-apiserver-authentication in kube-system, so client certificate authentication won't work.
W1112 12:54:55.886420       1 authentication.go:252] No authentication-kubeconfig provided in order to lookup requestheader-client-ca-file in configmap/extension-

[2019-11-13 11:23] tzghost opened #1494 "2.1 下载本地harbor镜像失败"
2.1 登陆本地harbor仓库正常，下载镜像失败

[root@node3 ~]# docker pull harbor.devops.kubesphere.local:30280/library/admin/mps:1.0.0
Error response from daemon: Get http://harbor.devops.kubesphere.local:30280/v2/library/admin/mps/manifests/1.0.0: read tcp 192.168.0.239:39108->192.168.0.93:30280: read: connection reset by peer
[root@node3 ~]# docker login harbor.devops.kubesphere.local:30280
Authenticating with exi

[2019-11-13 11:24] zryfish commented on #1493
你升级的时候是保持StorageClass设置和之前是一样的么， 你执行 kubectl get sc 看下

[2019-11-13 11:24] #1489 closed

[2019-11-13 11:24] 53537 commented on #1493
配置和之前一样

[2019-11-13 11:25] zryfish commented on #1492
/kind feature-request
/kind design

[2019-11-13 11:26] zryfish commented on #1490
/kind bug
/area console

[2019-11-13 11:32] zryfish commented on #1493
你执行下 `kubectl get sc` 看下输出，找到这些 pod 对应的 pvc `kubectl get pvc --all-namespaces`，使用 `kubectl describe [pvc]` 看下pvc的信息

[2019-11-13 11:42] 53537 commented on #1493
kubectl get sc
NAME            PROVISIONER         AGE
rbd (default)   kubernetes.io/rbd   77d

kubectl get pvc -A
NAMESPACE                      NAME                                               STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
kubesphere-devops-system       data-ks-harbor-harbor-redis-0                      Bound    pvc-e98d4cda-c9

[2019-11-13 11:44] limpo1989 opened #1495 "安装显示成功，但是登录失败，显示 Internal Server Error"
**问题描述**
使用官网最新的AllInOne-v2.1.0版本进行安装，安装之后显示成功，但是登录失败提示 Internal Server Error

**安装环境的硬件配置**
CentOS Linux release 7.5.1804 (Core)
Hyper-V  虚拟机安装全新环境，连接外网
8核心，13G内存

**错误信息或截图**

[code]

[code]
**Installer版本**
kubesphere-all-v2.1.0

[2019-11-13 11:55] #1458 closed

[2019-11-13 11:56] zryfish commented on #1495
`kubesphere-system              ks-account-d4c5cdf9d-qp84m                     0/1     Init:0/2   0          25m`
还有pod没有起来，等所有pod起来

[2019-11-13 11:57] limpo1989 commented on #1495
@zryfish 等一个小时都起不来，重新卸载安装也是一样

[2019-11-13 11:58] zryfish commented on #1493
这些pvc看着是正常的，异常的POD是哪些呢，可以尝试把对应的 deployment / statefulset scale 到 0，再scale 回去试下

[2019-11-13 12:02] zryfish commented on #1456
升级到2.1.0试下，修复了

[2019-11-13 12:02] 53537 commented on #1493
尝试了删除pod，未重建出新pod

[2019-11-13 12:02] 53537 commented on #1493
异常pod多数为我们自建业务pod

[2019-11-13 12:03] zryfish commented on #1493
有环境么，可以发到 kubesphere@yunify.com ，我看下

[2019-11-13 12:06] zryfish commented on #1495
你看下那个 Init 的 pod 日记，看下 https://github.com/kubesphere/ks-installer/issues/33 这个issue

[2019-11-13 12:19] 53537 commented on #1493
已发邮件

[2019-11-13 12:43] limpo1989 commented on #1495
@zryfish
[code]

[2019-11-13 14:20] #1317 closed

[2019-11-13 14:49] kuaiwenwu opened #1496 "为什么grafana开启nodeport后很多栏目是没有数据？"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
1. 把grafana 服务暴露出来后，发现很多指标是没有数据的，这个是什么情况
2，还有个疑问 kubesphere的网络流量的监控室通过什么技术实现抓取的。
**安装环境的硬件配置**
vmware虚拟机
 k8s 1.5.2集群

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
1. 把grafana 服务暴露出来后，发现很多指标是没有数据的，这个是什么情况
2，还有个疑问 kubesphere的网络流量的监控室通过什么技术实现抓取的。
**Installer版本**
kubesphere v2.1

[2019-11-13 14:51] kuaiwenwu commented on #1485
默认的ui很好看，这也是kubesphere吸引人的一方面

[2019-11-13 14:59] FeynmanZhou commented on #1485
前端开源在这两周内，我们在论坛上有这样的帖子

[2019-11-13 15:00] FeynmanZhou commented on #1491
@xugirl 建议升级到 2.1，这是已知的 Bug 并在 2.1 进行了修复，可参考2.1的升级文档进行升级

[2019-11-13 15:02] FeynmanZhou commented on #1483
哪个版本呢？ @jingfenmg

[2019-11-13 15:03] FeynmanZhou commented on #1482
@jingfenmg  本地 hosts 中配置： 域名 IP，再访问域名

[2019-11-13 15:08] FeynmanZhou commented on #1466
kibana 属于第三方组件，如果从 qingcloud dockerhub 拉取有问题，可以尝试从国内的 mirror 或 dockerhub 拉取。

[2019-11-13 15:08] FeynmanZhou commented on #1462
@tzghost 请查阅文档，快速入门下有相关的教程

[2019-11-14 00:48] tzghost commented on #1462
好的

[2019-11-14 00:48] #1462 closed

[2019-11-14 00:52] huanggze commented on #1496
应该是没选择数据源

![image](https://user-images.githubusercontent.com/22350668/68817208-ee024a80-06bb-11ea-97ad-9a7d4afe2fa9.png)

容器流量监控来自 cAdvisor，节点监控数据来自 node-exporter

[2019-11-14 01:22] limpo1989 commented on #1495
等待一晚上仍然没有启动
[code]

[code]

[2019-11-14 02:49] pengcong06 commented on #1447
这个需要约定一下category放在哪里

[2019-11-14 02:50] whDongRui commented on #1450
这个前端单独加逻辑处理了。

[2019-11-14 02:50] whDongRui commented on #1450
/kind need-to-verify

[2019-11-14 02:51] ellaye opened #1497 "应用审核中的搜索不支持按名称和企业空间搜索"
![image](https://user-images.githubusercontent.com/57089340/68923577-9c3fea00-07b9-11ea-95b4-a82c6c0cc9fc.png)

[2019-11-14 02:55] whDongRui commented on #1490
已经引用base64-js解决了中文显示乱码的问题，目前就只有应用版本配置包中的文件回显作了处理。
不太清楚其它地方有没有base64解码显示的地方，有的话可以测试一下。

[2019-11-14 03:00] ellaye commented on #1497
/assign @whDongRui
/kind bug
/area app-management

[2019-11-14 03:02] ellaye commented on #1497
/milestone 2.1.1

[2019-11-14 03:50] ellaye opened #1498 "应用审核中列表名称有两个审核对象"
![image](https://user-images.githubusercontent.com/57089340/68923531-7dd9ee80-07b9-11ea-83f6-932c7ecbf673.png)

[2019-11-14 03:53] ellaye commented on #1497
/milestone 2.1.0

[2019-11-14 03:53] ellaye commented on #1498
/assign @whDongRui
/kind bug
/area app-management
/milestone 2.1.0

[2019-11-14 04:23] zhangjun050754 opened #1499 "控制台 kubectl get pods 显示No resources found. 什么原因？"
No resources found.
![image](https://user-images.githubusercontent.com/22231085/68826584-79d69f80-06d9-11ea-8a1d-03344df0560b.png)

[2019-11-14 05:00] runzexia opened #1500 "Create s2i error, when the image name is harbor.devops.kubesphere.local:30280/xx/xx"
/area devops
/area console
/milestone 2.1.1
/kind bug
It is recommended that users enter the name of s2ib or find a better method for generating names.
/assign @minghaoye

[2019-11-14 05:05] runzexia opened #1501 "Refine docker secret check"
ref https://kubesphere.io/forum/d/158-source-to-image/5

should allow scheme in docker secret
good address:
`harbor.xx.xxx/xx/xxx`
`http://harbor.xx.xxx/xx/xxx`
`https://harbor.xx.xxx/xx/xxx`

/area api
/assign
/kind bug
/milestone 2.1.1

[2019-11-14 05:19] limpo1989 commented on #1495
重启机器后事件提示错误，请问是什么原因呢 @zryfish
[code]

[2019-11-14 05:42] long0419 opened #1502 "安装KS 2.1版本"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**

**安装环境的硬件配置**
本地主机3台 ：
![image](https://user-images.githubusercontent.com/1064859/68829640-4f3e1400-06e4-11ea-8684-aa99be29a01b.png)

都属于cento 7 ，但是版本不一样 分别是 7.5  7.7  7.6

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/1064859/68829691-798fd180-06e4-11ea-9f70-125f09c32186.

[2019-11-14 06:08] pixiake commented on #1502
检查下你的yum源 ，  master的yum源里没得有chrony这个包，对比一下三台机器的yum源

[2019-11-14 06:21] FeynmanZhou commented on #1499
@zhangjun050754 需指定 namespace，kubectl 命令可以去查阅 k8s 文档

[2019-11-14 06:40] Carriezhangyan opened #1503 "kubesphere后台创建pv 和pvc失败"
在kubesphere平台上手动创建一个存储卷名字为test，，然后在后台通过命令“kubectl get pv pvc-e7c31872-06a5-11ea-a6d6-000c29fd9fde -o yaml”获取这个存储卷的yaml文件，，将yaml文件内容保存到test.yaml，，在kubesphere平台上手动删除这个test存储卷。

终端执行命令“kubectl apply -f ./test.yaml” ，显示“persistentvolume/pvc-e7c31872-06a5-11ea-a6d6-000c29fd9fde created”。。。但是kubesphere平台web界面，找不到后台创建的存储卷，而且“kubectl get sv” 命令也找不到创建的存储卷。。这是为什么呢？还需要添加什么代码吗？

test.yaml文件内容如下
`apiVersion: v

[2019-11-14 07:06] calvinyv commented on #1447
@Carlosfengv @zheng1

[2019-11-14 07:21] zryfish commented on #1495
`kubectl -n kubesphere-system exec -ti ks-account-d4c5cdf9d-xwxwc nslookup redis.kubesphere-system.svc`
你执行这个命令看下，这个原因是ks-account 这个 pod 无法解析 redis 这个 svc

[2019-11-14 07:33] Forget-C commented on #1476
hi  @huanggze  中午时候发的邮件没有收到回复。
我修改了configmap 现在fluent-bit 无法启动了。 如何只将日志组件重新安装，恢复到初始状态？

[2019-11-14 07:46] zhangpfly commented on #1479
已重装，已解决

[2019-11-14 07:46] #1479 closed