[2019-11-14 08:09] gongjx11 opened #1504 "集群环境istio 怎么没有安装istio-grafana?"
我想通过grafana来查看istio流量，我查了一上官方配置，需要启动一个POD istio-grafana应用，我看了一下我的POD没有这个应用，但是我看到了有这个目录和配置文件，但是为什么没有安装，请问一下是什么原？
安装的POD：
![image](https://user-images.githubusercontent.com/21954004/68838190-08a6e480-06f9-11ea-9a1d-986bd3341dd9.png)

配置文件：
![image](https://user-images.githubusercontent.com/21954004/68838240-1d837800-06f9-11ea-9846-4f1237dbcdc9.png)

[2019-11-14 08:17] limpo1989 commented on #1495
这个容器没有运行起来 我换了一个别的执行了 @zryfish
[code]

[2019-11-14 08:47] mayuhope opened #1505 "同一个daemonset中部分容器无日志输出，日志数据中 "kubernetes": null"
1、创建一个daemonset，该daemonset中有3个pod，其中2个pod有日志输出，另一个pod （本次测试为logabc-fbx9m）在ks中无日志输出；

2、在后台使用kubectl查询无日志输出的那个容器日志，有日志：
root@master1 log]# kubectl logs logabc-fbx9m  -n  wahaha |wc -l
10003

3、flunt-bit容器日志有报错：
![image](https://user-images.githubusercontent.com/7677050/68840788-5d009300-06fe-11ea-9a2a-dcd6b81e955a.png)

4、在kibana中查询日志，结果如下,kubernetes为null，导致不会进行查询
![image](https://user-images.githu

[2019-11-14 08:49] huanggze commented on #1476
Hi 你截图的问题是 fluent-bit 新版本引入的 bug。具体可以看 fluent-bit 的issue 1707。我们会关注新版本的发布，并及时更新 fluent-bit

只需要重新安装 fluent-bit 即可。不需要重新安装 es。重启 flunet-bit 按论坛里这个问题的最佳回复操作即可 https://kubesphere.io/forum/d/142/5

[2019-11-14 08:55] mayuhope commented on #1505
/area logging
/milestone 2.1.1
/kind bug
/assign  @huanggze

[2019-11-14 08:56] mayuhope commented on #1505
/assign   @huanggze

[2019-11-14 08:56] errorcode7 opened #1506 "2.02 离线版反复安装，导致产生很多备份文件夹"
安装出错，必然会反复重新安装，会导致以下问题：
1.master上会多出很多/etc/yum.repos.d备份文件夹
2.node 上/etc/yum.repos.d/里的client.repo 会反复追加内容
建议增加md5相关的校验脚步，检查到内容相同则不再备份以及添加文件内容

[2019-11-14 08:57] mayuhope commented on #1505
/assign @huanggze

[2019-11-14 08:58] huanggze commented on #1505
需要等 fluent-bit release bugfix。1.3.2 的bug，具体可以看 fluent bit issue 1707

[2019-11-14 09:00] wnxn commented on #1503
kubesphere ui 里使用动态分配存储卷，ks 里存储卷对应 k8s 的 pvc，所以没有显示 pv。
kubesphere 里通过界面看不到 pv 的，可以通过界面的 kubectl 命令行工具查询 pv。

[2019-11-14 09:07] wnxn opened #1507 "Support reading and writing files for PVC which mounted on Pod"
KS dashboard supports reading and writing files for PVC which mounted on Pod.

Reference: https://kubesphere.io/forum/d/124

[2019-11-14 09:12] Carriezhangyan commented on #1503
修改后的代码如下，，出现的问题是：在kubesphere平台的前端可以看到创建的存储卷test，，但是状态显示“丢失”，，后端使用命令“kubectl get pv” ，也没有查到创建的那个pv和pvc

apiVersion: v1
kind: PersistentVolume
metadata:
&nbsp; annotations:
&nbsp; &nbsp; pv.kubernetes.io/provisioned-by: cluster.local/nfs-client-nfs-client-provisioner
&nbsp; finalizers:
&nbsp; - kubernetes.io/pv-protection
&nbsp; name: pvc-c7b51348-05eb-11ea-adfa-000c290849d5
&nbsp; selfLink: /api/v1

[2019-11-14 09:18] wnxn commented on #1503
方便把完整的输入输出内容贴出来吗？

[2019-11-14 09:35] Carriezhangyan commented on #1503
确实在后端没有找到那个名字的pv和pvc。。。而且前端可以看到那个创建的pvc，，只是状态显示的不对，，状态为“丢失”。
我发给你的那段代码就是整个文件的代码..&nbsp;
前端的显示如下：

查看pvc

后端查询pv和pvc的命令如下：
[root@master0]# kubectl get pv
NAME&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;CAPACITY&nbsp; &nbsp;ACCESS MODES&nbsp; &nbsp;RECLAIM POLICY&nbsp; &nbsp;STATUS&nbsp; &nbsp;CLAIM&nbsp;

[2019-11-14 09:41] wnxn commented on #1503
创建 PV 后有什么提示么？可能是 PV 没创建成功

[2019-11-14 09:43] Forget-C commented on #1476
@huanggze  按照你说的方法，pod已经恢复了 ， 但是现在仍然无法收集日志， 报错如下：
![图片](https://user-images.githubusercontent.com/25631506/68845206-05662580-0706-11ea-8861-da0e0f9d8739.png)

[2019-11-14 09:51] Carriezhangyan commented on #1503
创建命令如下：
[root@master0]# kubectl apply -f ./pv.yaml
persistentvolume/pvc-c7b51348-05eb-11ea-adfa-000c290849d5 created
persistentvolumeclaim/test created

查询pv命令“kubectl get pv” 查询不到pv

查询pvc命令及结果如下：
[root@master0 angel-crm]# kubectl get pvc -n crm-dev
NAME&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;STATUS&nbsp; &nbsp; &nbsp; &nbsp; VOLUME&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &

[2019-11-14 09:53] huanggze commented on #1476
听起来有几个问题呢。。一个个来，先说报错

我看 es 相关的 error 有 read-only 的提示信息。应该是日志太多， es 磁盘写满了。进入 elasticsearch-logging-data 的 pod 终端看看，是不是接近阈值了，导致触发 read-only：

[code]

解决办法是要么扩容、要么删除一些index。下面假设删除 index：
[code]

然后解除 read-only
[code]

后面，你说增加过 Parser 导致起不来，应该是配置错了。可以先单独在自己的 namespace 部署 fluent-bit 试试，调好后再修改（不建议自己修改 kubesphere-logging-system 组件，以免影响后续升级。如果有需求可以提到社区，我们会考虑新增功能）

[2019-11-14 10:00] geniussheep opened #1508 "Jenkins Pipeline的语法检查：正确的代码 被告知语法错误，导致无法修改"
本人使用 jenkins shared libraries  时 编辑JenkinsPipeline 脚本式提示错误，导致无法继续修改
但是通过 Jenkins 去修改对应项目的pipeline后，可以成功运行。

![image](https://user-images.githubusercontent.com/7587017/68845718-cd131700-0706-11ea-9e30-cdee380162ea.png)
![image](https://user-images.githubusercontent.com/7587017/68845876-15323980-0707-11ea-94cb-1a827c2d8c7b.png)

[2019-11-14 10:44] 53537 opened #1509 "2.0.2升级2.1后，ldap运行正常，登录时校验失败"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
2.0.2升级2.1后，ldap pod运行正常，登录时校验失败,用户名或密码错误
openldap pod日志如下：
5dcd2f2a conn=12063 fd=33 ACCEPT from IP=192.168.xx.xx:51354 (IP=0.0.0.0:389)
5dcd2f2a conn=12063 fd=33 closed (connection lost)
**安装环境的硬件配置**
3主多节点物理机
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**

**Installer版本**

[2019-11-14 10:45] 53537 commented on #1509
升级前同步信息和用户校验正常；升级后无法校验

[2019-11-14 10:47] 53537 commented on #1509
这是ldap pod另外一段日志
5dcd3003 conn=1011 op=22 SRCH base="ou=Users,dc=kubesphere,dc=io" scope=2 deref=0 filter="(&(objectClass=inetOrgPerson))"
5dcd3003 conn=1011 op=22 SRCH attr=uid mail description preferredLanguage createTimestamp

[2019-11-14 11:29] 53537 opened #1510 "2.1 dashboard登录状态过期或在其他地方登录，弹出框需要点击4次"
2.1 dashboard登录状态过期或在其他地方登录，弹出框需要点击4次

[2019-11-14 12:02] long0419 commented on #1502
安装快结束的时候 提示这个错误 试错了很多遍

![2761573732330_ pic_hd](https://user-images.githubusercontent.com/1064859/68855630-9a264e80-0719-11ea-8e20-106fb9f5564f.jpg)

![2771573732563_ pic_hd](https://user-images.githubusercontent.com/1064859/68855634-9c88a880-0719-11ea-82ee-2fc4dbaac126.jpg)

![2781573732615_ pic_hd](https://user-images.githubusercontent.com/1064859/68855644-a27e8980-0719-11ea-84f4-5cb7b570028d.j

[2019-11-14 12:05] long0419 commented on #1502
已经解决了! 下面这个问题是快安装完报错的

[2019-11-14 12:08] pixiake commented on #1506
很好的建议

[2019-11-14 12:13] pixiake commented on #1502
可以看下kube-system下的pod是否都正常，看样子像是kube-schedule不正常
`kubectl get pod -n kube-system`
`kubectl get pod -n kubesphere-system`

[2019-11-14 12:15] pixiake commented on #1502
如果kube-system下有不正常的pod    describe一下看看events

[2019-11-14 12:45] huanggze commented on #1476
也可以回退老版本的 fluent-bit，修改 ConfigMap，按之前的操作重建 fluent-bit。这是这个版本不支持中文日志

image = "kubesphere/fluent-bit:advanced-2.0.0"

![image](https://user-images.githubusercontent.com/22350668/68858300-b331fe00-071f-11ea-99fa-5d9d3ea55975.png)

[2019-11-14 13:03] long0419 commented on #1502
执行kubectl get pod -n kube-system 报如下错误

![image](https://user-images.githubusercontent.com/1064859/68859232-c9d95480-0721-11ea-9cee-d55e88db85b0.png)

执行kubectl get pod -n kubesphere-system 报如下错误
![image](https://user-images.githubusercontent.com/1064859/68859267-d9f13400-0721-11ea-9749-a2a3d0cadce0.png)

执行 kubectl describe pod ks-installer-7987c659d6-ht89k -n kubesphere-system 报如下错误
![image](htt

[2019-11-14 13:32] pixiake commented on #1502
用logs 看下

[2019-11-15 01:23] long0419 commented on #1502
查询日志报如下错误
kubectl logs -f ks-installer-7987c659d6-ht89k -n kubesphere-system

![image](https://user-images.githubusercontent.com/1064859/68909518-84507200-0789-11ea-810d-20756e1aebaf.png)

[2019-11-15 01:24] limpo1989 commented on #1495
使用 upgrade.sh 升级之后 可以成功进入了，但是多出来的openpitrix 是Init状态，重启机器之后又和原来一个样子了 ks-account pod起不来了 重新执行upgrade.sh 也不行

[2019-11-15 01:24] #1495 closed

[2019-11-15 01:31] long0419 commented on #1502
我关了防火墙

[2019-11-15 01:32] errorcode7 opened #1511 "k8s v1.15.0 minimal安装，找不到workspace.yaml"
k8s v1.15.0
fatal: [localhost]: FAILED! => {"attempts": 5, "changed": true, "cmd": "/usr/local/bin/kubectl apply -f /etc/kubesphere/workspace.yaml", "delta": "0:00:00.452092", "end": "2019-11-15 01:14:10.619730", "msg": "non-zero return code", "rc": 1, "start": "2019-11-15 01:14:10.167638", "stderr": "error: unable to recognize \"/etc/kubesphere/workspace.yaml\": no matches for kind \"Workspace\"

[2019-11-15 01:37] errorcode7 commented on #1511
同时不建议把kubectl路径固定为/usr/local/bin/kubectl，因为我用yum安装的kubectl，默认路径在/usr/bin/下面，建议先用which kubectl找一下。

[2019-11-15 01:37] long0419 commented on #1502
![image](https://user-images.githubusercontent.com/1064859/68910073-77cd1900-078b-11ea-8eee-3c7413cc32c8.png)

安装成功了

[2019-11-15 01:43] pixiake commented on #1511
上边的操作都在容器里，看日志像是crd没有创建成功  @wansir

[2019-11-15 01:55] FeynmanZhou opened #1512 "The docs of invitation is hided in DevOps project"
See below screenshots
![image](https://user-images.githubusercontent.com/40452856/68910720-b7950000-078d-11ea-9ab0-f0c5729c12d8.png)

![image](https://user-images.githubusercontent.com/40452856/68910793-ff1b8c00-078d-11ea-8a35-8907b94a081d.png)

[2019-11-15 01:55] long0419 commented on #1502
安装完之后 ，现在报错如下

![image](https://user-images.githubusercontent.com/1064859/68910754-dc897300-078d-11ea-8b35-dd93c30d42eb.png)

[2019-11-15 02:21] #1493 closed

[2019-11-15 02:28] errorcode7 commented on #1511
@pixiake delete 掉，重新apply可以了。。。

[2019-11-15 02:31] zryfish commented on #1506
/area installation
/assign @pixiake

[2019-11-15 02:33] zryfish commented on #1504
grafana默认没有安装，如果需要可以自己装下

[2019-11-15 02:34] zryfish commented on #1488
/kind feature-request

[2019-11-15 02:44] wansir commented on #1509
可以看看 ks-account 的日志， ldap 日志正常没有错误。无法登录请注意前端提示，确认一下密码是否正确，确认一下是否因为登录失败次数太多被封禁。

[2019-11-15 02:51] soulseen commented on #1508
可以把jenkinsfile贴出来看一下吗

[2019-11-15 03:00] Forget-C commented on #1476
@huanggze hi  确实是因为es的容量不够了导致的readonly。
现在基本上是正常运行了， 但是仍然只收集 kubesphere 和 k8s 自己的日志， 用户容器日志仍然不收集。

[2019-11-15 03:18] ellaye opened #1513 "在有状态副本集中更新服务报错"
![image](https://user-images.githubusercontent.com/57089340/68923438-48cd9c00-07b9-11ea-8266-83ec98ab317b.png)

[2019-11-15 03:21] ellaye commented on #1513
/assign @leoendless
/kind bug
/area console
/milestone 2.1.0

[2019-11-15 03:22] whDongRui commented on #1497
/assign @pengcong06 @zheng1

[2019-11-15 03:22] whDongRui commented on #1498
这个是翻译导致的，第二个应该是操作者。

[2019-11-15 03:23] whDongRui commented on #1490
/kind need-to-verify

[2019-11-15 03:29] yurokn opened #1514 "请问下，如果想更改一下前端代码然后再安装，应该如何找到前端代码？"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**

**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**

**Installer版本**

[2019-11-15 03:44] runzexia commented on #1508
/assign

[2019-11-15 03:55] gongjx11 commented on #1504
好的，谢谢

[2019-11-15 03:55] #1504 closed

[2019-11-15 04:49] FeynmanZhou commented on #1514
前端会在近2周内开源

[2019-11-15 04:50] #1511 closed

[2019-11-15 05:18] long0419 commented on #1502
在现在监控镜像

[2019-11-15 05:19] long0419 commented on #1502
![image](https://user-images.githubusercontent.com/1064859/68918718-62b3b280-07aa-11ea-8a24-1a65f9fc02a4.png)

开启这个服务之后 服务报错

[2019-11-15 05:23] 53537 commented on #1509
ks-account日志：

E1113 11:41:39.462884       1 routers.go:183] open /etc/kubesphere/ingress-controller: no such file or directory
E1113 11:41:39.464131       1 routers.go:61] open /etc/kubesphere/ingress-controller: no such file or directory
W1113 11:41:39.494111       1 client_config.go:549] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
I1113 11:

[2019-11-15 06:23] wansir commented on #1509
看错误提示是密码输入错了，可以登录管理员账号重置密码

[2019-11-15 06:24] 53537 commented on #1509
这个是域控的认证，没有设置

[2019-11-15 06:26] 53537 commented on #1509
密码没有输错，尝试多个账号都是认证失败

[2019-11-15 06:33] zhangpfly opened #1515 "worker节点资源调度限制，Node Allocatable特性"
系统环境：3节点，4核12G，1master 2worker，centos7

今天上午我遇到一个问题就是，节点2还有2G内存，节点1是5G内存，在安装harbor的时候，调度到了节点2上，直接把节点2 OOM了，显示状态NotReady。系统无法正常运行。

能否在安装之前，配置文件中设置可配置项，定义每个节点预留给系统多少资源。
或者是安装完成之后，有界面能设置每台主机可以调度的资源也行。这样不用安装完成后，再手动设置这些参数了。

[2019-11-15 07:13] yabigal opened #1516 "您好，前端什么时候支持开源呢？"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**

**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**

**Installer版本**

[2019-11-15 07:17] minghaoye opened #1517 "devops pipeline，branch lists has pagination bug"
if branch length more than 10, it won't be shown.

this bug will fixed in v2.1.1

[2019-11-15 07:18] minghaoye commented on #1517
/assign @minghaoye

[2019-11-15 07:39] ellaye opened #1518 "未安装日志模块时，查看创建中容器的日志报BadRequest"
![image](https://user-images.githubusercontent.com/57089340/68925597-4c175680-07be-11ea-8e8c-6ef35cf3d6c1.png)

[2019-11-15 07:40] ellaye commented on #1518
/assign @leoendless
/kind bug
/area console
/milestone 2.1.0

[2019-11-15 07:49] Carriezhangyan commented on #1503
已经解决。。

[2019-11-15 07:49] #1503 closed

[2019-11-15 08:02] zhangpfly opened #1519 "平台设置中，找不到应用仓库设置"
系统环境：CentOS Linux release 7.7.1908 (Core)
主机：4核12G
KubeSphere 版本 : v2.1.0

使用在线安装脚本已经安装完毕，所有pod运行状态显示正常。

应用商店显示正常。但是在平台设置里面看不到应用仓库的设置。

![image](https://user-images.githubusercontent.com/17722518/68926738-2d668f00-07c1-11ea-89e8-d2ff96047d48.png)
![image](https://user-images.githubusercontent.com/17722518/68926821-54bd5c00-07c1-11ea-8524-aba504569141.png)

[2019-11-15 08:04] wansir commented on #1509
升级之后把 ad-sidecar 给移除掉了， 需要重新配置一下 https://kubesphere.io/forum/d/159-kubesphere-ad

[2019-11-15 08:57] ellaye opened #1520 "定时任务编辑配置文件后不能更新"
![image](https://user-images.githubusercontent.com/57089340/68930278-f7c5a400-07c8-11ea-8144-f357c9562a7b.png)

[2019-11-15 08:57] ellaye commented on #1520
/assign @leoendless
/kind bug
/area console
/milestone 2.1.0

[2019-11-15 08:59] ellaye opened #1521 "定时任务列表下拉菜单点击编辑配置文件没有反应"
![image](https://user-images.githubusercontent.com/57089340/68930377-365b5e80-07c9-11ea-8d2c-735d3c67dccb.png)

[2019-11-15 08:59] ellaye commented on #1521
/assign @leoendless
/kind bug
/area console
/milestone 2.1.0

[2019-11-15 09:23] long0419 commented on #1502
确实是cpu 的问题 ，现在基本问题都解决了

[2019-11-15 09:36] leoendless commented on #1520
这个应该是你的 spec.schedule 格式不正确问题， 可以参考[CRON](https://en.wikipedia.org/wiki/Cron)语法进行设置

[2019-11-15 09:39] geniussheep opened #1522 "使用parameters 动态生成pipeline 参数运行后，pipeline的编辑界面报错"
现象描述：
使用了parameters动态生成pipeline参数；
第一次通过 编辑界面将pipeline 代码写入；然后执行后
再次打开 流水线页面报错

pipeline代码：
[code]

![image](https://user-images.githubusercontent.com/7587017/68932859-6c4f1180-07ce-11ea-80e8-5b51e11919ef.png)

[2019-11-15 09:46] runzexia commented on #1522
/kind bug
/assign
/milestone 2.1.1
/area devops

[2019-11-15 10:11] k0ngk0ng opened #1523 "LDAP接AD功能增强建议"
1. 支持把用户名显示为 DisplayName，或者提供这样一个字段可以配置，目前只能显示 sAMAccountName 作为显示名称。管理上有所不便
2. 支持 MemberOf 过滤

[2019-11-15 12:04] zryfish opened #1525 "[Feature Request] Add resource quota at workspace level"
Currently, we have namespaced resource quota. But there is no resource quota at workspace level, means we can't limit total resource usage for all the namespaces under same workspace, but just on a single namespace.

[2019-11-15 12:04] zryfish commented on #1525
/assing @wansir  @Carlosfengv
/kind feature-request

[2019-11-16 02:13] Xiangrui2019 opened #1526 "KubeSphere All in One 安装失败"
**问题描述**
[code]
**安装环境的硬件配置**
[code]

物理机

**错误信息或截图**

**Installer版本**
v2.1.0

[2019-11-16 02:24] Xiangrui2019 commented on #1526
急用，在线等.................

[2019-11-16 04:25] Xiangrui2019 commented on #1526
补充，上一个问题解决了.
又出现了一个新的问题

[code]

[2019-11-16 14:01] xianyuwu commented on #1223
我也遇到这个问题，确定所有的Workload都是正常的状态，但应用状态一直显示“更新中”。还有一种状态不正常的情况发生在，通过S2I构建镜像的时候，第一次的构建失败了，然后找到问题修改之后重新进行构建，成功之后Workload的 状态还是显示“构建镜像失败”，查看构建日志实际上已经成功了，这个状态会一直显示“构建镜像失败”，不会更新为“运行中”。
![image](https://user-images.githubusercontent.com/22258895/68994311-8ebf5880-08bc-11ea-9fd3-e943ce299f97.png)
![image](https://user-images.githubusercontent.com/22258895/68994315-95e66680-08bc-11ea-9c16-1113635fb57d.png)

[2019-11-16 14:38] zryfish commented on #1526
[code]
这个命令可以执行成功么，可以先搜下issue，搜下相似的问题

[2019-11-16 14:40] #1502 closed

[2019-11-16 14:40] #1499 closed

[2019-11-16 14:45] leoendless commented on #1223
@minghaoye 看下这个 s2i workload 状态问题吧

[2019-11-16 23:50] Xiangrui2019 commented on #1526
不可以
后来发现我删除了/etc/resolv.conf里面的所有东西

[2019-11-17 10:41] arraycto opened #1527 "【加急】k8s的pod的kubernetes-dashboard一直处于Pending？"
[备注]: 由于领导明天需要演示，今天需要搞定dashboard，已经搞了两天都出不来，烦请社区帮助。跪谢。

**问题描述**
创建的pod 一直处于pengding 状态。如下

[root@k8s-master k8s]# kubectl get pods --all-namespaces
NAMESPACE              NAME                                         READY   STATUS    RESTARTS   AGE
kube-system            kuboard-756d46c4d4-8xqbs                     0/1     Pending   0          141m
kubernetes-dashboard   dashboard-metrics-scraper

[2019-11-17 12:52] FeynmanZhou commented on #1519
2.1 把应用仓库放到了 企业空间 下，参考：https://kubesphere.io/docs/v2.1/zh-CN/quick-start/one-click-deploy/#%E5%AF%BC%E5%85%A5%E5%BA%94%E7%94%A8%E4%BB%93%E5%BA%93

[2019-11-18 02:03] guoh1988 opened #1528 "创建流程线时无法选择证书"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:2.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
3 masters:  12核64G

[2019-11-18 02:20] minghaoye commented on #1528
刷新一下也没有么，有时返回较慢，当前页面的刷新还没拿到新数据

[2019-11-18 02:23] AaronPei commented on #1516
听说再过两个星期

[2019-11-18 03:50] hlwanghl opened #1529 "Pipeline deployment failed due to wrong format of generated kubeconfig"
**Describe the bug(描述下问题)**
Wrong format of generated kubeconfig in DevOps projects.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/4861515/69023391-8e78a780-09f9-11ea-9ab9-a225f55fa12b.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment

[2019-11-18 03:55] minghaoye commented on #1223
@runzexia  这里怎么优化一下

[2019-11-18 06:25] guoh1988 commented on #1528
没有，如

[2019-11-18 06:28] guoh1988 commented on #1528
没有

[2019-11-18 06:45] guoh1988 commented on #1528
选择一直看不到填写的凭据
![201911181](https://user-images.githubusercontent.com/28557169/69029544-3ef1a600-0a10-11ea-9af8-d6d3f1b46210.PNG)
点击确定后凭据创建好了还是不消失
![201911182](https://user-images.githubusercontent.com/28557169/69029694-a871b480-0a10-11ea-9ff5-8b396abf86b8.PNG)

还有个问题S2I的时候的代码仓库只能选择git形式的吗，SVN不可以吗
![201911183](https://user-images.githubusercontent.com/28557169/69030307-1e2a5000-0a12-11ea-8d5f-3e02bf

[2019-11-18 07:39] Carlosfengv opened #1530 "支持 Security Context 策略"
设计稿
zpl://screen?sid=5dd24a47c5060b624f9ac5ff&pid=5cbd3e2d21c1ba7ba1eb412a

[2019-11-18 07:39] Carlosfengv commented on #1530
/area console
/kind design
/milestone 2.1.1

[2019-11-18 07:42] minghaoye commented on #1528
1.点击确定后凭据创建好了还是不消失（名称冲突），可以去凭证页面查看是否有创建的凭证
2.只支持SVN

[2019-11-18 10:04] aiguanglee opened #1532 "安装之后提示表不存在"
系统环境：CentOS Linux release 7.7.1908 (Core)
主机：4核12G
KubeSphere 版本 : v2.1.0

**问题描述**

先进行最小化安装，然后修改cm ks-installer 安装组件，完成之后一直显示
rpc error: code = Internal desc = describe resources failed: Error 1146: Table 'app.app' doesn't exist
rpc error: code = Internal desc = describe resources failed: Error 1146: Table 'app.category' doesn't exist
rpc error: code = Internal desc = describe resources failed:

[2019-11-18 11:16] soulseen commented on #1483
我在2.1新版本上测试了下，也存在这个问题。

[2019-11-18 12:18] guoh1988 commented on #1528
首先感谢你的回复，可能我对问题的表达不够清楚
1.首先我的凭据里面是凭据的，但是下拉里面显示没有，点击下拉下面的新建凭据
![图片](https://user-images.githubusercontent.com/28557169/69051650-e33f1100-0a3f-11ea-85ba-a8997cc986a6.png)
2.如下就是我的新建凭据，我点确认以后可以提交凭据信息但是这个对话框没有消失，再点击确认就显示用户名已经存在，我去凭据里面查看凭据一个存在，无论我点击确定还是取消这个对话框都不会消失，必须要要F5刷新才消失
![图片](https://user-images.githubusercontent.com/28557169/69051843-6fe9cf00-0a40-11ea-94a4-cf11ed4c02db.png)

[2019-11-18 12:55] zhanlinfeng opened #1533 "扩展GPU节点失败"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**：在扩展GPU节点时失败了，提示：
`nvidia-container-runtime-hook (< 2.0.0) but it is not going to be installed`
于是我在GPU节点安装了nvidia-docker2，但是这没有生效。并且在/usr/bin/nvidia-container-runtime-hook 是存在的（但存在一个软链接,问题会在这吗？）。

**安装环境的硬件配置**：GPU节点，内存60G, GPU型号K80<云主机>

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubuserc

[2019-11-18 16:00] liangyuanpeng commented on #1513
也许是 metadata.resourcesVersion字段没有填或填错了？

从提示框看来是这样的

[2019-11-19 01:42] aiguanglee opened #1534 "无法通过应用仓库部署应用"
系统环境：CentOS Linux release 7.7.1908 (Core)
主机：4核12G
KubeSphere 版本 : v2.1.0

问题描述

通过应用仓库部署应用，提示
rpc error: code = PermissionDenied desc = access denied for resource [runtime-Ny7zqKOEpBY6]: rpc error: code = PermissionDenied desc = Runtime [runtime-Ny7zqKOEpBY6] not found: <nil>

[2019-11-19 01:45] FeynmanZhou commented on #1534
导入的应用仓库的 URL 是什么呢？

[2019-11-19 01:48] aiguanglee commented on #1534
通过官方提供的应用商店，任何一个应用都是如此

[2019-11-19 01:50] FeynmanZhou commented on #1533
@zhanlinfeng GPU Node 的操作系统是什么？

[2019-11-19 01:53] FeynmanZhou commented on #1534
看了这个 issue #1532 ，应该是后来开启的 openpitrix 功能组件安装未成功，`kubectl get pod -n openpitrix-system` 看下

[2019-11-19 01:59] aiguanglee commented on #1534
issue #1532  通过重装已经解决了，现在是无法通过helm部署应用，无论是官方应用商店，还是私有helm charts

[2019-11-19 02:00] #1509 closed

[2019-11-19 02:01] #1486 closed

[2019-11-19 02:06] #1532 closed

[2019-11-19 02:17] FeynmanZhou commented on #1515
好建议，对于 Harbor 和 Gitlab 这种资源消耗较大的第三方应用  通过 selector 指定在某个资源充足节点创建更合适，我们会参考调整

[2019-11-19 02:25] pengcong06 commented on #1534
找到你创建的那个namespace 然后执行这个:
kubectl annotate ns <namespace> openpitrix_runtime-

[2019-11-19 02:27] minghaoye commented on #1528
了解，这个问题我们还没法复现，可以提供一下kubesphere版本，浏览器版本，可以的话看一下浏览器控制台的报错。

[2019-11-19 02:33] wansir commented on #1534
[code]

[2019-11-19 02:37] aiguanglee commented on #1534
执行之后，能够正常部署了，应该是这个ns是通过命令行手动创建的，而非通过kubesphere控制台创建，谢谢！

[2019-11-19 02:38] #1534 closed

[2019-11-19 03:26] FeynmanZhou opened #1535 "Support adding new nodes in UI"
In release 2.1.0, KubeSphere only supports adding new nodes via running script `add-nodes.sh`, this could be supported in UI in the upcoming release. This feature is waiting for you to pick up and contribute to KubeSphere

[2019-11-19 03:33] huanggze opened #1536 "The kubectl tool loses connection sometimes"
The kubectl tool loses connection sometimes

![image](https://user-images.githubusercontent.com/22350668/69114437-48d2e200-0ac0-11ea-862a-2d29c368e1bb.png)

[2019-11-19 03:34] huanggze commented on #1536
/area console
/milestone 2.1.1
/assign @leoendless

[2019-11-19 03:45] huanggze commented on #1476
@Forget-C 这个是刚开始拉取日志的时候排队吧。等拉取完了就好了，等一会。现在再看应该没有新的 bulk queue 相关的error了

[2019-11-19 04:01] zhanlinfeng commented on #1533
ubuntu 16.04

[2019-11-19 06:30] xiexiao072 opened #1537 "kubesphere-installer is ok"
<FAILED - RETRYING: kubesphere-installer is ok (30 retries left).

[2019-11-19 06:40] gongjx11 opened #1538 "我把istio集群2.0的版本卸载了，问下怎么安装"
我不小心把istio全部卸载了，问一下怎么安装，如果我使用官方文档去部署，平台操作界面会不会有影响？

[2019-11-19 06:46] chenJz1012 opened #1539 "redis pending"
![image](https://user-images.githubusercontent.com/11772351/69123048-52b60e80-0adb-11ea-9d3c-c890da2c58d6.png)

pod has unbound immediate PersistentVolumeClaims (repeated 3 times)

[2019-11-19 07:11] wanjunlei opened #1540 "修改定时任务时报错"
**Describe the bug(描述下问题)**
修改定时任务时报错

![image](https://user-images.githubusercontent.com/53003665/69124428-d32a3e80-0ade-11ea-867b-5a5c827476b0.png)

[2019-11-19 07:13] #1540 closed

[2019-11-19 07:14] wanjunlei opened #1541 "修改定时任务时报错"
**Describe the bug(描述下问题)**
修改定时任务时报错

![微信图片_20191119151408](https://user-images.githubusercontent.com/53003665/69124650-46cc4b80-0adf-11ea-9628-460fa3738e33.png)

/area console
/kind bug
/milestone 2.1.0

[2019-11-19 08:11] FeynmanZhou opened #1542 "删除应用的版本，删除后提示部署成功"
删除应用的版本，删除后提示部署成功
![](https://pek3b.qingstor.com/kubesphere-docs/png/20191119160928.png)

![](https://pek3b.qingstor.com/kubesphere-docs/png/20191119160939.png)

[2019-11-19 08:12] wanjunlei opened #1543 "修改定时任务配置文件报错"
修改定时任务配置文件报错

![微信图片_20191119151408](https://user-images.githubusercontent.com/53003665/69128356-14bee780-0ae7-11ea-9aba-caa43bd1d7c6.png)

KubeSphere:2.1.0

Steps to reproduce the behavior:
1. 创建定时任务
2. 点击修改配置文件
3. 修改schedule属性
4. 点击更新按钮

/area console
/kind bug

[2019-11-19 08:12] FeynmanZhou commented on #1533
@benjaminhuo 帮忙看看这个问题吧

[2019-11-19 08:47] shaowenchen opened #1544 "com.cn 和 io 域名建议"
国内 io 重定向到 com.cn 作为镜像站点，国外用 io。

依然统一使用 io，这样旧文档、品牌上都会一致一些。

/assign @zryfish

[2019-11-19 08:55] mayuhope opened #1545 "b2i 任务完成后，已完成的pod没有被删除"
通过构建b2i创建的任务，任务执行结束后，pod也已完成，但是pod没有被删除：
![image](https://user-images.githubusercontent.com/7677050/69131416-53f03700-0aed-11ea-9bd8-fd81718d2583.png)

期望结果：执行完成的pod可以删除

[2019-11-19 08:56] mayuhope commented on #1545
/area console
/milestone 2.1.1
/kind bug
/assign @leoendless

[2019-11-19 10:04] leoendless commented on #1513
将在2.1.1 修复

[2019-11-19 10:10] soulseen commented on #1545
这个是pod由job创建的，是不能自动删的，他记录了构建的日志等信息。构建完成后这个pod不会占用资源，只是作为一个完成记录。

[2019-11-19 10:26] mayuhope opened #1546 "从b2i任务记录中下载制品报错"
1、构建b2i的镜像；
2、进入任务记录，在构建次数上方制品文件，点击下载制品：
![image](https://user-images.githubusercontent.com/7677050/69138709-1e057f80-0afa-11ea-9328-1f3027dc763c.png)

结果报错：
![image](https://user-images.githubusercontent.com/7677050/69138517-cff07c00-0af9-11ea-9a16-47a8a31f5c8b.png)

[2019-11-19 10:30] mayuhope opened #1547 "s2i镜像任务记录支持下载制品，点击后404"
1、构建s2i镜像，运行结束后查看任务记录的构建次数，发现可以下载制品：
![image](https://user-images.githubusercontent.com/7677050/69138937-8eac9c00-0afa-11ea-8d3f-4fa9221e2922.png)

2、点击后报404 not found

说明：此处应该是错误的设计，s2i不应该支持下载制品

[2019-11-19 10:30] mayuhope commented on #1547
/area console
/milestone 2.1.1
/kind bug
/assign @leoendless

[2019-11-19 10:30] mayuhope commented on #1546
/area console
/milestone 2.1.1
/kind bug
/assign @leoendless

[2019-11-19 12:59] pixiake commented on #1537
检查下k8s集群状态
`kubectl  get pod -n kube-system`
 看看集群正不正常

[2019-11-20 02:12] FeynmanZhou commented on #1538
ks 的版本现在是 2.1 吗？

[2019-11-20 02:14] gongjx11 commented on #1538
2.0版本

[2019-11-20 02:17] FeynmanZhou commented on #1538
2.0 不支持单独装 istio，如果已经在 2.0 环境卸载了内置的 istio，再重装或升级 2.1 都可能有问题。我的建议是 参考 2.1 的安装指南，重新装 2.1，安装前把 istio 开启

[2019-11-20 02:20] gongjx11 commented on #1538
好的 我知道了，谢谢

[2019-11-20 02:22] FeynmanZhou commented on #1538
@gongjx11 2.1 的 installer 解耦了，可以最小化安装的同时 只开启 istio 的安装，UI 也能支持微服务治理和灰度发布的，仔细看 2.1 的安装说明

[2019-11-20 02:23] gongjx11 commented on #1538
我现在按照官方的例子来装的，装上去了，但是在操作同看不到流量制理，是不是我安装的问题，还是说我新安装的和平台哪个方面配置没有兼容到
![image](https://user-images.githubusercontent.com/21954004/69203547-96faea80-0b7f-11ea-8a65-7ba411a1d94c.png)

![image](https://user-images.githubusercontent.com/21954004/69203565-a4b07000-0b7f-11ea-9fa0-d5c1af733a0b.png)

这里也没有，想问一下这个原因和平台是不是有相关，谢谢

[2019-11-20 02:24] FeynmanZhou commented on #1538
流量治理和 tracing 都是需要有实时请求的，参考这个跑一遍 https://kubesphere.io/docs/v2.1/zh-CN/quick-start/bookinfo-canary/

[2019-11-20 02:25] mayuhope commented on #1547
/assign   @minghaoye

[2019-11-20 02:25] wansir commented on #1539
检查一下pvc 的状态， 和存储配置有关

[2019-11-20 02:26] gongjx11 commented on #1538
好的 我试一下  非常感谢

[2019-11-20 02:50] xiexiao072 commented on #1537
[root@ks-allinone scripts]# kubectl get pod -n kube-system
NAME                                           READY   STATUS             RESTARTS   AGE
calico-kube-controllers-6bcc47d5c8-wsj8k       1/1     Running            12         22h
calico-node-mlpt9                              1/1     Running            2          22h
coredns-647d4f64c4-b25kx                       0/1     Running

[2019-11-20 04:00] yongnights opened #1548 "文章需要完善的地方"
文章地址：https://kubesphere.io/docs/v2.1/zh-CN/quick-start/hpa/
在这个文章中，hpa使用的镜像应该是mirrorgooglecontainers/hpa-example，但是文档中给的镜像是mirrorgooglecontainers/hpa，截图中给的镜像是对的，说白了就是文字跟图片上的不匹配

[2019-11-20 04:48] #1470 closed

[2019-11-20 07:03] johntostring opened #1549 "全新安装版本v2.1.0（servicemesh 已开启），部署自制应用时，应用治理选项被禁用"
**问题描述**
通过 All in one 方式全新安装的 v2.1.0，Pod 全部 Running 无异常。

然后通过 web console 登录 admin 账号，创建一个空间、项目，尝试部署自制应用，出现**应用治理选项被禁用无法选择**。

![image](https://user-images.githubusercontent.com/5723484/69214951-4e552880-0ba3-11ea-89aa-6e647955cf98.png)

![image](https://user-images.githubusercontent.com/5723484/69214918-3c738580-0ba3-11ea-9344-4746ab574fb2.png)

安装前通过修改 config/common.yaml，开启了如下几个选项：
[Gist commo

[2019-11-20 07:30] #1538 closed

[2019-11-20 08:04] gongjx11 opened #1550 "2.0 更新到2.1 版本执行报错，麻烦帮忙看一下，谢谢"
![image](https://user-images.githubusercontent.com/21954004/69220219-70ed3e80-0baf-11ea-8c6e-8f11d72d8d8e.png)

问下，更新2.1版本这一行报错，问一下是什么原因

[2019-11-20 08:12] FeynmanZhou commented on #1550
你不是在 2.0 的环境上删掉了 istio 么？删了 istio 直接 upgrade 可能会有问题，建议找一个干净的机器重装 2.1

[2019-11-20 08:13] FeynmanZhou commented on #1549
在项目设置-> 网关设置下开启应用治理

[2019-11-20 08:14] gongjx11 commented on #1550
是的我删掉了，我想试一下更新，好吧我直接重装系统吧。上面问题解决了，谢谢了

[2019-11-20 08:14] #1550 closed

[2019-11-20 08:18] whbq opened #1552 "单节点的 安装 devops 一直报错"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**

**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/41784434/69221077-616ef500-0bb1-11ea-98fe-2bad0054179a.png)
![image](https://user-images.githubusercontent.com/41784434/69221089-68960300-0bb1-11ea-9fed-80e5c226836b.png)

**Installer版本**

[2019-11-20 08:19] whbq commented on #1552
我的是阿里云的云服务器

[2019-11-20 08:22] johntostring commented on #1549
@FeynmanZhou 谢谢！
在项目设置 -> 高级设置然后选择**创建网关**中找到了，不过个人感觉这个设置有点太隐蔽了。

[2019-11-20 08:23] FeynmanZhou commented on #1549
@Carlosfengv 是不是在有些需要开启应用治理的地方  以文案提示一下

[2019-11-20 08:26] Carlosfengv commented on #1549
下一版调整一下

[2019-11-20 08:27] #1549 closed

[2019-11-20 08:45] mayuhope commented on #1547
/assign  @minghaoye

[2019-11-20 08:45] mayuhope commented on #1545
好的，了解了

[2019-11-20 08:46] mayuhope commented on #1521
/milestone 2.1.1

[2019-11-20 08:47] mayuhope commented on #1520
/milestone 2.1.1

[2019-11-20 08:47] mayuhope commented on #1518
/milestone 2.1.1

[2019-11-20 08:48] mayuhope commented on #1547
/assign @minghaoye

[2019-11-20 09:00] whbq opened #1553 "安装组件 报 0/1 nodes are available: 1 Insufficient cpu."
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
在安装devops 组件的时间 报0/1 nodes are available: 1 Insufficient cpu.
**安装环境的硬件配置**
阿里云 2核 8g  40g  云主机
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
0/1 nodes are available: 1 Insufficient cpu.
**Installer版本**
最新版

[2019-11-20 09:02] zryfish commented on #1553
看下官网的资源配置要求，你的节点资源不足了

[2019-11-20 09:03] zryfish commented on #1548
欢迎给文档提PR https://github.com/kubesphere/docs.kubesphere.io

[2019-11-20 09:07] whbq commented on #1553
![image](https://user-images.githubusercontent.com/41784434/69224715-0260ae80-0bb8-11ea-971e-e9be5b0fea03.png)
![image](https://user-images.githubusercontent.com/41784434/69224776-1ad0c900-0bb8-11ea-9580-220bd0012c0e.png)
我看了下，除了磁盘不够，其他都满足的。磁盘也是硬性要求吗？

[2019-11-20 09:24] zryfish commented on #1553
那是最小安装的，不包含devops，https://kubesphere.com.cn/docs/v2.1/zh-CN/installation/intro/

[2019-11-20 09:28] FeynmanZhou commented on #1553
你应该要对你的机器 CPU 进行扩容，而不是在 KubeSphere UI 去扩容

[2019-11-20 09:31] whbq commented on #1553
有没有可能降低cpu  要求去完成这个事情。

[2019-11-20 09:40] minghaoye commented on #1547
@mayuhope 这个地址还有么，我这里没复现
<img width="909" alt="Screen Shot 2019-11-20 at 5 39 49 PM" src="https://user-images.githubusercontent.com/22934997/69227504-deec3280-0bbc-11ea-9253-4abb956e6245.png">

[2019-11-20 09:41] FeynmanZhou commented on #1553
暂不支持，新安装组件，是会有更多资源的消耗，如果手动装 jenkins、ES 这些开源的组件 也是会有这么多的资源消耗呀

[2019-11-20 09:59] liuflylove666 opened #1554 "kubesphere对接已有的外部Jenkins服务器jenkins-password如何设置"
kubesphere对接已有的Jenkins服务器jenkins-password如何设置

[2019-11-20 10:04] limpo1989 opened #1555 "安装完毕，ks-account 处于 Init:0/2 状态，原因是DNS解析失败导致一直处于Wait状态"
**问题描述**
使用 kubesphere-all-v2.1.0 All-In-One 模式安装，完毕之后DNS解析失败导致ks-account pod无法正常初始化

ks-account 的wait容器 会等待redis启动完毕

其中 redis.kubesphere-system.svc 无法正常解析，导致waiting for redis

**安装环境的硬件配置**
Hyper-V CentOS Linux release 7.4.1708 (Core) 8核心 10GB内存 连接外网

**错误信息或截图**
[code]
ks-account 一直处于 wai-redis & wait-ldap Init: 0/2
[code]

coreDNS 无错误
[code]
宿主机  /etc/resolv.conf
[code]

进入wait-redis容器, 无法正确解析

[2019-11-20 10:27] huntunshule opened #1556 "cannot create log: open /tmp/kube-rbac-proxy.centos01.unknownuser.log.INFO.20191120-101651.6461: permission denied"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
![image](https://user-images.githubusercontent.com/52652738/69230803-e44c7b80-0bc2-11ea-93b6-2a30ebc49de9.png)

**安装环境的硬件配置**
kubernetes 安装 kubesphere,本地物理机
安装命令kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/master/kubesphere-minimal.yaml
没有做过其他更改
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![i

[2019-11-20 10:50] limpo1989 commented on #1555
进入 ks-console 对应的pod 容器内可以正常解析 redis 服务
[code]

[2019-11-20 11:29] tmachero commented on #710
kubesphere 能否集成已有的prometheus exporter  版本v2.1.0

[2019-11-21 02:26] wansir commented on #1555
@limpo1989  可以把ks-account 中init container的 image tag 改成1.31.1 试试

https://kubesphere.com.cn/forum/d/201-v2-1/3

[2019-11-21 02:40] zryfish commented on #1552
duplicate #1553

[2019-11-21 02:40] #1552 closed

[2019-11-21 03:31] chenJz1012 commented on #1539
是的，解决了！ 感谢，存储使用local 添加pv后解决了

[2019-11-21 03:31] #1539 closed

[2019-11-21 03:40] soulseen commented on #1545
/close

[2019-11-21 03:40] #1545 closed

[2019-11-21 03:54] mqmjingba opened #1557 "安装完成后显示成功、但是打开应用商店提示表结构不存在"
安装完成后显示成功、但是打开应用商店提示表结构不存在
系统为纯净版Ubuntu 16.0.4.5、4C8G，按照官方手册进行安装，提示信息如下图所示
![图片](https://user-images.githubusercontent.com/5761267/69302729-8f0d7a00-0c55-11ea-98e8-73230debf4c3.png)
![图片](https://user-images.githubusercontent.com/5761267/69302754-a77d9480-0c55-11ea-95ee-a42975164579.png)
![image](https://user-images.githubusercontent.com/40452856/69303310-66867f80-0c57-11ea-8b5c-c67eaaccdd1c.png)

[2019-11-21 03:58] FeynmanZhou commented on #1555
@limpo1989 参考这个可以解决你的问题 https://github.com/kubesphere/ks-installer/issues/33

[2019-11-21 06:01] jingfenmg opened #1558 "密码的环境变量"
spec:
 containers:
 - env:
   - name: GF_SECURITY_ADMIN_USER
     valueFrom:
       secretKeyRef:
         key: admin-user
         name: grafana1112
   - name: GF_SECURITY_ADMIN_PASSWORD
     valueFrom:
       secretKeyRef:
         key: admin-password
         name: grafana1112

像这个grafana，env的name值我可以改吗，还是固定的，我在secret里面看到了，用户名密码，这个是自己定义的还是随机生成的

[2019-11-21 06:02] jingfenmg commented on #1558
我想问下每个应用的用户名密码变量都是有自己固定的值，还是可以自己定义的

[2019-11-21 06:22] zryfish commented on #1557
重新执行下openpitrix-syste下的job

[2019-11-21 06:47] limpo1989 commented on #1555
@wansir 测试过没有解决问题
@FeynmanZhou 同样没有解决 宿主机只有一个DNS 8.8.8.8 并且是可以正常访问的，coredns 的 configmap 里面的 upstream & forward 都删除了 重启过 coredns 同样还是老样子

[2019-11-21 07:01] pengcong06 commented on #1557
job执行失败,用下面的脚本重新跑一下
`kubectl get job openpitrix-db-init-job -n openpitrix-systm -o json | jq 'del(.spec.selector)' | jq 'del(.spec.template.metadata.labels)' | kubectl replace --force -f -`

[2019-11-21 07:06] pengcong06 opened #1559 "删除应用nginx-demo之后,重新用nginx-demo这个名称创建应用会失败,提示nginx-demo已经存在"
强制删除集群的时候应该是CeaseCluster

[2019-11-21 07:07] pengcong06 commented on #1559
/assign @pengcong06

[2019-11-21 07:12] mqmjingba commented on #1557
![图片](https://user-images.githubusercontent.com/5761267/69315222-fbe23d80-0c70-11ea-8e44-483372f4efc5.png) 执行了有下面这个结果openpitrix-systm这个是不是openpitrix-system？
@pengcong06

[2019-11-21 07:26] pengcong06 commented on #1557
是的,更正过来了

[2019-11-21 07:47] mqmjingba commented on #1557
按照这个命令执行了，显示了那两行，但是应用商店里面还没有东西

[2019-11-21 07:51] mqmjingba commented on #1557
![图片](https://user-images.githubusercontent.com/5761267/69317804-b9bbfa80-0c76-11ea-8231-c34b9e558ba9.png)
是执行这个吗？

[2019-11-21 07:54] zryfish commented on #1557
对

[2019-11-21 08:04] mqmjingba commented on #1557
执行了，还是没啥用，商城里面还是没东西

[2019-11-21 08:40] whbq commented on #1553
通过修改组件请求的cpu   大小，已经解决问题。

[2019-11-21 08:44] k0ngk0ng opened #1560 "可能由ks-apiserver引起的界面超时"
KubeSphere: 2.1.0
目前无法复现
出问题时，查看监控中心的页面会比较明显效果（请求多，部分图表一直loading）

排查经过：
1. 查看 kubesphere-controls-system 的 kubesphere-router-kubesphere-system 日志
发现大量的 timed out  （我们把 ks-console加入了 ingress），所有 timed out 日志都指向一个 ks-console实例
[code]
2. 查看该 ks-console 实例的日志，有一些错误如下
[code]
3. 再查看 ks-apiserver 日志，也有大量的错误日志
[code]

临时修复方式：
1. 重启 ks-apiserver
2. 重启 ks-console

[2019-11-21 08:47] mqmjingba commented on #1557
奇怪的是半小时后好了，全部OK了

[2019-11-21 09:38] zhangpfly opened #1561 "主机意外重启后，部分pod无法正常启动，状态CrashLoopBackOff"
3节点，CentOS Linux release 7.7.1908
kubsphere版本：2.1.0
3主机意外重启后，发现有部分pod无法正常启动了

kubsphere无法访问
排查情况如下：

[code]

[2019-11-21 09:38] zhangpfly commented on #1561
![image](https://user-images.githubusercontent.com/17722518/69325849-c6941a80-0c85-11ea-8806-e7a7c787fc9b.png)

[2019-11-21 10:09] zhangpfly commented on #1561
能不能出一个服务状态检查的脚本，如果有pod出现异常的情况，进行状态重置，只要原来的数据没有问题就行

[2019-11-21 10:12] limpo1989 commented on #1555
进入init 容器 修改  /etc/resolv.conf 默认的nameserver 为 coredns的 clusterIp后，可以正常解析dns， 之后ks-account 正常启动了
我查看了 ks-console 的pod里面的默认nameserver也是这个 nameserver 169.254.25.10 但是dns解析正常，在这个init容器就不行 ，所以这个是什么情况？
[code]

[2019-11-21 10:16] geniussheep opened #1562 "Kubesphere2.1.0 的 devops流水线列表页面 无法正常展示"
![image](https://user-images.githubusercontent.com/7587017/69328065-8898f580-0c89-11ea-8460-5310641842da.png)

上图错误：目前无法重现

经排查：
发现该错误是 ks-apiserver抛出的 日志如下：
`E1121 09:45:19.025588       1 devops.go:1077] Get http://ks-jenkins.kubesphere-devops-system.svc/blue/rest/organizations/jenkins/pipelines/project-XX2QnMAPrEwk/pipelines/dbms/: net/http: request canceled (Client.Timeout exceeded while awaiti

[2019-11-21 10:23] limpo1989 commented on #1555
通过文档安装了openpitrix，发现有一样的问题 wait-mysql一样无法解析，和上面一样通过exec进入init容器内部修改内部的nameserver为coredns的地址之后正常启动了

[2019-11-21 10:23] geniussheep opened #1563 "Kubesphere2.1.0 的 devops流水线详情页面 无法正常展示"
![image](https://user-images.githubusercontent.com/7587017/69329066-512b4880-0c8b-11ea-821f-a00f829d2dfd.png)
上图错误：目前无法重现
经排查 在ks-apiserver日志内发现相关错误日志，日志如下：
[log.txt](https://github.com/kubesphere/kubesphere/files/3874167/log.txt)

[2019-11-21 11:13] ethanxzw opened #1564 "helm应用部署后删除再部署时报名称已存在"
helm应用部署后删除再部署时报名称已存在。
![image](https://user-images.githubusercontent.com/41108414/69333043-e7af3800-0c92-11ea-9d4c-aae8ac74c0bc.png)
![image](https://user-images.githubusercontent.com/41108414/69333059-ee3daf80-0c92-11ea-9fe5-6e714ee3bbbc.png)

[2019-11-21 12:27] ethanxzw commented on #1456
已升级到2.1.0，但添加路由时，服务数仍然不对，比实际少很多
![image](https://user-images.githubusercontent.com/41108414/69337996-2ea22b00-0c9d-11ea-9993-62f39f496f23.png)

[2019-11-22 01:02] ethanxzw commented on #1564
后台用helm list --all查看，发现之前删除的应用还在且状态为DELETE
![image](https://user-images.githubusercontent.com/41108414/69389395-d9026880-0d06-11ea-9411-d3776e86ac4d.png)

[2019-11-22 01:22] for-mat opened #1567 "openldap安装失败"
之前卸载的时候，看helm ls 看有openldap，也给删了，不知道有没有清除干净
再次安装的时候，就报错了，之前安装是没这个报错的

**TASK [common : Kubesphere | Deploy openldap] ***********************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm upgrade --install ks-openldap /etc/kubesphere/openldap-ha -f /etc/kubesphere/custom-values-openldap.yaml --set fullnameOverride=openldap --namespace kubesphere-system\n",

[2019-11-22 01:24] for-mat commented on #1567
解决了，是helm没卸载干净，要用helm delete ks-openldap --purge
再重新装就好了

[2019-11-22 01:24] #1567 closed

[2019-11-22 01:54] hewenhong opened #1568 "2.0.2 升级2.1 出现coredns 配置丢失"
**问题描述**
从2.0.2 离线版升级 2.1 离线版 后，出现coredns 配置丢失。

**安装环境的硬件配置**
easystack  云主机

**Installer版本**
2.0.2 >> 2.1

[2019-11-22 02:38] pixiake commented on #1568
目前升级会默认还原系统组件配置，后续版本中会增加配置备份，如有其他需要备份的配置也请提供

[2019-11-22 02:39] runzexia commented on #1563
ref https://github.com/kubesphere/kubesphere/issues/1562
/close

[2019-11-22 02:40] runzexia commented on #1562
/cc @magicsong @zheng1
我上去看了下，ks apiserver 和 jenkins 是没有问题的。
怀疑是calico版本调整造成的网络问题

[2019-11-22 03:08] ellaye opened #1569 "创建存储类型时qingcloud-csi访问模式只有ReadWriteOnce，但是创建完成后yarm里面却有ReadWriteOnce, ReadOnlyMany, ReadWriteMany 三种"
![image](https://user-images.githubusercontent.com/57089340/69526231-b3928a80-0fa4-11ea-845a-25f6f7dfab4a.png)

PS：ceph也有这个问题

[2019-11-22 03:14] ellaye commented on #1569
/assign @justahole
/kind bug
/area console
/milestone 2.1

[2019-11-22 03:59] whbq opened #1570 "开启日志组件只产生了项目，并没有产生应用，服务。"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)
https://kubesphere.com.cn/forum/d/271
**问题描述**
开启日志组件只产生了项目，并没有产生应用，服务。
**安装环境的硬件配置**
2核  8G 阿里云
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/41784434/69397039-72d60f80-0d1f-11ea-8053-06c8eeae4730.png)

**Installer版本**
2.1

[2019-11-22 04:06] whbq commented on #1570
![image](https://user-images.githubusercontent.com/41784434/69397277-8df54f00-0d20-11ea-9eeb-d985beb08417.png)

[2019-11-22 04:41] gongjx11 opened #1571 "2.1 版本部署应用，报错提示 InvalidImageName"
我在部署应用提示这个错误，试了好几次，一直都是这个问题，麻烦帮忙看一下，
![image](https://user-images.githubusercontent.com/21954004/69398441-32799000-0d25-11ea-887b-5851c1a2c458.png)

![image](https://user-images.githubusercontent.com/21954004/69398469-4de49b00-0d25-11ea-8000-dd300c059648.png)

日志：
![image](https://user-images.githubusercontent.com/21954004/69398499-6eacf080-0d25-11ea-8dea-dda292dded9c.png)

麻烦帮忙看一下

[2019-11-22 06:15] magicsong commented on #1562
/area networking

[2019-11-22 06:37] gongjx11 commented on #1571
群里面以经帮我解答了，地址多加了http,谢谢群里大佬。

[2019-11-22 06:37] #1571 closed

[2019-11-22 06:47] xewn opened #1572 "Local Volume Create is waiting"
我使用的v2.1.0版本
**Describe the bug(描述下问题)**
安装成功后，第一个项目是没有问题的，可以正常运行。
创建第二个项目的时候，添加新的存储卷，本地的。
状态一直显示等待中，大概一小时了，也还是等待中，我重启服务器后，也还是等待中

电脑配置是thinkpad 4核16G，ssd 240G，centos7.5

[2019-11-22 09:37] Forest-L commented on #1572
1、可以到服务器上，检查下cpu和磁盘的使用情况；
2、kubectl get pvc --all-namespaces   看下

[2019-11-22 15:07] xewn commented on #1572
好的

[2019-11-22 15:12] xewn commented on #1572
有两个显示不一样的。一个是pending，一个是lost(这个被我修改过多次yaml配置文件)，分配的空间都是0

[2019-11-22 15:13] xewn commented on #1572
有两个显示不一样的。一个是pending，一个是lost(这个被我修改过多次yaml配置文件)，分配的空间都是0
rootmodel                      rootmodelpv                                        Pending   pvc-9e0f5d32-a0cf-4247-ac9d-f476adb7y43a   0                         local          8h
smopng                         smopngpv                                           Lost      pvc-E86B67FF-305B-4AC2-94E6-B653036838EB   0                         loc

[2019-11-23 09:16] FeynmanZhou opened #1573 "Install KubeSphere on GKE"
This guide walks you throungh the steps of KubeSphere minimal installation on Google Kubernetes Engine:
https://kubesphere.io/docs/v2.1/en/installation/install-on-gke/

[2019-11-23 09:32] yingmingzongyu commented on #1537
我也碰到同样问题，
[root@ks-allinone logs]# kubectl get pod -n kube-system
NAME                                           READY   STATUS             RESTARTS   AGE
calico-kube-controllers-6d94847b5-qwjws        1/1     Running            6          4h14m
calico-node-gxg4c                              1/1     Running            6          4h14m
coredns-647d4f64c4-qd85s                       0/1     Running

[2019-11-23 09:35] yingmingzongyu commented on #1537
我也碰到类似问题。
[root@ks-allinone logs]# kubectl get pod -n kube-system
NAME                                           READY   STATUS             RESTARTS   AGE
calico-kube-controllers-6d94847b5-qwjws        1/1     Running            6          4h14m
calico-node-gxg4c                              1/1     Running            6          4h14m
coredns-647d4f64c4-qd85s                       0/1     Running

[2019-11-23 23:32] LiuJason-CN opened #1574 "安装失败 error #0: dial tcp MASTER-IP:2379: getsockopt: connection refused"
**问题描述**
安装失败，重试了两次同样错误
**安装环境的硬件配置**
5台通配置机器，1主4从

CPU model            : AMD Opteron(tm) Processor 6172
Number of cores      : 24
CPU frequency        : 2099.998 MHz
Total size of Disk   : 100.0 GB (5.1 GB Used)
Total amount of Mem  : 58813 MB (893 MB Used)
Total amount of Swap : 0 MB (0 MB Used)
System uptime        : 0 days, 0 hour 47 min
Load average         : 0.24, 0.67, 0.80
OS

[2019-11-25 01:04] guoh1988 commented on #1528
@minghaoye 是浏览器的版本问题
kubesphere：2.1.0
firefox:52.0.2 打开有这个bug
firefox：68.1.0没有这个问题

[2019-11-25 01:58] tzghost opened #1575 "流水线构建完成后邮件通知报错"
邮件服务器配置正常，测试发送邮件成功，但流水线发布时使用邮件通知报错，提示Unknown SMTP host: mail.example.com，这个问题怎么处理？在哪里修改？
![image](https://user-images.githubusercontent.com/17000535/69506537-0864df80-0f6a-11ea-9b75-5078def78ed7.png)
![image](https://user-images.githubusercontent.com/17000535/69506541-0b5fd000-0f6a-11ea-8c4f-e3035197025d.png)
![image](https://user-images.githubusercontent.com/17000535/69506546-0f8bed80-0f6a-11ea-8

[2019-11-25 02:05] soulseen commented on #1575
可以参考下文档
https://kubesphere.io/docs/v2.1/zh-CN/devops/jenkins-setting/#%E4%BF%AE%E6%94%B9-jenkins-%E9%82%AE%E4%BB%B6%E6%9C%8D%E5%8A%A1%E5%99%A8%E8%AE%BE%E7%BD%AE

[2019-11-25 03:29] tzghost commented on #1575
解决了，原来是使用jenkins通知的

[2019-11-25 04:09] soulseen commented on #1575
嗯，后续会计划改进。https://github.com/kubesphere/kubesphere/issues/1426
/close

[2019-11-25 04:09] soulseen commented on #1575
/close

[2019-11-25 05:56] #1553 closed

[2019-11-25 05:57] #1555 closed

[2019-11-25 05:58] #1563 closed

[2019-11-25 06:00] #290 closed

[2019-11-25 06:00] #356 closed

[2019-11-25 06:00] #443 closed

[2019-11-25 06:01] #444 closed

[2019-11-25 06:01] #445 closed

[2019-11-25 06:01] #452 closed

[2019-11-25 06:01] #454 closed

[2019-11-25 06:03] #502 closed

[2019-11-25 06:03] #487 closed

[2019-11-25 06:04] #503 closed

[2019-11-25 06:04] #458 closed

[2019-11-25 06:04] #695 closed

[2019-11-25 06:04] #687 closed

[2019-11-25 06:05] #676 closed

[2019-11-25 06:05] #671 closed

[2019-11-25 06:08] zryfish commented on #659
close due to inactivity

[2019-11-25 06:08] #659 closed

[2019-11-25 06:08] zryfish commented on #663
close due to inactivity

[2019-11-25 06:08] #663 closed

[2019-11-25 06:09] zryfish commented on #652
close due to inactivity

[2019-11-25 06:09] #652 closed

[2019-11-25 06:10] zryfish commented on #675
close due to inactivity

[2019-11-25 06:10] #675 closed

[2019-11-25 06:10] zryfish commented on #696
close due to inactivity

[2019-11-25 06:10] #696 closed

[2019-11-25 06:10] zryfish commented on #672
close due to inactivity

[2019-11-25 06:10] #672 closed

[2019-11-25 06:10] zryfish commented on #665
close due to inactivity

[2019-11-25 06:10] #665 closed

[2019-11-25 06:10] zryfish commented on #653
close due to inactivity

[2019-11-25 06:10] #653 closed

[2019-11-25 06:11] zryfish commented on #648
close due to inactivity

[2019-11-25 06:11] #648 closed

[2019-11-25 06:11] zryfish commented on #626
close due to inactivity

[2019-11-25 06:11] #626 closed

[2019-11-25 06:11] zryfish commented on #625
close due to inactivity

[2019-11-25 06:11] #625 closed

[2019-11-25 06:11] zryfish commented on #601
close due to inactivity

[2019-11-25 06:11] #601 closed

[2019-11-25 06:12] zryfish commented on #707
close due to inactivity

[2019-11-25 06:12] #707 closed

[2019-11-25 06:12] zryfish commented on #709
close due to inactivity

[2019-11-25 06:12] #709 closed

[2019-11-25 06:12] zryfish commented on #717
close due to inactivity

[2019-11-25 06:12] #717 closed

[2019-11-25 06:17] #930 closed

[2019-11-25 06:17] zryfish commented on #933
close due to inactivity

[2019-11-25 06:17] #933 closed

[2019-11-25 06:18] whDongRui commented on #1542
/kind need-to-verify

[2019-11-25 06:18] whDongRui commented on #1498
/kind need-to-verify

[2019-11-25 06:21] runzexia commented on #447
/milestone 2.1.1

[2019-11-25 06:22] runzexia commented on #1123
/milestone 2.1.1

[2019-11-25 06:23] wansir commented on #797
/close

[2019-11-25 06:23] #797 closed

[2019-11-25 06:23] runzexia commented on #1023
/milestone 2.1.1

[2019-11-25 06:24] runzexia commented on #915
/close

[2019-11-25 06:24] #915 closed

[2019-11-25 07:33] ellaye commented on #1569
/assign @justahole

[2019-11-25 07:44] Forest-L opened #1577 "ks"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
3 masters:  8cpu/8g
3 nod

[2019-11-25 07:46] #1577 closed

[2019-11-25 07:51] Forest-L opened #1578 "ks2.1-ha环境，多次修改cm安装新的插件，etcd的pod启不来"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:2.1
Kubernetes: (If KubeSphere installer used, you can skip this)
k8s1.15

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
3 masters:  8c

[2019-11-25 07:59] hewenhong commented on #1568
另外升级的2.0.2 升级的时候请关注helm repo ，原来有的仓库也被清空了。

[2019-11-25 08:02] ellaye opened #1579 "当有存储卷使用了存储类型时，删除存储类型没有提示"
![image](https://user-images.githubusercontent.com/57089340/69704575-a903fc80-112e-11ea-802c-c14a8ac36f0b.png)

管理员可以随便删除存储类型，也不管有没有存储卷在用这个存储类型，也没有提示说有存储卷在用

[2019-11-25 08:03] ellaye commented on #1579
/assign @justahole
/kind bug
/area console
/milestone 2.1.1

[2019-11-25 08:20] ellaye commented on #1579
/kind design

[2019-11-25 08:42] ellaye opened #1580 "删除存储类型后点击存储卷报错不能查看存储卷详情"
步骤：
1、创建存储类型
2、创建存储卷，选择步骤一创建的存储类型
3、删除存储类型
4、点击存储卷查看存储卷
期望：可以正常打开存储卷
实际：报找不到相关资源

![image](https://user-images.githubusercontent.com/57089340/69525021-3403bc00-0fa2-11ea-99f3-88f18d0201d2.png)

![image](https://user-images.githubusercontent.com/57089340/69525000-277f6380-0fa2-11ea-86bb-b1d99c99ae86.png)

[2019-11-25 08:43] ellaye commented on #1580
/assign @justahole
/kind bug
/area console
/milestone 2.1.1

[2019-11-25 08:47] minghaoye commented on #1528
谢谢反馈，建议使用新版本的chrome或Firefox，后面我们测试下这个问题。

/close

[2019-11-25 08:47] #1528 closed

[2019-11-25 10:08] ellaye opened #1581 "存储卷列表部分异常没有显示在前端"
![image](https://user-images.githubusercontent.com/57089340/69531204-6d422900-0fae-11ea-9ccf-f9c9088c8b2b.png)

![image](https://user-images.githubusercontent.com/57089340/69531229-7af7ae80-0fae-11ea-9685-778349511ec9.png)

[2019-11-25 10:12] ellaye commented on #1581
/assign @wnxn
/assign @justahole
/kind bug
/area console
/area storage
/milestone 2.1.1

[2019-11-25 10:35] wnxn commented on #1581
这个在 2.1.1 后端要设计一下。

[2019-11-26 02:34] xugirl commented on #1491
ok ,thks

[2019-11-26 03:03] geniussheep commented on #1562
我们将calico升级到可 3.8.4但是依然还有 devops页面流水线页面、活动页面那块依然数据展示不出来，然后会曝出timeout异常
![image](https://user-images.githubusercontent.com/7587017/69596051-49c5bf80-103c-11ea-8332-26b0f5dcd779.png)
在api-server日志里 会有各种超时日志
`E1126 03:02:10.032712       1 devops.go:1077] Get http://ks-jenkins.kubesphere-devops-system.svc/blue/rest/organizations/jenkins/pipelines/project-XX2QnMAPrEwk/pipelines/dbms/: net/http: request

[2019-11-26 07:34] ellaye opened #1582 "存储卷列表中状态查询条件不生效"
存储列表中有准备就绪和等待中的存储卷
查询条件状态选择等待中，查询出来没有数据
![image](https://user-images.githubusercontent.com/57089340/69608243-f5cdd180-1061-11ea-848d-f37ff76c9d36.png)

![image](https://user-images.githubusercontent.com/57089340/69608253-fbc3b280-1061-11ea-80b9-11dedbe0eafd.png)

[2019-11-26 07:35] ellaye commented on #1582
/assign @justahole
/kind bug
/area console
/milestone 2.1.1

[2019-11-26 07:47] ellaye opened #1583 "创建存储卷时存储类型只显示10条可选"
步骤
创建存储类型超过10条
创建存储卷，选择存储类型
期望：所有的存储类型都能选到
实际：只能看到10条
![image](https://user-images.githubusercontent.com/57089340/69609258-097a3780-1064-11ea-92b7-b138f5e81954.png)

[2019-11-26 07:47] ellaye commented on #1583
/assign @justahole
/kind bug
/area console
/milestone 2.1.1

[2019-11-26 07:59] xewn commented on #1572
@Forest-L    我是240G的固态，是不是硬盘空间不够了？创建存储卷的时候，是如何分配硬盘空间的？我改成2G的存储卷，也是一直等待种。
pvc-e29be34b-f470-4456-9669-61c791786cd1   20Gi       RWO            local          4d5h
prometheus-k8s-system-db-prometheus-k8s-system-0   Bound     pvc-2313ebe6-b240-4170-9c72-3b2120880533   20Gi       RWO            local          4d5h
openldap-pvc-openldap-0                            Bound     pvc-9e0f5d32-a0cf-4247-ac9d

[2019-11-26 08:05] xewn commented on #1579
你这个，我们都可以访问嗯。
SMTP配置，咋个还把密码也返回来了？
<input name="password" type="password" id="password" class="input is-default" value="P@ssw0rd">

[2019-11-26 08:06] xewn commented on #1579
input name="password" type="password" id="password" class="input is-default" value="P@ssw0rd"

[2019-11-26 08:08] xewn commented on #1582
这个等待中的存储卷，是不是提示下，为啥一直处于等待呢？
我创建了几次，一直是等待中，就是不成功。也不懂为什么等待。

[2019-11-26 08:10] whbq opened #1584 "平台组件收录日志问题---中文日志不收录"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.
在使用日志组件的过程中，日志带有中文字符，不会显示
For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:
64c 512g

(and

[2019-11-26 08:21] zops opened #1585 "kubesphere 安装"
kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/master/kubesphere-minimal.yaml

在现有K8s集群安装kubesphere，需要先执行上面命令安装初始化容器，此容器会自动执行ansible安装各种组件。

想咨询，如果我要卸载kubesphere时，通过什么方式卸载呢？

[2019-11-26 08:28] 53537 opened #1587 "创建helm应用，使用应用模板后应用实际安装namespaces会是list首个"
ks2.1，使用应用模板创建应用，应用实际部署namespaces不是操作部署应用的ns；使用应用商店部署应用不会出现ns错误问题。
![image](https://user-images.githubusercontent.com/37730538/69611834-98d61980-1069-11ea-829e-dc82cbe4c088.png)
![image](https://user-images.githubusercontent.com/37730538/69611881-af7c7080-1069-11ea-982c-3ad0d34ecf34.png)
部署应用至namespaces p2c-ops，应用实际部署在p2c-api

[2019-11-26 10:11] jiazemin opened #1588 "离线安装 就会卡住这 不往下走了 2019-11-26T09:47:53Z INFO : Running schedule manager ..."
2019-11-26T09:47:53Z INFO     : Running schedule manager ...

[2019-11-26 10:15] jiazemin opened #1589 "离线安装 v2.1.0 卡住在这个地方不往下走了"
**问题描述**

物理机 离线安装 v2.1.0   卡住在这个地方不往下走了

2019-11-26T09:47:53Z INFO     : shell-operator v1.0.0-beta.5
2019-11-26T09:47:53Z INFO     : HTTP SERVER Listening on 0.0.0.0:9115
2019-11-26T09:47:53Z INFO     : Use temporary dir: /tmp/shell-operator
2019-11-26T09:47:53Z INFO     : Initialize hooks manager ...
2019-11-26T09:47:53Z INFO     : Search and load hooks ...
2019-11-26T09:47:53Z INFO     : Initi

[2019-11-26 12:49] magicsong commented on #1562
有相关的环境可以看一下吗？

[2019-11-27 02:20] ellaye opened #1591 "创建工作负载选择存储卷时只显示10条可选"
![image](https://user-images.githubusercontent.com/57089340/69687933-8b6b6e80-10ff-11ea-9bdb-a27e30795ea1.png)

[2019-11-27 02:20] ellaye commented on #1591
/assign @justahole
/kind bug
/area console
/milestone 2.1.1

[2019-11-27 02:36] hewenhong opened #1592 "kubesphere 2.1 工作负载副本显示一个，但在容器组里显示为2个。"
**Describe the bug(描述下问题)**
新建部署，在部署下看到一个容器组，但在容器组中可以看到两个容器组，删除其中一个，会重新建立。
![image](https://user-images.githubusercontent.com/8400716/69688563-62e47400-1101-11ea-9518-700ad385254d.png)

![image](https://user-images.githubusercontent.com/8400716/69688596-7db6e880-1101-11ea-9841-2a901af78bd6.png)

![image](https://user-images.githubusercontent.com/8400716/69688689-b9ea4900-1101-11ea-89a2-7afc1675c37

[2019-11-27 03:24] ellaye opened #1593 "创建ceph存储类型时imageFeatures默认显示2"
按照这个官方文档，当imageFormat为2的时候，imageFeatures只支持layering，所以应该显示layering

![image](https://user-images.githubusercontent.com/57089340/69690976-71825980-1108-11ea-8691-fe76a8fab479.png)

[2019-11-27 03:24] ellaye commented on #1593
/assign @justahole
/kind bug
/area console
/milestone 2.1.1

[2019-11-27 03:24] hewenhong opened #1594 "helm repo 可以增加，但是无法在kubesphere 应用仓库中增加。"
**Describe the bug(描述下问题)**
通过helm repo add  可以直接增加helm 仓库，但是同样路径无法在kubesphere 界面中增加。

![image](https://user-images.githubusercontent.com/8400716/69690958-64656a80-1108-11ea-8040-5513191dc56e.png)
![image](https://user-images.githubusercontent.com/8400716/69690975-6fb89600-1108-11ea-8ea7-0e7c26579456.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1
Kubernetes: (If KubeSphere insta

[2019-11-27 03:32] hewenhong opened #1595 "创建项目设置了配额，创建完成后发现配额变成了无限制"
**Describe the bug(描述下问题)**
创建项目时设置项目配额为4core cpu， 8000Mi 内存。
创建项目完成，查看项目，发现项目的配额变成了无限制。

![image](https://user-images.githubusercontent.com/8400716/69691239-7398e800-1109-11ea-9459-93759466601e.png)
![image](https://user-images.githubusercontent.com/8400716/69691257-7f84aa00-1109-11ea-985a-fb189c641050.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:
Kubernetes: (If KubeSphere instal

[2019-11-27 03:37] pixiake commented on #1537
可以kubectl  logs  看下这两个pod 日志

[2019-11-27 03:37] FeynmanZhou commented on #1537
openebs 没有起来，kubectl describe 和 logs 看看这两个异常 pod ？

[2019-11-27 03:38] zryfish commented on #1595
创建项目时设置的不是项目配额，是默认的工作负载配额，上面文字提示有。项目配额是在项目的高级设置中单独设置。这两个不一样

[2019-11-27 03:52] hewenhong commented on #1595
ok，这个很容易产生误解，建议从界面上做修改。以免造成误解。

[2019-11-27 03:59] wansir commented on #1592
https://github.com/kubernetes/kubernetes/issues/24330
https://github.com/kubernetes/kubernetes/issues/41641

看来这个bug依旧存在， 可以清理一下遗留的 replicaset 或是通过限制 revisionHistoryLimit.

[2019-11-27 04:00] hewenhong opened #1596 "kubesphere 创建svc 后指定工作负载，前端加载问题"
**Describe the bug(描述下问题)**
创建service 后进行指定工作负载，当工作负载较多的情况，前端需要通过加载，并且加载窗口会消失
![image](https://user-images.githubusercontent.com/8400716/69692419-f0799100-110c-11ea-8f0d-443e9d4a6f6d.png)
![image](https://user-images.githubusercontent.com/8400716/69692431-fa02f900-110c-11ea-9f01-e8da88ff5a33.png)

2.0.2 窗口下有搜索，为啥升级到2.1 界面反而没有了搜索？：
![image](https://user-images.githubusercontent.com/8400716/69692481

[2019-11-27 04:22] Tianny opened #1597 "logging模块开启 kibana，无法下载镜像"
默认是从青云仓库拉去的。导致镜像拉去不了。
![image](https://user-images.githubusercontent.com/11434826/69693517-8662eb00-1110-11ea-921e-f5dc2c494cc7.png)

[2019-11-27 05:46] calvinyv commented on #1596
/assign @leoendless
/kind bug

[2019-11-27 05:48] calvinyv commented on #1594
/kind bug

[2019-11-27 05:49] pengcong06 commented on #1594
![Screenshot from 2019-11-27 13-46-17](https://user-images.githubusercontent.com/5153147/69697072-8cf75f80-111c-11ea-9f38-c79625f607f5.png)

[2019-11-27 05:52] calvinyv commented on #1592
@hewenhong this is bug from K8s, and we will keep watch the update from K8s, if any fix is provided from community, we will integrate it in KubeSphere 2.1.1

@wansir is there any workaround? some double check in ks code to make sure this rs is clear?

[2019-11-27 05:52] calvinyv commented on #1592
/kind bug
/assign @wansir

[2019-11-27 05:52] leoendless commented on #1596
Will be fixed in 2.1.1

[2019-11-27 05:54] calvinyv commented on #1595
/assign @leoendless @Carlosfengv
/kind bug
/area console
maybe we should remove the text '配额' from the page title

[2019-11-27 05:55] calvinyv commented on #1568
/kind bug
/assign @pixiake

[2019-11-27 05:57] calvinyv opened #1598 "Discussion: 全局仓库"
2.0.2 应用仓库采用全局设计，只需增加仓库后，每个企业空间都可以使用。而在2.1 上需要在每个企业空间去增加应用仓库，使用不方便，并且在企业空间增加应用仓库，无法在应用商店查看到应用。

[2019-11-27 05:57] calvinyv commented on #1598
@hewenhong @Carlosfengv @pengcong06 @zheng1

[2019-11-27 05:59] calvinyv commented on #1594
@hewenhong go ahead to communicate with pengcong directly and provide your env

[2019-11-27 06:03] Carlosfengv commented on #1598
![image](https://user-images.githubusercontent.com/23092051/69697761-6a664600-111e-11ea-9fce-fcf7e904facb.png)
这里是可以看到的，后续可以给仓库加可见范围是Global还是WorkSpace 或者 ns (已有先例)。 但不应该跟应用商店混在一起。

[2019-11-27 06:16] gongjx11 opened #1599 "2.1 版本istio helm 更新后无法注册"
2.1 版本 istio helm 更新后pod 无法注册,没有更新前是可以的，部署官方恢度示例也是这样的，无法注册，
请求时流量制理也没有。
![image](https://user-images.githubusercontent.com/21954004/69698259-da290080-111f-11ea-9f87-0ab134b715ef.png)

![image](https://user-images.githubusercontent.com/21954004/69698321-03e22780-1120-11ea-9e2b-fdc7d883218b.png)
下面是流量请求
![image](https://user-images.githubusercontent.com/21954004/69698372-1eb49c00-1120-11ea-9a9e-364c

[2019-11-27 07:09] mayuhope opened #1600 "同一个浏览器启动2个实例，用户权限不同，高权限用户操作时频繁报403建议做登出处理"
测试环境：
http://139.198.0.37:30880/
浏览器：chrome  版本 78.0.3904.108（正式版本） （64 位）

测试步骤：
1、在chrome浏览器中先登录用户admin；
2、打开另一个浏览器实例，使用低级别权限的用户登录；
3、回到admin用户操作的浏览器页面，进行一些操作，结果页面频繁报403；

修改建议：
3、此时高级别权限用户操作时，直接触发登出操作比较合理

[2019-11-27 07:09] mayuhope commented on #1600
/assign @leoendless
/kind bug
/area console
/milestone 2.1.1

[2019-11-27 07:12] hewenhong commented on #1598
在这里是可以看到每个单独企业空间的应用模板，但是如果企业空间太多，就需要在每个企业空间上增加应用模板，肯定是增加了很多手工操作的步骤。
另外这里和2.0.x 不一样的地方是，2.0.2 直接在没部署之前，是可以看到所有应用模板，而在2.1 不能直观的查看到我们已经增加的应用模板， 只能通过创建应用，再来选应用

[2019-11-27 07:18] Carlosfengv commented on #1598
你说的第一个问题以后可以支持 可见范围来搞定，一个企业空间相当于一个租户，有些租户的repo并不想让其他的企业空间看到，所以2.0.2 的方式搞不定。 第二个问题以后也会在应用仓库的详情显示有哪些应用。

[2019-11-27 07:30] mayuhope opened #1601 "devops工程中“项目角色”建议修改为“工程角色”"
建议下面2处文案改进为“工程角色”，这样方便和项目角色分开
![image](https://user-images.githubusercontent.com/7677050/69702686-b919dd00-112a-11ea-87d0-8cd10763aa34.png)

[2019-11-27 07:30] mayuhope commented on #1601
/assign @leoendless
/kind improve
/area console
/milestone 2.1.1

[2019-11-27 07:37] hewenhong commented on #1594
@calvinyv 这个很奇怪的现象就在这里，我在所有的node和master 上都可以通过helm repo add 增加，但是界面就是增加不了。

[2019-11-27 07:43] hewenhong commented on #1598
@calvinyv ok， 我觉得这样可以。

[2019-11-27 07:50] huanggze commented on #1597
请尝试 docker.elastic.co/kibana/kibana-oss:6.7.0

[2019-11-27 07:51] leoendless commented on #1600
是正常的，同一个浏览器的 cookie 通用了，后登录的token覆盖了之前的

[2019-11-27 07:51] huanggze commented on #1584
请问使用的 KubeSphere 哪个版本？

[2019-11-27 07:51] Tianny commented on #1597
直接本机 docker pull 这个镜像吗？还是需要修改对应配置文件，如果需要修改，请告诉下路径。谢谢哈

[2019-11-27 07:54] mayuhope commented on #1600
嗯，这个原因我知道，我的意思是最好把高权限登录报错那个，通过点击操作触发登出处理，这种做法比较常见。

[2019-11-27 08:00] calvinyv commented on #1598
/assign @pengcong06

[2019-11-27 08:12] leoendless commented on #1600
可以看下是哪个api吗，应该返回401而不是403

[2019-11-27 08:19] huanggze commented on #1597
把 kibana Deployment 的 .spec.template.containers.image 字段修改成上面这个哈。因为qingcloud 的镜像仓库是写到 ks-installer 里了，只有master 分支更新了,2.1.0 release 没有。所以要改 kibana Deployment

[2019-11-27 08:22] #1597 closed

[2019-11-27 08:22] Tianny commented on #1597
谢谢

[2019-11-27 08:29] leoendless commented on #1600
这里其实是旧页面以新token来请求数据了，返回403是正常的，也不应该对403 进行登出操作，应该其它很多情况也是会可能抱着个错的

[2019-11-27 09:26] Tianny opened #1603 "Ingress 创建后无法分配网关地址"
已经开启 NodePort 网关。
![image](https://user-images.githubusercontent.com/11434826/69710679-c9d24f00-113a-11ea-990d-219acbe87ee7.png)
但是 ingress 创建后无法获取网关地址
![image](https://user-images.githubusercontent.com/11434826/69710708-d787d480-113a-11ea-864e-3d53a7d6085b.png)

下面两个是ingress 后面的service
![image](https://user-images.githubusercontent.com/11434826/69710798-fab28400-113a-11ea-935f-d0260eeec9e5.png)
!

[2019-11-27 09:56] pengcong06 commented on #1587
贴一下这个位置的浏览器请求参数看看

[2019-11-27 10:03] 53537 commented on #1587
Request URL: https://ks.benlai.cloud/kapis/openpitrix.io/v1/namespaces/ops/applications

header:
authority: ks.benlai.cloud
:method: POST
:path: /kapis/openpitrix.io/v1/namespaces/ops/applications
:scheme: https
accept: */*
accept-encoding: gzip, deflate, br
accept-language: zh-CN,zh;q=0.9,fr;q=0.8
cache-control: no-cache
content-length: 837
content-type: application/json
cookie: lang=zh; currentU

[2019-11-27 10:05] 53537 commented on #1587
是在p2c-ops的名称空间下部署的应用，实际却部署在了第一个名称空间ops

[2019-11-27 10:34] ftlynx opened #1604 "安装devops后界面上面不显示devops"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
我用k8s安装最小化版本
kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/master/kubesphere-minimal.yaml
然后编辑configmap
kubectl edit cm -n kubesphere-system ks-installer
将devops 打开
    devops:
      enabled: true
      jenkinsMemoryLim: 2Gi
      jenkinsMemoryReq: 1500Mi
      jenkinsVolumeSize: 8Gi
      jenkinsJavaOpts

[2019-11-27 13:33] hewenhong commented on #1594
@pengcong06 已经提供日志，如果需要其他日志，请联系我。

[2019-11-27 13:44] hewenhong opened #1605 "升级建议"
**问题描述**
2.0.x 升级到2.1 很多配置漏写，造成升级有些服务没有更新

**安装环境的硬件配置**
2.0.x 升级到2.1

**错误信息或截图**

**Installer版本**
2.0.2 >>> 2.1

** 建议 **
建议以后升级的installer 能从原来的服务、或者安装包进行读取一些原有的配置，减少人工手写配置的情况，以免造成某些配置和服务没有更新或错误，升级建议优先读取原有环境配置形成升级配置文件后，再提供给用户进行修改，如改成false 的服务可以进行删除掉，改成true 可以进行追加。

@pixiake

[2019-11-27 14:57] FeynmanZhou commented on #1604
@ftlynx  如果是在 k8s 安装的，开启 devops 组件创建证书前需要先创建证书，参考 [ks-installer](https://github.com/kubesphere/ks-installer)

[2019-11-27 14:58] FeynmanZhou commented on #1599
论坛已回复

[2019-11-27 14:58] #1599 closed

[2019-11-28 01:42] ftlynx commented on #1604
我看了下，只需要这个操作？
$ kubectl create ns kubesphere-system
$ kubectl -n kubesphere-system create secret generic kubesphere-ca  \
--from-file=ca.crt=/etc/kubernetes/pki/ca.crt  \
--from-file=ca.key=/etc/kubernetes/pki/ca.key

上面这步我是执行了的，如果没执行安装的时候会报错。我现在是安装成功了。
etcd的没有创建，我现在创建了，但是还是没有，我看也不是必须的。
是否还差步骤呢？

[2019-11-28 02:00] Tianny commented on #1603
后来又好了，我在虚拟机中测试的，应该是分配比较慢。

[2019-11-28 02:00] #1603 closed

[2019-11-28 02:00] hewenhong opened #1606 "删除应用后，新建相同名称应用会报已存在。"
**Describe the bug(描述下问题)**
将原有名称为postgresql的应用删除后（因建立版本错误，需重新建立），新建同样名称的postgresql会报已存在，在后台通过helm list -a 查看，实际没有删除。

![image](https://user-images.githubusercontent.com/8400716/69770862-92f54b00-11c5-11ea-8e0a-321c8550842a.png)

![image](https://user-images.githubusercontent.com/8400716/69770848-883ab600-11c5-11ea-8922-479f286827e1.png)

For UI issues please also add a screenshot that shows the i

[2019-11-28 02:17] pengcong06 commented on #1587
明白你的意思
你在执行以下这个命令,看看日志
[code]

[2019-11-28 03:05] Tianny opened #1607 "在平台设置中没有添加应用仓库的选项"
![image](https://user-images.githubusercontent.com/11434826/69773817-e4560800-11ce-11ea-9465-1814c8409724.png)
如上图，在平台设置中没有添加应用仓库的选项

[2019-11-28 03:17] Tianny commented on #1607
2.1 移到到企业空间下了。

[2019-11-28 03:17] #1607 closed

[2019-11-28 03:25] lijinbang opened #1608 "安装以后应用商店报错"
**General remarks**

**Describe the bug(描述下问题)**
安装以后打开应用商店报错
![image](https://user-images.githubusercontent.com/18083299/69774723-c1792300-11d1-11ea-8da9-72092dc6ee8c.png)

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: v2.1.0

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
3 master

[2019-11-28 03:29] ftlynx commented on #1604
![image](https://user-images.githubusercontent.com/9986883/69770516-45c4a980-11c4-11ea-835d-54a04bcd92b6.png)
左边的“devops工程” 一直没有

[2019-11-28 03:30] ftlynx commented on #1604
![image](https://user-images.githubusercontent.com/9986883/69775014-70b5fa00-11d2-11ea-95a0-eaf307a0b325.png)
还差服务组件吗

[2019-11-28 03:37] wansir commented on #1608
可以检查一下openpitrix-system下openpitrix-db-init-job这个job是否完成，或重新执行该job，初始化数据库
[code]

[2019-11-28 03:38] wansir commented on #1608
需要检查一下存储卷的读写权限，可能是因为数据无法写入

[2019-11-28 03:43] wansir commented on #1564
https://github.com/kubesphere/kubesphere/issues/1606
https://github.com/kubesphere/kubesphere/issues/1559

/assign @pengcong06

[2019-11-28 03:51] wansir commented on #1604
@ftlynx  system-workspace 是系统保留的，需要新建workspace 创建项目、devops工程

[2019-11-28 04:42] ellaye opened #1609 "主机的CPU和内存占用显示与kubectl top nodes显示不一致"
![image](https://user-images.githubusercontent.com/57089340/69776463-4b77ba80-11d7-11ea-8919-3b193866d4fe.png)

![image](https://user-images.githubusercontent.com/57089340/69777642-289bd500-11dc-11ea-8f65-9794bbd5d175.png)

[2019-11-28 04:46] ellaye commented on #1609
/assign @huanggze
/kind bug
/area monitoring
/milestone 2.1.1

[2019-11-28 05:23] lijinbang commented on #1608
检查了一下权限正常

[2019-11-28 05:24] lijinbang commented on #1608
执行上条代码以后把job删除了然后还是报同样的错误

[2019-11-28 05:25] 53537 commented on #1587
没有相关日志

[2019-11-28 05:41] ftlynx commented on #1604
可以了。。。
但是我怎么能把system-workspace的项目移动到这个空间下面呢？我看编辑功能里面没有移动的说法。

[2019-11-28 05:58] 53537 commented on #1587
2019-11-26 07:43:46.34072 -INFO- Request received [SplitJobIntoTasks] [&{UserId:system OwnerPath::system AccessPath:}] [{"runtime_id":"runtime-Xkz26vjj726k","job":{"job_id":"j-wV06P62VAknw","cluster_id":"cl-jw7wp00lpnlr9q","app_id":"app-3GvrkOR7AJ7M","version_id":"appv-m3j2LgE9mk9p","job_action":"CreateCluster","status":"working","error_code":0,"directive":"{\"Cluster\":{\"Zone\":\"ops\",\"Cluster

[2019-11-28 06:28] ellaye opened #1610 "监控中心dashboard组件状态点击不能进入服务组件列表"
![image](https://user-images.githubusercontent.com/57089340/69782224-62280c80-11eb-11ea-9fd1-494dbb900a0a.png)

[2019-11-28 06:29] ellaye commented on #1610
/assign @leoendless
/kind bug
/area console
/milestone 2.1.1

[2019-11-28 06:46] guoh1988 opened #1611 "无法找到openldap-pvc"
**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.13.7

**To Reproduce(复现步骤)**
Steps to reproduce the behavior:
1. 选择项目kubesphere-system
2. 选择工作负载，点击有状态副本集
3. 点击openldap，右上角出没有openldap-pvc的报错
![微信图片_20191128144318](https://user-images.githubusercontent.com/28557169/69782982-808f0780-11ed-11ea-929e-27969fa78ef4.jpg)

4.查看后台是有两个openldap的pvc，浏览器版本firefox68.1.0
![微信图片_2019112

[2019-11-28 07:26] wansir commented on #1611
It's wrong to get pvc name through  `spec.template.spec.volumes[*].persistentVolumeClaim.claimName` field of statefulset

/kind bug
/milestones 2.1.1

/assign @leoendless

[2019-11-28 07:50] wjt889 opened #1612 "更新后旧的pod依然存在"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
3 masters:  8cpu/8g
3 nod

[2019-11-28 07:57] pengcong06 commented on #1587
@whDongRui

这里抓日志的现象是这样的,前端发出的请求的runtime_id = runtime-Xkz26vjj726k
后端CreateCluster的日志看到runtime-Xkz26vjj726k对应的zone是ops
可能是前端传的不是用户选中的project

[2019-11-28 07:58] wansir commented on #1612
You can set .spec.revisionHistoryLimit to tell the Deployment how many old replicasets to keep around.

https://github.com/kubesphere/kubesphere/issues/1592

[2019-11-28 07:58] ellaye opened #1613 "集群状态页面有几个组件看不出来是什么状态"
![image](https://user-images.githubusercontent.com/57089340/69787650-e84a5000-11f7-11ea-8233-d7afed195213.png)

[2019-11-28 07:58] ellaye commented on #1613
/assign @justahole
/kind bug
/area console
/milestone 2.1.1

[2019-11-28 08:02] geniussheep commented on #1562
今天又复现了   你们有人需要上来看吗？加我微信:liangtouyang

[2019-11-28 08:03] FeynmanZhou commented on #1562
@geniussheep 可以把远程连接 kubesphere@yunify.com

[2019-11-28 08:06] for-mat commented on #974
这种情况如何处理呢，我改了配置扩容，但是实际上容量没有变化，重启pod也没有变化

[2019-11-28 08:26] geniussheep commented on #1562
邮件发啦，请查收

[2019-11-28 08:32] justahole commented on #1591
接口应该是改成不支持那全部的功能了，这样的问题现在应该有很多哦

[2019-11-28 08:36] ellaye opened #1614 "The component not enabled display incomplete"
![image](https://user-images.githubusercontent.com/57089340/69790314-39107780-11fd-11ea-9448-0461920a45a4.png)

[2019-11-28 08:36] ellaye commented on #1614
/assign @justahole
/kind bug
/area console
/milestone 2.1.1

[2019-11-28 09:06] magicsong commented on #1562
@geniussheep 你的pipeline jenkinsfile大小如何？是否有一些大的jenkinsfile

[2019-11-28 09:07] geniussheep commented on #1562
没有呀 我现在的jenkins pipeline  都是用的  share library

[2019-11-28 09:16] ftlynx commented on #1604
已找到，修改 namespace的标签就可以了。

[2019-11-28 09:16] #1604 closed

[2019-11-28 09:19] magicsong commented on #1562
能看一下你们的jenkinfile的大小吗

[2019-11-28 09:24] geniussheep commented on #1562
可以呀

[2019-11-28 09:24] geniussheep commented on #1562
![image](https://user-images.githubusercontent.com/7587017/69793729-fc944a00-1203-11ea-80c0-9ebc67eaec44.png)

[2019-11-28 09:25] geniussheep commented on #1562
就这两个

[2019-11-28 11:22] hewenhong opened #1615 "kubesphere 界面无法调整istio gateway 的hpa 最小副本"
**Describe the bug(描述下问题)**
![image](https://user-images.githubusercontent.com/8400716/69802254-2190b900-1214-11ea-9e4f-c13eaf9817f5.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

3 masters:  8cpu/16g
12 nodes: 8cpu/16g

(and other info are we

[2019-11-28 13:36] #1583 closed

[2019-11-29 02:47] zryfish commented on #1615
内存目标使用量不能是0%，得是正的

[2019-11-29 02:48] ellaye opened #1616 "The value of Local Storage is different with df command"
![image](https://user-images.githubusercontent.com/57089340/69840229-bab3e400-1295-11ea-83a3-1eb7a4c74419.png)

![image](https://user-images.githubusercontent.com/57089340/69840218-aec82200-1295-11ea-8f50-f384a32f5fdb.png)

![image](https://user-images.githubusercontent.com/57089340/69840250-cef7e100-1295-11ea-9e05-62098398aa9d.png)

[2019-11-29 02:49] ellaye commented on #1616
/assign @huanggze
/kind bug
/area monitoring
/milestone 2.1.1

[2019-11-29 02:59] hewenhong commented on #1615
不好意思。错了

[2019-11-29 02:59] #1615 closed

[2019-11-29 03:36] ellaye opened #1617 "After one node is shut down,the status in Events is normal"
![image](https://user-images.githubusercontent.com/57089340/69841953-4e88ae80-129c-11ea-894e-502f82930214.png)

[2019-11-29 03:36] ellaye commented on #1617
/assign @leoendless
/kind bug
/area console
/milestone 2.1.1

[2019-11-29 03:40] ellaye opened #1618 "After one node is shut down, the status about NetworkUnavailable is still normal"
![image](https://user-images.githubusercontent.com/57089340/69842108-f4d4b400-129c-11ea-8f0a-d7a665f2e122.png)

[2019-11-29 03:40] ellaye commented on #1618
/assign @leoendless
/kind bug
/area console
/milestone 2.1.1

[2019-11-29 05:28] FeynmanZhou commented on #1548
Fixed, see  https://kubesphere.io/docs/v2.1/zh-CN/quick-start/hpa/

[2019-11-29 05:28] #1548 closed

[2019-11-29 06:28] wansir opened #1619 "hyperpitrix release app job sometimes fails"
**Describe the bug(描述下问题)**

hyperpitrix release app job sometimes fails, app store is empty.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: v2.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Expected behavior(预期行为)**

hyperpitrix release app job executed successfully.

[2019-11-29 06:29] wansir commented on #1619
/kind bug
/milestones 2.1.1
/assign @pengcong06

[2019-11-29 06:30] wansir commented on #1619
/milestone 2.1.1

[2019-11-29 08:21] ellaye opened #1621 "There is no default value about time interval"
![image](https://user-images.githubusercontent.com/57089340/69854376-ef3e9480-12c3-11ea-8ad3-47116e289409.png)

[2019-11-29 08:22] ellaye commented on #1621
/assign @justahole
/kind bug
/area console
/milestone 2.1.1

[2019-11-29 08:41] xwb2535 commented on #1302
以前用docker模式都不会出现端口被终端。就比如mysql工作，打开的窗口，2分钟不动之后，再去执行一条语句，mysql工具就会卡死，好像连接被关闭，他要重新打开连接，等待1分钟之后重连，然后才会执行成功语句，redis工具也是一样。换了好几个网络都这样，以前用docker单机直接暴露主机端口是不存在这种情况。现在用这个k8s集群就经常这样。我也不知道应该要询问阿里云是因为全部端口暴露了他固定时间关闭我的连接，还是这边dns管理出现问题导致这样的现象。跟之前的putty 的远程很像。

[2019-11-29 09:07] wansir commented on #1302
公网ip 是直接绑定在主机上的吗？ NodePort相较于docker 网络只是多了几次nat转发，不会有超时机制，你可以检查一下网络链路，看看是在哪个环节发生了中断。实际使用中NodePort不应该出现这样的问题

[2019-11-29 09:46] xwb2535 commented on #1302
恩。阿里云，直接绑定到主机，用Ip+端口访问。

[2019-11-29 09:49] xwb2535 commented on #1302
[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
[mysql]
no-auto-rehash

[mysqld]
port = 3306
datadir = /var/lib/mysql
lower_case_table_names = 1
max_connections = 3000
max_user_connections=2980
max_connect_errors=1000000
max_allowed_packet = 1073741824
event_scheduler = 1
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUT

[2019-11-29 09:53] xwb2535 commented on #1302
[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
[mysql]
no-auto-rehash

[mysqld]
port = 3306
datadir = /var/lib/mysql
lower_case_table_names = 1
max_connections = 3000
max_user_connections=2980
max_connect_errors=1000000
max_allowed_packet = 1073741824
event_scheduler = 1
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUT

[2019-11-29 10:13] wansir commented on #1302
检查一下阿里云安全组的配置,可以搜索到相关的问题

[2019-12-03 07:23] soulseen opened #1627 "can't search image from QingCloud Docker Hub"
**Describe the bug(描述下问题)**
push an image to QingCloud Docker Hub, but not found this image by kubesphere image search

![image](https://user-images.githubusercontent.com/16031013/70028783-86675d00-15e0-11ea-8daa-0d055bd3ebfc.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: v2.1.0

**To Reproduce(复现步骤)**
Steps to reproduce the behavior:
1. create a secret
![image](https://user-images.

[2019-12-03 07:24] soulseen commented on #1627
/assign @soulseen

[2019-12-03 07:31] soulseen commented on #1627
is not used SSL in search image by default, if need use SSL, when creating secret should add "https://" in registry address.

[2019-12-03 07:34] soulseen commented on #1575
/close
prow is back😄

[2019-12-03 07:34] #1575 closed

[2019-12-03 09:11] knowwinter opened #1629 "s2i自制镜像不填runtimeimage依然会执行相关操作"
自制的java s2i镜像，模板配置中去掉了runtimeimage相关配置，但是在执行构建时依然会去执行从builder images拉取制品到runtimeimage的操作，但因为没有所以报错了，相关报错信息和配置如截图：
![微信图片_20191203170315](https://user-images.githubusercontent.com/25719964/70036573-fdf0b880-15ef-11ea-86ee-0961bc78d0c2.png)
![微信图片_20191203170532](https://user-images.githubusercontent.com/25719964/70036583-021cd600-15f0-11ea-93b9-8a0b4b044902.png)

[2019-12-03 09:13] knowwinter commented on #1629
![微信图片_20191203171301](https://user-images.githubusercontent.com/25719964/70036661-2f698400-15f0-11ea-9fcc-e3ed94b02afb.png)

[2019-12-03 11:02] soulseen commented on #1629
刚验证了下没有复现，能说明下复现步骤吗，可以把创建s2i builder 时的信息贴一下吧。

[2019-12-04 02:15] tzghost opened #1630 "multi-mode模式，使用外部nginx做SLB，在使用过程中经常出现界面白屏"
我部署的是2.1 multi-mode模式，使用外部nginx做SLB，在使用过程中经常出现界面白屏，需要刷新多次才正常的情况，使用火狐浏览器也会出现，另外其它同事使用过程中也很频繁，这种情况要怎么排查分析？

如下：
![image](https://user-images.githubusercontent.com/17000535/70106574-fd533300-167e-11ea-822b-2827cdb23b95.png)

[2019-12-04 03:31] hewenhong commented on #1594
已经找到问题，原因是客户dns 解析问题。此issue 关闭，多谢。

[2019-12-04 03:31] #1594 closed

[2019-12-04 04:41] knowwinter commented on #1629
昨天测试了一下，同样的模板把codeFramework改成php或其他非java的框架，都可以正常构建，但是一旦改成java的框架，就会自动带上runtimeimage，而且还碰到几次创建完根本无法启动s2i job的问题，点进去是无效状态，而且点事件什么的会报403错误

[2019-12-04 04:46] knowwinter commented on #1629
![微信图片_20191204124554](https://user-images.githubusercontent.com/25719964/70113407-07cbf780-1694-11ea-8883-a5d87fbb1418.png)
![微信图片_20191204124626](https://user-images.githubusercontent.com/25719964/70113438-25995c80-1694-11ea-8aa8-5018bbafff03.png)
![微信图片_20191204124640](https://user-images.githubusercontent.com/25719964/70113441-27fbb680-1694-11ea-9561-8727582f2756.png)

[2019-12-04 04:52] knowwinter commented on #1629
![微信图片_20191204125129](https://user-images.githubusercontent.com/25719964/70113651-cee05280-1694-11ea-868a-4781d87d6c49.png)
一开始取名的镜像带有下划线_提示不合法，后来改了，但是貌似他只认第一次的，后面改了没用。。。

[2019-12-04 05:16] knowwinter commented on #1629
那个s2i job无法跑起来的问题，我测了一下应该是镜像名称中带有横杠 “-” 他就会这样跑不起来，我的镜像是devops-java-sample/sino-sat 设成这个sino-sat他就会这样跑不起来，如果去掉中杠比如sinosat就可以跑起来，这个是不是bug

[2019-12-04 05:18] knowwinter commented on #1629
而且这个问题只存在于java，我做了一个php的构建没有这个问题，镜像名带中杠也能成功构建

[2019-12-04 05:31] knowwinter commented on #1629
我可能发现原因了，应该是我s2ibuildertemplate里环境变量的description写了中文导致的，我把那些中文改成了英文，这些问题就都没有了。。。。

[2019-12-04 05:51] knowwinter commented on #1629
疯了，可能也不是中文的问题，我中文改英文后试了几次可以成功构建，但是之后又创建了一个sino-sat的镜像的打包，还是启动不了

[2019-12-04 05:56] jinjie2088 opened #1631 "charts中的readme有中文，在界面中显示乱码"
![image](https://user-images.githubusercontent.com/4155721/70116462-c2acc300-169d-11ea-8b73-19c110be86ff.png)

[2019-12-04 06:03] knowwinter commented on #1629
感觉是无规律的不定时的抽风，但是一定是在镜像名带中杠的构建中发生，不带中杠的没有碰到过，难道是启动s2i job运行资源不够卡住了，还是因为中杠引起了一个什么bug被卡在那起不来了

[2019-12-04 06:09] soulseen commented on #1629
启动不了是报什么错误信息吗？可以贴一下吗。正常镜像名称只要符合标准就可以。
听你的描述不是很清晰具体的复现步骤。或者可以发tv 给我们远程看下。

[2019-12-04 07:07] simonxlh opened #1632 "应用商店界面访问集群内部IP，出现timeout"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
使用 `kubesphere-minimal.yaml` 安装kubesphere 2.1.0版本后，编辑 `cm ks-installer` 打开`openpitrix` 功能后，打开应用商店界面 `\apps` ，发送 `/kapis/openpitrix.io/v1/apps` 响应500
返回结果为
[code]
10.102.238.38 对应为 `openpitrix-isv-manager` 这个 `Service`
`job` `deployment` 均正常状态
![error2](https://user-images.githubusercontent.com/32514225/70120238-fe985600-16a6-11ea-941

[2019-12-04 08:19] dpp814 opened #1633 "更新到kubesphere2.1版本 无法解析镜像名称问题"
拉取自己私有docker仓库就会报无法解析镜像名称错误
![image](https://user-images.githubusercontent.com/22487387/70125431-baf71980-16b1-11ea-8e03-f68afcda2b98.png)
![image](https://user-images.githubusercontent.com/22487387/70125461-c3e7eb00-16b1-11ea-8d8e-b627502067ba.png)
2.0版本没有这个问题

[2019-12-04 08:57] knowwinter commented on #1629
没有任何报错信息，就只有我贴的那个图

[2019-12-04 09:04] knowwinter commented on #1629
神奇的很，先用一个没有横杠的镜像名去启动构建，构建成功后再手动改那个构建配置，把镜像名改成带横杠的就可以启动构建，我觉得是在初次创建构建任务的时候会发生这种带横杠的镜像无法初始化任务造成，不带横杠的一次都没发生过，带横杠的很大几率发生任务无法初始化创建，但也偶尔有能创建成功构建的

[2019-12-04 09:52] soulseen commented on #1629
好的，感谢反馈，这是个已知bug，现在s2i builder的名称由一些参数信息组合而成的，所以后出现s2ibuilder名称不符合规范的问题。会在下个版本修复。

[2019-12-04 09:52] soulseen commented on #1629
/assign @soulseen @minghaoye

[2019-12-04 10:44] soulseen commented on #1629
不填runtimeimage时创建 s2i 的请求信息能贴一下吗

[2019-12-04 11:50] hewenhong opened #1634 "2.1 弹性伸缩 hpa 显示bug。"
**Describe the bug(描述下问题)**
在hpa 上查看到

![image](https://user-images.githubusercontent.com/8400716/70140155-0d92fe80-16cf-11ea-8664-e15d0868e2e4.png)
![image](https://user-images.githubusercontent.com/8400716/70140161-11268580-16cf-11ea-8618-9e38bc799c3b.png)

单位显示不正确。

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

**Envir

[2019-12-04 13:04] puluto opened #1635 "是否会支持导入现有基础设施的东西"
是否会支持导入现有基础设施的东西，比如gitlab，jenkins，harbor，现有的用了很久迁移起来是个挺费事的
是否支持导入集群中已有的ingress作为应用网关？
集群中有一些重复的组件，是否可以支持直接导入，比如metric-server，kubernetes-dashboard这些.

比较期待3.0的多集群管理

[2019-12-05 01:02] calvinyv commented on #1594
@hewenhong 要是有借鉴意义的经验，建议在此处分享出来

[2019-12-05 02:15] hewenhong commented on #1594
@calvinyv

恩，原虚拟机上的dns  是不能解析到外网的，修改了vm 中的虚拟机中的dns ，但是没有重启coredns 和nodelocaldns 造成pod 还是无法解析到外网。

解决方法：修改虚拟机上的dns ，需要重启下 coredns和nodelocaldns 重新载入虚拟机上的dns，才能生效了。

[2019-12-05 02:23] hewenhong opened #1636 "前端问题，容器日志不能显示中文"
**Describe the bug(描述下问题)**
在kubectl 中能查看到中文的日志，但是在容器日志中无法显示中文。
![image](https://user-images.githubusercontent.com/8400716/70198053-afa2fd00-1748-11ea-9732-827dc2aa6f6e.png)
![image](https://user-images.githubusercontent.com/8400716/70198181-1aeccf00-1749-11ea-97a9-196c7e541643.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1
Kubernetes: (If KubeSphere installer used, you can skip

[2019-12-05 03:07] huanggze commented on #1636
Could you inspect network activities in browser?  Check if the server returns Chinese characters indeed

[2019-12-05 03:11] hewenhong commented on #1636
{
 "query": {
  "total": 6706,
  "records": [
   {
    "time": "2019-12-05T03:06:13.411312763Z",
    "log": "��\",\"power_Type_Code\":\"D1\",\"purchasePrice\":\"263100\",\"purchasepricetax\":\"285600\",\"refCode1\":\"\",\"refCode2\":\"\",\"remark\":\"  5\",\"riskFlag\":\"0\",\"searchSequenceNo\":\"\",\"seatCount\":\"5\",\"standard_Name\":\"HG7240EAAV\",\"syxClassId\":\"KA\",\"syxClassName\":\"\",\

[2019-12-05 03:33] huanggze commented on #1636
Looks like this problem occurs when upgrading KubeSphere from 2.0.2 to 2.1.0. The root cause is that ks-installer didn't upgrade Fluent Bit image as expected. The right image tag should be v1.3.2-reload.

To fix it manually, please first modify `image` in the section `[fluent-bit]` to `kubespheredev/fluent-bit:v1.3.2-reload`
[code]

then, restart fluent-bit daemonset
[code]

[2019-12-05 03:37] huanggze commented on #1636
Could you have a look at this issue? @pixiake

[2019-12-05 03:37] huanggze commented on #1636
/assign @pixiake

[2019-12-05 06:01] hewenhong commented on #1636
@pixiake 从configmap来看是对的，应该是升级的时候没有触发重启动作。

[2019-12-05 06:06] pixiake commented on #1636
@hewenhong 这个可以手动触发下 ，下个版本 @huanggze 那边会把这个功能加上

[2019-12-05 06:36] minghaoye commented on #1629
这里的设置用了缓存，建议有错误后先刷新一下，2.1.1会修复

[2019-12-05 06:47] dpp814 opened #1638 "官网在线安装2.0.2版本的包怎么没有了"
官网在线安装2.0.2版本的包怎么没有了？谁能提供个下载吗？不想安装2.1版本的

[2019-12-05 07:16] simonxlh commented on #1608
请问解决了吗，我执行replace job 之后，报错变成
[code]
@lijinbang

[2019-12-05 07:18] dpp814 commented on #1568
兄弟，2.0.2版本的安装包可否发我一个

[2019-12-05 07:20] FeynmanZhou commented on #1638
切换到 2.0 的文档即可找到  https://kubesphere.com.cn/docs/v2.0/zh-CN/installation/all-in-one/

BTW，不想装 2.1 的原因是？

[2019-12-05 07:22] dpp814 commented on #1638
https://kubesphere.io/download/stable/advanced-2.0.2这个地址在线下载不了，你自己打开试试

[2019-12-05 07:24] dpp814 commented on #1638
我从自己私有镜像仓库拉取镜像部署就报无法解析镜像名称，2.0.2版本是可以的，2.1版本就有问题了，现在我都部署不了，我要装2.0.2在线版本，发现你们给的地址下载不了了

[2019-12-05 09:03] tzghost commented on #1630
已解决
https://kubesphere.com.cn/forum/d/295-google-multi-mode-2-1

[2019-12-05 09:03] #1630 closed

[2019-12-05 10:26] FeynmanZhou commented on #1638
@dpp814 现在应该可以下载 2.0.2 了。你的私有镜像仓库是什么？我们在 2.1 用 harbor 没有复现这个问题，应该是仓库的 docker 配置有问题吧

[2019-12-05 13:23] #1638 closed

[2019-12-05 13:28] FeynmanZhou opened #1639 "Support Helm v3"
As Helm v3 was released last month, tiller has been deprecated, some users have upgraded to Helm v3. Accordingly, the component OpenPitrix is supposed to support Helm v3 in future release.

[2019-12-06 02:10] whDongRui commented on #1631
这个问题已经解决了，同 https://github.com/kubesphere/kubesphere/issues/1490

[2019-12-06 02:17] FeynmanZhou commented on #1631
@jinjie2088 kubesphere 是什么版本？

[2019-12-06 02:35] wanghonglei5181 opened #1640 "点击项目 有报错 无法通过应用商店部署"
[code]
[code]
[code]
![微信图片_20191206110054](https://user-images.githubusercontent.com/8133524/70292071-fa3f7a80-1817-11ea-92e1-ae62fe373f30.png)
![微信图片_20191206105638](https://user-images.githubusercontent.com/8133524/70292104-16dbb280-1818-11ea-89a3-0f3330f05fd7.png)

[2019-12-06 02:47] simonxlh commented on #1632
补充一下，根据[开发者论坛](https://kubesphere.com.cn/forum/d/301/3)中的回复，在 `ks-apiserver` 的pod 里检查一下 `openpitrix-isv-manager.openpitrix-system.svc:9118` 的端口是通的，`nslookup` 对应的IP也是 service 中对应的 `ClusterIP`。
[code]
IP 是因为我重新部署过，所以和上图不太一样。

[2019-12-06 03:03] wansir commented on #1640
/kind bug
/milestones 2.1.1
/assign @pengcong06

Even if the database init job is completed status, the database may still have no tables.

[code]

[2019-12-06 03:16] wanghonglei5181 commented on #1640
how to recreate the tables，thx！

[2019-12-06 03:29] wansir commented on #1640
rerun the db init jobs

[code]

[2019-12-06 03:30] wanghonglei5181 commented on #1640
I have fixed this issue！
[code]
[code]

[2019-12-06 03:31] wanghonglei5181 commented on #1640
thx!   @wansir

[2019-12-06 03:48] #1640 closed

[2019-12-06 04:25] knowwinter opened #1641 "配置与密钥重名，在设置环境变量引入配置中心时会出现匹配混乱"
我有一个配置和一个密钥设置了一样的名字，比如rabbitmq，在设置容器环境变量引入配置中心时，选择这个同名的配置或密钥会造成匹配不正确，我选的是密钥的rabbitmq，但是给出的结果是配置中的rabbitmq的值，如截图，无论我选配置中的rabbitmq还是密钥中的rabbitmq给到我的都是配置中的rabbitmq，并且在下拉框中显示两个地方的rabbitmq都是被勾选的
![微信图片_20191206122334](https://user-images.githubusercontent.com/25719964/70295870-755a5e00-1823-11ea-801f-dca2123ddc35.png)
![微信图片_20191206122402](https://user-images.githubusercontent.com/25719964/70295876-78

[2019-12-06 04:26] knowwinter commented on #1641
第一张图的rabbitmq是在配置中的，第二张图的rabbitmq是在密钥中的

[2019-12-06 07:49] noprom commented on #1479
我也遇到了这个问题：
![image](https://user-images.githubusercontent.com/8455444/70305621-d55efd80-183f-11ea-8692-3901af299898.png)
@pengcong06 重新执行这个任务成功了也不能访问。
![image](https://user-images.githubusercontent.com/8455444/70305661-ea3b9100-183f-11ea-8847-f7d7deefb503.png)
麻烦帮忙看看谢谢。

[2019-12-06 08:01] zheng1 commented on #1479
@noprom 可以尝试禁用后再启用openpitrix

[2019-12-07 02:54] FeynmanZhou commented on #1635
@puluto 可以用 [ks-installer](https://github.com/kubesphere/ks-installer) 来装在已有的 k8s，内置 的 gitlab 和 harbor 是可选安装项，当然可以对接已有的，metrics-server 和 k8s-dashborad 都是可以，jenkins 对接已有的目前比较困难。

[2019-12-07 03:49] tengshe789 opened #1642 "使用All-in-One 模式安装，不能登录的情况"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**

使用All-in-One 模式安装成功后，日志提示：
[code]
然而使用`admin`账户不能登录，提示`Internal Server Error``,

**安装环境的硬件配置**

VMware虚拟机

**错误信息或截图**

**Installer版本**
在线版2.0.2
https://kubesphere.io/docs/v2.0/zh-CN/installation/all-in-one/

[2019-12-07 03:51] tengshe789 commented on #1642
抱歉，版本Installer版本是2.1.0

[2019-12-07 05:24] FeynmanZhou commented on #1642
@tengshe789 kubectl get pod -n  kubesphere-system 看看 pod 状态，刚装好的环境，可能还要 Pod 在初始化状态

[2019-12-07 14:22] tengshe789 commented on #1642
天呐，我这开着电脑放了一天了，ks-account为什么没有ready呢？

NAME                                     READY   STATUS     RESTARTS   AGE
etcd-555778878f-lwzdx                    1/1     Running    0          11h
ks-account-75fdc96f65-9czhq              0/1     Init:0/2   0          11h
ks-apigateway-65dd54f989-g6vbb           1/1     Running    0          11h
ks-apiserver-5d98f5d7cb-tkrcm            1/1     Running    8

[2019-12-07 15:41] FeynmanZhou commented on #1642
@tengshe789 你的环境 DNS 可能有问题，参考这个 issue 看是否有帮助：https://github.com/kubesphere/kubesphere/issues/1555

[2019-12-08 01:01] oliver-csu opened #1643 "不能算Bug，提个优化，提高镜像的下载速度"
**General remarks**

 希望可以将一个node上有的镜像也自动推到其他节点（docker save、load和tag），这样就不用每次都从中央仓库拉了，这个失败的概率实在是太高了

[2019-12-08 02:31] FeynmanZhou commented on #1642
@tengshe789 问题已经搞定了么？

[2019-12-08 05:42] tengshe789 commented on #1642
目前没有，确认dns问题以后，我将宿主机dns添加8.8.8.8，然后卸载安装一遍，现在提示：
[code]

[2019-12-08 12:45] zryfish opened #1644 "Move custom apis to a different packge"
There are lots of custom apis in KubeSphere, located in package `pkg/apis/`, organized by different modules with api versions.
[code]
Since we also use kubebuilder to generate apis for crds, there will be collisions if they under same api group. For example, we have `devops/v1alpha1` for our custom defined apis, `devops/v1alpha2` for  devops crd apis. There are two different version under same pac

[2019-12-08 12:46] zryfish commented on #1644
/assign

[2019-12-08 16:28] knowwinter opened #1645 "应用里无法看到通过常规方式选择关联应用创建的服务"
在应用里创建了一个自建的应用，创建了一些比如mysql、redis以及我自己的前端的应用程序，然后在服务里创建了一个有状态服务，并且在创建时选择了关联应用到我创建的那个应用，并且默认选择了开启服务治理，但是创建完之后，该服务里信息里的应用显示了我对应的应用，在应用里的组件却并没有该组件，并且这个服务虽然选择开启了服务治理，但是并没有在部署里同时创建istio-proxy，应该是无法实现服务治理的，这个关联应用默认是不关联，且看不到其他应用，必须主动选一次不关联后才会刷新出应用里的应用，这个应该也是bug吧，必须选择后触发一次，这个还不要紧，关键是无法通过这种方式关联到应用并实现服务治理
![1575822267036](https://user-images.githubusercontent.com/25719964/70392369-83be9a80-1a1a-11ea-8eac-76

[2019-12-09 01:09] FeynmanZhou commented on #1642
@wansir 有空了帮忙看看吧

[2019-12-09 01:49] wansir commented on #1642
@tengshe789  需要查看kubesphere-system 下的异常pod，查看日志， 检查原因

[2019-12-09 01:49] wansir commented on #1642
@tengshe789  需要查看kubesphere-system 下的异常pod，查看日志， 检查原因

[2019-12-09 03:46] zryfish opened #1647 "Code Refactoring"
Our project code structure is not easy to write unit tests, things need to done to enable unit tests across whole project.

- [ ] Refactor clientset factory, use Interface instead of component clients directly. Such as redis/ldap/mysql
- [ ] Refactor apis handler to not use singleton client
- [x] Migrate kubebuilder to [v2]( https://book.kubebuilder.io/migration/guide.html)

[2019-12-09 03:47] zryfish commented on #1647
/assign
/kind cleanup
/kind documentation
/area testing

[2019-12-09 06:41] #1644 closed

[2019-12-09 06:52] FeynmanZhou opened #1648 "Offline image package request"
It's recommended to package all docker images into one offline package, will be very helpful in offline scenario or poor network environment

[2019-12-09 07:52] yanxinquanboe opened #1649 "KubeSphere已有k8s集群安装ks的从2.0.2升级2.1版本呢？"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**目前我们使用的是KubeSphere 2.0.2的版本，但是K8S 是独立安装的，现在想在已有的K8S上面升级KubeSphere到最新的2.1版本，但是最新的KubeSphere2.1的版本并没有明确的说明，该场景下如何正确的进行升级和相关的注意事项。不知道如何升级，升级如果有问题的化，如何回退**

**CentOS 7 虚拟机**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**

**2.1**

[2019-12-09 07:52] hewenhong opened #1650 "容器日志显示延迟很大。"
**Describe the bug(描述下问题)**
点击容器日志后，无法实时获取容器日志，延迟大概2-3分钟。

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:  2.1
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

3 masters:  8cpu/16g
12 nodes: 8cpu/16g

**To Reproduce(复现步骤)**
Steps to reproduce the behavior:
点击部署的应用，查看日志。存在延迟比较严重，建议实时日志使用kubectl log tai

[2019-12-09 08:46] zryfish commented on #1650
/area logging
/kind feature
/milestone 2.1.1

[2019-12-09 13:55] #1629 closed

[2019-12-10 01:48] FeynmanZhou commented on #1649
@yanxinquanboe  获取 ks-installer 仓库 master 分支代码，存储类型与 2.1 的保持一致，然后其它参数如果在 2.1 改动过的，也需要保持一致，确认参数项匹配后，参考 2.1 的 ks-installer 安装方法即可完成升级。

[2019-12-10 08:03] ellaye opened #1652 "The application about container is -"
![image](https://user-images.githubusercontent.com/57089340/70506967-672f7900-1b66-11ea-8e8c-2a1e51c59551.png)

![image](https://user-images.githubusercontent.com/57089340/70507012-79111c00-1b66-11ea-91a9-daa6f8b0b9e0.png)

[2019-12-10 08:04] ellaye commented on #1652
/assign @leoendless
/kind bug
/area console
/milestone 2.1.1

[2019-12-11 01:08] tzghost opened #1653 "流水线发布后，node拉取镜像失败"
流水线发布成功后，进行deployment时，node拉取镜像失败。比如在流水线运行过程中，在node1创建构建镜像并push到harbor，deployment时，调度到node2节点，会出现无法pull镜像的问题，如下：
![image](https://user-images.githubusercontent.com/17000535/70582546-cbe5e480-1bf5-11ea-9ba3-d170f9370d1c.png)
![image](https://user-images.githubusercontent.com/17000535/70582551-cee0d500-1bf5-11ea-8152-5189e2467075.png)
![image](https://user-images.githubusercontent.com/17000535/70582

[2019-12-11 02:34] gongjx11 opened #1654 "问一个关于 kubesphere 阿里云K8S 混合云问题"
目前环境是这样的。IDC 机房部署的是kubesphere ，阿里云部署是K8S集群，网络目前以经打通，可以实现内部互通，需求是，我在kubesphere  阿里云K8S 同时部署了一个POD nginx test.现在我想在kubesphere 上面做一个nginx pod负载均衡，

阿里云这边SVC 我以配好了，也指出来了，通过域名可以访问，下面是访问的截图。
![image](https://user-images.githubusercontent.com/21954004/70586179-5f70e280-1c01-11ea-84e6-3b06b314f548.png)

现在就是想把两个POD 应用做一人负载，比如我IDC kubesphere pod 应用挂了，我阿里云可以提供服务。

[2019-12-11 07:04] FeynmanZhou opened #1655 "Which companies are using KubeSphere「KubeSphere 用户登记」"
非常感谢大家对 KubeSphere 开源社区的关注与支持，社区发展与产品持续优化需要用户的持续反馈。

## 收集目的

- 了解 KubeSphere 用户的使用场景，以便更好的规划产品与技术路线
- 更好地帮助用户在开发测试与生产环境使用 KubeSphere，以及在企业环境下的云原生落地实践
- 吸引更多的开源爱好者参与社区开发与贡献，共同打造 KubeSphere

## 收集方式

参考以下模板，在此 Issue 下留言回复进行登记：

* Company Name（公司/组织名称）：KubeSphere 容器平台
* Location（地点）：中国北京
* Industry（行业）：云计算
* Website（网址）：http://kubesphere.io
* Scenario（使用场景）：如微服务开发测试、DevOps
* Contact（用户联系方式）：kubesphe

[2019-12-11 09:25] FeynmanZhou opened #1656 "The default storage class should not be set more than 1"
I guess KubeSphere should not allow users to set 2 default StorageClass in UI, when you set one as default, the other one should be unset automaticlly.
![image](https://user-images.githubusercontent.com/40452856/70608158-a16a4a80-1c3a-11ea-83ae-f8a0541ba9e4.png)

[2019-12-11 12:50] zzxwill commented on #445
Fixed?

[2019-12-11 15:19] arraycto opened #1657 "node 节点NotReady ，请问什么原因？求"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
[root@k8s-master etcd-v3.3.13-linux-amd64]# kubectl get nodes
NAME              STATUS     ROLES    AGE   VERSION
192.168.186.100   Ready      master   24d   v1.16.3
192.168.186.101   NotReady   node     24d   v1.16.3
192.168.186.102   NotReady   node     24d   v1.16.3
[root@k8s-master etcd-v3.3.13-linux-amd64]#

运行的命令如：
 journalctl

[2019-12-12 01:49] zhangpfly commented on #1657
是不是机器资源内存、CPU不够啊？

[2019-12-12 01:58] zhangpfly opened #1658 "kubesphere安装配置的外接es，日志系统未开启，安装后部分pod无法启动"
安装环境：
4核4G * 3
centos7

没有开启日志系统，配置如下：
![image](https://user-images.githubusercontent.com/17722518/70675825-3ade3e80-1cc5-11ea-82d2-ddae94b0551e.png)

安装完成后，其他组件正常，现在istio有两个组件异常
![image](https://user-images.githubusercontent.com/17722518/70675921-7da01680-1cc5-11ea-86b9-245c82295e2e.png)

报错信息如下：
[code]

感觉是es外接配置异常，麻烦看一下配置

[2019-12-12 02:13] shaowenchen commented on #1658
/area logging

[2019-12-12 02:21] shaowenchen commented on #1657
可能原因很多，不知道你采用的什么按照方式：

1，6443 端口没打开？
2，网络插件没安装成功？

如果仅按照 K8s，建议使用 KubeSpray。

另外，目前 2.1 版本不支持 K8s 1.16 版本

[2019-12-12 02:24] shaowenchen commented on #1656
/area storage

[2019-12-12 02:29] shaowenchen commented on #1653
/area devops

请先直接在命令行中，登录，推、拉镜像，确定 Harbor 是否安装成功。

[2019-12-12 02:33] tzghost commented on #1653
这些功能原来都正常的，在流水线发布成功后，进行deployment时，node拉取镜像失败。比如在流水线运行过程中，在node1创建构建镜像并push到harbor，deployment时，调度到node2节点，会出现无法pull镜像的问题，社区上有说是harbor 的 docker 相关参数配置问题，我暂时没找到解决办法，麻烦帮忙看下
https://kubesphere.com.cn/forum/d/410-node/4

[2019-12-12 03:36] arraycto commented on #1657
[root@k8s-master ~]# df -h
文件系统                 容量  已用  可用 已用% 挂载点
/dev/mapper/centos-root   17G   14G  3.7G   79% /
devtmpfs                 1.9G     0  1.9G    0% /dev
tmpfs                    1.9G     0  1.9G    0% /dev/shm
tmpfs                    1.9G   12M  1.9G    1% /run
tmpfs                    1.9G     0  1.9G    0% /sys/fs/cgroup
/dev/sda1               1014M  146M  869M   15% /boot
tmp

[2019-12-12 03:36] arraycto commented on #1657
[root@k8s-master ~]# df -h
文件系统                 容量  已用  可用 已用% 挂载点
/dev/mapper/centos-root   17G   14G  3.7G   79% /
devtmpfs                 1.9G     0  1.9G    0% /dev
tmpfs                    1.9G     0  1.9G    0% /dev/shm
tmpfs                    1.9G   12M  1.9G    1% /run
tmpfs                    1.9G     0  1.9G    0% /sys/fs/cgroup
/dev/sda1               1014M  146M  869M   15% /boot
tmp

[2019-12-12 03:37] arraycto commented on #1657
[root@k8s-master ~]# df -h
文件系统                 容量  已用  可用 已用% 挂载点
/dev/mapper/centos-root   17G   14G  3.7G   79% /
devtmpfs                 1.9G     0  1.9G    0% /dev
tmpfs                    1.9G     0  1.9G    0% /dev/shm
tmpfs                    1.9G   12M  1.9G    1% /run
tmpfs                    1.9G     0  1.9G    0% /sys/fs/cgroup
/dev/sda1               1014M  146M  869M   15% /boot
tmp

[2019-12-12 03:40] arraycto commented on #1657
各位同仁：
采用的二进制安装，以前已经成功了。在安装dashboard的时候，不知道修改了什么，现在dashboard能成功，但是node节点是notready的状态，请问该如何核查。麻烦提供思路或者方法，跪谢

[2019-12-12 03:49] arraycto commented on #1657
node1节点日志：

[root@k8s-node-1 ~]# journalctl -f
-- Logs begin at 四 2019-12-12 11:34:44 CST. --
12月 12 11:44:21 k8s-node-1 kubelet[11778]: I1212 11:44:21.024249   11778 kubelet_node_status.go:286] Setting node annotation to enable volume controller attach/detach
12月 12 11:44:21 k8s-node-1 kubelet[11778]: I1212 11:44:21.047954   11778 kubelet_node_status.go:472] Recording NodeHasSufficientMemory even

[2019-12-12 04:45] huanggze commented on #1650
/assign @justahole

[2019-12-12 06:48] shaowenchen commented on #1657
是不是安装 dashboard 配置权限时，修改了其他地方？可以往这个方向尝试下

[2019-12-12 06:55] shaowenchen commented on #1654
你这是需要一个 LB 吧，将域名解析到 LB，LB 指向多套服务。

[2019-12-12 06:58] shaowenchen commented on #1658
/assigin @huanggze

[2019-12-12 07:28] huanggze commented on #1658
Thanks for your feedback.

So far, please update the field `es.server-urls` to your external es:

`kubectl -n istio-system edit jaegers.jaegertracing.io  jaeger`

[2019-12-12 07:30] huanggze commented on #1658
/assign @zryfish
/area microservice

[2019-12-12 07:40] #1655 closed

[2019-12-12 07:58] leoendless commented on #1656
应当在后端代码中控制此逻辑 @wnxn

[2019-12-12 10:13] leowucn commented on #1657
top命令看看，如果系统负载过高，也会导致节点notReady

[2019-12-12 10:29] zhangpfly commented on #1658
非常感谢。修改完地址，pod没有报错了。
还有个问题：
如果外部es，是有鉴权的，应该如何修改配置？

[2019-12-12 11:04] sunzj1989 opened #1660 "OAuth2单点认证集成"
kubesphere是否有与其他认证体系集成的方案，例如OAuth2

[2019-12-12 13:52] simonxlh commented on #710
那如何不部署 kubesphere 中的监控模块呢，好像没有直接提供enable 这个选项

[2019-12-12 13:54] RuvikVan opened #1662 "start request repeated too quickly for docker.service"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)
当我使用 curl -L https://kubesphere.io/download/stable/v2.1.0 > installer.tar.gz \
 && tar -zxf installer.tar.gz &&  cd kubesphere-all-v2.1.0 / scripts
$ ./install.sh 命令进行快速安装时候
**问题描述**
运行到最后报错
start request repeated too quickly for docker.service
**安装环境的硬件配置**
ubuntu 1804和centos 7
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
VMware虚拟机
**错误信息或截图**

[2019-12-12 13:55] simonxlh commented on #710
如何有效的关闭 KubeSphere v2.1.0中的监控模块，kubesphere-minimal.yaml文件中并没有提供对应的 `enable` 选项

[2019-12-13 01:36] wanghonglei5181 opened #1663 "点击企业空间-应用模板-有报错"
![1576200948(1)](https://user-images.githubusercontent.com/8133524/70762641-43e61300-1d8c-11ea-85f9-440b74c736f0.jpg)

[code]

[2019-12-13 02:32] xwb2535 opened #1664 "节点分配不均"
集群模式，
master  16核32G
node1  8核16G
node2 8核16Ｇ。

现在每次部署应用，应用都在master 和node1 两个节点之前生成容器。
![image](https://user-images.githubusercontent.com/20022334/70764862-d3db8b00-1d93-11ea-9f54-51f11a4b01ed.png)

node2基本除了少量的系统带的应用，我新增加的部署等，都不会在node2创建。导致master节点压力好大。

[2019-12-13 03:05] wnxn commented on #1656
好的，后端加个设置默认存储类型的 API

[2019-12-13 03:45] zryfish opened #1665 "Remove hardcoded service endpoint address"
Some kubernetes environment use different domain other than .cluster.local, since lots of code assuming the domain is .cluster.local, it will stop working on a non-default environment.

/assign
/kind bug
/milestone 3.0.0

[2019-12-13 06:22] gongjx11 commented on #1654
好的， 谢谢

[2019-12-13 08:00] yanxinquanboe opened #1666 "KubeSphere2.1 LDAP 脚本 inject-ks-account.sh 如何指定Search Filter"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**各位社区同学：
用户的需求只想导入旧LDAP 部分数据，
请问 KubeSphere2.1 LDAP 脚本 inject-ks-account.sh 如何指定Search Filter
例子如下： (&(objectclass=organizationalPerson)(memberOf=cn=BJ,ou=groups,dc=test,dc=com))

还有想问下，目前老的LDAP 由大概15万的用户，这个kubesphere 接入有啥问题码？是不是更新，查询较慢呢

谢谢！**

**KubeSphere 2.1**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**

**Installer版本**

[2019-12-13 08:11] wansir commented on #1660
OAuth2 认证会在 3.0 提供

[2019-12-13 08:14] sunzj1989 commented on #1660
请问3.0大约什么时候发布？

[2019-12-13 08:24] wansir commented on #1666
可以调整同步间隔试试，查询效率会受影响。如果活跃用户占比不高的话，可以考虑通过脚本做账户迁移。

另外，会在3.0 提供OAuth2 认证的方案

[2019-12-13 12:19] sdil opened #1668 "Unable to login to demo environment"
**General remarks**

**Describe the bug(描述下问题)**
Could not login to demo environment with username demo1 and password demo123

![image](https://user-images.githubusercontent.com/461537/70799805-9c95ca00-1de5-11ea-886f-e8e1a93a8e95.png)

**Versions used(KubeSphere/Kubernetes的版本)**
https://demo.kubesphere.io/login

**Environment(环境的硬件配置)**
https://demo.kubesphere.io/login

**To Reproduce(复现步骤)**
Ste

[2019-12-13 12:27] FeynmanZhou commented on #1668
@sdil
- username: demo1
- password: Demo123

[2019-12-13 23:57] sdil commented on #1668
opsss thank you @FeynmanZhou

[2019-12-13 23:57] #1668 closed

[2019-12-15 01:03] huanghe opened #1669 "centos7.6安装几小时之后机器卡死"
**General remarks**

**Describe the bug(描述下问题)**
1. 全新安装的centos7.6，然后再关闭firewalld，安装最新版KubeSphere v2.1；
2. 安装后能正常使用，top的load average在1左右如图：![](https://static.extremevision.com.cn/donkey_f9b4adfb-83d7-41d8-8c67-2e667a15d97b)
3. 过几小时，top命令的load average能够飙涨到200以上，而且登录不上去，手动重启服务器后，又能够重新使用了，会有报错信息，情况如图：![](https://static.extremevision.com.cn/donkey_868801d9-51d4-46ad-9275-b0a382e1072b)

4. 登录页面正常显示，输入账

[2019-12-15 03:28] panhaitao opened #1670 "新增功能建议：集群资源使用情况 补充统计些细节"
# 场景描述

在实际使用过程中，用户可能期望看到的不只是简单集群资源统计，而是希望看到出更有价值的资源使用状况评估和参考
1. 集群是否设置超售，cpu超售比是多少，内存超售比是多少
2. 当前集群的全部计算存储资源中，企业空间下的命名空间和集群管理组件(kubesphere)各自占用了多少
3. 资源统计建议包含如下指标： limits hard / limits used / request used
  -  limits hard 是创建命名空间资源配额上限，如果limits hard 用尽表示应无法新建命名空间
  -  limits used 是命名空间内pod占用的资源上限，limits used 用尽命名空间内已经无法新建应用
  -  request used 是pod 调度需要的必备资源，如果全部request used已经接近物理资源上限，表示已经没有节点可以调度p

[2019-12-15 03:52] panhaitao commented on #1664
你可以手动master上的pod驱逐走，看看会不会在node2上启动pod。还有收集点 node2节点的kubelet日志 看看为啥不往node2上调度pod

[2019-12-15 04:24] Forest-L commented on #1669
1、cpu配置蛮高的；
2、可以看下那些服务的负载飙高，截图看下

[2019-12-15 09:26] huanghe commented on #1669
运行一段时间已经登录不进去了，卡死了

[2019-12-15 09:57] littlefoolkid opened #1671 "2.1在线安装后好多pod起不来，访问也是internet error"
[code]

[2019-12-15 10:36] huanghe commented on #1669
![](https://static.extremevision.com.cn/donkey_b8179593-dcaf-4814-826d-6bc31f7bde60)
![](https://static.extremevision.com.cn/donkey_ffa64b51-a2b1-4df7-8a0a-0d6fc10318dd)
![](https://static.extremevision.com.cn/donkey_e9382cc2-e1ed-407a-8a88-9297d843ac90)

[2019-12-15 14:11] oliver-csu opened #1672 "gitlab安装之后404"
**General remarks**

https://kubesphere.com.cn/forum/d/373-gitlab

别人的帖子，贴在这里，可以提供teamviewer的访问支持，求帮忙排查下

[2019-12-15 15:08] #1672 closed

[2019-12-16 01:26] #1653 closed

[2019-12-16 02:06] Forest-L commented on #1669
1、目前上面部署了你们的应用吗？
2、soft lockup，查看下cat /proc/sys/kernel/watchdog_thresh的值。
3、参考下，https://www.cnblogs.com/nulige/p/8000490.html     https://blog.csdn.net/fuyuande/article/details/82874521

[2019-12-16 02:16] benjaminhuo commented on #1670
@panhaitao 感谢这么详细的需求描述，非常有价值。request/limit 方面的监控我们是有计划加强一下的，结合你这个需求我们会改进的。

[2019-12-16 02:40] panhaitao commented on #1670
感谢 kubesphere 团队积极的接纳建议，后续遇到有价值的信息，我会继续提交给社区！

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Benjamin Huo"<notifications@github.com&gt;;
发送时间: 2019年12月16日(星期一) 上午10:16
收件人: "kubesphere/kubesphere"<kubesphere@noreply.github.com&gt;;
抄送: "深蓝"<xz@onwalk.net&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [kubesphere/kubesphere] 新增功能建议：集群资源使用情况 补充统计些细节 (#1670)

@panhaitao 感谢这么详细的需求

[2019-12-16 02:41] benjaminhuo commented on #1670
欢迎多交流

[2019-12-16 06:11] leowucn opened #1673 "无法使用流量治理和tracing功能"
**Describe the bug(描述下问题)**
部署完kubesphere后，所有namespaces的pod状态都正常。然后创建企业空间，在该企业空间中，创建项目，在该项目的高级设置中设置了网关并且启用了应用治理。然后在该项目中创建bookinfo示例，等相关pod都创建完后，在集群中执行多次命令“curl http://productpage.test1.xxx.xxx.xxx.xxx.nip.io:32378/” ，然后发现`流量治理`和`Tracing`一直没有显示流量信息 。

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

**Environment(环境的硬件配置)**
How many nodes and their hardware configur

[2019-12-16 11:53] zhoulei232 opened #1674 "安装前如何开启安装 DevOps 系统"
使用 kubectl edit cm -n kubesphere-system ks-installer 命令
修改如下：
devops:
      enabled: True
      jenkinsMemoryLim: 8Gi
      jenkinsMemoryReq: 4Gi
      jenkinsVolumeSize: 8Gi
      jenkinsJavaOpts_Xms: 3g
      jenkinsJavaOpts_Xmx: 6g
      jenkinsJavaOpts_MaxRAM: 8g
      sonarqube:
        enabled: True

openpitrix:
      enabled: True

devops启动后：
   ks-sonarqube-sonarqube，s2ioperator， s2ioperat

[2019-12-16 12:32] dingyaguang117 commented on #1127
我在ingress-nginx 里面看到这样的配置：

`server {
                server_name _ ;

                listen 80 default_server reuseport backlog=511 ;
                listen 443 default_server reuseport backlog=511 ssl http2 ;
.....
`

80 端口应该是不支持 http2 的

[2019-12-16 13:56] #1642 closed

[2019-12-16 13:58] tengshe789 opened #1675 "使用离线包部署，all in one 模式安装一半出现这个错误"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
使用离线包部署，all in one 模式安装一半出现这个错误

[code]
**安装环境的硬件配置**

[备注]: VMware虚拟机运行，cent OS 6.7 系统

**错误信息或截图**

2.1.0离线版

**Installer版本**

[2019-12-16 14:02] tengshe789 commented on #1675
离线安装包是从 https://kubesphere.com.cn/forum/d/230-v2-1-0 上下载的

[2019-12-16 14:09] xwb2535 commented on #1664
一直在master和node1上跑。不会在node2上去，除非创建的时候手动指定到node2

[2019-12-16 14:49] tengshe789 commented on #1675
[code]

[2019-12-17 03:37] huanghe commented on #1669
`pip install --upgrade pip  pip install --upgrade setuptools`
`systemctl stop firewalld，systemctl disable firewalld`

[2019-12-17 07:29] PYIsOk opened #1676 "离线升级2.1版本出现的问题！！"
**问题描述**
之前离线安装的2.0.2版本，现在升级2.1报错如下！
**安装环境的硬件配置**
Centos7.6 8C 16G 100G存储
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
虚拟机
**错误信息或截图**
![image](https://user-images.githubusercontent.com/37820823/70974129-07931980-20e2-11ea-9cbd-aafc828b3ce5.png)

**Installer版本**
2.1

[2019-12-17 08:26] Forest-L commented on #1669
可以登录到你们环境看下吗？tv12或者向日葵，可以的话，发到官方邮箱中。

[2019-12-17 09:15] zhangpfly opened #1678 "nfs存储卷扩容失败：didn't find a plugin capable of expanding the volume;"
环境：4c8g * 3
系统：centos7
问题描述：
使用的nfs存储，配置好存储卷以后想要扩容，还没有pod挂载这个存储卷
10G扩展到20G
![image](https://user-images.githubusercontent.com/17722518/70981737-ae7eb200-20f0-11ea-8eba-8f6342039326.png)

扩容失败，报错信息如下：

![image](https://user-images.githubusercontent.com/17722518/70981690-960e9780-20f0-11ea-9736-3b7795d3e3c9.png)

是我的扩容方式不对，还是什么问题？

[2019-12-17 09:56] zhangpfly commented on #1678
抱歉，已经找到问题原因了
看资料才知道nfs不支持扩容
https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/
https://stackoverflow.com/questions/53548855/nfs-persistent-volume-claim-remains-pending-indefinitely

[2019-12-17 09:56] #1678 closed

[2019-12-17 11:30] huanghe commented on #1669
可以的，那我发到官方邮箱哈

[2019-12-17 14:10] huanghe commented on #1669
邮箱是哪个，没有找到哈

[2019-12-18 01:59] FeynmanZhou commented on #1673
@leowucn 仅仅发 curl 命令是不行的，需要循环多次请求，另外 Tracing 功能需要开启安装 Logging 组件，参考 [文档](https://kubesphere.com.cn/docs/v2.1/zh-CN/installation/install-logging/) 先开启安装 Logging 组件，然后参考 https://kubesphere.com.cn/docs/v2.1/zh-CN/quick-start/bookinfo-canary/

[2019-12-18 02:17] Forest-L commented on #1669
是的，因为我们之前也没有遇到上面描述的问题，目前kubesphere最小安装2C，4G即可，且蛮稳定。

[2019-12-18 03:42] Forest-L commented on #1669
现在看机器是正常，但之前看你截图，里面出现了大量的kwork进程。

[2019-12-18 08:59] FeynmanZhou commented on #1674
@zhoulei232  是用的 Linux installer 还是把 kubesphere 装在 k8s 上了呢？

[2019-12-18 09:03] Forest-L commented on #1669
54157 polkitd   20   0 9987060 540108  23548 S 466.8  1.7   0:57.24 java

polkitd   54157  51823 99 16:56 ?        00:01:29 /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java -Djava.awt.headless=true -Dfile.encoding=UTF-8 -Djava.io.tmpdir=/opt/sonarqube/temp -Xmx512m -Xms128m -XX:+HeapDumpOnOutOfMemoryError -Djava.security.egd=file:/dev/./urandom -cp ./lib/common/*:/opt/sonarqube/lib/jdbc/postgresql/p

[2019-12-18 09:24] zryfish commented on #1669
@huanghe 这个进程看着是 sonarqube 导致的，可以先试下将 sonarqube 禁用了，看下是否仍有这个问题了，另外可以将内核版本和cpu信息贴下么，执行下下面两个命令
[code]

[2019-12-18 10:25] leowucn commented on #1673
发现命名空间没有开启自动sidecar注入，那个项目是通过kubesphere创建的，难道kubesphere在创建命名空间时不能给命名空间打个标签吗

[2019-12-18 10:33] zryfish commented on #1673
这个环境是从 2.0 升级的环境还是新装的环境呢，安装时是否开启了 servicemesh 组件

执行下面命令，贴下输出
`kubectl -n [namespace] get application bookinfo -o yaml`

[2019-12-18 10:34] zryfish commented on #1676
直接执行 `docker pull ` 拉取这个镜像试下，如果不能拉取镜像仓库有问题，检查下对应节点上的 registry 是否运行正常

[2019-12-18 10:36] zryfish commented on #1671
这个看下你的存储插件是否配置正确，openldap和redis需要挂盘，
[code]

[2019-12-18 10:37] leowucn commented on #1673
新装的2.1.0

[code]

[2019-12-18 10:37] zryfish commented on #1664
执行下面这个命令看下
[code]

[2019-12-18 10:38] zryfish commented on #1662
贴下详细的日志或错误截图看下

[2019-12-18 10:39] zryfish commented on #1663
进入 openpitrix-system 项目下，将下面的 job 重新运行下

[2019-12-18 10:39] #1654 closed

[2019-12-18 10:39] matty111 opened #1680 "How can i enable istio ?"
I changed the config map ks-installer with the flag true in servicemesh key, but in the ui istio is not enabled

[2019-12-18 10:39] #1649 closed

[2019-12-18 10:41] zryfish commented on #1645
这个应该是个bug，我们会修复下，可以在应用详情里添加组件

/kind bug

[2019-12-18 10:43] zryfish commented on #1634
这里单位显示错误

/kind bug
/assign @leoendless

[2019-12-18 10:44] zryfish commented on #1633
试下在节点上能否拉取这个镜像，如果还是不能拉取，看下这个 yaml 配置里是否添加了 imagePullSecrets

[2019-12-18 10:46] zryfish commented on #1680
It'll take a while to fully enable a component, depends on the network speed, lots of images need to be pulled. You can inspect installation logs by executing following command
[code]

[2019-12-18 10:49] zryfish commented on #1673
istio组件是默认安装的么，有对istio组件的配置做修改么

[2019-12-18 10:52] leowucn commented on #1673
具体什么配置？部署的istio是我自己编译的

[2019-12-18 11:07] zryfish commented on #1673
那不行，KubeSphere里修改了一些istio部署的配置，不是默认安装的形式

修改 mutatingwebhook 的 ns selector
https://github.com/kubesphere/ks-installer/blob/master/roles/ks-istio/files/istio/istio/charts/sidecarInjectorWebhook/templates/mutatingwebhook.yaml#L26

修改 Policy 改成 disabled
[code]
重启下istio sidecar injector

如果上面操作不行，建议你使用默认的istio，不要自己安装

[2019-12-18 11:09] zhoulei232 commented on #1674
是安装在k8s后，现在已经解决了 ------------------ 原始邮件 ------------------
发件人: "pengfei"<notifications@github.com>
发送时间: 2019年12月18日(星期三) 下午4:59
收件人: "kubesphere/kubesphere"<kubesphere@noreply.github.com>;
抄送: "zhoulei232"<2470576197@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [kubesphere/kubesphere] 安装前如何开启安装 DevOps 系统 (#1674)

@zhoulei232  是用的 Linux installer 还是把 kubesphere 装在 k8s 上了呢？

&mdash;
You

[2019-12-18 11:19] leowucn commented on #1673
嗯，我抽空试试

[2019-12-18 11:21] matty111 commented on #1680
I found istio resource, but for my bookinfo application found only deployment and pod. I don't find virtualservice and gateway and monitoring the traffic of my application from application menu

[2019-12-18 11:30] Forest-L commented on #1675
1、该机器重启了吗？
2、查看下registry容器是否存在，docker ps -a | grep registry
3、没启的话，手动docker restart 试试

[2019-12-18 12:26] tengshe789 commented on #1675
一直起着registry，我在想，是不是需要配置什么host文件呢？

[code]

[2019-12-18 12:39] aaronsssya opened #1682 "增加 nodeSelector"
**问题描述**
我的環境中有 windows node，所以可以加一個 nodeselector 在 CM 中嗎？

[2019-12-18 13:07] RuvikVan commented on #1662
只有这部分start request repeated too quickly for docker.service 上面只是显示了其他信息

[2019-12-18 13:13] Forest-L commented on #1675
registry一直启动着，该pod的5000端口也被监听了是吗？

[2019-12-18 13:34] tengshe789 commented on #1675
**帮忙看看吧~**
[code]

[2019-12-18 13:38] Forest-L commented on #1675
registry的容器有问题呢，一直在重启，看下日志，docker logs 看下

[2019-12-18 13:47] tengshe789 commented on #1675
日志起不来，瑟瑟发抖

[code]

[2019-12-18 15:02] FeynmanZhou commented on #1561
@zhangpfly 看一下 ks-apiserver-5d98f5d7cb-xwdmk 的日志，常规的排查方法是通过 log 和 events 去排查问题。异常处理的文档是个好建议，我们会收集总结

[2019-12-18 16:35] zryfish commented on #1680
virutalservice/destinationrule/gateway such resources are designed to be hid from users, it's too complicated to setup. KubeSphere console only exposes `Strategy`/`ServicePolicy` for simplification.  It's a lot easier if you follow this doc https://kubesphere.com.cn/docs/v2.1/en/quick-start/canary-release/ step by step.

[2019-12-19 02:01] Forest-L commented on #1675
或者把这两个容器都干掉，重新跑下脚本

[2019-12-19 02:08] yingmingzongyu opened #1683 "devops中ks-jenkins pod安装异常,VolumeBindingFailed"
**问题描述**
我是在vmware中安装centos7.5系统，然后all-in-one 最小方式安装kubesphere 2.1在线版本。然后安装openpitrix、monitor、devops组件。不过现在devops中ks-jenkins、ks-jenkins-agent状态异常。pod显示：VolumeBindingFailed     事件：timed out waiting for the condition

**安装环境的硬件配置**
centos7.5 系统，4C14G150G配置。
ks-jenkins组件配置信息：
[code]

[2019-12-19 02:15] yingmingzongyu commented on #1683
[root@ks-allinone ~]# kubectl describe pod -n kubesphere-devops-system ks-jenkins-5d7f76d598-m95g5
Name:           ks-jenkins-5d7f76d598-m95g5
Namespace:      kubesphere-devops-system
Priority:       0
Node:           <none>
Labels:         app=ks-jenkins
                chart=jenkins-0.19.0
                component=ks-jenkins-jenkins-master
                heritage=Tiller
                pod-tem

[2019-12-19 02:25] soulseen commented on #1683
`kubectl get node`, `kubectl -n kube-system get po` 看下集群正常吗？
[code]
看这个信息是pod没有调度成功. 贴信息建议格式化一下，方便阅读😄

[2019-12-19 02:53] yingmingzongyu commented on #1683
根据链接：https://kubesphere.io/docs/v2.1/zh-CN/installation/install-devops/#安装后如何开启安装-devops-系统

改成如下配置，依旧报同样错！
kind: Deployment
apiVersion: apps/v1
metadata:
  name: ks-jenkins
  namespace: kubesphere-devops-system
  labels:
    chart: jenkins-0.19.0
    component: ks-jenkins-jenkins-master
    heritage: Tiller
    release: ks-jenkins
  annotations:
    deployment.kubernetes.io/revision: '10'
spec:

[2019-12-19 02:54] #1674 closed

[2019-12-19 02:54] #1673 closed

[2019-12-19 02:56] zryfish commented on #1682
没有理解你的意思，需要给哪个资源增加nodeSelector，你想要达到什么样的效果

[2019-12-19 03:18] yingmingzongyu commented on #1683
不好意思，没怎么回复过问题😄，找了半天也没找到。。是下面的原因吗？
E1218 09:36:18.572188       1 controller.go:700] error syncing claim "kubesphere-devops-system/ks-jenkins": failed to provision volume with StorageClass "local": pods "init-pvc-729ad863-c86c-4357-a3b0-3dca99814e13" already exists
E1218 09:52:58.588662       1 controller.go:700] error syncing claim "kubesphere-devops-system/ks-jenkins": failed to provision volume w

[2019-12-19 03:30] soulseen commented on #1683
嗯，应该是存储的问题。看下jenkins 挂载 的pvc，pv正常吗
[code]
/help @wnxn

[2019-12-19 05:46] yingmingzongyu commented on #1683
现在是pending状态。
[root@ks-allinone ~]# kubectl -n kubesphere-devops-system get pvc
NAME         STATUS    VOLUME   CAPACITY   ACCESS MODES   STORAGECLASS   AGE
ks-jenkins   Pending                                      local          21h

[2019-12-19 05:55] yingmingzongyu commented on #1683
看apiserver里报错，跟这个有关系吗？
[root@ks-allinone ~]# kubectl logs -n kubesphere-system ks-apiserver-5d98f5d7cb-648xh
W1219 05:44:16.045111       1 client_config.go:549] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
I1219 05:44:16.046245       1 server.go:179] Start cache objects
I1219 05:44:20.692019       1 server.go:315] Finished caching objects
E1219

[2019-12-19 06:12] Boblis opened #1684 "拉取不了dockerhub仓库的镜像"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
拉取不了dockerhub仓库的镜像

**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/45844993/71149420-7058ce00-2269-11ea-9c64-a9668478a0ea.png)

**Installer版本**
v2.1

[2019-12-19 06:15] zhoulei232 commented on #1684
这种应该怎么解决，我配置了dockerhub 的密钥

[2019-12-19 06:28] huanghe commented on #1669
```  Linux ks-allinone 3.10.0-862.el7.x86_64 #1 SMP Fri Apr 20 16:44:24 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux ```

[code]

[code]

[2019-12-19 07:06] soulseen commented on #1683
看下pvc pending 信息`kubectl -n kubesphere-devops-system describe pvc ks-jenkins`

[2019-12-19 07:44] Forest-L commented on #1669
先这样处理下：看下cpu情况
[code]

[2019-12-19 07:59] huanghe commented on #1669
[code]

[2019-12-19 08:12] catcomyou opened #1686 "以前部署过相同名字的，从应用中删除了，但第二次部署相同名字的应用就提示already exist"
版本：KubeSphere v2.1
安装模式：Multi-Node
以前部署过相同名字的，从应用中删除了，但第二次部署就提示already exist
![image](https://user-images.githubusercontent.com/19699251/71155994-f67d1080-2279-11ea-9f10-da4380753541.png)

[2019-12-19 08:22] matty111 commented on #1680
in your prerequisites you see "You need to turn on the Application Governance to enable the tracing feature. (Choose Project Settings → Internet Access → Edit Gateway → Turn it On)". But i can't do set gateway.
Did I get the installation wrong of kubesphere?

[2019-12-19 08:42] yingmingzongyu commented on #1683
不好意思，还是不会格式化。。。这样的：
[root@ks-allinone ~]# kubectl -n kubesphere-devops-system describe pvc ks-jenkins
Name:          ks-jenkins
Namespace:     kubesphere-devops-system
StorageClass:  local
Status:        Pending
Volume:
Labels:        app=ks-jenkins
               chart=jenkins-0.19.0
               heritage=Tiller
               release=ks-jenkins
Annotations:   volume.beta.kubernetes.io/storage-

[2019-12-19 08:49] yingmingzongyu commented on #1683
我是不是把存储卷里ks-jenkins如下storageClassName改一下名字就行？好像是重名了。

kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: ks-jenkins
  namespace: kubesphere-devops-system
  labels:
    app: ks-jenkins
    chart: jenkins-0.19.0
    heritage: Tiller
    release: ks-jenkins
  annotations:
    volume.beta.kubernetes.io/storage-provisioner: openebs.io/local
    volume.kubernetes.io/selected-node: ks-allinone

[2019-12-19 08:51] yingmingzongyu commented on #1683
[root@ks-allinone ~]# kubectl get sc
NAME              PROVISIONER        AGE
local (default)   openebs.io/local   9d

[2019-12-19 08:58] yingmingzongyu commented on #1683
改动更新，报错：
Invalid
PersistentVolumeClaim "ks-jenkins" is invalid: spec: Forbidden: is immutable after creation except resources.requests for bound claims

[2019-12-19 09:32] calvinyv commented on #1683
@wnxn 帮忙看看吧，应该是存储问题

[2019-12-19 09:45] shaowenchen commented on #1683
pods "init-pvc-729ad863-c86c-4357-a3b0-3dca99814e13" already exists
-----
这里不是有提示了吗？

[2019-12-19 09:49] yingmingzongyu commented on #1683
那需要怎么操作呢？这个是openebs.io/local在用的，ks-jenkins，需要哪里做修改吗？

[2019-12-19 10:31] Forest-L commented on #1669
可以，但现在连不上。

[2019-12-19 10:42] matty111 opened #1687 "Namespace Istio kubectl istio-injection=enabled"
I have a namespace deployed and i can't see the resource istio. If I deploy an application from kubesphere the namespace doesn't istio-injection=enabled.

[2019-12-19 10:57] zryfish opened #1688 "组织架构缺少Team级别"
**[问题]**
目前组织架构中，在项目很多的情况下，如果新加入用户，需要将此用户逐个加入到项目成员中，操作繁琐。

**[期望]**
可以创建类似Team(用户组)，将用户组加入到项目成员中，如果再新加用户，将新加用户加入到Team中，即可完成关联项目的授权。

/kind iam
/kind design
/assign @wansir
/assign @Carlosfengv

[2019-12-20 02:14] wnxn commented on #1683
@yingmingzongyu 请将主机登录方法或者 TV12 登录方法，发到 kubesphere@yunify.com，我们看看。

[2019-12-20 02:37] yingmingzongyu commented on #1683
问题终于解决了，谢谢！把这个init-pvc的pod（Completed状态）手动删除掉就行了。不过为啥需要手动删除这个pod的，没搞太懂。。。
[root@ks-allinone ~]# kubectl get pod -n kube-system
NAME                                            READY   STATUS      RESTARTS   AGE
calico-kube-controllers-777bb557cf-kbtz8        1/1     Running     5          9d
calico-node-rgf7s                               1/1     Running     7          9d
coredns-647d4f64c4-z9pkk

[2019-12-20 02:37] #1683 closed

[2019-12-20 03:14] Forest-L commented on #1686
/assign @wansir

[2019-12-20 03:22] leowucn opened #1690 "无法创建devops"
**General remarks**

**Describe the bug(描述下问题)**
kubesphere-system命名空间下pod状态正常，但是页面上无法创建devops。
<img width="1619" alt="Snipaste_2019-12-20_11-19-14" src="https://user-images.githubusercontent.com/16133390/71227652-ea955b00-231a-11ea-88fe-d161d43bd726.png">

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes:  1

[2019-12-20 05:26] PYIsOk commented on #1676
谢谢您，我已经重新装了

[2019-12-20 05:26] #1676 closed

[2019-12-20 05:39] FeynmanZhou commented on #1676
@PYIsOk 离线安装装成功了么？

[2019-12-20 05:48] zryfish commented on #1690
你看下 kubesphere-devops-system 下的 pod 状态正常么

[2019-12-20 05:50] zryfish commented on #1680
Which version of KubeSphere you are using ?

[2019-12-20 05:52] zryfish commented on #1687
We use different side injection policy instead of default. Whether to inject is controlled by podTemplate annotation `sidecar.istio.io/inject` which you can find in injected pods manifests.

[2019-12-20 05:53] zryfish commented on #1684
手动执行 docker pull 试下

[2019-12-20 05:56] zryfish commented on #1686
duplicate https://github.com/kubesphere/kubesphere/issues/1564

[2019-12-20 05:56] #1686 closed

[2019-12-20 06:00] leowucn commented on #1690
所有namespace下，pod的状态都是对的

[2019-12-20 06:03] leowucn commented on #1690
我那会儿看了下apiserver的日志，发现apiserver在等待jenkins运行正常，jenkins pod运行没问题，容器有报错。后来重新部署了，现在可以了

[2019-12-20 07:03] PYIsOk opened #1692 "离线安装2.1版本 检查报错"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
安装完成后 执行检查程序报错，还有api-server pod 状态为CrashLoopBackOff，登录页面有，但是登录进去就提示 Internal Server Error

**安装环境的硬件配置**
8G 16C 100G硬盘
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
虚拟机
**错误信息或截图**
Task 'devops' failed:
***************************************************************************************************************************************

[2019-12-20 07:47] Carlosfengv commented on #1688
不建议用用户组的方式来搞，需要多一个维护的用户组的功能（WorkSpace中/Platform下 可能都需要搞），也会增加复杂度，通过复制已编辑好的项目中用户及权限使用起来会更简单一些

[2019-12-20 08:09] rysinal opened #1693 "集群安装失败，提示failed!"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
通过多节点安装，报错，已重试3次无法解决
**安装环境的硬件配置**
centos 7.5 云主机，16C64G nfs,网络为flannel
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**

[code]

**Installer版本**
2.1

[2019-12-20 08:55] Forest-L commented on #1693
此issue已关联论坛，https://kubesphere.com.cn/forum/d/488-failed/5

[2019-12-20 08:58] Forest-L commented on #1692
此issue已关联kubesphere官方论坛，https://kubesphere.com.cn/forum/d/490-2-1

[2019-12-20 09:23] wartih opened #1694 "如何进行集群备份和恢复"
我在文档里看到在2.0.0版本中添加了etcd的备份功能
但是似乎没有其他关于备份和恢复的文档了。

[2019-12-20 09:31] leowucn opened #1695 "使用官方例子构建流水线无法部署到kubernetes"
**Describe the bug(描述下问题)**
参考的是这个例子
https://kubesphere.io/docs/v2.1/zh-CN/quick-start/devops-online/
但是最终在cicd的时候，流水线运行日志中 `deploy to dev`步骤报错，错误日志如下：
[code]

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
1 masters:  4cpu/16g
3 nodes: 4cpu/16g

[2019-12-20 10:21] weiliang-ms opened #1696 "ks-jenkins没有安装上"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
离线安装后，jenkins没有自动安装
**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/18642754/71248445-d0c53980-2355-11ea-90e0-cb743dde0692.png)

cm配置如下：
`kubectl edit cm -n kubesphere-system ks-installer`
![image](https://user-images.githubusercontent.com/18642754/71248523-ffd

[2019-12-20 10:26] weiliang-ms commented on #1696
可以提供相关yaml文件手动安装吗？

[2019-12-20 10:55] tengshe789 commented on #1675
大佬，我尝试来，无论把docker容器都干掉跑脚本，还是运行install/uninstall脚本重跑,，都无法解决，最终都是会碰上这个错误，是脚本有问题么？

[code]

[2019-12-20 11:27] zryfish commented on #1695
你的 devops 组件是后来启用的吧，这个错误看着是 kubeconfig 有问题，有按照文档创建ca证书么 https://github.com/kubesphere/ks-installer#enable-pluggable-components

[2019-12-20 11:30] leowucn commented on #1695
不是，devops是安装的时候就启用了。那两个secret也早已创建了

[2019-12-20 11:49] zryfish commented on #1695
看下你的流水线的凭证，kubeconfig是否正确，或者你换个用户登录试下

[2019-12-20 12:40] leowucn commented on #1695
确实是kubeconfig不对。创建demo-kubeconfig凭证的时候，凭证类型我选择了`kubeconfig`，我看下面Content自动加载了内容就没进一步去看是否是正确，因为我觉得kubesphere既然在管理集群，它当然是可以拿到正确的kubesphere的。

[2019-12-20 12:40] leowucn commented on #1695
所以，我需要手动粘贴kubeconfig到凭证Content那里吗？如果不需要，那这就是个bug了

[2019-12-20 15:06] FeynmanZhou commented on #1696
@weiliang-ms  这是在 Linux 环境安装的还是 K8s 上装的 KubeSphere？

[2019-12-20 15:09] FeynmanZhou commented on #1695
@leowucn 按道理应该是自动加载 kubeconfig 内容的，我们之前没有复现过，你可以再试试是否可以复现呢

[2019-12-20 16:09] weiliang-ms commented on #1696
您好是linux安装的，用的离线方式装的1master 2worker

---原始邮件---
发件人: "pengfei"<notifications@github.com&gt;
发送时间: 2019年12月20日(周五) 晚上11:06
收件人: "kubesphere/kubesphere"<kubesphere@noreply.github.com&gt;;
抄送: "Mention"<mention@noreply.github.com&gt;;"xzx.weiliang"<1067599390@qq.com&gt;;
主题: Re: [kubesphere/kubesphere] ks-jenkins没有安装上 (#1696)

@weiliang-ms  这是在 Linux 环境安装的还是 K8s 上装的 KubeSphere？

—
You are receiving t

[2019-12-21 02:01] FeynmanZhou commented on #1696
1master 2worker 的机器配置分别是多大呢？

[2019-12-21 09:02] Forest-L commented on #1675
可以发12版本的tv或者向日葵账号到官方邮箱，我们远程看下。

[2019-12-21 14:29] nzlov opened #1697 "容器日志不显示"
**General remarks**

**Describe the bug(描述下问题)**
正常运行的容器日志不显示，而停掉或崩溃的容器日志显示正常。

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1
Kubernetes: 1.14

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

1 master: 4c8g
4 worker: 4c8g

(and other info are welcomed to help us debugging)

**To Reproduce(复现步骤)**
部署应用

**Expected behavior(预期行为)**
正常显示日志。

[2019-12-21 14:40] wansir commented on #1697
正常日志是否通过STDOUT/STDERR进行输出呢，可以通过 kubectl logs 检查是否有日志输出

[2019-12-22 04:56] panhaitao opened #1698 "关于 ES 日志 每日单一索引的改善建议"
在实际企业客户场景中，日志落盘策略的有很多细节期望，我列出目前收集到的多数云平台的相同痛点：

1. 期望容器PaaS平台区分平台日志和业务应用日志，不能把每日日志全部写入到一个单一的ES索引中
2. 期望可以灵活设置日志索引的配置策略，比如，针对不同项目或者应用定义不同索引，能为不同索引定义不同 TTL

[2019-12-22 07:36] huanggze commented on #1697
https://github.com/kubesphere/kubesphere/issues/1505

[2019-12-23 00:38] nzlov commented on #1697
@huanggze Upgrade `kubespheredev/fluent-bit:v1.3.3-reload` fix .

[2019-12-23 00:39] #1697 closed

[2019-12-23 02:09] net2817 commented on #1663
具体命令是多少

[2019-12-23 02:15] leowucn opened #1700 "使用官方例子 图形化构建流水线 部署失败"
**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

使用的是这个例子
https://kubesphere.io/docs/v2.1/zh-CN/quick-start/jenkinsfile-out-of-scm/
运行流水线时 `Unit Test` 步骤报错，错误信息为
[code]
**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
1 masters:  4cpu/16g
3 nodes:

[2019-12-23 02:19] runzexia commented on #1695
/unassign
/assign @wansir
宏明帮忙统一看下这个kubeconfig 生成的问题吧，之前有其他用户遇到过 https://kubesphere.com.cn/forum/d/350-k8s/3

[2019-12-23 02:20] leowucn commented on #1695
@FeynmanZhou   可以复现，问题就是kubeconfig不对，我刚重新创建了一下kubeconfig，明显是错的，如下
[code]

[2019-12-23 02:36] leowucn opened #1701 "给官方例子 构建流水线提的建议"
**Describe the bug(描述下问题)**
在这个例子里
https://kubesphere.io/docs/v2.1/zh-CN/quick-start/devops-online/
`unit test` 阶段会从 `https://repo.maven.apache.org` 和 `http://repo.spring.io` 下载很多文件，这俩地址服务器都在国外，下载非常缓慢，估计很多人都遇到这个问题了。我不熟悉java开发，不清楚怎么配置。建议把这俩地址做成可以环境变量可修改源吧

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

**Environment(环境的硬件配置)**
How many nodes and their hardware con

[2019-12-23 03:02] leowucn opened #1702 "给图形化构建流水线功能提的建议"
**Describe the bug(描述下问题)**
在图形化构建流水线中，可以添加多个阶段，有时候为了测试或者快速部署，希望能临时下线某个阶段，在随后的一个时间在上线，目前来看，要下线的话只能删除，虽然可以通过保存jenkins文件的方式，但是显然没有图形化展示清晰

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
1 masters:  4cpu/16g
3 nodes: 4cpu/16g

[2019-12-23 06:12] pixiake commented on #1696
helm list看下是否有ks-jenkins的release

[2019-12-23 06:16] pixiake commented on #1694
etcd备份在第一个etcd节点的/var/backups/kube_etcd中，也可参考k8s开源备份方案：https://github.com/vmware-tanzu/velero

[2019-12-23 06:37] wartih commented on #1694
kubesphere的集群信息也是保存在etcd中吗？恢复了etcd能否恢复kubesphere？
主要希望可以实现在所有Master节点挂掉的情况下，通过恢复一些保存在共享存储中的文件来恢复整个集群。请问目前可以达到吗？还是说只能依赖多节点的HA功能

[2019-12-23 06:51] pixiake commented on #1694
技术上是可行的，kubesphere的组件也是以pod的形式运行在k8s上的，所以相关信息也是在etcd中的，但是组件的数据是持久化在挂盘(共享存储)中的，这些挂盘可以恢复的话，可以使用etcd的备份来恢复集群状态，不过还是建议试试专门的k8s备份工具。

如果是正式环境，建议采用高可用方式部署。

[2019-12-23 06:53] #1694 closed

[2019-12-23 07:17] PYIsOk opened #1703 "2.1版本 ks-apiserver和ks-installer pod 状态为CrashLoopBackOff"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
2.1版本离线安装 ks-apiserver和ks-installer pod 状态为CrashLoopBackOff
**安装环境的硬件配置**
8C 16G 100G硬盘
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
虚拟机
**错误信息或截图**
ks-apiserver 描述的events：
  Type     Reason          Age                  From                  Message
  ----     ------          ----                 ----                  -------
  Normal

[2019-12-23 07:46] weiliang-ms commented on #1696
这边由于纯内网没有安装 helm

[2019-12-23 07:54] shizgchina opened #1704 "添加openpitrix组件后创建应用，看不到自己新增加的app repo"
All-in-one 部署后，为了做 2.1示例5-一键部署 EMQ X，添加组件 openpitirx，用 admin 在 KS 界面上查看 openpitrix 服务组件都正常；用 ws-admin 按照示例添加了 应用仓库 https://repos.emqx.io/charts，然后用 project-regular 登录 KS，也能在 workspace settings 的 app repos 看到应用仓库记录。

但是，1 - 进入 demo-project 时系统报错：

internal server error
rpc error: code=Internal desc = descirbe resources failed: Error 1146: Table 'cluster.cluster' doesn't exist

2 - 无法看到示例 step 5 的界面

[2019-12-23 07:58] pixiake commented on #1696
安装kubesphere需要helm，我看有些组件已经安装了，应该环境里已经有helm了

[2019-12-23 08:36] leowucn opened #1705 "功能建议"
**Describe the bug(描述下问题)**
我不清楚多集群功能长什么样子，但是有一种场景可以考虑下。我在集群A部署了kubesphere，通过kubesphere部署了很多应用，这个集群A只是个测试环境，然后我想把集群A里部署的应用按照相同的配置，重新部署到集群B，应用很多的情况下，手动操作容易出现错误，导致配置不一样。如果能有个导入导出功能就好了。

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
1 masters:  4cpu/16g
3 nodes: 4cpu/16g

[2019-12-23 09:03] weiliang-ms commented on #1696
手动创建ks-jenkins的话会有问题吗

[2019-12-23 09:14] pixiake commented on #1696
有些参数是定制的，可以看下ks-installer的日志，机器上没有helm的话，也可以到ks-installer那个容器里执行相关命令

[2019-12-23 09:33] leowucn opened #1706 "应用商店 测试部署 失败"
**Describe the bug(描述下问题)**
按照官方例子进行测试
https://kubesphere.io/docs/v2.1/zh-CN/quick-start/app-store/
在测试部署阶段，点击`部署`，结果如下
<img width="1636" alt="Snipaste_2019-12-23_17-53-27" src="https://user-images.githubusercontent.com/16133390/71350819-27788080-25ad-11ea-8b2f-8d87fbcfd6ed.png">

为什么会有权限问题？应该如何解决？

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

**Environment(环境的

[2019-12-23 09:36] Forest-L commented on #1703
看下ks-apiserver的日志，kubectl describe pod 或者kubectl logs

[2019-12-23 09:49] zheng1 commented on #1706
/cc @pengcong06 @wansir

[2019-12-23 10:01] wansir commented on #1706
https://kubesphere.com.cn/forum/d/471-openpitrix-appstore-faq-and-answer

[2019-12-23 10:05] leowucn commented on #1706
嗯，可以了，希望能在2.1.1版本中考虑到这种情况并进行修复，谢谢

[2019-12-23 10:05] #1706 closed

[2019-12-23 10:30] benjaminhuo commented on #1698
现在虽然是单一索引，平台日志和应用日志是可以通过 namespace 区分的
分不同索引的情况我们会考虑下，实现这个需要根据日志标签进行过滤，会增加 agent 的处理时间，使得日志收集变慢。所以得权衡下。
我们也会考虑非 es 的日志存储方案

[2019-12-23 10:47] leowucn opened #1707 "集群中重新部署istio后应该如何操作"
**Describe the bug(描述下问题)**
我在集群中已经部署了kubesphere和istio并开启了servicemesh的情况下，删除并重新部署了istio，对kubesphere需要做什么重新配置吗？因为我记得你们在部署kubesphere时会对istio做某些修改。

在官方这个例子中
https://kubesphere.io/docs/v2.1/zh-CN/quick-start/source-to-image/#%E7%AC%AC%E4%B8%89%E6%AD%A5%EF%BC%9A%E6%9F%A5%E7%9C%8B%E6%9E%84%E5%BB%BA%E8%BF%9B%E5%BA%A6
我在测试的时候构建镜像失败，报错如下：
[code]
其实istio运行没问题，所以我怀疑这个就是因为我重新部署了istio但是kubesphere对istio的配置没有更新

[2019-12-23 10:56] leowucn opened #1708 "对于 “通过代码构建新的服务” 提的建议"
**Describe the bug(描述下问题)**
“通过代码构建新的服务”功能中，目前只支持`java`、`nodejs`、`python`。希望能够添加对`golang`语言的支持，因为这门语言在后端开发中已经非常流行。谢谢

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
1 masters:  4cpu/16g
3 nodes: 4cpu/16g

[2019-12-23 11:28] leowucn opened #1709 "秘钥和凭证的功能建议"
**Describe the bug(描述下问题)**
流水线功能中，有个凭证子功能。项目功能中，有个秘钥功能。在使用kubesphere某些功能时，我发现相同的gitlab登录账号密码信息，在这个两个子功能中我都需要配置，这明显重复了。这个可以考虑优化下吗

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
1 masters:  4cpu/16g
3 nodes: 4cpu/16g

[2019-12-23 11:56] leowucn commented on #1707
@zryfish

[2019-12-23 12:18] panhaitao commented on #1698
确实加重agent端的压力，或许应该在日志过滤lanaya之类的组件哪里做条件匹配分流，写入不同索引，这样问题或许能迎刃而解

---原始邮件---
发件人: "Benjamin Huo"<notifications@github.com&gt;
发送时间: 2019年12月23日(周一) 晚上6:30
收件人: "kubesphere/kubesphere"<kubesphere@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"潘海涛"<xz@onwalk.net&gt;;
主题: Re: [kubesphere/kubesphere] 关于 ES 日志 每日单一索引的改善建议 (#1698)

现在虽然是单一索引，平台日志和应用日志是可以通过 namespace 区分的
 分不同索引的情况我们会考虑

[2019-12-23 12:26] aaronsssya commented on #1682
把所有的資源都加 kubernetes.io/os: linux, 因為如果 kube-scheduler assign 到 windows node, 就會出現錯誤

[2019-12-24 02:39] #1663 closed

[2019-12-24 03:35] wartih commented on #866
我现在在ubuntu 16.04.6 虚拟机上使用你们的脚本allinone模式安装2.0.2 还是出现了这个问题
![image](https://user-images.githubusercontent.com/22047859/71391990-6b1cca00-2641-11ea-88d7-575371d235b0.png)
在最开始有报错：
![image](https://user-images.githubusercontent.com/22047859/71392015-7ec83080-2641-11ea-96d5-cc2c498cbafe.png)

后来似乎没事儿了？
![image](https://user-images.githubusercontent.com/22047859/71392028-8be51f80-2641-11ea-897c-77f62a4

[2019-12-24 03:37] wartih commented on #866
@FeynmanZhou @runzexia @pixiake

[2019-12-24 03:39] wartih commented on #866
![image](https://user-images.githubusercontent.com/22047859/71392146-0a41c180-2642-11ea-9ee6-e7a58052e37b.png)

[2019-12-24 06:20] minghaoye commented on #1702
![Screen Shot 2019-12-24 at 2 15 40 PM](https://user-images.githubusercontent.com/22934997/71397232-e4bfb280-2657-11ea-81e2-b5ee79fdfcd3.png)

可以先定义一个变量，然后给不需要执行的阶段设置执行条件，每次运行时可以指定这个变量值

![Screen Shot 2019-12-24 at 2 19 23 PM](https://user-images.githubusercontent.com/22934997/71397413-792a1500-2658-11ea-930e-c64ad94cb90a.png)

[2019-12-24 07:17] leowucn opened #1710 "流量治理中，修改负载均衡算法报错"
**Describe the bug(描述下问题)**
部署了bookinfo例子，流量治理功能中，修改productpage的负载均衡算法，第一次把默认的轮训修改为了最小链接数成功了，第二次再修改就报错了
<img width="1627" alt="Snipaste_2019-12-24_15-14-51" src="https://user-images.githubusercontent.com/16133390/71400032-83e8a800-2660-11ea-83b2-ae445010918e.png">

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

**Environment(环境的硬件配置)**
How many nodes and their ha

[2019-12-24 07:44] leowucn opened #1711 "微服务功能中，流量治理有数据，Tracing无数据"
**Describe the bug(描述下问题)**
项目开启了网关和服务治理功能，并且已经通过watch命令不断发送请求了
watch -n1 curl http://productpage.test1.xxx.xxx.xxx.xxx.nip.io:30294/productpage?u=normal
但是`流量治理`能看到数据，`Tracing`无数据。所有namespace的pod状态都正常。kubesphere也开启了logging功能。

<img width="1626" alt="Snipaste_2019-12-24_15-42-48" src="https://user-images.githubusercontent.com/16133390/71401200-1a6a9880-2664-11ea-9aad-39bde9223e6f.png">
<img width=

[2019-12-24 07:45] leowucn commented on #1711
@zryfish

[2019-12-24 08:38] leowucn opened #1712 "使用官方例子 测试 Source-to-image 报错"
**Describe the bug(描述下问题)**
官方例子地址
https://kubesphere.io/docs/v2.1/zh-CN/quick-start/source-to-image
除了代码地址我是用的是内部私有地址之外，其他配置和示例中一致。但是在构建镜像时日志和官方完全不一样。日志如下：
[code]
然后在`资源状态`中看结果如下：
<img width="1205" alt="Snipaste_2019-12-24_16-38-19" src="https://user-images.githubusercontent.com/16133390/71403803-d085b080-266b-11ea-9d97-498ee3488332.png">

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2

[2019-12-24 09:48] leowucn commented on #1702
嗯，这样做可以满足需求，谢谢

[2019-12-24 09:48] #1702 closed

[2019-12-24 10:00] zhoulei232 opened #1713 "源码请教 关于struct FlagSet"
狗解释一下Command 是命令对象，FlagSet 指的是命令的选项对嘛。

pflags *flag.FlagSet 对于这个不太理解，persistent flags指的是具体的哪一类呢

大佬能否解释一下。

[2019-12-25 02:21] xubowenjx commented on #1709
感觉和用户来绑定比较好点

[2019-12-25 02:48] leowucn commented on #1709
最好在企业空间下有个统一的凭证中心，至于属于个人账号的私人信息，可以有个专属个人的凭证中心

[2019-12-25 02:54] soulseen commented on #1712
看日志还没有开始构建，请问开启istio了吗

[2019-12-25 03:00] soulseen commented on #1708
感谢反馈。golang确实比较常用，s2i模版是支持自定义的，也欢迎社区的贡献和建议。

[2019-12-25 03:02] soulseen commented on #1708
/assign @soulseen

[2019-12-25 03:04] soulseen commented on #1708
/kind feature

[2019-12-25 03:12] leowucn commented on #1712
开启了servicemesh，istio也运行正常

[2019-12-25 03:16] soulseen commented on #1701
感谢反馈
/assign @soulseen

[2019-12-25 03:20] bmingithub commented on #1713
这个你还是google一下吧

[2019-12-25 03:24] Forget-C opened #1714 "点击"应用"，出现空白页面 ，控制台报错"
![image](https://user-images.githubusercontent.com/25631506/71430807-ebf2c900-2708-11ea-8e67-357df601c01e.png)

点击之后进入空白页面
![image](https://user-images.githubusercontent.com/25631506/71430804-e6957e80-2708-11ea-9e8d-27fcb7fea028.png)

console报错
![image](https://user-images.githubusercontent.com/25631506/71430883-5ad02200-2709-11ea-975e-a078c92b0105.png)

**Versions used(KubeSphere/Kubernetes的版本)**

[2019-12-25 03:32] soulseen commented on #1708
/good first issue

[2019-12-25 03:49] zhoulei232 commented on #1713
不是，这个是你们写的，定义的，和谷歌没关系啊

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: bmingithub <notifications@github.com&gt;
发送时间: 2019年12月25日 11:21
收件人: kubesphere/kubesphere <kubesphere@noreply.github.com&gt;
抄送: zhoulei232 <2470576197@qq.com&gt;, Author <author@noreply.github.com&gt;
主题: 回复：[kubesphere/kubesphere] 源码请教 关于struct FlagSet  (#1713)

这个你还是google一下吧

—
You are receiving this because

[2019-12-25 04:21] PYIsOk commented on #1703
日志如下：
kubectl logs -f ks-apiserver-69d9fd84c-ljbqx -n kubesphere-system
W1225 04:18:05.240783       1 client_config.go:549] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
I1225 04:18:05.252045       1 server.go:179] Start cache objects
Error: unable to retrieve the complete list of server APIs: metrics.k8s.io/v1beta1: the server is currently unab

[2019-12-25 06:01] leoendless commented on #1714
是指这个应用下有 73 个 SVC 吗

[2019-12-25 06:14] calvinyv commented on #1714
/assign @leoendless

[2019-12-25 06:15] calvinyv commented on #1714
/kind bug

[2019-12-25 07:07] yanxinquanboe opened #1715 "KubeSphere Console 监控中心-资源监控 报表是否支持导出Excel"
**KubeSphere Console **

**Describe the bug(描述下问题)**
KubeSphere Console 监控中心-资源监控 报表是否支持导出Excel

For UI issues please also add a screenshot that shows the issue.

![2019-12-25_150553](https://user-images.githubusercontent.com/43054659/71436393-3a639000-2728-11ea-90ba-74c85cc662dd.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0

[2019-12-25 07:21] bmingithub commented on #1715
目前不支持

[2019-12-25 08:12] Forest-L commented on #1703
参考下这个：https://kubesphere.com.cn/forum/d/144-metrics-server-serviceunavailable/12

[2019-12-25 08:36] Leboudin commented on #1658
当你安装完成后, 在 “平台管理 - 平台设置  - 日志收集“ 应该是可以配置用户名和密码的

[2019-12-25 08:37] #1658 closed

[2019-12-25 08:38] zhangpfly commented on #1658
@huanggze 问题已解决。感谢

[2019-12-25 08:40] zhangpfly commented on #1561
问题已解决。
我是修改了主机的物理资源配置，主机内存降配之后，有些pod需要的资源比较多，就无法进行启动了。

[2019-12-25 08:40] #1561 closed

[2019-12-25 09:01] FeynmanZhou opened #1716 "Support private helm repo"
It's recommended to support private helm repo, it requires input account and password when add a new app repo in UI

[2019-12-25 09:16] calvinyv commented on #1716
/assign @pengcong06 @zheng1

[2019-12-25 09:47] FeynmanZhou opened #1717 "change the language switch button to an obvious location"
Some users's browser language setting may not be English or Chinese, in this case, UI will display Chinese by default, we should make this switch button to an obvious location.

![image](https://user-images.githubusercontent.com/40452856/71441872-625dee00-273e-11ea-8322-01890ff3daf6.png)

[2019-12-25 09:48] FeynmanZhou commented on #1717
/kind feature

[2019-12-25 09:56] FeynmanZhou commented on #1717
/kind optimization

[2019-12-25 11:13] leowucn opened #1718 "流水线执行失败"
**Describe the bug(描述下问题)**
流水线 jenkinsfile内容为
[code]
流水线最后一个阶段报错如下
[code]

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0
Kubernetes: 1.15.7

**Environment(环境的硬件配置)**
1 masters:  4cpu/16g
3 nodes: 4cpu/16g

[2019-12-25 12:59] knowwinter opened #1719 "ks控制台通过一个外部nginx转发访问请求无法登陆容器终端"
ks的平台是30880端口的，我在外部使用了一个nginx做了域名转发，例如ks.xxx.com，使用https转发到ks平台一个master节点的30880端口，登陆平台都没什么问题，但是在登陆容器终端时提示没有权限无法登陆，无论任何权限的帐号都无法登陆，但是如果用ks平台master实际的地址或域名解析到ks平台实际的ip地址+30880端口都可以正常访问的，是否在登陆终端判断权限时有什么来源控制还是什么问题，导致从外部nginx转发过来的请求无法访问登陆容器终端？
![image](https://user-images.githubusercontent.com/25719964/71445950-76fbaf80-2759-11ea-8899-e0d7ac4c7204.png)

[2019-12-26 01:35] calvinyv opened #1720 "Feature: app store have a default image reg"
**Describe the feature(描述下问题)**
to use the helm app from app store, the image reg address is still use the original one from helm chart. This is not very convenient, especially in restricted network env, hope there could be configurable parm which could update this origin address to some local image reg

[2019-12-26 01:35] calvinyv commented on #1720
/assign @Carlosfengv @zheng1 @pengcong06

[2019-12-26 01:35] calvinyv commented on #1720
/kind feature

[2019-12-26 02:25] zhangpfly commented on #1658
![image](https://user-images.githubusercontent.com/17722518/71454057-cbd70e80-27c9-11ea-9bae-09da9dc5684d.png)
@Leboudin Thanks

[2019-12-26 03:25] minghaoye commented on #1718
kubernetesDeploy 这个步骤的 configs 填写的是`配置文件路径`，
![Screen Shot 2019-12-26 at 11 24 39 AM](https://user-images.githubusercontent.com/22934997/71455988-53c11680-27d2-11ea-9607-cb2fca136bc7.png)

可以参考这个示例
https://github.com/kubesphere/devops-java-sample/blob/master/Jenkinsfile-online#L84

[2019-12-26 03:29] leowucn commented on #1718
你这个应该是可以的，但是我记得之前有一次我那种方式是可以工作的，后来集群重新部署了

[2019-12-26 03:37] yanxianhe opened #1721 "v2.1.0 企业空间名称。通过控制台不能修改"
**General remarks**

**Describe the bug(描述下问题)**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment(环境的硬件配置)**
How many nodes and their hardware configuration:

For example:
3 masters:  8cpu/8g
3 nod

[2019-12-26 03:46] minghaoye commented on #1718
直接填写`namespace.yaml flask1.yaml`呢？

[2019-12-26 03:49] leowucn commented on #1718
不行，错误和上面的一样`No matching configuration files found for namespace.yaml flask1.yaml`

[2019-12-26 03:50] soulseen commented on #1718
你的目录结构是什么样的？configs: 'PATH/TO/*.yaml'

[2019-12-26 03:52] leowucn commented on #1718
<img width="1265" alt="Snipaste_2019-12-26_11-51-49" src="https://user-images.githubusercontent.com/16133390/71456790-24140d80-27d6-11ea-984a-b6745ebe2f82.png">
<img width="1261" alt="Snipaste_2019-12-26_11-52-21" src="https://user-images.githubusercontent.com/16133390/71456800-30986600-27d6-11ea-86ef-52071951c017.png">

[2019-12-26 03:54] soulseen commented on #1718
配置 configs: '*.yaml' 试一下。

[2019-12-26 03:55] leowucn commented on #1718
在哪里配置？jenkinsfile?我不熟悉jenkinsfile语法

[2019-12-26 03:57] leowucn commented on #1718
我希望能完全通过界面配置流水线

[2019-12-26 03:58] soulseen commented on #1718
[code]
可以修改jenkinsfile，也可以在界面上修改。
参考这里的回复，config配置的是yaml的路径

[2019-12-26 03:58] leowucn commented on #1718
@soulseen 我需要apply指定yaml文件，你这个`configs: '*.yaml'`会apply所有yaml文件吧

[2019-12-26 04:00] soulseen commented on #1718
嗯，指定多个文件可以用(,)分割

[2019-12-26 04:01] soulseen commented on #1718
可以参考下这个https://github.com/jenkinsci/kubernetes-cd-plugin#configure-the-plugin

[2019-12-26 04:07] leowucn commented on #1718
还是不对，流水线执行报错
<img width="750" alt="Snipaste_2019-12-26_12-05-48" src="https://user-images.githubusercontent.com/16133390/71457294-25463a00-27d8-11ea-9ed3-aa03b4059e13.png">
[code]

[2019-12-26 06:02] wansir opened #1722 "Resource API returns duplicate data"
**Describe the bug(描述下问题)**
Resource API returns duplicate data when having the same creation time.

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: v2.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

![image](https://user-images.githubusercontent.com/8263040/71460745-24b59f80-27e8-11ea-871f-5255be199159.png)

![image](https://user-images.githubusercontent.com/8263040/714

[2019-12-26 06:06] soulseen commented on #1718
这个就是namespace not found ，文件读取是正常的，把namespace的问题修复下就可以了

[2019-12-26 06:07] soulseen commented on #1719
/help

[2019-12-26 06:07] soulseen commented on #1719
@wansir

[2019-12-26 06:08] leowucn commented on #1718
那俩yaml文件，我专门把namespace.yaml放在了前面就是为了先执行它创建指定命名空间。我觉得这种需求没问题吧

[2019-12-26 06:09] wansir commented on #1719
@knowwinter
通过nginx代理，需要配置 websocket proxy
参考，https://www.nginx.com/blog/websocket-nginx/

[2019-12-26 06:11] wansir commented on #1666
/kind feature
/milestone 3.0.0

[2019-12-26 06:11] dahaian opened #1724 "最新的2.0.2版本centos7.6安装问题，已经加载了最新的centos7.6的安装iso"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
已经加载最新的centos7.6的iso，通过百度云下载的
[root@linhuiyy-pc scripts]# ./install.sh

################################################
         KubeSphere Installer Menu
################################################
*   1) All-in-one
*   2) Multi-node
*   3) Quit
################################################
https://kubesphere.io/

[2019-12-26 06:11] wansir commented on #1660
/kind feature
/milestone 2.1.1

[2019-12-26 06:12] FeynmanZhou commented on #1724
现在最新的版本是 v2.1.0，为什么还安装 2.0.2？ @dahaian

[2019-12-26 06:15] dahaian commented on #1724
@FeynmanZhou 2.1.0的好像没离线安装版本的？

[2019-12-26 06:17] soulseen commented on #1718
嗯，这个可能也是cd插件没有考虑到的地方。不过一般不建议用流水线去部署namespace，namespace也不会去频繁的更新，可以先手动创建ns，然后用流水线部署应用。

[2019-12-26 06:20] FeynmanZhou commented on #1724
有，https://kubesphere.com.cn/docs/v2.1/zh-CN/installation/intro/#%E5%AE%89%E8%A3%85%E5%9C%A8-linux
![image](https://user-images.githubusercontent.com/40452856/71461464-d950c080-27ea-11ea-8910-4892fc7bfc80.png)

[2019-12-26 06:22] dahaian commented on #1724
@FeynmanZhou 哦，我是all in one模式的

[2019-12-26 06:22] FeynmanZhou commented on #1724
@dahaian 下载地址都是一样的，同样可以参考上面的链接

[2019-12-26 06:25] leowucn commented on #1718
可以，但是希望你们能加上这种特性，因为用户执行yaml不会按照特定的规律，否则其他人也会报各种奇奇怪怪的错误了

[2019-12-26 06:25] #1718 closed

[2019-12-26 07:10] #1724 closed

[2019-12-27 01:16] pencc commented on #1711
我也有这个问题，用的相同版本的kubesphere。

我是参考这篇文档：
https://kubesphere.io/docs/v2.1/zh-CN/installation/install-service

参考如下打开的日志组件：
[code]

参考如下打开的service mesh组件：
[code]

之后搭建bookinfo应用  https://kubesphere.io/docs/v2.1/zh-CN/quick-start/bookinfo-canary/#%E5%89%8D%E6%8F%90%E6%9D%A1%E4%BB%B6

流量治理可以使用：
![image](https://user-images.githubusercontent.com/31692478/71495560-6d716500-2889-11ea-9eea-d9db85eddb7a.png)

[2019-12-27 01:20] pencc commented on #1711
@zryfish

[2019-12-27 02:42] Carlosfengv commented on #1720
之前的设计中有这部分
![image](https://user-images.githubusercontent.com/23092051/71497994-8a139a00-2895-11ea-844a-bfd8358b643c.png)

[2019-12-27 02:47] Carlosfengv commented on #1717
非中文的环境默认就是英文，切换不切换意义不大，语言丰富后可以再考虑。而且语言是跟着用户来记录的信息。另外频繁切换语言的场景是？

[2019-12-27 05:51] pencc commented on #1711
/assign @leoendless
/kind help

[2019-12-27 05:52] pencc commented on #1711
/area microservice
/kind "help wanted"

[2019-12-27 05:56] pencc commented on #1711
发现jaeger-collector的日志中一直在报错，是不是因为和es的版本不匹配？

[code]

[2019-12-27 05:57] pencc commented on #1711
2019-12-27 11:28:39.548: {"level":"error","ts":1577417319.5478432,"caller":"config/config.go:124","msg":"Elasticsearch part of bulk request failed","map-key":"index","response":{"_index":"logstash-jaeger-span-2019-12-27","_type":"span","_id":"6o5mRW8Bv6JY3qN6JJJ5","status":429,"error":{"type":"es_rejected_execution_exception","reason":"rejected execution of processing of [111543][indices:data/writ

[2019-12-27 07:27] ZPJeck commented on #1096
最小安装，为什么 没有部署service  ，没有对外访问的接口？？？

[2019-12-27 07:31] shaowenchen commented on #1096
部署之后，有没有提示成功？有其他问题，可以在 https://kubesphere.com.cn/forum/ 提下，这个 issues 已经关闭了。

[2019-12-27 08:33] weiliang-ms commented on #1696
请问后续版本还会提供离线部署方式吗？

[2019-12-27 08:47] pixiake commented on #1696
@weiliang-ms  只要把用到的镜像导入自己的镜像仓库，就可以离线部署

[2019-12-27 09:18] Forget-C opened #1725 "elasticsearch-logging-discovery 会自己变成0副本"
**Describe the bug(描述下问题)**

kubesphere-logging-system 中的 elasticsearch-logging-discovery 每过一段时间就会自己变成0副本
![image](https://user-images.githubusercontent.com/25631506/71511270-b1398e00-28cc-11ea-8439-882651372fba.png)
去进群中查看，确实时变成了0副本。
调整副本数后可以启动
![image](https://user-images.githubusercontent.com/25631506/71511308-d6c69780-28cc-11ea-9084-6de66cfa2a82.png)
但是过段时间又会变成0副本
**Versions used(KubeSphere/Ku

[2019-12-27 19:33] iam-notabot opened #1726 "is the tutorial outdated?"
Edit: I made some pull requests.. My first ones ever.. so forgive me. That said I am happy to contribute.

**General remarks**

I am trying to follow your (what seems as one accurately well-worked-out complete tutorial. However I don´t have any "network and services" option available?

And I don´t got a "workspace"? I got a workbench!
There is  nothing called "platform management"
`platform manage

[2019-12-27 21:21] anothernetwork opened #1727 "tutorial issue: 1.5"
**General remarks**
1.5. "Fill in the new user's basic information. Set the username as user-manger; select the role user-manger. Other information can be customized. Then click Create."
Impossible! should be:

1.5.
Click **Create**:
then:
Set the username as **user-manger;** select the role **user-manger**. Other information can be customized.
Then click OK.
**Expected behavior(预期行为)**
You create

[2019-12-27 23:14] iam-notabot opened #1728 "Where I should put my hostname?"
I am running this on a VPS, and it seems kind of weak to me where I should put my hostname?
Could it be a major benefit to be able to fill that into a sheet very early in the progress?

[2019-12-28 00:58] anothernetwork opened #1729 "2.1 looks like this"
**Describe the bug(描述下问题)**
![image](https://user-images.githubusercontent.com/48926486/71536918-50827380-2915-11ea-8567-d401a902c2a8.png)

**Expected behavior(预期行为)**
A clear and concise description of what you expected to happen.
![image](https://user-images.githubusercontent.com/48926486/71536916-43fe1b00-2915-11ea-95dc-62e1f4f73c70.png)
and:
![image](https://user-images.githubusercontent.com/4

[2019-12-28 03:41] FeynmanZhou commented on #1726
@anothernetwork  Yes, I guess you were guided to the old version docs (v2.0), actually, we are preparing v2.1 guides and video tutorials. Fortunately, we have recorded 3 video tutorials which can help you get started, these tutorials were manipulated in English web UI but with Chinese interpretation currently. Could you please help us for English version interpretation?

See:

- Multi-tenants Mana

[2019-12-28 03:42] huanggze commented on #1725
应该不会。有什么 debug 信息吗？

[2019-12-28 05:26] weiliang-ms commented on #1696
好的。

[2019-12-28 05:26] #1696 closed

[2019-12-28 12:32] #1367 closed

[2019-12-28 13:56] huanggze commented on #1727
https://github.com/kubesphere/kubesphere.github.io/blob/master/blog/advanced-2.0/en/admin-quick-start.md

/kind documentation

[2019-12-28 13:58] FeynmanZhou commented on #1727
It's outdated, close this issue since it's duplicate, we will update the English version of v2.1 docs.

[2019-12-28 13:58] #1727 closed

[2019-12-28 13:59] FeynmanZhou commented on #1729
It's outdated, close this issue since it's duplicate, we will update the English version of v2.1 docs soon.

[2019-12-28 13:59] #1729 closed

[2019-12-28 14:01] FeynmanZhou commented on #1728
Are you talking about the installation? @anothernetwork

[2019-12-28 14:19] oliver-csu commented on #1672
举例说明：如果在yaml中配置的域名是baidu-int.com，那么gitlab的域名是gitlab.baidu-int.com，所以如果配置的是gitlab.baidu-int.com，那么域名应该是gitlab.gitlab.baidu-int.com

[2019-12-28 14:19] oliver-csu commented on #1357
举例说明：如果在yaml中配置的域名是baidu-int.com，那么gitlab的域名是gitlab.baidu-int.com，所以如果配置的是gitlab.baidu-int.com，那么域名应该是gitlab.gitlab.baidu-int.com

[2019-12-28 14:20] oliver-csu commented on #1357
有空close一下

[2019-12-28 14:21] oliver-csu commented on #945
举例说明：如果在yaml中配置的域名是baidu-int.com，那么gitlab的域名是gitlab.baidu-int.com，所以如果配置的是gitlab.baidu-int.com，那么域名应该是gitlab.gitlab.baidu-int.com

[2019-12-29 05:27] FeynmanZhou commented on #1357
@oliver-csu @gongjx11  Close 了。已经解决的问题，欢迎在 [KubeSphere 论坛](https://kubesphere.com.cn/forum/) 写个详细的攻略，帮助其他用户避坑~

[2019-12-29 05:27] #1357 closed

[2019-12-30 01:57] Forget-C commented on #1725
是看k8s的调度日志么？ 我不太清楚该从哪里debug， 能提供一个思路吗

[2019-12-30 02:26] huanggze commented on #1725
[code]

[2019-12-30 04:27] RikyLee opened #1730 "openpitrix-repo-db-ctrl-job 执行失败"
kubesphere  版本2.1，在现有的kubernetes 1.15.5 环境下运行

执行kubectl logs -f openpitrix-repo-db-ctrl-job-kdrsp -n openpitrix-system，显示如下异常信息：

Current version of schema `repo`: 0.1
DEBUG: Memory usage: 42 of 972M
ERROR: Unexpected error
org.flywaydb.core.api.FlywayException: Schema `repo` contains a failed migration to version 0.1 !
        at org.flywaydb.core.internal.command.DbMigrate.migrateGroup(DbMigrat

[2019-12-30 04:28] RikyLee commented on #1730
执行kubectl -n openpitrix-system get job openpitrix-repo-db-ctrl-job -o json | jq 'del(.spec.selector)' | jq 'del(.spec.template.metadata.labels)' | kubectl replace --force -f - 强行更新数据库无效

[2019-12-30 06:17] leoendless commented on #1652
应该可以在 container 详情页里拿到所属 pod 的 label

[2019-12-30 08:48] zhangpfly opened #1731 "执行uninstall.sh脚本，卸载操作，重置防火墙iptables，导致主机失联"
主机环境：4核8G*6台

问题：
在清理环境，执行卸载操作的时候，卡在了TASK [reset : flush iptables]这一步，直接导致要卸载的主机失联，ssh无法连接过去，ping也不通，只能重启主机，才能重新连接。
执行卸载操作之前，已经关闭了主机防火墙。

想问一下，这一步都执行了什么操作？为什么会导致主机失联？
而且这个问题，碰到多次了，感觉很麻烦。麻烦看一下

日志如下：
[code]

[2019-12-30 09:21] zhangpfly commented on #1731
kubsphere版本：2.1.0

[2019-12-31 01:10] noprom commented on #1654
@gongjx11 请教一个问题，你们是如何将IDC机房的ks和阿里云的k8s的网络打通的？
能不能实现下面这种功能呢：
1. 计算资源使用部署在IDC机房的kubesphere;
2. 流量走云平台的按量付费。

[2019-12-31 01:20] calvinyv commented on #1654
@noprom 可以搜寻类似的友商服务 https://www.qingcloud.com/products/sd-wan/

[2019-12-31 02:24] noprom commented on #1654
@calvinyv 好的，谢谢。

[2019-12-31 03:56] gykris opened #1733 "2.1部署有状态的mysql使用NodePort时，报clusterip不能为none"
![1577764556(1)](https://user-images.githubusercontent.com/35713227/71609564-9022b700-2bc4-11ea-9f38-99e9964ca26b.jpg)

[2019-12-31 10:36] Medd1er opened #1734 "Kubesphere installer. Helm tls issue"
Greetings!
Having trouble with installing kubesphere ontop of K8s cluster using tls for helm. The thing is that kubesphere tries to run helm and gets an error: **Transport is closing** which is related to --tls key accordingly. I tried to add **HELM_TLS_ENABLE=true** environment variable to installer pod, but no luck and I get the same problem.
Did I miss something or, perhaps, you do have some so

[2019-12-31 15:40] FeynmanZhou commented on #1734
@Medd1er Hi, we suggest you to close the TLS in your helm client, then you can follow the [ks-installer](https://github.com/kubesphere/ks-installer) to install KubeSphere on your on your K8s cluster.

[2020-01-01 15:24] life1347 opened #1735 "Any plan for CRDs ?"
Hey, thanks for creating this awesome project.
Are there any plans for supporting CRD? It would be really helpful for manipulating CRD on the dashboard directly.

[2020-01-01 15:37] life1347 commented on #1735
duplicate with https://github.com/kubesphere/console/issues/65

[2020-01-01 15:37] #1735 closed

[2020-01-02 02:32] klj890 commented on #1556
可以参考 https://github.com/brancz/kube-rbac-proxy/issues/54

[2020-01-02 04:28] #1675 closed

[2020-01-02 05:03] FeynmanZhou commented on #1734
@Medd1er Have you solved this issue yet? Please let me know if you need help, thanks.

[2020-01-02 05:43] Forest-L commented on #1733
k8s有状态应用不支持NodePort形式。

[2020-01-02 05:46] gykris commented on #1733
这里的模板应该有问题。手动把ClusterIp： None的None去掉才能创建

[2020-01-02 05:46] Forest-L commented on #1731
卸载那些iptables规则

[2020-01-02 09:32] scott-wong commented on #1695
你好，我也遇到这个问题，对kubeconfig不太熟，默认生成的要怎么改才正确呢，谢谢

[2020-01-02 09:43] Medd1er commented on #1734
@FeynmanZhou hi! thanks a lot for your help, it works(installs) without tls, but I need to use it in terms of environment. If there is no other way to use tls - we can close this issue

[2020-01-02 09:52] wansir commented on #1695
@leowucn
这里admin 的 kubeconfig 的反序列化有问题， 可以从kubesphere-controls-system这个项目下kubeconfig-admin 这个 configmap 中直接复制出来

[2020-01-02 15:24] #1734 closed

[2020-01-02 15:29] FeynmanZhou commented on #1734
@Medd1er Hey, have you joined KubeSphere [slack channel](https://join.slack.com/t/kubesphere/shared_invite/enQtNTE3MDIxNzUxNzQ0LTZkNTdkYWNiYTVkMTM5ZThhODY1MjAyZmVlYWEwZmQ3ODQ1NmM1MGVkNWEzZTRhNzk0MzM5MmY4NDc3ZWVhMjE)?

[2020-01-04 06:41] hg-developer commented on #1258
怎么解决得啊，我也遇到了

[2020-01-04 08:12] zryfish commented on #1733
你这样改其实创建的是无状态服务了，不是有状态服务

[2020-01-04 08:13] zryfish commented on #1710
/kind bug
/assign @leoendless
/area console

[2020-01-04 08:14] zryfish commented on #1713
https://golang.org/pkg/flag/

[2020-01-05 03:52] shaowenchen commented on #1721
It is a property that not allowed to modify.

[2020-01-05 03:55] shaowenchen commented on #1730
/area app-management
/assign @pengcong06

[2020-01-05 04:59] shaowenchen commented on #1705
这是个不错的想法，研发团队会考虑。

就目前版本，可以使用 Velero ，以 namespace 为维度进行负载的备份和恢复，达到迁移的目的。

可以参考 https://kubesphere.com.cn/forum/d/256-kubesphere-velero

/milestones 3.0.0

[2020-01-06 01:21] #1721 closed

[2020-01-06 01:22] #1715 closed

[2020-01-06 01:22] #1713 closed

[2020-01-06 01:27] calvinyv commented on #1712
/assign @runzexia

[2020-01-06 01:37] #1704 closed

[2020-01-06 01:47] #1705 closed

[2020-01-06 02:28] runzexia commented on #1712
可以详细描述一下 s2i 是如何配置的，以及describe s2i error pod 的 返回嘛

[2020-01-06 03:10] wnxn commented on #1277
/close

[2020-01-06 03:10] #1277 closed

[2020-01-06 05:48] minghaoye commented on #1601
fixed
/close

[2020-01-06 05:48] #1601 closed

[2020-01-06 05:50] minghaoye commented on #1547
/label Fixed

[2020-01-06 05:52] minghaoye commented on #1547
kind/need-to-verify

[2020-01-06 05:52] minghaoye commented on #1547
/kind need-to-verify

[2020-01-06 05:53] minghaoye commented on #1546
/kind need-to-verify

[2020-01-06 06:51] leoendless commented on #1634
@zryfish 需要后端将内存已使用量格式化后返回

[2020-01-06 07:35] minghaoye commented on #1428
/kind need-verify

[2020-01-06 07:36] minghaoye commented on #1428
/kind need-to-verify

[2020-01-06 07:45] minghaoye commented on #1442
最新代码看已经修复了

/close

[2020-01-06 07:45] #1442 closed

[2020-01-06 08:49] leoendless commented on #1521
Fixed

[2020-01-06 08:50] leoendless commented on #1520
Fixed

[2020-01-06 08:51] leoendless commented on #1520
Fixed

[2020-01-06 09:50] leoendless commented on #1513
Fixed

[2020-01-07 03:08] #1518 closed

[2020-01-07 03:19] #1591 closed

[2020-01-07 03:19] #1610 closed

[2020-01-07 03:19] #1596 closed

[2020-01-07 04:23] PYIsOk opened #1740 "2.1版本All-in-one在线安装使用本地私服下载镜像"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
安装完成后发现metrics-server这个pod起不来，describe发现如下图所示，如何将下图中image的di地址修改为本地私服地址？
**安装环境的硬件配置**
8c，16g，100g
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)
虚拟机
**错误信息或截图**
![错误](https://user-images.githubusercontent.com/37820823/71868287-7a733b80-3148-11ea-9ef3-e8536ee658c5.jpg)

**Installer版本**
2.1版本

[2020-01-07 06:58] leoendless commented on #1393
Fixed

[2020-01-07 06:59] leoendless commented on #1325
Fixed

[2020-01-07 07:02] leoendless commented on #1457
判断没有 ip 就为创建中？需要设计一下怎么展示吧

[2020-01-07 07:09] leoendless commented on #1710
需要修复后端接口对 resourceVersion 的处理

[2020-01-07 08:21] bmingithub commented on #1740
kubectl -n kube-system edit deployment metrics-server 编辑这个metrics-server这个deployment中的image

[2020-01-07 08:32] chinazj commented on #1502
FAILED - RETRYING: kubesphere-installer is ok (30 retries left).

[2020-01-07 08:32] chinazj commented on #1502
FAILED - RETRYING: kubesphere-installer is ok (30 retries left).

[2020-01-07 09:11] PYIsOk commented on #1740
您好，我想知道在脚本中修改哪里可以更改这里？再安装的时候

[2020-01-07 09:42] andi-souwer commented on #1555
init容器是指哪个容器？

[2020-01-07 12:32] ltgentoo opened #1741 "ks-account这个pod一直起不来"
ks-account这个pod一直起不来,奇怪的问题，之前起来过，有一次休眠之后这个pod就起不来
kube-system和kubesphere-system下的其他pod都正常，看这个容器的日志，应该是不能解析redis的dns，日志如下

`nc: bad address 'redis.kubesphere-system.svc'
waiting for redis

nc: bad address 'redis.kubesphere-system.svc'
waiting for redis
waiting for redis
nc: bad address 'redis.kubesphere-system.svc'
nc: bad address 'redis.kubesphere-system.svc'
waiting for redis
`

**Versions used(K

[2020-01-07 14:10] hg-developer commented on #1669
解决了么？我这也发生了这个问题

[2020-01-08 01:53] Carriezhangyan opened #1742 "IE 浏览器不支持HTTP请求中的中文字符"
kubesphere配置一个项目，要求通过http请求可以访问服务

http请求连接为：http://yunwei.test.com/crm/index.php
google浏览器可以访问，IE 浏览器也可以访问

但是如果http请求后面加上中文字符，如：http://yunwei.test.com/crm/index.php?module=Home&action=index&parentTab=产品管理

google浏览器可以访问，IE 浏览器返回错误 400

初步怀疑是一些支持字符串的参数没有设置，，但是不知道是哪些需要设置？

[2020-01-08 01:55] gykris commented on #1733
这里只是改变svc并没有改变pod

[2020-01-08 02:31] zhangpfly commented on #1731
问题已解决
修改配置文件：vim ./k8s/roles/reset/defaults/main.yml
flush_iptables: false  # true改为false
还是用手动清理防火墙规则吧。

清理之前参考：https://www.cnblogs.com/fazero/p/10449931.html
iptables规则清理，不要直接用iptables -F，否则会导致主机失联

iptables -P INPUT ACCEPT
iptables -F

这样就不会失联了。
再执行
ipvsadm -C
ip link delete kube-ipvs0

[2020-01-08 02:31] #1731 closed

[2020-01-08 05:14] quzhixue-Kimi opened #1743 "Macbook Pro, Kubernetes: v1.14.8, Helm: v3.0.2 kubesphere-minimal.yaml 安装失败"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

Hi there,

Macbook Pro 2019年款, 16G内存, 4核, 硬盘空间都足够的情况下,
参考https://kubesphere.com.cn/docs/v2.1/zh-CN/installation/install-on-k8s/
运行kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/master/kubesphere-minimal.yaml

根据kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -o jsonpath='{

[2020-01-08 05:27] FeynmanZhou opened #1744 "The return button in DevOps pipeline directs to 403"
Click the return button in DevOps pipeline, it will direct the page to Not found page and 403 outputs.
![image](https://user-images.githubusercontent.com/40452856/71952530-fb4e3800-3219-11ea-9d1e-0db55c24b9b5.png)
![image](https://user-images.githubusercontent.com/40452856/71952542-02754600-321a-11ea-98be-8f91a712fdb9.png)

[2020-01-08 06:13] quzhixue-Kimi commented on #1743
helm init --service-account=tiller --tiller-image=gcr.io/kubernetes-helm/tiller:v2.14.1   --history-max 300

rror: unknown flag: --service-account

[2020-01-08 06:21] sirennishi2 opened #1745 "系统默认安装的项目中无法设置网关，新建工作负载等"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
在安装完成后，希望minio发布出去，其他命名空间或者项目直接调用，但是在kubesphere-system项目下，无法创建网关配置。
**安装环境的硬件配置**
VMware虚拟机，三个节点。

**错误信息或截图**

**Installer版本**
2.1.0

[2020-01-08 06:27] sirennishi2 opened #1746 "在新建的命名空间中，创建Minio应用不成功"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
创建应用后，总是提示“”容器退出，kubelet正在将它重启“”
**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/52621475/71955316-ea55f480-3222-11ea-8cc1-c1996663eb21.png)

**Installer版本**
2.1.0

[2020-01-08 07:25] Carriezhangyan commented on #1742
部署的应用中，开启了应用治理的项目，IE浏览器访问的网址中有中文字符的话会返回400 错误，而其他浏览器则不会出现这种问题 ； 不开启应用治理的也没有这种问题，，不知道应用治理方面哪里出现了问题呢？

[2020-01-08 09:04] quzhixue-Kimi commented on #1743
ks-apigateway and node-exporter container failed to run and, ks-account container is in init status.

[2020-01-08 10:31] FeynmanZhou opened #1747 "The Deployment status description need to be corrected"
After B2I build successful, I found a grammatical mistake:

Building image successful => Build image successfully

![image](https://user-images.githubusercontent.com/40452856/71970958-9825cb00-3244-11ea-8695-c78fe4a51dba.png)

[2020-01-09 02:17] calvinyv commented on #1743
https://kubesphere.com.cn/forum/d/555-kubesphere-minimal-2-1

看下这个有帮助吗

[2020-01-09 02:27] quzhixue-Kimi commented on #1743
Hi @calvinyv

多谢,多谢.

BR
Kimi

[2020-01-09 02:27] #1743 closed

[2020-01-09 02:29] FeynmanZhou commented on #1743
Helm: v3.0.2？ 目前还不支持 Helm v3，你看看文档里的前提条件 @quzhixue-Kimi

[2020-01-09 03:59] runzexia opened #1748 "s2i/b2i Private image repository failed to pull image"
/kind bug
/area console
/assign @minghaoye

workload should add image pull secret when create s2i/b2i serivce

[2020-01-09 04:00] runzexia opened #1749 "console generate invalid container name"
/kind bug
/area console
/assign @minghaoye @leoendless

![image](https://user-images.githubusercontent.com/31230341/72037020-a83aba80-32d7-11ea-9093-7d5226d092ae.png)

[2020-01-09 07:12] #1652 closed

[2020-01-09 07:16] #1488 closed

[2020-01-09 07:17] #1487 closed

[2020-01-09 07:20] #1530 closed

[2020-01-09 07:23] #1714 closed

[2020-01-09 07:32] justahole commented on #1614
/kind need-to-verify

[2020-01-09 07:32] justahole commented on #1613
/kind need-to-verify

[2020-01-09 07:33] justahole commented on #1582
/kind need-to-verify

[2020-01-09 07:33] justahole commented on #1580
/kind need-to-verify

[2020-01-09 07:34] wansir commented on #1053
@leoendless query param:` orderBy=name`

[2020-01-09 07:35] justahole commented on #1441
/kind need-to-verify

[2020-01-09 07:36] justahole commented on #1448
/kind need-to-verify

[2020-01-09 08:57] minghaoye commented on #1749
/milestone 2.1.1

[2020-01-10 02:30] #1621 closed

[2020-01-10 02:31] #1593 closed

[2020-01-10 03:46] minghaoye commented on #1023
/kind need-to-verify

[2020-01-10 06:40] leoendless commented on #1617
/assign @zryfish

[2020-01-10 06:46] leoendless commented on #1595
@wansir 这里可以将项目资源的默认 limitrange 创建移到 controller 里面完成吗。
@Carlosfengv UI 上项目创建就不显示这个设置了，只在项目基本信息里提供修改方式。

[2020-01-10 06:46] leoendless commented on #1595
/assign @wansir

[2020-01-10 06:49] leoendless commented on #1536
是长时间没有操作导致连接断开了吗，如果是，这种现象可以避免 ws 端口一直被占用。

@Carlosfengv @justahole 可以在 UI上提供个重连的按钮。

[2020-01-10 06:54] leoendless commented on #1375
/assign @pengcong06

[2020-01-10 07:07] wansir commented on #1536
反代有超时设置，需要把心跳加上
/assign @wansir

[2020-01-10 08:20] #1740 closed

[2020-01-10 08:25] justahole commented on #1650
/assign @huanggze 延迟这么高，前端也没有啥办法。3.0 正在路上，这几天会出一个用旧版API的版本

[2020-01-10 08:37] justahole commented on #1569
/kind need-to-verify

[2020-01-10 08:38] justahole commented on #1536
加个重连吧。

[2020-01-10 09:02] huanglei288766 commented on #1585
also need uninstall guides.

[2020-01-10 09:28] weiliang-ms opened #1752 "devops kubeconfig认证失败"
[code]

_用户：admin_
_kubeconfig生成方式：自动生成_

[code]

content换成/projects/kubesphere-controls-system/configmaps/kubeconfig-admin/detail值，
[code]

[code]

请问有处理的方向吗？

除了系统admin用户，其他用户都是ldap接入进来的

[2020-01-10 09:30] weiliang-ms commented on #1741
kubectl get pod -A 查看pod的状态呢?

[2020-01-12 02:29] UnknowName opened #1754 "默认生成的CA证书有效期是多长时间，是否支持修改？以及续期？"
使用的版本为v2.1

[2020-01-12 06:11] huanggze commented on #1754
可以输入以下命令查看 k8s 证书有效期：
`openssl x509 -in /etc/kubernetes/pki/ca.crt -noout -text`

k8s 证书管理请参考：
`https://kubernetes.io/docs/tasks/tls/certificate-rotation/`

[2020-01-12 08:14] #1754 closed

[2020-01-13 01:17] calvinyv opened #1755 "DevOps: Investigate the possibility of integrating Dockfile scanning tool"
Refer to this tech article sharing, some tools has ability to scan Dockfile and find the potential illegal issues, and some customers hope this could happen in ks.

https://mp.weixin.qq.com/s/z9ybN3iS3jD6tikjLoG_2Q

[2020-01-13 01:18] calvinyv commented on #1755
/assign @runzexia @shaowenchen @soulseen
/area devops

[2020-01-13 03:03] benjaminhuo commented on #1386
This can be solved by using  Prometheus alert rule + Alertmanager, 3 default volume alertrule exists already。

[2020-01-13 03:14] huanggze opened #1756 "KubeSphere's workspace ,namespaces and workload need description"
# Workspace

![image](https://user-images.githubusercontent.com/22350668/72231332-e1379f80-35f5-11ea-99a8-7b0d7690fe9b.png)

# Namespace

![2020-01-13_11-12](https://user-images.githubusercontent.com/22350668/72231320-cf55fc80-35f5-11ea-83e0-2288bd8672f3.png)

# Workload
![image](https://user-images.githubusercontent.com/22350668/72588068-16175f80-3932-11ea-9b45-c0db3e081505.png)

# ConfigMap
![im

[2020-01-13 03:15] huanggze commented on #1756
/kind documentation
/assign @leoendless @Carlosfengv

[2020-01-13 05:31] huanggze commented on #1616
df -h 与 df -H 的区别

[code]

[2020-01-13 05:31] huanggze commented on #1616
/kind need-to-verify

[2020-01-13 05:43] huanggze commented on #1584
I think we can close the issue.

Please refer to KubeSphere 2.1.0 release note https://kubesphere.com.cn/docs/v2.1/zh-CN/release/release-v210/

[2020-01-13 05:44] #1584 closed

[2020-01-13 06:39] calvinyv commented on #1457
@Carlosfengv is design ready? if not, let's move this issue to 3.0.0

[2020-01-13 06:42] calvinyv commented on #1464
@huanggze please double confirm if this is issue or as expected? my guess this may be caused by dirty data from prometheus or some status updating from k8s api.

[2020-01-13 06:42] Carlosfengv commented on #1457
原型地址
zpl://screen?pid=5cbe7fbc2f55d8b73f56811b&sid=5e16ed8c9a13e098670643f4

[2020-01-13 06:48] calvinyv commented on #1429
duplicate with #1273, close

[2020-01-13 06:48] #1429 closed

[2020-01-13 07:01] runzexia commented on #1517
/area devops
/area console
/kind bug

[2020-01-13 08:01] huanggze commented on #1756
/milestone 2.1.1

[2020-01-13 08:56] chinazj opened #1758 "kubesphere 多节点安装的时候显示pip 安装出错"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

kubesphere 安装的时候显示python2.7 退出历史舞台

安装环境的硬件配置
操作系统：centos7.7，kvm虚拟机
![image](https://user-images.githubusercontent.com/15140157/72242761-2a531800-3625-11ea-8bea-5c21b1aea609.png)
cpu相关：
![image](https://user-images.githubusercontent.com/15140157/72242727-160f1b00-3625-11ea-9fa2-b0cdd9d9c9a2.png)
内存相关：
![image](https://user-images.githubuserco

[2020-01-13 09:02] huanggze commented on #1505
/kind need-to-verify

[2020-01-13 09:11] pengcong06 commented on #1189
kind/need-to-verify

[2020-01-13 09:12] pengcong06 commented on #1245
kind/need-to-verify

[2020-01-13 09:13] pengcong06 commented on #1259
kind/need-to-verify

[2020-01-13 09:57] Forest-L commented on #1758
再跑脚本重安装下即可。

[2020-01-13 13:07] huanggze commented on #1444
这是 es 分词的缘故，node_cpu_usage 是一个完整的单词，一般下划线算在单词里面。可以通过 nod、node_cpu、node_cpu_usa 这样搜索到。

要再精细化可能影响 es 查询性能，需要评估，看用户有没有方面的需求

[2020-01-14 01:47] chinazj commented on #1758
好像是网络的问题，多次执行python /tmp/pip/get-pip.py可以成功。

[2020-01-14 01:47] #1758 closed

[2020-01-14 02:12] calvinyv commented on #1444
/area documentation
@huanggze 转成文档吧，作为功能限制

[2020-01-14 02:21] calvinyv commented on #1747
/assign @minghaoye

[2020-01-14 02:22] calvinyv commented on #1634
/assign @zryfish

[2020-01-14 02:29] runzexia commented on #1223
@minghaoye 这个地方要取s2ib的lastRunState

[2020-01-14 02:34] calvinyv commented on #1600
@leoendless any code change for this issue? for example, friendly warning msg? if not, pls evaluate if it should be closed or more to future release.

[2020-01-14 02:37] minghaoye commented on #1223
需要再发次请求么，那之前在label里取得状态就没必要了

[2020-01-14 02:41] runzexia commented on #1223
需要再次发请求，之前的不用再取了
@minghaoye

[2020-01-14 02:46] WangBenpeng opened #1759 "Java应用构建时间长"
springboot应用构建时间3分钟，下载速度很慢，请问正常吗？或者有其他的解决办法吗？
`+ mvn package
[INFO] Scanning for projects...
Downloading from central: https://repo.maven.apache.org/maven2/org/springframework/boot/spring-boot-starter-parent/2.1.10.RELEASE/spring-boot-starter-parent-2.1.10.RELEASE.pom
Downloaded from central: https://repo.maven.apache.org/maven2/org/springframework/boot/spring-boot-starter-parent/2.1.10.RELEASE/sp

[2020-01-14 02:47] calvinyv commented on #1445
@mayuhope pls evaluate if this is a accepted answer, if yes, pls close issue.

[2020-01-14 02:52] calvinyv commented on #1152
/assign @zheng1 @pengcong06

[2020-01-14 03:20] runzexia commented on #1752
点击流水线日志的下载按钮，把全量日志贴一下把

[2020-01-14 03:28] weiliang-ms commented on #1752
[code]

[2020-01-14 04:00] runzexia commented on #1752
@weiliang-ms
这个问题我们会在 2.1.1 版本修复。
现在的解决办法为
1.  删除 projects/kubesphere-controls-system/configmaps/kubeconfig-admin
2. 点击工具箱的kubeconfig（会自动重新生成）
3. 把重新生成的 kubeconfig 贴到 devops 的凭证里

[2020-01-14 06:20] weiliang-ms commented on #1752
您好，由于前台删除的时候出现点问题，我用下面命令删除的

`kubectl delete cm/kubeconfig-admin -n kubesphere-controls-system`

请问`kubeconfig-admin`这个资源对象还能用`kubectl`生成么

[2020-01-14 07:05] guoh1988 opened #1762 "界面是否可以添加初始化容器（initcontainer）"
在部署服务或者deploy的时候容器添加并没有initcontainer，感觉部署带有initcontainer的服务很不方便

![72241452-df83d100-3621-11ea-95b3-511551a3e1f2](https://user-images.githubusercontent.com/28557169/72321666-71054880-36df-11ea-9291-861ab2b5f0c9.PNG)

[2020-01-14 07:20] Tangroo opened #1764 "kubesphere2.1多节点安装报错idna、cryptography、dnspython、python-ldap版本太低"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
多节点执行安装脚本后不久就报错，说idna、cryptography、dnspython、python-ldap这些版本不符合要求。最后报错'platform_system' is not defined

**安装环境的硬件配置**
2master
3node
2core
4G内存
centos7.6
VMware虚拟机
[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
  Downloading https://mirrors.aliyun.com/pypi/packages/b9/63/df50cac98ea0d5b006c55a399c3bf1db9da7b5a24de7890bc9cfd5d

[2020-01-14 07:39] weiliang-ms opened #1765 "devops 发布流程提示拉取镜像需要 `docker login`"
deployment文件内容
[code]

jenkinsfile

[code]
pod状态

[code]
pipeline

![image](https://user-images.githubusercontent.com/18642754/72324019-fd663a00-36e4-11ea-8a82-d2f64d15fd6a.png)

应该不需要手动配置harbor secret吧？

[2020-01-14 07:51] weiliang-ms commented on #1759
换源

[2020-01-14 07:52] weiliang-ms commented on #1759
[更换为阿里云源](https://blog.csdn.net/genius_pig/article/details/95402325)

[2020-01-14 08:22] soulseen commented on #1765
拉取私有镜像是需要配置secret的，

[2020-01-14 08:28] runzexia commented on #873
/close

[2020-01-14 08:28] #873 closed

[2020-01-14 08:51] huanggze commented on #1444
测试多次，确实有一次发现出现空白节点。原因是指标 label 返回 node=“”，正常情况不应该出现。新的 pr 排序代码里过滤掉了这样的资源、不参与排序

[2020-01-14 08:52] huanggze commented on #1444
/kind need-to-verify

[2020-01-14 08:53] huanggze commented on #1464
测试多次，确实有一次发现出现空白节点。原因是指标 label 返回 node=“”，正常情况不应该出现。新的 pr 排序代码里过滤掉了这样的资源、不参与排序

[2020-01-14 08:53] huanggze commented on #1444
/remove-kind need-to-verify

[2020-01-14 08:54] huanggze commented on #1464
/kind need-to-verify

[2020-01-14 09:05] rayzhou2017 commented on #1650
这个问题是怎么计划的？

[2020-01-14 09:10] calvinyv commented on #1650
容器日志详情页日志通过k8s原生api获取
日志检索控制台走ks monitoring api获取
@huanggze 对否？

[2020-01-14 09:28] calvinyv opened #1768 "Feat: add gallery wizard page when admin user access ks at first time"
**Describe the bug(描述下问题)**
the gallery wizard page could contains:
doc link
license agreement
change admin pwd
set default docker reg
create default workspace/project
etc...

[2020-01-14 09:28] calvinyv commented on #1768
/assign @Carlosfengv
/kind design

[2020-01-14 10:02] wnxn opened #1769 "Storage management"
1. Get storage class capability: access mode, snapshot, resizing (online or offline), monitoring, cloning. #1581 #1427 #951
2. Install storage plugin: install from application market. #833
3. Uninstall storage plugin

[2020-01-14 10:08] benjaminhuo commented on #1650
@rayzhou2017 @calvinyv 是的容器日志详情页走 k8s 原生 api， 其他的走原路线 es。
这个问题陈豪会在 2.1.1 改好

[2020-01-14 10:08] wnxn commented on #1769
/milestone 3.0.0
/area storage

[2020-01-14 11:30] huanglei288766 opened #1770 "应用商店charts解析问题"
**问题描述**
应用商店chart的values无法载入，无法部署。
第三方仓库chart的values可以载入，可以部署，无法实例化。

**安装环境的硬件配置**
aws云主机，Ubuntu18。
在kubernetes上部署的ks.

**错误信息或截图**

![解析问题](https://user-images.githubusercontent.com/41362385/72340984-234f0700-3704-11ea-99a8-03d1ea91d18c.png)

**Installer版本**
2.1.0

[2020-01-14 11:57] #1656 closed

[2020-01-15 02:33] ellaye commented on #1652
fixed

[2020-01-15 02:37] leoendless commented on #1600
和后端讨论了下，可以在前端进行 fix

[2020-01-15 02:37] ellaye commented on #1621
fixed

[2020-01-15 02:42] ellaye commented on #1593
fixed

[2020-01-15 02:48] wnxn commented on #1656
/assign @justahole
/milestone 2.1.1

[2020-01-15 02:51] Carlosfengv commented on #1768
license agreement 需要提供一下具体的内容

[2020-01-15 02:51] ellaye commented on #1591
fixed

[2020-01-15 02:52] ellaye commented on #1610
fixed

[2020-01-15 02:57] ellaye commented on #1613
fixed

[2020-01-15 02:59] ellaye commented on #1613
/close

[2020-01-15 02:59] #1613 closed

[2020-01-15 03:26] ellaye commented on #1521
fixed
/close

[2020-01-15 03:26] #1521 closed

[2020-01-15 03:46] huanggze commented on #1475
这应该可以关了吧，是k8s api 返回的结果，应该是预期的

[2020-01-15 03:55] huanggze commented on #1650
是的。因为从 fluent bit 采集日志、转发到 es、es 分片建立索引 到前段可查有个延迟。所以最新的容器页日志会采用 k8s log api，其他不变

[2020-01-15 05:36] ellaye commented on #1520
没有问题
/close

[2020-01-15 05:36] #1520 closed

[2020-01-15 05:54] ellaye commented on #1513
fixed
/close

[2020-01-15 05:54] #1513 closed

[2020-01-15 06:01] calvinyv commented on #1768
具体开发时再说内容吧，设计的时候可以用马赛克字代替

[2020-01-15 06:29] chinazj commented on #1690
我也遇到这个问题。我的是apiserver连接不了jenkins。
![image](https://user-images.githubusercontent.com/15140157/72410437-4ed4fe80-37a3-11ea-98d5-0b70bb44377d.png)
devops里面的pods也正常。
![image](https://user-images.githubusercontent.com/15140157/72410499-6ca26380-37a3-11ea-8b31-28517d5a2f76.png)
是我少了启动一个容器还是网络不对

[2020-01-15 06:32] leowucn commented on #1690
看看是不是jeninks报错了

[2020-01-15 06:48] chinazj commented on #1690
jeninks页面打不开。在devops服务里面没有jeninks 直接相关的pods，只有一个update-jeninks
![image](https://user-images.githubusercontent.com/15140157/72411492-ee938c00-37a5-11ea-9dec-1f84d17e78be.png)

[2020-01-15 06:49] leowucn commented on #1690
我现在没开启devops，你可以到命令行中看，一个jenkins pod

[2020-01-15 07:49] chinazj commented on #1690
命令行下只有这个pod。
![image](https://user-images.githubusercontent.com/15140157/72414605-96608800-37ad-11ea-9c17-0c6e9134acb5.png)
然后我查了镜像，发现只有带jenkins关键字的只有kubesphere/jenkins-uc（这不是jenkins的包）。
![image](https://user-images.githubusercontent.com/15140157/72414805-0969fe80-37ae-11ea-9e3a-cf18d1201302.png)

我又从离线包上现在镜像包jenkins_images.tar，在另一台电脑上安装，对比发现缺少了很多镜像。
![image](https://user-images.githubusercontent.

[2020-01-15 08:06] leoendless commented on #1756
需要提供相关文案，并在 ks-installer 中对应模板加上描述
``metadata.annotations['kubesphere.io/description']``

[2020-01-15 09:11] weiliang-ms commented on #1765
修改项目中的deployment yaml文件，配置拉取镜像的secret还是提示没有权限
![image](https://user-images.githubusercontent.com/18642754/72419874-9e71f500-37b8-11ea-8692-2ff43c2d35f8.png)

执行以下命令查看配置，发现修改内容并没有生效

`kubectl get deployments -n golf-cloud-dev golf-zuul-dev -o yaml`

配置没有生效
![image](https://user-images.githubusercontent.com/18642754/72420332-8058c480-37b9-11ea-94fa-831cd491a5be.png)

请问是我操作的问题吗？

[2020-01-15 09:41] runzexia commented on #1517
/milestone 2.1.1

[2020-01-15 09:41] runzexia commented on #1529
/milestone 2.1.1

[2020-01-15 09:47] wansir commented on #1529
fixed  #1763

[2020-01-15 10:09] qqqlllei opened #1773 "KubeSphere 2.1.0 安装失败"
MSG:

Error from repoquery: ['/bin/repoquery', '--show-duplicates', '--plugins', '--quiet', '--disablerepo', '', '--enablerepo', '', '--qf', '%{name}|%{epoch}|%{version}|%{release}|%{arch}|%{repoid}', 'container-selinux']: Not using downloaded docker-ce/repomd.xml because it is older than what we have:
  Current   : Fri Nov 15 01:47:37 2019
  Downloaded: Wed Oct  9 00:45:37 2019
Could not match pa

[2020-01-15 10:14] yunkunrao commented on #1770
/kind bug
/area devops
/assign @pengcong

[2020-01-15 10:19] leowucn commented on #1690
@runzexia

[2020-01-15 10:21] yunkunrao commented on #1773
Hi, could you please provide more details about your installation environment, such as OS, distribution etc.

[2020-01-15 10:30] yunkunrao commented on #1764
From the error log, it seems that idna, cryptography version are too low. Could you please first upgrade these modules? I think the following ansible errors  are produced because of this  version compatibility problem.

[2020-01-15 10:42] yunkunrao commented on #1762
/area deploy
/kind design

[2020-01-15 10:50] yunkunrao commented on #1762
/assign @FeynmanZhou

[2020-01-15 10:51] chinazj commented on #1690
describe the bug(问题)
kubesphere-system命名空间下pod状态正常，但是页面上无法创建devops。
![image](https://user-images.githubusercontent.com/15140157/72427655-337bea80-37c7-11ea-8cbc-5ee9c03e8c96.png)

Versions used(KubeSphere/Kubernetes的版本)
KubeSphere: 2.1.0
Kubernetes: 1.15.7

Environment(环境的硬件配置)
1 masters: 4cpu/8g
2 nodes: 2cpu/4g
又可能和这个有关。

installer-log(仅error日志)
重新执行ks-installer的日志

[code]
kubesphere-devops-syst

[2020-01-15 10:56] yunkunrao commented on #1762
Good news! This feature will be supported in 2.1.1 release. :smile:

[2020-01-15 10:57] leowucn commented on #1690
你要看devops那个命名空间，特别是那个命名空间下的jenkins是否运行正常，看日志

[2020-01-15 11:15] runzexia commented on #1690
看看devops下面sonarqube的运行状态

[2020-01-15 11:40] chinazj commented on #1690
![image](https://user-images.githubusercontent.com/15140157/72430915-7ab9a980-37ce-11ea-91ce-1fb8a41b3c1b.png)
这个吗？

我在单机版单独比较过，缺少ks-jenkins容器。还有两个服务（两个服务都是这个ks-jenkins容器）。
![image](https://user-images.githubusercontent.com/15140157/72431035-d421d880-37ce-11ea-9293-28c57d017850.png)

[2020-01-15 11:43] chinazj commented on #1690
sonarqube容器日志

[code]

[2020-01-15 11:48] runzexia commented on #1690
看之前sonarqube重启了很多次，应该是这个导致的。 可以检查下sonarqube的重启原因。
检查完毕后，可以删掉installer的pod触发重新安装，就可以安装成功了

[2020-01-15 11:49] chinazj commented on #1690
好的，我在检查检查。

[2020-01-15 12:23] leoendless commented on #1770
这里的 chart 是哪个应用呢

[2020-01-16 00:52] #1582 closed

[2020-01-16 02:43] wnxn commented on #1445
我觉得目前开放小数意义不大，数值部分按照整数处理即可。

[2020-01-16 02:44] justahole commented on #1445
同意，请求关闭这个issue

[2020-01-16 02:45] wnxn commented on #1581
@justahole 2.1.1 先在前端修复一下，把这个异常 event 处理下。

[2020-01-16 03:11] wnxn commented on #1427
/area storage
/close

[2020-01-16 03:12] #1427 closed

[2020-01-16 03:33] mayuhope commented on #1445
经沟通，跟前端UI库有关，输入的时候是小数，但是当光标移开的时候就会转为整数了，这是内部UI库的实现， 关闭此issue

[2020-01-16 03:33] #1445 closed

[2020-01-16 03:36] ellaye opened #1775 "keep max old branches in devops scm is not work"
reproduce steps:
1、Create a scm，git code repo select ellaye/devops-branch-test
2、Max old branches to keep is 2
3、Discover Branches is All branches
4、Click create button
Exceptd result: scan branch is 2
Actual result: scan branch is 4

![image](https://user-images.githubusercontent.com/57089340/72490822-3d4b2f80-3853-11ea-84f0-242085dc6c2d.png)
![image](https://user-images.githubusercontent.com/570

[2020-01-16 03:38] ellaye commented on #1775
/assign @runzexia
/assign @minghaoye
/kind bug
/area console
/area devops

[2020-01-16 03:48] minghaoye commented on #1223
@runzexia 一个页面如果有10个 s2i 资源就得发10次查询请求。2.1.1这里前端先加个聚合api，这里后面后端还是得做处理。

[2020-01-16 03:50] wansir opened #1776 "Feat: create secret/configMap from binary file or base64 binary data"
/kind feature
/assign @leoendless

[2020-01-16 03:54] wansir commented on #1776
/milestone 3.0.0

[2020-01-16 03:58] scott-wong opened #1777 "2.1.0项目中存储卷容量显示错误"
**General remarks**

项目中存储卷容量显示错误

**Describe the bug(描述下问题)**

基础设施中的容量
![image](https://user-images.githubusercontent.com/1947609/72491998-b304ca80-3856-11ea-9d61-c4f361f1f653.png)

项目存储卷容量显示
![image](https://user-images.githubusercontent.com/1947609/72492187-4938f080-3857-11ea-9d3d-ea819a6e7db8.png)

**Versions used(KubeSphere/Kubernetes的版本)**
KubeSphere: 2.1.0

**Environment(环境的硬件配置)**
allinon

[2020-01-16 04:07] wnxn commented on #1777
/area storage
/assign @wnxn
/kind bug
/milestone 3.0.0

[2020-01-16 04:23] ellaye opened #1778 "days to keep old branches in devops scm is not work"
reproduce steps:
1、Create a scm，git code repo select ellaye/devops-branch-test
2、days to keep old items is 2
3、Discover Branches is All branches
4、Click create button
Exceptd result: scan branch is 1
Actual result: scan branch is 4

![image](https://user-images.githubusercontent.com/57089340/72491516-39201180-3855-11ea-9656-3c7f4be18be1.png)
![image](https://user-images.githubusercontent.com/57089

[2020-01-16 04:23] ellaye commented on #1778
/assign @runzexia
/assign @minghaoye
/kind bug
/area console
/area devops

[2020-01-16 04:51] ellaye commented on #1775
/milestone 2.1.1

[2020-01-16 04:55] ellaye opened #1779 "There is no PullRequest"
reproduce steps:
1、Create a scm，git code repo select ellaye/devops-branch-test
2、Discover Branches select All branches
3、Pull Stategy select [Source code version of PR merged with target branch]
4、Click create button
Exceptd result: there is one PullRequest
Actual result: there is no PullRequest

![image](https://user-images.githubusercontent.com/57089340/72494583-4641fe00-385f-11ea-866d-37b8c52dd

[2020-01-16 04:56] ellaye commented on #1779
/assign @runzexia
/assign @minghaoye
/kind bug
/area console
/area devops
/milestone 2.1.1

[2020-01-16 05:01] ellaye opened #1780 "There is only one pullRequest when select [Two pipelines are created when PR is discovered]"
reproduce steps:
1、Create a scm，git code repo select ellaye/devops-branch-test
2、Discover Branches select All branches
3、Pull Stategy select [Two pipelines are created when PR is discovered......]
4、Click create button
Exceptd result: there is two PullRequest
Actual result: there is one PullRequest

![image](https://user-images.githubusercontent.com/57089340/72494829-092a3b80-3860-11ea-82d7-bf22e1

[2020-01-16 05:01] ellaye commented on #1780
/assign @runzexia
/assign @minghaoye
/kind bug
/area console
/area devops
/milestone 2.1.1

[2020-01-16 05:02] ellaye commented on #1778
/milestone 2.1.1

[2020-01-16 05:23] runzexia commented on #1779
https://github.com/jenkinsci/github-branch-source-plugin/pull/264

upstream bug

[2020-01-16 05:25] runzexia commented on #1780
This problem needs to be resolved in the upstream (jenkinsci). It is possible to milestone 3.0.0.

[2020-01-16 06:25] wnxn commented on #1581
列表页警告从资源 status 而来，event 有警告时资源 status 不一定会警告，所以这里前端处理没问题。
NFS 没扩容功能，为了避免出现这个警告，3.0.0 统一存储管理会在后端开发。

[2020-01-16 06:29] wnxn commented on #1581
/close

[2020-01-16 06:29] #1581 closed

[2020-01-16 06:34] 714139391 opened #1782 "我想咨询下是否有离线安装版教程和离线安装包？？？"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**

**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**

**Installer版本**

[2020-01-16 07:09] ellaye opened #1783 "The commit is empty in Branch when repository is svn"
reproduce steps:
1、create a scm，code repo select svn
2、type select svn
3、click OK button
4、after a few minutes, check Branch
Exceptd result: the commit is not empty
Actual result: the commit is  empty
![image](https://user-images.githubusercontent.com/57089340/72501481-e012a680-3871-11ea-945c-cc933805203b.png)

[2020-01-16 07:10] ellaye commented on #1783
/assign @minghaoye
/kind bug
/area console
/area devops
/milestone 2.1.1

[2020-01-16 07:16] ellaye opened #1784 "When edit the type from svn to single svn, it is no change"
reproduce steps:
1、create a scm which type is svn
2、edit the scm ,change type from svn to single svn
Exceptd result: change effects, and start to scan repo
Actual result: change no effects

![image](https://user-images.githubusercontent.com/57089340/72501942-2ae0ee00-3873-11ea-87b7-a81ca8813c32.png)

[2020-01-16 07:17] ellaye commented on #1784
/assign @minghaoye
/kind bug
/area console
/area devops
/milestone 2.1.1

[2020-01-16 07:22] minghaoye commented on #1783
none commit data in this page, i'll remove this header

[2020-01-16 07:26] minghaoye commented on #1775
/remove-area console

[2020-01-16 07:43] wnxn commented on #1507
/area storage

[2020-01-16 07:58] soulseen commented on #1765
deploy yaml中配置了secret吗，可以把更新后贴出来看下吗，上面的deployment截图中没有看到secret。可以在检查下，部署的deployment yaml文件。

[2020-01-16 08:07] runzexia commented on #1780
same ref: https://github.com/kubesphere/kubesphere/issues/1780

[2020-01-16 08:38] mayuhope commented on #1441
此问题经过验证已修复，关闭issue

[2020-01-16 08:38] #1441 closed

[2020-01-16 08:41] mayuhope commented on #1450
经验证已修复，关闭issue

[2020-01-16 08:41] #1450 closed

[2020-01-16 09:17] #1580 closed

[2020-01-16 09:45] leoendless opened #1785 "提供方法指引来修改节点的 max pods"
**General remarks**

**Describe the bug(描述下问题)**

- [ ] 节点容器组的容量固定为 110。当容量到达时，新建的 pods 会一直 pending， 期望能通过 UI 来修改。
- [ ] 在 installer 里预置一些告警规则来监控 kubesphere 的运行，可以在异常时及时通知管理员。

[2020-01-16 09:48] weiliang-ms commented on #1765
[code]

[2020-01-16 09:49] weiliang-ms commented on #1765
[code]

[2020-01-16 09:50] weiliang-ms commented on #1765
上面截图那个deployment是执行以下命令的输出截图

`kubectl get deployments -n golf-cloud-dev golf-zuul-dev -o yaml
`

[2020-01-16 09:53] FeynmanZhou commented on #1782
论坛已回复。

[2020-01-16 09:53] #1782 closed

[2020-01-16 10:14] mayuhope commented on #1547
已修复

[2020-01-16 10:14] #1547 closed

[2020-01-16 10:18] mayuhope commented on #1448
经验证已修复

[2020-01-16 10:18] #1448 closed

[2020-01-16 10:21] mayuhope commented on #1440
@whDongRui  这个问题开发环境仍然存在，麻烦看一下

[2020-01-16 10:28] runzexia commented on #1778
not a issue
this days means Days of the pipeline
/close

[2020-01-16 10:28] #1778 closed

[2020-01-16 10:34] runzexia commented on #1775
not a bug
/close
Consider one of the following scenarios.
`create pipeline(keep 2 branch) -> scan scm(4 branch) -> quick re scan scm -> clean 2 branch?`

In this case, if re scan will delete the branch, some branches may be deleted before the user could see it.

Therefore, in the implementation, only the creation of a new branch event will trigger the cleaning strategy.
like
`create pipeline(keep

[2020-01-16 10:34] #1775 closed

[2020-01-16 10:36] runzexia commented on #1770
/remove-area devops
/area app-management

[2020-01-17 02:21] huanglei288766 commented on #1770
是ks官方文档里的emqx，其他应用也有这个问题。

[2020-01-17 02:23] soulseen commented on #1765
创建的secret regcred 好像是在 default ns下？golf-cloud-dev下创建了吗

[2020-01-17 02:40] leoendless commented on #1770
这个问题在  https://github.com/kubesphere/console/pull/99 里修复了，会在 v2.1.1 正式 release。

[2020-01-17 03:24] yuenwah opened #1787 "什么样的服务才能使用流量治理"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
按示例的应用是没问题，然后我自己从应用商店部署了个nginx，想用这个nginx模拟流量治理但不能操作，点击灰度发布的时候无法选择 组件，什么样的应用才能识别为支持灰度的组件
我目前是想部署一个v1版本的nginx，然后灰度到v2，其实镜像不变，我只是通过修改html判断
**安装环境的硬件配置**

[备注]: <> (请说明节点的运行环境，是否是物理机，云主机，VMware虚拟机)

**错误信息或截图**
![image](https://user-images.githubusercontent.com/34834139/72581764-6931e800-391b-11ea-8bc6-4dc50a3a6025.png)
![image](https:/

[2020-01-17 03:56] huanglei288766 commented on #1770
thank u.
今天在做测试的时候我发现并不是所有仓库都会有这种情况，在使用了阿里云的仓库进行了几次部署，都成功了。

[2020-01-17 03:56] #1770 closed

[2020-01-17 05:35] weiliang-ms commented on #1765
应该是secret命名空间的问题，我理解错了。感谢。

[2020-01-17 05:35] #1765 closed

[2020-01-17 05:40] mayuhope commented on #1546
在dev环境验证，此问题已修复。

[2020-01-17 06:43] mayuhope commented on #1600
在dev环境经验证已修复，目前同一个浏览器登录2个不同权限的用户时，会以后登录的用户token为准

[2020-01-17 06:46] mayuhope commented on #1440
在dev环境经验证已修复

[2020-01-17 07:34] bmwcyq520 opened #1788 "centos8.1安装报错"
[备注]: <> (请补全下面信息，帮助我们更快地定位问题。提交问题前预览下issue，看下是否有格式错误)

**问题描述**
fatal: [ks-allinone]: FAILED! => {
    "changed": false,
    "cmd": "dnf install -y python2-dnf",
    "rc": 1
}
STDOUT:
上次元数据过期检查：0:05:51 前，执行于 2020年01月17日 星期五 15时21分08秒。
未找到匹配的参数： python2-dnf
STDERR:
错误：没有任何匹配: python2-dnf
MSG:
错误：没有任何匹配: python2-dnf
**安装环境的硬件配置**
虚拟机环境centos8.1  ,刚装的干净虚拟机.没有安装任何软件,跟任何操作,直接安装报错.
安装的是all-in-one.
$ cu

[2020-01-17 07:46] shaowenchen commented on #1787
需要创建一个 nginx 的 ingress 应用，可以参考下面的文档。
https://kubesphere.com.cn/docs/v2.1/zh-CN/quick-start/ingress-canary/#___gatsby

[2020-01-17 07:52] shaowenchen commented on #1788
目前暂时不支持 CentOS 8，可以关注下这个项目 https://github.com/kubesphere/ks-installer ，后续会支持。

[2020-01-17 07:55] shaowenchen commented on #1746
调整下项目配额，可能是CPU或者内存不够，被强制终止了。

[2020-01-17 07:59] shaowenchen commented on #1745
kubesphere-system 是系统相关组件，配置不会完全对外开放。

可以直接 minio.kubesphere-system.svc:9000
账户 openpitrixminioaccesskey : openpitrixminiosecretkey 进行使用

[2020-01-17 12:17] lxjhk opened #1789 "Node exporter not sending data: http: proxy error: context canceled"
**General remarks**

The dashboard does not show CPU, ram and disk usage.

**Describe the bug(描述下问题)**

![20200117201622](https://user-images.githubusercontent.com/9475863/72611963-67d9dd00-3966-11ea-9b5e-a7e6999dc636.jpg)

After running `k logs -f node-exporter-gw6qr -n kubesphere-monitoring-system kube-rbac-proxy`, I get the following:

[code]
It seems that node exporters are unable to send data

[2020-01-17 14:45] leoendless commented on #1223
1. s2i 状态发生变化时，没有触发对应 workload 的 watch 接口。
2. s2i 状态发生变化时，有触发对应 workload 的 watch 接口。前端监听到变化，获取新的列表数据。但 workload 里的 s2i 状态没有更新。

@runzexia @minghaoye 是哪一种情况呢

[2020-01-18 01:41] WangBenpeng commented on #1759
在IDEA中很快，设置的是阿里云源，在kube中没找到配置的地方，请问在哪里修改？

[2020-01-18 02:39] huanggze commented on #1789
This might be attributed to K8s version. We are moving to K8s v1.16, and will release KubeSphere v2.1.1 in Feb. So far you can try with v1.15

[2020-01-18 02:40] huanggze commented on #1789
/area monitoring

[2020-01-18 04:45] FeynmanZhou commented on #1789
@lxjhk What's your Kubernetes version?

[2020-01-18 07:51] hl8437 opened #1790 "openpitrix安装时机问题。"
**问题描述**
以下是我的两种安装openpitrix的方式
1. 最小化安装ks，然后修改configmap，将openpitrix设置为true
2. 安装ks时候直接将openpitrix设置为true。
第一种方式会导致一些安装不顺畅，比如openpitrix-system空间下的一些job卡在等待mysql和etcd的initContainer上。

**安装环境的硬件配置**
aws云主机，ubuntu18
在k8s上部署ks

**错误信息或截图**

**Installer版本**
2.1

[2020-01-18 08:01] FeynmanZhou commented on #1790
目前第二种安装方式是否可以安装成功呢？ @huanglei288766

[2020-01-18 08:01] huanglei288766 commented on #1790
可以

[2020-01-19 01:25] lxjhk commented on #1789
all nodes are running v1.15.7

[2020-01-19 01:31] lxjhk commented on #1789
This problem seems to have come from node_exporter. node_exporter does not return my HTTP call. It holds the connection until expiry.

This is done inside the container and also on the host. This call should bypass kube_rbac_proxy and go directly to node_exporter.

[code]
To investigate this issue further, I started another node_exporter process with the following command line: `/bin/node_exporter

[2020-01-19 01:36] lxjhk commented on #1789
[code]

[2020-01-19 01:50] lxjhk commented on #1789
The root cause seems to be related to the following error in node_exporter

[code]

If I ignore these directories with the following command options when running node_exporter:

[code]

I can get the output successfully using 'curl'

[2020-01-19 02:23] ellaye commented on #1616
/close

[2020-01-19 02:23] #1616 closed

[2020-01-19 02:44] zryfish commented on #1618
not a bug, node conditions are posted by kubelet. If node down, kubelet will stop post conditions.  The status of node is the last conditions that kubelet posted.

[2020-01-19 02:45] zryfish commented on #1617
Not a bug

[2020-01-19 02:49] ellaye commented on #1617
/close

[2020-01-19 02:49] #1617 closed

[2020-01-19 02:49] ellaye commented on #1618
/close

[2020-01-19 02:49] #1618 closed

[2020-01-19 02:51] ellaye commented on #1614
fixed

[2020-01-19 03:03] ellaye commented on #1518
fixed

[2020-01-19 03:07] ellaye commented on #1583
fixed

[2020-01-19 03:07] bmwcyq520 commented on #1788
好的,谢谢!

[2020-01-19 03:14] huanggze commented on #1789
No idea so far for the permission denied problem, while can you add `scrapeTimeout` and increase it,
 to see if we can fix error `http: proxy error: context canceled`?

`kubectl edit servicemonitor  -n kubesphere-monitoring-system node-exporter`

![image](https://user-images.githubusercontent.com/22350668/72674009-a679af80-3aac-11ea-9fce-5327cdbc205c.png)

[2020-01-19 03:25] ellaye opened #1791 "The storage class is empty in createing Volume"
Reproduces steps:
1、create storage class more than 10
2、create a pvc，check storage class
excpeted result ：the storage class is  the default sc
actual result：the storage is empty

![image](https://user-images.githubusercontent.com/57089340/72674074-85fe2500-3aad-11ea-8d10-653f7a9fd14d.png)

[2020-01-19 03:26] ellaye commented on #1791
/assign @justahole
/kind bug
/area console
/milestone 2.1.1

[2020-01-19 05:10] lxjhk commented on #1789
It does not resolve the issue. Calling node_exporter simply does not return at all. The connection hangs.

[2020-01-19 05:20] lxjhk commented on #1789
Permission of the relevant files here:

[code]

[2020-01-19 07:31] minghaoye commented on #1223
添加的耦合代码太多，这个修复移到 3.0，在意这个显示的可以先自行合并这个 PR（https://github.com/kubesphere/console/pull/105）并编译。

/milestore 3.0

[2020-01-19 08:36] qqqlllei commented on #1773
自己好了，猜想是https://yum.dockerproject.org/repo/main/centos/7/repodata/repomd.xml 这个地址不能访问了，点击进去响应码是403，现在可以了。

[2020-01-19 08:37] qqqlllei commented on #1773
解决

[2020-01-19 08:40] qqqlllei opened #1793 "异常登录不了"
ERR Error: Http response closed while proxying /kapis/resources.kubesphere.io/v1alpha2/namespaces/demo/pods?conditions=ownerKind%3DDeployment%2CownerName%3Ddemo-b-bfjaet&paging=limit%3D10%2Cpage%3D1
    at ServerResponse.n.res.on (/root/KubeSphereUI/server/server.js:352:1573)
    at emitNone (events.js:106:13)
    at ServerResponse.emit (events.js:208:7)
    at Socket.onServerResponseClose (_http_

[2020-01-20 02:26] chinazj commented on #1700
看一下jenkinsfile。

[2020-01-20 02:29] chinazj commented on #1700
注意代理，需要填写maven
![image](https://user-images.githubusercontent.com/15140157/72694318-92e34d00-3b6f-11ea-8343-700b902605f4.png)
这个在jenkinsfile的表现为agent部分

[code]

[2020-01-20 02:59] leoendless commented on #1793
检查 kubesphere  各个服务组件的状态是否正常

[2020-01-20 03:01] #1600 closed

[2020-01-20 10:55] calvinyv opened #1796 "Alert&Notification: alert for K8s cluster certification expiration"
**General remarks**

**Describe the bug(描述下问题)**
The period of K8s certification validity is one year, which is hard coded in K8s, if possible, KubeSphere could provide notification when it's close to expire.

[2020-01-20 10:56] #735 closed

[2020-01-20 10:59] #456 closed

[2020-01-20 11:00] #461 closed

[2020-01-20 11:01] calvinyv commented on #461
already supported in 2.1.0

[2020-01-20 11:02] calvinyv commented on #758
already provided on github, welcome to raise PR for this dev guides

[2020-01-20 11:02] #758 closed

[2020-01-20 11:05] calvinyv commented on #935
solution provided

[2020-01-20 11:05] #935 closed

[2020-01-20 11:09] calvinyv commented on #1212
fixed in 2.1.0

[2020-01-20 11:09] #1212 closed

[2020-01-20 11:10] #1247 closed

[2020-01-20 11:11] #1286 closed

[2020-01-20 11:11] calvinyv commented on #1287
fixed in 2.1.0

[2020-01-20 11:11] #1287 closed

[2020-01-20 11:13] #1336 closed

[2020-01-20 11:14] pixiake commented on #951
@wnxn https://github.com/kubesphere/ks-installer/blob/79100d6b4ba4ffbfe9c5e6b91487ef337490ea5e/src/kubesphere/roles/plugins/LocalVolume/templates/openebs-lite-sc.yaml.j2#L8

[2020-01-20 11:14] calvinyv commented on #1314
@zryfish pls verify it.

[2020-01-20 11:15] calvinyv commented on #1348
@leoendless  pls assign this issue to right person to fix, thx.

[2020-01-20 11:16] calvinyv commented on #1369
@pixiake how about this issue now?

[2020-01-20 11:17] calvinyv commented on #1381
@rayzhou2017 pls verify it in 2.1.1

[2020-01-20 11:18] calvinyv commented on #1395
/assign @minghaoye

[2020-01-20 11:20] calvinyv commented on #1498
@ellaye pls verify it.

[2020-01-20 12:03] hl8437 opened #1797 "监控组件可插拔"
**问题描述**
当前2.1版本下，即使最小化安装也会进行监控组件的自动安装。
因为线上已经有相同的组件，并且进行了个性化配置，所以必然会产生一些冲突。

**建议**
1. 将monitoring相关组件做成可插拔
2. 将monitoring相关组件做成可以接入现有系统
3. 或者提供可以配置monitoring组件的方法

[2020-01-20 13:33] chinazj commented on #1690
初步估计为内存不够，服务器负载比较大。除此之外，主节点不允许调度，子节点一重新安装内存飙升3.5（一共4）。两次重新安装发现，每次安装中，sonarqube容器都会失效（之前已经注意到这个问题，太能吃内存了）。安装完之后过一段时间sonarqube容器正常，而错误日志会被消除。

如果不是内存问题，那就是helm的问题。

[2020-01-21 01:33] wangweiIT opened #1798 "All-in-one 安装报错 centos 7.5 离线安装"
fatal: [ks-allinone]: FAILED! => {
    "changed": true,
    "cmd": "systemctl daemon-reload && service docker restart",
    "delta": "0:00:00.349668",
    "end": "2020-01-21 09:13:49.189002",
    "rc": 1,
    "start": "2020-01-21 09:13:48.839334"
}

STDERR:

Redirecting to /bin/systemctl restart docker.service
Job for docker.service failed because the control process exited with error code. See "s