[2021-07-21 01:50] stoneshi-yunify opened #4092 "Supports more object fields in console when creating storageclass"
**What's it about?**

![image](https://user-images.githubusercontent.com/70880165/126417487-127a63b8-7a86-4a53-b970-e0c122def5d2.png)

The ks-console doesn't support edit below fields:
- volumebindingmode
- allowedTopologies
- mountOptions

/area console
/milestone v3.2
/kind feature-request

[2021-07-21 01:57] stoneshi-yunify commented on #3972
ks v3.1.1 allows user to add customized quotas include storage quotas. So this issue has been solved.

[2021-07-21 01:57] #3972 closed

[2021-07-21 01:58] stoneshi-yunify commented on #4089
/good-first-issue

[2021-07-21 02:06] stoneshi-yunify commented on #4075
/area console
/kind design

[2021-07-21 02:07] stoneshi-yunify commented on #4074
/area console
/kind design

[2021-07-21 02:09] stoneshi-yunify commented on #4091
/area console
/kind design

[2021-07-21 02:10] stoneshi-yunify commented on #4092
/kind design

[2021-07-21 02:23] RolandMa1986 commented on #3405
/milestone v3.2

[2021-07-21 02:23] RolandMa1986 commented on #4045
/milestone v3.2

[2021-07-21 02:51] stoneshi-yunify commented on #4075
/assign @f10atin9

[2021-07-21 02:54] f10atin9 commented on #4075
/assign

[2021-07-21 02:54] daniel-hutao opened #4093 "Configurations module is disappeared sometimes"
**Describe the Bug**

Normal

![image](https://user-images.githubusercontent.com/18692628/126423222-86b02995-4ec7-4cd0-8f94-85a1479392b3.png)

Abormal

![image](https://user-images.githubusercontent.com/18692628/126423195-3e94202b-ee85-4f8d-adfe-14effc509cff.png)

**Versions Used**
KubeSphere: v3.1

/kind bug

[2021-07-21 02:54] f10atin9 commented on #4074
/assign

[2021-07-21 05:58] yuswift commented on #4093
/area console
/milestone v3.2
/cc @kubesphere/sig-console

[2021-07-21 06:30] #3959 closed

[2021-07-21 07:44] wanjunlei commented on #4087
For each receiver, it can set a label selector to filter the notifications which the receiver will receive.

After the receiver and config were changed, it can validate whether the configuration is correct, if the configuration is correct, it will send a test notification to the receiver.

[2021-07-21 07:45] yyt6200 commented on #4084
/closed

[2021-07-21 07:45] #4084 closed

[2021-07-21 08:03] xyz-li opened #4094 "ks should build with vendor by default."
**What's it about?**

**What's the reason why we need it?**
Currently, all of the modules are include in vendor/ dir.  But when run `make ks-apiserver` or `make ks-controller-manager` in a clean environment, go will load the modules first, which is unnecessary.

[code]

**Area Suggestion**

/kind feature-request

[2021-07-21 08:38] yyt6200 opened #4096 "Minio keeps restarting."
**system version: centos7**
**kubernetes version: 1.19.10**
**kubesphere version: 3.1.0**
**minio logs**
------
![image](https://user-images.githubusercontent.com/44914868/126458159-59151c6b-7d5c-4a74-88b7-542bc34e0476.png)
------
**minio event**
![image](https://user-images.githubusercontent.com/44914868/126458289-abe6c4cc-a43b-47f7-abb4-5ce91b4f79f5.png)
------
**kubesphere-system pods status**

[2021-07-21 08:40] LinuxSuRen commented on #3793
/remove-stale

[2021-07-21 09:40] #4096 closed

[2021-07-21 10:31] LinuxSuRen commented on #3793
/remove-label stale

[2021-07-22 03:19] zhu733756 commented on #4082
## Background
To better integrate GPU monitoring, we need to solve GPU installation issues.
NVIDIA DCGM exporter exposes the metrics for GPU resources and Prometheus scrapies from it. Therefore, we can query the metrics through Prometheus query interfaces.
To support GPU monitoring through a custom dashboard,  we will import a standard GPU dashboard for monitoring the GPU metrics.
These CRDs will

[2021-07-22 03:34] vanniszsu commented on #1682
@zryfish 我觉得这个是很有必要的

在企业环境里面，我们希望 kubesphere的 pod,  譬如 ks-apiserver,  ks-controller-manager 等等都运行在特定的节点上，因为我们不想kubesphere的平台workload影响到真正的业务节点

所以希望 cluster-configuration.yaml 中增加 nodeSelector 的配置，可以让用户选择kubesphere的pod跑在哪些节点上

[2021-07-22 03:43] zryfish commented on #1682
You can create a feature-request for kubesphere/ks-installer

[2021-07-22 03:58] zhu733756 commented on #4086
## Backgroud
We have integrated KubeEdge v1.5.1, v1.6.0, v1.6.1, v1.6.2 in the former work.
The latest KubeEdge version supports more [features](https://github.com/kubeedge/kubeedge/blob/master/CHANGELOG/CHANGELOG-1.7.md#kubeedge-v17-release-notes).
In the near future, we plan to upgrade the KubeEdge version to v1.7.0+ and need to fix the bug described at kubeedge/kubeedge#2921.

## Plans
- Upgrad

[2021-07-22 06:28] #3564 closed

[2021-07-22 07:28] caicai19900921 opened #4097 "devops中jenkins构建过程问题"
我们项目有现成的jenkinsfile，也不想移到kubesphere中，使用scm模式，但是需要使用到参数化构建（比如指定不同环境），且我不想用到input这种输入模式，请问有其他办法吗？

[2021-07-22 10:36] #3566 closed

[2021-07-22 10:36] #3568 closed

[2021-07-22 16:43] FeynmanZhou commented on #4097
English only in GitHub, please raise the Chinese questions on [Chinese Forum](https://kubesphere.com.cn/forum/).

[2021-07-22 16:43] #4097 closed

[2021-07-23 02:35] yyt6200 opened #4098 "ks-jenkins deploy often fail"
**system: centos7**
**k8s version: 1.19.10**
**kubesphere version: v3.1.0**

ks-Jenkins has raised the resource quota and provided JVM parameters, but the deployment failed. Moreover, even if Jenkins is successfully deployed, the UI page is very slow, especially in the system configuration of system management. It takes about 50 seconds to open the page.
![image](https://user-images.githubusercont

[2021-07-23 02:43] yyt6200 commented on #4098
@LinuxSuRen Please, Mr. Rick, take a look

[2021-07-23 03:29] yyt6200 commented on #4098
In addition, KS Jenkins does not always fail to deploy, and sometimes it can be deployed successfully. However, the successful deployment of Jenkins is also very slow to access, especially when the system configuration page is opened.
![image](https://user-images.githubusercontent.com/44914868/126734121-9d56c013-7b1f-43d6-9cae-a5b2f6a90427.png)

[2021-07-23 03:45] LinuxSuRen commented on #4098
/kind support

[2021-07-23 09:01] LinuxSuRen commented on #4098
We didn't change anything of Jenkins. The best way is to push the Jenkins community to improve it. [Here](https://issues.jenkins.io/secure/Dashboard.jspa) is the issue system of the Jenkins community.

[2021-07-23 09:04] RolandMa1986 commented on #4072
/kind bug
/area installation
/cc @kubesphere/sig-installation

[2021-07-23 09:15] LinuxSuRen commented on #4052
hi @yyt6200 , thanks for reaching out to us. We'll make KubeSpher DevOps be an independent application which bases on K8s instead of KubeSphere. You can get more details and check the process from https://github.com/kubesphere/kubesphere/issues/3962

We'll fix this issue and improve DevOps in [the new project](https://github.com/kubesphere-sigs/ks-devops).

/kind bug

[2021-07-23 09:16] LinuxSuRen commented on #4052
/area devops

[2021-07-23 12:29] pixiake commented on #4072
Does the `sample.yam`  contain ClusterConfiguration ?
You can delete the ClusterConfiguration and try again.

[2021-07-24 02:42] yyt6200 commented on #4098
OK, thank you for your reply. At present, I'm not sure what caused the deployment failure. According to the relevant problems found in the forum, it is said to increase the quota, but after I increase it, I can't guarantee the successful deployment of KS Jenkins.

Finally, I'd like to ask whether the Jenkins configuration item involves the access restricted network, because it looks like some link

[2021-07-24 02:42] yyt6200 commented on #4052
ok,thanks

[2021-07-24 02:53] JohnNiang commented on #4098
Hi @yyt6200 , how about your machine configuration?

[2021-07-24 02:58] yyt6200 commented on #4098
Hi,This is the configuration of the server
![image](https://user-images.githubusercontent.com/44914868/126855549-35a2538f-2215-43ab-b945-438ae78e2897.png)
This is the configuration assigned by the virtual machine
![image](https://user-images.githubusercontent.com/44914868/126855573-97d79643-3b16-4239-9a4f-d9ce20c48c33.png)

[2021-07-24 03:10] JohnNiang commented on #4098
You could have a look at ks-jenkins deployment monitoring:

![image](https://user-images.githubusercontent.com/16865714/126855783-b277eede-e3c2-4a8e-84dd-b610588c9f0b.png)

[2021-07-24 03:13] yyt6200 commented on #4098
![image](https://user-images.githubusercontent.com/44914868/126855852-43eda4e4-ee52-43d1-8bf1-8e181229482a.png)

[2021-07-24 03:25] JohnNiang commented on #4098
Please raise JVM parameters(-Xmx4096m or higher) again.

[2021-07-24 07:02] yyt6200 commented on #4098
According to your request, I adjusted Xmx to 5120. After many deployment tests, there are no more failures, but the opening of configure is still quite slow

[2021-07-25 01:29] LinuxSuRen commented on #4098
I'm glad that you fixed this problem.

As I mentioned, the best way is that pushing the Jenkins community to improve it. But, IMO we don't rely on the UI too much. Because the best practice suggests we config Jenkins via CasC instead of UI.

[2021-07-25 18:44] #3608 closed

[2021-07-26 01:18] yyt6200 commented on #4098
OK, thanks for your help. I find it strange that Jenkins deployed separately outside the cluster do not have this problem, but the built-in KS Jenkins are like this. So I want to find out what causes it. Although we do not rely too much on Jenkins UI when using Devops

[2021-07-26 01:27] LinuxSuRen commented on #4098
Got you. Considering you've fixed this problem. Can we close this issue?

[2021-07-26 01:27] LinuxSuRen commented on #4098
/area devops

[2021-07-26 01:28] yyt6200 commented on #4098
ok thx,

[2021-07-26 01:29] LinuxSuRen commented on #4098
/close

[2021-07-26 01:29] #4098 closed

[2021-07-26 02:25] izerui commented on #1382
如果用的是 nginx ingress controller的话，可以在自己的ingress中增加注解： nginx.org/websocket-services: "ks-console"
就可以了

[2021-07-26 02:33] stoneshi-yunify commented on #3921
dup of https://github.com/kubesphere/kubesphere/issues/4075

[2021-07-26 02:33] #3921 closed

[2021-07-26 07:02] nanjofan commented on #3196
Hello，Is this bug fixed in v3.1.0？

[2021-07-26 07:07] junotx opened #4099 "KubeCronJobRunning rule misreports alerts"
**Describe the Bug**

The cronJob schedule completed successfully, but the related `KubeCronJobRunning` alerts were still received.

For example, even though jobs scheduled by the cronjob `jaeger-es-index-cleaner` were completed successfully in time, the user will still receive alerts with message ` CronJob istio-system/jaeger-es-index-cleaner is taking more than 1h to complete`.
![image](https://

[2021-07-26 11:24] benjaminhuo commented on #3913
Duplicated with https://github.com/kubesphere/kubesphere/issues/4083 and https://github.com/kubesphere/kubesphere/issues/4082

[2021-07-26 11:24] #3913 closed

[2021-07-26 11:25] benjaminhuo commented on #3910
duplicated with https://github.com/kubesphere/kubesphere/issues/4087

[2021-07-26 11:25] #3910 closed

[2021-07-26 11:27] benjaminhuo commented on #3066
duplicated with https://github.com/kubesphere/qkcp/issues/3

[2021-07-26 11:27] #3066 closed

[2021-07-26 13:09] yuswift commented on #3738
/milestone v3.2

[2021-07-26 13:10] yuswift commented on #3738
/remove-lifecycle stale

[2021-07-27 07:09] #4099 closed

[2021-07-27 07:43] #3615 closed

[2021-07-27 07:51] zryfish commented on #3055
/assign @RolandMa1986

[2021-07-27 09:11] zhangmengid opened #4100 "kubesphere-config"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help

[2021-07-27 09:17] LinuxSuRen commented on #4100
Forgot to add information here?

[2021-07-27 09:18] LinuxSuRen commented on #4100
/kind needs-information

[2021-07-27 09:21] zryfish commented on #4100
/triage needs-information

[2021-07-27 10:23] wansir commented on #4038
Similar problem, if the user is not synchronized to the member cluster authentication will fail, do not logout from the host cluster in this case.

![image](https://user-images.githubusercontent.com/8263040/127138472-cc21280d-84fb-4318-9c4b-707b5e83af63.png)

/reopen

[2021-07-27 10:24] wansir commented on #4038
/remove-kind need-to-verify

[2021-07-27 13:55] yyt6200 opened #4101 "Can you provide a function to maintain LB default annotations"
Currently, the porterlb used on the platform is used as lb, but each time Lb is selected, KS will fill in two default annotations by default, which need to be manually modified to lb.kubesphere.io/v1alpha1: Porter and protocol.porter.kubesphere.io/v1alpha1: layer2。 Could you consider providing a place to maintain LB? When selecting lb, you can further select the type of LB and assign default annot

[2021-07-27 14:51] FeynmanZhou commented on #4101
/kind feature

[2021-07-27 14:52] FeynmanZhou commented on #4101
@yyt6200 The screenshot is broken, could you please help to fix it?

[2021-07-27 17:01] #3623 closed

[2021-07-28 02:18] yyt6200 commented on #4101
OK

[2021-07-28 03:09] yyt6200 opened #4102 "Can Devops improve when scanning warehouse branches?"
Each time Devops scans the warehouse branches, it will trigger the construction of all branches. You need to add a switch to turn on or off whether to automatically start the pipeline of each branch by scanning the remote branch.

Because there are many branches in some projects, once the newly created branch scans the warehouse branch, all branches will be executed once, which is completely unnec

[2021-07-28 03:18] #3580 closed

[2021-07-28 04:15] wenhuwang commented on #4090
@stoneshi-yunify  Does the removal of the workload automatic restart function require compatibility with some storage that does not support hot expansion, or for this situation to allow the user to manually restart.

[2021-07-28 05:27] LinuxSuRen commented on #4102
/area devops
/kind feature-request

[2021-07-28 05:31] stoneshi-yunify commented on #4090
Yes, user needs to decide when to restart the workload and restart it manually.

[2021-07-28 06:57] yuswift commented on #4101
/area console

[2021-07-28 11:20] wenhuwang commented on #4090
So we need to remove storage expansion controller？i have confirmed that the expansion controller is mainly to restart the workload.

[2021-07-28 12:37] #3642 closed

[2021-07-29 01:19] stoneshi-yunify commented on #4090
Yes, simply remove the storage expansion controller will resolve this issue.

[2021-07-29 03:47] wenhuwang commented on #4090
/assign

[2021-07-29 06:57] fuchunlan commented on #3624
This problem has been fixed in the new version, please check it in the new version, thanks.

[2021-07-29 06:57] fuchunlan commented on #3624
/kind need-to-verify

[2021-07-29 16:23] #3614 closed

[2021-07-30 02:34] #4094 closed

[2021-07-30 16:28] #3637 closed

[2021-07-31 06:52] #3323 closed

[2021-07-31 16:43] kuring opened #4104 "redisVolumSize should be redisVolumeSize in file cluster-configuration.yaml"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

File path: https://github.com/kubesphere/ks-installer/releases/download/v3.1.1/kubesphere-installer.yaml

The redisVolumSize should be redisVolumeSize.

in doc path: https://kubesphere.io/zh/docs/installing-on-kubernetes/hosted-kubernetes/install-kubesphere-on

[2021-08-01 04:28] FeynmanZhou commented on #4104
/area installation
/kind help

[2021-08-01 04:28] FeynmanZhou commented on #4104
/cc @kubesphere/sig-installation

[2021-08-01 06:14] pixiake commented on #4104
https://github.com/kubesphere/ks-installer/blob/ad0caeb0ebb95c38ba82bca2f1643aec8d55c18d/deploy/cluster-configuration.yaml#L44

[2021-08-02 01:52] yinmin2020 opened #4105 "The self-built application warehouse chart cannot be built"
**Describe the Bug**
The chart that is packaged and uploaded can be successfully deployed in the command line mode, but an error message is displayed on the UI. Error is as follows
![image](https://user-images.githubusercontent.com/65068467/127792931-3f0bd3ab-347d-40e2-a390-f1c0765b21fd.png)
![image](https://user-images.githubusercontent.com/65068467/127792952-b399cdf1-62e2-47bf-90bb-c0f0b73fa24a.

[2021-08-02 02:03] qxx1994 commented on #4077
请问楼主 选择代码仓库无gitlab选项 最后解决了吗

[2021-08-02 02:08] LinuxSuRen commented on #4077
For Chinese speakers, please go to visit [this Chinese forum](https://kubesphere.com.cn/forum/) instead.

[2021-08-02 02:55] f10atin9 commented on #3948
In fact, the operation performed by ks-installer removing old snapshot crd is applying the new CRD, which error will only appear when the yaml file cannot be applied correctly or the snapshot is applying to the old version.
And now the description has been updated.

[2021-08-02 03:18] yinmin2020 opened #4107 "The new chart uploaded cannot be synchronized to ks platform in real time"
**Describe the Bug**
After the self-built harbor uploaded chart, the KS platform could not synchronize the new chart in the new warehouse in real time. The newly uploaded chart can be displayed only after you enter the secret key and click authentication again

[2021-08-02 03:38] yuswift commented on #4107
/area application
/cc @xyz-li

[2021-08-02 05:44] zryfish commented on #3738
/close

[2021-08-02 05:44] #3738 closed

[2021-08-02 05:56] yuswift commented on #3708
/milestone v3.2

[2021-08-02 06:41] xuliwenwenwen commented on #4047
/kind need-to-verify

[2021-08-02 06:45] xuliwenwenwen commented on #3987
/kind need-to-verify

[2021-08-02 06:56] harrisonliu5 commented on #3975
/kind need-to-verify

[2021-08-02 07:50] caojiele opened #4109 "The same account with different roles entered different items, menu display error"
Bug recurrence operation:
* A project, the role is admin, project Settings have advanced Settings menu;
![image](https://user-images.githubusercontent.com/29936718/127817761-997080db-45ac-42f9-bab7-b5c6762dd452.png)
* Then switch to project B, the role is operator, and there is no advanced setting menu in project Settings;
![image](https://user-images.githubusercontent.com/29936718/127817838-d1040

[2021-08-02 07:56] JohnNiang commented on #4109
Please let us know what's your environment and what's your account role in workspace as detailed as possible.

[2021-08-02 08:20] caojiele commented on #4109
KubeSphere version : v3.0.0, and roles are described above, the system default permissions are not customized.

[2021-08-02 08:25] JohnNiang commented on #4109
okay, thank you for the additional information.

[2021-08-02 08:52] Mrxyy commented on #3950
/assgin @Mrxyy

[2021-08-02 08:53] Mrxyy commented on #3950
/assgin @Mrxyy

[2021-08-02 08:54] Mrxyy commented on #3950
assign @Mrxyy

[2021-08-02 08:55] Mrxyy commented on #3950
/assign @Mrxyy

[2021-08-02 09:13] #4082 closed

[2021-08-02 12:18] Mrxyy commented on #3950
The problem does exist, but it doesn't seem to have anything to do with ctrl+a and ctrl + c and all editors have this bug. Click the Edit button and click the Save button without editing. This bug will appear.

[2021-08-03 01:58] zryfish commented on #4105
/cc @xyz-li

[2021-08-03 05:36] caojiele commented on #4109
You're welcome.

[2021-08-03 05:40] fengshunli opened #4110 "use default sc prompts that pvc does not exist and cannot be mounted"
![image](https://user-images.githubusercontent.com/18587688/127963706-0367609e-6034-4eb1-85f0-76be7301b655.png)

[2021-08-03 06:17] yinmin2020 opened #4111 "An error occurs when applying the routing domain name configuration format"
**Describe the Bug**
The console that created the route had an error. An error was reported when using * to configure the generic domain name. However, you can save the configuration in edit mode, as follows:
![image](https://user-images.githubusercontent.com/65068467/127966410-e6ae09f6-b438-4a81-acf1-70ae54d4c933.png)
![image](https://user-images.githubusercontent.com/65068467/127967069-7ba2b161-

[2021-08-03 08:54] styshoo opened #4113 "Due to CVE-2021-23017, nginx should be upgraded"
**Describe the Bug**
Due to [CVE-2021-23017](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-23017), nginx should be upgraded to at lease v1.20.1

**Versions Used**
KubeSphere: 3.1.0
Kubernetes: 1.19.0

**Environment**
How many nodes and their hardware configuration:

CentOS 7.7.1908 / 1 masters(all_in_one):  8cpu/20g;

**How To Reproduce**
Steps to reproduce the behavior:
none

**Expected

[2021-08-03 12:00] xyz-li commented on #4105
/assign @xyz-li

[2021-08-03 12:04] xyz-li commented on #4105
@yinmin2020 Which chart do you use? This looks like the issue of go-yaml/yaml package.

[2021-08-03 12:07] xyz-li commented on #4107
/area app-managemet

[2021-08-03 12:08] xyz-li commented on #4107
/area app-management

[2021-08-03 12:11] xyz-li commented on #4107
/kind feature

[2021-08-04 01:44] zryfish commented on #3055
/milestone v3.2

[2021-08-04 02:30] zryfish commented on #1851
/area console

[2021-08-04 02:55] yyt6200 opened #4115 "Deployment using openpitrix failed"
KubeSphere Version : 3.1.0

Kubernetes Version：1.19.10

I created a chart of Nacos. Through experiments, helm3 can be deployed to k8s directly, but when using application deployment through openpitrix, Nacos application deployment fails. Please help me see what the problem is

------
Using openpitrix deployment, the error message is displayed
![image](https://user-images.githubusercontent.com/4491

[2021-08-04 03:05] yyt6200 commented on #4115
Do I need to provide chart file？

[2021-08-04 03:11] JohnNiang commented on #4115
Yup, please feel free to provide detailed steps to reproduce this issue.

[2021-08-04 03:22] yyt6200 commented on #4115
this is the chart file.
[nacos-0.1.8.zip](https://github.com/kubesphere/kubesphere/files/6928375/nacos-0.1.8.zip)
operation steps:
1.create
![image](https://user-images.githubusercontent.com/44914868/128116964-6ff2ad34-004f-4007-9ef3-69b44b9c904c.png)
2.upload
![image](https://user-images.githubusercontent.com/44914868/128116982-4eb09c9b-6cd9-46e4-ab84-804a59f16715.png)
3.test
![image](https://use

[2021-08-04 03:23] yyt6200 commented on #4115
this is the ks-controller-manager log
![image](https://user-images.githubusercontent.com/44914868/128117179-716cdd8c-3899-49de-b190-a01b13b03995.png)

[2021-08-04 03:33] JohnNiang commented on #4115
/cc @kubesphere/sig-apps

[2021-08-04 05:58] xyz-li commented on #4115
/area app-management
/kind bug

[2021-08-04 06:00] xyz-li commented on #4105
Duplicate of #4115

[2021-08-04 06:12] xyz-li commented on #4115
You should delete `    ## 兼容1.4.x版本的选举端口` in the service.yaml. I think this is a bug of kustomize. I will find how to fix it.

[2021-08-04 06:14] xyz-li commented on #4105
Does the chart contains Chinese comment?
@yinmin2020

[2021-08-04 07:58] yinmin2020 opened #4117 "The console dropdown menu supports regular expressions？"
**What's it about?**
When you want to select the drop-down menu box in the console, you can search by regular expression or sort by the letters A-Z
**What's the reason why we need it?**
Can improve the development efficiency, shorten the search time
I believe this is an important feature for Kubesphere. There're a few use cases:
For example, if I have 200 services on a project, I have to manually

[2021-08-04 08:22] yyt6200 commented on #4115
ok thx.The problem is solved.

[2021-08-04 08:23] #4115 closed

[2021-08-04 08:23] #4105 closed

[2021-08-04 08:30] yinmin2020 commented on #4105
The YAML package is fine and can be created normally for use under helm

[2021-08-04 10:01] Patrick-LuoYu opened #4118 "Add verification logic for console UI text source code"
The technical writing team has developed a style guide for UI text: https://shimo.im/docx/erAdKyRWlnhrypkG
Maybe it is possible to use certain logic to verify the UI text source code of the KS console according to some of the rules in the style guide to simplify UI localization work.

[2021-08-04 10:02] Patrick-LuoYu commented on #4118
/area documentation

[2021-08-04 10:06] Patrick-LuoYu commented on #4118
area/documentation

[2021-08-04 14:31] calvinyv opened #4119 "Show alert msg and stop to add member cluster with higher version than host cluster"
**What's it about?**

**What's the reason why we need it?**

We should tell the user something when they try to add a member cluster which KS version is higher than host cluster, and stop this behavior.

**Area Suggestion**

/kind feature-request

[2021-08-04 14:31] calvinyv commented on #4119
/area multicluster

[2021-08-04 15:17] #3616 closed

[2021-08-04 15:17] #3457 closed

[2021-08-04 16:19] liangyuanpeng commented on #4113
Great issue,  Are you interested in fix this issue and create PR?

[2021-08-05 02:29] f10atin9 opened #4120 "Change the way the console obtains the capability"
**What's it about?**

With the removal of the capability CRD by KS, the console can no longer use Capability to determine whether the console's volume cloning, volume expansion, and snapshot creation functions can be provided to users.
Now the Console can be judged by the "allowVolumeExpansion" in the StorageClass yaml and the "storageclass.kubesphere.io/support-snapshot"and "storageclass.kubesphe

[2021-08-05 02:58] #3084 closed

[2021-08-05 05:59] yuswift commented on #4119
/milestone v3.2
assign @kubesphere/sig-console

[2021-08-05 06:12] yuswift opened #4122 "Wrong numbers of deployment displayed under multi-cluster project ovewview page"
**Describe the Bug**
![1628143659485](https://user-images.githubusercontent.com/37265389/128300050-62c200c8-b77b-484c-a8b6-5a3f67087025.jpg)
The numbers of the deployment should be `federateddeployment`, instead of `deployment`.
For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:latest
Kubernetes: (If KubeSphere installer used, you can skip this)
/kind b

[2021-08-05 06:12] yuswift commented on #4122
/milestone v3.2
/assign @kubesphere/sig-console

[2021-08-05 07:16] harrisonliu5 commented on #4122
through the API `kapis/clusters/host/resources.kubesphere.io/v1alpha2/namespaces/apptest/quotas` to get the count of the resource

![image](https://user-images.githubusercontent.com/17872673/128307900-19ba4246-0036-482e-829d-e57ec907d7eb.png)

@yuswift

[2021-08-05 07:25] yuswift commented on #4122
/assign

[2021-08-05 07:42] yuswift commented on #4111
/area console

[2021-08-05 07:42] yuswift commented on #4111
/help

[2021-08-05 07:42] yuswift commented on #4117
/area console
/help

[2021-08-05 07:47] zryfish commented on #4117
Agreed. Maybe we could make the dropdown menu editable, so suggestions can be given when typing, just like adding annotations to Routes.

<img width="936" alt="截屏2021-08-05 15 46 38" src="https://user-images.githubusercontent.com/3326354/128312030-72c88058-738e-4aae-a44a-e3a15d97cf5c.png">

[2021-08-05 07:59] zryfish commented on #4117
/good-first-issue

[2021-08-05 08:06] harrisonliu5 commented on #4117
change the Select component to the AutoComplete component. [the example code](https://github.com/kubesphere/console/blob/master/src/components/Inputs/RulePath/index.jsx#L88)

[2021-08-05 08:12] FeynmanZhou opened #4123 "Are you using KubeSphere?"
## 🙋‍♂️ Are you using KubeSphere?
If you are using KubeSphere, welcome to share your use case with our community and win some KubeSphere swags (T-shirt, mug, badge, etc.)!

## ✨ Why?
KubeSphere has been widely adopted by many users in a wide range of industries, but it is hard to track usage and scenarios in OSS. If you leave a comment on this issue we can better understand who our users are and h

[2021-08-05 09:17] VioZhang commented on #3008
/cc

[2021-08-05 09:31] yinmin2020 opened #4124 "Use the Application Template and select your own helm private repository. Helm updates are not timely"
**Describe the Bug**
I manually uploaded the chart file to the self-built harbor, but the KS application warehouse was not updated in real time, so I had to select the application warehouse option to find the corresponding warehouse and click re-verification to synchronize to
![image](https://user-images.githubusercontent.com/65068467/128319708-ceadd0b0-7a8d-4542-b127-be5ea8423c86.png)
**How To Re

[2021-08-05 09:50] Patrick-LuoYu opened #4125 "Add redundant and duplicate UI text detection logic"
The kubesphere/console repository contains a lot of redundant and duplicate UI text entries. To make translation work easier (especially for contributors from the community), we need certain logic or tools to:

- [ ] Detect useless UI text entries. Note that some UI text entries are invoked indirectly.
- [ ] Detect duplicate UI text entries in different locale files. We already have logic for dete

[2021-08-05 10:47] yasir2000 commented on #4123
Yes am using Kubesphere for 9 months now, its main merit and advantage a total solution for integrated K8s cluster management, it saved 10's of hours configuring mesh, monitoring, tracing, messaging, serverless, CI/CD,...etc all in one box. Kubesphere needs more tooling, bug fixing and performance/resources optimization

[2021-08-06 00:52] acekingke opened #4126 "[feature] Support fetch status or event for CRD"
**What's it about?**

**What's the reason why we need it?**

* cannot see the status or event for CRD,  just use `kubectl describe xxx`

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

 /area console
![image](https://user-images.githubusercontent.com/7586502/128439324-4c278091-3674-4cdf-8fe0-17db36af3f5b.png)

/kind feature-reque

[2021-08-06 02:12] yuswift commented on #4126
/area console

[2021-08-06 02:16] yuswift opened #4127 "Upgrade API that is deprecated in Kubernetes v1.22"
/kind cleanup
ref https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22
ref https://github.com/kubesphere/kubesphere/issues/3708

[2021-08-06 02:17] yuswift commented on #4127
/kind cleanup

[2021-08-06 02:17] yuswift commented on #4127
/milestone v3.2

[2021-08-06 02:27] yuswift commented on #4127
/milestone v3.2

[2021-08-06 06:02] liangyuanpeng commented on #3708
Still vaild.

[2021-08-06 06:40] liangyuanpeng commented on #3985
So you just want to use multi-arch image for prometheus-operator, and i think this is not high priority thing of kubesphere.
It's greate If you can build multi-arch image for prometheus-operator and contribute to kubesphere.

[2021-08-06 07:54] zryfish commented on #3708
Yeah, we are working on it.

/cc @kubesphere/sig-observability
/cc @wanjunlei  @zhu733756

[2021-08-09 02:58] harrisonliu5 commented on #4125
/assign @fuchunlan

[2021-08-09 03:05] yuswift opened #4131 "Show the reason why member clusters join cluster failed"
/milestone v3.2
/area console
/area multicluster

/kind feature-request

[2021-08-09 03:05] yuswift commented on #4131
/cc @kubesphere/sig-console

[2021-08-09 03:42] stoneshi-yunify opened #4132 "Highlight pvc's stage during expansion in console"
## Background
During pvc expansion, user may need to stop then start the workload in order to complete the expansion. It will be nice if we can highlight the stage of pvc during expansion, to tell user when to stop and start the workload.

## Proposal
<tbd>

## References
- https://github.com/kubesphere/kubesphere/issues/4090
- https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expand

[2021-08-09 05:29] calvinyv commented on #4124
/area app-management

[2021-08-09 07:08] fzhan opened #4133 "Current setup conflicts with KubeFlow (cert-manager / istio)"
**What's it about?**
KubeFlow is having a conflict with cert-manager / istio

**What's the reason why we need it?**
Would it be possible to place istio in a specific namespace?

I believe this is an important feature for Kubesphere. There're a few use cases:

* A lot of cases where Kubesphere will be used to manage Kubeflow

Please leave your comments below if there's anyone agrees with me. Or jus

[2021-08-10 01:47] wenhuwang commented on #4068
I would like take the work of the backend part up. @yuswift @RolandMa1986

[2021-08-10 02:01] RolandMa1986 commented on #4068
Sure, thanks for your help.
/assign @wenhuwang

[2021-08-10 02:59] vanniszsu opened #4134 "Allow to change the cluster's name"
**What's it about?**
Change the federated cluster's name

**What's the reason why we need it?**
as the first cluster in the multi-cluster management,  the host is already named as "host"
we would like to rename it to something more meaningful, but the current version v3.1.0 kubesphere is not allowed to change the cluster name if it is the host or once the cluster is joined kubesphere.

**Area Sugg

[2021-08-10 06:51] xyz-li commented on #3933
gitlab chart已修改.

https://github.com/kubesphere/helm-charts/pull/162

[2021-08-10 07:03] ComradeProgrammer opened #4135 "Exposing an admission webhook for authorization."
**What's it about?**
Exposing an admission webhook for authorization.

**What's the reason why we need it?**

Kubesphere uses built-in RBAC to manage permissions granted to users. However, sometimes an organization may have already developed their own access-control system, or have a special access-control rules. So I think it may be inconvenient to adapt to the totally brand new RBAC  access-cont

[2021-08-10 07:04] 912988434 opened #4136 "Whether the multi-tenant system supports permission configuration for users or user groups in advance"
Has the community considered permission to preset? For example, I have accessed Gitlab through dex as user authentication. Can I pre-set the permission according to the allowed gitlab groups or users' mailboxes in my dex setting, similar to that in ArgoCD? At present, after login, the administrator needs to go to the user's rights, so it is still a little troublesome.

[2021-08-10 08:23] juan-vg commented on #4123
Hello there!

At Geko Cloud we use KubeSphere on many cloud providers (EKS, GKE, ...) in order to provide a friendly management-layer to our customers. It was around one year ago when we begun our research about something more than a simple dashboard, and we found KubeSphere very interesting because it was integrating all together many day-to-day procedures (which we were already doing manually) b

[2021-08-10 10:11] iwtctww commented on #3985
thank you.
At first I thought it's some kind of bug, but then I realize it's intended to.
I have tried building my own image and it works well.

[2021-08-10 12:58] wenhuwang commented on #4068
@RolandMa1986  if we want to use the networking.k8s.io/v1 version of ingress api ,we need to upgrade k8s.io/api package to v0.19.0 at least. so how to choose the version of the k8s.io/api package?I am not sure.

[2021-08-10 13:53] #3236 closed

[2021-08-10 13:53] #3670 closed

[2021-08-10 14:02] yuswift commented on #4068
@wansir PTAL thanks.

[2021-08-11 01:01] LinuxSuRen commented on #582
/remove-area devops

[2021-08-11 01:05] LinuxSuRen commented on #582
/retitle Merge image registry into KubeSphere

IMO, we don't have any plans on this. You can use Harbor as your private image registry. And I cannot figure out the benefits when merging image registry into KubeSphere.

So, I'm going to close this issue. Please feel free to reopen this issue if there's anyone wants to discuss it again.
/close

[2021-08-11 01:05] #582 closed

[2021-08-11 01:11] stoneshi-yunify opened #4137 "storageclass access control"
## Background
storageclass, as a clustered resource, doesn't have tenant/namespace isolation. That's to say, if one app/user can access one storageclass, it can access all storageclasses.

While many users in field want to have such isolation, one typical scanario is: apps from namespace A can only use storageclass A to provision volumes, apps from namespace B can use storageclass B and C ...

##

[2021-08-11 01:12] stoneshi-yunify commented on #4132
/assign

[2021-08-11 01:56] yuswift commented on #4127
/milestone v3.2

[2021-08-11 02:10] wenxin-01 commented on #3670
/milestone 3.2

[2021-08-11 02:56] zhu733756 commented on #4133
/cc @RolandMa1986

[2021-08-11 03:02] zhu733756 commented on #4136
/area iam

[2021-08-11 03:11] zhu733756 commented on #4133
@fzhan Could you please send the conflicting information?
/assign @RolandMa1986

[2021-08-11 03:37] damon008 commented on #4123
- Organization/Company:  leinao
- Website: http://www.leinao.ai/
- Country/City: China/Hefei
- How to connect (your email or Twitter at least one please): shoufaw@leinao.ai / MrNull008
- Usage scenario: e.g. We use KubeSphere for internal PaaS and DevOps system
- Status: Development?/Production? Dev and Test

[2021-08-11 03:53] zryfish commented on #4133
/unkind feature-request
/triage needs-information

[2021-08-11 05:36] fzhan commented on #4133
istio 1-6-10 is having a conflicts with 1-9 which is used by the kubeflow.

[2021-08-11 06:05] yuswift commented on #4127
/milestone v3.2

[2021-08-11 06:22] RolandMa1986 commented on #4133
Hi @fzhan,

I don't think it's necessary to move Istio to another namespace and it seems impossible.
Could you provide more detailed information and your scenarios? like:
Do you really need to enable Service Mesh in KubeSphere and working with KubeFlow together? Maybe you can share your idea and plan.
Which KubeFlow version and [distribution ](https://www.kubeflow.org/docs/started/installing-kubef

[2021-08-11 07:36] LLLLimbo opened #4138 "Unable to access dashboard"
*Unable to access dashboard*

**Environment: OS & Hardware Information**

- Host
  - System: Microsoft Windows 11 Home
  - Version: 10.0.22000
- Docker Desktop
  - Version: 3.5.2
- Kubernetes
  - Version: V1.21.2
  - Number of Node: 1
- Kubesphere
  - Version: v3.1.0

Hardware:

- 16C/32G

**Error logs *

When I try to access the dashboard, I get the following error.

`ks-console` logs

[code]

[2021-08-11 09:55] RolandMa1986 commented on #4068
We are planning to upgrade k8s API to 1.21.x. Please have a look at https://github.com/RolandMa1986/kubesphere/tree/update-runtime, Those commits will be merged ASAP. You can make changes base on it.

[2021-08-11 12:54] webup commented on #4123
- Organization/Company: UISEE
- Website: uisee.com
- Country/City: China/Shanghai
- How to connect (your email or Twitter at least one please): haili.zhang@uisee.com
- Usage scenario: We use KubeSphere mainly in multi-cloud multi-cluster management, especially taking advantage of its monitoring and alerting system to watch out our workloads.
- Status: Already applied KubeSphere in production since

[2021-08-11 20:00] sagilio opened #4139 "Proposal: Integrate Gatekeeper and Casbin into KubeSphere"
## Background

PodSecurityPolicy (PSP) has been stuck in beta since it was introduced in Kubernetes 1.3 and now it is being deprecated in Kubernetes 1.21, this starts the countdown to its removal.

Kubernetes also allows decoupling policy decisions from the inner workings of the API Server by means of admission controller webhooks, which are executed whenever a resource is created, updated or dele

[2021-08-12 07:56] wenhuwang commented on #4068
I  have the following problem when upgrade  k8s api to 1.21.3:

1.  Some objects has been deleted.
2. Some  objects has been changed.

For example:
[code]
In this case, should we keep multiple k8s api package version or update the DynamicAuditConfig  struct definition?
PTAL thanks.

[2021-08-12 08:19] wansir commented on #4139
I found that [casbin/kubesphere-authz](https://github.com/casbin/kubesphere-authz) is a newly launched project, It seems that not fully developed enough, until then we can invite more community users to test.

[2021-08-12 13:43] VioZhang opened #4142 "Support creating init container and mounting the volume at the console."
/kind feature-request

[2021-08-12 16:14] liangyuanpeng opened #4143 "[Feature] Better Makefile"
Support `make help`

**What's it about?**

Can use command of `make help` to check what have in Makefile.

Simple example:

[code]

Now

**What's the reason why we need it?**

We don't need open Makefile for found some make command anymore. Free your eyes!  More important, people who are new to the project can better understand and use Makefile.

Please leave your comments below if there's anyone

[2021-08-12 19:26] #3732 closed

[2021-08-13 03:38] yuswift commented on #4127
I found a tool that can help us find the deprecated API in cluster.
https://github.com/doitintl/kube-no-trouble

[2021-08-13 06:02] zryfish commented on #3055
/area api

[2021-08-13 06:02] zryfish commented on #4127
/area api

[2021-08-13 06:03] zryfish commented on #4127
/sig api-machinery

[2021-08-13 06:04] zryfish commented on #3008
/sig multicluster

[2021-08-13 06:05] zryfish commented on #1021
/milestone clear

[2021-08-13 06:06] zryfish commented on #1021
/milestone BackLog

[2021-08-13 06:07] zryfish commented on #2850
/milestone BackLog

[2021-08-13 06:08] zryfish commented on #3417
/milestone BackLog

[2021-08-13 06:08] zryfish commented on #3400
/milestone BackLog

[2021-08-13 07:02] #4120 closed

[2021-08-13 07:19] harrisonliu5 commented on #3684
/assign @weili520

[2021-08-14 09:40] #3713 closed

[2021-08-14 09:40] #3693 closed

[2021-08-14 12:56] calvinyv opened #4145 "More fine-grained access policy management"
**What's it about?**

More fine-grained access policy management
**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* As a developer, it's reasonable to allow this user to deploy workload, and check its monitoring and logging data, but secret/configmap data is very confidential for the project management

Please leave your comme

[2021-08-14 16:46] liangyuanpeng commented on #4142
@VioZhang  Maybe  we can provide this  issue to contributors

/kind feature-request
/help

[2021-08-15 03:20] liangyuanpeng commented on #4117
Seems like this issue should be in the [kubesphere/console](https://github.com/kubesphere/console).

[2021-08-16 03:12] #4143 closed

[2021-08-16 03:16] stoneshi-yunify opened #4146 "Support cluster level storage resource quotas"
## Background
Kubernetes only supports namespaced storage quotas, ref:  https://kubernetes.io/docs/concepts/policy/resource-quotas/#storage-resource-quota

Many users have the need to set a cluster level storage quotas.

## Proposal
Write a quota controller to mange the cluster quotas based on native k8s namespaced quotas. ref: https://kubernetes.io/docs/concepts/policy/resource-quotas/#quota-and-

[2021-08-16 03:17] stoneshi-yunify commented on #4146
/kind feature-request
/area storage

[2021-08-16 03:17] stoneshi-yunify commented on #4146
/assign

[2021-08-16 03:23] stoneshi-yunify commented on #4146
/assign @kubesphere/sig-storage

[2021-08-16 03:27] wansir opened #4147 "Failed to enable workspace networkIsolation"
**Describe the Bug**

The following error was encountered when enabling the network isolation policy:

[code]

![image](https://user-images.githubusercontent.com/8263040/129507654-a3dcda43-2976-4e9e-a994-ed7f456bbc0f.png)

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

[2021-08-16 03:45] wansir commented on #4147
Workaround:

[code]

[2021-08-16 06:10] benjaminhuo opened #4148 "[v3.2/o11y/monitoring] upgrade kube-auditing CRD version from v1beta1 to v1"
Currently, kube-auditing's CRD version is still v1beta1, it needs to be upgraded to v1

**Area Suggestion**
/area observability

[2021-08-16 06:26] benjaminhuo opened #4149 "[v3.2/o11y/monitoring] Set hostpath to readonly"
Needs to set hostpath to readonly for below components:
- [x] kube-auditing
- [x] FluentBit Operator
- [x] Notification Manager
- [x] Kube-Events
- [x] logsidecar-injector
- [x] kube-state-metrics
- [x] node-exporter
- [x] edge-watcher /etc/localtime mountpoint
- [x] Update ks-installer with new components

/area alerting
/area audit
/area logging
/area monitoring
/area notification
/area observab

[2021-08-16 06:33] benjaminhuo opened #4150 "[v3.2/o11y/monitoring] upgrade admission webhook from v1beta1 to v1"
The addmission webhook version v1beta1 will be deprecated, need to upgrade to v1 for:
- [x] kube-events
- [x] logsidecar-injector

[2021-08-16 09:04] VioZhang commented on #4142
I can provide the drawing design if needed.

[2021-08-16 09:58] VioZhang opened #4151 "The edge node doesn‘t save the password of Registry or"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2021-08-16 16:44] #3271 closed

[2021-08-17 02:20] RolandMa1986 commented on #4045
/kind need-to-verify
/cc @liuyp2018

[2021-08-17 03:07] nuoyaneasy opened #4153 "Will kubesphere support SuperEdge in the near future?"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2021-08-17 03:10] harrisonliu5 commented on #3684
Maybe the API return  404. @liuyp2018

![image](https://user-images.githubusercontent.com/17872673/129657743-1a70c1ee-996d-4c96-9393-bf4d6d80d347.png)

[2021-08-17 03:19] zryfish opened #4154 "Refactor registry code"
**What's it about?**
Registry code is difficult to read, and not well-organized. It heavily depends on docker, it's not going to work once we migrated to contained.

https://github.com/kubesphere/kubesphere/tree/master/pkg/models/registries

/area api
/assign

[2021-08-17 03:37] wansir opened #4155 "Support multiple asymmetric signature algorithms. (more details)"

[2021-08-17 03:40] RolandMa1986 commented on #4068
@wenhuwang The master branch has already been upgraded to Kubernetes v1.21.2. You can focus on Ingress API changes. BWT, you may need to update Go runtime to 1.16.

[2021-08-17 03:46] yuswift commented on #4127
ref https://github.com/kubesphere/ks-installer/pull/1639
ref https://github.com/kubesphere/ks-installer/pull/1632

webohook v1beta1 API remained
https://github.com/kubesphere/ks-installer/search?q=admissionregistration.k8s.io%2Fv1beta1

[2021-08-17 03:49] RolandMa1986 commented on #4138
@LLLLimbo
We haven't test KubeSphere on **Docker Desktop** yet. And may not officially support it. Please try to run KubeSphere in Minikube or Ubuntu/Centos-based VM.

[2021-08-17 04:00] yuswift commented on #4127
CRD v1beta1 API remained
https://github.com/kubesphere/ks-installer/search?p=1&q=apiextensions.k8s.io%2Fv1beta1
/cc @zhu733756

[2021-08-17 04:02] yuswift commented on #4127
authorization.k8s.io/v1beta1
https://github.com/kubesphere/ks-installer/search?q=authorization.k8s.io%2Fv1beta1
/cc @kubesphere/sig-devops

[2021-08-17 04:05] yuswift commented on #4127
extensions/v1beta1
/cc @RolandMa1986

[2021-08-17 04:06] zhu733756 commented on #4127
Currently, the Kubeedge official doesn't have a plan to support v1, refer to [the address](https://github.com/kubeedge/kubeedge/tree/master/build/crds).

[2021-08-17 06:16] yuswift commented on #4068
@RolandMa1986 ks-installer also needs to be updated.

[2021-08-17 15:54] liangyuanpeng commented on #4153
Also have CNCF project of OpenYurt, i believe that support all of these is not easy.

I think you can join the meeting in next time for talk about this and you can see detail from https://github.com/kubesphere/community/tree/master/sig-edge .

[2021-08-17 15:56] liangyuanpeng commented on #4151
/area edge

[2021-08-17 16:19] liangyuanpeng commented on #4153
/area edge

[2021-08-17 16:20] liangyuanpeng commented on #4146
/area storage

/kind feature-request

[2021-08-17 16:22] liangyuanpeng commented on #3055
it is possible to support multiple ingress?

[2021-08-17 16:26] liangyuanpeng commented on #4134
/kind feature-request

[2021-08-17 16:33] liangyuanpeng commented on #4110
So what happen when you delete this pod?

[2021-08-17 16:34] liangyuanpeng commented on #4110
So what happen when you delete this pod?

[2021-08-17 16:37] liangyuanpeng commented on #4072
/kind bug
/area installation

[2021-08-17 16:38] liangyuanpeng commented on #4072
/kind bug

/area installation

[2021-08-17 16:40] liangyuanpeng commented on #4036
/triage needs-information

[2021-08-17 16:43] liangyuanpeng commented on #3985
/close

[2021-08-17 16:44] liangyuanpeng commented on #3985
/joke

[2021-08-17 16:45] liangyuanpeng commented on #3981
/milestone BackLog

[2021-08-17 16:45] liangyuanpeng commented on #3980
/area observability

[2021-08-17 17:36] #3763 closed

[2021-08-18 01:31] RolandMa1986 commented on #3055
The Ingress Controller is going to be replaceable with this refactor. We have designed a sample of Gateway Operator with Nginx Ingress controller. Every Ingress Controller can be easily converted to a KubeSphere Gateway with this mode.
The POC can be found at https://github.com/RolandMa1986/gateway-operator.

[2021-08-18 02:48] yuswift commented on #3246
/close

[2021-08-18 02:48] #3246 closed

[2021-08-18 03:00] yuswift opened #4157 "Upgrade kubefed to v0.8.1"
/kind feature
/milestone v3.2
/area multicluster

[2021-08-18 03:12] yuswift commented on #3898
/close

[2021-08-18 03:12] #3898 closed

[2021-08-18 06:39] benjaminhuo commented on #4153
It depends on how many users request this feature, we'll support this if there are enough feature requests.

[2021-08-18 06:51] swiftslee opened #4158 "Support setting host cluster name"
Currently, the host cluster name is hard-coded to `host`.
![image](https://user-images.githubusercontent.com/37265389/130204038-94badce0-81eb-47b6-a4ed-1ae4842bf02a.png)

We need to specify the host cluster name in the `cc` config and convert it into `ks-console-config` configmap.

[2021-08-18 06:54] yuswift commented on #4158
/kind feature
/area multicluster
/milestone v3.2

[2021-08-18 07:37] benjaminhuo commented on #4059
We're working on an internal multi-cluster & edge observability project , it will support the feature you mentioned.
It's not opensourced so far.

[2021-08-18 07:45] harrisonliu5 commented on #4142
If the UI changes, please provide a video or screenshot to make it more intuitive.

[2021-08-18 09:37] wansir opened #4160 "Feat: Support user kubeconfig download"
**What's it about?**

In previous versions, we could download the user's kubeconfig directly from the toolbox. It may not be found now. It's really a useful feature.

**What's the reason why we need it?**

Users can download kubeconfig and use kubectl directly.

**Area Suggestion**

/area console
/kind feature-request
/milestone v3.2

[2021-08-18 09:37] wansir commented on #4160
/assign @kubesphere/sig-console

[2021-08-18 09:46] wanjunlei commented on #4148
Fixed in kubesphere/ks-installer#1645.

[2021-08-18 10:03] #3769 closed

[2021-08-18 10:05] #3980 closed

[2021-08-18 11:08] #4148 closed

[2021-08-18 11:10] benjaminhuo commented on #4150
Fixed by https://github.com/kubesphere/ks-installer/pull/1640 and https://github.com/kubesphere/ks-installer/pull/1639

[2021-08-18 11:10] #4150 closed

[2021-08-19 03:02] f10atin9 commented on #4075
I'll remove useless capabilityCRD and then update capability controller.The updated controller can watch the changes of storageClass and CSIDriver, and when they change, it can be judged whether it should be annotated. If the true controller will annotate "storageclass.kubesphere.io/support-snapshot: true" and "storageclass.kubesphere.io/support-clone: true". The console will judge whether the cap

[2021-08-19 03:25] f10atin9 commented on #4075
The judgment process of the controller is as follows:
When storageClass is added or updated, controller gets its Provisioner and matches it with CSIDriver. If the match is successful, it will be annotated, otherwise no operation.
When CSIDriver is added or deleted, get related storageClasses, add or delete annotations for them.
In addition, if k8s version <1.17, cluster does not support snapshot,

[2021-08-19 03:44] stoneshi-yunify commented on #4075
I prefer the allow-xxx vs support -xxx annotation, just like the allowExpansion. The allow-xxx implies both "it is supported" and "I allow it".

For example, if one storage supports snapshot, but the admin don't want sc A to create snapshot, in this case, the allow-snapshot annotation is better, while the support-xxx is a little misleading.

[2021-08-19 03:53] f10atin9 commented on #4075
Okay, i will update it. Thanks for your suggestion.

[2021-08-19 05:58] fzhan commented on #4133
@RolandMa1986 Thanks for the reply,
We are new to KubeSphere and KubeFlow, it appears that kubesphere has higher priority than kubeflow. We will adept other solutions for ML/DL such as OneFlow.

Perhaps will raise this issue / request later on when we come across it.

Thanks,

[2021-08-19 05:58] #4133 closed

[2021-08-19 07:45] #3631 closed

[2021-08-19 09:32] VioZhang opened #4165 "Support creating CRD at the console."
As title.

/kind feature-request

[2021-08-19 09:42] JohnNiang commented on #4165
From <https://kubesphere.com.cn/forum/d/5109-crd> (Chinese forum).

[2021-08-20 02:28] RolandMa1986 commented on #3055
One of the issues that haven't metioned above is how do we upgrade from the old project gateway.
We can hardly perform a rolling upgrade without service interapton when upgrading from the older gateway to the Gateway Operator.  The Deployment in the Nginx Ingress Contoller's Helm chart is different from the old YAML definition(that are some immutable fields were changed). We had to delete the old

[2021-08-20 07:14] dhyanio commented on #4123
- Organization/Company: dhyanio
Website: dhyanio.com
Country/City: Delhi/India
How to connect (your email or Twitter at least one please): dhyani.devops@gmail.com
Usage scenario: I am testing Kubesphere, for my multiple kubernetes cluster management. But I have faced some performance issue as compare to other open source option. But I prefer Kubesphere bos, it is using golang and some other librar

[2021-08-20 08:39] yuswift commented on #4158
Here is the configMap of ks-console-config and the ks-installer config. What about adding a `hostClusterName` field? @zryfish
[code]

ks-installer config
[code]

[2021-08-20 09:17] wansir opened #4167 "The status of project members in multi cluster environment is incorrect"
**Describe the Bug**

The user is active on the account management page, but it's disabled on the member cluster project members page. The user status is incorrect if login from another identity provider.

![image](https://user-images.githubusercontent.com/8263040/130210544-097a5ac0-bd4f-4778-a1f3-d008515cca51.png)

![image](https://user-images.githubusercontent.com/8263040/130210718-f2283ea9-80b9

[2021-08-20 09:17] wansir commented on #4167
/area iam
/kind bug
/assign
/milestone v3.2

[2021-08-20 09:52] wansir commented on #4167
Fix the wrong user status:
[code]

[2021-08-21 03:28] damon008 commented on #4123
yes~

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "kubesphere/kubesphere"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年8月20日(星期五) 下午3:14
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [

[2021-08-22 02:13] ehinolakingsley opened #4168 "Bulk import ConfigMap env"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2021-08-23 06:45] wanjunlei opened #4169 "[v3.2/o11y/logging] Support external es which enabled HTTPS"
**What's it about?**

Support external es which enabled HTTPS.

**What's the reason why we need it?**

Starting with Elastic Stack 6.8 and 7.1, TLS encrypted communication is available for free within the default distribution.
It is necessary for kubesphere to support the es which enabled HTTPS.

**Area Suggestion**

/kind feature-request
/area logging

[2021-08-23 06:46] wanjunlei commented on #4169
/assign @wanjunlei

[2021-08-23 06:46] wanjunlei commented on #4088
[v3.2/o11y/logging] Support external es which enabled HTTPS #4169

[2021-08-23 06:49] RolandMa1986 commented on #4068
@harrisonliu5 Please take a look at this issue. The Console needs to refactor with the corresponding API version.

[2021-08-23 07:12] Imy123 opened #4170 "Edge node not only kubeege"
**What's it about?**

In kubesphere if want use this page
![image](https://user-images.githubusercontent.com/17736269/130405151-9730501f-3cc9-433f-90ff-a4753ff5720f.png)
I must open the kubeedge config.But kubeedge is not only, such as openyurt.

/kind feature-request

[2021-08-23 08:00] ylmcr7 commented on #4123
![image](https://user-images.githubusercontent.com/63889450/130411865-2d511343-7fa4-4ff6-8e9e-489c88f96f35.png)

我在我自己的测试环境安装了kubesphere,我感觉页面非常棒，比我在扫码登陆阿里云好的太多了，经过我的测试，我认为，这是一个新的时代，我们使用了kubesphere之后，RD可以自己进行项目管理，分等级的进行操作，还可以把项目打包成一个helm模板，大大降低了运维的维护成本，和上线成本，不过里面还有很多的bug，我还没有找到答案，比如给master节点打label,但是我的测试环境只开了两台node节点，该怎么操作呢？

[2021-08-23 08:04] FeynmanZhou commented on #4123
@ylmcr7 Thanks! Could you leave your comments at [Chinese Forum](https://kubesphere.com.cn/forum/d/5293-kubesphere)?

[2021-08-23 08:11] shfpflyawei commented on #4123
Organization/Company: jingqi
Website: http://www.jqsoft.net
Country/City: China/Hefei
How to connect (your email or Twitter at least one please): 15201344146@163.com
Usage scenario: At present, I am mainly responsible for promoting containerization within the company. At present, I mainly use kubesphere in the test environment to help me manage the container platform and deploy the containerized D

[2021-08-23 09:48] f10atin9 commented on #4137
/assign

[2021-08-23 10:28] #3804 closed

[2021-08-23 10:28] #3787 closed

[2021-08-23 10:28] #3509 closed

[2021-08-23 10:28] #3789 closed

[2021-08-23 10:28] #3801 closed

[2021-08-23 10:28] #3569 closed

[2021-08-23 10:28] #3742 closed

[2021-08-23 10:28] #3640 closed

[2021-08-23 10:28] #3512 closed

[2021-08-23 10:29] calvinyv commented on #2715
/reopen

[2021-08-24 02:17] benjaminhuo commented on #4086
@zhu733756 The CRD is not upgrade to v1, right? So reopen this issue to track that

[2021-08-24 02:19] zhu733756 commented on #4086
Yeah.

[2021-08-24 05:58] zryfish commented on #4154
There are three registry APIs been added.

1. Authenticate image registry secret

POST  ```/kapis/resources.kubesphere.io/v1alpha3/namespaces/{namespace}/registrysecrets/{name}```
namespace: namespace the registry secret going to create in
name: registry secret name
body parameter: Secret going to create
[code]
Response status code 200 indicates authentication successfully,  secret is valid. Other

[2021-08-25 02:46] zryfish commented on #4158
hostClusterName is reasonable in multicluster setup, I think `defaultClusterName` is more appropriate in this scenario. Host cluster is created by cluster controller,  maybe we could pass `defaultClusterName` to cluster controller when convert single cluster to host cluster. ks-installer could do this for us, but first, maybe we need to add a host cluster name flag for the cluster controller .

[2021-08-25 02:48] zryfish commented on #4158
@harrisonliu5  Any thoughts? Is it possible to change the default cluster name `default` to, for example, `gondor`?

[2021-08-25 03:22] yuswift commented on #4158
For console, it is complicated when handling different scenarios, and we need two params for ks-installer. IMO, one param is enough and it's convenient for console, although it will mislead the users that the host cluster name is still `host`.

[2021-08-25 03:35] styshoo opened #4173 "duplicate args generated when creating more than one ingress-controllers"
**Describe the Bug**
when creating more than two ingress-controllers, the ingress-controllers pod args are duplicate.

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: 1.19.10

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 1 masters:  8cpu/8g; all-in-one
(and other info are welcomed to help us debugging)

**How To Reproduce**
Steps to reproduce the beh

[2021-08-25 08:31] yuswift commented on #4173
/retitle duplicate args generated when creating more than one ingress-controllers

[2021-08-25 09:05] calvinyv opened #4177 "Allow to configure ad/ldap identifier to map userid/domain to ks user account automatically"
**What's it about?**

By configuring ldap/ad to KubeSphere, the console will show a confirm window when ldap/ad login for the first time, it's not user-friendly.
We'd better allow to configure ad/ldap identifier to map userid/domain to ks user account automatically.
**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* every user

[2021-08-25 09:06] calvinyv commented on #4177
/milestone v3.2

[2021-08-25 09:55] harrisonliu5 commented on #4158
If you use the hostClusterName in the configMap of ks-console-config as the cluster name, there may be errors when some resources need the cluster name to obtain data. It is better to get the cluster name according to the backend data.

[2021-08-25 13:44] yuswift commented on #4158
alright. I will add the hostClustetName flag to cluster controller.
/assign

[2021-08-25 14:31] #4173 closed

[2021-08-26 13:26] VioZhang opened #4179 "Support modifying the alert rules in batches."
Support modifying the alert rules in batches.
/area alerting
/kind feature-request

[2021-08-27 06:06] yxxhero opened #4184 "HPA for multicluster"
**What's it about?**

At present, the native HPA supports single cluster and hopes to provide multi cluster HPA.

**What's the reason why we need it?**
To be added later.

**Area Suggestion**

/kind feature-request
/area multicluster

[2021-08-27 06:25] stoneshi-yunify opened #4185 "Automatic resizing of PVC before out of space"
## Background
Many users want their PVCs to be automatically resized when certain contains met (e.g. usage > 90%), to prevent workload unavailability due to out of space.

## Proposal
- use crd/controller to monitor the pvc and do resize
- may integrate with Prometheus

/area storage
/kind feature-request

[2021-08-27 15:12] yuswift opened #4187 "remove `hack/install_kubebuilder.sh`"
**Describe the Bug**
ref https://github.com/kubesphere/kubesphere/pull/4186

[2021-08-28 01:21] swiftslee opened #4189 "remove github workflow"
**Describe the Bug**
Prow has been running for a long time and it works well fo us. We should remove the github aciton.
/kind clean-up
/help
/good-first-isssue

[2021-08-28 01:22] yuswift commented on #4189
/kind cleanup

[2021-08-28 05:03] #3828 closed

[2021-08-28 09:40] #3835 closed

[2021-08-29 08:38] calvinyv opened #4191 "Show related events on first page for not-running pod or not-ready node"
**What's it about?**

Show related events on first page for not-running pod or not-ready node
**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* For KS or K8s rookies, they always post some question like 'why my pod/node's is not running', and the community is always telling them that 'you need to check the related event, then

[2021-08-29 13:16] nathan-415 commented on #4189
I have addressed the issue in #4188.

[2021-08-29 14:18] yuswift commented on #4189
In the future, we should remove the GitHub workflow completely.

[2021-08-30 02:57] tscswcn commented on #4123
Organization/Company: ericsson
Website: http://www.ericsson.com
Country/City: China/Beijing
How to connect (your email or Twitter at least one please): 755200@qq.com
Usage scenario: At present, I am trying kubesphere 3.1
Status: Try KubeSphere deployed in v3.1.1

[2021-08-30 05:56] VioZhang opened #4192 "The number in the input of the quota doesn't match the slider input."
![image](https://user-images.githubusercontent.com/41519383/131291984-8c1a0cef-85fe-42e2-9239-3cec5f22bd86.png)

[2021-08-30 07:57] VioZhang commented on #4192
/area console
/cc @kubesphere/sig-console

[2021-08-30 10:01] liangyuanpeng commented on #4192
Confuse that why just not create issue on [kubesphere/console](https://github.com/kubesphere/console/issues).

[2021-08-30 10:18] zhu733756 opened #4195 "[v3.2] Import Grafana Dashboard in custom monitoring"
## Background
Grafana is a successful and widely used observability tool. In the current release, we have supported importing dashboards from Grafana dashboard templates.

Refer to [here](https://github.com/kubesphere/monitoring-dashboard#converter-tool), we have finished features like below:
- a new version v1alpha2 for CRD has been provided, which supports more fields.
- the new version and the

[2021-08-30 10:38] jioce opened #4196 "Delete the StatefulSets set edit in multi-cluster and single-cluster projects the storage volume template in the configuration template"
Describe the Bug

1.Enter the StatefulSets sets edit configuration templates page
2.Click volume
3. Add a storage volume template,Set the correct information
4. Click confirm,The page reported an error
<img width="960" alt="微信图片_20210830183303" src="https://user-images.githubusercontent.com/88183150/131326643-3d607bb4-16e6-41fb-a41a-80a71d78780f.png">

Versions Used
KubeSphere: v3.2

/kind bug
/as

[2021-08-30 12:53] yyt6200 opened #4197 "Failed to create application using pipeline"
**KubeSphere Version:3.1.0**

![image](https://user-images.githubusercontent.com/44914868/131341478-c002574a-c4f2-4053-a3d3-758db09f52fa.png)

![image](https://user-images.githubusercontent.com/44914868/131341537-7a9c3582-f80f-4939-b6ac-9110630d0eeb.png)

**In the server can be created successfully using kubectl**

![image](https://user-images.githubusercontent.com/44914868/131341757-6d718054-8d3e

[2021-08-30 12:55] yyt6200 commented on #4197
I don't quite understand why the user prompted here is "system: serviceaccount: kubesphere Devops system: default". What should I do to create an application with a pipeline

[2021-08-30 17:15] ByteFlyCoding opened #4198 "The Kubesphere Dashboard Have Some Bug When Opened On ios."
**Describe the Bug**
When I open the demo of kubesphere(https://demo.kubesphere.io/) supported by you on my iphone . I found that, The UI hava some bug, both of Safaria and Chrome on my phone. It is similarity that the dashboard of kubephere is not compatiable for Mobile endpoint. I think you can open the demo on your phone browser in order to oberseve this bug.
(Notes: The test device of my is ip

[2021-08-31 02:51] yuswift commented on #4184
/area multicluster

[2021-08-31 05:46] yuswift commented on #3008
/close

[2021-08-31 05:46] #3008 closed

[2021-08-31 06:18] #4195 closed

[2021-08-31 08:10] yuswift commented on #3970
/help

[2021-08-31 08:11] zryfish commented on #4154
/reopen
@harrisonliu5 Please take a look. I think in v3.2 we could move to our new version of registry API.

[2021-08-31 16:13] liangyuanpeng commented on #4147
Seems like resolved, So i'm closing this issue, reopen it any time If you have any question.

/close

[2021-08-31 22:11] #3508 closed

[2021-09-01 05:45] #4187 closed

[2021-09-02 07:34] VioZhang commented on #4191
![page_1.png](https://i.loli.net/2021/09/02/YGk85touA4v3LbN.png)
Add a link to the pod events here when the pod is not-running or not ready.

/cc @kubesphere/sig-console
/area console

[2021-09-02 08:58] zheng1 commented on #4107
/assign @xyz-li @harrisonliu5

[2021-09-03 03:01] yuswift opened #4207 "upgrade ingress"
**Describe the Bug**
Currently, console still uses `extensions/v1beta1` group for `ingress` resource, after upgrading k8s to v1.22, the group has been deprecated, console should use `networking.k8s.io/v1` for `ingress` resource. For a federatedingress, we need a way to convert the old ingress to the new version.
/cc @kubesphere/sig-console
/cc @zryfish
/cc @RolandMa1986

[2021-09-03 03:02] yuswift commented on #4207
/kind bug
/milestone v3.2

[2021-09-03 07:22] LQBing opened #4210 "namespace been autoremoved by kubesphere when namespace(project) reassign to the same workspace, after swap multicluster master and member nodes between 2 cluster"
**Describe the Bug**
namespace(project) been autoremoved by kubesphere when namespace(project) reassign to the same workspace, after swap multicluster master and member nodes between 2 cluster

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: v1.19.11

**Environment**
How many nodes and their hardware configuration:

2 clusters
cluster A: 6 nodes, ubuntu 8cpu/16G 4cpu/8G
cluster B: 5 nodes, ubuntu

[2021-09-03 15:39] liangyuanpeng commented on #4165
/help

Create tag for interested people.

[2021-09-03 15:41] liangyuanpeng commented on #4170
KubeSphere not support OpenYurt yet.

[2021-09-04 06:21] #3841 closed

[2021-09-04 13:14] #4192 closed

[2021-09-04 13:14] VioZhang commented on #4192
https://github.com/kubesphere/console/issues/2224

[2021-09-06 05:34] liangyuanpeng commented on #4198
Any reason for use kubesphere with phone?  IMO it doesn't make sense.

[2021-09-06 06:13] yinmin2020 opened #4217 "The deleted Deployment remains on the node"
**Describe the Bug**
Redeploying the Deployment system does not automatically drive out or delete the old Deployment
The deleted Deployment is not provided with any logs

![image](https://user-images.githubusercontent.com/65068467/132168669-7c7e353e-7570-4edc-9e93-8b77cb7c9c05.png)

[2021-09-06 07:49] f10atin9 commented on #4092
Already fixed : https://github.com/kubesphere/console/pull/2220

[2021-09-06 09:21] #4074 closed

[2021-09-06 11:47] yuswift commented on #4158
here is the way to set the host cluster name in the cc
[code]

[2021-09-06 11:54] yuswift commented on #4158
It's not recommended to update the host cluster name after it's created. If so, it will affect the resources that are deployed in the host cluster. Here is the workaround:
[code]

[2021-09-06 18:06] bear-dubai commented on #1138
大佬！后面这个问题怎么解决的呀？我这也遇到这个问题了！菜鸟路过。。。。

[2021-09-07 02:39] zhu733756 commented on #4025
Is this confirmed? @benjaminhuo

[2021-09-07 03:15] calvinyv opened #4218 "Show related workload information on specified alert msg panel"
**What's it about?**

On alert msg detail panel, we could only see the msg content. When something happen and KubeSphere throw that msg to end user, end user really hope to go to that hot area to solve the problem, so it could be better to show related workload information on specified alert msg panel, and also alow to link and jump to that workload, in case that resource is still existed.
**What'

[2021-09-07 07:15] zryfish commented on #4092
/kind need-to-verify

[2021-09-07 07:51] qiuax opened #4219 "sdk"
I happened to use kubesphere and wrote some API SDKs. Can they be integrated into the project?

[2021-09-07 08:55] zryfish commented on #2658
/kind need-to-verify

[2021-09-07 08:57] zryfish commented on #3850
@wansir What's the status of this issue? Still valid?

[2021-09-07 08:57] zryfish commented on #3915
/kind need-to-verify

[2021-09-07 08:58] zryfish commented on #3968
@benjaminhuo @harrisonliu5  What's the status of this issue? Any update?

[2021-09-07 09:00] zryfish commented on #2657
/milestone BackLog

[2021-09-07 09:00] zryfish commented on #3259
/kind need-to-verify

[2021-09-07 09:02] zryfish commented on #4071
I believe this can be covered by https://github.com/kubesphere/kubesphere/issues/3055. Mark as duplicated.

/close

[2021-09-07 09:02] #4071 closed

[2021-09-07 09:05] zryfish commented on #4091
@stoneshi-yunify  Any update?

[2021-09-07 09:07] zryfish commented on #3405
@RolandMa1986  Any update? I don't think there is ongoing work about this issue. Do we need to move it out of milestone v3.2?

[2021-09-07 09:13] benjaminhuo commented on #4081
@wenchajun @wanjunlei

[2021-09-07 09:16] RolandMa1986 commented on #3405
Agree. we can move it out of v3.2

[2021-09-07 09:16] zryfish commented on #3405
/milestone BackLog

[2021-09-07 09:17] zryfish commented on #4125
/kind need-to-verify

[2021-09-07 09:19] zryfish commented on #4145
This is no ongoing work focused on this issue. Probably will miss the v3.2.0 release, move it out of milestone 3.2

/milestone BackLog

[2021-09-07 09:20] zryfish commented on #4160
@wansir Any update?

[2021-09-07 09:21] zryfish commented on #4167
@wansir Any update?

[2021-09-07 09:23] yuswift commented on #3708
any updates on KubeEdge? @wenchajun @zhu733756

[2021-09-07 09:35] wansir commented on #4145
/assign @kubesphere/sig-console

[2021-09-07 09:39] wansir commented on #4160
/assign @harrisonliu5 It's a small feature.

[2021-09-07 09:42] wansir commented on #4167
I'm working on it.

[2021-09-07 10:03] calvinyv commented on #4145
under the project(namespace), the user could create a customized role to specify if it is allowed access/operate configmap/secret resources.

[2021-09-07 10:04] stoneshi-yunify commented on #4091
@zryfish Had discussion with the storage team and we agree to defer this issue to next release. There is no v3.3 so I will put it to backlog.

/milestone BackLog

[2021-09-07 10:05] yuswift commented on #4122
Currently, the backend only queries the number of `deployment`. Under a multi-cluster project, we only provide the entrance of creating a `federateddeployment`. If the user creates a `federateddeployment` and only deploys it to part of the clusters, the numbers of `deployments` doesn't equal to to the `federateddeployment`. I can't find a better solution for this situation, we can't query the `fed

[2021-09-07 10:05] yuswift commented on #4122
/unassign

[2021-09-07 10:19] zhu733756 commented on #3708
See https://github.com/kubeedge/kubeedge/issues/3093

[2021-09-07 10:36] FeynmanZhou commented on #4219
/cc @RolandMa1986

[2021-09-08 01:05] RolandMa1986 commented on #4219
@qiuax  We are pleasured to accept any kind of contribution to KubeSphere that help us to improve KubeSphere.
Please provide a little bit more information about the SDK. it's a good practice to follow our feature request template.
Thanks,
Roland

[2021-09-08 02:19] qiuax commented on #4219
Thank you, what should I do now to integrate into your side and contribute together.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月8日(星期三) 上午9:05
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [kubesphere/kubesphere] sdk (#4219)

我碰巧使用了kubesphere并编写了一些APISDK。它们能被整合到项目中吗？

@qiuax我们乐于接受任何帮助我们改进KubeSphere的对KubeSphere的贡献。
请提供更多有关SDK的信息。遵循

[2021-09-08 02:38] RolandMa1986 commented on #4219
You can find our developer guide at https://github.com/kubesphere/community/tree/master/developer-guide/development.
But for SDKs, it doesn't need to be merged into our main repo. There's a Kubernetes style SDK for KubeSphere that can be found at https://github.com/kubesphere/client-go. For an SDK I think it's very important to cover most APIs and be well tested.

[2021-09-08 02:40] qiuax commented on #4219
Okay, I will continue to improve other APIs

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月8日(星期三) 上午10:38
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [kubesphere/kubesphere] sdk (#4219)

你可以找到我们的开发者指南https://github.com/kubesphere/community/tree/master/developer-guide/development.
但是对于SDKs,不需要并入我们的主回购。有一种库伯内特式SDK对于 KubeSphere ，可以在ht

[2021-09-08 03:24] yuswift opened #4221 "make manifests not work"
**Describe the Bug**
when executing `make manifests`, no crds generated.

**Versions Used**
KubeSphere: latest

**Expected behavior**
generate the new crds

[2021-09-08 03:24] yuswift commented on #4221
/kind bug
/milestone v3.2
/cc @RolandMa1986
/cc @zryfish

[2021-09-08 03:25] yuswift commented on #4221
1. fix the bug
2. update the crds if needed
3. sync the crd to ks-installer
/help

[2021-09-08 06:23] junotx commented on #1077
The `etcd_server_is_leader` metric marks whether or not this member is a leader, whose value is 1 if this member is a leader, 0 otherwise. So it needs to update the backend of the API `/monitoring.kubesphere.io/v1alpha3/components/etcd` to make this metric querable.

The samples of this metric will be return by adding `etcd_server_is_leader` to the `metrics_filter` parameter when calling the above

[2021-09-08 07:01] yuswift commented on #4207
1. upgrade kubefed to v0.8.1
2. upgrade k8s to v1.22.1
Then I found that the ingress resources were upgraded to networking.k8s.io/v1, so the only thing we need to do is updating the `fedingress` manually.

[2021-09-08 15:40] liangyuanpeng commented on #4217
Anything from `kubectl describe` or `kubectl logs` ?

[2021-09-09 02:21] #4081 closed

[2021-09-09 03:18] junotx commented on #1077
/assign @VioZhang @harrisonliu5

[2021-09-09 08:25] yuswift commented on #4158
here is the regex we use to validate the cluster name
`'([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9]')`

[2021-09-09 10:02] #4157 closed

[2021-09-09 13:22] yuswift commented on #4207
There is a workaround for `fedingress`. Find the `ingress` that are upgrade to `networking.k8s.io/v1` by k8s automatically, get the `spec` filed, pasted it into `fedingress.spec.template` filed, don't forget to update the `fedingress.spec.override` filed.
/cc @Felixnoo
This is the solution for multi-cluster routes under a multi-cluster project.

[2021-09-10 02:04] zhbitzwz opened #4226 "Failed to search the auditing logs from external ES in KubeSphere 3.1.1"
版本信息：
kubersphere：v3.1.1
fluent-operatro:kubesphere/fluentbit-operator:v0.11.0
fluent-bit:kubesphere/fluent-bit:v1.8.3

docker的路径：/data/lib/docker
日志的路径：/var/log/containers/*  查看软链接对应 /var/log/pods/*

现象：
![image](https://user-images.githubusercontent.com/11995740/132786996-e11b0e8b-d38f-40b4-b34c-55dd06ede4b9.png)

fluent-bit报错日志：
`
[2021/09/10 02:01:34] [error] [output:es:es.0] HTTP status=400 U

[2021-09-10 04:09] jioce opened #4229 "need to add validation when changing the cluster role of multicluster to None"
Describe the Bug
1. Edit the configuration  of the host cluster ks-installer
2. Change the multi-cluster role to None
3. Cluster update succeeded,It is still the host cluster
<img width="956" alt="修改集群角色" src="https://user-images.githubusercontent.com/88183150/132798164-d0e2db2b-273f-4fc1-8701-a09dc4b1a9de.png">

**Expected behavior**
     An error was reported when updating the configuration  Pro

[2021-09-10 07:29] #3874 closed

[2021-09-10 14:17] yuswift commented on #3293
/reopen

[2021-09-12 19:59] eliaskoromilas opened #4231 "Helm-based Kubernetes apps in "system-workspace""
**What's it about?**

*App Management > App Repositories* section is not available under `system-workspace`.

![screenshot](https://user-images.githubusercontent.com/24586902/133000827-079198cc-c6d0-48c8-bbd4-d1a8217f89bf.png)

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere, since it will enable **third-party Helm app template** deployment in `default`

[2021-09-13 01:58] zryfish commented on #4231
Actually, `system-workspace` holds all the workloads and configurations for K8s and KubeSphere to run, it's important to make sure these pods running. If you still want to edit resources under `system-workspace`, you can follow steps below:

system-workspace is an enterprise space automatically created by KubeSphere during installation. The namespace inside is the project that KubeSphere depends o

[2021-09-13 02:45] VioZhang commented on #1077
The drawing design:
https://www.figma.com/file/8Le5pz18Rtf1UhOha29uvp/Other?node-id=1%3A54383

[2021-09-13 06:39] eliaskoromilas commented on #4231
@zryfish Thanks for the suggestion.

I understand that making  the `system-workspace` immutable is important and I agree with that decision, however adding third-party Helm repositories under `system-workspace` is the only way to deploy third-party Helm apps in `default`/`kube-system` namespaces.

Should just the *App Management > App Repositories* section be unlocked by default?

Use-cases includ

[2021-09-13 06:48] eliaskoromilas commented on #4231
Also, as far as I remember, currently  in `system-workspace` *Projects* it's possible to deploy apps from the OpenPitrix *App Store*. Why not allow apps from third-party Helm repositories, too?

[2021-09-13 12:14] peisong0109 opened #4233 "ERROR: client: etcd cluster is unavailable or misconfigured; error #0: dial tcp 116.12.50.219:2379: connect: connection refused"
I met the following error when installing the kubesphere with kubenetes on my linux server.

[code]

Could you please help me to solve this problem?

[2021-09-14 01:44] VioZhang opened #4234 "Show the all master ip at the “Internet Access->Gateway Address"."
There is only a master node ip showed at the Gateway Address even if there are three masters in the cluster.
It would be better to show the ip of all master nodes.

 /area networking
/kind feature-request
![image](https://user-images.githubusercontent.com/41519383/133180886-19806f49-6b6d-41aa-99e6-983c0d521133.png)

[2021-09-14 01:56] yinmin2020 commented on #4217
`default       dmp-dev       dmpxcg2r      dtportal-dev  dtportal-sit  dtportal-uat
[root@cn-hangzhou ~]# kubectl describe pod b-app-web-serv-v1-7d54d4bb67-4n4hp -n dtportal-sit
Name:           b-app-web-serv-v1-7d54d4bb67-4n4hp
Namespace:      dtportal-sit
Priority:       0
Node:           node9/
Start Time:     Mon, 19 Jul 2021 09:56:32 +0800
Labels:         app=b-app-web-serv
                ap

[2021-09-14 02:14] VioZhang commented on #4231
We can‘t deploy app in system-workspace normally，for we don't want the other apps to increase the instability.

[2021-09-14 03:22] #4149 closed

[2021-09-14 06:40] eliaskoromilas commented on #4231
But I just confirmed that on a fresh "default" installation, with just `openpitrix.store.enabled=true`, I'm able to deploy an app from the **App Store** in the `kube-system` *Project*, which is part of the `system-workspace` *Workspace*:

![Screenshot](https://user-images.githubusercontent.com/24586902/133206439-99a907f6-13b7-4265-8b79-79dbc273beaa.png)

As you can see, the admin has the option to

[2021-09-14 14:07] penghuima opened #4236 "kubesphere3.1.0 console cannot log in"
**Describe the Bug**
The console cannot be logged   in one day ，and here is no uesr resource in the query
[code]
![image](https://user-images.githubusercontent.com/43670120/133270757-4ee6f0b8-6e4c-49cf-84c6-ea4f0e8ca7c0.png)

**Versions Used**
KubeSphere: 3.1.0
Kubernetes: 1.19.8

**Environment**
[code]
node1/node2/node3 : CentOS 7.5
edgenode-mph: ubuntu16 .04

[code]

/kind bug

[2021-09-15 02:32] penghuima commented on #4236
Mabey my user account has been deleted. Just create a new user resource through the yaml configuration file.

[2021-09-15 02:32] #4236 closed

[2021-09-15 03:04] vincenthe-ks opened #4237 "workspace admini can configure istio serviceEntry"
**What's it about?**

https://istio.io/latest/docs/reference/config/networking/service-entry/

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**
<!--
In order to have a clear issue lis

[2021-09-15 04:19] VioZhang opened #4239 "The admin could configure which users to receive notification from specified namespace."
/area notification
/area observability
/kind feature-request

[2021-09-15 04:27] VioZhang opened #4240 "Support getting moniting data from the log."
In some user scenes，the users can‘t edit the source code or it’s hard for them to edit it.So we'd better provide a way by whcih the users could get the moniting data from the log ranther than exporter.

/area observability
/kind feature-request

[2021-09-15 06:03] #3883 closed

[2021-09-15 06:03] #3888 closed

[2021-09-15 06:03] #3892 closed

[2021-09-15 06:19] xyz-li commented on #3443
/close

[2021-09-15 06:19] #3443 closed

[2021-09-15 06:22] zryfish commented on #3915
/reopen

[2021-09-15 06:30] calvinyv opened #4241 "Fail to edit with empty value when updating project quota"
**Describe the Bug**
When editing the project quota, we could set the value as empty, which means it is not limited, however, when doing that, no response on the page and a js error is thrown.

For UI issues please also add a screenshot that shows the issue.
<img width="1578" alt="Xnip2021-09-15_14-26-00" src="https://user-images.githubusercontent.com/28883416/133382151-7391adcc-70ac-487c-984b-106

[2021-09-15 06:32] calvinyv commented on #4241
/assign @kubesphere/sig-console
/area console
/kind bug

[2021-09-15 08:15] penghuima opened #4242 "Account password settings can have no capital letters"
**Describe the Bug**
When changing the account password on the ks-console page, we must include uppercase and lowercase letters and numbers
But if we use the following command in the terminal, we can set the password without capital letters
[code]
![image](https://user-images.githubusercontent.com/43670120/133396099-1b1d4e02-2810-4a96-84c4-f06ccc8a6772.png)

**Versions Used**
KubeSphere: 3.1.0
Kub

[2021-09-15 10:34] FeynmanZhou opened #4244 "Support import new Helm-based Apps into KubeSphere App Store dynamically"
**What's it about?**

The built-in applications are tightly coupled with the KubeSphere version, this is not flexible for us to expand the application ecosystem of KubeSphere App Store and build the partnership with more ISVs and partners.

I propose to support import new Helm-based apps into KubeSphere App Store dynamically.

**What's the reason why we need it?**

I believe this is an important f

[2021-09-15 10:45] FeynmanZhou commented on #4244
/cc @zheng1 @xyz-li @VioZhang

[2021-09-15 12:53] zheng1 commented on #4244
/assign @xyz-li

[2021-09-16 03:06] liuyp2018 opened #4245 "error occurs on the page of custom monitoring page,"
**Describe the Bug**
error occurs on the page of custom monitoring page
<img width="931" alt="427e3b183ddf9aca19524b2bca680f3" src="https://user-images.githubusercontent.com/36271543/133541768-e7c1d9f5-bbb0-40f3-a1e1-4ad8fea43798.png">

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: ks3.2
Kubernetes: (If KubeSphere installer used, you can skip this)

[2021-09-16 03:37] zhu733756 commented on #4245
In my local debugging test,  execute `curl localhost:9090/kapis/resources.kubesphere.io/v1alpha3/clusterdashboards?sortBy=createTime` returns normally.

I have pushed kubespheredev/ks-apiserver:20210916, you can test this image.

[2021-09-16 06:05] xyz-li commented on #4107
Add `sync_period` when create and update the helm repo. If this value is set to zero, then disable auto-synchronization. The minimum value of sync_period is 180.

[2021-09-16 07:04] akhilerm commented on #4244
Does builtin services like storage apps (eg: openebs) also need to be added to the app store?

[2021-09-16 09:48] VioZhang opened #4246 "Provide a feature enhancement which will help using nexus easier."
**What's it about?**
When the users build the image which needs pulling the dependence package from maven,they need the nexus to save the package.So we'd better provide a feature to help users to do it.

/area devops
/kind feature-request

[2021-09-16 09:49] VioZhang opened #4247 "Provide a feature enhancement which will help using nexus easier."
**What's it about?**
When the users build the image which needs pulling the dependence package from maven,they need the nexus to save the package.So we'd better provide a feature to help users to do it.

/area devops
/kind feature-request

[2021-09-16 09:50] #4247 closed

[2021-09-17 01:18] #4177 closed

[2021-09-17 02:46] yang-jintao opened #4248 "Why kubespehre needs users to manually write shell to push items to the mirror registry?"
Why kubespehre needs users to manually write shell to push items to the mirror registry, instead of just asking users to provide the image address, dockerfile and other information, then Kubespehre to complete the push tasks.

[2021-09-17 06:09] #3900 closed

[2021-09-17 07:27] junotx commented on #3420
Since the promql configured by the custom rule may be very complicated, such as a combination of multiple sub-statements, it is difficult to separate their thresholds one by one.

And it is reasonable to show only the results that satisfy the expression conditions including the threshold here, and alerts related to these results may be generated later.

So close this issue here

[2021-09-17 07:27] #3420 closed

[2021-09-17 08:09] #4167 closed

[2021-09-17 08:48] VioZhang opened #4249 "It shouldn't be allowed deploying app in kube-system from the app store."
**Describe the Bug**

The namespace kube-system could deploy apps from the app store.

**Versions Used**
KubeSphere:3.1.1

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to namespace 'kube-system'
2. Click on a project from the list，such as the “default”.
3. Go into the apps tab from the workload list.
4. Click the "deploy new app" button.
5. We can deploy app from the app store.
**Ex

[2021-09-17 09:02] VioZhang commented on #4248
You can do it by the S2I or B2I of KubeSphere，and even you don‘t need the dockerfile.

[2021-09-17 09:05] #3055 closed

[2021-09-17 09:30] #4072 closed

[2021-09-17 09:32] badbruce commented on #4072
It returns to normal after deleting the ClusterConfiguration

[2021-09-17 12:05] #3378 closed

[2021-09-17 13:02] aeoluswing opened #4251 "ETCD update failed from disaster recovery"
**Describe the Bug**
A clear and concise description of what the bug is.
An already running kubernetes recovers from a disaster caused by an etcd node disk failure.But new etcd cluster member node cannot start smoothly because It's etcd name is the same as some one already in the cluster.It's name conflict.

I noticed the /etc/etcd.env configuration file but once etcd container restart by failure,

[2021-09-17 13:44] yuswift commented on #4229
Once the cluster role is `host`, it shouldn't be changed to `None`. IMO, hanging the role is very dangerous and should be forbidden. @zryfish What's your suggestion? Should we verify it in the `ks-installer` or in the `ks-controller-manager`?

[2021-09-17 14:51] zryfish opened #4252 "KubeSphere release v3.2.0-alpha.0"
We are going to release an alpha version of v3.2.0 this weekend.  Alpha build images listed below

[code]

[2021-09-18 03:49] #3843 closed

[2021-09-18 03:52] dkeven commented on #3085
This feature is no longer needed since the two CRDs have already been removed in https://github.com/kubesphere/kubesphere/issues/4075

[2021-09-18 03:52] #3085 closed

[2021-09-18 06:49] gaffeyQiu opened #4253 "kubesphere 3.1 ks-apiserver Usage --insecure-port default value has error, should 9090"
**Describe the Bug**
[code]

[code]

**Versions Used**
KubeSphere: 3.1
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help us debugging)

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '.

[2021-09-18 07:07] #4253 closed

[2021-09-18 08:41] shenhonglei opened #4255 "Successfully mounted but there is no content in the pv (caused by spaces)"
**Describe the Bug**
When mounting a storage volume, the path can contain spaces, and pv can be mounted successfully, but it is empty.
**Versions Used**
KubeSphere:3.1.1

**Environment**
Ubuntu 16 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g; openebs

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create PersistentVolumeClaim>>Storage Class:local、rwo、10G'
2. Go to 'Create App by Servi

[2021-09-18 09:11] liuyp2018 opened #4256 "cannot delete user"
**Describe the Bug**
The prompt information on the user interface is incorrect
![image](https://user-images.githubusercontent.com/36271543/133883283-e1e47a70-87a7-44e1-a43f-c3a0dd816009.png)

After the user is deleted, the user still exists in the list
![image](https://user-images.githubusercontent.com/36271543/133883310-a80c8306-f813-4ef1-abcd-94b0e6dd6353.png)

**Versions Used**
KubeSphere: v3.2

[2021-09-18 09:13] liuyp2018 commented on #4256
/milestone v3.2

[2021-09-18 09:34] liuyp2018 opened #4257 "unexpected message is displayed when upload file successfully"
**Describe the Bug**
creating a service through artifacts .
upload file successfully
message is displayed indicating that the file is not uploaded

![image](https://user-images.githubusercontent.com/36271543/133883939-ce8090c5-bc7e-47fb-a70f-b972dfe3a69b.png)

**Versions Used**
KubeSphere: v3.2 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/milestone v3.2
/assign

[2021-09-18 09:54] liuyp2018 commented on #4257
This problem does not exist in the new cluster,close problem
/close

[2021-09-18 09:54] #4257 closed

[2021-09-18 10:13] liuyp2018 opened #4258 "The image Settings cannot be saved when GPU type is not set"
**Describe the Bug**
On the image setting page for creating a workload, the GPU type is not set and cannot be saved
![image](https://user-images.githubusercontent.com/36271543/133885348-1a20e025-1231-47f2-b347-feacd316c488.png)

**Versions Used**
KubeSphere: v3.2 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug

[2021-09-19 00:19] #3907 closed

[2021-09-19 00:19] #3903 closed

[2021-09-19 09:30] avifreege commented on #3223
what about the terraform provider? :)

[2021-09-19 11:06] liangyuanpeng commented on #4255
So  we should check space in front/backend and just remove it, right?

I think it will be great as a first issue.

[2021-09-19 11:16] liangyuanpeng commented on #4249
Agree with it. We should protect kube-system and provide some config for deploy workload to kube-system if necessarilly.

[2021-09-20 20:31] sagilio opened #4259 "Add admission policy management APIs"
Proposal: #4139

[2021-09-22 03:15] yuswift commented on #4251
/cc @zryfish
/cc @kubesphere/sig-installation

[2021-09-22 03:18] yuswift commented on #4251
/area installation

[2021-09-22 03:18] yuswift commented on #4242
/cc @wansir

[2021-09-22 03:30] yuswift commented on #4226
/kind bug
/area observability
/cc @kubesphere/sig-observability

[2021-09-22 03:45] wenchajun commented on #4226
Can I have a look at CRD (Output)? This may be the reason for misreading newspaper information.(https://github.com/kubesphere/ks-installer/blob/master/roles/ks-auditing/templates/custom-output-elasticsearch-auditing.yaml.j2#L13)
相关issue https://github.com/fluent/fluent-bit/issues/3909

[2021-09-22 05:29] pixiake commented on #4251
If there is name conflict, the old node should be removed from the etcd cluster first.

We will consider adding more operations for etcd cluster.

[2021-09-22 06:04] odidev opened #4261 "Unable to build kubesphere with make on Linux/ARM64 machine"
**Describe the Bug**
I am getting below error while trying to execute "make all" on Linux/ARM64 instance.
This error occurs on the following test suites:
- application_suit_test.go
- helm_controller_test.go
- namespace_controller_suite_test.go
- helm_application_controller_suite_test.go
- helm_category_controller_suite_test.go
- helm_repo_controller_suite_test.go
- workspace_controller_suite_test.

[2021-09-22 08:24] lyzhang1999 opened #4262 "timed out waiting for resources to be ready when install helm chart"
**Describe the Bug**
I was add a helm repo: https://nocalhost-helm.pkg.coding.net/nocalhost/nocalhost and install, the pod is running, but kubesphere application status got: timed out waiting for resources to be ready

![image](https://user-images.githubusercontent.com/8142348/134307342-2e23b326-9e89-45ec-ab05-c6c506b6dacf.png)

![image](https://user-images.githubusercontent.com/8142348/134307393-

[2021-09-22 09:29] jioce opened #4263 "host cluster ks-apiserver failed"
**What's your question**
host cluster ks-apiserver failed

**Environment: OS & Hardware Information**
  CentOS 7.5, 4 C / 8 G

**Error logs or message (Attach logs or screenshot)**
![image](https://user-images.githubusercontent.com/88183150/134317530-2c2247f0-014f-4a41-9570-3f520d619620.png)

**Installer Version**
    v3.2.0-alpha.0
/assign @zryfish
priority medium
/milestone v3.2

[2021-09-22 09:59] zryfish opened #4265 "Cluster gateway list shows lots of duplicated items"
**Describe the Bug**
There are lots of duplicated items showed on cluster scope gateway page

![截屏2021-09-22 17 50 19](https://user-images.githubusercontent.com/3326354/134322207-d27da6f6-8b27-4ed8-91f0-0d2e98c5bfcd.png)

**Versions Used**
KubeSphere: v3.2.0-alpha.0
Kubernetes:  v1.21.5

**Expected behavior**
Unique item should only listed once.

/kind bug
/area console

[2021-09-22 09:59] zryfish commented on #4265
/cc @RolandMa1986

[2021-09-22 15:04] swiftslee opened #4266 "failed to list federateddeployments"
**Describe the Bug**
After successfully created a `federateddeployment` on console, we can't see it on console. Here is the logs of the `ks-apiserver`.
[code]

**Versions Used**
KubeSphere:v3.2 alpha.0

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help us debugging)

**How To Repro

[2021-09-22 15:04] yuswift commented on #4266
/kind bug

[2021-09-22 18:28] #3911 closed

[2021-09-23 05:00] yuswift commented on #4158
/reopen
we still need a field in ks-installer to specify the single cluster name and convert it into host cluster name when the cluster role is updated to host.

[2021-09-23 06:06] hurricane1988 opened #4267 "kubesphere3.1 can not login when the username contain "_""
**Describe the Bug**
We integrated OIDC provider，but can't login when the username contain “_”. How can we fix the problem?
**Remark：** Our OIDC name format is xxxxxx_xx
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/16606960/134460546-bebd3750-cf70-4748-8a72-44d65016e33f.png)

For UI issues please also add a screenshot that shows the issue.

[2021-09-23 06:12] wansir commented on #4267
@hurricane1988 Please modify the mapped username according to the prompt.

[2021-09-23 06:25] carefree666 commented on #4267
我集成了ldap也是这种格式用户名,无法登录😱

[2021-09-23 06:27] hurricane1988 commented on #4267
We integrate the OIDC service, and we can't modify the OIDC provider username format( because other service like Harbor Jenkins use the OIDC too)

[2021-09-23 06:34] wansir commented on #4267
This is the account information confirmation process, create a mapped kubesphere account (automatically associate with the uid), you are able to redefine the username.

[2021-09-23 08:15] liuyp2018 opened #4268 "the notification configuration information verification does not report error"
**Describe the bug**

The Notification Manager reports errors, but the notification configuration information verification interface does not report error
![image](https://user-images.githubusercontent.com/36271543/134474544-6091be0c-6e06-4dd9-b33e-ce4012bdd61d.png)

![image](https://user-images.githubusercontent.com/36271543/134473749-03d7652f-f446-41bd-8f56-4a7d7d1519d4.png)

**Versions Used**
K

[2021-09-23 08:27] liuyp2018 opened #4269 "no secret key is set, config check failed"
**Describe the Bug**
No secret key is set for the dingding robot.
on the dingding notification config page, no secret key is set, then click the configuration verification button

**Expected Results**
Check success
**Actual results**
Check failed

![image](https://user-images.githubusercontent.com/36271543/134475434-c6516de4-d7e0-47fa-8cbf-3add9f01bb03.png)

**Versions Used**
KubeSphere: ks3.2 alp

[2021-09-23 08:55] wcwmsj2512 commented on #4267
After integrating the OIDC service and login successfully,I want to change the account's password, but it notices me to fullfill the the old password(initial password),so what is the initial password?

[2021-09-23 09:42] hurricane1988 commented on #4267
Can login successfully now, But I have a question that is what the password

[2021-09-23 09:42] #4267 closed

[2021-09-23 10:17] kerwinan opened #4270 "Unable view all application's Services and Workloads after upgrade kubesphere from v3.0.0 to v3.1.1"
**Conditions**
- one host cluster(aliyun ACK, 2 nodes, kubesphere v3.0.0)
- one member cluster(aliyun ACK, 11 nodes, kubesphere v3.0.0)

**Describe the Bug**
Upgrade host kubesphere from v3.0.0 to v3.1.1. Then view a application's status of host cluster or member cluster, unable view it's Services and Workloads.

![Screenshot from 2021-09-23 18-20-35](https://user-images.githubusercontent.com/3097

[2021-09-23 11:23] tengxunchao opened #4272 "no <code quality> view could be found when kubesphere pipline run over"
**Describe the Bug**
A clear and concise description of what the bug is.
After kubesphere pipeline run over, there has data in sonarqube, but not any  data about sonarqube in  kubesphere.
Please help !
For UI issues please also add a screenshot that shows the issue.
kubesphere has no <code quality> view:
<img width="938" alt="0f3648ec6d0eac5754ad79178db3fa1" src="https://user-images.githubusercont

[2021-09-24 01:51] wanjunlei commented on #4269
/assign @xuliwenwenwen

[2021-09-24 03:49] wenxin-01 opened #4274 "Traffic Management error"
**Versions Used**
KubeSphere: `v3.2.0-alpha.0`

**How To Reproduce**
Steps to reproduce the behavior:
1、 ` servicemesh:
    enabled: true`
2、deploy sample app in anyone project
3、view bookinfo information
4、click ` Traffic Management`
![image](https://user-images.githubusercontent.com/68640256/134611400-9a61beba-11b6-414b-9d05-c8864ec8b248.png)

**Expected behavior**
 Traffic Management informatio

[2021-09-24 03:49] #4265 closed

[2021-09-24 06:48] liuyp2018 opened #4275 "Click Save monitoring template button, error occurs"
**Describe the Bug**
Click Save monitoring template button, error occurs
![image](https://user-images.githubusercontent.com/36271543/134630289-b0434bb0-6bba-41cd-8568-000ca04609d9.png)

**Versions Used**
KubeSphere: v3.2.0 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @harrisonliu5
/priority High
/milestone v3.2

[2021-09-24 06:52] liuyp2018 commented on #4275
the same error
![image](https://user-images.githubusercontent.com/36271543/134631045-3b612030-8794-40fe-8cbb-726ffd7ccfbd.png)

[2021-09-24 06:56] zhu733756 commented on #4275
Can you save it with /apis/monitoring.kubesphere.io/v1alpha2/clusterdashboards/11?

[2021-09-24 07:02] zhu733756 commented on #4275
/cc @harrisonliu5

[2021-09-24 07:29] wanjunlei commented on #4268
fixed in #kubesphere/ks-installer#1704

[2021-09-24 08:35] harrisonliu5 commented on #4275
/kind need-to-verify

[2021-09-24 08:37] wansir opened #4276 "affect workloads prompt is incorrect"
**Describe the Bug**

When creating a service with a specified label selector, the affect workloads prompt is incorrect.

/kind bug

![image](https://user-images.githubusercontent.com/8263040/134642247-c6cc84b3-a7c7-4439-9a39-3ad7e7e5bccd.png)

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

Match workloads with `spec.selector.matchLabels`

[2021-09-24 09:57] calvinyv opened #4277 "Page filter and selected page can't be kept when switching back page"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: 3.0, 3.1
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcome

[2021-09-24 09:57] calvinyv commented on #4277
/assign @kubesphere/sig-console

[2021-09-24 09:58] calvinyv commented on #4277
/area console
/kind bug
@kubesphere/sig-console

[2021-09-24 10:04] calvinyv commented on #4277
/priority high

[2021-09-24 10:13] liuyp2018 opened #4278 "error message is displayed on the details page of the released PV"
**Describe the Bug**

error message is displayed on the details page of the released PV
![image](https://user-images.githubusercontent.com/36271543/134658244-8e258d3e-5041-489f-9c1f-a9a9ee338925.png)

**Versions Used**
KubeSphere: v3.2 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/cc @harrisonliu5
/area console
/milestone v3.2
/priority Medium

[2021-09-24 10:25] liuyp2018 opened #4279 "for released PV, the status never completed"
**Describe the Bug**

For released PV, the status indicator is always blinking and never completed

https://user-images.githubusercontent.com/36271543/134659813-79630b97-9c8a-4525-86ac-599b08970b62.mp4

**Versions Used**
KubeSphere: v3.2 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @harrisonliu5
/priority Low
/Milestone v3.2

[2021-09-24 10:30] liuyp2018 opened #4280 "field display problems on the pv details page"
**Describe the Bug**

 field display problems on the pv details page
![image](https://user-images.githubusercontent.com/36271543/134660241-903041de-6e79-47e0-9614-53ba39d62320.png)

**Versions Used**
KubeSphere: v3.2 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/area console
/milestone v3.2
/priority Low

[2021-09-25 05:16] #3901 closed

[2021-09-25 09:17] #3875 closed

[2021-09-26 03:24] wenchajun commented on #4226
I mixed up the version. The output plug-in in kubespherev3.1.1 did not configure the corresponding field, this bug has been changed in kubespherev3.2. You can add fields( generateID: true) to collect Fluentbit information. For details, see the previous comment。

[2021-09-26 06:13] liuyp2018 commented on #4278
error message is displayed on the details page of the  available PV
![image](https://user-images.githubusercontent.com/36271543/134795850-ab03219a-9a64-4884-92d5-5931453f8cf6.png)

[2021-09-26 06:59] stoneshi-yunify commented on #4092
The allowedTopologies and mountOptions are a bit complex to be configured via UI. So the decision is only putting volumebindingmode in the create sc UI.

verify in ks3.2 alpha.0,  looks good. thanks.

[2021-09-26 06:59] #4092 closed

[2021-09-26 07:07] RolandMa1986 commented on #4274
/assign

[2021-09-26 07:08] stoneshi-yunify commented on #4047
verified in ks3.2 alpha.0 and passed.

[2021-09-26 07:08] #4047 closed

[2021-09-26 07:08] stoneshi-yunify commented on #4049
verified in ks3.2 alpha.0 and passed.

[2021-09-26 07:08] #4049 closed

[2021-09-26 07:09] stoneshi-yunify commented on #4089
https://github.com/kubesphere/console/issues/2183 will track this issue.

[2021-09-26 07:09] #4089 closed

[2021-09-26 07:12] stoneshi-yunify commented on #4091
/milestone v3.2

[2021-09-26 07:13] stoneshi-yunify commented on #4091
![image](https://user-images.githubusercontent.com/70880165/134797657-7ccf333c-d601-44f0-be9d-c9d0bf54dc47.png)

KS3.2 alpha.0 supports selecting from multiple snapshot classes.

[2021-09-26 07:13] #4091 closed

[2021-09-26 07:18] stoneshi-yunify opened #4281 "Support volumesnapshotclass management in ks-console"
# Background
Currently ks-console doesn't support volumesnapshotclass management (crud) in ks-console.

# Proposal
volumesnapshotclass is similar to storageclass, but much simpler.  We should support the management of it in ks-console, in order to to ease user's manual effort.

/area console
/area storage
/kind feature-request

[2021-09-26 07:23] stoneshi-yunify opened #4282 "Support volumesnapshotcontent management in ks-console"
# Background
Currently ks-console only support volumesnapshot management, it does not support volumesnapshotcontent management (crud).

volumesnapshot is like pvc while volumesnapshotcontent is like pv.

# Proposal
Support volumesnapshotcontent management in console. Just like the pv management we did in ks 3.2.

/area storage
/area console
/kind feature-request

[2021-09-26 08:00] RolandMa1986 opened #4283 "Failed to deploy sample App"
**Describe the Bug**
When Gateway is enabled, Sample App can't be deployed. The Ingress version doesn't match with server side.

For UI issues please also add a screenshot that shows the issue.
![ingress](https://user-images.githubusercontent.com/1720333/134798969-2ee4af7a-d999-4f9a-95be-cbb10dc3f982.png)

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

[2021-09-26 08:25] FeynmanZhou commented on #4270
@xyz-li Could you pls help to look into this issue?

[2021-09-26 09:23] stoneshi-yunify opened #4285 "One-click resizing pvc in ks-console"
# Background
Resizing volume may require workload stop and restart, currently user has to do this manually.

# Proposal
stop and restart workload automatically based on the storage system and the pvc's status. One-click, wait for a while, it's done.
We may only be able to handle deployment and statefulset, not daemonset.
For the replicas controlled by another operator, directly scale down the depl

[2021-09-26 09:30] f10atin9 commented on #4185
These few project may be helpful：
https://github.com/topolvm/pvc-autoresizer
https://github.com/opstree/dynamic-pv-scaler

[2021-09-27 01:46] cycwll opened #4287 "The configuration of the Istio virtualservice is overwritten"
**The configuration of the Istio virtualservice is overwritten **
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions 3.1.1 **
KubeSphere:

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help us debugging)

[2021-09-27 02:48] king-jingxiang opened #4288 "failed to get calico-node daemonsets.apps in kube-system namespace"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/32818529/134838283-555b198a-28b9-4f55-b6c1-ab25d3105bfd.png)

**Versions Used**
KubeSphere: v3.1.1
Kubernetes: v1.21.4

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help us debugging)

**How To Reproduce**

[In

[2021-09-27 03:19] VioZhang opened #4289 "Support alerting by the key word or status code of the log."
**What's it about?**
When there is special key word or status code in the log,we can receive the alerting message .

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**
<!--
In order to

[2021-09-27 03:21] VioZhang commented on #4289
from community  ： https://kubesphere.com.cn/forum/d/5221-kubesphere/2

[2021-09-27 03:48] wanjunlei commented on #4268
Fix in #kubesphere/ks-installer#1712

[2021-09-27 07:19] #4283 closed

[2021-09-27 09:48] calvinyv opened #4291 "Wrong position of configmap edit icon"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.
<img width="1237" alt="Xnip2021-09-27_17-47-14" src="https://user-images.githubusercontent.com/28883416/134886027-9ae6c550-5649-40f9-888c-04627f3e0c1a.png">

**Versions Used**
KubeSphere: 3.1.1
Brower: Chrome
Kubernetes: (If KubeSphere installer used, you can s

[2021-09-27 09:49] calvinyv commented on #4291
/kind bug
/area console
/assign @kubesphere/sig-console

[2021-09-28 03:08] liuyp2018 opened #4292 "remove the following fields on the Edit Project Quota page"
**Describe the Bug**
After editing CPU and Memory Settings, the CPU and Memory fields are added at the bottom of the page.
suggestion that removing these fields, because it is overlap with the cpu and memory setting above.
![image](https://user-images.githubusercontent.com/36271543/135015927-fa4dfcc2-1b69-4572-ae8f-9b0db284e931.png)

**Versions Used**
KubeSphere: v3.2.0 alpha.0
Kubernetes: (If Kub

[2021-09-28 03:22] liuyp2018 opened #4293 "The GPU resource quota of the default container is not displayed"
**Describe the Bug**
The GPU resource quota of the default container is not displayed
![image](https://user-images.githubusercontent.com/36271543/135017516-865893b4-7978-4894-9c32-ee8c93881fb2.png)

**Versions Used**
KubeSphere: v3.2.0 alpha
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @weili520
/area console
/milestone v3.2
/priority Medium

[2021-09-28 03:54] jioce opened #4294 "FederatedDeployment editing configuration template change update strategy does not take effect"
**Describe the Bug**
1. click more,click edit config template
2. Change the update strategy to simultaneous update
3. click save,click to confirm
4. click more,click edit configuration,View update strategy,unchanged

https://user-images.githubusercontent.com/88183150/135020640-783ad629-c961-4f27-8cb2-b3493f2a36a6.mp4

**Versions Used**
KubeSphere: nightly-20210927

**Expected behavior**
update str

[2021-09-28 06:16] wenxin-01 commented on #4018
issue fixed   `ks3.2-alpha.o`

[2021-09-28 06:16] #4018 closed

[2021-09-28 06:38] jioce opened #4295 "Maximum Unavailable Pods and Maximum Extra Pods set to number in the rolling update of the FederatedDeployment is invalid."
**Describe the Bug**
1. click more，click Edit Config Template
2. click Rolling Update Settings，Set the Maximum Unavailable Pods to 2，Set the Maximum Unavailable Pods to 2
3. click save，click to Confirm
4. Edit the configuration file and modify the container port to 80
5. FederatedDeployment is not updated

https://user-images.githubusercontent.com/88183150/135035621-56e61a9a-c947-4042-84d2-320fafc

[2021-09-28 06:44] wenxin-01 opened #4296 "New user cannot login multi-cluster environment"
**Versions Used**
KubeSphere:  `ks3.2-alpha.0`

![image](https://user-images.githubusercontent.com/68640256/135036467-45c19bf8-cf07-4f32-be04-5a4eb49b1837.png)

**How To Reproduce**
Steps to reproduce the behavior:
1. create new user 'wx2' in multi-cluster environment
2. user user wx2 login ks
3. See error
![image](https://user-images.githubusercontent.com/68640256/135035537-cb15f5f4-3582-47f2-b36

[2021-09-28 08:05] jioce opened #4298 "Failed to edit storage volume for federatedDeployment"
**Describe the Bug**
1. click create,Set the name, click Next,
2. set the mirror, use the default port, click Next,
3. do not mount the storage volume, click Next
4. click create,created successfully,click on the workload name
5. click more,click Edit Config Template,click on vloume
6. Add an existing volume test,click save,click to confirm,FederatedDeployment update successfully
7. click more,cli

[2021-09-28 09:52] jioce opened #4300 "FederatedDeployment volume subpath is not verified"
**Describe the Bug**
1. click more,click Edit Config Template,click on volume
2. click edit,Set the subpath to “/ss”
3. click save,click to confirm,Prompt that the update is successful, the pod is not updated
4. View pod details, volume information has not been changed

https://user-images.githubusercontent.com/88183150/135064991-61253edd-fbd7-4505-81cc-c311428b79fd.mp4

**Versions Used**
KubeSphe

[2021-09-28 10:58] VioZhang opened #4303 "There is a "Run" button at the page of CRD ."
**Describe the Bug**

There is a "Run" button at the page of CRD .
![image](https://user-images.githubusercontent.com/41519383/135074131-3e03e940-dda0-4142-9c3b-2ae2994ee671.png)

**Versions Used**
KubeSphere:3.1.1

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to the pipeline page
2. Click on any pipeline where we can see the "RUN" button.
3. Exit the pipeline page and then go to th

[2021-09-28 21:14] #3927 closed

[2021-09-28 21:14] #3856 closed

[2021-09-29 02:14] #4244 closed

[2021-09-29 02:46] liuyp2018 opened #4306 "cannot receive notification emails after filter criteria for alarm names are set"
**Describe the Bug**
1. Set the filter criteria for notification: Alarm names contain 'alert'.
2. However, cannot receive the email notification whose alert name contains 'alert'

![image](https://user-images.githubusercontent.com/36271543/135194380-cb020c14-56c1-44fe-b237-fabe453bcb54.png)

**Versions Used**
KubeSphere: nightly-2-210927
Kubernetes: (If KubeSphere installer used, you can skip this

[2021-09-29 03:05] jerryhu1234 opened #4307 "Can wen open to add, delete and update CRDs"
On the management interface of kubesphere, CRD resource objects can be managed, including adding, updating, deleting and other operations.

[2021-09-29 03:13] wanjunlei commented on #4306
Notification filtering does not support fuzzy matching.

[2021-09-29 06:48] wanjunlei commented on #4269
/kind need-to-verify

[2021-09-29 06:49] wanjunlei commented on #4268
/kind need-to-verify

[2021-09-29 06:50] zryfish commented on #4298
/cc @iawia002

[2021-09-29 07:11] harrisonliu5 commented on #4107
/kind need-to-verify

[2021-09-29 07:11] harrisonliu5 commented on #4266
/kind need-to-verify

[2021-09-29 07:12] harrisonliu5 commented on #4158
/kind need-to-verify

[2021-09-29 07:34] iawia002 commented on #4298
Seems a front-end issue, when I update an existing volume, for example by updating the name, the data structure in the API request updates the data in `volumes`, which is correct, but the data in the `containers.[0].volumeMounts` is not updated but simply added a new entry, which is not correct and should update the existing data here as well

<img width="632" alt="Screen Shot 2021-09-29 at 3 19 5

[2021-09-29 08:51] liuyp2018 opened #4309 "webhook verification fails"
**Describe the Bug**
the Webhook address, user name, and password are correct, but the verification fails
![image](https://user-images.githubusercontent.com/36271543/135235335-5116800d-4380-4888-8d03-df551338bbf1.png)

**Versions Used**
KubeSphere: v3.2 alpha.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @wanjunlei
/area notification
/kind bug
/priority Medium

[2021-09-29 08:53] liuyp2018 commented on #4306
ok, so that closes the question
/close

[2021-09-29 08:53] #4306 closed

[2021-09-29 09:04] wanjunlei commented on #4309
/assign @xuliwenwenwen The `password` and `token` of the webhook receiver should not be encoded with base64.

[2021-09-29 09:31] liuyp2018 opened #4310 "Token should be required field"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/36271543/135242009-be50c837-592c-4d12-afdd-67da547e588c.png)
![image](https://user-images.githubusercontent.com/36271543/135242372-142c1d2f-38a5-4ea9-ab3c-d1b617e3aa0e.png)

**Versions Used**
KubeSphere: nightly-20210927
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @xuliwenwenwen
/area console
/kind

[2021-09-29 10:02] jioce opened #4311 "Failed to edit the volume in the federatedstateful replica set"
**Describe the Bug**
1. click more,click Edit Config Template
2. click on vloume,click edit, Change the volume type，Set up information
3. click save,click to confirm
4. Pod is deleted

https://user-images.githubusercontent.com/88183150/135247680-e6ec25d9-51ca-41d1-a531-66c8c9ec57df.mp4

**Versions Used**
KubeSphere: nightly-20210927

/kind bug
/@kubesphere/sig-kubesphere
/priority medium

[2021-09-29 10:16] jioce opened #4312 "Edit FederatedIngress selection workload error"
**Describe the Bug**
1. There is a multi-cluster project test, contains one cluster A，There is a service sta
2. Add cluster B to the project test，create service test
3. Create application routes, add rules, select services
4. The interface displays services that cluster B does not have, and you can choose to create them successfully

![image](https://user-images.githubusercontent.com/88183150/1352

[2021-09-29 13:39] zryfish opened #4313 "KubeSphere release v3.2.0-alpha.1"
[code]

[2021-09-29 13:41] odidev opened #4314 "Kubesphere not running on kind cluster on Linux/ARM64 as ks-installer pod is failing to run"
**What's your question**
Tried the Quick Start guide given in the README.md. But Kubesphere is not getting installed in the cluster as kubesphere pod "ks-installer" is failing with Error for Linux/ARM64. Docker image for ks-installer, kubespheredev/shell-operator:v1.0.0-beta.5-alpine3.13 not available for Linux/ARM64. Please point to location for these images on Linux/ARM64.

**Environment: OS & H

[2021-09-30 01:22] wenxin-01 commented on #4023
can not reappearance in `kubespheredev/ks-installer nightly-20210928`

[2021-09-30 01:22] #4023 closed

[2021-09-30 06:56] WonderLand33 opened #4315 "Perform the installation, no normal print log"
Perform the installation, no normal print log.

## command
[code]
then enter `yes`

## environment：

centos8
4h8g

![image](https://user-images.githubusercontent.com/10755158/135402228-ddd5788a-00ce-4aea-b852-b0b742ec5c8b.png)

[2021-09-30 08:59] weili520 commented on #4278
/cc @f10atin9

[2021-09-30 10:00] liuyp2018 opened #4316 "cannot view container logs on the console"
**Describe the Bug**
cannot view container logs on the console
<img width="912" alt="8398467e72d541f275d5e6e62f19197" src="https://user-images.githubusercontent.com/36271543/135431401-628b846a-6250-485e-8263-f7a65b824083.png">

**Versions Used**
KubeSphere: v3.2.0 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @zryfish
/kind bug
/priority high

[2021-09-30 11:03] zhm9484 opened #4317 "Setting kubesphere as multi-cluster mode stucks"
**What's your question**
I wanna set the kubesphere works in multi-cluster mode.
The ks-installer stucks after modifying clusterrole as host.
And I find that multiple ``pod/kubefed-xxx``s fail.

**Environment: OS & Hardware Information**

* Kubernetes v1.16

**Error logs or message (Attach logs or screenshot)**

Log of ks-installer:

Log of kubefed:

**Installer Version**

v3.1.1

[2021-10-01 00:18] vincentmli opened #4318 "Upgrade or add option to select cilium version to deploy?"
**What's it about?**

when I `kubectl edit daemonset cilium -n kube-system` and `kubectl edit deployment cilium-operator -n kube-system` to pull most recent cilium version `cilium/cilium:1.10.4`, cilium operator version `cilium/cilium-operator-generic:1.10.4`, the new cilium-operator complains

[code]
this appears to be same issue as https://github.com/cilium/cilium/issues/17462

**What's the reas

[2021-10-01 06:39] VioZhang opened #4319 "Support identifying the cluster name at the notification."
**What's it about?**
Now the all cluster names showd at the notification is default,and there are more and more users replide that they need to identify the cluster name from the message.

such as:
![image](https://user-images.githubusercontent.com/41519383/135576446-d7189371-a48d-42c5-9bae-c0d1523e9919.png)
![image](https://user-images.githubusercontent.com/41519383/135576547-83c85cad-b0d4-49a5-9

[2021-10-01 07:18] VioZhang opened #4320 "Support the Istio that already exists in the cluster."
**What's it about?**

In many cases, users already have an Istio in their environment. It seems that the users will spend some time doing some meaningless work .

from chinese community:  https://kubesphere.com.cn/forum/d/5705

/area microservice
/area multicluster
/kind feature-request

[2021-10-01 09:07] liangyuanpeng commented on #4318
Seems like we have not option for cni version.
https://github.com/kubesphere/kubekey/blob/master/apis/kubekey/v1alpha1/network_types.go#L23https://github.com/kubesphere/kubekey/blob/master/apis/kubekey/v1alpha1/network_types.go#L23

May be you can try to update cilium from cilium cli or helm ( I haven't taken any action before, please be cautious about this ).

[2021-10-01 16:15] vincentmli commented on #4318
thanks for reminding me cilium cli, I am able to deploy new cilium with cilium cli in kubesphere, I had to re-install kubesphere from scratch though because cilium cli does not like cluster name with "dot" in it, by default the config-sample has `clusterName: cluster.local`
[code]

[2021-10-04 18:07] #3939 closed

[2021-10-06 01:37] #3930 closed

[2021-10-06 09:26] hieastz opened #4323 "can't deploy `mysql` with app-store when using `lower_case_table_names` arg"
update the yaml when deploying mysql
primary.args : [ "--lower_case_table_names=1" ]

here are the error logs
[code]

[2021-10-06 12:56] yuswift commented on #4323
/retitle can't deploy `mysql` with app-store when using `lower_case_table_names` arg

[2021-10-06 13:02] yuswift commented on #4317
This has been tested many times, please try again.

[2021-10-06 13:03] yuswift commented on #4315
/area installation

[2021-10-06 13:04] yuswift commented on #4315
Does it work if you use another machine?

[2021-10-06 13:06] yuswift commented on #4314
The community does not support arm arch.

[2021-10-06 13:10] yuswift commented on #4291
you can't assign an issue to a group, instead you can cc them.
/cc @kubesphere/sig-console

[2021-10-06 13:12] yuswift commented on #4288
It seems that there are some network problems in your cluster.

[2021-10-06 13:12] yuswift commented on #4287
/cc @kubesphere/sig-mircoservice

[2021-10-06 13:13] yuswift commented on #4287
/area microservice

[2021-10-06 14:06] wangzhi8145 opened #4324 "Authorization error in KubeSphere 3.0"
Starting Kubernetes deployment
ERROR: ERROR: java.lang.RuntimeException: io.kubernetes.client.openapi.ApiException: Forbidden
hudson.remoting.ProxyException: java.lang.RuntimeException: io.kubernetes.client.openapi.ApiException: Forbidden
	at com.microsoft.jenkins.kubernetes.wrapper.ResourceManager.handleApiExceptionExceptNotFound(ResourceManager.java:180)
	at com.microsoft.jenkins.kubernetes.wrap

[2021-10-07 00:57] #3498 closed

[2021-10-07 00:57] #3520 closed

[2021-10-07 00:57] #3583 closed

[2021-10-07 05:15] #3852 closed, assigned to pixiake

[2021-10-08 03:11] xyz-li commented on #4314
/close

[2021-10-08 03:11] #4314 closed, assigned to nobody

[2021-10-08 05:45] wenxin-01 opened #4326 "The prompt information of gateway setting is wrong"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/136504330-144c78b2-b0bb-4fca-a6e0-0445f045ec9f.png)

**Versions Used**
KubeSphere:   host :`v3.2.0-alpha.1`
                         member: `v3.1.1-dirty`

**Expected behavior**
The host cluster does not have an icon prompting upgrade

/kind bug
/priority medium
/milestone v3.2
/assign @harrisonliu5

[2021-10-08 06:14] liuyp2018 opened #4327 "traffic management page errors"
**Describe the Bug**
**steps:**
1. enter the cluster configuration page, creating Cluster Gateway and enable  application traffic management
2. Enter the project manage page and create an application
3. Enter application Details-->traffic management page
4. error displayed
![image](https://user-images.githubusercontent.com/36271543/136506026-4e8c5896-a723-4d6a-af93-6ea52101cece.png)

**Versions Us

[2021-10-08 06:41] calvinyv commented on #4237
/cc @kubesphere/sig-mircoservice

[2021-10-08 06:53] calvinyv commented on #4237
/assign @VioZhang

[2021-10-08 07:21] liuyp2018 opened #4328 "Incorrect default value for gateway annotations"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/36271543/136514736-d803bd69-e7bf-43e4-9eef-6995200a3f53.png)

**Versions Used**
KubeSphere: v3.2.0 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/kind bug
/priority high

[2021-10-08 07:40] jioce opened #4329 "An error occurs when creating a FederatedDeployment and mounting volume after adding a member cluster to multi-cluster"
**Describe the Bug**
1. Existing project test contains host cluster and mem cluster, and there is a volume "volume"
2. Add a member cluster member to the test project
3. Create a FederatedDeployment, choose to mount the volume “volume”，The pod of  member cluster cannot be scheduled

![image](https://user-images.githubusercontent.com/88183150/136514332-a9d1029a-b03a-4655-bfc4-5ab7327c9b06.png)

![i

[2021-10-08 08:06] wenxin-01 opened #4330 "After the gateway is set for the multi cluster project, the page is not displayed"
**Versions used(KubeSphere/Kubernetes)**
KubeSphere:  `ks-console-v3.2 alpha.1`

**To Reproduce**
Steps to reproduce the behavior:

https://user-images.githubusercontent.com/68640256/136520551-4c1bdd75-8d8f-47f0-9124-fc37340338b7.mov

![image](https://user-images.githubusercontent.com/68640256/136520654-03fd193f-a1ef-4469-b699-904ef6fd2071.png)

/kind bug
/assign @harrisonliu5
/priority High

[2021-10-08 08:24] liuyp2018 opened #4332 "Failed to access the application through application routes"
**Describe the Bug**
**steps:**
1.Create a cluster gateway in nodeport mode
2. Create an application in the project with application route
3. Access applications through application routes
4. Failed to access the application
![image](https://user-images.githubusercontent.com/36271543/136522998-47eda20e-f5c2-428f-93a3-d952754f764f.png)

**Versions Used**
Versions Used
KubeSphere: v3.2.0 alpha.1
Kub

[2021-10-08 08:55] liuyp2018 opened #4333 "The gateway cannot be queried in the gateway list"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/36271543/136527863-1299ef06-07bb-4a33-b5f3-0ac1d71525ea.png)

**Versions Used**
Versions Used
KubeSphere: v3.2.0 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @RolandMa1986
/kind bug
/priority Medium

[2021-10-08 09:33] jioce opened #4334 "Differential editing environment variable key value input error"
**Describe the Bug**
1.Differentiate editing environment variables,don't fill in the key，
2.click save,click to confirm, pod updated successfully
3. pod is deleted

![image](https://user-images.githubusercontent.com/88183150/136531243-1b715958-eedc-4bfd-9d19-4d4fd08cae04.png)

![image](https://user-images.githubusercontent.com/88183150/136533005-a3358179-823c-4a09-a985-9a5c5643ee24.png)

**Version

[2021-10-08 09:40] knowwinter opened #4335 "Failed to open the KubeSphere console Login page"
ks首页打开经常转圈圈，要刷新几次或者把login去掉再打开才能正常显示登录，有时登录进去后会跳转到一个dist目录下的js文件，而不是正常的页面，js有报错，如图
![image](https://user-images.githubusercontent.com/25719964/136534130-524bdb30-9b80-400a-8c83-f277ac467b73.png)
![image](https://user-images.githubusercontent.com/25719964/136534160-f0286372-4b8a-4969-8886-7a6232243834.png)
![image](https://user-images.githubusercontent.com/25719964/136534443-d233a0cc-be71-4ca1-8eaf

[2021-10-08 10:34] FeynmanZhou commented on #4324
English only, you can raise Chinese questions in [Chinese forum](https://kubesphere.com.cn/forum/).

How to reproduce this issue?

[2021-10-09 01:27] #3953 closed

[2021-10-09 01:27] #3955 closed

[2021-10-09 01:36] #4124 closed

[2021-10-09 02:44] wenxin-01 opened #4338 "Can not access CRD detail information"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/136640871-9d115a75-41f1-48d0-ad11-1b7bc5fce812.png)

**Versions Used**
KubeSphere:   host:  `v3.2.0-alpha.1`   k8s:  `1.22.1`
                         member:  `v3.2.0-alpha.1`   k8s:  `1.22.1`

**Expected behavior**
Starting from k8s1.21, the version of apiextension should be `v1` instead of `v1beta1`

/kind bug
/ass

[2021-10-09 07:19] Hyakusenrenma opened #4339 "ks-apiserver CrashLoopBackOff"
\# kubectl logs ks-apiserver-b69dc4bb-clsm7 -n kubesphere-system

F1009 14:44:43.409834       1 server.go:47] Failed to load configuration from diskerror parsing configuration file While parsing config: yaml: line 53: mapping values are not allowed in this context

https://kubesphere.com.cn/forum/d/5725-ks-apiserver

**Versions Used**
KubeSphere:3.1

**Environment**
How many nodes and their hardwa

[2021-10-09 07:20] pixiake opened #4340 "The version displayed on the console doesn't match the actual version"
**Describe the Bug**
The version displayed on the console doesn't match the actual version

**Versions Used**
KubeSphere: v3.2.0-alpha.1

![171d7804f63da10e4c209e070193c42](https://user-images.githubusercontent.com/22290449/136648460-4a6fafea-2f7b-4dbc-9589-9f627eeb04b2.png)

[2021-10-09 08:09] knowwinter opened #4341 "3.1.0版本Devops审核功能无效"
配置了流水线审核功能，让A来审核，B执行了流水线，停留在了审核节点，但是发现只要有这个流水线操作执行权限的帐号都可以执行审核，并没有预期的配置了谁来审核只有那人才能审核的效果，请问是否是bug？还是需要某些特殊权限的配置？

[2021-10-09 09:46] liuyp2018 opened #4343 "404 error occurs on the details page of app routing in the multi-cluster project"
**Describe the Bug**
404 error occurs on the details page of app routing in the multi-cluster project
![image](https://user-images.githubusercontent.com/36271543/136653130-531b098a-f40a-4fe6-8622-92221ac32c50.png)

**Versions Used**
KubeSphere: v3.2 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @harrisonliu5
/area console
/kind bug
/priority high

[2021-10-09 10:35] LinuxSuRen commented on #4339
/kind support

[2021-10-09 10:40] #4341 closed

[2021-10-10 14:09] #2791 closed

[2021-10-10 15:05] yuswift commented on #4339
please check if there are tabs in your config file.

[2021-10-11 01:44] #4256 closed

[2021-10-11 02:00] wenxin-01 opened #4344 "Failed to enable workspace network isolation after upgrade ks 3.1.1 to ks 3.2-alpha.1"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/68640256/136722634-c8b26014-ebb2-479b-abe9-f464f4cb4d17.png)

**Versions Used**
KubeSphere:    ks3.1.1 -->ks3.2-alpha.1

**Precondition**
ks version is `v3.1.1`

**How To Reproduce**
Steps to reproduce the behavior:
1. set
              networkpolicy:
                   enabled: true
2. upgrade ks to `3.2-alpha.1`
3. enable wo

[2021-10-11 02:08] zryfish commented on #4344
Is there an existing issue related to this problem? Please take a look @wansir

[2021-10-11 02:16] Hyakusenrenma commented on #4339
It was the  configmap kubesphere-config  fault。

[2021-10-11 02:16] #4339 closed

[2021-10-11 02:30] wenxin-01 commented on #4344
https://github.com/kubesphere/kubesphere/issues/4147

[2021-10-11 02:55] zryfish commented on #4327
duplicate #4274
/close

[2021-10-11 02:55] #4327 closed, assigned to RolandMa1986

[2021-10-11 02:57] zryfish commented on #4343
@iawia002  Please take a look

[2021-10-11 02:58] zryfish commented on #4330
/kind need-to-verify

[2021-10-11 02:59] zryfish commented on #4328
/kind need-to-verify

[2021-10-11 03:00] RolandMa1986 commented on #4332
duplicate  https://github.com/kubesphere/console/issues/2391
/close

[2021-10-11 03:01] RolandMa1986 commented on #4274
/kind need-to-verify

[2021-10-11 03:02] benjaminhuo commented on #4316
@harrisonliu5 would you take a look at this issue from front end and you can reach to @wenchajun  @wanjunlei if you need help from backend

[2021-10-11 04:09] liuyp2018 commented on #4278
![image](https://user-images.githubusercontent.com/36271543/136731968-c44193b8-a4fb-4e58-9b55-608f3988375b.png)

[2021-10-11 05:27] #4333 closed, assigned to RolandMa1986

[2021-10-11 05:41] jioce opened #4345 "Delete container health check error"
**Describe the Bug**
1. click edit,delete Liveness Check,click save,click to confirm
2. The cluster pod is not updated,view pod details,Liveness Check still exist
3. Edit the container again, modify the image，click save,click to confirm
4. The cluster pod is not updated,view pod details,image unchanged

https://user-images.githubusercontent.com/88183150/136738702-60093a11-41a3-4450-8bb3-74b6b846be

[2021-10-11 08:16] liuyp2018 opened #4347 "error when the dingding configuration is saved"
**Describe the Bug**
Setting the session setting of the dingding for the first time, this error is reported after saving
![1633939920](https://user-images.githubusercontent.com/36271543/136755536-4e2e20d9-9d35-4a96-9003-142cb992bd23.jpg)

saving the config again, the following error message is displayed
![image](https://user-images.githubusercontent.com/36271543/136755670-1638a187-ac73-47ca-a54d-b

[2021-10-11 08:41] liuyp2018 opened #4348 "The function of creating a monitoring template in custom mode is faulty"
**Describe the Bug**
The function of creating a monitoring template in custom mode is faulty
What pops up is the Grafana creation UI

https://user-images.githubusercontent.com/36271543/136759910-be4623c5-ba0d-44f6-b17f-0457ff832f04.mp4

**Versions Used**
KubeSphere: v3.2.0 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @harrisonliu5
/priority High
/Milesto

[2021-10-11 09:13] liuyp2018 opened #4349 "Custom monitoring template created for the Member cluster is not displayed in the member cluster"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/36271543/136764544-257d75a6-9407-419f-b3cf-93b0bb919061.png)

**Versions Used**
KubeSphere: v3.2.0 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @zhu733756
/priority high
/Milestone v3.2

[2021-10-11 09:38] jioce opened #4350 "Edit the container synchronization host timezone, pod update failed"
**Describe the Bug**
1. Edit container ，choose synchronization host timezone，click save,click to confirm
2. Pod failed to start

https://user-images.githubusercontent.com/88183150/136767774-87b90351-6091-4ea8-afdc-c9f86304262e.mp4

**Versions Used**
KubeSphere: v3.2.0-alpha.1
Ks-Console: nightly-20211010

/kind bug
/@kubesphere/sig-kubesphere
/priority high

[2021-10-11 10:06] jioce opened #4352 "After differentiated editing, the editing pod template does not take effect"
**Describe the Bug**
1. Differentiately edit container images,click save,click to confirm, pod updated successfully，image changed
2. Edit the container, modify the container image，pod not changing

https://user-images.githubusercontent.com/88183150/136772298-a45d6c81-6a55-4855-8879-683b975cc1b8.mp4

**Versions Used**
KubeSphere: v3.2.0-alpha.1

/kind bug
/@kubesphere/sig-kubesphere
/priority high

[2021-10-12 01:26] king-jingxiang commented on #4288
不是网络问题，是你代码里把namespace写死了，用calico operator部署不在kube-system下，所以期望把这个CalicoNodeNamespace放到配置文件里。

[2021-10-12 03:54] iawia002 commented on #4343
A strange problem, kubefed-controller-manager gets stuck at the following step when synchronizing FederatedIngress, and there is no follow-up:

[code]

I've looked at the code and if the code continues to execute, there should be more logs whether it succeeds or not, not sure why it keeps getting stuck here.

[2021-10-12 04:07] iawia002 commented on #4343
My bad, I ignored the log level setting, there are more logs.

[2021-10-12 06:24] iawia002 commented on #4296
Nope, #4254 doesn't fix it, I know the scheme is registered, I am also very curious about this issue, it is not 100% reproducible.

[2021-10-12 06:37] iawia002 commented on #4343
Now I've made sure that the corresponding Ingress resources exist on the cluster, but the front end still shows 404 errors,
@harrisonliu5 can you take a look?

[2021-10-12 07:26] liuyp2018 opened #4354 "After notification filtering is set, the test email cannot be received"
**Describe the Bug**
**steps:**
1. Set up the correct mail configuration
2. Set notification filtering
3. Perform configuration verification
4. The verification is successful and a test message is sent, but no test email is received
![image](https://user-images.githubusercontent.com/36271543/136910731-a24c755c-65ba-4d22-a591-82ed6a627de6.png)

**Versions Used**
KubeSphere: ks3.2 alpha.1
Kubernetes

[2021-10-12 07:44] liuyp2018 opened #4355 "The secret setting is incorrect, but the verification succeeds"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/36271543/136913387-05eb1b77-64af-43d5-924a-c3f088dcaf75.png)

**Versions Used**
KubeSphere: ks3.2 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @wanjunlei
/priority Medium

[2021-10-12 07:54] harrisonliu5 commented on #4278
/kind need-to-verify

[2021-10-13 02:04] zryfish commented on #4275
/area console

[2021-10-13 02:04] wenxin-01 commented on #4330
issue fix in `nightly-20211011`

![image](https://user-images.githubusercontent.com/68640256/137054278-7a26c255-3b0a-4fcd-af60-b9cff464fb3b.png)

[2021-10-13 03:07] wanjunlei commented on #4354
/assign @xuliwenwenwen
The receiver should not include the notification filter when verifying.

[2021-10-13 03:35] harrisonliu5 commented on #4347
/kind need-to-verify

[2021-10-13 03:57] xushuxun opened #4357 "ks-apiserver may crash because of concurrent map read and map write"
**Describe the Bug**
ks-apiserver may crash

Here is the panic goroutine stack:
[code]

**Versions Used**
KubeSphere: v3.1.1

**Environment**

Linux debian 5.10.0-8-amd64, single node, 4cpu/8g

**How To Reproduce**
Sorry, I can't reproduce. This happened when os at high load, and some pods are going to be evicted.

[2021-10-13 06:56] wenxinll opened #4358 "Can not set gateway in Routes page"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/68640256/137081808-e737b172-8424-492e-a888-5d92ad46157b.png)

![image](https://user-images.githubusercontent.com/68640256/137082156-c49f9100-dfb8-430b-b527-53879856b54f.png)

**Versions Used**
KubeSphere:  `ks3.2 nightly20211011`

**Preconditions**
Cluster did not open gateway

**How To Reproduce**
Steps to reproduce the beha

[2021-10-13 07:13] wenxinll opened #4359 "Gateway status error"
**Versions Used**
KubeSphere:  `ks3.2 nightly-20211011`

**How To Reproduce**
Steps to reproduce the behavior:
1. `Set up a gateway for the cluster`
2. Go to any project details page in the cluster
3. Click on ' Application Workloads'
4. Click on 'Routes'

**Expected behavior**
Do not show 'Gateway Not Set'
![image](https://user-images.githubusercontent.com/68640256/137084595-96edd6b2-51d6-4ee0-99

[2021-10-13 08:51] liuyp2018 opened #4360 "The notification that did not meet the filtering conditions was received."
**Describe the Bug**
**steps:**
1. Set filter criteria for Enterprise WeChat notifications config
2. Workload was created under project  and workload scheduling failed.
3. Wait a few minutes and check the Enterprise WeChat messages
**Expected Results:**
cannot receive the abnormal alarm notification in Step 2
**Actual results:**
The alarm notification in Step 2 is received

<img width="533" alt="2

[2021-10-13 08:51] harrisonliu5 commented on #4343
/kind need-to-verify

[2021-10-13 09:38] harrisonliu5 commented on #4309
/assign @xuliwenwenwen

[2021-10-13 09:41] harrisonliu5 commented on #4295
/cc @kubesphere/sig-console

[2021-10-13 09:41] harrisonliu5 commented on #4293
/kind need-to-verify

[2021-10-13 09:49] harrisonliu5 commented on #4340
the version is set by https://github.com/kubesphere/console/issues/2007

[2021-10-13 10:07] hurricane1988 opened #4362 "The console is pending while switch the different cluster"
**Describe the Bug**
A clear and concise description of what the bug is.
【version information】
Kubesphere version: 3.1.1
Kubernetes version: 1.20.4
Docker version: 19.3
【issue detail】
I login into the host console UI, and sometime the member cluster is pending while switch the cluster member.
But will be fine after refresh the brower several times.
The member cluster always fine when single login.

[2021-10-13 14:37] dkeven commented on #4362
/cc @kubesphere/sig-multicluster

[2021-10-14 01:49] liuyp2018 commented on #4360
The notification that did not meet the filtering conditions was received
![image](https://user-images.githubusercontent.com/36271543/137236843-f643f3d9-2791-4be6-bd38-fc2695d70a3d.png)
![image](https://user-images.githubusercontent.com/36271543/137236887-2bb413ec-d4a5-4242-b2df-c09b671d578e.png)

[2021-10-14 02:37] liuyp2018 commented on #4360
Ignore this problem

[2021-10-14 02:49] liuyp2018 opened #4363 "The alarm was not resolved, but resolved email was received"
**Describe the Bug**
**steps:**
1. Create an alarm policy whose alarm duration is 1 minute
2. Enable the alarm policy to be triggered
3. Modify the level of the alarm policy in step 1
4. Enable the new alarm policy to be triggered
5. After a while, an email indicating that the alarm is resolved is received
but in fact, the alarm is not resolved. The alarm resolved email is for the alarm policy bef

[2021-10-14 03:02] dkeven commented on #4357
IMO, this might be an issue related with the `sharedInformer` used by all the `ResourceGetter`s.

The K8s `runtime.Object`s retrieved from `informer...List/Get()` are stored in a cache managed by the informer, which updates the objects continuously to mirror the changes made by the `kube-apiserver`.

When `handler` writes the objects to the response, the objects will be `marshal`ed to json, which

[2021-10-14 06:20] liuyp2018 commented on #4332
In nightly-20211013 env, the problem still exists, please take a look

![image](https://user-images.githubusercontent.com/36271543/137262692-5bd0f071-0fb7-400b-a9c3-10bf830c8307.png)
![image](https://user-images.githubusercontent.com/36271543/137262651-91f989dc-4c0b-4ff9-96a9-575c2fc0070e.png)

[2021-10-14 07:32] RolandMa1986 commented on #4332
@liuyp2018 you may need to upgrade your ks-apiserver.

[2021-10-14 08:08] jioce commented on #4298
/version nightly-20211013

[2021-10-14 08:10] wansir opened #4364 "Related federated namespace cannot be deleted after workspace has been deleted"
**Describe the Bug**

Create a workspace without grant the host cluster, related federated namespace cannot be deleted after workspace has been deleted.

Host namaspace cannot bind the workspace's lifecycle if host cluster is not grant to the workspace.

OwnerReferences is missing:

![image](https://user-images.githubusercontent.com/8263040/137277225-f4409591-370d-4ce9-9e46-a893bb87669c.png)

**Ve

[2021-10-14 09:14] FeynmanZhou commented on #4262
It might be a front-end bug in KubeSphere Console.

Hi Team @kubesphere/sig-console @kubesphere/sig-apps , could you please help to verify if this issue has been fixed in v3.2.0?

[2021-10-15 01:40] JohnNiang commented on #4364
Hi @wansir , will this issue be resolved in `v3.2.0`? If that's true, please add this issue into milestone `v3.2`.
/area controller-manager

[2021-10-15 06:18] #4111 closed

[2021-10-15 06:19] #4217 closed

[2021-10-15 08:39] FeynmanZhou opened #4367 "Refactor the Chinese version of README"
As the Chinese version of [README](https://github.com/kubesphere/kubesphere/blob/master/README_zh.md) is not consistent with the English version, it has some outdated information. We need to refactor it according to the English version.

[2021-10-15 08:39] FeynmanZhou commented on #4367
/kind documentation

[2021-10-15 10:17] liuyp2018 opened #4368 "After the application is created, the state is always creating"
**Describe the Bug**
After the application is created, the state is always creating
![image](https://user-images.githubusercontent.com/36271543/137471923-81d6a1b4-3882-4191-b2f9-c73bc1d775a8.png)

**Versions Used**
KubeSphere: v3.2.0 alpha.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/assign @xyz-li
/priority Medium
/Milestone v3.2

[2021-10-15 21:58] 1Const1 commented on #1668
![изображение](https://user-images.githubusercontent.com/40315470/137557872-c00d09e0-c4fa-4328-ae47-c0f8a7a75fad.png)
try this like on picture - received error

does password was changed?

[2021-10-16 01:57] 123liubao commented on #4367
/assign

[2021-10-16 03:14] #3760 closed

[2021-10-17 08:34] liuyp2018 opened #4369 "In multi-cluster environment, the external access page of application cannot be viewed"
**Describe the Bug**
In multi-cluster environment, the external access page of an application cannot be viewed
![image](https://user-images.githubusercontent.com/36271543/137618438-dcbe7148-0f3f-4b85-b55e-0bd0575ac46c.png)

**steps**
1. Create a cluster gateway under the host cluster
2. Enter the multi-cluster project and create multi-cluster applications and application routes
3. enter external a

[2021-10-18 01:16] zryfish commented on #4364
/reopen
/kind need-to-verify

[2021-10-18 01:22] zryfish commented on #4352
It works as expected. Since the first step you did is to override the image of the control-plane cluster, the override will be kept even you choose another image for all clusters.  So the images of clusters will be like
1. Before differentiated editing, control-plane: nginx member: nginx
2. After, control-plane: crouchdb member: nginx
3. Choose redis, control-plane: crouchdb member: nginx

So, it'

[2021-10-18 01:22] zryfish commented on #4350
/area console
/assign @kubesphere/sig-console

[2021-10-18 01:35] zryfish commented on #4275
/kind need-to-verify

[2021-10-18 03:30] #4344 closed

[2021-10-18 03:39] mangoGoForward commented on #3544
I found that ks-apiserver only forward request to k8s to stop workload, so I only commit a PR in console. @wansir

[2021-10-18 07:37] xyz-li commented on #4368
/cc @zheng1

[2021-10-18 08:30] #4142 closed

[2021-10-18 09:21] wenxin-01 commented on #4359
issue fixed in `nightly-20211013`

[2021-10-18 09:21] #4359 closed, assigned to nobody

[2021-10-18 09:23] #4358 closed, assigned to zryfish, harrisonliu5

[2021-10-18 12:21] zryfish commented on #4369
/kind need-to-verify

[2021-10-19 03:16] wenxin-01 commented on #4338
issue fixed in `nightly-20211018`

[2021-10-19 03:16] #4338 closed

[2021-10-19 05:37] javaXiaoHan opened #4371 "How to deploy RabbitMQ Cluster on KubeSphere"
目前是根据文档搭建了一个单机版的mq，想看下怎么搭建MQ集群

[2021-10-19 06:06] javaXiaoHan opened #4372 "queues disaper in rabbit mq management"
<img width="960" alt="11" src="https://user-images.githubusercontent.com/32090060/137853035-5cd7d213-1aa0-4f72-af92-310b1cd5e735.png">
<img width="875" alt="22" src="https://user-images.githubusercontent.com/32090060/137853046-9cc12168-26e4-4cdd-b3c4-22c809bcb977.png">
<img width="666" alt="33" src="https://user-images.githubusercontent.com/32090060/137853643-9a8086cd-3a3e-403e-8fc1-4cae6fcde9e0.p

[2021-10-19 06:07] javaXiaoHan commented on #4372
sometimes it shows queues ,sometimes there is no queue

[2021-10-19 06:10] javaXiaoHan commented on #4371
forget to describe in english,sorry.
there is  any dokument about How to deploy RabbitMQ Cluster on KubeSphere?

[2021-10-19 07:02] jioce commented on #4294
/version nightly-20211018

[2021-10-19 07:03] #4294 closed

[2021-10-19 07:08] #4352 closed, assigned to nobody

[2021-10-19 08:56] jioce opened #4373 "Editing the update strategy of the FederatedStatefulSet does not take effect"
**Describe the Bug**
1.Change the update policy to OnDelete
2.Edit the yaml， change the container port，Cluster pod is not updated
3.Change the update strategy again to RollUpdate，pod update

https://user-images.githubusercontent.com/88183150/137876717-0e5db278-c22d-4c8a-9c83-a7fbb6f4b234.mp4

**Versions Used**
KubeSphere: v3.2.0-rc.1

/kind bug
/@kubesphere/sig-kubesphere
/priority medium

[2021-10-20 04:18] iawia002 commented on #4362
When this happens, can you check the network panel of the browser and see if there are any errors?

[2021-10-20 06:26] mingqibee commented on #3017
@yudar1024 hello  ，I have the same problem，Have you solved it？

[2021-10-20 06:31] #3448 closed

[2021-10-20 06:35] mingqibee opened #4375 "Installed inside k8S and an error: Error from server (Forbidden)"
Hi my k8s version is v1.18.10， But I got an installation error，Please take a look

Here is the log
[code]

[2021-10-20 07:01] FeynmanZhou commented on #3017
Which version of KubeSphere are you using?

[2021-10-20 07:27] liuyp2018 opened #4376 "the email recipient is incorrect, the verification succeeds"
**Describe the Bug**
the email recipient is incorrect, the verification succeeds
![image](https://user-images.githubusercontent.com/36271543/138047370-b8bc0708-c0e8-47ee-92d9-828842ea5d3f.png)

**Versions Used**
KubeSphere: v3.2.0-rc.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @wanjunlei
/area console
/kind bug
/priority Medium

[2021-10-20 09:12] xiongyunhua-star opened #4378 "build app-images error"
kubesphere  job‘s log:
[code]
==============This is my core files and test processes===========================

my Dockerfile:
--------------------------------
# nginx-centos7
FROM centos:centos7

# Here you can specify the maintainer for the image that you're building
LABEL maintainer="xyh <xyh18982631642@163.com>"

# Define the current version of the application
ENV TOMCAT_VERSION=8.5

# Set th

[2021-10-20 09:40] xiao1wen2 opened #4379 "Creating a user abnormal"
Creating a user does not work
I create a new user, then delete the user, then re-create it with an error (this happens occasionally, sometimes good and sometimes bad): ldap result code 32 "no such object": user ceshi does not exist

The current version is v2.1.1 and the system is arm64

[2021-10-20 13:41] liuyp2018 opened #4380 "When some recipients of enterprise wechat are incorrect, no error message is given"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/36271543/138104056-6211cdf2-5398-41bb-bee6-0cc51b4bc308.png)

**Versions Used**
KubeSphere: v3.2.0-rc.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @wanjunlei
/area console
/kind bug
/priority Low

[2021-10-20 13:42] #4376 closed, assigned to wanjunlei

[2021-10-21 02:45] jioce commented on #4311
**Describe the Bug**
Edit volume type error，this problem exists in both federatedstatefulset and federateddeployment

https://user-images.githubusercontent.com/88183150/138201503-21d62dc3-cfc6-41ec-af52-792f74ec483a.mp4

https://user-images.githubusercontent.com/88183150/138201517-507163e5-7d52-4242-8fca-f8ed33d44b8c.mp4

version used
kubesphere: v3.2.0-rc.1

[2021-10-21 03:02] liuyp2018 opened #4381 "problem when adding or deleting gateway copies"
**Describe the Bug**
After adding the number of copies, no new container group is displayed on the page

![image](https://user-images.githubusercontent.com/36271543/138204001-fee290ce-ab0b-45e7-8948-4a9a464969f1.png)

error occurred while reducing the number of copies
![image](https://user-images.githubusercontent.com/36271543/138204057-e645ed40-b22d-430e-a68d-ef7e8fab857f.png)

**Versions Used**

[2021-10-21 05:57] junotx commented on #1077
verfied in `v3.2.0-rc.1`

[2021-10-21 06:52] jioce opened #4383 "Error creating a FederatedDeployment with the same name after deleting"
**Describe the Bug**
1.There is a federated deployment w1, using the specified weight to deploy, the total number of copies is 4, and the weight ratio is 2:1
2. Delete the deployment, create a new deployment with the same name, select the specified number of copies，w1 is created according to the original weight and replicas

https://user-images.githubusercontent.com/88183150/138224749-4963727a-914

[2021-10-21 07:51] jioce opened #4384 "Adding member clusters to the project, FederatedDeployment error"
**Describe the Bug**
1.There is a multi-cluster project, there is a FederatedDeployment “tt” created by specifying weights
2. Add a member cluster to the project，The deployment “tt” is automatically added to the newly added member cluster, the weight is 0,
3. click “tt” to view the details, the page reports an error

https://user-images.githubusercontent.com/88183150/138233460-a12aa970-78f4-409a-9

[2021-10-21 07:59] FeynmanZhou commented on #4375
It looks like an RBAC issue in your K8s cluster. @kubesphere/sig-installation Could you help to take a look at this issue?

[2021-10-21 15:47] #4375 closed, assigned to nobody

[2021-10-22 01:39] RolandMa1986 opened #4386 "Department shows 500 error when DevOps component not enabled"
**Describe the Bug**
The department set page shows a 500 error when the devops component is not enabled.

**Versions Used**
KubeSphere:  kubesphere v3.2.0-rc.1
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
**How To Reproduce**
Steps to reproduce the behavior:
1. Create a new KS cluster without DevOps enabled.
2. Create a new Department under Workspace.
3. Grant a p

[2021-10-22 01:41] #4348 closed, assigned to harrisonliu5

[2021-10-22 01:46] liuyp2018 commented on #4268
fixed in v3.2.0-rc.1

[2021-10-22 01:46] #4268 closed

[2021-10-22 01:52] wanjunlei opened #4388 "The secret data display format is incorrect on the Edit Settings page"
**Describe the Bug**
A clear and concise description of what the bug is.

 The secret data display format is incorrect on the Edit Settings page

For UI issues please also add a screenshot that shows the issue.

<img width="721" alt="89a22d1da5ff3ac78414ee6b5f99b3b" src="https://user-images.githubusercontent.com/53003665/138380267-c79c4a12-c072-49d3-b2a8-2f7d7bf2d8cb.png">

**Versions Used**
KubeS

[2021-10-22 01:56] liuyp2018 commented on #4292
fixed in v3.2.0-rc.1

[2021-10-22 01:56] #4292 closed

[2021-10-22 01:59] #4293 closed

[2021-10-22 01:59] liuyp2018 commented on #4316
fixed in v3.2.0-rc.1

[2021-10-22 01:59] #4316 closed

[2021-10-22 02:00] liuyp2018 commented on #4328
fixed

[2021-10-22 02:00] #4328 closed

[2021-10-22 02:14] mingqibee commented on #4375
@pixiake Hi, I finished the execution as you said and reported the following error

[code]

[2021-10-22 02:24] wenxin-01 opened #4389 "After edit settings, the number of federated-deployments(federated-statefulsets) replicas will become 1"
**Versions Used**
KubeSphere:  `v3.2.0-rc.1`

**How To Reproduce**
Steps to reproduce the behavior:

https://user-images.githubusercontent.com/68640256/138382573-d89bbebd-4905-460e-885b-08b5cb091292.mov

![image](https://user-images.githubusercontent.com/68640256/138382909-8d3727dc-dcea-4ff2-9f70-75a3aba435ac.png)

**Expected behavior**
Edit Settings does not affect the number of replicas

/kind b

[2021-10-22 03:11] liuyp2018 commented on #4269
No keyword is set in the dingding robot, when no keyword is set in the configuration of the sdingding robot in the KS Console, and the verification fails
Or there is no key set in the dingding robot. If no key is set in the configuration of the dingding robot on ks Console, the verification fails
/remove-kind need-to-verify

[2021-10-22 03:28] liuyp2018 commented on #4347
fixed

[2021-10-22 04:20] #4367 closed

[2021-10-22 04:57] pixiake commented on #4375
@mingqibee Hi, You can try the following command to restart ks-installer.
[code]
This is due to there is other users object in API group `management.loft.sh` conflicts with the  users object in API group `iam.kubesphere.io`.

[2021-10-22 05:52] #4369 closed, assigned to harrisonliu5

[2021-10-22 07:15] liuyp2018 opened #4390 "associated resources are not deleted after an application in multi-cluster project is deleted"
**Describe the Bug**
After an application in multi-cluster project is deleted, associated resources such as workloads, services, and application routes are not deleted synchronously
![image](https://user-images.githubusercontent.com/36271543/138410059-69c0c533-db52-46b7-aa7e-d13a57d34d41.png)

**Versions Used**
KubeSphere: v3.2.0-rc.1
Kubernetes: (If KubeSphere installer used, you can skip this)

[2021-10-22 07:41] wenxinll opened #4391 "Edit 'Cluster Difference' error"
**Versions Used**
KubeSphere:  `v3.2.0-rc.1`

**Preconditions**
There is a deployment 'dev9' in federated-project  'mpro1'

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to deployment 'dev9'
2. Click on 'More' and Click on 'Edit Settings'
3. Click on 'Cluster Difference'
4. Select one cluster
5. Modify any content
6. Click on save

https://user-images.githubusercontent.com/68640256/1

[2021-10-22 09:31] #4391 closed, assigned to nobody

[2021-10-25 06:21] liuyp2018 opened #4393 "Logging setting problems after installing the Containerd environment"
**Describe the Bug**
After the installation using the './kk  create cluster --container-manager containerd ' command, the Container Runtime value of logging is docker
![image](https://user-images.githubusercontent.com/36271543/138644223-048bea70-af86-4258-b4bb-7ddbcb1f2714.png)

**Versions Used**
KubeSphere: v3.2.0-rc.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @wencha

[2021-10-25 07:25] #4354 closed, assigned to wanjunlei, xuliwenwenwen

[2021-10-25 07:33] #4360 closed, assigned to wanjunlei

[2021-10-26 07:12] LQBing opened #4395 "spec.es.type not working in Output.logging.kubesphere.io/v1alpha2"
**Describe the Bug**

I just wanna output log into my external ES with `_type` as `doc` not the default value `_doc`.

Refer to the [ es output plugin document ](https://github.com/fluent/fluentbit-operator/blob/master/docs/plugins/output/elasticsearch.md), I create an `Output.logging.kubesphere.io/v1alpha2` custom resource with `spec.es.type` value as "doc".

But, after the `Output.logging.kubesp

[2021-10-26 10:44] wenxin-01 opened #4396 "The route created while creating the application in a multi-cluster environmen failed"
**Versions Used**
KubeSphere:   `v3.2.0-rc.1`

**How To Reproduce**
Steps to reproduce the behavior:
1.  Create app 'test-nginx'
2. Create Stateless Service  use image 'nginx'
3.  Add route role
4. Clcik on 'Create'

![image](https://user-images.githubusercontent.com/68640256/138862311-944b6b06-d563-460f-bd75-6ce4f12a75aa.png)
![image](https://user-images.githubusercontent.com/68640256/138862355-e

[2021-10-28 02:41] liuyp2018 opened #4397 "After the project is deleted, the gateway under the project is not deleted"
**Describe the Bug**
After the project is deleted, the gateway under the project is not deleted

**Versions Used**
KubeSphere: v3.2.0-rc.1
Kubernetes: (If KubeSphere installer used, you can skip this)

/assign @RolandMa1986
/kind bug
/priority Medium

[2021-10-28 02:52] liuyp2018 opened #4398 "In the 100-thread stress test, the response time of audit query operations is slow"
**Describe the Bug**
Test environment:
cluster: 3master3worker 8C16G
Built-in ES, resource Settings:
resources:
            limits:
              cpu: '4'
              memory: 2Gi
            requests:
              cpu: 25m
              memory: 1536Mi

Apiserver resource Settings:
resources:
            limits:
              cpu: '1'
              memory: 1Gi
            requests:

[2021-10-29 03:22] jioce opened #4400 "Enterprise setting permission The user failed to edit the workspace quota"
**Describe the Bug**
1.Account CC1 exists, and its platform role is a user-defined role workspace view, and its role in workspace Test is a user-defined role workspace setting
2.Failed to set the workspace quota after logging in to account cc1. Procedure

![image](https://user-images.githubusercontent.com/88183150/139366639-dde581ae-fa77-4bf0-8ffa-1f32c3cbf775.png)

![image](https://user-images.gi

[2021-10-31 01:28] #3618 closed

[2021-10-31 03:46] wenchajun commented on #4395
Did you remove the built-in ES？For details, please refer to https://kubesphere.io/docs/faq/observability/logging/

[2021-10-31 06:50] dkeven commented on #4395
It's a simple mistake in the fluentbit-operator, I've created a PR https://github.com/fluent/fluentbit-operator/pull/160 to fix this

[2021-10-31 10:30] dkeven commented on #4372
How did you deploy the rabbitmq cluster? Do the 2 mq instances belong to the same cluster?

Please paste the neccesary yaml/conf contents. I don't think this is a KubeSphere issue, though.

[2021-11-01 02:40] john1337 opened #4403 "the cluster failed to start after restart the computer"
<!--
You don't need to remove this comment section, it's invisible on the issues page.

## General remarks

the kubesphere cluster failed to start after machine reboot,i think it's very common to restart the computer,so in my opinion it's critical to resolve,thanks

**Describe the Bug**
the kubesphere cluster failed to start after machine reboot,there'are only about 9 containers starting in work n

[2021-11-01 02:42] iawia002 commented on #4403
Can you describe it more clearly and provide some screenshots and logs of the errors?

[2021-11-01 02:46] iawia002 commented on #4396
Same reason as https://github.com/kubesphere/kubesphere/issues/4343#issuecomment-940706667

[code]

the structure of annotations should be map, not list.

/cc @kubesphere/sig-console

[2021-11-01 02:51] john1337 commented on #4403
i run systemctl restart docker ,reboot in ubuntu20.04 ,the kubesphere failed to start,there are only 9 containers started in the work nodes,but there should be about 40+ containers in the work node

![image](https://user-images.githubusercontent.com/11956341/139615025-7a1ff868-aba4-4589-9f01-ccd277aba95a.png)

[2021-11-01 02:56] iawia002 commented on #4403
Can you use `kubectl get pod -n kubesphere-system` to see if the system components start properly?

[2021-11-01 03:21] john1337 commented on #4403
here is the snapshot pic :

![image](https://user-images.githubusercontent.com/11956341/139617308-225aaf1c-c021-47c0-862a-60b4005f0da9.png)

[2021-11-01 05:53] iawia002 commented on #4403
You need to check the pods in the `kubesphere-system` namespace too and figure out why some pods are in the `Error` status.

[2021-11-01 06:18] calvinyv opened #4404 "Line Wrapping on KubeSphere console when specifying workload for a service"
**Describe the Bug**
Line Wrapping on KubeSphere console when specifying workload for a service

For UI issues please also add a screenshot that shows the issue.
<img width="466" alt="Xnip2021-10-27_08-48-18" src="https://user-images.githubusercontent.com/28883416/139629800-8b690896-77ff-406d-b628-f2bd9aa7ddee.png">
**Versions Used**
KubeSphere: 3.1.1
Kubernetes: (If KubeSphere installer used, you

[2021-11-01 06:20] calvinyv commented on #4404
/cc @kubesphere/sig-console

[2021-11-01 06:22] calvinyv commented on #4404
/kind bug
/area console

[2021-11-01 06:31] john1337 commented on #4403
here's the results

run kubectl get pod -n kubesphere-system
![image](https://user-images.githubusercontent.com/11956341/139630870-48c696cf-fc0b-4f77-9df5-432b8bb2dd98.png)

run kubectl get nodes
![image](https://user-images.githubusercontent.com/11956341/139630895-b15b83c3-a202-4d55-9a25-3b5dc7e03971.png)

[2021-11-01 06:48] john1337 commented on #4403
by the way,when i run kubectl get po -n kube-system on work nodes,it returns

The connection to the server lb.kubesphere.local:6443 was refused - did you specify the right host or port?

[2021-11-01 06:56] iawia002 commented on #4403
You need to solve the problem that the nodes are not ready. When their status becomes Ready, the cluster should be fine.

This is normal, just execute this command on the master node.

[2021-11-01 09:01] RolandMa1986 opened #4405 "Sonarqube scan results"
**Describe the Bug**
The Sonarqube shows that there are duplicated / unnesseccery conditional structures or code blocks.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help us debugging)

**

[2021-11-01 11:36] john1337 opened #4407 "3 master nodes,3 work nodes failed to create cluster"
**General remarks**

3 master nodes,3 work nodes failed to create cluster

**What's your question**

**Environment: OS & Hardware Information**

ubuntu20.04

**Error logs or message (Attach logs or screenshot)**
[reset] Reading configuration from the cluster...
[reset] FYI: You can look at this config file with 'kubectl -n kube-system get cm kubeadm-config -o yaml'
W1101 19:31:49.887444   36977 re

[2021-11-01 11:37] john1337 commented on #4407
when i run kubectl -n kube-system get cm kubeadm-config -o yaml ,the results are as follows
W1101 19:36:38.995287 1320425 loader.go:223] Config not found: /etc/kubernetes/admin.conf
The connection to the server localhost:8080 was refused - did you specify the right host or port?

and /etc/kubernetes/admin.conf doesn't exist,is this file created by kubesphere automatically?

[2021-11-01 11:49] knowwinter opened #4408 "ks-jenkins经常不明原因重启"
ks-jenkins经常莫名其妙重启，健康检查失败导致，但为何检测失败不知道，是否是有什么兼容性问题，ks版本：3.1.0，ks-jenkins镜像：kubespheredev/ks-jenkins:3.2.0-rc0-2.249.1，ks-j enkins日志如附件
[ks-jenkins.log](https://github.com/kubesphere/kubesphere/files/7452909/ks-jenkins.log)

[2021-11-01 14:07] LinuxSuRen commented on #4303
IMO, this bug is not related to DevOps.

/remove-area devops
/kind bug

[2021-11-02 01:44] 2hangchen opened #4409 "After v3.1.1 is deployed, perform operations described in the official document. Functions related to multiple clusters are unavailable"
**Describe the Bug**
A clear and concise description of what the bug is.
After v3.1.1 is deployed, perform operations described in the official document. Functions related to multiple clusters are unavailable
For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/31329928/139773224-bdaae06b-62e1-430a-a6cd-d7dfc93f3b7a.png)
![image](https

[2021-11-02 02:31] wujie1993 opened #4410 "load the entire configmap as environment variables"
**What's it about?**

Able to load the entire configmap as environment variables, without specifying a key.

**What's the reason why we need it?**

In applications deployed in microservices, there are scenarios where multiple services share the same environment variables, and it is more convenient to load environment variables through configmap. If there are many environment variables, it is not c

[2021-11-02 02:43] iawia002 commented on #4409
Are you saying that the multi-cluster feature is not available? Check the documentation to see if you have enabled this feature.

https://v3-1.docs.kubesphere.io/docs/multicluster-management/

[2021-11-02 05:46] 2hangchen commented on #4409
There is no cluster import function

[2021-11-02 05:49] zryfish commented on #4409
Please go and read our docs first, https://v3-1.docs.kubesphere.io/docs/multicluster-management/enable-multicluster/direct-connection/

[2021-11-02 05:49] zryfish commented on #4409
/close

[2021-11-02 05:49] #4409 closed

[2021-11-02 06:03] 2hangchen commented on #4409
I don't understand..I followed the instructions in the documentation and there was no related multi-cluster panel..
![1](https://user-images.githubusercontent.com/31329928/139794351-dce65daa-3718-4ee2-b00a-75af47225922.gif)

[2021-11-02 07:01] jioce opened #4411 "Failed to edit FederatedStatefulSet with not ready status"
**Describe the Bug**
There is a federated FederatedStatefulSet, the mirror is nginx, and the port is 80
1.Add a ready probe for the FederatedStatefulSet, set up HTTP inspection, port is 81,click save
2. The pod status is consistently not ready
3. change the probe port to 80, the update fails, and the pod is not updated
The same problem exists when starting the probe

https://user-images.githubuser

[2021-11-02 07:13] #4405 closed

[2021-11-02 07:13] lxm opened #4412 "Support grouping in cluster management"
![image](https://user-images.githubusercontent.com/1918195/139801710-011b83bf-9350-4d1e-beaa-e3873c71ddd7.png)

When there are many clusters, need to be managed in groups to make them easier to find

/kind feature-request

[2021-11-02 07:35] iawia002 commented on #4411
I don't think it's a bug, it's an awkward situation, in fact, `FederatedStatefulSet` and `StatefulSet` both updated successfully, just because `StatefulSet` is waiting for the original `Pod` to start successfully before updating, but the previous `Pod` is stuck in `Running` but not `Ready` state because of the health check, so the update will be stuck, if you delete the previous `Pod` manually it

[2021-11-02 08:24] calvinyv opened #4413 "Add pid metric and alert policy support for node monitoring"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* Some developer use the wrong method to fork thread, which causes thread leak, as platform monitoring, we'd better provide a mechanism to know this happens

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**A

[2021-11-02 08:25] zryfish commented on #3076
/reopen

[2021-11-02 08:26] calvinyv commented on #4413
/cc @kubesphere/sig-observability
/area monitoring
/area alerting

[2021-11-02 08:28] calvinyv commented on #4413
/assign @VioZhang

[2021-11-02 08:37] wenxin-01 commented on #4411
In my opinion, after the configuration is modified, the original pod should be automatically deleted, and then a new pod is created based on the new configuration. Instead of manually deleting the previous pod.

[2021-11-02 09:20] yJunS opened #4414 "Can't add service when deleted metadata by advanced settings"
When I deleted the metadata by advanced settings, I can't add the service. The default value is like this:
![default_value](https://user-images.githubusercontent.com/20575981/139813672-bd0d718d-9e53-425e-9641-49ceb1c29485.png)
but when I deleted the metadata, tips `the label can not null`, and checkbox of `Add metadata` can not cancel selection
![deleted_value](https://user-images.githubuserconten

[2021-11-02 11:44] #4022 closed

[2021-11-03 02:42] bigfacewo opened #4415 "After using an external es cluster, the total number of logs is only 10000,"
**Describe the Bug**
After using an external es cluster, the total number of logs is only 10000, but the actual number of logs exceeds 10000.
![image](https://user-images.githubusercontent.com/31603897/140002776-0b96e57e-1d87-42cc-ac4c-b6d9440ff2ff.png)

**Versions Used**
KubeSphere:  3.1
Kubernetes:  v1.20.4

**Environment**
How many nodes and their hardware configuration:
Centos 7.1 / 3master: 8

[2021-11-03 08:03] yunfeng10 opened #4416 "Custom alarm policies generate alert notification only one time"
**Describe the Bug**
Custom alarm policies can not generate alert notification continuously，even through the Status is Firing.

**Environment**
KubeSphere Version : v3.1.1

**How To Reproduce**
Steps to reproduce the behavior:
1. Use admin to log in to KS.
2. Go to Cluster management--》Monitoring & Alerting --》Alerting Policies.
3. Create a custom policie with Rule Expression "node:node_memory_byt

[2021-11-03 08:56] Aaron-23 opened #4417 "Failed to jump the pricing link on the official website"
![image](https://user-images.githubusercontent.com/50609288/140032198-f8a65558-8ba8-4e33-8951-969b17fd5cb5.png)
![Uploading image.png…]()

[2021-11-03 16:20] mangoGoForward commented on #3829
/assign

[2021-11-03 23:55] #1882 closed

[2021-11-03 23:55] #2882 closed

[2021-11-04 01:25] bigfacewo commented on #4415
This is an ES configuration problem

[2021-11-04 01:25] #4415 closed

[2021-11-05 01:54] xiaokangshuai opened #4420 "Image builder Source to Image: Publish an App without a Dockerfile"
k8s version：1.20.10
Kubesphere version：3.1.1
harbor：2.0

![image](https://user-images.githubusercontent.com/21293110/140444898-1c489ef6-88ab-494e-9be4-0fa612714701.png)
![image](https://user-images.githubusercontent.com/21293110/140444963-e0932491-b958-4de6-9c64-74484204663b.png)

An error occurred after creating the submission

InternalError
Internal error occurred: failed calling webhook “s2ibui

[2021-11-05 05:55] copenbusiness opened #4421 "Failed to download image: harbork8s.example.com/kubesphere/pause:3.4.1 for 3.2.0"
**Describe the Bug**
have not image pause

**Versions Used**
KubeSphere: 3.2.0
Kubernetes: (If KubeSphere installer used, you can skip this):1.21.5

**Environment**
How many nodes and their hardware configuration:

 CentOS 7.9 / 1 masters:  2cpu/8g; 2 nodes: 2cpu/16g
(and other info are welcomed to help us debugging)

**How To Reproduce**
Steps to reproduce the behavior:
1. following the guide htt

[2021-11-05 06:38] copenbusiness commented on #4421
[root@master tmp]# cat images-list.txt | grep pause
[root@master tmp]# cat images-list.txt | grep wordpress
wordpress:4.8-apache
[root@master tmp]#

[2021-11-05 06:45] copenbusiness commented on #4421
if I download the image-list for 3.1.1

[root@master tmp]# curl -L -O https://github.com/kubesphere/ks-installer/releases/download/v3.1.1/images-list.txt
[root@master tmp]# cat images-list.txt | grep pause
kubesphere/pause:3.1
kubesphere/pause:3.2
[root@master tmp]#

[2021-11-05 06:56] elizabethvik opened #4423 "After use ks-installer, the ks-console's LoadBalancer turn to NodePort."
**Describe the Bug**
After I used ks-installer install logging system , my ks-console's LoadBalancer became a NodePort,
**Versions Used**
KubeSphere:3.2.0
Kubernetes: 1.21

**Environment**
EKS, Amazon Linux 2, 1node, 2CPU/4G

**How To Reproduce**
use ks-installer to enable logging.

[2021-11-05 11:17] elizabethvik opened #4424 "Logging system fail to connect Amazon opensearch's es."
**Describe the Bug**
After I install logging system and config the es url, it didn't work, and the deamonset fluent-bit's log is :

[2021/11/05 07:21:44] [error] [output:es:es.0] HTTP status=403 URI=/_bulk, response:

 {"message":"Authorization header requires 'Credential' parameter. Authorization header requires 'Signature' parameter. Authorization header requires 'SignedHeaders' parameter. Autho

[2021-11-05 12:18] FeynmanZhou commented on #4424
@kubesphere/sig-observability

[2021-11-06 09:09] #3889 closed

[2021-11-07 11:50] wenchajun commented on #4424
In kubesphere3.2, the default version of fluentbit was changed from 1.6.9 to 1.8.3.You can roll Fluentbit back to V1.6.9 yourself.
IMO, I think that's what's causing your problem.https://github.com/fluent/fluent-bit/pull/4147
Fortunately, they fixed it in fluentbitv1.8.8
https://fluentbit.io/announcements/v1.8.8/

[2021-11-08 02:36] 760515805 opened #4425 "fluent-bit can not runing in KubeSphere version 3.2.0"
**Describe the Bug**

fluent-bit can not runing，Every configuration is default

My KubeSphere is upgraded from 3.1.1 to 3.2.0, The log function is normally used in version 3.1.1

**Versions Used**
KubeSphere: 3.2.0
Kubernetes: 1.21.5

**Environment**
How many nodes and their hardware configuration:
CentOS 7.9 / 3 masters:  8cpu/32g; 3 nodes: 16cpu64g

**How To Reproduce**
![image](https://user-ima

[2021-11-08 03:27] 760515805 commented on #4425
When I close the log and audit function and delete the container and reopen it, the problem still exists
###fluent-bit-config
[code]
![image](https://user-images.githubusercontent.com/16426260/140679689-1beeaf55-f5cc-47d4-bc37-94b83e28d406.png)

[2021-11-08 03:55] elizabethvik commented on #4424
I update fluentbit to v1.8.8, and in the fluentbit container it doesn't alarm error anymore. But when I click Tool box's container log search, it still raise a Internal Server Error:
[code]

I check the chrome console and it seems these api return code 500 and the error message.

`/kapis/tenant.kubesphere.io/v1alpha2/logs?operation=histogram&interval=30m&start_time=1636299822&end_time=1636343022`

[2021-11-08 04:11] wenchajun commented on #4424
what name of fluentbit image do you have? My advice is to change the image to the appropriate version. You can `kubectl edit fluentbits.logging.kubesphere.io  -n kubesphere-logging-system`,
then Modifying the `spec.image` field. You can set `kubesphere/fluent-bit:v1.6.9` or `kubesphere/fluent-bit:v1.7.3`

[2021-11-08 08:41] zryfish opened #4426 "[Feature] Support change member cluster kubeconfig"
**What's it about?**
Multicluster is widely used since we introduced it from version v3.0. There is one problem with these member clusters,  there is no way to replace expired `kubeconfig`. You can use the following command to check expiration date of member cluster kubeconfig:
[code]
After the expiration date, the user either needs to unbind cluster and rejoin cluster or manually change `kubeconf

[2021-11-08 08:42] zryfish commented on #4426
Please take a look at this @iawia002

[2021-11-08 09:00] wanjunlei commented on #4425
You can resolve this by follow

Run this command
[code]

Add

[code]

Run this command
[code]

Add
[code]

Then, wait for the fluent bit restart or manual restart of the fluent bit daemonset.

[2021-11-08 09:01] zhouwenblog opened #4427 "Can't update kubesphere-router config file，save overwrite"
upgrade from 3.1.1 to kubesphere 3.2.0  then new  router compoment 'kubesphere-router-XXXX' can't worked in offline network environment.
the compoment image will download from 'kubesphere/nginx-ingress-controller:v0.48.1@sha256:e9fb216ace49dfa4a5983b183067e97496e7a8b307d2093f4278cd550c303899'。
in my environment ,  we want change then images from dockerhub to local register.
we edited and saved the

[2021-11-08 09:01] #3829 closed

[2021-11-08 09:19] mangoGoForward commented on #3829
Because there are remaining some related issues, and not solved.

/reopen

[2021-11-08 09:39] iawia002 commented on #4426
/assign

[2021-11-08 10:16] f10atin9 commented on #4185
/assign

[2021-11-09 00:38] tengxunchao opened #4428 "Do Jenkins' own permissions and roles correspond to those configured in kubesphere enterprise space?"
Do Jenkins' own permissions and roles correspond to those configured in kubesphere enterprise space?
The built-in Jenkins has its own permission and role management functions. How to configure permission roles in kubesphere to synchronize to the built-in Jenkins?

Jenkins can configure permissions for directories and easily set roles
How to set and synchronize to the built-in Jenkins in kubesphere

[2021-11-09 01:15] calvinyv commented on #4427
/kind support

[2021-11-09 01:26] 760515805 commented on #4425
It can run normally according to the method provided
But when I turn off the log function and re-open the log function, filter-auditing will be overwritten back to the original configuration

[2021-11-09 01:33] RolandMa1986 commented on #4427
Hi @zhouwenblog,
This issue has been fixed by https://github.com/kubesphere/kubesphere/pull/4418.
You can replace those docker images in your private docker registry by the following steps:
[code]
After the image has been replaced, you can pull them on your master node and restart the ks-installer deployment.

[2021-11-09 01:59] wenchajun commented on #4425
In this path CRD -> ClusterConfiguration->ks-installer  Add ContainerRuntime: docker to the ks-installer file as follows
logging:
containerruntime: docker
enabled: true
logsidecar:
enabled: true
replicas: 2
Then let ks-Intaller perform the installation again

[2021-11-09 02:00] zryfish commented on #4425
@wenchajun Better to format these configurations with a code block, it's difficult to read now.

[2021-11-09 03:48] tqtcloud opened #4429 "3.1.1 Upgrade 3.2.0 Logs cannot be collected"
System version: centos7.9
Kubernetes version: 1.20.6
Kubesphere version before upgrade: 3.1.1
Updated kubesphere version: 3.2.0

Monitoring alarm information: A Node-exporter alarm occurs CPUThrottlingHigh and the log component Fluent-bit. CPUThrottlingHigh occurs in all instances

Fluent-bit logs are as follows:
![image](https://user-images.githubusercontent.com/86145643/140857734-1ca9a570-6f38-4

[2021-11-09 03:56] wenchajun commented on #4429
In this path CRD -> ClusterConfiguration->ks-installer Add ContainerRuntime: docker to the ks-installer file as follows
[code]
Then let ks-Intaller perform the installation again

[2021-11-09 04:30] tqtcloud commented on #4429
Relevant configuration has been carried out. How can I ask him to reinstall it
![image](https://user-images.githubusercontent.com/86145643/140862293-b79df81f-e5d1-4a40-a2cb-c1117cecf49c.png)

[2021-11-09 04:40] wenchajun commented on #4429
You can execute kubectl rollout restart deploy -n kubesphere-system ks-installer to update image.

[2021-11-09 05:40] tqtcloud commented on #4429
replicas: 3
Is it the cause of the problem? After I made the above changes, the update was automatically triggered, but there was an error in the Fluent-bit log:

`[2021/11/09 05:39:01] [ warn] [engine] chunk '64-1636436331.43826494.flb' cannot be retried: task_id=18, input=tail.2 > output=es.0

 [2021/11/09 05:39:01] [error] [output:es:es.0] HTTP status=400 URI=/_bulk, response:

 {"error":{"root

[2021-11-09 06:21] 760515805 commented on #4425
How should I modify the configuration file fluent-bit-config, because now every time I modify the point and save, it will be restored back to the original configuration
Because my java program needs multiple lines to collect logs

[2021-11-09 06:24] tqtcloud commented on #4429
replicas: 3
Is it the cause of the problem? After I made the above changes, the update was automatically triggered, but there was an error in the Fluent-bit log:

[2021-11-09 06:25] tqtcloud commented on #4429
replicas: 3
Is it the cause of the problem? After I made the above changes, the update was automatically triggered, but there was an error in the Fluent-bit log:
![image](https://user-images.githubusercontent.com/86145643/140873190-b1c2bea6-c89f-4429-b856-d90298968558.png)

[2021-11-09 06:32] wenchajun commented on #4429
The reason for this is the missing the `generateID: true` field.You can refer to this
https://github.com/wenchajun/ks-installer/blob/master/roles/ks-logging/templates/custom-output-elasticsearch-logging.yaml.j2#L31
But I suggest you take the steps
`kubectl edit cc -n kubesphere-system ks-installer`
Delete the red box and the information after it
![1636439212(1)](https://user-images.githubuserconte

[2021-11-09 06:38] wenchajun commented on #4425
Questions about use can be found here https://github.com/fluent/fluentbit-operator. Welcome to make relevant issue. Fluentbit is controlled by fluentbit-operator. You must modify the configuration by modifying the corresponding CRD

[2021-11-09 06:44] tqtcloud commented on #4429
Is there a better way? GenerateID exists in the cluster.
![image](https://user-images.githubusercontent.com/86145643/140875203-0256dc8b-c1c6-433a-8ac6-21c1d7ea02c3.png)

[2021-11-09 06:46] luorenjin commented on #4226
I encountered the same problem. version: v3.2.0.
![image](https://user-images.githubusercontent.com/7892385/140875015-cc712a70-2018-4061-8586-ec4e1e010281.png)
![image](https://user-images.githubusercontent.com/7892385/140875016-fe65a87b-fd94-4711-a6f5-7ee4b25f7392.png)
![image](https://user-images.githubusercontent.com/7892385/140875031-8f5324ea-a215-4ffd-a966-753effab2bcd.png)
as you see, I find

[2021-11-09 07:10] luorenjin commented on #4226
the problem solved，
`
apiVersion: logging.kubesphere.io/v1alpha2
kind: Output
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: >
      {"apiVersion":"logging.kubesphere.io/v1alpha2","kind":"Output","metadata":{"annotations":{},"labels":{"logging.kubesphere.io/component":"logging","logging.kubesphere.io/enabled":"true"},"name":"es","namespace":"kubesphere-logging-syste

[2021-11-09 07:12] wenchajun commented on #4429
You can keep the ClusterID and delete other fields in status.

[2021-11-09 07:37] tqtcloud commented on #4429
Delete the components shown in the red box and check whether the log system can be rebuilt
![image](https://user-images.githubusercontent.com/86145643/140881709-8993ae4c-1247-48ce-8af3-4baa2261a3c5.png)

[2021-11-09 07:38] wenchajun commented on #4429
yes

[2021-11-09 07:59] JohnNiang commented on #4428
/area devops
/help
/cc @kubesphere/sig-devops

[2021-11-09 08:01] tqtcloud commented on #4429
To delete related configurations, restart ks-install and the cluster does not change

[2021-11-09 08:07] wenchajun commented on #4429
It will take a while for the ks-installer to reinstall. If you add `containerruntime: docker` field, it should collect logs after a while.

[2021-11-09 08:08] showjason opened #4430 "pod belong to deployment"
Recently, I installed kubesphere in my own kubernetes cluster,  deployed two deployments, each of them was setted one replica, they are different names, but the same selector and same template.Two pods was created,  as kubernetes,  these two pods should belong to different deployments, but as you can see as below screenshot, these two pods are belonging to the same deployment.  I think the compari

[2021-11-09 08:30] tqtcloud commented on #4429
It has been a while, and there is no response at present. I have redeployed ES, Fluent-bit, and the current fluent-bit log is:
![image](https://user-images.githubusercontent.com/86145643/140889289-75478c63-bb83-4961-ba8c-aca4f3603dda.png)

[2021-11-09 08:37] wenchajun commented on #4429
The error message is that the `generateID: true` field was not added.
CRD->Output->es es-auditing es-events Add the following fields
[code]
it will work soon

[2021-11-09 09:01] tqtcloud commented on #4429
I have modified it, it should be effective, but there are new problems
![image](https://user-images.githubusercontent.com/86145643/140894238-00052474-bc35-4df0-829a-f6e46cd3363e.png)

[2021-11-09 09:05] wenchajun commented on #4429
Well, in order to save time and effort, can you bring up your configuration file（about Input and Output）

[2021-11-09 09:14] tqtcloud commented on #4429
You look under the

![image](https://user-images.githubusercontent.com/86145643/140895941-96b9b3b3-0884-45be-91ef-47ffeb704f8a.png)
![image](https://user-images.githubusercontent.com/86145643/140895985-37c1b686-012b-408a-b345-f8e57aadc447.png)
![image](https://user-images.githubusercontent.com/86145643/140896023-95880bc1-5ed9-4e0c-af41-eb8c92969c04.png)

[2021-11-09 09:25] 760515805 commented on #4425
When i delete the audit operator deployment And set ks-installer auditing to false
Waiting for the end of the restart, Then reopen auditing to true, audit operator deployment does not exist
After retrying a few times, it is still the same

when

[2021-11-09 09:27] 760515805 commented on #4425
The UI is normal
![image](https://user-images.githubusercontent.com/16426260/140897986-7ae1abea-2f0e-4581-8f0c-eb6b0820fef2.png)
![image](https://user-images.githubusercontent.com/16426260/140898037-67cc50ae-dc98-40a8-a668-d1ef6ab0f3e7.png)

[2021-11-09 09:33] wenchajun commented on #4425
That's a question about Ks-installer. You should do this `
kubectl edit cc -n kubesphere-system ks-installer`.then delete status that you want to reinstall.And `kubectl rollout restart deploy -n kubesphere-system ks-installer`.
Make sure you add this field.In this path CRD -> ClusterConfiguration->ks-installer Add ContainerRuntime: docker to the ks-installer file as follows
[code]

[2021-11-09 09:39] wenchajun commented on #4429
According to the error message, the parse format is not correct, so could you please provide us with your environment.

[2021-11-09 09:55] tqtcloud commented on #4429
docker
![image](https://user-images.githubusercontent.com/86145643/140902550-69b578d9-5932-4f42-9cbf-90e4751bf8fd.png)

[2021-11-09 10:10] wenchajun commented on #4429
Did you find it? Your first diagram has the same logstashPrefix field as the second diagram.The right thing to do is this
![5~7YXWEU(`F )_IBYM5W`8J](https://user-images.githubusercontent.com/39892300/140904924-edf4b3df-7b65-472a-b374-dce3f4c8989f.png)

[2021-11-09 10:10] 760515805 commented on #4425
It's useless, I restarted it many times
![image](https://user-images.githubusercontent.com/16426260/140904684-bd175a3f-b412-4f50-bf1b-fa92b6fd1b96.png)
The log shows success, but there is no deployment
![image](https://user-images.githubusercontent.com/16426260/140904911-bda73dcd-4fc5-4555-aa58-8cbfd05ae24e.png)

[2021-11-09 10:10] 760515805 commented on #4425
It's useless, I restarted it many times
![image](https://user-images.githubusercontent.com/16426260/140904684-bd175a3f-b412-4f50-bf1b-fa92b6fd1b96.png)
The log shows success, but there is no deployment
![image](https://user-images.githubusercontent.com/16426260/140904911-bda73dcd-4fc5-4555-aa58-8cbfd05ae24e.png)

[2021-11-09 10:24] wenchajun commented on #4425
Did you execute the following command? `kubectl edit cc -n kubesphere-system ks-installer` and delete the status that you want to reinstall. Finally ` kubectl rollout restart deploy -n kubesphere-system ks-installer`

[2021-11-10 02:10] 760515805 commented on #4425
delete the status

[2021-11-10 02:11] 760515805 commented on #4425
what does this mean and where to modify?

[2021-11-10 02:27] wenchajun commented on #4425
`kubectl edit cc -n kubesphere-system ks-installer`
Delete the components shown in the red box and check whether the log system can be rebuilt
![1636510733(1)](https://user-images.githubusercontent.com/39892300/141038338-13517fa4-60b7-4483-9af1-5bd9b1e72e48.png)
then `kubectl rollout restart deploy -n kubesphere-system ks-installer`
It will take a while for the ks-installer to reinstall.

[2021-11-10 03:10] 760515805 commented on #4425
It's useless，I tried the above operation several times
![Uploading image.png…]()
From the UI, the fluent-bit operator is deployed repeatedly, but there is still no audit operator
![Uploading image.png…]()

[2021-11-10 05:21] wenchajun commented on #4425
Each field is different, did you delete the Auditing field? If you have the installation problem, welcome to https://github.com/kubesphere/ks-installer to ask questions

[2021-11-10 07:30] #4425 closed

[2021-11-10 08:12] wenxin-01 opened #4432 "Failed to create a statefulSet with a volume template added"
**Describe the Bug**

**Versions Used**
KubeSphere:  `v3.2.0`

**How To Reproduce**
Steps to reproduce the behavior:

https://user-images.githubusercontent.com/68640256/141074090-2c55eab9-652b-4f02-9519-28b514f0ee39.mov

![image](https://user-images.githubusercontent.com/68640256/141074398-df9165a1-1fe4-4b28-bf37-7221631ad3a8.png)

![image](https://user-images.githubusercontent.com/68640256/141074

[2021-11-10 08:33] #4053 closed

[2021-11-11 02:05] zhu733756 opened #4433 "[Enhance] Support importing Grafana templates to the workspace level."
Support importing Grafana templates to the workspace level. Currently, this function only can be accessed by the cluster lever.

# Solution

See https://github.com/kubesphere/kubesphere/blob/511d0d02fffc766c0ee218dab15d399888681672/pkg/kapis/monitoring/v1alpha3/handler.go#L404 for detail. Maybe we need to add a namespace parameter as an optional to determine to convert it to Dashboard struct or no

[2021-11-11 02:21] RolandMa1986 opened #4435 "Failed to login with LDAP after upgraded to v3.2.0"
**Describe the Bug**
After upgrading to kubesphere v3.2.0, Failed to login with LDAP. Nothing shows when click on login button.

**Versions Used**
KubeSphere: V3.2.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
config a ldap provide like bellow:

[code]

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....

[2021-11-11 03:19] ZY123454321YZ commented on #4433
If you solve this issue, do you have any other problems? @zhu733756

[2021-11-11 05:50] RolandMa1986 commented on #4430
/kind bug
/good-first-issue

[2021-11-11 05:57] RolandMa1986 commented on #4423
/kind support
@elizabethvik  please change the console service in your clusterconfiguration

[code]

[2021-11-11 06:07] RolandMa1986 commented on #4414
@yJunS This is work as designed. You must have at least one label for deployment or statefulsets. And in KubeSpphere 3.2.0 the checkbox was removed from UI.
/kind support

[2021-11-11 06:44] RolandMa1986 commented on #4410
@VioZhang

[2021-11-11 08:52] wenxin-01 opened #4437 "ks-console, ks-apiserver and ks-controller-manager version error"
**Versions Used**
KubeSphere:  `v3.2.0`

**How To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/68640256/141267274-c3a6b74b-2938-4f03-bf64-8d3ea982bf56.png)
![image](https://user-images.githubusercontent.com/68640256/141267478-8aacac89-a2ee-4ec7-8a31-3cbceee60ae4.png)
![image](https://user-images.githubusercontent.com/68640256/141267576-18f6adb2-35

[2021-11-11 08:58] #4057 closed

[2021-11-11 10:03] #4416 closed

[2021-11-12 01:36] 123liubao commented on #4437
/assign

[2021-11-12 01:41] #4435 closed

[2021-11-12 02:09] cherry-hyx opened #4440 "go mod vendor err:"
**Describe the Bug**
A clear and concise description of what the bug is.
[code]
For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: release-3.2
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:
windows 10 /

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and

[2021-11-12 03:11] RolandMa1986 opened #4441 "[Enhancement] Security user login and session mechanism"
**What's it about?**
The security mechanism is one of the most critical systems functional features that need to be implemented to ensure system security. Currently, we have sample built-in mechanisms like password police and login restriction. However, we still lack some important functions likes bellow:

**Session management**
- [ ] Lock Account  by admins on console.

**Password Police**
- [ ]

[2021-11-12 03:18] gongysh2004 opened #4442 "Add account enalbe or disable function"
**What's it about?**

The user account should be able to disable or enabled by admin for some reason.
**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2021-11-12 04:02] RolandMa1986 commented on #4440
@cherry-hyx,
You should use the `hack/pin-dependency.sh` to pin dependence or update vendor, do not use the `go mod` command directly. Please go to our slack or forum for developing issues or discussions.
/kind support

[2021-11-12 05:56] RolandMa1986 commented on #4421
/area  installation
@kubesphere/sig-installation

[2021-11-12 06:02] RolandMa1986 commented on #4372
/close
Hi @javaXiaoHan, I'm going to close this issue first since it's not a KubeSphere issue.

[2021-11-12 06:02] #4372 closed

[2021-11-12 06:04] RolandMa1986 commented on #4386
/close
verified. it has been fixed by #4387.

[2021-11-12 06:04] #4386 closed

[2021-11-12 06:14] RolandMa1986 commented on #4045
/close

[2021-11-12 06:14] #4045 closed

[2021-11-12 06:16] RolandMa1986 commented on #3830
/close

[2021-11-12 06:16] #3830 closed

[2021-11-12 06:29] zryfish commented on #1308
/close

[2021-11-12 06:29] #1308 closed

[2021-11-12 06:29] zryfish commented on #1342
/close

[2021-11-12 06:29] #1342 closed

[2021-11-12 06:30] zryfish commented on #3932
/close

[2021-11-12 06:30] #3932 closed

[2021-11-12 06:31] zryfish commented on #3987
/close

[2021-11-12 06:31] #3987 closed

[2021-11-12 06:40] VioZhang commented on #4319
/assign @xiaohuisept

[2021-11-12 06:55] harrisonliu5 commented on #4396
fixed by PR https://github.com/kubesphere/console/pull/2444

[2021-11-12 06:56] harrisonliu5 commented on #4396
/kind need-to-verify

[2021-11-12 07:09] weili520 commented on #4388
/assign @weili520

[2021-11-12 07:10] weili520 commented on #4384
/kind need-to-verify

[2021-11-12 07:12] weili520 commented on #4383
/kind need-to-verify

[2021-11-12 08:25] RolandMa1986 commented on #4441
/cc @VioZhang @zryfish @calvinyv

[2021-11-12 08:46] RolandMa1986 commented on #4371
/close same to #4372

[2021-11-12 08:48] RolandMa1986 commented on #4334
/area console

[2021-11-12 08:51] weili520 commented on #4334
/assign @weili520

[2021-11-12 09:16] cherry-hyx commented on #4440
tks

[2021-11-12 09:17] cherry-hyx commented on #4440
tks,i try!

[2021-11-12 09:23] RolandMa1986 commented on #4276
/area console
When I tested with KubeSphere v3.2.0, the labels do match with spec.selector.matchLabels. However, it was showing "The current selector matches no workload." on the UI. I think the Service Selector only matches with pods in the Kubernetes design, instead of workload(Deployment/Statefullset).

[2021-11-12 09:24] RolandMa1986 commented on #4440
Ok, I will close the issue first. Please feel free to contact us.