[2020-07-24 08:59] wangtian-010 commented on #2430
verification passed,close this issue

[2020-07-24 08:59] #2430 closed

[2020-07-24 09:08] shaowenchen commented on #2589
DevOps that installed today is OK. Is it multi-cluster?

Another way is to run:

[code]

replace the password of DevOps with console token

[2020-07-24 09:08] wansir commented on #2578
/reopen

[2020-07-24 09:40] duanjiong opened #2592 "The links on the page should be updated"
**Describe the Bug**
the url should be updated to "https://kubesphere.io/docs/zh-CN/developer/helm-specification/“

![image](https://user-images.githubusercontent.com/3678855/88378928-8a94f480-cdd4-11ea-8a7f-cc098c5becfe.png)

**Versions Used**
KubeSphere: 3.0

**Environment**

**How To Reproduce**

**Expected behavior**
should be "https://kubesphere.io/docs/zh-CN/developer/helm-specification/"

[2020-07-24 09:41] duanjiong commented on #2592
/cc @leoendless

[2020-07-24 09:47] liuyp2018 opened #2593 "In creating qingcloud-CSI storage type pages, should remove ROX and RWM access modes"
**Describe the Bug**
Qingcloud-csi does not support ROX and RWM Access MODES
In creating qingcloud-CSI storage type pages, should remove ROX and RWM access modes
<img width="586" alt="v2" src="https://user-images.githubusercontent.com/36271543/88379466-992fdb80-cdd5-11ea-89ec-d900e34d5638.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
Environme

[2020-07-24 09:51] junotx opened #2594 "error when an user as invited project admin enters devops project"
**Describe the Bug**

user `devops-pm (ws-admin)` created a devops project `caps`
`devops-pm (ws-admin)`  invited `devops-pr (ws-admin)` as admin to `caps`
`devops-pr (ws-admin)`  encountered error as follows when he entered `caps`
![image](https://user-images.githubusercontent.com/49136171/88379236-258dce80-cdd5-11ea-9ebf-2e21badca1c3.png)

**Versions Used**
KubeSphere(2020-07-24)

/kind bug
/mil

[2020-07-24 09:56] leoendless commented on #2593
Maybe the `metadata.annotations["storageclass.kubesphere.io/supported-access-modes"]` hasn't been set for `csi-qingcloud` sc. @min-zh

[2020-07-24 09:57] duanjiong commented on #2592
This too should be updated.
![image](https://user-images.githubusercontent.com/3678855/88380424-20318380-cdd7-11ea-9cde-e72202ab8209.png)

[2020-07-24 10:01] leoendless commented on #2592
These links will be updated after 3.0 docs released.

[2020-07-24 10:02] rayzhou2017 commented on #2588
verified

[2020-07-24 10:02] #2588 closed

[2020-07-24 10:07] #2592 closed

[2020-07-24 10:24] rayzhou2017 opened #2595 "custom platform with ws admin can't create ws"
**Describe the Bug**
A custom platform role with ws admin, log in with the user, can open the ws creation page, but no creation button shows.
![Screen Shot 2020-07-24 at 6 23 39 PM](https://user-images.githubusercontent.com/28859385/88382332-d480d900-cdda-11ea-925f-e9c17c38630a.png)
![Screen Shot 2020-07-24 at 6 21 12 PM](https://user-images.githubusercontent.com/28859385/88382353-dea2d780-cdda-11

[2020-07-24 10:47] liuyp2018 opened #2597 "create volume in multi-cluster project, cannot select the storage type under all clusters"
**Describe the Bug**
create volume in multi-cluster project, cannot select the storage type under all clusters
<img width="683" alt="v3" src="https://user-images.githubusercontent.com/36271543/88383865-edd75480-cddd-11ea-9280-230ec488669c.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7

[2020-07-24 10:55] junotx opened #2598 "error to view credentials detail in devops project"
**Describe the Bug**
It shows error as follows in credentials detail page in devops project
![image](https://user-images.githubusercontent.com/49136171/88384428-f8deb480-cdde-11ea-86fe-5d73b3c2e0d7.png)

**Versions Used**
KubeSphere(2020-07-24)

/kind bug
/milestone 3.0.0
/area devops

[2020-07-24 12:17] junotx commented on #2598
verify resolved after updating the environment
/close

[2020-07-24 12:17] #2598 closed

[2020-07-24 12:46] Forest-L opened #2600 "Internal error occurred: account is not active"
* When login in, Internal error occurred: account is not active.
* all pod running.
* v3.0.0
![image](https://user-images.githubusercontent.com/50984129/88392386-7c53d200-cdee-11ea-8678-0237ab4be037.png)

* ks-console log
![image](https://user-images.githubusercontent.com/50984129/88392421-8f66a200-cdee-11ea-92e1-a14b074eccc2.png)

* ks-apiserver log
![image](https://user-images.githubusercontent.

[2020-07-24 12:53] rayzhou2017 opened #2601 "one email can be used for different user names"
**Describe the Bug**
I might accidentally create a new user with the email that is already used by another user. But it is successful created.
<img width="322" alt="Screen Shot 2020-07-24 at 8 50 51 PM" src="https://user-images.githubusercontent.com/28859385/88393041-9d68f280-cdef-11ea-9aee-32ae3bcb88fd.png">
<img width="383" alt="Screen Shot 2020-07-24 at 8 50 43 PM" src="https://user-images.gith

[2020-07-24 12:56] rayzhou2017 commented on #2601
Also please validate the email unique when changing email of a user

[2020-07-24 12:58] rayzhou2017 opened #2602 "Clean dirty data of app store"
**Describe the Bug**
A fresh install with OpenPitrix enabled, but see the audit logs. Please check other built-in apps too.
<img width="1082" alt="Screen Shot 2020-07-24 at 8 55 30 PM" src="https://user-images.githubusercontent.com/28859385/88393478-44e62500-cdf0-11ea-8c9e-3f94cf47239f.png">

**Versions Used**
KubeSphere: 3.0.0-dev
Kubernetes: 1.18.6

[2020-07-24 13:02] Forest-L commented on #2600
The latest version has been fixed

[2020-07-24 13:02] #2600 closed

[2020-07-24 13:08] rayzhou2017 commented on #2595
I just have a fresh installation, but found a different problem.
<img width="1169" alt="Screen Shot 2020-07-24 at 9 03 48 PM" src="https://user-images.githubusercontent.com/28859385/88394287-c4c0bf00-cdf1-11ea-8e28-ab61cc43d0ee.png">

[2020-07-24 13:14] wansir commented on #2601
`validatingwebhookconfigurations.admissionregistration.k8s.io` is not created by default.  @zryfish Can you help me do this, thanks.

[2020-07-24 13:16] liuyp2018 opened #2603 "problem with query function in application list of the project"
**Describe the Bug**
problem with query function in application list of the project
<img width="779" alt="query1" src="https://user-images.githubusercontent.com/36271543/88394915-d22a7900-cdf2-11ea-8275-49a9d78c9721.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind bug
/a

[2020-07-24 13:22] liuyp2018 opened #2604 "problem after sorting in app list of project"
**Describe the Bug**
In the application list under the project, the search person input box is automatically filled with query fields after sorting

<img width="861" alt="sort oper" src="https://user-images.githubusercontent.com/36271543/88395371-8b894e80-cdf3-11ea-9097-fce3a642c9d7.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ub

[2020-07-24 13:31] liuyp2018 opened #2605 "app name check problem"
**Describe the Bug**
Create the application under the project, set the application name to 11, and report an error
<img width="929" alt="check" src="https://user-images.githubusercontent.com/36271543/88396260-dbb4e080-cdf4-11ea-93b6-63ce40d35413.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /

[2020-07-24 13:47] liuyp2018 opened #2606 "creating application, can only show up to 10 versions of the application"
**Describe the Bug**
 creating application, can only show up to 10 versions of the application

<img width="826" alt="app versions" src="https://user-images.githubusercontent.com/36271543/88397994-4cf59300-cdf7-11ea-8dcb-0b664e228d80.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu

[2020-07-24 14:02] liuyp2018 opened #2607 "The home-made app version input box is not checked"
**Describe the Bug**
The home-made app version input box is not checked
<img width="895" alt="check1" src="https://user-images.githubusercontent.com/36271543/88399298-410ad080-cdf9-11ea-9535-2fdc0413b7b2.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g
/kind bug
/area console
/

[2020-07-24 16:10] wansir commented on #2589
/kind need-to-verify

[2020-07-24 16:20] wansir commented on #2547
/kind need-to-verify

[2020-07-24 23:39] rayzhou2017 commented on #2516
/cc @wanjunlei can you help fix the kubectl from toolbox too? User will heavily use it.

[2020-07-24 23:53] wangtian-010 commented on #2499
verification passed,close this issue

[2020-07-24 23:53] #2499 closed

[2020-07-25 00:04] wangtian-010 commented on #2500
verification passed,close this issue

[2020-07-25 00:04] #2500 closed

[2020-07-25 00:07] wangtian-010 commented on #2504
verification passed,close this issue

[2020-07-25 00:07] #2504 closed

[2020-07-25 00:14] wangtian-010 commented on #2510
verification passed,close this issue

[2020-07-25 00:14] #2510 closed

[2020-07-25 00:24] wangtian-010 commented on #2512
verification passed,close this issue

[2020-07-25 00:24] #2512 closed

[2020-07-25 00:29] wansir commented on #2595
/kind need-to-verify

[2020-07-25 00:33] wangtian-010 commented on #2530
verification passed,close this issue

[2020-07-25 00:33] #2530 closed

[2020-07-25 00:43] liuyp2018 opened #2608 "The status of homemade apps is always updated"
**Describe the Bug**
The status of homemade apps is always updated
<img width="721" alt="status" src="https://user-images.githubusercontent.com/36271543/88445038-d38b8e00-ce52-11ea-8e98-193b32626193.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind bug
/area console
/assi

[2020-07-25 00:47] wangtian-010 commented on #2535
verification failed,reopen it
![image](https://user-images.githubusercontent.com/67785532/88445148-6b897780-ce53-11ea-9d02-aea715eba5ab.png)

/kind reopen

[2020-07-25 00:50] wangtian-010 commented on #2534
verification failed,still can operate

[2020-07-25 01:08] wansir commented on #2534
What are the user's platform role and workspace role?

[2020-07-25 01:16] zheng1 commented on #2564
I tried to install the chart using the helm command line `helm install my mysql-1.6.6.tgz` and found the same problem, which may be a bug in helm. We will continue to solve this problem

[2020-07-25 01:23] rayzhou2017 commented on #2547
Not fixed yet. Here is the error (two places: 1. the custom role page shows undefined. 2. the custom role user got a different error msg this time)
<img width="916" alt="Screen Shot 2020-07-25 at 9 20 39 AM" src="https://user-images.githubusercontent.com/28859385/88445901-61b64300-ce58-11ea-8a47-24331948d3c7.png">
<img width="1280" alt="Screen Shot 2020-07-25 at 9 21 12 AM" src="https://user-image

[2020-07-25 01:28] rayzhou2017 commented on #2547
This issue may have more problems. I click each menu in the project and got error every time. Here is the user roles
<img width="1120" alt="Screen Shot 2020-07-25 at 9 26 09 AM" src="https://user-images.githubusercontent.com/28859385/88445996-20726300-ce59-11ea-93a1-a03a5095aca0.png">
<img width="1180" alt="Screen Shot 2020-07-25 at 9 26 31 AM" src="https://user-images.githubusercontent.com/288593

[2020-07-25 01:32] rayzhou2017 commented on #2595
verified

[2020-07-25 01:32] #2595 closed

[2020-07-25 02:13] zheng1 commented on #2579
Fixed at https://github.com/openpitrix/openpitrix/pull/1032

[2020-07-25 02:28] liuyp2018 opened #2610 "Error setting LB access mode while creating service"
**Describe the Bug**
Error setting LB access mode while creating service
<img width="947" alt="lb" src="https://user-images.githubusercontent.com/36271543/88446936-c2e21480-ce60-11ea-832d-5371eb733a00.png">

Load balancer and service configuration
<img width="744" alt="lb1" src="https://user-images.githubusercontent.com/36271543/88446988-51569600-ce61-11ea-8f46-7b0c8f173e53.png">

Cloud platform L

[2020-07-25 02:32] wansir commented on #2547
update ks-apisetver to the latest version, create a new role or update `test-role1` to verify.

[2020-07-25 02:35] rayzhou2017 commented on #2547
verified, but have other problem. I am going to create new issues

[2020-07-25 02:35] #2547 closed

[2020-07-25 02:38] rayzhou2017 opened #2611 "Custom project role gives too much permission"
**Describe the Bug**
A custom project role with limited permission, but the user can manage all items under the project. Also please be aware of the undefined issue.
<img width="970" alt="Screen Shot 2020-07-25 at 10 37 03 AM" src="https://user-images.githubusercontent.com/28859385/88447160-df7f4c00-ce62-11ea-9467-f79b8708169d.png">
<img width="1236" alt="Screen Shot 2020-07-25 at 10 37 26 AM" src

[2020-07-25 02:47] junotx opened #2612 "user could not see devops project after he was invited as operator"
**Describe the Bug**

The user is a `ws-self-provisioner`. He was invited as operator of a devops project by the project admin, but he could not see the project

**Versions Used**
KubeSphere(2020-07-25)

/kind bug
/milestone 3.0.0
/area devops
/assign @shaowenchen

[2020-07-25 02:48] wansir commented on #2611
1. @leoendless  pls filter out the undefined rules.
2. tester2's global role `test-platform-role1` is able to manage all workspaces.

[2020-07-25 02:48] junotx commented on #2594
/assign @shaowenchen

[2020-07-25 02:50] junotx commented on #2590
/assign @wansir

[2020-07-25 02:50] rayzhou2017 commented on #2611
please platform, workspace and project levels, I found platform also has undefined

[2020-07-25 03:08] rayzhou2017 commented on #2587
verified

[2020-07-25 03:08] #2587 closed

[2020-07-25 03:43] benjaminhuo commented on #2516
kubectl has timezone issue? Is there an issue number?

[2020-07-25 04:23] rayzhou2017 commented on #2516
<img width="1243" alt="Screen Shot 2020-07-25 at 12 22 35 PM" src="https://user-images.githubusercontent.com/28859385/88448556-ad291b00-ce71-11ea-822d-c2a7d9c83810.png">

[2020-07-25 04:32] duanjiong commented on #2610
It is possible that the hostname has been modified, and when adding the backend, you can't find the host by the hostname。 we should adding annotation "node.beta.kubernetes.io/instance-id" to the node

[2020-07-25 05:24] rayzhou2017 commented on #2611
one more problem here /cc @wansir I create a new user with the custom project role.
<img width="1280" alt="Screen Shot 2020-07-25 at 1 23 24 PM" src="https://user-images.githubusercontent.com/28859385/88449516-1ad94500-ce7a-11ea-89f5-f9a0ac192063.png">

[2020-07-25 06:00] wanjunlei commented on #2516
It will be fixed in #2613

[2020-07-25 06:08] wansir commented on #2611
I'll check role templates one by one.

[2020-07-25 06:09] liuyp2018 opened #2614 "In the custom monitor list, the page-turning feature is not in effect"
**Describe the Bug**
In the custom monitor list, the page-turning feature is not in effect
<img width="940" alt="page" src="https://user-images.githubusercontent.com/36271543/88450275-5e36b200-ce80-11ea-9af2-25a1baab611a.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind b

[2020-07-25 06:11] liuyp2018 opened #2615 "The query function is not active in the custom monitor list"
**Describe the Bug**
The query function is not active in the custom monitor list
<img width="932" alt="query" src="https://user-images.githubusercontent.com/36271543/88450321-ba013b00-ce80-11ea-8524-61d49e8a82e8.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind bug
/area

[2020-07-25 06:26] liuyp2018 opened #2616 "Description information is not saved when creating a custom monitor"
**Describe the Bug**
Description information is not saved when creating a custom monitor
<img width="910" alt="des" src="https://user-images.githubusercontent.com/36271543/88450546-60017500-ce82-11ea-8858-045f98bec607.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind bug

[2020-07-25 06:29] liuyp2018 opened #2617 "The sort feature is not in effect in the custom monitor list"
**Describe the Bug**
The sort feature is not in effect in the custom monitor list
<img width="905" alt="sorted" src="https://user-images.githubusercontent.com/36271543/88450682-46acf880-ce83-11ea-8cac-3c2366a050aa.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind bug
/are

[2020-07-25 08:03] Warden-Thresh commented on #2435
It works，an solved #2360 👍

[2020-07-25 08:03] #2435 closed

[2020-07-25 08:10] Warden-Thresh opened #2618 "Jenkins version might be higher"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**
 Jenkins will refuse to load many plugins under version 2.176.2

**Environment: OS & Hardware Information**

**Error logs or message (Attach logs or screenshot)**
![image](https://user-images.githubusercontent.com/22620409/88452390-e4f38b00-ce90-11ea-8227-4f20fe61a419.png)

[2020-07-25 08:47] calvinyv commented on #2562
yeah, u r correct.

[2020-07-25 08:47] #2562 closed

[2020-07-25 08:49] calvinyv commented on #2556
<img width="1645" alt="Xnip2020-07-25_16-48-45" src="https://user-images.githubusercontent.com/28883416/88453105-c8f2e800-ce96-11ea-9a61-eae9a4999a38.png">

@leoendless @wansir get another new problem

[2020-07-25 09:28] wangtian-010 opened #2619 "user without deployment authoriztion in project should not deploy app via app store"
Describe the Bug
user without deployment authoriztion in project should not deploy app via app store
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30887/

How To Reproduce
Steps to reproduce the behavior:
1.Add user wangtian to enterprise space with role 'muti-cluster-ws-viewer'
2.Add user wangtian to project with role 'viewer'
2.Go to 'App store' and deploy app with

[2020-07-25 10:01] shaowenchen commented on #2612
It is not ready about iam for DevOps

[2020-07-25 10:02] shaowenchen commented on #2594
It is not ready about iam for DevOps

/assign @wansir

[2020-07-25 10:03] shaowenchen commented on #2589
/close

[2020-07-25 10:03] #2589 closed

[2020-07-25 10:03] shaowenchen commented on #2207
/close

[2020-07-25 10:03] #2207 closed

[2020-07-25 10:12] rayzhou2017 commented on #2611
verified

[2020-07-25 10:12] #2611 closed

[2020-07-25 10:16] rayzhou2017 commented on #2516
verified

[2020-07-25 10:16] #2516 closed

[2020-07-25 11:52] #2310 closed

[2020-07-25 11:58] #2551 closed

[2020-07-25 12:17] rayzhou2017 commented on #2575
verified

[2020-07-25 12:17] #2575 closed

[2020-07-25 12:28] rayzhou2017 commented on #2555
verified

[2020-07-25 12:28] #2555 closed

[2020-07-25 12:31] rayzhou2017 commented on #2577
verified

[2020-07-25 12:31] #2577 closed

[2020-07-25 12:41] rayzhou2017 commented on #1492
/cc @wanjunlei please help check the cronjob timezone problem as I see the ks-console already fixed the local time zone issue.

[2020-07-25 13:40] wangtian-010 opened #2620 "Error happened when deploy gitlab app from app store"
Describe the Bug
Error happened when deploy gitlab app from app store

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'app store' from 'platform management' of home page
2.Select 'Gotlab' and deployment
3.Error happened
![image](https://user-images.githubusercontent.com/67785532/88458149-85ac6f80-cebe-1

[2020-07-25 14:01] wangtian-010 opened #2621 "memcach app status is always 'creating' when deploy from app store"
Describe the Bug
memcach app status is always 'creating' when deploy from app store

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'app store' from 'platform management' of home page
2.Select 'memcach' and deployment
3.app status is always 'creating' enen though all pods is ok
![image](https://user-ima

[2020-07-25 14:09] wanjunlei commented on #1492
To fix this bug, it need to add host‘s /etc/localtime to the podtemplate of cronjob, not podtemplate of ks-consloe deployment, the latest version does not fix this.

[2020-07-25 14:14] wangtian-010 opened #2622 "no workload be created for mongodb\redis\rabbitmq\postgreSql apps after deployment from app store"
Describe the Bug
no workload be created for mongodb\redis\rabbitmq\postgreSql apps after deployment from app store

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'app store' from 'platform management' of home page
2.Select 'mongodb\redis\rabbitmq\postgreSql' apps separately and deployment
3.no workload

[2020-07-25 14:23] wangtian-010 opened #2623 "The number of unclassified applications is incorrect in app store"
Describe the Bug
The number of unclassified applications is incorrect in app store

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'app store management' from 'platform management' of home page
2.Select 'app classify'
3.The number of unclassified applications is incorrect
![image](https://user-images.gi

[2020-07-25 14:30] #2566 closed

[2020-07-25 14:30] #2568 closed

[2020-07-25 14:51] wangtian-010 opened #2624 "Searching function don't work for devops"
Describe the Bug
Searching function don't work for devops

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Enter 'one-cluster-ws'
3.Click 'Devops project'
4.Search devops via name
5.Searching function don't work
![image](https://user-images.githu

[2020-07-25 15:03] wangtian-010 opened #2625 "should support alias edition for devops"
Describe the Bug
should support alias edition for devops

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30880/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Enter 'one-cluster-ws'
3.Click 'Devops project'
4.Select one and edit it
5.Can not edit alias
![image](https://user-images.githubusercontent

[2020-07-25 15:10] wangtian-010 opened #2626 "Record don't disappear after checking record to delete for devops"
Describe the Bug
Record don't disappear after checking record to delete for devops

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30887/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Enter 'one-cluster-ws'
3.Click 'Devops project'
4.Check one record and delete
5.Record don't disappear and error h

[2020-07-25 15:17] wangtian-010 opened #2627 "The sort by time function is not correct for devops"
Describe the Bug
The sort by time function is not correct for devops

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30887/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Enter 'one-cluster-ws'
3.Click 'Devops project'
4.The sort by time function is not correct for devops
![image](https://user-imag

[2020-07-25 15:22] wangtian-010 opened #2628 "Page turning function is not available for devops"
Describe the Bug
Page turning function is not available for devops

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30887/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Enter 'one-cluster-ws'
3.Click 'Devops project'
4.Create 12 records from d1 to d12
5.total number is  always 10 and page turning f

[2020-07-26 02:56] liuyp2018 opened #2630 "Grayscale publication, set access rules page, dropdown box select not to take effect"
**Describe the Bug**
Grayscale publication, set access rules page, dropdown box select not to take effect
<img width="665" alt="22" src="https://user-images.githubusercontent.com/36271543/88470421-b75d1f00-cf2e-11ea-8d2c-2e76fcb9f6ce.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu

[2020-07-26 03:44] liuyp2018 opened #2631 "elasticsearch image not found"
**Describe the Bug**
elasticsearch image not found
<img width="906" alt="image1" src="https://user-images.githubusercontent.com/36271543/88470944-4c631680-cf35-11ea-9eb2-583c78aa7596.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind bug
/area console
/assign @leoendless
/

[2020-07-26 03:57] liuyp2018 opened #2632 "In volume snapshot information page, a maximum of 10 snapshots can be displayed"
**Describe the Bug**
In the volume snapshot information page, a maximum of 10 snapshots can be displayed

<img width="899" alt="snapshots" src="https://user-images.githubusercontent.com/36271543/88471079-1faffe80-cf37-11ea-8583-e04741dc475d.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /cento

[2020-07-26 04:26] liuyp2018 opened #2633 "Unmounted storage volume, capacity in details not updated after expansion"
**Describe the Bug**
Unmounted storage volume, capacity in details not updated after expansion

<img width="708" alt="pvc" src="https://user-images.githubusercontent.com/36271543/88471363-3193a080-cf3b-11ea-8e2b-f5b70ceba305.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/ki

[2020-07-26 04:37] leoendless commented on #2633
The storage capacity use `status.capacity.storage || spec.resources.requests.storage`. The status capactiy hasn't been updated after expansion. @min-zh

[2020-07-26 05:16] wansir commented on #2590
/assgin @shaowenchen

[2020-07-26 05:40] duanjiong opened #2635 "Different versions of the chart file should not upload successfully"
**Describe the Bug**

We are able to upload a different version of the chart file, but after uploading the file, the old version is still displayed.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/3678855/88472429-3bba9c80-cf45-11ea-829b-c9f5b6711d44.png)

**Expected behavior**
Different versions of the chart file should not uplo

[2020-07-26 05:40] duanjiong commented on #2635
/assign @zheng1

[2020-07-26 05:47] duanjiong opened #2636 "Applications should not be able to be deleted after they have been approved"
**Describe the Bug**
Applications can be deleted even after they have been approved

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/3678855/88472519-56414580-cf46-11ea-9fff-ae43106420ae.png)

**Expected behavior**
Applications should not be able to be deleted after they have been approved

[2020-07-26 05:47] duanjiong commented on #2636
/assign @zheng1  @leoendless

[2020-07-26 06:18] liuyp2018 opened #2637 "In notification rules page for creating alarm policy, error was reported when adding a notifier"
**Describe the Bug**
In the notification rules page for creating an alarm policy, an error was reported when adding a notifier
<img width="707" alt="alerting" src="https://user-images.githubusercontent.com/36271543/88472933-c5b93400-cf4a-11ea-8156-043106d4f684.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
mem

[2020-07-26 06:23] #2623 closed

[2020-07-26 09:46] calvinyv commented on #2556
verified

[2020-07-26 09:46] #2556 closed

[2020-07-26 09:51] calvinyv commented on #2539
verified

[2020-07-26 09:51] #2539 closed

[2020-07-26 09:53] calvinyv commented on #2553
verified

[2020-07-26 09:53] #2553 closed

[2020-07-26 09:57] calvinyv commented on #2538
verified.

[2020-07-26 09:57] #2538 closed

[2020-07-26 10:31] calvinyv opened #2638 "workspace admin can't add a custom app repo because of access problem"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
workspace admin can't add a custom app repo because of access problem

**Versions Used**
KubeSphere: 3.0 alpha 2

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a user with 'Platform Regular' role
2. Create a workspace and assign this user a

[2020-07-26 10:32] calvinyv commented on #2638
/kind bug
/area iam
/assign @leoendless @wansir @zheng1

[2020-07-26 10:48] calvinyv commented on #2558
verified

[2020-07-26 10:48] #2558 closed

[2020-07-26 11:14] calvinyv opened #2640 "Can't see just created devops project in devops project list for the user of devops only role"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Can't see just created devops project in devops project list for the user of devops only role

**Versions Used**
KubeSphere: 3.0 alpha 2

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a workspace role with devops view, create and management

[2020-07-26 11:14] calvinyv commented on #2640
/kind bug
/area devops
/assign @leoendless @shaowenchen @wansir

[2020-07-26 11:21] calvinyv opened #2641 "Login with a non existed user id, get the empty msg"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Login with a non existed user id, get the empty msg

**Versions Used**
KubeSphere: 3.0 alpha 2

**How To Reproduce**
Steps to reproduce the behavior:
Login with a non existed user id, get the empty msg

<img width="485" alt="Xnip2020-07-26_19-19-48" src="htt

[2020-07-26 11:21] calvinyv commented on #2641
/kind bug
/area console
/assign @leoendless

[2020-07-26 12:43] rayzhou2017 opened #2642 "custom ws role about devops is inaccurate"
**Describe the Bug**
Create a custom ws role with devops management and view ( no create), but the user still can create a devops project. What is the logic here? management does not include create? If not, this is a bug. If yes, then the custom role panel is not correct.
Another problem is the user can see project menu.

<img width="873" alt="Screen Shot 2020-07-26 at 8 39 14 PM" src="https://use

[2020-07-26 12:55] rayzhou2017 opened #2643 "ws admin can't create app repo"
**Describe the Bug**
`ray` is the admin of the ws, but can't create app repo.
<img width="1280" alt="Screen Shot 2020-07-26 at 8 54 00 PM" src="https://user-images.githubusercontent.com/28859385/88479526-45aec080-cf82-11ea-8e70-15c5f4428e12.png">

**Versions Used**
KubeSphere: 3.0.0-dev
Kubernetes: 1.18.6

[2020-07-26 12:55] calvinyv opened #2644 "Errors happens when opening a devops project as a user with the workspace-viewer role"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Errors happens when opening a devops project as a user with the workspace-viewer role

**Versions Used**
KubeSphere: 3.0 alpha 2

**How To Reproduce**
Prereq:
Create a devops project under some workspace

Steps to reproduce the behavior:
1. Create a user, wh

[2020-07-26 12:56] calvinyv commented on #2644
/kind bug
/area devops
/assign @leoendless @wansir @shaowenchen

[2020-07-26 12:59] calvinyv opened #2645 "Errors happen when opening audit records of a draft app as a user with the workspace-viewer role"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Errors happen when opening audit records of a draft app as a user with the workspace-viewer role

**Versions Used**
KubeSphere: 3.0 alpha 2

**How To Reproduce**
Prereq:
Upload an app to default app repo

Steps to reproduce the behavior:
1. Create a user, wh

[2020-07-26 12:59] calvinyv commented on #2645
/kind bug
/assign @leoendless @wansir @zheng1

[2020-07-26 13:08] calvinyv opened #2646 "Errors happens when opening a devops project as a user with the platform workspaces-manager role"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Errors happens when opening a devops project as a user with the platform workspaces-manager role

**Versions Used**
KubeSphere: 3.0 alpha 2

**How To Reproduce**
Prereq:
Create a devops project under some workspace

Steps to reproduce the behavior:
1. Create

[2020-07-26 13:08] calvinyv commented on #2646
/kind bug
/area devops
/assign @leoendless @wansir @shaowenchen

[2020-07-26 13:23] calvinyv opened #2647 "Access risk for user with Roles View / Roles Management permission"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Access risk for the user with Roles View / Roles Management permission

**Versions Used**
KubeSphere: 3.0 alpha 2

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a platform role with 'Roles View / Roles Management' access
2. Create a user wi

[2020-07-26 13:24] calvinyv commented on #2647
/assign @wansir

[2020-07-26 13:34] rayzhou2017 opened #2648 "missing audits in multi-tenant space"
**Describe the Bug**
`ray` is the admin of the ws, `ws-self-provisioner1` is the self-provisioner of the ws. Use this user to create `demo-project1`. Now the default platform `admin` can see the audit of the project creation, but `ray` and `ws-self-provisioner1` can't. Please also check logging/events to see if having the same problem.
<img width="1068" alt="Screen Shot 2020-07-26 at 9 29 10 PM" s

[2020-07-26 14:02] wangtian-010 opened #2649 "The content displayed by pipeline adding voucher is inconsistent with that displayed by editing for devops"
Describe the Bug
The content displayed by pipeline adding voucher is inconsistent with that displayed by editing for devops

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30887/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Enter 'muti-cluster-ws'
3.Click 'Devops project'
4.Create one pipeline re

[2020-07-26 14:07] wangtian-010 opened #2650 "Incomplete display of page content when running pipeline for devops"
Describe the Bug
Incomplete display of page content when running pipeline for devops

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30887/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Enter 'muti-cluster-ws'
3.Click 'Devops project'
4.Create one pipeline refer to this link
https://kubesphere.io/

[2020-07-26 14:21] wangtian-010 opened #2651 "Failed for check SCM when running pipeline for devops"
Describe the Bug
Failed for check SCM when running pipeline for devops

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30887/

How To Reproduce
Steps to reproduce the behavior:
1.Go to 'Access control' from 'platform management' of home page
2.Enter 'muti-cluster-ws'
3.Click 'Devops project'
4.Create one pipeline refer to this link
https://kubesphere.io/docs/zh-CN/qui

[2020-07-26 15:01] wanjunlei commented on #2648
Only the cluster administrator can see the audit log with empty namespace, the namespace of audit of the project creation is empty, so platform admins can see it，but ws-admin and ws-self-provisioner can not see it

[2020-07-26 15:08] benjaminhuo commented on #2648
If the project creation/deletion API has the namespace field set, then ws-admin and ws-self-provisioner will be able to see the creation/deletion of projects. Is this possible or reasonable to add this in our API ? @wansir @wanjunlei

[2020-07-26 15:29] zryfish commented on #2608
/kind need-to-verify

[2020-07-26 15:44] zryfish commented on #2601
yes, I'll do it

[2020-07-27 01:38] rayzhou2017 commented on #2648
At least ws admin should be aware of anything happened in its workspace.

[2020-07-27 01:45] rayzhou2017 commented on #2647
Proposal solution: For the the role with grant capability but no role edit permission, hide/prohibit the super role(platform admin) in the list.

[2020-07-27 01:53] rayzhou2017 commented on #2636
This should work as design. The author wants to sunset an old version of his application.

[2020-07-27 01:59] rayzhou2017 commented on #2635
This should be working as design since it is for enterprise. Usually various versions are needed for enterprise to choose.

[2020-07-27 02:14] rayzhou2017 commented on #1492
/cc @zryfish @leoendless So it seems we need to inject the /etc/localtime into cronjob yaml?

[2020-07-27 02:17] #2636 closed

[2020-07-27 03:10] Forest-L opened #2653 "The UI login password is randomly generated, not the default password"
Random password generation requirements are required because the default username and password are too insecure.

[2020-07-27 03:14] Forest-L commented on #2653
/assign @wansir
/priority/low

[2020-07-27 04:08] rayzhou2017 commented on #2643
verified

[2020-07-27 04:08] #2643 closed

[2020-07-27 04:51] liuyp2018 opened #2654 "Unbound clusters should not appear on enterprise space"
**Describe the Bug**
Unbound clusters should not appear on enterprise space
<img width="788" alt="cluster" src="https://user-images.githubusercontent.com/36271543/88504588-c49a0c80-d007-11ea-8319-f68b4c03e457.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind bug
/area con

[2020-07-27 04:51] rayzhou2017 opened #2655 "self provisioner no permission to turn on network policy"
**Describe the Bug**
Here is the screenshot
<img width="1280" alt="Screen Shot 2020-07-27 at 12 49 35 PM" src="https://user-images.githubusercontent.com/28859385/88504605-d11e6500-d007-11ea-8b5b-e683f34965eb.png">

**Versions Used**
KubeSphere: 3.0.0-dev

[2020-07-27 05:23] wangtian-010 opened #2656 "Application does not support batch deletion in muti-cluster project of muti-cluster namespace"
Describe the Bug
Application does not support batch deletion in muti-cluster project of muti-cluster namespace

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30887/

How To Reproduce
Steps to reproduce the behavior:
1.Application does not support batch deletion in muti-cluster project of muti-cluster namespace
![image](https://user-images.githubusercontent.com/677855

[2020-07-27 05:28] wangtian-010 opened #2657 "Application does not support self-made application in muti-cluster project of muti-cluster namespace"
Describe the Bug
Application does not support self-made application in muti-cluster project of muti-cluster namespace

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30887/

How To Reproduce
Steps to reproduce the behavior:
1.Application does not support self-made application in muti-cluster project of muti-cluster namespace now

![image](https://user-images.githubuse

[2020-07-27 05:39] wangtian-010 opened #2658 "Service does not support sort and edit service functions in muti-cluster project of muti-cluster namespace"
Describe the Bug
Service does not support sort and edit service functions in muti-cluster project of muti-cluster namespace

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30887/

How To Reproduce
Steps to reproduce the behavior:
1.Service does not support sort and edit service functions in muti-cluster project of muti-cluster namespace now
![image](https://user-image

[2020-07-27 05:56] zryfish commented on #2581
/close

[2020-07-27 05:56] #2581 closed

[2020-07-27 05:56] wangtian-010 opened #2659 "Workload does not support Status and application query function / sorting function / edit configuration template function in muti-cluster project of muti-cluster namespace"
Describe the Bug
Workload does not support Status and application query function / sorting function / edit configuration template function in muti-cluster project of muti-cluster namespace

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30887/

How To Reproduce
Steps to reproduce the behavior:
Workload does not support below functions in muti-cluster project of muti-c

[2020-07-27 06:04] calvinyv commented on #2641
verified

[2020-07-27 06:04] #2641 closed

[2020-07-27 06:05] wangtian-010 opened #2660 "app router does not support sort / edit annotation / edit rule functions in muti-cluster project of muti-cluster namespace"
Describe the Bug
app router does not support sort / edit annotation / edit rule functions in muti-cluster project of muti-cluster namespace

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30887/

How To Reproduce
Steps to reproduce the behavior:
1.router does not support sort / edit annotation / edit rule functions in muti-cluster project of muti-cluster namespace now

[2020-07-27 06:19] wangtian-010 opened #2662 "Error happend when creating project role in one-cluster project of muti-cluster namespace"
Describe the Bug
Error happend when creating project role in one-cluster project of muti-cluster namespace

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30887/

How To Reproduce
Steps to reproduce the behavior:
1.Click 'Platform management'
2.Click 'Access control'
3.Click 'muti-cluster-ws' namespace
4.Click 'project management'
5.Click one project
6.Click project r

[2020-07-27 06:24] wansir commented on #2662
/kind need-to-verify

[2020-07-27 06:30] rayzhou2017 opened #2663 "ws manager can't search logs in toolbox"
**Describe the Bug**
platform `admin` can search the logs, but `workspace-manager` can't.
<img width="1223" alt="Screen Shot 2020-07-27 at 2 28 16 PM" src="https://user-images.githubusercontent.com/28859385/88510471-a2a78680-d015-11ea-98fe-36a4856b1f8a.png">
<img width="1191" alt="Screen Shot 2020-07-27 at 2 28 36 PM" src="https://user-images.githubusercontent.com/28859385/88510483-a804d100-d015-1

[2020-07-27 06:38] rayzhou2017 opened #2664 "app repo name is cluster scope"
It should be workspace scope.
<img width="1030" alt="Screen Shot 2020-07-27 at 2 37 35 PM" src="https://user-images.githubusercontent.com/28859385/88511033-bc959900-d016-11ea-8973-0fd30963adc6.png">

[2020-07-27 06:51] rayzhou2017 opened #2665 "logging search in toolbox is in reverse order"
It is not user friendly. We need to following how user reads logs.

[2020-07-27 07:10] shaowenchen commented on #704
out of date
/close

[2020-07-27 07:10] #704 closed

[2020-07-27 08:09] harrisonliu5 commented on #2650
http://139.198.12.26:30887/muti-cluster-ws/clusters/host/devops/test2vkd4r/pipelines/pipe001/pipeline

![image](https://user-images.githubusercontent.com/17872673/88518708-814d9700-d023-11ea-95ed-d517119d7d0b.png)

[2020-07-27 08:59] calvinyv opened #2667 "Fail to load app detail page as workspace admin"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Fail to load app detail page as workspace admin

**Versions Used**
KubeSphere: 3.0 alpha 2

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a user with 'Platform Regular' role
2. Create a workspace and assign this user as the workspace admin

[2020-07-27 09:00] calvinyv commented on #2667
/kind bug
/area console
/assign @leoendless

[2020-07-27 09:15] wansir commented on #2667
same as this issue https://github.com/kubesphere/kubesphere/issues/2347#issuecomment-661833402

[2020-07-27 09:42] harrisonliu5 commented on #2631
[GET]  https://console.kubesphere.io/kapis/resources.kubesphere.io/v1alpha2/registry/blob?namespace=testshire&image=traefik

This interface is not stable, sometimes the mirror cannot be found

[2020-07-27 09:43] wansir commented on #2552
/kind need-to-verify

[2020-07-27 09:44] harrisonliu5 commented on #2631
/kind need-to-verify

[2020-07-27 09:47] harrisonliu5 commented on #2649
have fixed in #[#979](https://github.com/kubesphere/console/pull/979)

[2020-07-27 09:47] harrisonliu5 commented on #2649
/kind need-to-verify

[2020-07-27 11:55] rayzhou2017 commented on #2663
verified

[2020-07-27 11:55] #2663 closed

[2020-07-27 12:09] rayzhou2017 opened #2669 "app management not in self provisioner role list"
**Describe the Bug**
The app management not in the self provisioner role list
<img width="872" alt="Screen Shot 2020-07-27 at 8 04 27 PM" src="https://user-images.githubusercontent.com/28859385/88539885-a0a8ec00-d044-11ea-9c52-3754668a8f31.png">
<img width="1219" alt="Screen Shot 2020-07-27 at 8 10 25 PM" src="https://user-images.githubusercontent.com/28859385/88540293-42303d80-d045-11ea-9e9d-eccb

[2020-07-27 12:11] Forest-L opened #2670 "Kubernetes component validation is inconsistent"
* There are fewer names and different times
* 1、UI show：
![image](https://user-images.githubusercontent.com/50984129/88540016-dc43b600-d044-11ea-818f-f565b67c2483.png)

* 2、Terminal show:
![image](https://user-images.githubusercontent.com/50984129/88540227-2331ab80-d045-11ea-9071-c44c42ca7b0c.png)

* k8sv1.17.8+v3.0.0

[2020-07-27 12:13] Forest-L commented on #2670
/kind bug
/area console
/assign @leoendless

[2020-07-27 13:30] Forest-L opened #2671 "When creating a project, the interface has no network isolation Settings"
* When creating a project, the interface has no network isolation Settings
![image](https://user-images.githubusercontent.com/50984129/88547292-18304880-d050-11ea-9f43-973b6281a8b6.png)

* The project created in the test document contains network isolation
![image](https://user-images.githubusercontent.com/50984129/88547433-5168b880-d050-11ea-8493-5fbc79e10864.png)

* k8sv1.17.8+v3.0.0

[2020-07-27 13:31] Forest-L commented on #2671
/kind bug
/area console
/assign @leoendless

[2020-07-27 13:42] calvinyv commented on #2638
verified

[2020-07-27 13:42] #2638 closed

[2020-07-27 14:43] leoendless commented on #2574
The link is `https://kubesphere.io/docs/zh-CN/platform-settings/customize-basic-information/`, but need to wait for the v3.0 docs's release.

[2020-07-27 14:54] leoendless commented on #2671
network isolation setting has been removed from project creating and workspace creating. It can only be configured in the project base-info page.

[2020-07-27 14:54] #2671 closed

[2020-07-27 15:00] leoendless commented on #1855
Function removed.

[2020-07-27 15:00] #1855 closed

[2020-07-27 15:05] leoendless commented on #1348
UI已重构，当前问题不存在了。

[2020-07-27 15:05] #1348 closed

[2020-07-27 15:07] leoendless commented on #1396
已在最新版本修复

[2020-07-27 15:07] #1396 closed

[2020-07-28 02:30] Forest-L opened #2673 "Error displaying project quota terminal"
* There is a problem with memory size display

* UI show:
![image](https://user-images.githubusercontent.com/50984129/88612133-151f7180-d0bd-11ea-8460-62a864b7b440.png)

* Terminal show:
![image](https://user-images.githubusercontent.com/50984129/88612164-2bc5c880-d0bd-11ea-973c-8a8158bbbf8c.png)

* k8sv1.17.8+ksv3.0.0

[2020-07-28 02:31] Forest-L commented on #2673
/kind bug
/assign @zryfish

[2020-07-28 03:05] #2646 closed

[2020-07-28 03:33] liuyp2018 opened #2674 "Anonymous users can't view apps"
**Describe the Bug**
Anonymous users can't view apps
<img width="947" alt="app" src="https://user-images.githubusercontent.com/36271543/88616171-05585b00-d0c6-11ea-8897-80e1862ece96.png">

/kind bug
/area iam
/assign @wansir
/milestone 3.0.0
/priority medium

[2020-07-28 04:50] zryfish commented on #2670
https://github.com/kubesphere/ks-installer/pull/944

[2020-07-28 04:53] zryfish commented on #2601
https://github.com/kubesphere/ks-installer/pull/945
https://github.com/kubesphere/ks-installer/pull/947

/kind need-to-verify

[2020-07-28 04:57] zryfish commented on #2509
/milestone BackLog

[2020-07-28 04:58] rayzhou2017 commented on #2669
verified

[2020-07-28 04:58] #2669 closed

[2020-07-28 04:59] rayzhou2017 commented on #2655
verified

[2020-07-28 04:59] #2655 closed

[2020-07-28 05:00] rayzhou2017 commented on #2601
verified

[2020-07-28 05:00] #2601 closed

[2020-07-28 05:15] zryfish commented on #2490
Since v1.15, kubernetes supports CRD resource quota, we can s2ibuilders resourcequota like following
[code]

@leoendless I think we should add s2ibuilders/s2iruns to our project resource quota list

[2020-07-28 05:16] rayzhou2017 commented on #2642
verified

[2020-07-28 05:16] #2642 closed

[2020-07-28 05:30] zryfish commented on #2673
We did some conversion, they are actually the same

[2020-07-28 05:32] zryfish commented on #2351
duplicate https://github.com/kubesphere/kubesphere/issues/2608
Please verify again using the latest build
/kind need-to-verify

[2020-07-28 05:32] #2403 closed

[2020-07-28 05:43] #2673 closed

[2020-07-28 05:53] zryfish commented on #2586
Cannot reproduce the issue using the latest build. Please verify it again.

[2020-07-28 06:05] #2550 closed

[2020-07-28 06:27] wansir commented on #2563
/assign @harrisonliu5  list DevOps project using tenant resource API.

[2020-07-28 06:36] yuswift opened #2677 "scheduler's metric is empty on cluster management page"
**Describe the Bug**

![Jietu20200728-153628](https://user-images.githubusercontent.com/37265389/88633918-3d709580-d0e8-11ea-89b6-464d1fd6a16a.png)

**Versions Used**
KubeSphere:3.0.0

**Expected behavior**
non empty

[2020-07-28 06:52] harrisonliu5 commented on #2563
it has fixed in #[#985](https://github.com/kubesphere/console/pull/985)

[2020-07-28 06:52] yuswift commented on #2677
@huanggze
/kind bug

[2020-07-28 07:34] wangtian-010 commented on #2662
verification passed,close this issue

[2020-07-28 07:34] #2662 closed

[2020-07-28 07:50] liuyp2018 opened #2678 "Error opening network isolation in enterprise space"
**Describe the Bug**
Error opening network isolation in enterprise space
<img width="920" alt="erro" src="https://user-images.githubusercontent.com/36271543/88635029-bde3c600-d0e9-11ea-84f8-a1c17c52a1ee.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.18.6

**Environment**
host: 2node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind bug
/area iam
/assi

[2020-07-28 07:50] wangtian-010 commented on #2649
verification passed,close this issue

[2020-07-28 07:50] #2649 closed

[2020-07-28 08:14] Forest-L opened #2680 "hyperlink is unreachable"
* Click here for a link to the previous step, not a link to the relevant content.
![image](https://user-images.githubusercontent.com/50984129/88637604-f5a03d00-d0ec-11ea-9a1c-c4f3ed40a4c4.png)

![image](https://user-images.githubusercontent.com/50984129/88637834-3dbf5f80-d0ed-11ea-9ca1-2ce503fd8ea7.png)

* K8s1.17.8+KubeSpherev3.0.0

[2020-07-28 08:16] Forest-L commented on #2680
/kind bug
/area console
/assign @zryfish @leoendless

[2020-07-28 08:24] zryfish commented on #2667
Not the same cause. Also, I can't reproduce the issue with the latest build, @calvinyv can you verify it again?

[2020-07-28 08:53] min-zh commented on #2633
**resource.request.storage** is the size to be expanded, **status.capacity.storage** is the size of pvc before expansion. So before pvc has expand successfully, they are different.

[2020-07-28 08:53] wansir commented on #2590
/kind need-to-verify

[2020-07-28 08:53] wansir commented on #2594
/kind need-to-verify

[2020-07-28 08:53] wansir commented on #2612
/kind need-to-verify

[2020-07-28 08:54] wansir commented on #2483
/kind need-to-verify

[2020-07-28 09:00] Forest-L opened #2681 "The display of physical resource memory under the project does not match the actual display"
* Physical resource memory is zero:
![image](https://user-images.githubusercontent.com/50984129/88642796-8417bd00-d0f3-11ea-96fd-dfd1f47b8b44.png)

* Actual show:
![image](https://user-images.githubusercontent.com/50984129/88642903-a14c8b80-d0f3-11ea-8e3d-17e2a9cb64f8.png)

* create 2020-07-28-16:00   K8sv1.17.8+KubeSphere

[2020-07-28 09:01] Forest-L commented on #2681
/kind bug
/area console
/assign @leoendless

[2020-07-28 09:07] leoendless commented on #2633
@liuyp2018 Did the capacity updated finally?

[2020-07-28 09:14] rayzhou2017 opened #2682 "Service mesh decouples from logging"
**Describe the Bug**
The service mesh component depends on es, furthur on logging. We already made es a common part so logging, events, audits are loose coupling. I think service mesh should do the same thing.

**Versions Used**
KubeSphere: 3.0.0-dev

[2020-07-28 10:02] rayzhou2017 commented on #2640
This one is fixed

[2020-07-28 10:02] #2640 closed

[2020-07-28 10:07] rayzhou2017 opened #2683 "ws member sees all devops projects"
**Describe the Bug**
self provisioner creates about 11 devops projects. Then use another user `tester1` to create `tester-a` devops project. Now use the ws admin to log in and check the users' info and found all devops projects under every ws member. Is that correct?
![Screen Shot 2020-07-28 at 6 02 15 PM](https://user-images.githubusercontent.com/28859385/88652149-02c52800-d0fd-11ea-899e-e485a7dd

[2020-07-28 10:45] harrisonliu5 commented on #2625
/kind need-to-verify

[2020-07-28 10:55] #2554 closed

[2020-07-28 12:12] rayzhou2017 commented on #2628
It should be fixed as I checked today.

[2020-07-28 12:19] rayzhou2017 opened #2684 "self provisioner has nowhere to delete its devops project"
**Describe the Bug**
Self provisioner creates devops project, but nowhere to delete it.
<img width="1226" alt="Screen Shot 2020-07-28 at 8 17 32 PM" src="https://user-images.githubusercontent.com/28859385/88664379-9142a500-d10f-11ea-8661-b7e1228f67db.png">

**Versions Used**
KubeSphere: 3.0.0-dev

[2020-07-28 12:23] rayzhou2017 commented on #2578
Please check the latest build. I found it is fixed.

[2020-07-28 12:26] rayzhou2017 commented on #2618
/cc @shaowenchen did you check this one?

[2020-07-28 12:54] zryfish commented on #2563
/reopen

[2020-07-28 13:25] wangtian-010 commented on #2628
verification failed, the numbers of record of every page  is the same.such as 12 records total,the second page also display  12 records

[2020-07-28 13:26] wangtian-010 commented on #2628
![image](https://user-images.githubusercontent.com/67785532/88671536-fe0e6d00-d118-11ea-805e-ed3b20c3900a.png)

[2020-07-28 14:30] wangtian-010 commented on #2535
verification failed,
![image](https://user-images.githubusercontent.com/67785532/88679175-c22bd580-d121-11ea-8b78-84f99ad92e46.png)
![image](https://user-images.githubusercontent.com/67785532/88679205-ca841080-d121-11ea-92f3-ebd8564ebfd8.png)

![image](https://user-images.githubusercontent.com/67785532/88679251-d4a60f00-d121-11ea-9d46-a3838727d928.png)
![image](https://user-images.githubuserconten

[2020-07-28 14:55] wangtian-010 commented on #2534
verification passed,close this issue

[2020-07-28 14:55] #2534 closed

[2020-07-28 15:15] leoendless commented on #2626
@harrisonliu5 You should add a terminating status for the devops projects just like the projects.

[2020-07-28 17:53] wansir commented on #2612
/remove need-to-verify

[2020-07-29 01:29] rayzhou2017 commented on #2563
Not fixed yet. The weird thing is when I create the first devops project, although it is not auto refrest, I can manually refresh the page to see it in the list page. But when I create the second devops project, I can't see the new one. Using the admin of the ws can see all devops project.

[2020-07-29 01:47] wangtian-010 commented on #2351
verification passed,close this issue

[2020-07-29 01:47] #2351 closed

[2020-07-29 01:58] zryfish commented on #2171
Is this issue fixed? Can we close it now?
/cc @wanjunlei

[2020-07-29 02:12] shaowenchen commented on #2683
It seems like a bug.  Projects with permissions should be listed here.  @wansir

[2020-07-29 02:12] yuswift opened #2686 "The monitoring data is not real-time when the switch is turned on"
**Describe the Bug**
![Jietu20200729-100757](https://user-images.githubusercontent.com/37265389/88748409-89bce380-d183-11ea-9145-13094e04426d.png)

**Versions Used**
KubeSphere: 3.0.0

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to cluster management page
2. Click on node management and go to monitoring page
3. turn on the real-time switch
4. See error

**Expected behavior**
the mo

[2020-07-29 02:13] rayzhou2017 opened #2687 "self provisioner storage permission problems"
**Describe the Bug**
Self provisioner can't create volume, and snapshot not shown up
![Screen Shot 2020-07-29 at 10 08 55 AM](https://user-images.githubusercontent.com/28859385/88748620-0e0f6680-d184-11ea-8ad6-c60008df849e.png)

**Versions Used**
KubeSphere: 3.0.0-dev

[2020-07-29 02:21] shaowenchen commented on #2618
While updating the Jenkins version, the plugin will have compatibility issues and need to be upgraded. It will take a lot of time. We will do it in 3.1.

On the other hand, Jenkins will be deployed using war packages to replace the helm chart. The maintained method will change.

[2020-07-29 02:37] duanjiong opened #2689 "the default value disappears after selecting the position of the arrows in the diagram"
**Describe the Bug**
When creating a volume, the default value disappears after selecting the position of the arrows in the diagram.
When the accessModes and storage sizes are empty, the next step should not be allowed.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/3678855/88749925-f2f22600-d186-11ea-9112-7a88170272d2.png)

**V

[2020-07-29 02:42] duanjiong commented on #2689
/assign @leoendless

[2020-07-29 02:50] huanggze commented on #2682
As we discussed, jeager tracing relys on es for storage. So enabling service mesh will get es installed @zryfish (BUT NOT Fluent Bit Operaor)

Besides, s2i will rely on es as persistent storage for build logs. However, enaling devops won't install es becasue it requires extra work from devops team.

[2020-07-29 02:51] duanjiong opened #2690 "When entering the "#####" query, all items can be listed."
**Describe the Bug**
When entering the "#####" query, all items can be listed.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/3678855/88750984-41082900-d189-11ea-9c61-5de5cb4fcf52.png)

**Versions Used**
KubeSphere: 3.0
Kubernetes: (If KubeSphere installer used, you can skip this)

[2020-07-29 02:51] duanjiong commented on #2690
/assign @leoendless

[2020-07-29 03:03] rayzhou2017 opened #2691 "custom platform role permission denied"
**Describe the Bug**
A custom role with acount view access, log in the user `p-tester8` and got the following error
![Screen Shot 2020-07-29 at 11 00 13 AM](https://user-images.githubusercontent.com/28859385/88751827-08694f00-d18b-11ea-9615-062279b7a93d.png)

**Versions Used**
KubeSphere: 3.0.0-dev

[2020-07-29 03:13] wanjunlei commented on #2171
yes, it has fixed.

[2020-07-29 03:21] zryfish commented on #2171
/close

[2020-07-29 03:21] #2171 closed

[2020-07-29 03:22] junotx commented on #2578
verified
/close

[2020-07-29 03:22] #2578 closed

[2020-07-29 03:26] huanggze commented on #2681
verified

[2020-07-29 03:32] junotx commented on #2590
verified
/close

[2020-07-29 03:32] #2590 closed

[2020-07-29 03:39] duanjiong opened #2692 "The entered alias has no length limit."
**Describe the Bug**
The entered alias has no length limit.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/3678855/88753912-09e94600-d190-11ea-9e8c-1f117a803e40.png)

**Versions Used**
KubeSphere: 3.0
Kubernetes: (If KubeSphere installer used, you can skip this)

[2020-07-29 03:46] junotx commented on #2594
@wansir `devops-pr` was invited as devops project admin, but he could not see `Pipelines` menu and `Credentials` menu in `Project Management`
![image](https://user-images.githubusercontent.com/49136171/88754178-91cf5000-d190-11ea-8ce0-06ef3d4116f0.png)

[2020-07-29 03:57] rayzhou2017 commented on #2586
verified

[2020-07-29 03:57] #2586 closed

[2020-07-29 04:07] duanjiong opened #2693 "When a volume is mounted on the pod, there is no corresponding pod in the resource list of the storage volume."
**Describe the Bug**
When a volume is mounted on the pod, there is no corresponding pod in the resource list of the storage volume.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/3678855/88755443-c264b900-d193-11ea-8f44-50ac19c0ab9c.png)

**Versions Used**
KubeSphere: 3.0
Kubernetes: (If KubeSphere installer used, you can skip t

[2020-07-29 04:08] duanjiong commented on #2693
/milestone 3.0.0
/priority high
/assign @leoendless   @min-zh

[2020-07-29 04:10] rayzhou2017 commented on #2687
verified

[2020-07-29 04:10] #2687 closed

[2020-07-29 04:27] harrisonliu5 commented on #2624
/kind need-to-verify

[2020-07-29 04:27] rayzhou2017 commented on #2682
What do you mean? Do you mean I can enable service mesh only without logging enabled now?

[2020-07-29 04:28] harrisonliu5 commented on #2627
/kind need-to-verify

[2020-07-29 06:02] Forest-L opened #2695 "When creating a snapshot, make sure the word is clicked twice or more, and the interface will pop up the existing word"
* Make sure the word is clicked twice or more
![image](https://user-images.githubusercontent.com/50984129/88762856-930a7800-d1a4-11ea-802c-57f8da2d3614.png)

![image](https://user-images.githubusercontent.com/50984129/88762587-0f508b80-d1a4-11ea-81ea-a65711951e80.png)

* K8s1.17.6+KubeSpherev3.0.0

[2020-07-29 06:04] Forest-L commented on #2695
/kind bug
/area console
/assign @leoendless
/priority low

[2020-07-29 06:06] huanggze commented on #2682
Yes, you can enable service mesh only without logging enabled. It will only deploy es, but NOT the entire logging stack (such as fluent bit operator)

[2020-07-29 06:09] rayzhou2017 commented on #1492
not fixed yet. /cc @wanjunlei Can you show an example of the solution here?

[2020-07-29 06:25] leoendless commented on #1492
Did you select the `sync host timezone` in the container form?
![image](https://user-images.githubusercontent.com/8739949/88764345-60ae4a00-d1a7-11ea-81a0-e69fdf300b16.png)

[2020-07-29 06:41] bingws opened #2696 "how to get access Token in ks3.0?"
I reported 403 forbidden according to the [2.0 token method](https://kubesphere.com.cn/docs/zh-CN/api-reference/api-guide/).
![image](https://user-images.githubusercontent.com/10806595/88765704-73c21980-d1a9-11ea-8ba7-07f61a0e4371.png)
![image](https://user-images.githubusercontent.com/10806595/88765738-850b2600-d1a9-11ea-8995-ad8d447f567c.png)

[2020-07-29 06:46] rayzhou2017 commented on #1492
The solution is not correct. It is still using the UTC. /cc @zryfish @pixiake please take a look this one. It might need to configure K8s controller to use local time

[2020-07-29 06:47] rayzhou2017 commented on #1492
The solution is not correct. It is using the UTC. /cc @zryfish @pixiake please take a look this one. It might need to configure K8s controller to use local time

[2020-07-29 06:48] Forest-L opened #2697 "Lack of required tips"
* When create project
![image](https://user-images.githubusercontent.com/50984129/88766221-3c07a180-d1aa-11ea-951e-13651320674c.png)

[2020-07-29 06:48] Forest-L commented on #2697
/kind bug
/area console
/assign @leoendless

[2020-07-29 06:54] rayzhou2017 commented on #2189
verified

[2020-07-29 06:54] #2189 closed

[2020-07-29 07:08] zryfish commented on #1492
https://github.com/kubernetes/kubernetes/issues/47202 Cronjob timezone is not supported by Kubernetes, it's too complicated, they want to focus on the core functionality and leave issue like this to the community. Currently, I can think of two approaches to solve this:
1. Mount `/etc/timezone` to kube-controller-manager, cause it's kube-controller-manager's job to calculate when to run cronjob. Th

[2020-07-29 07:11] liuyp2018 commented on #2637
/close

[2020-07-29 07:11] #2637 closed

[2020-07-29 07:15] rayzhou2017 commented on #1492
Yes, It is better to just put a notice under the schedule time edit box right now, also remove the sync local time because it is useless. /cc @leoendless

[2020-07-29 07:38] wansir commented on #2696
[code]

[2020-07-29 07:55] bingws commented on #2696
then, how can I access the Swagger UI in 3.0?

[2020-07-29 08:11] yangpei425 opened #2698 "Release \"ks-openldap\" does not exist"
![截图录屏_选择区域_20200729161019](https://user-images.githubusercontent.com/12710203/88774459-0ff21d80-d1b6-11ea-9035-dde5fbccffc3.png)

[2020-07-29 08:51] zryfish commented on #2347
There is already an issue reported in the community https://github.com/kubernetes/kubernetes/issues/89360 ,  and a PR https://github.com/kubernetes/kubernetes/pull/90721 , but not likely it will get merged soon.

[2020-07-29 08:52] calvinyv commented on #2552
verified

[2020-07-29 08:52] #2552 closed

[2020-07-29 08:57] calvinyv commented on #2582
verified

[2020-07-29 08:57] #2582 closed

[2020-07-29 09:01] Warden-Thresh opened #2699 "Parameterized pipeline dont send parameter's value"
**Describe the Bug**
A clear and concise description of what the bug is.

#### Parameterized pipeline dont send parameter's value

![image](https://user-images.githubusercontent.com/22620409/88780025-faccbd00-d1bc-11ea-99fe-fa1e1831d9c5.png)

![image](https://user-images.githubusercontent.com/22620409/88779276-2a2efa00-d1bc-11ea-889b-04b88d95f05a.png)
![image](https://user-images.githubusercontent

[2020-07-29 09:11] liuyp2018 opened #2700 "Apps that are not published to the app Store cannot be upgraded"
**Describe the Bug**
Apps that are not published to the app Store cannot be upgraded
<img width="596" alt="upgrade" src="https://user-images.githubusercontent.com/36271543/88780944-4c297c00-d1be-11ea-9875-ebaafd602aab.png">

**steps**
1 Create application versions V1 and V2 in the application template in workspace
2 Enter the project in enterprise space and deploy the application version V1
3 Once

[2020-07-29 09:18] #2696 closed

[2020-07-29 09:22] bingws opened #2701 "how can I access the Swagger UI in 3.0?"
according to [2.0  method](https://kubesphere.com.cn/docs/zh-CN/api-reference/api-guide/)，I can't  access the the Swagger UI in 3.0.

![image](https://user-images.githubusercontent.com/10806595/88782381-19808300-d1c0-11ea-8358-9552896548b8.png)

[2020-07-29 09:36] liuyp2018 opened #2702 "404 error occurred while changing the state of the warning policy"
**Describe the Bug**
An error occurred while changing the state of the warning policy
<img width="925" alt="alert" src="https://user-images.githubusercontent.com/36271543/88783945-066eb280-d1c2-11ea-918b-271e86b5caf2.png">

**Versions Used**
KubeSphere:3.0.0
Kubernetes:
host-v1.15.12
member1-v1.17.9

**Environment**
host: 3node /ubuntu 16.04 4cpu/16g
member1: 2 nodes /centos7 8cpu/16g

/kind bug
/

[2020-07-29 10:12] liuyp2018 commented on #2702
/close

[2020-07-29 10:12] #2702 closed

[2020-07-29 10:49] shaowenchen commented on #2650
/kind need-to-verify

[2020-07-29 11:16] wansir commented on #2678
/assgin @leoendless

[2020-07-29 12:44] #2681 closed

[2020-07-29 13:00] calvinyv commented on #2645
verified

[2020-07-29 13:00] #2645 closed

[2020-07-29 13:07] calvinyv opened #2704 "Error happens when a workspace admin tries to save a pipeline under the devops project of this workspace"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Error happens when a workspace admin tries to create a devops project

**Versions Used**
KubeSphere: 3.0 alpha 2

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a user and a workspace
2. Assign this user as this workspace admin
3. Go to this

[2020-07-29 13:07] calvinyv commented on #2704
/kind bug
/area devops
/assign @leoendless @wansir @shaowenchen

[2020-07-29 13:09] calvinyv commented on #2644
verified

[2020-07-29 13:09] #2644 closed

[2020-07-29 13:24] calvinyv commented on #2667
can't reproduce, closed

[2020-07-29 13:24] #2667 closed

[2020-07-29 13:43] rayzhou2017 commented on #2564
what status is the issue?

[2020-07-29 13:50] rayzhou2017 commented on #2620
Any update?

[2020-07-29 13:54] rayzhou2017 commented on #2698
Is this 2.1.1? Please check storage and Helm version

[2020-07-29 14:01] harrisonliu5 commented on #2626
/kind need-to-verify

[2020-07-29 15:01] zryfish commented on #2347
/kind need-to-verify

[2020-07-29 15:05] zryfish commented on #2501
Cannot reproduce using the latest build, can you verify it again?
/cc @wangtian-010

[2020-07-29 15:08] zryfish commented on #2701
Not supported now, but welcome any contribution to implement it.

[2020-07-29 15:10] zryfish commented on #2691
/kind need-to-verify

[2020-07-29 15:11] #2693 closed

[2020-07-30 02:02] rayzhou2017 commented on #2691
verified

[2020-07-30 02:02] #2691 closed

[2020-07-30 02:20] zryfish commented on #1457
It's unlikely we can implement this feature before v3.0 release, move it to v3.1.0
/milestone 3.1.0

[2020-07-30 02:27] zryfish commented on #1472
No need to restart the Nginx controller if just change ingress resource, the Nginx controller can watch and apply automatically. I think you mean we need to restart the Nginx controller if we change some value in the Nginx controller config map, that's true. But rolling update doesn't require more than one replica, we can still do that with just one, create a new replica first, after it becomes re

[2020-07-30 02:30] zryfish commented on #1785
/milestone BackLog

[2020-07-30 03:00] zryfish commented on #1899
Yeah, there is a related issue https://github.com/kubernetes/kubernetes/issues/3030

[2020-07-30 03:07] zryfish commented on #1665
/close

[2020-07-30 03:07] #1665 closed

[2020-07-30 03:20] zryfish commented on #2411
/kind need-to-verify

[2020-07-30 03:21] zryfish commented on #2513
/kind need-to-verify

[2020-07-30 03:22] zryfish commented on #2670
/cc @Forest-L
can you verify it again using the latest build? It should be fixed now

[2020-07-30 05:09] rayzhou2017 opened #2709 "custom ws role for devops view is wrong"
**Describe the Bug**
`ray` is the admin of the ws and we can see there are several devops projects. Now create a custom role with devops project view access. Log in with the user, can't see the devops projects.
![Screen Shot 2020-07-30 at 1 05 55 PM](https://user-images.githubusercontent.com/28859385/88882984-b6492c00-d265-11ea-9af1-e65c7390e99c.png)
![Screen Shot 2020-07-30 at 1 06 05 PM](https:/

[2020-07-30 05:17] rayzhou2017 opened #2710 "custom ws with app repo permission denied"
**Describe the Bug**
`ws-tester14` is the user with custom ws role `app repo view access`. Log in the user and drill down, got error msg.
![Screen Shot 2020-07-30 at 1 13 25 PM](https://user-images.githubusercontent.com/28859385/88883418-e1804b00-d266-11ea-82d4-28b5c6864ef1.png)
![Screen Shot 2020-07-30 at 1 13 10 PM](https://user-images.githubusercontent.com/28859385/88883428-e6dd9580-d266-11ea-9

[2020-07-30 06:22] wansir commented on #2710
`kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/master/roles/ks-core/prepare/files/ks-init/iam-accounts.yaml`

Update custom ws role to verify.

[2020-07-30 07:47] Ma-Dan commented on #2347
Verified, close issue.

[2020-07-30 07:47] #2347 closed

[2020-07-30 08:07] shaowenchen commented on #2699
/kind need-to-verify

[2020-07-30 08:14] rayzhou2017 commented on #1413
verified

[2020-07-30 08:14] #1413 closed

[2020-07-30 08:25] bingws commented on #2701
ok.thanks

[2020-07-30 08:25] #2701 closed

[2020-07-30 08:43] duanjiong opened #2711 "Storage class names should be checked"
**Describe the Bug**
Storage class names should be checked

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/3678855/88901835-e8698680-d283-11ea-89de-f74f6ca46d29.png)

**Versions Used**
KubeSphere: 3.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/priority low
/assign @leoendless

[2020-07-30 09:08] rayzhou2017 commented on #2710
verified

[2020-07-30 09:08] #2710 closed

[2020-07-30 09:10] rayzhou2017 commented on #2683
same issue with https://github.com/kubesphere/console/issues/1020 not fixed yet

[2020-07-30 09:13] rayzhou2017 commented on #2548
verified

[2020-07-30 09:13] #2548 closed

[2020-07-30 09:15] rayzhou2017 commented on #2563
verified

[2020-07-30 09:15] #2563 closed

[2020-07-30 09:27] rayzhou2017 commented on #2648
verified

[2020-07-30 09:27] #2648 closed

[2020-07-30 09:37] rayzhou2017 opened #2713 "audit log missing name for app repo"
**Describe the Bug**
I create an app repo called `test`, but the audit logs only show the type, no name here like other resource.
![Screen Shot 2020-07-30 at 5 33 20 PM](https://user-images.githubusercontent.com/28859385/88907501-49488d00-d28b-11ea-8a07-015f95ba5549.png)
![Screen Shot 2020-07-30 at 5 36 05 PM](https://user-images.githubusercontent.com/28859385/88907518-4d74aa80-d28b-11ea-96c9-fc7e

[2020-07-30 09:55] rayzhou2017 opened #2714 "Fuzzy search issue"
**Describe the Bug**
I test on audit and found the following problem. I guess logging/event may have the same problem
It is OK to use exach search on project `my-project` and use fuzzy search using keywork `my`. But can't search anything using keywork `my-`, `my-pr`, `my-project` for fuzzy search.

![Screen Shot 2020-07-30 at 5 50 55 PM](https://user-images.githubusercontent.com/28859385/88909475-

[2020-07-30 10:00] benjaminhuo commented on #2714
/assign @wanjunlei
@wanjunlei pls take a look at this

[2020-07-30 10:03] wanjunlei commented on #2713
The add repos API is a non-standard API, the name of repos is in the request body like this

![image](https://user-images.githubusercontent.com/53003665/88909606-e9071a80-d28d-11ea-93cf-2a263567bb0f.png)

Now the auditing is not handler the non-standard apps.
This problem also exists in other APIs of openpitrix and devops.
Does this problem need to be resolved in 3.0 or 3.1?

[2020-07-30 10:04] rayzhou2017 commented on #2713
Move to 3.1. @zheng1 @shaowenchen please take a look at this one

[2020-07-30 11:02] calvinyv opened #2715 "Feat: any personal data register or update, should send the owner a notification"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Feat: any personal data register or update, should send the owner a notification, through mail or any available notification tool.

**Versions Used**
Feat: any personal data register or update, should send the owner a notification

[2020-07-30 11:03] calvinyv opened #2716 "Feat: allow the owner of his logon id to delete this id"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Feat: allow the owner of his logon id to delete this id

[2020-07-30 11:40] huanggze commented on #2714
Logging doesn't have this issue. I am using Match Phrase Prefix for fuzzy search @wanjunlei

![image](https://user-images.githubusercontent.com/22350668/88918628-5e79e780-d29c-11ea-832c-36f23a3321f4.png)

[2020-07-30 11:48] rayzhou2017 opened #2717 "project custom role incomplete"
**Describe the Bug**
Project menu has volume snapshot, grayscale release, build image that are not in the role customization.
<img width="799" alt="Screen Shot 2020-07-30 at 7 44 50 PM" src="https://user-images.githubusercontent.com/28859385/88919324-7a31bd80-d29d-11ea-935d-80345e19ae95.png">

**Versions Used**
KubeSphere: 3.0.0-dev

[2020-07-30 14:56] zheng1 commented on #2564
If you set ResourceQuota, then you must specify the `resources requests and limits` of each container when you create the Deployment.
Here is an example:
[code]
MySQL app 1.6.6 [5.7.30] has a bug, **config `requests and limits` in `values.yaml` are not working**. This needs to be fixed by the application developer.
/assign  @hlwanghl

[2020-07-30 15:58] wansir commented on #2684
fixed in https://github.com/kubesphere/kubesphere/issues/2684

![image](https://user-images.githubusercontent.com/8263040/88945218-4d42d200-d2c0-11ea-9d33-d455421c35c8.png)

[2020-07-30 16:01] zackzhangkai commented on #2670
The pr above is just fix the service of istio .  This issue is about the api-server sevice in kube-system is missed.

[2020-07-30 16:02] wansir commented on #2536
duplicate https://github.com/kubesphere/kubesphere/issues/2717

/close

[2020-07-30 16:02] #2536 closed

[2020-07-31 01:56] #592 closed

[2020-07-31 02:24] zryfish commented on #1492
<img width="977" alt="截屏2020-07-31 10 21 56" src="https://user-images.githubusercontent.com/3326354/88993154-b7d32c80-d317-11ea-956a-1fc734237620.png">

A tooltip added to advise user to adjust schedule plan based on their timezone. I think we can close this issue now.

[2020-07-31 03:47] rayzhou2017 commented on #2714
verified

[2020-07-31 03:47] #2714 closed

[2020-07-31 03:50] rayzhou2017 commented on #2709
verified

[2020-07-31 03:50] #2709 closed

[2020-07-31 03:53] rayzhou2017 commented on #2684
verified

[2020-07-31 03:53] #2684 closed

[2020-07-31 05:24] rayzhou2017 opened #2721 "action fuzzy search not work on audit"
**Describe the Bug**
I try to search the action `create` using fuzzy search, but it does not work. Please check other condition search.
![Screen Shot 2020-07-31 at 1 21 34 PM](https://user-images.githubusercontent.com/28859385/89002950-03460480-d331-11ea-9026-6b0dccf6f251.png)
![Screen Shot 2020-07-31 at 1 21 49 PM](https://user-images.githubusercontent.com/28859385/89002964-0a6d1280-d331-11ea-83e

[2020-07-31 05:40] junotx commented on #2612
verified
/close

[2020-07-31 05:40] #2612 closed

[2020-07-31 05:41] junotx commented on #2594
verified
/close

[2020-07-31 05:41] #2594 closed

[2020-07-31 05:43] WaysonWei commented on #2564
yes, that's why I had set the limits in the values.yaml ( default setting without limits ) as the screenshot showed, but still not working.

[2020-07-31 05:44] #2573 closed

[2020-07-31 05:51] wanjunlei commented on #2721
The action does not support fuzzy search.

[2020-07-31 06:02] rayzhou2017 opened #2722 "pipeline creation permission problems"
**Describe the Bug**
1.  log in with platform admin, input github token, got the err msg as the first and second screenshots show.
2. log in with ws admin or self provisioner, input github token, got the err msg as the third screenshot shows.

First screenshot
![Screen Shot 2020-07-31 at 2 04 13 PM](https://user-images.githubusercontent.com/28859385/89005401-f2988d00-d336-11ea-9e0e-e4a4e04dad12.pn

[2020-07-31 06:53] wanjunlei commented on #2721
The action field is an enumerated value, fuzzy searching has little meaning.
There are similar problems as below:
  Resource Type only support fuzzy search
  verb only support exact search
  Status code only support exact search
  Source IP only support fuzzy search

Dose these all need to support exact and fuzzy search?

[2020-07-31 06:56] rayzhou2017 commented on #2721
I don't think so. But you need to explain somewhere, e.x., in docs.

[2020-07-31 06:57] rayzhou2017 commented on #2721
source ip should support exact search. I used it.

[2020-07-31 07:07] wanjunlei commented on #2721
Ok, these will be reflected in the user guider。

[2020-07-31 07:41] stringk245 opened #2723 "FAILED - RETRYING: Create kubeadm token for joining nodes with 24h expiration"
step-1：cd kubesphere-all-v2.1.1/scripts ; then    ./install.sh
step-2: All-in-one
i got this failed!  !!!!!!!!!, how to do ?????????

FAILED - RETRYING: Create kubeadm token for joining nodes with 24h expiration (default) (1 retries left).
fatal: [ks-allinone -> ks-allinone]: FAILED! => {"attempts": 5, "changed": true, "cmd": ["/usr/local/bin/kubeadm", "--kubeconfig", "/etc/kubernetes/admin.conf",

[2020-07-31 07:53] rayzhou2017 commented on #2721
Please give an accurate guide for it.

[2020-07-31 08:13] leoendless commented on #2697
By design. It will be validated before form submitting and will use the cluster selected in the list as the default cluster.

[2020-07-31 08:13] TonyK-T opened #2724 "All-in-One how to add worker?"
All-in-One  how to add worker?
i want a Master and some workers, if i use All-in-One, how to add worker? (only just a Master)
have QQ群 or Wechat群？ to Facilitate communication and problem solving !!!!!!!!!!

[2020-07-31 08:15] rayzhou2017 commented on #2724
Are you using version < 3.0? Those do not support scaling from allinone. KubeSphere v3.0 does. Please check github.com/kubesphere/kubekey

[2020-07-31 08:21] TonyK-T commented on #2724
i user kubesphere-all-v2.1.1.zip   to install (All-in-One), i  want to add workers,
i have 3 Local physical machine (8G memory)

[2020-07-31 09:11] rayzhou2017 commented on #2682
Not fixed yet. Please try it again.

[2020-07-31 09:12] rayzhou2017 commented on #2724
For 2.1.1, as I said, you need to reinstall.

[2020-07-31 09:12] #2724 closed

[2020-07-31 09:16] #1492 closed

[2020-07-31 09:22] zackzhangkai commented on #2670
The reason why the website is not match with the terminal is that, when the service in terminal has no selector , this service will be omited. This sitituation maybe more suitable.  If the website show the services, which had no selector, which means they had no backend pods, when clicked into this item on the website, and it would show you the blank, maybe it's strange.

[2020-07-31 09:48] #2390 closed

[2020-07-31 09:49] #2388 closed

[2020-07-31 09:50] #2384 closed

[2020-07-31 09:57] #2344 closed

[2020-07-31 10:14] duanjiong commented on #2711
verified

[2020-07-31 10:14] #2711 closed

[2020-07-31 10:15] duanjiong commented on #2692
verified

[2020-07-31 10:15] #2692 closed

[2020-07-31 10:16] duanjiong commented on #2689
verified

[2020-07-31 10:16] #2689 closed

[2020-07-31 10:17] huanggze commented on #2682
/kind need-to-verify

[2020-07-31 10:19] huanggze commented on #2682
/kind need-to-verify

[2020-07-31 11:56] rayzhou2017 commented on #2682
verified

[2020-07-31 11:56] #2682 closed

[2020-07-31 12:46] rayzhou2017 commented on #2722
verified

[2020-07-31 12:46] #2722 closed

[2020-07-31 12:49] rayzhou2017 commented on #2683
verified

[2020-07-31 12:49] #2683 closed

[2020-07-31 13:17] rayzhou2017 commented on #2680
duplicate with https://github.com/kubesphere/console/issues/493

[2020-07-31 13:17] #2680 closed

[2020-07-31 13:29] rayzhou2017 commented on #1162
verified

[2020-07-31 13:29] #1162 closed

[2020-07-31 13:29] rayzhou2017 commented on #970
verified

[2020-07-31 13:29] #970 closed

[2020-07-31 13:30] #660 closed

[2020-07-31 13:31] rayzhou2017 commented on #1223
should be fixed in 3.0

[2020-08-01 01:00] huanggze commented on #2299
verified

[2020-08-01 01:00] #2299 closed

[2020-08-01 03:51] rayzhou2017 opened #2731 "self provisioner can't invite member to its project"
**Describe the Bug**
<img width="1229" alt="Screen Shot 2020-08-01 at 11 49 38 AM" src="https://user-images.githubusercontent.com/28859385/89093461-34840a80-d3ed-11ea-889b-7fcd8ce6eda5.png">

**Versions Used**
KubeSphere: 3.0.0-dev

[2020-08-01 04:28] wansir commented on #2731
[code]

/kind need-to-verify

[2020-08-01 04:44] rayzhou2017 commented on #2731
verified

[2020-08-01 04:44] #2731 closed

[2020-08-01 04:46] rayzhou2017 opened #2732 "custom project role permission denied"
**Describe the Bug**
A user with custom project role `Application Workloads View / Application Workloads Management` logs in, and tries to create statefulset service but denied.
<img width="1100" alt="Screen Shot 2020-08-01 at 12 45 03 PM" src="https://user-images.githubusercontent.com/28859385/89094308-220dcf00-d3f5-11ea-8196-8a8c19877ea2.png">

<img width="1280" alt="Screen Shot 2020-08-01 at 12

[2020-08-01 05:28] wangtian-010 commented on #2356
verification passed,close this issue

[2020-08-01 05:28] #2356 closed

[2020-08-01 05:42] wangtian-010 commented on #2411
verification passed,close this isuue

[2020-08-01 05:42] #2411 closed

[2020-08-01 05:47] wangtian-010 commented on #2501
verification passed,close this isuue

[2020-08-01 05:47] #2501 closed

[2020-08-01 06:16] wangtian-010 opened #2734 "some unexpected behaviors when creating project role in one-cluster project of muti-cluster namespace"
Describe the Bug
some unexpected behaviors when creating project role in one-cluster project of muti-cluster namespace

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Click 'Platform management'
2.Click 'Access control'
3.Click 'muti-cluster-ws' namespace
4.Click 'project management'
5.Click one project
6.Cli

[2020-08-01 06:30] wansir commented on #2734
[code]

[2020-08-01 10:11] #2697 closed

[2020-08-01 11:55] Warden-Thresh commented on #2651
The same as #2699 , but jenkins ui is working well

[2020-08-01 13:57] wangtian-010 commented on #2625
alias length not limit to 63

[2020-08-01 14:01] wangtian-010 opened #2735 "Error happened when duplicated name for creating devops under muti-cluster-ws"
Describe the Bug
Error happened when duplicated name for creating devops under muti-cluster-ws
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Click 'Platform management'
2.Click 'Access control'
3.Click 'muti-cluster-ws' namespace
4.Click 'Devops project'
5.Create one devopse project with duplicated name
6.Er

[2020-08-01 14:04] wangtian-010 commented on #2626
verification passed ,close this isuue

[2020-08-01 14:04] #2626 closed

[2020-08-01 14:25] wangtian-010 opened #2736 "Error happened when modify devops project under muti-cluster ws"
Describe the Bug
Error happened when modify devops project under muti-cluster ws

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Click 'Platform management'
2.Click 'Access control'
3.Click 'muti-cluster-ws' namespace
4.Click 'Devops project'
5.Create one devopse project and then edit it
6.Error happened
![im

[2020-08-02 05:36] harrisonliu5 commented on #2736
/assign @shaowenchen

[2020-08-02 05:38] harrisonliu5 commented on #2736
This error will occur if the created devops project data is modified without synchronization

[2020-08-02 08:40] rayzhou2017 opened #2737 "Custom platform role permission - multi-cluster"
**Describe the Bug**
A user `p-tester2` with custom platform role `Clusters View` logs in a multi-cluster env and has the following error. There are three pages have permission problem: overview, cluster settings (basic info that has same issue with overview, cluster visibility).
<img width="1238" alt="Screen Shot 2020-08-02 at 4 36 06 PM" src="https://user-images.githubusercontent.com/28859385/89

[2020-08-02 08:54] rayzhou2017 opened #2738 "Custom platform role permission problem"
**Describe the Bug**
A user `p-tester5` with the custom platform role `Roles View / Users Management` logs in and got the following error msg
<img width="1238" alt="Screen Shot 2020-08-02 at 4 50 47 PM" src="https://user-images.githubusercontent.com/28859385/89119373-af7a1d80-d4e0-11ea-81d2-fe05fcf5a6c2.png">
<img width="1220" alt="Screen Shot 2020-08-02 at 4 51 36 PM" src="https://user-images.git

[2020-08-02 09:09] rayzhou2017 opened #2739 "custom platform role missing item"
**Describe the Bug**
A user with custom platform role `Clusters Management` is missing crd. Clusters View should have the same issue.
<img width="439" alt="Screen Shot 2020-08-02 at 5 08 52 PM" src="https://user-images.githubusercontent.com/28859385/89119680-dc2f3480-d4e2-11ea-91b9-452c746a2d28.png">

**Versions Used**
KubeSphere: 3.0.0-dev
Kubernetes: 1.15.12(host), 1.18.6(member)

[2020-08-02 10:43] wangtian-010 opened #2740 "Error happened when one-cluster-project viewer login under muti-cluster ws"
Describe the Bug
Error happened when one-cluster-project viewer under muti-cluster ws

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Invite members to be view roles for one cluster project under muti-cluster-ws
  account role is platform-regular for member,ws role is mutil-cluster-ws-viewer
2.Login in with t

[2020-08-02 10:57] wangtian-010 commented on #2624
verification passed,close this isuue

[2020-08-02 10:57] #2624 closed

[2020-08-02 10:59] wangtian-010 commented on #2628
verification passed,close this issue

[2020-08-02 10:59] #2628 closed

[2020-08-02 11:03] wangtian-010 commented on #2627
verification passed,close this issue

[2020-08-02 11:03] #2627 closed

[2020-08-02 11:10] wangtian-010 opened #2741 "Record didn't dispaly after pipeline saved under muti-cluster-ws"
Describe the Bug
Record didn't display after pipeline saved under muti-cluster ws
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Click 'Platform management'
2.Click 'Access control'
3.Click 'muti-cluster-ws' namespace
4.Click 'Devops project'
5.Create devops and then pipeline
6.Record didn't display after pip

[2020-08-02 11:12] wangtian-010 commented on #2650
Verification passed,close this issue

[2020-08-02 11:12] #2650 closed

[2020-08-02 11:13] wangtian-010 commented on #2535
Verification passed,close this issue

[2020-08-02 11:13] #2535 closed

[2020-08-02 11:14] wangtian-010 commented on #2734
vericiation passed ,close this issue

[2020-08-02 11:14] #2734 closed

[2020-08-02 11:20] wangtian-010 opened #2742 "member didn't display after was invited to one cluster project under muti-cluster ws"
Describe the Bug
member didn't display after was invited to one cluster project under muti-cluster ws
Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Click 'Platform management'
2.Click 'Access control'
3.Click 'muti-cluster-ws' namespace
4.Click 'one cluster project'
5.Create devops and then pipeline
6.Invite

[2020-08-02 11:25] rayzhou2017 opened #2743 "custom platform role permission"
**Describe the Bug**
A custom role and the erro msg are as follows
<img width="1280" alt="Screen Shot 2020-08-02 at 7 20 57 PM" src="https://user-images.githubusercontent.com/28859385/89121921-c9722b00-d4f5-11ea-8a48-ad8c2ff52a78.png">
<img width="1209" alt="Screen Shot 2020-08-02 at 7 23 35 PM" src="https://user-images.githubusercontent.com/28859385/89121927-cf680c00-d4f5-11ea-9e3c-aa438f19609c.p

[2020-08-02 11:29] rayzhou2017 opened #2744 "custom platform role permission"
**Describe the Bug**
A custom platform role and the err msg (go into devops project crendential) as follows
<img width="1280" alt="Screen Shot 2020-08-02 at 7 26 38 PM" src="https://user-images.githubusercontent.com/28859385/89122007-6339d800-d4f6-11ea-9a42-011bf10dd052.png">
<img width="1216" alt="Screen Shot 2020-08-02 at 7 27 23 PM" src="https://user-images.githubusercontent.com/28859385/891220

[2020-08-02 13:30] wansir commented on #2742
federated resources synchronization fails.
/assign @zryfish

[2020-08-02 13:59] wansir commented on #2739
/assign @leoendless

[2020-08-02 14:05] wansir commented on #2740
https://github.com/kubesphere/kubesphere/issues/2742#issuecomment-667674315

[2020-08-02 14:18] wansir commented on #2737
[code]

The custom role needs to be updated.

/kind need-to-verify

[2020-08-02 14:19] wansir commented on #2743
[code]

The custom role needs to be updated.

/kind need-to-verify

[2020-08-02 14:19] wansir commented on #2744
[code]

The custom role needs to be updated.

/kind need-to-verify

[2020-08-02 14:19] wansir commented on #2738
[code]

The custom role needs to be updated.

/kind need-to-verify

[2020-08-03 01:11] #1592 closed

[2020-08-03 01:11] hewenhong commented on #1592
due to not a bug

[2020-08-03 02:01] zryfish commented on #2742
/cc @pixiake Something wrong with kubefed installation

[2020-08-03 02:33] wansir commented on #2674
/assign @leoendless
[code]

[2020-08-03 02:34] wansir commented on #2678
/kind need-to-verify

[2020-08-03 02:38] liuyp2018 commented on #2633
After the final expansion is successful, it will be updated

[2020-08-03 02:38] #2633 closed

[2020-08-03 02:43] rayzhou2017 opened #2745 "custom project role permission"
**Describe the Bug**
Please check the screenshot for the problem
![Screen Shot 2020-08-03 at 10 42 03 AM](https://user-images.githubusercontent.com/28859385/89141074-1b5a9580-d576-11ea-8a2e-4d3fa71930e8.png)
![Screen Shot 2020-08-03 at 10 42 17 AM](https://user-images.githubusercontent.com/28859385/89141081-21507680-d576-11ea-98af-cbceba77c20a.png)

**Versions Used**
KubeSphere: 3.0.0-dev

[2020-08-03 02:45] liuyp2018 commented on #2546
/close

[2020-08-03 02:45] #2546 closed

[2020-08-03 02:46] liuyp2018 commented on #2583
/close

[2020-08-03 02:46] #2583 closed

[2020-08-03 02:48] rayzhou2017 commented on #2732
verified

[2020-08-03 02:48] #2732 closed

[2020-08-03 02:48] rayzhou2017 commented on #2717
verified

[2020-08-03 02:48] #2717 closed

[2020-08-03 03:01] rayzhou2017 opened #2746 "custom project role permission - 2"
**Describe the Bug**
A user with custom project role `Volume Snapshots View / Volume Snapshots Management` logs in. There are a few problems here. Storage custom roles all have the same problem.
1. Should not show overview page for this user.
2. No volume snapshot menu appears
![Screen Shot 2020-08-03 at 10 59 07 AM](https://user-images.githubusercontent.com/28859385/89141947-a50b6280-d578-11ea-81

[2020-08-03 03:07] rayzhou2017 opened #2747 "custom project role permission - 3"
**Describe the Bug**
The following custom role should not see the overview page. All configuration custom roles have the same problem.
![Screen Shot 2020-08-03 at 11 05 02 AM](https://user-images.githubusercontent.com/28859385/89142249-76da5280-d579-11ea-972e-54590e747bdc.png)
![Screen Shot 2020-08-03 at 11 04 55 AM](https://user-images.githubusercontent.com/28859385/89142258-7c379d00-d579-11ea-91

[2020-08-03 03:08] liuyp2018 commented on #2630
/close

[2020-08-03 03:08] #2630 closed

[2020-08-03 03:28] rayzhou2017 opened #2748 "custom project permmision -4"
**Describe the Bug**
A custom project role with `Custom Monitoring View` should not see overview page.
![Screen Shot 2020-08-03 at 11 26 11 AM](https://user-images.githubusercontent.com/28859385/89143189-5364d700-d57c-11ea-9faf-8d418f6d44fc.png)

![Screen Shot 2020-08-03 at 11 26 17 AM](https://user-images.githubusercontent.com/28859385/89143193-58c22180-d57c-11ea-8dc7-331efa652e54.png)

member ma

[2020-08-03 04:02] liuyp2018 commented on #2615
/close

[2020-08-03 04:02] #2615 closed

[2020-08-03 04:04] liuyp2018 commented on #2614
/close

[2020-08-03 04:04] #2614 closed

[2020-08-03 04:08] rayzhou2017 commented on #2739
verified

[2020-08-03 04:08] #2739 closed

[2020-08-03 04:10] rayzhou2017 opened #2749 "Custom platform role can't view crd"
**Describe the Bug**
Please check the screenshots
![Screen Shot 2020-08-03 at 12 08 23 PM](https://user-images.githubusercontent.com/28859385/89145080-2e736280-d582-11ea-84ee-980eec8b90be.png)
![Screen Shot 2020-08-03 at 12 09 38 PM](https://user-images.githubusercontent.com/28859385/89145088-359a7080-d582-11ea-8940-7dbc7bad9f80.png)

**Versions Used**
KubeSphere: 3.0.0-dev

[2020-08-03 04:21] liuyp2018 opened #2750 "The version of the application template displayed is incorrect"
**Describe the Bug**
The version of the application template displayed is incorrect
![image](https://user-images.githubusercontent.com/36271543/89145544-b1e18380-d583-11ea-99f6-1165da540e74.png)

<img width="872" alt="ap version" src="https://user-images.githubusercontent.com/36271543/89145553-b73ece00-d583-11ea-866c-052dfa7bd27d.png">

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0

[2020-08-03 04:21] liuyp2018 commented on #2606
/close

[2020-08-03 04:21] #2606 closed

[2020-08-03 04:24] liuyp2018 commented on #1409
/close

[2020-08-03 04:24] #1409 closed

[2020-08-03 04:31] liuyp2018 commented on #2281
/close

[2020-08-03 04:31] #2281 closed

[2020-08-03 04:40] rayzhou2017 commented on #2737
verified

[2020-08-03 04:40] #2737 closed

[2020-08-03 04:42] rayzhou2017 commented on #2738
verified

[2020-08-03 04:42] #2738 closed

[2020-08-03 05:34] liuyp2018 commented on #2603
/close

[2020-08-03 05:34] #2603 closed

[2020-08-03 05:37] liuyp2018 commented on #2605
/close

[2020-08-03 05:37] #2605 closed

[2020-08-03 05:46] liuyp2018 commented on #2513
/close

[2020-08-03 05:46] #2513 closed

[2020-08-03 05:48] rayzhou2017 commented on #2743
verified

[2020-08-03 05:48] #2743 closed

[2020-08-03 05:49] liuyp2018 commented on #2518
/close

[2020-08-03 05:49] #2518 closed

[2020-08-03 05:49] rayzhou2017 commented on #2744
verified

[2020-08-03 05:49] #2744 closed

[2020-08-03 05:50] liuyp2018 commented on #2519
/close

[2020-08-03 05:50] #2519 closed

[2020-08-03 05:53] liuyp2018 commented on #2520
/close

[2020-08-03 05:53] #2520 closed

[2020-08-03 05:57] liuyp2018 commented on #2522
/close

[2020-08-03 05:57] #2522 closed

[2020-08-03 05:59] liuyp2018 commented on #2523
/close

[2020-08-03 05:59] #2523 closed

[2020-08-03 06:03] liuyp2018 commented on #2525
/close

[2020-08-03 06:03] #2525 closed

[2020-08-03 06:07] liuyp2018 commented on #2438
/close

[2020-08-03 06:07] #2438 closed

[2020-08-03 06:08] liuyp2018 commented on #2420
/close

[2020-08-03 06:08] #2420 closed

[2020-08-03 06:10] liuyp2018 commented on #2338
/close

[2020-08-03 06:10] #2338 closed

[2020-08-03 06:10] liuyp2018 commented on #2331
/close

[2020-08-03 06:10] #2331 closed

[2020-08-03 06:13] liuyp2018 commented on #2511
/close

[2020-08-03 06:13] #2511 closed

[2020-08-03 06:15] liuyp2018 commented on #2503
/close

[2020-08-03 06:15] #2503 closed

[2020-08-03 06:21] liuyp2018 commented on #1957
The tests confirm that the problem still exists

[2020-08-03 06:23] liuyp2018 commented on #2492
/close

[2020-08-03 06:23] #2492 closed

[2020-08-03 06:30] rayzhou2017 commented on #2745
verified

[2020-08-03 06:30] #2745 closed

[2020-08-03 06:34] rayzhou2017 commented on #2746
Not fixed yet. Overview is removed, but still missing storage
![Screen Shot 2020-08-03 at 2 33 10 PM](https://user-images.githubusercontent.com/28859385/89152841-62588300-d596-11ea-917b-9dc5b8ee2281.png)

[2020-08-03 06:38] rayzhou2017 commented on #2747
verified

[2020-08-03 06:38] #2747 closed

[2020-08-03 06:42] rayzhou2017 commented on #2748
verified

[2020-08-03 06:42] #2748 closed

[2020-08-03 06:44] rayzhou2017 opened #2752 "project custom role permission"
**Describe the Bug**
A custom project role with role management, but can't delete a role.
![Screen Shot 2020-08-03 at 2 42 03 PM](https://user-images.githubusercontent.com/28859385/89153560-b6b03280-d597-11ea-8ae7-583b47ddf842.png)
![Screen Shot 2020-08-03 at 2 42 13 PM](https://user-images.githubusercontent.com/28859385/89153579-c29bf480-d597-11ea-8008-367aba1a6ba6.png)

**Versions Used**
KubeSph

[2020-08-03 06:46] rayzhou2017 commented on #2752
It seems role management depends on member view, right?

[2020-08-03 06:51] harrisonliu5 commented on #2741
/assign @shaowenchen

[2020-08-03 06:54] wansir commented on #2752
yes

[2020-08-03 06:56] huanggze commented on #2313
This has never occurred for a long time

[2020-08-03 06:56] #2313 closed

[2020-08-03 06:57] rayzhou2017 commented on #2749
I applied the latest iam-account.yaml, but still have the same problem

[2020-08-03 07:10] wansir commented on #2749
The custom role needs to be updated.

[2020-08-03 07:13] harrisonliu5 commented on #2735
/assign @shaowenchen

[2020-08-03 07:32] liuyp2018 commented on #2632
Click the next button to enter the second page, and the data display is empty
<img width="942" alt="page" src="https://user-images.githubusercontent.com/36271543/89157075-7902d800-d59e-11ea-8e62-18952a0477a1.png">

[2020-08-03 07:34] liuyp2018 commented on #2607
/close

[2020-08-03 07:34] #2607 closed

[2020-08-03 07:35] liuyp2018 commented on #2502
/close

[2020-08-03 07:35] #2502 closed

[2020-08-03 07:35] harrisonliu5 commented on #2736
/kind need-to-verify

[2020-08-03 07:42] liuyp2018 commented on #2469
The tests confirm that the problem still exists

![image](https://user-images.githubusercontent.com/36271543/89157899-dd726700-d59f-11ea-88ff-0e37b269087e.png)

[2020-08-03 07:44] liuyp2018 commented on #2632
/remove-kind need-to-verify

[2020-08-03 08:03] liuyp2018 commented on #2616
The first time a custom monitor template is created, the description information is correct;
Create the same type of custom monitor template again. The description information is incorrect

![image](https://user-images.githubusercontent.com/36271543/89159891-bc5f4580-d5a2-11ea-96a0-f043a5b007e1.png)

[2020-08-03 08:23] calvinyv commented on #2704
verified

[2020-08-03 08:23] #2704 closed

[2020-08-03 08:24] liuyp2018 commented on #2616
/remov-kind need-to-verify

[2020-08-03 08:26] liuyp2018 commented on #2616
/remove-kind need-to-verify

[2020-08-03 08:27] calvinyv opened #2754 "Error happens when a workspace admin tries to edit a pipeline by 'Edit' quick link menu"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**Describe the Bug**
Error happens when a workspace admin tries to edit a pipeline by 'Edit' quick link menu

**Versions Used**
KubeSphere: 3.0 alpha 2

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a user and a workspace
2. Assign this user as this workspace a

[2020-08-03 08:27] calvinyv commented on #2754
/kind bug
/area devops
/assign @wansir @shaowenchen @leoendless

[2020-08-03 08:29] liuyp2018 commented on #1957
The tests confirm that the problem still exists
/remove-kind need-to-verify

[2020-08-03 08:29] liuyp2018 commented on #2593
/close

[2020-08-03 08:29] #2593 closed

[2020-08-03 08:30] liuyp2018 commented on #2545
/close

[2020-08-03 08:30] #2545 closed

[2020-08-03 08:32] liuyp2018 commented on #2469
/remove-kind need-to-verify

[2020-08-03 08:34] harrisonliu5 commented on #1957
can you tell me your test env address?

[2020-08-03 09:49] duanjiong commented on #2690
verified

[2020-08-03 09:49] #2690 closed

[2020-08-03 09:49] #2635 closed

[2020-08-03 10:05] harrisonliu5 commented on #2754
this issue has fixed

[2020-08-03 10:11] rayzhou2017 commented on #2746
verified

[2020-08-03 10:11] #2746 closed

[2020-08-03 10:13] harrisonliu5 commented on #2754
this issue has fixed in #[#1057](https://github.com/kubesphere/console/pull/1057)

[2020-08-03 10:17] rayzhou2017 commented on #2752
verified

[2020-08-03 10:17] #2752 closed

[2020-08-03 11:45] leoendless commented on #2490
Image Builder now removed from overview.

[2020-08-03 11:45] #2490 closed

[2020-08-03 12:27] rayzhou2017 opened #2755 "custom project role permission"
**Describe the Bug**
A custom project role with `Project Roles View / Project Members View / Project Roles Management` got the following error. It seems a nested/logic problem here.
<img width="1215" alt="Screen Shot 2020-08-03 at 8 23 08 PM" src="https://user-images.githubusercontent.com/28859385/89182012-605ae800-d5c7-11ea-8f97-0447633ace79.png">
<img width="1232" alt="Screen Shot 2020-08-03 at

[2020-08-03 12:32] rayzhou2017 opened #2756 "custom project role permission - 1"
**Describe the Bug**
A custom project role with `Project Roles View` can't view role members
<img width="1229" alt="Screen Shot 2020-08-03 at 8 30 36 PM" src="https://user-images.githubusercontent.com/28859385/89182466-5d142c00-d5c8-11ea-9be5-f23515ce3662.png">
<img width="1221" alt="Screen Shot 2020-08-03 at 8 30 25 PM" src="https://user-images.githubusercontent.com/28859385/89182498-6604fd80-d5c

[2020-08-03 13:07] rayzhou2017 commented on #2749
verified

[2020-08-03 13:07] #2749 closed

[2020-08-03 13:16] rayzhou2017 opened #2757 "No image builder shows in project"
**Describe the Bug**
Install a minimal env, then enable devops. As we can see devops shows in the ws, but in the project, image builder does not appear.
<img width="1208" alt="Screen Shot 2020-08-03 at 9 13 35 PM" src="https://user-images.githubusercontent.com/28859385/89186540-8637bb00-d5ce-11ea-8b04-5be6f7522880.png">
<img width="1220" alt="Screen Shot 2020-08-03 at 9 13 45 PM" src="https://user

[2020-08-03 13:19] rayzhou2017 opened #2758 "self provisioner can't create alert policy"
**Describe the Bug**
Here is the error msg
<img width="1240" alt="Screen Shot 2020-08-03 at 9 17 26 PM" src="https://user-images.githubusercontent.com/28859385/89186815-e7f82500-d5ce-11ea-8484-45d9f3d42b56.png">

**Versions Used**
KubeSphere: 3.0.0-dev

[2020-08-03 14:08] calvinyv commented on #2754
verified

[2020-08-03 14:08] #2754 closed

[2020-08-04 00:51] calvinyv commented on #1480
@benjaminhuo @junotx pls double confirm, the scenarios mentioned above are supported or not?

[2020-08-04 00:59] calvinyv commented on #1598
@zheng1 pls double confirm if this is supported or not in 3.0?

[2020-08-04 01:00] calvinyv commented on #1324
closed

[2020-08-04 01:00] #1324 closed

[2020-08-04 01:31] zheng1 commented on #1598
Please move this issue to 3.1.0. This is not supported in 3.0.0.

[2020-08-04 01:39] #1570 closed

[2020-08-04 01:40] whbq commented on #1570
是机器的问题

[2020-08-04 01:48] benjaminhuo commented on #2222
Maybe we can go in a more compatible way that is:
1. Workspace still select namespace by label.
2. We can add a prefix to new-created namespace
3. No change to existing namespace

[2020-08-04 01:56] #2755 closed

[2020-08-04 01:58] #366 closed

[2020-08-04 01:59] benjaminhuo commented on #1796
We've added prometheus alert rules in 3.0 https://github.com/kubesphere/kube-prometheus/blob/ks-v3.0/manifests/prometheus-rules.yaml#L1409.
User wil will be notified when the certification will be expired in 7 days and 24 hours.

[2020-08-04 01:59] #450 closed

[2020-08-04 02:03] #472 closed

[2020-08-04 02:04] benjaminhuo commented on #1386
We've already add volume usage alerts in prometheus alert rules in 3.0 https://github.com/kubesphere/kube-prometheus/blob/ks-v3.0/manifests/prometheus-rules.yaml#L1281

[2020-08-04 02:05] #531 closed

[2020-08-04 02:06] #554 closed

[2020-08-04 02:09] rayzhou2017 commented on #561
auditing is supported in 3.0

[2020-08-04 02:09] #561 closed

[2020-08-04 02:09] rayzhou2017 commented on #578
F5 should be supported

[2020-08-04 02:09] #578 closed

[2020-08-04 02:10] benjaminhuo commented on #1480
They are supported by prometheus alert rules + event alert , user need to enable event component and setup notification manager receiver & configs to receive these alerts. No UI support to setup notification manager receiver yet though.

[2020-08-04 02:11] #580 closed

[2020-08-04 02:11] rayzhou2017 commented on #581
already support

[2020-08-04 02:11] #581 closed

[2020-08-04 02:14] rayzhou2017 commented on #589
Already opensourced

[2020-08-04 02:14] #589 closed

[2020-08-04 02:14] zheng1 commented on #2622
Please install the latest installer and check the version of the apps has upgraded to 0.3+

[2020-08-04 02:17] #630 closed

[2020-08-04 02:18] #637 closed

[2020-08-04 02:19] #651 closed

[2020-08-04 02:19] #685 closed

[2020-08-04 02:20] #705 closed

[2020-08-04 02:20] #713 closed

[2020-08-04 02:22] rayzhou2017 commented on #897
/cc @FeynmanZhou Please check if this post is valuable to post on forum

[2020-08-04 02:22] #895 closed

[2020-08-04 02:22] #891 closed

[2020-08-04 02:23] #817 closed

[2020-08-04 02:23] #812 closed

[2020-08-04 02:24] #887 closed

[2020-08-04 02:24] #767 closed

[2020-08-04 02:24] #726 closed

[2020-08-04 02:24] #722 closed

[2020-08-04 02:25] #775 closed

[2020-08-04 02:26] #784 closed

[2020-08-04 02:26] #796 closed

[2020-08-04 02:26] #804 closed

[2020-08-04 02:27] #805 closed

[2020-08-04 02:28] rayzhou2017 commented on #803
Please verify on KubeSphere 3.0.0

[2020-08-04 02:28] #803 closed

[2020-08-04 02:28] #769 closed

[2020-08-04 02:28] #777 closed

[2020-08-04 02:29] #806 closed

[2020-08-04 02:29] #782 closed

[2020-08-04 02:29] #763 closed

[2020-08-04 02:38] rayzhou2017 commented on #1178
Is this problem still existing in 3.0?

[2020-08-04 02:39] rayzhou2017 commented on #1176
Please check if they are fixed in 3.0

[2020-08-04 02:39] benjaminhuo commented on #579
对接对象存储可以由用户自己设置 secret key/access key ， zone 等信息后完成。集成到 KubeSphere 没有必要吧？有个统一的 ui 设置一下对象存储的 secret？还不如用户自己创建 secret

[2020-08-04 02:40] rayzhou2017 commented on #1167
Please verify in 3.0

[2020-08-04 02:43] rayzhou2017 commented on #1152
Please check if this issue is still in 3.0

[2020-08-04 02:47] rayzhou2017 commented on #1352
It is supported in 3.0.0 now

[2020-08-04 02:47] #1476 closed

[2020-08-04 02:47] #1725 closed

[2020-08-04 02:47] huanggze commented on #1178
not fixed

[2020-08-04 02:48] huanggze commented on #1259
verified

[2020-08-04 02:48] #1259 closed

[2020-08-04 02:49] zheng1 commented on #1152
In 3.0:
1. workspace-self-provisioner can view repo and app template
2. supported HTTP basic auth based repo

[2020-08-04 02:52] rayzhou2017 commented on #1294
supported in 3.0

[2020-08-04 02:52] #1294 closed

[2020-08-04 02:58] rayzhou2017 commented on #1438
put on 3.1.0

[2020-08-04 02:59] rayzhou2017 commented on #1405
put on 3.10

[2020-08-04 03:29] rayzhou2017 commented on #2756
verified

[2020-08-04 03:29] #2756 closed

[2020-08-04 03:42] rayzhou2017 commented on #1569
Need to verify on v3.0

[2020-08-04 03:43] rayzhou2017 commented on #1245
duplicate with #2620

[2020-08-04 03:43] #1245 closed

[2020-08-04 03:44] #1381 closed

[2020-08-04 03:45] rayzhou2017 commented on #1490
Please help verify this one @zheng1

[2020-08-04 03:46] rayzhou2017 commented on #1631
duplicate with #1490

[2020-08-04 03:46] #1631 closed

[2020-08-04 03:46] wansir commented on #2757
/kind need-to-verify

[2020-08-04 04:03] rayzhou2017 commented on #2757
verifid

[2020-08-04 04:03] #2757 closed

[2020-08-04 04:50] rayzhou2017 opened #2762 "Nothing happens when validating docker registry"
**Describe the Bug**
Create a docker registry secret and validate, but nothing happens.
![Screen Shot 2020-08-04 at 12 49 01 PM](https://user-images.githubusercontent.com/28859385/89254146-04d53c80-d651-11ea-8b97-27953533f186.png)

**Versions Used**
KubeSphere: 3.0.0-dev

[2020-08-04 05:00] rayzhou2017 opened #2763 "Image builder self provisioner permission denied"
**Describe the Bug**
self provisioner can't use image builder by connecting github.
![Screen Shot 2020-08-04 at 12 58 33 PM](https://user-images.githubusercontent.com/28859385/89254711-621dbd80-d652-11ea-8de5-bd6ed28472c4.png)

**Versions Used**
KubeSphere: 3.0.0-dev

[2020-08-04 05:25] calvinyv commented on #1480
okay, so I plan to keep this issue open before we introduce UI in KS 3.1 or later, that should be called the total solution or perfect feature, thanks.

[2020-08-04 05:26] calvinyv commented on #1386
closed

[2020-08-04 05:26] #1386 closed

[2020-08-04 05:26] calvinyv commented on #1796
closed

[2020-08-04 05:32] calvinyv commented on #1634
@zryfish does this fix in 3.0 or pending to 3.1?

[2020-08-04 05:34] calvinyv commented on #1791
@min-zh pls double check if this issue is fixed or not in 3.0

[2020-08-04 05:35] calvinyv commented on #1660
@wansir we should already support it, right? if so, pls help to close this issue, thx.

[2020-08-04 05:36] calvinyv commented on #1882
@huanggze pls help to confirm if this issue is fixed or not in 3.0, thx

[2020-08-04 05:53] calvinyv commented on #1884
@FeynmanZhou pls double-check this issue on 3.0

[2020-08-04 06:02] wansir commented on #2758
[code]
/kind need-to-verify

[2020-08-04 06:36] #2670 closed

[2020-08-04 06:40] calvinyv commented on #1453
verified

[2020-08-04 06:40] #1453 closed

[2020-08-04 06:57] rayzhou2017 opened #2764 "No kubectl terminal for custom platform role created"
**Describe the Bug**
The user `p-tester1` with the custom platform role `Clusters Management` does not have kubectl pod created. So it has no permission to open kubectl terminal.
![Screen Shot 2020-08-04 at 2 53 35 PM](https://user-images.githubusercontent.com/28859385/89262800-bf216f80-d662-11ea-9623-a40393e7435c.png)
![Screen Shot 2020-08-04 at 2 53 24 PM](https://user-images.githubusercontent.c

[2020-08-04 07:14] rayzhou2017 commented on #2764
Should remove or disable it on the bottom page since it is not in toolbox

[2020-08-04 07:48] #1370 closed

[2020-08-04 07:53] rayzhou2017 opened #2765 "Custom platform role permission problem"
**Describe the Bug**
A user with `Workspace view` or ` Workspace management` can not open the following page
![Screen Shot 2020-08-04 at 3 50 27 PM](https://user-images.githubusercontent.com/28859385/89268034-8d140b80-d66a-11ea-824b-62623fb4aa73.png)
![Screen Shot 2020-08-04 at 3 53 03 PM](https://user-images.githubusercontent.com/28859385/89268052-9604dd00-d66a-11ea-9756-30ff8172627e.png)

**Vers

[2020-08-04 08:27] zheng1 commented on #1490
Verified

[2020-08-04 08:27] #1490 closed

[2020-08-04 08:45] wansir commented on #2763
[code]

/kind need-to-verify

[2020-08-04 08:46] wansir commented on #2762
[code]

/kind need-to-verify

[2020-08-04 08:47] wansir commented on #2765
[code]

needs to update the custom role.

/kind need-to-verify

[2020-08-04 09:13] rayzhou2017 commented on #2762
verified

[2020-08-04 09:13] #2762 closed

[2020-08-04 09:15] rayzhou2017 commented on #2758
verified

[2020-08-04 09:15] #2758 closed

[2020-08-04 09:16] rayzhou2017 commented on #2763
verified

[2020-08-04 09:16] #2763 closed

[2020-08-04 09:28] Forest-L opened #2767 "When the POD number is full, there is no color reminder"
When the POD number is full, there is no color reminder

![image](https://user-images.githubusercontent.com/50984129/89277542-8a6be300-d677-11ea-81b3-32f26265eaf9.png)

KubeSpherev3.0.0

[2020-08-04 09:33] Forest-L commented on #2695
/lgtm

[2020-08-04 09:33] #2695 closed

[2020-08-04 09:34] Forest-L commented on #2767
/area console
/assign @leoendless
/priority low
/kind optimization

[2020-08-04 09:50] hlwanghl commented on #2564
It's caused by a UI bug and it was fixed. You can now change default values.yaml and it will work.

Be aware that it will run the test job by default, which doesn't expose `resources` configurations, and don't forget to disable it:

[code]

Not sure why `helm test` is executed. Maybe @zheng1 can take a look.

[2020-08-04 09:54] hlwanghl commented on #2564
[code]

As it's a convention to not set default `limits` in values.yaml for Helm developers, you should manually set it when the projects have limits set.

[2020-08-04 09:55] iamruhua opened #2768 "Network policy question"
I installed kubesphere 3.0 preview with EKS(k8s v1.17)

After I enabled the network isolation function, request from outside of the eks cluster, can not reach the service anymore( which I think is the very typical scenario).

I have alb,calico and domain working before this step. When I disable the network isolation, everything went back well. I think the problem is, the isolation functionality bl

[2020-08-04 10:13] harrisonliu5 commented on #1744
The back icon has been deleted. Its function is the same as that of the browser’s back button, and the breadcrumbs are better than the back button.

[2020-08-04 10:25] duanjiong commented on #2768
Depending on your kube-proxy and service configuration, the corresponding source ip address will change when the traffic is forwarded. You can only set up network policy ingress CIDR correctly if you know the source IP address.

For more information on how IP address changes work, you can refer to [this document](https://github.com/kubesphere/community/blob/master/sig-network/concepts-and-designs/

[2020-08-04 10:25] juan-vg commented on #2222
I would wait to the launch of the new v3, so the organizational changes could be addressed as part of the context

[2020-08-04 11:13] iamruhua commented on #2768
Thanks for your quick response. I read the document.
Here is my use case:

Service:
http, with ALB and external dns setup.
tcp, with external policy=local

network policy to deny traffics from other tenant namespaces:
Allow all traffic by default. (Which accept traffic from eks cluster external)
Deny traffic from namespace which does not belong to the system workspace.(Deny only traffics from othe

[2020-08-04 11:42] rayzhou2017 commented on #2742
The latest installer should fix this one.

[2020-08-04 11:42] rayzhou2017 commented on #2740
The latest installer fixed this one.

[2020-08-04 11:49] zheng1 commented on #1892
Fixed in 3.0

[2020-08-04 11:49] #1892 closed

[2020-08-04 11:55] rayzhou2017 commented on #2765
not fixed yet

[2020-08-04 12:28] zheng1 commented on #1716
Done in 3.0.0

[2020-08-04 12:28] #1716 closed

[2020-08-04 13:02] rayzhou2017 opened #2769 "Custom ws role permission"
**Describe the Bug**
A user with custom ws role `Project View` has the following problem
<img width="1230" alt="Screen Shot 2020-08-04 at 8 58 50 PM" src="https://user-images.githubusercontent.com/28859385/89296997-c9109600-d695-11ea-9ece-3473f141d40e.png">

**Versions Used**
KubeSphere: 3.0.0-dev

[2020-08-04 13:16] duanjiong commented on #2768
Yes， you are right.
In fact, all ks and k8s namespaces are now automatically labeled with "kubesphere.io/workspace=system-workspace."

But now the kubesphere project network policy allow granularity is namespace, to implement your requirements you need to allow namespace by namespace, which is cumbersome. Later kubesphere will add workspace level network policy, to achieve your requirements will b

[2020-08-05 02:03] harrisonliu5 commented on #2469
/kind need-to-verify

[2020-08-05 02:03] harrisonliu5 commented on #1957
/kind need-to-verify

[2020-08-05 02:32] rayzhou2017 commented on #2769
verified

[2020-08-05 02:32] #2769 closed

[2020-08-05 03:38] shaowenchen commented on #2741
Console gets data from Jenkins，but  it takes time to synchronize crd data. Please delay refreshing the page to optimize the experience.  @harrisonliu5

The design needs to be modified in 3.1 @Carlosfengv

[2020-08-05 05:09] rayzhou2017 opened #2772 "DevOps kubeconfig is not correct"
**Describe the Bug**
Using self provisioner to create a kubeconfig credential (the local cluster for the current user), but when run pipeline to deploy to the cluster, it failed. If I copy and paste admin kubeconfig, everything is OK. It seems the auto generated kubeconfig for the current user is not correct.
![Screen Shot 2020-08-05 at 1 05 45 PM](https://user-images.githubusercontent.com/2885938

[2020-08-05 06:52] rayzhou2017 opened #2773 "custom project role permission"
**Describe the Bug**
A user with custom project role `Application Workloads View`  or  `Application Workloads Management` visits all application tabs failed
![Screen Shot 2020-08-05 at 2 50 24 PM](https://user-images.githubusercontent.com/28859385/89381110-3b7f8580-d72b-11ea-9b8e-2f539eab312f.png)

<img width="1216" alt="Screen Shot 2020-08-05 at 2 58 09 PM" src="https://user-images.githubusercont

[2020-08-05 06:55] liuyp2018 commented on #2678
There are still problems

<img width="917" alt="error" src="https://user-images.githubusercontent.com/36271543/89381235-68cc3380-d72b-11ea-9263-2a1f861ef061.png">

/remove-kind need-to-verify

[2020-08-05 07:16] iamruhua commented on #2768
Thanks a lot.
Now I am move forward to use calico policy:

First label user created namespace with some label like "userCreated='true'", then for each user created namespace, deny access from all namespace with userCreate=="true".

I am not sure about the traffic from original namespace and traffics from outside of cluster like ELB of Amazon.
Can you give me some advice? @duanjiong

[2020-08-05 07:17] rayzhou2017 commented on #2773
I found there is no problem with grayscale release role. Given grayscale release is bundled with workload, It might be good to hide grayscale release in customizing role. As you can see, even the workload only role still can see grayscale menu. @leoendless @zryfish

[2020-08-05 07:20] wangtian-010 commented on #2736
varification passed,close this issue

[2020-08-05 07:20] #2736 closed

[2020-08-05 07:29] wangtian-010 commented on #2740
verification passed,close this issue

[2020-08-05 07:29] #2740 closed

[2020-08-05 07:31] rayzhou2017 opened #2774 "custom project role permission - 1"
**Describe the Bug**
A user with custom project role `image builder`, but can't visit image builder page. Also it can't open application tabs.
<img width="1223" alt="Screen Shot 2020-08-05 at 3 29 13 PM" src="https://user-images.githubusercontent.com/28859385/89384358-923b8e00-d730-11ea-8d18-aa041b31d315.png">
<img width="1213" alt="Screen Shot 2020-08-05 at 3 34 13 PM" src="https://user-images.gi

[2020-08-05 07:32] wangtian-010 commented on #2742
verification passed,close this issue

[2020-08-05 07:32] #2742 closed

[2020-08-05 07:33] wangtian-010 commented on #2620
verification passed,close this issue

[2020-08-05 07:33] #2620 closed

[2020-08-05 07:36] leoendless commented on #2773
The image builder should also be merged into workload management. Service creation and workload detail page may also call the image builder APIs.

[2020-08-05 07:39] rayzhou2017 opened #2775 "custom project role permission - 2"
**Describe the Bug**
user: Volume Snapshots View / Volume Snapshots Management
<img width="1201" alt="Screen Shot 2020-08-05 at 3 37 51 PM" src="https://user-images.githubusercontent.com/28859385/89385147-bea3da00-d731-11ea-9c6a-aef9e27e0b81.png">
<img width="1046" alt="Screen Shot 2020-08-05 at 3 38 38 PM" src="https://user-images.githubusercontent.com/28859385/89385175-c794ab80-d731-11ea-8cee-f7

[2020-08-05 07:47] wangtian-010 commented on #2622
verification passed,close this issue

[2020-08-05 07:47] #2622 closed

[2020-08-05 09:02] huanghe commented on #1669
没有解决，换机器可以。

[2020-08-05 09:03] duanjiong commented on #2768
Maybe I misunderstood you earlier.  Read my comment below.

`

`

Maybe I misunderstood you earlier.  Read my comment below.

[2020-08-05 09:22] duanjiong commented on #2768
For http traffic with ALB， You can do this below：
[code]
Put the namespaces you want to allow by default under the allowedIngressNamespaces, e.g. the namespace where your ELB is, the namespace where your ks is, etc.

After the ks-controller-manager starts, turn the project network isolation switch off and on again.

For tcp external traffic, you have to add the CIDR rule to allow the aws infra tra

[2020-08-05 09:29] hlwanghl commented on #2564
Submitted PR for testFramework issue: https://github.com/helm/charts/pull/23438

[2020-08-05 09:48] zryfish commented on #2772
/reopen

[2020-08-05 10:08] rayzhou2017 opened #2777 "can't rerun failed pipeline"
**Describe the Bug**
Click rerun the failed piple and got the following error msg. But clicking on the successful pipeline is fine.
<img width="1198" alt="Screen Shot 2020-08-05 at 6 05 49 PM" src="https://user-images.githubusercontent.com/28859385/89400498-8eb30180-d746-11ea-8934-bc93bd8724bc.png">

**Versions Used**
KubeSphere: 3.0.0-dev

[2020-08-05 10:13] harrisonliu5 commented on #2777
/assign @shaowenchen

[2020-08-05 10:15] harrisonliu5 commented on #2777
[POST] http://139.198.14.155:30885/kapis/devops.kubesphere.io/v1alpha2/devops/demo-devops767p6/pipelines/demo-devops/branches/master/runs/3/replay/

@shaowenchen

[2020-08-05 10:37] rayzhou2017 opened #2778 "custom devops role sees more info"
**Describe the Bug**
A user with custom devops role `pipeline view` can see regular project.
<img width="1220" alt="Screen Shot 2020-08-05 at 6 16 04 PM" src="https://user-images.githubusercontent.com/28859385/89401494-f4ec5400-d747-11ea-9f67-82806d0b53b6.png">

<img width="785" alt="Screen Shot 2020-08-05 at 6 15 49 PM" src="https://user-images.githubusercontent.com/28859385/89401526-0170ac80-d74

[2020-08-05 11:14] iamruhua commented on #2768
In the previous reply, by ELB, you mean the alb-ingress-controller right? That's what I am trying to do. I am trying to use calico to prevent namespaces with label like globalTraffic!='yes' to talk to each other. And allow all external traffic from both AWS elastic load balancer(ELB) and those namespaces with globalTraffic==‘yes’. The reason I have to use this logic is that, I can not identify the

[2020-08-05 11:19] zryfish commented on #2772
/kind need-to-verify

[2020-08-05 12:52] rayzhou2017 commented on #2772
verified

[2020-08-05 12:52] #2772 closed

[2020-08-05 13:22] rayzhou2017 commented on #2764
not fixed yet. Please check the problem carefully. I think for this custom platform role, it is better not to show the kubectl on the bottom line.
<img width="1051" alt="Screen Shot 2020-08-05 at 9 21 48 PM" src="https://user-images.githubusercontent.com/28859385/89417777-bb284700-d761-11ea-91db-03c1c4b13dcd.png">

[2020-08-05 13:29] rayzhou2017 commented on #2765
verified

[2020-08-05 13:29] #2765 closed

[2020-08-05 13:38] rayzhou2017 commented on #2699
/cc @huanggze please help verify this issue

[2020-08-05 13:41] rayzhou2017 commented on #1399
verified

[2020-08-05 13:41] #1399 closed

[2020-08-05 14:48] zheng1 commented on #2621
/kind need-to-verify

[2020-08-05 14:49] zheng1 commented on #2750
/kind need-to-verify

[2020-08-05 14:50] zheng1 commented on #2082
/kind need-to-verify

[2020-08-05 14:50] zheng1 commented on #1946
/kind need-to-verify

[2020-08-05 14:51] zheng1 commented on #1945
/kind need-to-verify

[2020-08-05 14:51] zheng1 commented on #1884
/kind need-to-verify

[2020-08-05 14:52] zheng1 commented on #1883
/kind need-to-verify

[2020-08-05 14:52] zheng1 commented on #1866
/kind need-to-verify

[2020-08-05 14:52] zheng1 commented on #1801
/kind need-to-verify

[2020-08-05 14:52] zheng1 commented on #1632
/kind need-to-verify

[2020-08-05 14:53] zheng1 commented on #1557
/kind need-to-verify

[2020-08-05 14:54] zheng1 commented on #1437
/kind need-to-verify

[2020-08-05 14:54] zheng1 commented on #1189
/kind need-to-verify

[2020-08-06 00:10] wansir commented on #2778
view all projects permission is granted by workspace role.
![image](https://user-images.githubusercontent.com/8263040/89475959-f8212780-d7bb-11ea-84de-044cc83163a5.png)
![image](https://user-images.githubusercontent.com/8263040/89475814-98c31780-d7bb-11ea-9599-d16c7c361858.png)

[2020-08-06 00:32] iamruhua commented on #2768
Solved by labeling user namespaces with tag, default allow all traffic, deny by label.
Thanks @duanjiong

[2020-08-06 00:32] #2768 closed

[2020-08-06 01:57] shaowenchen commented on #2777
![image](https://user-images.githubusercontent.com/43693241/89481435-46d5be00-d7ca-11ea-88e9-ebf193e8b453.png)

It works in my env. Is there any pattern in which this happens?

[2020-08-06 02:04] moyee opened #2779 "ks-account init error"
### kubectl get ep,svc,pod -n kubesphere-system

[code]

### describe
[code]

[2020-08-06 02:11] moyee commented on #1741
redis 可以用本地的，
用ep,svc 的方式桥接一个就可以了

[2020-08-06 02:12] rayzhou2017 commented on #2777
It might be user permission problem. I am using self provisioner. Maybe you are using admin?

[2020-08-06 02:21] rayzhou2017 commented on #2778
my mistake, gave wrong ws role

[2020-08-06 02:21] #2778 closed

[2020-08-06 02:24] zryfish commented on #2779
No redis, should find the reason why redis pods not created?

[2020-08-06 02:36] shaowenchen commented on #2777
[code]

[2020-08-06 02:39] rayzhou2017 commented on #2777
what is reason?

[2020-08-06 03:14] rayzhou2017 commented on #2664
verified

[2020-08-06 03:14] #2664 closed

[2020-08-06 03:16] rayzhou2017 commented on #1387
We are going to support Traditional Chinese, Simple Chinese, English, Spanish, Turkish in v3.0.0 console. How about alerting?

[2020-08-06 03:23] rayzhou2017 commented on #1091
duplicate with #1903

[2020-08-06 03:23] #1091 closed

[2020-08-06 03:24] #2214 closed

[2020-08-06 03:25] #2508 closed

[2020-08-06 04:17] shaowenchen commented on #2777
Replay function depends on the workflow file. But if an exception occurs during initialization, there will be no workflow file, e.g unable to access api.github.com.

Replay in Jenkins BlueOcean will also report an error.

We need to find a way to disable replay in this situation or push the community to solve it.

[2020-08-06 05:30] moyee commented on #2779
endpoints/redis                                   10.5.2.11:6379                                         15h

[2020-08-06 07:00] #1643 closed

[2020-08-06 07:08] Ma-Dan commented on #1387
Alerting could add language support by updating [alert adaptor email template](https://github.com/kubesphere/alert-adapter/blob/master/pkg/constants/email.go) with more language templates. KS console just create alert with its language selected as parameter(eg. en zh ...), alert will be created with the language parameter and notification email will be formated with that language.

[2020-08-06 07:10] rayzhou2017 commented on #1387
/cc @Sherlock113 Please take a look at this.

[2020-08-06 09:20] zpLang opened #2780 "prometeus No datapoints found node_uname_info"
默认监控指标node_uname_info，meminfo, network等没有

[2020-08-06 09:22] FeynmanZhou commented on #2780
English only

[2020-08-06 13:07] Sherlock113 commented on #1387
I see....so other language providers need to provide localization for two templates in this file: EmailKubeSphereNotifyResumeTemplate and EmailKubeSphereNotifyActiveTemplate, with the language code following the name (e.g. for Spanish it can be "EmailKubeSphereNotifyResumeTemplateSp =" and "EmailKubeSphereNotifyActiveTemplateSp =").

Honestly, this is not a localization-friendly way. We cannot req

[2020-08-06 13:18] rayzhou2017 commented on #1387
ok, before finding a nice way to do that, I think it is ok for now to provide English and Chinese.

[2020-08-06 14:37] Ma-Dan opened #2783 "OpenPitrix deployed app remains in project, after delete one project and creat a new project with the same name"
**Describe the Bug**
Delete one project with resources which contains a openpitrix deployed app, then create a project with same name. The app remains in new created project, but the workload is empty.

![image](https://user-images.githubusercontent.com/38337958/89544703-0bbca480-d835-11ea-9eab-2a4844c3fa1a.png)
![image](https://user-images.githubusercontent.com/38337958/89544733-12e3b280-d835-11e

[2020-08-06 23:22] xewn commented on #1572
这个是机器人回复的，官方出来回复一下呢？

[2020-08-06 23:42] FeynmanZhou commented on #1572
Has your local PVC been mounted to a Pod?

[2020-08-07 03:37] duanjiong opened #2784 "The label selector should be reset"
**Describe the Bug**
The tag selector should be reset when the workload is specified.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/3678855/89606361-51fc1d00-d8a2-11ea-9162-d54b459580fb.png)

**Versions Used**
KubeSphere: 3.0-dev
Kubernetes: (If KubeSphere installer used, you can skip this)

/kind bug
/priority medium
/assign @

[2020-08-07 03:50] duanjiong commented on #2784
![image](https://user-images.githubusercontent.com/3678855/89607053-2a0db900-d8a4-11ea-93a9-d667d51d2887.png)

[2020-08-07 03:55] duanjiong commented on #2784
/priority low

chrome+ windows

[2020-08-07 04:07] duanjiong commented on #2784
/remove-priority  medium

[2020-08-07 04:50] Ma-Dan opened #2785 "Multi-cluster project alias and description will be reset after edit them from one cluster"
**Describe the Bug**
Create a multi-cluster project with initial alias and description, then edit alsias and description from clusters/xxx/projects list, modification will take effect for a short period of time only on this cluster, then alias and description will be set back to initial values.

**Versions Used**
KubeSphere: v3.0.0

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a

[2020-08-07 05:28] wenxin-01 opened #2786 "The accounts/account roles search box does not handle Spaces"
**Describe the Bug**
The accounts/account roles search box does not handle Spaces

**Versions Used**
KubeSphere:3.0.0

**Environment**
testing env
http://139.198.12.26:30884/

**How To Reproduce**
Steps to reproduce the behavior:
1.Click 'Platform management'
2.Click 'Access control'
3.click 'accounts'/‘account roles’
4.Enter spaces in the search box

**Expected behavior**
The list displays all ac

[2020-08-07 05:54] wenxin-01 opened #2787 "After you type in the accounts/account roles search box, do not click Enter. After clicking the refresh button on the page, it should Filters out what is entered in the input box"
Describe the Bug
After you type in the accounts/account roles search box, do not click enter. After clicking the refresh button on the page, it should Filters out what is entered in the input box

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Click 'Platform management'
2.Click 'Access control'
3.click 'acco

[2020-08-07 05:55] wansir commented on #2678
[code]

/kind need-to-verify

[2020-08-07 05:55] wansir commented on #2678
[code]

/kind need-to-verify

[2020-08-07 06:09] wenxin-01 opened #2788 "Access Control/accounts,After the account is created successfully, the password in the 'Users' interface should be transmitted in Encrypted text"
Describe the Bug
Access Control/accounts,After the account is created successfully, the password in the 'Users' interface should  be transmitted in Encrypted text

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Click 'Platform management'
2.Click 'Access control'
3.click 'accounts’
4.click ‘create’
5.After en

[2020-08-07 06:24] wenxin-01 opened #2789 "Access Control/accounts,After selecting the account, switch to the next page or the previous page, the selected account is not selected"
Describe the Bug
After selecting the account, switch to the next page or the previous page, the selected account is not selected

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Click 'Platform management'
2.Click 'Access control'
3.click 'accounts’
4.Select an account
5.switch to the next page or the previous

[2020-08-07 06:40] wenxin-01 opened #2790 "Access Control/accounts,When changing the password of your login account, the interface prompts "incorrect old Password""
Describe the Bug
When changing the password of your login account, the interface prompts "incorrect old Password"

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'A'
2.Click 'Platform management'
3.Click 'Access control'
4.click 'accounts’
5.click account 'A'
6.click 'more',then click 'cha

[2020-08-07 06:44] leoendless commented on #2789
By design.
It's not property to keep selected keys after data paging. The user may not realize the previous choice. Better to divide into multiple operations.

[2020-08-07 06:50] wenxin-01 opened #2791 "Access Control/accounts,The IP shown in the account login history is incorrect"
Describe the Bug
The IP shown in the account login history is incorrect

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'A'
2.Click 'Platform management'
3.Click 'Access control'
4.click 'accounts’
5.click account 'A'
6.look at  'Login History'

Expected behavior
The IP shown in the accoun

[2020-08-07 07:01] wenxin-01 opened #2792 "Access Control/account Roles,The prompt for deleting a role should use the same template as the prompt for deleting an account"
Describe the Bug
The prompt for deleting a role should use the same template as the prompt for deleting an account

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'A'
2.Click 'Platform management'
3.Click 'Access control'
4.click 'account Roles’
5.delete role 'test'

Expected behavior
The

[2020-08-07 07:09] leoendless commented on #2792
Role deletion will check the related users. If no users with the role, it could be deleted directly. It's not the same as user deletion.

[2020-08-07 07:17] wenxin-01 commented on #2792
ok

[2020-08-07 07:17] #2792 closed

[2020-08-07 07:24] liuyp2018 opened #2793 "the description info of storage class is not displayed on the page"
**Describe the Bug**
Volume description information is not displayed on the page
![image](https://user-images.githubusercontent.com/36271543/89620269-02c5e480-d8c2-11ea-98fa-4ad459d0da98.png)

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority low

[2020-08-07 07:25] wenxin-01 opened #2794 "User Settings/After modified personal information, click "X" in the pop-up window , the page will not respond"
Describe the Bug
User Settings,After modified personal information, click "X" in the pop-up window , the page will not respond

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'A'
2.Click 'user settings'
3.modify personal information
4.click "X" in the pop-up window

Expected behavior
Resto

[2020-08-07 07:35] wansir commented on #2791
Additional configuration is required to record the source IP.

/remove-priority high

[2020-08-07 08:57] wanjunlei opened #2795 "custom role has no authorization to get credentials"
**Describe the Bug**
`user1` is a `platform-regular` user, it was invited to workspace `ws2` as `ws2-regular`, and add to a devops project as a custom role which only has authorization  `Credentials View / Credentials Management`. Login with `user1`, view the details of credential, it has the error `credentials.devops.kubesphere.io \"admin1\" is forbidden: User \"user1\" cannot get resource \"cred

[2020-08-07 08:57] wanjunlei commented on #2795
/assign @wansir

[2020-08-07 09:06] wansir commented on #2795
[code]

Update the custom role to verify.

[2020-08-07 09:42] liuyp2018 opened #2797 "When creating a volume, should set the fields that need to fill to be required fields"
**Describe the Bug**
When creating a volume, should set the fields that need to fill to be required fields

![image](https://user-images.githubusercontent.com/36271543/89631331-39f0c180-d8d3-11ea-9387-32efa107a247.png)

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority medium

[2020-08-07 09:51] leoendless commented on #2797
Could you provide a way to validate the parameters?

[2020-08-07 10:13] benjaminhuo opened #2799 "Duplicated events found in event search UI"
**Describe the Bug**
1. Delete a pod of a deployment with 2 replicas
2. waiting for the new pod created
3. After half an hour, duplicated events can be found in event search UI

![Snip20200807_54](https://user-images.githubusercontent.com/18525465/89635469-9820a300-d8d9-11ea-95ca-541fd48e1d13.png)

![Snip20200807_56](https://user-images.githubusercontent.com/18525465/89635429-8a6b1d80-d8d9-11ea-83

[2020-08-07 10:37] wanjunlei commented on #2795
verified
/close

[2020-08-07 10:37] #2795 closed

[2020-08-07 12:24] leoendless commented on #2786
Does this scene have any meaning?

[2020-08-07 12:32] imkratos opened #2800 "ks-install tiller keep CrashLoopBackOff"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**What's your question**
install process tiller CrashLoopBackOff

**Environment: OS & Hardware Information**
os:Linux master 3.10.0-1127.18.2.el7.x86_64 #1 SMP Sun Jul 26 15:27:06 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
centos7.6 16C/128G

k8s version:
Client Version: version.Info{Major:"1", Minor:"

[2020-08-07 12:36] FeynmanZhou commented on #2800
How did you install KubeSphere? Install it on Linux or K8s?

[2020-08-07 12:36] imkratos commented on #2800
on linux

[2020-08-07 12:41] imkratos commented on #2800
healthy check failed , but host machine ping pod ip is connected , i have no idea

[2020-08-07 13:05] FeynmanZhou commented on #2800
@pixiake @Forest-L Could you pls help to take a look at this issue?

[2020-08-07 14:01] wenxin-01 commented on #2786
The copied content may contain whitespace. After pasting, the user is not easily aware of the existence of whitespace

[2020-08-07 15:49] pixiake commented on #2800
You can use `kubectl logs` to check tiller's logs.

[2020-08-08 00:16] wansir commented on #2790
/reopen
/kind need-to-verify

[2020-08-08 00:48] liuyp2018 opened #2801 "For a new storage type, see that volume already exists in the volume page associated with it."
**Describe the Bug**
Create a storage type and view the volume data in the volume page associated with it.
Displays the volume associated with the deleted storage type of the same name.

![image](https://user-images.githubusercontent.com/36271543/89698351-49175400-d953-11ea-85a7-6495e5736b5e.png)

**steps**
1.Create a storage type
2. In the volume page, create a volume using this storage type
3.De

[2020-08-08 00:53] liuyp2018 opened #2802 "The alias setting item was missing when the storage type was created"
**Describe the Bug**
There are alias Settings when editing the storage type
but there is no alias setting when the storage type is created
![image](https://user-images.githubusercontent.com/36271543/89698558-80d2cb80-d954-11ea-893b-59aebbf42a8d.png)

![image](https://user-images.githubusercontent.com/36271543/89698582-9b0ca980-d954-11ea-93dc-b94659c4065c.png)

/kind bug
/area console
/assign @leoe

[2020-08-08 02:00] leoendless commented on #2802
There is also an alias setting when creating a storageclass now.

[2020-08-08 02:01] leoendless commented on #2801
@min-zh Please take a look.

[2020-08-08 02:11] liuyp2018 opened #2803 "when creating rbd storage type , the default value of the storage system was incorrect"
**Describe the Bug**
when creating rbd storage type , the default value of the storage system was 'kubernetes.io/rbd' ;The correct value should be 'ceph.com/rbd'

![image](https://user-images.githubusercontent.com/36271543/89700258-8d105600-d95f-11ea-8208-19dd8c54bc7f.png)

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority medium

[2020-08-08 02:12] imkratos commented on #2800
this is logs

kubectl logs tiller-deploy-79b566b5ff-clbcl -n kube-system

[main] 2020/08/07 12:24:44 Starting Tiller v2.14.3 (tls=false)
[main] 2020/08/07 12:24:44 GRPC listening on :44134
[main] 2020/08/07 12:24:44 Probes listening on :44135
[main] 2020/08/07 12:24:44 Storage driver is ConfigMap
[main] 2020/08/07 12:24:44 Max history per release is 0

[2020-08-08 02:20] leoendless commented on #2803
@min-zh Is that so?

[2020-08-08 02:28] liuyp2018 opened #2804 "ReadOnlyMany storage volumes should not be able to be written"
**Describe the Bug**
A storage volume with access mode ReadOnlyMany, mounted into a container group, should not be able to write in the mount directory
![image](https://user-images.githubusercontent.com/36271543/89700567-b336f580-d961-11ea-8605-a5d301625e64.png)

/kind bug
/area storage
/assign @min-zh
/milestone 3.0.0
/priority medium

[2020-08-08 03:06] JVMAK opened #2805 "点击项目 有报错 无法通过应用商店部署"
已参考  #1640

`错误信息  点击项目 查看项目信息右上角的提示信息如下：`
[code]
---

` ks版本 2.1.1 `

---

`ubuntu version`
[code]

执行  for job in `kubectl -n openpitrix-system get job -o jsonpath="{.items[*].metadata.name}"`; do kubectl -n openpitrix-system get job $job -o json | jq 'del(.spec.selector)' | jq 'del(.spec.template.metadata.labels)' | kubectl replace --force -f -; done  无效

执行如下无效

first:
kubectl edit cm -n kubes

[2020-08-08 03:07] liuyp2018 opened #2806 "Volumes of the RBD storage type cannot be scaled up"
**Describe the Bug**
Volumes of the RBD storage type cannot be scaled up

![image](https://user-images.githubusercontent.com/36271543/89701217-4292d780-d967-11ea-8a45-618f68fc6788.png)

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority medium

[2020-08-08 03:35] liuyp2018 opened #2807 "error occurred while creating a storage volume using snapshot"
**Describe the Bug**
error occurred while creating a storage volume using snapshot

![image](https://user-images.githubusercontent.com/36271543/89701582-db772200-d96a-11ea-9586-db56687478e8.png)

**steps**
1.Select a snapshot from the snapshot list and go to the Snapshot Details page
2. Click the Apply button to create the volume from the snapshot
3.The above error occurred while creating

/kind b

[2020-08-08 03:49] liuyp2018 opened #2808 "options are missing in the display item options"
**Describe the Bug**
Project, capacity, and creation time options are missing from the display item options

<img width="916" alt="11" src="https://user-images.githubusercontent.com/36271543/89701819-23974400-d96d-11ea-9613-626383a8d5c4.png">

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority low

[2020-08-08 04:00] liuyp2018 opened #2809 "the problem of deleting the volume snapshot"
**Describe the Bug**
Delete the volume snapshot, indicating that the deletion was successful, but it still exists in the list and needs to wait for a while before it disappears from the list
And the status has not been updated to deleting

<img width="684" alt="deleting" src="https://user-images.githubusercontent.com/36271543/89701938-6b6a9b00-d96e-11ea-9ecb-42940c522591.png">

/kind bug
/area con

[2020-08-08 07:58] pixiake commented on #2800
Whether the firewall is enabled on the server ?

[2020-08-08 09:16] imkratos commented on #2800
@pixiake
![image](https://user-images.githubusercontent.com/3302461/89706686-9f5bb580-d99a-11ea-9378-9bb5590a5fea.png)

![image](https://user-images.githubusercontent.com/3302461/89706694-b1d5ef00-d99a-11ea-8c9a-4b6541efe109.png)

Selinux is opening, set status to permissive。

[2020-08-08 09:32] liuyp2018 opened #2810 "Pipeline name check problem"
**Describe the Bug**
The name length can actually be created longer than 63 characters

<img width="628" alt="pipeline-length" src="https://user-images.githubusercontent.com/36271543/89706993-1bef9380-d99d-11ea-9728-89f2e031df68.png">

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority low

[2020-08-08 09:36] liuyp2018 opened #2811 "Pipeline description information is not displayed on the page"
**Describe the Bug**
Pipeline description information is not displayed on the page

![image](https://user-images.githubusercontent.com/36271543/89707070-a33d0700-d99d-11ea-9386-58725779c53c.png)

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority low

[2020-08-08 10:11] pixiake commented on #2800
Is there a firewall between servers ?

[2020-08-08 12:07] liuyp2018 commented on #2807
/close

[2020-08-08 12:07] #2807 closed

[2020-08-08 12:07] Forest-L opened #2812 "same application name in the application template"
same application name in the application template
![image](https://user-images.githubusercontent.com/50984129/89710085-aa224480-d9b2-11ea-975d-07cb8a44a120.png)

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority low

[2020-08-08 12:09] Forest-L opened #2813 "delete application error from application template"
delete application error from application template

![image](https://user-images.githubusercontent.com/50984129/89710128-fa99a200-d9b2-11ea-9e64-1ccd99da8d3a.png)

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority low

[2020-08-08 13:24] zheng1 commented on #2812
This is not a bug, it works as expected.

[2020-08-08 13:26] zheng1 commented on #2813
@leoendless Should prompt users to delete the app versions firstly.

[2020-08-08 13:39] wenxin-01 opened #2814 "After modifying the account role, the account can still access the permissions granted by the previous role"
Describe the Bug
After modifying the account role, the account can still access the permissions granted by the previous role
(By staying on the permission page given by the previous role, and access history)

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.There is an account A, whose role is ‘platform-admin’

[2020-08-08 13:54] wenxin-01 opened #2815 "Workspace/Failed to create a workspace role with the same name as a workspace role in another workspace"
Describe the Bug
Failed to create a workspace role with the same name as a workspace role in another workspace

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.There is an workspace A, it has a workspace role named 'test-wx'
2.create a workspace role named 'test-wx' in workspace 'B'

Expected behavior
created

[2020-08-08 14:12] wenxin-01 opened #2816 "Workspace/When an account has no platform role and only has devOps-management permissions, the account cannot delete devOps created by another account"
Describe the Bug
When an account has no platform role and only has devOps-management permission, the account cannot delete devOps created by another account

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.There is an account A, has no platform role and only has devOps-management permissions in workspace 'test

[2020-08-08 14:17] FeynmanZhou opened #2817 "The hint is misleading and its return is not correct when import an invalid member cluster"
## Issue
I have successfully imported an invalid member cluster into KubeSphere, then click into it, it hints the session timeout and I was logged out automatically. At that time, the hint is misleading and users don't know this is caused by the invalid imported cluster.

![image](https://user-images.githubusercontent.com/40452856/89712406-52d8a000-d9c3-11ea-9f96-15c4b22c0e6a.png)

Look at its URL

[2020-08-08 14:21] wenxin-01 opened #2818 "Workspace/After the 'App Repos' was created successfully, the author name is not displayed"
Describe the Bug
After the 'App Repos' was created successfully, the author name is not displayed

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'admin'
2.click 'workspace'
3.click 'test-wx'
4.click 'App Repos'
5.add repo

Expected behavior
Added successfully and contents displayed correc

[2020-08-08 14:35] wenxin-01 opened #2819 "Workspace/Click on one workspace member and go to the details page of another"
Describe the Bug
Click on one workspace member and go to the details page of another

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'admin'
2.click workspace
3.click workspace 'test-wx'
4.click 'Workspace Members'
5.There are workspace members ‘wenxin’ and ‘wenxin1’
6.click 'wenxin'

Expe

[2020-08-08 14:42] wenxin-01 commented on #2789
1、After selecting the content, the page will be prompted.
![image](https://user-images.githubusercontent.com/68640256/89713141-5c183b80-d9c8-11ea-9cc1-c36207ebf187.png)

2、user may want to delete accounts on different page.

[2020-08-08 14:50] FeynmanZhou commented on #2817
BTW, my member cluster is ready, but it looks not available in my host cluster. How to delete the invalid member cluster that I imported before?

![image](https://user-images.githubusercontent.com/40452856/89713298-769ee480-d9c9-11ea-9830-971a91ad412a.png)

[2020-08-08 15:01] wenxin-01 opened #2820 "Workspace/When the account only has the role of workspace, the page reports an error after login"
Describe the Bug
When the account only has the role of workspace, the page reports an error after login

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30884/

How To Reproduce
Steps to reproduce the behavior:
1.There is an account A, it has all the authority of workSpace 'text-wx'
2.Log in with account 'A'

Expected behavior
Successfully enter  workspace ‘test-wx’ an

[2020-08-09 01:45] wansir commented on #2815
Not a bug, `WorkspaceRole` is global scope CRD, workspace role name is unique within the cluster.

[2020-08-09 01:49] wansir commented on #2814
Not a bug, both of  platform-admin and workspaces-manager can list clusters.

[2020-08-09 01:52] wansir commented on #2819
/assign @leoendless

[2020-08-09 01:57] wansir commented on #2820
Update ks-console to verify.

/kind need-to-verify

[2020-08-09 01:58] wansir commented on #2818
/assign @zheng1

[2020-08-09 02:24] leoendless commented on #2789
This operation is not supported in ks.  Better to divide into multiple operations.

[2020-08-09 02:28] imkratos commented on #2800
![image](https://user-images.githubusercontent.com/3302461/89723579-fdd07480-da2a-11ea-888c-f52582e92e93.png)

The node1 status , none firewall

[2020-08-09 02:32] wansir commented on #2816
[code]

Update the custom role to verify.

/kind need-to-verify

[2020-08-09 04:49] FeynmanZhou commented on #2805
English only.

[2020-08-09 07:49] leoendless commented on #2785
Better to remove the operations of the fed managed project in the cluster.

[2020-08-09 07:55] wangtian-010 commented on #2625
verification passed,close this issue

[2020-08-09 07:55] #2625 closed

[2020-08-09 08:00] wangtian-010 commented on #2741
verification passed,close this issue

[2020-08-09 08:00] #2741 closed

[2020-08-09 08:32] Sonek-HoangBui opened #2822 "Request response to low when run kubesphere run on 3 node"
I have the issue
I run 3 node master on 3 VM, and backed are etcd cluster (I have 3 instances), VM run with multipass tool.
And I run k3s cluster, when I install kubesphere on kubenertes, everything is installed well i have no bug.
And after that I access kubephere-console and login with admin account and login success.
But when logged in the kubesphere dashboard, request to api server to long to

[2020-08-09 10:50] rayzhou2017 commented on #2764
verified

[2020-08-09 10:50] #2764 closed

[2020-08-09 12:45] Forest-L commented on #2822
@wansir  @benjaminhuo

[2020-08-09 12:47] #2812 closed

[2020-08-09 21:56] #2564 closed

[2020-08-10 01:46] #2815 closed

[2020-08-10 02:19] #2819 closed

[2020-08-10 02:35] wanjunlei opened #2823 "ws-viewer cannot list resource "clusters" in API group "resources.kubesphere.io" at the cluster scope"
**Describe the Bug**
The `user1` is a `platform-regular` user and was invented to workspace `ws` as `ws-viewer`. When login with `user1`, there is a error `clusters.resources.kubesphere.io is forbidden: user1 cannot list resource "clusters" in API group "resources.kubesphere.io" at the cluster scope`.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.gi

[2020-08-10 02:40] wansir commented on #2823
Same as https://github.com/kubesphere/kubesphere/issues/2820, update ks-console to the latest version to verify.

[2020-08-10 02:48] rayzhou2017 commented on #2773
verified

[2020-08-10 02:48] #2773 closed

[2020-08-10 02:51] benjaminhuo commented on #2822
@Sonek-HoangBui

We haven't tested and verified k3s yet, there might be problems installing kubesphere on k3s.
Let's confirm your env first:
3 node k3s cluster, 3 master node, no worker node?
3 node etcd cluster is also installed on the same vm?

Ben

[2020-08-10 02:51] rayzhou2017 commented on #2774
verified

[2020-08-10 02:51] #2774 closed

[2020-08-10 03:04] liuyp2018 opened #2824 "the latest version in the list and app store is not updated"
**Describe the Bug**
After deleting the latest version, the latest version in the list and app store is not updated

![image](https://user-images.githubusercontent.com/36271543/89748899-24a8ac80-daf8-11ea-86b9-f53a03689bfc.png)

![image](https://user-images.githubusercontent.com/36271543/89749126-1d35d300-daf9-11ea-9f2a-2b1491bcdde3.png)

/kind bug
/area console
/assign @leoendless
/milestone 3.0.

[2020-08-10 03:06] wanjunlei commented on #2823
This platform was installed today，the ks-console is the latest version.

[2020-08-10 03:07] rayzhou2017 commented on #2775
verified

[2020-08-10 03:07] #2775 closed

[2020-08-10 03:19] liuyp2018 opened #2825 "error occurred while setting the Jenkins mail configuration"
**Describe the Bug**
error occurred while setting the Jenkins mail configuration

![image](https://user-images.githubusercontent.com/36271543/89749646-33dd2980-dafb-11ea-8730-cd36299ed6bd.png)

/kind bug
/area devops
/assign @shaowenchen
/milestone 3.0.0
/priority high

[2020-08-10 03:57] Sonek-HoangBui commented on #2822
=> Yes, currently I ran 3 master nodes.

=> 3 node etcd ran on 3 vm separate and connect each other to cluster

[2020-08-10 04:18] #1526 closed

[2020-08-10 04:19] Xiangrui2019 commented on #1526
Thanks. I resloved.

[2020-08-10 05:43] liuyp2018 opened #2826 "Optional query fields are not displayed"
**Describe the Bug**
In the pipeline list query input box, no optional query fields, such as name, are displayed

<img width="668" alt="11" src="https://user-images.githubusercontent.com/36271543/89754635-495c4e80-db0f-11ea-9332-6894452d4e95.png">

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority low

[2020-08-10 06:09] zryfish commented on #2660
/cc @leoendless

[2020-08-10 06:10] zryfish commented on #2608
/milestone 3.1.0

[2020-08-10 06:45] rayzhou2017 opened #2828 "custom platform role can't edit project info"
**Describe the Bug**
A custom platform role with `Cluster Management` can't edit the project info as shown below.

![Screen Shot 2020-08-10 at 2 41 40 PM](https://user-images.githubusercontent.com/28859385/89757432-ce4b6600-db17-11ea-8c64-568175ab4629.png)
![Screen Shot 2020-08-10 at 2 43 19 PM](https://user-images.githubusercontent.com/28859385/89757450-ddcaaf00-db17-11ea-8428-7af0f1c38d4b.png)

[2020-08-10 06:54] tianbocheng commented on #1365
我也发现了，有好的处理方法吗

[2020-08-10 06:54] junotx commented on #2799
fixed by [kubesphere/kube-events#7](https://github.com/kubesphere/kube-events/pull/7)
/kind need-to-verify

[2020-08-10 06:59] tianbocheng opened #2829 "how to use istio to deploy application with helm ?"
## istio

- done a coustom helm
- upload helm file to App Repositories
- deploy applicaiton by App Repositories

**i can't use application governance function in customer helm**

**Installer Version**

[2020-08-10 08:07] liuyp2018 commented on #2802
/close

[2020-08-10 08:07] #2802 closed

[2020-08-10 08:07] liuyp2018 commented on #2793
/close

[2020-08-10 08:07] #2793 closed

[2020-08-10 08:12] huanggze opened #2831 "shut down verbose logs"
- [ ] kube-federation-system/kubefed-admission-webhook

![image](https://user-images.githubusercontent.com/22350668/89762991-28eabf00-db24-11ea-8106-d04fada4dd8e.png)

[2020-08-10 08:13] huanggze commented on #2831
/assign @zryfish
/priority medium
/milestone 3.0.0

[2020-08-10 08:13] huanggze commented on #2831
/area logging

[2020-08-10 08:18] liuyp2018 commented on #2678
/close

[2020-08-10 08:18] #2678 closed

[2020-08-10 08:20] Ma-Dan opened #2832 "Delete app template which has versions pops error"
**Describe the Bug**
Delete app template with existing versions will cause a Internal Server Error

![image](https://user-images.githubusercontent.com/38337958/89763354-ea093900-db24-11ea-94d2-9381cfc42eb9.png)

**Versions Used**
KubeSphere: v3.0.0

**Expected behavior**
It's a business logical error which could be handled and prompted more friendly, no need to cause an internal server error.

[2020-08-10 08:30] liuyp2018 commented on #2674
/close

[2020-08-10 08:30] #2674 closed

[2020-08-10 08:36] liuyp2018 commented on #2632
/close

[2020-08-10 08:36] #2632 closed

[2020-08-10 08:40] liuyp2018 commented on #2608
/remove-kind need-to-verify

[2020-08-10 09:09] harrisonliu5 commented on #2826
![image](https://user-images.githubusercontent.com/17872673/89767311-458af500-db2c-11ea-8a43-1069f4eac855.png)

[2020-08-10 09:18] harrisonliu5 commented on #2826
![image](https://user-images.githubusercontent.com/17872673/89767845-4ff9be80-db2d-11ea-99e8-79f805ea9fa6.png)

Have changed to this style

[2020-08-10 09:22] Ma-Dan opened #2833 "App template test deploy on multi-cluster can not create workload, and workspace-manager can not see application"
**Describe the Bug**
(1)One a two cluster kubesphere, host (1 node), product (3 nodes).
(2)Create a user ws-manager with workspace-manager access only
(3)Login with this ws-manager, creat a workspace openpitrix-test, then create a project openpitrix-project under it, use admin to set product cluster visible to workspace openpitrix-test.
(4)Create an app template with ws-manager, then test deploy i

[2020-08-10 09:32] huanggze commented on #2699
verified

[2020-08-10 09:33] huanggze commented on #2651
verified

[2020-08-10 09:33] huanggze commented on #2651
/kind need-to-verify

[2020-08-10 09:34] wansir commented on #2823
@wanjunlei update ks-console to the latest version to verify.

[2020-08-10 09:34] Forest-L opened #2834 "Alarm rules have been met, but there are no alarms"
* Alarm rules have been met, but there are no alarms
![image](https://user-images.githubusercontent.com/50984129/89769436-b8e23600-db2f-11ea-88a0-52b1e9424dbc.png)
![image](https://user-images.githubusercontent.com/50984129/89769448-bbdd2680-db2f-11ea-9e2f-abbf591b1d17.png)
![image](https://user-images.githubusercontent.com/50984129/89769458-bed81700-db2f-11ea-985d-e919477ebb34.png)
![image](https

[2020-08-10 09:36] Forest-L commented on #2834
/assign @benjaminhuo

[2020-08-10 09:39] benjaminhuo commented on #2834
/assign @junotx pls take a look at this

[2020-08-10 09:51] harrisonliu5 commented on #2811
/kind need-to-verify

[2020-08-10 11:21] imkratos commented on #2800
Any body help me ?

[2020-08-10 12:31] huanggze commented on #2665
/kind need-to-verify

[2020-08-10 12:43] rayzhou2017 commented on #2828
verified

[2020-08-10 12:43] #2828 closed

[2020-08-10 12:45] rayzhou2017 commented on #2805
please verify on 3.0

[2020-08-10 12:45] #2805 closed

[2020-08-10 12:51] junotx commented on #2834
@huanggze `http://ks-apiserver.kubesphere-system.svc/kapis/monit
oring.kubesphere.io/v1alpha3/namespaces/test/workloads/deployment?resources_filter=nginx-gty3r1|nginxaa-v1|mysql-e-6ctygc-mysql-exporter|m
ysql-u70ph8|testapp-nginx|nginx8-v1|nginx6-v1|nginx5-v1|nginx4-v1|nginx3-v1|nginx2-v1|nginx1-v1|ratings-v1|details-v1|reviews-v1|productpa
ge-v1|tomcat-v1|nginx-v1&metrics_filter=workload_cpu_usag

[2020-08-10 12:55] zheng1 commented on #2833
Please upload the chart tgz of this app

[2020-08-10 13:49] Ma-Dan commented on #2833
This is the chart tgz file
[https://apptest-bucket.sh1a.qingstor.com/tensorflow-notebook-0.1.2.tgz](https://apptest-bucket.sh1a.qingstor.com/tensorflow-notebook-0.1.2.tgz)

[2020-08-10 15:52] yanruogu opened #2835 "kubesphere login error!"
I installed kubesphere 3.0.

when I want to login.  now error like this:

![image](https://user-images.githubusercontent.com/5188514/89802763-80a91a80-db64-11ea-91ba-936635ecbda5.png)

How can I fix it ?

[2020-08-10 15:52] yanruogu commented on #2835
error like this: Internal error occurred: the server could not find the requested resource (post loginrecords.iam.kubesphere.io)

[2020-08-10 16:10] zryfish commented on #2835
It happens when you upgrade components without upgrading ks-installer, there are some CRD files missing. You can either

1. reinstall the KubeSphere or
2.  `kubectl create -f https://raw.githubusercontent.com/kubesphere/ks-installer/master/roles/common/files/ks-crds/iam.kubesphere.io_loginrecords.yaml`

the second option may not work cause there are other configurations missing if you don't upgrad

[2020-08-11 01:51] wanjunlei commented on #2823
verified
/close

[2020-08-11 01:51] #2823 closed

[2020-08-11 01:52] duanjiong opened #2836 "Copy related to network policy needs to be translated"
**Describe the Bug**

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/3678855/89848102-4b2e1c80-dbb8-11ea-97af-ed192ca11f0e.png)

**Versions Used**
KubeSphere: 3.0-dev
Kubernetes: (If KubeSphere installer used, you can skip this)

[2020-08-11 01:52] duanjiong commented on #2836
/cc @leoendless

[2020-08-11 01:55] duanjiong opened #2837 "can list the completed jobs when looking for failed jobs."
**Describe the Bug**
can list the completed jobs when looking for failed jobs.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/3678855/89848198-84668c80-dbb8-11ea-9be6-762dd1601360.png)

**Versions Used**
KubeSphere: 3.0-dev
Kubernetes: (If KubeSphere installer used, you can skip this)

[2020-08-11 01:56] duanjiong commented on #2837
/cc @leoendless   @zryfish

[2020-08-11 02:07] Ma-Dan commented on #2833
This should be the chart's problem, other charts can test deploy successfully.

[2020-08-11 02:41] ynhao opened #2838 "kubesphere 3.0-dev jenkins The background error：org.acegisecurity.userdetails.UsernameNotFoundException: User admin not found in directory"
Hi,
      After the kubesphere Jenkins installation components, using kubesphere admin account login Jenkins front-end error: do not use the User name or password, the background last error: org. Acegisecurity. Populated userdetails. UsernameNotFoundException: User admin not found in the directory

[2020-08-11 03:04] yanruogu commented on #2835
thank you.  It's resovled

[2020-08-11 03:33] Carlosfengv opened #2841 "Platform administrator log view scope"
The  platform administrator cannot view all the logs in the platform, only the log information in the SystemWorkspace
Not up to expectations

The platform administrator can view all log information within the platform

[2020-08-11 03:36] huanggze commented on #2841
What do you mean by only SystemWorkspace? Thats seems impossible

[2020-08-11 03:40] rayzhou2017 opened #2842 "custom ws role can't see its pipeline"
**Describe the Bug**
A custom ws role with `DevOps create` and creates a pipeline, but can't see it in the list. If login with `ray` that is the admin of the workspace, the pipeline shows up.
![Screen Shot 2020-08-11 at 11 39 09 AM](https://user-images.githubusercontent.com/28859385/89854761-5177c500-dbc7-11ea-9034-51edde47d8a6.png)
![Screen Shot 2020-08-11 at 11 39 22 AM](https://user-images.gith

[2020-08-11 03:57] zryfish commented on #2835
/close
due to problem resoloved

[2020-08-11 03:57] #2835 closed

[2020-08-11 03:58] zryfish commented on #2831
Not a bug actually, but I've decreased the log level of kubefed controller manager.

[2020-08-11 03:59] zryfish commented on #2829
It's not supported right now.

[2020-08-11 04:54] #2841 closed

[2020-08-11 05:46] zryfish opened #2843 "S2i stuck because of project quota exceeded"
**Describe the Bug**
As shown in the following screenshot, s2i hung because of project resource quota exceeded. But there is not error message or any useful information help user understand what's going on here..

For UI issues please also add a screenshot that shows the issue.

![截屏2020-08-11 13 41 01](https://user-images.githubusercontent.com/3326354/89861426-63159880-dbd8-11ea-9cc1-4657d32d124d

[2020-08-11 06:06] huanggze commented on #2834
/kind need-to-verify

[2020-08-11 06:22] liuyp2018 opened #2844 "ReadWriteOnce mount storage volume should not be mounted to 2 pods"
**Describe the Bug**
ReadWriteOnce mounted storage volume, can be mounted to 2 pods
![image](https://user-images.githubusercontent.com/36271543/89864103-f00f2080-dbdd-11ea-9abd-899e7a7b1897.png)

/kind bug
/area storage
/assign @min-zh
/milestone 3.0.0
/priority medium

[2020-08-11 06:50] huanggze opened #2845 "Weird logs from ks-apiserver"
![image](https://user-images.githubusercontent.com/22350668/89866305-e38cc700-dbe1-11ea-85e2-51a46b7c1e94.png)

![image](https://user-images.githubusercontent.com/22350668/89866345-ef788900-dbe1-11ea-9bf6-2d5ed63d20ac.png)

[code]

[2020-08-11 06:51] huanggze commented on #2845
/assign @zryfish
/area logging
/milestone 3.0.0
/kind medium

[2020-08-11 06:51] huanggze commented on #2845
/priority medium

[2020-08-11 06:52] shaowenchen commented on #2825
![image](https://user-images.githubusercontent.com/43693241/89866417-0f0fb180-dbe2-11ea-8c0f-d25c15a42794.png)

I can edit ks-jenkins deploy yaml.

@harrisonliu5

[2020-08-11 06:57] shaowenchen commented on #2825
![image](https://user-images.githubusercontent.com/43693241/89866773-b42a8a00-dbe2-11ea-85ea-4fe4f23cdac4.png)

![image](https://user-images.githubusercontent.com/43693241/89866899-e76d1900-dbe2-11ea-9dd2-0223104dc882.png)

[2020-08-11 06:57] huanggze commented on #2845
/remove-milestone 3.0.0
/milestone 3.1.0

[2020-08-11 07:06] liuyp2018 commented on #2844
/remove-milestone 3.0.0
/milestone 3.1.0

[2020-08-11 07:24] rayzhou2017 commented on #2825
@harrisonliu5 Please share your env with @shaowenchen to check the problem. It might be a bug indeed.

[2020-08-11 07:30] shaowenchen commented on #2825
It is a bug that I have reproduced in his env.

[2020-08-11 08:07] rayzhou2017 opened #2847 "custom project role permission denied"
**Describe the Bug**
A custom project role with `Application Workloads View / Application Workloads Management` configured HPA but denied
![Screen Shot 2020-08-11 at 4 04 47 PM](https://user-images.githubusercontent.com/28859385/89873156-95c98c00-dbec-11ea-8f52-d63746f300f1.png)
![Screen Shot 2020-08-11 at 4 06 26 PM](https://user-images.githubusercontent.com/28859385/89873175-9eba5d80-dbec-11ea-9

[2020-08-11 08:09] zheng1 commented on #2833
In the latest version, OpenPitrix uses the latest Helm package as SDK. Cannot handle hooks correctly, just delete the "helm.sh/hook" annotation and it can work well.
![截屏2020-08-11 16 04 45](https://user-images.githubusercontent.com/4156721/89873222-af6ad380-dbec-11ea-8592-80269cb51db5.png)

We will find out how to fix it in 3.1.0

/millstone 3.1.0
/priority medium

[2020-08-11 08:09] zheng1 commented on #2833
/milestone 3.1.0

[2020-08-11 08:38] #1682 closed

[2020-08-11 09:02] rayzhou2017 opened #2848 "custom project role permission denied"
**Describe the Bug**
A custom project role with `Alerting Messages View / Alerting Messages Management` tries to deal with the alert but failed
![Screen Shot 2020-08-11 at 5 00 00 PM](https://user-images.githubusercontent.com/28859385/89878564-48511d00-dbf4-11ea-9867-9d9e9d2cd7cd.png)

![Screen Shot 2020-08-11 at 5 00 22 PM](https://user-images.githubusercontent.com/28859385/89878598-51da8500-dbf4

[2020-08-11 09:07] harrisonliu5 commented on #2810
/kind need-to-verify

[2020-08-11 09:28] huanggze commented on #2831
/kind need-to-verify

[2020-08-11 09:44] liuyp2018 opened #2849 "An error occurred while running the pipeline by clicking the Run button in the list"
**Describe the Bug**
An error occurred while running the pipeline by clicking the Run button in the list
<img width="826" alt="run" src="https://user-images.githubusercontent.com/36271543/89883137-5609a100-dbfa-11ea-934a-c70ad8e56e60.png">

/kind bug
/area console
/assign @harrisonliu5
/milestone 3.0.0
/priority high

[2020-08-11 10:27] zryfish opened #2850 "Certificate rotation"
**Describe the Bug**
KubeSphere used a lot of open sourced components, such as istio, Jenkins. There are using techniques like [Dynamic Admission Control](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/), which is great for some great features. But everything has two sides, admission control requires certificates, where the nightmare begins. Most of them u

[2020-08-11 12:01] rayzhou2017 commented on #2848
verified

[2020-08-11 12:01] #2848 closed

[2020-08-11 12:03] rayzhou2017 commented on #2847
verified

[2020-08-11 12:03] #2847 closed

[2020-08-11 13:05] zheng1 opened #2851 "Failed to Build a New Service from Source Code Repository"
**Describe the Bug**
Permission error
![截屏2020-08-11 20 58 31](https://user-images.githubusercontent.com/4156721/89900368-41d39d00-dc16-11ea-9409-ae29c50c114d.png)

**Versions Used**
KubeSphere: 3.0.0

**How To Reproduce**

Build a New Service from Source Code Repository
Language Type : java

**Expected behavior**
A clear and concise description of what you expected to happen.

[2020-08-11 14:18] wansir commented on #2851
The issue is already fixed, apply the latest configuration to verify.
[code]

[2020-08-11 15:51] zheng1 commented on #2851
Fixed in latest version

[2020-08-11 15:51] #2851 closed

[2020-08-11 16:13] zheng1 opened #2853 "Internal error when toggle s2i event detail"
**Describe the Bug**
[code]

**Versions Used**
KubeSphere: 3.0.0

**Environment**

[code]

**How To Reproduce**

Request URL: http://192.168.0.2:30880/kapis/tenant.kubesphere.io/v1alpha2/logs?namespaces=z1&pods=laizhengyi-devops-java-sample-latest--abd-aed1f576a108-jobs2bdb&timestamps=true&tailLines=1000&size=300&from=0&sort=asc

![截屏2020-08-12 00 06 46](https://user-images.githubusercontent.com/4

[2020-08-12 00:37] wangtian-010 commented on #2621
verification passed,close this issue

[2020-08-12 00:37] #2621 closed

[2020-08-12 00:38] wansir commented on #2853
/assign @huanggze

[2020-08-12 00:51] wangtian-010 commented on #2651
verification passed,close this issue

[2020-08-12 00:51] #2651 closed

[2020-08-12 02:14] harrisonliu5 commented on #2826
/kind need-to-verify

[2020-08-12 02:33] min-zh commented on #2803
Yes~!  as rbd has problem on new version of k8s(1.15+?),  [rbd-external](https://github.com/kubernetes-retired/external-storage/tree/master/ceph/rbd)  was introduced by KubeKey. Maybe both "kubernetes.io/rbd" and "ceph.com/rbd" are listed here, and user can select. On old version of k8s, "kubernetes.io/rbd" may work, on k8s installed by Kubekey "ceph.com/rbd" work. As user can modify the provision

[2020-08-12 02:38] min-zh commented on #2801
Yes, it looks as designed.   StorageClass is just like a set of configs for pvc on k8s. So after delete and recreate, pvc still  associate with the sc., because the name of sc is the PVC's  spec.storageClassName.

[2020-08-12 02:41] min-zh commented on #2797
Curcurrently, there is no method to validate the parameters.

[2020-08-12 02:42] #2394 closed

[2020-08-12 02:45] #2820 closed

[2020-08-12 02:48] liuyp2018 opened #2854 "multi-cluster project created in single cluster workspace is not displayed in the host cluster"
**Describe the Bug**
multi-cluster project created in single cluster workspace is not displayed in the host cluster
<img width="799" alt="host cluster" src="https://user-images.githubusercontent.com/36271543/89969556-45ecd280-dc89-11ea-89ea-7a2c0a8ff0ff.png">

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority high

[2020-08-12 02:48] pixiake commented on #2803
Yes，if the cluster is started with hyperkube,  `kubernetes.io/rbd` can be used，but hyperkube has been deprecated from the kubernetes project，so the rbd-external was used in kubekey.

[2020-08-12 02:50] wenxin-01 commented on #2816
Verified fix
testing env http://139.198.12.26:30881

[2020-08-12 02:50] #2816 closed

[2020-08-12 02:51] wenxin-01 commented on #2794
verified fix
testing env http://139.198.12.26:30881/

[2020-08-12 02:51] #2794 closed

[2020-08-12 02:55] wenxin-01 commented on #2790
verified fix
testing env http://139.198.12.26:30881

[2020-08-12 02:55] #2790 closed

[2020-08-12 02:55] leoendless commented on #2803
I think it would better to provide this value from API. Users may not know which type can be successfully created.

[2020-08-12 03:02] wenxin-01 commented on #2786
verified fix
testing env http://139.198.12.26:30881

[2020-08-12 03:02] #2786 closed

[2020-08-12 03:09] min-zh commented on #2806
ceph.com/rbd  not surpport volume expansion.

[2020-08-12 03:11] leoendless commented on #2836
The translation process is quite complicated and difficult to maintain. It is better to use this text directly.

[2020-08-12 03:18] huanggze commented on #2853
/assign @harrisonliu5
Should hide s2i build logs when logging is not enabled

[2020-08-12 03:23] rayzhou2017 commented on #2806
So the yaml is incorrect?

[2020-08-12 03:42] rayzhou2017 commented on #2836
It is composed by static text and variables piece by piece. So it is indeed not easy to localize. Let's put it in next release.
![Screen Shot 2020-08-12 at 11 40 22 AM](https://user-images.githubusercontent.com/28859385/89972527-a6cbd900-dc90-11ea-9ef8-664932a70da0.png)

[2020-08-12 07:06] rayzhou2017 commented on #2842
BTW，the user is not granted with any platform role

[2020-08-12 07:07] #2834 closed

[2020-08-12 07:12] liuyp2018 opened #2855 "prompt message needs to be modified"
**Describe the Bug**
Under multi-cluster projects, when creating a workload, the prompt message needs to be modified
![image](https://user-images.githubusercontent.com/36271543/89985742-1c926d80-dcae-11ea-9e18-f401764dec6e.png)

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority low

[2020-08-12 07:13] min-zh commented on #2806
volume expansion has two prerequisites:
1.  underlying storage system support volume expansion
2.  StorageClass's **allowVolumeExpansion** is true.
In this case,  ceph.com/rbd not support volume expansion.

[2020-08-12 07:19] min-zh opened #2856 "create allert policy error when notification component not installed"
**Describe the Bug**
When Notificaiton component not installed,  creating Allert Policy has error in UI.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/35321102/89986292-e5708c00-dcae-11ea-973d-e93e96cc8e89.png)

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

[2020-08-12 07:20] min-zh commented on #2856
/cc @leoendless

[2020-08-12 07:24] Forest-L opened #2857 "The processing advice information in the alarm message is not displayed"
* create information

![image](https://user-images.githubusercontent.com/50984129/89986433-22d51980-dcaf-11ea-996b-a52c7e30aa0d.png)

* information succeed
![image](https://user-images.githubusercontent.com/50984129/89986581-53b54e80-dcaf-11ea-8260-4f25717f4157.png)

* The processing advice information in the alarm message is not displayed

![image](https://user-images.githubusercontent.com/509841

[2020-08-12 07:42] liuyp2018 opened #2858 "If the check does not pass, the page does not give prompt message"
**Describe the Bug**
Bitbucket Server address verification failed when creating pipeline, and no prompt message was given on the page

![image](https://user-images.githubusercontent.com/36271543/89988476-2e760f80-dcb2-11ea-8e38-f4bf7f056e7b.png)

/kind bug
/area console
/assign @leoendless
/milestone 3.0.0
/priority low

[2020-08-12 08:11] min-zh commented on #2844
i think it's bug of [nfs-client](https://github.com/kubernetes-retired/external-storage/tree/master/nfs-client)

[2020-08-12 08:14] liuyp2018 opened #2859 "Using the Bitbucket repository, exception occurred"
**Describe the Bug**
An exception occurred when the Bitbucket repository was used to create the pipeline
![image](https://user-images.githubusercontent.com/36271543/89991598-a21a1b80-dcb6-11ea-9c1a-dc32e528aee1.png)

/kind bug
/area devops
/assign @shaowenchen
/milestone 3.0.0
/priority high

[2020-08-12 08:19] rayzhou2017 commented on #2842
verified

[2020-08-12 08:19] #2842 closed

[2020-08-12 08:33] rayzhou2017 commented on #2665
verified

[2020-08-12 08:33] #2665 closed

[2020-08-12 08:38] rayzhou2017 opened #2860 "refactor return code"
We need to return correct code from backend such 404, 500... Never return `Internal Server Error`

[2020-08-12 08:44] benjaminhuo commented on #2799
verified and close
/close

[2020-08-12 08:44] #2799 closed

[2020-08-12 08:46] rayzhou2017 commented on #2857
It works in my env. You'd better to provide your env for reproducing.

![Screen Shot 2020-08-12 at 4 46 07 PM](https://user-images.githubusercontent.com/28859385/89994911-587fff80-dcbb-11ea-908f-61dc7f261ce5.png)

[2020-08-12 08:47] rayzhou2017 commented on #2857
I know what the problem is. It does not refresh automatically. This is a minor bug.

[2020-08-12 08:49] min-zh commented on #2806
/cc @liuyp2018

[2020-08-12 08:50] min-zh commented on #2804
i think it's still bug of [nfs-client](https://github.com/kubernetes-retired/external-storage/tree/master/nfs-client)

[2020-08-12 08:51] #2857 closed

[2020-08-12 08:51] rayzhou2017 commented on #2856
Should hide the notification tab page if no notification module installed. But I think it is OK for now since without notification module installed, alerting does not make sense.

[2020-08-12 08:52] min-zh commented on #2801
/cc @liuyp2018

[2020-08-12 08:52] Forest-L commented on #2857
This may be caused by insufficient environmental resources

[2020-08-12 08:56] leoendless commented on #2856
These two modules are strongly coupled, and it is risky to distinguish them in the console currently.

[2020-08-12 09:11] min-zh commented on #2806
/need-to-verify

[2020-08-12 09:43] liuyp2018 opened #2861 "The submission record is not displayed on the pipeline activity details page"
**Describe the Bug**
The submission record is not displayed on the pipeline activity details page

![image](https://user-images.githubusercontent.com/36271543/90000814-34c0b780-dcc3-11ea-88e7-85d0001901c3.png)

**Versions Used**
host-k8s:  v1.15.12
member-k8s: v1.18.6

/kind bug
/area console
/assign @leoendless
/milestone 3.1.0
/priority medium

[2020-08-12 10:26] chinazj opened #2862 "How to compile multiple languages in jenkins by switching node"
## Devops in microservices

1. Most companies use kubernetes because of microservices.Kubernetes is a natural fit for microservices

2. Jenkins supports devops on kubernetes, but it's very troublesome to configure. You need to write a yaml file or configure your docker image in casc.

3. There may be dependencies between the devops of microservices.

4. If I have 100 microservices. I don’t want to

[2020-08-12 10:27] harrisonliu5 commented on #2849
/kind need-to-verify

[2020-08-12 10:28] harrisonliu5 commented on #2853
/kind need-to-verify

[2020-08-12 10:49] panpan0000 commented on #2362
@rayzhou2017 , Hi, greeting. I've installed kubeSphere 3.0.0 with  2 clusters  (one host and one member)
But I couldn't find the page where the "create multiple-cluster project" page like you showed. can you help a bit ?
![image](https://user-images.githubusercontent.com/14049268/90006936-6d18c380-dccc-11ea-8c36-3e723f2a76ca.png)
![image](https://user-images.githubusercontent.com/14049268/90006963

[2020-08-12 11:36] rayzhou2017 commented on #2362
Create a workspace and select your clusters for it. Then create a multi-cluster project in the workspace. It is recommended to create a platform-regular user to be the admin of the workspace. `admin` is the platform-admin which means do not use `admin` to work in any workspace.

[2020-08-12 12:12] rayzhou2017 opened #2863 "custom ws role permission"
**Describe the Bug**
A custom ws role with `project view` (no platform role) can't open the following pages (traffic management, grayscale release, tracing).
<img width="1280" alt="Screen Shot 2020-08-12 at 8 09 25 PM" src="https://user-images.githubusercontent.com/28859385/90013498-f2ee3c00-dcd7-11ea-9c43-00bbeafe3c97.png">

<img width="1280" alt="Screen Shot 2020-08-12 at 8 28 57 PM" src="https:

[2020-08-12 15:32] Sonek-HoangBui commented on #2822
@benjaminhuo @wansir

[2020-08-13 01:45] rayzhou2017 commented on #2863
verified

[2020-08-13 01:45] #2863 closed

[2020-08-13 01:46] rayzhou2017 commented on #2862
Is that a proposal for KubeSphere DevOps?

[2020-08-13 02:00] rayzhou2017 opened #2864 "App Store should open to any custom role"
**Describe the Bug**
Although we can customize a platform role with app store view, but it is designed to be open to any user. Since App is deployed into project, I think it is better to fix the custom project role first.
![Screen Shot 2020-08-13 at 9 53 46 AM](https://user-images.githubusercontent.com/28859385/90085666-1e5e3e80-dd4b-11ea-8230-4b0ba65437f2.png)

**Versions Used**
KubeSphere: 3.0.0

[2020-08-13 02:04] liuyp2018 opened #2865 "when editing groovy scripts, the previous script does not appear in the edit box"
**Describe the Bug**
On the pipeline edit page, when editing groovy scripts, the previous script does not appear in the edit box

![image](https://user-images.githubusercontent.com/36271543/90086104-36828d80-dd4c-11ea-90bb-826dfbf4084f.png)

/kind bug
/area console
/assign @leoendless
/milestone 3.1.0
/priority medium

[2020-08-13 02:46] WindBruce opened #2866 "2.1.1离线安装版安装muti nodes 失败，"
## 期间报 kubesphere/jenkins-uc:v2.1.1 not found
[code]
## 最后结果 faild
[code]

安装基于CentOS 7.7 三节点，vmware 虚拟机

[2020-08-13 02:50] FeynmanZhou commented on #2866
English only, for Chinese question please go to [China Forum](https://kubesphere.com.cn/forum).

From the logs, you can inspect if there is an image `kubesphere/jenkins-uc:v2.1.1` in your machine.

[code]

[2020-08-13 02:50] #2866 closed

[2020-08-13 03:33] shaowenchen commented on #2859
1，generate id from random numbers, not md5(url, username, password)
2,  use ~username replace username to get repo list

@harrisonliu5

[2020-08-13 03:38] min-zh opened #2867 "click compnent, not go to right page"
**Describe the Bug**
Click uninstalled component and installed component， it always go to the “kubesphere” component

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/35321102/90091528-389f1900-dd59-11ea-85f7-c14ce7f4479f.png)

**Versions Used**
KubeSphere: v3.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Expec

[2020-08-13 03:38] WindBruce commented on #2866
Why？

[2020-08-13 03:38] min-zh commented on #2867
/cc @leoendless

[2020-08-13 03:48] min-zh opened #2868 "Graph of monitoring time error"
**Describe the Bug**
Displayed time of monitoring graph not same with time user input.

For UI issues please also add a screenshot that shows the issue.
![image](https://user-images.githubusercontent.com/35321102/90092006-62a50b00-dd5a-11ea-9559-62a796a08b42.png)
![image](https://user-images.githubusercontent.com/35321102/90092026-72bcea80-dd5a-11ea-9f32-a67fca138a6c.png)
![image](https://user-ima

[2020-08-13 03:48] min-zh commented on #2868
/cc @leoendless

[2020-08-13 03:54] #1969 closed

[2020-08-13 09:43] chinazj commented on #2862
yes.

Below is a jenkinsfile(https://github.com/chinazj/devops-java-sample/blob/master/Jenkinsfile-online). How do I use multiple nodes to compile different languages.

I have tried multiple nodes before. But not success

[code]

[2020-08-13 10:24] harrisonliu5 commented on #2858
https://github.com/kubesphere/console/pull/1170

[2020-08-13 10:24] harrisonliu5 commented on #2858
/kind need-to-verify

[2020-08-13 12:50] chinazj commented on #2862
/area devops

[2020-08-14 02:51] zryfish commented on #2854
Work as expected, namespace on the host cluster is where the multicluster project metadata saved, we don't want users to change them randomly, so we hide them temporarily. We can find a better way to handle this later.
/milestone 3.1.0

[2020-08-14 03:04] huanggze commented on #1189
verified

[2020-08-14 03:04] #1189 closed

[2020-08-14 07:33] wenxin-01 opened #2872 "workbench/workspace/project/physical resources,The longer the time period selected, the more the end time in the line graph deviates from the present time."
Describe the Bug
The longer the time period selected, the more the end time in the line graph deviates from the present time.

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30881

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'admin'
2.Click 'workbench'
3.Click 'workspaces'
4.click any workspace
5.click 'projects'
6.click any project
7.click

[2020-08-14 07:49] wenxin-01 opened #2873 "Workbench/Cluster Management/jobs,Sorting by “Last Executed Time” is wrong"
Describe the Bug
jobs list,Sorting by “Last Executed Time” is wrong

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30881/

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'A'
2.Click 'workbench'
3.Click 'cluster number'
4.click any 'cluster’
5.click 'jobs'
6.set  "Last Executed Time" is 'ASC'/'DESC/

Expected behavior
Sort by time correctly
Ac

[2020-08-14 08:05] wenxin-01 opened #2874 "Workbench/Cluster Management/jobs，A failed job whose execution records shows that the state is in running"
Describe the Bug
A failed job whose execution records shows that the state is in running

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30881/

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'A'
2.Click 'workbench'
3.Click 'cluster number'
4.click any 'cluster’
5.click 'jobs'
6.click  a failed job
7.look at job's state
Expected behavior
the j

[2020-08-14 08:08] zryfish opened #2875 "No place to delete pvcs created by federatedstatefulsets under multicluster project"
**Describe the Bug**
In a multicluster project, we can create statefulset with persistentvolumeclaims template, after sts created, volumes also created by cluster csi plugins. But there is no way to delete those pvcs under multicluster project now. Since only federatedpvcs are listed now.

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: (If KubeSphere installer used, you can skip this)

/mileston

[2020-08-14 08:08] zryfish commented on #2875
/priority low

[2020-08-14 08:20] huanggze commented on #2831
verified

[2020-08-14 08:20] #2831 closed

[2020-08-14 09:08] wenxin-01 opened #2876 "Workbench/Cluster Management/jobs，The job created using upload YAML was not successful"
Describe the Bug
jobs list,Sorting by “Last Executed Time” is wrong

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30881/

How To Reproduce
Steps to reproduce the behavior:
1.Log in with account 'A'
2.Click 'workbench'
3.Click 'cluster number'
4.click any 'cluster’
5.click 'jobs'
6.click ‘create’
7.click 'Edit More'
8.upload yaml

Expected behavior
create job success

[2020-08-14 09:09] leoendless commented on #2876
Please attach your YAML file.

[2020-08-14 09:28] wenxin-01 commented on #2876
[wxjob41-zs9kw.kubesphere-devops-system.pod.yaml.zip](https://github.com/kubesphere/kubesphere/files/5073766/wxjob41-zs9kw.kubesphere-devops-system.pod.yaml.zip)

[2020-08-14 09:30] wenxin-01 commented on #2876
The YAML file is downloaded from the created job

[2020-08-14 15:27] liuyp2018 opened #2878 "repeated network policies can be added"
**Describe the Bug**
The option to add network policies does not filter added network policies, and duplicate network policies can be added
![image](https://user-images.githubusercontent.com/36271543/90265756-9892de00-de85-11ea-9d87-5697afb0fcac.png)
![image](https://user-images.githubusercontent.com/36271543/90265793-aba5ae00-de85-11ea-9a9b-c9fa70854267.png)

/kind bug
/area console
/assign @leoe

[2020-08-15 04:25] duanjiong commented on #2878
This shouldn't be a bug, the two policies added here don't have the same name, just the same content, and as a native k8s network policy, it's also possible to add policies with the same content, just like it's allowed to create pods with the same content. Maybe it's weird for users to see the same content here.

[2020-08-16 06:19] shenhonglei opened #2879 "The ui cannot view the cluster log, audit and events data"
**Describe the Bug**
The interface cannot view the cluster log, audit and events data

**Versions Used**
KubeSphere Version : v3.0.0
Kubernetes: v1.17.9
<img width="1630" alt="log-search" src="https://user-images.githubusercontent.com/20896372/90327970-2af0ca00-dfcb-11ea-8014-49a79f6c2995.png">
<img width="1680" alt="event-search" src="https://user-images.githubusercontent.com/20896372/90327976-39

[2020-08-16 06:25] shenhonglei commented on #2879
KubeSphere On  VMware vSphere
***vSphere Client version 7.0.0.10400***

[2020-08-16 06:25] rayzhou2017 commented on #2879
Please send your login info to kubesphere@yunify.com so that we can log in to check what is going on.

[2020-08-16 06:28] shenhonglei commented on #2879
sent email

[2020-08-16 07:33] huanggze commented on #2879
What's difference between  vSphere machines and your member machines?

Can we look into your vSphere machines? Teamviewer v12 is preferred

[2020-08-16 07:36] huanggze commented on #2879
Or you can check hostPath specified in Fluent Bit DaemonSet in  kubesphere-logging-system. Do those dirs exist in your vSphere machines?

[2020-08-16 10:02] shenhonglei commented on #2879
system: Mac
TV version:15.0.24
ID:900 850 085
pwd: 1k89he

[2020-08-16 11:18] LinuxSuRen commented on #1866
When I create an application, I got below error information. I suggest that we can give more human readable information.

![image](https://user-images.githubusercontent.com/1450685/90333029-df531600-dff4-11ea-80db-0168eefa3401.png)

[2020-08-16 13:28] Howie66 commented on #2860
i could do this in my spare time

[2020-08-17 01:32] rayzhou2017 commented on #2860
You are hight appreciated! Some suggestions: First submit PR piece by piece so others are easy to review. Second UT is recommended for the changes.

[2020-08-17 01:34] rayzhou2017 commented on #1866
Please verify if it is fixed on v3.0.0

[2020-08-17 03:52] leoendless commented on #2876
You should use a job YAML, not the pod.

[2020-08-17 05:48] liuyp2018 commented on #2865
/close

[2020-08-17 05:48] #2865 closed

[2020-08-17 05:54] liuyp2018 commented on #2861
not fixed yet
/remove-kind need-to-verify

[2020-08-17 05:59] wenxin-01 commented on #2876
use a job yaml, page prompt error。
![image](https://user-images.githubusercontent.com/68640256/90361826-bb91dd80-e091-11ea-9f61-37be485488e4.png)
[wx1355.kubesphere-devops-system.job.yaml.zip](https://github.com/kubesphere/kubesphere/files/5082398/wx1355.kubesphere-devops-system.job.yaml.zip)

[2020-08-17 06:09] liuyp2018 commented on #2859
Operator role user, report 403 error

![image](https://user-images.githubusercontent.com/36271543/90362139-7a4dfd80-e092-11ea-9940-50c64c39f65d.png)

/remove-kind need-to-verify

[2020-08-17 06:10] leoendless commented on #2876
This is normal, there are some automatically generated attributes that need to be removed.

[2020-08-17 06:11] shaowenchen commented on #2859
/assign @wansir

[2020-08-17 06:14] liuyp2018 commented on #2855
/close

[2020-08-17 06:14] #2855 closed

[2020-08-17 06:22] liuyp2018 commented on #2826
/close

[2020-08-17 06:22] #2826 closed

[2020-08-17 06:23] liuyp2018 commented on #2849
the issue still exists  when admin user runs the pipeline using gitlab repo

and operator role user runs the pipeline using gitlab  ,report the error as follow
![image](https://user-images.githubusercontent.com/36271543/90362949-525f9980-e094-11ea-8cf0-83689476f45e.png)

/remove-kind need-to-verify

[2020-08-17 06:28] liuyp2018 commented on #2825
/close

[2020-08-17 06:28] #2825 closed

[2020-08-17 06:32] liuyp2018 commented on #2811
/close

[2020-08-17 06:32] #2811 closed

[2020-08-17 06:38] liuyp2018 commented on #2617
/close

[2020-08-17 06:38] #2617 closed

[2020-08-17 06:40] wansir commented on #2859
kubectl apply -f https://raw.githubusercontent.com/kubesphere/ks-installer/master/roles/ks-core/prepare/files/ks-init/iam-accounts.yaml

Fix unexpected forbidden response.

[2020-08-17 06:40] harrisonliu5 commented on #2861
The current commit can only be displayed when it is entered through the PR list, and there is no data for other pipelines. It needs to be confirmed again in 3.1

![image](https://user-images.githubusercontent.com/17872673/90364781-44f7de80-e097-11ea-921c-21b1cc836250.png)

![image](https://user-images.githubusercontent.com/17872673/90364805-52ad6400-e097-11ea-95d9-f36e604bebab.png)

[2020-08-17 06:42] liuyp2018 commented on #2810
/close

[2020-08-17 06:42] #2810 closed

[2020-08-17 06:43] liuyp2018 commented on #2515
/close

[2020-08-17 06:43] #2515 closed

[2020-08-17 06:45] liuyp2018 commented on #1877
close

[2020-08-17 06:45] #1877 closed

[2020-08-17 06:48] liuyp2018 commented on #2469
/close

[2020-08-17 06:48] #2469 closed

[2020-08-17 06:51] liuyp2018 commented on #2808
/close

[2020-08-17 06:51] #2808 closed

[2020-08-17 07:06] liuyp2018 commented on #2750
After removing the added version, the problem still exists
![image](https://user-images.githubusercontent.com/36271543/90367274-3e6b6600-e09b-11ea-8d50-bab9cab1b88a.png)

/remove-kind need-to-verify

[2020-08-17 07:16] shaowenchen commented on #2859
/kind need-to-verify

[2020-08-17 07:20] shaowenchen commented on #2699
/close

[2020-08-17 07:20] liuyp2018 commented on #1957
In fact, this is not the latest 10 records
![image](https://user-images.githubusercontent.com/36271543/90368793-3a404800-e09d-11ea-88e5-beac9e5f3c05.png)

/remove-kind need-to-verify

[2020-08-17 07:20] #2699 closed

[2020-08-17 07:27] wenxin-01 opened #2880 "After you type in the workspaces search box, do not click Enter. After clicking the refresh button on the page, it should Filters out what is entered in the input box"
Describe the Bug
After you type in the workspace search box, do not click enter. After clicking the refresh button on the page, it should Filters out what is entered in the input box

Versions Used
KubeSphere:3.0.0

Environment
testing env
http://139.198.12.26:30881/

How To Reproduce
Steps to reproduce the behavior:
1.Click 'workbench'
2.Click 'workspaces'
3.Enter 'test' in the search box
4.do no

[2020-08-17 07:36] liuyp2018 commented on #2878
/close

[2020-08-17 07:36] #2878 closed

[2020-08-17 07:41] leoendless commented on #2880
I don’t think it is appropriate to display search results when refreshing the list. We should keep each function simple.

[2020-08-17 07:58] wenxin-01 commented on #2880
You have a point there, but I think this kind of user experience will be better

[2020-08-17 07:58] #2880 closed

[2020-08-17 07:59] liuyp2018 commented on #2806
/close

[2020-08-17 07:59] #2806 closed

[2020-08-17 08:00] liuyp2018 commented on #2859
/close

[2020-08-17 08:00] #2859 closed

[2020-08-17 08:01] liuyp2018 commented on #2604
/close

[2020-08-17 08:01] #2604 closed

[2020-08-17 08:19] eeokee opened #2881 "Harbor username pass error"
**Describe the Bug**

I created a harbor user robot$ci
![image](https://user-images.githubusercontent.com/3079825/90373434-7b882600-e0a4-11ea-8bd0-15e4f117931a.png)

Then add a secret
![image](https://user-images.githubusercontent.com/3079825/90373897-36b0bf00-e0a5-11ea-974e-3ec808a220b4.png)

But in devops pipeline this name is robot$$ci
![image](https://user-images.githubusercontent.com/3079825/

[2020-08-17 08:26] liuyp2018 commented on #2521
After the second page of data, it is recommended to display the first page of data directly
The same problem exists with other lists, such as application lists, pipeline list, storage lists

![image](https://user-images.githubusercontent.com/36271543/90373822-1da80e00-e0a5-11ea-8ede-70971c1dfbcd.png)

/remove-kind need-to-verify