[2021-04-29 02:35] xyz-li commented on #3821
/assign @xyz-li

[2021-04-29 02:57] zryfish commented on #2780
/milestone BackLog

[2021-04-29 04:38] #3784 closed

[2021-04-29 06:12] daniel-hutao opened #3829 "Change externalElasticsearchUrl to externalElasticsearchHost at cc"
I have been asked several times whether the value filled in `cc.spec.common.es.externalElasticsearchUrl` requires an http prefix, but it is actually not needed, but this key is a bit confusing. I don’t know if I need an http prefix sometimes when I look at it, so I think it’s clearer to change it to **externalElasticsearchUrl** to **externalElasticsearchHost**

/kind feature-request

[2021-04-29 06:13] daniel-hutao commented on #3829
/good-first-issue

[2021-04-29 07:41] #3230 closed

[2021-04-29 07:44] benjaminhuo commented on #2780
https://github.com/kubesphere/ks-installer/pull/1498 node uname & network metrics have been added now

[2021-04-29 07:44] #2780 closed

[2021-04-29 07:45] RolandMa1986 opened #3830 "Split KubeSphere api to it's own repository"
**What's it about?**
Split KubeSphere api to its own repository.

**What's the reason why we need it?**
For the third part of applications that need to interact with KubeSphere APIs, The API definition often needs to be referred to. So we need to create a separate repo for it.

**Area Suggestion**
/area api
/area apiserver
/kind feature

[2021-04-29 08:16] daniel-hutao opened #3832 "The PersistentVolumeClaim \"grafana-storage\" is invalid error"
**Describe the Bug**

Got errors below after modifying the cc to add jwtSecret

[code]

![image](https://user-images.githubusercontent.com/18692628/116520869-dd707f00-a905-11eb-8d18-421110e1a6e6.png)

![image](https://user-images.githubusercontent.com/18692628/116520892-e5302380-a905-11eb-9f84-a7681724833c.png)

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: v1.18.14

**How To Reproduce**

1. In

[2021-04-29 08:16] lxm opened #3833 "infinite loop on login page when token expired ks 3.1"
upgraded to ks 3.1 and use aliyunidaas as OAuth provider

when the ks jwt token expired, the user will get stuck on the login page.
a video as follows

https://user-images.githubusercontent.com/1918195/116521092-1e689380-a906-11eb-86a0-d2ad155f8bd1.mov

[2021-04-29 08:19] daniel-hutao commented on #3829
/cc @sig-observability

[2021-04-29 08:55] qinghuan-chain opened #3834 "create not allowed while custom resource definition is terminating in v3.1.0 devops pipeline"
**Describe the Bug**

Create pipeline error

**create not allowed while custom resource definition is terminating**

![image](https://user-images.githubusercontent.com/7252280/116525898-96858800-a90b-11eb-8ff5-2ca03627ec9c.png)

**Versions Used**
KubeSphere: 3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)
1.18.18

**Environment**
How many nodes and their hardware configuration:

[2021-04-29 09:04] daniel-hutao commented on #3834
/area devops

[2021-04-29 09:04] daniel-hutao commented on #3834
please show the terminating crd/cr

[2021-04-29 09:05] qinghuan-chain commented on #3834
how can i get crd/cr

[2021-04-29 09:05] daniel-hutao commented on #3833
I encountered the same problem, pay attention to your node time synchronization

[2021-04-29 09:06] daniel-hutao commented on #3833
https://kubesphere.com.cn/en/docs/faq/access-control/session-timeout/

The node clock skew affects time-sensitive operations such as validating the expiration time of a user token. You can configure the server time synchronization with an NTP server. MaximumClockSkew can also be set, which defaults to 10 seconds.

[2021-04-29 09:08] qinghuan-chain commented on #3834
The problem of going online after upgrading from 3.0.0 to the latest 3.1.0

[2021-04-29 09:41] qinghuan-chain commented on #3834
** kubectl -v 8 logs devops.kubesphere.io/v1alpha3**

[2021-04-29 09:42] daniel-hutao commented on #3834
I don’t know what resource in the Terminating status, such as Pipeline, then the corresponding command is `kubectl get Pipeline -A`

Maybe you can see if there are more detailed logs from **ks-apiserver**

[2021-04-29 09:45] daniel-hutao commented on #3834
If this problem is caused by an upgrade, may need someone who knows the logic of the upgrade workflow to take a look; I have not tried upgrade ks. I re-install ks everytime.(*^__^*)

[2021-04-29 09:58] daniel-hutao commented on #3832
![image](https://user-images.githubusercontent.com/18692628/116533446-f6802c80-a913-11eb-8b5c-1f5e819d8069.png)

This problem may be related to the changes in the base-image. We can also see special characters when open the file through vi. This problem didn't exist at the beginning. In addition, although there is an error here, pvc can still be created. I will fix this later.

[2021-04-29 13:07] Cloud-Shen commented on #3101
@Widerstehen I wonder how did you solve the problem in the end, I've encountered the same problem as you recently.

[2021-04-30 01:14] #3119 closed

[2021-04-30 02:37] daniel-hutao commented on #3833
I configured MaximumClockSkew in kubesphere-config, but it failed again today and restored to the default value 10s. It seems to have been reset by ks-installer, so do I need to configure it in cc? Add authentication.maximumClockSkew configuration. The relevant part of the document is 404(https://kubesphere.com.cn/en/docs/access-control-and-account-management/configuring-authentication/#authentica

[2021-04-30 02:46] wansir commented on #3833
You can configure it in `cc`, https://github.com/kubesphere/ks-installer/blob/v3.1.0/roles/ks-core/config/templates/kubesphere-config.yaml.j2#L8

[2021-04-30 03:00] junotx commented on #3828
The display time did not correspond to the time in the response body. Please fix it later @harrisonliu5

![image](https://user-images.githubusercontent.com/49136171/116643074-db103280-a9a2-11eb-8815-87dd20d43fed.png)

/assign @harrisonliu5
/unassign @junotx

[2021-04-30 03:15] waidinsamkeit opened #3835 "About update kubesphere3.1 the problem"
# 配置文件应用成功UI页面不更新
![问题1](https://kubesphere.com.cn/forum/assets/files/2021-04-30/1619752047-897688-image.png)
发现UI界面上的master角色依旧是master,worker
![问题2](https://kubesphere.com.cn/forum/assets/files/2021-04-30/1619752098-538156-image.png)
# 关于流量治理问题
- 3.0.0版本流量治理可以观看浏览
- 3.1.0不管怎么访问服务流量治理依旧无法展示
![问题3](https://kubesphere.com.cn/forum/assets/files/2021-04-30/1619752209-460188-image.png)

[2021-04-30 03:38] yuswift commented on #3834
`kubectl get crd -o wide` check if there are crds terminating

[2021-04-30 03:39] yuswift commented on #3835
please check if all of pods under istio-system ns are running

[2021-04-30 05:56] zackzhangkai commented on #3835
https://kubesphere.com.cn/forum/d/3192-kubesphere

[2021-04-30 06:44] daniel-hutao opened #3836 "Failed to start "Scan Repository""
**Describe the Bug**

I created a Pipeline and cliecked the button "Scan Repository", but nothing heppended.

![image](https://user-images.githubusercontent.com/18692628/116658295-5503e400-a9c2-11eb-8bc5-da88e681e7e8.png)

Logs at jenkins pod as below:

[code]

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: v1.18.14

/kind bug
/area devops

[2021-04-30 06:47] LinuxSuRen commented on #3836
What is the type of your git repository?
* [ ] gitlab.com
* [ ] private gitlab
* [ ] github
* [ ] bitbucket.com
* [ ] private bitbucket
* [ ] others

[2021-04-30 06:48] daniel-hutao commented on #3836
@LinuxSuRen Git / private gitlab

[2021-04-30 07:06] wenxinll opened #3837 "Optimize the response information of interface '/kapis/resources.kubesphere.io/v1alpha2/registry/blob'"
**Versions Used**
KubeSphere: `3.1`

**Preset conditions**
reached your pull rate limit

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to any project
2. Click on 'Application Workloads'
3. Click on 'Workloads'
4. Click on 'create'
5. Go to 'Container Image Setting'
6. Click on 'Add Container Image'
7. Input image name like 'nginx' and then clcik on  'Enter'

**Expected behavior**
The

[2021-04-30 07:44] daniel-hutao commented on #3816
need to add /milestone v3.1.1

[2021-04-30 08:50] #3832 closed

[2021-04-30 09:05] LinuxSuRen commented on #3816
This is an important improvement. But we don't have the perfect solution now. And we might need to have a design first. I'm not sure if we can put this improvement into milestone v3.1.1.

By the way, milestone v3.1.1 has not to be created yet. https://github.com/kubesphere/kubesphere/milestones

[2021-04-30 09:31] daniel-hutao commented on #3816
@LinuxSuRen
I just hope that each requirement has a clear milestone, near or far; It can be started to put v3.1.1, and later if found that it was more appropriate to put it in v3.1.2, just modify it. Just like dozens of issues left over from the v3.0.0 milestonethe, it still released.

[2021-04-30 09:38] LinuxSuRen commented on #3816
Got you. I don't have permission to create milestones. We will do the planning work after the holiday.

[2021-04-30 09:45] daniel-hutao commented on #3834
crd is a static resource. The resource at Terminating status is cr

[2021-05-02 01:10] rayzhou2017 commented on #3829
@daniel-hutao @benjaminhuo Please help @himanshu007-creator with this issue after you get back from holiday.

[2021-05-03 10:44] zwh417 commented on #3508
same with #3503

[2021-05-05 15:38] yuswift commented on #3076
/remove lifrcycle-stale

[2021-05-05 15:39] yuswift commented on #3076
/remove lifecycle-stale

[2021-05-05 22:59] zryfish commented on #3737
/close

[2021-05-05 22:59] #3737 closed

[2021-05-06 02:13] daniel-hutao commented on #3829
https://github.com/kubesphere/ks-installer/blob/a5776b845bd691a6b9145c5435b1d9b9702af316/deploy/cluster-configuration.yaml#L41

The logic entry is in this place, you can search globally in the project to find which codes refer to this variable, and then modify all of those.
@himanshu007-creator

[2021-05-06 02:14] daniel-hutao commented on #3836
@LinuxSuRen Do you have some idea about this problem now?

[2021-05-06 02:19] daniel-hutao commented on #3605
It has been fixed.

[2021-05-06 02:19] #3605 closed

[2021-05-06 02:20] daniel-hutao commented on #3565
It has been fixed at v3.1.0

[2021-05-06 02:20] #3565 closed

[2021-05-06 02:20] LinuxSuRen commented on #3836
I cannot get any useful information from the log output. I will try it on my environment.

[2021-05-06 02:23] daniel-hutao commented on #3836
OK; if you need me to provide logs of other components, you can tell me at any time.

[2021-05-06 02:34] #3501 closed

[2021-05-06 02:49] wenxin-01 opened #3839 "workspace role 'Workspace Settings' and 'Admin' can not view the workspace quote management"
**Describe the Bug**
There is a user with global role `Cluster Viewing / Cluster Management` and worksapce role `Workspace Settings` or `admin`

**Versions Used**
KubeSphere: `ks3.1`

**Preset conditions**
1、There is a workspace 'wx-ws3'
2、There is a user 'wx1' with global role `Cluster Viewing / Cluster Management` and worksapce 'wx-ws3' role `Workspace Settings` or `admin`

**To Reproduce**
Step

[2021-05-06 02:59] wansir commented on #3839
/assign @harrisonliu5

[2021-05-06 03:59] RolandMa1986 commented on #3830
/assign

@wanjunlei, The APIs would be split into a new repo. So you don't have to import the kubesphere/kubesphere anymore.

[2021-05-06 04:01] benjaminhuo commented on #3829
This change is not that urgent but with big impacts, 2 projects: https://github.com/kubesphere/ks-installer and https://github.com/kubesphere/website are involved. All the docs have to be changed accordingly. And there are already lots of info out there in the forum, website if you search externalElasticsearchUrl.

So if someone upgrades from v3.1 or v3.0 to a future higher version like v3.1.1, yo

[2021-05-06 05:44] wenxin-01 opened #3840 "Failed to create Deployments"
**Versions Used**
KubeSphere:  `ks3.1`
Kubernetes:  `v1.20.4`
GoVersion: `go1.15.8`

`ubuntu 16.04`

**Actual behavior**
![image](https://user-images.githubusercontent.com/68640256/117247376-b7e8f580-ae70-11eb-89c6-c22954f301a0.png)

![image](https://user-images.githubusercontent.com/68640256/117247407-c0d9c700-ae70-11eb-9b54-94a3e9229e43.png)

/kind bug
/assign @wansir
/milestone 3.1.0
/priority

[2021-05-06 05:57] daniel-hutao commented on #3829
Functionally speaking, not modifying with `externalElasticsearchUrl` is the easiest way, but modifying it can make ks more refined. I personally have detailed obsessive-compulsive disorder, and I hope that any flaws can be corrected. Of course, I also understand the compatibility issues that may can be introduced by this modifying, which may require a lot of work.  I respect everyone's opinions an

[2021-05-06 07:04] wansir commented on #3840
Related to https://github.com/helm/helm/issues/9046

[2021-05-06 07:15] stoneshi-yunify opened #3841 "Remove kubesphere/pkg/controller/storage/expansion"
**Describe the Bug**
I think this feature is not needed. It does not work for all kinds of workload. And more important, we should not restart user's app for volume expansion. Let user decide when to restart his apps.

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: Ce

[2021-05-06 07:18] stoneshi-yunify commented on #3841
/area storage
/assign @dkeven

[2021-05-06 07:31] daniel-hutao commented on #3836
This problem will occur when jenkinsfile does not exist. This may should not be considered a bug, but ks cannot display related error logs at jenkins . Maybe we can consider making some optimizations on the interaction to pass the error message on jenkins transparently.

[2021-05-06 07:31] stoneshi-yunify opened #3842 "Support both v1beta1 and v1 snapshots"
**Describe the Bug**
Currently, ks only supports v1beta1 snapshots, and do not support v1 snapshots.

Snapshot v1 GAed since k8s v1.19, so we should support it.

The plan is to support both v1beta1 and v1 until k8s completely remove the support of v1beta1.

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their h

[2021-05-06 07:31] stoneshi-yunify commented on #3842
/area storage
/assign @dkeven

[2021-05-06 07:50] stoneshi-yunify opened #3843 "Simplify provisioner and storageclass capabilities"
**Describe the Bug**
Currently ks has two crd to define the provisioner and storageclass capabilities:
[code]

And we have code to automatically detect the provisioner capabilities, however, it does not work for most provisioners.

The proposed change is:
- simplify the  provisioner and storageclass capabilities, I don't think we need the storageclass capabilities, and I don't think we need export

[2021-05-06 07:50] stoneshi-yunify commented on #3843
/area storage
/assign @dkeven

[2021-05-06 07:54] dkeven commented on #3843
/assign @dkeven

[2021-05-06 10:26] LinuxSuRen commented on #3836
Considering this is not a bug, but it's not easy to figure out the real problem. I would like to change the issue title to be more reasonable.

/retitle Make it be easier to get the error log due to the Jenkinsfile is missing

/kind feature-request
/milestone BackLog
/project devops

[2021-05-06 10:26] LinuxSuRen commented on #3836
/remove-kind bug

[2021-05-06 12:36] dazsco opened #3844 "centos 7 : Failed to get system container stats for "/system.slice/docker.service": failed to get cgroup stats for "/system.slice/docker.service"
solve :
http://www.mydlq.club/article/80/

[2021-05-06 13:56] FeynmanZhou commented on #3844
Has this issue been resolved? It would be better to describe your problem in detail.

[2021-05-06 14:03] FeynmanZhou commented on #3844
Thanks for your reply and leave your solution here.

It seems this issue doesn't happen when I install KubeSphere and K8s on CentOS 7.x by using Kubekey.

[2021-05-06 14:05] dazsco commented on #3844
@FeynmanZhou Is it because I installed the latest version of docker on all hosts in advance?

[2021-05-06 14:25] linkt opened #3845 "灰度策略自定义 Header设置的值无法保存，一直为空"
kubesphere版本：3.1
设置了对应的header保存后，value为空，没有任何报错
![image](https://user-images.githubusercontent.com/7455401/117315092-f48d0f00-aeb9-11eb-8843-cb9f6841a2e2.png)
![image](https://user-images.githubusercontent.com/7455401/117314867-c14a8000-aeb9-11eb-82a1-3f1b0aec8ab4.png)
各位大佬是我设置的值格式不对吗

[2021-05-06 14:46] zackzhangkai commented on #3845
Please use English.

You can go to [forum](https://kubesphere.com.cn/forum/) to ask questions with Chinese.

Exec the command as belows to see if the configurations saved.

[code]

By the way, request by traffic percentage is ok?

Maybe this is a bug, I will check this later.

[2021-05-06 15:00] linkt commented on #3845
@zackzhangkai
[root@mvxl8417 mdauto]# kubectl get strategy tomcat3 -n my-test -o yaml
apiVersion: servicemesh.kubesphere.io/v1alpha2
kind: Strategy
metadata:
  annotations:
    kubesphere.io/creator: admin
    servicemesh.kubesphere.io/newWorkloadName: tomcat3-v2
    servicemesh.kubesphere.io/oldWorkloadName: tomcat3-v1
    servicemesh.kubesphere.io/workloadReplicas: "1"
    servicemesh.kubesphere

[2021-05-06 15:12] zackzhangkai commented on #3845
/kind bug

[2021-05-06 15:13] zackzhangkai commented on #3845
/area microservice
/assign @zackzhangkai

[2021-05-06 15:33] zackzhangkai commented on #3845
It's because of the servicepolicies.servicemesh.kubesphere.io.

[2021-05-07 00:19] zackzhangkai commented on #3845
[code]

[2021-05-07 02:04] dkeven commented on #3842
/assign @dkeven

[2021-05-07 02:05] dkeven commented on #3841
/assign @dkeven

[2021-05-07 02:37] linkt opened #3846 "devops get pipeline method error"
kubesphere version：3.1
I created a pipeline called p1. I made a mistake when editing this pipeline. I found that this  method treats namespace as a pipeline.
![image](https://user-images.githubusercontent.com/7455401/117389533-18367080-af1f-11eb-966b-c56fa2dfe414.png)
![image](https://user-images.githubusercontent.com/7455401/117389966-e07bf880-af1f-11eb-926a-189d03cb341f.png)
![image](https://use

[2021-05-07 02:47] LinuxSuRen commented on #3846
hi @linkt , thanks for reaching out to us.

I'm not able to reproduce your process. I'm wondering if you can provide more details about this.

/area devops

[2021-05-07 02:54] linkt commented on #3846
@LinuxSuRen  I create a pipeline called p1 ,  the method return the message that Pipeline linkt-testllk6c not found,   but linkt-testllk6c is namespace
![image](https://user-images.githubusercontent.com/7455401/117391456-8d577500-af22-11eb-8be4-812c6384e67c.png)

[2021-05-07 04:02] LinuxSuRen commented on #3846
It works well for me. Please test if it's ok when you create a pipeline with different name?

[2021-05-07 06:02] linkt commented on #3846
@LinuxSuRen The problem has been solved， it is beacuse the controller call jenkins api failed

[2021-05-07 06:03] LinuxSuRen commented on #3846
Do you still have the error log output? It might be a potential bug.

[2021-05-07 07:17] RolandMa1986 opened #3847 "Package core component with helm chart"
**What's it about?**
Create a helm chart for the core component. And ks-install would use the helm chart to install the core component.

**What's the reason why we need it?**
Currently, the Core component is deployed in ks-install with kubectl and YAML files. This means we had to maintain 2 copies of code, such as the CRDs. And there's no lifecycle management when using the kubectl, so we can hard

[2021-05-07 07:23] zryfish commented on #3847
That's what we want to do for a long time.

[2021-05-07 09:39] zackzhangkai commented on #3845
/milestone 3.1.1

[2021-05-07 09:40] zackzhangkai commented on #3845
/milestone BackLog

[2021-05-07 09:42] zackzhangkai commented on #3845
/milestone clear

[2021-05-07 09:42] zackzhangkai commented on #3845
/milestone 3.1.0

[2021-05-07 10:32] #3840 closed

[2021-05-08 02:10] zhaolei0914 opened #3849 "APPSCAN security scan vulnerability-cross-site scripting-kubsphere login page"
**Versions Used**
KubeSphere:2.1 3.0
Kubernetes: 1.16.3

**Environment**
Single node，32C64G，centos7.7

APPSCAN security scan vulnerability-cross-site scripting-kubsphere login page

![企业微信截图_16204359242005](https://user-images.githubusercontent.com/7426709/117522338-5e560780-afe5-11eb-85a0-25b165ccfbab.png)

[2021-05-08 02:15] wansir opened #3850 "Failed to login with GitHub account"
**Describe the Bug**

Failed to login with GitHub account, after upgrading from 3.0 to 3.1.

[code]

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

[2021-05-08 02:21] wansir commented on #3850
Workaround

[code]

[2021-05-08 02:35] daniel-hutao opened #3851 "Failed to update Credentials"
**Describe the Bug**

I created a Credential. When I updated the Credential on the console, it would always be stuck in the update state. Then I refreshed the page, I saw that the update state has been Success, but the secret in the background is actually still keep the old state.

![image](https://user-images.githubusercontent.com/18692628/117522852-1c7a9080-afe8-11eb-9dc8-d2765c5b5acc.png)

![im

[2021-05-08 02:40] daniel-hutao commented on #3851
And if I delete this Credential and create a new one and enter the content of kubeconfig defined by myself, the kubeconfig in the Credential will be overwritten to the default value...

[2021-05-08 02:47] fengjian1585 opened #3852 "Got SSLCertVerificationError when deploy ks3.1"
**What's your question**
k8s1.20.6 安装 kubesphere3.1 出现 self signed certificate 问题

**Environment: OS & Hardware Information**
CentOS Linux release 7.9.2009 (Core)
k8s1.20.6

**Error logs or message (Attach logs or screenshot)**
[root@master1 ~]# kubectl logs -f ks-installer-5676776c46-2d56v  -n kubesphere-system
2021-05-08T10:20:25+08:00 INFO     : shell-operator latest
2021-05-08T10:20:25+08:00 I

[2021-05-08 02:47] #3736 closed

[2021-05-08 03:02] LinuxSuRen commented on #3851
/area devops
/priority high

[2021-05-08 03:03] daniel-hutao opened #3853 "cluster_controller error: Failed to update cluster status"
**Describe the Bug**

[code]

This error seems to be that the code interacts with kube-apiserver is not robust.

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: v1.18.14

/kind bug

[2021-05-08 03:16] #3215 closed

[2021-05-08 03:16] #3244 closed

[2021-05-08 04:02] zackzhangkai commented on #3845
/reopen

[2021-05-08 04:10] #3833 closed

[2021-05-08 05:03] fengjian1585 commented on #3852
相同环境， 安装 kubesphere3.0 没有问题

[2021-05-08 05:38] linkt commented on #3846
@LinuxSuRen The reason is that the address of Jenkins configuration is wrong, and the controller fails to call Jenkins API to create pipeline, but I think this error message should be optimized

[2021-05-08 05:42] LinuxSuRen commented on #3846
Thanks for the troubleshooting work. Would you mind tell me where the address configuration is? For example, post the screenshot or CLI output.

[2021-05-08 06:29] RolandMa1986 commented on #3852
/kind bug
/area installation

[2021-05-08 06:31] RolandMa1986 commented on #3853
/area multicluster
/cc @yuswift

[2021-05-08 06:46] fengjian1585 commented on #3852
kubersphere3.0 安装日志， 没发现ssl 问题

2021-05-08T14:44:22+08:00 INFO     : MSTOR Create new metric shell_operator_live_ticks
2021-05-08T14:44:22+08:00 INFO     : MSTOR Create new metric shell_operator_tasks_queue_length
2021-05-08T14:44:23+08:00 INFO     : GVR for kind 'ClusterConfiguration' is installer.kubesphere.io/v1alpha1, Resource=clusterconfigurations
2021-05-08T14:44:23+08:00 INFO     : EVENT Ku

[2021-05-08 09:30] yuswift commented on #3853
The cluster object will be reconciled if failed to update it. Ignore the err cause it is continuously generated.
/close

[2021-05-08 09:31] wansir opened #3854 "Unable to create resource quota for extended resources"
**Describe the Bug**

Unable to create resource quota for extended resources. Only some built-in options are provided.

![image](https://user-images.githubusercontent.com/8263040/117534082-82840980-b022-11eb-9039-f274379eff3a.png)

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Expected behavior**
Able to add resource quotas such as `requests.

[2021-05-08 09:33] yuswift commented on #3854
/area console

[2021-05-08 09:38] yuswift commented on #3847
It's really necessary for us to install ks-core with helm. I'm willing to work on this issue with Roland together.

[2021-05-08 09:39] yuswift commented on #3849
/area security

[2021-05-08 09:40] yuswift commented on #3849
please tell us which kubesphere version you are using

[2021-05-09 03:37] yuswift opened #3856 "need more test cases on service mesh"
refer https://github.com/kubesphere/kubesphere/issues/3845
we need a full stack test on service mesh
/cc @liuyp2018
/cc @wenxin-01
please take a look at this issue if you are free

[2021-05-09 03:39] yuswift commented on #3856
see https://github.com/kubesphere/kubesphere/pull/3848#discussion_r628819167

[2021-05-09 03:54] yuswift commented on #3856
/help wanted

[2021-05-09 03:54] yuswift commented on #3856
/help-wanted

[2021-05-09 03:56] yuswift commented on #3856
help wanted

[2021-05-09 04:11] yuswift commented on #3856
help-wanted

[2021-05-09 04:12] yuswift commented on #3856
/area test

[2021-05-09 04:15] yuswift commented on #3856
/help

[2021-05-09 07:50] JohnNiang opened #3857 "Invalid webhook push setting in pipeline"
**Describe the Bug**

In DevOps project pipeline setting, a webhook push link is automatically set, which is invalid in Github webhook configuration. The specific result is as follows:

![image](https://user-images.githubusercontent.com/16865714/117564355-33031380-b0de-11eb-838d-9d5ff5371def.png)

![image](https://user-images.githubusercontent.com/16865714/117564313-149d1800-b0de-11eb-9d77-36769ed

[2021-05-09 11:19] LinuxSuRen commented on #3857
hi @JohnNiang , thanks for reporting this issue.

[2021-05-09 12:11] wenxin-01 commented on #3856
I will test this

[2021-05-10 01:10] LinuxSuRen commented on #3857
/assign

[2021-05-10 01:19] luoMonkeyKing opened #3858 "multi-cluster RSP"
Is there a kubefed RSP policy setting for multi-cluster application deployment of kubesphere version 3.1? I read the multi-cluster bi-weekly regular meeting in November last year and mentioned this. I don’t know if it is reflected in the new version. If not, will there be this feature plan in the subsequent version?

[2021-05-10 02:11] yuswift commented on #3849
we have fixed it in v3.1.0. please upgrade your version.

[2021-05-10 02:21] zhaolei0914 commented on #3849
ok,thank you

[2021-05-10 02:21] #3849 closed

[2021-05-10 02:52] xuanyuanaosheng commented on #3803
The blackbox-exporter probe works fine on kubesphere v3.1.0

[2021-05-10 05:23] Felixnoo commented on #3857
I suggest you guys also test the S2I webhook.

[2021-05-10 05:44] LinuxSuRen commented on #3857
Okay.

[2021-05-10 07:18] LinuxSuRen commented on #3857
# Single cluster

The URL `http://ip:port/cluster/default/devops_webhook/github` is incorrect, you will get 404

The correct URL should be `http://ip:port/devops_webhook/github`

[2021-05-10 07:32] wenxin-01 opened #3860 "Historical consumption information in newly created projects"
**Versions Used**
KubeSphere:  `ks3.1`

**Preset conditions**
There is a multi-cluster environment

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a multi-cluster workspace 'a'  with cluster 'host' and 'member1'
2. Create a project 'h' in workspace 'a' with cluster 'member1'
3. Create a project 'g' in workspace 'a' with cluster 'host'
4. Create a multi-cluster project 'f' in works

[2021-05-10 08:05] 94rain opened #3861 "dead links and version updates in README"
I find the following dead links in README and their potential replacements:

----
File: ./staging/src/kubesphere.io/client-go/README.md
[✖] https://kubesphere.io/docs/api-reference/api-docs/ → Status: 404
 - Can be replaced with: https://kubesphere.io/docs/reference/api-docs/

File: ./README.md
[✖] https://v3-0.docs.kubesphere.io/docs/installing-on-kubernetes/hosted-kubernetes/install-ks-on-tencen

[2021-05-10 08:41] tjnh05 opened #3862 "There're some wrong with pods such as ks-apiserver-xxxx-xxxx which status is CrashLoopBackOff while install kubesphere v3.1.0 on k8s cluster"
**What's your question**
There're some wrong with pods such as ks-apiserver-xxxx-xxxx which status is  CrashLoopBackOff.

**Environment: OS & Hardware Information**
Virutal machines created in Openstack Queen.  Ubuntu 18.04 LTS, 4C/8G,  Kubernetes v1.20.5 cluster with three masters and three workers.

**Error logs or message (Attach logs or screenshot)**
[code]

**Installer Version**
v3.1.0

[2021-05-11 01:47] LinuxSuRen commented on #3857
It works well.

[2021-05-11 03:12] liuyp2018 opened #3866 "Incorrect message when deleting a role bound to the user"
**Versions Used**
KubeSphere: kubesphere v3.1.0

**How To Reproduce**
Steps to reproduce the behavior:
1. the role binds the user
2. Incorrect message when deleting the role

![image](https://user-images.githubusercontent.com/36271543/117752593-a37a7380-b249-11eb-9361-9b700d061b07.png)

/kind bug
/assign @harrisonliu5
/priority Medium
/milestone BackLog

[2021-05-11 03:28] Caelebs opened #3867 "Request help:How to extend kubesphere's service components?"
I have a service for authentication and routing distribution, which is similar to the ability of ingress. I want to extend it to the service component of kubesphere. I have no way to start. Can I provide some suggestions or documentation?

![image](https://user-images.githubusercontent.com/12752710/117753961-f9e8b180-b24b-11eb-99e6-326926eddc8e.png)

[2021-05-11 03:32] Caelebs commented on #3825
okay, thanks @yuswift

[2021-05-11 03:32] #3825 closed

[2021-05-11 03:48] Caelebs commented on #3867
okay, let me take a look, thanks for the reply @wansir

[2021-05-11 04:06] LinuxSuRen commented on #3818
/retitle Failed to trigger a particular branch Pipeline of the Gitlab multi-branch
/priority high

[2021-05-11 05:48] daniel-hutao commented on #3760
![image](https://user-images.githubusercontent.com/18692628/117764712-86e93600-b25f-11eb-82a6-797cd9232a1d.png)

/reopen

[2021-05-11 06:27] harrisonliu5 commented on #3811
/kind need-to-verify

[2021-05-11 08:11] JohnNiang commented on #3851
But the sync status won't always be updating in my environmen.

[2021-05-11 08:20] JohnNiang commented on #3851
I suggest moving this issue into <https://github.com/kubesphere/console>.

[2021-05-11 08:59] JohnNiang commented on #3851
The sync status will be back to success. But I couldn't reproduce this issue every time after I updated credential.

[2021-05-11 09:23] JohnNiang commented on #3851
The sync status should be updated periodically instead of update immediately after updating credential.

[2021-05-11 13:46] yuswift commented on #3858
v3.1.1 only focus on bugfix. We will add the feature later. Actually, you can also use rsp with kubectl.See https://github.com/kubesphere/kubesphere/issues/3008

[2021-05-11 13:46] yuswift commented on #3008
/assign

[2021-05-11 13:49] yuswift commented on #3760
/cc @junotx

[2021-05-12 01:34] benjaminhuo commented on #3760
@junotx Pls take a look at the new symptom

[2021-05-12 03:03] JohnNiang commented on #3851
/cc @harrisonliu5

[2021-05-12 03:04] jerryhu1234 opened #3869 "For gitlab group, it supports multi-level display repo"
eg group:
A
—a
—a—a1
—a—a2
—b
—b—b1
—b—b2
--c
For this gitlab group, it supports multi-level display repo:
A/a/a1
A/a/a2
A/b/b1
A/b/b2
A/c

[2021-05-12 03:23] xyz-li commented on #3821
/milestone 3.1.0

[2021-05-12 03:24] xyz-li commented on #3821
/milestone 3.1.1

[2021-05-12 03:34] xyz-li opened #3870 "openpitrix resources are not included in billing."
**Describe the Bug**
Install an app with openpitrix, but resources are not include in billing.

**Versions Used**
KubeSphere: 3.1.0

**How To Reproduce**
Steps to reproduce the behavior:
1.  Install an app in  namespace  `test-metering`
2. Click the `View Consumption`
3. Click the namespace ` test-metering`

**Expected behavior**
openpitrix resources are included in billing.

area/metering
kind/bu

[2021-05-12 03:39] LinuxSuRen commented on #3869
/kind feature-request
/area devops

[2021-05-12 03:49] amoonstar opened #3872 "Error: Failed to create etcd service: interrupted by error"
**General remarks**
**Environment: **
centos7 from IPC‘s os

[root@k8s-master download]# cat /etc/redhat-release
CentOS Linux release 7.3.1611 (Core)

**Error logs or message (Attach logs or screenshot)**
related console:
[root@k8s-master download]# ./kk create cluster --with-kubernetes v1.20.4 --with-kubesphere v3.1.0
+------------+------+------+---------+----------+-------+-------+-----------+--

[2021-05-12 05:56] RolandMa1986 commented on #3827
/milestone 3.1.1

[2021-05-12 06:04] xyz-li commented on #3870
/area metering
/kind bug
/priority low
/milestone 3.1.1

[2021-05-12 06:52] xyz-li opened #3873 "openpitrix resolves charts failed."
**Describe the Bug**
When the name in `Chart.yaml` is different from the name of chart dir, openpitrix will be failed to resolve the chart.
This will block the deploy action.
![image](https://user-images.githubusercontent.com/6263928/117930847-101c6d80-b331-11eb-895d-d175fab63060.png)

**Versions Used**
KubeSphere: 3.1.0

**How To Reproduce**
Steps to reproduce the behavior:
1. Choose one normal c

[2021-05-12 07:44] feeman89 opened #3874 "why installed it , it no application menu?"
![image](https://user-images.githubusercontent.com/65520943/117937695-dc454600-b338-11eb-8eec-7e3ab331e982.png)

[2021-05-12 08:25] tjnh05 commented on #3862
Hello @RolandMa1986 ,
I reinstalled Kubesphere after the previous deployment had been deleted by performing command `bash kubesphere-delete.sh`. Following is the output of some check commands :
[code]

I'm a little surprised with some workloads are deployed on the master nodes instead of the worker nodes.

[2021-05-12 08:28] xyz-li commented on #3822
/assign @xyz-li
/unassign @yunkunrao

[2021-05-12 09:07] JohnNiang commented on #3874
You have to enable related component.

[2021-05-12 10:05] xyz-li commented on #3822
Frontend need add query parameter `workspace` to path `/kapis/clusters/host/tenant.kubesphere.io/v1alpha2/metering`.
@harrisonliu5

[2021-05-12 10:09] xyz-li commented on #3822
/assign @harrisonliu5

[2021-05-12 10:26] xyz-li commented on #3805
/need-to-verify

[2021-05-12 10:27] xyz-li commented on #3805
/kind need-to-verify

[2021-05-12 12:35] #3861 closed

[2021-05-13 02:50] harrisonliu5 commented on #3866
[console/pull/1879](https://github.com/kubesphere/console/pull/1879)

[2021-05-13 04:04] harrisonliu5 commented on #3866
/kind need-to-verify

[2021-05-13 06:23] yuswift commented on #3293
/lifecycle-remove stale

[2021-05-13 06:23] crazylsq opened #3875 "Cannot log in after updating to 3.1 yesterday"
Problem Description

We have been using ldap for version 3.0，but there are some problems after upgrading to 3.1

ldap user login for the first time
![image](https://user-images.githubusercontent.com/16173894/118086396-7e773380-b3f6-11eb-87e3-970ba41972d3.png)

Users who have logged in using ldap in version 3.0 can log in normally, but the running pipeline reports an error
![image](https://user-ima

[2021-05-13 06:44] RolandMa1986 commented on #3874
/kind support
@feeman89 There's no Application menu in the Clusters management page. You have to create your own workspace and project to use `Application`.

[2021-05-13 06:50] RolandMa1986 commented on #3862
It looks like an issue with the Ceph CSI. _MountVolume.MountDevice failed for volume "pvc-370130f4-ae80-4fd2-b160-bacf5bbaedf9" : kubernetes.io/csi: attacher.MountDevice failed to create newCsiDriverClient: driver name rook-ceph.rbd.csi.ceph.com not found in the list of registered CSI drivers_. Please make sure your Ceph CSI works properly before install KubeSphere.

[2021-05-13 08:09] luoMonkeyKing commented on #3008
Excuse me, is there a detailed operation document? Is it to create Federated enterprise space on kubesphere first, and then create FederatedNamespace and FederatedDeploymen&RSP on kubesphere console? I tried it like this, but it didn't work.

[2021-05-13 09:06] JUNgege10 opened #3876 "Create Storage ProvisionerCapability Reports an Error"
<img width="870" alt="image" src="https://user-images.githubusercontent.com/18061649/118104068-3c0d2100-b40d-11eb-89e9-dca0cbb337f9.png">

TASK [common : KubeSphere | Creating Storage ProvisionerCapability] ************
 \"ProvisionerCapability\" in version \"storage.kubesphere.io/v1alpha1\"\nunable to recognize \"/kubesphere/kubesphere/ks-crds/provisonercapability/rbd.yaml\": no matches for kind

[2021-05-13 10:21] JUNgege10 opened #3877 "Cluster management is default, how do I change it?"
<img width="614" alt="image" src="https://user-images.githubusercontent.com/18061649/118112580-ca86a000-b417-11eb-962a-164bb3702115.png">

[2021-05-13 10:21] #3876 closed

[2021-05-13 10:21] JUNgege10 commented on #3876
resolved

[2021-05-13 14:02] amoonstar commented on #3872
the centos version is too low, i have upgrade this version to 7.9.2009. it seems to be right now.

[2021-05-13 14:02] #3872 closed

[2021-05-13 14:48] tjnh05 commented on #3862
Hello @RolandMa1986 ,
Thanks a lot for your help!
Pod `redis-ha-server-0` has been deployed in node `k8smaster3/172.16.2.50`  which is master node. However, all pods of my csi-rbdplugin are deployed in worker nodes instead of master ones as below:
[code]
In my environment, all application workloads should be deployed in worker nodes instead of master ones. Probably the gap between Kubesphere and m

[2021-05-13 22:16] tjnh05 commented on #3862
Hello @RolandMa1986 ,

Pods  `redis-ha-server-0` and `ks-apiserver-xxxx-xxxx` become ok after statefulset `redis-ha-server` has been edited and  I removed `node-role.kubernetes.io/master:NoSchedule`  from `Tolerations`. The final status of pods in namespace kubesphere-system are shown as below:
[code]

[2021-05-13 23:10] tjnh05 commented on #3862
I would like to close this issue since the problem has been fixed and many thanks to @RolandMa1986 for the help!

[2021-05-13 23:10] #3862 closed

[2021-05-14 01:29] yuswift commented on #3008
In v3.1.0, kubesphere doesn't support creating rsp on console. But you can create a FederatedNamespace and FederatedDeployment on console. see [here](https://kubesphere.io/zh/docs/project-administration/project-and-multicluster-project/)

[2021-05-14 01:34] Cryice opened #3878 "Pod Template Container Image set the private image repository sometime missing imagePullSecrets"
Version: Kubesphere 3.0.0
Issue: Private image repository secret name missing when Pod Redepoy
Description:
To deploy from a private image repository, I create an image registry secret name docker-key, but I found somtime missing image pull secret，cause image not found，like image url

[code]

If i use Edit YAML function handle add  config can temporary solve this problem

[code]

go back use Redep

[2021-05-14 01:40] RolandMa1986 commented on #3862
With pleasure! BTW, we trade the KubeSphere component as part of the Control Panel, so all the pods were scheduled to master nodes.

[2021-05-14 02:46] zackzhangkai commented on #3295
/close

[2021-05-14 02:46] #3295 closed

[2021-05-14 03:09] wansir commented on #3877
[Enable multi-cluster management in KubeSphere](https://kubesphere.io/docs/multicluster-management/enable-multicluster/direct-connection/)

[2021-05-14 03:13] wansir commented on #3875
/assign @harrisonliu5

Username regex `[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*`, maximum length 32.

[2021-05-14 03:19] zhuch-h opened #3879 "prometheus-k8s unattached prometheus-k8s-rulefiles-0"
**Describe the Bug**
 Events: Unable to attach or mount volumes: unmounted volumes=[secret-kube-etcd-client-certs], unattached volumes=[prometheus-k8s-rulefiles-0 secret-kube-etcd-client-certs prometheus-k8s-token-khzdd config config-out tls-assets prometheus-k8s-db]: timed out waiting for the condition

**Versions Used**
KubeSphere: ks3.1
Kubernetes: kubeadm v1.20.0

**Environment**
How many node

[2021-05-14 03:29] tjnh05 commented on #3862
@RolandMa1986 , Thanks for your clarification.  I double-checked, but found one pod named with `ks-controller-manager-5f66b4948f-dr7nb` is scheduled on worker node `k8sworker3` as below:
[code]
So is there any wrong with the schedule?

[2021-05-14 03:50] JUNgege10 commented on #3877
@wansir I have changed it according to the documentation, but nothing has changed.

[2021-05-14 03:56] wansir commented on #3877
Wait a moment, check ks-installer logs use the following command:
[code]

[2021-05-14 03:57] xuanyuanaosheng opened #3880 "Add New Prometheus System to monitor other service"
Current the monitor system in kubesphere can not meet the monitoring requirements  due to the performance problems of Prometheus, So we need a new Prometheus to monitor other service ?

How to handle this ?

I test the

[code]

The proemtheus works fine, but the kubesphere has error
[code]
![image](https://user-images.githubusercontent.com/4197714/118219103-60b7d600-b4ab-11eb-9994-9c9d55d7dea1.png

[2021-05-14 03:58] wansir commented on #3880
/assign @kubesphere/sig-observability

[2021-05-14 04:19] fuchunlan commented on #3531
/kind need-to-verify

[2021-05-14 04:19] fuchunlan commented on #3536
/kind need-to-verify

[2021-05-14 04:20] fuchunlan commented on #3543
/kind need-to-verify

[2021-05-14 04:44] JUNgege10 commented on #3877
@wansir The log is normal：

Waiting for all tasks to be completed ...
task multicluster status is successful  (1/4)
task openpitrix status is successful  (2/4)
task network status is successful  (3/4)
task monitoring status is successful  (4/4)
**************************************************
Collecting installation results ...
#####################################################
###

[2021-05-14 06:07] zhuch-h commented on #3879
fix :
kubectl -n kubesphere-monitoring-system create  secret generic kube-etcd-client-certs \
 --from-file=etcd-client-ca.crt=/etc/kubernetes/pki/etcd/ca.crt \
 --from-file=etcd-client.crt=/etc/kubernetes/pki/etcd/healthcheck-client.crt \
 --from-file=etcd-client.key=/etc/kubernetes/pki/etcd/healthcheck-client.key

[2021-05-14 06:17] benjaminhuo commented on #3880
@junotx Pls take a look at this issue. Is it possible to fix this in v3.1.1?

[2021-05-14 06:22] fuchunlan commented on #3456
/kind need-to-verify

[2021-05-14 06:26] wansir commented on #3877
Make sure that your cluster role is host.

[code]

And then you can open the cluster management page.

![image](https://user-images.githubusercontent.com/8263040/118230465-4f2cf900-b4c0-11eb-803c-06fe4f9a7b41.png)

[2021-05-14 06:45] JUNgege10 commented on #3877
@wansir cluster role changed to host succeeded，TKS

[2021-05-14 07:05] qinghuan-chain commented on #3800
I also get this bug in v3.1.0. How can i fixed it?

![image](https://user-images.githubusercontent.com/7252280/118234369-cf099200-b4c5-11eb-8ca1-49f4de040265.png)

[2021-05-14 07:07] qinghuan-chain commented on #3800
@wansir

[2021-05-14 07:10] fuchunlan commented on #3471
/kind need-to-verify

[2021-05-14 07:16] wansir commented on #3800
Pls check logs of `ks-apiserver` and `ks-controller-manager`,  might not be the same problem. The error code is 404, I think there is something wrong when synchronizing resources to Jenkins.

[2021-05-14 07:31] #3877 closed

[2021-05-14 07:31] JUNgege10 commented on #3877
resolved

[2021-05-14 07:33] qinghuan-chain opened #3881 "ks-control-manager crash bserved a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference) goroutine 910 [running]:"
ks-control-manager crash bserved a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)  goroutine 910 [running]:

![image](https://user-images.githubusercontent.com/7252280/118237229-a97e8780-b4c9-11eb-9ae7-6574c6f120a9.png)

kubersphere version: 3.1.0
kubernates version: v1.18.18

## General remarks

* Attention, please fil

[2021-05-14 07:44] fuchunlan commented on #3764
/assign @fuchunlan

[2021-05-14 08:00] qinghuan-chain commented on #3800
I have submit an issue:

https://github.com/kubesphere/kubesphere/issues/3881

[2021-05-14 08:15] qinghuan-chain commented on #3881
The full logs:

"reconcilerKind"="WorkspaceRoleBinding"

I0514 08:14:05.231400 1 clusterrolebinding_controller.go:188] Successfully synced key:project-admin-cluster-admin

I0514 08:14:05.231539 1 event.go:278] Event(v1.ObjectReference{Kind:"ClusterRoleBinding", Namespace:"", Name:"project-admin-cluster-admin", UID:"9350c967-ac00-4954-8325-fa6fd070309d", APIVersion:"rbac.authorization.k8s.io/v1", R

[2021-05-14 08:32] wansir commented on #3881
/assign @kubesphere/sig-devops

[2021-05-14 08:39] harrisonliu5 commented on #3822
![image](https://user-images.githubusercontent.com/17872673/118245112-f4e96380-b4d2-11eb-9319-257902ffc509.png)

[2021-05-14 09:03] fuchunlan commented on #3764
/kind need-to-verify

[2021-05-14 09:25] zhuch-h opened #3882 "DevOps get credentials info detail 404"
**Describe the Bug**
create account credential in devops project, About 5 minutes , i want obtain detailed, Has been response 404

**Versions Used**
KubeSphere: 3.1
Kubernetes: 1.20

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters: 8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help us debugging)
System：CentOS Linux 7 (Core) / 1 mas

[2021-05-14 09:46] waidinsamkeit opened #3883 "Unable to start etcd in an offline environment"
# 离线环境
报错信息如下
[code]
![image](https://user-images.githubusercontent.com/52663349/118254660-e94f6a00-b4dd-11eb-8380-94003a53d191.png)

[2021-05-14 09:56] JohnNiang commented on #3882
/area devops
/kind bug

[2021-05-14 10:00] fuchunlan commented on #3685
There is a button  'More'  on the left of the page，do we still need to add edit and delete buttons to each card module?
![image](https://user-images.githubusercontent.com/63338728/118254896-26b3f780-b4de-11eb-8c47-651606774cdb.png)

[2021-05-14 10:35] qinghuan-chain commented on #3882
Our problem is very similar. Have you checked the log of ks-controller-manager to see if it crashed?

[2021-05-14 11:31] zhuch-h commented on #3882
@qinghuan-chain It looks the same

[2021-05-15 21:54] #2953 closed

[2021-05-15 21:54] #3266 closed

[2021-05-15 21:54] #3272 closed

[2021-05-15 21:54] #3270 closed

[2021-05-16 07:42] yuswift commented on #3883
check the status of etcd pod and figure out why the connection timed out.BTW, Github is only for English. Visit [forum](https://kubesphere.com.cn/forum/) for Chinese communication.

[2021-05-16 07:48] yuswift commented on #3879
/assign @kubesphere/sig-observability

[2021-05-16 07:50] yuswift commented on #3878
/kind bug
/cc @kubesphere/sig-multitenancy

[2021-05-17 02:41] LinuxSuRen commented on #3881
hi @qinghuan-chain , thanks for reaching out to us. We did a lot of tests against the GitHub multi-branch Pipeline. But we do not find any problem here. It would be perfect if you could help to provide more details here:

* have you try to upgrade any Jenkins plugins? Please list them if it's true
* if it can be fixed if you delete the corresponding GitHub multi-branch Pipeline
  * Please provide

[2021-05-17 03:05] shihaoH opened #3885 "DevOps build pipeline bug"
**Describe the Bug**
Pipeline initialization prompt `Jenkins not tag maven` or `maven-xxxx is offline`

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: v1.18.6

[2021-05-17 03:12] LinuxSuRen commented on #3885
Normally, this is not a bug. Please check if there're some Pods are the pending status. The corresponding pod might still try to pull docker images.

/area devops
/kind support

[2021-05-17 03:20] crazylsq commented on #3875
Can you provide a repaired mirror tag？

Do you want me to pull the code to compile and mirror, and then replace the mirror?

[2021-05-17 03:23] yuswift commented on #3879
Did you install kubesphere by kubekey? You don't need to create secrets manually.

[2021-05-17 03:23] shihaoH commented on #3885
I upgraded from v3 to v3.1 on offline
Maybe not load kubesphere/builder-maven:v3.1.0 to harbor repo

[2021-05-17 03:33] LinuxSuRen commented on #3882
hi @zhuch-h and @qinghuan-chain , thanks for reporting this issue to the community. Please take a look at [my comments here](https://github.com/kubesphere/kubesphere/issues/3881#issuecomment-841941000).

[2021-05-17 03:36] #3885 closed

[2021-05-17 03:50] zhuch-h commented on #3881
@LinuxSuRen no any operation，My guess is that some of the components themselves pulled the latest version and it didn't match

[2021-05-17 03:57] zhuch-h commented on #3879
@yuswift install cluster by kubeadm, use kubekey install kubesphere3.1.
The first, select minimal installation.
Then, update member role to host.

[2021-05-17 05:39] LinuxSuRen commented on #3881
Can you be more specific? It's very important for this issue.

[2021-05-17 06:40] LinuxSuRen commented on #3846
If I understand correctly, there's a particular issue related to `hostnetwork` configuration. There's no bug here. I guess we can close this issue.

[2021-05-17 07:35] liuyp2018 opened #3887 "After upgrade cluster, the application's traffic management graph cannot be viewed"
**Describe the Bug**

1. upgrade kubespehre cluster from v3.0 to v3.1

2. After upgrade , Continuously access the ingress of the application

3. the  application's traffic management  graph cannot be viewed

![image](https://user-images.githubusercontent.com/36271543/118448980-3a04d400-b725-11eb-8fcc-6650df7578c4.png)

/kind bug
/assign @zackzhangkai
/priority Medium
/milestone BackLog

[2021-05-17 07:36] LinuxSuRen commented on #3818
Thanks to @JohnNiang , we finally figure the real reason. Please [see also](https://github.com/kubesphere/console/issues/1877#issuecomment-842085703) if you want to know the details.

[2021-05-17 07:38] LinuxSuRen commented on #3818
/close

[2021-05-17 07:38] #3818 closed

[2021-05-17 08:09] zdwork opened #3888 "registry.cn-beijing.aliyuncs.com/kubesphereio/flannel:v0.12.0 may require 'docker login'"

[2021-05-17 09:08] wqnner opened #3889 "aws-auth was updated by a lambda which code is not open source"
**Describe the Bug**
I installed kubesphere on aws using this template:https://aws-quickstart.s3.amazonaws.com/quickstart-qingcloud-kubesphere/templates/kubesphere-entrypoint-existing-vpc.template.yaml
When I edit all the supported resource tags on the AWS tag editor page,  lambda k8s-api-vpc-connector-MYEKSID  was triggered, and lambda k8s-api-vpc-connector-MYEKSID  modifies the aws-auth configma

[2021-05-17 23:25] zackzhangkai commented on #3887
/area microservice
/milestone 3.1.1

[2021-05-18 00:33] misteruly opened #3890 "Kubesphere local and official mirror of each installation environment, The Kubesphere local and official image installation environment is performing S2I error"
![image-20210518081751543](https://image.z5689.com/blog/image-20210518081751543.png)

![image-20210518081814198](https://image.z5689.com/blog/image-20210518081814198.png)

Both my local and official mirror libraries have Kubesphere V3.1.0 deployed,  The Kubesphere deployed by the official mirror library during S2i can be successfully packaged and uploaded，The local mirroring library deployed to Ku

[2021-05-18 01:14] LinuxSuRen commented on #3888
/retitle registry.cn-beijing.aliyuncs.com/kubesphereio/flannel:v0.12.0  may require 'docker login'

[2021-05-18 01:14] LinuxSuRen commented on #3888
/kind support

[2021-05-18 01:15] LinuxSuRen commented on #3888
/area installation

[2021-05-18 01:20] LinuxSuRen commented on #3883
/retitle Unable to start etcd in an offline environment

/kind support

[2021-05-18 01:56] LinuxSuRen commented on #3888
This [repo](https://github.com/kubesphere/image-sync-config) responsible for sync images to `aliyunc.com`.

[2021-05-18 02:18] LinuxSuRen opened #3891 "Provide an API endpoint of KS to trigger a regular Pipeline"
**What's it about?**

![image](https://user-images.githubusercontent.com/1450685/118579967-9a495380-b7c1-11eb-946f-1bd7ecdd2eed.png)

**What's the reason why we need it?**

Currently, ks only offer a description of the Pipeline remote build trigger. But users need to use Jenkins endpoint instead of ks endpoint. This is not appropriate.

We need two parts:
* backend
  * provide an endpoint
* front-

[2021-05-18 02:23] xyz-li commented on #3843
https://kubesphere.com.cn/forum/d/4505-31-ks-controller-manager

[2021-05-18 02:39] zhuch-h commented on #3881
@LinuxSuRen sorry, No version record

[2021-05-18 02:41] LinuxSuRen commented on #3881
/kind bug
/triage needs-information

[2021-05-18 03:05] wenxin-01 opened #3892 "After upgrade cluster, when the kubelet real-time data is turned on, the page reports an error"
**How To Reproduce**
Steps to reproduce the behavior:
1. upgrade kubespehre cluster from v3.0 to v3.1
2. Turn on kubelet real-time data
![image](https://user-images.githubusercontent.com/68640256/118583984-86552000-b7c8-11eb-92c3-fd0319d8a45a.png)

/kind bug
/assign @zryfish
/priority Medium
/milestone BackLog

[2021-05-18 06:08] qinghuan-chain commented on #3881
Sorry to reply it so late，I came up when I upgraded from version 3.0.0 to the latest 3.1.0, not sure if some jenkins plugins are installed.

[2021-05-18 06:38] xyz-li opened #3893 "nil dereference when ks-apiserver enables HTTPS"
**Describe the Bug**
When ks-apiserver enables HTTPS, there will be nil deference.
[code]
**Versions Used**
KubeSphere: v3.1.0

[2021-05-18 07:36] JohnNiang commented on #3851
Another problem about kubeconfig has reported at <https://github.com/kubesphere/console/issues/1907>.

[2021-05-18 08:19] LinuxSuRen commented on #3881
I'm wondering if you know which Pipeline caused this panic? Please provide the `config.xml` file which comes from the Jenkins home directory.

[2021-05-18 10:12] qinghuan-chain commented on #3881
Here is my jenkins config.xml

[code]

[2021-05-18 11:01] LinuxSuRen commented on #3881
Sorry about the misleading. What I need here is the `config.xml` of the Jenkins job which caused the panic.

[2021-05-18 11:48] qinghuan-chain commented on #3881
Ok. This panic will cause on update Credentials. It is currently not possible to create a voucher and create a new pipeline.
When I tried to restart ks-controll-manager, he kept reporting errors and could not recover

[2021-05-18 11:52] qinghuan-chain commented on #3881
I think it has nothing to do with a particular assembly line, and now each pipeline is running normally. It's just that you can't create new Credentials  or new pipelines.
![image](https://user-images.githubusercontent.com/7252280/118646129-5e8aaa00-b812-11eb-8fcc-e75e77c560ac.png)

[2021-05-18 11:55] qinghuan-chain commented on #3881
Here is a pipeline job config.

[code]

[2021-05-18 11:57] qinghuan-chain commented on #3881
Here is another:

[code]

[2021-05-18 13:21] LinuxSuRen commented on #3881
Because this line `/root/go/src/kubesphere.io/kubesphere/pkg/simple/client/devops/jenkins/internal/github.go:109 +0x2cc` caused panic.

The potential problems caused by the following code:

[code]

I guess some Jenkins jobs lost `<trust>`. It looks like those jobs you provided are ok. Please check other GitHub multi-branch pipeline.

Please see also [here](https://github.com/kubesphere/kubesphere/

[2021-05-19 00:14] LinuxSuRen commented on #3309
We've implemented this feature.
/close

[2021-05-19 00:14] #3309 closed

[2021-05-19 03:00] ysjjovo opened #3895 "Cannot run svn Pipeline due to missing branch."
**Describe the Bug**
I follow the [instruction](https://kubesphere.io/docs/devops-user-guide/how-to-use/create-a-pipeline-using-jenkinsfile/)
to create a git pipline,it succeed!,but when I modify jenkinsfile,remove git parts,then create a new pipline with svn source.
It failed with no error tips.whether the browser console or jenkins pods logs,screens snapshot shows below.
![image](https://user-im

[2021-05-19 05:38] LinuxSuRen commented on #3895
hi @ysjjovo , thanks for reaching out to us. When you click the `Run` button, the frontend will call the API from `ks-apiserver`. So, I guess you might be able to find some clues from the log output of `ks-apiserver`. Hopefully I can help you.

By the way, v3.1.0 already released for a while. I'd suggest that you try to use v3.1.0 if you don't have a particular reason.

/kind support
/area devops

[2021-05-19 07:22] LinuxSuRen commented on #3881
So glad that I can help you. But what makes me feel confused is that why and how that happened.

[2021-05-19 07:24] #3882 closed

[2021-05-19 07:24] #3879 closed

[2021-05-19 09:00] yuswift opened #3898 "support editing multi-cluster config template on console"
**What's it about?**
Currently, we can edit the deployment config template under a single cluster project, such as the image tag. However, we can't do that under a multi-cluster project.
![1621414609497](https://user-images.githubusercontent.com/37265389/118785448-70785580-b8c3-11eb-8829-420f6f256bf5.jpg)

/area console
/kind feature-request

[2021-05-19 09:01] yuswift commented on #3898
/milestone 3.1.1
/cc @harrisonliu5
/cc @xuliwenwenwen

[2021-05-19 09:02] yuswift commented on #3898
/area multicluster

[2021-05-19 11:35] laingke opened #3899 "feature request: add a priority order of App Repository, or set one of those as default"
**What's it about?**

add a priority order of App Repository, or set one of those as default.

**What's the reason why we need it?**

When we depolky a new app, we will get this app (or some apps) from a fixed workspace, usually from the private repository. So it can be more convenient in this feature.

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
as

[2021-05-19 11:37] LinuxSuRen commented on #3899
Good suggestion!

[2021-05-20 01:04] ysjjovo commented on #3895
I already resolved it.It seems svn repo must have a branch,for example trunk.When I create a trunk directory in the repo root,put all the content into it,It works!I think If ks-apiserver gives some tips about it would be more friendly to user.

[2021-05-20 01:04] ysjjovo commented on #3895
I already resolved it.It seems svn repo must have a branch,for example trunk.When I create a trunk directory in the repo root,put all the content into it,It works!I think If ks-apiserver gives some tips about it would be more friendly to user.

[2021-05-20 01:10] LinuxSuRen commented on #3895
I feel happy that you resolved this issue. But I still feel confused, how about you just create a Pipeline job in Jenkins with svn, what happened when you trigger it?

In order to make this issue be more accurate. I'm going to rewrite it. Please correct me if you have a better one.

/retitle Cannot run svn Pipeline due to missing branch.

[2021-05-20 01:46] evirts opened #3900 "kubectl not working properly : unable to upgrade connection: Unauthorized"
All-in-One Installation on Linux，kubesphere version is 2.1，k8s version is 1.16.7

questions：
On last Friday, due to the one-year certificate time expired，Using commands "kubeadm alpha certs renew all" to updated certificate，The current status of certificates is as follows：
[root@master ~]# openssl x509 -in /etc/kubernetes/pki/apiserver.crt -noout -text |grep ‘ Not ’
Not Before: May 13 13:02:45 202

[2021-05-20 02:17] evirts opened #3901 "kubectl not working properly : unable to upgrade connection: Unauthorized"
All-in-One Installation on Linux，kubesphere version is 2.1，k8s version is 1.16.7

questions：
On last Friday, due to the one-year certificate time expired，Using commands "kubeadm alpha certs renew all" to updated certificate，The current status of certificates is as follows：
[root@master ~]# openssl x509 -in /etc/kubernetes/pki/apiserver.crt -noout -text |grep ‘ Not ’
Not Before: May 13 13:02:45 202

[2021-05-20 03:30] zackzhangkai commented on #3845
/reopen

[2021-05-20 03:31] zackzhangkai commented on #3845
Also, the traffic governance existed the similar errors. Can not save the configuration for the settings, such as Circuit Breaker.

[2021-05-20 03:32] zackzhangkai commented on #3845
https://github.com/kubesphere/kubesphere/pull/3902

[2021-05-20 06:40] Sherlock113 opened #3903 "Uninstall pluggable components"
Hi, please provide the necessary commands here to uninstall pluggable components and I will put them in our Doc. This is the uninstallation doc in [3.0 Doc](https://v3-0.docs.kubesphere.io/docs/faq/installation/uninstall-pluggable-components/), which I believe is outdated for most components. Thank you.

- [ ] App Store.
- [ ] DevOps.
- [ ] Logging.
- [ ] Events.
- [ ] Alerting.
- [ ] Auditing.
-

[2021-05-20 06:42] Sherlock113 commented on #3903
Please take a look at this. Thank you. @zheng1 @LinuxSuRen @benjaminhuo @junotx @wanjunlei @zackzhangkai @zryfish

[2021-05-20 06:43] Sherlock113 commented on #3903
/cc @kubesphere/sig-docs

[2021-05-20 06:46] Sherlock113 commented on #3903
@zhu733756 As for KubeEdge, I reckon users can refer to [this part](https://kubesphere.io/docs/installing-on-linux/cluster-operation/add-edge-nodes/#remove-an-edge-node) directly if they want to uninstall it?

[2021-05-20 06:48] zhu733756 commented on #3903
Yes.

[2021-05-20 07:37] zackzhangkai commented on #3903
servicemesh:

[code]

[2021-05-20 07:41] benjaminhuo commented on #3903
https://github.com/kubesphere/ks-installer/issues/924
We have a similar issue to collect uninstall script, most of the content is still valid

[2021-05-20 09:34] JohnNiang commented on #3851
This issue has been fixed by <https://github.com/kubesphere/console/pull/1902> and <https://github.com/kubesphere/console/pull/1911>.

I will close this issue for a while. Please feel free to reopen this issue if you have any problem.

[2021-05-20 09:34] JohnNiang commented on #3851
/close

[2021-05-20 09:34] #3851 closed

[2021-05-20 10:02] huangxuelun commented on #3852
Got same certification issue.  here is version information.
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.6", GitCommit:"8a62859e515889f07e3e3be6a1080413f17cf2c3", GitTreeState:"clean", BuildDate:"2021-04-15T03:28:42Z", GoVersion:"go1.15.10", Compiler:"gc", Platform:"linux/amd64"}

 kubectl logs -n kubesphere-system $(kubectl get pod -n kubesphere-system -l app=ks-install -

[2021-05-21 07:02] vincenthe-ks opened #3904 "Istio grayscale release support configmap"
**What's it about?**

Istio grayscale release support configmap

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2021-05-21 07:29] wansir opened #3905 "Unable to connect to container terminal due to forbidden error"
**Describe the Bug**

Project admin cannot enter the container terminal due to `Forbidden` error.

![image](https://user-images.githubusercontent.com/8263040/119098733-b9a5e200-ba48-11eb-866c-8bae128f0184.png)

**Versions Used**
KubeSphere: v3.1.0

**Expected behavior**

Remove unexpected API request, enter the container terminal successfully.

/kind bug
/area console
/assign @kubesphere/sig-conso

[2021-05-21 07:33] wansir opened #3906 "Failed to build a service through the artifact"
**Describe the Bug**

Failed to build a service through the artifact, default builder template seems not selected.

![image](https://user-images.githubusercontent.com/8263040/119099512-8dd72c00-ba49-11eb-8dfa-323a892d2116.png)

![image](https://user-images.githubusercontent.com/8263040/119099526-92034980-ba49-11eb-8b3a-53f642818c74.png)

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: (If KubeSph

[2021-05-21 07:40] JohnNiang commented on #3906
I have reported this problem in <https://github.com/kubesphere/console/issues/1908>.

[2021-05-21 07:41] wansir commented on #3906
/close

[2021-05-21 07:41] #3906 closed

[2021-05-21 08:50] xuanyuanaosheng opened #3907 "How to define a new prometheus system in other namespace"
I want to define another prometheus system in other namespace using prometheus-operator in the kubesphere-monitoring-system,  How to do it?

[2021-05-21 08:53] xuanyuanaosheng commented on #3907
Please give a example yaml

[2021-05-22 09:17] #3287 closed

[2021-05-24 03:20] wansir commented on #3905
/milestone 3.1.1

[2021-05-24 03:21] wansir commented on #3854
/milestone 3.1.1

[2021-05-24 03:21] wansir commented on #3850
/milestone 3.1.1

[2021-05-24 03:24] wansir commented on #3775
Already support https://github.com/kubesphere/console/pull/1842

/close

[2021-05-24 03:24] #3775 closed

[2021-05-24 03:57] junotx commented on #3880
It is not supported to have multiple Prometheus instances in the `kubesphere-monitoring-system` namespace for now, and you can deploy new prometheus in another namespace

[2021-05-24 04:05] junotx commented on #3880
This is not a bug but the simultaneous support for multipe prometheus backends, which can lead to many changes, so it is not recommended to do so in v3.1.1

[2021-05-24 05:44] ylylylylylyl opened #3909 "创建完devops pipline后只有admin账号显示健康状态，其他任何账号均显示的异常状态"
再创建完devops pipline后只有admin账号显示健康状态，其他任何账号均显示的异常状态，且以其他非admin账号的任何账号点击后都是报internel server error

[2021-05-24 05:54] LinuxSuRen commented on #3909
Thanks for reaching out to us. But please provide more context. Please see also the [bug filling template](https://github.com/kubesphere/kubesphere/issues/new?assignees=&labels=&template=bug_report.md) if you think it's.

I cannot reproduce the errors that you describe.

/area devops
/kind support
/triage needs-information

[2021-05-24 10:37] LinuxSuRen commented on #3909
Please provide the version of ks.

[2021-05-24 11:35] ylylylylylyl commented on #3909
kubesphere:v3.1.0,kubernetes:v1.19.8

[2021-05-25 01:35] benjaminhuo opened #3910 "v3.2 Notification Feature Request"
- [ ] Notification Setting validation. Users can validate if the notification setting works or not by clicking a button on the corresponding setting page.
- [ ] Notification History. User can search and browse notification history on a separate page
- [ ] Automatically set cluster name in notification crd based on the actual cluster name of kubesphere
- [ ] Set notification selector to only send n

[2021-05-25 03:06] ylylylylylyl commented on #3909
there is the jenkins log
![1621911709(1)](https://user-images.githubusercontent.com/48339909/119433561-10613380-bd49-11eb-89a6-fede27a716ad.png)
![1621911804(1)](https://user-images.githubusercontent.com/48339909/119433560-10613380-bd49-11eb-877e-61d4888803bf.jpg)
![1621911845(1)](https://user-images.githubusercontent.com/48339909/119433559-10613380-bd49-11eb-821e-f5adaeb3065c.jpg)
and there is th

[2021-05-25 03:14] LinuxSuRen commented on #3909
Have ever change any configurations in Jenkins? And please check the status of ldap in namespace `kubesphere-system`.

[2021-05-25 12:05] zryfish opened #3911 "Improve KubeSphere development infrastructure"
**What's it about?**
There are lots of articles on how to contribute to KubeSphere, but still not very easy for a newbie. Start from now, we are going to shift our focus to improving the development experience.

**What's the reason why we need it?**
More and more contributors are attracted by KubeSphere, but it's not easy to contribute.

/assign

[2021-05-25 13:06] regardfs opened #3912 "How to run kubebuilder to regenerate yaml file"
**What's your question**
I had changed the PipelineSpec by adding GitlabCiPipeline as
![image](https://user-images.githubusercontent.com/8295227/119502544-9d81a800-bd9c-11eb-8892-74a314950454.png)
but how should i run kubebuilder or other cmd to take this change make effort，and generate or update yaml file，and apply to k8s

**Environment: OS & Hardware Information**

Kubernetes v1.19
Linux Centos

[2021-05-25 15:17] #3895 closed

[2021-05-26 01:54] benjaminhuo opened #3913 "v3.2 GPU support"
- [ ] GPU support for Deployment/Job/CronJob
- [ ] Better GPU monitoring integration

[2021-05-26 05:51] #3887 closed

[2021-05-26 06:32] benjaminhuo opened #3914 "v3.2 Serverless feature"
- [ ] Integration with Knative
- [ ] Integration with OpenFunction

[2021-05-26 07:09] wenxin-01 opened #3915 "After deleting workspace, the app templates will not be deleted."
**Versions Used**
KubeSphere:  `kubesphere3.1`
Kubernetes:   `v1.20.4`

**Preset conditions**
There is a workspace named 'test-ws'

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to workspace 'test-ws'
2. Create a template named 'app-test'
3. Delete workspace 'test-ws'
4. Create a workspace named 'test-ws'
5. Go to workspace 'test-ws'
6. View App Templates

**Expected behavior**
There

[2021-05-26 07:11] wenxin-01 commented on #3915
/milestone 3.1.1

[2021-05-26 07:15] xyz-li commented on #3915
/area app-management

[2021-05-26 07:56] xyz-li commented on #3915
Duplicate of #3614

[2021-05-26 08:42] liuyp2018 commented on #3685
the edit and delete buttons for the service monitoring exporter, not for the service

[2021-05-26 09:03] fuchunlan commented on #3685
![image](https://user-images.githubusercontent.com/63338728/119633280-2869ad80-be44-11eb-80b6-45b0f0d08cfb.png)
Click 'Service Monitoring Exporter' , we can edit for it, now the operation of right module is all in the 'More' button.

[2021-05-26 10:07] qinghuan-chain opened #3916 "CPU && Memory Display NAN"
How Can I fix this bug?

kubernates: v1.18.18
kubesphere: v3.1.0

![image](https://user-images.githubusercontent.com/7252280/119642018-dd07cd00-be4c-11eb-92e2-346a40514c7d.png)

![image](https://user-images.githubusercontent.com/7252280/119642049-e6913500-be4c-11eb-9179-0e3833a2cc74.png)

How ever, the monitor pods are all normal.
![image](https://user-images.githubusercontent.com/7252280/11964224

[2021-05-27 01:11] fengjian1585 commented on #3852
青云的兄弟 能帮忙解决吗

[2021-05-27 04:14] #3916 closed

[2021-05-27 04:57] regardfs commented on #3912
when I run make manifests，it failed with errors as follows：
[code]

[2021-05-27 05:20] Caelebs opened #3917 "Request help:curl test api returns `404: Page Not Found# `"
I refer to the example in the [`QuickStart on developing ks-apiserver.`](https://github.com/kubesphere/community/blob/master/developer-guide/development/quickstart.md) documentation，I added the `pkg/kapis/hellokubesphere/v1alpha1` directory to the project, created the `handler.go` and `register.go` files, then I modified the `pkg/apiserver/apiserver.go` file and added ```urlruntime. Must(hellokube

[2021-05-27 06:15] RolandMa1986 commented on #3917
@Caelebs have you register the new handler in the installKubeSphereAPIs function.?https://github.com/kubesphere/kubesphere/blob/3361a51d44df1e7b8acbc239054431aab0e4319f/pkg/apiserver/apiserver.go#L210

[2021-05-27 06:20] RolandMa1986 commented on #3912
It should be ok. You can ignore the error. New CRD should be already generated.

[2021-05-27 06:26] zackzhangkai commented on #3912
[code]

What's your controller-gen version?

[2021-05-27 06:51] Caelebs commented on #3917
Has been registered in this function, and no error is reported when compiling apiserver.
[code]
@RolandMa1986

[2021-05-27 08:02] JohnNiang opened #3918 "Jenkins agent pods with `Error` status not removed automatically"
**Describe the Bug**
Jenkins agent pods with `Error` status are not removed automatically. This may affect the scheduling of pod, especially the workspace with quota limit.

![image](https://user-images.githubusercontent.com/16865714/119787063-62e64f80-bf03-11eb-9e22-bc0d6708e746.png)

**Expected behavior**
Jenkins agent pods with `Error` status should be removed automatically.

/kind improvement

[2021-05-27 08:03] JohnNiang commented on #3918
/cc @kubesphere/sig-devops

[2021-05-27 08:09] LinuxSuRen commented on #3918
Are there any clues that we can find? For example, the event, log output. Generally speaking, the responsibility of destroying pods belongs to Kubernetes.

[2021-05-27 08:12] JohnNiang commented on #3918
There is no event here, but more status information may be helpful.

![image](https://user-images.githubusercontent.com/16865714/119790149-4697e200-bf06-11eb-97cb-77beb7543612.png)

[2021-05-27 08:15] JohnNiang commented on #3918
And jnlp container log as following:
<details><summary>JNLP Log</summary>
<p>

[code]

</p>
</details>

[2021-05-27 08:55] LinuxSuRen commented on #3918
According to the following log output, I guess Jenkins restarted before. So, please check the pod status of `ks-jenkins`.

`Unknown client name: base-4qhr6`

[2021-05-27 09:31] JohnNiang commented on #3918
I've found the recurrence steps:

1. Run [a long running job](https://github.com/JohnNiang/jenkinsfile-demo/blob/main/Jenkinsfile-pending)
2. Redeploy `ks-jenkins`
3. Stop the long running job
4. See error above

[2021-05-27 09:39] JohnNiang commented on #3918
After I aborted the long running job, Jenkins appeared error as follow:

<details><summary>Jenkins Log</summary>
<p>

[code]

</p>
</details>

[2021-05-27 10:33] andyli029 opened #3920 "Fix Cleartext Password"
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2021-05-27 11:49] andyli029 commented on #3920
![1671622109545_ pic_hd](https://user-images.githubusercontent.com/15212006/119820966-9dacaf80-bf24-11eb-8045-5b7816cad0da.jpg)
![Uploading 1651622109391_.pic_hd.jpg…]()

[2021-05-28 01:54] RolandMa1986 commented on #3917
Double checked the document，those steps work for me. If you still running into trouble, please check the [commit](https://github.com/RolandMa1986/kubesphere/commit/d1e993b4e118a7155d6685b02a5e6b9ae7f0a9cd).

You can skip the telepresence command when you curl "localhost:9090". Please notice that telepresence may have compatible issues, it may not work on your mac.

[2021-05-28 02:26] Caelebs commented on #3917
My local development machine is Windows 10, and the kubesphere cluster operating environment is CentOS 7, and telepresence is also installed on the CentOS system.
[code]
I try other versions of telepresence. @RolandMa1986

[2021-05-28 02:29] wansir commented on #3905
/assign @harrisonliu5
/assign

[2021-05-28 02:37] wansir commented on #3901
@evirts

[2021-05-28 02:47] wansir commented on #3890
/assign @kubesphere/sig-devops
/help

[2021-05-28 02:49] wansir commented on #3889
/assign @ruiyaoOps
/help

[2021-05-28 02:51] wansir commented on #3875
/kind need-to-verify
/assign

[2021-05-28 03:10] yuswift commented on #3898
/milestone clear

[2021-05-28 03:10] yuswift commented on #3898
/milestone 3.2

[2021-05-28 03:11] yuswift commented on #3898
/milestone v3.2

[2021-05-28 03:20] stoneshi-yunify commented on #3843
/milestone 3.1

[2021-05-28 03:21] stoneshi-yunify commented on #3843
/milestone clear
/milestone 3.1.1

[2021-05-28 03:29] stoneshi-yunify commented on #3843
/milestone 3.1.1

[2021-05-28 03:30] stoneshi-yunify commented on #3843
/milestone v3.1

[2021-05-28 03:30] yuswift commented on #3856
@wenxin-01
hi, could you share the testing results on service mesh with kubesphere v3.1?

[2021-05-28 03:30] yuswift commented on #3755
/milestone v3.1

[2021-05-28 03:31] yuswift commented on #3755
/assign @kubesphere/sig-console

[2021-05-28 03:33] stoneshi-yunify opened #3921 "Simplify provisioner and storageclass capabilities 2"
**What's it about?**

this is a follow-up of https://github.com/kubesphere/kubesphere/issues/3843, by adding the ability to allow user to add storage driver's capabilities in ks-console.

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with

[2021-05-28 03:35] stoneshi-yunify commented on #3921
/milestone v4.2
/area storage

[2021-05-28 03:35] stoneshi-yunify commented on #3921
/milestone v4.0

[2021-05-28 03:36] stoneshi-yunify commented on #3843
for 3.1.1, we need to remove the auto detect part, but keep the storageclasscapabilities and provisionercapabilities, so ks-console does not need any change.

the ks-console part change will be tracked in https://github.com/kubesphere/kubesphere/issues/3921

[2021-05-28 03:43] yuswift commented on #3754
/milestone v3.1
/assign @kubesphere/sig-console

[2021-05-28 04:03] wansir opened #3922 "Feat: Automatic cherry pick"
**What's it about?**

We discussed that we will speed up the release rhythm, Kubernetes has a standard release process, maybe we can copy their practices.

**What's the reason why we need it?**

https://github.com/kubernetes/kubernetes/issues/10730

/kind feature-request

[2021-05-28 06:14] yuswift commented on #3541
/milestone v3.1
/assign @kubesphere/sig-console

[2021-05-28 06:15] yuswift commented on #3515
/milestone v3.1
/assign @kubesphere/sig-console

[2021-05-28 06:15] yuswift commented on #3246
/milestone v3.2

[2021-05-28 06:17] yuswift commented on #3008
/milestone v3.2

[2021-05-28 06:21] wansir commented on #3878
/area console
/assign @kubesphere/sig-console

[2021-05-28 06:21] wansir commented on #3878
/milestone v3.1

[2021-05-28 06:23] wansir commented on #3875
/kind bug
/area console
/milestone v3.1

[2021-05-28 06:46] #3873 closed

[2021-05-28 07:18] #3315 closed

[2021-05-28 07:18] #3269 closed

[2021-05-30 11:21] yuswift commented on #3920
/area console

[2021-05-30 12:51] #3324 closed

[2021-05-31 00:41] LinuxSuRen commented on #3890
/area devops
/kind support

[2021-05-31 02:37] ZY123454321YZ opened #3925 "Scheduling pod custom distribution in multi cloud environment"
In multiple k8s environments, for example, you want to schedule one MySQL master pod in a deployment to cluster A and the other MySQL slave pod to cluster B. Will you consider making improvements in this area later? Can you customize the scheduling

[2021-05-31 02:40] ruiyaoOps commented on #3889
EKS was created by referring to the Amazon KES template, the address is https://github.com/aws-quickstart/quickstart-amazon-eks.
For more about lambda, you can find something in the repository and the issues, also you can submit issues, and their reply may not be timely.

[2021-05-31 02:40] ruiyaoOps commented on #3889
@wqnner

[2021-05-31 02:46] yuswift commented on #3925
/kind feature-request
/arem multi- cluster

[2021-05-31 02:46] yuswift commented on #3925
/area multi-cluster

[2021-05-31 02:47] yuswift commented on #3925
/area multicluster

[2021-05-31 02:56] regardfs commented on #3912
thanks a lot, let me continue if any other errors happen

[2021-05-31 02:59] yuswift commented on #3925
What is your purpose in doing so? For disaster backup or something else? In my opinion, putting mysql pods into different clusters will cause additional network connection costs, which will increase the latency between master and slaves. Currently, you can create a deployment for MySQL master in cluster A, then create a deployment for MySQL slave in cluster B separately on KubeSphere. But how the

[2021-05-31 06:09] LinuxSuRen commented on #3621
hi @wansir , do you have any plan for this?

[2021-05-31 06:47] moliqingwa opened #3926 "mysql & ks-installer pods are evicted in kubesphere-system namespace in AWS EKS cluster"
**Describe the Bug**
mysql & ks-installer pods are evicted in kubesphere-system namespace in AWS EKS cluster and the description message of these pods are as follows:
The node was low on resource: ephemeral-storage. Container mysql was using 327900Ki, which exceeds its request of 0.

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: 1.18 (AWS EKS)

**Environment**
How many nodes and their hardware

[2021-05-31 09:00] moliqingwa commented on #3926
Please ignore it, it seems the pod is evicted and created one successfully.
The evicted pod is not removed :<

[2021-05-31 09:00] #3926 closed

[2021-05-31 09:11] dkeven commented on #3842
/assign @f10atin9

[2021-05-31 11:10] wenxin-01 opened #3927 "Canary Release set traffic comes from linux systems did not work"
**Versions Used**
KubeSphere: `nightly-20210530`
Kubernetes:  `v1.20.4`

**Environment**

**How To Reproduce**
Steps to reproduce the behavior:
1. Deploy app 'bookinfo'
2. Create 'Canary Release'
3. Edit 'Forward by request content'
4. Select 'linux' in 'Traffic comes from the following operating systems'
![image](https://user-images.githubusercontent.com/68640256/120183836-cf828680-c242-11eb-8590

[2021-05-31 11:11] wenxin-01 commented on #3856
issue https://github.com/kubesphere/kubesphere/issues/3845 had been fixed, but there is another issue https://github.com/kubesphere/kubesphere/issues/3927

[2021-05-31 11:13] wenxin-01 commented on #3927
/milestone clear
/milestone 3.1

[2021-05-31 13:57] zackzhangkai commented on #3927
https://github.com/kubesphere/kubesphere/pull/3902

[2021-06-01 01:26] LinuxSuRen commented on #3918
In my opinion, this error caused by [Jenkins Kubernetes plugin](https://github.com/jenkinsci/kubernetes-plugin). And consider the high priority must be fixed before the next release. So, I'd suggest that we set the priority of this issue low or medium. If there's no negative feedback from @JohnNiang and others, I'm going to change it later.

[2021-06-01 02:19] #3192 closed

[2021-06-01 02:38] JohnNiang commented on #3918
Thanks for your suggestion. I'll change priority to medium later.

[2021-06-01 02:38] JohnNiang commented on #3918
/priority medium

[2021-06-01 02:39] JohnNiang commented on #3918
/remove-priority high

[2021-06-01 03:34] JohnNiang commented on #3814
I'm going to close this issue for all prs merged. Any other feedbacks will include into another issues referring this issue.

[2021-06-01 03:34] JohnNiang commented on #3814
/close

[2021-06-01 03:34] #3814 closed

[2021-06-01 05:59] f10atin9 commented on #3842
/assign

[2021-06-01 06:06] f10atin9 commented on #3842
/joke

[2021-06-01 06:09] #3893 closed

[2021-06-01 07:09] #3922 closed

[2021-06-01 07:21] ShadowOvO opened #3928 "devops kubesphere 部署失败"
异常信息：
-------------start---------------------
`Starting Kubernetes deployment
ERROR: ERROR: java.lang.RuntimeException: io.kubernetes.client.openapi.ApiException: Bad Request
hudson.remoting.ProxyException: java.lang.RuntimeException: io.kubernetes.client.openapi.ApiException: Bad Request
	at com.microsoft.jenkins.kubernetes.wrapper.ResourceManager.handleApiExceptionExceptNotFound(ResourceManager.

[2021-06-01 07:24] LinuxSuRen commented on #3928
/retitle Errors happened when deploying an application with the Jenkins kubernetes-cd plugin
/kind support
/area devops

[2021-06-02 00:31] #3326 closed

[2021-06-02 03:23] fengjian1585 opened #3930 "k8s 1.20.4 install ks3.0, mysql pod CrashLoopBackOff"
**Describe the Bug**
k8s 1.20.4 install  ks3.0,  mysql pod  CrashLoopBackOff

**Versions Used**
KubeSphere:  3.0
Kubernetes: 1.20.4

**Environment**
How many nodes and their hardware configuration:

centos7.9  master 8cpu/ 16G , node  8cpu/16G

**How To Reproduce**
[root@master1 tmp]# kubectl logs -f mysql-5cd7f86d4c-rj2jl -n kubesphere-system
Initializing database
2021-06-02T02:59:29.151202Z 0 [W

[2021-06-02 10:24] wansir opened #3932 "Failed to upgrade KubeSphere from v2.1.1 to v3.0.0"
**Describe the Bug**

Failed to upgrade kubesphere from v2.1.1 to v3.0.0, the  ks-installer encountered the following problem:

[code]

[code]

[code]

/kind bug
/area upgrade
/assign @kubesphere/sig-installation @kubesphere/sig-devops

[2021-06-02 10:25] wansir commented on #3932
Related Chinese posts:

https://kubesphere.com.cn/forum/d/4645-21130
https://kubesphere.com.cn/forum/d/4456-ks-installer21130

[2021-06-02 10:32] wansir commented on #3930
See also https://github.com/docker-library/mysql/issues/290

https://github.com/kubesphere/ks-installer/blob/advanced-2.0.2/roles/openpitrix/templates/mysql.yaml.j2#L69-L72

[2021-06-03 03:57] xyz-li opened #3933 "openpitrix installs app failed when helm chart contains duplicate keys."
**Describe the Bug**
openpitrix failed to install app when chart contains duplicate keys.
 Because openpitrix needs add extra annotations and labels to helm release with kustomize which will return errors when manifest contains duplicate keys.

![image](https://user-images.githubusercontent.com/6263928/120583455-d850a380-c460-11eb-8e8b-db38dc5d63ba.png)

**Versions Used**
KubeSphere: v3.1.0
kustom

[2021-06-03 04:00] xyz-li commented on #3933
/assign @xyz-li
/area app-management
/kind bug
/priority low

[2021-06-03 06:46] calvinyv commented on #3852
/assign @pixiake

[2021-06-03 07:01] xyz-li commented on #3822
/kind need-to-verify

[2021-06-03 08:50] liuyp2018 opened #3934 "The page is not displayed correctly after refreshing"
**Describe the Bug**

![image](https://user-images.githubusercontent.com/36271543/120615557-fcc17580-c48a-11eb-8aa6-a9be60f87e29.png)

**How To Reproduce**
1. Go to the Member Details page under workspace
2. Go to the DevOps project list tab
3. Refresh the page when there is no DevOps project
4. The page is not displayed correctly

**Versions Used**
KubeSphere: v3.1

/kind bug
/milestone 3.1.1
/as

[2021-06-03 08:54] pixiake commented on #3852
@huangxuelun @fengjian1585

How is the kubernetes's cluster installed ? I tried to install the cluster on centos7.9 with kubeadm, but I did not encounter this issues.

![image](https://user-images.githubusercontent.com/22290449/120616299-b0c30080-c48b-11eb-89d5-7c6eb25863e0.png)

[2021-06-03 09:24] wenxin-01 opened #3935 "When the jwtSecret of member cluster is incorrect, the prompt information of the cluster overview page is inaccurate"
**Versions Used**
KubeSphere:  `kubesphere 3.1`

**Preset conditions**
There is a `multi-cluster` environment

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to member cluster
2. Delete the information of jwtSecret
3. View member cluster in host
4. See error

**Expected behavior**
Prompt the cause of the error accurately

**Actual behavior**
![image](https://user-images.githubusercont

[2021-06-03 10:21] wansir commented on #3655
/reopen

I found that in some cases,  accounts cannot be synchronized to the LDAP of the member cluster.

[2021-06-04 00:54] lshmouse opened #3937 "Support service accounts and RBAC management in cluster management"
**What's it about?**

Support service accounts and RBAC management in cluster management

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one:  In multi-tencent k8s cluster,  cluster mamager need to create differeent service accounts to different users and grant different privileges
* ...

Please leave your comments be

[2021-06-04 01:33] yuswift commented on #3935
/area console
/cc @kubesphere/sig-console

[2021-06-04 02:53] RolandMa1986 commented on #3937
Hi @lshmouse,  the KubeSphere v3.1 release supports Service Account and SA's RBAC  management. You can found it both in project management and Cluster management.  Please let me know whether the function can meet your requirement.

[2021-06-05 02:51] ysjjovo opened #3938 "Parts of Pipelines cannot be deleted in KubeSphere DevOps 3.0.0"
**Describe the Bug**
I create a lot of pipelines with defualt parameters when debugging kubesphere open-api,each pipeline runs every hour.
Thus lots of pods named 'maven-xxxx' was created,And some of them survival for a long long time,ex.
![image](https://user-images.githubusercontent.com/4216579/120877655-59877200-c5ea-11eb-92aa-ce0819bb5432.png)
pods status are running and will never stop.Then I

[2021-06-05 03:11] JohnNiang commented on #3938
Thanks for your report. Pods named with `maven` prefix are pipeline jobs which are not pipelines. And If you try to delete pipelines in web page manually, you have to wait for a second and refresh pipeline list after deletion.

[2021-06-05 04:05] ysjjovo commented on #3938
The problem is that pipelines listed in web page,It doesn't exist in k8s namespace 'kubesphere-devops-system'.Maybe piplines listed in web pages are feteched from other storage other than etcd?

[2021-06-05 04:30] JohnNiang commented on #3938
@ysjjovo I'm sorry that I can't reproduce this issue. Log of ks-apiserver and ks-controller-manager may be helpful for inspecting.

[2021-06-05 11:09] Hades920 opened #3939 "Can't update "ServicePolicy" CRD"
I can't update ServicePolicy

[2021-06-05 11:09] Hades920 commented on #3939
![image](https://user-images.githubusercontent.com/84303187/120889823-9460c880-c631-11eb-8fe9-164296da28cb.png)

[2021-06-05 11:10] Hades920 commented on #3939
I found the response is EMPTY
![Uploading image.png…]()

[2021-06-05 11:11] Hades920 commented on #3939
I found the response is empty
![image](https://user-images.githubusercontent.com/84303187/120889864-c4a86700-c631-11eb-9d94-ea343a71481e.png)

[2021-06-05 11:24] JohnNiang commented on #3939
/help

[2021-06-06 09:32] LinuxSuRen commented on #3938
hi @ysjjovo , thanks for reaching out to us. I guess your KubeSphere version is `v3.0.0`. It was fixed in `v3.1.0`.

For your case, please check if those Pipelines exit in Jenkins. Please delete them if you want.

/kind support

[2021-06-06 10:55] Hades920 commented on #3939
/help

[2021-06-07 00:44] ysjjovo commented on #3938
Yes, My version is v3.0.0,Thanks a lot！Another problem 'lots of long time running pod' refers to then same bug?Should I make a new Issue?

[2021-06-07 01:09] LinuxSuRen commented on #3938
As I mentioned in the last comment.

It might be a bug of the [Jenkins Kubernetes plugin](https://github.com/jenkinsci/kubernetes-plugin) if there's no corresponding Pipeline exist.

In my opinion, it is out of the scope of KubeSphere DevOps. So I'd suggest that we close this issue.

[2021-06-07 01:37] LinuxSuRen commented on #3938
/retitle Parts of Pipelines cannot be deleted in KubeSphere DevOps 3.0.0

[2021-06-07 03:09] LinuxSuRen opened #3940 "Add support to select an artifact when creating an image builder"
**What's it about?**

Currently, users only can upload a binary file manually even they want to create an image builder against the same file multiple times.

![image](https://user-images.githubusercontent.com/1450685/120953286-393cec00-c77f-11eb-86ee-81afda79b3d1.png)

/area devops
/priority medium

**What's the reason why we need it?**

In the real world, users always have their own artifact ser

[2021-06-07 03:11] LinuxSuRen commented on #3857
hi @JohnNiang and @harrisonliu5 , please help to confirm that if we can close this issue.

[2021-06-07 07:25] #3917 closed

[2021-06-07 07:48] fengjian1585 commented on #3930
用这个mysql.yaml.j2 替换原镜像的mysql.yaml.j2，然后重新build， 这这样处理吧？

[2021-06-07 07:56] yuswift commented on #3898
https://github.com/kubesphere/console/pull/1918 has implemented this feature.
Waiting for the test results...

[2021-06-07 12:09] lxm opened #3941 "imagepullsecrets missing if edit deployment on ks-console"
edit deployment template on ks-console, such as adding a env to container

![image](https://user-images.githubusercontent.com/1918195/121014198-49c78380-c7cc-11eb-91bb-22d8843d950d.png)

save the deployment, and the imagepullsecrets will missing .

[2021-06-08 00:53] fengjian1585 commented on #3930
[root@master1 ~]# kubectl logs -f mysql-64dfc8f958-pmdqk -n kubesphere-system
2021-06-07T09:15:33.556215Z 0 [Warning] [MY-011070] [Server] 'Disabling symbolic links using --skip-symbolic-links (or equivalent) is the default. Consider not using this option as it' is deprecated and will be removed in a future release.
2021-06-07T09:15:33.556317Z 0 [Warning] [MY-011068] [Server] The syntax 'expire-lo

[2021-06-08 01:25] ysjjovo opened #3942 "docker agent pipelines cannot run:docker not found!"
**Describe the Bug**
this is my Jenkinsfile
[code]
Parts of pipeline running logs
[code]

**Versions Used**
KubeSphere: v3.0.0
Kubernetes: v1.18.0

**Environment**
1 master,4 nodes

**Expected behavior**
Run successfully!

[2021-06-08 02:09] LinuxSuRen commented on #3942
/area devops

[2021-06-08 05:50] LinuxSuRen commented on #3259
hi @shaowenchen , I feel a little confused. Why this feature request belongs to the DevOps component? I'm wondering if you can help to pinpoint the connection? It would be great even you can help to provide a link about the code lines. Thanks for your time.

[2021-06-08 07:07] yinmin2020 opened #3943 "Can personal collection function be added to the app or CICD?"
**The problem**

Now when you create an application or build a pipeline, because a DevOps project or an application in a project has so many developers involved, you have to go through the pages manually or through a search to find one of your creation records after hundreds of builds. It takes time.

**demand**

Could you please add the "Personal Collection" function in the application or CICD? F

[2021-06-08 07:29] fengjian1585 commented on #3852
我是二进制安装，登陆进去执行，都报证书问题
[root@master1 kubesphere3.1]# kubectl exec -it ks-installer-5676776c46-mf972 -n kubesphere-system -- bash

bash-5.1$ /hooks/kubesphere/installRunner.py
Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certifica

[2021-06-08 08:36] calvinyv commented on #3852
It would be better to post your reply in English, otherwise pls go to https://kubesphere.com.cn/forum/ to get the help.

[2021-06-08 08:52] 94rain commented on #3943
/kind feature-request
/area app-management
/area devops

[2021-06-08 09:23] RolandMa1986 opened #3945 "TestAddCredentialFinalizers UT randomly fails"
**Describe the Bug**

TestAddCredentialFinalizers UT randomly fails.

ref: https://github.com/kubesphere/kubesphere/runs/2771946724?check_suite_focus=true

**Versions Used**
KubeSphere: 3.1.0
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other inf

[2021-06-08 09:25] zryfish commented on #3520
/milestone BackLog

[2021-06-08 09:28] zryfish commented on #3612
/assign @kubesphere/sig-console

[2021-06-08 09:30] zryfish commented on #3644
/kind documentation
/unkind bug

[2021-06-08 09:31] wansir commented on #3932
/milestone v3.1

[2021-06-08 09:32] wansir commented on #3621
/milestone v3.1

[2021-06-08 09:33] zryfish commented on #3657
/cc @kubesphere/sig-console

[2021-06-08 09:33] wansir commented on #3047
/close

[2021-06-08 09:33] #3047 closed

[2021-06-08 09:34] zryfish commented on #3684
/milestone v3.2

[2021-06-08 09:34] #2939 closed

[2021-06-08 09:34] zryfish commented on #3689
/close

[2021-06-08 09:34] #3689 closed

[2021-06-08 09:36] wansir commented on #3935
/milestone v3.1

[2021-06-08 09:36] zryfish commented on #3740
I think we can close the issue currently since the remaining unfixed images are optional, but feel free to reopen later if we gain enough feedback on this.

/close

[2021-06-08 09:36] #3740 closed

[2021-06-08 09:37] wansir commented on #3583
/kind need-to-verify

[2021-06-08 09:37] zryfish commented on #2946
duplicate with #3055

/close

[2021-06-08 09:37] #2946 closed

[2021-06-08 09:38] wansir commented on #3443
/milestone BackLog

[2021-06-08 09:41] zryfish commented on #3685
@liuyp2018  I think the above comment from @fuchunlan  would help to export service metrics now.  I will close this issue but feel free to reopen if it doesn't.

/close

[2021-06-08 09:41] #3685 closed

[2021-06-08 09:42] zryfish commented on #3734
/cc @kubesphere/sig-console

[2021-06-08 09:43] #2817 closed

[2021-06-08 10:14] pixiake commented on #3852
It seems that the ca certificate in the cluster can not be authenticated.

How is the cluster certificate configured?

or

You can try to skip certificate authentication by adding the following code in installRunner.py
https://github.com/kubesphere/ks-installer/blob/f73280816c163442d56888feb8e8866d44177201/controller/installRunner.py#L535
[code]

[2021-06-08 10:16] JohnNiang commented on #3945
Thanks for reaching out.

IMO, the unstable test may be introduced by <https://github.com/kubesphere/kubesphere/pull/3944>, but I'm not sure. You were supposed to debug the test with your changed codes.

[2021-06-08 10:36] #3373 closed

[2021-06-08 11:07] #3867 closed

[2021-06-08 11:54] zryfish commented on #3839
/cc @kubesphere/sig-console

[2021-06-08 11:56] zryfish commented on #2963
/milestone BackLog

[2021-06-08 11:56] zryfish commented on #3058
/milestone BackLog

[2021-06-08 11:57] zryfish commented on #3066
/milestone v3.2

[2021-06-08 11:58] zryfish commented on #3067
/milestone v3.2

[2021-06-08 12:00] #3071 closed

[2021-06-08 12:00] zryfish commented on #3357
/close

[2021-06-08 12:00] #3357 closed

[2021-06-08 12:12] zryfish commented on #3400
/milestone v3.2

[2021-06-08 12:12] zryfish commented on #3385
/close
due to not a bug

[2021-06-08 12:12] #3385 closed

[2021-06-08 12:16] zryfish commented on #3401
/milestone v3.2

[2021-06-08 12:18] zryfish commented on #3417
/milestone v3.2

[2021-06-08 12:19] zryfish commented on #3439
/kind documentation

[2021-06-08 12:24] zryfish commented on #3456
/kind documentation

[2021-06-08 12:26] zryfish commented on #3472
/cc @kubesphere/sig-console

[2021-06-08 12:31] zryfish commented on #3485
/kind need-to-verify

[2021-06-08 12:34] zryfish commented on #3488
Yeah, still on v3.1.0, only visible when hovering on the combo box

/cc @kubesphere/sig-console

[2021-06-08 12:34] zryfish commented on #3489
/cc @kubesphere/sig-console

[2021-06-08 12:36] zryfish commented on #3498
/cc @kubesphere/sig-console

[2021-06-08 12:36] zryfish commented on #1535
/milestone BackLog

[2021-06-08 12:38] zryfish commented on #1480
@benjaminhuo Can we close this issue now? I assume the features requested above are all supported right now?

[2021-06-08 12:38] zryfish commented on #1598
/milestone BackLog

[2021-06-08 12:39] zryfish commented on #1791
fixed in v3.1.0
/close

[2021-06-08 12:39] #1791 closed

[2021-06-08 12:40] zryfish commented on #1820
/milestone v3.2

[2021-06-08 12:43] zryfish commented on #1904
/close

[2021-06-08 12:43] #1904 closed

[2021-06-08 12:46] #2158 closed

[2021-06-08 12:50] zryfish commented on #2267
Which cluster name? The imported cluster name is typed by the user now.

[2021-06-08 12:51] zryfish commented on #2401
duplicate with #3055
/close

[2021-06-08 12:51] #2401 closed

[2021-06-08 12:52] zryfish commented on #2484
/area console
/cc @kubesphere/sig-console

[2021-06-08 12:53] #2653 closed

[2021-06-08 13:01] zryfish commented on #2656
fixed on v3.1
/close

[2021-06-08 13:02] zryfish commented on #2658
/milestone v3.2

[2021-06-08 13:05] zryfish commented on #2850
/milestone v3.2

[2021-06-08 13:07] zryfish commented on #2890
It can be achieved by annotation https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#rewrite

/close

[2021-06-08 13:07] #2890 closed

[2021-06-08 13:08] zryfish commented on #2923
BTW, I think this issue should be opened against `kubesphere/ks-installer`

[2021-06-08 13:09] zryfish commented on #2928
fixed on v3.1
/close

[2021-06-08 13:09] #2928 closed

[2021-06-08 13:45] benjaminhuo commented on #1820
The prometheus alert rules have its own labels from k8s metadata, we cannot add labels as we want

[2021-06-08 13:46] #1820 closed

[2021-06-08 13:46] benjaminhuo commented on #1480
Yes, all supported in v3.1 now

[2021-06-08 13:46] #1480 closed

[2021-06-08 14:05] zryfish commented on #464
/milestone BackLog

[2021-06-08 14:20] #2267 closed

[2021-06-08 14:21] calvinyv commented on #2923
now sure if KS UI should be updated based on macvlan, that's why I open this issue here.

[2021-06-08 14:39] zryfish commented on #537
/milestone BackLog

[2021-06-08 14:44] zryfish commented on #1021
/milestone v3.2

[2021-06-08 14:46] zryfish commented on #1077
/milestone v3.2

[2021-06-08 14:53] zryfish commented on #1306
We are now following the order just as like K8s does, I think we can close this issue now.

[2021-06-08 14:58] zryfish commented on #1342
/area console
/cc @kubesphere/sig-console

[2021-06-08 15:02] zryfish commented on #1446
Already fixed
/close

[2021-06-08 15:02] #1446 closed

[2021-06-08 15:02] zryfish commented on #1457
/milestone  BackLog

[2021-06-08 15:06] zryfish commented on #1935
/milestone v3.2

[2021-06-08 15:07] zryfish commented on #1952
/milestone BackLog

[2021-06-08 15:11] zryfish commented on #2297
/close

[2021-06-08 15:11] #2297 closed

[2021-06-08 15:14] zryfish commented on #3827
/close

[2021-06-08 15:14] #3827 closed

[2021-06-08 15:14] zryfish commented on #3870
/milestone v3.2

[2021-06-08 15:34] zryfish commented on #3880
@xuanyuanaosheng  Does this answer your question?

[2021-06-08 15:35] zryfish commented on #3854
/priority high

[2021-06-08 15:36] zryfish commented on #3850
/milestone v3.2

[2021-06-08 15:42] zryfish commented on #3754
/cc @kubesphere/sig-console

[2021-06-08 15:47] zryfish commented on #3541
Does this issue still exist on your env? I can't reproduce it. @yuswift

[2021-06-09 01:08] RolandMa1986 commented on #3945
@JohnNiang
First of all, It not related to #3944. When checking the details, you can found that we upgraded protobuf in #3944. but the UT won't call any protobuf related functions. All the UT is using fake clients.
Secondly, It's only happened one time in the pipeline.  The same commit triggers 2 builds, but [one successfully]( https://github.com/kubesphere/kubesphere/actions/runs/917661331) and [

[2021-06-09 01:37] fengjian1585 commented on #3852
installRunner.py  Is that right，docker build ，  it‘s  ssll problem

def main():
    if not os.path.exists(privateDataDir):
        os.makedirs(privateDataDir)

    if len(sys.argv) > 1 and sys.argv[1] == "--config":
        print(ks_hook)
    else:
        configuration = client.Configuration()
        configuration.verify_ssl = False
        client.Configuration.set_default(configuration)

[2021-06-09 03:40] fuchunlan commented on #3734
/assign @fuchunlan

[2021-06-09 03:48] xuliwenwenwen commented on #3612
/kind need-to-verify

[2021-06-09 07:05] stoneshi-yunify opened #3948 "ks-installer stuck with removing old snapshot crd"
**Describe the Bug**
Enable mutilcluster in a cluster, and ks-installer stucks:
[code]

This might be due to I installed both v1 and v1beta1 snapshot crds on this cluster.
[code]

And looks like ks-installer can only handle v1beta1 snapshot.

**Versions Used**
KubeSphere: v3.1.0
Kubernetes: v1.19.8

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 maste

[2021-06-09 07:07] stoneshi-yunify commented on #3842
The fix of this issue should cover #3948

[2021-06-09 07:09] stoneshi-yunify commented on #3948
/assign @f10atin9
/kind bug
/area storage

[2021-06-09 07:46] liuyp2018 opened #3949 "problem with modifying Label in Graphical Editing Panels"
**Describe the Bug**

In the graphical Editing Panels, create two stages
The agent type was selected as Node for both stages
When the label of one stage is modified, the label of the other stage is modified simultaneously

![image](https://user-images.githubusercontent.com/36271543/121314157-ab593080-c939-11eb-9187-09faf14b13b1.png)

**Versions Used**
KubeSphere: v3.1.0

/kind bug
/milestone v3.1.

[2021-06-09 08:01] JohnNiang commented on #3918
I will try to wait as long as we can for the upstream repair. At the same time, I will also spend other time to inspect.

[2021-06-09 08:05] harrisonliu5 commented on #3934
/kind need-to-verify

[2021-06-09 08:10] JohnNiang commented on #3945
@RolandMa1986

Thanks for your correction. We will pay attention to this issue later.

[2021-06-09 08:12] JohnNiang commented on #3945
/cc @kubesphere/sig-devops

[2021-06-09 08:51] fuchunlan commented on #3488
/assign @fuchunlan

[2021-06-09 09:31] fuchunlan commented on #3483
/assign @fuchunlan

[2021-06-09 09:33] fuchunlan commented on #3483
Follow your steps，and my page did not display this bug
![image](https://user-images.githubusercontent.com/63338728/121330576-b798ba00-c948-11eb-8941-e621240f9c10.png)

[2021-06-10 02:47] fuchunlan commented on #3488
/kind need-to-verify

[2021-06-10 02:47] yuswift commented on #3541
Me neither. Maybe it has been fixed.
/close

[2021-06-10 02:48] #3541 closed

[2021-06-10 02:53] liuyp2018 opened #3950 "shell and script input box content is not correct after keyboard oper"
**Describe the Bug**
after use the keyboard Ctrl +A --> Ctrl +C, shell and script input box content is not correct
![image](https://user-images.githubusercontent.com/36271543/121456966-78ff1000-c9d9-11eb-88d1-cc30cee6932b.png)

![image](https://user-images.githubusercontent.com/36271543/121457111-b6fc3400-c9d9-11eb-8ddd-94f3afe7c4d6.png)

**Versions Used**
KubeSphere:  v3.1.0

/kind bug
/milestone

[2021-06-10 02:53] stoneshi-yunify opened #3951 "Deprecate NFS using with Kubesphere"
**Describe the Bug**
We have many users (community users and business users) reported that they encountered various NFS issues when using with Kubesphere, e.g.
https://kubesphere.com.cn/forum/d/610-kubsphere-mysql-nfs-lock
https://kubesphere.com.cn/forum/d/3690-nfskubespheremysql-ibdata1
https://kubesphere.com.cn/forum/d/2633-ks30-es
https://kubesphere.com.cn/forum/d/990-kubesphere-system-etcd-err

[2021-06-10 02:53] stoneshi-yunify commented on #3951
/area doc
/assign @Sherlock113

[2021-06-10 03:13] Sherlock113 commented on #3951
I see...I will add some notes in our doc.

[2021-06-10 03:42] stoneshi-yunify commented on #3951
ref: https://github.com/prometheus/prometheus/blob/03b354d4d9386e4b3bfbcd45da4bb58b182051a5/docs/storage.md#operational-aspects

Prometheus doesn't recommend NFS as its storage.

[code]

[2021-06-10 03:42] stoneshi-yunify commented on #3951
ref: https://www.frakkingsweet.com/elasticsearch-nfs-and-locking-issues/
Elasticsearch failed to start with NFS

[2021-06-10 03:45] stoneshi-yunify commented on #3951
ref: https://kubesphere.com.cn/forum/d/4676-openebsnfsmonitoring-prometheus
nfs-client doesn't support k8s v1.20 and later versions

[2021-06-10 03:49] 294100330 opened #3952 "华为云 ecs 部署kubesphere"
开启网关，无法获得ip，

[2021-06-10 03:53] FeynmanZhou commented on #3952
English only in GitHub issue and PR. This issue looks too simple to locate and debug the root problem. For Chinese communication, you can raise it on [Chinese forum](https://kubesphere.com.cn/forum/).

[2021-06-10 03:53] #3952 closed

[2021-06-10 04:05] zryfish commented on #3941
/kind bug
/milestone v3.1
/area console

[2021-06-10 04:57] ks-ci-bot opened #3953 "[release-3.1] fix servicemesh traffic governance"
Manual cherrypick required.

#3902 failed to apply on top of branch "release-3.1":
[code]

[2021-06-10 05:44] LinuxSuRen commented on #3950
/area devops

[2021-06-10 05:44] LinuxSuRen commented on #3949
/area devops

[2021-06-10 05:47] LinuxSuRen commented on #3857
/kind need-to-verify

[2021-06-10 05:58] JohnNiang commented on #3857
The webhook works now.

- Github webhook setting
![image](https://user-images.githubusercontent.com/16865714/121472455-cc7e5780-c9f3-11eb-80c9-57b3086c86d7.png)

- Pipeline activity
![image](https://user-images.githubusercontent.com/16865714/121472530-e455db80-c9f3-11eb-9554-4db53f940763.png)

[2021-06-10 06:08] zryfish commented on #3915
/milestone v3.2

[2021-06-10 06:09] yinmin2020 opened #3954 "Can these features be added to the pipeline build page?"
Problem a

1. After clicking "Run", there is no progress bar to display the status and progress of the operation. Otherwise, it will go to "Run" again after a few seconds, which will lead to repeated creation

2. Unable to view the latest pipeline situation in real time after many build items

Want to solve

1. Hope to add such display as [progress bar]

2. Hope to add the function of "automatic r

[2021-06-10 06:15] LinuxSuRen commented on #3259
/remove-area devops

[2021-06-10 06:28] junotx commented on #3632
@RolandMa1986 This should have been fixed by https://github.com/kubesphere/ks-installer/pull/1475

[2021-06-10 06:35] yinmin2020 opened #3955 "Does ks3.1 have no dynamic domain distribution? Or custom domain name configuration UI?"
The status quo

Build a Nginx application for each project. Developers need to modify the Nginx configuration file of the corresponding project (add custom domain name) and restart the Nginx application after each application is built. If the developer is not familiar with Nginx, he may delete it by mistake or for other reasons, and all the applications in the whole project will be suspended.

The

[2021-06-10 06:50] JohnNiang commented on #3857
/close

[2021-06-10 06:50] #3857 closed

[2021-06-10 07:02] fuchunlan commented on #3734
/kind need-to-verify

[2021-06-10 07:10] LinuxSuRen commented on #3954
Usually, each issue only describes one problem or feature request. Because the issue is not the place to let people discuss. Please go to [GitHub discussion](https://github.com/kubesphere/kubesphere/discussions) or [KubeSphere Chinese forum](https://kubesphere.com.cn/forum/).

/area devops
/kind support

[2021-06-10 07:25] yinmin2020 commented on #3954
Modified Thank you

[2021-06-10 07:27] fuchunlan commented on #3515
Follow your steps, the bug doesn't exist now, please check it.

https://user-images.githubusercontent.com/63338728/121483022-4d435080-ca00-11eb-96a9-ab8a6199c974.mov

[2021-06-10 07:27] LinuxSuRen commented on #3259
After I did some research, the image search feature comes from the front-end of KubeSphere. Please see the following related code lines:

* https://github.com/kubesphere/console/blob/9c8b3fd43a53f5973f2765a13e43db95d1703276/server/routes.js#L63

It's possible to create different APIs for different container registries. So, I guess we need to add a new API for Harbor, GitHub container registry and

[2021-06-10 07:29] yinmin2020 opened #3957 "Can automatic refresh function be added in the pipeline?"
**Problem**
Unable to view the latest pipeline situation in real time after many build items
**Want to solve**
Hope to add such display as [progress bar]

[2021-06-10 07:57] tpiperatgod commented on #3734
Still exists in the nightly-20210609 version @fuchunlan

[2021-06-10 08:17] #3938 closed

[2021-06-10 08:38] yinmin2020 opened #3958 "You want to add a COMMIT description to the pipeline"
**问题**
每次构建完不能查看该流水线最后修改的内容是什么
**希望解决**
Add a description column to the existing Last Message column to fully display the Commit description

[2021-06-10 09:06] dkeven commented on #3951
To be more clear, the issue in this post is due to the particular old version of nfs-client used in KubeSphere helm chart (which is referenced in KS official doc), and will be fixed once [this PR](https://github.com/kubesphere/helm-charts/pull/145) is merged.

[2021-06-10 09:08] yinmin2020 opened #3959 "Can filter function be added to pipeline?"
**The problem**
When there are many pipelines, there is no filtering function and it is not easy to query the pipeline

**Want to solve**
Hope to add screening function, screening conditions hope is: create account, branch, etc

[2021-06-10 09:47] yuswift commented on #3515
Me neither.
/close

[2021-06-10 09:47] #3515 closed

[2021-06-10 10:01] fuchunlan commented on #3472
![image](https://user-images.githubusercontent.com/63338728/121500103-969b9c00-ca10-11eb-9e9b-7957a94859f4.png)
Follow your steps, and a prompt box pops up now, please check it

[2021-06-10 12:59] JohnNiang commented on #3857
/remove-kind need-to-verify

[2021-06-11 03:52] RolandMa1986 commented on #3632
/close

[2021-06-11 03:52] #3632 closed

[2021-06-11 04:41] fuchunlan commented on #3755
/assign @fuchunlan

[2021-06-11 06:07] fuchunlan commented on #3755
@yuswift
![image](https://user-images.githubusercontent.com/63338728/121638890-4bd85d80-cabe-11eb-884d-f0f74d1f1d4a.png)
Are these values only negative or can't be negative?

[2021-06-11 07:05] yuswift commented on #3755
They can't be negative.

[2021-06-11 07:05] yuswift commented on #3755
They can't be negative.

[2021-06-11 07:25] LinuxSuRen commented on #3959
/area devops

[2021-06-11 07:27] LinuxSuRen commented on #3957
/area devops
/kind feature-request

[2021-06-11 07:49] LinuxSuRen opened #3962 "Make DevOps as a separate Application from KubeSphere core"
## Backgroud

Currently, the DevOps backend is part of KubeSphere Core. It's impossible to upgrade the DevOps component independently if a specific version has a crucial bug exist. Also, users cannot install DevOps as an application on Kubernetes.

## Proposal

I'd like to suggest that make DevOps be a separate application. Please see also the following points:

* Install DevOps application as a H

[2021-06-13 12:33] shizgchina opened #3963 "no repositories are listed after selecting a github-token"
**Describe the Bug**
When using QKE 3.1.0. on QingCloud Asia region, no repositories are listed after selecting a github-token. The relative article is https://v3-1.docs.kubesphere.io/zh/docs/devops-user-guide/how-to-use/create-a-pipeline-using-jenkinsfile/.

The screenshot is provided below:

![image](https://user-images.githubusercontent.com/41432506/121807331-4af22800-cc86-11eb-978e-0a4ea12e41f

[2021-06-15 06:46] zryfish commented on #3843
/kind need-to-verify

[2021-06-15 08:14] wansir commented on #3935
The 401 Unauthorized Error is an [HTTP response status code](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status) indicating that the request sent by the client could not be authenticated. In some cases, server-side problems can also cause authentication failure. For example, inconsistent node time will cause token verification failure, the errors can be distinguished by response.

[code]

Fo

[2021-06-15 08:26] wansir commented on #3935
[code]

This [error](https://github.com/dgrijalva/jwt-go/blob/v3.2.0/map_claims.go#L85) also needs to be ignored, if it is response from the member cluster.

[2021-06-15 08:35] Sherlock113 commented on #3951
Fixed in https://github.com/kubesphere/website/pull/1702.

[2021-06-15 08:35] #3951 closed

[2021-06-15 08:51] #1306 closed

[2021-06-15 09:18] zryfish commented on #3754
/reopen
/kind need-to-verify

[2021-06-15 10:37] LinuxSuRen commented on #3963
/area devops
/kind support

[2021-06-16 01:03] RolandMa1986 commented on #3847
/kind need-to-verify
/cc @liuyp2018

[2021-06-16 05:56] wenxin-01 commented on #3822
issue fixed ` nightly-20210610`

[2021-06-16 05:56] #3822 closed

[2021-06-16 06:00] benjaminhuo opened #3968 "Silence specified alerts from UI"
**What's it about?**
Alertmanager has a silence feature with which users can mute specified alerts from a specified period.
KubeSphere needs to add UI support for this to avoid receiving unimportant alerts constently

/kind feature-request

[2021-06-16 06:54] yuswift commented on #3754
fixed
/close

[2021-06-16 06:54] #3754 closed

[2021-06-16 06:55] yuswift commented on #3755
fixed
/close

[2021-06-16 06:55] #3755 closed

[2021-06-16 07:09] wansir commented on #3819
/assign @kubesphere/sig-console

https://github.com/kubesphere/kubesphere/pull/3966#issuecomment-862109099

[2021-06-16 08:20] Caelebs opened #3969 "Request help:Deployed via an application template, the application name contains a random string"
When deploying an application through an application template, the application name will generate a random string. How to control not to generate this string?
![image](https://user-images.githubusercontent.com/12752710/122184221-998a0700-cebe-11eb-9c89-5c06f81a1fd3.png)

[2021-06-16 08:59] harrisonliu5 commented on #3489
/kind need-to-verify

[2021-06-16 16:23] #3969 closed

[2021-06-17 02:17] yuswift opened #3970 "Support inviting user into a multi-cluster project"
**What's it about?**
Currently, KubeSphere only supports inviting user into a single cluster project, we need to support inviting user into a multi-cluster project.
**Area Suggestion**

/area multicluster

/kind feature-request

[2021-06-17 02:17] yuswift commented on #3970
/assign @wansir

[2021-06-17 02:27] yuswift commented on #3970
/milestone v3.2

[2021-06-17 03:42] ks-ci-bot opened #3971 "[release-3.1] update protobuf to v1.3.2"
Manual cherrypick required.

#3944 failed to apply on top of branch "release-3.1":
[code]

[2021-06-17 06:18] stoneshi-yunify opened #3972 "Support more storage quotas"
**What's it about?**

storage quota in a given namespace

**What's the reason why we need it?**

ref: https://kubernetes.io/docs/concepts/policy/resource-quotas/#storage-resource-quota

So there are 4 types of storage quotas and currently ks only supports quota of `persistentvolumeclaims`, I saw many users are asking for the others. It will be nice we support all of them in ks-console.

**Area Sug

[2021-06-17 06:24] stoneshi-yunify opened #3973 "resource quotas: misleading volumes quota"
**Describe the Bug**
User can set a quota for `volumes`, the problem is:
- the quota is actually **number of volumes** or **persistentvolumeclaims**, not capacity of total volumes, many users are confused.
- the value should be only integer, not string(capacity), therefore, a value like `100Gi` should not be accepted.

![image](https://user-images.githubusercontent.com/70880165/122342690-7ec79900-

[2021-06-17 06:26] stoneshi-yunify commented on #3973
/area console
/assign @xuliwenwenwen
/kind bug

[2021-06-17 08:44] wansir opened #3975 "Unable to redirect to the login page after logout if the current path contains apps"
**Describe the Bug**

Unable to redirect to the login page after logout if the current path contains `apps`

![image](https://user-images.githubusercontent.com/8263040/122360871-52b51380-cf89-11eb-9eaf-a6c6d2dddc00.png)

**Versions Used**
KubeSphere: v3.1.0

https://github.com/kubesphere/console/blob/v3.1.0/server/controllers/session.js#L166-L168
https://github.com/kubesphere/console/blob/v3.1.0/s

[2021-06-17 08:54] fuchunlan commented on #3307
/assign @fuchunlan

[2021-06-17 09:52] VioZhang commented on #3959
provide detail

[2021-06-18 00:01] gumowangfei opened #3976 "AI支持"
您好，目前的版本有对AI的训练、部署、推理的支持吗？

[2021-06-18 00:07] FeynmanZhou commented on #3976
It is in our roadmap.
English only in GitHub, Chinese discussion is recommended in [KubeSphere Chinese Forum](https://kubesphere.com.cn/forum/).

[2021-06-18 00:07] #3976 closed

[2021-06-18 01:48] zryfish commented on #3941
/cc @kubesphere/sig-console

[2021-06-18 01:52] zryfish commented on #3845
/kind need-to-verify

[2021-06-18 01:55] zryfish commented on #3760
/kind need-to-verify

[2021-06-18 03:13] harrisonliu5 commented on #3472
/cc @xyz-li

[2021-06-18 03:24] xuliwenwenwen commented on #3439
/kind need-to-verify

[2021-06-18 06:26] harrisonliu5 commented on #3839
/assign @wansir

[2021-06-18 06:32] harrisonliu5 commented on #3839
![image](https://user-images.githubusercontent.com/17872673/122516679-a5520680-d041-11eb-9d2d-246f19adbfd2.png)

The current user’s worksapce-settings permissions are missing for 'view', resulting in failure to display quota management

[2021-06-18 07:50] Goldenteamway opened #3980 "Internal Server Error for monitor"
how to resolve this error:
![image](https://user-images.githubusercontent.com/44332392/122525390-c28bd280-d04b-11eb-8828-284fe95aa02a.png)
this is ks-apiserver logs:
![image](https://user-images.githubusercontent.com/44332392/122525592-f7982500-d04b-11eb-847e-e9b722bf1f9d.png)
ks-console logs:
![image](https://user-images.githubusercontent.com/44332392/122526369-ca984200-d04c-11eb-96b2-6494dfcd849

[2021-06-18 07:50] Goldenteamway commented on #3980
kubesphere v3.1.0

[2021-06-18 10:41] gumowangfei opened #3981 "AI support?"
Hello, does the current version support AI training, deployment, and inference?

[2021-06-19 11:09] ymqing-sre opened #3982 "Kubedge edgenode access bugs and solution"
When the edgecore access is performed for the first time, the edge node automatically registers as edge agent. At this time, calico, Kube proxy and nodelocaldns controlled by the daemonset plug-in will be automatically scheduled to the edge node. Then kubeedge does not support CNI temporarily, and Kube proxy service cannot be provided on the node. Even if I can see my edgenode in KubeSphere,the th

[2021-06-21 01:55] xyz-li commented on #3472
/assign @xyz-li
/area app-management

[2021-06-21 01:59] xyz-li commented on #3821
/kind need-to-verify

[2021-06-21 04:11] zheng1 commented on #3619
As expected
/close

[2021-06-21 04:11] #3619 closed

[2021-06-21 04:11] zheng1 commented on #3700
/cc @zhu733756

[2021-06-21 04:56] zhu733756 commented on #3700
/close

[2021-06-21 04:56] #3700 closed

[2021-06-21 06:17] VioZhang commented on #3958
/triage needs-information

[2021-06-21 06:17] VioZhang commented on #3959
/triage needs-information

[2021-06-21 06:39] zryfish opened #3983 "test issue"
test issue

[2021-06-21 06:40] #3983 closed

[2021-06-21 06:45] fuchunlan commented on #3734
/remove need-to-verify

[2021-06-21 06:51] fuchunlan commented on #3734
/remove-kind need-to-verify

[2021-06-21 07:02] #3819 closed

[2021-06-21 07:14] LinuxSuRen commented on #3963
hi @shizgchina , thanks for reaching out to us. Please help to check if you provide a correct token and if there's no network issue between the `ks-apiserver` pod and GitHub.

/triage needs-information

[2021-06-21 07:33] harrisonliu5 commented on #3935
/kind need-to-verify

[2021-06-21 08:03] VioZhang commented on #3958
The detail  about the requirement:
Background: There is no commit description which was created when you execute "git commit -m" , which results in some vague.
Requirement:
Add a commit description column to the existing activity list.
![pipeline commmit comment2.png](https://i.loli.net/2021/06/21/4Pn36mi5xlcQgpb.png)

/assign @LinuxSuRen

[2021-06-21 08:07] VioZhang commented on #3958
/unassign @LinuxSuRen
/cc @kubesphere/sig-devops
/remove-triage needs-information

[2021-06-21 08:12] LinuxSuRen commented on #3942
Docker is not the only solution for building a container image in the future release. I don't expect too many efforts about the Docker agent.

But you can use an alternative way to build your application:

* Create a podTemplate with CasC
* Using custom Kuberntes agent configuration

[code]

KubeSphere DevOps does not support the docker agent now. And we don't have a strong reason to support it. S

[2021-06-21 08:12] #3942 closed

[2021-06-21 09:01] LinuxSuRen commented on #3891
/assign

[2021-06-21 09:02] VioZhang commented on #3959
The detail about the requirement:
Background:
1. There is a user scenario where we need to search the pipeline by the account name which created the pipeline esprcially when we log in the system through LDAP .
2. There are some highly frequent pipelines that the users need to check about ,and it would be better that there is a history selector helping the users to do it . And we‘d better make it s

[2021-06-21 12:35] yuswift commented on #3982
/cc @kubesphere/sig-edge

[2021-06-21 12:36] yuswift commented on #3981
/cc @kubesphere/sig-observability

[2021-06-21 12:38] yuswift commented on #3980
/cc @kubesphere/sig-observability

[2021-06-21 12:50] zhu733756 commented on #3981
No, you can install kube-flow or other platforms. The basic metrics can be visible  from the console. Later, we will make a  better support for it.

[2021-06-21 12:52] zhu733756 commented on #3982
Yeah. Pls make a patch for it.

[code]

[2021-06-21 12:54] zhu733756 commented on #3980
The namespaced metrics missed.  As we discussed in the forum, It is recommended to re-upgrade with kubekey.

[2021-06-21 17:40] VioZhang commented on #3981
/milestone backlog

[2021-06-22 01:58] yuswift commented on #3971
pr merged
/close

[2021-06-22 01:58] #3971 closed

[2021-06-22 01:59] yuswift commented on #3962
/milestone v3.2

[2021-06-22 02:04] zhu733756 commented on #3982
@ymqing-sre Shall we close this issue? Both the two solutions work well.

[2021-06-22 02:06] #3982 closed

[2021-06-22 02:10] zhu733756 commented on #3981
BTW, you can use the gpu monitoring dashboard located at [here](https://github.com/kubesphere/monitoring-dashboard/blob/master/contrib/gallery/nvidia-gpu-dcgm-exporter-dashboard.yaml), or a cluster dashboard needs to convert the kind field to ` ClusterDashboard`  and  remove the given namespace field.

[2021-06-22 02:10] yuswift commented on #3972
/milestone v3.2

[2021-06-22 06:34] VioZhang commented on #3549
/remove-lifecycle stale

[2021-06-22 07:18] liuyp2018 commented on #3456
Verified with ks-console:latest image

[2021-06-22 07:18] harrisonliu5 commented on #3905
/kind need-to-verify

[2021-06-22 07:21] liuyp2018 commented on #3471
verified and fixed

[2021-06-22 07:21] #3471 closed

[2021-06-22 07:23] liuyp2018 commented on #3485
verified and fixed

[2021-06-22 07:23] #3485 closed

[2021-06-22 07:52] xishengcai opened #3984 "pod 资源消耗动态监控图有错误"
**Describe the Bug**
A clear and concise description of what the bug is.

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help

[2021-06-22 07:58] harrisonliu5 commented on #3878
There is no recurrence problem in the current version. Please try after upgrading to the new version. Thank you

[2021-06-22 07:58] harrisonliu5 commented on #3941
There is no recurrence problem in the current version. Please try after upgrading to the new version. Thank you

[2021-06-22 07:59] VioZhang commented on #3984
Describe your problem in English in detail please,or you can talk about the problem at [https://kubesphere.com.cn/forum/](url).
多谢反馈，用英语描述下问题吧，或者在中文论坛跟我们讨论下。
/triage needs-information

[2021-06-22 08:05] harrisonliu5 commented on #3854
/assign @harrisonliu5

[2021-06-22 08:34] 94rain commented on #3456
I believe this issue has already been resolved in https://github.com/kubesphere/console/commit/a8956cd040f0200186a1e3eef2c12031ee6740ca#diff-acb47e6725b473362aa8a0a1f573935c184cae2f6c2e4205cb56f9d196b84e94R53

[2021-06-22 09:30] harrisonliu5 commented on #3549
The error message obtained from the interface cannot be internationalized, so a general error message is used instead.

[2021-06-22 09:41] fuchunlan commented on #3483
/assign @fuchunlan

[2021-06-22 09:47] iwtctww opened #3985 "prometheus-operator 0.42.1 arm64 docker with wrong tag"
**Describe the Bug**
A clear and concise description of what the bug is.
it's really odd that the arch is mark by the tag, which makes it's impossible to use the same yaml to deploy on x86/arm64 arch server.
prometheus-operator 0.42.1-arm64
https://hub.docker.com/r/kubesphere/prometheus-operator/tags?page=1&ordering=last_updated

**Versions Used**
KubeSphere: 3.1.0
Kubernetes: (If KubeSphere insta

[2021-06-22 11:22] LinuxSuRen commented on #3549
I'm not sure if code 428 represents a particular error. We can provide i18n base on that if it's true.

[2021-06-23 00:28] harrisonliu5 commented on #3949
/kind need-to-verify

[2021-06-23 00:28] harrisonliu5 commented on #3950
/kind need-to-verify

[2021-06-23 02:24] liuyp2018 commented on #3531
the links  are still different in the two pages
![image](https://user-images.githubusercontent.com/36271543/123025227-e1ec7c00-d40c-11eb-8035-737ed0ab096c.png)
![image](https://user-images.githubusercontent.com/36271543/123025262-f0d32e80-d40c-11eb-852d-cef757d44cfe.png)

/remove-kind need-to-verify

[2021-06-23 02:25] liuyp2018 commented on #3531
/remove-assign @leoendless
/assign @fuchunlan

[2021-06-23 02:44] liuyp2018 commented on #3536
use image : kubespheredev/ks-console:latest
verified that the problem remains
/remove-kind need-to-verify
![image](https://user-images.githubusercontent.com/36271543/123026996-b028e480-d40f-11eb-901d-402de94d83e8.png)

[2021-06-23 02:51] fuchunlan commented on #3531
Which link is better ？

[2021-06-23 02:57] liuyp2018 commented on #3612
use image : kubespheredev/ks-console:latest
the prompts on the page need to be removed in multi-cluster project
/remove-kind need-to-verify
![image](https://user-images.githubusercontent.com/36271543/123028248-b4560180-d411-11eb-9270-fbebef3a0144.png)

[2021-06-23 03:03] aimuz commented on #3041
Can this question be closed? Not following recently

[2021-06-23 03:08] liuyp2018 commented on #3472
verified

[2021-06-23 03:08] #3472 closed

[2021-06-23 03:11] liuyp2018 commented on #3488
verified in ks-console:latest image

[2021-06-23 03:25] fuchunlan commented on #3649
/assign @fuchunlan

[2021-06-23 07:33] liuyp2018 opened #3986 "403 error when workspace manager role user viewing the monitoring of the workload"
**Describe the Bug**

1.The user has a Workspace Manager role
2.Go into the project and create the deployment
3.Go to the monitoring page in the depolyment details page

**Expected behavior**
The monitoring information can be viewed successfully
**actually behavior**
the page report error 403
![image](https://user-images.githubusercontent.com/36271543/123054080-17a65a80-d437-11eb-8489-a35864b3833d

[2021-06-23 11:01] wansir opened #3987 "Incorrect data when editing workspace resource quota"
**Describe the Bug**

Multi cluster environment, incorrect data displayed while editing workspace resource quota.

![image](https://user-images.githubusercontent.com/8263040/123085787-3d425c80-d455-11eb-8e92-27726ea25204.png)

**Versions Used**
KubeSphere: v3.1.0

/kind bug
/area console
/assign @kubesphere/sig-console
/milestone v3.1

[2021-06-23 12:28] hvsop opened #3988 "KubeSphere 3.1.0 得不到集群基本信息"
我是新手，安装了k8s 1.20.7 + kubesphere 3.1.0版本之后，左侧导航栏点击监控告警-->集群状态，可以看到集群资源使用情况，但是点击导航栏集群设置，基本信息，看到的节点数量是0，cpu/内存/存储的值都是0。有没有人帮忙debug一下，是哪里出错了呢？

需要我提供其他什么信息，请告诉我。谢谢！

[2021-06-23 12:37] FeynmanZhou commented on #3988
English only in GitHub. Chinese communication is recommended on [Chinese Forum](https://kubesphere.com.cn/forum/t/Monitoring&Logging).

You can also find similar issues and answers from [Chinese Forum](https://kubesphere.com.cn/forum/t/Monitoring&Logging).

[2021-06-23 12:38] #3988 closed

[2021-06-23 13:13] ks-ci-bot opened #3989 "[release-3.1] Moving to a fork for jwt-go"
Manual cherrypick required.

#3946 failed to apply on top of branch "release-3.1":
[code]

[2021-06-24 01:56] zryfish commented on #1308
/cc @kubesphere/sig-console

[2021-06-24 02:24] harrisonliu5 commented on #3987
/kind need-to-verify

[2021-06-24 03:07] liuyp2018 opened #3992 "Service Monitor is not deleted after the service is deleted"
**Describe the Bug**
1.After creating the service, go to the service details page
2.Create the Service Monitor for the service
3.then delete the service and associated workload
4.Go to the CRD page of the Service Monitor
5.The Service Monitor for the above service has not been deleted

![image](https://user-images.githubusercontent.com/36271543/123196218-1c711a00-d4dc-11eb-9bb1-6da8e159081a.png)
!

[2021-06-24 03:34] benjaminhuo commented on #3992
/assign @junotx , pls take a look at this issue.

[2021-06-24 03:41] liuyp2018 opened #3993 "the service monitor for the service creating by the specified workload is not shown on the page after creating"
**Describe the Bug**
1. Create a workload named 'd1'
2. Create the service by specifying the workload, specifying the workload with ' d1 '.
3. Enter the details page of the service and create Service Monitor for the service
4. After creation, the Service Monitor is not displayed in the view page
5. Enter the crd page of the Service Monitor and see that the Service Monitor of the service exists in

[2021-06-24 05:53] wynn5a commented on #3928
Hello, any update on this?

[2021-06-24 06:11] harrisonliu5 commented on #3993
`apis/clusters/host/monitoring.coreos.com/v1/namespaces/p/servicemonitors?labelSelector=app%3Dd1`

![image](https://user-images.githubusercontent.com/17872673/123211438-0c663400-d4f6-11eb-8fc3-4da32905169a.png)

[2021-06-24 06:12] LinuxSuRen commented on #3928
I'd suggest that don't use [ubernetes-cd-plugin](https://github.com/jenkinsci/kubernetes-cd-plugin). Because it has too many potential compatible issues and a lack of maintenance. The last time of source code update is two years ago. And we're going to provide more stable and flexible CD function.

[2021-06-24 06:23] wynn5a commented on #3928
Yes, I doubt if there is anyone still on the project.
Now how can we deploy our applications using Kubesphere DevOps without Kubernetes-cd-plugin?

[2021-06-24 06:24] LinuxSuRen commented on #3928
You can just use `kubectl apply -f xxx.yaml` or `helm install` directly.

[2021-06-24 06:28] wynn5a commented on #3928
OK, I will try this.

Thanks.

[2021-06-24 08:13] qingfeng777 opened #3994 "multi clusters deployed app, if delete one of clusters 'cluster-a',when will app in 'cluster-a' be deleted? or need Manually delete？"
**What's it about?**
multi clusters deployed app

**What's the reason why we need it?**
just a question

multi clusters deployed app, if delete one of clusters 'cluster-a',when will app in 'cluster-a' be deleted? or need Manually delete？

**Area Suggestion**

/kind feature-request

[2021-06-24 08:15] liuyp2018 opened #3995 "page error after clicking the refresh button in the Service Monitor CRD tabel list"
**Describe the Bug**
1. Enter the Service Monitor CRD details page
2. Go to the second page of the list
3. After waiting for about 10 minutes, click the Table Refresh button on second page of Step 2
4.The page reported an error

![image](https://user-images.githubusercontent.com/36271543/123210001-fce5eb80-d4f3-11eb-9382-f1c931a914c7.png)

![image](https://user-images.githubusercontent.com/3627154

[2021-06-24 08:48] zryfish commented on #3995
This is due to the limitations of ETCD, it doesn't support paging like MySQL, instead, it gives back a token to indicate which page you are, but if any changes are made on the dataset, the token will become invalid. It's not a bug, but we need to think of a way to improve.  Move to BackLog, will get back on this issue if we get enough feedback.

/unkind bug
/milestone BackLog

[2021-06-24 09:13] whaifang opened #3996 "HA for masters in kubesphere-all-v2.1.1"
## English only!

**注意！GitHub Issue 仅支持英文，中文 Issue 请在 [论坛](https://kubesphere.com.cn/forum/) 提交。**

**General remarks**

**What's your question**

**Environment: OS & Hardware Information**

**Error logs or message (Attach logs or screenshot)**

**Installer Version**

[2021-06-24 09:16] zryfish commented on #2660
Will be available on the next release.

/milestone v3.2

[2021-06-24 09:17] zryfish commented on #3420
@junotx What's the status of this issue? Anything we need to do? If not, either close this issue or move it to the next milestone.

[2021-06-24 09:21] zryfish commented on #3621
@wansir Is this issue get fixed?  If not, I suggest moving it to the next milestone.

[2021-06-24 09:22] wansir commented on #3655
/remove-kind need-to-verify
/milestone v3.2

[2021-06-24 09:22] zryfish commented on #3644
Is there any documentation about this configuration?

[2021-06-24 09:28] liuyp2018 commented on #3950
verified that the problem is not fixed

![image](https://user-images.githubusercontent.com/36271543/123238876-70e2bc80-d511-11eb-98b2-9577729411f1.png)

/remove-kind need-to-verify

[2021-06-24 09:30] liuyp2018 commented on #3949
verified in ks-console:latest image

[2021-06-24 09:32] wansir commented on #3655
Workaround: using the following command changes the user password in the cluster which DevOps enabled. This operation will trigger the user controller to synchronize data to OpenLDAP.

[code]

[2021-06-24 09:33] liuyp2018 commented on #3934
verified with image ks-console:latest

[2021-06-24 09:38] RolandMa1986 commented on #3989
/close

[2021-06-24 09:38] #3989 closed

[2021-06-24 09:41] #3880 closed

[2021-06-24 09:56] wansir commented on #3986
The monitoring API does not match the K8s [API pattern](https://kubernetes.io/docs/reference/using-api/api-concepts/), incorrect request info will affect authorization.

/assign @kubesphere/sig-observability

[2021-06-24 10:00] junotx commented on #3992
Currently the servicemonitor was not bound to the service, so it would not be deleted after the service was deleted

[2021-06-24 10:14] junotx commented on #3993
@harrisonliu5 why is the `labelSelector` parameter in the url set to `app=d1`

[2021-06-24 10:36] junotx commented on #3993
The value of `app` label in the servicemonitor currently was set to the name of service, so set `labelSelector` parameter to `app=<service-name>` to query @harrisonliu5

[2021-06-24 10:43] junotx commented on #3992
@harrisonliu5 when ask the backend to create a servicemonitor from this service page, add this service info to its `ownerReferences`. Here is an example:
[code]
/assign @harrisonliu5

[2021-06-24 10:52] harrisonliu5 commented on #3657
/kind need-to-verify

[2021-06-24 14:44] benjaminhuo commented on #3986
The monitoring API has to be handled specially

[2021-06-25 01:33] fuchunlan commented on #3531
/kind need-to-verify

[2021-06-25 01:33] fuchunlan commented on #3483
/kind need-to-verify

[2021-06-25 02:04] xyz-li commented on #3617
It's hard to distinguish pods's traffic on the same node from traffic between different nodes.
It's better to add a comment in document.

/cc @Patrick-LuoYu

[2021-06-25 02:20] fuchunlan commented on #3536
/kind need-to-verify

[2021-06-25 02:43] zhoffice commented on #3928
我也遇到了这个问题 你的k8s版本是1.21吗

[2021-06-25 02:57] zryfish commented on #3941
@liuyp2018 Can you help verify this issue?

[2021-06-25 03:26] yuswift commented on #3996
Hi, KubeSphere v2.1.1 is not maintained now. You'd better upgrade to v3.0 or v3.1 and use kubekey to add masters

[2021-06-25 03:42] fuchunlan commented on #3734
/kind need-to-verify

[2021-06-25 03:54] harrisonliu5 commented on #1342
/kind need-to-verify

[2021-06-25 03:54] harrisonliu5 commented on #1308
/kind need-to-verify

[2021-06-25 06:05] LinuxSuRen commented on #3891
The remote trigger feature relies on auth. In another word, it can not be triggered without any auth. So, there's no big difference between using API and a remote trigger.

I'd prefer to use https://github.com/LinuxSuRen/ks-devops/pull/13 to replace the remote trigger.

[2021-06-25 06:08] tpiperatgod commented on #3734
I've verified this issue in `release-3.1`

Thx.

[2021-06-25 06:08] #3734 closed

[2021-06-25 06:29] Imy123 opened #4001 "About Extra field in user context"
**What's it about?**

In user from context , I want add annotations and labels to Extra field, such as
![image](https://user-images.githubusercontent.com/17736269/123380096-9b8c4e00-d5c1-11eb-8517-82a3c26f2e1f.png)

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below i

[2021-06-25 06:51] zryfish commented on #2657
/milestone v3.2
/assign @yuswift

[2021-06-25 06:56] ysjjovo opened #4002 "Got error when deploying non-java application to k8s"
**Describe the Bug**
Deployment part of Jenkinsfile
[code]
I tried language(go,nodejs,dotnet,java),all failed but java.
I add a step before the 'kubernetesDeploy' to hold container.
[code]
then use 'kubectl exec' enter into the container like 'go-xxxx'.
Install telnet utils,then run command
[code]
It succeed!
I don't known why it throw timeout exception. Here is the whole pipeline logs.
[code]

Fo

[2021-06-25 07:06] Imy123 commented on #4001
link:   https://kubesphere.com.cn/forum/d/4929-contextuser

[2021-06-25 07:13] #3870 closed

[2021-06-25 07:14] yuswift commented on #4002
`Caused by: hudson.remoting.ProxyException: io.kubernetes.client.openapi.ApiException: java.net.SocketTimeoutException: connect timed out
`
please check the network

[2021-06-25 07:21] yuswift commented on #4002
can you connect `10.244.219.166/10.244.219.166:37056`?

[2021-06-25 07:24] yuswift commented on #3994
Hi, I think we have discussed the issue on slack. Please reopen the issue if have other questions.
/close

[2021-06-25 07:24] #3994 closed

[2021-06-25 08:05] ysjjovo commented on #4002
This is the pod ip of 'go-xxx',process in this pod execute step of 'kubernetesDeploy',get timeout exception.

[2021-06-25 08:17] xuliwenwenwen commented on #3612
/kind need-to-verify

[2021-06-25 10:09] JohnNiang commented on #3816
I think this improvement is supposed to be added into milestone [v3.2](https://github.com/kubesphere/kubesphere/milestone/11).

[2021-06-25 11:11] harrisonliu5 commented on #3854
/kind need-to-verify

[2021-06-25 11:12] harrisonliu5 commented on #3993
/kind need-to-verify

[2021-06-25 11:13] harrisonliu5 commented on #3992
/kind need-to-verify

[2021-06-25 11:14] harrisonliu5 commented on #3941
/kind need-to-verify

[2021-06-25 11:14] harrisonliu5 commented on #3941
/assign @harrisonliu5

[2021-06-25 11:14] harrisonliu5 commented on #3878
/kind need-to-verify

[2021-06-25 11:14] harrisonliu5 commented on #3878
/assign @harrisonliu5

[2021-06-25 12:48] whaifang commented on #3996
@yuswift  But our client used this version now,  they don't want to upgrade version, so how should we do in KubeSphere v2.1.1 to add HA masters?  Add-nodes.sh is only for add work node, is that right?

Is there a way to add HA masters successfully in KubeSphere v2.1.1, please confirm this, add-nodes.sh always failed for this. If there is no way to successfully to do this. I will report to my leade

[2021-06-25 13:05] fuchunlan commented on #3649
/kind need-to-verify

[2021-06-25 14:16] LinuxSuRen commented on #3816
About the Pipeline parametric setting via UI conflicts with Jenkinsfile. So, I think we should fix it as soon as possible. But we might have a limited capacity to do that.

[2021-06-25 14:22] FeynmanZhou commented on #3996
Hi @whaifang

As I know, it is not supported for adding Master nodes in v2.1.1, [this doc](https://v2-1.docs.kubesphere.io/docs/installation/add-nodes/) is only available for adding Worker nodes. Adding master nodes to achieve an HA cluster has been supported from v3.0.0.

[2021-06-25 14:28] ks-ci-bot opened #4006 "[release-3.1] fix wrong target in Dockerfile"
Manual cherrypick required.

#4000 failed to apply on top of branch "release-3.1":
[code]

[2021-06-25 14:29] ks-ci-bot opened #4007 "[release-3.1] Update golang.org/x/crypto module to latest release"
Manual cherrypick required.

#3997 failed to apply on top of branch "release-3.1":
[code]

[2021-06-25 14:30] ks-ci-bot opened #4008 "[release-3.1] Add development verify scripts and refactor Dockerfile"
Manual cherrypick required.

#3990 failed to apply on top of branch "release-3.1":
[code]

[2021-06-26 04:04] JohnNiang commented on #3816
Since this is a console issue, I suggest moving this issue to [kubepshere console repo](https://github.com/kubesphere/console/issues).

[2021-06-26 07:45] VioZhang commented on #3259
It's a necessary feature defenitely, and there have been some feedbacks about it .
/area console
/kind feature-request
/cc @kubesphere/sig-console

[2021-06-26 09:56] VioZhang commented on #3259
/milestone v3.2

[2021-06-26 11:10] LinuxSuRen commented on #3816
I prefer keeping it be here before having a design for the improvement. I'm not sure if the backend needs changes.

[2021-06-26 14:35] VioZhang commented on #3259
/milestone v3.2

[2021-06-27 01:43] JohnNiang commented on #3816
/cc @kubesphere/sig-console

[2021-06-27 11:46] #3374 closed

[2021-06-27 11:46] #3133 closed

[2021-06-27 11:46] #3197 closed

[2021-06-27 11:46] #3406 closed

[2021-06-27 11:46] #3382 closed

[2021-06-27 13:15] calvinyv commented on #1472
/kind feature

[2021-06-28 02:07] yuswift commented on #4008
/close

[2021-06-28 02:07] yuswift commented on #4007
/close

[2021-06-28 02:08] yuswift commented on #4006
/close

[2021-06-28 02:10] yuswift commented on #4002
/cc @kubesphere/sig-devops

[2021-06-28 03:11] JohnNiang commented on #4002
Please recheck your kubeconfig(KUBECONFIG_CREDENTIAL_ID env) detail.

[2021-06-28 03:13] yuswift commented on #4008
/reopen

[2021-06-28 03:13] yuswift commented on #4007
/reopen

[2021-06-28 03:14] yuswift commented on #4006
/reopen

[2021-06-28 03:30] yuswift commented on #3826
@wenxin-01 could you reproduce the bug in v3.1?

[2021-06-28 03:49] zheng1 commented on #4007
/assign @RolandMa1986

[2021-06-28 03:50] zheng1 commented on #4008
/assign @yuswift

[2021-06-28 03:50] zheng1 commented on #4006
/assign @yuswift

[2021-06-28 06:14] zhu733756 commented on #3067
@harrisonliu5 @benjaminhuo Can we support templatings for monitoring panel in next  little version? (v3.2)  Since a  dashboard converter tool would be released, and we want a switch on the panel to be compatible with older versions.  Pls have a plan for it.

[2021-06-28 06:57] wynn5a commented on #3891
Hello,
I am try to figure out how to use Kubesphere devops pipeline with gitlab events as remote trigger, but I failed to find any  helpful documents for this scenario.

[This is all I get](https://v3-1.docs.kubesphere.io/zh/docs/devops-user-guide/how-to-use/pipeline-settings/)

Do you have any suggestions for this?
Thanks

[2021-06-28 07:06] liuyp2018 commented on #3993
fixed

[2021-06-28 07:06] #3993 closed

[2021-06-28 07:06] liuyp2018 commented on #3992
fixed

[2021-06-28 07:06] #3992 closed

[2021-06-28 07:09] liuyp2018 commented on #3811
fixed

[2021-06-28 07:09] #3811 closed

[2021-06-28 07:54] ysjjovo opened #4015 "Parallel pipelinse steps don't run with expected order."
**Describe the Bug**
Here is my Jenkinsfile
[code]

**Versions Used**
KubeSphere:3.0

**Expected behavior**
           ->stage2.1
stage1
          ->stage2.2.1-> stage2.2.2

[2021-06-28 08:02] wenxin-01 commented on #3826
Can not reproduce

[2021-06-28 08:08] wenxin-01 commented on #3826
can not reproduce, i will close this issue

[2021-06-28 08:08] #3826 closed

[2021-06-28 08:10] LinuxSuRen commented on #3891
I don't recommend you use the remote trigger. Please use the webhook instead. But if you do really want to use the remote trigger. Please read me description from Jenkins Pipeline UI.

[2021-06-28 08:34] liuyp2018 commented on #3456
fixed

[2021-06-28 08:34] #3456 closed

[2021-06-28 09:01] liuyp2018 commented on #3489
fixed

[2021-06-28 09:01] #3489 closed

[2021-06-28 09:01] liuyp2018 commented on #3488
fixed

[2021-06-28 09:01] #3488 closed

[2021-06-28 10:13] liuyp2018 commented on #3986
Error 403 occur when user with Workspace Manager role accessing the grayscale publication -->task status page
![image](https://user-images.githubusercontent.com/36271543/123619576-e44f3b80-d83b-11eb-9d4a-bcc942fbcc39.png)

[2021-06-28 10:16] liuyp2018 commented on #3986
![image](https://user-images.githubusercontent.com/36271543/123620505-e5cd3380-d83c-11eb-8caf-ebfc906e9769.png)

[2021-06-28 10:17] liuyp2018 commented on #3986
![image](https://user-images.githubusercontent.com/36271543/123620681-13b27800-d83d-11eb-9222-776e7ee1a16f.png)

[2021-06-28 10:36] zheng1 commented on #4015
/cc @kubesphere/sig-devops
/area devops

[2021-06-28 10:41] LinuxSuRen commented on #4015
IMO, the order of Pipeline executing is correct. The stage page might be wrong.

[2021-06-29 02:24] liuyp2018 commented on #3986
![image](https://user-images.githubusercontent.com/36271543/123727384-215f1080-d8c4-11eb-8010-94f375889465.png)

/assign @wansir

[2021-06-29 02:27] liuyp2018 commented on #3986
![image](https://user-images.githubusercontent.com/36271543/123727641-874b9800-d8c4-11eb-99ae-d8cfca6e5e72.png)

[2021-06-29 02:28] liuyp2018 commented on #3986
![image](https://user-images.githubusercontent.com/36271543/123727715-a518fd00-d8c4-11eb-91a3-6c41e51be3cd.png)
![image](https://user-images.githubusercontent.com/36271543/123727737-aea26500-d8c4-11eb-89c8-1a6ec656d48a.png)

[2021-06-29 02:31] liuyp2018 commented on #3986
![image](https://user-images.githubusercontent.com/36271543/123727882-f0331000-d8c4-11eb-91a6-3db7f27273fc.png)

[2021-06-29 02:34] liuyp2018 commented on #3986
![image](https://user-images.githubusercontent.com/36271543/123728036-3a1bf600-d8c5-11eb-9517-a716cb8bb875.png)
![image](https://user-images.githubusercontent.com/36271543/123728096-5750c480-d8c5-11eb-8cae-abb1620b1e21.png)
![image](https://user-images.githubusercontent.com/36271543/123728216-86ffcc80-d8c5-11eb-8b56-b42552868048.png)

[2021-06-29 02:52] yuswift commented on #4008
/close

[2021-06-29 02:52] #4008 closed

[2021-06-29 02:53] yuswift commented on #4007
https://github.com/kubesphere/kubesphere/pull/4012 fixed
/close

[2021-06-29 02:53] #4007 closed

[2021-06-29 02:54] yuswift commented on #4006
/close

[2021-06-29 02:54] #4006 closed

[2021-06-29 05:52] wenxin-01 commented on #3439
issue fixed `kubesphere v3.1.1-rc.0`

![image](https://user-images.githubusercontent.com/68640256/123744289-22eb0180-d8e1-11eb-9ce4-a99e24891d9e.png)

[2021-06-29 05:52] #3439 closed

[2021-06-29 06:06] wenxin-01 commented on #3821
issue has not been fixed in `kubesphere v3.1.1-rc.0`

[2021-06-29 06:14] wenxin-01 commented on #3649
issue has not been fixed in `kubesphere v3.1.1-rc.0`

[2021-06-29 06:28] fuchunlan commented on #3649
[kubesphere/console#1971](https://github.com/kubesphere/console/pull/1971) had been left out before，I added `/cherrypick release-3.1` 5 hours ago

[2021-06-29 06:35] yuswift commented on #3612
fixed
@liuyp2018 please confirm if we close this issue

[2021-06-29 06:44] ysjjovo commented on #4015
You're right,so do i find  out  it's the display error!

[2021-06-29 06:48] LinuxSuRen commented on #4015
I'm not sure if it's worth fixing it. It's too complicated if there're too many stage levels. And it's hard to understand the relation of those stages.

@ysjjovo if you just want to try it, or you do have a real use case.

/area console
/kind bug

[2021-06-29 07:05] ysjjovo commented on #4015
I think it's suite to most of cases contain sonar analysis step, analysis could be a parallel step.

[2021-06-29 07:05] ysjjovo commented on #4015
I think it's suite to most of cases contain sonar analysis step, analysis could be a parallel step.

[2021-06-29 08:09] LinuxSuRen commented on #4015
Sure. The parallel stages are useful. What I want to say is that too many levels are not usual.

[2021-06-29 08:28] wenxin-01 commented on #3839
/reopen

[2021-06-29 08:45] wansir commented on #3839
![image](https://user-images.githubusercontent.com/8263040/123766578-65203d00-d8f9-11eb-8a98-0cd939424d2f.png)

/cc @kubesphere/sig-console

[2021-06-29 09:37] liuyp2018 commented on #3941
In the new version, the problem is not reproduced

[2021-06-29 09:40] liuyp2018 commented on #3878
In the new version, the problem is not reproduced

[2021-06-29 09:50] liuyp2018 commented on #3845
![image](https://user-images.githubusercontent.com/36271543/123777104-74f04f00-d902-11eb-8659-4e5592a90e63.png)
/remove-kind need-to-verify

[2021-06-29 10:22] wenxin-01 opened #4016 "Multi-cluster projects appear in the project list of a cluster"
**Versions Used**
KubeSphere:  host `v3.1.1-rc.0`  memeber `v3.1`

**How To Reproduce**
Steps to reproduce the behavior:

https://user-images.githubusercontent.com/68640256/123781123-715ec700-d906-11eb-9a42-972f28f62913.mov

![image](https://user-images.githubusercontent.com/68640256/123781375-bf73ca80-d906-11eb-8692-a6e29e305b37.png)

/kind bug
/assign @wansir
/priority Medium
/milestone 3.1.1

[2021-06-29 10:48] wansir commented on #4016
Using label selector `kubesphere.io/kubefed-host-namespace!=true` to filter out namespaces.

/assign @kubesphere/sig-console

[2021-06-29 13:32] yuswift commented on #3614
/remove-lifecycle stale

[2021-06-29 14:43] zousheng opened #4017 "kubesphere return 400 status code for k8s api request which should return 422 and detailed information"
**What's it about?**

It's about api response when deployment spec params not met the condition like resource request > resource limit. resp is 400 instead of 422 and details
**What's the reason why we need it?**

when create or update deployment, and user configurd wrong for some spec field, and the response is 400. it should be k8s's response 422 and detailed information. This makes debugging mu

[2021-06-30 02:16] wenxin-01 opened #4018 "Multi-cluster projects should appear in the project list of a cluster in Metering and Billing"
**Versions Used**
KubeSphere:  KubeSphere: host `v3.1.1-rc.0` memeber `v3.1`

**How To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/68640256/123891607-bd078400-d98b-11eb-8017-dea0528c3ac1.png)
![image](https://user-images.githubusercontent.com/68640256/123891738-f04a1300-d98b-11eb-962e-718092842a90.png)

/kind bug
/assign @wansir  @kubesphere/sig-

[2021-06-30 02:50] liuyp2018 commented on #3483
fixed

[2021-06-30 02:50] #3483 closed

[2021-06-30 03:12] liuyp2018 commented on #3805
fixed

[2021-06-30 03:12] #3805 closed

[2021-06-30 03:12] liuyp2018 commented on #3657
fixed

[2021-06-30 03:12] #3657 closed

[2021-06-30 03:24] liuyp2018 commented on #3987
Multi cluster environment, problem exists while entering workspace resource quota page.
![image](https://user-images.githubusercontent.com/36271543/123897162-7e76c700-d995-11eb-9532-be490624adbb.png)

/remove-kind need-to-verify

[2021-06-30 03:42] wansir commented on #3987
I found that the API path already contains the cluster, the resource quota is not set?

[2021-06-30 03:46] liuyp2018 commented on #3987
The interface reports 404 error when entering the quota setting page

[2021-06-30 03:51] wansir commented on #3987
By design, if resource quota is not set for the cluster the HTTP status code is 404.

[2021-06-30 03:53] fuchunlan commented on #3543
/remove-kind need-to-verify

[2021-06-30 04:06] liuyp2018 commented on #3987
ok, in that case, the issue can be closed

[2021-06-30 06:26] fuchunlan commented on #3307
/kind need-to-verify

[2021-06-30 07:49] wansir commented on #4017
@zousheng

K8s API request will forward to to kube-apiserver, whatever status code is 400 or 422 will be returned directly. ks-apiserver is a transparent proxy in a sense. Maybe you can provide more information, specific request messages.

![image](https://user-images.githubusercontent.com/8263040/123917878-dae9de80-d9b5-11eb-8a02-3022c64f759e.png)

https://github.com/kubesphere/kubesphere/blob/ma

[2021-06-30 13:27] hvsop opened #4022 "Installation hang there with no redis-ha-server created and redis-ha-proxy pods can't be created."
**What's your question**

The installation hang there, redis pods can't be created.

[root@kvm-10-115-6-11 demo]# kubectl -n kubesphere-system  get pods
NAME                                     READY   STATUS             RESTARTS   AGE
ks-apiserver-6c6bcff4df-jxnw9            0/1     CrashLoopBackOff   9          25m
ks-apiserver-6c6bcff4df-q5wpr            0/1     CrashLoopBackOff   9          25

[2021-07-01 01:43] hvsop commented on #4022
I do have SC created:

[root@kvm-10-115-6-11 ~]# kubectl get sc
NAME                            PROVISIONER      RECLAIMPOLICY   VOLUMEBINDINGMODE   ALLOWVOLUMEEXPANSION   AGE
managed-nfs-storage (default)   fuseim.pri/ifs   Delete          Immediate           false                  14h

Please check the debug info as below:

[root@kvm-10-115-6-11 ~]# kubectl -n kubesphere-system get pods
NAME

[2021-07-01 01:54] yuswift commented on #4022
/kind bug
/area installation
/cc @kubesphere/sig-installation

[2021-07-01 03:26] zousheng commented on #4017
thanks. I read the code, and the operation on webui is correct. My use case is, I used the deployment :

url:  /apis/clusters/host/apps/v1/namespaces/test/deployments,
method: POST
content-type: application/strategic-merge-patch+json
body: whole deployment json file
,
response is

{
    "kind": "Status",
    "apiVersion": "v1",
    "metadata": {},
    "status": "Failure",
    "message": "the objec

[2021-07-01 03:35] zousheng commented on #4017
@wansir I tested the post and patch method, and got the same error

[2021-07-01 03:52] wansir commented on #4017
Could you provide the complete request message? The response will be consistent if the request is the same.

[2021-07-01 03:57] wenxin-01 opened #4023 "Enable 'Network Isolation' of workspace failed"
**Versions Used**
KubeSphere:  host: `v3.1.1-rc.1`   meneber:`v3.1 `

**Preset conditions**
network:
  networkpolicy:
    enabled: true

**How To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/68640256/124062186-e21af600-da62-11eb-9142-ad5a9e2863a5.png)

/kind bug
/assign @wansir @harrisonliu5
/priority Medium
/milestone 3.1.1

[2021-07-01 04:14] VioZhang opened #4024 "Change the default range of the targetCPUUtilizationPercentage."
There is a user scenario where the user need to set the targetCPUUtilizationPercentage exceeding the default percentage 100%，such as the user who work on  Automatic Speech Recognition.
We'd better change the default range of it.

![HPA CPU利用率.png](https://i.loli.net/2021/07/01/8CvzalpExsWqJZf.png)

 /area console
/kind feature-request

[2021-07-01 07:31] ysjjovo commented on #4002
It success when I recreate kubeconfig credential,so strange why its error is 'SocketTimeoutException' .

[2021-07-01 07:49] JohnNiang commented on #4002
hi @ysjjovo , maybe the agent pod could not interact with k8s. So you may check the connection between agent pod and k8s.

[2021-07-01 07:55] liuyp2018 commented on #3949
fixed

[2021-07-01 07:55] #3949 closed

[2021-07-01 07:56] liuyp2018 commented on #3934
fixed

[2021-07-01 07:56] #3934 closed

[2021-07-01 07:58] liuyp2018 commented on #3866
fixed

[2021-07-01 07:58] #3866 closed

[2021-07-01 07:59] liuyp2018 commented on #3536
fixed

[2021-07-01 07:59] #3536 closed

[2021-07-01 08:00] liuyp2018 commented on #3531
fixed

[2021-07-01 08:00] #3531 closed

[2021-07-01 08:27] #4002 closed

[2021-07-01 08:32] JohnNiang commented on #4002
@ysjjovo , please tell us why you closed this issue. Is there any solution here?

[2021-07-01 08:47] lxm opened #4025 "[proposal] GPUKind config"
According to GPU workload scheduling requirements and there exist multi GPU scheduling tech.
We need a definition for cluster's GPU resource.

My idea is as follows:

add CRD GPUKind

[code]

[code]

[code]

[2021-07-01 10:20] calvinyv commented on #4025
/kind design

[2021-07-01 11:12] ks-ci-bot opened #4027 "[release-3.1] fix .dockerignore file ignores .git dir bug"
Manual cherrypick required.

#4026 failed to apply on top of branch "release-3.1":
[code]

[2021-07-01 11:12] ks-ci-bot opened #4028 "[release-3.1] fix .dockerignore file ignores .git dir bug"
Manual cherrypick required.

#4026 failed to apply on top of branch "release-3.1":
[code]

[2021-07-01 11:14] ks-ci-bot opened #4029 "[release-3.1] fix .dockerignore file ignores .git dir bug"
Manual cherrypick required.

#4026 failed to apply on top of branch "release-3.1":
[code]

[2021-07-01 11:20] ks-ci-bot opened #4030 "[release-3.1] fix .dockerignore file ignores .git dir bug"
Manual cherrypick required.

#4026 failed to apply on top of branch "release-3.1":
[code]

[2021-07-01 11:22] ks-ci-bot opened #4031 "[release-3.1] fix .dockerignore file ignores .git dir bug"
Manual cherrypick required.

#4026 failed to apply on top of branch "release-3.1":
[code]

[2021-07-01 11:24] ks-ci-bot opened #4032 "[release-3.1] fix .dockerignore file ignores .git dir bug"
Manual cherrypick required.

#4026 failed to apply on top of branch "release-3.1":
[code]

[2021-07-01 11:48] VioZhang commented on #4025
/assign @VioZhang

[2021-07-01 13:19] zheng1 commented on #4032
/close

[2021-07-01 13:19] #4032 closed

[2021-07-01 13:20] #4027 closed

[2021-07-01 13:20] zheng1 commented on #4028
/close

[2021-07-01 13:20] #4028 closed

[2021-07-01 13:20] zheng1 commented on #4029
/close

[2021-07-01 13:20] #4029 closed

[2021-07-01 13:20] zheng1 commented on #4030
/close

[2021-07-01 13:20] #4030 closed

[2021-07-01 13:20] zheng1 commented on #4031
/close

[2021-07-01 13:20] #4031 closed

[2021-07-01 17:34] ranaskr opened #4035 "Support for other kubernetes distributions like redhat openshift, kubeadm"
**What's it about?**

Add "Redhat Openshift" and "Kubeadm/KubeSpray Based On-Prem Clusters" to Kubesphere

**What's the reason why we need it?**

Several Enterprises do use other K8S Distributions and hence the need to bring in more flexibility to the list of support K8S distros.

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/

[2021-07-02 00:33] #3132 closed

[2021-07-02 00:33] #3155 closed

[2021-07-02 01:39] hvsop commented on #4022
I had reinstall the KubeSphere on my cluster, this time I can see the redis-ha-server-0   pod but it is still in pending status.

[root@kvm-10-115-6-11 ~]# kubectl -n kubesphere-system get pods
NAME                                     READY   STATUS             RESTARTS   AGE
ks-apiserver-785fbdb85b-6bp2j            0/1     CrashLoopBackOff   205        17h
ks-apiserver-785fbdb85b-mvftr

[2021-07-02 02:12] zhouqiui opened #4036 "login fail"
![IMG_3468](https://user-images.githubusercontent.com/64006913/124210418-f3750880-db1d-11eb-9a7b-fdbd065e786b.JPG)

[2021-07-02 02:15] wansir commented on #4036
Please provide more information, environment, logs, pod status, etc.

[2021-07-02 02:23] yuswift commented on #4035
Hi, for `kubeadm` you only need to install `KubeSphere` in your cluster. For `openshift`, would you like to provide a test environment for us?

[2021-07-02 02:31] wenxin-01 commented on #3307
issue fixed `v3.1.1-rc.1`
![image](https://user-images.githubusercontent.com/68640256/124211942-962e8680-db20-11eb-9e1c-ee7c6f7c84bc.png)

[2021-07-02 02:31] #3307 closed

[2021-07-02 02:38] yuswift commented on #4022
Do you have a default storageclass?

[2021-07-02 02:46] wenxin-01 commented on #3821
issue fixed `v3.1.1-rc.1`

[2021-07-02 02:46] #3821 closed

[2021-07-02 03:03] wenxin-01 commented on #3649
issue fixed `v3.1.1-rc.1`

[2021-07-02 03:03] #3649 closed

[2021-07-02 03:53] wenxin-01 commented on #3935
issue fixed `v3.1.1-rc.1`
![image](https://user-images.githubusercontent.com/68640256/124216944-e231f900-db29-11eb-94fd-798de6ae7595.png)

[2021-07-02 03:53] #3935 closed

[2021-07-02 06:48] liuyp2018 commented on #3612
not fixed in v3.1.1-rc.1

[2021-07-02 06:53] wenxin-01 opened #4038 "When the clusterRole of the added member cluster is set incorrectly, the prompt information is inaccurate"
**Versions Used**
KubeSphere:  `v3.1.1-rc.1`

**Preset conditions**
There is a multi-cluster environment

**How To Reproduce**
Steps to reproduce the behavior:
1. Add member cluster
2. The clusterRole of member cluster is set incorrectly
3. jwtSecret set correctly

![image](https://user-images.githubusercontent.com/68640256/124233216-31d1ee00-db45-11eb-97bd-34c65d503f7b.png)

**Expected behavior**

[2021-07-02 06:54] liuyp2018 commented on #1308
fixed and verfied in v3.1.1-rc.1

[2021-07-02 06:56] liuyp2018 commented on #3618
verfied and fixed in v3.1.1-rc.1

[2021-07-02 07:08] wansir opened #4039 "ks-apiserver crash due to resources discovery failed"
**Describe the Bug**

`ks-apiserver` to fail to start, resources discovery reported some error. Similar with #1962.

[code]

/kind bug
/milestone BackLog

[2021-07-02 07:21] wansir commented on #3905
/close verified after upgrade to 3.1.1-rc.1

[2021-07-02 07:22] #3905 closed

[2021-07-02 07:24] wansir commented on #3839
/kind need-to-verify

[2021-07-02 07:56] yuswift commented on #4038
/milestone v3.1

[2021-07-02 08:21] #3986 closed

[2021-07-02 09:30] ysjjovo commented on #4002
You told me to check the kubeconfig credential,it's the wrong credential cause  'SocketTimeoutException'.

[2021-07-02 09:39] JohnNiang commented on #4002
Well, it's a great honor to be able to help you.

[2021-07-05 01:38] hvsop commented on #4022
yes I have:

NAME                            PROVISIONER      RECLAIMPOLICY   VOLUMEBINDINGMODE   ALLOWVOLUMEEXPANSION   AGE
managed-nfs-storage (default)   fuseim.pri/ifs   Delete          Immediate           false                  2d23h

[2021-07-05 02:07] harrisonliu5 commented on #4038
/kind need-to-verify

[2021-07-05 02:08] harrisonliu5 commented on #4016
/kind need-to-verify

[2021-07-05 02:08] harrisonliu5 commented on #3973
/kind need-to-verify

[2021-07-05 02:35] stoneshi-yunify commented on #3973
verified working as expected

[2021-07-05 02:35] #3973 closed

[2021-07-05 02:58] wenxin-01 commented on #4016
issue fixed `v3.1.1-rc.1`

[2021-07-05 02:58] #4016 closed

[2021-07-05 06:04] yyt6200 opened #4040 "When the branch name of devop is Chinese, an error will be reported"
this branch name is '测试分支',click this branch,the ks is report error.

My running environment is as follows:

kubernets:1.9.10

kubesphere:3.1.0

![image](https://user-images.githubusercontent.com/44914868/124424456-a1401b80-dd99-11eb-93c1-f8a13f52b78e.png)

[2021-07-05 06:20] yuswift commented on #4040
/cc @kubesphere/sig-devops

[2021-07-05 06:20] yuswift commented on #4040
/kind bug
/milestone v3.2

[2021-07-05 06:26] JohnNiang commented on #4040
/area devops
/milestone v3.1

[2021-07-05 08:03] yuswift commented on #4022
It looks like that the pvc can't be bound to pv. Please check your nfs server logs.

[2021-07-05 08:16] RolandMa1986 opened #4041 "Failed to create Gateway"
**Describe the Bug**
"deployment template file not loaded" error shows up when creating project gateway

**Versions Used**
KubeSphere: kubesphere: latest
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help us debugging)

[2021-07-05 09:54] JohnNiang commented on #3959
/assign

[2021-07-06 00:35] LinuxSuRen commented on #4040
hi @yyt6200 thanks for reporting this issue to us.

[2021-07-06 03:10] yyt6200 commented on #4040
you are welcome .

[2021-07-06 03:55] wenxin-01 commented on #4038
issue fixed `v3.1.1-rc.1`
![image](https://user-images.githubusercontent.com/68640256/124539959-0d318b00-de51-11eb-8385-4e8fdfe0c2e0.png)

[2021-07-06 06:49] wenxin-01 commented on #3860
issue fixed `v3.1.1-rc.1`

[2021-07-06 06:49] #3860 closed

[2021-07-06 07:19] liuyp2018 commented on #2882
/reopen

[2021-07-06 07:26] liuyp2018 commented on #2882
/remove-assigner

[2021-07-06 07:31] liuyp2018 commented on #2861
/remove-assignees

[2021-07-06 07:33] liuyp2018 commented on #2854
/remove assign

[2021-07-06 07:33] liuyp2018 commented on #2797
/remove-assign

[2021-07-06 07:36] liuyp2018 commented on #2861
/unassign

[2021-07-06 07:38] liuyp2018 commented on #2882
/unassign

[2021-07-06 09:16] calvinyv commented on #1882
/reopen

[2021-07-06 12:24] yuswift commented on #3683
https://github.com/kubesphere/kubesphere/pull/3704 has been merged
/close

[2021-07-06 12:24] #3683 closed

[2021-07-06 12:34] #4041 closed

[2021-07-07 01:35] RolandMa1986 opened #4045 "Secure third-party services"
**What's it about?**
Some services like Kiali or Jaeger didn't provide a built-in authentication mechanism or security setup up with default settings. All the tenancies could access those services directly within the cluster, so there a potential risk of information exposure.

We need to find a proper way to protect each of the third-party services. And use secure connections between ks-apiserver

[2021-07-07 01:58] yyt6200 opened #4046 "When openpitrix is used for deployment, it will get stuck in the application configuration"
Operating environment：
system：CentOS Linux 7 (Core)
kubernetes： v1.19.10
kubesphere： v3.1.0
docker：20.10.6
**Kubernetes deployment mode：binary deployment**
**Kubesphere deployment mode：Minimal KubeSphere on Kubernetes**
From the browser console, it is found that the request URL contains an undefined response with "download file failed".
![image](https://user-images.githubusercontent.com/44914868/1

[2021-07-07 06:04] xyz-li commented on #4046
/area app-management
/assign @xyz-li

[2021-07-07 06:06] xyz-li commented on #4046
Could you provide the log of ks-apiserver?

[2021-07-07 06:13] yyt6200 commented on #4046
@xyz-li Thank you for you reply。
![image](https://user-images.githubusercontent.com/44914868/124708932-7f779d80-df2d-11eb-9f3b-a0f1de82cd6f.png)

[2021-07-07 07:35] stoneshi-yunify opened #4047 "Missing unit when creating/expanding volume"
**Describe the Bug**
When user drags the bar to a capacity, say 500Gi,  the actual POST is 500, not 500Gi. missing unit will cause default unit `kb` to be used. So a 500kb volume request will be sent instead of 500Gi.

Creating and expanding volume have this problem.

![image](https://user-images.githubusercontent.com/70880165/124718194-6d4f2c80-df38-11eb-97a4-5d1b9bc7ee76.png)

![image](https://u

[2021-07-07 07:37] stoneshi-yunify commented on #4047
/area console
/assign @xuliwenwenwen

[2021-07-07 08:15] stoneshi-yunify commented on #4047
/kind bug
/milestone v3.1

[2021-07-07 14:25] #3435 closed

[2021-07-08 01:34] xyz-li commented on #4046
Can you  view the details of other apps?

[2021-07-08 01:50] yyt6200 commented on #4046
All apps are the same
![image](https://user-images.githubusercontent.com/44914868/124849724-dfc01b00-dfd1-11eb-9032-b73c0dc69cea.png)

[2021-07-08 02:19] xyz-li commented on #4046
Please run these commands.
`kubectl exec -ti $(kubectl  get po -n kubesphere-system -l app=minio -oname) -n kubesphere-system --  ls -al /data/`
`kubectl exec -ti $(kubectl  get po -n kubesphere-system -l app=minio -oname) -n kubesphere-system --  ls -al /data/app-store`

[2021-07-08 02:20] yyt6200 commented on #4046
![image](https://user-images.githubusercontent.com/44914868/124851972-1c8e1100-dfd6-11eb-8b2b-dacb1838df68.png)

[2021-07-08 03:03] xyz-li commented on #4046
Looks like op job failed to upload charts data.
Please provide the log of op job. You can just run this command `kubectl logs $(kubectl  get po -lapp=openpitrix -oname)`

[2021-07-08 03:07] yyt6200 commented on #4046
This command cannot be executed. The prompt is as follows.
![image](https://user-images.githubusercontent.com/44914868/124856221-b3f66280-dfdc-11eb-9c54-35afbf928085.png)

[2021-07-08 06:18] xyz-li commented on #4046
`kubectl logs $(kubectl get po -lapp=openpitrix -oname -nkubesphere-system) -n kubesphere-system`

[2021-07-08 07:17] yyt6200 commented on #4046
![image](https://user-images.githubusercontent.com/44914868/124879297-a7373600-dfff-11eb-92d5-574dbdf13cf3.png)

[2021-07-08 07:18] yyt6200 commented on #4046
[root@k8s-master1 ~]# kubectl logs $(kubectl get po -lapp=openpitrix -oname -nkubesphere-system) -n kubesphere-system
I0515 03:36:37.902093       1 dumpconfig.go:22] configmap: authentication:
  authenticateRateLimiterMaxTries: 10
  authenticateRateLimiterDuration: 10m0s
  loginHistoryRetentionPeriod: 168h
  maximumClockSkew: 10s
  multipleLogin: True
  kubectlImage: kubesphere/kubectl:v1.19.0
  j

[2021-07-08 07:36] xyz-li commented on #4046
Did you remove the data in minio, op job has successfully upload data to minio.

If you want to restore the apps, you can run commands
`
kubectl delete happ --all
kubectl  get job -nkubesphere-system openpitrix-import-job -oyaml >job.yaml

kubectl delete -f job.yaml
kubectl apply -f job.yaml
`

[2021-07-08 07:41] yyt6200 commented on #4046
Minio has been re installed. I don't know if it is the problem you described. I'll try your order. In addition, I would like to ask, when KS installer is updated, the contents of Jenkins CASC config will be reset. Is this a normal phenomenon

[2021-07-08 07:45] xyz-li commented on #4046
@LinuxSuRen

[2021-07-08 08:13] xyz-li commented on #4046
/close

[2021-07-08 08:13] #4046 closed

[2021-07-08 08:21] wqnner commented on #3889
@ruiyaoOps
I have contacted AWS technical support. After their confirmation, their official template will not register this lambda function in the user's environment. Can the developer of QingCloud confirm whether you have referenced a third-party template in the template?
Here is my communication record with AWS staff：
客户您好，

感谢您下午拨空接听我的电话，以下为我们讨论的几点项目以及我的测试结果：

➤ 我尝试参考与您同一份是由青云共同开发的 CloudFormati

[2021-07-09 02:09] stoneshi-yunify opened #4049 "Support custom resource quotas"
**Describe the Bug**
for a namespace, user should be able to enter a custom resource quota's name and value. both should be string.

**Versions Used**
KubeSphere:
Kubernetes: (If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help us deb

[2021-07-09 02:11] stoneshi-yunify commented on #4049
/area console
/milestone v3.1
/assign @xuliwenwenwen
/kind feature

[2021-07-09 02:42] ruiyaoOps commented on #3889
This lambda is to control Eks access authorization, just like after creating Eks, you need to create a cluster IAM role and attach the required Amazon EKS IAM managed policy to it.
EKS's external access authorization cannot be controlled by Kubesphere. This is neither reasonable nor necessary.
You can find more information about aws-auth at https://docs.aws.amazon.com/eks/latest/userguide/add-user

[2021-07-09 10:07] yyt6200 opened #4051 "It is hoped that sonarqube of multiple scanning items can be displayed in one pipeline"
**kubesphere version: v3.1.0**

The current situation is that I will build two front-end and back-end projects in a pipeline, so I will scan sonarqube for the two projects, but only the first scanned project will be displayed in the final KS.

only view front-end result.
![image](https://user-images.githubusercontent.com/44914868/125061535-05d3e100-e0e0-11eb-9b6a-27fcce250367.png)
pipline has fron

[2021-07-09 10:21] LinuxSuRen commented on #4051
/area devops

[2021-07-10 02:23] yyt6200 opened #4052 "When ks-installer.yaml update,devopsconfig will be reset."
**KubeSphere Version: V3.1.0**

for example:
jenkins-casc-config-->jenkins.yaml
ks-devops-agent-->MavenSetting

**This has been verified many times and will be reset after each update.**

[2021-07-10 03:07] zousheng commented on #4017
Got the answer. Kubesphere indeed return 422 status and response body, but I set retry in http (with go-restry retry condition, status > 400 and status != 404) , after retrying the status changed to 400. I changed the retry codition to status =401 and status >=500, the problem was gone.

thanks for help

[2021-07-10 03:07] #4017 closed

[2021-07-12 16:35] #3463 closed

[2021-07-13 03:20] lawrencewu opened #4053 "does kubesphere 3.0 support macvlan？"
## General remarks

As seen from the kubesphere README doc, the version 3.0 does not support macvlan, so weather has a plan to add feature   to support across cluster access ?

/area networking

[2021-07-13 04:47] sunblack110 opened #4055 "new feature about remove default apps in the app store"
Hi All,

I would like to delete all the apps in the app store, as we know that we have 15 apps in the store, I don't know where we can delete them. I don't want just unload them from app store, I would like where is these apps saved , in the local disk or from the Helm repo.

The reason why I would like to remove them is that I would like to build my own app store, in which we will submit some ind

[2021-07-13 04:53] sunblack110 commented on #3783
Does anyone know how this issue going on? Any branch has the feature or is still planing.

[2021-07-13 07:05] flycows01 opened #4056 "ErrorInfo: failed calling webhook "logsidecar-injector.logging.kubesphere.io""
**When I enabled KubeSphere Logging System, Always report an error when creating a workload !**
Error Msg:
''' Internal error occurred: failed calling webhook "logsidecar-injector.logging.kubesphere.io": Post "https://logsidecar-injector-admission.kubesphere-logging-system.svc:443/?timeout=30s": x509: certificate relies on legacy Common Name field, use SANs or temporarily enable Common Name matchi

[2021-07-13 08:03] happywzy opened #4057 "The traffic managerment configuration could not take effect"
version： v3.1.0
![image](https://user-images.githubusercontent.com/26290710/125414305-c037de5f-4002-4a02-ada2-4c7b93e7d786.png)

- if you don't open the page "流量治理",  you can config the traffic managerment in the CRD `DestinationRule` and it works!
- if you open the page "流量治理", any configuration will not take effect and reset to the original config.

![image](https://user-images.githubusercontent

[2021-07-13 08:46] wansir commented on #3621
/milestone v3.2

[2021-07-13 09:33] yinmin2020 opened #4058 "Cannot edit while the DevOps pipeline is running"
When you create a new pipeline, you have the option to edit the pipeline and edit the JenkinsFile
But once the pipeline is up and running whether it's successful or not there's no place to change the pipeline
As far as we know, the back end does not have any restrictions, but the front end cannot be displayed. How to solve this problem?
![image](https://user-images.githubusercontent.com/65068467/1

[2021-07-13 09:38] LinuxSuRen commented on #4058
Thanks for reporting this issue. It looks like that we only need to change it from the front-end. The backend does not have the restriction on it.

/area devops

[2021-07-13 09:39] LinuxSuRen commented on #4058
/area console

[2021-07-13 10:06] wenhuwang opened #4059 "Supports persistent storage of edge node monitoring data."
**What's it about?**

**What's the reason why we need it?**

I believe this is an important feature for Kubesphere. There're a few use cases:

* case one
* case two
* ...

Please leave your comments below if there's anyone agrees with me. Or just give me a thumb up.

**Area Suggestion**

/kind feature-request

[2021-07-13 10:41] wengzhisong-hz commented on #3259
I found the interface provided by Harbor:  `/ API / v2.0 / search? Q = queryparams`. This interface can help to realize the mirror search function. I can spend some time in the  kubesphere/console  project to implement this function.

[2021-07-13 13:54] LinuxSuRen commented on #3259
@wengzhisong-hz Excellent. I'm looking forward to this feature. Please don't hesitate to contact us if you have any questions about this.

[2021-07-13 14:03] tpiperatgod commented on #4056
Here's a workaround, you can try this:
[code]

[2021-07-14 01:57] xyz-li commented on #4055
This command will delete all the default apps in the app store.
[code]

[2021-07-14 02:23] calvinyv commented on #4035
/kind need-to-verify

[2021-07-14 03:44] wenxin-01 opened #4060 "When set replicas >1 of apiserver, you can not login ks"
**Versions Used**
KubeSphere: `ks3.1.1`

**How To Reproduce**

![image](https://user-images.githubusercontent.com/68640256/125557940-a3177f39-47a9-40b4-99ea-d6e3cd2485c8.png)
![image](https://user-images.githubusercontent.com/68640256/125557989-027deeec-f570-4735-a460-50c6dfaf1d74.png)

/kind bug
/assign @wansir
/priority High

[2021-07-14 04:03] wansir commented on #4060
By design, Redis needs to be installed in the case of multiple replicas. Using memory cache or redis depends on the number of ks-apiserver replicas.

[2021-07-14 04:33] JohnNiang commented on #3959
Hi @yinmin2020 , there's one thing we need to be sure of what filters should we provide exactly.

[2021-07-14 04:46] sunblack110 commented on #4055
Wow, that's great. Thanks very much

[2021-07-14 04:46] #4055 closed

[2021-07-14 05:49] LinuxSuRen commented on #3891
I'm going to close this issue. Users might be able to use the [generic webhook](https://github.com/kubesphere-sigs/ks-devops/pull/13) in the next minor version.

/close

[2021-07-14 05:49] #3891 closed

[2021-07-14 06:16] VioZhang commented on #4059
/cc @kubesphere/sig-observability

[2021-07-14 06:20] VioZhang commented on #3783
/cc

[2021-07-14 06:25] VioZhang commented on #4055
/cc

[2021-07-14 09:11] #4060 closed

[2021-07-14 09:15] wenxin-01 opened #4061 "New user can not login ks"
**Versions Used**
KubeSphere:  `3.1.1`

**How To Reproduce**
Steps to reproduce the behavior:

![image](https://user-images.githubusercontent.com/68640256/125596564-7c97745f-3077-4de8-a2bb-66fe946293a4.png)

/kind bug
/assign @wansir
/priority High
/milestone 3.1.1

[2021-07-14 11:24] #4061 closed

[2021-07-15 00:38] #3466 closed

[2021-07-15 03:29] huangzhic opened #4064 "All users created before install Devops are unable to use Jenkins"
All users created before install Devops are unable to use Jenkins. You must delete the user and recreate the user to use Jenkins properly.  I think that after installing Devops component, all users should be added to Jenkins users

The error message is as follows:
`
2021-07-14 15:14:05.594+0000 [id=11803] WARNING i.k.j.d.a.KubesphereApiTokenAuthenticator#authenticate: API token matched for user hu

[2021-07-15 06:02] yinmin090922 opened #4065 "View the cluster/project volume capacity error"
Describe the Bug
On the cluster/project volume details page, the volume capacity information is different from the data set by the user.And all the volumes have the same capacity.

Versions Used
KubeSphere: v3.1.1

To Reproduce
Steps to reproduce the behavior:
1. Go to the cluster/project  'Storage'
2. Click on 'Volumes' and select any one of the volumes to view its details
3. See error:
   The vo

[2021-07-16 02:03] flycows01 commented on #4056
The problem is solved，thanks a lot

[2021-07-16 02:03] #4056 closed

[2021-07-16 03:26] whaifang opened #4066 "Fail to add HA masters in kubespher v3.0.0"
Hi Team.
Our original cluster based on kubesphere-all-v2.1.1  is like below:
- master0
- node1
- node2

We upgrade to v3.0.0 according to https://v3-0.docs.kubesphere.io/docs/upgrade/upgrade-with-kubekey/

**Then we add master1 and master2 on v3.0.0 to setup HA**  according to https://v3-0.docs.kubesphere.io/docs/installing-on-linux/cluster-operation/add-new-nodes/
- master0
- master1
- master2
-

[2021-07-16 06:11] FeynmanZhou opened #4067 "Events and Auditing logs are not available on Azure AKS"
**Describe the Bug**

KubeSphere Events and Auditing logs are not available on Azure AKS.

**Versions Used**
KubeSphere: 3.1.1
Kubernetes: 1.19.11

**Environment**
How many nodes and their hardware configuration:

3 worker nodes, Azure AKS

For example: CentOS 7.5 / 3 masters:  8cpu/8g; 3 nodes: 8cpu/16g
(and other info are welcomed to help us debugging)

**How To Reproduce**
Steps to reproduce th

[2021-07-16 06:11] FeynmanZhou commented on #4067
/help

[2021-07-16 06:12] FeynmanZhou commented on #4067
/area observability

[2021-07-16 09:39] wansir commented on #3544
/unassign @leoendless

[2021-07-16 09:40] wansir commented on #3544
/good-first-issue

[2021-07-16 09:47] FeynmanZhou commented on #4067
I have located the root cause. [AKS uses the containerd as the default container runtime](https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#container-runtime-configuration) from Kubernetes 1.19 and later, but KubeSphere does not support containerd.

The workaround is to choose an AKS cluster with Kubernetes 1.18, it can solve this issue perfectly.

My opinion:

containerd has been w

[2021-07-16 09:47] FeynmanZhou commented on #4067
/kind feature-request

[2021-07-16 10:03] RolandMa1986 opened #4068 "Upgrade Ingress API version to networking.k8s.io/v1"
**What's it about?**
Upgrade Ingress API to networking.k8s.io/v1.

**What's the reason why we need it?**
Ingress is the core component that is used by the KubeSphere Routes feature. KubeSphere is still using the old api "extensions/v1beta1" both Frontend and Backend. However "extensions/v1beta1" Ingress  is deprecated in v1.14+, unavailable in v1.22+. So we need to upgrade it to the latest version

[2021-07-16 10:52] Xuanwo opened #4069 "Proposal: Use beyondstorage/go-storage to replace s3 sdk"
## Background

[BeyondStorage](https://beyondstorage.io/) is an open-source community that focused on cross-cloud data services, and [go-storage](https://github.com/beyondstorage/go-storage) is a vendor-neutral storage library for Golang aims at **Write once, run on every storage service**.

kubesphere depends on AWS S3 to store binaries like in https://github.com/kubesphere/kubesphere/tree/master

[2021-07-16 11:41] LinuxSuRen commented on #4069
/kind proposal

[2021-07-16 11:48] LinuxSuRen commented on #4069
hi @Xuanwo , thanks for your wonderful proposal.

We're working on a plan which makes DevOps be an independent cloud-native application. The DevOps project does use s3 as its storage backend. I'd like to see more details about your idea. Please don't forget to list the pros and cons of the solution.

You can get more details from the following links:

* https://github.com/kubesphere/kubesphere/iss

[2021-07-17 06:50] #3503 closed

[2021-07-18 12:06] yuswift commented on #3757
/close
feel free to reopen this issue if have any questions

[2021-07-18 12:06] #3757 closed

[2021-07-19 01:21] whaifang commented on #4066
Hi Team.

Any one help on this?
I think the setup HA process is not complete, the folder /etc/cni/net.d is not been set up on master1 and master2, we see below error like this :
[root@master2 ~]# systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/kub

[2021-07-19 02:31] zryfish opened #4070 "Move KubeSphere CI to Prow"
**What's it about?**
Github workflows are great, very easy to use. But, it has several disadvantages for us:
1. We are under the free-tier account, workflows are limited by running duration, hardware configuration.
2. Permission is required to rerun failed tests, and it's not safe to give permission to any contributors. Problems will be solved by using ProwJobs.
3. It's not easy to leverage curren

[2021-07-19 02:54] yuswift commented on #4070
Currently, we have migrated `testing` and `building` to prow. Are there any other works we need to do? BTW, IMO docs for prow are also needed cause the old docs are out of date.

[2021-07-19 02:57] zryfish commented on #4070
Yes, we have only moved for repo `kubesphere/kubesphere`, and lots of repos left to done. Sure, I'll update the docs later.

[2021-07-19 03:27] RolandMa1986 commented on #4066
@whaifang Can you parse the error login when adding new nodes?

[2021-07-19 03:36] yuswift commented on #4070
That's great. I think we need the docs first, then we can open pr for the left repositories by referring to it.

[2021-07-19 03:56] yuswift commented on #4068
/milestone v3.2

[2021-07-19 07:23] whaifang commented on #4066
@RolandMa1986 We added master nodes not work nodes, and there is not error log when adding new master nodes, it tells me the process is complete and successful.

[2021-07-19 07:33] RolandMa1986 commented on #4066
What kind of LB are you using for the Kube-apiserver? The config shows your LB address is `9.112.254.207`.  But the kubelet shows it was trying to connect to `9.30.222.112 ` on master1. Can you check the /etc/hosts and /etc/kubernetes/kubelet.conf config, The API server address should be matched.

[2021-07-19 07:33] RolandMa1986 commented on #4066
What kind of LB are you using for the Kube-apiserver? The config shows your LB address is `9.112.254.207`.  But the kubelet show it was trying to connect to `9.30.222.112 ` on master1. Can you check the /etc/hosts and /etc/kubernetes/kubelet.conf config, The API server address should be matched.

[2021-07-19 07:52] whaifang commented on #4066
@RolandMa1986  Our LB server is **9.112.254.207**, we think the LB configure should be auto updated when kk command adding HA maters. But it still keep to master0:**9.30.222.112**
Please check below  /etc/hosts and /etc/kubernetes/kubelet.conf config for master0

**/etc/hosts**
# kubekey hosts BEGIN
9.30.222.112  master0.cluster.local master0
9.30.181.110  master1.cluster.local master1
9.112.254.3

[2021-07-19 08:08] RolandMa1986 commented on #4066
You can edit the kubelet.conf manually and use `lb.kubesphere.local` as the Kube-apiserver address.

[2021-07-19 08:35] RolandMa1986 commented on #4045
/milestone v3.2

[2021-07-19 09:33] whaifang commented on #4066
@RolandMa1986  Hi , I yet updated kubelet.conf manually and use lb.kubesphere.local as the Kube-apiserver address, nodes are ready now
![image](https://user-images.githubusercontent.com/45645875/126134702-f18f7ff3-0655-4164-b8c6-81ce8052fd87.png)

**but another error will throws out to me,  and many system pods are still crash now,**
![image](https://user-images.githubusercontent.com/45645875/1261

[2021-07-20 02:06] RolandMa1986 opened #4071 "Scale Ingress Pod replicas on demand for Projects"
**What's it about?**
As a Project admin, I need to scale Ingress Pod replicas on-demand.

**What's the reason why we need it?**
Currently, the Project Gateway can only be setup with default settings(1 Nginx Ingress Pod). The Nginx Ingress became the bottleneck when the workload increasing. Project admins should be able to adjust Nginx Ingress Pod numbers accordingly.
The project admins should also

[2021-07-20 02:16] zryfish commented on #4071
/milestone v3.2

[2021-07-20 02:34] yuswift commented on #4065
/area storage

[2021-07-20 02:36] yuswift commented on #4064
/area devops
/kind bug
/cc @wansir Could you take a look at this issue?

[2021-07-20 02:46] stoneshi-yunify commented on #4065
![image](https://user-images.githubusercontent.com/70880165/126254192-629105ef-5282-4252-bf89-e39809fbd4de.png)

Not a bug, it's working as design. Because this is a local storage.

/return

[2021-07-20 02:47] badbruce opened #4072 "Fail to delete\update cluster after update failed from 3.1.0 to 3.1.1"
**Describe the Bug**
A clear and concise description of what the bug is.
Fail to delete\update cluster after update failed from 3.1.0 to 3.1.1

For UI issues please also add a screenshot that shows the issue.

**Versions Used**
KubeSphere: 3.1.0
Kubernetes: 1.20.4(If KubeSphere installer used, you can skip this)

**Environment**
How many nodes and their hardware configuration:
 CentOS 7.5 / 3 mast

[2021-07-20 05:19] zryfish commented on #4071
/milestone v3.2

[2021-07-20 05:27] zryfish commented on #4071
/milestone v3.2

[2021-07-20 07:55] whaifang commented on #4066
@RolandMa1986  Any update on this? Hope good idea from you~~)

[2021-07-20 08:17] RolandMa1986 commented on #4066
We don't have a failure upgrade case similar to yours before. So you may have to troubleshoot by yourself. We can just give you some advice or suggestions.
Form the screenshot attached from the last replies. it seems you have lost your Openebs local PVC for some reason. you can try to rebuild the folder according to the error log.

[2021-07-20 08:25] wansir commented on #3378
/milestone v3.2

[2021-07-20 08:28] xyz-li commented on #3933
/milestone v3.2.0

[2021-07-20 08:32] stoneshi-yunify opened #4074 "Manage pv in console"
**What's it about?**
Add new feature to manage pv in ks-consle, current user can only manage pv in backend with kubectl.

**Why we need this?**
Currently we did not expose any pv management functions in ks-console. ks-console -> storage -> volumes can only manage pvc.

Sometimes the user need to view and manage the pv, for example, statically bind a pv to a pvc. We have received some requests from

[2021-07-20 08:33] stoneshi-yunify opened #4075 "Manage storage capabilities in console"
**What's it about?**
Add new feature to manage storage capabilities in console

/area storage
/milestone v3.2
/kind feature-request

[2021-07-20 08:57] nanjofan commented on #3544
Does this need to modify the backend?

[2021-07-20 09:15] wansir commented on #3544
Supported by front-end.

[2021-07-20 09:24] Patrick-LuoYu opened #4076 "Optimize KS console UI text and documentation"
The KS console UI text needs to be optimized in v3.2. The plan is as follows:

* Fix language mistakes and optimize the wording for better user experience.
* Remove hard-coded UI text.
* Add conditional statements to display correct English singular and plural forms.
* Intercept messages passed from the backend and rewrite them.
* Fix other issues that may affect user experience.

The KS documenta

[2021-07-20 09:25] Patrick-LuoYu commented on #4076
/milestone v3.2

[2021-07-20 09:31] LinuxSuRen commented on #4058
/milestone v3.2

[2021-07-20 09:32] Patrick-LuoYu commented on #4076
/milestone v3.2

[2021-07-20 09:32] LinuxSuRen commented on #4040
/milestone v3.2

[2021-07-20 09:34] Patrick-LuoYu commented on #4076
/milestone v3.2

[2021-07-20 09:36] JohnNiang commented on #4064
Thanks for reaching out here. There is a duplicated issue, please see also: <https://github.com/kubesphere/kubesphere/issues/3655>.

[2021-07-20 09:51] LinuxSuRen commented on #3959
/milestone v3.2

[2021-07-20 09:58] LinuxSuRen commented on #3950
/milestone v3.2

[2021-07-20 10:03] LinuxSuRen commented on #3846
I'll close this issue. You can reopen it if you still have questions about this.
/close

[2021-07-20 10:03] caicai19900921 opened #4077 "jenkins pipline问题"
版本：v3.1.1
1.选择代码仓库无gitlab选项，请问是什么原因？
2.流水线支持原生jenkins中的 share library共享库的方式吗？如何加载share library共享库

[2021-07-20 10:03] #3846 closed

[2021-07-20 10:07] LinuxSuRen commented on #3820
/area console
/milestone v3.2

[2021-07-20 10:17] LinuxSuRen commented on #3812
/area console
/milestone v3.2

[2021-07-20 10:24] LinuxSuRen commented on #3808
/kind need-to-verify

[2021-07-20 10:27] LinuxSuRen commented on #3812
/good-first-issue

[2021-07-20 10:30] LinuxSuRen commented on #3812
Currently, users need to download the log file if they want to see the whole log output. What I want to propose is that adding a button and view to show the whole log output. Of course, please keep the existing download button.

[2021-07-20 10:37] #4077 closed

[2021-07-20 10:37] caicai19900921 commented on #4077
,

[2021-07-20 10:37] LinuxSuRen commented on #3484
/good-first-issue

[2021-07-20 10:37] LinuxSuRen commented on #3484
/area console

[2021-07-20 12:32] #3528 closed

[2021-07-20 12:32] #3478 closed

[2021-07-20 12:47] FeynmanZhou commented on #4076
/kind documentation

[2021-07-20 13:24] yuswift commented on #3626
@LinuxSuRen hi, could you tell me why do you reopen this issue? Thanks.

[2021-07-20 13:27] yuswift opened #4078 "SIG-Multicluster TODO in v3.2"
https://github.com/kubesphere/kubesphere/issues?q=is%3Aopen+is%3Aissue+label%3Aarea%2Fmulticluster
Support inviting users into a multi-cluster project #3970
Support editing multi-cluster config template on console #3898
Support multi-cluster scheduling #3008
Add member clusters for an existing multi-cluster project. #3246

Any feature requests are welcomed. Please tell us in this issue.

/mileston

[2021-07-20 14:11] benjaminhuo opened #4079 "[v3.2/o11y/notification]Tenant notification support"
**What's it about?**

Currently, in KubeSphere v3.1 there is only one global place to set notification channels that can receive all notifications in the entire cluster. A user should be able to set his own notification channel to only receive notifications just for his namespaces.

**What's the reason why we need it?**

- A regular user only needs to be notified when something happens in his own

[2021-07-20 14:20] benjaminhuo opened #4080 "[qkcp/v3.2/o11y/notification] Notification History"
**What's it about?**

There is no way to search notifications sent in the past specified period in v3.1.1 while some users have this requirement.

**What's the reason why we need it?**

- Search and find notifications sent in the past 24 hours in a central place instead of go through all the mails received

**Area Suggestion**

/area notification
/area observability
/kind feature-request

[2021-07-20 14:25] benjaminhuo opened #4081 "[v3.2/o11y/logging] Logging enhancement"
- [x] Support containerd log collection
- [x] Upgrade FluentBit Operator to latest version
- [x] Upgrade FluentBit to latest version

**Area Suggestion**

/area logging
/area observability
/kind feature-request

[2021-07-20 14:35] benjaminhuo opened #4082 "[v3.2/o11y/monitoring] GPU monitoring"
- [x] NVIDIA DCGM exporter installation
- [x] Support GPU monitoring through custom monitoring dashboard

/kind design
/area installation
/area monitoring
/area observability
/kind feature-request

[2021-07-20 14:48] benjaminhuo opened #4083 "[v3.2/workload/GPU] Support GPU workload"
- [x] Support schedule GPU deployment/job/cronjob

**Area Suggestion**

/kind design
/kind feature-request

[2021-07-20 14:51] yyt6200 opened #4084 "need help! rook-ceph change glusterfs. There is a strange problem."
**system version: centos7
kubernetes version: 1.19.10
kubesphere version: 3.1.0**

Because the server is down and there is a problem with the storage of CEPH, we try to replace it with glusterfs. However, after deleting the hook CEPH and accessing glusterfs, we find that many components automatically installed by Ks report errors. The specific error is "unknown file system type" glusterfs "

There

[2021-07-20 14:56] benjaminhuo opened #4085 "[v3.2/o11y/monitoring] Import Grafana Dashboard in custom monitoring"
- [ ] Import grafana dashboard and convert it to KubeSphere dashboard (qkcp?)

**Area Suggestion**

/area monitoring
/area observability
/kind feature-request

[2021-07-20 15:00] benjaminhuo opened #4086 "[v3.2/Edge/KubeEdge] KubeEdge Integration Enhancement"
- [x] Upgrade KubeEdge to the latest version like 1.7+
- [x] Upgrade CRD version to v1
- [x] Fix bugs like https://github.com/kubeedge/kubeedge/issues/2921

/area edge
/kind feature-request

[2021-07-20 15:06] benjaminhuo opened #4087 "[v3.2/o11y/notification] Notification Enhancement"
- [ ] Notification filter
- [ ] Notification setting validation

/kind design
/area notification
/area observability
/kind feature-request

[2021-07-20 15:18] benjaminhuo opened #4088 "[v3.2] o11y/Edge/GPU plan"
- [x] https://github.com/kubesphere/kubesphere/issues/4087
- [x] https://github.com/kubesphere/kubesphere/issues/4081
- [x] https://github.com/kubesphere/kubesphere/issues/4082
- [x] https://github.com/kubesphere/kubesphere/issues/4148
- [x] https://github.com/kubesphere/kubesphere/issues/4149
- [x] https://github.com/kubesphere/kubesphere/issues/4150
- [x] https://github.com/kubesphere/kubesphere

[2021-07-21 00:40] LinuxSuRen commented on #3626
I guess I just want to retrigger the Prow. I'm not sure if this issue was fixed.
/kind need-to-verify

[2021-07-21 01:19] stoneshi-yunify opened #4089 "ks-console: change pvc access modes to list"
**Describe the Bug**
![image](https://user-images.githubusercontent.com/70880165/126415177-9bc6db17-54f3-4b59-aa40-45b5816af476.png)

Current the access mode is a single selection, but it should be a string array in fact.

spec: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#persistentvolumeclaimspec-v1-core

**Versions Used**
KubeSphere: v3.1.1 and before
Kubernetes: (If Kub

[2021-07-21 01:34] stoneshi-yunify opened #4090 "Remove workload auto-restart function when pvc expanded"
**Describe the Bug**
Need to remove the controller function in kubesphere/pkg/controller/storage/expansion

We can not stop a workload (by scaling down to replicas=0) without user's confirmation, because it may interrupt user's application and affect user's business.  And current function can only handle deployments/statefulsets, so it's incomplete.

And there are some storage supporting online fi

[2021-07-21 01:43] stoneshi-yunify opened #4091 "Support multiple snapshotclass in console when taking snapshot"
**What's it about?**
![image](https://user-images.githubusercontent.com/70880165/126417227-0d9191b4-953d-4c15-ae58-0423e06bcddc.png)

Currently ks-controller will create a snapshotcalss for each storageclass with the same name, and the snapshotclass will be used when user takes snapshot in console.

The problem is the default snapshotclass ks-console generated might not work, e.g. it lacks ![image